<div id="break-link" class="tab-pane pt-20">
    <div class=" p-b-20 break-link-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-9">
                        <h5 class="text-uppercase pt-10 h5-title">BREAK the link </h5>
                    </div>
                    <div class="col-sm-3 text-right">
                        <!-- <button data-toggle="modal" data-target="#breakLink" class="btn-pri pull-right text-uppercase add-btn" type="submit"><span
                        class="plus-icon" (click)="manageBreakLink('add')">+</span> Add</button> -->
                        <button data-toggle="modal" *ngIf="!isSupervisor" [disabled]="!addDisable"
                            class="btn-pri text-uppercase" type="submit" (click)="manageBreakLink('add')">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>

                <div class="m-t-20 table-responsive table-theme" *ngIf="breakLinkGrid">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Adoption Plan Begin Date</th>
                                <th>Legally Free</th>
                                <th>Adoptive Placement</th>
                                <th>Placement Agreement</th>
                                <th>Adoption Finalization</th>
                                <th>Case Creation Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let break of adoptionBreakLinkList">
                                <td> {{ break?.adoptionplanbegindate | date:'MM/dd/yyyy' }}</td>
                                <td>
                                    <mat-checkbox [checked]="break?.tprfatherdate || break?.tprmotherdate" disabled>
                                    </mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox [checked]="break?.adoptiveplacement === 1" disabled></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox [checked]="break?.placementagreement === 1" disabled></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox [checked]="break?.adoptionfinalization === 1" disabled></mat-checkbox>
                                </td>
                                <td>{{ break?.placementstartdate | date:'MM/dd/yyyy' }}</td>
                                <td class="icon">
                                    <span *ngIf="!isSupervisor && break?.status !== 'Approved'" type="button"
                                        class="p-r-10" (click)="manageBreakLink('edit', break)"><i class="fa fa-pencil" data-target="#breakLink"
                                            aria-hidden="true" ></i>Edit</span>
                                    <span type="button" (click)="manageBreakLink('view', break)"><i class="fa fa-eye"
                                            aria-hidden="true"></i>View</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-10">
                        <!-- <pagination class="pagination-sm"></pagination> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-md-4" *ngIf="!isSupervisor">
                <p class="p-title">Adoption Case Creation Date</p>
                <p class="p-text">10/20/2008</p>
            </div> -->
            <div class="col-md-8 link-btn text-right">
                <!-- <span class="help-btn"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Help</span> -->
                <!-- <span  class="create-adoptionbtn" data-target="#createAdoption" data-toggle="modal" type="button">Create Adoption Case</span> -->
                <span *ngIf="createAdoptionbtn && !isSupervisor" class="create-adoptionbtn"
                    data-target="#adoption-caseassign" data-toggle="modal" type="button" (click)="getRoutingUser()">Create Adoption Case</span>
                <span *ngIf="breakDlinkPatchObj&&breakDlinkPatchObj.adoptioncasenumber">Adoption Case :
                    {{breakDlinkPatchObj?.adoptioncasenumber}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="breakLink">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="pop-title m-0">Break the link</h4>
            </div> -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="clearBreakLink()"><span
                        aria-hidden="true">X</span></button>
                <h4 class="modal-title">{{ addEditLabel }} Break Link</h4>
            </div>
            <div class="modal-body" [formGroup]="adoptionBreakLinkForm">
                <div class="row">
                    <div class="col-md-4">
                        <p class="p-title">Adoption Plan Begin Date</p>
                        <p class="p-text">
                            {{adoptionBreakLinkForm.getRawValue().adoptionplanbegindate ? (adoptionBreakLinkForm.getRawValue().adoptionplanbegindate | date:'MM/dd/yyyy') : 'NA' }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-title">Narrative/Checklist Approval Status</p>
                        <p class="p-text">
                            {{ adoptionBreakLinkForm.getRawValue().narrativecheckliststatus ? adoptionBreakLinkForm.getRawValue().narrativecheckliststatus : 'NA'}}
                        </p>
                    </div>
                </div>

                <div class="row border-top">
                    <div class="col-md-4">
                        <p class="p-title required">Child is legally free</p>
                        <!-- <p class="p-text"><mat-checkbox [checked]="adoptionBreakLinkForm.value.legallyfree === 1" disabled></mat-checkbox></p> -->
                        <p class="p-text">
                            <mat-checkbox formControlName="isLegallyFree"
                                [checked]="adoptionBreakLinkForm.getRawValue().tprmotherdate || adoptionBreakLinkForm.getRawValue().tprfatherdate">
                            </mat-checkbox>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-title">TPR Date of Parent1</p>
                        <p class="p-text">
                            {{ adoptionBreakLinkForm.getRawValue().tprmotherdate ? (adoptionBreakLinkForm.getRawValue().tprmotherdate | date:'MM/dd/yyyy') : ''}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-title">TPR Date of Parent2</p>
                        <p class="p-text">
                            {{ adoptionBreakLinkForm.getRawValue().tprfatherdate  ? (adoptionBreakLinkForm.getRawValue().tprfatherdate | date:'MM/dd/yyyy') : ''}}
                        </p>
                    </div>
                </div>

                <div class="row border-top">
                    <div class="col-md-5">
                        <p class="p-title required">Child was in an Approved Pre-Adoptive Placement and Removal</p>
                        <p class="p-text">
                            <mat-checkbox formControlName="isinPreAdoptivePlacement"
                                [checked]="(adoptionBreakLinkForm.getRawValue().providername)"></mat-checkbox>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-title">Provider Name : </p>
                        <p class="p-text">
                            {{adoptionBreakLinkForm.getRawValue().providername ? adoptionBreakLinkForm.getRawValue().providername : 'NA'}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="p-title">Placement Structure</p>
                        <p class="p-text">
                            {{adoptionBreakLinkForm.getRawValue().placementstructure ? adoptionBreakLinkForm.getRawValue().placementstructure : 'NA'}}
                        </p>
                    </div>
                    <div class="col-md-2 col-md-offset-5 clearfix">
                        <p class="p-title">Placement Begin Date</p>
                        <p class="p-text">
                            {{adoptionBreakLinkForm.getRawValue().placementstartdate ? (adoptionBreakLinkForm.getRawValue().placementstartdate | date:'MM/dd/yyyy') : 'NA'}}
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="p-title">Placement End Date</p>
                        <p class="p-text">
                            {{adoptionBreakLinkForm.getRawValue().placementenddate ? (adoptionBreakLinkForm.getRawValue().placementenddate | date:'MM/dd/yyyy') : 'NA'}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="p-title">Approval Status</p>
                        <p class="p-text">{{adoptionBreakLinkForm.getRawValue().providername ? 'Approved' : 'NA'}}</p>
                    </div>
                </div>

                <div class="row border-top">
                    <div class="col-md-4">
                        <p class="p-title required">Adoptive Placement Agreement Has Been Signed</p>
                        <p class="m-t-30">
                            <mat-checkbox formControlName="placementagreement"
                                [checked]="adoptionBreakLinkForm.value.placementagreement === 1"></mat-checkbox>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="p-title m-no required">Date Agreement Signed : </p>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder=""
                                formControlName="agreementsigneddate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-2">
                                <p class="p-title">Placement Begin Date</p>
                                <p class="p-text">10/20/2008</p>
                            </div>
                            <div class="col-md-2">
                                <p class="p-title">Placement End Date</p>
                                <p class="p-text">10/30/2008</p>
                            </div> -->
                </div>

                <div class="row border-top">
                    <div class="col-md-4">
                        <p class="p-title required">Adoption Has Been Finalized</p>
                        <p class="m-t-30">
                            <mat-checkbox formControlName="adoptionfinalization"></mat-checkbox>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="p-title m-no required">Associated Court Order Date : </p>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder=""
                                formControlName="associatedcourtorderdate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <p class="p-title m-no required">Finalization Date : </p>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker3" placeholder="" formControlName="finalizationdate">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row" *ngIf="!isSupervisor">
                        <div class="col-md-12">
                            <p class="notes-msg m-l-20"><span>Note:</span> The finalization date checkbox will enalable
                                when child’s placement and removal episode is closed.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-sm-12 text-right">
                        <button class="btn btn-theme btn-pri text-uppercase" [disabled]="adoptionBreakLinkForm.pristine || adoptionBreakLinkForm.invalid" (click)="saveBreakLink(adoptionBreakLinkForm.value)">Save</button>
                        <button class="btn btn-theme btn-pri text-uppercase" type="button" data-dismiss="modal">Send for Approval</button>
                    </div> -->
                    <div class="col-md-12 mb-10 mt-10">
                        <ng-container>
                            Approval Status : {{approvalStatus ? approvalStatus : 'N/A' }}
                        </ng-container>
                    </div>
                    <div class="col-md-12">

                        <!-- <button *ngIf="!isSupervisor" class="btn btn-theme btn-pri text-uppercase" [disabled]="adoptionBreakLinkForm.pristine || adoptionBreakLinkForm.invalid" (click)="saveBreakLink()">{{ savebtn }}</button> -->
                        <ng-container
                            *ngIf="!isSupervisor && (!adoptionBreakLinkForm.value.status || adoptionBreakLinkForm.value.status === 'Rejected')">
                            <button class="btn-theme btn-bg text-uppercase pull-left"
                                [disabled]="adoptionBreakLinkForm.invalid || adoptionBreakLinkForm.pristine || !ValidateCheckBoxes()"
                                (click)="saveBreakLink()">
                                Submit for Approval
                            </button>
                        </ng-container>


                        <ng-container
                            *ngIf="isSupervisor && adoptionBreakLinkForm.value.status === 'Review' && approvalStatus !== 'Approved' && approvalStatus !== 'Rejected'">
                            <button class="btn-theme btn-bg text-uppercase pull-left"
                                (click)="approveBreakLink('Approved')">Approve</button>
                            <button class="btn-theme btn-bg text-uppercase pull-left"
                                (click)="approveBreakLink('Rejected')">Denied</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="adoption-caseassign" role="dialog"  data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">

                <div class="tab-horizontal mrg-btm25">
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th>CASE LOAD</th>
                                                <th>AVAILABILITY</th>
                                                <th>ZIP CODE</th>
                                                <th>AGENCY</th>
                                                <th>TYPE OF WORKER</th>
                                                <th>UNIT</th>
                                                <th>Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)"
                                                                class="aut-rdo-caseWorkerRadio">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td class="aut-lbl-caseWorkerName">{{item.username}} </td>
                                                    <td>{{item.workloads}}</td>
                                                    <td>{{item.available}}</td>
                                                    <td>{{item.worklocationcode ?
                                                        item.worklocationcode : 'N/A'}}</td>
                                                    <td>{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri aut-btn-assign" data-target="#createAdoption" data-toggle="modal">ASSIGN</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createAdoption">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pop-title"><span class="help-btn "><i class="fa fa-question-circle-o"
                                    aria-hidden="true"></i></span> Alert</h4>
                        <p>You have requested to Break-The-Link. An Adoption Case will now be created; all relevant case
                            data will be copied into the new adoption case and a new client will be created. Do you want
                            to Proceed?</p>
                        <div>
                            <button class="btn-pri text-uppercase m-t-15" type="button" data-dismiss="modal"
                                (click)="assignUser()">Yes</button>
                            <button class="no-btn" type="button" data-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdchessis-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pop-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Information
                        </h4>
                        <p>A New Adoption Case #{{newAdoptionCaseId}} has been created (assigned to {{selectedPerson?.username}}) for the child</p>
                        <div>
                            <button class="btn-pri text-uppercase m-t-15" type="button" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="closer-chicklist">
    <div class="modal-dialog modal-lg custom-wd">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="pop-title">Case Closure Checklist</h4>
                    </div>
                    <div class="col-md-7 pull-right m-t-10">
                        <div class="closer-input">
                            <label>Client Name : </label>
                            <span>Hibbel Allen</span>
                        </div>
                        <div class="closer-input">
                            <label>Client ID : </label>
                            <span>3705980</span>
                        </div>
                        <div class="closer-input">
                            <label>CIS ID : </label>
                            <span>7874303</span>
                        </div>
                        <div class="closer-input">
                            <label>DOB : </label>
                            <span>10/20/2019</span>
                        </div>
                        <div class="closer-input">
                            <label>Genger : </label>
                            <span>Male</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row m-t-30">
                    <div class="col-md-12 m-l-20">
                        <h5 class="h6-title">A checkmark indicates that the activity has been completed. All unchecked
                            items must be completed to the close the case.</h5>
                        <mat-checkbox>Cleanup of Ticklers</mat-checkbox>
                        <mat-checkbox>No clients have an open program assignment</mat-checkbox>
                        <mat-checkbox>All open living arrangements have been end-dated for all clients. </mat-checkbox>
                        <p class="p-l-30 m-t-20">(<span class="red">Note</span> If a client is active in other cases,
                            the living arrangement does not need to be end-dated)</p>
                        <mat-checkbox>No clients have an open legal custody record of commited or Co-Commited to DSS,
                            Guardianship to DSS,
                            Delinquency, Voluntary Placement Agreement, Shelter Care or Commited to Another State.
                        </mat-checkbox>
                        <mat-checkbox>A SAFE-C has been completed for all applicable children and the assessment has
                            supervisory approval</mat-checkbox>
                        <mat-checkbox>All Safety Plans have Supervisory Approval </mat-checkbox>
                        <mat-checkbox>There are no incomplete MFRA’s or MFRA’s pending supervisory approval
                        </mat-checkbox>
                        <mat-checkbox>There are no incomplete Case Plans or Case pending supervisory approval
                        </mat-checkbox>
                        <mat-checkbox>There are no incomplete INFS Preoress Reviews or INFS Progress Reviews pending
                            supervisory approval</mat-checkbox>
                        <mat-checkbox>All Placements have been end-dated</mat-checkbox>
                        <mat-checkbox>All Homes Removals have been end-dated</mat-checkbox>
                        <mat-checkbox>All Service Log Records (both agency and Referred) have been end-dated
                        </mat-checkbox>
                        <mat-checkbox>All Adoption/Guardianship Subsidy payments have an end-date that does not exceed
                            the date of case
                            closing</mat-checkbox>
                        <mat-checkbox>All Service Log payments have been completed</mat-checkbox>
                        <mat-checkbox>All Placement Validations have been completed</mat-checkbox>
                        <mat-checkbox>All IV-E eligibility determinations have been completed</mat-checkbox>
                        <mat-checkbox>All Placement changes have Supervisory Approval</mat-checkbox>
                    </div>
                    <div class="col-md-12 m-l-20 m-b-20">
                        <button class="btn-pri text-uppercase m-t-15 width-btn pull-left" type="button"
                            data-dismiss="modal">proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ap-break" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Please complete Adoption Subsidy Agreement to Proceed</li>
                </ul>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-dismiss="modal" (click)="navigateTo()">Ok</button></div>
            </div>
        </div>
    </div>
</div>