<!-- <div id="Attachments" class="tab-pane box-grid" role="tabpanel">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="mt-0 sub-title">Add Attachment</h5>
        <div class="row">
          <div class="col-md-2 text-center choose-file-wrap col-md-offset-2">
            <div class="choose-file">
              <div class="center-div">
                <img src="assets/images/attach/take-photo.png">
              </div>
              <button *ngIf="id" class="check-attach" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/image-record']">Take Photo</button>
              <button *ngIf="!id" class="check-attach" [routerLink]="['/pages/newintake/my-newintake/image-record']">Take Photo</button>
            </div>
            <span> Take Photo</span>
          </div>
          <div class="col-md-2 text-center choose-file-wrap">
            <div class="choose-file">
              <div class="center-div">
                <img src="assets/images/attach/browse.png">
              </div>
              <button *ngIf="id" class="check-attach" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/attachment-upload']">Browse File</button>
              <button *ngIf="!id" class="check-attach" [routerLink]="['/pages/newintake/my-newintake/attachment-upload']">Browse File</button>
            </div>
            <span> Browse File</span>
          </div>
          <div class="col-md-2 text-center choose-file-wrap">
            <div class="choose-file">
              <div class="center-div">
                <img src="assets/images/attach/rec-vid.png">
              </div>
              <button *ngIf="id" class="check-attach click-rec" id="video" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/video-record']">Record video</button>
              <button *ngIf="!id" class="check-attach click-rec" id="video" [routerLink]="['/pages/newintake/my-newintake/video-record']">Record video</button>
            </div>
            <div class="video-record">
              <span class="close-click">X</span>
              <span class="result"></span>
            </div>
            <span>Record Video</span>
          </div>
          <div class="col-md-2 text-center choose-file-wrap">
            <div class="choose-file">
              <div class="center-div">
                <img src="assets/images/attach/audio.png">
              </div>
              <button *ngIf="id" id="sound" class="check-attach click-rec" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/audio-record']">Record Audio</button>
              <button *ngIf="!id" id="sound" class="check-attach click-rec" [routerLink]="['/pages/newintake/my-newintake/audio-record']">Record Audio</button>
              <span class="name"></span>
            </div>
            <span> Record Audio</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="form-search-person inline-form-wrap pb-0">
    <div class="col-md-4 col-lg-3">
      <div class="form-group" [formGroup]="attachmentType">
        <label class="full-width">All Attachments:</label>
        <ng-select [searchable]="true" [clearable]="false" formControlName="selectedAttachment" (change)="filterAttachment(attachmentType.value)">
          <ng-option value="All">All</ng-option>
          <ng-option value="Exhibit">Exhibits</ng-option>
          <ng-option *ngFor="let attachment of attachmentTypeDropdown$ | async" [value]="attachment.value">{{attachment.text}}</ng-option>
        </ng-select>

      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 attach-lists" *ngFor="let source of filteredAttachmentGrid">
        <div class="attach-wrap" *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
          <a href="javascript:{}" target="_blank">
            <video width="320" controls>
              <source [src]="source.s3bucketpathname"> Your browser does not support the video tag.
            </video>
            <p>{{source.title}}</p>
          </a>
        </div>
        <div class="attach-wrap audio-control" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
          <span class="glyphicon glyphicon-music"></span>
          <a href="javascript:{}" target="_blank">
            <audio controls>
              <source [src]="source.s3bucketpathname" type="audio/mpeg"> Your browser does not support the audio tag.
            </audio>
            <p>{{source.title}}</p>
          </a>
        </div>

        <div class="attach-wrap" *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
          <a [href]="source.s3bucketpathname" target="_blank">
            <img [src]="source.s3bucketpathname" class="img-responsive" />
            <p>{{source.title}}</p>
          </a>
        </div>

        <div class="attach-wrap" *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma')">
          <a [href]="source.s3bucketpathname" target="_blank">
            <img src="../../../../../../assets/images/doc-file-image.jpg" class="img-responsive" />
            <p>{{source.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet> -->
<!--cw-->
<div *ngIf="config.isGenerateUploadTabNeeded">
  <div class="cnt-min-height attachment-tab">
      <div class="row ">
          <div class="col-sm-12">
              <h4>Documents</h4>
          </div>
          <div class="col-sm-5">
              <p class="m-t-20">Add necessary documents relevant to this case.</p>
          </div>
          <div class="col-sm-7 text-right icon">
              <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/attachment-upload/' + intakeNumber]">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
        <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/attachment-upload/' + intakeNumber]">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button> -->
              <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
  
              <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/image-record/' + intakeNumber]"
                  [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                  <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
              <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/image-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                  <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
  
              <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/video-record/' + intakeNumber]"
                  [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                  <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
              <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/video-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                  <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
  
              <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/audio-record/' + intakeNumber]"
                  [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                  <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
              <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/audio-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                  <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button> -->
          </div>
      </div>
      <attachment-upload [intakeNumber]="intakeNumber" (attachment)="attachment('All')"></attachment-upload>
      <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
          <div class="col-sm-12">
              <h5 class="theme m-t-15">ADDED ATTACHMENTS</h5>
          </div>
          <div class="col-md-12">
              <div class="att-wrap">
                  <div class="col-sm-3" *ngFor="let source of filteredAttachmentGrid">
                      <div class="panel panel-default attachment-panel">
                          <div class="panel-heading">
                              <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                              <div class="media">
                                  <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                      <i class="fa fa-file-image-o"></i>
                                  </div>
                                  <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                      <i class="fa fa-file-audio-o"></i>
                                  </div>
                                  <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                      <i class="fa fa-video-camera"></i>
                                  </div>
                                  <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                      <i class="fa fa-file-pdf-o"></i>
                                  </div>
                                  <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                      <i class="fa fa-file-text"></i>
                                  </div>
                                  <div class="media-left" *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                      <i class="fa fa-paperclip"></i>
                                  </div>
                                  <div class="media-body">
                                      <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                      <h4 class="media-heading" *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                          ? (source?.originalfilename | slice:0:25) + '...' : (source?.originalfilename)}}</h4>
                                      <h4 class="media-heading" *ngIf="!source?.originalfilename">N/A</h4>
                                      <p>{{source.numberofbytes}}</p>
                                  </div>
                              </div>
                          </div>
                          <div class="panel-body">
                              <dl>
                                  <dt>TITLE</dt>
                                  <dd class="single-wrap">{{source?.title}}</dd>
                              </dl>
                              <dl>
                                  <dt>ATTACHMENT TYPE</dt>
                                  <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                              </dl>
                              <dl>
                                  <dt>CATEGORY</dt>
                                  <dd>{{source?.documentattachment?.attachmentclassificationtypekey ? source?.documentattachment?.attachmentclassificationtypekey
                                      : 'N/A'}}</dd>
                              </dl>
                              <dl>
                                  <dt>Uploaded By</dt>
                                  <dd>{{source.userprofile.displayname }}
                                  </dd>
                              </dl>
                              <dl>
                                  <dt>UPLOADED DATE</dt>
                                  <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }} </dd>
                              </dl>
                              <dl class="word-align">
                                  <dt>DESCRIPTION</dt>
                                  <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67) ? (source?.description
                                      | slice:0:67)+ '...' : (source?.description)}}</dd>
                                  <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                              </dl>
                          </div>
                          <div class="panel-footer icon-btn">
                              <h5>
                                  <a [href]="source.s3bucketpathname" target="_blank">
                                      VIEW/DOWNLOAD
                                  </a>
                              </h5>
  
                              <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                  (click)="editAttachment(source)">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              </button>
  
  
                              <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                  (click)="confirmDelete(source)">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" *ngIf="filteredAttachmentGrid.length === 0">
              <div class="col-md-12">
                  <div class="no-attach text-center">
                      <h6>No Files Attached</h6>
                  </div>
              </div>
          </div>
      </div>
      <router-outlet></router-outlet>
  </div>
  
  
      </div>
  
  <!--djs-->
  <div *ngIf="!config.isGenerateUploadTabNeeded" class="remove-margin">
      <div class="tab-pane " id="upload-generate" *ngIf="!config.isGenerateUploadTabNeeded" >
          <div class="box-grid-main clsMinHeight clearfix">
              <div class="upload-generate-cont no-pad">
                  <div class="tab-horizontal">
                      <ul class="nav nav-pills inner-nav">
                          <li class="innner-menu active">
                              <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                              </a>
                          </li>
                          <li class="innner-menu">
                              <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Generate</a>
                          </li>
                      </ul>
                      <div class="tab-content boxgrid">
                          <div class="tab-pane inner-margin active" id="upload-case-doc">
                              <div class="">
                                  <div class="row ">
                                      <div class="col-sm-12">
                                          <h4>Documents</h4>
                                      </div>
                                      <div class="col-sm-5">
                                          <p class="m-t-20">Add necessary documents relevant to this case.</p>
                                      </div>
                                      <div class="col-sm-7 text-right icon">
                                          <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/attachment-upload/' + intakeNumber]">
                                      <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                    <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/attachment-upload/' + intakeNumber]">
                                      <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button> -->
                                          <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                              <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
  
                                          <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/image-record/' + intakeNumber]"
                                              [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                              <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                          <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/image-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                              <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
  
                                          <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/video-record/' + intakeNumber]"
                                              [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                              <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                          <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/video-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                              <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
  
                                          <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/audio-record/' + intakeNumber]"
                                              [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                              <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                                          <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/audio-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                              <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button> -->
                                      </div>
                                  </div>
                                  <attachment-upload [intakeNumber]="intakeNumber" (attachment)="attachment('All')"></attachment-upload>
                                  <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
                                      <div class="col-sm-12">
                                          <h5 class="theme m-t-15">ADDED ATTACHMENTS</h5>
                                      </div>
                                      <div class="col-md-12">
                                          <div class="att-wrap">
                                              <div class="col-sm-3" *ngFor="let source of filteredAttachmentGrid">
                                                  <div class="panel panel-default attachment-panel">
                                                      <div class="panel-heading">
                                                          <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                          <div class="media">
                                                              <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                  <i class="fa fa-file-image-o"></i>
                                                              </div>
                                                              <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                  <i class="fa fa-file-audio-o"></i>
                                                              </div>
                                                              <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                  <i class="fa fa-video-camera"></i>
                                                              </div>
                                                              <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                  <i class="fa fa-file-pdf-o"></i>
                                                              </div>
                                                              <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                  <i class="fa fa-file-text"></i>
                                                              </div>
                                                              <div class="media-left" *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                  <i class="fa fa-paperclip"></i>
                                                              </div>
                                                              <div class="media-body">
                                                                  <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                  <h4 class="media-heading" *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                                                      ? (source?.originalfilename | slice:0:25) + '...' : (source?.originalfilename)}}</h4>
                                                                  <h4 class="media-heading" *ngIf="!source?.originalfilename">N/A</h4>
                                                                  <p>{{source.numberofbytes}}</p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="panel-body">
                                                          <dl>
                                                              <dt>TITLE</dt>
                                                              <dd class="single-wrap">{{source?.title}}</dd>
                                                          </dl>
                                                          <dl>
                                                              <dt>ATTACHMENT TYPE</dt>
                                                              <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                                          </dl>
                                                          <dl>
                                                              <dt>CATEGORY</dt>
                                                              <dd>{{source?.documentattachment?.attachmentclassificationtypekey ? source?.documentattachment?.attachmentclassificationtypekey
                                                                  : 'N/A'}}</dd>
                                                          </dl>
                                                          <dl>
                                                              <dt>Uploaded By</dt>
                                                              <dd>{{source.userprofile.displayname }}
                                                              </dd>
                                                          </dl>
                                                          <dl>
                                                              <dt>UPLOADED DATE</dt>
                                                              <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }} </dd>
                                                          </dl>
                                                          <dl class="word-align">
                                                              <dt>DESCRIPTION</dt>
                                                              <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67) ? (source?.description
                                                                  | slice:0:67)+ '...' : (source?.description)}}</dd>
                                                              <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                          </dl>
                                                      </div>
                                                      <div class="panel-footer icon-btn">
                                                          <h5>
                                                              <a [href]="source.s3bucketpathname" target="_blank">
                                                                  VIEW/DOWNLOAD
                                                              </a>
                                                          </h5>
  
                                                          <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                                  (click)="editAttachment(source)">
                                                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                          </button>
  
  
                                                          <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                                  (click)="confirmDelete(source)">
                                                              <i class="fa fa-trash" aria-hidden="true"></i>
                                                          </button>
  
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row" *ngIf="filteredAttachmentGrid.length === 0">
                                          <div class="col-md-12">
                                              <div class="no-attach text-center">
                                                  <h6>No Files Attached</h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <router-outlet></router-outlet>
                              </div>
                          </div>
  
                          <div class="tab-pane inner-margin" id="generate-case-doc">
                              <div class="cnt-min-height">
                                  <div class="row m-t-20">
                                      <div class="col-sm-6">
                                          <div class="document-search">
                                              <div class="input-group">
                                                  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Documents">
                      <span class="input-group-btn">
                          <button class="btn btn-pri btn-pri-s" type="button" >Search</button>
                      </span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <button class="btn btn-pri pull-right"  *ngIf="isFileSelected()" (click)="generateSelectedDocuments()" >Generate</button>
                                          <button data-toggle="modal" data-target="#docu-View" class="btn btn-pri pull-right" *ngIf="isFileSelected()" (click)="downloadSelectedDocuments()">View/Download
                                          </button>
                                      </div>
                                  </div>
                                  <div class="row m-t-20 created-tab">
  
                                      <div class="col-sm-12">
                                          <div class="table-responsive">
  
                                              <table class="table custom-table table-hover table-striped">
                                                  <thead>
                                                        <tr>
                                                            <th class="col-sm-1"></th>
                                                            <th class="col-sm-3">name</th>
                                                            <th class="col-sm-2">generated by</th>
                                                            <th class="col-sm-2"> generated date</th>
                                                            <th class="col-sm-4">actions</th>
                                                        </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr *ngFor="let document of generatedDocuments | filter : searchText : 'title'">
                                                      <td colspan="5">
                                                          <table class="table custom-innertable">
                                                              <thead>
                                                              <tr>
                                                                    <th class="col-sm-1">
                                                                            <mat-checkbox></mat-checkbox>
                                                                            <!-- [(ngModel)]="document.isSelected" -->
                                                                        </th>
                                                                        <th class="col-sm-3">{{document.title}}</th>
                                                                        <th class="col-sm-2">{{document.generatedBy}}</th>
                                                                        <th class="col-sm-2">{{document.generatedDateTime | date :'MM/dd/yyyy'}}</th>
                                                                        <th class="col-sm-4">
                                                                            <ul class="list-unstyled list-inline action-icons"
                                                                                *ngIf='!document.isInProgress'>
                                                                                <li *ngIf='document.isGenerated'><a
                                                                                        data-toggle="modal" data-target="#docu-View"
                                                                                        (click)="downloadDocument(document)"><i
                                                                                            class="fa fa-download"
                                                                                            aria-hidden="true"></i>View/Download</a></li>
                                                                                <li *ngIf='document.isGenerated'><a><i
                                                                                            class="fa fa-envelope-o"
                                                                                            aria-hidden="true"></i>Email</a></li>
                                                                                <li><a (click)="generateNewDocument(document)"><i
                                                                                            class="fa fa-gears"></i>Generate</a></li>
                                                                            </ul>
                                                                            <ul class="list-unstyled list-inline action-icons"
                                                                                *ngIf='document.isInProgress'>
                                                                                <li><img src="assets/images/loader.gif"></li>

                                                                            </ul>

                                                                        </th>
                                                              </tr>
                                                              </thead>
                                                              <tbody>
                                                              <!-- <tr>
                                                                          <td></td>
                                                                          <td>qwertyuiop</td>
                                                                          <td>Charles</td>
                                                                          <td class="dateTime">
                                                                            <span class="date">08/09/2018</span>
                                                                            <span class="time">11:30 AM</span>
                                                                        </td>
                                                                        <td>
                                                                            <ul class="list-unstyled list-inline action-icons">
                                                                                <li><a><i class="fa fa-download" aria-hidden="true"></i>Download</a></li>
                                                                                <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a></li>
                                                                            </ul>
                                                                        </td>
                                                                      </tr> -->
                                                              </tbody>
                                                          </table>
                                                      </td>
                                                  </tr>
                                                  <!-- <tr *ngFor="let document of generatedDocuments">
                                                      <td><mat-checkbox  [(ngModel)]="document.isSelected"></mat-checkbox></td>
                                                      <td>{{document.title}}</td>
                                                      <td>{{document.generatedBy}}</td>
                                                      <td>{{document.generatedDateTime}}</td>
                                                      <td>
                                                          <ul class="list-unstyled list-inline action-icons">
                                                              <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-download" aria-hidden="true" ></i>Download</a></li>
                                                              <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-file-pdf-o" aria-hidden="true" ></i>View</a></li>
                                                          </ul>
                                                      </td>
                                                  </tr> -->
  
                                                  </tbody>
                                              </table>
                                              <!-- <p class="no-datatxt"> No Items! </p> -->
                                          </div>
                                      </div>
                                      <!-- <div class="row">
                                          <div class="col-sm-12">
                                              <button class="btn btn-pri pull-right m-t-30" data-toggle="modal" data-target="#complete-modal" *ngIf="isCompleteVisible()">Complete</button>
                                          </div>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <edit-attachment></edit-attachment>
  <div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-w450" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true">X</span>
                  </button>
                  <h4 class="modal-title">Confirm Delete?</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="row text-center">
                              <figure>
                                  <!-- <img src="assets/img/form-letter/delete.png" alt=""> -->
                                  <p>Are you sure you want to delete this attachment?</p>
                              </figure>
                              <div class="col-md-12 text-center">
                                  <div class="btn-group btn-group-re">
                                      <button type="button" class="btn-pri" (click)="deleteAttachment()">Yes</button>
                                      <button type="button" class="btn-bg" data-dismiss="modal">No</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  