<div class="form-search-person dangerwork-form address-form no-pad">
    <div class="col-sm-8">
            <h4> Contacts</h4>
        </div>
<!-- <div class="clearfix"></div> -->

<div class="col-sm-12">
    <div class="text-right">
        <button [hidden]='isReadOnly' class="btn-pri" data-toggle="modal" data-target="#add-notes"> Add Contact </button>
    </div>
    <br>
</div>

<div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table customTable firsttable">
                <thead>
                    <tr>
                        <th>Provider Name</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Cell</th>
                        <th>Fax</th>
                        <th>Program</th>
                        <th>Program Type</th>
                        <th>Parent Corporation</th>
                        <th>Corporation</th>
                        <th>Tax ID</th>
                        <th>SON ?</th>
                        <th>RFP ?</th>
                        <th>Edit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let provider of referralDetails">
                        <td>{{provider.provider_referral_nm}}</td>
                        <td>{{provider.provider_referral_first_nm}} {{provider.provider_referral_last_nm}}</td>
                        <td>{{provider.adr_email_tx}}</td>
                        <td>{{provider.adr_home_phone_tx}}</td>
                        <td>{{provider.adr_cell_phone_tx}}</td>
                        <td>{{provider.adr_fax_tx}}</td>
                        <td>{{provider.provider_referral_program}}</td>
                        <td>
                            <tr *ngFor="let program_type_list of provider.provider_program_type">
                            <td>{{program_type_list.program_type}}</td>   
                            </tr>                         
                        </td>
                        <td>{{provider.parent_entity}}</td>
                        <td>{{provider.corporation_entity}}</td>
                        <td>{{provider.corporation_entity_taxid}}</td>
                        <td>{{provider.is_son}}</td>
                        <td>{{provider.is_rfp}}</td>
                        <td *ngIf="provider.referral_decision=='' || provider.referral_decision=='Incomplete' || provider.referral_decision=='Pending'"> 
                            <button data-toggle="modal" (click)="editReferral(provider, i, 'Edit')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        <div class="text-center m-t-20" *ngIf="contacts; let contacts">
            <pagination-controls id="int-cntct" class="text-center m-t-20" *ngIf="contacts.length>0" (pageChange)="p = $event"></pagination-controls>
</div>
        </div>
      </div>
</div>

<div class="modal fade in" id="add-notes" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="IntakeAppointmentLabel">
<div class="modal-dialog modal-lg " role="document">
  <div class="modal-content ">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNotes()">
              <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Add Referral</h4>
      </div>
      <div class="modal-body ">
          <div [formGroup]="referralForm">
              <!-- <div class="row">
                  <div class="col-sm-3">
          
                      <mat-form-field>
                              <mat-select placeholder="Provider Type" formControlName="provider_catergory" (change)="onOptionChange($event)">
                                  <mat-option *ngFor="let referralType of providerReferralType" [value]="referralType">
                                  {{referralType}}
                                  </mat-option>     
                              </mat-select>
                          </mat-form-field>        
                 
               <mat-select  name="type "value="" placeholder="select" matInput formControlName="provider_referral_type" (change)="onOptionChange($event)">
                   <mat-option value="Public">Public</mat-option>
                      <mat-option value="Private">Private</mat-option>
                      
                      <mat-option value="Vendor">Vendor</mat-option>
                  </mat-select> 
                  </div>
              </div> -->
              
              <div class="row modal-content-pad modal-height-body">
                  <div class="col-sm-4 ">
                          <div class="row col-sm-10">
                                  <mat-form-field>
                                      <mat-select placeholder="Program" formControlName="provider_referral_program" (change)="selectedProgramNames($event)">
                                          <mat-option *ngFor="let item of programsTypes$ | async" [value]="item.value">
                                              {{item.text}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-form-field>
                              <mat-select placeholder="Program Type" formControlName="provider_program_type" multiple>
                                          <mat-option *ngFor="let program of programs" [value]="program">
                                              {{program}}
                                          </mat-option>     
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-form-field *ngIf=(isPublic)>
                                      <mat-select placeholder="Parent Corporation" formControlName="parent_entity">
                                          <mat-option *ngFor="let programType of programTypes" [value]="programType.value">
                                              {{programType.viewValue}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-form-field *ngIf=(isPublic)>
                                      <input type="text" matInput formControlName="corporation_entity" placeholder="Corporation">
                                  </mat-form-field>
                                  <mat-form-field *ngIf=(isPublic)>
                                      <input type="text" mask="000-00-0000" matInput formControlName="corporation_entity_taxid" placeholder="Tax Id">
                                  </mat-form-field>
                              </div>
                         
                              <div class="col-sm-9">
                                      <label>Is there statement of need (SON)? </label>
                                      <mat-radio-group formControlName="is_son">
                                          <mat-radio-button value="YES">Yes</mat-radio-button>
                                          <mat-radio-button value="NO">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-sm-9">
                                      <label>Is there request for proposal (RFP)? </label>
                                      <mat-radio-group formControlName="is_rfp">
                                          <mat-radio-button value="YES">Yes</mat-radio-button>
                                          <mat-radio-button value="NO">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-sm-9">
                                      <label>Does the provider have FEIN/Tax ID? </label>
                                      <mat-radio-group formControlName="is_taxid">
                                          <mat-radio-button value="YES">Yes</mat-radio-button>
                                          <mat-radio-button value="NO">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                      
                  </div>
                  <div class="col-sm-4 ">
                      <!-- <label>Address: </label> -->
          
                      <mat-form-field>
                              <input type="text" matInput formControlName="provider_referral_nm" placeholder="Provider Name">
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text" matInput formControlName="provider_referral_first_nm" placeholder="First Name">
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text" matInput formControlName="provider_referral_last_nm" placeholder="Last Name">
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text" matInput formControlName="adr_email_tx" placeholder="Email">
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text"  mask="(000) 000-0000" matInput formControlName="adr_home_phone_tx" placeholder="Phone Number">
                          </mat-form-field>
                          <mat-form-field>
                                  <input type="text"  mask="(000) 000-0000" matInput formControlName="adr_cell_phone_tx" placeholder="Cell Number">
                          </mat-form-field>
                          <mat-form-field>
                                  <input type="text"  mask="(000) 000-0000" matInput formControlName="adr_fax_tx" placeholder="Fax Number">
                          </mat-form-field>
                      <div>
                          
                      </div>
                  </div>
                  <div class="col-sm-4">
                          <mat-form-field>
                                  <input type="text" mask="0000" matInput formControlName="adr_street_no" placeholder="Street no">
                              </mat-form-field>
                          <mat-form-field>
                                  <input type="text" matInput formControlName="adr_street_nm" placeholder="Street Name">
                              </mat-form-field>
                              
                              <mat-form-field>
                                  <input type="text" matInput formControlName="adr_city_nm" placeholder="City Name">
                              </mat-form-field>
                              <!-- <mat-form-field>
                                  <input type="text" matInput formControlName="adr_state_cd" placeholder="State Name">
                              </mat-form-field> -->
                              <!-- <mat-select placeholder="Select State" formControlName="state" >
                                  <mat-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
          
                              </mat-select> -->
                                  <ng-select [searchable]="true" [clearable]="false" formControlName="state">
                                    <ng-option value=""> Select State </ng-option>
                                    <ng-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">{{item.text}}</ng-option>
                                  </ng-select>
                                  <!-- <control-messages class="alert-align" [control]="addUserProfileForm.controls['state']"></control-messages> -->
                            
          
                              <mat-form-field>
                                  <!-- <input type="text" matInput formControlName="adr_county_cd" placeholder="County Code"> -->
                                  <mat-select placeholder="County code" formControlName="adr_county_cd">
                                          <mat-option *ngFor="let item of countyList$ | async" [value]="item.value">
                                              {{item.text}}
                                          </mat-option>
                                      </mat-select>
                              </mat-form-field>
                              <!-- <mat-form-field>
                                  <input type="text" matInput formControlName="adr_country_tx" placeholder="Country">
                              </mat-form-field> -->
                              <mat-form-field>
                                  <input type="text" mask="00000" matInput formControlName="adr_zip5_no" placeholder="ZIP Code">
                              </mat-form-field>
                      
                       </div>
              </div>
              <div class="modal-footer">
                  <a class="btn-pri" (click)="addProvider(referralForm.value)">DONE</a>
              </div>
          </div>
    </div>
</div>
</div>
</div>
