<div class="modal fade" id="add-newactivity" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()">X</span>
                </button>
                <h4 class="modal-title"> {{updateServicePlanButton ? 'Edit Activity' : 'Add New Activity'}}</h4>
            </div>
            <div class="modal-body" [formGroup]="activityStrategy">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Activity" formControlName="activity" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Service Type" formControlName="servicetypekey" (change)="onSelectServiceType($event.value)">
                                <mat-option *ngFor="let activity of activityCategoryTypes$ | async" value="{{activity.value}}">{{activity.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Service Sub Type" formControlName="activitysubtypekey">
                                <mat-option *ngFor="let activitySubType of  activityCategorySubTypes$ | async" value="{{activitySubType.value}}">
                                    {{activitySubType.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Person Involved" formControlName="personsinvolvedid" required>
                                <mat-option *ngFor="let person of involvedPerson$ | async" [value]="person.personid">{{person.firstname + ' ' + person.lastname }} <b>{{roledescription[person.rolename]}} </b></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Responsible Person" formControlName="responsiblepersonid" required (change)="responsiblePersonChange($event.value)">
                                <mat-option [value]="token.user.securityusersid">{{token.user.username}} <b>Case Worker</b></mat-option>
                                <mat-option *ngFor="let item of otherPersonList$ | async" [value]="item.personid">{{item.firstname + ' ' + item.lastname}} <b>{{roledescription[item.rolename]}}</b></mat-option>
                                <mat-option value="Other">other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4" *ngIf="activityStrategy.controls['responsiblepersonid'].value === 'Other'">
                        <mat-form-field>
                            <input type="text" placeholder="Other Responsible Person" formControlName="otherresponsibleperson" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" id="completion" (dateInput)="completionDate($event)" placeholder="Date of Completion" (click)="picker1.open()" formControlName="completiondate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker2" id="reevaluation" [min]="mindate" (click)="picker2.open()" placeholder="Date of Re-evaluation" formControlName="reevaluationdate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Goal" formControlName="serviceplangoalid">
                                <mat-option *ngFor="let gola of activityGoal$| async" value="{{gola.value}}">{{gola.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Status" formControlName="serviceplanactivitystatustypekey" required>
                                <mat-option *ngFor="let status of activityStatus$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Initial Condition" formControlName="initialcondition">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <div class="no-pad clsIntake dpnew">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker3" id="reevaluation" [min]="mindate" (click)="picker3.open()" placeholder="Planned Start" formControlName="plannedstartdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="no-pad clsIntake dpnew">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker4" id="reevaluation" [min]="mindate" (click)="picker4.open()"  formControlName="plannedenddate" placeholder="Planned End">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <textarea  type="text" formControlName="progressnote" matInput placeholder="Progress Note"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn-pri" *ngIf="!updateServicePlanButton" type="submit" (click)="saveActivity(activityStrategy.value)" [disabled]="activityStrategy.pristine || activityStrategy.invalid">Save</button>
                        <button class="btn-pri" *ngIf="updateServicePlanButton" type="submit" (click)="UpdateActivity(activityStrategy.value)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
