<div class="row">
  <div class="col-md-12">
      <div class="col-md-2 search-box">
        <mat-label class="pt-20 show" style="color: red;cursor: pointer;" (click) ="dueChange('overdue')">Overdue({{overduecount}})</mat-label>          
      </div>
      <div class="col-md-2 search-box">            
          <mat-label class="pt-20 show" style="color: green;cursor: pointer;" (click) ="dueChange('currentdue')">Current Due Today({{currentduecount}})</mat-label>
      </div>
      <div class="col-md-2 search-box">
        <mat-label class="pt-20 show" style="font-weight: bold;cursor: pointer;" (click) ="dueChange('upcomingdue')">Upcoming Next 30 days({{upcomingcount}})</mat-label>
      </div>
      <div class="col-md-1 search-box" style="float: right;">
          <a (click)="resetFilter()" class="pt-20 show">Reset</a>
      </div>
      <div class="status col-md-3 pt-20" style="width: 15%;">
          <mat-radio-group [(ngModel)]="fiscalStatus" (change)="statusManualDropDown($event.value)">
              <mat-radio-button *ngFor="let status of statusDropDownList" [value]="status.value">
              {{status.text}}
              </mat-radio-button>
          </mat-radio-group>
      </div>
      <div class="status col-md-3">
        <mat-form-field>
            <mat-label>Ticklers Type</mat-label>
            <mat-select [(ngModel)]="ticklerType" (change)="typeManualDropDown($event.value)">
                <mat-option>Select</mat-option>
                <mat-option *ngFor="let type of typeDropDown" [value]="type.value">
                {{type.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    <div>

    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
  <div class="table-responsive table-theme mt-20">
    <table class="table table-striped fixed_header">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>ID</th>
          <th>Name</th>
          <th>Client Name</th>
          <th>System Tickler</th>
          <th>Tickler Id</th>
          <th>DESCRIPTION</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let provider of fiscalunitticklersList">
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.create_ts | date: 'MM/dd/yyyy'}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.ticklertype}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.entity_key_id}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.entity_nm}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.clientname}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.system_tickler_tx}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.tickler_id}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.tickler_tx}}</td>
          <td [ngClass]="{'selected': provider.data_valid_sw !== 'Y'}">{{provider.due_dt | date: 'MM/dd/yyyy'}}</td>
          <td>
              <button class="open-link no-bg" type="button" *ngIf="provider.data_valid_sw !== 'Y'" matTooltip="Mark as read" (click)="updatefiscalticklers(provider, 'markasread')"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="open-link no-bg" type="button" *ngIf="provider.action_sw !== 'Y'" matTooltip="Mark as done" (click)="updatefiscalticklers(provider, 'markasdone')"><i class="open-link fa fa-check"></i></button>
              <button class="open-link no-bg" type="button" matTooltip="Delete" (click)="updatefiscalticklers(provider, 'delete')"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr *ngIf="fiscalunitticklersList.length === 0">
          <td colspan="10" style="text-align: center !important;">No Data found.</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="text-center" *ngIf="totalcount > 10">
      <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
      </pagination>
    </div>
</div>