// .person-wrapper{
//     display: block;
//     width: 100%;
//     float: left;
//     background: #fff;
// }
.person-detail-wrapper {
    display: block;
    width: 100%;
    float: left;
    background: #fff;
}
.tab-horizontal .nav-tabs {
    margin-top: 20px;
}
.nav-tabs.person-cus-tab-section,
.nav-tabs.person-cus-tab-section > li.active > a:hover,
.person-cus-tab-section li a.active > a:focus,
.person-cus-tab-section .nav-tabs,
.person-cus-tab-section li a.active > a,
.person-cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.person-cus-tab-section li.active a a span.tab-txt {
    font-weight:700px;
    font-size:14px;
}
.nav-tabs > li a:after {
    background: none;
}
.person-cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #039be5;
}
.person-cus-tab-section li {
    // width: 150px;
    text-align: center;
    background: #fff;
    border:1px solid #D8D8D8;
}
/* .person-cus-tab-section li:last-child {
    // width: 12%;
    // text-align: center;
    // text-align: right;
    // float: right;
} */
.person-cus-tab-section li a {
    padding: 0 0 5px;
}
.tab-horizontal .nav-tabs > li a {
    font-size: 12px;
    font-weight: 700;
    width: 135px;
    white-space: normal;
}
.person-cus-tab-section .tab-txt {
    display: block;
    padding:10px 0 !important;
    height:50px;
}
// .person-cus-tab-section li:after, .person-cus-tab-section li a.active:after {
//     width: calc(100% - 101px);
//     margin-left: 0;
//     right:0;
//     top: 72%;
// }

.person-cus-tab-section li:before, .person-cus-tab-section li a.active:before {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 76%;
    width: calc(100% - 90px);
    margin-left: 0;
    left:0;
    z-index:99;
}

.person-cus-tab-section li:after,
.person-cus-tab-section li.active a:after {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 76%;
    width: calc(100% - 90px);
    margin-left: 90px;
}
// .person-cus-tab-section li:first-child:before, .person-cus-tab-section li.active a:first-child:before {
//     height:0;
// }
// .person-cus-tab-section li:last-child:before, .person-cus-tab-section li a.active:last-child:before {
//     width: calc(100% - 105px);
// }
.person-cus-tab-section li:last-child:after, .person-cus-tab-section li.active a:last-child:after,
.person-cus-tab-section li:first-child:before, .person-cus-tab-section li.active a:first-child:before {
    height:0;
}

.person-cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border:2px solid #00A2FD;
    border-radius: 50%;
    padding: 5px 6px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.person-cus-tab-section li.active a .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.person-cus-tab-section li.active a .circle {
    // border: 2px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.person-cus-tab-section li .fa-pencil:before {
    content: none;
}
.person-cus-tab-section li.active a .fa-pencil:before {
    content: '\f040';
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.header-4 {
    font-weight: 600;
    font-size: 15px;
}

.tab-horizontal .nav-tabs > li > a {
    border-radius: 0;
    text-transform: uppercase;
    color: #2e2f31;
    font-weight: 600;
    // background: #fff;
    padding: 10px 10px;
    font-size: 13.5px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #333;
    background-color: #f5fafe;
    border-bottom: 3px solid #039be6;
}


.table-theme .table tr td {
    text-align: left !important;
}

