.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    // padding: 12px 15px;
    position: relative;
    text-transform: uppercase;
    color: #00A2FD;
    display: block;
    font-size: 14px;
    font-weight:600;
}
.cus-tab-section li {
    width: 49.33%;
    text-align: center;
}
// .cus-tab-section li:after {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 75%;
//     width: calc(100% - 312px);
//     right: 0;
// }
// .cus-tab-section li:before {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 75%;
//     width: calc(100% - 312px);
//     left: 0;
   
// }
// .cus-tab-section li:first-child:before{
//     height:0;
// }
// .cus-tab-section li:last-child:after{
//     height:0;
// }
.cus-tab-section li a {
    padding: 0;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 5px 6px;
    margin-top:10px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.mb-25{
    margin-bottom: 25px;
}