.doc .drop-container {
    background: #fff;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c0c4c7;
}
.doc .drop-container p {
    font-size: 16px;
    font-weight: 400;
    color: #c0c4c7;
}
.doc .drop-container p .upload-button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5754a3;
}
.doc .drop-container p .upload-button input {
    display: none;
}

.wizard .nav-tabs > li {
    width: calc(50% - 5px);
    padding: 10px;
    background: #585858;
}
.wizard .nav-tabs > li.active {
    background: #1bbc9b;
}
.wizard .nav-tabs > li:first-child {
    margin-right: 10px;
}

.uploaded-files {
    overflow: hidden;
}
.uploaded-form {
    background: #efefef;
    padding: 5px;
    margin-bottom: 5px;
}
.uploaded-form .form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 6px;
    font-size: 12px;
    height: 30px;
}
.uploaded-form textarea.form-control {
    height: 30px;
    margin-bottom: 0;
}
.uploaded-files h4 {
    margin: 15px 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #00A2FD;
}
.uploaded-files .media-body h4 {
    color: #000;
    font-size: 12px;
    margin: 4px 0;
    text-transform: none;
    font-weight: bold;
}
.uploaded-form .progress {
    height: 5px;
}
.uploaded-form a > span {
    font-size: 25px;
}
.uploaded-files .btn-bs-file {
    position: relative;
    margin-bottom: 0;
}
.uploaded-files .btn-bs-file input[type='file'] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}
.uploaded-files .remove-upld {
    text-align: center;
    position: relative;
    min-height: 75px;
}
.uploaded-files .remove-upld span {
    display: inline-block;
    width: 26px;
    padding: 2px 0px;
    border: 1px solid #555;
    border-radius: 100%;
    color: #555;
    position: absolute;
    left: 28%;
    cursor: pointer;
    top: 38%;
}

.upload-wrap {
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
}
h6.upldr-name {
    font-size: 11px;
    margin: 0;
    color: #777;
    margin-bottom: 0px;
    display: inline-block;
    padding-right: 8px;
}
h6.upldr-name:first-child {
    border-right: 1px solid #ccc;
}
.upldr-name span {
    color: #000;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}
.no-file h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.upload-number {
    text-align: center;
}
.upload-number span {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    border: 1px solid #777;
    color: #777;
    font-size: 13px;
    font-weight: 900;
    border-radius: 100%;
}
.block.drop-container {
    width: 100%;
    padding: 50px 0;
    background: #f3f4f6;
    border: 2px dashed #888;
    text-align: center;
}
.block.drop-container p {
    margin-bottom: 5px;
}
i.fa.fa-cloud-upload {
    font-size: 20px;
    cursor: pointer;
    // color: #53c3c
}
.btn-bs-file {
    cursor: pointer;
    font-weight: 1000;
}
.Persons-Involved h4.modal-header {
    margin: 0;
    padding: 0;
    font-size: 15px;
    border-bottom: 0;
    margin-bottom: 5px;
}
.uploaded-form .media {
    margin-top: 0;
}
.mh-450 {
    min-height: 450px;
}
.required:after {
    top: 0px;
    right: 3px;
    position: absolute;
}

.uploaded-files .btn-bs-file input[type='file']{
    width: 100%;
    height: 33px;
    top: 0;
    left: 0;
    display: block !important;
}
h4.modal-title {
    margin: 0px;
}

/*Dynamo Soft Css*/

.dynamoContainer { border: 1px solid #ccc;} 
 ul.operateGrp { list-style-type : none !important; position: relative; right: 70px; }
.operateGrp li { margin: 0; width: 55px; height: 41px; line-height: 38px; border: 1px solid #ccc; text-align: center; }
.operateGrp li:nth-last-child(2) { height: 41px; }
.operateGrp li:last-child { height: 41px; border-bottom: none; }
.operateGrp li > img { cursor: pointer; }

/*#dwtcontrolContainer*/
#dwtcontrolContainer { float: left; width: 585px; height: 354px; position: relative;left: 41px;}
#dwtcontrolContainer .dynamsoft-dwt-container-box > div { border: none !important; width: 585px !important; height: 354px !important; }
#dwt-NonInstallContainerID { float: left; width: 585px !important; height: 354px !important; }

.dynamo-aquire {
    width: 19%;
    height: 34px;
    position: relative;
    left: 7px;
    border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}
.dynamo-upload {
    position: relative;
    right: 26px;
    width: 29%;
    height: 34px;
	border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}

.dynamo-mt-12 {
    margin-top: 12px;
    position: relative;
    left: 7px;
}

.preview-mode {
    position: relative;
    right: 100px;
}

.dynamoc-header {
    position: relative;
    bottom: 37px;
}

/*#btnGroupBtm*/
#DWTcontainerTop #btnGroupBtm { position: absolute; left: 101px; bottom: 0; padding: 14px 25px 15px 90px; width: 544px; height: 57px; background: #f5f5f5; border-top: 1px solid #ccc; font-size: 14px; color: #606060; }
#btnGroupBtm { font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
#btnGroupBtm input {  width: 25px; height: 20px; font-size: 10px; background: #f5f5f5; border: solid 1px #bbbcc0; outline: none; cursor: pointer; }
#btnGroupBtm input[type='text'] { height: 20px; font-size: 12px; border: none; cursor: default; }
#btnGroupBtm { font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
#btnGroupBtm #DW_CurrentImage { text-align: center; }
#btnGroupBtm #DW_TotalImage { text-align: center; } 
#DW_PreviewMode { height: 26px; border: solid 1px #d8d8d8; color: #444; outline: none; border-radius: 3px; cursor: pointer; }
/*=============== DWTcontainerTop ===============*/
#DWTcontainerTop { position: relative; float: left; width: 647px; height: 497px; border: 1px solid #ccc; }
.ds-dwt-container-box > div { border: none !important; }
/*#divEdit*/
#divEdit { float: left; margin: 0; padding: 0; width: 60px; background: #fff; border-right: 1px solid #ccc; }


#Crop { padding: 5px; padding-top: 10px; text-align: center; border-collapse: collapse; border: 3px solid #cE5E04; position: absolute; height: 80px; z-index: 1; background-color: #f0f0f0; width: 250px }
#ImgSizeEditor { padding: 10px 15px; position: absolute; z-index: 1; top: 513px; left: -1px; height: auto; width: 320px; font-size: 14px; color: #606060; text-align: left; background-color: #f5f5f5; border-collapse: collapse; border: 1px solid #ccc; box-shadow: 4px 4px 18px #ccc; -webkit-box-shadow: 4px 4px 18px #ccc; -moz-box-shadow: 4px 4px 18px #ccc; }
#ImgSizeEditor li { margin-bottom: 5px; }
#ImgSizeEditor input { background: #fff; border: solid 1px #ccc; }
#ImgSizeEditor input[type='text'] { padding-left: 3px; }
#ImgSizeEditor input[type='button'] { padding: 5px 5px; margin: 6px 5px 0; }


/*=============== ScanWrapper ===============*/
#ScanWrapper { float: right; width: 315px; height: 570px; }
div.divinput { font-size: 14px; color: #606060; line-height: 24px; margin-bottom: 20px; text-align: left; border: solid 1px #ccc; background: #fff; }
.divType, #ScanWrapper .toggle { padding-left: 20px; height: 38px; line-height: 36px; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; font-size: 14px; color: #444; border-bottom: solid 1px #ccc; background: #eee; cursor: pointer; }
#ScanWrapper .toggle { cursor: default; }
.mark_arrow { display: block; float: right; margin: 15px 20px 0 0; width: 12px; height: 8px; }
/*
.collapsed { background: url("../images/icn-down-12x7.png") no-repeat center center; }
.expanded { background: url("../images/icn-up-12x7.png") no-repeat center center; }
*/
.divTableStyle { padding: 12px 20px 15px; border-bottom: solid 1px #ccc; }
#ScanWrapper select, #divUpload input[type='text'] { margin-top: 3px; margin-bottom: 6px; height: 26px; border: solid 1px #ccc; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; outline: none; }
#ScanWrapper input[type='checkbox'], #ScanWrapper input[type='radio'] { margin: 0 3px 0 0; }
/*=============== ScanWrapper ===============*/


/*#divScanner*/
#divScanner { border-bottom: none; }
#PCollapse { list-style: none inside none; margin-left: 0; padding-left: 0; }
select#source { margin-top: 3px; padding-left: 3px; width: 100%; font-size: 12px; border: solid 1px #ccc; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; outline: none; }
select#Resolution { margin-left: 3px; width: 192px; height: 26px; }
#divProductDetail li { margin-top: 8px; }
#divProductDetail li:first-child { margin-top: 3px; }
#divProductDetail li label { display: inline-block; margin: 0 28px 0 0; font-size: 12px; }
#divProductDetail li label:last-child { margin: 0; }
#divProductDetail li label input { width: 15px; height: 15px; vertical-align: middle; }
#btnScan { margin-top: 10px; margin-bottom: 5px; width: 90px; height: 30px; line-height: 28px; border: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #ddd; font-size: 14px; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; cursor: default; outline: none; }
#div_LoadLocalImage input[type='button'] { margin: 15px 0; width: 90px; height: 30px; }
#div_ScanImage { position: relative; }
#tblLoadImage { position: absolute; top: 102px; z-index: 1; padding: 30px 22px; width: 275px; height: 128px; font-size: 14px; line-height: 30px; text-align: left; border: 1px solid #fe8e14; background-color: #f5f5f5; }
#tblLoadImage > a { position: absolute; top: 15px; right: 15px; line-height: normal; text-decoration: none; }
#tblLoadImage a { color: #50a8e1; }
#tblLoadImage a:hover { color: #61c2ec; }
/*#divUpload*/
#divUpload input[type='text'] { width: 100%; padding-left: 5px; }
#divUpload li label { display: inline-block; margin: 0 8px 0 0; font-size: 12px; }
#divUpload li img { margin-right: 2px; }
#divUpload li label:last-child { margin-right: 0; }
#divUpload li input { width: 15px; height: 15px; vertical-align: middle; }
#divUpload li:nth-child(3) { margin: 5px 0 8px; }
#divUpload li { padding: 0 20px; }
#divUpload li:nth-child(2) { padding-top: 12px; }
#divUpload input[type='button'] { margin: 14px 0 20px 0; }
#divUpload #btnSave, #divUpload #btnUpload { padding: 0; width: 115px; height: 30px; margin-right: 15px; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; cursor: pointer; }
#divUpload #btnUpload { width: 138px; margin-right: 0; }
/*=============== DWTcontainerBtm ===============*/
#DWTcontainerBtm { position: relative; float: left; width: 980px }
#DWTemessageContainer { float: left; }
#DWTemessageContainer input[type='text'] { border: solid 1px #ccc; padding-left: 3px; }
#DWTemessageContainer input[type='button'] { cursor: pointer; margin: 0 3px; outline: none; }
#DWTdivMsg { padding: 5px 0 0; font-size: 14px; color: #444; }
#DWTemessage { padding: 6px 0 0 8px; margin-top: 3px; width: 647px; height: 160px; border: solid 1px #ccc; overflow-y: scroll; background: #fff; }
#divNoteMessage { float: right; padding: 10px 15px; margin-top: 34px; width: 315px; height: 160px; font-size: 12px; line-height: 20px; border: 1px solid #ccc; background: #e7f2fd; color: #606060; }
#divNoteMessage p { margin: 0; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
/*=============== dailog ===============*/


// Below code is tab-content

.search-fix {
    margin-top: -30px;
    margin-bottom: 5px;
  }
  // input:focus {
  //   border: 1px solid #5dbcd3 !important;
  //  box-shadow: none;
  // }
  .searchbar{
    position: absolute;
    padding:10px;
    margin:0;
    width:250px;
    background:#fff;
    max-height: 300px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    border:solid 1px #e6e5e5;
    border-radius:2px;
    display:none;
  }
  
  .show-searchbar .searchbar{
    display: block;
  }
  .searchbar li{
    display: block;
    list-style: none;
    padding: 8px 5px;
    cursor:pointer;
  }
  .searchbar li i{
    float:right;
    color: #584f4f;
    font-size: 13px;
  }
  
  table.my-intake-tbl tr td:nth-child(5) div {max-height: 150px; overflow: auto;}
  .header-search {
    float:right;
  }
  .header-search .input-group {
    max-width: 400px;
    float: left;
  }
  .header-search .input-group input {
    border: 1px solid #039be6;
    border-radius: 3px;
    padding: 5px;
    height: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .new-intake{
    float: right;
    height: 32px;
    padding: 5px 15px;
  }
  
  /***************** may 24 new Intake styles *************************/
  .record-intake h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .record-intake li {
    width: 11%;
    margin-right: 15px;
    display: inline-table;
  }
  .record-intake .form-group {
    position: relative;
  }
  .record-intake label {
    text-transform: uppercase;
    color: #039be6;
  }
  .record-intake p {
    margin: 0;
    font-size: 16px;
  }
  .form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
  }
  textarea.form-control {
    border: 1px solid #ccc;
  }
  .record-intake .select__arrow.pos {
    top: 39px;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .intake .tab-horizontal {
    background: #fff;
  }
  .intake .tab-horizontal1 {
    background: #fff;
    width: 50%;
  }
  .intake .tab-content {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
  }
  .intake .tab-content h4 {
    margin-bottom: 15px;
  }
  .nextprev-btn {
    padding: 15px;
  }
  .btns-top {
    margin-top: 15px;
  }
  .intake .nav-pills > li > a {
    border-radius: 0;
    text-transform: uppercase;
    color: #2e2f31;
    font-weight: 600;
    // background: #fff;
    padding: 15px 10px;
    font-size: 13px;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    color: #333;
    background-color: #f5fafe;
    /* border-bottom: 3px solid #039be6; */
  }
  .wizard-step input.form-control,
  .wizard-step select.form-control,
  .wizard-step textarea,
  .Persons-Involved .form-control {
    margin-bottom: 20px;
  }
  .btn-pri,
  .btn-bg,
  .btn-link {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;
    min-width: 100px;
  }
  input.form-control,
  select.form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #ddd;
    padding: 6px 12px 6px 0;
  }
  .inner-title {
    text-transform: uppercase;
    color: #039be6;
    margin-bottom: 25px;
  }
  .person-adds {
    padding-right: 8.33333333%;
  }
  .radio-inline {
    padding: 0;
  }
  .radio-inline .control {
    display: inline;
    padding: 0 15px 0 25px;
  }
  .modal-lg.custom-wid {
    width: 1100px;
    max-width: 100%;
  }
  .new-alias {
    border-left: 1px solid #f1e6e6;
    padding: 0 10px;
  }
  .added-alias-names {
    padding: 15px;
  }
  .added-alias-names label {
    margin-bottom: 5px;
  }
  .clr-details {
    padding: 15px;
    background: #eee;
    border: 1px solid #ccc;
  }
  .clr-details p span {
    font-weight: 600;
  }
  .btn-link {
    color: #039be6;
  }
  .btn-link:focus,
  .btn-link:hover {
    color: #039be6;
    text-decoration: none;
    background-color: transparent;
  }
  .btn:focus {
    outline: none;
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
  }
  .nav-tabs.cus-tab-section,
  .nav-tabs.cus-tab-section > li.active > a:hover,
  .cus-tab-section li.active > a:focus,
  .cus-tab-section .nav-tabs,
  .cus-tab-section li.active > a,
  .cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
  }
  .cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #555;
  }
  .cus-tab-section li {
    width: 40%;
  }
  .cus-tab-section li:last-child {
    width: 17%;
  }
  .cus-tab-section li:after,
  .cus-tab-section li.active:after {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: calc(100% - 45px);
    margin-left: 35px;
  }
  .cus-tab-section li a {
    padding: 10px 0;
  }
  .cus-tab-section li.active a {
    font-weight: 700;
  }
  .circle {
    border: 5px solid #e5e5e5;
    border-radius: 50%;
    padding: 3px 5px;
  }
  .circle:after {
    width: 1px;
    height: 1px;
    background: #039be6;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
  }
  .cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
  }
  .cus-tab-section li.active .circle {
    border: 5px solid #039be6;
    background: #039be6;
    color: #fff;
  }
  .cus-tab-section li .fa-pencil:before {
    content: none;
  }
  .cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
  }
  .disp-inline {
    display: inline;
  }
  .disp-inblock {
    display: inline-block;
  }
  .scrolling .fa-angle-down {
    font-size: 24px;
    vertical-align: middle;
  }
  .width-70 {
    width: 70px;
  }
  /* .tbl-pagination{width: 80%; text-align: right;} */
  .tbl-pagination > div {
    display: inline-block;
    margin: 0 15px;
  }
  .tbl-pagination select.form-control {
    border: none;
  }
  .page-count {
    width: 200px;
  }
  .arrow-left,
  .arrow-right {
    vertical-align: middle;
  }
  .spellcheck {
    position: absolute;
    bottom: 10px;
    right: 13px;
    font-size: 20px;
  }
  .fa-editm:before {
    content: '\270f';
    font-size: 25px;
  }
  
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    border-bottom: 0px solid #039be6 !important;
  }
  /**MMM******** Table scroll **************/
  
  .scrolling table {
    table-layout: inherit;
    *margin-left: -100px; /*ie7*/
  }
  .scrolling td,
  .scrolling th {
    vertical-align: top;
    min-width: 130px;
    padding: 15px 8px !important;
  }
  .scrolling th:nth-child(1) {
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 120px;
  }
  
  .scrolling th:nth-child(2) {
    position: absolute;
    *position: relative; /*ie7*/
    left: 120px;
    width: 120px;
  }
  .scrolling td:nth-child(4),
  .scrolling th:nth-child(4),
  .scrolling td:nth-child(11),
  .scrolling th:nth-child(11),
  .scrolling td:nth-child(12),
  .scrolling th:nth-child(12),
  .scrolling td:nth-child(13),
  .scrolling th:nth-child(13) {
    min-width: auto;
  }
  
  .scrolling tbody th {
    font-weight: normal;
  }
  .outer {
    position: relative;
  }
  .inner {
    overflow-x: auto;
    overflow-y: visible;
    margin-left: 240px;
    margin-top: 50px;
  }
  
  /*********MMM*********   Tabs Left  ********MMM**********/
  
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  .tabs-left > .nav-tabs > li > a {
    margin-right: 0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    border-left: 0;
    text-transform: uppercase;
    color: #2e2f31;
    font-weight: 600;
  }
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    width: 20%;
    min-height: 50vh;
  }
  .tabs-left .tab-content {
    width: 78%;
    float: left;
    padding-left: 15px;
  }
  .tabs-left > .nav-tabs > li.active {
    border-right: 3px solid #039be6;
  }
  .tabs-left > .nav-tabs > li.active > a {
    background-color: #f5fafe;
    border-left: 0;
  }
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  
  // .entities-panel {
  //     border: 3px solid #f3f3f3;
  //     margin-top: 15px;
  // }
  // .entities-panel .panel-heading {
  //     padding: 20px 15px;
  //     background: #fff;
  //     border-bottom: 3px solid #f3f3f3;
  // }
  // .entities-panel .panel-title {
  //     color: #0277bd;
  //     font-weight: 600;
  //     font-size: 16px;
  // }
  span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
  }
  // .entities-panel .panel-body dl dt,
  // .entities-panel .panel-body dl dd {
  //     font-weight: 600;
  //     color: #676767;
  //     font-size: 13px;
  // }
  // .entities-panel .panel-footer {
  //     background: #fff;
  //     padding: 0;
  //     border-top: 3px solid #f3f3f3;
  // }
  // .entities-panel ul.list-inline {
  //     margin-bottom: 0;
  // }
  // .entities-panel ul li {
  //     border-right: 3px solid #f3f3f3;
  //     width: 49%;
  //     text-align: center;
  //     padding: 20px 15px;
  //     cursor: pointer;
  // }
  // .entities-panel ul li:nth-child(2) {
  //     border-right: none;
  // }
  // .entities-panel .panel-footer ul li a {
  //     color: #0277bd;
  //     font-weight: 600;
  //     font-size: 14px;
  //     text-decoration: none;
  // }
  .ent-profile-info,
  .ent-address-info,
  .ent-danger-info {
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 20px;
  }
  .entities-edit h4 {
    color: #0277bd;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .ent-profile-info {
    position: relative;
  }
  .ent-profile-info .editicon {
    background: #dedede;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -10px;
  }
  .ent-profile-info .editicon .fa-pencil {
    padding: 10px;
    color: #0277bd;
    font-size: 18px;
  }
  .entities-edit .modal-title .categori-name {
    padding: 2px 10px;
    border-radius: 4px;
    margin-left: 25px;
  }
  .entities-edit dt,
  .entities-edit dd {
    font-weight: 600;
    color: #676767;
    font-size: 13px;
  }
  .entities-edit dt {
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  span.validate {
    margin-right: 100px;
  }
  span.validate a {
    color: #ff0000;
    font-weight: 600;
  }
  span.view-address {
    margin-left: 50px;
  }
  .view-address a {
    color: #ff0000;
    font-weight: 600;
  }
  h4.h-bg-blue {
    background: #0277bd;
    color: #fff;
    padding: 15px 4px;
    margin-top: -3px;
  }
  .close {
    float: right;
    font-size: 18px;
    opacity: 0.6;
  }
  .table th {
    text-transform: uppercase;
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    padding: 12px 8px;
  }
  .arrow-left .searchresult {
    font-size: 29px;
    vertical-align: sub;
    margin-right: 15px;
  }
  .cnt-min-height {
    min-height: 400px;
  }
  
  .control--checkbox .control__indicator {
    background: #ffffff;
    border: 2px solid #6d6d6d;
    border-radius: 2px;
  }
  .added-entities table thead {
    background: #f1f2f4;
  }
  .added-entities table,
  .added-entities table td {
    border: 1px solid #ddd;
  }
  .add-address-header .fa-pencil:before,
  .add-address-header .fa-trash:before {
    color: #757575;
    font-size: 22px;
    padding: 3px;
  }
  
  /***** JULY 4 **************/
  .add-address-header .table > thead:first-child > tr:first-child > th {
    border-right: 1px solid #ccc;
  }
  
  .casestop-sec {
    border: 1px solid #ccc;
    position: relative;
    font-size: 16px;
    line-height: 26px;
  }
  .casestop-sec ul {
    margin: 0;
  }
  .casestop-sec li {
    padding: 10px 20px;
    border-right: 1px solid #ccc;
  }
  .actionicons {
    position: absolute;
    right: 10px;
    bottom: calc(50% - 13px);
  }
  
  .casestop-sec .fa-pencil:before,
  .casestop-sec .fa-trash:before {
    font-size: 22px;
    padding-left: 10px;
  }
  .cases_alegation {
    background: #efefef;
    padding: 20px;
  }
  .cases_alegation-inner {
    border: 1px solid #ccc;
    background: #fff;
  }
  .cases_alegation-top {
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  .cases_alegation-content {
    padding: 15px;
    position: relative;
  }
  .cases_alegation-content .actionicons {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
  }
  .bold {
    font-weight: 600;
  }
  
  /********** dashboard css *************/
  
  .dashboard-cont .tab-content {
    background: #fff;
  }
  .dashboard-cont .nav-pills {
    border-bottom: 3px solid #ccc;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover,
  .nav-pills > li a:hover {
    border-radius: 0;
    background-color: transparent;
  }
  .dashboard-cont .nav-pills > li > a {
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #333;
    padding-left: 0;
    padding-right: 35px;
    font-weight: bold;
  }
  
  .boxgrid {
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
  }
  .dashboard-cont .search-container {
    margin-top: 2px;
    width: 400px;
  }
  .search-container input.form-control {
    padding: 4px 12px;
    font-size: 15px;
    border: 1px solid #e6e5e5;
  }
  
  .dashboard-cont .tab-horizontal li.active:after {
    width: 40px;
    height: 3px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
  }
  .dashboard-cont .tab-horizontal1 li.active:after {
    width: 40px;
    height: 3px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
  }
  .dashboard-cont .table > tbody > tr > td {
    vertical-align: middle;
  }
  .no-datatxt {
    padding: 15px;
    font-size: 16px;
  }
  .modal-content.Persons-Involved .boxgrid {
    padding: 0;
  }
  .table .control__indicator {
    top: 0;
    left: 15px;
  }
  .modal-content.Persons-Involved .bs-example {
    max-height: 350px;
    min-height: 350px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  // appeal css
  
  .form-control-size label {
    font-size: 14px;
  }
  .digit {
    background: #039be6;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
  }
  .hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
  }
  .disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
  }
  .hideDiv {
    display: none;
  }
  .desposition-table > thead {
    background: #f4f4f4;
  }
  .desposition-table > thead > tr > th {
    padding: 10px 8px;
  }
  .desposition-table > tbody > tr > td {
    padding: 15px 8px 0px;
  }
  .desposition-table > tbody > tr > td > a {
    font-size: 14px;
  }
  .desposition-table > tbody > tr > td > a > i.fa.fa-cloud-download {
    color: #039be6;
    font-size: 22px;
    cursor: pointer;
    margin-top: 8px;
  }
  .p-t-20 {
    padding-top: 20;
  }
  .btn-col {
    color: #fff;
    margin-left: 15px;
    padding: 5px;
  }
  .not-allowed {
    cursor: not-allowed;
  }
  .disabledInput button[disabled] {
    background: none;
    border: none;
  }
  .disabledInput button[disabled]:hover {
    background: none;
    border: none;
  }
  // end appeal css
  .fa-angle-down:before, .fa-angle-up:before{font-size: 18px}
  .inner-tbl table{width: 100%;}
  .inner-tbl table thead th{ background: #f1efef;}
  .inner-tbl table thead th, .inner-tbl table thead td{padding: 5px;}
  
  
  .bg-gray {
    background-color: #f8f8f8;
  }
  .panel-width{
    width: 95%;
    margin-left: 2%;
  }
  .row-center{
    margin-left: 10%;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    color: #333;
    background-color: #f5fafe;
    border-bottom: 2px solid #039be6 !important; 
  }
  .table-st{
    width: 98%;
   
    margin-left: 1%
  }
  ul li.active   {
    border-bottom: 2px solid #039be6; 
  }
  .th{
    color:#ffff !important;
  }
  
  .verticalLine {
    border-left: 1px solid black;
    min-height: 870px;
    margin-left: 47%
  }
  .verticalLine2 {
    border-left: 1px solid black;
    min-height: 1429px;
    margin-left: 52%
  }
  .verticalLine3 {
    border-left: 1px solid black;
    min-height: 500px;
    margin-left: 52%;
  
  }
  #accordion .panel-heading {
    background-color: #eee;
    padding: 0;
  }
  #accordion .panel-heading h4 {
    font-size: 14px;
    color: #3f51b5;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: 1px solid #fff;
  }
  
  .row-height{
    margin-top: 1%;
  }
  
  i.fa-calendar {
    position: absolute;
    top: 9px;
    left: auto;
    right: 14px;
    color: #19a7b8 !important;
  }
  .panel-default {
    border-color: transparent !important;
  }
  .panel-group .panel+.panel {
    margin-top: 0px !important;
  }
  .panelDefault{margin-left: 4%;
    margin-right: 5%;}
  
  
    .fac {
      position: absolute;
      top: 20% !important;
      left: 39% !important;
      right: 14px;
      color: #19a7b8 !important;
  }
  .control--checkbox[_ngcontent-c3] .control__indicator[_ngcontent-c3] {
    background: #6d6d6d !important;
    border: 2px solid #6d6d6d;
    border-radius: 2px;
}
.profile-section {
  background: #19a7b8;
}