<div role="tabpanel" class="tab-pane dd-overflow-inherit">
   <div class="cnt-min-height">
      <div class="row">
         <div class="col-sm-12">
            <h4>UIR</h4>
         </div>
         <div class="col-sm-6">
            <p class="m-t-20">Please create UIR and Add information relevant to the incident.</p>
         </div>
         <div class="col-sm-6 text-right icon">
            <button *ngIf="isClassIII" type="submit" class="btn-pri" data-target="#send-notifications" data-toggle="modal"> Send Class III Notification</button>
            <button type="submit" class="btn-pri" data-target="#add-uir" data-toggle="modal" (click)="openAddUIR()"> Create UIR</button>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-12 table-responsive">
            <table class="table customTable firsttable">
               <thead>
                  <tr>
                     <th>UIR Number</th>
                     <th>Site Id</th>
                     <th>License No</th>
                     <th>Incident Category</th>
                     <th>Date of Incident</th>
                     <th>Time of Incident</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let incident of incidents">
                     <td>{{incident.incident_no}}</td>
                     <td>{{incident.site_id}}</td>
                     <td>{{incident.license_no}}</td>
                     <td>{{incident.incident_category}}</td>
                     <td>{{incident.incident_date | date: 'MM/dd/yyyy'}}</td>
                     <td>{{incident.incident_time}}</td>
                     <td>
                        <a><i class="fa fa-pencil-square-o" (click)="editIncident(incident)"></i></a>
                        <a><i class="fa fa-trash" (click)="deleteIncident(incident)"></i></a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<div class="modal fade in" id="add-uir" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
            <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">{{titleText}} Incident Information</h4>
         </div>
         <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="incidentForm" >
               <form [formGroup]="incidentForm">
                  <ng-template matStepLabel>Basic Information</ng-template>
                  <div class="row">
                     <div class="col-md-6">
                        <h3><br></h3>
                        <mat-form-field>
                           <input type="text" matInput formControlName="incident_no" placeholder="Incident Number">
                        </mat-form-field>
                        <mat-form-field>
                           <mat-select placeholder="Please select program site" formControlName="uir_program_nm" (change)="changeSiteId($event)"required>
                              <mat-option *ngFor="let item of programName" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                           <input type="text" matInput formControlName="program_nm" placeholder="Program Name">
                        </mat-form-field>
                        <mat-form-field>
                           <input type="text" matInput formControlName="license_no" placeholder="License Number">
                        </mat-form-field>
                        <mat-form-field>
                           <input matInput [matDatepicker]="picker1" placeholder="Incident Date" formControlName="incident_date"> 
                           <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                           <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker> 
                        </mat-form-field>
                        <mat-form-field>
                           <textarea type="text" formControlName="incident_time" matInput placeholder="time of incident" ></textarea>
                        </mat-form-field>
                        <label>Is it Class III incident?</label>                
                        <mat-radio-group formControlName="uir_is_class3">
                           <mat-radio-button value="yes">Yes</mat-radio-button>
                           <mat-radio-button value="no">No</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field *ngIf="incidentForm.value.uir_is_class3=='yes'">
                           <mat-select placeholder="Class III incident types" formControlName="uir_class3" multiple>
                              <mat-option *ngFor="let item of class3Types" [value]="item">
                              {{item}}
                              </mat-option>     
                           </mat-select>
                        </mat-form-field>

                        <!-- <div  class="col-sm-12 text-left btns-top"> -->
                              <button  type="submit" class="btn-pri" (click)="addContactInfo()">+ additional contact info</button>
                        <!-- </div> -->
                        <div *ngIf="showContactInfo">
                           <mat-form-field>
                                 <input type="text" formControlName="uir_addn_phone" matInput placeholder="Phone">
                           </mat-form-field>
                           <mat-form-field>
                                 <input type="text" formControlName="uir_addn_email" matInput placeholder="Email ID">
                           </mat-form-field>
                           <!-- <div  class="col-sm-12 text-left btns-top"> -->
                                 <button  type="submit" class="btn-pri" (click)="saveContactInfo()">Save additional contact info</button>
                           <!-- </div> -->
                        </div>

                        </div>
                     <div class="col-md-6">
                        <mat-form-field>
                           <textarea type="text" formControlName="uir_adr_street_no" matInput placeholder="Street No" ></textarea>
                        </mat-form-field>
                        <mat-form-field>
                           <textarea type="text" formControlName="uir_adr_street_nm" matInput placeholder="Street Name"  ></textarea>
                        </mat-form-field>
                        <mat-form-field>
                           <textarea type="text" formControlName="uir_adr_city_nm" matInput placeholder="City Name" ></textarea>
                        </mat-form-field>
                        <mat-form-field>
                           <textarea type="text" formControlName="uir_adr_state_cd" matInput placeholder="State" ></textarea>
                        </mat-form-field>
                        <mat-form-field>
                           <textarea type="text" formControlName="uir_adr_zip_no" matInput placeholder="Zip Code" minlength=5 maxlength=5  ></textarea>
                        </mat-form-field>
                        
                        <table class="table customTable firsttable">                             
                              <tbody>
                                 <tr *ngFor="let phone of phones">
                                    <td>Phone: {{phone}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        <table class="table customTable firsttable">                             
                              <tbody>
                                 <tr *ngFor="let email of emails">
                                    <td>Email: {{email}}</td>                                   
                                 </tr>
                              </tbody>
                           </table>

                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <button class="btn-pri" mat-button matStepperNext>Next</button>                          
                        </div>
                     </div>
                  </div>
               </form>
            </mat-step>
            <div  class="row">
               <mat-step class="col-md-6" [stepControl]="incidentForm" >
                  <form [formGroup]="youthForm">
                     <ng-template matStepLabel>Youth Information</ng-template>
                     <div class="col-sm-12 text-left btns-top">
                           <button  type="submit" class="btn-pri" (click)="addYouthInfo()">+ Youth(S)</button>
                     </div>
                     <div *ngIf="showYouthinfo">
                     <div class="row">
                        <div class="col-md-6">
                           <h4>Youth</h4>                           
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_first_nm" matInput placeholder="First Name" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                                 <textarea type="text" formControlName="uir_youth_last_nm" matInput placeholder="Last Name" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_id_no" matInput placeholder="Identification Number" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker3" placeholder="Date of Birth" formControlName="uir_youth_dob"> 
                              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                              <mat-datepicker #picker3 [startAt]="startDate"></mat-datepicker> 
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_admitting_charge" matInput placeholder="Admitting Charge" ></textarea>
                           </mat-form-field>
                        </div>
                        <div class="col-md-6">
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_street_no" matInput placeholder="Street No" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_street_nm" matInput placeholder="Street Name"  ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_county" matInput placeholder="County" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_city_nm" matInput placeholder="City Name" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_state_cd" matInput placeholder="State" ></textarea>
                           </mat-form-field>
                           <mat-form-field>
                              <textarea type="text" formControlName="uir_youth_adr_zip_no" matInput placeholder="Zip Code" minlength=5 maxlength=5  ></textarea>
                           </mat-form-field>
                        </div>
                     </div>
                     </div>
                     <div  *ngIf="showYouthinfo" class="col-sm-12 text-left btns-top">
                           <button  type="submit" class="btn-pri" (click)="saveYouthInfo()">Save Added Information</button>
                     </div>
                     <div class="row">
                           <div class="col-md-12 table-responsive">
                              <table class="table customTable firsttable">
                                 <thead>
                                    <tr>
                                       <th>Name</th>
                                       <th>Identification Number </th>
                                       <th>Date of Birth</th>
                                       <th>Admitting Charge</th>
                                       <th>Address</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor="let info of youths">
                                       <td>{{info.uir_youth_last_nm}}, {{info.uir_youth_first_nm}}</td>
                                       <td>{{info.uir_youth_id_no}}</td>
                                       <td>{{info.uir_youth_dob | date: 'MM/dd/yyyy'}}</td>
                                       <td>{{info.uir_youth_admitting_charge}}</td>
                                       <td>{{info.uir_youth_adr_street_no}}, {{info.uir_youth_adr_street_nm}}, {{info.uir_youth_adr_city_nm}}, 
                                             {{info.uir_youth_adr_state_cd}}, {{info.uir_youth_adr_zip_no}}, {{info.uir_youth_adr_county}}
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        
                        <br>
                        
                        <form [formGroup]="incidentForm">
                              <div class="row">
                                    <div class="col-md-12">
                                       <label>Please enter any Additional Youth info</label>
                                       <mat-form-field>
                                          <textarea type="text" formControlName="youth_narrative" matInput placeholder="Enter information such as Color of clothing, height, weight, other known addresses, Parent Name and Parent Phone Number" ></textarea>
                                       </mat-form-field>
                                    </div>
                              </div>
                        </form>


                     <div class="row">
                        <div class="col-md-12 m-t-10">
                           <div class="pull-right">
                              <button class="btn-pri" mat-button matStepperPrevious>Back</button>
                              <button class="btn-pri" mat-button matStepperNext>Next</button>  
                           </div>
                        </div>
                     </div>
                  </form>
               </mat-step>



            </div>
            <div class="row">
               <mat-step class="col-md-6" [stepControl]="incidentForm" >
                  <form [formGroup]="incidentForm">
                     <ng-template matStepLabel>Additional Info</ng-template>
                     <div class="row">
                        <div class="col-md-6">
                           <mat-card>
                              <h4>Law Enforcement Notification</h4>
                              <mat-form-field>
                                 <input matInput [matDatepicker]="picker2" placeholder="Date" formControlName="law_enforcement_notify_date"> 
                                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                 <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker> 
                              </mat-form-field>
                              <mat-form-field>
                                 <textarea type="text" formControlName="law_enforcement_notify_time" matInput placeholder="Time" ></textarea>
                              </mat-form-field>
                              <mat-form-field>
                                 <textarea type="text" formControlName="law_enforcement_police_report_no" matInput placeholder="Police Report Number" ></textarea>
                              </mat-form-field>
                              <mat-form-field>
                                 <textarea type="text" formControlName="law_enforcement_first_nm" matInput placeholder="Contact First Name" ></textarea>
                              </mat-form-field>
                              <mat-form-field>
                                    <textarea type="text" formControlName="law_enforcement_last_nm" matInput placeholder="Contact Last Name" ></textarea>
                                 </mat-form-field>
                              <mat-form-field>
                                 <textarea type="text" formControlName="law_enforcement_phone" matInput placeholder="Contact Phone" ></textarea>
                              </mat-form-field>
                           </mat-card>
                        </div>
                        <div class="col-md-6">
                           <mat-card>
                              <h4>Program director</h4>
                              <mat-form-field>
                                 <textarea type="text" formControlName="program_director_first_nm" matInput placeholder="First Name" ></textarea>
                              </mat-form-field>
                              <mat-form-field>
                                    <textarea type="text" formControlName="program_director_last_nm" matInput placeholder="Last Name" ></textarea>
                                 </mat-form-field>
                              <mat-form-field>
                                 <textarea type="text" formControlName="program_director_phone" matInput placeholder="Phone" ></textarea>
                              </mat-form-field>
                           </mat-card>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 m-t-10">
                           <div class="pull-right">                               
                              <button  class="btn-pri" mat-button matStepperPrevious>Back</button>
                              <button  class="btn-pri"  (click)="createIncident()" mat-button (click)="stepper.reset()">SAVE</button>                               
                           </div>
                        </div>
                     </div>
                  </form>
               </mat-step>
            </div>
         </mat-horizontal-stepper>
      </div>
   </div>
</div>

<div class="modal fade in" id="send-notifications" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
            <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Send Notifications</h4>
         </div>
         <div class="row">
               <div class="col-md-12">
                     <div class="row">
                           <div class="col-md-12 table-responsive">
                              <table class="table customTable firsttable">
                                 <thead>
                                    <tr>
                                       <th>Notification will be sent to the following</th>                              
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor="let email of default_notification_emails">
                                       <td>{{email}}</td>                            
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        <h4><br></h4>
               <div class="row">
                  <div class="col-md-12 table-responsive">
                     <table class="table customTable firsttable">
                        <thead>
                           <tr>
                              <th>Additional Emails </th>                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let email of notification_emails">
                              <td>{{email}}</td>                            
                           </tr>
                        </tbody>
                     </table>
                  </div>
              </div>
            <button type="submit" class="btn-pri" (click)="addNotificationEmail()"> + Additional Email
            </button>
            <form [formGroup]="notificationEmailForm">
               <div *ngIf="showAddEmail" class="row">
                  <div class="col-md-12">
                        <mat-form-field>
                           <textarea type="text" formControlName="notificationEmail" matInput placeholder="Email" ></textarea>
                        </mat-form-field>
                        <button type="submit" class="btn-pri" (click)="saveNotificationEmail()" >Save Additional Email
                           </button>
                  </div>
               </div>
            </form>
            </div>
         </div>
         <div class="row">
               <div class="col-md-12 m-t-10">
                  <div class="pull-right">                               
                     <button  type="submit" class="btn-pri" (click)="sendNotificationEmail()">Send Notifications</button>                               
                  </div>
               </div>
            </div>
      </div>
   </div>
</div>