<h3 class="fin-h3"> MAINTENANCE AND SUBSIDY PAYMENTS </h3>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive petition-table table-theme mt-20">
            <!-- <table sortable-table (sorted)="onMaintenancePayments($event)" -->
                <table class="thead-black placement-info palcement-tb table table-striped">
                <thead>
                    <tr>
                        <!-- <th>Payment ID</th>
                        <th>Payment Date</th>
                        <th>Payment Type</th>
                        <th>Payment Status</th>
                        <th>Gross Amount</th>
                        <th>Offset Amount</th>
                        <th>Net Amount</th>
                        <th>Action</th> -->

                        <!-- Sorting commented can be reverted back -->
                        <!-- <th sortable-column="providerid" sort-direction="desc">PROVIDER ID*</th>
                        <th sortable-column="payee/providername">PAYEE/PROVIDER NAME</th>
                        <th sortable-column="providertype">PROVIDER TYPE</th>
                        <th sortable-column="mailcode">MAIL CODE</th>
                        <th sortable-column="taxid">TAX ID</th>
                        <th></th>	  -->
                        <th>PROVIDER ID*</th>
                        <th>PAYEE/PROVIDER NAME</th>
                        <th>PROVIDER TYPE</th>
                        <th>MAIL CODE</th>
                        <th>TAX ID</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="provider-details" *ngIf="providerList && providerList.length > 0">
                    <ng-container *ngFor="let item of providerList; let index = index;">
                        <tr id="provider-details-{{index}}">
                                <!-- <tr *ngFor="let transaction of sortedData"> -->
                            <td><a (click)="showProviderPopup(item.provider_id)">{{item.provider_id}}</a></td>
                            <td>{{item.provider_nm}}</td>
                            <td>{{item.providertype}}</td>
                            <td>{{item.mail_code_tx}}</td>
                            <td>{{item.tax_id_no}}</td>
                            <td>
                                <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+ index, item.provider_id,index, 'Add')"><i class="fa fa-chevron-down"
                                        aria-hidden="true"></i></a>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td>{{item.payment_id}}</td>
                            <td>{{item.payment_dt| date: 'MM/dd/yyyy' : 'UTC'}}</td>
                            <td>{{item.payment_type_nm}}</td>
                            <td>{{item.payment_status_nm}}</td>
                            <td>$ {{item.gross_amount_no ? item.gross_amount_no : '0.00'}}</td>
                            <td>$ {{item.offset_amount_no ? item.offset_amount_no : '0.00'}}</td>
                            <td>$ {{getNetAmount(item.gross_amount_no, item.offset_amount_no)}}</td>
                            <td>
                                <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+ index, item.payment_id)"><i class="fa fa-chevron-down"
                                        aria-hidden="true"></i></a>
                            </td>
                        </tr> -->

                        <tr id="accordion-tables{{index}}" class="collapse inner-tb-row fin-inner-tb">
                            <td colspan="10">

                                <div class="table-responsive table-theme">
                                    <!-- <table sortable-table (sorted)="onAccountsHeaders($event)" class="table customTable innerTable" > -->
                                        <table class="table customTable innerTable" >
                                        <thead >
                                            <!-- <tr>
                                                <th>Payment Detail Id</th>
                                                <th>Provider Id</th>
                                                <th>Client Id</th>
                                                <th>Client Name</th>
                                                <th>Category Code</th>
                                                <th>Service Start Date</th>
                                                <th>Service End Date</th>
                                                <th>Amount</th>
                                                <th>Local Department</th>
                                            </tr> -->
                                            <tr class="trow-border">
                                                <!-- <th sortable-column="paymentid" sort-direction="desc">Payment ID</th>
                                                <th sortable-column="paymendtdate" >Payment Date</th>
                                                <th sortable-column="paymenttype">Payment Type</th>
                                                <th sortable-column="paymentstatus">Payment Status</th>
                                                <th sortable-column="grossamount">Gross Amount</th>
                                                <th sortable-column="offsetamount">Offset Amount</th>
                                                <th sortable-column="netamount">Net Amount</th> -->
                                                <th>Payment ID</th>
                                                <th>Service Start Date</th>
                                                <th>Service End Date</th>
                                                <th>Payment Type</th>
                                                <th>Payment Status</th>
                                                <th>Gross Amount</th>
                                                <th>Offset Amount</th>
                                                <th>Net Amount</th>
                                                <!-- <th>Action</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr *ngFor="let payment of accountpayableList">
                                                <td (click)="selectAccountsPayable(payment)">
                                                    <a href="#" data-toggle="modal" data-target="#modal-view-finace-accountsPayable">{{payment.payment_detail_id}}</a>
                                                </td>
                                                <td>{{payment.provider_id}}</td>
                                                <td>{{payment.client_id}}</td>
                                                <td style="text-transform: capitalize;">{{payment?.client_first_nm}}&nbsp;{{payment?.client_last_nm}}</td>
                                                <td>{{payment.final_fiscal_category_cd}}</td>
                                                <td>{{payment.final_service_start_dt| date: 'MM/dd/yyyy' : 'UTC'}}</td>
                                                <td>{{payment.final_service_end_dt| date: 'MM/dd/yyyy' : 'UTC'}}</td>
                                                <td>$ {{payment.final_amount_no ? payment.final_amount_no : '0.00'}}</td>
                                                <td>{{payment.county_cd}}</td>
                                            </tr> -->
                                            <tr *ngFor="let item of accountpayableList">
                                                <!-- <td>{{item.payment_id}}</td> -->
                                                <td>
                                                    <a (click)="selectAccountsPayable(item.payment_id, item.payment_status_nm)">{{item.payment_id}}</a>
                                                    <!-- <a href="#" data-toggle="modal" data-target="#modal-view-finace-accountsPayable"></a> -->
                                                </td>
                                                <td>{{item.payment_start_dt| date: 'MM/dd/yyyy'}}</td>
                                                <td>{{item.payment_end_dt| date: 'MM/dd/yyyy'}}</td>
                                                <td>{{item.payment_type_nm}}</td>
                                                <td>{{item.payment_status_nm}}</td>
                                                <td *ngIf="item.payment_status_nm !== 'Released'">{{(item.gross_amount_no ? item.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td *ngIf="item.payment_status_nm === 'Released'">$0.00</td>
                                                <td *ngIf="item.payment_status_nm !== 'Released'">{{(item.offset_amount_no ? item.offset_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td *ngIf="item.payment_status_nm === 'Released'">$0.00</td>
                                                <td *ngIf="item.payment_status_nm !== 'Released'">{{(getNetAmount(item.gross_amount_no, item.offset_amount_no)) | cjamsCurrency}}</td>
                                                <td *ngIf="item.payment_status_nm === 'Released'">$0.00</td>
                                                <!-- <td>
                                                    <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+ index, item.payment_id)"><i class="fa fa-chevron-down"
                                                            aria-hidden="true"></i></a>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="text-center" *ngIf="totalPage > 10">
                                            <pagination id="finance-accounts-payable-nested-pagination-{{index}}" [totalItems]="totalPage" [(ngModel)]="pageInfo.pageNumber"
                                                (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                                [maxSize]="10">
                                            </pagination>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tr *ngIf="providerList?.length === 0">
                    <td colspan="6" style="text-align: center !important;">
                        No Records Found.
                    </td>
                </tr>
                <!-- <ng-template #noItems>
                    <p class="no-datatxt"> No Items! </p>
                </ng-template>
                <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
                    <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                </div> -->
            </table>
            <div class="text-center"  *ngIf="totalcount > 10">
                    <pagination id="finance-accounts-payable-pagination" [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                        [maxSize]="10">
                    </pagination>
            </div>
        </div>
    </div>
</div>
<div>
    <accountsPayable-search-view></accountsPayable-search-view>
</div>
<provider-info-popup></provider-info-popup>
