<div>
    <h3> Search Results </h3>
    <div class="table-responsive form-letter-tab" *ngIf="showTable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Official Name </th>
                    <th> DBA Name </th>
                    <th> Provider Category </th>
                    <th> Provider Type </th>
                    <th> Provider Subtype </th>
                    <th> FAC ID </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody *ngIf="searchList$ | async; let searchList">
                <tr *ngFor="let item of searchList">
                    <td> {{item.agencyname}} </td>
                    <td> </td>
                    <td>{{item.agencycategory}}</td>
                    <td>{{item.agencytypedesc}}</td>
                    <td> WAIVER </td>
                    <td> {{item.facid}} </td>
                    <td (click)="selectProvider(item)">
                        <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                            <a href="#" data-toggle="modal" data-target="#myModal-View-Details">
                                <i class="fa fa-eye font-16 site-color"> </i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <pagination [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
            </pagination>
        </div>

    </div>
</div>

<div class="modal fade custom-modal" id="myModal-View-Details" role="dialog">
    <div class="modal-dialog modal-dialog-w1050">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="True">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{selectedProvider.agencyname}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="entityDetail">
                                <div class="col-md-4 col-xs-12 border-right">
                                    <h5 class="sub-title">Entity Category &amp; Type</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Entity Category</span>
                                            <span> ASPEN</span>
                                        </li>
                                        <li>
                                            <span>Entity Type</span>
                                            <span>{{selectedProvider.agencytypedesc}}</span>
                                        </li>
                                        <li>
                                            <span>Entity Sub Type</span>
                                            <span>{{selectedProvider.agencysubtypedesc}}</span>
                                        </li>
                                        <li>
                                            <span>Status</span>
                                            <span>{{selectedProvider.status}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-xs-12 border-right">
                                    <h5 class="sub-title">Location</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Street Address</span>
                                            <span>{{selectedProvider.address}}</span>
                                        </li>
                                        <li>
                                            <span>City</span>
                                            <span>{{selectedProvider.city}}</span>
                                        </li>
                                        <li>
                                            <span>ZIP Code</span>
                                            <span>{{selectedProvider.zipcode}}</span>
                                        </li>
                                        <li>
                                            <span>County</span>
                                            <span>{{selectedProvider.state}}</span>
                                        </li>
                                        <li>
                                            <span>Region</span>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-xs-12" style="min-height: 215px;margin-top:15px;">
                                    <h5 class="sub-title">Services</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Service</span>
                                            <span>{{selectedProvider.serviceprovider}}</span>
                                        </li>
                                        <li>
                                            <span>Area Serviced</span>
                                            <span>{{selectedProvider.areaserved}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
