<div class="row">
    <div class="col-sm-12 text-right btns-top mar-vspace">
        <button class="btn-pri" data-target="#add-goals" data-toggle="modal" type="submit"><i aria-hidden="true" class="fa fa-plus"></i> Add Goals</button>
    </div>
</div>
<div class="table-responsive table-theme">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Date of Goal Created</th>
                <th>Goals</th>
                <th>Strategies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="(servicePlanGoal$ | async); let servicePlanGoal">
            <tr *ngFor="let goal of servicePlanGoal">
                <td>{{ goal.goaldate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ goalDescription[goal.goaltypekey] }}</td>
                <td>{{ goal.strategy }}</td>
                <td class="icon">
                    <i aria-hidden="true" data-target="#add-goals" data-toggle="modal" class="fa fa-pencil-square-o" (click)="editGoals(goal)"></i>
                    <i _ngcontent-c11="" aria-hidden="true" class="fa fa-trash" (click)="deleteServicePlanGoal(goal)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-goals" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" id="cls-add-goal" data-dismiss="modal" aria-label="Close" (click)="clearGoals()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{ addEditLabel }} Goals & Strategies</h4>
            </div>
            <div class="modal-body" [formGroup]="goalStrategy">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-checkbox formControlName="isprojecthome" (change)="changeGoals($event)">Project Home/AFC</mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="Goal" formControlName="goaltypekey">
                                <mat-option *ngFor="let item of (goalListDetails$ | async)" [value]="item.value">{{ item.text }}</mat-option>
                                <mat-option *ngIf="showAdditionalGoal" value="TESEA">To enable the Resident to reside in the least restrictive environment appropriate to his/her needs</mat-option>
                                <mat-option *ngIf="showAdditionalGoal" value="RARS">To assure the Resident's access to resources and services which will promote his/her physical, social, and emotional functioning in the community</mat-option>
                            </mat-select>
                            <!-- <input type="text" matInput placeholder="Goal" formControlName="goal" required> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" id="dobirth" (click)="picker.open()" [max]="maxdate" placeholder="Date of Goal Created" formControlName="goaldate" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Strategy" formControlName="strategy" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput [matDatepicker]="startpicker" id="dobirth" (click)="startpicker.open()" [max]="maxdate" placeholder="Planned Start Date" formControlName="plannedstartdate" />
                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                <mat-datepicker #startpicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput [matDatepicker]="endpicker" id="dobirth" (click)="endpicker.open()" [min]="maxdate" placeholder="Planned End Date" formControlName="plannedenddate" />
                                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                <mat-datepicker #endpicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Goals Category" formControlName="goalscategorytype">
                                <mat-option *ngFor="let item of (goalCategory$ | async)" [value]="item.value">{{ item.text }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Initial Condition" formControlName="initialcondition" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Strengths" formControlName="strengths" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Challenges" formControlName="challenges" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn-pri" type="submit" (click)="addServicePlanGoal(goalStrategy.value)" *ngIf="isAdded">Create</button>
                        <button class="btn-pri" type="submit" (click)="updateServicePlanGoal(goalStrategy.value)" *ngIf="!isAdded">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
