safety-planmain {
    border: 1px solid #ccc;
}
.safety-planmain h5 {
    font-weight: 700;
}
/* .safety-planmain .sec1, .safety-planmain .sec2, .safety-planmain .sec3{padding: 10px;} */
.sec1,
.sec2,
.sec3 {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.sec1-left,
.sec1-right {
    display: table-cell;
    text-align: center;
}
.sec1-left {
    border-right: 1px solid #ccc;
}
.sec1-right {
    width: 200px;
}
.bold {
    font-weight: 700;
}
.bdr-btm {
    border-bottom: 1px solid #ccc;
}
.pad-btm5 {
    padding-bottom: 5px;
}
.safety-planmain small {
    font-size: 13px;
    line-height: normal;
}

.safety-planmain thead {
    background: #f3f3f3;
}
.safety-planmain thead th span {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: normal;
}
.sec3,
.sec2-left,
.sec2-center,
.sec2-right {
    padding: 10px;
}
.sec2-left,
.sec2-center,
.sec2-right {
    width: 33.333%;
    display: table-cell;
}
.sec2-left,
.sec2-center {
    border-right: 1px solid #ccc;
}
.safety-planmain .table > thead > tr > th {
    width: 14%;
    vertical-align: top !important;
}
.safety-planmain .table > thead > tr > th:nth-child(3) {
    width: 32%;
}
.safety-planmain .table > thead > tr > th:nth-child(6) {
    width: 14%;
}

.action-required input {
    width: calc(100% - 88px);
    display: inline-block;
    margin-right: 10px;
}
.action-required .btn {
    min-width: 24px;
    max-width: 36px;
    vertical-align: top;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 11px;
}
textarea:focus,
input:focus,
select:focus {
    border-bottom: 1px solid #66afe9 !important;
}
.action-required-btns {
    margin-bottom: 10px;
}

.action-required-btns div {
    display: inline;
}

.btn.btn-pri.red {
    background-color: #de3636;
}
input.mat-input-element {
    margin-top: -0.0625em;
    width: 84%;
    float: left;
}
mat-datepicker-toggle.mat-datepicker-toggle {
    float: left;
    width: 1%;
}

.table-responsive {
    overflow-x: visible;
}

.safety-planmain .table-bordered .borderless tbody > tr > td {
    border: 0;
}
.safety-planmain .table-bordered .borderless tbody > tr > td:last-child {
    width: 120px;
}
.safety-planmain .gridsec .table {
    width: calc(100% - 40px);
}
.safety-planmain .gridsec {
    position: relative;
}

.safety-planmain .table > thead > tr > th {
    color: #333;
}

.custom-modal .safety-planmain .table label {
    text-align: left;
}
.gridsec{
    background:#fff;
}
.sizeA4{height: auto;}
