<div class="modal fade custom-modal" id="safetyPlanPrintView" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"> PDF Preview </h4>
            </div>
            <div class="modal-body">
                <div class="text-right big-bot-space right-mspace-15">
                    <button class="btn-pri" (click)="generatePDF()" type="button">Download</button>
                </div>
                <div class="pdf-page sizeA4 page-paddings">
                    <div class="gridsec" id="printView">
                        <section class="safety-planmain mrg-top25 dd-overflow-inherit" *ngIf="saftyPlan$ | async; let sfPlan">
                            <section class="sec1 bdr-btm">
                                <div class="sec1-left">
                                    <h3>SAFETY PLAN</h3>
                                    <p>All Action must represent specific steps toward maintaining safety of the child as it
                                        applies to an identified Danger Influence.</p>
                                </div>
                                <div class="sec1-right">
                                    <section>
                                        <h5>B. Date of SAFE-C</h5>
                                        <p>{{sfPlan.plandate | date:'MM/dd/yyyy'}}</p>
                                    </section>
                                </div>
                            </section>
                            <section class="sec2">
                                <div class="sec2-left">
                                    <h5>C. CASEHEAD'S NAME</h5>
                                    <p>{{safetyPlanView.caseHeadName}}</p>
                                </div>
                                <div class="sec2-center">
                                    <h5>D. CHILD'S NAME</h5>
                                    <p>{{safetyPlanView.childName}}</p>
                                </div>
                                <div class="sec2-right">
                                    <h5>E. CHILD'S CASE NUMBER/CASEHEAD'S ID #</h5>
                                    <p>{{safetyPlanView.daNumber ? safetyPlanView.daNumber : daNumber}}</p>
                                </div>
                            </section>
                            <section class="sec3">
                                <h5>F: DANGER INFLUENCE RESPONSES:
                                    <small>(Identify an appropriate response when deciding what action is required to complete the
                                        Safety Plan. When using one of the following responses be very clear as to whom or
                                        what resource will be supporting the family.)
                                    </small>
                                </h5>
                                <ol>
                                    <li>Use family resources,neighbors, or indivituals in the community as safety resources (Protective
                                        Factors). </li>
                                    <li>Use community agencies or services as supportive resources.</li>
                                    <li>The alleged perpetrator will leave the home. either voluntarily or in response to legal
                                        action. </li>
                                    <li>The non-maltreating caregiver will move to a safe environment with the child.
                                    </li>
                                    <li>The caregiver(s) will place the child outside the home (formal voluntary placement).
                                        <span class="bold">Note:</span>Include explanation below regarding why responses 1-4 above could not
                                        be used to keep the child safe. </li>
                                    <li>
                                        <span class="bold">Other:</span> Place explain in Section I Action Require.</li>
                                </ol>
                            </section>
                            <section class="">
                                <div class="table-responsive splan">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>DANGER INFLUENCE Number from the SAFE-C</th>
                                                <th>Specific DANGER INFLUENCE
                                                    <span>(Specifically idendify individuals and the issue.)</span>
                                                </th>
                                                <th>Action Required
                                                    <span>(Clearly identify resources/individuals and/or actions that need to accur
                                                        in order to help adddress the Danger Influences.)
                                                    </span>
                                                </th>
                                                <th>Date to be completed</th>
                                                <th>Responsible Parties</th>
                                                <th>Re-evaluation Date</th>
                                            </tr>
                                        </thead>
                                        <tr *ngFor="let data of sfPlan?.dangerinfluence">
                                            <td>{{data.dangerinfluencenumber}}</td>
                                            <td>{{data.dangerinfluencedesc}}</td>
                                            <td>
                                                <span *ngIf="data?.action && data?.action.length && data?.action[0]?.actiondescription">{{data?.action[0]?.actiondescription}}
                                                </span>
                                            </td>
                                            <td>{{data.completiondate | date:'MM/dd/yyyy'}}</td>
                                            <td>{{data.partiesname}}</td>
                                            <td>{{data.reevaluationdate | date:'MM/dd/yyyy'}}</td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">Note to the caregiver: Your signature indicates your willingness to comply
                                                    with this Safety Plan. (If you do not, comply with this Safety Plan and
                                                    your child remain "unsafe", the agency may recommend to the juvenile
                                                    that the child beplaced outside of the home.)</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>CAREGIVER SIGNATURE</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>OTHER CAREGIVER SIGNATURE</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>CHILD'S SIGNATURE(When appropriate)</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>OTHER SIGNATURE:</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>OTHER SIGNATURE:</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>LOCAL DESPARTMENT:</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Department name</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>ASSESSOR'S NAME:</td>
                                                            <td>PRINT</td>
                                                            <td>TELEPHONE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>SUPERVISOR'S NAME:</td>
                                                            <td>PRINT</td>
                                                            <td>TELEPHONE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td>ASSESSOR'S SIGNATURE:</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td colspan="3">
                                                    <table class="table borderless">
                                                        <tr>
                                                            <td> SUPERVISOR'S SIGNATURE:</td>
                                                            <td>DATE</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>{{safetyPlanView.planDate}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    Once the assessor and caregiver have signed this plan, the child may be considered "Conditionally Safe" for the safety decision.
                                                </td>
                                                <td colspan="3">
                                                    If the caregiver(s) refuses to sign this plan, the child maybe considered"Unsafe" for the safety decision.
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>