<div id="doc-type" role="dialog" data-backdrop="static" data-keyboard="false" role="dialog" style="display: block;">
  <div class="row">
    <form [formGroup]="docTypeForm" (submit)="saveItem(docTypeForm.value)">

      <div class="clearfix"></div>
      <div class="col-sm-12">
        <div class="manage-dispositions">
          <h5>Manage Doc Type:</h5>
          <div class="col-sm-5">
            <div class="fm-box">
              <label style="width:auto;">Document Type</label>
              <div class="fm-box-form col-sm-8">
                <ng-select [searchable]="true" [clearable]="false" formControlName="entityroletypekey">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let x of docTypeDropdownList$ | async | orderBy:'text'" [value]="x.value">
                    {{x.text}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class=" mrg-top25">
        <div class="col-sm-12">
            <div class="pull-right">
          <button type="submit" class="btn-bg" [disabled]="docTypeForm.parent || docTypeForm.invalid"> ADD</button>
</div>
        </div>
      </div>
    </form>

    <div class="col-sm-12">
      <div class="table-responsive mrg-top25">
        <table class="table table-striped table-hover icon-action">
          <thead>
            <tr>
              <th>Doc Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of docTypes$ | async">
              <td>{{doc.name}}</td>
              <td>
                <ul class="list-unstyled list-inline mrg-btm0">
                  <li>
                    <a href="javascript:{}" (click)="deleteDocType(doc)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
