<div class="container-fluid">
    <h3 class="pad-top20">
      <span>{{vendorHead}}</span>
    </h3> 
    <div class="row form-wrapper pad-top20">
      <div class="col-sm-12">
        <div class="head-col-3">Referral Number: {{referralId}} </div>
        <div class="head-col-2">Type: Vendor (Paid Services)</div>
        <div class="head-col-1">Created On: {{referralDate | date: 'MM/dd/yyyy'}}</div>
        <div class="head-col-3">Status: {{vendorStatus}}</div>
        <div class="head-col-4">Submitted To: {{vendorSubmittedTo}}</div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="box-grid clsMinHeight no-pad clearfix">
          <div class="row">
              <div class="col-md-12 col-lg-12">
                  <div class="tab-content">
                      <div class="no-pad">
                          <div class="tab-horizontal">
                              <div class="nav-tabs person-cus-tab-section persontabs nav-pills" id="vendor-tabs">                             
                              </div>                                                   
                              <div class="tab-content">
                                  <router-outlet></router-outlet>                               
                              </div>                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  