<form>
    <div class="row">
        <div class="left-side-filter" [formGroup]="ancillaryAdjustmentFormGroup">
            <mat-form-field>
                <input matInput placeholder="Payment Id" name="paymentid" formControlName="paymentid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="FEIN/Tax Id" name="taxid" formControlName="taxid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Vendor Id" name="providerid" formControlName="providerid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Vendor Name" name="providername" formControlName="providername">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Client Id" name="clientid" formControlName="clientid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Client Name" name="clientname" formControlName="clientname">
            </mat-form-field>
            <hr class="h-row">
            <!-- <h5>DOB Range</h5>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker6" placeholder="Start" name="dobdaterangefrom"
                            formControlName="dobdaterangefrom" (dateChange)="onChangeDate(ancillaryAdjustmentFormGroup, 'startdobdate')">
                        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker7" placeholder="End" name="dobdaterangeto"
                            formControlName="dobdaterangeto" [min]="ancillaryAdjustmentFormGroup.get('dobdaterangefrom').value">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <h5>Date Range</h5>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Start" name="daterangefrom" 
                        formControlName="daterangefrom" (dateChange)="onChangeDate(ancillaryAdjustmentFormGroup, 'startdate')">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="End" [min]="ancillaryAdjustmentFormGroup.get('daterangefrom').value" name="daterangeto" formControlName="daterangeto">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <h5>Payment Date Range</h5>
            <div>
                <mat-radio-group formControlName="ayear">
                    <mat-radio-button value="Y">12 Months</mat-radio-button>
                    <mat-radio-button>All</mat-radio-button>
                </mat-radio-group>
            </div> -->
            <button class="btn btn-pri pull-right mt-20 btn-align" (click)="searchProviders()">Go</button>
            <button class="btn btn-sec pull-right mt-20" (click)="clearSearch()">Clear</button>
        </div>
    </div>
</form>