<ng-container *ngIf="childRemovalShow; else childRemovalHide">
    
    <div class="tab-content pad-top20">
        <div class="tab-pane active" id="child-removel">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12" [formGroup]="childRemovalFormGroup">
                    <div class="child-removetab">
                        <h3 class="no-mar">Child Removal</h3>
                        <div class="row type-removal">
                            <div class="label-removal m-t-20"><p class="semi-b">Type of Removal</p></div>
                            <div class="removal-field">
                                <mat-form-field>
                                    <mat-select required formControlName="removaltypekey" placeholder="Type of Removal" (change)="showTypeofRemoval($event.value)">
                                        <mat-option *ngFor="let item of (removalTypeDropdown$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form-search-person child-person-name" style="padding:10px 0;">
                            <div class="col-sm-4">
                                <div class="form-group drop-state right-matsec">
                                    <label class="required">Child Name</label>
                                    <mat-form-field>
                                        <mat-select formControlName="intakeservicerequestactorid" placeholder="Select Child" (change)="showChildDetails()">
                                            <mat-option *ngFor="let item of childDetails" value="{{ item.value }}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>DOB</label> <span class="pad-top10 dis-in-bl"> {{ childOtherDetails?.dob | date: 'MM/dd/yyyy' }} </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Gender</label> <span class="pad-top10 dis-in-bl"> {{ childOtherDetails?.gender }} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Race</label> <span class="pad-top10 dis-in-bl"> {{ childOtherDetails?.race }} </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>School</label>
                                            <span class=" dis-in-bl">
                                                <ul style="padding-left:15px;">
                                                    <li *ngFor="let school of childOtherDetails?.schoolname">
                                                        <span class="pad-top10 dis-in-bl"> {{ school?.educationname }} </span>
                                                    </li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="">Father Name</label>
                                    <div style="width:55%; display:inline-block; margin-top: -15px;">
                                        <!-- <input type="text" formControlName="fathername" placeholder="First Name" class="form-control w-50">
                <input type="text" formControlName="fatherLastName" placeholder="Last Name" class="form-control w-50 pull-right"> -->
                                        <mat-form-field style="width:46%;"> <input type="text" formControlName="fathername" matInput placeholder="First Name" /> </mat-form-field>
                                        <mat-form-field style="width:46%;"> <input type="text" formControlName="fatherLastName" matInput placeholder="Last Name" /> </mat-form-field>
                                        <!-- <input type="text" formControlName="fathername" placeholder="" class="form-control w-50">
                <input type="text" formControlName="fatherLastName" placeholder="" class="form-control w-50 pull-right"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="">Mother Name</label>
                                    <div style="width:55%; display:inline-block; margin-top: -15px;">
                                        <!-- <input type="text" formControlName="mothername" placeholder="First Name" class="form-control w-50">
                <input type="text" formControlName="motherLastName" placeholder="Last Name" class="form-control w-50 pull-right"> -->
                                        <mat-form-field style="width:46%;"> <input type="text" formControlName="mothername" matInput placeholder="First Name" /> </mat-form-field>
                                        <!-- <input type="text" formControlName="mothername" placeholder="" class="form-control w-50"> -->

                                        <mat-form-field style="width:46%;"> <input type="text" formControlName="motherLastName" matInput placeholder="Last Name" /> </mat-form-field>
                                        <!-- <input type="text" formControlName="motherLastName" placeholder="" class="form-control w-50 pull-right"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group drop-state right-matsec">
                                    <label class="required">Child Removal Date</label>
                                    <mat-form-field>
                                        <input matInput formControlName="removaldate" [matDatepicker]="picker1" (click)="picker1.open()" id="date1" placeholder="Child Removal Date" />
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group drop-state right-matsec no-mar">
                                    <label class="required">From whom the child is being removed ?</label>
                                    <mat-form-field>
                                        <mat-select formControlName="rmvdfrmisractorid" placeholder="Select Person" (change)="enableOtherReason($event.value)">
                                            <mat-option *ngFor="let item of personDetails" value="{{ item.value }}">{{ item.text | titlecase }}</mat-option>
                                            <mat-option value="other">Others</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group"><label class="required"></label> <input type="text" formControlName="rmvdfrmpersonname" placeholder="Enter Name" class="form-control" /></div>
                                <div class="form-group right-matsec">
                                    <label class="required">Reason for Removal</label>
                                    <mat-form-field class="person-contected">
                                        <mat-select formControlName="removalreason" multiple (change)="removalReason($event.value)">
                                            <mat-select-trigger>
                                                {{ removalReasonDescription ? removalReasonDescription[0] : '' }}
                                                <span *ngIf="removalReasonSelection?.length > 1" class="example-additional-selection">
                                                    (+{{ removalReasonDescription.length - 1 }} {{ removalReasonDescription?.length === 2 ? 'other' : 'others' }})
                                                </span>
                                            </mat-select-trigger>
                                            <mat-option *ngFor="let item of (removalReasonDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group drop-state right-matsec">
                                    <label class="required">Where the child is being sent to</label>
                                    <mat-form-field>
                                        <mat-select formControlName="agencytypekey" placeholder="Choose an Option">
                                            <mat-option *ngFor="let item of (sendToDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix">
                                    <label class="required">Removal Home Address</label> <input type="text" formControlName="removaladd1" placeholder="Address Line 1" class="form-control" />
                                     <input type="text" formControlName="removaladd2" placeholder="Address Line 2" class="form-control pull-right m-t-10" />
                                </div>
                                <div class="form-group">
                                    <label class="required">Zip Code</label> <input type="text" formControlName="removalzip" placeholder="Enter Zip Code" zipcodeOnly class="form-control"/>
                                </div>
                                <div class="form-group"><label class="required">City</label> <input formControlName="removalcity" type="text" placeholder="Enter City" class="form-control" /></div>
                                <div class="form-group drop-state right-matsec">
                                    <label class="required">State</label>
                                    <mat-form-field>
                                        <mat-select formControlName="removalstatecd" placeholder="Choose an Option">
                                            <mat-option *ngFor="let item of (statesDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row boder-top" *ngIf="isCDVP" [formGroup]="cdvpFormGroup">
                            <div class="col-sm-4">
                                <div class="form-group">
                                        <label class="semi-b">Family Structure</label>
                                        <span class="required"></span>
                                    <mat-form-field>
                                        <mat-select formControlName="familystructuretypekey">
                                            <mat-option *ngFor="let item of (familyStructureDropdown$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                        <label class="semi-b">Child Removed From</label>
                                        <span class="required"></span>
                                    <mat-form-field> <input matInput formControlName="removaltypekeyform" /> </mat-form-field>
                                </div>
                                <div class="form-group">
                                        <label class="semi-b">Primary Caregiver</label>
                                        <span class="required"></span>
                                    <mat-form-field>
                                        <mat-select formControlName="primarycaregiveractorid">
                                            <mat-option *ngFor="let roles of primaryCaregiverList" [value]="roles.intakeservicerequestactorid">{{ roles.lastname + ' ' + roles.firstname }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                        <label class="semi-b">Begin Date</label>
                                        <span class="required"></span>
                                    <mat-form-field>
                                        <input matInput formControlName="vpabegindate" [matDatepicker]="picker36" (click)="picker36.open()" id="date36"/>
                                        <mat-datepicker-toggle matSuffix [for]="picker36"></mat-datepicker-toggle>
                                        <mat-datepicker #picker36></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                        <label class="semi-b">Date Parent1 Signed</label>
                                        <span class="required"></span>
                                    <mat-form-field>
                                        <input matInput formControlName="vpaparentssigneddate" [matDatepicker]="picker32" (click)="picker32.open()" id="date32"/>
                                        <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                                        <mat-datepicker #picker32></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                        <label class="semi-b">Date Agency Signed</label>
                                        <span class="required"></span>
                                    <mat-form-field>
                                        <input matInput formControlName="agencysigneddate" [matDatepicker]="picker37" (click)="picker37.open()" id="date37"/>
                                        <mat-datepicker-toggle matSuffix [for]="picker37"></mat-datepicker-toggle>
                                        <mat-datepicker #picker37></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group m-t-40">
                                    <label class="semi-b">Did both parents sign the agreement</label><span class="required"></span>
                                            <mat-checkbox  formControlName="isbothparentssigned"></mat-checkbox>
                                        </div>
                                <div class="form-group">
                                    <label class="required">Reasonable efforts made to prevent removal(or)Reasons for not making reasonable efforts</label>
                                    <mat-form-field> <input matInput formControlName="reasonableeffortsmade"/> </mat-form-field>
                                </div>
                                <div>
                                        <label class="required">Child Factors At Entry (or) Caregiver Factors At Entry</label>
                                    <mat-form-field> <input matInput formControlName="childfactorsentry"/> </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row boder-top" *ngIf="isVP" [formGroup]="vPFormGroup">
                        <div class="col-md-12">
                            <h3 class="no-mar">Voluntary Placement</h3>

                            <div class="row m-t-20 boder-btm p-b-20">
                                <div class="col-md-4">
                                    <p>Was the VPA (Time-Limited or Child With Disabilities) signed by the child's parents or legal guardian and the Agency?</p>
                                    <mat-radio-group>
                                        <mat-radio-button value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                        <mat-radio-button value="2">N/A</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-4">
                                    <p>Type of VPA</p>
                                    <mat-radio-group formControlName="typeofvpa">
                                        <mat-radio-button value="Time Limited">Time Limited</mat-radio-button>
                                        <mat-radio-button value="Child with Disability">Child with Disability</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-4">
                                    <p>Was there an EA-VPA agreement signed by the youth and the Agency in accordance with an EA-VPA referral and removal?</p>
                                    <mat-radio-group formControlName="eavpaagreementflag">
                                        <mat-radio-button value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="row m-t-20 m-b-20 boder-btm p-b-20">
                                <div class="col-md-12 m-b-20">
                                    <p class="signed-both">Did both parents sign?</p>
                                    <mat-radio-group>
                                        <mat-radio-button value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="row pd-box">
                                    <div class="col-md-4">
                                        <p class="no-mar">Date of Parent 1 Signature on VPA</p>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker2" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="no-mar">Date of Parent 2 Signature on VPA</p>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker3" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="no-mar">Date of Legal Guardian Signature on VPA</p>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker4" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                            <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-t-20 m-b-20 boder-btm p-b-20">
                                <div class="col-md-12 m-t-20">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="semi-b">ID of client who signed VPA</p>
                                            <mat-form-field> <input matInput placeholder="" /> </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="no-mar">Date of Child Placement (at the time of VPA Placement)</p>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker5" placeholder="" />
                                                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                <mat-datepicker #picker5></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 m-t-45">
                                            <p class="no-mar">Date of signature of Youth</p>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker6" placeholder="" />
                                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                                <mat-datepicker #picker6></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 m-t-45">
                                            <p class="no-mar">Date of LDSS signature on VPA agreement</p>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker7" placeholder="" />
                                                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                                <mat-datepicker #picker7></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 m-t-45">
                                            <p class="no-mar">VPA Begin Date</p>
                                            <mat-form-field>
                                                <input formControlName="dateofchildsignatureonvpa" matInput [matDatepicker]="picker8" placeholder="" />
                                                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                                <mat-datepicker #picker8></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field> <textarea matInput placeholder="Notes"></textarea> </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row m-t-20">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6"><p>Name of the individual child was physically removed from</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="nameofsubjectctwfinding" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Client ID</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="clientId" value="{{ cjamspid }}" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Relationship</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="relationshipofsubjectctwfinding" /> </mat-form-field></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6"><p>Physical removal address of the child</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicalremovaladdress" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Current physical address of child after removal (Child's current placement/Living arrangement)</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicaladdressafterremoval" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Current physical address of specified relative from whom child was removed</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="specifiedrelativephysicaladdressafterremoval" /> </mat-form-field></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row boder-top" *ngIf="isJD" [formGroup]="jDFormGroup">
                        <div class="col-md-12">
                            <h3 class="no-mar">Judicial Determination</h3>

                            <div class="row m-t-20">
                                <div class="col-md-12 judicial-rd">
                                    <p class="p-r-20">Is there a judicial finding of "Contrary to The Welfare" (CTW) of the child in the first court ruling sanctioning the removal of the child?</p>
                                    <mat-radio-group>
                                        <mat-radio-button value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="row m-t-30 boder-btm ">
                                <div class="col-md-6">
                                    <div class="row-ctw">
                                        <label>Child physical removal date</label>
                                        <mat-form-field>
                                            <input matInput formControlName="childphysicalremovaldate" [matDatepicker]="picker9" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                            <mat-datepicker #picker9></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Petition filing date</label>
                                        <mat-form-field>
                                            <input matInput formControlName="petitionfiledate" [matDatepicker]="picker10" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                            <mat-datepicker #picker10></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Date of court hearing</label>
                                        <mat-form-field>
                                            <input matInput formControlName="dateofremovalcourthearing" [matDatepicker]="picker11" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                            <mat-datepicker #picker11></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Magistrate or Judge Name</label>
                                        <mat-form-field> <input matInput placeholder="" formControlName="magistrateorjudgename" /> </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Is the order signed Judge ?</label>
                                        <mat-radio-group formControlName="judgesigned">
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="row-ctw">
                                        <label>CTW Decision</label>
                                        <mat-radio-group formControlName="ctwdecision">
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Date of finding CTW decision</label>
                                        <mat-form-field>
                                            <input matInput formControlName="dateoffindingctwdecision" [matDatepicker]="picker12" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                            <mat-datepicker #picker12></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Date of next hearing</label>
                                        <mat-form-field>
                                            <input matInput formControlName="hearingdate" [matDatepicker]="picker13" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                            <mat-datepicker #picker13></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Who is responsible for placement and care</label>
                                        <mat-form-field> <input formControlName="whoisresponsibleforplacementandcare" matInput placeholder="" /> </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Who is the subject of the Contract to The Welfare finding?</label>
                                        <mat-form-field> <input formControlName="nameofsubjectctwfinding" matInput placeholder="" /> </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Client ID of subject of CTW finding</label>
                                        <mat-form-field> <input formControlName="clientidofsubjectctwfinding" matInput placeholder="" /> </mat-form-field>
                                    </div>
                                    <div class="row-ctw">
                                        <label>Relationship of the person who is the subjet of CTW finding</label>
                                        <mat-form-field>
                                            <mat-select formControlName="relationshipofsubjectctwfinding" placeholder=""> <mat-option>Option1 </mat-option> </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row-ctw">
                                        <label>Did the physical removal from the specified relative take place by the end of the next business day following the judicial determination?</label>
                                        <mat-radio-group formControlName="physicalremovalafterdetermination">
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Removal Court Order Date</label>
                                        <mat-form-field>
                                            <input formControlName="removalcourtorderdate" matInput [matDatepicker]="picker14" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                            <mat-datepicker #picker14></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Does the Court order expressly approve a specified duration for the delay of placement into foster care?</label>
                                        <mat-radio-group formControlName="courtorderdelayremoval">
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Delay time frame ( number of days)</label>
                                        <mat-form-field> <input formControlName="courtorderdelaytimeframe" matInput placeholder="" /> </mat-form-field>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Date of reasonable efforts court hearing</label>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker15" placeholder="" />
                                            <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
                                            <mat-datepicker #picker15></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Were reasonable efforts made to prevent removal of the child</label>
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                        <mat-form-field class="conditional-field">
                                            <mat-select placeholder=""> <mat-option> </mat-option> </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Were reasonable efforts not necessary due to emergent circumstances</label>
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="row-ctw m-t-20">
                                        <label>Is shelter granted</label>
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 p-b-20 m-t-20">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6"><p>Name of the individual child was physically removed from</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="nameofsubjectctwfinding" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Client ID</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="clientId" value="{{ cjamspid }}" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Relationship</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="relationshipofsubjectctwfinding" /> </mat-form-field></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6"><p>Physical removal address of the child</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicalremovaladdress" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Current physical address of child after removal (Child's current placement/Living arrangement)</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicaladdressafterremoval" /> </mat-form-field></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><p>Current physical address of specified relative from whom child was removed</p></div>
                                        <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="specifiedrelativephysicaladdressafterremoval" /> </mat-form-field></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-b-20 m-t-20 boder-top" *ngIf="isSHB" [formGroup]="sHBFormGroup">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><p>Name of the individual child was physically removed from</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="nameofsubjectctwfinding" /> </mat-form-field></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Client ID</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="clientId" value="{{ cjamspid }}" /> </mat-form-field></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Relationship</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="relationshipofsubjectctwfinding" /> </mat-form-field></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"> <p>Physical removal address of the child</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicalremovaladdress" /> </mat-form-field></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Current physical address of child after removal (Child's current placement/Living arrangement)</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="childphysicaladdressafterremoval" /> </mat-form-field></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Current physical address of specified relative from whom child was removed</p></div>
                                <div class="col-md-6"><mat-form-field> <input matInput placeholder="" formControlName="specifiedrelativephysicaladdressafterremoval" /> </mat-form-field></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-right">
                        <!--<button
                            class="btn-pri pull-right mrgn"
                            type="submit"
                            data-toggle="modal"
                            data-target="#ChildRemovalNotification"
                            [disabled]="!!childRemovalID"
                            (click)="getNotificationRoleList()"
                        >
                            Notify
                        </button>-->
                        <button
                            class="btn-pri pull-right mrgn"
                            type="submit"
                            [disabled]="!!childRemovalID"
                            (click)="getNotificationRoleList()"
                        >
                            Notify
                        </button>
                        <button *ngIf="saveBtnDisable" class="btn-pri pull-right mrgn" type="submit" [disabled]="!!childRemovalID" (click)="submitChildRemoval()">Save</button>
                        <!-- <button class="btn-pri pull-right mrgn" type="submit" (click)="submitChildRemoval()">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Child Removal Starts -->
    <div class="tab-content pad-top20">
        <div class="tab-pane active" id="new-child-removel">
            <div class="row">
                <div class="col-md-12">
                    <div class="row person-wrap">
                        <div class="col-sm-3">
                            <div class="panel panel-default person-panel">
                                <div class="panel-heading selected-child">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4><mat-checkbox></mat-checkbox><span class="m-l-10">Rhonda Murphy</span></h4>
                                            <div class="person-role-height">
                                                <p class="designation">
                                                    Adoptive Parent
                                                    <span style="color:gray">,</span>
                                                    <span>PRNT</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <!-- <div><img src="" class="media-object" /></div> -->
                                            <div><img src="../../../../../assets/images/ic_silhouette.png" class="media-object"/></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="involved-person-tables">
                                        <tr>
                                            <th>CJAMS PID#</th>
                                            <td>:</td>
                                            <td class="single-wrap"></td>
                                        </tr>
                                        <tr>
                                            <th>D.O.B</th>
                                            <td>:</td>
                                            <td class="single-wrap"></td>
                                        </tr>
                                        <tr>
                                            <th>Gender</th>
                                            <td>:</td>
                                            <td class="single-wrap"></td>
                                        </tr>
                                        <tr>
                                            <th>SAFE-C Rating</th>
                                            <td>:</td>
                                            <td class="single-wrap"></td>
                                        </tr>
                                        <tr>
                                            <th>Removal Status</th>
                                            <td>:</td>
                                            <td class="single-wrap"></td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- <div class="panel-footer">
                                    <ul class="list-unstyled icon-btn">
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 m-t-30">
                    <h3>Child Removal</h3>

                    <!-- <div class="row bg-blue  m-t-20">
                        <div class="col-md-3">
                            <label>Selected Child Name : </label>
                            <span></span>
                        </div>
                        <div class="col-md-3">
                            <label>D.O.B : </label>
                            <span></span>
                        </div>
                        <div class="col-md-3">
                            <label>CJAMS ID : </label>
                            <span></span>
                        </div>
                        <div class="col-md-3">
                            <label>Gender : </label>
                            <span></span>
                        </div>
                    </div> -->
                    <div class="table-responsive table-theme mt-20">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Selected Child Name</th>
                                    <th>D.O.B</th>
                                    <th>Cjams ID</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 m-t-30">
                    <h5 class="h5title">Removal Information</h5>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Removal Type" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Family Structure" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Where is the child going to be placed" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <span class="display-bl">Disability<span class="required-icon star-pos"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
                            <mat-radio-group>
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput  [matDatepicker]="picker30" placeholder="Removal Date">
                            <mat-datepicker-toggle matSuffix [for]="picker30"></mat-datepicker-toggle>
                            <mat-datepicker #picker30></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Child Removed From" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Primary Caregiver" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Secondary Caregiver" required>
                                <mat-option>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 clock-icon">
                        <mat-form-field>
                            <input matInput [options]="{format: 'h:mm a'}" a2e-datetimepicker placeholder="Removal Time"
                                required >
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Removal Address">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Address of Primary Caregiver">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Address of Secondary Caregiver">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 check-block">
                        <div class="blank-height"></div>
                        <mat-checkbox>Address Verified</mat-checkbox>
                        <mat-checkbox class="m-t-30">Address Verified</mat-checkbox>
                    </div>
                </div>

                <div class="col-md-12 m-t-30">
                    <h5 class="h5title">Voluntary Placement Agreement</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker31" placeholder="Begin Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                                        <mat-datepicker #picker31></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker33" placeholder="Youth Signed Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker33"></mat-datepicker-toggle>
                                        <mat-datepicker #picker33></mat-datepicker>
                                    </mat-form-field>
                                    <div>
                                        <span>Did Both Parent Signed the agreement ? <span class="required-icon"><i class="fa fa-asterisk" aria-hidden="true"></i></span></span>
                                        <mat-radio-group>
                                            <mat-radio-button value="1">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker32" placeholder="End Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                                        <mat-datepicker #picker32></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker34" placeholder="Agency Signed Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker34"></mat-datepicker-toggle>
                                        <mat-datepicker #picker34></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker35" placeholder="Both Parent Signed Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker35"></mat-datepicker-toggle>
                                        <mat-datepicker #picker35></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="full-width required">Notes</label>
                            <div class="textarea-notes">
                                <textarea name="description" rows="5" class="form-control full-width aut-txt-addNotesNarrator"></textarea>
                            </div>
                            <div id="divEditNotes" class="textarea-icons">
                                <a href="javascript:{} ">
                                    <img src="assets/images/voice-icon-on.png ">
                                    <img src="assets/images/voice-icon-off.png ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 m-t-30">
                    <h5 class="h5title">Efforts and Factors</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Child Factors at Entry" required>
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Caregiver Factors at Entry" required>
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-select placeholder="Reasonable Efforts made to prevent child removal" required>
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    
                                    <mat-form-field>
                                        <mat-select placeholder="Reason for not making reasonable efforts" required>
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="full-width required">Notes</label>
                            <div class="textarea-notes">
                                <textarea name="description" rows="5" class="form-control full-width aut-txt-addNotesNarrator"></textarea>
                            </div>
                            <div id="divEditNotes" class="textarea-icons">
                                <a href="javascript:{} ">
                                    <img src="assets/images/voice-icon-on.png ">
                                    <img src="assets/images/voice-icon-off.png ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 m-t-30">
                    <h5 class="h5title">Exit Custody and care</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="relative(s) with Legal Custody" required>
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker37" placeholder="Return Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker37"></mat-datepicker-toggle>
                                        <mat-datepicker #picker37></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 clock-icon">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker36" placeholder="Date Child last lived with relative(s)">
                                        <mat-datepicker-toggle matSuffix [for]="picker36"></mat-datepicker-toggle>
                                        <mat-datepicker #picker36></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput [options]="{format: 'h:mm a'}" a2e-datetimepicker placeholder="Return Time"
                                            required >
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Exit Care Reason">
                                    <mat-option>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Child Removal Ends  -->

    <div class="tab-pane" id="petition"><h2></h2></div>

    <div class="modal fade" id="ChildRemovalNotification">
        <div class="modal-dialog modal-lg custom-wid">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close"><span (click)="closeNotification()" aria-hidden="true">X</span></button>
                    <h4 class="modal-title">Child Removal Notification</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive child-removetbl">
                        <table class="table tbl-action" [formGroup]="notificationFormGroup">
                            <thead class="gray-bg">
                                <tr>
                                    <th>Person Involved</th>
                                    <th>Relationship to Child</th>
                                    <th>Email ID</th>
                                    <th>Jurisdiction</th>
                                    <th>Message in Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr formArrayName="notify">
                                    <td colspan="6" style="padding: 0;">
                                        <table class="table tbl-action">
                                            <tr *ngFor="let relation of notificationFormGroup['controls'].notify['controls']; let i = index" [formGroupName]="i">
                                                <td>
                                                    <input type="hidden" formControlName="rolename" />
                                                    <label>{{ relation['controls']?.firstname.value }} {{ relation['controls']?.lastname.value }}</label>
                                                </td>
                                                <td>
                                                    <label>{{ relation['controls']?.relationship.value }}</label>
                                                </td>

                                                <td>
                                                    <mat-form-field class="full-width">
                                                        <input formControlName="email" [readonly]="relation['controls']?.ismailsent.value" matInput placeholder="Email ID" />
                                                    </mat-form-field>
                                                </td>
                                                <td class="cus-select-width">
                                                    <mat-form-field>
                                                        <mat-select
                                                            formControlName="countyid"
                                                            [disabled]="relation['controls']?.ismailsent.value"
                                                            placeholder="Jurisdiction"
                                                            (change)="changeFormJurisdiction($event, i, 1, relation.value)"
                                                        >
                                                            <mat-option *ngFor="let county of (jurisdictionDropdownItems$ | async)" [value]="county.value"> {{ county.text }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="cus-txtarea full-width">
                                                        <textarea formControlName="message" type="text" matInput placeholder="Email Message"></textarea>
                                                    </mat-form-field>
                                                </td>

                                                <td>
                                                    <button class="btn-pri" *ngIf="!relation['controls']?.ismailsent.value" type="submit" (click)="sendMail(relation.value, i, false)">
                                                        Send Mail
                                                    </button>
                                                    <button class="btn-link" *ngIf="relation['controls']?.ismailsent.value" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Sent</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label> LDSS Case Workers</label></td>
                                    <td colspan="2">
                                        <mat-form-field class="full-width ">
                                            <mat-select placeholder="Select LDSS Case Workers" formControlName="ldssCaseworkers" multiple (change)="notifyCaseWorkers($event.value)">
                                                <mat-select-trigger>
                                                    {{ caseWorkersName ? caseWorkersName[0] : '' }}
                                                    <span *ngIf="caseWorkersName?.length > 1" class="example-additional-selection">
                                                        (+{{ caseWorkersName.length - 1 }} {{ caseWorkersName?.length === 2 ? 'other' : 'others' }})
                                                    </span>
                                                </mat-select-trigger>
                                                <mat-option *ngFor="let users of caseWorkerList" [value]="users.userid">{{ users?.username }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-select formControlName="ldssCountyid" placeholder="Jurisdiction" (change)="changeJurisdiction($event)">
                                                <mat-option *ngFor="let county of (jurisdictionDropdownItems$ | async)" [value]="county.value"> {{ county.text }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="cus-txtarea full-width">
                                            <textarea type="text" formControlName="ldssMessage" matInput placeholder="Email Message"></textarea>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <button class="btn-pri" *ngIf="!ismailsent" type="submit" (click)="sendMail('', 0, true)">Send Mail</button>
                                        <button class="btn-link" *ngIf="ismailsent" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Sent</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ServiceCaseValidation">
        <div class="modal-dialog modal-lg custom-wid">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="modal-title">Service Case</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive child-removetbl">
                        <table class="table tbl-action" [formGroup]="serviceCaseFormGroup">
                            <thead class="gray-bg">
                                <tr>
                                    <th>Service Case Number</th>
                                    <th>Legal Guardian</th>
                                    <th>Start Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let case of serviceCase">
                                    <td>
                                        <label class="control control--radio">
                                            <input type="radio" name="selectedCase" (click)="selectCase(case)" class="ng-dirty ng-valid ng-touched aut-rdo-personInvolveClient">
                                            <div class="control__indicator"></div>
                                        <span>{{case.servicecasenumber}}</span></label>
                                        </td>
                                    <td>{{case.legalguardian}}</td>
                                    <td>{{case.startdate |date: 'MM/dd/yyyy'}}</td>
                                    <td>{{case.statustypekey}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input class="btn-pri pull-right mrgn" type="button"
                            (click)="createServiceCase(1)" value="Create New Case">
                        <input class="btn-pri pull-right mrgn" type="button"
                           (click)="createServiceCase(0)" value="Open Old Case">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #childRemovalHide>
    <div class="pad-top20"><p class="col-sm-12 mat-error">A child cannot be removed if not deemed 'Unsafe' by SAFE-C assessment.</p></div>
</ng-template>