.table-theme .table tr td {text-align:left !important;}
.table-theme .table tr th:nth-child(1), .table-theme .table tr td:nth-child(1) {
    min-width: 125px;
    max-width: 125px;
}
.table-theme .table tr th:nth-child(2), .table-theme .table tr td:nth-child(2) {
    min-width: 90px;
    max-width: 90px;
}
.table-theme .table tr th:nth-child(3), .table-theme .table tr td:nth-child(3) {
    min-width: 90px;
    max-width: 90px;
}
.table-theme .table tr th:nth-child(4), .table-theme .table tr td:nth-child(4) {
    min-width: 300px;
    max-width: 300px;
}
.table-theme .table tr th:nth-child(5), .table-theme .table tr td:nth-child(5) {
    min-width: 70px;
    max-width: 70px;
}

.clsHeight-250{
    height: auto;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}

