<div class="row">
    <div class="row" [formGroup]="behaviouralhealthinfoForm">
        <div class="col-sm-6">
            <p class="bg-theme">Clinician Contact Info</p>
            <mat-form-field>
                <input required formControlName="clinicianname" matInput placeholder="Clinician Name" >
            </mat-form-field>
            <mat-form-field>
                <input required matInput formControlName="address1" placeholder="Address Line 1" >
            </mat-form-field>
            <mat-form-field>
                <input formControlName="address2" matInput placeholder="Address Line 2">
            </mat-form-field>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="City" >
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="state" placeholder="State">
                            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="county" placeholder="County">
                            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput formControlName="zip" placeholder="Zip Code" >
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-t-30">
            <mat-form-field>
                <input matInput formControlName="phone"  placeholder="Phone number" mask="(000) 000-0000" >
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="currentdiagnoses" placeholder="Current Diagnosis" >
            </mat-form-field>
            <div class="row">
                <div class="col-sm-8">
                    <mat-form-field>
                        <input matInput required formControlName="reportname" placeholder="Report Name">
                    </mat-form-field>
                </div>
                <div class="col-sm-4 cusmm-fileupload">
                    <label class="btn-bs-file btn btn-pri">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }">UPLOAD
                    </label>
                </div>
            </div>

        </div>

        <div class="col-sm-12 m-b-20">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="behaviouralhealthinfoForm.pristine || behaviouralhealthinfoForm.invalid"
                        (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="behaviouralhealthinfoForm.pristine || behaviouralhealthinfoForm.invalid"
                        *ngIf="editMode === true" (click)="update()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>
        <br />
        <br />

    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="behaviouralhealthinfo.length>0">
            <div class="table-responsive table-theme table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Clinician Name</th>
                            <th>Address</th>
                            <th>Report Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let healthInfo of behaviouralhealthinfo;  let i=index">
                            <td>{{healthInfo.clinicianname}}</td>
                            <td>{{healthInfo.address1}},{{healthInfo.address2}}</td>
                            <td>
                                <a [href]="healthInfo.reportpath" target="_blank">
                                    <p>{{healthInfo.reportname}}</p>
                                </a>
                            </td>
                            <td>
                                <a (click)="view(healthInfo)">
                                    <i class="fa fa-eye text-16"></i>
                                </a> |
                                <a (click)="edit(healthInfo, i)">
                                    <i class="fa fa-pencil text-16"></i>
                                </a> |
                                <a (click)="delete(i)">
                                    <i class="fa fa-trash text-16"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>