.cus-tab-section li {
    width: 20%;
    text-align: center;
}
.cus-tab-section li a {
    padding: 0 0 5px;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 12px 15px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #00A2FD;
    display:block;
    font-weight: 500;
}
.nav-tab.cus-tab-section li.active a span.tab-txt {
    font-weight:600;
}
.nav-tab.cus-tab-section li a:hover,
.nav-tab.cus-tab-section li a:focus {
    background: #fff;
}
.cus-tab-section li:last-child.active:after,
.cus-tab-section li:last-child:after {
    height:0;
}
.cus-tab-section li:first-child.active:before,
.cus-tab-section li:first-child:before {
    height:0;
}
.cus-tab-section li:after,
.cus-tab-section li.active:after {
    background: #00A2FD;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    bottom: 27%;
    width: calc(100% - 150px);
    right: 0;
    z-index: 1;
}
.cus-tab-section li:before,
.cus-tab-section li.active:before {
    background: #00A2FD;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    bottom: 27%;
    width: calc(100% - 150px);
    left: 0;
    z-index: 1;
}
.cus-tab-section li a {
    padding: 10px 0;
}
.cus-tab-section li a:hover {
    background: #fff;
}
.cus-tab-section li.active a {
    font-weight: 600;
}
.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 3px 5px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.nav-tab {
    display: flex;
    justify-content: center;
}

.nav.nav-tab {
    // border-bottom: 5px solid #e0e8f8;
    padding: 5px 0 10px;
    margin-bottom: 25px;
    // border-top: 2px solid #e0e8f8;
}
.child-details li span {
    color:#333;
    font-weight:600;
    margin-right: 10px;
}
.child-details li {
    color:#333;
    font-weight:500;
    padding-bottom: 15px;
    width: 140px;
}
.child-details li:first-child {
    width:210px;
}
.approval {
    color:#333;
    font-weight:600;
}
.approval span {
    color:#00A2FD;
    font-weight:600;
    margin-left:10px;
}