<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          <form>
              <div class="row">
                  <div class="left-side-filter">
                      <h5>Search Filter</h5>
                      <mat-form-field>
                          <input matInput placeholder="Payment Id" value="" name="paymentid">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="FEIN/Tax Id" value="" name="feintaxid">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Provider Id" value="" name="providerid">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Provider Name" value="" name="providername">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Client Id" value="" name="clientid">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Client Name" value="" name="clientname">
                      </mat-form-field>
                      <hr class="h-row">
                      <h5>Date Range</h5>
                      <div class="row">
                          <div class="col-sm-6">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="picker" placeholder="Start" name="daterangefrom">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="picker1" placeholder="End" name="daterangeto" >
                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                          </div>
                      </div>
                      <button class="btn btn-pri pull-right mt-20" >Go</button>
                      <button class="btn btn-sec pull-right mt-20">Clear</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-md-10 m-t-30">
          <div class="row">
            <div class="col-md-12">
              <label>Provider(s) Found : </label>
              <span></span>
            </div>
            <div class="col-md-12">
                <div class="table-responsive table-theme mt-20">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Provider ID</th>
                            <th>Payee/Provider Name</th>
                            <th>Tax ID</th>
                            <th>Mail Code</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a (click)="openadjustment(payment)">12345</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
    </div>
</div> -->
<router-outlet></router-outlet>