<div id="Assessments" class="tab-pane" role="tabpanel">
  <div class="box-grid">
      <div class="">
          <div class="col-md-12">
              <h4>Assessment Template</h4>
              <div class="form-letter-tab form-align" style="margin-top: 0">
                  <div class="table-responsive">
                      <table class="table table-bordered icon-action" *ngIf="(startAssessment$ | async) as assessmentDetails">
                          <thead>
                              <tr>
                                  <th style="width: 50px;">Action</th>
                                  <th>Title</th>
                                  <th style="width: 80px; text-align:center;">Due Days</th>
                                  <!-- <th>Target</th> -->
                              </tr>
                          </thead>
                          <tbody *ngFor="let assessment of assessmentDetails; let assessmentIndex = index">
                              <ng-container *ngIf="assessment.isvisible">
                                  <tr *ngIf="(isCansfShow && assessment.external_templateid === '5b90c64e8c425c47f9dd4d41') ||
                              (assessment.external_templateid != '5b90c64e8c425c47f9dd4d41')">
                                      <td>
                                          <a data-toggle="modal" data-placement="top" title="start" data-original-title="Start" (click)="startAssessment(assessment, 'start')">
                                              <img src="assets/images/assess-start.png">
                                          </a>
                                      </td>
                                      <td class="text-caps">
                                          <a style="padding : 10px 10px 10px 10px" *ngIf="assessment?.intakassessment">
                                              <i (click)="showAssessment(assessmentIndex, assessment?.intakassessment)" [class]="showAssesment === assessmentIndex ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                  aria-hidden="true"></i>
                                          </a>
                                          <span class="tr-brd-red" *ngIf="assessment.assessmentstatustypekey == 'Open'"></span>
                                          <span class="tr-brd-orange" *ngIf="assessment.assessmentstatustypekey == 'Inprocess'"></span>
                                          <span class="tr-brd-green" *ngIf="assessment.assessmentstatustypekey == 'Submitted'"></span>
                                          {{assessment.titleheadertext}}
                                      </td>
                                      <td style="text-align: center;">{{assessment?.duedays !== '0' ? assessment?.duedays : ''}}
                                      </td>
                                      <!-- <td>{{assessment.target}}</td> -->
                                  </tr>
                              </ng-container>
                              <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                                  <td colspan="4">
                                      <table class="table table-bordered icon-action">
                                          <thead>
                                              <tr>
                                                  <th>Assessments</th>
                                                  <th>Updated By</th>
                                                  <th>Updated Date</th>
                                                  <th>Status</th>
                                                  <th>Comments</th>
                                                  <th>Actions</th>
                                              </tr>
                                          </thead>
                                          <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                              <ng-container *ngFor="let data of getAssess">
                                                  <!-- *ngIf="(data.assessmentstatustypekey !=='InProcess' && roleId.role.name === 'apcs') ||
                                                      (data.assessmentstatustypekey ==='InProcess' && roleId.role.name === 'field') " -->
                                                  <tr>
                                                      <td>{{data.titleheadertext}}</td>
                                                      <td>{{data.username}}</td>
                                                      <td>{{data.updateddate | date:'MM/dd/yyyy - h:mm a'}}</td>
                                                      <td>{{data.assessmentstatustypekey}}</td>
                                                      <td>{{data.comments}}</td>
                                                      <td class="icon-btn">
                                                          <span data-toggle="modal" *ngIf="actionIconDisplay(data, 'View')" data-toggle="modal" title="View" data-placement="top" data-original-title="View"
                                                              (click)="startAssessment(data, 'submit')">
                                                              <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                                                          </span>
                                                          <span [class]="isIconDisabled(data)" data-toggle="modal"
                                                              *ngIf="actionIconDisplay(data, 'Edit') || data.assessmentstatustypekey === 'InProcess'"
                                                              data-toggle="modal" title="Edit" data-placement="top" data-original-title="Edit"
                                                              (click)="startAssessment(data, 'update')">
                                                              <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                                          </span>
                                                          <span *ngIf="actionIconDisplay(data, 'Print')" title="Print" data-placement="top" data-original-title="Print" (click)="startAssessment(data, 'print')">
                                                              <i class="fa fa-print fa-size" aria-hidden="true"></i>
                                                          </span>


                                                          <!-- <span data-toggle="modal" *ngIf="data.assessmentstatustypekey === 'InProcess'" data-toggle="modal" title="Edit" data-placement="top" data-original-title="Edit"
                                                      (click)="startAssessment(data, 'update')">
                                                      <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                                  </span> -->
                                                          <!-- <img src="assets/images/form-letter/edit-icon.png"  (click)="submittedAssessment(assessment)"> </td> -->
                                                          <!-- assessment.assessmentstatustypekey -->
                                                  </tr>
                                              </ng-container>
                                          </tbody>
                                      </table>
                                      </td>
                              </tr>
                          </tbody>
                      </table>

                      <!-- <div class="mt-10" *ngIf="(totalRecords$ | async)?.length >0 ">
                          <pagination [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                              class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>

                      </div> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
