.search-container {
    width: 250px;
    position: absolute;
    top: 10px;
    right: 50px;
}
.search-container .form-control {
    border: 1px solid #d4d4d4;
    box-shadow: none;
}
.checkbox-container {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 50px;
}
.checkbox-container .mat-checkbox {
    margin: 0 15px;
}
.table>thead>tr>th, .fixed_header thead {
    padding-right:0;
    background: #AEBED6;

}
.fixed_header thead th, .fixed_header tbody td {
    width:190px;
    border-bottom:none;
    padding:12px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th {
    border-top:0;
}
.fixed_header tbody {
    height:240px;
}
.table-theme .table tr:hover {
    background: none;
}
.table-responsive {
    overflow-x: visible;
}

/*Media Query For CW -- IPad Responsive Design for Potrait and Landscape Mode*/
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
    .fixed_header thead th, .fixed_header tbody td {
        width:16%;
    }
    // .mt-10{
    //     margin-top:0px;
    // }
}
