<div class="modal fade in on-demand-activities" id="myModal-suggested-tasks" role="dialog" data-backdrop="static" data-keyboard="false" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">×</button>
                <h4 class="modal-title">Check List</h4>
            </div>
            <form [formGroup]="formGroup">
                <div class="modal-body modal-body-maxh">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="fm-box dd-overflow-inherit">
                                <label>Activity:</label>
                                <div class="fm-box-form dd-overflow-inherit col-sm-8">
                                    <div class="select-icon">
                                    <ng-select formControlName="selectActivityList" [searchable]="true" [clearable]="false" (change)="onChangeActivity($event)">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let item of activityDropdownItems$ | async " [value]="item.value">{{item.text}}</ng-option>
                                    </ng-select>
                                    <control-messages [control]="formGroup.controls['selectActivityList']"></control-messages>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mrg-top25">
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Suggested Tasks</b>
                                </p>
                                <div class="form-group multiple-select modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftTasks | orderBy:'name'">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="toggleTask('left', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="btn-group btn-group-re multi-slt-btn">
                                <button type="button" [disabled]="buttonStateSelected()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectAllTask()">Add All &gt; &gt;</button>
                                <button type="button" [disabled]="buttonStateSelected()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectTask()">Add &gt;</button>
                                <button type="button" [disabled]="buttonStateSelected()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectTask()">&lt; Remove</button>
                                <button type="button" [disabled]="buttonStateSelected()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectAllTask()"> &lt; &lt; Remove All</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Selected Tasks</b>
                                </p>
                                <div class="form-group multiple-select modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of rightTasks">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="toggleTask('right', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Suggested Goals</b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftGoals | orderBy:'name'">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="toggleGoal('left', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="btn-group btn-group-re multi-slt-btn">
                                <button type="button" [disabled]="buttonStateSuggested()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectAllGoals()"> Add All &gt; &gt; </button>
                                <button type="button" [disabled]="buttonStateSuggested()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectGoals()"> Add &gt; </button>
                                <button type="button" [disabled]="buttonStateSuggested()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectGoals()"> &lt; Remove</button>
                                <button type="button" [disabled]="buttonStateSuggested()" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectAllGoals()"> &lt; &lt; Remove All</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Selected Goals</b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of rightGoals">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="toggleGoal('right', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal" name="" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Cancel</button>
                            <button type="button" value="Save" class="btn-pri" name="" (click)="activitySave()" [disabled]="(rightGoals.length === 0) && (rightTasks.length === 0)">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
