<div class="tab-content">
    <div class="row" [formGroup]="uirProgramForm">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Organization Name" formControlName="provider_nm">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select required placeholder="Program Name" formControlName="program_nm"
                            (change)="changeSiteId($event)">
                            <mat-option *ngFor="let item of programNames$ | async" [value]="item.value">
                                {{item.text}}


                            </mat-option>
                        </mat-select>
                    </mat-form-field> 
                    <mat-form-field>
                        <!-- <mat-select placeholder="Program" (change)="selectedProgramNames($event)">
                            <mat-option *ngFor="let item of programsTypes$ | async" [value]="item.value">
                                {{item.text}}
                            </mat-option>
                        </mat-select> -->
                        <input matInput placeholder="Program" formControlName="program">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Program Site Id" formControlName="site_id">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Program Phone" formControlName="phone_no">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Address" formControlName="formatted_address"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Program Type" formControlName="program_type">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Reporter’s Name">
                    </mat-form-field>
                    <mat-form-field class="m-t-20">
                        <input matInput placeholder="Reporter’s Email">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Reporter’s Job Title">
                    </mat-form-field>
                    <mat-form-field class="m-t-20">
                        <input matInput placeholder="Licensing Agency">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Reporter’s Phone">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Licensing Agency Contact"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  m-t-20">
                <button class="btn btn-pri btn-theme m-l-5" (click)="submitProgram()" [disabled]="!uirProgramForm.valid">Save Program</button>
            </div>
        </div>
    </div>
</div>