<div class="box-grid-main clsMinHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
            
                
                    <div class="col-sm-12">
                        <div class="text-right m-t-20">
                            <button type="submit"  *ngIf="!isProvider" class="btn-pri" (click)="viewVisit({},1)">Add Monitoring</button>
                        </div>
                    </div>
            
                
                    <div class="col-md-12 m-t-20">
                        <div class="table-responsive table-theme">
                            <table class="table table-striped icon-action no-mar">
                                <thead>
                                <tr>
                                    <th>Visit Id</th>
                                    <th>Program Type</th>
                                    <th>Visit Date</th>
                                    <th>Visit End Date</th>
                                    <th>Time of Visit</th>
                                    <th>Periodic</th>
                                    <th>Announcement</th>
                                    <th>Complaint</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let obj of visitationList">
                                        <td><a (click)="navigatetomonitor(obj)">{{obj.monitoring_id}}</a></td>
                                        <td>{{obj.prgram}}</td>
                                        <td>{{obj.monitoring_dt | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{obj.end_dt | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{obj.time_visit }}</td>
                                        <td>{{obj.periodic}}</td>
                                        <td>{{obj.announced_cd}}</td>
                                        <td>{{obj.complaint_number}}</td>
                                        <td>{{(obj.status)? obj.status:'Draft'}}</td>
                                        <td>
                                            <button class="no-bg" (click)="viewVisit(obj,0)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                            <button class="no-bg" (click)="viewVisit(obj,1)" *ngIf="!isProvider"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            <button class="no-bg" title="Download"  *ngIf="isProvider" (click)="download(obj.monitoring_id)"><i class="fa fa-download" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false"
    id="visitation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="onClose()">×</button>
                <h4 class="modal-title">Add Monitoring</h4>
            </div>
            <!-- [formGroup]="formGroup" -->
            <div class="modal-body modal-body-maxh">
                <form [formGroup]="visitationForm">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Select Program" formControlName="prgram" required>
                                    <mat-option *ngFor="let item of programList" value="{{item.programtype}}">
                                        {{item.programtype}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Select Periodic" formControlName="periodic">
                                    <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input required matInput [matDatepicker]="pickermm1" placeholder="Visitation Date"
                                    class="aut-dtp-courtorderDate" (click)="pickermm1.open()" 
                                    formControlName="monitoring_dt" />
                                <mat-datepicker-toggle matSuffix [for]="pickermm1"></mat-datepicker-toggle>
                                <mat-datepicker #pickermm1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input  matInput [matDatepicker]="pickermm2" placeholder="Visitation End Date"
                                     (click)="pickermm2.open()"
                                    formControlName="end_dt" />
                                <mat-datepicker-toggle matSuffix [for]="pickermm2"></mat-datepicker-toggle>
                                <mat-datepicker #pickermm2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Time Of Visit" formControlName="time_visit">
                                    <mat-option *ngFor="let item of timeOfVisit" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Announced/Unannounced" formControlName="announced_cd">
                                    <mat-option *ngFor="let item of visitSchedule" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Jointly Inspected with" formControlName="inspectedwith">
                                    <mat-option *ngFor="let item of jointinspectionlist" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                       
                                <mat-select formControlName="provider_complaintid" placeholder = "Complaint">
                                 <mat-option>
                                 </mat-option>
                                 <mat-option *ngFor="let  option of compliants" [value]="option.provider_complaintid">{{option.complaint_number}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                <button *ngIf="visitationForm.enabled" type="button" value="Save" class="btn-pri" name="" (click)="addVisitation()">Save</button>
            </div>
        </div>
    </div>
</div>