<div class="col-sm-3">
  <div class="case-profile">
    <img src="assets/images/ic_silhouette.png">
    <div class="case-profile-details">
        <h5 class="name">{{personService.person.firstname}}&nbsp;{{personService.person.lastname}}</h5>
        <p class="role">Gender: &nbsp;{{personService.person.gendertypekey}}</p>
    </div>
  </div>
</div>

<div class="col-sm-9">    
      <router-outlet></router-outlet>
</div>
