.case-profile {
    margin: 0 auto;
    width: 150px;
    border: 1px solid #e0e8f8;
    text-align: center;
}
.case-profile img {
    width: 150px;
    height: 150px;
}
.case-profile-details {
    background: #e0e8f8;
    padding:5px;
    // text-align: left;
}
.case-profile h5.name {
    font-weight: 700;
    font-size: 14px;
    color: #333;
    margin: 0 0 5px 0;
}
.case-profile p.role {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #545454;
    margin-bottom: 0;
}
.parent-details {
    margin-top: 20px;
    position: relative;
}
.parent-details li {
    padding: 5px;
    margin-bottom: 15px;
    border:2px solid #e0e8f8;
    background: #fff;
}
.parent-details img.media-object {
    width: 100px;
}
.parent-details h4.media-heading {
    font-size: 15px;
    font-weight: 600;
}
.parent-details p {
    font-weight: 600;
    font-size: 13px;
    color: #545454;
}