<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          <adjustment-search  (searchEmitter)="getFilteredProviders(1)"></adjustment-search>
      </div>
      <div class="col-md-10 m-t-10">
        <div class="row">
          <div class="col-md-12">
              <h3 class="fin-h3">Ancillary Payments Adjustment</h3>
          </div>
        </div>
          <div class="row">
            <div class="col-md-12">
              <label>Provider(s) Found : </label>
              <span></span>
            </div>
            <div class="col-md-12">
                <div class="table-responsive table-theme mt-20">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Vendor ID</th>
                            <th>Payee/Vendor Name</th>
                            <th>Tax ID</th>
                            <th>Mail Code</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="providerList">
                          <tr *ngFor="let provider of providerList">
                            <td><a (click)="openadjustment(provider)">{{provider.provider_id}}</a></td>
                            <td>{{provider.provider_nm}}</td>
                            <td>{{provider.tax_id_no}}</td>
                            <td>{{provider.mail_code_tx}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="totalcount > 10">
                        <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                            (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                            [maxSize]="10">
                        </pagination>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
