<div class="tab-content no-shadow">
  <div id="legal-action-history" class="tab-pane fade in active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-12">
          <h4>Legal Actions History</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 m-t-20">
          <div class="table-responsive table-theme">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Intake #</th>
                  <th>Case #</th>
                  <th>Complaint ID</th>
                  <th width='150'>Offenses</th>
                  <th>Offense Date</th>
                  <th>County</th>
                  <th>Petitions</th>
                 <!--  <th>Status</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of legalActionsHistories">
                  <td><a class="theme-text" (click)="openIntake(item)">{{item?.intakenumber}}</a></td>
                  <td><a class="theme-text" *ngIf="item.assigneduserid" (click)="openCase(item)">{{item?.servicerequestnumber}}</a></td>
                  <td><a class="theme-text" (click)="openComplaintDetail(item)">{{item?.complaintid}}</a></td>
                  <td>{{item.allegationname}}</td>
                  <td>{{item.offensedate}}</td>
                  <td>{{item.countyname}}</td>
                  <td>{{item.petition}}</td>
                 <!--  <td>{{item.status}}</td> -->
                  <td> <a (click)="openComplaintDetail(item)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="legalActionsHistories?.length ===0">
                  <td colspan="7">No Records found</td>
                </tr>


              </tbody>
            </table>
            <div class="text-center m-t-20" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
              <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>