.clsSocial_table {
	.table{
		thead, tbody{
			tr{
				th, td{
					min-width: 150px;
					max-width: 150px;

					&:nth-child(1){
						min-width: 100px;
						max-width: 100px;
					}
					&:nth-child(2){
						min-width: 180px;
						max-width: 180px;
					}
					&:nth-last-child(2){
						min-width: 110px;
						max-width: 110px;
					}
					&:nth-last-child(1){
						min-width: 90px;
						max-width: 90px;
						vertical-align: middle;
						ul{
							margin-top: 20px;
						}
					}
				}
				td{
					padding: 0px 8px;
				}
			}
		}
		.mat-form-field-infix{
			width: 100%;
		}
		.mat-form-field {
		    display: block !important;
		}
	}
}