.signature-container {
    touch-action: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 5px inset;
    border: 1px solid rgb(244, 244, 244);
    background: #eee;
}

@media (min-width: 768px) and (max-width: 1025px) {
    .table-bordered.table {
        width: 100% !important;
    }
}

.panel-default {
    border-color: #00a2fd;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #00a2fd3b;
    border-color: #00a2fd;
}

.panel-title a{
    position: relative;

    &:after{
        position: absolute;
        display: block;
        content: "\f107";
        top: 15px;
        right: 10px;
        font-family: 'FontAwesome';
    }
    &[aria-expanded="true"]:after{
        content: "\f106";
    }
}