<div class="panel-body no-pad">
  <div class="panel-group" id="accordion1">
    <div class="panel panel-default">
      <div class="panel-heading panel-width no-pad">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOone1" aria-expanded="true">
            <b> CHILD STATUS INFORMATION</b></a>
        </h4>
      </div>
      <div id="collapseOone1" class="panel-collapse collapse in">
        <div class="panel-body">
          <form [formGroup]="ChildStatusInfo" (ngSubmit)="ChildStatusInfoSubmit()">
            <table class="table table-bordered" style="width: 35%;">
              <tr style="width: 70%">
                <td>
                  <p>Child Age</p>
                </td>
                <td style="width: 30%">
                  <!-- {{ChildStatusInfo.value.AgeOfChild}} -->
                </td>
              </tr>

              <tr style="width: 70%">
                <td>
                  <p>Child's expected adoption date</p>
                </td>
                <td>
                  {{ChildStatusInfo.value.ChildExpectedAdoptionDate | date:
                                  'MM/dd/yyyy'}}
                </td>
              </tr>
              <tr>
                <td>
                  <p>Has the child been in care for 60 months or more ?</p>
                </td>
                <td>
                  {{ChildStatusInfo.value.ChildHasBeenInCare60Months}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> Removal date of current episode: </p>
                </td>
                <td>
                  {{ChildStatusInfo.value.Child_Removal_Date}}
                </td>
              </tr>
              <tr>
                <td style="width: 70%">

                  <p>Is the child a sibling to a child who qualifies as an
                    applicable child by age or length of care and is being
                    placed in the same adoptive home?</p>
                </td>
                <td style="width: 30%">
                  {{ChildStatusInfo.value.SiblingAdoptionApplicable}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> Name of sibling child </p>
                </td>
                <td>
                  {{ChildStatusInfo.value.SiblingName}}
                </td>
              </tr>


              <tr>
                <td>
                  <p> Date of sibling's adoption decree </p>
                </td>
                <td>
                  {{ChildStatusInfo.value.SiblingAdoptionDecreeDate | date:
                                  'MM/dd/yyyy'}}
                </td>
              </tr>

              <tr>
                <td>
                  <p> Name of Adoptive Placement</p>
                </td>
                <td>
                  {{ChildStatusInfo.value.SiblingAdoptiveProviderID}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> Date of sibling's applicable child assessment</p>
                </td>
                <td>
                  {{ChildStatusInfo.value.SiblingApplicableChildAssessmentDate | date:
                                  'MM/dd/yyyy'}}
                </td>
              </tr>

            </table>
            <!-- <div class="row" style="float:right">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#UpdateChildStatus">UPDATE
                          </button>
                      </div>
                      <div class="modal fade" id="UpdateChildStatus" role="dialog">
                          <div class="modal-dialog" style="width: 78%;">

                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row" class="panel-body" style="margin-left: 2%; margin-right: 40%;">

                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>Age of Child</p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>Child's expected adoption date</p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">

                                              <input class="form-control" formControlName="ChildExpectedAdoptionDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{ChildStatusInfo.value.ChildExpectedAdoptionDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>

                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>Has the child been in care for 60
                                                      months
                                                      or more ?</p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <mat-radio-group formControlName="ChildHasBeenInCare60Months">
                                                <div class="col-md-6">
                                                    YES <mat-radio-button name="EA_VPA" class="example-radio-button"
                                                        value="Yes"></mat-radio-button>
                                                </div>
                                                <div class="col-md-6">
                                                    NO <mat-radio-button name="EA_VPA" class="example-radio-button"
                                                        value="No"></mat-radio-button>
                                                </div>
                                            </mat-radio-group>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>Is the child a sibling to a child
                                                      who
                                                      qualifies as an applicable child by
                                                      age
                                                      or length of care and is being
                                                      placed
                                                      in the same adoptive home?</p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="EA_VPA" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="EA_VPA" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>
                                                      Name of sibling child
                                                  </p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <input type="text" formControlName="SiblingName" class="form-control"
                                                  placeholder="Name" />
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>
                                                      Date of sibling's adoption decree
                                                  </p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <input class="form-control" formControlName="SiblingAdoptionDecreeDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{ChildStatusInfo.value.SiblingAdoptionDecreeDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>
                                                      Date of sibling's applicable child
                                                      assessment
                                                  </p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <input class="form-control" formControlName="SiblingApplicableChildAssessmentDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{ChildStatusInfo.value.SiblingApplicableChildAssessmentDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-md-7">
                                              <span>
                                                  <p>
                                                      Provider ID for Sibling's adoptive
                                                      placement
                                                  </p>
                                              </span>
                                          </div>
                                          <div class="col-md-5">
                                              <input type="text" formControlName="SiblingAdoptiveProviderID"
                                                  class="form-control" placeholder="ID" />
                                          </div>
                                      </div>
</div>

                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                                  </div>
                              </div>
                          </div>
                      </div> -->

          </form>
        </div>
      </div>
    </div>
    <!-- <div id="collapseOone1" class="panel-collapse collapse">
            <div class="panel-body" style="margin-left: 2%;">
                <form [formGroup]="ChildStatusInfo" (ngSubmit)="ChildStatusInfoSubmit()">
                    
                    <button type="submit" style="margin-left: 93%"
                        class="btn btn-info">Reset</button>
                </form>
            </div>
        </div> -->


    <div class="panel panel-default">
      <div class="panel-heading panel-width no-pad">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOone2" aria-expanded="false">
            <b> PLACEMENT AND MEDICAL INFORMATION </b></a>
        </h4>
      </div>
      <div id="collapseOone2" class="panel-collapse collapse">
        <div class="panel-body">
          <form [formGroup]="PlacementAndMedicalInfo" (ngSubmit)="PlacementAndMedicalInfoSubmit()">
            <table class="table table-bordered" style="width: 35%;">
              <tr>
                <td style="width: 75%">
                  <p> An involuntary removal in accordance with a judicial
                    determination that it is contrary to the child’s welfare to
                    remain in the home?</p>
                </td>
                <td style="width: 25%">

                </td>
              </tr>
              <tr>
                <td>
                  <p>Date of Removal Court Order</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. Removal_Court_Order_Date | date:
                                  'MM/dd/yyyy'}}
                </td>
              </tr>
              <tr>
                <td>
                  <p>Date of first court order with contrary to welfare finding:</p>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td>
                  <p>A voluntary placement agreement?</p>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <p>Date of Child Removal</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. Child_Removal_Date | date:
                                  'MM/dd/yyyy'}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> A voluntary relinquishment?</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. VoluntaryRelinquishment}}
                </td>
              </tr>

              <tr>
                <td>
                  <p> Does the child meet all medical and disability eligibility
                    requirements of SSI? </p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. ChildMeetsSSIMedicalDisabledEligReqts}}
                </td>
              </tr>
              <tr>
                <td>
                  <p>Was child receiving SSI at removal?</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. ChildReceivingSSIAtRemoval}}
                </td>
              </tr>

              <tr>
                <td>
                  <p>On what date did child begin receiving SSI?</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. StartDateOfReceivingSSI}}
                </td>
              </tr>

              <tr>
                <td>
                  <p> Is the child residing in a foster family home or childcare
                    institution with their minor parent who was removed with
                    CTW or voluntary placement agreement?</p>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td>
                  <p>Name of Minor Parent</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. MinorParentName}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> Removal court order date for minor parent</p>
                </td>
                <td>
                  {{PlacementAndMedicalInfo.value. MinorParentRemovalCourtOrderDate | date:
                                      'MM/dd/yyyy'}}
                </td>
              </tr>
              <tr>
                <td>
                  <p> Date of Minor Parents first court with contrary to welfare finding</p>
                </td>
                <td>

                </td>
              </tr>




              <!-- <tr>
                              <td>
                                  <p>Date of birth of minor parent</p>
                              </td>
                              <td>
                                  {{PlacementAndMedicalInfo.value. MinorParentDateOfBirth | date:
                                  'MM/dd/yyyy'}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <p> Removal type for minor parent</p>
                              </td>
                              <td>

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <p>Current placement type for minor parent</p>
                              </td>
                              <td>
                                  {{PlacementAndMedicalInfo.value. MinorParentCurrentPlacementType}}
                              </td>
                          </tr>

                          <tr>
                              <td>
                                  <p>Physical address of minor parent</p>
                              </td>
                              <td>
                                  {{PlacementAndMedicalInfo.value. MinorParentPhysicalAddress}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <p>Physical address of child</p>
                              </td>
                              <td>
                                  {{PlacementAndMedicalInfo.value. ChildPhysicalAddress}}
                              </td>
                          </tr> -->


            </table>
            <!-- <div class="row" style="float:right">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#PlacementAndMedicalUpdate"
                              (click)="updateFormFields('PlacementAndMedicalInfo')">UPDATE
                          </button>
                      </div>
                      <div class="modal fade" id="PlacementAndMedicalUpdate" role="dialog">
                          <div class="modal-dialog" style="width: 78%;">

                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  1.
                                                  <p style="margin-top: -3%;margin-left: 2%;">
                                                      Is the child in care of a public
                                                      agency
                                                      or licensed child placement agency
                                                      pursuant
                                                      to :
                                                  </p>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span style="margin-left: 3%;">a.<p style="margin-top: -3%;margin-left:5%;">
                                                      An involuntary removal in
                                                      accordance
                                                      with a judicial determination that
                                                      it
                                                      is contrary to the child’s welfare
                                                      to
                                                      remain in the home?</p></span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>

                                          </div>
                                      </div>
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Date of
                                                      Removal
                                                      Court Order</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="Removal_Court_Order_Date"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.Removal_Court_Order_Date | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span style="margin-left: 3%;">b.<p style="margin-top: -3%;margin-left:5%;">A
                                                      voluntary placement agreement?</p></span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Date of
                                                      Child
                                                      Removal</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="Child_Removal_Date"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.Child_Removal_Date | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span style="margin-left: 3%;">c.<p style="margin-top: -3%;margin-left: 5%;">A
                                                      voluntary relinquishment?</p></span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group formControlName="VoluntaryRelinquishment">
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>2.<p style="margin-top: -3%;margin-left: 2%;">Does
                                                      the child meet all medical and
                                                      disability eligibility requirements
                                                      of
                                                      SSI?</p></span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group formControlName="ChildMeetsSSIMedicalDisabledEligReqts">
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>


                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Was child
                                                      receiving SSI at removal?</p>
                                              </span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group formControlName="ChildReceivingSSIAtRemoval">
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">OR, on what
                                                      date did child begin
                                                      receiving SSI?</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="StartDateOfReceivingSSI"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.StartDateOfReceivingSSI | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>3.<p style="margin-top: -3%;margin-left: 2%;">Is
                                                      the child residing in a foster
                                                      family home or childcare
                                                      institution
                                                      with their minor parent who was
                                                      removed
                                                      with CTW or voluntary placement
                                                      agreement?</p></span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Name of
                                                      Minor
                                                      Parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input type="text" formControlName="MinorParentName" class="form-control"
                                                  placeholder="">
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Date of
                                                      birth
                                                      of minor parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="MinorParentDateOfBirth"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.MinorParentDateOfBirth | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Removal
                                                      typefor
                                                      minor parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button name="yes" class="example-radio-button"
                                                          value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">

                                                      NO <mat-radio-button name="yes" class="example-radio-button"
                                                          value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Removal
                                                      date
                                                      for minor parent ( VPA)</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="MinorParentRemovalDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.MinorParentRemovalDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Removal
                                                      court
                                                      order date for minor parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <input class="form-control" formControlName="MinorParentRemovalCourtOrderDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{PlacementAndMedicalInfo.value.MinorParentRemovalCourtOrderDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>
                                      </div>
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Current
                                                      placement type for minor parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-3">
                                              <mat-form-field>
                                                  <mat-select formControlName="MinorParentCurrentPlacementType"
                                                      placeholder="Relationship">
                                                      <mat-option value="FosterFamilyHome">FosterFamilyHome</mat-option>
                                                      <mat-option value="y">y</mat-option>
                                                      <mat-option value="z">z</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Physical
                                                      address of minor parent</p>
                                              </span>
                                          </div>
                                          <div class="col-md-4">
                                              <textarea formControlName="MinorParentPhysicalAddress"></textarea>
                                          </div>
                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <span>
                                                  <p style="margin-left: 3%;">Physical
                                                      address of child</p>
                                              </span>
                                          </div>
                                          <div class="col-md-4">
                                              <textarea formControlName="ChildPhysicalAddress"></textarea>
                                          </div>
                                      </div>


                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-info" data-dismiss="modal" (click)="removalType()">Save</button>
                                  </div>
                              </div>
                          </div>
                      </div> -->

          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading panel-width no-pad">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOone3" aria-expanded="false">
            <b> SPECIAL NEEDS OF CHILD</b></a>
        </h4>
      </div>
      <div id="collapseOone3" class="panel-collapse collapse">
        <div class="panel-body">
          <form [formGroup]="SpecialNeedsOfChild">
            <table class="table table-bordered" style="width: 35%;">
              <tr>
                <td style="width: 75%;">
                  <p>Can the child be returned to the home of the parent?</p>
                </td>
                <td style="width: 25%;">
                  {{SpecialNeedsOfChild.value.ChildCanReturnToHome}}
                </td>
              </tr>
              <tr>
                <td>
                  Explain why child cannot or should not be returned to the home
                  of the parent
                </td>
                <td>
                  N/A
                  <!-- {{SpecialNeedsOfChild.value.ChildNotReturnHomeExplanation}} -->
                </td>
              </tr>
              <tr>
                <td>
                  Does the child meet all medical disability requirements for SSI
                  ?
                </td>
                <td>
                  {{SpecialNeedsOfChild.value.ChildMeetsSSIMedicalDisabilityReqts}}
                </td>
              </tr>
              <tr>
                <td>
                  Does the child meet one of the following special needs factors:
                </td>
                <td>
                  {{SpecialNeedsOfChild.value.ChildHasPhysicalMentalEmotionalDisability}} <br />
                  {{SpecialNeedsOfChild.value.ChildHasEmotionalDisturbance}} <br />
                  {{SpecialNeedsOfChild.value.ChildHasHighRiskOfDisability}}<br />
                  {{SpecialNeedsOfChild.value.ChildRaceEthnicity}}<br />
                </td>
              </tr>
              <tr>
                <td>
                  <p> Describe in detail the reasonable but unsuccessful efforts that have been
                    made to place child without assistance</p>
                </td>
                <td>
                  {{SpecialNeedsOfChild.value.ChildAdoptionUnsuccessfulEffortsToPlace}}
                </td>
              </tr>
              <tr>
                <td>
                  <p>Is the child being adopted by their foster parent and has
                    significant emotional ties with that person?</p>
                </td>
                <td>
                  {{SpecialNeedsOfChild.value.ChildHasFosterParentEmotionalTies}}
                </td>
              </tr>
            </table>



            <!-- <div class="row" style="float:right">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#UpdateSpecialNeeds">UPDATE
                          </button>
                      </div> -->
            <div class="modal fade" id="UpdateSpecialNeeds" role="dialog">
              <div class="modal-dialog" style="width: 78%;">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <span>1.
                          <p style="margin-top: -3%;margin-left: 2%;">
                            Can the child be returned to the
                            home
                            of the parent?
                          </p>
                        </span>
                      </div>
                      <div class="col-md-4">
                        <mat-radio-group formControlName="ChildCanReturnToHome">
                          <div class="col-md-6">
                            YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                          </div>
                          <div class="col-md-6">
                            NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>

                    </div>
                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>
                          <p style="margin-left: 2%;">
                            Explain why child cannot or should not be returned to the
                            home of the parent
                          </p>
                        </span>
                      </div>
                      <div class="col-md-4">
                        <textarea>



                                              </textarea>
                      </div>

                    </div>


                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>2.
                          <p style="margin-top: -3%;margin-left: 2%;">
                            Does the child meet all medical
                            disability requirements for SSI ?
                          </p>
                        </span>
                      </div>
                      <div class="col-md-4">
                        <mat-radio-group>
                          <div class="col-md-6">
                            YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                          </div>
                          <div class="col-md-6">
                            NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>

                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>
                          <p style="margin-left: 2%;">
                            Does the child meet one of the
                            following special needs factors:
                          </p>
                        </span>
                      </div>
                    </div>
                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label style="margin-left: 85%;">
                          <!-- <input type="checkbox" value="{{SpecialNeedsOfChild.value.ChildHasPhysicalMentalEmotionalDisability}}" formControlName="ChildHasPhysicalMentalEmotionalDisability"/>   -->
                          <mat-checkbox formControlName="ChildHasPhysicalMentalEmotionalDisability">
                          </mat-checkbox>
                        </label>

                      </div>
                      <div class="col-md-5">
                        <p>Child is 6-17 years of age</p>
                      </div>
                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label style="margin-left: 85%;">
                          <mat-checkbox formControlName="ChildHasPhysicalMentalEmotionalDisability">
                          </mat-checkbox>


                        </label>
                      </div>
                      <div class="col-md-5">
                        <p>Physical, mental or emotional disability
                          or
                          disease (medical documentation
                          required)</p>
                      </div>


                    </div>


                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label class="control control--checkbox" style="margin-left: 85%;">
                          <input type="checkbox">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                      <div class="col-md-5">
                        <p>Emotional disturbance (medical
                          documentation
                          required)</p>
                      </div>
                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label class="control control--checkbox" style="margin-left: 85%;">
                          <input type="checkbox">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                      <div class="col-md-5">
                        <p>Membership in sibling group</p>
                      </div>
                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label class="control control--checkbox" style="margin-left: 85%;">
                          <input type="checkbox">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                      <div class="col-md-5">
                        <p>Recognized high risk of physical or
                          mental
                          disability or disease (document
                          explanation
                          in Case plan 1)</p>
                      </div>
                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-1">
                        <label class="control control--checkbox" style="margin-left: 85%;">
                          <input type="checkbox">
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                      <div class="col-md-5">
                        <p>Race or ethnicity – in combination with
                          one
                          of the other factors</p>
                      </div>
                      <div class="col-md-4">
                        <mat-checkbox value="{{SpecialNeedsOfChild.value.ChildRaceEthnicity}}"
                          formControlName="ChildRaceEthnicity">
                        </mat-checkbox>
                        <!-- <mat type="text"  value="{{SpecialNeedsOfChild.value.ChildRaceEthnicity}}" placeholder="Enter race / ethnicity" formControlName ="ChildRaceEthnicity"/> -->

                      </div>
                    </div>
                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>
                          <p style="margin-left: 2%;">
                            Is the child being adopted by their
                            foster parent and has significant
                            emotional ties with that person?
                          </p>
                        </span>
                      </div>
                      <div class="col-md-4">
                        <mat-radio-group formControlName="ChildHasFosterParentEmotionalTies">
                          <div class="col-md-6">
                            YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                          </div>
                          <div class="col-md-6">
                            NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>
                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>
                          <p style="margin-left: 2%;">
                            Were the efforts made to place
                            child
                            without assistance unsuccessful?
                          </p>
                        </span>
                      </div>
                      <div class="col-md-4">
                        <mat-radio-group formControlName="ChildAdoptionUnsuccessfulEffortsToPlace">
                          <div class="col-md-6">
                            YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                          </div>
                          <div class="col-md-6">
                            NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                          </div>
                        </mat-radio-group>
                      </div>


                    </div>

                    <div class="row" style="margin-top:2%">
                      <div class="col-md-6">
                        <span>
                          <p style="margin-left: 2%;">
                            Describe in detail the reasonable
                            but
                            unsuccessful efforts made
                          </p>
                        </span>

                      </div>
                      <div class="col-md-4">
                        <textarea></textarea>
                      </div>


                    </div>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal"
                      (click)="removalType()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>



          <!-- <form [formGroup]="SpecialNeedsOfChild">
                   
                    <button type="submit" style="margin-left:93%" class="btn btn-info">Reset</button>
                </form> -->
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading panel-width no-pad">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOone4" aria-expanded="false">
            <b>APPLICABLE CHILD ASSESSMENT STATUS </b></a>
        </h4>
      </div>
      <div id="collapseOone4" class="panel-collapse collapse">
        <div class="panel-body">
          <form [formGroup]="TitleIVeStatus">
            <table class="table table-bordered" style="width: 35%;">
              <tr>
                <td style="width: 75%;">
                  <p>Was the child previously adopted?</p>
                </td>
                <td style="width: 55%;">
                  {{TitleIVeStatus.value.ChildPreviouslyAdopted}}
                </td>
              </tr>
              <tr>
                <td>
                  Was the child eligible for adoption assistance payment in prior
                  adoption?
                </td>
                <td>
                  {{TitleIVeStatus.value.ChildPreviousAdoptionIVEStatus}}
                </td>
              </tr>
              <tr>
                <td>
                  Is the current adoption due to current adoptive parent(s)
                  rights being terminated?
                </td>
                <td>
                  {{TitleIVeStatus.value.ChildPreviousAdoptiveParentTPRDate}}
                </td>
              </tr>
              <tr>
                <td>
                  a. Adoptive Parent(s) TPR Date:


                </td>
                <td>
                  Parent 1: &nbsp;&nbsp;
                  Parent 2:
                </td>
              </tr>
              <tr>
                <td>
                  b. Adoptive Parent(s) Date of Death: <br />


                </td>
                <td>
                  Parent 1: &nbsp;&nbsp;
                  Parent 2:
                </td>
              </tr>
              <tr>
                <td>
                  Is the child currently Title IV-E foster care
                  eligible?
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td>
                  Is the child currently SSI eligible?
                </td>
                <td>

                </td>
              </tr>




              <!-- <tr>
                                  <td>
                                      <p> Is the current adoption due to death of current adoptive
                                          parent(s)? </p>
                                  </td>
                                  <td>
                                      NO
                                  </td>
                              </tr>

                          <tr>
                              <td>
                                  <p>Date of termination of adoptive rights for current adoptive
                                      parent(s)</p>
                              </td>
                              <td>
                                  NO
                              </td>
                          </tr>

                        
                          <tr>
                              <td>
                                  <p>Date of death of current adoptive parent(s)</p>
                              </td>
                              <td>
                                      {{TitleIVeStatus.value.ChildPreviousAdoptiveParentDeathDate}}
                              </td>
                          </tr> -->


            </table>
            <!-- <div class="row" style="float:right">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#UpdateStatusacc"
                              (click)="updateFormFields('TitleIVeStatus')">UPDATE
                          </button>
                      </div>

                      <div class="modal fade" id="UpdateStatusacc" role="dialog">
                          <div class="modal-dialog" style="width: 78%;">

                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <p>Was the child previously adopted?</p>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group formControlName="ChildPreviouslyAdopted">
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">
                                                      NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>

                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <p>Was the child eligible for adoption
                                                  assistance payment in prior adoption?</p>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group formControlName="ChildPreviousAdoptionIVEStatus">
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">
                                                      NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>

                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <p>Is the current adoption due to current
                                                  adoptive parent(s) rights being
                                                  terminated?</p>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">
                                                      NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>

                                      </div>

                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <p>Date of termination of adoptive rights
                                                  for
                                                  current adoptive parent(s)</p>
                                          </div>
                                          <div class="col-md-4">
                                              <input class="form-control" formControlName="ChildPreviousAdoptiveParentTPRDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{TitleIVeStatus.value.ChildPreviousAdoptiveParentTPRDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>

                                      </div>


                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <p>Is the current adoption due to death of
                                                  current adoptive parent(s)?</p>
                                          </div>
                                          <div class="col-md-4">
                                              <mat-radio-group>
                                                  <div class="col-md-6">
                                                      YES <mat-radio-button class="example-radio-button" value="Yes"></mat-radio-button>
                                                  </div>
                                                  <div class="col-md-6">
                                                      NO <mat-radio-button class="example-radio-button" value="No"></mat-radio-button>
                                                  </div>
                                              </mat-radio-group>
                                          </div>

                                      </div>
                                      <div class="row" style="margin-top:2%">
                                          <div class="col-md-6">
                                              <p>Date of death of current adoptive
                                                  parent(s)</p>
                                          </div>
                                          <div class="col-md-4">
                                                  <input class="form-control" formControlName="ChildPreviousAdoptiveParentDeathDate"
                                                  [options]="{format:'MM/dd/yyyy'}" placeholder="MM/DD/YYYY"
                                                  a2e-datetimepicker value=" {{TitleIVeStatus.value.ChildPreviousAdoptiveParentDeathDate | date:'MM/dd/yyyy'}}" />
                                              <i class=" fa fa-calendar" aria-hidden="True"></i>
                                          </div>

                                      </div>


                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-info" data-dismiss="modal" (click)="removalType()">Save</button>
                                  </div>
                              </div>
                          </div>
                      </div> -->

          </form>


          <!-- <form [formGroup]="TitleIVeStatus">
                   
                    <button type="submit" style="margin-left:93%" class="btn btn-info">Reset</button>
                </form> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" [formGroup]="signatures">
    <div class="col-md-4">
      <div class="col-md-12">
        <h5>Caseworker Name:</h5>
      </div>
      <div class="col-md-12 signature-container">
        <signature-field formControlName="caseworkersign"></signature-field>
      </div>
      <div class="col-md-12">

      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <h5>IV E Specialist Name:</h5>
      </div>
      <div class="col-md-12 signature-container">
        <signature-field formControlName="ivesplsign"></signature-field>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <h5>IV E Supervisor Name:</h5>
      </div>
      <div class="col-md-12 signature-container">
        <signature-field formControlName="ivesupervisorsign"></signature-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right m-t-20">
      <button type="button" class="btn-pri ok-but" (click)="sendForApproval()">Send for Approval</button>
    </div>
    <div class="col-md-12 panel-body">
      <div class="col-md-12">

        <!-- <a style="float:right;margin-left: 10px" class="btn btn-info" (click)="Applicability()"
          data-toggle="modal">APPLICABILITY</a>

        <a style="float:right;" class="btn btn-info">RESUBMIT</a> -->
      </div>

    </div>


  </div>
</div>