<div id="legal-custody" class="tab-pane pt-20">
    <div class="p-b-20 legal-div">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="text-uppercase semi-b pt-10">legal custody</h5>
            </div>
            <div class="col-sm-3">
                <div class="clearfix text-right">
                    <button *ngIf="!isAdoptionCreated" class="btn-pri text-uppercase" type="submit" (click)="manageAdoption('add')"><i
                            class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>

        <div class="m-t-20 table-responsive table-theme">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Investigation / Case ID</th>
                        <th>Legal Custody</th>
                        <th>Name</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adoption of adoptionListDetails">
                        <td>{{ caseid }}</td>
                        <td>{{ adoption.legalcustodytypedesc }}</td>
                        <td>{{ (adoption.intakeservicerequestactorid===childActorId)?'LDSS':adoption.personname }}</td>
                        <td>{{ adoption.fromdate | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ adoption.todate | date: 'MM/dd/yyyy' }}</td>
                        <td class="icon">
                            <span type="button" *ngIf="!isAdoptionCreated" class="p-r-10" (click)="manageAdoption('edit', adoption)"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span type="button" (click)="manageAdoption('view', adoption)"><i class="fa fa-eye"
                                    aria-hidden="true"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-10">
                <!-- <pagination class="pagination-sm"></pagination> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addlegalcustody" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="clearLeagalCustody()"><span
                        aria-hidden="true">X</span></button>
                <h4 class="modal-title">{{ addEditLabel }} Legal Custody</h4>
            </div>

            <div class="modal-body" [formGroup]="adoptionLegalForm">
                <div class="tab-content m-l-20 p-r-20">
                    <div class="wrapper-legalcustody">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Legal Custody" formControlName="legalcustodytypekey"
                                        class="aut-lst-LglCsdy" required>
                                        <mat-option *ngFor="let item of (legalCustodyDropdownItems$ | async)"
                                            value="{{item.value}}">{{
                                            item.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="Name" (change)="changePerson($event.value)"
                                        formControlName="intakeservicerequestactorid">
                                        <mat-option *ngFor="let person of involvedPersons"
                                            [value]="person?.intakeservicerequestactorid">{{
                                            person.firstname + ' ' + person.lastname }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker5" class="aut-dtp-beginDate"
                                                (click)="picker5.open()" formControlName="fromdate"
                                                placeholder="Begin date"
                                                (dateChange)="beginDateChange(adoptionLegalForm)" required />
                                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                            <mat-datepicker #picker5></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker6" [min]="minDate"
                                                (click)="picker6.open()" formControlName="todate"
                                                placeholder="End date" />
                                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field> <input matInput placeholder="Relationship"
                                                formControlName="relationship" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class=""> <input matInput placeholder="Address"
                                        formControlName="Address" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field class=""> <input matInput placeholder="Home Phone"
                                        formControlName="phonenumber" /> </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class=""> <input matInput placeholder="Work Phone"
                                        formControlName="workphone" /> </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class=""> <input matInput placeholder="Extension Code"
                                        formControlName="code" /> </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class=""> <textarea matInput placeholder="Reason"
                                        formControlName="reason"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="legalcustody-btn text-right">
                        <button class="btn-theme btn-bg m-l-10" *ngIf="addEditLabel !== 'View'" type="submit"
                            data-dismiss="modal" (click)="cancelAdoption()">CANCEL</button>

                        <button class="btn-pri text-uppercase aut-btn-addInfo" *ngIf="addEditLabel !== 'View'"
                            [disabled]="adoptionLegalForm.invalid || adoptionLegalForm.pristine"
                            (click)="saveLegalCustody(adoptionLegalForm.value)">
                            {{ addEditLabel }} Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ap-custody" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <!-- <li>{{ "Hearing Outcome does not match TPR Granted" }}</li> -->
                    <li>{{ "TPR Recommendation must be completed to proceed" }}</li>
                </ul>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-dismiss="modal" (click)="navigateTo()">Ok</button></div>
            </div>
        </div>
    </div>
</div>