<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <h3>Payment History Reports</h3>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive table-theme ">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th>Report Name</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>DHS 111 - Client Expenditure Report</td>
                     <td>
                        <button class="btn btn-pri" data-target="#downloadReport" data-backdrop="static" data-keyboard="false" (click)="downloadReport('111')"
                           data-toggle="modal" target="_blank" matTooltip="DHS 111 Report"><i class="fa fa-download"
                              aria-hidden="true"></i>&nbsp;Download</button>
                     </td>
                  </tr>
                  <tr>
                     <td>DHS 113 - Provider Payment History - Detail Report</td>
                     <td>
                        <button class="btn btn-pri" data-target="#downloadReport" data-backdrop="static" data-keyboard="false" (click)="downloadReport('113')"
                           data-toggle="modal" target="_blank" matTooltip="DHS 113 Report"><i class="fa fa-download"
                              aria-hidden="true"></i>&nbsp;Download</button>
                     </td>
                  </tr>
                  <tr>
                     <td>DHS 114 - Provider Payment History - Summary Report</td>
                     <td>
                        <button class="btn btn-pri" data-target="#downloadReport" data-backdrop="static" data-keyboard="false" (click)="downloadReport('114')"
                           data-toggle="modal" target="_blank" matTooltip="DHS 114 Report"><i class="fa fa-download"
                              aria-hidden="true"></i>&nbsp;Download</button>
                     </td>
                  </tr>
                  <tr>
                     <td>DHS 115 - Provider AR History Report</td>
                     <td>
                        <button class="btn btn-pri" data-target="#downloadReport" data-backdrop="static" data-keyboard="false"  (click)="downloadReport('115')"
                           data-toggle="modal" target="_blank" matTooltip="DHS 115 Report"><i class="fa fa-download"
                              aria-hidden="true"></i>&nbsp;Download</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

      </div>
   </div>
</div>
<div class="modal fade" id="downloadReport">
   <div class="modal-dialog modal-md">
      <div class="modal-content" [formGroup]="reportForm">
         <div class="modal-header">
            <div *ngIf="showBusy" id="loaderAnimation2" style="top: 18px !important; position: absolute !important; left: 49%;">
                  <img src="/assets/images/busy.gif" height="40px" />
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title h5-title">{{headerText}}</h4>
         </div>
         <div class="modal-body">
            <div>
               <div class="row" *ngIf="documentTeplateKey === '111'">
                  <div class="col-md-12">
                     <mat-radio-group formControlName="client_filter" (change)="changeFilter()">
                        <mat-radio-button [value]="'I'">Client Id</mat-radio-button>
                        <mat-radio-button [value]="'N'">Client First Name</mat-radio-button>
                        <mat-radio-button [value]="'T'">Client Last Name</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.client_filter === 'I'">
                     <div class="input-search-report">
                        <input #trigger="matAutocompleteTrigger" class="form-control" placeholder="Search" (keyup.enter)="loadClientList(1)" formControlName="clientid"
                           type="text" [matAutocomplete]="auto">
                        <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                           (click)="loadClientList(1);openThatPanel()">
                           <i aria-hidden="true" class="fa fa-search"></i>
                        </button>
                        <mat-autocomplete #auto="matAutocomplete">
                           <mat-option *ngFor="let item of clientList" (click)="changeClient(item.client_id)"
                              value="{{item.client_id + ' - ' + item.client_name}}">
                              {{item.client_id + ' - ' + item.client_name}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.client_filter === 'N'">
                     <div class="input-search-report">
                        <input class="form-control" #trigger="matAutocompleteTrigger" placeholder="Search" formControlName="clientfirstname" type="text"
                           [matAutocomplete]="autoname" (keyup.enter)="loadClientList(2)">
                           <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                              (click)="loadClientList(2);openThatPanel()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                           </button>
                        <mat-autocomplete #autoname="matAutocomplete">
                           <mat-option *ngFor="let item of clientList" (click)="changeClient(item.client_id)"
                              value="{{item.client_id + ' - ' + item.client_name}}">
                              {{item.client_id + ' - ' + item.client_name}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.client_filter === 'T'">
                     <div class="input-search-report">
                        <input class="form-control" #trigger="matAutocompleteTrigger" placeholder="Search" formControlName="clientlastname" type="text"
                           [matAutocomplete]="autoname" (keyup.enter)="loadClientList(3)">
                           <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                              (click)="loadClientList(3);openThatPanel()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                           </button>
                        <mat-autocomplete #autoname="matAutocomplete">
                           <mat-option *ngFor="let item of clientList" (click)="changeClient(item.client_id)"
                              value="{{item.client_id + ' - ' + item.client_name}}">
                              {{item.client_id + ' - ' + item.client_name}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
               </div>
               <div class="row" *ngIf="documentTeplateKey !== '111'">
                  <div class="col-md-12">
                     <mat-radio-group formControlName="provider_filter" (change)="changeFilter()">
                        <mat-radio-button [value]="'I'">Provider Id</mat-radio-button>
                        <mat-radio-button [value]="'N'">Provider Name</mat-radio-button>
                        <mat-radio-button [value]="'T'">Tax Id</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.provider_filter === 'I'">
                     <div class="input-search-report">
                        <input class="form-control" #trigger="matAutocompleteTrigger" placeholder="Search" formControlName="providerid" type="text"
                           [matAutocomplete]="auto1" (keyup.enter)="loadProviderList(1)">
                           <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                              (click)="loadProviderList(1);openThatPanel()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                           </button>
                        <mat-autocomplete #auto1="matAutocomplete">
                           <mat-option *ngFor="let item of providerList" (click)="changeProvider(item.provider_id)" value="{{item.provider_id + ' - ' + item.provider_nm}}">
                              {{item.provider_id + ' - ' + item.provider_nm}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.provider_filter === 'N'">
                     <div class="input-search-report">
                        <input class="form-control" #trigger="matAutocompleteTrigger" placeholder="Search" formControlName="providername" type="text"
                           [matAutocomplete]="autoname1" (keyup.enter)="loadProviderList(2)">
                           <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                              (click)="loadProviderList(2);openThatPanel()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                           </button>
                        <mat-autocomplete #autoname1="matAutocomplete">
                           <mat-option *ngFor="let item of providerList" (click)="changeProvider(item.provider_id)"
                              value="{{item.provider_id + ' - ' + item.provider_nm}}">
                              {{item.provider_id + ' - ' + item.provider_nm}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
                  <div class="col-md-12" *ngIf="reportForm.value.provider_filter === 'T'">
                     <div class="input-search-report">
                        <input class="form-control" #trigger="matAutocompleteTrigger" placeholder="Search" formControlName="taxid" type="text"
                           [matAutocomplete]="autoname2" (keyup.enter)="loadProviderList(3)">
                           <button mat-button matSuffix mat-icon-button aria-label="Search" class="aut-btn-searchcase"
                              (click)="loadProviderList(3);openThatPanel()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                           </button>
                        <mat-autocomplete #autoname2="matAutocomplete">
                           <mat-option *ngFor="let item of providerList" (click)="changeProvider(item.provider_id)"
                              value="{{item.provider_id + ' - ' + item.provider_nm + ' - ' + item.tax_id_no}}">
                              {{item.provider_id + ' - ' + item.provider_nm + ' - ' + item.tax_id_no}}
                           </mat-option>
                        </mat-autocomplete>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <h5>Payment Date Range</h5>
                  </div>
                  <div class="col-md-6 m-t-10">
                     <common-date-picker formControlName="date_from" [required]="true" placeholder="From" (valueChange)="changePaymentDate()">
                     </common-date-picker>
                  </div>
                  <div class="col-md-6 m-t-10">
                     <common-date-picker formControlName="date_to" [min]="reportForm.value.date_from" [required]="true" placeholder="To">
                     </common-date-picker>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <div class="row">
               <div class="col-md-12 pull-right action-btn">
                  <button class="fnt-sze"
                     [disabled]="!(reportForm.get('date_to').value && reportForm.get('date_to').value)"
                     matTooltip="Download" type="button" name=""
                     (click)="documentGenerate(reportForm.value, 'excel')"><i class="fa fa-file-excel-o"
                        aria-hidden="true"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>