<section class="safety-planmain mrg-top25 dd-overflow-inherit" [formGroup]="safetyPlanFormGroup">
    <section class="sec1 bdr-btm">
        <div class="sec1-left">
            <h3>SAFETY PLAN</h3>
            <p>All Action must represent specific steps toward maintaining safety of the child as it applies to an
                identified
                Danger Influence.</p>
        </div>
        <div class="sec1-right">
            <section>
                <h5>B. Date of SAFE-C</h5>
                <p>{{safetyPlanFormGroup.get('plandate').value | date: 'MM/dd/yyyy'}}</p>
            </section>
        </div>
    </section>
    <section class="sec2">
        <div class="sec2-left">
            <h5>C. CASEHEAD'S NAME</h5>
            <p>{{safetyPlanView.caseHeadName}}</p>
        </div>
        <div class="sec2-center">
            <h5>D. CHILD'S NAME</h5>
            <p>{{safetyPlanView.childName}}</p>
        </div>
        <div class="sec2-right">
            <h5>E. CHILD'S CASE NUMBER/CASEHEAD'S ID #</h5>
            <p>{{safetyPlanView.daNumber}}</p>
        </div>
    </section>
    <section class="sec3">
        <h5>F: DANGER INFLUENCE RESPONSES:
            <small>(Identify an appropriate response when deciding what action is required to complete the Safety Plan.
                When
                using one of the following responses be very clear as to whom or what resource will be supporting the
                family.)
            </small>
        </h5>
        <ol>
            <li>Use family resources,neighbors, or individuals in the community as safety resources (Protective
                Factors).
            </li>
            <li>Use community agencies or services as supportive resources.</li>
            <li>The alleged perpetrator will leave the home. either voluntarily or in response to legal action. </li>
            <li>The non-maltreating caregiver will move to a safe environment with the child.
            </li>
            <li>The caregiver(s) will place the child outside the home (formal voluntary placement).
                <span class="bold">Note:</span>Include explanation below regarding why responses 1-4 above could not be
                used
                to keep the child safe. </li>
            <li>
                <span class="bold">Other:</span> Place explain in Section I Action Required.</li>
        </ol>
    </section>
    <section class="">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>DANGER INFLUENCE Number from the SAFE-C</th>
                        <th>Specific DANGER INFLUENCE
                            <span>(Specifically identify individuals and the issue.)</span>
                        </th>
                        <th>Action Required
                            <span>(Clearly identify resources/individuals and/or actions that need to occur in order to
                                help
                                adddress the Danger Influences.)
                            </span>
                        </th>
                        <th>Date to be completed</th>
                        <th>Responsible Parties</th>
                        <th>Re-evaluation Date</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="dangerinfluence">
                    <tr *ngFor="let safetyPlanForm of safetyPlanFormGroup['controls'].dangerinfluence['controls']; let i=index"
                        [formGroupName]="i">
                        <td>
                            <label>{{safetyPlanForm.get('dangerinfluencenumber').value}}</label>
                        </td>
                        <td>
                            <textarea type="text" class="form-control" formControlName="dangerinfluencedesc" name=""> </textarea>
                        </td>
                        <td class="action-required" formArrayName="action">
                            <!-- <textarea formControlName="actiondescription" class="form-control" name="" value=""></textarea> -->
                            <div class="action-required-btns" *ngFor="let actionRequired of safetyPlanForm['controls'].action['controls']; let j=index">
                                <div [formGroupName]="j">
                                    <textarea type="text" class="form-control" formControlName="actiondescription" name=""> </textarea>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class=" fm-box-form pr clsIntake">

                                <!-- <input class="form-control" formControlName="completiondate" placeholder="MM/DD/YYYY" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', minDate:minDate}"
                                />
                                <i aria-hidden="True" class="fa fa-calendar"></i> -->
                                <mat-form-field>
                                    <input required formControlName="completiondate" matInput (click)="picker1.open()"
                                        [matDatepicker]="picker1" placeholder="Date" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </td>
                        <td>
                            <!-- <input type="text" class="form-control" formControlName="partiesname" name=""> -->
                            <textarea class="form-control" formControlName="partiesname" name=""></textarea>
                        </td>
                        <td>
                            <div class="fm-box-form pr clsIntake">
                                <mat-form-field>
                                    <input required formControlName="reevaluationdate" matInput (click)="picker2.open()"
                                        [matDatepicker]="picker2" placeholder="Date" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <!-- <input class="form-control" formControlName="reevaluationdate" placeholder="MM/DD/YYYY" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', minDate:minDate}"
                                />
                                <i aria-hidden="True" class="fa fa-calendar"></i> -->
                            </div>
                        </td>
                    </tr>   
                    </ng-container>                
                    <tr>
                        <td colspan="6">
                            <div class="clearfix">
                                <div class="col-sm-2">
                                    <div class="">                                         
                                        <mat-form-field>
                                            <mat-select placeholder="Select Persons" multiple>
                                                <mat-option (onSelectionChange)="changePerson($event)" *ngFor="let person of involevedPerson$ | async" [value]="person">
                                                        {{person.firstname}} {{person.lastname}} - {{person.roles[0].typedescription}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <ng-container formArrayName="safetyplanactor">
                                <div class="perinfo clearfix" 
                                *ngFor="let participants of safetyPlanFormGroup['controls'].safetyplanactor['controls']; let i=index" [formGroupName]="i">
                                    <div class="col-sm-2">
                                        <mat-form-field>
                                            <input type="text" formControlName="personFullName" matInput placeholder="Printed Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-form-field>
                                            <input type="text" formControlName="role" matInput placeholder="Title">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class=" fm-box-form pr clsIntake">
                                            <mat-form-field>
                                                <input formControlName="dob" required matInput [matDatepicker]="pickerm1" placeholder="Date"
                                                    [max]="maxDate">
                                                <mat-datepicker-toggle matSuffix [for]="pickerm1"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerm1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="sign">
                                                <signature-field formControlName="signimage"></signature-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="inline-show valign-top p-r-20" style="margin-top: 25px;">
                                            <mat-checkbox formControlName="issignrefuse" value="1" (change)="checkSignRefuse()">Refuse to Sign</mat-checkbox>
                                        </div>s
                                    </div>
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <section class="comentsec col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                            <mat-form-field>
                                                    <mat-select placeholder="Review">
                                                        <mat-option value="option1">
                                                            Not Reviewed</mat-option>
                                                        <mat-option value="option2">
                                                            Review</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                            <mat-form-field>
                                                    <textarea type="text" matInput placeholder="Comments"></textarea>
                                                </mat-form-field>
                                    </div>
                                </div>

                            </section>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 mrg-top25">
            <div class="text-right">
                <button class="btn-pri" type="button" (click)="safetyPlanPrintView(safetyPlanFormGroup.getRawValue())">Print</button>
                <button class="btn-pri" type="button" >Save As Draft</button>
                <button class="btn-pri" type="button" [disabled]="isSaveBtnHide" (click)="submitActionRequired(safetyPlanFormGroup.getRawValue())">Save</button>
            </div>
        </div>
    </section>
</section>
<safety-plan-print-view [saftyPlan$]="saftyPlan$" [safetyPlanView]="safetyPlanView"></safety-plan-print-view>