.finance-label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}
.finance-panel-label{
    background: #00bcd3;
    color: #FFFFFF;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ccc !important;
    border-color: #ccc !important;
  }
