<div class="row">
    <div class="col-sm-12">
        <h5>Maltreatment Allegations, Indicators and Investigation</h5>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive table-theme m-b-20">
                    <!-- <p class="m-t-10 m-b-20"><b>Victim</b> = <span></span></p> -->
                    <h6><b>Reported</b></h6>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Allegation</th>
                                <th>Indicators</th>
                                <th>Maltreator</th>
                                <th>Relationship with Victim</th>
                                <th>Status</th>
                                <th>Outcome</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of maltreatmentReported; let i=index">
                                <td>{{item?.investigationallegation[0]?.allegationname}}</td>
                                    <td>
                                        <ul *ngIf="item?.investigationallegation.length">
                                            <li *ngFor="let indicator of item?.investigationallegation[0].indicator"><span class="m-r-10"></span>{{indicator.indicatorname}}</li>
                                        </ul>
                                    </td>
                                    <td>{{item.personname}}</td>
                                    <td>{{item?.investigationallegation ? item.investigationallegation[0].relationtypedesc : ''}}</td>
                                    <td>{{item?.investigationallegation ? item.investigationallegation[0].allegationstatusdesc : ''}}</td>
                                    <td>{{item?.investigationallegation ? item.investigationallegation[0].outcome : ''}}</td>
                                <td>
                                    <a data-toggle="modal" (click)="viewAllegation(item, 'View')">
                                        <i class="fa fa-eye text-16"></i>
                                    </a> &nbsp;
                                    <a data-toggle="modal" (click)="viewAllegation(item, 'Reported')">
                                        <i class="fa fa-pencil text-16"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive table-theme m-b-20">
                    <h6><b>Identified</b>
                        <button class="btn btn-theme btn-pri btn-add pull-right m-b-20" data-toggle="modal" data-target="#AddEditMaltreatmentAllegation"
                        (click)="addAllegation()">ADD</button></h6>
                    
                    <table class="table table-striped m-t-30">
                        <thead>
                            <tr>
                                <th>Allegation</th>
                                <th>Indicators</th>
                                <th>Maltreator</th>
                                <th>Relationship with Victim</th>
                                <th>Status</th>
                                <th>Outcome</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of maltreatmentIdentified; let i=index">
                                <td>{{item?.investigationallegation[0]?.allegationname}}</td>
                                <td>
                                    <ul *ngIf="item?.investigationallegation.length">
                                        <li *ngFor="let indicator of item.investigationallegation[0]?.indicator"><span class="m-r-10"></span>{{indicator.indicatorname}}</li>
                                    </ul>
                                </td>
                                <td>{{item.personname}}</td>                               
                                <td>{{item?.investigationallegation ? item.investigationallegation[0].relationtypedesc : ''}}</td>
                                <td>{{item?.investigationallegation ? item.investigationallegation[0].allegationstatusdesc : ''}}</td>
                                <td>{{item?.investigationallegation ? item.investigationallegation[0].outcome : ''}}</td>
                                <td>
                                    <a data-toggle="modal" (click)="viewAllegation(item, 'View')">
                                        <i class="fa fa-eye text-16"></i>
                                    </a> &nbsp;
                                    <a data-toggle="modal" (click)="viewAllegation(item, 'Update')">
                                        <i class="fa fa-pencil text-16"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="maltreatmentIdentified.length === 0">
                                <td colspan="7"> No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-12 text-right">
        <button class="btn btn-theme btn-pri">Submit</button>
    </div> -->
</div>
<!-- Modal -->
<div id="AddEditMaltreatmentAllegation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="resetForm()">&times;</button>
                <h4 class="modal-title">{{actionTitle}} Maltreatment Allegations</h4>
            </div>
            <div class="modal-body" [formGroup]="maltreatementAlegationForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Allegations" required formControlName="allegationid" (change)="allegationOnChange($event)">
                                        <mat-option *ngFor="let item of allegationDropDownItems" [value]="item.value">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Maltreators" required formControlName="personid">
                                        <mat-option *ngFor="let item of addePersons" value="{{item.intakeservicerequestactorid}}">{{item.firstname}}
                                            {{item.lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Relationship with victim" formControlName="relationship"
                                        >
                                        <mat-option *ngFor="let item of relationShipToRADropdownItems$ | async" value="{{item.relationshiptypekey}}">{{item.description}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Status" formControlName="investigationalegationstatuskey">
                                        <mat-option *ngFor="let item of allegationStatusDropDown$ | async" [value]="item.value">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input formControlName="outcome" matInput placeholder="Outcome">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="header-bg">Indicators</h4>
                                <mat-selection-list (selectionChange)="getIndicatorsID($event)" formControlName="indicators" dense class="indicator-list">
                                    <mat-list-option *ngFor="let item of filteredAllegationItems[0]?.indicators" [selected]="item.selected" 
                                        [value]="item.indicatorid">

                                        <h3 matLine>{{item.indicatorname}} </h3>

                                    </mat-list-option>
                                </mat-selection-list>
                                <!-- <ul class="list-unstyled">
                                    <li *ngFor="let item of filteredAllegationItems[0]?.indicators">
                                        <mat-checkbox (change)="indicatorsChecked(item, $event)">- {{item}}</mat-checkbox>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="add-button" [disabled]="disableAdd || maltreatementAlegationForm.invalid" class="btn btn-theme btn-pri" (click)="saveAllegationForm()">{{actionText}}</button>
            </div>
        </div>
    </div>
</div>