
.table-theme .table tr td {text-align: left !important;}
h5 {
    background: #dde5ea;
    font-weight: 600;
    padding: 10px;
    margin-top:20px;
}
h6 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.w-100 {width:100px;text-align:center !important;}
.btn-add {
    padding: 5px;
    min-width: 75px;
}
.f-f-table tr th:last-child {width:350px;}
.allegation-list {
    position: relative;
    box-shadow: 0px 0px 2px #e5e5e5;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.f-w-600 {
    color:#333;
    font-weight:600;
    font-size: 14px;
    margin-bottom: 10px;
}
.status-label {
    position: absolute;
    right: 15px;
    top:-10px;
}
.allegation-h {
    margin-top: 5px;
    background: #f3f3f3;
}

.indicator-list {
    height: 400px;
    overflow: auto;
}