<div id="Profile-info m-t-50" class="container-fluid">
  <h4 class="mt-20">Address Search</h4>
  <form [formGroup]="involvedPersonSearchForm">
    <div class="row m-t-20">
      <div class="col-sm-2">
        <mat-form-field>
          <input type="text" matInput placeholder="Address Line 1" formControlName="address1">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <input type="text" matInput placeholder="Address Line 2" formControlName="address2">
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field>
          <input type="text" matInput placeholder="Zip Code" mask="00000-9999" formControlName="zip">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <input type="text" matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <mat-select placeholder="State" formControlName="stateid" (change)="loadCounty()">
            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.ref_key}}">
              {{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-sm-2">
        <mat-form-field>
          <!-- <input type="text" matInput placeholder="County" formControlName="county"> -->
          <mat-select placeholder="County" formControlName="county">
            <mat-option *ngFor="let item of countyDropdownItems$ | async" value="{{item.ref_key}}">
              {{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-10 m-t-30 pull-right">
        <div class="wizard-buttons text-right">
          <input class="btn-bg" type="button" (click)="clearPersonSearch()" value="Clear" />
          <button class="btn-pri btn" type="submit"
            [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid"
            (click)="searchInvolvedPersons(involvedPersonSearchForm.value, 'new')">Find</button>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="Search-res m-t-10" *ngIf="isSearch">
  <div class="col-sm-12">
    <h4 class="mt-20">Search Result</h4>
    <button class="no-bg pull-right" type="submit" (click)="clearFilter()"><i class="fa fa-refresh"
        aria-hidden="true"></i> Reset</button>
  </div>
  <div class="col-sm-12" *ngIf="personSearchResult; let involvedPersonSearchResponses">

    <div class="outer mt-20">
      <div class="table-responsive table-theme bg-white">
        <table class="table customTable firsttable" *ngIf="involvedPersonSearchResponses.length > 0" sortable-table
          (sorted)="onSortedPerson($event)">
          <thead>
            <tr>

              <th></th>
              <th sortable-column="firstname">First name</th>
              <th sortable-column="middlename">Middle name</th>
              <th sortable-column="lastname">Last Name</th>
              <th sortable-column="ssn">SSN</th>
              <th sortable-column="dob">DOB</th>
              <th sortable-column="cjamspid">CJAMS ID</th>
              <th sortable-column="assistpid">Chessie ID</th>
              <th sortable-column="dl">DL No</th>
              <th sortable-column="mdmid">MDM ID</th>
              <th sortable-column="priors">prior history</th>
              <!-- <th>relation type/ Name</th> -->
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;"
            [ngClass]="{'highlight' : row.exactmatch }">
            <tr>

              <td>
                <a (click)="searchPersonDetailsRow(rowId, row)">
                  <i [class]="showPersonDetail === rowId ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                </a>
              </td>
              <td>{{row?.firstname}}</td>
              <td>{{row?.middlename}}</td>
              <td>{{row?.lastname}} {{row?.suffix}}</td>
              <td>{{row?.ssn | mask:showSsnMask}}</td>
              <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
              <td>{{row?.cjamspid}}</td>
              <td>{{row?.assistpid}}</td>
              <td>{{row?.dl}}</td>
              <td>{{row?.mdm_id}}</td>
              <td *ngIf="row.priors >= 1">
                <a (click)="searchPersonDetailsRow(rowId, row)">Yes </a>
              </td>
              <td *ngIf="row.priors <= 0">No</td>
              <!-- <td>{{(row?.relations && row?.relations.length > 0) ? getPrimaryRelationname(row?.relations) : ''}}</td> -->
              <!-- <td>
                                  <a (click)="openPersonInDetail(row,'view')" title="View">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                      </a>
                                      <a *ngIf="isEditable" (click)="openPersonInDetail(row, 'edit')"  title="Edit">
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                      </a> </td> -->
            </tr>
            <tr [class]="showPersonDetail === rowId ? 'show':'hide'">
              <td class="p-15" colspan="14">
                <table class="table customTable innerTable">
                  <thead>
                    <tr>
                      <th>ALIAS</th>
                      <th>PREFIX</th>
                      <th>DOD</th>
                      <th>ADDRESS</th>
                      <th *ngIf="isAuditVisible">AUDIT LOG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{row?.alias | aliasDisplay}}</td>
                      <td>{{row?.prefx}}</td>
                      <td>{{row?.dateofdeath | date:'MM/dd/yyyy'}}</td>
                      <td>

                        {{replaceALL(row?.primaryaddress)}}


                      </td>
                      <td *ngIf="isAuditVisible"><a (click)="showAuditLog(row)">View</a></td>

                    </tr>
                    <tr>
                      <td colspan="14" class="td-pad">
                        <div>
                          <h5 class="p-6">Prior Case History</h5>
                        </div>

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default"
                            *ngFor="let action of personDSDSActions$ | async; let i=index;">
                            <div class="panel-heading">
                              <h4 class="panel-title collapsed">
                                <a href="#collapse-{{rowId}}-{{i}}" [ngClass]="action.highLight?'orange':''"
                                  data-toggle="collapse" data-parent="#accordion"
                                  aria-expanded="false">{{action.daTypeName}}
                                  <span class="glyphicon pull-right glyphicon-plus more-less"></span>
                                </a>
                              </h4>
                            </div>
                            <div id="collapse-{{rowId}}-{{i}}" class="panel-collapse collapse" aria-expanded="false"
                              style="height: 0px;">
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="table-responsive second-inner-table p-15">
                                      <table class="table accordion-table">
                                        <thead>
                                          <tr>
                                            <th>CASE
                                              NUMBER
                                            </th>
                                            <th *ngIf="action.daTypeName === 'Child Protective Services'">
                                              SUB TYPE</th>
                                            <th>NAME</th>
                                            <th>
                                              HEAD OF HOUSEHOLD
                                            </th>
                                            <th>ROLE</th>
                                            <!--  <th>DATE
                                                                                          CREATED
                                                                                      </th> -->
                                            <th>DATE
                                              RECEIVED
                                            </th>
                                            <th>DATE
                                              COMPLETED
                                            </th>
                                            <th>STATUS</th>
                                            <th>JURISDICTION</th>
                                            <th *ngIf="action.daTypeName === 'Child Protective Services'">
                                              Maltreatement Info</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of action?.daDetails">
                                            <td>
                                              <a [ngClass]="item.dasubtype === 'Peace Order'?'orange':''"
                                                href="javascript:{}" (click)="priorAuditLog(item)">{{item.danumber}}</a>
                                            </td>
                                            <td *ngIf="action.daTypeName === 'Child Protective Services'">
                                              {{item.dasubtype}}</td>
                                            <td>{{row?.firstname}}

                                              {{row?.lastname}}
                                            </td>
                                            <td>
                                              <ng-container *ngFor="let item of item.headofhousehlod; let isLast=last">
                                                    {{item.personname}}<span *ngIf="!isLast">, </span>
                                              </ng-container>
                                            </td>
                                            <td>
                                          <tr *ngFor="let role of item.roles">
                                            <td>{{role}}</td>
                                          </tr>
                      </td>
                      <!--  <td>{{item.datecreated
                                                                                          |
                                                                                          date:'MM/dd/yyyy
                                                                                          H:mm:ss'
                                                                                          }}
                                                                                      </td> -->
                      <td>{{item.datereceived
                                                                                          |
                                                                                          date:'MM/dd/yyyy
                                                                                          H:mm:ss'
                                                                                          }}
                      </td>
                      <td>{{item.datecompleted}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.county}}</td>
                      <td *ngIf="action.daTypeName === 'Child Protective Services'">
                        <ng-container *ngIf="isMaltreator(item.roles); else naTemplate">
                          <a (click)="showOutcome(row,item)">View</a>
                        </ng-container>
                        <ng-template #naTemplate>
                          N/A
                        </ng-template>


                      </td>
                    </tr>
                    <tr *ngIf="action?.daDetails?.length === 0">
                      <td colspan="8">No match
                        were
                        found.
                      </td>
                    </tr>
                  </tbody>
                </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<div class="" *ngIf="involvedPersonSearchResponses.length === 0">
  <p>No Results match your criteria.
  </p>
  <!-- <button type="button" class="btn-pri" (click)="addNewPerson()">Add New</button> -->
</div>
</div>


</div>

</div>
<div class="col-sm-12 text-center mt-20">
  <div *ngIf="totalRecords > 10">
    <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
  </div>
</div>


</div>

<div class="modal fade in" id="person-out-come" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Maltreatment Info</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div id="outcome-history" class="tab-pane fade in active">

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3 ">
                  <p class="textb disp-color"><b>Case # : </b> {{selectedCaseInfo?.danumber }} </p>
                </div>
                <div class="col-md-3 ">
                  <p class="textb disp-color"><b>Name : </b> {{selectedPerson?.firstname }}
                    {{selectedPerson?.middlename }} {{selectedPerson?.lastname }}
                    {{selectedPerson?.suffix}} </p>
                </div>
                <div class="col-md-2">
                  <p class="textb disp-color"><b>DOB :
                    </b>{{selectedPerson?.dob | date:'MM/dd/yyyy':'+0000'}} </p>
                </div>
                <div class="col-md-2">
                  <p class="textb disp-color"><b>Gender : </b>{{selectedPerson?.gendertypekey}}</p>
                </div>
                <div class="col-md-2">
                  <p class="textb disp-color"><b>CJAMS PID# : </b>{{selectedPerson?.cjamspid}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive petition-table table-theme mt-20">
                  <table class="table table-striped customTable firsttable">
                    <thead>
                      <tr>
                        <th>Victim Name</th>
                        <th>Maltreatment Type </th>
                        <th>Alleged Maltreator</th>
                        <th>Relationship to Maltreator</th>
                        <th>Findings</th>
                      </tr>
                    </thead>

                    <tbody>
                      <ng-container *ngIf="selectedCaseInfo?.outcomes?.length; else noRecordTemplate">
                        <tr *ngFor="let outcome of selectedCaseInfo?.outcomes">
                          <td>{{outcome.personname}}</td>
                          <td>{{outcome.name}}</td>
                          <td>{{selectedPerson.firstname }} {{selectedPerson.middlename }}
                            {{selectedPerson.lastname }} {{selectedPerson.suffix}} </td>
                          <td>{{outcome.description}}</td>
                          <td><span *ngFor="let finding of outcome.findings">{{finding.description}}</span>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-template #noRecordTemplate>
                        <tr>
                          <td colspan="5">Maltreatment Information not yet recorded under
                            Maltreatment Findings.</td>
                        </tr>
                      </ng-template>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>