<div class="row">
    <div class="col-sm-12 box-grid no-mar">
        <div class="">
            <!-- [formGroup]="investigationPlanSearchFormGroup"> *ngIf="dsdsActionsSummary$ | async; let dsdsActionsSummary"  -->
            <div class="form-search-person no-pad">
                <div class="row">
                    <div class="col-sm-5">
                        <ul class="list-unstyled list-inline task-list">
                            <li class="">
                                <a>TOTAL TASKS
                                    <span class="label label-primary"></span>
                                </a>
                            </li>
                            <li>
                                <a>OPEN TASKS
                                    <span class="label label-warning"></span>
                                </a>
                            </li>
                            <li>
                                <a>CLOSED TASKS
                                    <span class="label label-success"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                            <div class="form-group">
                                <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                    <li>
                                        <a href="javascript:{}" (click)="openMonitoringCheckList()">
                                            <img src="assets/images/suggest-icon.png">Add Check List</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div #addCheckList></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">
            <form [formGroup]="monitorForm">
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Periodic" (change)="onChange()" formControlName="periodic">
                            <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Month" formControlName="monthly" [disabled]="isMonthDisabled">
                            <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Year" formControlName="yearly" [disabled]="isYearDisabled">
                            <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                        <div class="btn-group btn-group-re pull-right">
                            <button type="submit" class="btn-pri" (click)="viewActivity()">View</button>
                        </div>
                    </div>                
            </form>

            <div [formGroup]="activityTaskStatusFormGroup">
                <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                        <table class="table table-bordered" formArrayName="task" style="width: 95%;margin: 50px;">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th style="width:54%">Comments</th>
                                    <th>Review Date</th>
                                    <th style="width:120px">Status</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task']['controls'] let i=index"
                                [formGroupName]="i">
                                <tr class="dd-overflow-inherit">
                                    <td style="text-align: start;width: 350px;">{{currentTask['controls'].checklist_task.value}}</td>
                                    <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew">
                                                <mat-form-field>
                                                    <input formControlName="commnts" type="text" matInput required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew">
                                                <mat-form-field>
                                                    <input formControlName="completeddate" matInput (click)="picker.open()"
                                                        [matDatepicker]="picker" [max]="maxDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                <mat-form-field>
                                                    <mat-select formControlName="status">
                                                        <mat-option *ngFor="let status of tasktypestatus" [value]="status">
                                                            {{status}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mrg-top15">
                                <div class="btn-group btn-group-re pull-right">
                                    <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                                </div>
                            </div>                          
                        </div>
                        
                </div>
            </div>

        </div>
    </div>
