<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="templateName">
        <mat-header-cell *matHeaderCellDef>Template Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.template_nm}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="templateDescription">
        <mat-header-cell *matHeaderCellDef>Template Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.template_description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="showForm(element)">
            <!-- <i class="fa fa-pencil-square-o"></i> -->
            <!-- <a data-toggle="modal" data-placement="top" title="start"
            data-original-title="Start" (click)="startAssessment(assessment, 'start')"
            class="aut-link-assessment_{{assessment.external_templateid}}">
            <img src="assets/images/assess-start.png">
        </a> -->
        <a >
            <img src="assets/images/assess-start.png">
        </a>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
</mat-table>
<p><br></p>
<div *ngIf="isShowForm" id="homeStudyForm"></div>
