
                      <div class="row">
                      <div class="col-md-12">
                        <ul class="nav nav-tabs " role="tablist">
                            <li  class="active">
                                <a href="#Clearance" aria-controls="Clearance" role="tab" data-toggle="tab" aria-expanded="false">
                                    Clearance
                                </a>
                            </li>
                            <li>
                              <a href="#Medical" aria-controls="Medical" role="tab" data-toggle="tab" aria-expanded="false">
                                  Medical
                              </a>
                          </li>
                         </ul>
                    </div>
                    <div class="tab-content col-md-12 ">
                        <div role="tabpanel" class="tab-pane in active" id="Clearance">

                          <div class="row" [formGroup]="formGroup">
                          <div class="col-md-12 ">  
                            <button type="button" class="btn-pri pull-right m-t-10" title="History" (click)="showClearanceHistory()" ><i class="fa fa-history"></i></button>
                            <!-- <button type="button" class="btn-pri pull-right m-t-10"  (click)="addClearance(null)">Add Clearance</button> -->
                          </div>
                          <div formArrayName="clearanceForm">
                          <div *ngFor="let item of formGroup['controls'].clearanceForm['controls']; let i=index" [formGroupName]="i" class="col-md-4">
                          <div class="card" style="padding: 10px">
                              <div>
                              <div class="card-header p-t-10 p-b-10 text-center bg-primary">
                                {{clearanceItems[i].title}}
                              </div>
                              <div class="card-body text-left m-t-10 p-t-10">
                                <div class="col-md-12" >
                                  <common-date-picker required  formControlName="cpa_request_date" placeholder="Request Date">
                                  </common-date-picker>
                                </div>
                                <div class="col-md-12" >
                                  <common-date-picker required  formControlName="cpa_result_date" placeholder="Result Date">
                                  </common-date-picker>
                                </div>
                                <div class="col-md-12">
                                  <p>Is {{clearanceItems[i].type}} Clearance Results in the foster family record? </p>
                                  <mat-radio-group required  formControlName="isclearnce_family_record">
                                      <mat-radio-button [value]="true">Yes</mat-radio-button>
                                      <mat-radio-button [value]="false">No</mat-radio-button>
                                  </mat-radio-group>
                                </div>
                                <div class="col-md-12">
                                  <p>Has the {{clearanceItems[i].type}} clearance been reviewed and determined to be compliant 
                                    regarding the requirements outlined in COMAR 07.05.02.13?  </p>
                                  <mat-radio-group required  formControlName="isclearnce_comar">
                                      <mat-radio-button [value]="true">Yes</mat-radio-button>
                                      <mat-radio-button [value]="false">No</mat-radio-button>
                                  </mat-radio-group>
                                </div>
                              </div>
                              </div>
                            </div>
                           </div>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-md-12 text-right m-t-10">
                          <button type="button" class="btn-pri" (click)="saveClearance(true)" >Save as Draft</button>
                          <button type="button" class="btn-pri" (click)="saveClearance(false)" >Complete</button>
                          <button type="button" class="btn-pri" (click)="reset()">Cancel</button>
                          </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane in" id="Medical">
                          <div class="row" [formGroup]="formGroup">
                            <div class="col-md-6 m-t-10">   
                              <button type="button" class="btn-pri pull-right " title="History" (click)="showMedicalHistory()" ><i class="fa fa-history"></i></button>
                              <!-- <button type="button" class="btn-pri pull-right"  (click)="addMedEvaluation(null)">Add Medical Evaluation</button> -->
                            </div>
                            <div class="col-md-6 m-t-10">   <button type="button" class="btn-pri pull-right " title="History" (click)="showTuberculosisHistory()" ><i class="fa fa-history"></i></button>
                              <!-- <button type="button" class="btn-pri pull-right"  (click)="addTuberculosis(null)">Add Tuberculosis Test</button> -->
                              </div>
                          <div class="col-md-6">

                            <div formArrayName="medEvaluationForm">
                              <div *ngFor="let item of formGroup['controls'].medEvaluationForm['controls']; let i=index" [formGroupName]="i" class="col-md-12">
                              <div class="card" style="padding: 10px">
                                  <div>
                                  <div class="card-header  p-t-10 p-b-10 text-center bg-primary">
                                    {{medEvaluationItems[i].title}}
                                  </div>
                                  <div class="card-body text-left m-t-10 p-t-10">
                                    <div class="col-md-12" >
                                      <common-date-picker required  formControlName="cpa_test_date"  placeholder="Date of Medical Evaluation">
                                      </common-date-picker>
                                    </div>
                                    <div class="col-md-12">
                                      <p>Is Medical Evaluation in the foster family record?   </p>
                                      <mat-radio-group required  formControlName="ismedical_family_record">
                                          <mat-radio-button [value]="true">Yes</mat-radio-button>
                                          <mat-radio-button [value]="false">No</mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                               </div>
                            </div>

                           </div> 
                           <div class="col-md-6">
                            <div formArrayName="tuberculosisForm">
                              <div *ngFor="let item of formGroup['controls'].tuberculosisForm['controls']; let i=index" [formGroupName]="i" class="col-md-12">
                              <div class="card" style="padding: 10px">
                                  <div>
                                  <div class="card-header  p-t-10 p-b-10 text-center bg-primary">
                                    {{tuberculosisItems[i].title}}
                                  </div>
                                  <div class="card-body text-left p-t-10">
                                    <div class="col-md-12" >
                                      <common-date-picker required  formControlName="cpa_test_date" placeholder="Test Date">
                                      </common-date-picker>
                                    </div>
                                    <div class="col-md-12">
                                      <p>	Is Tuberculosis Test in the foster family record?   </p>
                                      <mat-radio-group required  formControlName="ismedical_family_record">
                                          <mat-radio-button [value]="true">Yes</mat-radio-button>
                                          <mat-radio-button [value]="false">No</mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                               </div>
                            </div>
                           </div> 
                          </div>
                          <div class="row">
                            <div class="col-md-12 text-right m-t-10">
                          <button type="button" class="btn-pri" (click)="saveMedical(true)" >Save as Draft</button>
                          <button type="button" class="btn-pri" (click)="saveMedical(false)" >Complete</button>
                          <button type="button" class="btn-pri" (click)="reset()">Cancel</button>
                            </div></div>
                        </div>
                    </div>
                  </div>

<div class="modal fade in" id="clearance-history" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="">
   <div class="modal-dialog modal-lg custom-wid" role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Clearance History</h4>
         </div>


         <div class="modal-body">

          <div class="row">
                <div class="col-md-12">
                        <ul class="nav nav-tabs " role="tablist">
                            <li  class="active">
                                <a href="#cps-history" (click)="selectTab('CPS')" aria-controls="cps" role="tab" data-toggle="tab" aria-expanded="false">
                                  Child Protective Services (CPS)
                                </a>
                            </li>
                            <li>
                              <a href="#cps-history" (click)="selectTab('Federal')" aria-controls="Medical" role="tab" data-toggle="tab" aria-expanded="false">
                                Federal (CJIS) 
                              </a>
                          </li>
                          <li>
                            <a href="#cps-history" (click)="selectTab('State')" aria-controls="Medical" role="tab" data-toggle="tab" aria-expanded="false">
                              State (CJIS)
                            </a>
                        </li>
                         </ul>
                    </div>
                    <div class="tab-content col-md-12 ">
                      <div role="tabpanel" class="tab-pane in active" id="cps-history">
                        <div class="col-md-12 table-responsive table-theme">
                          <table class="table table-striped">
                             <thead>
                                <tr>
                                   <th>CPS Request Date</th>
                                   <th>CPS Result Date</th>             
                                   <th>is Clearnce Family Record </th>
                                   <th>is Clearnce Comar</th>
                                   <th>Clearnce Type</th>
           
                                </tr>
                             </thead>
                             <tbody *ngIf="clearanceHistory && clearanceHistory.length > 0; else noItems">
                               <ng-container *ngFor="let data of clearanceHistory">
                                   <tr *ngIf="data.clearnce_type === selectedCleranceType && data.active_flag === 0">
                                       <td>{{ data.cpa_request_date  |  date : 'MM/dd/yyyy' }}</td>
                                       <td>{{ data.cpa_result_date |  date : 'MM/dd/yyyy' }}</td>
                                       <td>{{ data.isclearnce_family_record ? 'Yes' : 'No' }}</td>
                                       <td>{{ data.isclearnce_comar ? 'Yes' : 'No' }}</td>
                                       <td>{{ data.clearnce_type }}</td>
                                   </tr>
                               </ng-container>
                           </tbody>
                          </table>
                          <ng-template #noItems>
                           <p class="no-datatxt">No Items!</p>
                       </ng-template>
                       </div>
                      </div>
                    </div>
          </div>
         </div>
           </div>
      </div>
   </div>


<div class="modal fade in" id="medical-history" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="">
   <div class="modal-dialog modal-lg custom-wid" role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Medical History</h4>
         </div>


         <div class="modal-body">


          <div class="row">
            <div class="col-md-12 table-responsive table-theme">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>CPS Test Date</th>           
                        <th>is Medical Family Record </th>
                     </tr>
                  </thead>
                  <tbody *ngIf="medEvaluationHistory && medEvaluationHistory.length > 0; else noItems">
                    <ng-container *ngFor="let data of medEvaluationHistory">
                        <tr   *ngIf='data.medical_type === "Medical" && data.active_flag === 0'>
                            <td>{{ data.cpa_test_date |  date : 'MM/dd/yyyy' }}</td>
                            <td>{{ data.ismedical_family_record ? 'Yes' : 'No' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
               </table>
               <ng-template #noItems>
                <p class="no-datatxt">No Items!</p>
            </ng-template>
            </div>
         </div>




         </div>
      </div>
   </div>
</div>



<div class="modal fade in" id="tuberculosis-history" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="">
   <div class="modal-dialog modal-lg custom-wid" role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Tuberculosis History</h4>
         </div>


         <div class="modal-body">

          <div class="row">
            <div class="col-md-12 table-responsive table-theme">
               <table class="table table-striped">
                  <thead>
                     <tr>
                      <th>CPS Test Date</th>           
                      <th>is Medical Family Record </th>

                     </tr>
                  </thead>
                  <tbody *ngIf="tuberculosisHistory && tuberculosisHistory.length > 0; else noItems">
                    <ng-container *ngFor="let data of tuberculosisHistory">
                        <tr *ngIf='data.medical_type === "Tuberculosis" && data.active_flag === 0'>
                            <td>{{ data.cpa_test_date |  date : 'MM/dd/yyyy' }}</td>
                            <td>{{ data.ismedical_family_record ? 'Yes' : 'No' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
               </table>
               <ng-template #noItems>
                <p class="no-datatxt">No Items!</p>
            </ng-template>
            </div>
         </div>




         </div>
      </div>
   </div>
</div>
  


