<div class="container-fluid">
    <div class="dashboard-cont no-pad">
        <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills ">
                <li class="active" *ngIf="role===roleList.SUPERVISOR">
                    <a href="#case-assign" data-toggle="tab">ASSIGN CASE</a>
                </li>
                <li *ngIf="role===roleList.SUPERVISOR">
                    <a  (click)="routeToServiceCase()">ASSIGN
                        SERVICE CASE</a>
                </li>
            </ul>
            <div class="tab-content boxgrid assign-case">
                <div class="tab-pane active" id="case-assign">
                    <div class="tab-horizontal mrg-top25 mrg-btm25">
                        <ul class="nav nav-pills">
                            <li class="active" *ngIf="role===roleList.SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab" (click)="getAssignCase(1, false, null, 'Intial')">TO BE
                                    ASSIGNED</a>
                            </li>
                            <li class="active" *ngIf="role===roleList.KINSHIP_SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab"
                                    (click)="getAssignCase(1, false, null)">IN-PROGRESS</a>
                            </li>
                            <li *ngIf="role===roleList.SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab"
                                    (click)="getAssignCase(1, true, null, 'Intial')">ASSIGNED</a>
                            </li>
                            <li *ngIf="role===roleList.KINSHIP_SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab"
                                    (click)="getAssignCase(1, true)">CLOSED</a>
                            </li>
                            <li *ngIf="role===roleList.SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab" (click)="getAssignCase(1 , true , 'Closed', 'Intial')">CLOSED</a>
                            </li>
                            <li *ngIf="role===roleList.SUPERVISOR">
                                <a href="#case-tobe-assigned" data-toggle="tab" (click)="getAssignCase(1 , true , 'Completed', 'Intial')">COMPLETED</a>
                            </li>
                            <li class="pull-right m-t-15">
                                <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                                    <mat-form-field>
                                        <mat-select formControlName="securityusersid" placeholder=""  (change)="supervisorChange()">
                                            <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input type="text" class="form-control aut-txt-caseNumberSearch" formControlName="serreqno" (input)="onSearchAssignCase('serreqno', $event.target.value)" placeholder="Search Cases..." />
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid assign-case">
                            <div class="tab-pane active" id="case-tobe-assigned">
                                <div class="cnt-min-height">
                                    <div class="table-theme table-responsive">
                                        <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                            <thead>
                                                <tr>
                                                    <th sortable-column="servicerequestnumber" sort-direction="desc">
                                                        CASE NUMBER</th>
                                                    <th sortable-column="intakenumber">INTAKE NUMBER</th>
                                                    <th>Head of Household</th>
                                                    <th *ngIf="assignedStatus && status !== 'Completed'">ASSIGNED TO</th>
                                                    <th sortable-column="assigneddate" *ngIf="assignedStatus">ASSIGNED
                                                        DATE & TIME
                                                    </th>
                                                    <th sortable-column="acceptdate" *ngIf="assignedStatus">ACCEPTED
                                                        DATE & TIME
                                                    </th>
                                                    <th>TYPE</th>
                                                    <th>SUB TYPE</th>
                                                    <th *ngIf="status !== 'Completed'">Offense Location</th>
                                                    <th *ngIf="status !== 'Completed'">Placement Status</th>
                                                    <th *ngIf="status !== 'Completed'">STATUS</th>
                                                    <th *ngIf="assignedStatus && status === 'Completed'">ASSIGNED APPEAL USER</th>
                                                    <ng-container *ngIf="role===roleList.SUPERVISOR">
                                                        <th *ngIf="!assignedStatus || status === 'Completed'">ACTION</th>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="assingedCaseSummary; let assignedCase">
                                                <ng-container *ngIf="assignedCase.length>0; else noItems">
                                                    <ng-container
                                                        *ngFor="let item of assignedCase; let groupIndex = index">
                                                        <tr>
                                                            <td *ngIf="item?.dadetails?.length > 0">
                                                                <a>
                                                                    <i (click)="groupShow(groupIndex, item)"
                                                                        [class]="!item.isCollapsed  ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                                        aria-hidden="true"></i>
                                                                    <a>{{item.servicerequestnumber}}</a>
                                                                </a>
                                                            </td>
                                                            <td *ngIf="!item?.dadetails">
                                                                <a>
                                                                    <a
                                                                        (click)="routToCaseWorker(item)">{{item.servicerequestnumber}}</a>
                                                                </a>
                                                            </td>
                                                            <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span
                                                                    *ngIf="item?.sdm?.length">
                                                                    <span matTooltip="Child Fatality"
                                                                        *ngIf="item?.sdm[0]?.ischildfatality"
                                                                        class="dot yellow-dot"></span><span
                                                                        matTooltip="Provider Maltreatment"
                                                                        *ngIf="item?.sdm[0]?.ismaltreatment"
                                                                        class="dot blue-dot"></span></span></td>
                                                                        <td>
                                                                    <person-information [persons]="item?.legalguardian">
                                                                        </person-information>
                                                                      </td>
                                                            <td *ngIf="assignedStatus && status !== 'Completed'">{{item.assignedto}}</td>
                                                            <td *ngIf="assignedStatus">{{item.assigneddate ? (item.assigneddate |
                                                                        date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                                            </td>
                                                            <td *ngIf="assignedStatus">{{item.acceptdate ? (item.acceptdate |
                                                                        date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                                            </td>
                                                            <td *ngIf="item.servreqtype==='CHILD'">Child Protective
                                                                Services</td>
                                                            <td *ngIf="item.servreqtype!=='CHILD'">{{item.servreqtype}}
                                                            </td>
                                                            <td *ngIf="item.servreqtype==='CHILD'">
                                                                {{(item.servreqsubtype==='Default')?'Risk of Harm':item.servreqsubtype}}</td>
                                                            <td *ngIf="item.servreqtype!=='CHILD'">Non-CPS</td>
                                                            <td *ngIf="status !== 'Completed'">{{item.incidentlocation}}</td>
                                                            <td *ngIf="status !== 'Completed'">{{item?.placementfostercareapprove}}</td>
                                                            <td *ngIf="status !== 'Completed'">{{item.servreqstatus}}</td>
                                                            <td *ngIf="assignedStatus && status === 'Completed'">{{item.appealconame}}</td>
                                                            <ng-container *ngIf="role===roleList.SUPERVISOR">
                                                                <td *ngIf="!assignedStatus">
                                                                    <button type="submit" class="btn-pri aut-btn-assign"
                                                                        data-target="#intake-caseassign"
                                                                        data-toggle="modal"
                                                                        (click)="getRoutingUser(item)">ASSIGN</button>
                                                                </td>
                                                                <td *ngIf="status === 'Completed'">
                                                                    <button [disabled]="calculatedays(item.acceptdate)  && calculatedays(item.acceptdate) >= 66 " type="submit" class="btn-pri aut-btn-assign"
                                                                        data-target="#intake-caseassign-completed"
                                                                        data-toggle="modal"
                                                                        (click)="getAppealRoutingUser(item)" *ngIf="!item.assignbtn">APPEAL</button>
                                                                        {{item.assignbtn?'Assinged to Appeal':''}}
                                                                     <span *ngIf="!item.assignbtn && calculatedays(item.acceptdate)  && calculatedays(item.acceptdate) >= 66 " matTooltip="Appeal cannot be done since 65 days time period has ended." ><i  class="fa fa-info-circle"></i></span> 
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                        <ng-container *ngIf="!item.isCollapsed">

                                                            <tr class="inner-tbl" *ngIf="item.dadetails">
                                                                <td colspan="6">
                                                                    <table>
                                                                        <thead>
                                                                <th>case number </th>
                                                                <th>client </th>
                                                                <th>status</th>
                                                                <th>type</th>
                                                                </thead>
                                                            <tr *ngFor="let groupItem of item.dadetails">
                                                                <td>
                                                                    <a (click)="routToCaseWorker(groupItem)">
                                                                        {{groupItem.servicerequestnumber}}</a>
                                                                </td>
                                                                <td>{{groupItem.clientname}} </td>
                                                                <td>{{groupItem.intakeserreqstatustypekey}}</td>
                                                                <td>{{groupItem.intakeservreqtypekey}}</td>
                                                            </tr>
                                        </table>
                                        </td>

                                        </tr>
                                        </ng-container>
                                        </ng-container>
                                        </ng-container>
                                        </tbody>
                                        </table>
                                        <ng-template #noItems>
                                            <p class="no-datatxt"> No Items! </p>
                                        </ng-template>
                                        <div class="text-center" *ngIf="totalRecordsAssingedCase">
                                            <pagination [totalItems]="totalRecordsAssingedCase"
                                                [(ngModel)]="tobeassignedPaginationInfo.pageNumber"
                                                (pageChanged)="pageAssignedChanged($event)" class="pagination-sm"
                                                [boundaryLinks]="true" [maxSize]="10"
                                                [itemsPerPage]="tobeassignedPaginationInfo.pageSize"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="case-appeal">
                                <div class="cnt-min-height">
                                    <div class="table-theme table-responsive">
                                        <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                            <thead>
                                                <tr>
                                                    <th>CASE NUMBER</th>
                                                    <th>INTAKE NUMBER</th>
                                                    <th>CLIENT</th>
                                                    <th>TYPE</th>
                                                    <th>SUB TYPE</th>
                                                    <th>STATUS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="assingedCaseSummary; let assignedCase">
                                                <ng-container *ngIf="assignedCase.length>0; else noItems">
                                                    <tr *ngFor="let item of assignedCase">
                                                        <td>
                                                            <a 
                                                            (click)="routToCaseWorker(item)">{{item.servicerequestnumber}}</a>
                                                        </td>
                                                        <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span
                                                                *ngIf="item?.sdm?.length">
                                                                <span matTooltip="Child Fatality"
                                                                    *ngIf="item?.sdm[0]?.ischildfatality"
                                                                    class="dot yellow-dot"></span><span
                                                                    matTooltip="Provider Maltreatment"
                                                                    *ngIf="item?.sdm[0]?.ismaltreatment"
                                                                    class="dot blue-dot"></span></span></td>
                                                        <td>{{item.raname}} </td>
                                                        <td>{{item.servreqtype}}</td>
                                                        <td>{{item.servreqsubtype}}</td>
                                                        <td>{{item.servreqstatus}}</td>
                                                        <td>
                                                            <button type="submit" class="btn-pri"
                                                                data-target="#appeal-modal" data-toggle="modal"
                                                                (click)="openAppeal(item)">APPEAL</button>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>
                                            <p class="no-datatxt"> No Items! </p>
                                        </ng-template>
                                        <div class="text-center" *ngIf="totalRecordsAppeal">
                                            <pagination [totalItems]="totalRecordsAppeal"
                                                [(ngModel)]="appealPaginationInfo.pageNumber"
                                                (pageChanged)="appealPageChanged($event)" class="pagination-sm"
                                                [boundaryLinks]="true" [maxSize]="10"
                                                [itemsPerPage]="appealPaginationInfo.pageSize"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog"  data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">

                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#caseassign-caseworker" data-toggle="tab"
                                (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                        </li>
                        <li>
                            <a href="#caseassign-caseworker" data-toggle="tab"
                                (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                        </li>
                        <li class="text-right pos-right" [formGroup]="teamForm" *ngIf="!isSupervisor">
                            <mat-form-field>
                                <mat-select placeholder="Filter By UNIT" formControlName="teamid" [value]="teamid" (change)="teamChange()">
                                    <mat-option value="">All</mat-option>
                                    <mat-option *ngFor="let item of teamList" [value]="item.teamid">{{item.name}} <b>({{item.parentteamname}})</b></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th *ngIf="!isSupervisor">CASE LOAD</th>
                                                <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                                <th *ngIf="!isSupervisor">ZIP CODE</th>
                                                <th *ngIf="isSupervisor">AGENCY</th>
                                                <th>TYPE OF WORKER</th>
                                                <th>UNIT</th>
                                                <th>Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)"
                                                                class="aut-rdo-caseWorkerRadio">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td class="aut-lbl-caseWorkerName">{{item.username}} </td>
                                                    <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.worklocationcode ?
                                                        item.worklocationcode : 'N/A'}}</td>
                                                    <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 clsIntake dpnew">
                        <h4 class="m-b-20"> <sup class="red m-l-5">*</sup>Responsibility:</h4>
                        <div class="row m-l-20">
                            <div class="col-sm-2" *ngFor="let type of responsibilityTypeDropdownItems$ | async">
                                <label class="control control--radio" style="display: inline">
                                    <input type="radio" name="responsibilityType"
                                        (click)="selectResponsibilityType(type.value)"
                                        class="aut-chk-responsibility_{{type.text}}">
                                    <div class="control__indicator"></div>
                                </label>
                                {{type.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri aut-btn-assign" (click)="assignUser()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="intake-caseassign-completed" role="dialog"  data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">

                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#caseassign-caseworker" data-toggle="tab"
                                (click)="listUser('TOBEASSIGNED')">Appeal Users</a>
                        </li>
                        <li class="text-right pos-right" [formGroup]="teamForm" *ngIf="!isSupervisor">
                            <mat-form-field>
                                <mat-select placeholder="Filter By UNIT" formControlName="teamid" [value]="teamid" (change)="teamChange()">
                                    <mat-option value="">All</mat-option>
                                    <mat-option *ngFor="let item of teamList" [value]="item.teamid">{{item.name}} <b>({{item.parentteamname}})</b></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th *ngIf="!isSupervisor">CASE LOAD</th>
                                                <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                                <th *ngIf="!isSupervisor">ZIP CODE</th>
                                                <th *ngIf="isSupervisor">AGENCY</th>
                                                <th>TYPE OF WORKER</th>
                                                <th>UNIT</th>
                                                <th>Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)"
                                                                class="aut-rdo-caseWorkerRadio">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td class="aut-lbl-caseWorkerName">{{item.username}} </td>
                                                    <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.worklocationcode ?
                                                        item.worklocationcode : 'N/A'}}</td>
                                                    <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri aut-btn-assign" (click)="assignAppealUser()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="appeal-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="this.appealForm.reset()">&times;</button>
                <h4 class="modal-title"> APPEAL </h4>
            </div>
            <div class="modal-body">
                <div class="row" [formGroup]="appealForm">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput formControlName="appealdate" [matDatepicker]="picker1" id="date1"
                                placeholder="Appeal Date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="Appeal Status" formControlName="dispositioncode">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let status of statusDropdownItems$ | async"
                                    value="{{status.value}}">{{status.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <textarea type="text" matInput formControlName="remarks"
                                placeholder="SAO Appeal Notes *"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" [disabled]="appealForm.pristine || appealForm.invalid" class="btn-pri"
                            (click)="saveAppeal()">Save</button>
                        <!-- <button type="button" *ngIf="!appealSaveButton" class="btn-pri" data-dismiss="modal">Close</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Restricted Case Assignment Ack -->
<div class="modal fade" id="restrict-item-assign-ack" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Restricted Case Assignment</h4>
            </div>
                <div class="modal-body">
                    <p> Since this case {{selectedCaseForAssignment}} is a restricted item, the assigned person {{selectedPerson?.username}} will also be granted access. </p>
                </div>
            <div class="modal-footer">
                <div class="text-right right-mspace-15">
                    <button type="button" class="btn-bg" data-dismiss="modal"> Done </button>
                </div>
            </div>
        </div>
    </div>
</div>