.red {
	color: red;
}

#caseassign-caseworker {
	max-height: 300px;
	overflow: scroll;
	overflow-x: hidden;
}

.pos-right {
	position: absolute;
    top: 8px;
    float: right;
    right: 30px;
    width: 300px !important;
}


.pos-right::ng-deep .mat-select-value-text>span{
    color: #495f82 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.tab-horizontal .nav {
    margin-top: 10px;
}