<div class="tab-content no-shadow">
  <div id="add-Profile-info" class="tab-pane fade in active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="header-4">Youth Status</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedValue" placeholder="Select" (change)="changedIntake(1, $event.value)">
              <mat-option [value]="defaultValue">ALL</mat-option>
              <mat-option *ngFor="let item of intakeList" [value]="item.value">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8 pull-right text-right" *ngIf="showOpenButton">
          <button class="btn btn-pri" (click)="changeStatus(selectedValue)">{{openDescription}}</button>
        </div>
      </div>
      <div class="table-responsive table-theme m-t-20">
        <table class="table table-striped" *ngIf="{intakelists: intakeListAll$ | async} as intakelists">
          <thead>
            <tr>
              <th>Intake #</th>
              <th>Case #</th>
              <th>Active Status</th>
              <th>Created User</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of intakeListAll$ | async">
              <td>{{item.intakenumber}}</td>
              <td>{{item.servicerequestnumber}}</td>
              <td>{{item.description}}</td>
              <td>{{item.createdname}}</td>
              <td>{{item.effectivedate | date : 'MM/dd/yyyy hh:mm a' }}</td>
              <td>
                <ul class="list-inline list-unstyled m-b-0" *ngIf="item.manualclose">
                  <li><a (click)="changeStatus(item)" >Close</a></li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="(intakeListAll$ | async)?.length === 0">
              <td colspan="5">No Data found.</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="mt-10" *ngIf="(intakeListAllcount$ | async)?.length >0 ">
          <pagination [totalItems]="intakeListAllcount$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="notes-popup" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{isStatus}} Notes</h4>
            </div>
            <div class="modal-body dashboard-cont">
                <div class="row">
                    <div class="col-md-12">
                        <quill-editor [placeholder]="notesPlaceholder" [(ngModel)]="updateNotes" format="html" [style]="{height: '200px'}"></quill-editor>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="updateStatus()">{{isStatus}}</button>
            </div>
        </div>
    </div>
</div>