<div class="row">
  <div class="col-md-12" [formGroup]="FeedingInfoForm">
    <div class="col-md-12">
     

      <div class="row">
        <div class="col-sm-6">
          <span class="required">Info provided by</span>
          <br>
          <mat-radio-group formControlName="infoprovidedby" required>
            <mat-radio-button [value]="1">Household</mat-radio-button>
            <mat-radio-button [value]="2">Collateral</mat-radio-button>
          </mat-radio-group>

        </div>
        <!-- <div class="col-md-3">
            <mat-form-field>
              <mat-select formControlName="clientlist" placeholder="Client List">
                  <mat-option *ngFor="let item of personRoles" [value]='item.personname'>{{item.displayname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

        <!-- <div class="col-md-3">
            <mat-form-field>
              <mat-select formControlName="Collaterallist" placeholder="Collateral List">
                  <mat-option *ngFor="let item of personRoles" [value]='item.personname'>{{item.displayname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

        <div class="col-md-6">
          <mat-form-field>
            <textarea type="text" formControlName="provided_name" matInput placeholder="Info Provided Name"
              class="aut-txt-malAllComments" required></textarea>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6">
              <mat-form-field>
                <mat-select formControlName="relationship" placeholder="Relationship">
                    <mat-option *ngFor="let item of personRoles" [value]='item.personname'>{{item.displayname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
      </div>

      <div class="row m-t-10">
        <div class="col-md-12">
          <mat-checkbox formControlName="isfeedinginfoknown">Feeding Info Unknown</mat-checkbox>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="diettype" placeholder="Diet Type">
              <mat-option *ngFor="let item of DietTypeList$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="eatertype" placeholder="Eater Type">
              <mat-option *ngFor="let item of EaterTypeList$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="liquids" placeholder="Liquids">
              <mat-option *ngFor="let item of LiquidList$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="typeofformula" placeholder="Type Of Formula">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="amountperfeeding" placeholder="Amount Per Feeding">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="schedule" placeholder="Schedule">
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="solidfood" placeholder="Solid Food">
              <mat-option *ngFor="let item of SolidFood$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="feeding_position" placeholder="Feeding Position">
              <mat-option *ngFor="let item of FeedingPositionList$ | async" value="{{item.value}}">{{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="otherneeds" placeholder="Other Needs">
              <mat-option *ngFor="let item of OtherNeedsList$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <textarea type="text" formControlName="comments" matInput placeholder="Comments"
              class="aut-txt-malAllComments"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <document-upload-list [uploadedFiles]="uploadedFiles" [uploadNumber]="uploadNumber"></document-upload-list>
      </div>
      
      <div class="row m-t-20">
        <div class="col-md-12 ">
          <div class="pull-right">
            <button [disabled] = "_personInfoService.getClosed()" class="btn-pri" type="button" (click)="resetFeeding()">Clear</button>
            <button class="btn-pri" (click)="addFeeding()" [disabled]="FeedingInfoForm.invalid || FeedingInfoForm.pristine || _personInfoService.getClosed()">Save</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>