<div class="cnt-min-height">

    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="caseCreationFormGroup">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Complaint Type and Sub Type</h4>
                        <p> Select Complaint and Sub Type to create new case</p>
                    </div>
                </div>

                <div class="row pad-top20">
                    <div class="col-sm-3">
                        <mat-form-field>
                            <mat-select placeholder="Complaint Type" formControlName="serviceType" (change)="loadAllegations($event)">
                                <mat-option *ngFor="let item of serviceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>

                            <mat-select placeholder="Allegations" formControlName="selectedAllegations" multiple (openedChange)="onAllegationWindow($event)">
                                <mat-option *ngFor="let item of selectedAllegationList$ | async" value="{{item?.allegationid}}">{{item?.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--<mat-form-field>
                            <mat-chip-list #allegationChipList class="mat-chip-list-stacked" aria-orientation="vertical">
                                <mat-chip *ngFor="let allegation of selectedAllegations" [selectable]="selectable" [removable]="removable" (removed)="removeAllegation(allegation)">
                                    {{allegation.name}}
                                    <mat-icon matChipRemove class="pull-right" *ngIf="removable">x</mat-icon>
                                </mat-chip>
                                <input placeholder="Allegations" #allegationInput [formControl]="allegationCtrl" [matAutocomplete]="allegationAutoComplete"
                                    [matChipInputFor]="allegationChipList" [matChipInputAddOnBlur]="addOnBlur">
                            </mat-chip-list>
                            <mat-autocomplete #allegationAutoComplete="matAutocomplete" (optionSelected)="allegationSelected($event)">
                                <mat-option *ngFor="let allegation of filteredAllegations$ | async" [value]="allegation">
                                    {{allegation.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>-->
                        <!-- <mat-form-field>
                            <mat-select placeholder="Allegations(Optional) " formControlName="selectedAllegations" multiple>
                                <mat-option *ngFor="let item of allegations$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>-->

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <mat-form-field>
                            <mat-select placeholder="Sub Type " formControlName="subServiceType">
                                <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-sm-3">
                        <button class="btn-pri m-t-10 pull-right" (click)="addCase()" type="submit">Add</button>
                    </div>

                </div>
            </form>
        </div>
    </div>


    <section class="mrg-top25" *ngIf="createdCases?.length>0">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="site-color">Created Cases </h4>
            </div>
            <div class="col-sm-4 text-right">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="created-cases mrg-top25" *ngFor="let case of createdCases;let caseIndex = index">
                    <div class="casestop-sec">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <b>CASE NUMBER
                                    <br/> {{case.caseID}} </b>
                            </li>
                            <li> COMPLAINT TYPE
                                <br/>{{case.serviceTypeValue}}
                            </li>
                            <li> SUB TYPES
                                <br/>{{case.subSeriviceTypeValue}}
                            </li>
                            <!--<li> STATUS & DISPOSITION
                <br/>
                <a href> ADD STATUS & DISPOSITION</a>
              </li>-->
                        </ul>
                        <div class="actionicons">
                            <span data-target="#intake-complaint-pdf1" *ngIf="isPeaceOrder(case)" data-toggle="modal">
                                <i class="fa fa-download text-22"></i>
                            </span>
                            <span (click)="onEditCase(case)" data-target="#intake-edittypemodal" data-toggle="modal">
                                <i class="fa fa-pencil text-22 "></i>
                            </span>
                            <span data-target="#delete-case-popup" (click)="deleteCase(case)" data-toggle="modal">
                                <i class="fa fa-trash text-22"></i>
                            </span>


                        </div>
                    </div>
                    <div class="cases_alegation">
                        <div class="cases_alegation-inner">
                            <div class="cases_alegation-top">
                                <span>ALLEGATIONS</span>
                                <span class=" pull-right bold">
                                    <!-- <a href data-target="#intake-addtypemodal" (click)="loadAllegation(caseIndex,case.serviceTypeID)" data-toggle="modal">ADD ALLEGATION </a> -->
                                </span>
                            </div>
                            <div *ngIf="case.choosenAllegation.length===0" class="cases_alegation-content">
                                <h4 class="bold">No Allegations Added</h4>
                            </div>
                            <div *ngIf="case.choosenAllegation.length>0">
                                <div *ngFor="let allegation of case.choosenAllegation;let aligationIndex = index" class="cases_alegation-content">
                                    <h4 class="bold">{{allegation.allegationValue}}</h4>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of allegation.indicators"> - {{item.indicatorname}}</li>
                                    </ul>
                                    <div class="actionicons">
                                        <span (click)="loadAllegation(caseIndex,case.serviceTypeID);editAllegation(case.serviceTypeID,allegation)" data-target="#intake-editAllegationModal"
                                            data-toggle="modal">
                                            <i class="fa fa-pencil text-22 "></i>
                                        </span>
                                        <span (click)="deleteAllegation(caseIndex,aligationIndex)" class="m-l-10">
                                            <i class="fa fa-trash text-22"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <div class="row mrg-top25" *ngIf="createdCases.length > 1">
        <div class="col-sm-12">
            <form action="" [formGroup]="groupSetupForm" method="get" accept-charset="utf-8" class="form-search-person1">
                <div class="col-md-5">
                    <div class="form-group multiple-select">
                        <select name="" multiple="" formControlName="DAItems" class="form-control full-width">
                            <option *ngFor="let case of createdCases" [value]="case.caseID" [style.display]="!case.GroupNumber ? 'block' : 'none'">{{case.caseID}}
                                {{case.serviceTypeValue}} {{case.subSeriviceTypeValue}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="btn-group btn-group-re mrg-top25">
                        <button type="submit" class="btn-pri" (click)="openGroupSetup()"> Group</button>
                        <button type="submit" class="btn-pri mt-15" (click)="unGroupDAItems()"> UnGroup</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group multiple-select">
                        <select name="" multiple="" formControlName="selectedDAItemsGroupNo" class="form-control full-width">
                            <option *ngFor="let case of createdCases" [value]="case.GroupNumber" [style.display]="case.GroupNumber ? 'block' : 'none'">({{case.GroupNumber}})
                                {{case.caseID}} {{case.serviceTypeValue}} {{case.subSeriviceTypeValue}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="intake-edittypemodal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" id="editClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Edit Complaint/Sub Type</h4>
            </div>
            <div class="modal-body">

                <div class="row mrg-top25">
                    <form [formGroup]="caseEditFormGroup">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Complaint Type" formControlName="serviceType" (change)="loadAllegations($event)">
                                    <mat-option *ngFor="let item of serviceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Sub Type " formControlName="subServiceType">
                                    <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <button class="btn-pri m-t-10 " (click)="updateSubTypes()" [disabled]="isUpdateDisabled()" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="intake-addtypemodal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Add Allegations</h4>
            </div>
            <div class="modal-body" style="min-height: 300px">

                <div class="row mrg-top25">
                    <form [formGroup]="caseCreationFormGroup">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-select placeholder="ALLEGATIONS" formControlName="allegationId">
                                    <mat-option *ngFor="let item of allegationDropDownItems" (click)="allegationOnChange(item)" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>

                <h5 class="title-clr">SELECT INDICATOR</h5>

                <section class="selectindicator_list">
                    <ul class="list-unstyled">
                        <li *ngFor="let item of filteredAllegationItems[0]?.indicators">
                            <label class="control control--checkbox">
                                {{item.indicatorname}}
                                <input type="checkbox" class="filled" (change)="indicatorsChecked(item, $event)">
                                <div class="control__indicator"></div>
                            </label>
                        </li>
                    </ul>

                </section>

            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" data-dismiss="modal" (click)="saveAllegations()">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="intake-editAllegationModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Edit Allegation</h4>
            </div>
            <div class="modal-body" style="min-height: 300px">

                <div class="row mrg-top25">
                    <form [formGroup]="caseCreationFormGroup">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-select  placeholder="ALLEGATIONS" formControlName="allegationId">
                                    <mat-option *ngFor="let Allegation of selectedAllegation$ | async" value="{{Allegation.allegationID}}">{{Allegation.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>

                <h5 class="title-clr">SELECT INDICATOR</h5>
                <section class="selectindicator_list">

                    <ul class="list-unstyled" *ngFor="let Allegation of selectedAllegation$ | async">
                        <ng-container *ngIf="Allegation.indicator && Allegation.indicator.length>0; else noItems">
                            <li *ngFor="let indicator of Allegation.indicator">
                                <label class="control control--checkbox">
                                    {{indicator.indicatorname}}
                                    <input type="checkbox" class="filled" [checked]="isIndicatorExist(indicator)" (click)="indicatorsChecked(indicator, $event)">
                                    <div class="control__indicator"></div>
                                </label>
                            </li>
                        </ng-container>
                    </ul>

                    <ng-template #noItems>
                        <p class="no-datatxt"> No indicators to select! </p>
                    </ng-template>
                </section>

            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" data-dismiss="modal" (click)="saveAllegations()">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="delete-case-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this case? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteCaseConfirm()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="common-modal">
    <div class="modal fade" id="groupReason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-w450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Group Reason</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-search-person inline-form-wrap modal-inatke-form" [formGroup]="groupDAReasonForm">
                                <div class="form-group">
                                    <label class="lb-lft" class="required">Reason Type</label>

                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Agency Action Number" matInput formControlName="reasonType" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option value=""> Select Reason type </mat-option>
                                            <mat-option *ngFor="let item of reasonDropdown" [value]="item.value">{{item.text}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <textarea matInput class="form-control full-width" placeholder="Comments" rows="5" formControlName="reasonComments"></textarea>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="btn-group-re btn-group">
                                        <button type="button" class="btn-bg" data-dismiss="modal" (click)="cancelGroupSetup()">Cancel</button>
                                        <button type="button" class="btn-pri" (click)="saveGroupSetup()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>