<div class="container-fluid intake-form">
    <payment-schedule></payment-schedule>
    <div class="intake no-pad m-t-10">
        <div class="tab-horizontal">
            <ul class="nav nav-pills click-triggers intake-tabs">
                <li *ngFor="let tab of tabs" routerLinkActive="active">
                    <a id="tab.id" [routerLink]="tab.route">{{tab.title}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>