<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height container-fluid">
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4> STAFF</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
               <table class="table customTable firsttable">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Affliation Type</th>
                        <th>Job Title</th>
                        <th>Employee Type</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let person of assignedStaff">
                        <td>{{person.first_nm}}</td>
                        <td>{{person.last_nm}}</td>
                        <td>{{person.affiliation_type}}</td>
                        <td>{{person.job_title}}</td>
                        <td>{{person.employee_type}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
   
    </div>
  </div>
  