<div class="row">
  <div class="col-md-12 section-title">
      <h4 class="text-uppercase">Attorney</h4>
  </div>
</div>
<div [formGroup]="attorneyForm">
<div class="row search-type">
      <div class="col-sm-4">
          <mat-form-field>
              <mat-select placeholder="Select Guardian" formControlName="typeofperson" (change)="guardianType()">
                  <mat-option value="search">Search</mat-option>
                  <mat-option value="person">Person Involved</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4" *ngIf="attorneyForm.controls['typeofperson'].value === 'search'">
          <button class="btn-pri m-t-15" [disabled]="isSaveBtnDisabled" (click)="toggleSearch()">Search</button>
      </div>
</div>
<div class="row">
  <div class="col-sm-4" *ngIf="attorneyForm.controls['typeofperson'].value === 'person'">
      <mat-form-field>
          <mat-select placeholder="Select Person" formControlName="guadianpersonid">
              <mat-option *ngFor="let person of personList$ | async" [value]="person.value">{{person.text}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div class="col-sm-4" *ngIf="attorneyForm.controls['typeofperson'].value === 'search'">
      <mat-form-field>
            <mat-select formControlName="guadianpersonid">
                <mat-option *ngFor="let person of searchPerson" [value]="person.personid">{{person.firstname + ' ' + person.lastname}}</mat-option>
            </mat-select>
        </mat-form-field>
  </div>
  <div class="col-sm-4">
      <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Start Date" (click)="picker1.open()" formControlName="startdate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="col-sm-4">
      <mat-form-field>
          <input matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="End Date" [min]="attorneyForm.controls['startdate'].value" formControlName="enddate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  </div>
  <div>
      <button class="btn-pri m-t-15" style="margin-left: 17px;" (click)="saveAttorney(attorneyForm.getRawValue())" [disabled]="isSaveBtnDisabled">Save</button>
      <button class="btn btn-theme btn-sec" (click)="cancelPerson()">Cancel</button>
  </div>
</div>
</div>
<div class="row m-t-30" *ngIf="attorneyList.length">
  <div class="table-responsive table-theme">
      <table class="table">
          <thead>
              <tr>
                  <th>S.no</th>
                  <th>Person Name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let attorney of attorneyList; let i = index">
                  <td>{{i+1}}</td>
                  <td *ngIf="!attorney?.guardianperson">{{personName[attorney.guadianpersonid]}}</td>
                  <td *ngIf="attorney?.guardianperson">{{attorney?.guardianperson?.firstname + ' ' + attorney?.guardianperson?.lastname}}</td>
                  <td>{{attorney.startdate | date: 'MM/dd/yyyy'}}</td>
                  <td>{{attorney.enddate | date: 'MM/dd/yyyy'}}</td>
                  <td>
                      <i class="fa fa-pencil text-16" (click)="editAttorney(attorney, i)" *ngIf="!(attorney.enddate)"></i>
                      <i class="fa fa-trash text-16" (click)="deleteAttorney(i)"></i>
                </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
