<div id="Profile-info m-t-50" class="container-fluid">
    <h4 class="mt-20">PERSON SEARCH</h4>
    <form [formGroup]="involvedPersonSearchForm">

        <div class="row m-height">
            <div class="col-sm-4 col-sm-offset-2">
                <mat-form-field>
                    <input type="text" matInput formControlName="firstname" placeholder="First Name">
                </mat-form-field>
                
                <mat-form-field>
                    <input type="text" matInput formControlName="lastname" placeholder="Last Name">
                </mat-form-field>

                <!-- <div class="no-pad clsIntake dpnew ">

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" [max]="maxDate" (click)="picker.open()" id="dobirth" formControlName="dob" placeholder="D.O.B">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div> -->
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Approx. Age" formControlName="age">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Select Gender" formControlName="gender">
                                <mat-option *ngFor="let item of genderDropdownItems$ | async" value="{{item.gendertypekey}}">{{item.typedescription}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
               <!--  <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Phone" mask="(000) 000-0000" formControlName="phone">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Occupation" formControlName="occupation">
                </mat-form-field> -->
                <mat-form-field>
                    <input type="text" matInput placeholder="SSN" mask="000-00-0000" formControlName="ssn">
                </mat-form-field>
                <!-- <mat-form-field>
                    <input type="text" matInput placeholder="State ID / Drivers License" formControlName="dl">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="FEIN" formControlName="fein">
                </mat-form-field> -->
                <mat-form-field>
                    <input type="text" matInput placeholder="Complaint #" formControlName="complaintnumber">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="text" matInput placeholder="CJIS # / SID # / Assist PID # /CJAMS PID #" formControlName="cjisnumber">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Petition / Folder ID" formControlName="petitionid">
                </mat-form-field>
                <!-- <mat-form-field>
                    <input type="text" matInput placeholder="Old#'s" formControlName="oldId">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Maiden Name" formControlName="maidenname">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Alias Name" formControlName="alias">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Social Media Name" formControlName="mediasrc">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Address Line 1" formControlName="address1">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Address Line 2" formControlName="address2">
                </mat-form-field> -->
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Zip Code" mask="00000-9999" formControlName="zip">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Select State" formControlName="stateid">
                                <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.stateabbr}}">{{item.statename}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field>
                    <input type="text" matInput placeholder="City" formControlName="city">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="County" formControlName="county">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="wizard-buttons text-right">
                    <input class="btn-bg" type="button" (click)="clearPersonSearch()" value="Clear" />
                    <button class="btn-pri btn" type="submit" [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid"
                        (click)="searchInvolvedPersons(involvedPersonSearchForm.value)">Find</button>
                </div>
            </div>
        </div>
        
    </form>
</div>
