<div class="col-md-3 brd-rht">
    <mat-card class="health-mat-card">
        <mat-list dense class="health-section-list">
            <a mat-list-item *ngFor="let healthSection of healthSections" class="health-section-item" [ngClass]="healthSection?.name===selectedHealthSection?.name ? 'active-section':'in-active-section'"
                [routerLink]="healthSection.route" routerLinkActive="active"> {{healthSection?.name}} </a>

        </mat-list>
    </mat-card>
</div>
<div class="col-md-9">
    <mat-card class="section-layout">
        <mat-card-header>
            <mat-card-title class="section-title">
                <h4>{{selectedHealthSection?.name | uppercase}}</h4>
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
<div class="col-md-3 brd-lft"></div>