<div class="tab-content active">
  <div class="row">
    <div class="col-sm-8">
      <h4>Decision</h4>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn btn-theme btn-pri m-t-10" data-toggle="modal" (click)="resetDecision()" data-target="#add-decision">DECISION</button>
    </div>
  </div>
  <!-- <div class="row m-t-20">
    <div class="col-sm-12">
      <div class="table-responsive table-theme">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>User</th>
              <th>Assinged To</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of decisionHistory">
              <td>{{item.insertedon | date: 'MM/dd/yyyy h:mm a'}} </td>
              <td>{{item.status}}</td>
              <td>{{item.fromusename}}</td>
              <td>{{item.tousername}}</td>
              <td>{{item.remarks}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</div>
<div class="modal fade in" id="add-decision">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title"> Decision</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-select placeholder="Status" required [(ngModel)]="status" (change)="onStatusChange($event)">
                <mat-option *ngFor="let item of decisions" [value]="item.value">{{item.key}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="onForwardToOther">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select placeholder="Agency" [(ngModel)]="agency">
                  <mat-option *ngFor="let item of agencyList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="agencyEmail" />
              </mat-form-field>
            </div>
          </ng-container>
          <div class="col-sm-12">
            <mat-form-field>
              <textarea matInput rows='10' placeholder="Narrative" required [(ngModel)]="comments"></textarea>
            </mat-form-field>
          </div>
          <div class="col-sm-6" *ngIf="notificationIdentifier">
            <mat-form-field>
              <input matInput placeholder="Notification" [value]="1" [(ngModel)]="notification">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right m-t-15">
            <button class="btn btn-theme btn-pri" (click)="onSubmitDecison()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="route-userassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Assign</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">                     
                      <li class="active">
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">WORKERS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>                                              
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <!-- <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist"> 
                                                <ng-container *ngIf="(workerArr.indexOf(token.role.name)>-1 && managerArr.indexOf(item.userrole.trim())>-1) ||
                                                        (managerArr.indexOf(token.role.name)>-1 && workerArr.indexOf(item.userrole.trim())>-1)">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectPerson(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>                                                 
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                                </ng-container>
                                              </tr>
                                          </ng-container> -->
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="onConfirm()">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade in" id="invalid-submit">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12  ">
            <span *ngIf="invalidData && invalidData.length">
             <h4> Please fill all required Fields.</h4>
               <ul *ngFor = "let item of invalidData ">
                    <li>{{item.name}}</li>
                    </ul>
            </span>
            <button class="btn btn-theme btn-pri pull-right m-t-10" data-dismiss="modal" >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
