// activity tab css
.service-plan {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.service-plan table {
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}
.service-plan table thead {
    background: #24292d;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
}
.service-plan table.expand-col thead {
    background: #cccfd4;
}
.service-plan table thead th {
    padding: 0px;
}
.service-plan table tbody td {
    padding: 0px;
    color: #817575;
    font-size: 13px;
    text-align: left;
}
.service-plan table.expand-col tbody td,
.service-plan table.expand-col thead th {
    padding: 10px !important;
    text-align: left;
}
.service-plan .expand-table td,
.service-plan .expand-table th {
    padding: 7px 10px !important;
    vertical-align: top;
}
.service-plan .expand-table {
    margin: 0 !important;
}
.expand-table th:first-child,
.expand-table td:first-child {
    width: 2%;
    text-align: center;
}
.expand-table th:nth-child(2),
.expand-table td:nth-child(2) {
    width: 9%;
}
.expand-table th:nth-child(3),
.expand-table td:nth-child(3) {
    width: 11%;
}
.expand-table th:nth-child(4),
.expand-table td:nth-child(4) {
    width: 10%;
}
.expand-table th:nth-child(5),
.expand-table td:nth-child(5) {
    width: 11%;
}
.expand-table th:nth-child(6),
.expand-table td:nth-child(6) {
    width: 10%;
}
.expand-table th:nth-child(7),
.expand-table td:nth-child(7) {
    width: 10%;
}
.expand-table th:nth-child(8),
.expand-table td:nth-child(8) {
    width: 8%;
}
.expand-table th:nth-child(9),
.expand-table td:nth-child(9) {
    width: 13%;
}
.expand-table th:nth-child(10),
.expand-table td:nth-child(10) {
    width: 15%;
}

.service-plan .expand-table.expand-col {
    background: #fff;
}
.expand-table.expand-col th:nth-child(1),
.expand-table.expand-col td:nth-child(1) {
    width: 20%;
}
.expand-table.expand-col th:nth-child(2),
.expand-table.expand-col td:nth-child(2) {
    width: 12%;
}
.expand-table.expand-col th:nth-child(3),
.expand-table.expand-col td:nth-child(3) {
    width: 12%;
}
.expand-table.expand-col th:nth-child(4),
.expand-table.expand-col td:nth-child(4) {
    width: 15%;
}
.expand-table.expand-col th:nth-child(5),
.expand-table.expand-col td:nth-child(5) {
    width: 10%;
}
.expand-table.expand-col th:nth-child(6),
.expand-table.expand-col td:nth-child(6) {
    width: 10%;
}
.expand-table.expand-col th:nth-child(7),
.expand-table.expand-col td:nth-child(7) {
    width: 10%;
}
.expand-table.expand-col th:nth-child(8),
.expand-table.expand-col td:nth-child(8) {
    width: 10%;
}
.expand-table.expand-col th:nth-child(9),
.expand-table.expand-col td:nth-child(9) {
    width: 7%;
}
.expand-table.expand-col td:nth-child(9) a {
    color: #222;
    text-decoration: underline;
}
.service-plan table tbody td.expand-space {
    padding: 10px 20px !important;
    background: #f1f5f8;
}
.service-plan tbody .expand-table.expand-col tr {
    border-bottom: solid 1px #ddd;
}
.service-plan figure {
    margin-left: 15px;
    float: right;
}
.service-plan table.expand-col thead th {
    color: #222;
}
.expand-table .fa-plus,
.expand-table .fa-minus {
    border: solid 1px #222;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}
.accordian {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px #222;
    border-radius: 50%;
    margin-top: 5px;
}
.accordian:after {
    content: '\2212';
    color: #dd1821;
    font-weight: 800;
    font-family: font-awesome;
    font-size: 16px;
    position: relative;
    top: -4.5px;
    left:1.5px;
}
.collapsed .accordian {
    border-color: #dd1821;
}
.collapsed .accordian:after {
    content: '\002B';
    color: #222;
    margin-left: 1px;
    left:1px;
}
.pointer {
    cursor: pointer;
    // border-bottom: solid 1px #ddd;
}
.service-plan figure i {
    margin-right: 10px;
    font-size: 14px;
}
.service-plan figure i.fa-pencil-square-o {
    color: #ff9c00;
}
.service-plan figure i.fa-print {
    color: #00A2FD;
}
.service-plan figure i.fa-trash {
    color: #dd1821;
}
span.add-service {
    color: #00A2FD;
    font-weight: 600;
}

.expand-table span.accordian {
    border: solid 1px #dd1821;
}
.expand-table .collapsed  span.accordian {
    border: solid 1px #24292d;
}
.expd-cont{
    background:#f1f4f9;
}
.table>tbody+tbody{
    border:0;
}
.expand-col tbody thead,
.expand-col tbody{
    display: contents;
}
.expand-col tbody thead th{
    background:#cccfd4;
}
