        <div action="" class="big-top-space">
            <div class="row">
                <div [formGroup]="dispositionFormGroup">
                    <div class="col-sm-6" *ngIf="!supervisorUser && !['Approved'].includes(supStatus)">
                        <div class="disposition-1" *ngIf="dispositionFormGroup.value.supStatus !== ''">
                            <div class="hideDiv">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="" class="required"> Status </label>
                                    </div>
                                    <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                        <mat-form-field>
                                            <mat-select placeholder="Select Status" formControlName="supStatus">
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 no-placeholder">
                                    <label for=""> Supervisor Disposition </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Disposition" disabled="true" formControlName="supDisposition" (change)="changeDisp()">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of supDispositionDropDown" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for=""> Supervisor Comments </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" disabled matInput placeholder="Leave a Comment">{{dispositionFormGroup.value.supComments}}</textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="showReason">
                                <div class="col-sm-5">
                                    <label for=""> Reason For Delay </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" disabled matInput placeholder="Leave a Reason">{{dispositionFormGroup.value.reason}}</textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
    
                        <div class="disposition-2">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for="" class="required"> Status</label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field *ngIf="!isCWIntakeWorker">
                                        <mat-select placeholder="Select Status" formControlName="intakeserreqstatustypekey" (change)="onChangeTaskStatus($event.value); changeDisp()">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
        
                                    <mat-form-field *ngIf="isCWIntakeWorker">
                                        <mat-select placeholder="Select Status" [disabled]="isClosed" class="aut-lst-dispositionStatus" formControlName="intakeserreqstatustypekey" (change)="onChangeTaskStatus($event.value); changeDisp()">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="agencyStatus==='DJS'">
                                <div class="col-sm-5">
                                    <label class="required"> Initial Recommendation</label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Disposition" formControlName="intakeAction" (change)="changeDisp()">
                                            <mat-option>Select a Recommendation </mat-option>
                                            <mat-option *ngFor="let status of initRecomentdationDropdown" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="showBehalfOfRequester" class="row">
                                <div class="col-sm-5">
                                    <label class="required"> Action Taken</label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Disposition" formControlName="intakeAction" [disabled]="isClosed" (change)="changeDisp()">
                                            <mat-option>Select an action</mat-option>
                                            <mat-option *ngFor="let status of actionDropdown" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-sm-5">
                                    <label for=""> Intake Comments </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" [ngClass]="{'disable-anchor': isClosed}" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" [readonly]="isClosed" class="aut-txt-dispositonIntakeComment" formControlName="comments" matInput placeholder="Leave a Comment" (change)="changeDisp()"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
    
                            <div *ngIf="role.role.name === 'apcs' && general.receiveddelay" class="row">
                                <div class="col-sm-5">
                                    <label for=""> Reason for 5 days Delay </label>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{general.receiveddelay}}</p>
                                </div>
                            </div>
                            <div *ngIf="role.role.name === 'apcs' && general.submissiondelay" class="clearfix row">
                                <div class="col-sm-5">
                                    <label for=""> Reason for 25 days Delay </label>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{general.submissiondelay}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
    
                    <div class="col-sm-6" *ngIf="!supervisorUser">
                        <div class="row" *ngIf="isCWinfoNreff">
                            <div class="col-sm-5">
                                <label class="required"> Agency Type</label>
                            </div>
                            <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                <mat-form-field>
                                    <mat-select placeholder="Select Agency" [disabled]="isClosed" formControlName="agencyType">
                                        <mat-option *ngFor="let item of agencyTypeDropdown | async" value="{{item.value}}">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row" *ngIf="isCWinfoNreff">
                            <div class="col-sm-5">
                                <label for=""> Agency Name: </label>
                            </div>
                            <div class="col-sm-7 no-placeholder" [ngClass]="{'disable-anchor': isClosed}" style="margin-top: -15px;">
                                <mat-form-field>
                                    <textarea type="text" class="aut-txt-dispositonAgencyName" [readonly]="isClosed" formControlName="agencyName" matInput placeholder="Name of the Agency" (change)="changeDisp()"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row" *ngIf="isCWinfoNreff">
                            <div class="col-sm-5">
                                <label for=""> Agency Contact Details: </label>
                            </div>
                            <div class="col-sm-7 no-placeholder" [ngClass]="{'disable-anchor': isClosed}" style="margin-top: -15px;">
                                <mat-form-field>
                                    <textarea type="text" class="aut-txt-dispositonAgencyContact" [readonly]="isClosed" formControlName="agencyContact" matInput placeholder="Contact of the Agency" (change)="changeDisp()"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-4" *ngIf="!supervisorUser && isReopenCase && agencyStatus==='AS'">
                        <div class="title-lable">
                            <label for="">Supervisor Comments </label>
                        </div>
                        <div class="col-sm-7">
                            <mat-form-field>
                                <textarea type="text" matInput disabled [value]="supervisourComments"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="col-sm-8" *ngIf="supervisorUser || ['Approved'].includes(supStatus) ">
                        <div class="disposition-1">
                            <div class="hideDiv">
                                <div class="col-sm-5">
                                    <label for=""> Status </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Status" formControlName="intakeserreqstatustypekey">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-sm-5">
                                    <label for=""> Intake Comments </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" matInput disabled placeholder="Leave a Comment">{{dispositionFormGroup.value.comments}}</textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="general && general.receiveddelay" class="">
                                <div class="col-sm-4">
                                    <label for=""> Reason for 5 days Delay </label>
                                </div>
                                <div class="col-sm-8">
                                    <p>{{general.receiveddelay}}</p>
                                </div>
                            </div>
                            <div *ngIf="general && general.submissiondelay" class="clearfix">
                                <div class="col-sm-4">
                                    <label for=""> Reason for 25 days Delay </label>
                                </div>
                                <div class="col-sm-8">
                                    <p>{{general.submissiondelay}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="disposition-2">
                            <div class="">
                                
                                <div class="col-sm-5">
                                    <label for="" class="required" > Status </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field *ngIf="!isCWSupervisor">
                                        <mat-select placeholder="Select Status" formControlName="supStatus" (change)="supOnChangeTaskStatus($event.value)">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
    
                                    <mat-form-field *ngIf="isCWSupervisor">
                                        <mat-select placeholder="Select Status" formControlName="supStatus" (change)="supOnChangeTaskStatus($event.value)" class="aut-lst-dispositionStatus">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-sm-5">
                                    <label for=""> Comments <span *ngIf="isSupervisorCommentRequired" class="redc">*</span></label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" formControlName="supComments"  matInput placeholder="Leave a Comment" (change)="changeDisp()"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="" *ngIf="showReason || (dispositionFormGroup.getRawValue().reason!=='')">
                                <div class="col-sm-5">
                                    <label for="" class="required"> Reason For Delay </label>
                                </div>
                                <div class="col-sm-7 no-placeholder" style="margin-top: -15px;">
                                    <mat-form-field>
                                        <textarea type="text" formControlName="reason" matInput placeholder="Leave a Reason" (change)="changeDisp()"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-4 text-right" *ngIf="agencyStatus==='CW' && selectedPurpose && (selectedPurpose.code  != 'Information and Referral' && selectedPurpose.code  != 'ROACPS')"  >
                        <div *ngIf="!disableCPSIntakeReport">
                            <button  class="btn btn-pri" (click)="previewCpsDoc()">CPS Intake Report</button>
                        </div>
                    </div>

                    <div class="col-sm-4" *ngIf="isEvpa">  <!-- selectedPurpose && selectedPurpose.value === 'd207bdd4-f281-4ec8-949c-8fd9657227f9' && intakeServiceTypeKey ==='IHS' && -->
                        <label class="color-black">EAVPA Eligibility</label>
                        <ng-container *ngIf="personsDob?.length > 0">
                            <p class="m-t-10" *ngFor="let person of personsDob; let i = index">{{person.Lastname +', '+ person.Firstname }} : {{ (checkVPA[i]?.status) ? 'Child Qualify for EAVPA' : 'Child not Qualify for EAVPA' }}</p>
                            <div *ngIf="!checkVPA[i]?.status" class="m-t-10">
                                <label>Youth referred to Independent Living After Care Services?</label>
                                <mat-radio-group (change)="isYouthIndependentLiving($event.value)" (change)="changeDisp()" formControlName="isYouthIndependentLive">
                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <p *ngIf="isCaptureReason">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="captureReason" placeholder="Capture Reason" (change)="changeDisp()" required>
                                </mat-form-field>
                            </p>
                        </ng-container>
                    </div>
                </div>
    
                <div class="col-sm-12">
                    <div class="cnt-min-height m-t-60">
                        <div class="table-responsive table-theme">
                            <table class="table table-striped desposition-table">
                                <thead>
                                    <tr>
                                        <th *ngIf='!isAS'>INTAKE NUMBER</th>
                                        <!-- Fix to show Case Number in AS, other labels can be set based on agency -->
                                        <th *ngIf='isAS'>CASE NUMBER</th>
                                        <th *ngIf="isKinship">COMPLAINT TYPE</th>
                                        <th *ngIf="isKinship" class="clsWidth-400">SUB TYPES</th>
                                        <th>INTAKE RECOMMENDATION</th>
                                        <th *ngIf="!isCWinfoNreff">{{(this.isCW)?'SUPERVISOR DECISION':'SUPERVISOR DISPOSITION'}}</th>
                                        <!-- <th>ACTIONS</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let case of caseDispositions; let i=index">
                                        <!--INTAKE NUMBER/CASE NUMBER-->
                                        <td class="p-t-22">
                                            <a class="theme">{{case.ServiceRequestNumber}}</a>
                                        </td>
                                        <!--COMPLAINT TYPE-->
                                        
                                        <td class="cw-comptype" *ngIf="isKinship">
                                                {{ selectedPurpose && selectedPurpose.code === 'ROACPS' ? 'ROA-CPS' : ''}}
                                            <mat-form-field>
                                                <mat-select [disabled]=true [(value)]="case.DaTypeKey">
                                                    <mat-option>None</mat-option>
                                                    <mat-option *ngFor="let item of intakePurpose" [value]="item.intakeservreqtypeid">{{item.description}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                           
                                        </td>
                                        <!--SUB TYPES-->
                                        <td *ngIf="isKinship" class="p-t-22 clsWidth-400">
                                            <span *ngIf="!isCW && scnRecommendOveride !== 'OvrScrnout'">
                                                {{(!(sdm?.isir) && isSENflag) ? 'Risk of Harm' :
                                                (case.subSeriviceTypeValue ? case.subSeriviceTypeValue : 'Non CPS')}}</span>
                                            <span *ngIf="!isCW && scnRecommendOveride === 'OvrScrnout'"></span>
                                               
                                            <ng-container *ngIf="isCW">
                                                <span *ngIf="selectedPurpose.code === 'CHILD'">
                                                    <ng-container *ngIf='!(sdm?.isir) && isSENflag'>
                                                        Risk of Harm
                                                    </ng-container>
                                                    <ng-container *ngIf="sdm?.isir && scnRecommendOveride !== 'OvrScrnout'">
                                                            IR
                                                    </ng-container>
                                                    <ng-container *ngIf="sdm?.isar  && scnRecommendOveride !== 'OvrScrnout'">
                                                        {{isSENflag ? 'Risk of Harm' : 'AR'}}
                                                    </ng-container>
                                                    <ng-container *ngIf="!(sdm?.isir) && !(sdm?.isar) && !isSENflag">
                                                         <span *ngIf="scnRecommendOveride !== 'OvrScrnout'">Non CPS</span>
                                                    </ng-container>
                                                   
                                                </span>
                                                <div class="clsMoreLess">
                                                        <input id="toggle" type="checkbox">
                                                        <label for="toggle"></label>
                                                <div class="clsInner" *ngIf="selectedPurpose.code !== 'CHILD' && scnRecommendOveride !== 'OvrScrnout'">                                                        
                                                    <ng-container *ngIf="selectedServiceDescriptions; else elseSTemplate">
                                                        <span *ngFor="let item of selectedServiceDescriptions; let isLast=last"> {{item}} <ng-container *ngIf="!isLast">,</ng-container>
                                                        </span>
                                                    </ng-container>
                                                    <ng-template #elseSTemplate>
                                                         {{ selectedPurpose && selectedPurpose.code === 'ROACPS' ? 'ROA-CPS' : 'Non CPS'}}
                                                    </ng-template>                                                    
                                                </div>
                                            </div>
                                            </ng-container>
                                        </td>
                                        <td class="no-placeholder p-t-20">
                                            <mat-form-field [class]="supervisorUser ? 'mat-disabled ' : ''">
                                                <mat-select class="aut-lst-dispositonIntakeRecommendation" placeholder="Select Disposition" [disabled]="supervisorUser || this.selectedPurpose.code === 'ROACPS' || isClosed"                                              
                                                (change)="onChangeDispoType($event.value, i)" [(ngModel)]="intakeRecomendation" >
                                                    <mat-option>None</mat-option>
                                                    <mat-option *ngFor="let status of case.intakeMultipleDispositionDropdown" value="{{status.value}}">{{status.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td *ngIf="!isCWinfoNreff" class="no-placeholder p-t-20"> <!--Blank out Sup Disposition for Intake worker -->
                                            <mat-form-field [class]="!supervisorUser ? 'mat-disabled ' : ''">
                                                <mat-select placeholder="Select Disposition" [disabled]="!supervisorUser" (change)="onChangeSupDispoType($event.value, i)"
                                                    [(value)]="case.supDisposition" class="aut-lst-dispositionSuperVisor">
                                                    <mat-option>None</mat-option>
                                                    <mat-option *ngFor="let status of case.supMultipleDispositionDropdown" value="{{status.value}}">{{status.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <!-- <td class="p-t-22">
                                            <a>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- <router-outlet></router-outlet> -->
    <div class="modal fade" id="intake-cps-doc1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close" routerLink=".">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">PDF preview</h4>
                </div>
                <div class="modal-body">

                    <div class="text-right big-bot-space right-mspace-15">
                        <!-- <button type="button" class="btn-pri" (click)="downloadCasePdf('intake-cps-doc1')" [disabled]="downloadInProgress">
                            Download
                        </button> -->
                        <button type="button" class="btn-pri" data-toggle="modal" data-target="#iframe-Send-Email">
                            EMAIL
                        </button>
                        <!-- <button type="button" class="btn-pri" (click)="printCasePdf('intake-cps-doc1')">
                            PRINT
                        </button> -->
                    </div>
                    <cps-doc-letter ></cps-doc-letter> 
                        <!-- <cps-doc-letter></cps-doc-letter> -->
                        <!-- <router-outlet></router-outlet> -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn-pri" (click)="genCpsIntakeDoc('download')" [disabled]="downloadInProgress">
                        Download
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Send email -->
    <div class="modal fade recording-chat-model" id="iframe-Send-Email" role="dialog">
        <div class="modal-dialog modal-md " [formGroup]="emailForm">
            <div class="modal-content form-wrapper txt-left">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" >×</button>
                    <h4 class="modal-title"> Send Emails</h4>
                    <input type="email" placeholder="Email " class="form-control"
                                                    formControlName="email">
                    <button class="btn-pri" 
                                (click)="sendEmail()">Send Email</button>
                </div>
                <div class="modal-body">
                    <p [innerHTML]="selectedNotes"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Emails -->
