<div class="tab-pane" id="person-role">
    <div class="form-search-person">
        <form [formGroup]="actorFormGroup">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="full-width">Select the role of the person</label>
                        <ng-select formControlName="actortype" (change)="actorOnChange($event)" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let actor of actorTypes$ | async | orderBy:'text'" [value]="actor.value">{{actor.text}}</ng-option>
                        </ng-select>

                    </div>
                    <div class="Reported-Adult-sec" style="display:none;">
                        <div class="form-group">
                            <label class="full-width">Select RA's Living Arrangement</label>
                            <select name="" class="form-control full-width">
                                <option value="">Select</option>
                                <option value="">With non-related person </option>
                            </select>
                            <span class="select__arrow pos"></span>
                        </div>
                        <div class="form-group">
                            <label class="full-width">Does RA have signs of mental illness?</label>
                            <div class="no-mar col-sm-6">
                                <label class="control control--radio">
                                    No
                                    <input type="radio" name="ill   ness">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">
                                    Yes
                                    <input type="radio" checked="" name="illness">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">
                                    Unknown
                                    <input type="radio" name="illness">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <input type="text" class="form-control full-width txtbox-light-bg" placeholder="Enter reason / justification if any ... ">
                        </div>
                        <div class="form-group">
                            <label class="full-width">Does RA appear to be mentally impaired?</label>
                            <div class="col-sm-6 no-mar">
                                <label class="control control--radio">
                                    No
                                    <input type="radio" name="impaired">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">
                                    Yes
                                    <input type="radio" checked="" name="impaired">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio">
                                    Unknown
                                    <input type="radio" name="impaired">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <input type="text" class="form-control full-width txtbox-light-bg" placeholder="Enter reason / justification if any ... ">
                        </div>
                    </div>

                    <div class="form-group " *ngIf="showRelation">
                        <label class=""> Relationship to RA:</label>
                        <br/>
                        <div class="relation-checks full-width" >
                            <div class="no-mar " *ngFor="let race of relationCheckboxFormArray.controls; let i=index">
                                <label class="control control--checkbox full-width">
                                    {{relationCheckboxItems[i]?.description}}
                                    <input type="checkbox" (change)="onChangeRelation($event)" [value]="relationCheckboxItems[i]?.relationshiptypekey" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>

                    </div>


                    <button type="button" class="btn-bg" (click)="addRole(actorFormGroup.value)">Add Role</button>

                </div>
                <div class="col-sm-6">

                    <div class="tavle-responsive big-top-space">
                        <table class="table table-bordered icon-action">
                            <thead>
                                <tr>
                                    <th> Role </th>
                                    <th> Description </th>
                                    <th>Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of addedActor">
                                    <td> {{item.actortypedesc?.actortype}}</td>
                                    <td> {{item.actortypedesc?.typedescription}} </td>
                                    <td>
                                        <!-- <span data-toggle="tooltip" data-placement="top" class="left-mspace" data-original-title="Edit">
                                        <a href="#">
                                            <i class="fa fa-pencil text-16"> </i>
                                        </a>
                                    </span> -->
                                        <span data-toggle="tooltip" data-placement="top" class="left-mspace" data-original-title="Delete" (click)="confirmActor(item)">
                                            <a>
                                                <i class="fa fa-trash text-16"> </i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
