<div class="modal fade custom-modal in" id="edit-persons" data-backdrop="static" data-keyboard="false" role="dialog" style="display: block;">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/case-worker/'+id+'/'+ daNumber+'/dsds-action/involved-person']">×</button>
                <h4 class="modal-title"> {{formTitle}} Person </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="tab-vertical">
                            <ul class="nav " id="leftTabs">
                                <li class="active">
                                    <a href="#person-role" data-toggle="tab" aria-expanded="true">
                                        Role of the Person </a>
                                </li>
                                <li class="">
                                    <a href="#Profile" data-toggle="tab" aria-expanded="false">
                                        Profile </a>
                                </li>
                                <li class="">
                                    <a href="#Address-tab" data-toggle="tab" aria-expanded="false">
                                        Address</a>
                                </li>

                                <li class="">
                                    <a href="#worker" data-toggle="tab" aria-expanded="false">
                                        Danger to Worker </a>
                                </li>

                                <!-- <li class="">
                                    <a href="#danger-location" data-toggle="tab" aria-expanded="false">
                                        Danger at Location</a>
                                </li> -->

                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content">

                            <div class="tab-pane active" id="person-role">
                                <involved-person-role-role-of-person [addedActor]="addedActor" (actorDataChanged)="actorDataChanged($event)" [addedActorRelations]="addedActorRelations" [id]="id" [person$]="person$"></involved-person-role-role-of-person>
                            </div>
                            <div class="tab-pane" id="Profile">
                                <involved-person-role-profile [profileFormGroup]="profileFormGroup" [addedPersons]="addedPersons" [addedAlias]="addedAlias" (personAliasChanged)="personAliasChanged($event)"
                                    [addedIdentifier]="addedIdentifier" (personIdentifierChanged)="personIdentifierChanged($event)" [raceIds]="raceIds" (personRaceIdsChanged)="personRaceIdsChanged($event)" [id]="id" [person$]="person$"></involved-person-role-profile>
                            </div>

                            <div class="tab-pane" id="Address-tab">
                                <involved-person-role-address [addedAddress]="personAddress" (personAddressChanged)="personAddressChanged($event)" [addedPhone]="addedPhone" [id]="id" [person$]="person$"></involved-person-role-address>
                            </div>

                            <div class="tab-pane" id="worker">
                                <involved-person-role-danger-to-worker [dangerPersonFormGroup]="dangerPersonFormGroup" [dangerWorker]="dangerWorker" [person$]="person$"></involved-person-role-danger-to-worker>
                            </div>
                            <div class="btn-group btn-group-re pull-right">
                                <button type="submit" class="btn-bg btn-clr" (click)="clearAll()" *ngIf="personId === '0'">Clear All</button>
                                <button type="submit" class="btn-bg btn-clr" data-dismiss="modal" *ngIf="personId !== '0'" [routerLink]="['/pages/case-worker/'+id+'/'+ daNumber+'/dsds-action/involved-person']">Cancel</button>
                                <button type="button" class="btn-pri" (click)="savePerson()">Save Person</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
