<div class="modal fade in" data-backdrop="static" role="dialog" data-keyboard="false" id="NEGLECTID">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">NEGLECT INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="neglectIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">NEGLECT INDICATED </h4>
                        <p>Neglect of {{comar?.victimname}} is "INDICATED" in accordance with the provisions of Maryland Code
                            Ann., Fam. Law $ 5-701(m), (s) and COMAR 07.02.07.13A(1). It is the professional assessment of
                            this worker that neglect occurred because the evidence supports all of the following elements:
                        </p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A failure to provide proper care including leaving a child unattended (briefly describe the
                                    lack ofproper care or attention)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The failure was caused by a parent or caregiver (insert name and indicate whether the person
                                    is a parent OR caregiver)</td>
                                <!-- <td>
                                    {{comar?.caretakername ? comar?.caretakername : ''}}
                                </td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername ? comar?.caretakername : ''}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td>
                                    {{comar?.victimdob | date:'MM/dd/yyyy'}}
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and causeof the alleged neglect indicate that
                                    there was (describe either OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(neglectIndicatedForm.value , 'NEGLECT-ID')"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" role="dialog" data-keyboard="false" id="NEGLECTRO">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">NEGLECT RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="neglectRuledForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">NEGLECT RULED OUT </h4>
                        <p>Neglect of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions of Maryland Code
                            Ann., Fam. Law$ 5-701(s), (w) and 07.02.07.13C. It is the professional assessment of this
                            worker that neglect did not occur because the evidence does not support one or more ofthe following
                            elements: (Indicate which element or elements were not supported in a bulleted format or short
                            narrative.)
                        </p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A failure to provide proper care including leaving a child unattended (briefly describe the
                                    lack ofproper care or attention)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The failure was caused by a parent or caregiver (insert name and indicate whether the person
                                    is a parent OR caregiver)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and cause of the alleged neglect (describe either
                                    OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(neglectRuledForm.value , 'NEGLECT-RO')"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="NEGLECTUD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">NEGLECT UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="neglectUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">NEGLECT UNSUBSTANTIATED </h4>
                        <p>Neglect of {{comar?.victimname}} is "UNSUBSTANTIATED" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law § 5-701(s), (aa) and COMAR COMAR 07.02.07.13B.It is the professional assessment
                            of this worker that some credible evidence supports each of the following elements but is insufficient
                            to conclude that neglect occurred: (Specify which element or elements caused the finding to be
                            "unsubstantiated" and not "indicated" or "ruled out").</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A failure to provide proper care including leaving a child unattended (briefly describe the
                                    lack ofproper care or attention)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The failure was caused bya parentor caregiver (insert name andindicate whether the person
                                    is a parent OR caregiver)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child's DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and location ofthe alleged neglect indicate (describe
                                    either OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(neglectUnsubstantiatedForm.value , 'NEGLECT-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="PHYSICAL-ABUSEID">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">PHYSICAL ABUSE INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="physicalAbuseIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">PHYSICAL ABUSE INDICATED </h4>
                        <p>Physical Abuse of {{comar?.victimname}} is "INDICATED" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law § 5-701(b)(1), (m) and COMAR 07.02.07.12A(1). It is the professional assessment
                            of this worker that physical abuse occurred because the evidence supports all ofthe following
                            elements:
                        </p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A physical injury (briefly describe the current or prior injury)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The injury was caused by a parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and location of the injury indicate (describe
                                    either OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The injury was not caused by accidental means (provide details supporting either an intentional
                                    act or reckless disregard for the child’s health or welfare causing the injury)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Injury Description" formControlName="intentionalinjurydesc" required></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(physicalAbuseIndicatedForm.value , 'PHYSICAL ABUSE-ID')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="PHYSICAL-ABUSERO">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">PHYSICAL ABUSE RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="physicalAbuseRuledOutForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">PHYSICAL ABUSE RULED OUT </h4>
                        <p>Physical Abuse of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law§ 5-701(b)(1), (w), and COMAR 07.02.07.12C. It is the professional assessment
                            of this worker that physical abuse did not occur because the evidence does not support one or
                            more of the following elements: (Indicate which element or elements were not supported in a bulleted
                            format orshort narrative.)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A physical injury (briefly describe the current or prior injury)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The injury was caused bya parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child's DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and location ofthe injury indicate: (describe
                                    either OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The injury was not caused by accidental means (provide details supporting either an intentional
                                    actor reckless disregard forthe child's health or welfare causing the injury)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(physicalAbuseRuledOutForm.value , 'PHYSICAL ABUSE-RO')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="PHYSICAL-ABUSEUD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">PHYSICAL ABUSE UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="physicalAbuseRuledUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">PHYSICAL ABUSE UNSUBSTANTIATED </h4>
                        <p>Physical Abuse of {{comar?.victimname}} is "UNSUBSTANTIATED" in accordance with the provisions of
                            Maryland Code Ann., Fam. Law § 5-701(b)(1), (aa) and COMAR 07.02.07.12B. It is the professional
                            assessment of this worker that some credible evidence supports each of the following elements
                            but is insufficient to conclude that abuse occurred: (Specify the element or elements that caused
                            the finding to be "unsubstantiated" and not "indicated" or "ruled out").</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> A physical injury (briefly describe the current or prior injury)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The injury was caused bya parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child's DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> Circumstances including the nature, extent, and location ofthe injury indicate that there
                                    was: (describe either OR both using a bulleted format or short narrative)</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <mat-checkbox formControlName="isharm">Harm to a child</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="isharmsubstantial">During the incident, a substantial risk of harm to a child</mat-checkbox>
                                        </li>
                                    </ul>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="harmdesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The injury was not caused by accidental means (provide details supporting either an intentional
                                    actor reckless disregard forthe child's health or welfare causing the injury)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(physicalAbuseRuledUnsubstantiatedForm.value , 'PHYSICAL ABUSE-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEXUAL-ABUSEID">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE INDICATED </h4>
                        <p>Sexual Abuse of {{comar?.victimname}} is "INDICATED" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law § 5-701(b)(2), (m), (y)(1) and COMAR 07.02.07.12A(2). It is the professional
                            assessment of this worker that sexual abuse occurred because the evidence supports all of the
                            following elements:
                        </p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sexual molestation or sexual exploitation (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The act involving sexual molestation or exploitation was by a parent, caregiver, authority
                                    figure or by a household or family member (insert name and whether the person is a parent,
                                    OR caregiver, OR authority figure, OR household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}} </td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseIndicatedForm.value , 'SEXUAL ABUSE-ID')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEXUAL-ABUSERO">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseRuledOutForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE RULED OUT </h4>
                        <p>Sexual Abuse of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law § 5-701(b)(2), (w), (y)(1) and COMAR 07.02.07.12C. It is the professional
                            assessment of this worker that sexual abuse did not occur because the evidence does not support
                            one or more of the following elements: (Indicate which element or elements were not met in a
                            bulleted format or short narrative.)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sexual molestation or sexual exploitation (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The act involving sexual molestation or exploitation was by a parent, caregiver, authority
                                    figure, or by a household or family member (insert name and whether the person is a parent,
                                    OR caregiver, OR authority figure, OR household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>

                        </table>

                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseRuledOutForm.value , 'SEXUAL ABUSE-RO')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEXUAL-ABUSEUD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE UNSUBSTANTIATED </h4>
                        <p>Sexual Abuse of {{comar?.victimname}} is "UNSUBSTANTIATED" in accordance with the provisions of Maryland
                            Code Ann., Fam. Law § 5-701(b)(2), (y)(1), (aa) and COMAR 07.02.07.12B. It is the professional
                            assessment of this worker that some credible evidence supports each of the following elements
                            but is insufficient to conclude that abuse occurred: (Specify which element or elements caused
                            the finding to be "unsubstantiated" and not "indicated" or "ruled out".)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sexual molestation or exploitation (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The act involving sexual molestation or exploitation was by a parent, caregiver, authority
                                    figure, or household or family member (insert name and whether the person is a parent,
                                    OR caregiver, OR authority figure, OR household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseUnsubstantiatedForm.value , 'SEXUAL ABUSE-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEX-TRAFFICKING-INDICATED">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE – SEX TRAFFICKING INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseSexTraffickingIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE – SEX TRAFFICKING INDICATED </h4>
                        <p>Sexual Abuse – Sex Trafficking of {{comar?.victimname}} is "INDICATED" in accordance with the provisions
                            of Maryland Code Ann., Fam. Law § 5-701(b)(2), (m), (x),(y)(2) and COMAR 07.02.07.12A(2). It
                            is the professional assessment of this worker that sexual abuse occurred because the evidence
                            supports all of the following elements:</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sex trafficking (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseSexTraffickingIndicatedForm.value , 'SEXUAL ABUSE-ID')">
                        Save</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEX-TRAFFICKING-RULED-OUT">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE – SEX TRAFFICKING RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseSexTraffickingRuledOutForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE – SEX TRAFFICKING RULED OUT </h4>
                        <p>Sexual Abuse – Sex Trafficking of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions
                            of Maryland Code Ann., Fam. Law § 5-701(b)(2), (W), (x),(y)(2) and COMAR 07.02.07.11C. It is
                            the professional assessment of this worker that sexual abuse did not occur because the evidence
                            does not support one or more of the following elements: (Indicate which element or elements were
                            not supported in a bulleted format or short narrative)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sex trafficking (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseSexTraffickingRuledOutForm.value , 'SEXUAL ABUSE-RO')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="SEX-TRAFFICKING-UNSUBSTANTIATED">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">SEXUAL ABUSE – SEX TRAFFICKING UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="sexualAbuseSexTraffickingUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">SEXUAL ABUSE – SEX TRAFFICKING UNSUBSTANTIATED </h4>
                        <p>Sexual Abuse – Sex Trafficking of {{comar?.victimname}} is "UNSUBSTANTIATED " in accordance with
                            the provisions of Maryland Code Ann., Fam. Law § 5-701(b)(2), (x),(y)(2), (aa) and COMAR 07.02.07.11B.
                            It is the professional assessment of this worker that some credible evidence supports each of
                            the following elements but is insufficient to conclude that abuse occurred: (Specify which element
                            or elements caused the finding to be "unsubstantiated" and not "indicated" or "ruled out")</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An act that involves sex trafficking (describe in detail)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The victim was a child under the age of 18 (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(sexualAbuseSexTraffickingUnsubstantiatedForm.value , 'SEXUAL ABUSE-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-ABUSE-ID">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="discardAction('MENTAL-INJURY-ABUSE-ID')">×</button>
                <h4 class="modal-title">MENTAL INJURY ABUSE INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryAbuseIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY ABUSE INDICATED </h4>
                        <p>Mental Injury Abuse of {{comar?.victimname}} is "INDICATED" in accordance with the provisions of
                            Maryland Code Ann., Fam. Law § 5-701(b)(1), (m), (r) and COMAR 07.02.07.12A(3). It is the professional
                            assessment of this worker that mental injury abuse occurred because the evidence supports all
                            of the following elements:</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The injury was caused by an intentional act or series of intentional acts (regardless of
                                    whether there was an intent to harm the child) (provide details of an intentional act
                                    or series of acts that caused the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The act was caused by a parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child under the age of 18 (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the two assessors and briefly describe their conclusions)</td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder="First Name" formControlName="firstname" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder="Last Name" formControlName="lastname" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Profession" formControlName="professiontypekey" required>
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea matInput placeholder="Assessor Notes" formControlName="assessorcomments" required></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                        <div class="clearfix">
                                            <div class='col-sm-8'>
                                                <div class='row'>
                                                    <div class='col-sm-4'>
                                                        <p class="p-t-10">Caseworker </p>
                                                        <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                    </div>
                                                    <div class='col-sm-8 mt-10'>
                                                        <mat-form-field class="">
                                                            <textarea required matInput placeholder="Caseworker Notes" formControlName="caseworkercomments"
                                                                ></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryAbuseIndicatedForm.value , 'MENTAL INJURY ABUSE-ID')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-ABUSE-RO">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">MENTAL INJURY ABUSE RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryAbuseRuledOutForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY ABUSE RULED OUT </h4>
                        <p>Mental Injury Abuse of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions of
                            Maryland Code Ann., Fam. Law § 5-701(b)(1), (r), (w) and COMAR 07.02.07.12C(1).It is the professional
                            assessment of this worker that mental injury abuse did not occur because the evidence does not
                            support one or more of the following elements: (Indicate which element or elements were not supported
                            in a bulleted format or short narrative.)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> The injury was caused by an intentional act or series of intentional acts (regardless of
                                    whether there was an intent to harm the child) (provide details of an intentional act
                                    or series of acts that caused the impairment)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The act was caused by a parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{ comar?.victimdob ? (comar?.victimdob | date:'MM/dd/yyyy') : ''}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the assessors and briefly describe the conclusions)</td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="First Name" formControlName="firstname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="Last Name" formControlName="lastname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select required placeholder="Profession" formControlName="professiontypekey">
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea required matInput placeholder="Assessor Notes" formControlName="assessorcomments"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="clearfix">
                                        <div class='col-sm-8'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <p class="p-t-10">Caseworker </p>
                                                    <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                </div>
                                                <div class='col-sm-8 mt-10'>
                                                    <mat-form-field class="">
                                                        <textarea matInput placeholder="Caseworker Notes" formControlName="caseworkercomments"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryAbuseRuledOutForm.value , 'MENTAL INJURY ABUSE-RO')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-ABUSE-UD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">MENTAL INJURY ABUSE UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryAbuseUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY ABUSE UNSUBSTANTIATED </h4>
                        <p>Mental Injury Abuse of {{comar?.victimname}} is "UNSUBSTANTIATED" in accordance with the provisions
                            of Maryland Code Ann., Fam. Law § 5-701(b)(1), (r), (aa) and 07.02.07.12B. It is the professional
                            assessment of this worker that some credible evidence supports each of the following elements
                            bus is insufficient to conclude that mental injury abuse occurred: (Specify which element or
                            elements caused the finding to be "unsubstantiated" and not "indicated" or "ruled out")</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> An intentional act or series of intentional acts (regardless of whether there was an intent
                                    to harm the child) caused the injury (provide details of a current or prior act that
                                    caused the impairment)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The act was caused by a parent, caregiver, authority figure, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR authority figure, OR
                                    household OR family member)</td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child under the age of 18 (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the two assessors and briefly describe their conclusions)</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="First Name" formControlName="firstname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="Last Name" formControlName="lastname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select required placeholder="Profession" formControlName="professiontypekey">
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea required matInput placeholder="Assessor Notes" formControlName="assessorcomments"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class='clearfix'>
                                        <div class='col-sm-8'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <p class="p-t-10">Caseworker </p>
                                                    <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                </div>
                                                <div class='col-sm-8 mt-10'>
                                                    <mat-form-field class="">
                                                        <textarea matInput placeholder="Caseworker Notes" formControlName="caseworkercomments"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryAbuseUnsubstantiatedForm.value , 'MENTAL INJURY ABUSE-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-NEGLECT-ID">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">MENTAL INJURY NEGLECT INDICATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryNeglectedIndicatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY NEGLECT INDICATED </h4>
                        <p>Mental Injury Neglect of {{comar?.victimname}} is "INDICATED" in accordance with the provisions of
                            Maryland Code Ann., Fam. Law § 5-701(m), (r), (s)(2) and COMAR 07.02.07.13A(2).It is the professional
                            assessment of this worker that mental injury neglect occurred because the evidence supports all
                            of the following elements:</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> An omission or other failure to provide proper care or attention causing the substantial
                                    impairment (provide details of the current or prior omission or other failure)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The substantial impairment was caused by a parent, caregiver, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR household, OR family
                                    member)
                                </td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the two assessors and briefly describe their conclusions)</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder="First Name" formControlName="firstname" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder="Last Name" formControlName="lastname" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Profession" formControlName="professiontypekey" required>
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea matInput placeholder="Assessor Notes" formControlName="assessorcomments" required></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="clearfix">
                                        <div class='col-sm-8 '>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <p class="p-t-10">Caseworker </p>
                                                    <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                </div>
                                                <div class='col-sm-8 mt-10'>
                                                    <mat-form-field class="">
                                                        <textarea matInput placeholder="Caseworker Notes" formControlName="caseworkercomments" required></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryNeglectedIndicatedForm.value , 'MENTAL INJURY NEGLECT-ID')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-NEGLECT-RO">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">MENTAL INJURY NEGLECT RULED OUT</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryNeglectedRuledOutForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY NEGLECT RULED OUT </h4>
                        <p>Mental Injury Neglect of {{comar?.victimname}} is "RULED OUT" in accordance with the provisions of
                            Maryland Code Ann., Fam. Law § 5-701(r), (s)(2), (w) and COMAR COMAR 07.02.07.13C. It is the professional
                            assessment of this worker that mental injury neglect did not occur because the evidence does
                            not support one or more of the following elements: (Indicate which element or elements were not
                            met in a bulleted format or short narrative.)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> An omission or other failure to provide proper care or attention causing the substantial
                                    impairment (provide details of the current or prior omission or other failure)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The substantial impairment was caused by a parent, caregiver, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR household OR family
                                    member)
                                </td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the asesors and breiefly describe the conclusions)</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="First Name" formControlName="firstname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="Last Name" formControlName="lastname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select required placeholder="Profession" formControlName="professiontypekey">
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea required matInput placeholder="Assessor Notes" formControlName="assessorcomments"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="clearfix">
                                        <div class='col-sm-8'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <p class="p-t-10">Caseworker </p>
                                                    <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                </div>
                                                <div class='col-sm-8 mt-10'>
                                                    <mat-form-field class="">
                                                        <textarea matInput placeholder="Caseworker Notes" formControlName="caseworkercomments"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryNeglectedRuledOutForm.value , 'MENTAL INJURY NEGLECT-RO')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" data-keyboard="false" id="MENTAL-INJURY-NEGLECT-UD">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button class="close" (click)="resetFindingType()" data-dismiss="modal" type="button" tabindex="0">×</button>
                <h4 class="modal-title">MENTAL INJURY NEGLECT UNSUBSTANTIATED</h4>
            </div>
            <div class="modal-body modal-body-maxh" [formGroup]="mentalInjuryNeglectedUnsubstantiatedForm">
                <div class="row investigation-findings-popup" style="width:900px" *ngIf="personComar; let comar">
                    <div class="col-sm-12">
                        <h4 class="m-b-20">MENTAL INJURY NEGLECT UNSUBSTANTIATED </h4>
                        <p>Mental Injury Neglect of {{comar?.victimname}} is "UNSUBSTANTIATED" in accordance with the provisions
                            of Maryland Code Ann., Fam. Law § 5-701(r), (s)(2), (aa) and COMAR 07.02.07.13B. It is the professional
                            assessment of this worker that there is some but insufficient credible evidence to support a
                            finding of either "indicated" or "ruled out" mental injury abuse because the following elements
                            were either present or were supported by some, but insufficient, evidence: (Specify which elements
                            caused the finding to be "unsubstantiated" and not "indicated" or "ruled out".)</p>

                        <table class="table borderless">
                            <tr>
                                <td style="width:30px;">1) </td>
                                <td> An injury characterized by an observable, identifiable, and substantial impairment of a mental
                                    or psychological ability to function (explain the impairment)</td>
                                <td style="width:350px;">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="findingcomments"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>2) </td>
                                <td> An omission or other failure to provide proper care or attention (provide details of the
                                    current or prior omission or other failure)</td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="intentionalinjurydesc"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>3) </td>
                                <td> The substantial impairment was caused by a parent, caregiver, or household or family member
                                    (insert name and whether the person is a parent, OR caregiver, OR household OR family
                                    member)
                                </td>
                                <!-- <td> {{comar?.caretakername}}</td> -->
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="" formControlName="omissiondesc">{{comar?.caretakername}}</textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>4) </td>
                                <td> The victim was a child under the age of 18 (child’s DOB)</td>
                                <td> {{comar?.victimdob | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>5) </td>
                                <td> The finding is supported by two professional assessments (provide the name and profession
                                    of the two assessors and briefly describe their conclusions)</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='3'>
                                    <div class='clearfix'>
                                        <div class='col-sm-8 pt-20'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="First Name" formControlName="firstname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field class="">
                                                        <input required matInput placeholder="Last Name" formControlName="lastname">
                                                    </mat-form-field>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <mat-form-field>
                                                        <mat-select required placeholder="Profession" formControlName="professiontypekey">
                                                            <mat-option *ngFor="let item of professionType" [value]="item.professiontypekey">{{item.typedescription}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='col-sm-12 mt-10'>
                                                <mat-form-field class="">
                                                    <textarea required matInput placeholder="Assessor Notes" formControlName="assessorcomments"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="clearfix">
                                        <div class='col-sm-8'>
                                            <div class='row'>
                                                <div class='col-sm-4'>
                                                    <p class="p-t-10">Caseworker </p>
                                                    <p class="m-b-20">{{ roleId?.user?.username}}</p>
                                                </div>
                                                <div class='col-sm-8 mt-10'>
                                                    <mat-form-field class="">
                                                        <textarea matInput placeholder="Caseworker Notes" formControlName="caseworkercomments"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-right pt-20" *ngIf="displayButton()">
                    <button class="btn-pri" (click)="addAllegedPerson(mentalInjuryNeglectedUnsubstantiatedForm.value , 'MENTAL INJURY NEGLECT-UD')">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
