<div class="row">
  <div class="col-sm-12">
    <h4> Change Home Approval </h4>
  </div>

  <div class="col-sm-12">
    <div class="text-right">
      <button class="btn-pri" (click)="openRequestForm()"  > Create Request </button>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table customTable firsttable">
        <thead>
          <tr>
           <th>Application #</th>
           <th>Approval Type</th>
           <th>Comments</th>
           <th>Requested Date</th>
           <th>Created By</th>
           <th>Updated Date</th>
           <th>Assignee</th>
           <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of changeRequestList">
            <td>{{item.applicantid}}</td>
            <td>{{item.description}}</td>
            <td>{{item.comments}}</td>
            <td>{{item.requested_date | date: 'MM/dd/yyyy'}}</td>
            <td>{{item.insertedon | date: 'MM/dd/yyyy'}}</td>           
            <td>{{item.updatedon | date: 'MM/dd/yyyy'}}</td>
            <td>{{item.createdby}}</td>
            <td>{{item.application_status}}</td>
          </tr>
        
        </tbody>
      </table>
      
    </div>
  </div>
</div>

<div class="modal fade in" id="home-approval-request-form" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="HomeApproval">
<div class="modal-dialog modal-md " role="document">
  <div class="modal-content ">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">X</span>
      </button>
      <h4 class="modal-title">Change Home Approval Request</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="requestForm">  
          <mat-form-field>
              <mat-select placeholder="Communication" required formControlName="communication">
                 <mat-option *ngFor="let item of communication_mediums" value="{{item.type}}">
                    {{item.type}}
                 </mat-option>
              </mat-select>
           </mat-form-field>
            <common-date-picker  placeholder="Date of contact" [max] = "maxDate" formControlName="requested_date"></common-date-picker>         
            <mat-form-field>
                <mat-select placeholder="Approval Type" required formControlName="approval_type">
                   <mat-option *ngFor="let item of approvalTypes" value="{{item.ref_key}}">
                      {{item.description}}
                   </mat-option>
                </mat-select>
             </mat-form-field>
             <mat-form-field>
               <input type="text" matInput formControlName="comments" placeholder="Comments">
             </mat-form-field>
             <mat-form-field>
                <mat-select placeholder="Supervisor" required formControlName="tosecurityuserid">
                   <mat-option *ngFor="let user of usersList" value="{{user.userid}}">
                      {{user.username}}
                   </mat-option>
                </mat-select>
             </mat-form-field>
        <div class="row">
          <div class="col-md-12 m-t-10">
            <div class="pull-right" >
              <button class="btn-pri" (click)="createRequest()">Initiate Request</button>
            </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

