<div role="tabpanel" class="tab-pane" id="pa-activities">
    <div class="box-grid">
        <div class="row">
            <div class="col-sm-9">
                <h3>Manage Activities</h3>
            </div>
            <div class="col-sm-3">
                <div class="tab-title-btn">
                    <button data-toggle="modal" data-target="#myModal-doc-types-edit" class="btn-pri pull-right" (click)="changeModelLabel('Add Task')">
                        <i class="fa fa-plus right-sspace"> </i> Add Activity</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
                        <thead>
                            <tr>
                                <th sortable-column="name" sort-direction="asc">Name</th>
                                <th sortable-column="nadescriptionme">Description</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" value="" (input)="onSearch('name', $event.target.value)" placeholder="Search Name">
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" value="" (input)="onSearch('description', $event.target.value)" placeholder="Search Description">
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="paActivitiesPC$ | async; let paActivitiesList">
                            <tr *ngFor="let activity of paActivitiesList">
                                <td>{{activity.name}}</td>
                                <td>{{activity.description}}</td>
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                                        <a (click)="editItem(activity)" data-toggle="modal" data-target='#myModal-doc-types-edit'>
                                            <img src="assets/images/form-letter/edit-icon.png" alt="">
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="Delete">
                                        <a (click)="confirmDelete(activity)">
                                            <img src="assets/images/form-letter/delete-icon.png" alt="">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="paActivitiesList?.length === 0">
                                <td colspan="3">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                        <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                            (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" data-backdrop="static" id="myModal-doc-types-edit" data-keyboard="false" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" *ngIf="!isEditMode">Add Activities</h4>
                <h4 class="modal-title" *ngIf="isEditMode">Edit Activities</h4>
            </div>
            <form [formGroup]="paActivitiesformGroup">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 mrg-top25">
                            <div class="fm-box">
                                <label class="required">PA Activities :</label>
                                <div class="fm-box-form">
                                    <input type="text" formControlName="name" class="form-control fm-style" placeholder="" />
                                    <control-messages [control]="paActivitiesformGroup.controls['name']"></control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mrg-top25">
                            <div class="fm-box">
                                <label class="required">Description :</label>
                                <div class="fm-box-form">
                                    <input type="text" formControlName="description" class="form-control fm-style" placeholder="">
                                    <control-messages [control]="paActivitiesformGroup.controls['description']"></control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" name="" (click)='saveItem()' [disabled]="paActivitiesformGroup.pristine || paActivitiesformGroup.invalid"
                                    data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>