<div role="tabpanel" class="tab-pane dd-overflow-inherit">
        <div class="cnt-min-height">
          <div class="row">
      
            <div class="col-sm-12">
              <h4>Household Details</h4>
            </div>
      
            <div class="col-sm-6">
              <p class="m-t-20">Add necessary household information relevant to this application.</p>
            </div>
      
            <!-- <div class="col-sm-6 text-right icon">
              <button [hidden]='isReadOnly' type="submit" class="btn-pri" data-target="#add-household"
                (click)="initializehouseHoldForm()" data-toggle="modal">Add Household Member
              </button>
            </div> -->
          </div>
      
          <div class="row">
            <div class="col-md-12">
              <mat-slide-toggle checked="true" (click)="togglePreposition()">Switch Card/Table View</mat-slide-toggle>
            </div>
          </div>
          <br>
      
          <!-- Table View -->
          <div class="row" [hidden]="!isPrepositionChecked">
            <div class="col-md-12 table-responsive">
              <table class="table customTable firsttable">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <th>Relation</th>
                    <th>SSN</th>
                    <th>Background check completed</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of tableData">
                    <td> {{person.household_member_prefix}} {{person.household_member_first_name}}</td>
                    <td>{{person.household_member_middle_name}}</td>
                    <td>{{person.household_member_last_name}} {{person.household_member_suffix}}</td>
                    <td>{{person.household_member_dob | date:'MM/dd/yyyy'}}</td>
                    <td>{{person.household_member_relation}}</td>
                    <td>{{person.household_member_ssn}}</td>
                    <td> {{person.household_member_clearance_status ? "Yes" : "No"}}</td>
                    <td>
                      <i class="fa fa-pencil-square-o" (click)="editHouseholdmember(person)"></i>
                      <i class="fa fa-trash" (click)="deleteHouseholdmember(person)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
          <!-- Card View -->
          <div class="rw" [hidden]="isPrepositionChecked">
            <div class="col-md-12">
              <div class="row person-wrap">
                <div class="col-sm-4" *ngFor='let person of tableData'>
                  <div class="panel panel-default person-panel">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-body">
                          <h4>{{person.household_member_prefix}} {{person.household_member_first_name}}
                            {{person.household_member_middle_name}}
                            {{person.household_member_last_name}} {{person.household_member_suffix}}
                          </h4>
                          <div class="person-role-height">
                            <span class="designation">
                              {{titleText}}
                              <span style="color:gray" *ngIf="!last"></span>
                            </span>
                          </div>
                        </div>
                        <div class="media-right">
                          <div *ngIf="person.userphoto">
                            <img src="{{person.userphoto}}" class="media-object" />
                          </div>
                          <div *ngIf="!person.userphoto">
                            <img src="../../../../../assets/images/person-icon.png" class="media-object" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <table class="involved-person-tables">
                        <tr>
                          <th>DOB</th>
                          <td>:</td>
                          <td>{{person.household_member_dob ? (person.household_member_dob | date:'MM/dd/yyyy') : 'N/A'}}
                          </td>
                        </tr>
                        <tr>
                          <th>Relation</th>
                          <td>:</td>
                          <td>{{person.household_member_relation}}</td>
                        </tr>
                        <tr>
                          <th>SSN</th>
                          <td>:</td>
                          <td>{{person.household_member_ssn ? person.household_member_ssn : 'N/A'}}</td>
                        </tr>
                        <tr>
                          <th>Background check completed</th>
                          <td>:</td>
                          <td>{{person.household_member_clearance_status ? "Yes" : "No"}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="panel-footer">
                      <div class="media">
                        <div class="media-body">
                        </div>
                        <div class="media-right" style="display: table-footer-group !important">
                          <i class="fa fa-pencil-square-o" (click)="editHouseholdmember(person)"></i>&nbsp;
                          <i class="fa fa-trash" (click)="deleteHouseholdmember(person)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- Modal for Personal & Background information -->
      <div class="modal fade in" id="add-household" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
        aria-labelledby="IntakeAppointmentLabel">
        <div class="modal-dialog modal-lg " role="document">
          <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">{{titleText}} Household Person Information</h4>
            </div>
      
            <!-- <div class="modal-body"> -->
            <mat-horizontal-stepper labelPosition="bottom" #stepper>
              <mat-step [stepControl]="houseHoldForm">
                <form [formGroup]="houseHoldForm">
                  <ng-template matStepLabel>Personal Information</ng-template>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field>
                            <mat-select placeholder="Prefix" formControlName="household_member_prefix">
                                <mat-option *ngFor="let item of prefixTypes" value="{{item}}">
                                  {{item}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-9">
                          <mat-form-field>
                            <input type="text" matInput formControlName="household_member_first_name"
                              placeholder="First Name" required>
                          </mat-form-field>
                        </div>
                      </div>
      
                      <mat-form-field>
                        <input type="text" matInput formControlName="household_member_middle_name" placeholder="Middle Name">
                      </mat-form-field>
      
                      <div class="row">
                        <div class="col-md-9">
                          <mat-form-field>
                            <input type="text" matInput formControlName="household_member_last_name" placeholder="Last Name" required>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field>
                            <mat-select placeholder="Suffix" formControlName="household_member_suffix">
                                <mat-option *ngFor="let item of suffixTypes" value="{{item}}">
                                  {{item}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <mat-form-field>
                        <input type="text" matInput formControlName="household_member_relation" placeholder="Relation">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Date Of Birth"
                          formControlName="household_member_dob">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" mask="000-00-0000" matInput formControlName="household_member_ssn"
                          placeholder="SSN#" required>
                      </mat-form-field>
                    </div>
      
                  </div>
      
                  <div class="row">
                    <div class="col-md-12 m-t-10">
                      <div class="pull-right">
                        <button class="btn-pri" *ngIf="!isEditHouseHold" mat-button matStepperNext
                          (click)="createHouseholdPerson()">Next</button>
                        <button class="btn-pri" *ngIf="isEditHouseHold" mat-button matStepperNext>Next</button>
                        <button class="btn-pri" *ngIf="isEditHouseHold" mat-button
                          (click)="patchProviderHousehold()">Update</button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-step>
              <div class="row">
                <mat-step class="col-md-6" [stepControl]="houseHoldForm">
                  <form [formGroup]="houseHoldForm">
                    <ng-template matStepLabel>Background Checklist</ng-template>
      
                    <!-- Content -->
                    <div class="row">
                      <div class="col-md-12">
      
                        <label>Is State criminal history background check completed? </label>
                        <span class="pull-right">
                          <mat-radio-group formControlName="bg_chk_state">
                            <mat-radio-button value=true>Yes</mat-radio-button>
                            <mat-radio-button value=false>No</mat-radio-button>
                          </mat-radio-group>
                        </span>
                        <div class="row">
                          <div class="col-md-6">
                            <div  *ngIf="houseHoldForm.value.bg_chk_state==true">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker2" placeholder="Date"
                                  formControlName="bg_chk_state_date">
                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
      
      
                        <label>Is National criminal history background check completed? </label>
                        <span class="pull-right">
                          <mat-radio-group formControlName="bg_chk_national">
                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                            <mat-radio-button [value]=false>No</mat-radio-button>
                          </mat-radio-group>
                        </span>
      
                        <div class="row">
                          <div class="col-md-6">
                            <div  *ngIf="houseHoldForm.value.bg_chk_national==true">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker3" placeholder="Date"
                                  formControlName="bg_chk_national_date">
                                <mat-datepicker-toggle matSuffix [for]="picker3">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker3 [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
      
                        <label>Is Child abuse and maltreatment database check completed? </label>
                        <span class="pull-right">
                          <mat-radio-group formControlName="bg_chk_child_abuse_maltreatment">
                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                            <mat-radio-button [value]=false>No</mat-radio-button>
                          </mat-radio-group>
                        </span>
      
                        <div class="row">
                          <div class="col-md-6">
                            <div *ngIf="houseHoldForm.value.bg_chk_child_abuse_maltreatment==true">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker4" placeholder="Date"
                                  formControlName="bg_chk_child_abuse_maltreatment_date">
                                <mat-datepicker-toggle matSuffix [for]="picker4">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker4 [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
      
                        <label>Out of state within past 5 years of the application? </label>
                        <span class="pull-right">
                          <mat-radio-group formControlName="bg_chk_oos" (change)="checkOutOfState($event)">
                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                            <mat-radio-button [value]=false>No</mat-radio-button>
                          </mat-radio-group>
                        </span>
      
                        <div *ngIf="isOutOfState">
                          <label>Applicable child welfare agencies in the previous states contacted to
                            obtain child abuse and maltreatment information? </label>
                          <mat-radio-group formControlName="bg_chk_child_abuse_maltreatment_oos">
                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                            <mat-radio-button [value]=false>No</mat-radio-button>
                          </mat-radio-group>
                        </div>
      
                        <div class="row">
                          <div class="col-md-6">
                            <div *ngIf="houseHoldForm.value.bg_chk_child_abuse_maltreatment_oos==true">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker5" placeholder="Date"
                                  formControlName="bg_chk_child_abuse_maltreatment_oos_date">
                                <mat-datepicker-toggle matSuffix [for]="picker5">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker5 [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
      
                      </div>
                    </div>
      
                    <!-- Footer -->
                    <div class="row">
                      <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                          <button *ngIf="!isEditHouseHold" class="btn-pri" (click)="patchProviderHousehold()" mat-button
                            (click)="stepper.reset()">Save</button>
                          <button *ngIf="isEditHouseHold" class="btn-pri" mat-button matStepperPrevious>Back</button>
                          <button *ngIf="isEditHouseHold" class="btn-pri" (click)="patchProviderHousehold()"
                            (click)="stepper.reset()">Update</button>
                        </div>
                      </div>
                    </div>
      
                  </form>
                </mat-step>
              </div>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
      
      <div class="modal fade in" id="delete-householdmember" tabindex="-1" role="dialog" data-backdrop="static"
        data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
      
        <div class="modal-dialog modal-lg " role="document">
          <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">{{titleText}}Household Person Information </h4>
            </div>
      
            <div class="modal-body">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <p>Are you sure want to delete</p>
                  <button class="btn-primary" (click)="deleteHouseholdConfirm()">Delete</button>
                  <button class="btn-danger" (click)="cancelDelete()">Cancel</button>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div> 
          </div>
        </div>
      
      </div>