.navbar-brand.logohome {
    /* background-image: url(../img/logo_home.png);  */
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 0;
}

.main-header .navbar-nav {
    padding-left: 10px;
}

.main-header .navbar-nav li a {
    color: #fff;
    font-size: 13px;
    padding: 15px 10px 10px;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
}

// .main-header .navbar-nav li a:hover{
// 	color: #fff;
// }
// .main-header .navbar-nav li a:focus{
// 	color: #fff;
// }
.main-header .navbar-nav li a:hover,
.main-header .navbar-nav li.active a,
.main-header .navbar-nav li a:focus,
.main-header .navbar-nav li a:active {
    color: #fff;
    border-bottom: 5px solid #fff !important;
    // font-weight: 600;
    background: none;
}

.main-header .header-right {
    padding-left: 0px;
}

.main-header .header-right form {
    margin: 10px 0 0;
}

.main-header .header-right form .form-group {
    margin-bottom: 0;
}

.main-header .header-right form .form-group .form-control {
    background-color: #ffffff20;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: none;
    border-color: #444;
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
    outline: none;
}

.main-header .header-right form .form-group .form-control option {
    background-color: #3e4145;
    box-shadow: none;
    font-size: 13px;
    padding: 15px 0;
    text-transform: capitalize;
}

.notifybar span {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 8px 2px 0 8px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.user-login-info {
    width: 100%;
    float: left;
    cursor: pointer;
}

.usernametxt-info {
    width: calc(100% - 80px);
    float: left;
}

.usernametxt-info h4 {
    color: #fff !important;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    position: relative;
    margin: 7px 0 5px auto;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.usernametxt-info p {
    color: #fff !important;
    // margin-left: 35px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: right;
}

.usericon {
    width: 40px;
    float: left;
    position: relative;
    height: 35px;
    margin-top: 6px;
    text-align: center;
}

.usericon img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.drop-link {
    position: relative;
}

.drop-menu {
    position: absolute;
    background-color: #fff;
    padding-left: 0;
    list-style: none;
    width: 260px;
    top: 50px;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.4s;
    transform-origin: 0 0;
    z-index: 80;
}

.drop-menu-sub-link,
.drop-menu-sub-inner-link {
    position: relative;
}

.drop-menu li a {
    color: #000 !important;
    padding: 10px 15px !important;
    margin: 2px 0;
    display: block;
    text-decoration: none;
    font-size: 13px !important;
    font-weight: 600;
    transition: all 0.3s;
}

.drop-menu li a:hover {
    background-color: #f1f1f1;
    transition: all 0.3s;
    border-bottom: 0 !important;
}

.drop-link:hover .drop-menu {
    transform: scale(1);
    opacity: 1;
    transition: all 0.4s;
}

.drop-menu-sub {
    background-color: #f1f1f1;
}

.drop-menu-sub-inner {
    background-color: #fff;
}

.drop-menu-sub,
.drop-menu-sub-inner {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 230px;
    -webkit-box-shadow: 8px 8px 25px -4px rgba(94, 94, 94, 0.4);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 8px 8px 25px -4px rgba(94, 94, 94, 0.4);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    border-radius: 0 3px 3px 0;
    list-style: none;
    padding-left: 0px;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 0.3s;
    z-index: 50;
}

.drop-menu-sub li a,
.drop-menu-sub-inner li a {
    font-size: 12px !important;
    transition: all 0.4s;
}

.drop-menu-sub li a:hover,
.drop-menu-sub-inner li a:hover {
    background-color: #fff;
    transition: all 0.4s;

}

.drop-menu-sub-link:hover .drop-menu-sub,
.drop-menu-sub-inner-link:hover .drop-menu-sub-inner {
    transform: scale(1);
    transition: all 0.3s;
}

.dropdown-menu.user-dropdown-menu {
    top: 48px;
    border-radius: 0 0 5px 5px;
    z-index: 99;
}

.notifybar span {
    margin: 8px 2px 0 8px;
}

.caret {
    margin-left: 8px;
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1190px) {
    .navbar-collapse {
        padding: 0;
    }

    .main-header .navbar-nav li a {
        font-size: 12px;
        padding: 15px 6px;
    }

    .notifybar span {
        margin: 15px 2px 0 5px;
    }

    .caret {
        margin-left: 3px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1190px) {
    .navbar-collapse {
        padding: 0;
    }

    .main-header .navbar-nav li a {
        font-size: 12px;
        padding: 15px 6px;
    }

    .notifybar span {
        margin: 15px 2px 0 5px;
    }
}

@media only screen and (min-device-width: 1191px) and (max-device-width: 1260px) {
    .main-header .navbar-nav li a {
        font-size: 13px;
        padding: 15px 10px;
    }

    .notifybar span {
        margin: 15px 2px 0 10px;
    }
}

// i.fa.fa-cloud-upload {
//     font-size: 20px;
//     cursor: pointer;
//     // color: #53c3c
// }
// .uploaded-files .btn-bs-file {
//     position: relative;
//     margin-bottom: 0;
// }
// .uploaded-files .btn-bs-file input[type='file'] {
//     position: absolute;
//     top: -9999999;
//     filter: alpha(opacity=0);
//     opacity: 0;
//     width: 0;
//     height: 0;
//     outline: none;
//     cursor: inherit;
// }
i.fa.fa-cloud-upload {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
}

.form-control {
    border: 1px solid #ccc;
}

input.form-control,
select.form-control {
    padding: 8px 12px 8px 12px;
}

.no-left-pad {
    padding-left: 0px !important;
}

.no-right-pad {
    padding-right: 0px !important;
}

.fn-menu-sub {
    position: absolute;
    top: 50px;
    left: 0%;
    width: 260px;
    -webkit-box-shadow: 8px 8px 25px -4px rgba(94, 94, 94, 0.4);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 8px 8px 25px -4px rgba(94, 94, 94, 0.4);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    border-radius: 0 3px 3px 0;
    background-color: #ffffff;
    list-style: none;
    padding-left: 0px;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 0.3s;
    z-index: 50;
}

.drop-link .fn-menu-sub li a {
    font-size: 12px !important;
    transition: all 0.4s;
    color: #000;
    font-size: 13px;
    padding: 15px 10px 10px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

.drop-link .fn-menu-sub li a:hover {
    background-color: #fff;
    transition: all 0.4s;
    color: #000;
    font-size: 13px;
    padding: 15px 10px 10px;
    border: none;
}

.drop-link .fn-menu-sub li a:focus {
    color: #000;
    background: #fff;
}

.drop-link:hover .fn-menu-sub {
    transform: scale(1);
    transition: all 0.3s;
}
.upload-label {
    font-weight: normal;
    padding-left: 20px;
    cursor: pointer;
}
.version {
    font-size: 10px;
    color: #ccc;
    margin: 0.5em;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 77%;
}
.version p {
    margin: 0 5px 0 0;
    display: inline-block;
}