.btn-pri,
.btn-bg,
.btn-link {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;
    min-width: 100px;
}

.section2 .dl-horizontal dd {
    margin-left: 98px;
    line-height: 25px;
    font-size: 13px;
}
.section2
{
    padding: 8px 15px;
    min-width: 100px;
    border-radius: 2px;
    margin-left: -203px;
    line-height: 25px;
    font-size: 13px;
}
.cls-mb-5{
    position: relative;

    &::after{
        position: absolute;
        display: block;
        content: '';
        border-right: 1px solid #007988;
        top: -10px;
        bottom: 0px;
        right: 0px;
        min-height: 92px;
    }
    p{
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .right-sec{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
#applicant-section {
    height: 92px;
}
.m-l-27 {
    margin-left: 27px;
}
.m-l-16 {
    margin-left: 16px;
}
.m-l-61 {
    margin-left: 61px;
}
.m-l-37 {
    margin-left: 37px;
}
.m-l-2 {
    margin-left: 2px;
}
.m-l-57 {
    margin-left: 57px;
}

.nav-pills>li+li {
    margin-left: 0px;
}

.intake .nav-pills > li > a {
    padding: 9px 12px;
}