<mat-form-field *ngIf="question">
	<mat-label>{{ question.description }}</mat-label>
	<mat-select
		name='question.id'
		[value]="value"
		(selectionChange)="onChange($event)"
	>
		<mat-option
			*ngFor='let choice of choices' 
			[value]='choice.key'>
			{{ choice.label }}
		</mat-option>
	</mat-select>
</mat-form-field>