<div class="modal fade" id="provider-info-popup">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" (click)="clearCache()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
             </button>
             <h4 class="modal-title h5-title">Provider Information</h4>
          </div>
          <div class="modal-body">
            <div class="clearfix clsProviderPopup">
                <div class="row pb-20">
                    <div class="col-md-6">
                      <div class="row pb-10">
                        <div class="col-sm-4">
                            <label class="mt-0">Provider Name:</label>
                        </div>
                        <div class="col-sm-8">
                          <span class="text-12">{{service?.providerInfoDetails?.provider_nm}}</span>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-4">
                              <label class="mt-0">Status:</label>
                          </div>
                          <div class="col-sm-8">
                            <span class="text-12">{{service?.providerInfoDetails?.provider_status_nm}}</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row pb-10">
                            <div class="col-sm-4">
                                <label class="mt-0">Provider ID:</label>
                            </div>
                            <div class="col-sm-8">
                              <span class="text-12">{{service?.providerInfoDetails?.provider_id}}</span>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-4">
                                  <label class="mt-0">Local Dept:</label>
                              </div>
                              <div class="col-sm-8">
                                <span class="text-12">{{service?.providerInfoDetails?.local_dept}}</span>
                              </div>
                            </div>                        
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="clearfix">
                        <h5 class="pb-10">Profile Information</h5>
                        <span> </span>
                      </div>
                      <div class="clearfix">
                        <label>Primary Contact:</label>
                        <span>{{service?.providerInfoDetails?.primarycontactname}}</span>
                      </div>
                      <div class="clearfix">
                        <label>Local Address:</label>
                        <span>{{service?.businessAddress}}</span>
                      </div>
                      <div class="clearfix">
                        <label>Contact Information:</label>
                        <ul class="clearfix unstyled pl-20">
                           <li> Phone : {{service?.providerInfoDetails?.primaryworknumber}} <span *ngIf="service?.providerInfoDetails?.primarycontactnumber">/ {{service?.providerInfoDetails?.primarycontactnumber}}</span></li>
                           <li> E-mail : {{service?.providerInfoDetails?.primaryemail}}</li>
                        </ul>
                      </div>
                      <div class="clearfix catagory-box">
                        <label>Provider Category:</label>
                        <mat-checkbox disabled [(ngModel)]="service.placement">Placement Private Organization</mat-checkbox>
                        <mat-checkbox disabled [(ngModel)]="service.vendor">Vendor (Paid Service)</mat-checkbox>
                        <mat-checkbox disabled [(ngModel)]="service.community">Community (Non-Paid Service)</mat-checkbox>
                      </div>
                    </div>
                    <div class="col-md-6 sep-left">
                        <div class="clearfix">
                          <h5 class="pb-10">Payment Information</h5>
                        </div>
                        <div class="clearfix">
                          <label>Admin Contact:</label>
                          <span>{{service?.providerInfoDetails?.admincontactname}}</span>
                        </div>
                        <div class="clearfix">
                          <label>Payment Address:</label>
                          <span>{{service?.paymentAddress}}</span>
                        </div>
                        <div class="clearfix">
                          <label>Contact Information:</label>
                          <ul class="clearfix unstyled pl-20">
                           <li> Phone : {{service?.providerInfoDetails?.adminworknumber}} <span *ngIf="service?.providerInfoDetails?.admincontactnumber">/ {{service?.providerInfoDetails?.admincontactnumber}}</span> </li>
                           <li> E-mail : {{service?.providerInfoDetails?.adminemail}} </li>
                        </ul>
                        </div>
                        <div class="clearfix">
                          <label>Mail Code:</label>
                          <span>{{service?.providerInfoDetails?.mail_code_tx}}</span>
                        </div>
                        <div class="clearfix">
                          <label>Tax Id:</label>
                          <span>{{service?.providerInfoDetails?.tax_id_no}}</span>
                        </div>
                        <div class="clearfix">
                          <label>1099 Indicator:</label>
                          <div class="clearfix">
                           <span>{{service?.providerInfoDetails?.indicator_1099_sw === 'Y' ? 'Yes' : (service?.providerInfoDetails?.indicator_1099_sw === 'N' ? 'No' : '')}}</span>
                          </div>
                          <div class="clearfix">
                           <mat-checkbox [disabled] = "agency !== 'FNS' || service.electronicfundtransfer" [(ngModel)]="service.isPaymentWithhold" (click)="showConfirmPopup(1, service?.isPaymentWithhold)">Withhold Payment (Returned Check)</mat-checkbox>
                          </div>
                          <div class="clearfix">
                           <mat-checkbox [disabled] = "agency !== 'FNS'"  [(ngModel)]="service.electronicfundtransfer"  (click)="showConfirmPopup(2, service?.electronicfundtransfer)">Electronic Funds Transfer (EFT)</mat-checkbox>
                          </div>
                        </div>
                    </div>
                  </div>
             <div class="row" *ngIf="service?.changeLogList?.length > 0">
                <div class="pull-left">
                    <label class="mt-0 pl-20">Change Log:</label>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive table-theme ">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>Changed</th>
                                 <th>Action</th>
                                 <th>Reason</th>
                                 <th>Local Dept</th>
                                 <th>Phone#</th>
                                 <th>Updated By</th>
                                 <th>Updated on</th>
                              </tr>
                           </thead>
                           <tbody *ngIf="service?.changeLogList; let getlist">
                              <ng-container *ngIf="getlist.length>0">
                                 <tr *ngFor="let item of getlist">
                                    <td>{{item.withhold_payment_sw ? 'Withhold Payment (Returned Check)' : 'Electronic Funds Transfer (EFT)'}}</td>
                                    <td>{{item.withhold_payment_sw ? (item.withhold_payment_sw === 'Y' ? 'Checked' : 'Un Checked') : (item.eft_sw === 'Y' ? 'Checked' : 'Un Checked')}}</td>
                                    <td>{{item.withhold_reason}}</td>
                                    <td>{{item.local_dept}}</td>
                                    <td>{{item.phone_no}}</td>
                                    <td>{{item.fullname}}</td>
                                    <td>{{item.insertedon | date:'MM/dd/yyyy'}}</td>
                                 </tr>
                              </ng-container>
                           </tbody>
                        </table>
                     </div>
                </div>
              </div>
            </div>               
          </div>
          <div class="modal-footer">
             <div class="row">
               <div class="col-md-3">                 
                  <div class="row" *ngIf="service?.changeLogList?.length === 0">
                      <div class="col-sm-10">
                          <label class="mt-0">Change Log:</label>
                      </div>
                      <div class="col-sm-1">
                        <span class="text-12">NA</span>
                      </div>
                    </div>  
               </div>
                <div class="col-md-9 pull-right action-btn" *ngIf="agency === 'FNS'">
                    <a *ngIf="service?.page === 'Ancillary' || service?.page === 'Both'" (click)="navigateMaintenance(1)">Maintenance/ Subsidy</a> &nbsp;|&nbsp;<a  *ngIf="service?.page === 'Maintenance' || service?.page === 'Both'" (click)="navigateMaintenance(2)">Ancillary Payments</a>
                    &nbsp;|&nbsp;<a  (click)="navigateMaintenance(3)">Account Receivable</a>
                   <!-- <button class="btn btn-pri" data-dismiss="modal" matTooltip="Close" type="button">Close</button> -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="modal fade" id="confirm-withhold-payment-change" role="dialog">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close"  (click)="cancelConfirm()" data-dismiss="modal">×</button>
               <h4 class="modal-title"> {{headerTxt}} </h4>
           </div>
           <!-- <form [formGroup]="returnFormGroup"> -->
               <div class="modal-body">
                 <div class="row">
                  <div class="col-md-12" *ngIf="headerTxt === 'Withhold Payment (Returned Check)' && !currentvalue">
                      <mat-form-field>
                          <textarea matInput placeholder="Reason" [(ngModel)]="reasonwithhold" required ></textarea>
                      </mat-form-field>
                  </div>
                 </div>
                   <p> {{alertTxt}} </p>
               </div>
           <!-- </form> -->

           <div class="modal-footer">
               <div class="text-right right-mspace-15">
                   <button type="button" class="btn-bg"  (click)="cancelConfirm()" data-dismiss="modal"> Cancel </button>
                   <button type="button" value="Yes"  *ngIf="headerTxt !== 'Electronic Funds Transfer (EFT) Change Alert'" class="btn-pri" name="" (click)="saveConfirmPopup()"> Yes, Confirm </button>
               </div>
           </div>
       </div>
   </div>
</div>