.mini-select .multi-select{width: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
    overflow: auto;
    height: 120px;
}

.select__arrow.pos1 {
    top: 38px;
    right: 9px;
    border-color: #888 transparent transparent transparent;
}
.select-icon{position: relative;}
.report-summary .box-grid-header .form-group{margin:15px; position: relative;}

// .source-date-info{margin-top: 15px;}
.form-group a.no-border{border: none;padding:0; cursor:default;}

.no {
    display: inline-block;
    margin: 0 10px;
    color: #00bcd3;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 0;
    border-radius: 3px;
}
.fa-calendar {
    right: 10px;
    top: 10px;
}
.select-icon:after{
    top: 14px;
    right: 10px;
}
.clsMinwidth-130{
    font-weight: normal;
    min-width: 130px;
    display: inline-block;
}
.p-l-10{
    padding-left: 10px;
}