<div class='row'>
	<mat-divider></mat-divider>
	<div class='col-md-12' class='survey-question'>
		<h4 [innerHTML]="question.description"></h4>
		<mat-radio-group [name]="name" (change)="onChange($event)">
			<mat-radio-button
				*ngFor='let choice of choices'
				[value]="choice.key"
				[checked]="value == choice.key"
			>
				{{ choice.label }}
			</mat-radio-button>
		</mat-radio-group>

	</div>
</div>