
<div class="row">
  <div class="m-t-20 col-md-12">
      <div class="table-responsive table-theme">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Alert</th>
                      <th>Special Info</th>
                      <th>Pickup Location</th>
                      <th>Pickup Time</th>
                      <th>Dropoff Location</th>
                      <th>Dropoff Time</th>
                      <th>Juris County</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let rosterList of rosterresult">
                      <td>{{rosterList?.commenttextval}}</td>
                      <td>{{rosterList?.dropofflocation}}</td>
                      <td>{{rosterList?.dropofflocation}}</td>
                      <td>{{rosterList?.dropofflocation}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<router-outlet></router-outlet>