
        <div class="row person-wrap">
            <ng-container *ngIf="abusedChildList?.length; else elseTemplate">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let person of abusedChildList; let i = index ; ">
                <div class="panel panel-default person-panel">
                    <div class="panel-heading " [ngClass]="{'selected-child': (selectedChild?.actorid === person?.actorid)}">
                        <div class="media">
                            <div>
                                <div class="media-body">
                                    <h4 class="person-nm-title">
                                        <span matTooltip="{{(person?.fullname)}}">{{
                                            (person?.fullname)?.length > 20
                                            ? (person?.fullname| slice: 0:20 |
                                            titlecase) + '...'
                                            : (person?.fullname | titlecase)
                                            }}</span>
                                    </h4>
                                    <div>
                                        <div class="designation-wrapper">
                                            <span class="" *ngFor="let role of person?.roles; let last = last">
                                                {{role?.typedescription}}
                                                <span style="color:gray" *ngIf="!last"> </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <div *ngIf="person.userphoto"><img src="{{person.userphoto}}" class="media-object" />
                                    </div>
                                    <div *ngIf="!person.userphoto"><img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body  container-height">
                        <table class="involved-person-tables">
                            <tr *ngIf="person.assistpid">
                                <th style="width:110px;float:left;">ASSIST PID#</th>
                                <td style="width:13px;">:</td>
                                <td class="single-wrap">{{ person?.assistpid }}</td>
                            </tr>
                            <tr *ngIf="person.cjamspid">
                                <th style="width:110px;float:left;">CJAMS PID#</th>
                                <td style="width: 15px;">:</td>
                                <td class="single-wrap">{{ person?.cjamspid }}</td>
                            </tr>
                            <tr>
                                <th>D.O.B</th>
                                <td style="width: 15px;">:</td>
                                <td class="single-wrap">{{ person.dob | date: 'MM/dd/yyyy' }}</td>
                            </tr>
                            <tr *ngIf="isServiceCase">
                                <th>AGE</th>
                                <td style="width: 15px;">:</td>
                                <td class="single-wrap"><span class="theme-age">{{ person.age }}</span></td>
                            </tr>
                            <tr *ngIf="person.dateofdeath">
                                <th>D.O.D</th>
                                <td style="width: 15px;">:</td>
                                <td class="single-wrap">{{ person.dateofdeath | date: 'MM/dd/yyyy' }}</td>
                            </tr>
                            <tr>
                                <th>GENDER</th>
                                <td>:</td>
                                <td class="single-wrap">
                                    {{ (person.gender)?person.gender:(person.gendertypekey)?(person.gendertypekey):'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <th>ADDRESS</th>
                                <td>:</td>
                                <ng-container *ngIf="!isAdoptionCase">
                                    <td *ngIf="person.address">
                                        {{ person.address.length > 25 ? (person.address | slice: 0:25) + '...' :
                                                                                    person.address + ' ' + person.address2 + ' ' + person.city +' ' + person.state }}
                                    </td>
                                    <td *ngIf="!person.address">N/A</td>
                                </ng-container>
                                <ng-container *ngIf="isAdoptionCase">
                                    <td *ngIf="person.address">
                                        {{ person.fullAddress.length > 25 ? (person.fullAddress | slice: 0:25) + '...' :
                                                                                                                            person.address + ' ' + person.address2 + ' ' + person.city +' ' + person.state }}
                                    </td>
                                    <td *ngIf="!person.address">N/A</td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer" [ngClass]="{'selected-child': (selectedChild?.actorid === person?.actorid)}" style ="height:53px">
                        <div class="pull-right">
                                    <button type="button" [disabled]="isViewCase" (click)="selectChild(person)"  class="btn-pri" name=""> Record Maltreatment</button>
                        </div>
                        <!-- <ul class="list-unstyled list-inline icon-btn m-0">
                            <li class="pull-right" [fieldKey]="'caseworker-persons-edit'">
                                <button class="btn btn-pri" style="font-size: 13px" [disabled]="isViewCase || isClosed" (click)="selectChild(person)">
                                        Record Maltreatment
                                </button>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
            </ng-container>
            <ng-template #elseTemplate>
                    <div class="pad-top20 text-center" >
                      <p class="col-sm-12" *ngIf="abusedChildList !== null">No Alleged Victim is available in this case to record maltreatment allegations.</p>
                    </div>
            </ng-template>
        </div>

<div class="clearfix" *ngIf="selectedChild">   
    <mat-accordion class="acc-content">
        <div [formGroup]="allegationForm">
            <ng-container formArrayName="allegations">
                <mat-expansion-panel *ngFor="let allegation of allegationForm.controls.allegations.controls;let i=index"
                    [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            
                             <span id="schoolAcdn" class="aut-lnk-malAllReportedChild">
                                 VICTIM: {{allegation.getRawValue().childname}} |  MALTREATMENT TYPE:  {{allegation.getRawValue().maltreatment}} | ALLEGED MALTREATOR:
                                {{ allegation.getRawValue().expungementStatus? 'Unnamed' : allegation.getRawValue().maltreatorname}}
                                <!-- {{maltype.text}} | ALLEGED MALTREATOR: {{person.text}} -->
                            </span>
                            <div class="pull-right">
                                    <i title="Completed" *ngIf="allegation.getRawValue().investigationallegationid?.length>0" class="fa fa-check-circle check_primary_color"></i>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <input type="hidden">
                    <input type="hidden">
                    <div class="contentAccordion">
                        <div class="card card-body">
                            <div class="clearfix">
                                <div class="row">
                                  <div class="col-md-12">
                                      <mat-checkbox class="m-t-20 ds-block" value="1" formControlName="isnotapplicable" [disabled]="this.disableForm">
                                            This maltreatment is not applicable</mat-checkbox>
                                    <!-- <label class="">Not Applicable</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-radio-group formControlName="isnotapplicable" >
                                                <mat-radio-button value="1">Yes</mat-radio-button>
                                                <mat-radio-button value="0">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div> -->
                                    </div><br><br>
                                    <div class="col-md-12" *ngIf="allegation.getRawValue().isnotapplicable">
                                        <mat-form-field>
                                                <textarea type="text" 
                                                    formControlName="notapplicablecomments" matInput placeholder="Comments" [disabled]="this.disableForm"
                                                    required></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!allegation.getRawValue().isnotapplicable">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <!-- <mat-select formControlName="incidentlocationtypekey" placeholder="Incident Location">
                                                    <mat-option *ngFor="let incident of incidentLocation" [value]="incident.value">
                                                        {{incident.text}}</mat-option>
                                                </mat-select> -->
                                                <input type="text" matInput formControlName="incidentlocationtypekey" [disabled]="this.disableForm" placeholder="Incident Location">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <label class="">Is another jurisdiction assisting ?</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-radio-group formControlName="isjurisdiction" (change)="showJurisdiction($event.value)" [disabled]="this.disableForm">
                                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                                    <mat-radio-button value="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="allegation.getRawValue().isjurisdiction === '1' && !allegation.getRawValue().isnotapplicable">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <mat-select formControlName="countyid" placeholder="Name of Assisting Jurisdiction" [disabled]="this.disableForm">
                                                    <mat-option *ngFor="let  sdmsdmCountyValue of jurisdictionDropdownItems$ | async"
                                                        [value]="sdmsdmCountyValue.value">
                                                        {{sdmsdmCountyValue.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <mat-form-field>
                                            <input type="text" matInput formControlName="caseworker" placeholder="Assisting Caseworker" [disabled]="this.disableForm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <mat-form-field>
                                            <input type="text" matInput formControlName="supervisor" placeholder="Assisting Supervisor" [disabled]="this.disableForm">
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="clearfix" *ngIf="!allegation.getRawValue().isnotapplicable">
                                <label class="mrg-top15">Date of Incident</label>                                
                                <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                                <div class="no-placeholder clsDateLabel">
                                            <mat-form-field>
                                                <input (dateChange)="startDateChanged(allegation)"  formControlName="incidentdate" [disabled]="this.disableForm"
                                                    (click)="picker.open()" matInput [min]="selectedChild?.dob" [max]="minincidentDate" [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field> 
                                            <label class= "incident-start-date" for=""> Start Date </label>
                                        </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="no-placeholder clsDateLabel">
                                            <mat-form-field>
                                                <input matInput (dateChange)="endDateChanged(allegation)" formControlName="enddate" [disabled]="this.disableForm"
                                                    (click)="picker1.open()" [matDatepicker]="picker1" matInput [min]="allegation['controls']?.incidentdate.value" [max]="minincidentDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                            <label for=""> End Date </label>
                                        </div>
                                    </div>
                                        <div class="col-sm-6 col-md-3" style="padding-top: 25px;">
                                            <mat-checkbox formControlName="isapproximatedate"
                                                [disabled]="allegation?.getRawValue()?.isShowAllegation || this.disableForm">
                                                Approximate Date
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-sm-6 col-md-3 time-text">
                                            <input class="form-control" formControlName="timeofincidence"
                                                [disabled]="allegation?.getRawValue().isShowAllegation" a2e-datetimepicker [disabled]="this.disableForm"
                                                [options]="{format: 'h:mm a'}" placeholder="Time of Incident">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <ul *ngIf="allegation.getRawValue()?.isShowAllegation">
                                                <span *ngFor="let injurytypedescription of allegation['controls']?.injurytypedescription.value"
                                                    class="m-r-5">
                                                    <span *ngIf="injurytypedescription" class="label label-primary">{{injurytypedescription}}
                                                    </span>
                                                </span>
                                            </ul>
                                            <mat-form-field *ngIf="!allegation['controls']?.isShowAllegation.value">
                                                <mat-select [disabled]="allegation['controls']?.isShowAllegation.value || this.disableForm"
                                                    formControlName="injurytypekey" placeholder="Area of Injuries" multiple
                                                    (change)="onChangeInjuryTypeKey($event.value)">
                                                    <mat-option *ngFor="let item of injuryTypeDropdownItems$ | async" [value]="item.value">
                                                        {{item.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>                        
                                        <div class="col-sm-6 col-md-4">
                                            <ul *ngIf="allegation['controls']?.isShowAllegation.value">
                                                <span
                                                    *ngFor="let item of allegation['controls']?.maltreatmentcharactersticstypedescription.value"
                                                    class="m-r-5">
                                                    <span *ngIf="item" class="label label-primary">{{item}} </span>
                                                </span>
                                            </ul>
                                            <mat-form-field *ngIf="!allegation['controls']?.isShowAllegation.value">
                                                <mat-select [disabled]="allegation['controls']?.isShowAllegation.value || this.disableForm"
                                                    formControlName="maltreatmentcharactersticstypekey"
                                                    placeholder="Maltreatment Characteristics" multiple
                                                    (change)="onChangeMaltreatmentCharacteristicsType($event.value)">
                                                    <mat-option *ngFor="let item of maltreatmentCharactersticsTypeDropdownItems$ | async"
                                                        [value]="item.value">
                                                        {{item.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <ul *ngIf="allegation['controls']?.isShowAllegation.value">
                                                <span *ngFor="let item of allegation['controls']?.injurycharactersticstypedescription.value"
                                                    class="m-r-5">
                                                    <span *ngIf="item" class="label label-primary">{{item}} </span>
                                                </span>
                                            </ul>
                                            <mat-form-field *ngIf="!allegation['controls']?.isShowAllegation.value">
                                                <mat-select [disabled]="allegation['controls']?.isShowAllegation.value || this.disableForm"
                                                    formControlName="injurycharactersticstypekey" placeholder="Injury Characteristics" multiple
                                                    (change)="onChangeInjuryCharactersticsType($event.value)">
                                                    <mat-option *ngFor="let item of injuryCharactersticsTypeDropdownItems$ | async"
                                                        [value]="item.value">
                                                        {{item.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6 col-md-12 pt-10">
                                            <mat-form-field>
                                                <textarea type="text" [disabled]="allegation['controls']?.isShowAllegation.value || this.disableForm"
                                                    formControlName="injurycomments" matInput placeholder="Injury Characteristics Comments"
                                                    required></textarea>
                                            </mat-form-field>
                                        </div>                        
                                </div>
                        
                            </div>
                            <div class="row mrg-top15" *ngIf="!allegation.getRawValue().isnotapplicable">
                                    <div class="col-sm-4">
                                        <label class=""> Provider Involved Maltreatment</label>
                                        <div class="">
                                            <div class="">
                                                <mat-radio-group formControlName="isproviderinvolved" [disabled]="this.disableForm"
                                                    class="aut-rdo-malAllProviderInvolvedMaltreatment">
                                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                                    <mat-radio-button value="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class=""> Contributing factor in the fatality?</label>
                                        <div class="">
                                            <div class="">
                                                <mat-radio-group formControlName="ischildfatality" (change)="onFatalityChange($event,i)" [disabled]="this.disableForm">
                                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" *ngIf="allegation.getRawValue().maltreatment=== 'Sexual Abuse'">
                                        <label style="margin: 0 16px;">Sex Trafficking</label>
                                        <div class="col-sm-12">
                                            <mat-radio-group formControlName="sextrafficking" [disabled]="this.disableForm">
                                                <mat-radio-button value="1">Yes</mat-radio-button>
                                                <mat-radio-button value="0">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                <div class="col-sm-12 pt-10">
                                    <mat-form-field>
                                        <!--D-07005 Start-->
                                        <textarea type="text" [disabled]="allegation['controls']?.isShowAllegation.value || this.disableForm"
                                            formControlName="comments" matInput placeholder="Maltreatment Characteristics Comments" required
                                            class="aut-txt-malAllComments"></textarea>
                                        <!--D-07005 End-->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="allegation.getRawValue().isproviderinvolved === '1' &&!allegation.getRawValue().isnotapplicable">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled panel-body no-pad">
                                        <li formArrayName="providerMaltreatmentItems"
                                            *ngFor="let prvdrMaltrtmntItms of allegation['controls']?.providerMaltreatmentItems.controls; let x = index">
                                            <mat-checkbox [formControlName]="x" (change)="onMaltreatorChange(allegation,x,$event)" [disabled]="this.disableForm">
                                                {{providerMaltreatmentTypeItems[x].text}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <button (click)="selectAllegationForm(allegation)" data-toggle="modal" data-target="#providersearch" [disabled]="this.disableForm"
                                        class="btn-pri">
                                        <i class="fa fa-plus"></i> Search Provider</button>
                                <div class="m-t-10">
                                    <ul style="list-style: none; padding-left: 0px">
                                        <li style="margin-bottom: 5px">Provider Name: {{allegation?.getRawValue()?.providername}}</li>
                                        <li style="margin-bottom: 5px">Provider Id: {{allegation?.getRawValue()?.providerid}}</li>
                                        <li style="margin-bottom: 5px">Provider Phone: {{allegation?.getRawValue()?.providerphone}}</li>
                                    </ul>
                                </div>
                                
                                </div>
                            </div>
                        
                            <div class="text-right">
                                    <button class="btn-pri aut-btn-malAllSave" [disabled]="showAppeal || isSubmitting || this.disableForm || isClosed"
                                        type="submit" (click)="saveMaltreatmentAllegation(allegation)">Save</button>
                            </div>     
                        </div>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </div>
    </mat-accordion>
</div>

<div class="mt-info" [formGroup]="maltreatmentFormGroup"  [fieldKey]="'caseworker-maltreatment-allegation'" *ngIf="false">
    <div class="clearfix">
        <div class="">
            <div class="col-sm-2">
                <div class="form-group">
                    <mat-form-field>
                        <mat-select formControlName="incidentlocationtypekey" placeholder="Incident Location">
                            <mat-option *ngFor="let incident of incidentLocation" [value]="incident.value">
                                {{incident.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="">Is another jurisdiction assisting ?</label>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-radio-group formControlName="isjurisdiction" (change)="showJurisdiction($event.value)">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div *ngIf="isAnotherJurisdiction">
                <div class="col-sm-3">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select formControlName="countyid" placeholder="Name of Assisting Jurisdiction">
                                <mat-option *ngFor="let  sdmsdmCountyValue of jurisdictionDropdownItems$ | async" [value]="sdmsdmCountyValue.value">
                                    {{sdmsdmCountyValue.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input type="text" matInput formControlName="caseworker" placeholder="Assisting Caseworker">
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <input type="text" matInput formControlName="supervisor" placeholder="Assisting Supervisor">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <mat-accordion class="acc-content">
            <div formArrayName="person">
                <mat-expansion-panel *ngFor="let person of maltreatmentFormGroup['controls'].person['controls']; let i=index" [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="schoolAcdn" class="aut-lnk-malAllReportedChild"> {{person['controls']?.personname.value}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <input type="hidden" formControlName="intakeservicerequestactorid">
                    <input type="hidden" formControlName="personid">
                    <div class="contentAccordion" formArrayName="investigationallegation" [fieldKey]="'caseworker-maltreatment-allegation'">
                        <div class="card card-body" *ngFor="let investigation of person['controls'].investigationallegation['controls']; let j=index"
                            [formGroupName]="j">
                            <div class="clearfix">
                                <div class="inline-show valign-top p-r-20">
                                    <input type="hidden" formControlName="investigationallegationid">
                                    <label class="mrg-top15">Date of Incident</label>
                                </div>
                                <div class="inline-show valign-top p-r-20">
                                    <mat-form-field>
                                        <input  (dateChange)="startDateChanged(investigation)" [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="incidentdate" (click)="picker.open()"
                                            matInput  [min]="selectedChild?.dob" [max]="minincidentDate" [matDatepicker]="picker" placeholder="Start Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> 
                                </div>
                                <div class="inline-show valign-top p-r-20">
                                    <mat-form-field>
                                        <input matInput  (dateChange)="endDateChanged(investigation)" formControlName="enddate" [disabled]="investigation['controls']?.isShowAllegation.value" (click)="picker1.open()"
                                            [matDatepicker]="picker1" matInput [min]="investigation['controls']?.incidentdate.value" placeholder="End Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="inline-show valign-top p-r-20" style="margin-top: 25px; width:15%;">
                                    <mat-checkbox formControlName="isapproximatedate" [disabled]="investigation['controls']?.isShowAllegation.value">Approximate Date
                                    </mat-checkbox>
                                </div>
                                <div class="inline-show valign-top time-text">
                                    <input class="form-control" formControlName="timeofincidence" [disabled]="investigation['controls']?.isShowAllegation.value"
                                        a2e-datetimepicker [options]="{format: 'h:mm a'}" placeholder="Time of Incident">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="Maltreatment-table">
                                    <thead>
                                    <!-- D-06597 - Fix for Maltreatment type and Alleged Maltreators and Relationship to Victim fields should be mandatory fields -->
                                        <tr>
                                            <th> <label class="required">Maltreatment Type</label> </th> 
                                            <th> <label class="required">Alleged Maltreators and Relationship to Victim </label> </th>                                               
                                          
                                            <th>Area of Injuries in the body</th>
                                            <th>Maltreatment Characteristics</th>
                                            <th>Injury Characteristics</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding:0">
                                                <table>
                                                    <tr>
                                                        <td style="padding-top:0px; border:0;">
                                                            <span *ngIf="investigation['controls']?.isShowAllegation.value">
                                                                <span class="label label-primary">{{investigation['controls']?.allegationname.value}}
                                                                </span>
                                                            </span>
                                                            <mat-form-field *ngIf="!investigation['controls']?.isShowAllegation.value">
                                                                <mat-select [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="allegationid" placeholder="Maltreatment Type"
                                                                    (change)="sexualAbuse($event, i, j)" class="aut-lst-malAllMaltreatmentType">
                                                                    <ng-container *ngFor="let item of maltreatmentTypeDropdownItems$ | async">
                                                                        <mat-option  *ngIf="filterAllegations(item.text)" [value]="item.value + '~' + item.additionalProperty">{{item.text}}</mat-option>
                                                                    </ng-container>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <br />

                                                            <input type="hidden" formControlName="isShowSextrafficking">
                                                            <div class="row" *ngIf="investigation['controls']?.isShowSextrafficking.value">
                                                                <label style="margin: 0 16px;">Sex Trafficking</label>
                                                                <div class="col-sm-12">
                                                                    <mat-radio-group formControlName="sextrafficking" [disabled]="investigation['controls']?.isShowAllegation.value">
                                                                        <mat-radio-button value="1">Yes</mat-radio-button>
                                                                        <mat-radio-button value="0">No</mat-radio-button>
                                                                    </mat-radio-group>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </td>
                                            <td>
                                                <ul *ngIf="investigation['controls']?.isShowAllegation.value">
                                                    <div *ngFor="let item of investigation['controls']?.maltreatorname.value" class="m-r-5">
                                                        <span *ngIf="item" class="label label-primary">{{item}} </span>
                                                    </div>
                                                </ul>
                                                <mat-form-field *ngIf="!investigation['controls']?.isShowAllegation.value">
                                                    <mat-select [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="maltreatoractorid" placeholder="Alleged Maltreators"
                                                        (change)="onChangeIndicator($event.value)" class="aut-lst-malAllMaltreator">
                                                        <mat-option *ngFor="let item of childDetails" [value]="item.value">{{item.text}}</mat-option>
                                                        <mat-option *ngIf="childDetails.length > 1" value="unknown">Unknown</mat-option>
                                                        <mat-option *ngIf="investigation['controls']?.sextrafficking.value === '1'" value="nomaltreator">No Maltreator Identified</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <ul *ngIf="investigation['controls']?.isShowAllegation.value">
                                                    <span *ngFor="let injurytypedescription of investigation['controls']?.injurytypedescription.value" class="m-r-5">
                                                        <span *ngIf="injurytypedescription" class="label label-primary">{{injurytypedescription}}
                                                        </span>
                                                    </span>
                                                </ul>
                                                <mat-form-field *ngIf="!investigation['controls']?.isShowAllegation.value">
                                                    <mat-select [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="injurytypekey" placeholder="Area of Injuries"
                                                        multiple (change)="onChangeInjuryTypeKey($event.value)">
                                                        <mat-option *ngFor="let item of injuryTypeDropdownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <ul *ngIf="investigation['controls']?.isShowAllegation.value">
                                                    <span *ngFor="let item of investigation['controls']?.maltreatmentcharactersticstypedescription.value" class="m-r-5">
                                                        <span *ngIf="item" class="label label-primary">{{item}} </span>
                                                    </span>
                                                </ul>
                                                <mat-form-field *ngIf="!investigation['controls']?.isShowAllegation.value">
                                                    <mat-select [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="maltreatmentcharactersticstypekey"
                                                        placeholder="Maltreatment Characteristics" multiple (change)="onChangeMaltreatmentCharacteristicsType($event.value)">
                                                        <mat-option *ngFor="let item of maltreatmentCharactersticsTypeDropdownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <ul *ngIf="investigation['controls']?.isShowAllegation.value">
                                                    <span *ngFor="let item of investigation['controls']?.injurycharactersticstypedescription.value" class="m-r-5">
                                                        <span *ngIf="item" class="label label-primary">{{item}} </span>
                                                    </span>
                                                </ul>
                                                <mat-form-field *ngIf="!investigation['controls']?.isShowAllegation.value">
                                                    <mat-select [disabled]="investigation['controls']?.isShowAllegation.value" formControlName="injurycharactersticstypekey"
                                                        placeholder="Injury Characteristics" multiple (change)="onChangeInjuryCharactersticsType($event.value)">
                                                        <mat-option *ngFor="let item of injuryCharactersticsTypeDropdownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row mrg-top15">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <!--D-07005 Start-->
                                        <textarea type="text" [disabled]="investigation['controls']?.isShowAllegation.value || this.disableForm" formControlName="comments" matInput
                                            placeholder="Maltreatment Characteristics Comments" required class="aut-txt-malAllComments"></textarea>
                                        <!--D-07005 End-->
                                    </mat-form-field>

                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <textarea type="text" [disabled]="investigation['controls']?.isShowAllegation.value || this.disableForm" formControlName="injurycomments" matInput
                                            placeholder="Injury Characteristics Comments" required ></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="row mrg-top15">
                                    <div class="col-sm-6">
                                        <label class="mt-lbl"> Provider Involved Maltreatment</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-radio-group formControlName="isproviderinvolved" (change)="onChangeMaltreatment($event.value, i, j)" class="aut-rdo-malAllProviderInvolvedMaltreatment">
                                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                                    <mat-radio-button value="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            
                                            <ul class="list-unstyled panel-body" *ngIf="investigation['controls']?.isDisplayProviderInvolved.value && providerMaltreatmentTypeItems.length">
                                                <li formArrayName="providerMaltreatmentItems" *ngFor="let prvdrMaltrtmntItms of investigation['controls']?.providerMaltreatmentItems.controls; let x = index">
                                                    <mat-checkbox [formControlName]="x" >{{providerMaltreatmentTypeItems[x].text}}</mat-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="mt-lbl"> Contributing factor in the fatality?</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-radio-group formControlName="ischildfatality" (change)="onFatalityChange($event,i)">
                                                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                    <mat-radio-button [value]="0">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn-pri aut-btn-malAllSave" [disabled]="investigation['controls']?.isShowAllegation.value || this.disableForm" type="submit" (click)="saveMaltreatment(person, investigation, i, j)">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-link" (click)="addMaltreatmentType(i)" [disabled]="this.disableForm"> + Add New Allegations</button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

        </mat-accordion>
    </div>



</div>
<div class="modal fade in modal-theme" id="providersearch" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click) = "setsearchprovider()" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Search Provider To ADD</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Provider ID" [(ngModel)]="searchprovider.providerid">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Provider Name" [(ngModel)]="searchprovider.providernm">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="false">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Provider First Name"
                                [(ngModel)]="searchprovider.providerfname">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Provider Last Name" [(ngModel)]="searchprovider.providerlname">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t-20">
                        <button class="btn btn-pri btn-theme pull-right" (click)="searchProvider()">Search</button>
                    </div>
                </div>
                <div class="row" *ngIf="providersList.length">
                    <div class="col-sm-12">
                        <h4 class="h4-title m-t-20">Results</h4>
                        <div class="table-theme table-responsive m-t-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Provider Category</th>
                                        <th>Provider Id</th>
                                        <th>Provider/Program Name</th>
                                        <!-- <th>County Code</th> -->
                                        <th>Tax Id</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of providersList">
                                        <td>
                                            <mat-radio-group>
                                                <mat-radio-button (click)="selectProvider(item)" value="1">
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </td>
                                        <td>{{item.provider_category_cd}}</td>
                                        <td>{{item.provider_id}}</td>
                                        <td>{{item.provider_nm}}</td>
                                        <td>{{item.tax_id_no}}</td>
                                        <td>
                                            <span>
                                                <p *ngIf="item.provider_status_cd == 1791">open</p>
                                                <p *ngIf="item.provider_status_cd == 1792">closed</p>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="text-center m-t-20" *ngIf="providersList; let providersList">
                                <pagination-controls class="text-center m-t-20" id='provider-extng' *ngIf="providersList.length>0"
                                  (pageChange)="p = $event"></pagination-controls>
                              </div> -->
                    </div>
                </div>
                <div class="" *ngIf="providersList.length === 0">
                    <p>No Results match your search criteria.
                    </p>
                </div>
                <div class="modal-footer wizard-buttons">
                    <div class="col-sm-12 text-right m-t-20" *ngIf="providersList.length">
                        <button class="btn btn-pri btn-theme pull-right" data-dismiss="modal"
                            (click)="onConfirmProvider()">SELECT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="maltreatment-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                <h4 class="modal-title"> Maltreatment </h4>
            </div>

            <div class="modal-body">
                <p> No Maltreator found under Persons Screen to Proceed!</p>                
            </div>

            <div class="modal-footer">
                <button class="sec-btn pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="no-maltreator-popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                    <h4 class="modal-title">No Maltreator Found  </h4>
                </div>
    
                <div class="modal-body">
                    <p>No Alleged Maltreator available in this case. Please add an Alleged Maltreator to record Maltreatment Allegation Information!</p>                
                </div>
    
                <div class="modal-footer">
                    <button class="sec-btn pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>
<router-outlet></router-outlet>