<!-- Grid view for Service Plan Summary-->

<!-- Show service plans -->
<div class="row">
  <div class="col-md-12 m-t-20 m-b-10" *ngIf="serviceplanslist?.length > 0; else noServiceTemplate">
    <div class="table-responsive table-theme">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Select Plan</th>
            <th>Service Plan</th>
            <th>Effective Date</th>
            <th>Target End Date</th>
            <th>Completion Date</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf="serviceplanslist?.length > 0; else noRecordTemplate">
            <tr *ngFor="let item of serviceplanslist; let index=index;">
              <td class="text-center">
                <mat-radio-button [ngClass]="{'disabledField': isClosed}" [checked]="item?.serviceplanid===selectedServicePlan?.serviceplanid"
                  name="selected_plan" matToolTip="Select Plan" (change)="selectServicePlan(item, index)"></mat-radio-button>
              </td>
              <td> {{item?.serviceplanname}}</td>
              <td>{{item?.effectivedate | date : 'MM/dd/yyyy'}}</td>
              <td>{{item?.targetenddate | date : 'MM/dd/yyyy'}}</td>
              <td>{{item?.enddate | date : 'MM/dd/yyyy'}}</td>
            </tr>
          </ng-container>
          <ng-template #noRecordTemplate>
            <tr>
              <td colspan="5" class="text-center">
                No Records found
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <ng-template #noServiceTemplate>
  <div class="m-t-10 text-center">
    <p>No Service Plan currently found. </p>
  </div>
</ng-template> -->

<!-- Snapshot version for the selected service plan -->
<div class="row">
  <div class="col-md-12 m-t-20 m-b-10" *ngIf="snapshotVersions?.length > 0">
    <!-- <div class="table-responsive table-theme"> -->
      <mat-card>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Version Name</th>
            <th>Period</th>
            <th>Documents</th>
            <!-- <th>Signatures</th> -->
            <th>Status</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of snapshotVersions;let i=index">
            <td>{{item?.objecttype}}- {{item?.insertedon | date : 'MM/dd/yyyy hh:mm:ss'}}</td>
            <td>{{ item?.fromdate | date : 'MM/dd/yyyy' }} - {{ item?.todate | date : 'MM/dd/yyyy' }}</td>
            <td>
              <!-- <button type="button" class="pull-left no-bg" matTooltip="View/Download In-Home Service Plan PDF"
                (click)="servicePlanIhmPrint(item.id,i)">
                <i class="fa fa-print fa-size" aria-hidden="true"></i>
                In-Home
              </button> -->
              <button type="button" class="pull-left no-bg"
                matTooltip="View/Download Out-of-Home Service Plan PDF"
                (click)="servicePlanOohPrint(item.id,i)">
                <i class="fa fa-print fa-size" aria-hidden="true"></i>
                Out-of-Home
              </button>
            </td>

            <!-- Case plan doesnt need signatures -->
            <!-- <td>
              <button type="button" class="pull-left no-bg"
                matTooltip="View existing or capture new signatures" 
                data-dismiss="modal" data-target="#signatures-list" data-toggle="modal"
                (click)="setSignaturesList(item)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                View/Capture Signatures
              </button>
            </td> -->
            <td>
              <span *ngIf="item?.approvalstatus ==='Pending'" class="white-col status-pending">
                <span class="">Status : </span> &nbsp;{{item?.approvalstatus}}
              </span>
              <span *ngIf="item?.approvalstatus ==='Return'" class="white-col status-returned">
                <span class="">Status : </span> &nbsp;{{item?.approvalstatus}}
              </span>
              <span *ngIf="item?.approvalstatus ==='Approved'" class="white-col status-approved">
                <span class="">Status : </span> &nbsp;{{item?.approvalstatus}}
              </span>
              <span *ngIf="!item?.approvalstatus" class="white-col status-draft">
                <span class="">Status : </span> &nbsp;Draft</span>
            </td>
            <td>
              <!-- Worker actions -->
              <span *ngIf="user.role.name === 'field' && !item?.approvalstatus">
                <button type="button" class="service-btn p-r-10 col-fnt" 
                  data-target="#intake-caseassignnewX" data-toggle="modal" data-dismiss="modal"
                  (click)="setSelectedSnapshotVersion(item);getRoutingUser('Pending')">
                  <!-- <i *ngIf="!selectedService?.isReady" class="fa fa-hourglass-end" aria-hidden="true"
                    matTooltip="Awaiting completion"></i> -->
                  <i class="fa fa-send" aria-hidden="true"
                    matTooltip="Send for approval"></i>
                </button>
              </span>

              <!-- Supervisor actions -->
              <span *ngIf="isSupervisor && item?.approvalstatus && item?.approvalstatus ==='Pending'">
                <button type="button" class="service-btn p-r-10 col-fnt pull-right" data-placement="bottom"
                  title="Approval" (click)="setSelectedSnapshotVersion(item);getRoutingUser('Approved')"><i
                    class="fa fa-check"></i></button>
                <button type="button" class="service-btn p-r-10 col-fnt pull-right" data-placement="bottom"
                  title="Reject" (click)="setSelectedSnapshotVersion(item);getRoutingUser('Return')"><i
                    class="fa fa-close"></i></button>
             </span>

             <span *ngIf="item?.comments">
                <a data-toggle="modal" data-target="#review-comments" (click)="showReviewComments(item)"
                    matTooltip="Click for review comments.">
                    <i class="fa fa-commenting fa-lg"></i>
                </a>
            </span>

            </td>

          </tr>
        </tbody>
      </table>

    </mat-card>
    <!-- </div> -->
  </div>

  <!-- <div class="row"> -->
    <div class="col-md-12 m-t-20 m-b-10" *ngIf="selectedServicePlan && !isSupervisor">
      <button class="btn-pri pull-left" type="button" 
        data-target="#splan-snapshot-filter" data-toggle="modal"
        (click)="initPeriodList();setDefaultSnapshotFilterValues()">
        <i class="fa fa-plus"></i> 
        Service Plan Version for Progress Review
      </button>     
    </div>
  <!-- </div> -->

</div>

<!-- <ng-template #noSnapshotVersionTemplate>
  <div class="m-t-10 text-center">
    <p>No versions available for the selected service plan.</p>
  </div>
</ng-template> -->


<!-- Snapshot filter criteria -->
<div class="modal fade" id="splan-snapshot-filter" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" 
            data-dismiss="modal" data-target="#splan-snapshot-version" data-toggle="modal">×
          </button>
          <h4 class="modal-title bc-pop-title">Version generation filters</h4>
        </div>
        
        <div class="modal-body">


            <div class="row">
              <div class="col-md-6 col-sm-6 col-lg-5">
                  <mat-radio-group name="selectedFilterType" [(ngModel)]="selectedFilterType"
                      (change)="changeSelectedFilterType($event)">
                      <mat-radio-button value="PERIOD_RANGE">Period Range</mat-radio-button>
                      <mat-radio-button value="DATE_RANGE">Date Range</mat-radio-button>
                  </mat-radio-group>
                  <span>
                      <i class="fa fa-undo" (click)="resetSelectedFilterType()">&nbsp;Clear</i>
                  </span>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                  <p>
                    <label>Child Removal Date: </label>
                    <span>{{ selectedChildRemovalDate  | date : 'MM/dd/yyyy' }}</span>
                  </p>
                </div>
              </div>


            <div *ngIf="selectedFilterType==='PERIOD_RANGE'">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Select</th>
                          <th>Period range</th>
                          <th>Timeframe</th>
                          <th>From Date</th>
                          <th>To Date</th>
                          <th>Completed</th>
                      </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="periodList?.length > 0; else noRecordTemplate">
                      <tr *ngFor="let item of periodList; let index=index;">
                          <td class="text-center">
                              <mat-radio-button name="selected_period" matToolTip="Select Period" (change)="selectPeriod(item)"></mat-radio-button>
                          </td>
                          <td> {{item?.periodstart}} - {{item?.periodend}} days</td>
                          <td> {{item?.timeframe}} months</td>
                          <td> {{item?.fromdate | date : 'MM/dd/yyyy'}} </td>
                          <td> {{item?.todate | date : 'MM/dd/yyyy'}} </td>
                          <td> 
                              <!-- {{item?.isperiodcompleted }} -->
                              <ng-container *ngIf="item?.isperiodcompleted"><i class="fa fa-check-circle complete"></i></ng-container>
                          </td>
                      </tr>
                  </ng-container>

                  <ng-template #noRecordTemplate>
                      <tr>
                      <td colspan="5" class="text-center">
                          No Records found
                      </td>
                      </tr>
                  </ng-template>
                  </tbody>
              </table>
              <p>
                For 900+ days please use the custom date range selection.
              </p>
            </div>


            <div *ngIf="selectedFilterType==='DATE_RANGE'" [formGroup]="snapshotFilterFormGroup">
                <!-- <div class="col-md-4">
                  <mat-form-field>
                      <mat-select formControlName="personlist" multiple placeholder="Select Persons Involved">
                        <mat-option *ngFor="let item of personList" [value]="item.personid">
                          {{item.fullname}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="col-md-4">
                  <mat-form-field>
                    <input formControlName="startdate" matInput [matDatepicker]="filterstartdate" id="filterstartdate"
                      placeholder="From Date" (click)="filterstartdate.open()" required>
                    <mat-datepicker-toggle matSuffix [for]="filterstartdate"></mat-datepicker-toggle>
                    <mat-datepicker #filterstartdate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input formControlName="enddate" matInput [matDatepicker]="filterenddate" id="filterenddate"
                      placeholder="To Date" (click)="filterenddate.open()" required>
                    <mat-datepicker-toggle matSuffix [for]="filterenddate"></mat-datepicker-toggle>
                    <mat-datepicker #filterenddate></mat-datepicker>
                  </mat-form-field>
                </div>
            </div>
        </div>
  
        <div class="modal-footer">
          <!-- <button class="btn-pri pull-left" type="button" (click)="createSnapshot()"
            data-dismiss="modal" data-target="#splan-snapshot-version" data-toggle="modal" 
            [disabled]="snapshotFilterFormGroup.pristine || snapshotFilterFormGroup.invalid">
            Create
          </button> -->
          <button class="btn-pri pull-left" type="button" (click)="createSnapshot()" [disabled]="selectedFilterType===null"
            data-dismiss="modal" data-target="#splan-snapshot-version" data-toggle="modal">
            Create
          </button>
          <button class="sec-btn pull-right" type="button" 
            data-dismiss="modal" data-target="#splan-snapshot-version" data-toggle="modal" 
            (click)="snapshotFilterFormGroup.reset()">
            Cancel
          </button>
        </div>
  
  
      </div>
    </div>
  </div>

  <!-- Routing assignment Modal -->
<div class="modal fade" id="intake-caseassignnewX" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Assign</h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25">
          <div class="tab-content boxgrid">
            <div class="tab-pane active" id="caseassign-caseworker">
              <div class="">
                <div class="bs-example">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>NAME</th>
                        <!-- <th >CASE LOAD</th> -->
                        <!-- <th >AVAILABILITY</th> -->
                        <th>ZIP CODE</th>
                        <!-- <th>AGENCY</th> -->
                        <th>TYPE OF WORKER</th>
                        <th>UNIT</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="getUsersList; let getlist">
                      <ng-container *ngIf="getlist.length>0; else noItems">
                        <tr *ngFor="let item of getlist">
                          <td>
                            <label class="control control--radio">
                              <input type="radio" name="Address" (click)="selectPerson(item)">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>{{item.username}} </td>
                          <!-- <td >{{item.workloads}}</td> -->
                          <!-- <td >{{item.available}}</td> -->
                          <td>{{item.homelocationcode}}</td>
                          <!-- <td >{{item.agencykey}}</td> -->
                          <td>{{item.userrole}}</td>
                          <td>{{item.teamname}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <ng-template #noItems>No Items!</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="assignNewUser(selectedService)">ASSIGN</button>
      </div>
    </div>
  </div>
</div>

<!-- Decision confirmation modal -->
<div class="modal fade" id="confirm-decision" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Decision confirmation </h4>
            </div>
            <form [formGroup]="reviewFormGroup">
                <div class="modal-body">
                    <p> Please confirm decision : <b> {{approvalProcess}} </b> </p>
                </div>
                <div class="modal-body">
                    <p>Please enter any review comments :</p>
                    <mat-form-field>
                        <textarea formControlName="comments" matInput ></textarea>
                    </mat-form-field>
                </div>
            </form>

            <div class="modal-footer">
                <div class="text-right right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="cancelDecision()"> Cancel </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="confirmDecision()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="review-comments">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title bc-pop-title"> Review comments </h4>
            </div>
            <div class="modal-body">
                <div [safeHtml]="reviewComments"></div>
                <!-- <p> {{viewReturnReason }}</p> -->
                <!-- <p> Return reason </p> -->
                <div class="text-right">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>