<div class="col-md-12">
  <div class="row person-wrap">
    <mat-radio-group class="client-selector-group">


      <ng-container *ngIf="childList?.length; else elseTemplate">
        <div class="col-sm-3" *ngFor="let child of childList">
          <div class="panel panel-default person-panel">
            <div class="panel-heading selected-child" [ngClass]="{'selected-child': child.isSelected}">
              <div class="media">
                <div class="media-body">
                  <h4>
                    <mat-radio-button name="selected_child" (change)="selectedPerson(child)"
                      [value]="child.personid">
                      <span matTooltip="{{(child?.fullname)}}">{{
                          (child?.fullname)?.length > 20
                          ? (child?.fullname| slice: 0:20 |
                          titlecase) + '...'
                          : (child?.fullname | titlecase)
                          }}</span>
                    </mat-radio-button>
                    <!--  <mat-checkbox (change)="onChildChecked($event,child)" [checked]="child.isSelected" class="aut-chk-selectchildPermanencyPlan"
                   ><span class="m-l-10">{{child?.firstname}}
                      {{child?.lastname}}</span></mat-checkbox> -->
                  </h4>
                  <div class="person-role-height">
                    <p class="designation" *ngFor="let role of child.roles; let isLast=last">
                      {{role?.typedescription}}
                      <span *ngIf="!isLast" style="color:gray">,</span>
                    </p>
                  </div>
                </div>
                <div class="media-right">
                  <!-- <div><img src="" class="media-object" /></div> -->
                  <div>
                    <!--<img src="assets/images/ic_silhouette.png" class="media-object" />-->
                    <img *ngIf="child.userphoto" mat-card-avatar mat-card-md-image src="{{child.userphoto}}" />
                    <img *ngIf="!child.userphoto" mat-card-avatar mat-card-md-image
                        src="assets/images/ic_silhouette.png" />
                  </div>

                </div>
              </div>
            </div>
            <div class="panel-body">
              <table class="involved-person-tables">
                <tr>
                  <th>CJAMS PID#</th>
                  <td>:</td>
                  <td class="single-wrap">{{child?.cjamspid}}</td>
                </tr>
                <tr>
                  <th>D.O.B</th>
                  <td>:</td>
                  <td class="single-wrap">{{child?.dob | date : 'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                <tr>
                  <th>Age</th>
                  <td>:</td>
                  <td class="single-wrap">{{child?.age}}</td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td>:</td>
                  <td class="single-wrap">{{child?.typedescription}}</td>
                </tr>
                <tr>
                  <th>Removal Date</th>
                  <td>:</td>
                  <td class="single-wrap">
                    {{child?.removalInfo.removaldate | date : 'MM/dd/yyyy'}}
                  </td>
                </tr>
                <tr>
                  <th>Due Date</th>
                  <td>:</td>
                  <td class="single-wrap">
                    {{child?.dueDate | date : 'MM/dd/yyyy'}}
                  </td>
                  <td class="media-body">
                      <button *ngIf="false" class="red-btn pull-right" data-toggle="tooltip" data-placement="top" title="Less than 30 days" ><i class="fa fa-warning"></i></button>
                      <button *ngIf="false" class="yellow-btn pull-right" data-toggle="tooltip" data-placement="top" title="less than 60 days" ><i class="fa fa-warning"></i></button>
                      <button *ngIf="true" class="green-btn pull-right" data-toggle="tooltip" data-placement="top" title="More than 60 days" ><i class="fa fa-warning"></i></button>
                  </td>

                </tr>

              </table>

            </div>
          </div>
        </div>
      </ng-container>
    </mat-radio-group>
    <ng-template #elseTemplate>
      <div class="pad-top20 text-center">
        <p class="col-sm-12 mat-error">No child found over {{YOUTH_AGE_BAR}} years </p>
      </div>
    </ng-template>
  </div>
</div>