.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4CAF50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}