<div class="row">
    <div class="col-sm-12 text-right m-b-15 mt-15">
        <button type="button" data-toggle="modal" data-target="#add" class="btn btn-pri" (click)="clearItem()">Add</button>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive table-theme m-t-20">
            <table class="table table-striped editor-data">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Review Date</th>
                        <th>Meeting Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="{resourceList: resourceList$ | async} as resourceList">
                    <tr *ngFor="let resource of resourceList$ | async">
                        <td>
                            <div *ngFor="let users of resource?.resourceconsultuser; let i = index">
                                <span *ngIf="i < 3">{{users.name}} - {{users.consultreviewusertype}}</span>
                            </div>
                            <div *ngIf="(resource?.resourceconsultuser) && resource?.resourceconsultuser.length > 3">
                                <a><span (click)="showViewPopup(resource)">more...</span></a>
                            </div>
                        </td>
                        <td>{{resource?.date | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td>
                            <div [innerHTML]="resource?.notes"> </div>
                        </td>
                        <td class="row-action">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <a><i class="fa fa-eye" (click)="showViewPopup(resource)" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-pencil" (click)="showEditPopup(resource)" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-trash" (click)="showDeletePop(resource)" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngIf="resourceList?.resourceList?.length === 0">
                        <td colspan=5 style="text-align: center !important;">No Records Found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
            <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                (pageChanged)="pageChanged($event)" class="pagination-sm m-t-20" [boundaryLinks]="true" [maxSize]="10"
                [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
    </div>
</div>
<div class="modal fade" id="add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" [formGroup]="recsourceConsultForm">
            <div class="modal-header">
                <button type="button" class="close" id="cls-add-resource" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()">X</span>
                </button>
                <h4 class="modal-title">{{popUpText}} Resource Consult Review</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" [formGroup]="recsourceConsultUserForm">
                            <div class="col-sm-5" *ngIf="!isView">
                                <mat-form-field>
                                    <input type="text" formControlName="name" matInput placeholder="Name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5" *ngIf="!isView">
                                <mat-form-field>
                                    <mat-select formControlName="consultreviewusertype" placeholder="Select User Type"
                                        required>
                                        <mat-option *ngFor="let selectType of selectType$ | async" [value]="selectType">{{selectType.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2 text-right m-b-15 mt-15">
                                <button type="button" class="btn btn-pri" *ngIf="!isView" (click)="addrecsourceConsultUser()"
                                    [disabled]="recsourceConsultUserForm.pristine || recsourceConsultUserForm.invalid">Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Review Date"
                                        (click)="picker.open()" (focus)="picker.open()" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input matInput formControlName="time" placeholder="Time" type="time" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="height: auto;max-height: 250px; overflow: hidden;overflow-y:auto;" *ngIf="(recsourceConsultUser$ | async)?.length !== 0">
                        <div class="col-sm-4" *ngFor="let user of recsourceConsultUser$ | async; let i = index">
                            <mat-card class="relation-profile">
                                <mat-card-header>
                                    <mat-card-title>{{user.name}}</mat-card-title>
                                    <mat-card-subtitle>{{user.consultreviewusertype}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-actions *ngIf="!isView">
                                    <div class="text-right" *ngIf="user.onDelete">
                                        <button class="btn-pri" (click)="cancelDelete(i)">Cancel</button>
                                        <button class="btn-pri" (click)="deleteUser(user.intakeservicerequestconsultreviewconfigid,i)">Confirm</button>
                                    </div>
                                    <ul class="list-inline listunstyled text-right icon-list" *ngIf="!isView">
                                        <li (click)="deleteUsercheck(i)" *ngIf="!user.onDelete" matTooltip="Delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 m-t-10 m-b-10">
                    <h5>Meeting Notes <span class="mat-placeholder-required">*</span></h5>
                    <quill-editor formControlName="notes" format="html" [style]="{height: '200px'}"></quill-editor>
                </div>
                <div class="col-sm-12 text-right m-t-20" *ngIf="!isView">
                    <button class="btn btn-pri" (click)="saveResourceConsult(recsourceConsultForm.value)" 
                    [disabled]="recsourceConsultForm.pristine || recsourceConsultForm.invalid">{{btnName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-resource-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteResource()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>