<section id="applicant-section" class="profile-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="">
          <h4></h4>
          <p>Applicant Id:
            <span >{{applicantNumber}}</span>
          </p>
          <p>Applicant Name:
            <span>{{referralInfo.individual_applicant_first_nm}} {{referralInfo.individual_applicant_middle_nm}}
              {{referralInfo.individual_applicant_last_nm}}</span>
          </p>
          <p>Co-applicant Name:
            <span>{{referralInfo.co_applicant_first_nm}} {{referralInfo.co_applicant_middle_nm}}
              {{referralInfo.co_applicant_last_nm}}</span>
          </p>
        </div>
      </div>


      <div class="col-sm-2">
        <div class="">
          <h4></h4>
          <p>SSN:
            <span>{{referralInfo.individual_applicant_ssn}}</span>          
          </p>
          <p>Phone Number:
            <span>{{referralInfo.administrative_contact_work_phone}}</span>
          </p>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="">
          <h4></h4>
          <div class="row">
            <div class="col-sm-4">
              <p>Status:</p>
            </div>
            <div class="col-sm-12 m-b-10">
              <span class="status-open">{{referralInfo.application_status}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Phase:</p>
            </div>
            <div class="col-sm-12 m-b-20">
              <!-- <span class="status-open">{{referralInfo.phase}}</span> -->
              <span class="status-open">Application</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="">
          <h4></h4>
          <div class="row">
            <!-- <div class="col-sm-6"> Assigned to:</div>
                <div class="col-sm-6">    
                    <dd *ngFor="let item of assignedInSection" class="assigned">{{item.username}}</dd>
                </div> -->
            <div class="" *ngIf="inapplicationphase">

              <p *ngIf="!applicationdateavailable">Application Received Date:
                <!-- (Mark Application Received) // DB Colomns //Phase, application recived date (tb_public_provider_applicant)  -->
                <button type="submit" class="btn-pri btn-pri-header" data-target="#mark-application-received"
                  data-toggle="modal">MARK</button>
              </p>
              <p *ngIf="applicationdateavailable">Application Received Date:
                {{referralInfo.application_received_date | date: 'MM/dd/yyyy' }}
              </p>
              <p>Days Passed:
                <span>{{dayspassed}}</span>
              </p>
              <p>Days Remaining:
                <span *ngIf="dayspassed <= 120">{{120 - dayspassed}}</span>
                <span *ngIf="dayspassed > 120">0</span>
              </p>
              <!-- <p *ngIf="applicationdateavailable && !homestudydateavailable">
                Home Study Completion Date:
                <button type="submit" class="btn-pri btn-pri-header" data-target="#home-study-completion"
                  data-toggle="modal">MARK</button>
              </p>
              <p *ngIf="applicationdateavailable && homestudydateavailable">
                Home Study Completion Date:
                {{referralInfo.home_study_completion_date | date: 'MM/dd/yyyy' }}
              </p> -->
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <h4></h4>

        <div class="col-sm-12 clearfix" *ngIf="inapplicationphase">
          <div class="day-count-main">
            <p class="day-count">{{120 - dayspassed}} <span>days</span></p>
            <p class="go">TO GO</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>Group ID
          <span></span>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="box-grid clsMinHeight no-pad clearfix">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="tab-content">
          <div>
            <div class="tab-horizontal">
              <div class="nav-tabs person-cus-tab-section persontabs nav-pills" id="public-applicant-tabs">
                <!-- li list added via scripts @refreshScrollingTabs() -->
               
                <!-- <li [ngClass]="">
                  <a data-toggle="tab" data-target="#public-applicant-additional-info">Applicants Info</a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#public-applicant-home-info">Home Info</a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#new-public-applicant-household"> Household Members</a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#applicant-house-hold-check-list">Check List</a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#applicant-contact">Contact Notes</a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#applicant-survey">Applicant Survey</a>
                </li> -->
                <!-- <li [ngClass]="">
                  <a data-toggle="tab" data-target="#public-applicant-services"> Services </a>
                </li>
                <li [ngClass]="">
                    <a data-toggle="tab" data-target="#public-applicant-placement-structures"> Placement Structures </a>
                  </li> -->
                <!-- <li>
                  <a data-toggle="tab" data-target="#public-applicant-service-placement"> Services /Placement Structures
                  </a>
                </li> -->
                <!-- <li [ngClass]="">
                  <a data-toggle="tab" data-target="#public-applicant-characteristics"> Characteristics </a>
                </li> -->
                <!-- <li [ngClass]="">
                  <a data-toggle="tab" data-target="#public-applicant-narrative"> Narrative </a>
                </li>
                <li [ngClass]="">
                  <a data-toggle="tab" data-target="#new-public-applicant-attachment"> Documents </a>
                </li> -->

                <!-- <li [ngClass]="">
                                        <a data-toggle="tab" data-target="#public-applicant-decision"> Decision</a>
                                    </li> -->
                <!-- <li [ngClass]="">
                  <a data-toggle="tab" data-target="#home-approval-info"> Home Approval Info </a>
                </li> -->

               <!--  <li>
                  <a data-toggle="tab" *ngIf="inapplicationphase" data-target="#home-study-visit">Home Study Visit</a>
                </li>
                <li>
                  <a data-toggle="tab" *ngIf="inapplicationphase" data-target="#reference-check">Reference Checks</a>
                </li>
                <li>
                  <a data-toggle="tab" *ngIf="inapplicationphase" data-target="#home-placement-specification">Placement
                    Specifications</a>
                </li>
                <li>
                  <a data-toggle="tab" data-target="#pet-info">Pet Info</a>
                </li>
                <li>
                  <a data-toggle="tab" *ngIf="inapplicationphase" data-target="#pre-service-training">
                    <ng-container *ngIf="isPrideCompleted"><i class="fa fa-check-circle complete"></i>
                    </ng-container>Pre-Service Training
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" data-target="#public-applicant-decision-new">Review</a>
                </li> -->
              </div>
              <div class="tab-content">
                <router-outlet></router-outlet>
                
              </div>
             <!--  <div class="tab-content">
                <div class="tab-pane active" id="public-applicant-basic-info">
                  <public-applicant-basic-info [isReadOnly]="isReadOnly"></public-applicant-basic-info>
                </div>
                <div class="tab-pane" id="public-applicant-additional-info">
                  <public-applicant-additional-info [isReadOnly]="isReadOnly"></public-applicant-additional-info>
                </div>
                <div class="tab-pane" id="applicant-contact">
                  <public-applicant-contact [isReadOnly]="isReadOnly"></public-applicant-contact>
                </div>
                <div class="tab-pane" id="public-applicant-home-info">
                  <public-applicant-home-info></public-applicant-home-info>
                </div>

                <div class="tab-pane" id="new-public-applicant-household">
                  <public-applicant-household [isReadOnly]="isReadOnly"></public-applicant-household>
                </div>
                <div class="tab-pane" id="public-applicant-characteristics">
                  <public-applicant-characteristics [isReadOnly]="isReadOnly"></public-applicant-characteristics>
                </div>
              
                <div class="tab-pane" id="new-public-applicant-attachment">
                  <add-document></add-document>
                </div>
                <div class="tab-pane" id="public-applicant-narrative">
                  <public-applicant-narrative></public-applicant-narrative>
                </div>
              
                <div class="tab-pane" id="public-applicant-decision-new">
                  <public-applicant-decision-new [inapplicationphase]="inapplicationphase">
                  </public-applicant-decision-new>
                </div>
               
                <div class="tab-pane" id="applicant-house-hold-check-list">
                  <public-applicant-check-list></public-applicant-check-list>
                </div>
                <div class="tab-pane" id="home-placement-specification" *ngIf="inapplicationphase">
                  <home-placement-specification></home-placement-specification>
                </div>
                <div class="tab-pane" id="pre-service-training" *ngIf="inapplicationphase">
                  <public-applicant-pre-service-training></public-applicant-pre-service-training>
                </div>
                <div class="tab-pane" id="home-study-visit" *ngIf="inapplicationphase">
                  <public-applicant-home-study-visit></public-applicant-home-study-visit>
                </div>
                
                <div class="tab-pane" id="pet-info">
                  <public-applicant-pet-info></public-applicant-pet-info>
                </div>
                <div class="tab-pane" id="reference-check" *ngIf="inapplicationphase">
                  <public-applicant-reference-check></public-applicant-reference-check>
                </div>
                <div class="tab-pane" id="applicant-survey" *ngIf="inapplicationphase">
                  <applicant-survey></applicant-survey>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="home-study-completion" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25 col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" required placeholder="Home Study Completion Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [startAt]="startDate" (selectedChanged)="homeStudyDateChanged($event)">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="homeStudyCompletionSave()">Mark Home Study Completed</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="days-remaining" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body dashboard-cont" *ngIf="dayspassed <= 120">
        You have {{120 - dayspassed}} days remaining to complete the Home Study
      </div>
      <div class="modal-body dashboard-cont" *ngIf="dayspassed > 120">
        You have crossed 120 days deadline to complete the Home Study
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="closehomestudyalert()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mark-application-received" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25 col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" required placeholder="Application Received Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 [startAt]="startDate" (selectedChanged)="dateChanged($event)"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="markApplicationReceived()">Mark Application Received</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">PDF preview</h4>
      </div>
      <div class="modal-body">
        <public-applicant-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)'
          [profileOutputSubject$]="profileOutputSubject$"></public-applicant-document-creator>
      </div>
    </div>
  </div>
</div>