<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <form [formGroup]="monitorForm">
                <!-- <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Periodic" (change)="onChange()" formControlName="periodic">
                            <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Month" formControlName="monthly" [disabled]="isMonthDisabled">
                            <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="Select Year" formControlName="yearly" [disabled]="isYearDisabled">
                            <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="text-right m-t-20">
                        <button type="submit" class="btn-pri" (click)="viewActivity()" data-toggle="modal"
                            data-target="#visitation">Add Monitoring</button>
                    </div>
                </div>
            </form>
            
                <div class="col-md-12 m-t-20">
                    <div class="table-responsive table-theme">
                        <table class="table table-striped icon-action no-mar">
                            <thead>
                            <tr>
                                <th>Visit Id</th>
                                <th>Visit Date</th>
                                <th>Time of Visit</th>
                                <th>Periodic</th>
                                <th>Announcement</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let obj of visitationList">
                                    <td><a (click)="navigatetomonitor(obj)">{{obj.monitoring_id}}</a></td>
                                    <td>{{obj.monitoring_dt | date: 'mm/dd/yyyy'}}</td>
                                    <td>{{obj.time_visit }}</td>
                                    <td>{{obj.periodic}}</td>
                                    <td>{{obj.announced_cd}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
           

            <div class="col-sm-12 m-t-20">
                <mat-accordion multi="false" class="acc-content">
                    <mat-expansion-panel *ngFor="let panel of config.panels; let iVal=index">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ panel.name }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ panel.description }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="contentAccordion" [formGroup]="activityTaskStatusFormGroup">
                            <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                                <div class="table-responsive dd-overflow-inherit" style="overflow: hidden;">
                                    <table class="table table-bordered" style="width: 99.86%;"
                                        formArrayName="{{'task'+iVal}}">
                                        <thead>
                                            <tr>
                                                <th>Task</th>
                                                <th style="width:54%">Comments</th>
                                                <th>Review Date</th>
                                                <th style="width:120px">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task'+iVal]['controls'] let i=index"
                                            [formGroupName]="i">
                                            <tr class="dd-overflow-inherit">
                                                <td style="text-align: start;width: 350px;">
                                                    {{currentTask['controls'].checklist_task.value}}</td>
                                                <td style="padding-bottom: 0;">
                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                        <div class="fm-box-form no-pad dpnew">
                                                            <mat-form-field>
                                                                <input formControlName="commnts" type="text" matInput
                                                                    required>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-bottom: 0;">
                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                        <div class="fm-box-form no-pad dpnew">
                                                            <mat-form-field>
                                                                <input formControlName="completeddate" matInput
                                                                    (click)="picker.open()" [matDatepicker]="picker"
                                                                    [max]="maxDate">
                                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-bottom: 0;">
                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                        <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                            <mat-form-field>
                                                                <mat-select formControlName="status">
                                                                    <mat-option *ngFor="let status of tasktypestatus"
                                                                        [value]="status">
                                                                        {{status}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mrg-top15">
                            <div class="btn-group btn-group-re pull-right">
                                <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false"
    id="visitation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="onClose()">×</button>
                <h4 class="modal-title">Check List</h4>
            </div>
            <!-- [formGroup]="formGroup" -->
            <div class="modal-body modal-body-maxh">
                <form [formGroup]="visitationForm">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Select Periodic" formControlName="periodic">
                                    <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input required matInput [matDatepicker]="pickermm1" placeholder="Visitation Date"
                                    class="aut-dtp-courtorderDate" (click)="pickermm1.open()"
                                    formControlName="monitoring_dt" />
                                <mat-datepicker-toggle matSuffix [for]="pickermm1"></mat-datepicker-toggle>
                                <mat-datepicker #pickermm1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Time Of Visit" formControlName="time_visit">
                                    <mat-option *ngFor="let item of timeOfVisit" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Announced/Unannounced" formControlName="announced_cd">
                                    <mat-option *ngFor="let item of visitSchedule" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                <button type="button" value="Save" class="btn-pri" name="" (click)="addVisitation()">Save</button>
            </div>
        </div>
    </div>
</div>