<!--cw-->
<ng-container [fieldKey]="'myintake-attachement'">
    <div *ngIf="!config.isGenerateUploadTabNeeded" class="remove-margin">
        <div class="tab-pane" id="upload-generate" *ngIf="!config.isGenerateUploadTabNeeded">
            <div class="container-fluid">
                <div class="upload-generate-cont no-pad">
                    <div class="tab-horizontal">
                        <ul class="nav nav-pills inner-nav">
                            <li class="innner-menu active">
                                <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                                </a>
                            </li>
                            <li class="innner-menu">
                                <a href="#generate-case-doc" class="tab-menu" data-toggle="tab"
                                    (click)="loadCWGeneratedDocumentList()">Generate</a>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid">
                            <div class="tab-pane inner-margin active" id="upload-case-doc">
                                <div class="cnt-min-height attachment-tab">
                                    <div class="row ">
                                        <div class="col-sm-5">
                                            <h4 class="mt-0">Documents</h4>
                                            <p class="m-t-10 mb-0">Add necessary documents relevant to this case.</p>
                                        </div>
                                        <div class="col-sm-7 text-right icon">
                                            <!-- <button class="btn-pri"  [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                                <i class="fa fa-qrcode" aria-hidden="true"></i> SCAN</button> -->
                                            <button class="btn-pri" data-target="#upload-scanner-attachment"
                                                data-toggle="modal"
                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed') || isClosed">
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> SCAN</button>
                                            <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal"
                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed') || isClosed">
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                        </div>
                                        <div class="col-sm-7 text-right icon">
                                            <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/attachment-upload/' + intakeNumber]">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                            <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/attachment-upload/' + intakeNumber]">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button> -->

                                            <!-- <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button> -->

                                            <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/image-record/' + intakeNumber]"
                                        [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                        <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                    <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/image-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                        <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>

                                    <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/video-record/' + intakeNumber]"
                                        [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                    <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/video-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>

                                    <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/audio-record/' + intakeNumber]"
                                        [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                        <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                                    <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/audio-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                        <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button> -->
                                        </div>
                                    </div>
                                    <attachment-upload [intakeNumber]="intakeNumber" (attachment)="attachment('All')">
                                    </attachment-upload>
                                    <div class="row" *ngIf="(filteredAttachmentGrid.length !== 0) || (contactrecording.length !== 0)">
                                        <div class="col-sm-12">
                                            <h5 class="theme m-t-15">ADDED ATTACHMENTS</h5>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 col-lg-3"
                                                    *ngFor="let source of filteredAttachmentGrid">
                                                    <div class="panel panel-default attachment-panel">
                                                        <div class="panel-heading">
                                                            <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                            <div class="media">
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                    <i class="fa fa-file-image-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                    <i class="fa fa-file-audio-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                    <i class="fa fa-video-camera"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                    <i class="fa fa-file-pdf-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                    <i class="fa fa-file-text"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                    <i class="fa fa-paperclip"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                    <h4 class="media-heading"
                                                                        *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                                                    ? (source?.originalfilename | slice:0:25) + '...' :
                                                                    (source?.originalfilename)}}</h4>
                                                                    <h4 class="media-heading"
                                                                        *ngIf="!source?.originalfilename">N/A</h4>
                                                                    <p>{{source.numberofbytes}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <dl>
                                                                <dt>TITLE</dt>
                                                                <dd class="single-wrap">{{source?.title}}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>TYPE</dt>
                                                                <dd>{{source?.documentattachment?.attachmenttypekey}}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>CATEGORY</dt>
                                                                <dd>{{source?.documentattachment?.attachmentclassificationtypekey
                                                                ?
                                                                source?.documentattachment?.attachmentclassificationtypekey
                                                                : 'N/A'}}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Uploaded By</dt>
                                                                <dd>{{source.userprofile.displayname }}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>UPLOADED DATE</dt>
                                                                <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>DESCRIPTION</dt>
                                                                <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67)
                                                                ?
                                                                (source?.description
                                                                | slice:0:67)+ '...' : (source?.description)}}</dd>
                                                                <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                            </dl>
                                                        </div>
                                                        <div class="panel-footer icon-btn">
                                                            <h5>
                                                                <a (click)="downloadFile(source.s3bucketpathname)">
                                                                    VIEW/DOWNLOAD
                                                                </a>
                                                            </h5>

                                                            <button data-toggle="modal"
                                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed') || isClosed"
                                                                (click)="editAttachment(source)">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </button>


                                                            <button data-toggle="modal"
                                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed') || isClosed"
                                                                (click)="confirmDelete(source)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container *ngFor="let contact of contactrecording">
                                                    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let source of contact?.uploadedfile?.data">
                                                        <div class="panel panel-default attachment-panel">
                                                            <div class="panel-heading">
                                                                <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                                <div class="media">
                                                                    <div class="media-left"
                                                                        *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                        <i class="fa fa-file-image-o"></i>
                                                                    </div>
                                                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                        <i class="fa fa-file-audio-o"></i>
                                                                    </div>
                                                                    <div class="media-left"
                                                                        *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                        <i class="fa fa-video-camera"></i>
                                                                    </div>
                                                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                        <i class="fa fa-file-pdf-o"></i>
                                                                    </div>
                                                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                        <i class="fa fa-file-text"></i>
                                                                    </div>
                                                                    <div class="media-left"
                                                                        *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                        <i class="fa fa-paperclip"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                        <h4 class="media-heading">{{(source?.originalfilename.length>20)
                                                                                                                    ? (source?.originalfilename | slice:0:20) + '...' :
                                                                                                                    (source?.originalfilename)}}</h4>
                                                                        <p>{{this.humanizeBytes(source.numberofbytes)}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel-body">
                                                                <dl>
                                                                    <dt>TITLE</dt>
                                                                    <dd class="single-wrap">{{source?.title}}</dd>
                                                                </dl>
                                                                <dl>
                                                                    <dt>ATTACHMENT TYPE</dt>
                                                                    <dd>Contacts</dd>
                                                                </dl>
                                                                <dl>
                                                                    <dt>CONTACT PURPOSE</dt>
                                                                    <dd>{{contact?.progressnotereasontypedescription}}</dd>
                                                                </dl>
                                                                <dl>
                                                                    <dt>CONTACT TYPE</dt>
                                                                    <dd>{{contact?.recordingtype}}</dd>
                                                                </dl>
                                                                <dl>
                                                                    <dt>Uploaded By</dt>
                                                                    <dd>{{contact.author }}
                                                                    </dd>
                                                                </dl>
                                                                <dl>
                                                                    <dt>UPLOADED DATE</dt>
                                                                    <dd>{{contact?.recordingdate | date:'MM/dd/yyyy H:mm:ss' }}
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                            <div class="panel-footer icon-btn">
                                                                <h5>
                                                                    <a (click)="downloadFile(source.s3bucketpathname)">
                                                                        VIEW/DOWNLOAD
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="(filteredAttachmentGrid.length === 0) && (contactrecording.length === 0)">
                                            <div class="col-md-12">
                                                <div class="no-attach text-center">
                                                    <h6>No Files Attached</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                            <div class="tab-pane inner-margin" id="generate-case-doc">
                                <div class="cnt-min-height">
                                    <div class="row m-t-20">
                                        <!-- <div class="col-sm-6">
                                        <div class="document-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="searchText"
                                                    placeholder="Search Documents">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-pri btn-pri-s" type="button">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div> -->
                                        <!-- <div class="col-sm-6">
                                        <button class="btn btn-pri pull-right" *ngIf="isFileSelected()" (click)="generateSelectedDocuments()">Generate</button>
                                        <button data-toggle="modal" data-target="#docu-View" class="btn btn-pri pull-right"
                                            *ngIf="isFileSelected()" (click)="downloadSelectedDocuments()">View/Download
                                        </button>
                                    </div> -->
                                    </div>
                                    <div class="row m-t-20 created-tab">
                                        <div class="col-sm-12">
                                            <div class="table-responsive table-theme">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th></th> -->
                                                            <th>name</th>
                                                            <th>generated by</th>
                                                            <th>generated date</th>
                                                            <th>actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <ng-container
                                                        *ngFor="let document of generatedDocuments | filter : searchText : 'documentname'"> -->
                                                        <!-- removed filter to display attachments in supervisor section -->
                                                        <ng-container *ngFor="let document of generatedDocuments">
                                                            <tr>
                                                                <td>{{document.title}}</td>
                                                                <td>{{document.generatedBy}}</td>
                                                                <td>{{document.generatedDateTime | date :
                                                                'MM/dd/yyyy hh:mm:ss a'}}</td>
                                                                <td>
                                                                    <ul class="list-unstyled list-inline action-icons"
                                                                        *ngIf='!document.isInProgress'>
                                                                        <li *ngIf='document.isGenerated'><a
                                                                                data-toggle="modal"
                                                                                data-target="#docu-View"
                                                                                (click)="downloadDocument(document)"><i
                                                                                    class="fa fa-download"
                                                                                    aria-hidden="true"></i>View/Download</a>
                                                                        </li>
                                                                        <li><a><i class="fa fa-envelope-o"
                                                                                    aria-hidden="true"
                                                                                    (click)="sendMail()"></i>Email</a>
                                                                        </li>
                                                                        <li><a (click)="generateNewDocument(document)"><i
                                                                                    class="fa fa-gears"></i>Generate</a>
                                                                        </li>
                                                                        <!-- <li><img src="assets/images/loader.gif"></li> -->
                                                                        <!--<li class="pull-right"><a><i aria-hidden="true" class="fa fa-chevron-down"></i></a></li>-->
                                                                    </ul>
                                                                    <ul class="list-unstyled list-inline action-icons"
                                                                        *ngIf='document.isInProgress'>
                                                                        <li><img src="assets/images/loader.gif"></li>

                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--djs-->
    <div *ngIf="config.isGenerateUploadTabNeeded" class="remove-margin">
        <div class="tab-pane " id="upload-generate" *ngIf="config.isGenerateUploadTabNeeded">
            <div class="container-fluid">
                <div class="upload-generate-cont no-pad">
                    <div class="tab-horizontal">
                        <ul class="nav nav-pills inner-nav">
                            <li class="innner-menu active">
                                <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                                </a>
                            </li>
                            <li class="innner-menu">
                                <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Generate</a>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid">
                            <div class="tab-pane inner-margin active" id="upload-case-doc">
                                <div class="cnt-min-height attachment-tab">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <h4>Documents</h4>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="m-t-20">Add necessary documents relevant to this case.</p>
                                        </div>
                                        <div class="col-sm-7 text-right icon">
                                            <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/attachment-upload/' + intakeNumber]">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                  <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/attachment-upload/' + intakeNumber]">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button> -->
                                            <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal"
                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>

                                            <!-- <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/image-record/' + intakeNumber]"
                                            [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                            <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                        <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/image-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                            <i class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>

                                        <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/video-record/' + intakeNumber]"
                                            [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                        <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/video-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>

                                        <button *ngIf="id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/' + id  + '/audio-record/' + intakeNumber]"
                                            [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                            <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                                        <button *ngIf="!id" class="btn-pri" [routerLink]="['/pages/newintake/my-newintake/audio-record/' + intakeNumber]" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Accepted' || reviewstatus === 'Reopen' || reviewstatus === 'Closed')">
                                            <i class="fa fa-microphone" aria-hidden="true"></i> RECORD</button> -->
                                        </div>
                                    </div>
                                    <attachment-upload [intakeNumber]="intakeNumber" (attachment)="attachment('All')">
                                    </attachment-upload>
                                    <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
                                        <div class="col-sm-12">
                                            <h5 class="theme m-t-15">ADDED ATTACHMENTS</h5>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 col-lg-3"
                                                    *ngFor="let source of filteredAttachmentGrid">
                                                    <div class="panel panel-default attachment-panel">
                                                        <div class="panel-heading">
                                                            <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                            <div class="media">
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                    <i class="fa fa-file-image-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                    <i class="fa fa-file-audio-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                    <i class="fa fa-video-camera"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                    <i class="fa fa-file-pdf-o"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                    <i class="fa fa-file-text"></i>
                                                                </div>
                                                                <div class="media-left"
                                                                    *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                    <i class="fa fa-paperclip"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                    <h4 class="media-heading"
                                                                        *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                                                    ? (source?.originalfilename | slice:0:25) + '...' :
                                                                    (source?.originalfilename)}}</h4>
                                                                    <h4 class="media-heading"
                                                                        *ngIf="!source?.originalfilename">N/A</h4>
                                                                    <p>{{source.numberofbytes}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <dl>
                                                                <dt>TITLE</dt>
                                                                <dd class="single-wrap">{{source?.title}}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>ATTACHMENT TYPE</dt>
                                                                <dd>{{source?.documentattachment?.attachmenttypekey}}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>CATEGORY</dt>
                                                                <dd>{{source?.documentattachment?.attachmentclassificationtypekey
                                                                ?
                                                                source?.documentattachment?.attachmentclassificationtypekey
                                                                : 'N/A'}}</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Uploaded By</dt>
                                                                <dd>{{source.userprofile.displayname }}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>UPLOADED DATE</dt>
                                                                <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }}
                                                                </dd>
                                                            </dl>
                                                            <dl class="word-align">
                                                                <dt>DESCRIPTION</dt>
                                                                <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67)
                                                                ? (source?.description
                                                                | slice:0:67)+ '...' : (source?.description)}}</dd>
                                                                <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                            </dl>
                                                        </div>
                                                        <div class="panel-footer icon-btn">
                                                            <h5>
                                                                <a (click)="downloadFile(source.s3bucketpathname)">
                                                                    VIEW/DOWNLOAD
                                                                </a>
                                                            </h5>

                                                            <button data-toggle="modal"
                                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                                (click)="editAttachment(source)">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </button>


                                                            <button data-toggle="modal"
                                                                [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                                (click)="confirmDelete(source)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="filteredAttachmentGrid.length === 0">
                                            <div class="col-md-12">
                                                <div class="no-attach text-center">
                                                    <h6>No Files Attached</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <router-outlet></router-outlet>
                                </div>
                            </div>

                            <div class="tab-pane inner-margin" id="generate-case-doc">
                                <div class="cnt-min-height">
                                    <div class="row m-t-20">
                                        <div class="col-sm-6">
                                            <div class="document-search">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" [(ngModel)]="searchText"
                                                        placeholder="Search Documents">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-pri btn-pri-s"
                                                            type="button">Search</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-pri pull-right" *ngIf="isFileSelected()"
                                                (click)="generateSelectedDocuments()">Generate</button>
                                            <button data-toggle="modal" data-target="#docu-View"
                                                class="btn btn-pri pull-right" *ngIf="isFileSelected()"
                                                (click)="downloadSelectedDocuments()">View/Download
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row m-t-20 created-tab">

                                        <div class="col-sm-12">
                                            <div class="table-responsive table-theme">

                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>name</th>
                                                            <th>generated by</th>
                                                            <th>generated date</th>
                                                            <th>actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let document of generatedDocuments | filter : searchText : 'title'">
                                                            <td colspan="5">
                                                                <table class="table custom-innertable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <mat-checkbox
                                                                                    [(ngModel)]="document.isSelected">
                                                                                </mat-checkbox>
                                                                            </th>
                                                                            <th>{{document.title}}
                                                                                <span *ngIf="document.isRequired"
                                                                                    style="color:red">
                                                                                    * </span>
                                                                            </th>
                                                                            <th>{{document.generatedBy}}</th>
                                                                            <th>{{document.generatedDateTime | date :
                                                                            'MM/dd/yyyy hh:mm:ss a'}}</th>
                                                                            <th>
                                                                                <ul class="list-unstyled list-inline action-icons"
                                                                                    *ngIf='!document.isInProgress'>
                                                                                    <li
                                                                                        *ngIf='document.isGenerated && document.fromAPI'>
                                                                                        <a download
                                                                                            [href]="document.documentpath"><i
                                                                                                class="fa fa-download"
                                                                                                aria-hidden="true"></i>Download</a>
                                                                                    </li>
                                                                                    <li
                                                                                        *ngIf='document.isGenerated && !document.fromAPI'>
                                                                                        <a data-toggle="modal"
                                                                                            data-target="#docu-View"
                                                                                            (click)="downloadDocument(document)"><i
                                                                                                class="fa fa-download"
                                                                                                aria-hidden="true"></i>View/Download</a>
                                                                                    </li>
                                                                                    <li *ngIf='document.isGenerated'>
                                                                                        <a><i class="fa fa-envelope-o"
                                                                                                aria-hidden="true"></i>Email</a>
                                                                                    </li>
                                                                                    <li><a
                                                                                            (click)="generateNewDocument(document)"><i
                                                                                                class="fa fa-gears"></i>Generate</a>
                                                                                    </li>
                                                                                    <!-- <li><img src="assets/images/loader.gif"></li> -->
                                                                                    <!--<li class="pull-right"><a><i aria-hidden="true" class="fa fa-chevron-down"></i></a></li>-->
                                                                                </ul>
                                                                                <ul class="list-unstyled list-inline action-icons"
                                                                                    *ngIf='document.isInProgress'>
                                                                                    <li><img
                                                                                            src="assets/images/loader.gif">
                                                                                    </li>

                                                                                </ul>

                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <!-- <tr>
                                                                        <td></td>
                                                                        <td>qwertyuiop</td>
                                                                        <td>Charles</td>
                                                                        <td class="dateTime">
                                                                          <span class="date">08/09/2018</span>
                                                                          <span class="time">11:30 AM</span>
                                                                      </td>
                                                                      <td>
                                                                          <ul class="list-unstyled list-inline action-icons">
                                                                              <li><a><i class="fa fa-download" aria-hidden="true"></i>Download</a></li>
                                                                              <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a></li>
                                                                          </ul>
                                                                      </td>
                                                                    </tr> -->
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr *ngFor="let document of generatedDocuments">
                                                    <td><mat-checkbox  [(ngModel)]="document.isSelected"></mat-checkbox></td>
                                                    <td>{{document.title}}</td>
                                                    <td>{{document.generatedBy}}</td>
                                                    <td>{{document.generatedDateTime}}</td>
                                                    <td>
                                                        <ul class="list-unstyled list-inline action-icons">
                                                            <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-download" aria-hidden="true" ></i>Download</a></li>
                                                            <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-file-pdf-o" aria-hidden="true" ></i>View</a></li>
                                                        </ul>
                                                    </td>
                                                </tr> -->

                                                    </tbody>
                                                </table>
                                                <!-- <p class="no-datatxt"> No Items! </p> -->
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-pri pull-right m-t-30" data-toggle="modal" data-target="#complete-modal" *ngIf="isCompleteVisible()">Complete</button>
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <edit-attachment></edit-attachment>
    <div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-w450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Confirm Delete?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row text-center">
                                <figure>
                                    <!-- <img src="assets/img/form-letter/delete.png" alt=""> -->
                                    <p>Are you sure you want to delete this attachment?</p>
                                </figure>
                                <div class="col-md-12 text-center">
                                    <div class="btn-group btn-group-re">
                                        <button type="button" class="btn-pri" (click)="deleteAttachment()">Yes</button>
                                        <button type="button" class="btn-bg" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="document-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">PDF preview</h4>
                </div>
                <div class="modal-body">
                    <pdf-viewer [src]="generatedCWDocUrl" [original-size]="true" [fit-to-page]="false"
                        [render-text]="true" style="display: block;"></pdf-viewer>
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" class="btn-pri">
                            <a [href]="generatedCWDocUrl"></a>
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="generate-details" role="dialog">
        <div class="modal-dialog modal-md custom-wid">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Generate Document </h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="generateDocForm">
                        <div class="row m-t-20">
                            <div class="col-sm-6" *ngIf="isGenerateByComplaint">
                                <mat-form-field>
                                    <mat-select required placeholder="Complaint" formControlName="complaint"
                                        (change)="loadVictims();">
                                        <mat-option *ngFor="let item of complaints"
                                            value="{{item.intakeservicerequestevaluationid}}">
                                            {{item.complaintid}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6" *ngIf="isGenerateByVictim">
                                <mat-form-field>
                                    <mat-select required placeholder="Victim" formControlName="victim">
                                        <mat-option *ngFor="let item of victims" value="{{item.personid}}">
                                            {{item.firstname}}&nbsp;{{item.lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6" *ngIf="isGenerateByPetition">
                                <mat-form-field>
                                    <mat-select required placeholder="Petition" formControlName="petition">
                                        <mat-option *ngFor="let item of petitions"
                                            value="{{item.intakeservicerequestpetitionid}}">{{item.petitionid}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" class="btn-pri" *ngIf="!selectedDocument?.beforesubmit"
                            [disabled]="generateDocForm.invalid" (click)="generateDocumnet(selectedDocument)">
                            Generate
                        </button>
                        <button type="button" class="btn-pri" *ngIf="selectedDocument?.beforesubmit"
                            [disabled]="generateDocForm.invalid" (click)="generateJSONForDocumnet(selectedDocument)">
                            Generate
                        </button>
                        <button type="button" class="btn-pri" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>