<div class="tab-content">
    <div class="table-theme table-responsive m-t-30">
       <table class="table table-striped">
          <thead>
             <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Staff Assaulted</th>
                <th>Injury Sustained</th>
                <th>Injury Severity Level</th>
                <th>Primary Staff Member</th>
                <th>Add Details</th>
             </tr>
          </thead>
          <tbody>
             <tr *ngFor="let person of assignedStaff">
                <td>{{person.employee_first_nm}}</td>
                <td>{{person.employee_last_nm}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="submit" class="btn-pri" data-target="#staff-details" data-toggle="modal">Add</button></td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>
 <div class="modal fade in" id="staff-details" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
       <div class="modal-content ">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
             <span aria-hidden="true">X</span>
             </button>
             <h4 class="modal-title">Staff Details</h4>
          </div>
          <div  [formGroup]="staffForm">
               <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="row m-t-20">
                      <div class="col-md-12"><label>Is the person primary staff member?</label></div>
                      <div class="col-md-12 radiobtn-pr">
                          <mat-radio-group class="radio-dsinline" formControlName='is_primary_staff'>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                          </mat-radio-group>
                      </div>
                    </div>
                   <div class="row m-t-20">
                      <div class="col-md-12"><label>Staff Assaulted?</label></div>
                      <div class="col-md-12 radiobtn-pr">
                         <mat-radio-group class="radio-dsinline" formControlName='is_staff_assaulted'>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                         </mat-radio-group>
                      </div>
                   </div>
                   <div class="row m-t-20">
                      <div class="col-md-12"><label>Injury Sustained?</label></div>
                      <div class="col-md-12 radiobtn-pr">
                         <mat-radio-group class="radio-dsinline" formControlName='is_injury_sustained'>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                         </mat-radio-group>
                      </div>
                   </div>
                   <div class="row m-t-20">
                      <div class="col-md-12"><label>Injury severity level</label></div>
                      <div class="col-md-12 radiobtn-pr">
                         <mat-radio-group class="radio-dsinline" formControlName='injury_severity_level'>
                            <mat-radio-button value="1">Level 1</mat-radio-button>
                            <mat-radio-button value="2">Level 2</mat-radio-button>
                            <mat-radio-button value="3">Level 3</mat-radio-button>
                         </mat-radio-group>
                      </div>
                   </div>                   
                   <div class="row">
                      <div class="col-md-12">
                         <button type="submit" class="btn-pri pull-right m-l-20">Save</button>
                         <hr>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>