.tab-content {
    padding: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 300px;
    background: #fff;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.narr-help {
    display: inline-block;
    font-size: 24px;
    color: #00A2FD;
    line-height: 14px;
}