<div class="tab-content" [formGroup]="gangForm">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <mat-form-field class='m-t-20 m-b-20'>
            <textarea matInput formControlName='gang_related_explain' placeholder="Gang Related - Explain:"></textarea>
          </mat-form-field>
          <mat-radio-group formControlName='gang_incident_videotapped' placeholder="Was the incident videotaped?" required>
            <mat-radio-button value=0>Yes</mat-radio-button>
            <mat-radio-button value=1>No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class='m-t-20'>
            <textarea matInput formControlName='gang_support_evidence' placeholder="Supporting Evidence"></textarea>
          </mat-form-field>
        </div>
      </div>
        <div class="col-md-12 m-t-10">
          <div class="pull-right">
            <button class="btn-pri" (click)="patchGang('save')" [disabled]="!gangForm.valid || isDisabled">Save</button>
          </div>
        </div>
    </div>
  </div>
