.tab-content {
    padding: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 300px;
    background: #fff;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.narr-help {
    display: inline-block;
    font-size: 24px;
    color: #00A2FD;
    line-height: 14px;
}
.h5-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
    display: inline-block;
}
.search-container {
    width: 600px;
}
.search-container .search-box {
    width: 35%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.right-addon i {
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}
.search-box input {
    border: none;
    width: 86%;
    outline: none;
}
.search-container2 {
    width: 380px;
}

.search-container2 .search-box {
    width: 55%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.search-container3 {
    width: 447px;
}

.search-container3 .search-box {
    width: 46%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.search-container .search-box {
    width: 35%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}
.icon i {
    color: #00A2FD;
    padding-right: 10px;
    cursor: pointer;
    font-size: 13px;
}

.icon i:last-child {
    padding: 0px;
    font-size: 16px;
}
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}
.content-container {
    overflow: hidden;
    padding: 15px 24px 24px 24px;
}