<div class="tab-horizontal mr-15 mrg-btm25 custom-textarea">
    <div class="col-sm-12">
        <div class="row" *ngIf="isGuardianshipReview">
            <button class="btn-pri pull-right text-uppercase add-btn" (click)="redirectToDash();"> Back to Dashboard</button>
        </div>
    </div>
  <ul class="nav nav-pills">
      <li routerLink='as-notes' routerLinkActive="active">
          <a class="aut-tab-contactNotes">Notes
          </a>
      </li>
      <li routerLink='as-guardianship-review' routerLinkActive="active" *ngIf="isGuardianshipReview">
        <a class="aut-tab-contactNotes">Guardianship Review
        </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>