<div class="tab-content" [formGroup]="narrativeForm">
    <div class="row">
  <div class="col-md-12">
    <h4>Section 4: Narrative of Incident</h4>
    <hr>
    <p>Answer the questions below to provide a detailed account of the incident being reported.  Use additional paper if necessary.</p>
    <div class="row">
      <div class="col-md-6">
          <mat-form-field>
              <textarea matInput formControlName='narrative_before_incident' placeholder="What happened just before the incident?"></textarea>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput formControlName='narrative_during_incident' placeholder="What happened during the incident? (Note length of restraint if applicable)"></textarea>
          </mat-form-field>
      </div>
      <div class="col-md-6">
          <mat-form-field>
              <textarea matInput formControlName='narrative_incident_occur' placeholder="Who was there when the incident occurred? Number of youth present?"></textarea>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput formControlName='narrative_after_incident' placeholder="What occurred after the incident?"></textarea>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 m-t-10">
           <div class="pull-right">
                <button class="btn-pri" (click)="patchNarrative('save')" [disabled]="isDisabled">Save</button>                            
           </div>
        </div>
     </div>
  </div>
</div>
</div>