<div *ngIf="!config.isGenerateUploadTabNeeded">
    <div class="cnt-min-height attachment-tab container-fluid">
        <div class="row ">
            <div class="col-sm-12">
                <h4>Documents</h4>
            </div>
            <div class="col-sm-5">
                <p class="m-t-20">Add necessary documents relevant to this case.</p>
            </div>
            <div class="col-sm-7 text-right icon">

                <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
            </div>
        </div>
        <!-- <attachment-upload [applicantNumber]="applicantNumber" (attachment)="attachment('All')"></attachment-upload> -->
        
        <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
            <div class="col-sm-12">
                <h5 class="theme m-t-15">ADDED DOCUMENTS</h5>
            </div>
            <div class="col-md-12">
                <div class="att-wrap">
                    <div class="col-sm-3" *ngFor="let source of filteredAttachmentGrid">
                        <div class="panel panel-default attachment-panel">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                        <i class="fa fa-file-image-o"></i>
                                    </div>
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                        <i class="fa fa-file-audio-o"></i>
                                    </div>
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                        <i class="fa fa-video-camera"></i>
                                    </div>
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                        <i class="fa fa-file-text"></i>
                                    </div>
                                    <div class="media-left" *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                        <i class="fa fa-paperclip"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                            ? (source?.originalfilename | slice:0:25) + '...' :
                                            (source?.originalfilename)}}</h4>
                                        <h4 class="media-heading" *ngIf="!source?.originalfilename">N/A</h4>
                                        <p>{{source.numberofbytes}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>TITLE</dt>
                                    <dd class="single-wrap">{{source?.title}}</dd>
                                </dl>
                                <dl>
                                    <dt>ATTACHMENT TYPE</dt>
                                    <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                </dl>
                                <dl>
                                    <dt>CATEGORY</dt>
                                    <dd>{{source?.documentattachment?.attachmentclassificationtypekey ?
                                        source?.documentattachment?.attachmentclassificationtypekey
                                        : 'N/A'}}</dd>
                                </dl>
                                <dl>
                                    <dt>Uploaded By</dt>
                                    <dd>{{source.userprofile.displayname }}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>UPLOADED DATE</dt>
                                    <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }} </dd>
                                </dl>
                                <dl class="word-align">
                                    <dt>DESCRIPTION</dt>
                                    <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67) ?
                                        (source?.description
                                        | slice:0:67)+ '...' : (source?.description)}}</dd>
                                    <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                </dl>
                            </div>
                            <div class="panel-footer icon-btn">
                                <h5>
                                    <a [href]="source.s3bucketpathname" target="_blank">
                                        VIEW/DOWNLOAD
                                    </a>
                                </h5>

                                <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                    (click)="editAttachment(source)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>


                                <button data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                    (click)="confirmDelete(source)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="filteredAttachmentGrid.length === 0">
                <div class="col-md-12">
                    <div class="no-attach text-center">
                        <h6>No Files Attached</h6>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>


</div>

<!--djs-->
<div *ngIf="config.isGenerateUploadTabNeeded" class="remove-margin">
    <div class="tab-pane " id="upload-generate" *ngIf="config.isGenerateUploadTabNeeded">
        <div class="container-fluid">
            <div class="upload-generate-cont no-pad">
                <div class="tab-horizontal">
                    <ul class="nav nav-pills inner-nav">
                        <li class="innner-menu active">
                            <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                            </a>
                        </li>
                        <li class="innner-menu">
                            <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Generate</a>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane inner-margin active" id="upload-case-doc">
                            <div class="cnt-min-height attachment-tab container-fluid">
                                <div class="row ">
                                    <div class="col-sm-12">
                                        <h4>Documents</h4>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="m-t-20">Add necessary documents relevant to this case.</p>
                                    </div>
                                    <div class="col-sm-7 text-right icon">
                                        <button class="btn-pri" data-target="#upload-attachment" data-toggle="modal"
                                            [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                    </div>
                                </div>
                                <!-- <attachment-upload [intakeNumber]="intakeNumber" (attachment)="attachment('All')"></attachment-upload> -->
                                <attachment-upload (attachment)="attachment('All')"></attachment-upload>
                                <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
                                    <div class="col-sm-12">
                                        <h5 class="theme m-t-15">ADDED DOCUMENTS</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="att-wrap">
                                            <div class="col-sm-3" *ngFor="let source of filteredAttachmentGrid">
                                                <div class="panel panel-default attachment-panel">
                                                    <div class="panel-heading">
                                                        <div class="media">
                                                            <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                <i class="fa fa-file-image-o"></i>
                                                            </div>
                                                            <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                <i class="fa fa-file-audio-o"></i>
                                                            </div>
                                                            <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                <i class="fa fa-video-camera"></i>
                                                            </div>
                                                            <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                <i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="media-left" *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                <i class="fa fa-paperclip"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="media-heading" *ngIf="source?.originalfilename">{{(source?.originalfilename.length>25)
                                                                    ? (source?.originalfilename | slice:0:25) + '...' :
                                                                    (source?.originalfilename)}}</h4>
                                                                <h4 class="media-heading" *ngIf="!source?.originalfilename">N/A</h4>
                                                                <p>{{source.numberofbytes}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <dl>
                                                            <dt>TITLE</dt>
                                                            <dd class="single-wrap">{{source?.title}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>ATTACHMENT TYPE</dt>
                                                            <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>CATEGORY</dt>
                                                            <dd>{{source?.documentattachment?.attachmentclassificationtypekey
                                                                ?
                                                                source?.documentattachment?.attachmentclassificationtypekey
                                                                : 'N/A'}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>Uploaded By</dt>
                                                            <dd>{{source.userprofile.displayname }}
                                                            </dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>UPLOADED DATE</dt>
                                                            <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }}
                                                            </dd>
                                                        </dl>
                                                        <dl class="word-align">
                                                            <dt>DESCRIPTION</dt>
                                                            <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67)
                                                                ? (source?.description
                                                                | slice:0:67)+ '...' : (source?.description)}}</dd>
                                                            <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="panel-footer icon-btn">
                                                        <span>
                                                            <a [href]="source.s3bucketpathname" target="_blank">
                                                                VIEW/DOWNLOAD
                                                            </a>
                                                        </span>

                                                        <button class="pull-right" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' || reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                            (click)="editAttachment(source)">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </button>


                                                        <button class="pull-right" data-toggle="modal" [disabled]="token.role.name === 'apcs' && (reviewstatus === 'Review' || reviewstatus === 'Reopen' ||reviewstatus === 'Accepted' || reviewstatus === 'Closed')"
                                                            (click)="confirmDelete(source)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="filteredAttachmentGrid.length === 0">
                                        <div class="col-md-12">
                                            <div class="no-attach text-center">
                                                <h6>No Files Attached</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <router-outlet></router-outlet>
                            </div>
                        </div>

                        <div class="tab-pane inner-margin" id="generate-case-doc">
                            <div class="cnt-min-height container-fluid">
                                <div class="row m-t-20">
                                    <div class="col-sm-4">
                                        <div class="document-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control" 
                                                    placeholder="Search Documents">
                                                    <!-- [(ngModel)]="searchText" -->
                                                <span class="input-group-btn">
                                                    <button class="btn-pri" type="button">Search</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 text-right">
                                        <button class="btn-pri" *ngIf="isFileSelected()" (click)="generateSelectedDocuments()">Generate</button>
                                        <button data-toggle="modal" data-target="#docu-View" class="btn-pri"
                                            *ngIf="isFileSelected()" (click)="downloadSelectedDocuments()">View/Download
                                        </button>
                                    </div>
                                </div>
                                <div class="row m-t-20 created-tab">

                                    <div class="col-sm-12">
                                        <div class="table-responsive table-theme">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>name</th>
                                                        <th>generated by</th>
                                                        <th> generated date</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let document of generatedDocuments">
                                                        <!-- | filter : searchText : 'title' -->
                                                        <td>
                                                            <mat-checkbox></mat-checkbox>
                                                            <!-- [(ngModel)]="document.isSelected" -->
                                                        </td>
                                                        <td>{{document.title}}</td>
                                                        <td>{{document.generatedBy}}</td>
                                                        <td>{{document.generatedDateTime | date :
                                                            'MM/dd/yyyy hh:mm:ss a'}}</td>
                                                        <td>
                                                            <ul class="list-unstyled list-inline action-icons"
                                                                *ngIf='!document.isInProgress'>
                                                                <li *ngIf='document.isGenerated'><a
                                                                        data-toggle="modal" data-target="#docu-View"
                                                                        (click)="downloadDocument(document)"><i
                                                                            class="fa fa-download p-r-10"
                                                                            aria-hidden="true"></i>View/Download</a></li>
                                                                <li *ngIf='document.isGenerated'><a><i
                                                                            class="fa fa-envelope-o p-r-10"
                                                                            aria-hidden="true"></i>Email</a></li>
                                                                <li><a (click)="generateNewDocument(document)"><i
                                                                            class="fa fa-gears p-r-10"></i>Generate</a></li>
                                                            </ul>
                                                            <ul class="list-unstyled list-inline action-icons"
                                                                *ngIf='document.isInProgress'>
                                                                <li><img src="assets/images/loader.gif"></li>

                                                            </ul>

                                                        </td>
                                                    <!-- <tr>
                                                            <td></td>
                                                            <td>qwertyuiop</td>
                                                            <td>Charles</td>
                                                            <td class="dateTime">
                                                            <span class="date">08/09/2018</span>
                                                            <span class="time">11:30 AM</span>
                                                        </td>
                                                        <td>
                                                            <ul class="list-unstyled list-inline action-icons">
                                                                <li><a><i class="fa fa-download" aria-hidden="true"></i>Download</a></li>
                                                                <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a></li>
                                                            </ul>
                                                        </td>
                                                        </tr> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<edit-attachment></edit-attachment>
<div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-w450" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Confirm Delete?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row text-center">
                            <figure>
                                <p>Are you sure you want to delete this attachment?</p>
                            </figure>
                            <div class="col-md-12 text-center">
                                <div class="btn-group btn-group-re">
                                    <button type="button" class="btn-pri" (click)="deleteAttachment()">Yes</button>
                                    <button type="button" class="btn-bg" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
