.block.drop-container {
    width: 100%;
    padding: 50px 0;
    background: #f3f4f6;
    border: 2px dashed #888;
    text-align: center;
}
.block.drop-container p {
    margin-bottom: 5px;
}
i.fa.fa-cloud-upload {
    font-size: 20px;
    cursor: pointer;
    // color: #53c3c
}
.btn-bs-file {
    cursor: pointer;
    font-weight: 1000;
}
.uploaded-files .btn-bs-file {
    position: relative;
    margin-bottom: 0;
}
.uploaded-files .btn-bs-file input[type='file'] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}
.uploaded-files .remove-upld {
    text-align: center;
    position: relative;
    min-height: 75px;
}
.uploaded-files .remove-upld span {
    display: inline-block;
    width: 26px;
    padding: 2px 0px;
    border: 1px solid #555;
    border-radius: 100%;
    color: #555;
    position: absolute;
    left: 28%;
    cursor: pointer;
    top: 38%;
}
