<div class="clearfix text-right">
    <button class="aut-btn-placementAdd btn-pri no-mar" [disabled]="isClosed" (click)="addPlacements()" *ngIf="isCaseWorker"> <i
            class="fa fa-plus"></i> Add
    </button>
    <!-- <a class="aut-btn-placementReveiwPlacement btn-pri" *ngIf="isSuperVisor" (click)="reviewPlacements()">
        Review Placement</a> -->
</div>
<!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openLivingArrangement()">Living Arrangement</button>
    <button mat-menu-item (click)="openPlacement()">Placement</button>
</mat-menu> -->
<div class="row">
    <div class="col-sm-12">
        <div class="m-t-10">
            <ng-container *ngFor="let child of placementList; let i=index;">
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <ul class="list-unstyled list-inline theme-heder-bg minus-icon m-0">
                            <li>
                                <h5> {{child?.prefx}} {{ child?.firstname }} {{ child?.middlename }} {{ child?.lastname }} {{ child?.suffix }}</h5>
                            </li>
                            <li class="m-l-30"><span><span> Age: </span><b>{{child?.age}} </b></span></li>
                            <li class="m-l-30"><span><span>DOB: </span><b>{{child?.dob | date:'MM/dd/yyyy'}}</b></span>
                            </li>
                            <li class="m-l-30"><span><span>Gender: </span><b>{{child?.gender}}</b></span></li>
                            <li class="m-l-30" *ngIf="child?.hasAlert"><i data-target="#placementAlert"
                                    data-toggle="modal" [matTooltip]='ALERT_MESSAGE'
                                    class="fa fa-exclamation-triangle text-16 cursor"
                                    style="color:red; cursor: pointer;"> ALERT</i></li>
                            <!-- <li class="m-l-30"><a (click)="showChildHistory(child)" class="pull-right" data-target="#ChildHistory"
                                data-toggle="modal"><i class="fas fa-file-invoice-dollar m-r-5" aria-hidden="true"></i></a></li> -->
                            <li class="m-l-50"><button class="no-bg" matTooltip="Placement History" data-target="#historyPlacement"
                                data-toggle="modal" (click)="placementHistoryDetail(child)"><i aria-hidden="true" class="fa fa-history m-r-5">History</i></button></li>
                            <li class="m-r-10 pull-right" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false"
                                    aria-hidden="true" data-toggle="collapse"><i class="fa fa-plus"></i></a></li>
                            <!-- <li class="m-r-10 pull-right"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#accordion"></i></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-12 collapse" id="accordion{{i}}">
                        <div class="table-responsive table-theme brd">
                            <table class="table table-striped">
                                <thead>
                                    <!--  1 ) RemovalID (for ech child ) - common
                                        2 ) Placement Type (Placement/Living Arrangement)
                                        3 ) Start Date  - common
                                        4 ) End Date - common
                                        5 ) Status - common
                                        6 ) Action - common -->
                                    <tr>

                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngIf="child?.placements?.length">

                                        <tr *ngFor="let item of child.placements">
                                            <ng-container *ngIf="!(item.enddate) && (item.placementtypekey === 'LA' || item.responseacceptedkey === '4612')">
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerPlacementTemplate">
                                                    Living Arrangement
                                                </ng-container>
                                                <ng-template #providerPlacementTemplate>
                                                    Provider Placement <span *ngIf="item?.isvoided === 1"><i matTooltip='Void' class="fa fa-minus-circle red text-16"></i></span>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerNameTemplate">
                                                    {{item?.livingarrangementtype}}
                                                </ng-container>
                                                <ng-template #providerNameTemplate>
                                                    {{item?.providerdetails?.providername}}
                                                </ng-template>
                                            </td>
                                            <td>

                                                <placement-address-info [placement]="item"></placement-address-info>
                                            </td>
                                            <td>
                                                <span *ngIf="item.starttime">
                                                    {{item.startdate| date: 'MM/dd/yyyy'}} {{item.starttime}}
                                                </span>
                                                <span *ngIf="!item.starttime">
                                                    {{item.startdate| date: 'MM/dd/yyyy hh:mm'}}
                                                </span>
                                            </td>
                                            <td>
                                                <!-- @Deb- As per data migration team revision record will not be present for
                                                migrated case -->
                                                <span *ngIf="!item?.revisionupdate?.enddate && item?.enddate">
                                                    {{ item?.enddate | date: 'MM/dd/yyyy hh:mm'}}
                                                </span>
                                                <span *ngIf="item?.revisionupdate?.enddate">
                                                    {{ item?.revisionupdate?.enddate | date: 'MM/dd/yyyy'}} {{ item?.revisionupdate?.endtime }}
                                                </span>


                                            </td>

                                            <td>
                                                <ng-container *ngIf="item.routingstatus ==='Review'; else elseTemplate">
                                                    <a (click)="reviewPlacement(child,item)">{{item.routingstatus}}</a>
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    {{item.routingstatus}}
                                                </ng-template>


                                            </td>
                                            <td>
                                                <ng-container *ngIf="item.isEditable">
                                                    <a [ngClass]="{'disabledField': isClosed}" (click)="editPlacement(child,item)">
                                                        <i matTooltip='Edit' class="fa fa-pencil text-16"></i>
                                                    </a> |
                                                    <ng-container *ngIf="item.placementtypekey !== 'LA'">
                                                            <a [ngClass]="{'disabledField': isClosed}" (click)="voidPlacement(child,item)" >
                                                                    <i matTooltip='Void' class="fa fa-minus-circle text-16"></i>
                                                                </a> |
                                                    </ng-container>


                                                    <a [ngClass]="{'disabledField': isClosed}" (click)="exitPlacement(child,item,1)"><i matTooltip='Exit'
                                                            class="fa fa-sign-out" aria-hidden="true"></i></a> |
                                                </ng-container>
                                                <a *ngIf="(isSuperVisor && item?.routingstatus !=='Review') || !isSuperVisor" (click)="showPlacementDetails(child,item)">
                                                    <i matTooltip='View' class="fa fa-eye text-16"></i>
                                                </a>
                                                <ng-container *ngIf="isSuperVisor && item?.routingstatus ==='Review'">
                                                        <button class="btn-pri aut-btn-permanencyReview"  (click)="reviewPlacements(item, child)"
                                                        type="button">Review</button>
                                                </ng-container>
                                                <ng-container *ngIf="item.contractprogramid">
                                                    |
                                                    <a (click)="addCPAHome(child,item)">
                                                        <i matTooltip='Add' class="fa fa-home text-16"></i>
                                                    </a>
                                                </ng-container>


                                            </td>
                                        </ng-container>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="!child?.placements?.length">
                                        <td colspan="6">No Placements added.</td>
                                    </tr>
                                    <tr *ngIf="child?.placements?.length && !(child?.active)">
                                        <td colspan="6">No Active Placements added.</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="modal  fade" id="placementAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    {{ALERT_MESSAGE}}
                </p>

            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="placementExistAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    There is an active placement for the chosen child/children. Please review and record exit of the
                    same before adding a new one.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="ChildHistory" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">History</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <div class="col-md-3 col-md-offset-2">
                            <p class="textb disp-color"><b>Name : </b>{{selectedChild?.firstname}}
                                {{selectedChild?.lastname}} </p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><b>Age : </b>{{selectedChild?.dob | date:
                                    'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><b>Gender : </b>{{selectedChild?.gender}}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><b>CJAMS PID# : </b>{{selectedChild?.cjamspid}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab-horizontal placement-tab">
                        <ul class="nav nav-pills">
                            <!-- <li class="active">
                                    <a data-toggle="tab" href="#placement-history">Placement History</a>
                                    </li> -->
                            <li class="active">
                                <a data-toggle="tab" href="#payment-history">Payment History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content m-t-10">

                        <div id="payment-history" class="tab-pane fade in active">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive petition-table table-theme mt-20">
                                        <table class="table table-striped customTable firsttable">
                                            <thead>
                                                <tr>
                                                    <th>Payment ID</th>
                                                    <!-- <th>Payment Detail ID</th> -->
                                                    <th>Payment start Date</th>
                                                    <th>Payment End date Date</th>
                                                    <th>Provider ID</th>
                                                    <th>Payment Type</th>
                                                    <th>Payment Status</th>
                                                    <th>Final Category Code</th>
                                                   <!--  <th>Gross Amount</th>
                                                    <th>Offset Amount</th>
                                                    <th>Net Amount</th> -->
                                                    <th>Net Amount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <ng-container
                                                    *ngFor="let item of accountpayableList; let index = index;">
                                                    <tr>
                                                        <td>{{item.payment_id}}</td>
                                                        <!-- <td>{{item.payment_detail_id}}</td> -->
                                                        <td>{{item.payment_start_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{item.payment_end_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{item.provider_id}}</td>
                                                        <td>{{item.payment_type_nm}}</td>
                                                        <td>{{item.payment_status_nm}}</td>
                                                        <td>{{item.final_fiscal_category_nm ? item.final_fiscal_category_nm : '' }} <span *ngIf="item.final_fiscal_category_cd">({{item.final_fiscal_category_cd ? item.final_fiscal_category_cd : ''}})</span></td>
                                                        <td>$ {{item.gross_amount_no}}</td>
                                                       <!--  <td>$ {{item.gross_amount_no ? item.gross_amount_no :
                                                                '0.00'}}</td>
                                                        <td>$ {{item.offset_amount_no ? item.offset_amount_no :
                                                                '0.00'}}</td>
                                                        <td>$ {{item.gross_amount_no-item.offset_amount_no}}</td> -->
                                                        <!-- <td>
                                                            <a class="pull-right m-r-10"
                                                                (click)="toggleTable('accordion-tables'+ index, item.payment_id)"><i
                                                                    class="fa fa-chevron-down"
                                                                    aria-hidden="true"></i></a>
                                                        </td> -->
                                                    </tr>
                                                    <tr id="accordion-tables{{index}}" class="collapse">
                                                        <td colspan="10">
                                                            <div class="table-responsive table-theme">
                                                                <table class="table customTable innerTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Payment Id</th>
                                                                            <th>Provider Id</th>
                                                                            <th>CJAMS PId</th>
                                                                            <th>Child Name</th>
                                                                            <th>Category Code</th>
                                                                            <th>Service Start Date</th>
                                                                            <th>Service End Date</th>
                                                                            <th>Amount</th>
                                                                            <th>Local Department</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let payment of paymentDetails">
                                                                            <td
                                                                                (click)="selectAccountsPayable(payment)">
                                                                                <a href="#" data-toggle="modal"
                                                                                    data-target="#modal-view-finace-accountsPayable">{{payment.payment_id}}</a>
                                                                            </td>
                                                                            <!-- <td>{{payment.payment_id}}</td> -->
                                                                            <td>{{payment.provider_id}}</td>
                                                                            <td>{{payment.client_id}}</td>
                                                                            <td>{{payment.client_name}}</td>
                                                                            <td>{{payment.final_fiscal_category_cd}}
                                                                            </td>
                                                                            <td>{{payment.final_service_start_dt|
                                                                                    date: 'MM/dd/yyyy'}}</td>
                                                                            <td>{{payment.final_service_end_dt|
                                                                                    date: 'MM/dd/yyyy'}}</td>
                                                                            <td>$ {{payment.final_amount_no ?
                                                                                    payment.final_amount_no :
                                                                                    '0.00'}}</td>
                                                                            <td>{{payment.county_cd}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <tr *ngIf="accountpayableList?.length === 0">
                                                    <td colspan="8" style="text-align: center !important;">
                                                        No Records Found.
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <ng-template #noItems>
                                                        <p class="no-datatxt"> No Items! </p>
                                                    </ng-template>
                                                    <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
                                                        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                                                            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                                                    </div> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="historyPlacement" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">History</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="m-r-10 m-l-10 table-responsive table-theme ">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="provider-details" *ngIf="placementHistory?.placements?.length">
                                <ng-container *ngFor="let item of placementHistory.placements; let index = index;">
                                        <tr>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerPlacementTemplate">
                                                    Living Arrangement
                                                </ng-container>
                                                <ng-template #providerPlacementTemplate>
                                                    Provider Placement <span *ngIf="item?.isvoided === 1"><i matTooltip='Void' class="fa fa-minus-circle red text-16"></i></span>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerNameTemplate">
                                                    {{item?.livingfirstname}}
                                                </ng-container>
                                                <ng-template #providerNameTemplate>
                                                    {{item?.providerdetails?.providername}}
                                                </ng-template>
                                            </td>
                                            <td>

                                                <placement-address-info [placement]="item"></placement-address-info>
                                            </td>
                                            <td>
                                                <span *ngIf="item.starttime">
                                                    {{item.startdate| date: 'MM/dd/yyyy'}} {{item.starttime}}
                                                </span>
                                                <span *ngIf="!item.starttime">
                                                    {{item.startdate| date: 'MM/dd/yyyy hh:mm'}}
                                                </span>
                                            </td>
                                            <td>
                                                <!-- @Deb- As per data migration team revision record will not be present for
                                                migrated case -->
                                                <span *ngIf="!item?.revisionupdate?.enddate && item?.enddate">
                                                        <ng-container *ngIf="item.endtime">
                                                                {{item.enddate| date: 'MM/dd/yyyy'}} {{item.endtime}}
                                                            </ng-container>
                                                            <ng-container *ngIf="!item.starttime">
                                                                {{item.enddate| date: 'MM/dd/yyyy hh:mm'}}
                                                            </ng-container>
                                                </span>
                                                <span *ngIf="item?.revisionupdate?.enddate">
                                                    {{ item?.revisionupdate?.enddate | date: 'MM/dd/yyyy'}} {{ item?.revisionupdate?.endtime }}
                                                </span>


                                            </td>

                                            <td>
                                                <ng-container *ngIf="item.routingstatus ==='Review'; else elseTemplate">
                                                    <a (click)="reviewPlacement(placementHistory,item)">{{item.routingstatus}}</a>
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    {{item.routingstatus}}
                                                </ng-template>


                                            </td>
                                            <td>
                                                <a *ngIf="(isSuperVisor && item?.routingstatus !=='Review') || !isSuperVisor" (click)="showPlacementDetails(placementHistory,item)">
                                                    <i matTooltip='View' class="fa fa-eye text-16"></i>
                                                </a>
                                                <ng-container *ngIf="item.contractprogramid">
                                                    |
                                                    <a (click)="showCPAHomes('cpa-homes-table'+ index, index, item?.cpahomerevision)">
                                                        <i matTooltip='cpaHome' class="fa fa-home text-16"></i>
                                                    </a>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables-placement'+ index, index, item?.placementrevision)"><i class="fa fa-chevron-down"
                                                        aria-hidden="true"></i></a>
                                            </td>

                                        </tr>
                                        <tr id="accordion-tables-placement{{index}}" class="collapse">
                                                <td colspan="10">
                                                    <div class="table-responsive table-theme">
                                                        <table class="table customTable innerTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Placement ID</th>
                                                                    <th>Provider ID</th>
                                                                    <th>Provider Name</th>
                                                                    <th>Start Date</th>
                                                                    <th>End Date</th>
                                                                    <th>Approved On</th>
                                                                    <th>Approved By</th>
                                                                    <th>Requested On</th>
                                                                    <th>Requested By</th>
                                                                    <th>Void</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngIf="item?.placementrevision?.length">
                                                                    <tr *ngFor="let revision of item?.placementrevision">
                                                                        <td>{{revision.placement_id}}</td>
                                                                        <td>{{revision.provider_id}}</td>
                                                                        <td>{{revision.providername}}</td>
                                                                        <td>{{revision.entrydate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.exitdate | date: 'MM/dd/yyyy'}}</td>
                                                                        <!-- <td>{{revision.insertedon | date: 'MM/dd/yyyy h:mm a'}}</td>
                                                                        <td>{{revision.fullname}}</td> -->
                                                                        <td>
                                                                            {{revision.approveddate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.approvedby}}</td>
                                                                        <td>{{revision.requesteddate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.requestedby}}</td>
                                                                        <td *ngIf="revision.isvoided === 0">No</td>
                                                                        <td *ngIf="revision.isvoided === 1">Yes</td>
                                                                    </tr>
                                                                </ng-container>
                                                                    <tr *ngIf="!(item?.placementrevision?.length)">
                                                                        <td colspan="8">No History Found</td>
                                                                    </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        <tr id="cpa-homes-table{{index}}" class="collapse">
                                            <td colspan="10">
                                                <div class="table-responsive table-theme">
                                                    <table class="table customTable innerTable">
                                                        <thead>
                                                            <tr>
                                                                <th>CPA Home Provider Id</th>
                                                                <th>Provider Name</th>
                                                                <th>Entry Date </th>
                                                                <th>Entry Time </th>
                                                                <th>Exit Date</th>
                                                                <th>Exit Time</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngIf="item?.cpahomerevision?.length">
                                                                <tr *ngFor="let cpaHome of item?.cpahomerevision">
                                                                    <td>{{ cpaHome.provider_id }}</td>
                                                                    <td>{{ cpaHome.providername }}</td>
                                                                    <td>{{ cpaHome.entry_dt|date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{ cpaHome.entry_tm|date : 'h:mm a'}}</td>
                                                                    <td>{{ cpaHome.exit_dt|date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{ cpaHome.exit_tm|date : 'h:mm a'}}</td>
                                                                </tr>
                                                            </ng-container>
                                                                <tr *ngIf="!(item?.cpahomerevision?.length)">
                                                                    <td colspan="6">No CPA Home History Found</td>
                                                                </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="!placementHistory?.placements?.length">
                                        <td colspan="8">No Placements added.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="modal  fade" id="exitplacementvalidation" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Placement Exit Validation</h4>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.iscaseplan">
                        All case plans for the client have supervisory approval</mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.iscaseplaneligibility">
                        Eligibility Determination for client is complete. </mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.ischildage">
                        Client is not over the age of 21. </mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.is_servicelog">
                        All service log records for the client have an end date.</mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.islivingarrgangement">
                        Unknown Living Arrangements do not exists for the client. </mat-checkbox>
                </p>
                <p>Note : All above criteria must be met to exit placement</p>

            </div>
            <div class="modal-footer">
                <button class="btn-pri" (click)="placementExit()">Exit Placement</button>
                <button class="btn-pri" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
