<div class="row">
    <div class="col-sm-12 box-grid no-mar">
        <div class="">
            <div class="form-search-person no-pad">
                <div class="row">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                            <div *ngIf="generatechecklist" class="form-group">
                                <ul class="list-unstyled list-inline pull-right task-menu" id="generate-task"> 
                                    <li>
                                        <a href="javascript:{}" (click)="generateCheckList()" >
                                            <img src="assets/images/suggest-icon.png">Generate Tasks</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="!generatechecklist">
                                <div class="contentAccordion" >
                                    <div class="form-letter-tab form-align table-act no-mar">
                                        <div class="table-responsive table-theme dd-overflow-inherit" style="overflow: hidden;"  [formGroup]="checkListFormGroup">

                                            <table class="table table-striped" style="width: 99.86%;" formArrayName="checklist">
                                                <thead>
                                                    <tr>
                                                        <th style="width:30%">Task</th>
                                                        <th style="width:54%">Comments</th>
                                                        <th style="width:15%">Date</th>
                                                        <th style="width:120px">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let checkListValue of checkListFormGroup['controls'].checklist['controls']; let i = index" [formGroupName]="i">
                                                    <tr class="dd-overflow-inherit">
                                                        <td style="text-align: start;width: 350px;">{{ checkListValue['controls']?.checklist_task.value }}</td>
                                                        <td style="padding-bottom: 0;">
                                                            <div class="form-group dd-overflow-inherit mb-0">
                                                                <div class="fm-box-form no-pad dpnew">
                                                                    <mat-form-field>
                                                                        <input formControlName="comment" type="text"
                                                                            matInput required >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td >
                                                            <!-- <div class="form-group dd-overflow-inherit mb-0">
                                                                <div class="fm-box-form no-pad dpnew"> -->
                                                                    <mat-form-field>
                                                                        <input formControlName="review_date" matInput
                                                                            (click)="picker.open()" [matDatepicker]="picker"
                                                                            [max]="maxDate" placeholder="{{checkListValue['controls']?.date_type.value}}">
                                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                        <mat-datepicker #picker></mat-datepicker>
                                                                    </mat-form-field>
                                                                <!-- </div>
                                                            </div> -->
                                                        </td>
                                                        <td style="padding-bottom: 0;">
                                                            <div class="form-group dd-overflow-inherit mb-0">
                                                                <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                                    <mat-form-field>
                                                                        <mat-select formControlName="status">
                                                                            <mat-option *ngFor="let status of statusList"
                                                                                [value]="status">
                                                                                {{status}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="mrg-top15">
                                    <div class="btn-group btn-group-re pull-right" *ngIf="appStatus !== 'Approved'">
                                        <button type="submit" class="btn-pri" (click)="saveChecklist()">Save</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div> 
