<div class="col-md-12" *ngFor="let item of appointments; let isLast = last; let isFirst = first">
    <h4>
        <p class="bg-theme">Appointment Information</p>
    </h4>
    <div class="row">
        
        <div class="col-sm-6 m-t-20">
          
            <mat-radio-group [(ngModel)]="item.apptkept" [disabled]="disabled">

                <mat-radio-button *ngFor="let action of appointmentActions" [value]="action.ref_key">{{action.description}}</mat-radio-button>                
            </mat-radio-group>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select placeholder="Nature of Exam"  [(ngModel)]="item.natureofexamkey" required [disabled]="disabled">
                    <mat-option *ngFor="let item of examTypeDropdownItems$ | async" value="{{item.value}}">
                        {{item.text}}</mat-option>
                </mat-select>
               
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <common-date-picker [max]="min"  [(ngModel)]="item.apptDate" placeholder="Appointment Date" [disabled]="disabled" required>
              </common-date-picker>
            
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select  [(ngModel)]="item.labtestkey" placeholder="Lab Test" [disabled]="disabled">
                    <mat-option *ngFor="let item of labTestDropdownItems$ | async" value="{{item.value}}" >
                        {{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>   
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select  [(ngModel)]="item.specialityexamkey" placeholder="Speciality Exam" [disabled]="disabled">
                    <mat-option *ngFor="let item of specialityExamTypeDropdownItems$ | async"
                        value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6 m-t-20" >
            <mat-checkbox  [(ngModel)]="item.hivtestreceived" [disabled]="disabled"> Consent for HIV Test Received
            </mat-checkbox>
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <common-date-picker [min]="min" [(ngModel)]="item.nextApptDate" placeholder="Next Appointment Date" [disabled]="disabled">
              </common-date-picker>
           
        </div>
        <div class="col-sm-6" *ngIf="item.nextApptDate !== null ">
            <mat-form-field>
            <input matInput  [(ngModel)]="item.nextappointmentreason" placeholder="Reason" [disabled]="disabled">    
            </mat-form-field>       
        </div>
    </div>
    <div class="row" *ngIf="item.apptkept === APPOINTMENT_NOT_KEPT ">
       
        <div class="col-sm-12">
            <mat-form-field>
            <input matInput  [(ngModel)]="item.notkeptreason" placeholder="Not Kept Reason" [disabled]="disabled">
            </mat-form-field>
           
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12 ">
  
          <span *ngIf="!isLast" class="person-action-link" (click)="removeItem(index)"> - Remove Appointment</span>
          <span *ngIf="isLast" class="person-action-link" (click)='addItem()'> + Add Appointment</span>
        </div>
      </div> -->
</div>