<h3> Finance Adoption Search Results </h3>

<div class="col-md-12" style="padding: 0px;">
  <div class="table-responsive table-theme mt-20">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>Client Name</th>
          <th>Adoption Id</th>
          <th>Adoption Start Date</th>
          <th>Adoption End Date</th>
          <th>Provider Type</th>
          <th>Provider Id</th>
        </tr>
      </thead>

      <tbody *ngIf="searchResultData$ | async; let searchResultData">
        <tr *ngFor="let adoption of searchResultData">
  
          <td (click)="selectAdoption(adoption)">
            <a href="#" data-toggle="modal" data-target="#modal-view-finace-adoption">{{adoption.client_id}}</a>
          </td>
          <td>{{adoption.first_nm}} {{adoption.last_nm}}</td>
          <td>{{adoption.guardian_subsidy_id}}</td>
          <td>{{adoption.agreement_start_dt | date: 'MM/dd/yyyy' }}</td>
          <td>{{adoption.agreement_end_dt | date: 'MM/dd/yyyy' }}</td>
          <td>{{adoption.TBD}} Public</td>
          <td>{{adoption.provider_id}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination [totalItems]="totalResulRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
      </pagination>
    </div>
  </div>
</div>

<div>
  <adoption-search-view [selectedAdoption]="selectedRecord"></adoption-search-view>
</div>