<div class="row">
        <div class="col-md-12">
           <!-- <childassessment-form [clientIDInput]="clientIDInput" [removalIDInput]="removalIDInput" #childassessment>
            </childassessment-form> -->
            <adoption-child-assessment [clientIDInput]="clientIDInput" [removalIDInput]="removalIDInput" #childassessment></adoption-child-assessment>
        </div>
    
        <div class="col-md-12 text-right">
            <button class="sec-btn text-uppercase" type="submit" (click)="saveData()">SAVE</button>
            <!--<button class="btn-pri text-uppercase" type="submit" (click)="saveDataNext()">SAVE AND PROCEED TO NEXT</button>-->
            <button *ngIf="hasAdoptionApplicabilityInfo()" class="btn-pri text-uppercase" type="submit" (click)="sendToIVE()">Send to IV-E Supervisor</button>
        </div>
    </div> 