.justify-area textarea {
    width: 100%;
    height: 70px;
}

.border {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.tab-horizontal .nav-pills>li {
    margin-bottom: 0px;
}

.tab-horizontal .nav {
    border: none;
}

.modal .modal-body {
    max-height: 65vh;
}

.fixed_header tbody {
    height: 225px;
}

.fixed_header thead th {
    border-bottom: none;
    background: #AEBED6;
}

.table-theme .table thead tr:hover {
    background: none;
}

.table-theme .table tbody tr:hover {
    background: #E8F0FA;
}

.fixed_header thead {
    background: #AEBED6;
}

.fixed_header tbody tr td,
.fixed_header thead th {
    width: 12.2%;
    padding: 9px !important;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border: none;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
}

button i:before {
    color: #00A2FD;
    font-weight: 600;
    float: left;
}

.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}