.header-title {
    color: #00A2FD;
    font-size: 15px;
}
.container-fluid {
    background:  #ffffff;
    margin-top: 10px;
}
.person-section-header {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.person-action-link {
    color: #00A2FD;
    font-size: 13px;
    cursor: pointer;
}

.add-container {
    padding: 30px;
    border: 1px solid #D8D8D8;
    text-align: center;
    margin: 0px;
}

.add-container a {
    color: #00A2FD;
    font-weight: 700;
    font-size: 18px;
}

.b-r-4 {
    border-right: 4px solid #F0F2F4;
}
.b-r-6 {
    border-right: 6px solid #F0F2F4;
}
.b-b-1 {
    border-bottom: 1px solid #F0F2F4;
}
.p-label {
    font-weight: bold;
}
.p-description {
    font-size: 13px;
}
.b-1 {
    border: 1px solid #F0F2F4;
}
.b-2 {
    border: 2px solid #F0F2F4;
}

.no-bg-btn {
    outline: none;
    background: none;
    border: none;
    color: #00A2FD;
    font-size: 13px;
}

.no-bg-btn i:before {
    padding-right: 10px;
}

.col {
    color: #00A2FD !important;
}

.m-10 {
    margin: 10px;
}

.border-1 {
    border: 1px solid #d8d8d8;
}

.border-top-1 {
    border-top: 1px solid #d8d8d8;
}

.m-5 {
    margin: 5px;
}

.p-10 {
    padding: 10px;
}

.provider-info-address smarty-street-address .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.container-height {
    min-height: 100vh;
}
.red {
    color: red;
}

.clsTitle{
    color: #00A2FD !important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px;
}