<div class="col-sm-12 mt-10 mb-10">
  <div class="row">
    <div class="col-sm-6">
      <h5 class="clsTitle"> {{title | uppercase}} PERSON INVOLVED </h5>
      <h5 class="header-name" *ngIf="personInfo">{{personInfo?.personbasicdetails?.lastname  | uppercase}}
        {{personInfo?.personbasicdetails?.firstname}} | PID # {{personInfo?.personbasicdetails?.cjamspid}}</h5>
    </div>
    <div class="col-sm-6 text-right">
      <div class="header-title">
        <button class="btn btn-pri" (click)="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> back
        </button>
      </div>
    </div>
  </div>
</div>

<div class="person-detail-wrapper">
  <div class="col-sm-12">
    <div class="tab-horizontal">
      <ul class="nav nav-pills">
        <li routerLinkActive="active" [class]="selectedurl === tab.path ? 'active' : ''" *ngFor="let tab of tabs">
          <!-- <a [routerLink]='tab.path' *ngIf="tab.enable==1"> 
                    {{tab.name}}
                </a> -->
          <a *ngIf="tab.enable==1" (click)="tabChanged(tab.path)">
            {{tab.name}}
          </a>
        </li>
      </ul>
      <!-- <ul class="nav nav-tabs person-cus-tab-section persontabs nav-pills" id="persontabs">
        <li *ngFor="let tab of tabs" routerLinkActive="active">
          <a data-toggle="tab" [id]="tab.path">
            <span class="tab-txt">{{tab.name}} </span>
          </a>
        </li>

      </ul> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="container-fluid container-height">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<!-- Navigation Confirm Modal -->
<div class="modal fade" id="route-confirm" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm navigation </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to navigate away to <b> {{selectedurl}} </b> ? </p>
        <small>*Please save, otherwise all your changes will be lost.</small>
      </div>
      <div class="modal-footer">
        <div class="text-right right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" data-dismiss="modal"> Stay </button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="routeConfirm()">
            Proceed </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navigation Confirm Modal -->
<div class="modal fade" id="route-confirm-addnew" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <p class="modal-title">Please add a person. </p>
      </div> -->
      <div class="modal-body">
        <h4 class="modal-title"> Please add a person. </h4>
        <!-- <small>*Please save, otherwise all your changes will be lost.</small> -->
      </div>
      <div class="modal-footer">
        <div class="text-right right-mspace-15">
          <button type="button" value="Okay" class="btn-pri" name="" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>