<div class="tab-pane " id="upload-generate">
    <div class="container-fluid">
        <div class="upload-generate-cont no-pad">
            <div class="tab-horizontal">

                <ul class="nav nav-pills inner-nav">
                    <li class="innner-menu active">
                        <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                        </a>
                    </li>
                    <!-- <li class="innner-menu">
                        <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Generate</a>
                    </li> -->
                </ul>

                <div class="tab-content boxgrid">
                    <div class="tab-pane active" id="upload-case-doc">
                        <div class="cnt-min-height">
                            <div id="Attachments" class="tab-pane box-grid" role="tabpanel">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>Documents</h4>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="m-t-20">Add necessary documents relevant to this case.</p>
                                        </div>
                                        <div class="col-sm-7 text-right icon">
                                            <button [disabled]="isDisabled" class="btn-pri" [routerLink]="['attachment-upload']"><i
                                                    class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                            <!-- <button class="btn-pri click-rec" [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/scan-attachment']"><i
                                                class="fa fa-cloud-upload" aria-hidden="true"></i> SCAN</button>
                                            <button class="btn-pri" [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/image-record']"><i
                                                    class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                            <button class="btn-pri click-rec" id="video" [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/video-record']"><i
                                                    class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                            <button id="sound" class="btn-pri click-rec" [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/audio-record']"><i
                                                    class="fa fa-microphone" aria-hidden="true"></i> RECORD</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
                                    <div class="col-sm-12">
                                        <h5 class="theme m-t-15">ADDED DOCUMENTS</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="att-wrap">
                                            <div class="col-sm-3" *ngFor="let source of filteredAttachmentGrid">
                                                <div class="panel panel-default attachment-panel">
                                                    <div class="panel-heading">
                                                        <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                        <div class="media">
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                <i class="fa fa-file-image-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                <i class="fa fa-file-audio-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                <i class="fa fa-video-camera"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                <i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                <i class="fa fa-paperclip"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                <h4 class="media-heading">{{(source?.originalfilename.length>20)
                                                                    ? (source?.originalfilename | slice:0:20) + '...' :
                                                                    (source?.originalfilename)}}</h4>
                                                                <p>{{source.numberofbytes}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <dl>
                                                            <dt>TITLE</dt>
                                                            <dd class="single-wrap">{{source?.title}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>ATTACHMENT TYPE</dt>
                                                            <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>CATEGORY</dt>
                                                            <dd>{{source?.documentattachment?.attachmentclassificationtypekey
                                                                ?
                                                                source?.documentattachment?.attachmentclassificationtypekey
                                                                : 'N/A'}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>Uploaded By</dt>
                                                            <dd>{{source.userprofile.displayname }}
                                                            </dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>UPLOADED DATE</dt>
                                                            <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }}
                                                            </dd>
                                                        </dl>
                                                        <dl class="word-align">
                                                            <dt>DESCRIPTION</dt>
                                                            <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67)
                                                                ? (source?.description | slice:0:67)+ '...' :
                                                                (source?.description)}}</dd>
                                                            <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="panel-footer icon-btn">
                                                        <h5>
                                                            <a [ngClass]="{'disabled': isDisabled === true}"(click)="downloadFile(source.s3bucketpathname)">
                                                                VIEW/DOWNLOAD
                                                            </a>
                                                        </h5>

                                                        <button data-toggle="modal" [disabled]="isDisabled" (click)="editAttachment(source)">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </button>


                                                        <button data-toggle="modal" [disabled]="isDisabled" (click)="confirmDelete(source)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <router-outlet></router-outlet>

                            <div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-dialog-w450" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">X</span>
                                            </button>
                                            <h4 class="modal-title">Confirm Delete?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row text-center">
                                                        <figure>
                                                            <p>Are you sure you want to delete this attachment?</p>
                                                        </figure>
                                                        <div class="col-md-12 text-center">
                                                            <div class="btn-group btn-group-re">
                                                                <button type="button" class="btn-pri"
                                                                    (click)="deleteAttachment()">Yes</button>
                                                                <button type="button" class="btn-bg"
                                                                    data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <edit-attachment></edit-attachment>
                        </div>
                    </div>
                    <div class="tab-pane inner-margin" id="generate-case-doc">
                        <div class="cnt-min-height">
                            <div class="row m-t-20">
                                <div class="col-sm-6">
                                    <div class="document-search">
                                        <div class="input-group">
                                            <!-- <input type="text" class="form-control" 
                                                    placeholder="Search Documents"> -->
                                            <span class="input-group-btn">
                                                <button class="btn btn-theme btn-pri m-t-10" style="margin-right:10px;"
                                                    data-toggle="modal"
                                                    data-target="#generate_complaint_form">GENERATE WITNESS DOCUMENT</button>
                                            </span>
                                            <!-- <span class="input-group-btn">
                                                <button class="btn btn-theme btn-pri m-t-10" data-toggle="modal"
                                                    data-target="#generate_narrative">GENERATE NARRATIVE</button>
                                            </span> -->
                                            <!-- <span class="input-group-btn">
                                                    <button class="btn btn-theme btn-pri m-t-10">SUBMIT TO PROVIDER</button>
                                                </span> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6">
                                        <button class="btn btn-pri pull-right" *ngIf="isFileSelected()" (click)="generateSelectedDocuments()">Generate</button>
                                        <button data-toggle="modal" data-target="#docu-View" class="btn btn-pri pull-right"
                                            *ngIf="isFileSelected()" (click)="downloadSelectedDocuments()">View/Download
                                        </button>
                                    </div> -->
                            </div>
                            <!-- <div class="row m-t-20 created-tab">

                                    <div class="col-sm-12">
                                        <div class="table-responsive">

                                            <table class="table custom-table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>name</th>
                                                        <th>generated by</th>
                                                        <th>generated date</th>
                                                        <th>actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="generate_complaint_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-w450" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" class="btn-pri" (click)="collectivePdfCreator('complaintForm')"
                        [disabled]="downloadInProgress"> Download
                    </button>
                </div>
                <div id="complaintForm">
                    <div class="pdf-page" data-page-name="Witness Document" data-page-end="true" data-page-number="1">
                        <div class="clsMain">
                            <div class="clsOnePage">
                                <div class="clearfix row">
                                    <div class="col-xs-12 mt-50 mb-20">
                                        <h4 class="text-center">Witness Statement</h4>
                                    </div>
                                </div>

                                <div class="clsMainContent pt-20 mt-30">
                                    <div class="table-theme table-responsive m-t-30">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Last Name</th>
                                                <th>First Name</th>
                                                <th>witness Type</th>
                                                <th>Narrate</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let witness of witnessInformation">
                                                <td>{{witness.first_name}}</td>
                                                <td>{{witness.last_name}}</td>
                                                <td>{{(witness.actor_type_id == 3) ? witness.other_actor_type:(witness.actor_type_id === 1) ? 'Youth' : 'Staff'}}</td>
                                                <td>{{witness.witness_statement}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-xs-2">
                                            <h5>Name:</h5>
                                        </div>
                                        <div class="col-xs-3 text-center">
                                            <h5></h5>
                                            <p class="brd-top pt-10">last name</p>
                                        </div>
                                        <div class="col-xs-3 text-center">
                                            <h5></h5>
                                            <p class="brd-top pt-10">first name</p>
                                        </div>
                                    </div>
                                    <div class="row mt-40">
                                        <div class="col-xs-2">
                                            <p><i class="fa fa-square-o" aria-hidden="true"></i><span
                                                    class="ml-10">Youth</span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p><i class="fa fa-square-o" aria-hidden="true"></i><span
                                                    class="ml-10">Staff</span></p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p><i class="fa fa-square-o" aria-hidden="true"></i><span
                                                    class="ml-10">Others (Note: display text box if selected)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mt-30">
                                        <div class="col-xs-12">
                                            <h5>witness statement. 5000 characters.</h5>
                                        </div>
                                        <div class="col-xs-12 mt-20">
                                            <p class="brd-btm"></p>
                                        </div>
                                    </div> -->
                                    <div class="row" style="margin-top:80px;">
                                        <div class="col-xs-3 text-center">
                                            <h5></h5>
                                            <p class="brd-top pt-10">Signature </p>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <h5></h5>
                                            <p class="brd-top pt-10">Date </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>