.inner-addon {
    position: relative;
}

.inner-addon i {
    position: absolute;
    padding: 10px;
    /*pointer-events: none;*/
    /*remove this property*/
}

.left-addon in {
    left: 0px;
}

.right-addon i {
    right: 10px;
    cursor: pointer !important;
    z-index: 999;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
.panel-footer h5 {
    display: inline-block;
    width: 70%;
}
.panel-footer div > a {
    font-size: 20px;
    margin-right: 5px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.attachment-panel .panel-body dl dt,
.entities-panel .panel-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 12px;
    text-transform: uppercase;
}
.attachment-panel .panel-body dl {
    margin-bottom: 5px;
}
.attachment-panel .panel-body dl dd {
    font-size: 11px;
}

.common-modal .modal-body img{float: none;}
.modal-dialog.modal-dialog-w1050{width:900px;}
.audio-control a{max-width: 87%; position: absolute; bottom: 33px;}
.audio-control audio{ max-width: 97%;}
.audio-control .glyphicon-music{ position: absolute;left: 42%; top: 25%; font-size: 35px;}
.attach-wrap{height: 190px; border: 1px solid #ccc; padding: 5px;margin-bottom: 25px; text-align: center;}
.img-responsive{max-height: 100%;}
.attach-wrap img{max-height: 85%; display: inline-block;}

#Attachments{ max-width: 1800px;margin: 15px auto;}
#Attachments .attach-lists{width: 300px; display: inline-block;}
.attach-wrap.audio-control{text-align: left;}
.attach-wrap.audio-control p{ position: initial;}
.icon i.fa {font-size: 22px;padding-right: 10px;vertical-align: sub;}


@media only screen
and (min-width : 1024px) and (max-width : 1439px)  {
    #Attachments .attach-lists{width:260px;}
    .attach-wrap { height:155px;}
    .attach-wrap a{max-height: 100%;}
}


.document-search .input-group {
    max-width: 400px;
    float: left;
}
.document-search .input-group input {
    border: 1px solid #00A2FD !important;
    border-radius: 3px;
    padding: 5px;
    height: 34px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group input::placeholder {font-size:12px;}
.document-search  button.btn.btn-pri {
    font-size: 13px;
    padding: 8px;
    font-weight: 500;
    min-width:75px;
}


.table {table-layout: fixed;}
.custom-table>thead {background: #a8b9d2;}
.custom-table>thead>tr>th {padding:15px 8px;border: none;color: #24292e;font-weight: 600;vertical-align: middle;}
.custom-table>tbody>tr{border-bottom: 1px solid #dddddd;}
.custom-table>tbody>tr>td {padding:0;}
// .custom-innertable>thead>tr>th {padding:0;color: #24292e;font-weight: 600;font-size: 13px;border:0;}
.custom-tbody>tr.bg-active {background: #e8f0fa;/*border-left: 10px solid #00A2FD;*/}
.table.custom-innertable{background-color: transparent;}
.table.custom-innertable>thead>tr>th {border:none;vertical-align: middle;padding:15px 8px;text-transform: capitalize;color: #24292e;font-weight: 600;font-size: 13px;}
.table.custom-innertable>tbody>tr>td {padding:15px 8px;vertical-align: middle;font-size:13px;font-weight:600;text-transform: capitalize;}
.table.custom-innertable>tbody>tr{border-bottom: 1px solid #fff;}
.table.custom-innertable>tbody>tr:last-child{border-bottom: none;}
// .table.custom-innertable>tbody {background:#e0e8f8;}
.table.custom-innertable>thead {background:#e0e8f8;}
.p-t-10 {padding-top:10px !important;}
.w-700 {width:700px;}
.f-w-500 {font-weight: 500;}
.f-w-600 {font-weight: 600;}


.table.custom-table.upload-table>thead>tr>th:nth-child(1) {width: 200px;max-width: 200px;}
.table.custom-table.upload-table>thead>tr>th:nth-child(2) {width: 150px;max-width: 150px;}
.table.custom-table.upload-table>thead>tr>th:nth-child(3) {width: 200px;max-width: 200px;}
.table.custom-table.upload-table>thead>tr>th:nth-child(4) {width: 200px;max-width: 200px;}
.table.custom-table.upload-table>thead>tr>th:nth-child(5) {width: 200px;max-width: 200px;}
.table.custom-table.upload-table>thead>tr>th:nth-child(6) {width: 300px;max-width: 300px;text-align:center;}

.table.custom-innertable.upload-table>thead>tr>th:nth-child(1) {width: 200px;max-width: 200px;}
.table.custom-innertable.upload-table>thead>tr>th:nth-child(2) {width: 150px;max-width: 150px;}
.table.custom-innertable.upload-table>thead>tr>th:nth-child(3) {width: 200px;max-width: 200px;}
.table.custom-innertable.upload-table>thead>tr>th:nth-child(4) {width: 200px;max-width: 200px;}
.table.custom-innertable.upload-table>thead>tr>th:nth-child(5) {width: 200px;max-width: 200px;}
.table.custom-innertable.upload-table>thead>tr>th:nth-child(6) {width: 300px;max-width: 300px;text-align:center;}

.action-icons.m-r li {margin-right:5px !important;}


.table.custom-table>thead>tr>th:nth-child(1) {width: 50px;max-width: 50px;}
.table.custom-table>thead>tr>th:nth-child(2) {width: 350px;max-width: 350px;}
.table.custom-table>thead>tr>th:nth-child(3) {width: 190px;max-width: 190px;}
.table.custom-table>thead>tr>th:nth-child(4) {width: 250px;max-width: 250px;}
.table.custom-table>thead>tr>th:nth-child(5) {width: 400px;max-width: 400px;}

.custom-tbody>tr>td:nth-child(1) {width: 50px;max-width: 50px;}
.custom-tbody>tr>td:nth-child(2) {width: 350px;max-width: 350px;}
.custom-tbody>tr>td:nth-child(3) {width: 190px;max-width: 190px;}
.custom-tbody>tr>td:nth-child(4) {width: 250px;max-width: 250px;}
.custom-tbody>tr>td:nth-child(5) {width: 400px;max-width: 400px;}

.table.custom-innertable>thead>tr>th:nth-child(1) {width: 30px;max-width: 30px;}
.table.custom-innertable>tbody>tr>td:nth-child(1) {width: 30px;max-width: 30px;}
.table.custom-innertable>thead>tr>th:nth-child(2) {width: 200px;max-width: 200px;}
.table.custom-innertable>thead>tr>th:nth-child(3) {width: 110px;max-width: 110px;}
.table.custom-innertable>thead>tr>th:nth-child(4) {width: 150px;max-width: 150px;}
.table.custom-innertable>thead>tr>th:nth-child(5) {width: 220px;max-width: 220px;}

.p-t-b-100 {padding:100px 0;}
.action-icons {margin-bottom: 0;}
.action-icons li {margin-right:15px;}
.action-icons li a {font-weight:600;color: #00A2FD;}
.action-icons li a i {font-size: 16px;margin-right:8px;}
.btn-pri-s {
    font-weight: 500;
    font-size: 13px;
}
.fa-chevron-down {
    color: #9a9999;
    font-weight: 500;
    font-size: 12px !important;
}
.a-btn {
    background: #00A2FD;
    color: #fff !important;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 10px;
}
.table th {
    text-transform: uppercase;
}


/* Document generate style */
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}
.clsMain{
    width: 750px;
    margin: auto;
}
.width-50{
    width: 50%;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
div[class*='col-']{
    float: left;
}
.col-1{
    width: 8.33333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
}
h5{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
}
header{
    border-bottom: 2px solid #ff0000;
    padding: 20px 0;
}
footer{
    border-top: 2px solid #ff0000;
    padding: 10px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    list-style: circle;

}
footer li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    padding: 0 0 0 15px;
    list-style: circle;
}
footer li:before{
    position: absolute;
    display: block;
    top: 8px;
    left: 3px;
    content: '';
    border: 3px solid red;
    border-radius: 100%;
}
.no-mar{
    margin: 0px !important;
}
.no-pad{
    padding: 0px !important;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-80{
    padding-top: 80px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-20{
    padding-left: 20px;
}
.mb-5{
    margin:0 0  5px;
}
.mt-10{
    margin: 10px 0 0 ;
}
.mt-15{
    margin: 15px 0 0 ;
}
.clsItalic p{
    font-style: italic;
    font-size: 13px;
}
.text-b{
    font-weight: 700;
}
.text-sm-b{
    font-weight: 600;
}
.text-n{
    font-weight: 400;
}
.show{
    display: block;
}
.clsMain{
    position: relative;
}
.clsOnePage{
    height:768px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.unstyled{
    padding: 0px;
    margin: 0px;
}
/*.unstyled li{
    list-style: none;
}*/
.text-35{
    font-size: 35px;
}
.text-9{
    font-size: 9px;
}
.clsRed{
    color: #ff0000;
}
footer p{
    margin-bottom: 5px;
}
.line-12{
    line-height: 12px;
}
.text-10{
    font-size: 10px;
}
.sep-bot{
    border-bottom: 1px solid #000;
    padding: 0 5px;
}
.MinWidth-70{
    min-width: 70px;
}
.uline, .unline {
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.uline {
    width: 90%;
}
.unline {
    width: 50%;
}
.pheight {
    display: block;
    width: 100%;
    height: 50px;
}
.pr-20{
    padding-right: 20px;
}
.text-12{
    font-size: 12px;
}
.pr-10{
    padding-right: 10px;
}
.clsWidth-80{
    width: 80%;
}
.clsWidth-77{
    width: 77%;
}
.clsWidth-70{
    width: 70%;
}
.pb-10{
    padding-bottom: 10px;
}
.clsMinwidth-30{
    min-width: 30px;
    display: inline-block;
}
.pt-50{
    padding-top: 50px;
}
.table.text-center th{
    text-align: center;
}
.dotline{
    border-bottom: 2px dotted #000000;
    width: 50%;
    display: inline-block;
}
.sectioni i {
    display: block;
}
.bd {
    border-bottom: 2px solid #000;
}
.pl-30 {
    padding: 0 0 0 30px;
}
.pt-30{
    padding: 30px 0 0 ;
}
.pt-10{
    padding-top: 10px;
}
.brd-top {
    border-top: 1px solid #000;
}
.brd-btm {
    border-bottom: 1px solid #000;
}
.brd-btm-dotted {
    border-bottom: 1px dotted #000;
}
.w-250 {
    width:250px;
    display:inline-block;
}
.w-200 {
    width:200px;
    display:inline-block;
}
.w-150 {
    width:150px;
    display:inline-block;
}
.w-1 {
    width:50px;
    display:inline-block;
}
.w-100 {
    width:100%;
    display:inline-block;
}
.mb-10 {
    margin-bottom:10px;
}
.mb-20 {
    margin-bottom:20px;
}
.mb-30 {
    margin-bottom:30px;
}
.mb-40 {
    margin-bottom:40px;
}
.mb-50 {
    margin-bottom:50px;
}
.mt-10 {
    margin-top:10px;
}
.mt-20 {
    margin-top:20px;
}
.mt-30 {
    margin-top:30px;
}
.mt-40 {
    margin-top:40px;
}
.mt-50 {
    margin-top:50px;
}
.mb-5 {
    margin-bottom:5px;
}
.mt-5 {
    margin-top:5px;
}
.ml-10 {
    margin-left:10px;
}
.ml-20 {
    margin-left:20px;
}
.ml-30 {
    margin-left:30px;
}
.ml-40 {
    margin-left:40px;
}
.ml-50 {
    margin-left:50px;
}
.ml-5 {
    margin-left:5px;
}
.mr-10 {
    margin-right:10px;
}
.mr-20 {
    margin-right:20px;
}
.mr-30 {
    margin-right:30px;
}
.mr-40 {
    margin-right:40px;
}
.mr-50 {
    margin-right:50px;
}
.mr-5 {
    margin-right:5px;
}
.checkicon span.fa.fa-square-o.pl-20, .checkicon p.fa.fa-square-o {
font-size: 16px;
margin-bottom: 10px;
}
.outer-brd {
border: 1px solid #000;
padding: 0 15px;
margin-top: 5px;
}
.b-shadow {
box-shadow: 0 0 3px 5px #f7f7f7;
margin: 0px -10px;
}
.table-height tbody tr td {height:38px;}
.m-width {
min-width:100px;
max-width:250px;
border-bottom:1px solid #333;
}
.text-b-6 {font-weight:600;}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
 }

button i {
    font-size: 16px;
}