<div class="tab-pane active" id="profile">
    <form action="" class="form-search-person profile" [formGroup]="personProfileFormGroup">
        <div class="box-grid no-mar" formGroupName="profile">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p style="padding-top:10px;">DCN:
                            <span>
                                <b></b>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Refused to provide</label>
                        <label class="control control--radio">
                            SSN
                            <input type="radio" name="refusessn" [checked]="(ssn === true)" value="ssn" formControlName="refusessn" (change)="changeProvide($event)">
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--radio">
                            DOB
                            <input type="radio" name="refusedob" value="dob" [checked]="(dob === true)" formControlName="refusedob" (change)="changeProvide($event)">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p class="required">First Name</p>
                        <input type="text" formControlName="firstname" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Middle Name</p>
                        <input type="text" formControlName="middlename" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p class="required">Last Name</p>
                        <input type="text" formControlName="lastname" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Suffix</p>
                        <input type="text" formControlName="nameSuffix" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6 dd-overflow-inherit">
                    <div class="form-group">
                        <p>Date of Birth</p>
                        <div class="fm-box-form">
                        <input type="text" validdate formControlName="dob" class="form-control fa fa-calendar calendar-icon" aria-hidden="true" a2e-datetimepicker
                            [options]="{format: 'MM/DD/YYYY', useCurrent: false, maxDate:null}">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Select Gender</p>
                        <ng-select formControlName="gendertypekey" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let gender of genderItems$ | async | orderBy:'text'" [value]="gender.value">{{gender.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Select Ethinicity</p>
                        <ng-select formControlName="ethnicgrouptypekey" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let ethnic of ethnicGroupItems$ | async | orderBy:'text'" [value]="ethnic.value">{{ethnic.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Select Marital Status</p>
                        <ng-select formControlName="maritalstatustypekey" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let status of maritalTypeItems$ | async | orderBy:'text'" [value]="status.value">{{status.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Primary Language </p>
                        <ng-select formControlName="primarylanguageid" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let language of languageItems$ | async | orderBy:'text'" [value]="language.value">{{language.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group ">
                        <p>Select Secondary Language</p>
                        <ng-select formControlName="secondarylanguageid" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let language of languageItems$ | async | orderBy:'text'" [value]="language.value">{{language.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>Interpreter Required</p>
                        <ng-select formControlName="interpreterrequired" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let item of interpreterDropdown" [value]="item.value">{{item.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group no-mar">
                        <p>Income Range</p>
                        <ng-select formControlName="incometypekey" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let income of incomeItems$ | async | orderBy:'text'" [value]="income.value">{{income.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>



        <div class="person-idendifier big-top-mspace">
            <div class="row" formGroupName="identifier">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p class="required">Person Identifier Type</p>
                        <ng-select formControlName="personidentifiertypekey" (change)="personIdentifierOnChange($event)" [searchable]="true" [clearable]="false">
                            <ng-option selected="selected" value="">Select</ng-option>
                            <ng-option *ngFor="let identifier of personIdentifierItems$ | async | orderBy:'text'" [value]="identifier.value">{{identifier.text}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p class="required">Identifier</p>
                        <input type="text" formControlName="personidentifiervalue" class="form-control" name="" placeholder="">
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="form-group">
                        <p>&nbsp;</p>
                        <button type="button" class="btn-bg" (click)="addIdentifier(personProfileFormGroup.value.identifier)">Add Identifier</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive ">
                <table class="table table-striped table-hover icon-action">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Identifier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of addedIdentifier">
                            <td>{{item?.personidentifiertype?.typedescription}}</td>
                            <td>{{item.personidentifiervalue}}</td>
                            <td>
                                <span data-toggle="tooltip" data-placement="top" title="" class="left-mspace" data-original-title="Delete" (click)="confirmDeleteIdentifier(item)">
                                    <a>
                                        <i class="fa fa-trash text-16"> </i>
                                    </a>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-grid">
            <div class="row" formGroupName="alias">
                <div class="col-md-4  col-sm-6">
                    <div class="form-group">
                        <p>New Alias</p>
                        <input type="text" formControlName="firstname" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-4  col-sm-6">
                    <div class="form-group">
                        <p>&nbsp;</p>
                        <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-md-4  col-sm-6">
                    <div class="form-group">
                        <p>&nbsp;</p>
                        <button type="button" class="btn-bg" (click)="addAlias(personProfileFormGroup.value.alias)">Add Alias</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-hover icon-action no-mar">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of addedAlias">
                            <td>{{item.firstname}} {{item.lastname}}</td>
                            <td>
                                <span data-toggle="tooltip" data-placement="top" title="" class="left-mspace" data-original-title="Delete" (click)="confirmDeleteAlias(item)">
                                    <a>
                                        <i class="fa fa-trash text-16"> </i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="box-grid clearfix">
            <div class="form-group check-width no-mar" formGroupName="race">
                <div class="row">
                    <div class="col-md-12">
                        <label>Select the Race of the person:</label>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6" *ngFor="let race of raceCheckboxFormArray.controls; let i=index">

                        <label class="control control--checkbox">
                            {{raceCheckboxItems[i]?.text}}
                            <input type="checkbox" [formControl]="race" (change)="onChangeRace($event)" [value]="raceCheckboxItems[i]?.value">
                            <div class="control__indicator"></div>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
