<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isSupervisor || isDjs">
        <div class="text-right">

            <button class="btn-pri" [disabled]="isClosed" (click)="openAgreement('ADD')">
                Add Agreement</button>

        </div>
    </div>

    <div class="col-md-12">
        <div class="form-letter-tab">
            <div class="tab">
                <div class="table-responsive table-theme">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Agreement Date</th>
                                <th>Sign Obtained</th>
                                <th>Approval Status</th>
                                <th>Approved Date</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agreementList">
                                <td>
                                    {{item.agreementdate | date:'MM/dd/yyyy'}}
                                </td>
                                <td>
                                    <ng-container *ngIf="item.signatureobtflag; else elseTemplate">
                                        Yes
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        No
                                    </ng-template>

                                </td>
                                <td>
                                    {{item.approvalstatustypekey | titlecase}}
                                </td>
                                <td>
                                    {{item.approvaldate | date:'MM/dd/yyyy'}}
                                </td>
                                <td class="action-btn">
                                        <ng-container *ngIf="isSupervisor && item?.approvalstatustypekey ==='review'">
                                                <button class="btn-pri"  (click)="reviewAgreement(item)"
                                                type="button">Review</button>
                                        </ng-container>
                                    <a (click)="viewAgreement(item)" type="button" data-toggle="modal"
                                        matTooltip="View Agreement"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    &nbsp;
                                    <a (click)="downloadAgreement(item)" data-toggle="modal" target="_blank"
                                        matTooltip="Download"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div>
        </div>


    </div>
</div>

<div class="modal fade" id="agreement-form" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeAgreement()">×</button>
                <h4 class="modal-title">Service Agreement</h4>
            </div>
            <div class="modal-body">

                <form [formGroup]="serviceAgreementFormGroup">
                    <div class="row">
                        <div class="col-sm-6">
                            <common-date-picker placeholder="Agreement date" [max]="maxDate" [min]="agreementMinDate"
                                formControlName="agreementdate" required (valueChange)="agreementDateChanged()">
                            </common-date-picker>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6 check-block m-t-20">
                                    <mat-checkbox formControlName="signatureobtflag" class="m-t-30">Signature Obtained
                                    </mat-checkbox>

                                </div>
                                <div class="col-sm-6">
                                    <common-date-picker placeholder="Signed Date" [min]="agreementDate" [max]="maxDate"
                                        formControlName="signeddate"
                                        [required]="serviceAgreementFormGroup.getRawValue().signatureobtflag">
                                    </common-date-picker>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                    <label class="required">Participant</label>
                            </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select class="" formControlName="persons" placeholder="Family Member">
                                    <mat-option [value]=""></mat-option>
                                    <ng-container *ngFor="let person of personList">
                                        <mat-option [value]="person.personid"> {{person.fullname}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select class="" formControlName="collateralid" placeholder="Collateral">
                                    <mat-option [value]=""></mat-option>
                                    <ng-container *ngFor="let person of collaterals">
                                        <mat-option [value]="person.collateralid"> {{person.fullname}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="required">Why family came to the attention of the agency</label>
                            <div class="form-group pr">
                                <quill-editor formControlName="attentiontx" class="quillEditor" format="html"
                                    [style]="{height: '100px'}">
                                </quill-editor>
                            </div>
                        </div>
                        <div class="col-sm-12 m-t-20">
                            <label>Head of household : {{householdName}}</label>
                        </div>
                        <div class="">
                            <div class="col-sm-4 bot-mspace-15 m-t-20">
                                <label for=""> Select Worker </label>
                            </div>

                            <div class="col-sm-8 bot-mspace-15 m-t-20">
                                <ng-select formControlName="staffid" [searchable]="true" [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let item of workerList" [value]="item.userid">{{item.username}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-sm-4 bot-mspace-15 m-t-20">
                                <label for=""> Select Case Associate </label>
                            </div>

                            <div class="col-sm-8 bot-mspace-15 m-t-20">
                                <ng-select formControlName="associateid" [searchable]="true" [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let item of supervisorsList" [value]="item.userid">
                                        {{item.username}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="m-t-20">
                            <div class="col-sm-4 bot-mspace-15 m-t-20">
                                <label for="" class="required"> Select Supervisor </label>
                            </div>

                            <div class="col-sm-8 bot-mspace-15 m-t-20">
                                <ng-select formControlName="supervisorid" [searchable]="true" [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let item of supervisorsList" [value]="item.userid">
                                        {{item.username}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer wizard-buttons">
                <div class="row text-right">
                    <div class="col-sm-12">
                        <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal"
                            (click)="closeAgreement()"> Cancel</button>

                        <ng-container *ngIf="isEditable">
                            <button *ngIf="!isSupervisor" type="button" value="Send For Approval" class="btn-pri"
                                (click)="saveAgreement('review')">Send For Approval</button>
                            <button *ngIf="isSupervisor" type="button" value="Send For Approval" class="btn-pri"
                                (click)="saveAgreement('approved')">Approve</button>
                            <button *ngIf="isSupervisor" type="button" value="Send For Approval" class="btn-pri"
                                (click)="saveAgreement('rejected')">Reject</button>

                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>