<section class="intake-nstyle record-intake">
  <div>
    <h3 class="">
      <span>PAYMENT DETAILS</span>
    </h3>
    <div class="row form-wrapper">
      <div class="col-sm-12">
        <div class="row detailslabel">
          <div class="col-sm-3">
            <h5>Payment Number</h5>
            <p>{{payment?.paymentno}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Payment Date</h5>
            <p>{{payment?.asofdate | date : 'MM/dd/yyyy'}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Deposit Number</h5>
            <p>{{payment?.lockboxno}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Area Code</h5>
            <p>{{payment?.vakaccountnumber}}</p>
          </div>
        </div>
        <div class="row detailslabel">
          <div class="col-sm-3">
            <h5>Payer Name</h5>
            <p>{{payment?.firstname}} {{payment?.lastname}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Memo First</h5>
            <p>{{payment?.customernumber}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Memo Last</h5>
            <p>{{payment?.checkno}}</p>
          </div>
          <div class="col-sm-3">
            <h5>Payment Amount</h5>
            <p>$ {{payment?.checkamt ? payment?.checkamt : '0.00'}}</p>
          </div>
          <!-- <div class="col-sm-4">
            <h5>Transfer To Restitution Account</h5>
            <p>{{payment?.initialpaymentdate}}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>