.panel-heading.selected-child { 
    background: #c2dff0 !important;
}

.person-panel .panel-body {
    min-height: 150px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.narrative-textarea {
    position: relative;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.narrative-textarea .textarea-icons a {
    display: inline-block;
    width: 32px;
    padding: 0;
    margin-left: 5px;
}
.narr-help {
    display: inline-block;
    font-size: 24px;
    color: #00A2FD;
    line-height:14px;
}

.card-wrapper {
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
}