<div class="row">
        <div class="col-md-12 section-title">
            <h4 class="text-uppercase">Referral</h4>
        </div>
        <div class="col-md-12" [formGroup]="referralForm">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Service type" (change)="listServiceSubtype($event.value)" formControlName="servicetype" required>
                            <mat-option *ngFor="let item of serviceTypeList$ | async" [value]="item.value">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Assessments" multiple formControlName="assessment">
                            <mat-option *ngFor="let item of assessmentList$ | async" [value]="item">{{item.titleheadertext}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Sub type" formControlName="servicesubtype" required>
                            <mat-option *ngFor="let item of subServiceTypes$ | async" [value]="item.value">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Attachments" multiple formControlName="attachement">
                            <mat-option  *ngFor="let item of attachmentList$ | async" [value]="item">{{item.originalfilename}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Jurisdiction" formControlName="countyid" required>
                            <mat-option *ngFor="let county of countyList$ | async" [value]="county.value">{{county.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-12">
                    <mat-form-field>
                            <textarea matInput placeholder="Referral notes" formControlName="narrative"  required></textarea>
                    </mat-form-field>
                </div> -->
                <div class="col-xs-12">
                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <h4 class="required">NARRATIVE</h4>
                        </div>

                        <div class="col-md-12">
                            <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
                                <quill-editor [style]="{height: '150px'}" [modules]="quillToolbar" formControlName="narrative">
                                </quill-editor>
                                <div class="textarea-icons ">
                                    <a href="javascript:{} ">
                                    <img *ngIf="recognizing" src="assets/images/voice-icon-on.png " >
                                    <img *ngIf="!recognizing" src="assets/images/voice-icon-off.png " >
                                    </a>
                                </div>
                                <control-messages></control-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-t-30">
            <div class="row card-wrapper">
                <div class="col-md-3" *ngFor="let person of involevedPerson$| async">
                    <div class="panel panel-default person-panel">
                        <div class="panel-heading selected-child">
                            <div class="media">
                                <div class="media-body">
                                    <h4><mat-checkbox (change)="selectPerson($event.checked, person)"><span class="m-l-10">
                                        {{
                                            (person?.firstname + ' ' + person?.lastname).length > 20
                                            ? (person?.firstname + ' ' + person?.lastname | slice: 0:20 |
                                            titlecase) + '...'
                                            : (person?.firstname + ' ' + person?.lastname | titlecase)
                                            }}
                                    </span></mat-checkbox></h4>
                                    <div class="person-role-height">
                                        <p class="designation" *ngFor="let role of person?.roles; let last = last">
                                            {{role.typedescription}}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <img *ngIf="person.userphoto" mat-card-avatar mat-card-md-image src="{{person.userphoto}}" />
                                    <img *ngIf="!person.userphoto" mat-card-avatar mat-card-md-image
                                        src="assets/images/ic_silhouette.png" />
                                    <!--<div><img src="assets/images/ic_silhouette.png" class="media-object"/></div>-->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="involved-person-tables">
                                <tr>
                                    <th>CJAMS PID#</th>
                                    <td>:</td>
                                    <td class="single-wrap">{{ person?.cjamspid }}</td>
                                </tr>
                                <tr>
                                    <th>D.O.B</th>
                                    <td>:</td>
                                    <td class="single-wrap">{{ person.dob | date: 'MM/dd/yyyy' }}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>:</td>
                                    <td class="single-wrap">{{ person.gender}}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>:</td>
                                    <td class="single-wrap">{{ person.phonenumber ? person.phonenumber : 'N/A' }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>:</td>
                                    <td *ngIf="person.address" class="single-wrap">
                                        {{ person.address.length > 25 ? (person.address | slice: 0:25) + '...' :
                                        person.address + ' ' + person.address2 + ' ' + person.city +' ' + person.state }}
                                    </td>
                                    <td *ngIf="!person.address" class="single-wrap">N/A</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right m-t-10">
            <button class="btn btn-pri btn-theme" (click)="submitReview()" [disabled]="referralForm.invalid">Submit</button>
        </div>
    </div>
    <div class="modal fade" id="list-supervisor" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content supervisorList">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Supervisor List</h4>
                </div>
                <div class="modal-body dashboard-cont">
    
                    <div class="tab-horizontal mrg-btm25">
    
                        <div class="tab-content boxgrid">
                            <div class="tab-pane active">
                                <div class="">
                                    <div class="bs-example">
                                        <table class="table aut-tbl-IntakeSupervisorListTable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>NAME</th>
                                                    <th>AGENCY</th>
                                                    <th>TYPE OF WORKER</th>
                                                    <th>UNIT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="supervisorsList?.length; else noItems">
                                                    <tr *ngFor="let supervisor of supervisorsList">
                                                        <td>
                                                            <mat-radio-button class="example-radio-button aut-rdo-supervisorRadio" [value]="supervisor"
                                                                (click)="onChangeSupervisor(supervisor)">
    
                                                            </mat-radio-button>
                                                        </td>
                                                        <td>{{supervisor.fullname}} </td>
                                                        <td>{{'AS'}}</td>
                                                        <td>{{'Supervisor'}}</td>
                                                        <td>{{'AS'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>No Items!</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button type="button" value="Yes" class="btn-pri aut-btn-intakeSubmitForReview" (click)="approveIntake()"> SUBMIT FOR APPROVE
                    </button>
                </div>
            </div>
        </div>
    </div>