<div class="container-fluid">
   <div class="row">
      <ng-container [ngSwitch]="requestDetail?.request_type">
         <ng-container *ngSwitchCase="'License Change'">
            <ng-container *ngIf="requestDetail?.min_age_to"></ng-container>
            <div class="col-sm-12">
   
   
               <div class="col-sm-3">
   
                  <h5>Min Age </h5>
                  <p class="m-0">{{requestDetail?.min_age_from}}</p>
               </div>
               <div class="col-sm-3">
   
                  <h5>Max Age </h5>
                  <p class="m-0">{{requestDetail?.max_age_from}}</p>
               </div>
               <div class="col-sm-3">
   
                  <h5>Gender </h5>
                  <p class="m-0">{{requestDetail?.gender_from}}</p>
               </div>
   
               <div class="col-sm-3">
   
                  <h5>Capacity </h5>
                  <p class="m-0">{{requestDetail?.children_no_from}}</p>
               </div>
            </div>
   
           
               <div class="col-sm-12">
                  <h5>Change Requested for </h5>
               </div>
               <div class="col-sm-12">
                     <div class="col-sm-3" *ngIf="requestDetail?.min_age_to">
   
                           <h5>Min Age </h5>
                           <p class="m-0">{{requestDetail?.min_age_to}}</p>
                        </div>
                        <div class="col-sm-3" *ngIf="requestDetail?.max_age_to">
            
                           <h5>Max Age </h5>
                           <p class="m-0">{{requestDetail?.max_age_to}}</p>
                        </div>
                        <div class="col-sm-3" *ngIf="requestDetail?.gender_to">
            
                           <h5>Gender </h5>
                           <p class="m-0">{{requestDetail?.gender_to}}</p>
                        </div>
            
                        <div class="col-sm-3" *ngIf="requestDetail?.children_no_to">
            
                           <h5>Capacity</h5>
                           <p class="m-0">{{requestDetail?.children_no_to}}</p>
                        </div>





                        








               </div>
           
         </ng-container>
         <ng-container *ngSwitchCase="loadRequest(requestDetail?.request_type)">
            <div class="row">
               <div class="col-sm-3">
                  <label for=""> Request Type </label>
                  <p> {{requestDetail?.request_type}}  </p>
               </div>
               <div class="col-sm-3">
                  <label for=""> License Number </label>
                  <p> {{requestDetail?.license_no}}  </p>
               </div>
               <div class="col-sm-3">
                  <label for="">Program Address</label>
                  <p> {{requestDetail?.program_address}}  </p>
               </div>
               <div class="col-sm-3" *ngIf="requestDetail?.request_type ==='Wavier'">
                  <label for="">COMAR Citation to be Wavier</label>
                  <p> {{requestDetail?.comar_citation}}  </p>
               </div>
               <div class="col-sm-3" *ngIf="requestDetail?.request_type ==='Variance'">
                  <label for="">COMAR Citation to be Varied</label>
                  <p> {{requestDetail?.comar_citation}}  </p>
               </div>
               <div class="col-sm-3">
                  <label for="">Program Site</label>
                  <p> {{requestDetail?.site_id}}  </p>
               </div>
            </div>
            <div class="m-t-10">
               <h4>Program Information</h4>
            </div>
            <div class="row">
                  <div class="col-sm-3">
                     <label for=""> Program Telephone Number </label>
                     <p> {{requestDetail?.program_phone}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for=""> Fax Number </label>
                     <p> {{requestDetail?.program_fax}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for="">{{requestDetail?.request_type}} Type</label>
                     <p> {{requestDetail?.waiver_type}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for="">Date</label>
                     <p> {{requestDetail?.request_date | date: 'MM/dd/yyyy'}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for="">Name/Title of Person Completing Request</label>
                     <p> {{requestDetail?.completing_person_name}}  </p>
                  </div>
               </div>
         <div class="m-t-10">
            <h5>If This Request Is Person-Specific Complete The Following:</h5>
         </div>   
         <div class="row">
            <div class="col-sm-3">
               <label for=""> Name </label>
               <p> {{requestDetail?.person_name}}  </p>
            </div>
            <div class="col-sm-3">
               <label for=""> Date of Birth </label>
               <p> {{requestDetail?.dob | date: 'MM/dd/yyyy'}}  </p>
            </div>
            <div class="col-sm-3">
               <label for="">Gender</label>
               <p> {{requestDetail?.gender}}  </p>
            </div>
            <div class="col-sm-3">
               <label for="">Date</label>
               <p> {{requestDetail?.request_date | date: 'MM/dd/yyyy'}}  </p>
            </div>
            <div class="col-sm-3" *ngIf="requestDetail?.request_type ==='Wavier'">
               <label for="">Reason(s) why the Wavier is required:</label>
               <p> {{requestDetail?.reason_for_request_wavier}}  </p>
            </div>
            <div class="col-sm-3" *ngIf="requestDetail?.request_type ==='Variance'">
                  <label for="">Reason(s) why the Variance is required:</label>
                  <p> {{requestDetail?.reason_for_request_variance}}  </p>
               </div>
         </div>
         <div class="media-body">
            <h5 >Requested time period of {{requestDetail?.request_type}} (enter both effective and end
               dates or check continuous):</h5>
            
         </div>
         <div class="row">
               <div class="col-sm-3" >
                  <label for=""> Effective Date of {{requestDetail?.request_type}}  </label>
                  <p> {{requestDetail?.request_effectivedate | date: 'MM/dd/yyyy'}}  </p>
               </div>
               <div class="col-sm-3">
                  <label for=""> Expiration Date of {{requestDetail?.request_type}}  </label>
                  <p> {{requestDetail?.request_expirationdate | date: 'MM/dd/yyyy'}}  </p>
               </div>
              
               <div class="col-sm-3">
                  <label for="">Continuous</label>
                  <p> {{requestDetail?.continuous}}  </p>
               </div>
               <div class="col-sm-3">
                  <label for="">Request Comments</label>
                  <p> {{requestDetail?.request_comments}}  </p>
               </div>
               <div class="col-sm-3 not-edit">
                  <label for="">Signature</label>
                  <p> <request-signature-field [(ngModel)]="signimage"></request-signature-field></p>
               </div>
            </div>
            <form [formGroup]="updateChangeRequestForm">
            <div class="row">
               <div class="col-md-3 m-t-20" >
                  <mat-form-field>
                     <mat-select placeholder="Type of Request" formControlName="type_of_request"  >
                        <mat-option *ngFor="let item of typeOfRequest" value="{{item}}">
                           {{item}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
               <div class="col-md-3">
                  <mat-form-field>
                     <textarea formControlName="reason"  type="text" matInput placeholder="Reason" ></textarea>
                 </mat-form-field>
               </div>
               <div class="col-md-3">
                  <mat-form-field>
                     <textarea type="text" formControlName="how_pgm_allowed_to_oprt"  matInput placeholder="How the program is allowed to operate" ></textarea>
                 </mat-form-field>
               </div>
               <div class="col-md-3 m-t-20">
                  <common-date-picker formControlName="expiration_date"   placeholder="Expiration Date"></common-date-picker>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <button (click)="updateChangeRequest()" class="btn-pri pull-right m-r-30" >
                     Save
                  </button>
               </div>
            </div>
            </form>
         </ng-container>
         <!-- <ng-container *ngSwitchCase="'Variance'">
            <div class="col-sm-12">
   
            </div>
         </ng-container> -->
         <ng-container *ngSwitchCase="'Voluntary Closure'">
               <div class="row">
                     <div class="col-sm-3">
                        <label for=""> Request Type </label>
                        <p> {{requestDetail?.request_type}}  </p>
                     </div>
                     <div class="col-sm-3">
                        <label for=""> Program Site </label>
                        <p> {{requestDetail?.site_id}}  </p>
                     </div>
                     <div class="col-sm-3">
                        <label for="">License Number</label>
                        <p> {{requestDetail?.license_no}}  </p>
                     </div>
                     <div class="col-sm-3">
                        <label for="">End Date</label>
                        <p> {{requestDetail?.request_date | date: 'MM/dd/yyyy'}}  </p>
                     </div>
                     <div class="col-sm-3">
                        <label for="">Request Comments</label>
                        <p> {{requestDetail?.request_comments}}  </p>
                     </div>
                  </div>
         </ng-container>
         <ng-container *ngSwitchCase="'License Extend'">
            <div class="row">
                  <div class="col-sm-3">
                     <label for=""> Request Type </label>
                     <p> {{requestDetail?.request_type}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for=""> Program Site </label>
                     <p> {{requestDetail?.site_id}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for="">License Number</label>
                     <p> {{requestDetail?.license_no}}  </p>
                  </div>
                  <div class="col-sm-3">
                     <label for="">Extended Expire Date</label>
                     <p> {{requestDetail?.new_license_expire_date | date: 'MM/dd/yyyy'}}  </p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-3">
                     <label for="">Request Comments</label>
                     <p> {{requestDetail?.request_comments}}  </p>
                  </div>
               </div>
      </ng-container>
   
      </ng-container>
   
   </div>
   
   <div class="row">      
         <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h4>Documents</h4>
                </div>
                
            </div>
            <div class="m-t-20 m-b-20">
                <div >
                    <div class="table-responsive table-theme">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="uploadedFile?.length; else elseTemplate">
                                    <tr *ngFor="let attachment of uploadedFile;let index =index">
                                        <td>
                                            <ng-container *ngIf="attachment?.name; else elseNameTemplate">
                                                {{attachment?.name}}
                                            </ng-container>
                                            <ng-template #elseNameTemplate>
                                                {{attachment?.title}}
                                            </ng-template>
                                            <div class="progress" *ngIf="attachment.percentage">
                                                <div class="progress-bar progress-bar-primary"
                                                    role="progressbar"
                                                    attr.aria-valuenow="{{attachment.percentage}}"
                                                    aria-valuemin="0" aria-valuemax="100"
                                                    [ngStyle]="{width:attachment.percentage+'%'}">
                                                    <span class="sr-only">{{attachment.percentage}}% Complete
                                                        (success)</span>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="action-icons">
                                            <div>
                                                <a *ngIf="attachment.s3bucketpathname" matTooltip="Download"
                                                    (click)="downloadFile(attachment.s3bucketpathname)">
                                                    <i class="fa fa-download font-16" aria-hidden="true"></i>
                                                </a>
                                               
                                            </div>

                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <tr>
                                        <td colspan="2">
                                            No Records Found!
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>   
</div>