<div class="text-right big-bot-space right-mspace-15">
      <button type="button" class="btn-pri" (click)="collectivePdfCreator()" [disabled]="downloadInProgress"> Download
      </button>
   </div>
   <div id="olm-capacity-change-letter" [ngClass]="isNotSelected('olm-capacity-change-letter') ? 'hide': 'show'">
      <div class="pdf-page sizeA4" data-page-name="OLM License Capacity Change Letter" data-page-end="true" data-page-number="1">
         <div class="container-fluid">
            <div id="background">
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <div class="">
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>DATE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>ADDRESS</p>
                     <p>&nbsp;</p>
                     <p>Dear:</p>
                     <p>&nbsp;</p>
                     <p>The Office of Licensing and Monitoring recommended that your organization proceed with the expansion process for your license<strong>.&nbsp; NAME OF LICENSING COORDINATOR </strong>inspected and recommended approval for your additional site on DATE.&nbsp; Your facility meets the requirements outlined in the Code of Maryland Regulations 14.31.06.08. Therefore, we issued you a license reflecting your increased capacity from <strong>NUMBER</strong> to <strong>NUMBER</strong> children.&nbsp; Return your retired license to (<strong>LICENSE COORDINATOR NAME</strong>) at this address.</p>
                     <p>&nbsp;</p>
                     <p>The enclosed license does not, by itself, permit you to receive placements from local departments of social services, the Department of Juvenile Services, or the Department of Health and Mental Hygiene.&nbsp; You must contact the Interagency Rates Committee to negotiate a rate.&nbsp; Once you have a rate, you must obtain a contract from the State department or departments from which you wish to receive payments for the care of children.</p>
                     <p>&nbsp;</p>
                     <p>The expiration date for this license is identical to the other licenses in your possession.&nbsp; If you have any questions, you may contact (<strong>LICENSE COORDINATOR NAME &amp; NUMBER)</strong>, to assist you and your staff.</p>
                     <p>&nbsp;</p>
                     <p>Sincerely,</p>
                     <p>&nbsp;</p>
                     <p>Executive Director</p>
                     <p>Office of Licensing and Monitoring</p>
                     <p>&nbsp;</p>
                     <p>C:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SSA Contracts</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Interagency Rates Committee</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>Enclosure&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="olm-age-gender-change-letter" [ngClass]="isNotSelected('olm-age-gender-change-letter') ? 'hide': 'show'">
      <div class="pdf-page sizeA4" data-page-name="OLM Age Gender Change Letter" data-page-end="true" data-page-number="1">
         <div class="container-fluid">
            <div id="background">
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <div class="">
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p><strong>DATE</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>ADDRESS</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p>Dear M ,</p>
                     <p>&nbsp;</p>
                     <p>At your request, we reviewed the documentation on file and determined that the program you define is appropriate for <strong>GENDER</strong> between the ages of <strong>AGE</strong> and <strong>AGE</strong>.&nbsp; Therefore, please find enclosed a new license reflecting the different <strong>AGE</strong> <strong>RANGE AND/OR GENDER</strong>.<strong>&nbsp; </strong></p>
                     <p>&nbsp;</p>
                     <p>The retired license records the gender as <strong>GENDER </strong>and the ages as <strong>BETWEEN AGE AND AGE</strong>.&nbsp; The date of expiration is the same as the retired license.&nbsp; Please return the retired license to <strong>(INSERT NAME OF LICENSING COORDINATOR) </strong>at this address.&nbsp; If you have any questions regarding your new license, please call or email <strong>(INSERT NAME OF LICENSING COORDINATOR)</strong> at (410) 767-<strong>NUMBER OR EMAIL ADDRESS.</strong></p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>Sincerely,</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>Darlene Ham</p>
                     <p>Executive Director</p>
                     <p>Office of Licensing and Monitoring&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>Enclosure</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="olm-change-denial-letter" [ngClass]="isNotSelected('olm-change-denial-letter') ? 'hide': 'show'">
      <div class="pdf-page sizeA4" data-page-name="OLM Change Denial Letter" data-page-end="true" data-page-number="1">
         <div class="container-fluid">
            <div id="background">
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <div class="">
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p><strong>DATE</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>ADDRESS</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p><strong>&nbsp;</strong></p>
                     <p>Dear M ,</p>
                     <p>&nbsp;</p>
                     <p>At your request, the Office of Licensing and Monitoring reviewed <strong>Agency Name</strong> request for <strong>age/gender</strong> change on your license. The request documentation determined that the program you defined does not meet your program specifications appropriate for <strong>GENDER/AGE RANGE </strong>change<strong>.</strong>&nbsp; Therefore, the Office of Licensing and Monitoring will not approve <strong>Agency Name</strong> request for <strong>age/gender</strong> license change.</p>
                     <p>&nbsp;</p>
                     <p>If you have any questions regarding the denial of <strong>Agency Name</strong> license change request, please call or email <strong>(INSERT NAME OF LICENSING COORDINATOR)</strong> at (410) 767-<strong>NUMBER OR EMAIL ADDRESS.</strong></p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>Sincerely,</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>Darlene Ham</p>
                     <p>Executive Director</p>
                     <p>Office of Licensing and Monitoring&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>&nbsp;</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>