<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="box-grid-main clsMinHeight clearfix">
        <div class="row m-t-20">
            <div class="col-sm-8">
                <h4> Rate</h4>
            </div>
            <div class="col-sm-4 text-right btns-top">
                <button class="btn-pri" matTooltip="Service History" (click)="getHistory()" data-target="#history"
                    data-toggle="modal"><i aria-hidden="true" class="fa fa-history m-r-5"></i>History</button>
                <button type="submit" class="btn-pri" data-target="#provider-rates" data-toggle="modal">Add Rates
                </button>
            </div>
        </div>

        <div class="row">
                <div class="col-md-12 m-t-20   table-responsive table-theme ">
                        <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Program rate id</th>
                            <!-- <th>License type </th> -->
                            <th>Per diem rate</th>
                            <th>Start Date</th>
                            <th>End Date</th>

                            <th>Month Rate</th>
                            <th>Annual Rate</th>
                            <!-- <th>Rate code</th> -->
                           <!--  <th>Rate Status </th> -->
                            <th>Actions </th>


                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let rate of licenserates.data">
                                <tr *ngIf="rate.rate_status !== 'Expired'" >
                                        <td>{{rate.program_rate_id}}</td>
                                        <!-- <td>{{rate.license_type}}</td> -->
                                        <td>{{rate.per_diem_rate_no}}</td>
                                        <td>{{rate.start_dt | date: 'MM/dd/yyyy'}}</td>
            
                                        <td>{{rate.end_dt| date: 'MM/dd/yyyy'}}</td>
            
            
                                        <td>{{rate.monthly_rate_no}}</td>
            
                                        <td>{{rate.annual_rate_no}}</td>
            
                                        <!-- <td>{{rate.rate_code}}</td> -->
                                        <!-- <td>{{rate.rate_status}}</td> -->
                                        <td>
                                            <!-- <button class="btn-pri" (click)="EditPhone(phone)">Edit</button> -->
                                            <button class="no-bg"> <i class="fa fa-pencil" (click)="EditRate(rate)"></i></button>
                                            <!-- <i class="fa fa-trash" (click)="Deleterate(rate)"></i>  -->
                                        </td>
                                    </tr>
                        </ng-container>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="provider-rates" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closewindow()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{FormMode}} New Rates</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="ratesForm">
                    <div class="row">


                        <div class="col-md-5">
                            <!-- <mat-form-field>
                                  <input type="text" matInput formControlName="start_date" placeholder="Start Date">
                                  <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                  <mat-datepicker #start_date [startAt]="startDate"></mat-datepicker> 
  
                              </mat-form-field> -->
                            <div class="col-md-5">
                                <!-- <mat-form-field>
                                                  <input matInput required [matDatepicker]="picker" [min]="minDate" (click)="picker.open()"
                                                       (focus)="picker.open()" id="contract_start_date"
                                                      formControlName="contract_start_date" placeholder="End Date">
                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker></mat-datepicker>
                                              </mat-form-field> -->

                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                        formControlName="start_dt">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>


                            </div>


                            <div class="col-md-5">
                                <!-- <mat-form-field>
                                                      <input matInput required [matDatepicker]="picker" [min]="minDate" (click)="picker.open()"
                                                           (focus)="picker.open()" id="contract_end_date"
                                                          formControlName="contract_end_date" placeholder="Date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field> -->

                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                        formControlName="end_dt">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input type="number" matInput formControlName="per_diem_rate"
                                        placeholder="Per diem rate">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input type="number" matInput formControlName="monthly_rate"
                                        placeholder="Month Rates">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div class="col-md-5">
                            <mat-form-field>
                                <mat-select input type="text" matInput formControlName="license_type"  placeholder="Available License Types">
                                <mat-option *ngFor="let item of licenseTypes " value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                    </mat-select>

                            </mat-form-field>
                    </div> -->
                        <div class="col-md-5">
                            <mat-form-field>
                                <mat-select input type="text" matInput formControlName="rate_code"
                                    placeholder="Available Rate Codes" (change)="changePerdiumRate($event)">
                                    <mat-option *ngFor="let item of licensetyperates.data" value="{{item.rate_code}}">
                                        {{item.rate_code}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field>
                                <input type="number" matInput formControlName="annual_rate" placeholder="Annual Rates">
                            </mat-form-field>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri" (click)="createNewRates(ratesForm.value)"
                                    (change)="Change($event)">{{FormMode=="Edit"?"Update":"Create"}}</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="history" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">History</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="m-r-10 m-l-10 table-responsive table-theme ">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Program rate id</th>
                                    <th>Per diem rate</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>

                                    <th>Month Rate</th>
                                    <th>Annual Rate</th>
                                   <!--  <th>Rate Status </th>
 -->

                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let rate of licenserates.data" >
                                        <tr  *ngIf="rate.rate_status === 'Expired'">
                                                <td>{{rate.program_rate_id}}</td>
                                                <td>{{rate.per_diem_rate_no}}</td>
                                                <td>{{rate.start_dt | date: 'MM/dd/yyyy'}}</td>
            
                                                <td>{{rate.end_dt| date: 'MM/dd/yyyy'}}</td>
            
            
                                                <td>{{rate.monthly_rate_no}}</td>
            
                                                <td>{{rate.annual_rate_no}}</td>
            
                                                <!-- <td>{{rate.rate_code}}</td> -->
                                             <!--    <td>{{rate.rate_status}}</td> -->
                                               
                                            </tr>
                                </ng-container>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>