<div role="tabpanel" class="tab-pane dd-overflow-inherit">
   <div class="cnt-min-height">
      <div class="row">
         <div class="col-sm-8">
            <h4> Category - Placement (LDSS) </h4>
         </div>
      </div>
      <div [formGroup]="publicReferralInfoForm">
         <div class="row modal-content-pad modal-height-body">
            <div class="col-sm-6">
               <mat-card>
                  <h3>Program Details</h3>
                  <!-- <mat-form-field>
                      <input type="text"  matInput formControlName="organization_first_nm" placeholder="Organization Name">
                   </mat-form-field>
                   <mat-form-field>
                      <input type="text"  matInput formControlName="organization_tax_id" placeholder="Organization Tax ID">
                   </mat-form-field> -->
                  <div class="col-sm-6">
                     <mat-form-field>
                        <mat-select placeholder="Program" formControlName="prgram" (change)="selectedProgramNames($event)" required>
                           <mat-option *ngFor="let item of programsTypes$ | async" [value]="item.text">
                              {{item.text}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field>
                        <mat-select placeholder="Age Group" formControlName="age_group" multiple>
                           <mat-option *ngFor="let item of ageGroup" [value]="item">
                              {{item}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                     <mat-form-field>
                        <mat-select placeholder="Program Type" formControlName="provider_program_type" required>
                           <mat-option *ngFor="let program of programs" [value]="program">
                              {{program}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field>
                        <mat-select placeholder="Inquiry Source" formControlName="inquiry_source">
                           <mat-option *ngFor="let item of inquirySource" [value]="item">
                              {{item}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-sm-6">            
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Internet'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter the Website">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Radio Station'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter the Station">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Television'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter the channel">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Newspaper'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter the name of paper">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Community Event'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter the name of the event">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='MVA'">
                        <input matInput type="text" formControlName="inquiry_source_details" placeholder="For which one">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Billboard'">
                        <input matInput type="text" formControlName="inquiry_source_details" placeholder="for which one">
                     </mat-form-field>
                     <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=='Other'">
                        <input matInput type="text" formControlName="inquiry_source_details"
                           placeholder="Please enter a description">
                     </mat-form-field>
                  </div>
                  <!-- <mat-form-field>
                     <mat-select placeholder="Age Group" formControlName="age_group">
                        <mat-option *ngFor="let item of ageGroup" [value]="item">
                           {{item}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field> -->                  
                  <!-- <mat-form-field *ngIf="publicReferralInfoForm.value.inquiry_source=''">
                     <input matInput type="text" formControlName="inquiry_source_details" placeholder="Program">
                  </mat-form-field> -->
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="pull-right">
                           <button [hidden]='isReadOnly' class="btn-pri" (click)="saveInformation()">Save</button>
                        </div>
                     </div>
                  </div>
               </mat-card>
               <!-- <div [formGroup]="savedProgramDetailsForm">
                  <mat-card>
                     <h3>Saved Program Details</h3>
                     <mat-form-field>
                        <input matInput type="text" formControlName="prgram" placeholder="Program">
                     </mat-form-field>
                     <mat-form-field>
                        <fieldset>
                           <textarea type="text" formControlName="provider_program_type" matInput
                              placeholder="Program Type"></textarea>
                        </fieldset>
                     </mat-form-field>

                  </mat-card>
               </div> -->                      
            </div>
            <div class="col-sm-3">               
            </div>
            <div class="col-sm-3 ">
            </div>

         </div>
      </div>
   </div>
</div>