<!-- <div class="modal fade in on-demand-activities" tabindex="-1" id="myModal-site-checklist" role="dialog" data-backdrop="static"
    data-keyboard="false"> -->

    <div class="modal fade in on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false" style="display: block;">

        <div class="modal-dialog modal-lg">
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="onClose()">×</button>
                    <h4 class="modal-title">Check List</h4>
                </div>
                <!-- [formGroup]="formGroup" -->
                <div class="modal-body modal-body-maxh">
                    <form [formGroup]="formGroup">
                        <!-- <div class="row">
                            <div class="col-sm-4">
                                <div class="fm-box dd-overflow-inherit">
    
                                    <mat-form-field>
                                        <mat-select placeholder="Category" (change)="onChangeActivity($event.value)">
                                            <mat-option *ngFor="let item of activityDropdownItems$" value="{{item.picklist_value_cd}}">
                                                {{item.value_tx}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                   
                                </div>
                            </div>
                       
                        </div> -->
                    
                        <div class="row mrg-top25">
                            <div class="col-sm-5">
                                <div class="fm-box">
                                    <p>
                                        <b>Child Charasteristics</b>
                                    </p>
                                    <div class="form-group multiple-select modal-multi">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let item of leftTasks">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" (change)="toggleTask('left', item, $event)">
                                                        </label>
                                                        <div class="tasks">{{item.value_tx}}</div> 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="btn-group btn-group-re multi-slt-btn">
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                        (click)="selectAllTask()">Add All &gt; &gt;</button>
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                        (click)="selectTask()">Add &gt;</button>
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                        (click)="unSelectTask()">&lt; Remove</button>
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                        (click)="unSelectAllTask()"> &lt; &lt; Remove All</button>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="fm-box">
                                    <p>
                                        <b>Selected Child Charasteristics</b>
                                    </p>
                                    <div class="form-group multiple-select modal-multi">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let item of rightTasks | orderBy:'task'">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" (change)="toggleTask('right', item, $event)">
                                                        </label>
                                                        <div class="tasks">{{item.value_tx}}</div>                                                     
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" data-dismiss="modal" (click)="activitySave()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
    