<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="form-search-person">
                <div class="row multi customize-modal">
                    <div class="col-md-5 ">
                        <div class="form-group multiple-select">
                            <div class="fm-box">
                                <p>
                                    <b></b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftItems | orderBy: 'name'">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="selectItem('left', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="btn-group btn-group-re multi-slt-btn">
                            <button type="button" class="btn-pri" [disabled]="buttonState()" (click)="selectAll()">
                                Add All</button>
                            <button type="button" class="btn-pri" [disabled]="buttonState()" (click)="select()">
                                Add</button>
                            <button type="button" class="btn-pri mt-15" [disabled]="buttonState()" (click)="unSelect()"> Remove</button>
                            <button type="button" class="btn-pri" [disabled]="buttonState()" (click)="unSelectAll()">Remove All</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group multiple-select">
                            <div class="fm-box">
                                <p>
                                    <b></b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of rightItems">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="selectItem('right', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="pull-right">
            <button type="button" value="Save" class="btn-pri" [disabled]="rightItems.length === 0" (click)="saveItem()">Save</button>
        </div>
    </div>
</div>