.sign-box {
    width: 100%;
    height: 150px;
    background: #f5f5eb;
    position: relative;

    a {
        border: 1px solid #039BE7;
        padding: 1px 4px;
        background: #ffffff;
        position: absolute;
        left: 8px;
        top: 8px;

        .fa-refresh:before {
            content: "\f021";
            color: #00A2FD;
        }
    }
}

.sign-capt {
    color: #c3c3c3;
    text-align: center;
}