<div id="Assessments" class="tab-pane" role="tabpanel">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <h4>Assessment Template</h4>
                <div class="form-letter-tab form-align m-t-10">
                    <div class="table-responsive table-theme">
                        <table class="table table-striped icon-action" *ngIf="(startAssessment$ | async) as assessmentDetails">
                            <thead>
                                <tr>
                                    <!-- <ng-container *securityKey="'caseworker-assessment-start'"> -->
                                    <th *ngIf="!isViewCase" style="width: 50px;">Action</th>
                                <!-- </ng-container> -->
                                    <th>Title</th>
                                    <th>Due Days</th>
                                    <!-- <th>Target</th> -->
                                </tr>
                            </thead>
                            <!-- POC code -->
                            <!-- <tbody *ngFor="let assessment of internalAssessments; let i = index">
                                    <tr>
                                        <td>
                                            <a data-toggle="modal" data-placement="top" title="start"
                                                data-original-title="Start" (click)="startAssessment_v2(assessment, 'start')">
                                                <img src="assets/images/assess-start.png">
                                            </a>
                                        </td>
                                        <td class="text-caps" *ngIf="assessment === 'AOD'">
                                            New AOD Form - (HTML POC)
                                        </td>
                                        <td class="text-caps" *ngIf="assessment === 'cans-v2'">
                                            New CANS-F Form - (HTML POC)
                                        </td>
                                        <td class="text-caps" *ngIf="assessment === 'MFIRA'">
                                            New MIFRA - (HTML POC)
                                        </td>
                                        
                                        <td style="text-align: center;">{{ assessment?.duedays !== '0' ? assessment?.duedays : '' }}</td>

                                    </tr>
                            </tbody> -->

                            <tbody *ngFor="let assessment of assessmentDetails; let assessmentIndex = index">
                                <ng-container *ngIf="assessment.isvisible">
                                    <ng-container *ngIf="assessment.description === 'APPLA' && showAppla ? false : true && assessment.description !== 'Shelter Care Authorization and Date of Hearing'">
                                        <tr *ngIf="(isCansfShow && assessment.external_templateid === '5b90c64e8c425c47f9dd4d41') ||
                                (assessment.external_templateid != '5b90c64e8c425c47f9dd4d41')">
                                <!-- <ng-container *securityKey="'caseworker-assessment-start'"> -->
                                            <td *ngIf="!isViewCase">
                                                <ng-container *ngIf="assessment.description === 'SAFE-C OHP'">
                                                    <a data-toggle="modal" data-placement="top" title="start" [ngClass]="{'disabledField': isClosed}"
                                                        data-original-title="Start" (click)="startAssessment(assessment, 'start')"
                                                        class="aut-link-assessment_{{assessment.external_templateid}}">
                                                        <img src="assets/images/assess-start.png">
                                                    </a>
                                                </ng-container>
                                                <ng-container *ngIf="assessment.description !== 'SAFE-C OHP' && assessment.description !== 'NCFAS' && assessment.description !== 'Risk Assessment Legacy'">
                                                    <a data-toggle="modal"
                                                        *ngIf="(hasMDInitialRisk && assessment.description === 'Maryland Family Risk Reassessment') || (assessment.description !== 'Maryland Family Risk Reassessment')"
                                                        data-placement="top" title="start" data-original-title="Start" [ngClass]="{'disabledField': isClosed}"
                                                        (click)="startAssessment(assessment, 'start')"
                                                        class="aut-link-assessment_{{assessment.external_templateid}}">
                                                        <img src="assets/images/assess-start.png">
                                                    </a>
                                                </ng-container>
                                            </td>
                                        <!-- </ng-container> -->
                                            <td class="text-caps">
                                                <a style="padding : 10px 10px 10px 10px" *ngIf="assessment?.intakassessment">
                                                    <i
                                                        (click)="showAssessment(assessmentIndex, assessment?.intakassessment)"
                                                        [class]="showAssesment === assessmentIndex ? 'fa fa-angle-up' : 'fa fa-angle-down'"
                                                        aria-hidden="true"
                                                    ></i>
                                                </a>
                                                <span class="tr-brd-red" *ngIf="assessment.assessmentstatustypekey == 'Open'"></span>
                                                <span class="tr-brd-orange" *ngIf="assessment.assessmentstatustypekey == 'Inprocess'"></span>
                                                <span class="tr-brd-green" *ngIf="assessment.assessmentstatustypekey == 'Submitted'"></span>
                                                {{ (assessment.description==='cans-v2')? 'CANS-F' : assessment.description }}
                                            </td>
                                            <td style="text-align: center;">{{ assessment?.duedays !== '0' ? assessment?.duedays : '' }}</td>
                                            <!-- <td>{{assessment.target}}</td> -->
                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                                    <td colspan="4">
                                        <table class="table table-bordered icon-action">
                                            <thead>
                                                <tr>
                                                    <th *ngIf="isServiceCase">CPS ID/CASE ID</th>
                                                    <th>Assessments</th>
                                                    <th>Updated By</th>
                                                    <th>Updated Date</th>
                                                    <th>Status</th>
                                                    <!-- D-07375 Start -->
                                                    <!-- <th>Comments</th> -->
                                                    <!-- D-07375 End -->
                                                    <th *ngIf="!isCW">score</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                <ng-container *ngFor="let data of getAssess">
                                                    <!-- *ngIf="(data.assessmentstatustypekey !=='InProcess' && roleId.role.name === 'apcs') ||
                                                        (data.assessmentstatustypekey ==='InProcess' && roleId.role.name === 'field') " -->
                                                    <tr>
                                                        <td *ngIf="isServiceCase">{{ data?.servicerequestnumber }}</td>
                                                        <td>{{ (data.titleheadertext==='cans-v2')? 'CANS-F' : data.titleheadertext }}</td>
                                                        <td>{{ data.username }}</td>
                                                        <td>{{ data.updateddate | date: 'MM/dd/yyyy - h:mm a' }}</td>
                                                        <td>
                                                            <ng-container *ngIf="data.assessmentstatustypekey === 'Accepted'; else elseTemplate">
                                                                Approved
                                                            </ng-container>
                                                            <ng-template #elseTemplate>
                                                                   {{ data.assessmentstatustypekey }}
                                                            </ng-template>
                                                            
                                                          
                                                        </td>
                                                        <!-- D-07375 Start -->
                                                        <!-- <td>{{data.comments}}</td> -->
                                                        <!-- D-07375 End -->
                                                        <td *ngIf="!isCW">{{ data.score }}</td>
                                                        <!-- <td *ngIf="data.score !== -1">{{data.score}}</td>
                                                        <td *ngIf="data.score === -1">{{notApplicableScore}}</td> -->
                                                        <td class="icon-btn">
                                                            <!-- <ng-container *securityKey="'caseworker-assessment-view'"> -->
                                                                <span
                                                                    data-toggle="modal"
                                                                    *ngIf="actionIconDisplay(data, 'View')"
                                                                    data-toggle="modal"
                                                                    title="View"
                                                                    data-placement="top"
                                                                    data-original-title="View"
                                                                    (click)="startAssessment(data, 'submit')"
                                                                >
                                                                    <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                                                                </span>
                                                            <!-- </ng-container> -->
                                                            <!-- <ng-container *securityKey="'caseworker-assessment-edit'"> -->
                                                                <span
                                                                    [class]="isIconDisabled(data)"
                                                                    data-toggle="modal"
                                                                    *ngIf="actionIconDisplay(data, 'Edit') || data.assessmentstatustypekey === 'InProcess'"
                                                                    data-toggle="modal"
                                                                    title="Edit"
                                                                    [ngClass]="{'disabledField': isClosed}"
                                                                    data-placement="top"
                                                                    data-original-title="Edit"
                                                                    (click)="startAssessment(data, 'update')"
                                                                >
                                                                    <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                                                </span>
                                                            <!-- </ng-container> -->
                                                            <!-- <ng-container *securityKey="'caseworker-assessment-print'"> -->
                                                                <!-- <span
                                                                    *ngIf="actionIconDisplay(data, 'Print')"
                                                                    title="{{ getPrintTitle(data) }}"
                                                                    data-placement="top"
                                                                    data-original-title="getPrintTitle(data)"
                                                                    (click)="startAssessment(data, 'print')"
                                                                >
                                                                    <i class="fa fa-print fa-size" aria-hidden="true"></i>
                                                                </span> -->
                                                            <!-- </ng-container> -->
                                                            <!-- <ng-container *securityKey="'caseworker-assessment-delete'"> -->
                                                                <span
                                                                    [class]="isIconDisabled(data)"
                                                                    data-toggle="modal"
                                                                    *ngIf="actionIconDisplay(data, 'Edit') || data.assessmentstatustypekey === 'InProcess'"
                                                                    data-toggle="modal"
                                                                    title="Delete"
                                                                    [ngClass]="{'disabledField': isClosed}"
                                                                    data-placement="top"
                                                                    data-original-title="Delete"
                                                                    (click)="confirmDelete(data.assessmentid)"
                                                                >
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </span>
                                                            <!-- </ng-container> -->

                                                            <!-- <span data-toggle="modal" *ngIf="data.assessmentstatustypekey === 'InProcess'" data-toggle="modal" title="Edit" data-placement="top" data-original-title="Edit"
                                                        (click)="startAssessment(data, 'update')">
                                                        <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                                    </span> -->
                                                            <!-- <img src="assets/images/form-letter/edit-icon.png"  (click)="submittedAssessment(assessment)"> </td> -->
                                                            <!-- assessment.assessmentstatustypekey -->
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mt-10" *ngIf="(totalRecords$ | async)?.length > paginationInfo.pageSize25 ">
                            <pagination [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize25"></pagination>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade" id="delete-assessment-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content delete">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Assessment?</p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal">No</button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteAssessment()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
