<div class="tab-pane active" id="search-person">
    <div class="row textLeft" *ngIf="(person$ | async)?.personbasicdetails; let person">
        <div class="col-sm-12">
            <p>
                <strong>Person Information </strong>
            </p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label class="col-sm-6">First Name</label>
                <span class="col-sm-6 value-txt">{{person.firstname}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Middle Name</label>
                <span class="col-sm-6 value-txt">{{person.middlename}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Last Name</label>
                <span class="col-sm-6 value-txt">{{person.lastname}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Suffix</label>
                <span class="col-sm-6 value-txt">{{person.nameSuffix}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Date of Birth</label>
                <span class="col-sm-6 value-txt">{{person.dob | date : 'MM/dd/yyyy'}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Gender</label>
                <span class="col-sm-6 value-txt">{{person.gendertypekey}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Ethnicity</label>
                <span class="col-sm-6 value-txt">{{person.ethnicgrouptypekey}}</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label class="col-sm-6">Race</label>
                <span class="col-sm-6 value-txt">{{person.racetypekey}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Marital Status</label>
                <span class="col-sm-6 value-txt">{{person.maritalstatustypekey}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Primary Language</label>
                <span class="col-sm-6 value-txt"></span>
            </div>
            <div class="row">
                <label class="col-sm-6">Secondary Language</label>
                <span class="col-sm-6 value-txt"></span>
            </div>
            <div class="row">
                <label class="col-sm-6">Interpreter Required</label>
                <span class="col-sm-6 value-txt">{{person.interpreterrequired}}</span>
            </div>
            <div class="row">
                <label class="col-sm-6">Person Income</label>
                <span class="col-sm-6 value-txt">{{person.incometypekey}}</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label class="col-sm-4">Aliases</label>
                <span class="col-sm-8 value-txt" *ngFor="let alias of person.alias">
                    <textarea name="" disabled class="form-control full-width" rows="3">{{alias.firstname}} {{alias.lastname}}</textarea>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="(person$ | async)?.personbasicdetails?.personidentifier; let personidentifier$">
            <div class="table-responsive " *ngIf="personidentifier$.length > 0">
                <p>
                    <strong>Identifier</strong>
                </p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Identifier</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let identifier of (personidentifier$)">
                            <td>{{identifier.personidentifiertypekey}} </td>
                            <td>{{identifier.personidentifiervalue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>