<div class="row placement-detail">
    <div class="col-sm-3">
      <h5>Type</h5>
      <p class="m-0">{{child?.placement?.placementTypeDesc}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Living Arrangement</h5>
      <p class="m-0">{{child?.placement?.livingarrangementtype}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Start Date</h5>
      <ng-container *ngIf="child?.placement?.revisionupdate; else elseStartDateTemplate">
          <span > {{child?.placement?.revisionupdate?.entrydate | date : 'MM/dd/yyyy'}} {{child?.placement?.revisionupdate?.entrytime}} </span>
        </ng-container>
        <ng-template #elseStartDateTemplate>
            {{child?.placement?.livingstartdate | date : 'MM/dd/yyyy hh:mm'}} 
        </ng-template>
     
    </div>
    <div class="col-sm-3">
      <h5>End Date</h5>
      <p class="m-0"> &nbsp;{{child?.placement?.livingenddate | date : 'MM/dd/yyyy hh:mm'}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Primary Contact Name</h5>
      <p class="m-0">{{(child?.placement?.livingfirstname)?child?.placement?.livingfirstname:'N/A'}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Primary Phone Number</h5>
      <p class="m-0">{{(child?.placement?.contactphone)?child?.placement?.contactphone:'N/A'}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Address </h5>
      <p class="m-0"><placement-address-info [placement]="child?.placement" ></placement-address-info></p>
    </div>

  </div>