<!-- Title IV-E Adoption Child Assessment Starts -->
<div class="box-grid-main">
        <div class="cont-brd m-t-20">
            <div class="row">
                    <br>
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                            <div class="row">
                                    <div class="col-md-11 text-right">
                                    <button class="btn-pri" (click)="checklogs()">Logs</button>
                                    <button class="btn-pri" (click)="checkwarnings()">Warnings</button>
                                    </div>
                            </div>
                    </div>
            </div> 
            <div class="row"> <br></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="head-bg">Section I - To be completed by the child's caseworker and submitted to the local Title IV-E Unit prior to adoption agreement negotiation.</h4>
                </div>
                <div class="col-md-12">
                    <div class="adoption-inner m-20"  [formGroup]="adoptionChildAssessmentForm">             
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    A. Child Status Information
                                </mat-expansion-panel-header>
                                <div class="row head-pad">
                                    <div class="col-sm-4 m-t-20">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker10" placeholder="Child Birth Date" formControlName="childbirthdate">
                                            <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                            <mat-datepicker #picker10></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4 m-t-20">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker11" placeholder="Child's Expected Adoption Date" formControlName="expectedadoptiondate">
                                            <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                            <mat-datepicker #picker11></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="">
                                        <div class="col-md-12">
                                            <h4 class="font-sm-b">1. Child Age</h4>
                                            <p class="text-center">Check the age of the child for EXPECTED year of the adoption during the federal fiscal year (October 1 to September 30)</p>
            
                                            <div class="child-tb-align">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr> 
                                                            <td><mat-checkbox formControlName = "childAgeTable1618"></mat-checkbox></td>
                                                            <td>16-18</td>
                                                            <td>October 1, 2009 - September 30, 2010</td>
                                                            <td><mat-checkbox formControlName = "childAgeTable418"></mat-checkbox></td>
                                                            <td>4-18</td>
                                                            <td>October 1, 2015 - September 30, 2016</td>
                                                        </tr>
                                                        <tr>
                                                            <td><mat-checkbox formControlName = "childAgeTable1418"></mat-checkbox></td>
                                                            <td>14-18</td>
                                                            <td>October 1, 2010 - September 30, 2011</td>
                                                            <td><mat-checkbox formControlName = "childAgeTable218"></mat-checkbox></td>
                                                            <td>2-18</td>
                                                            <td>October 1, 2016 - September 30, 2017</td>
                                                        </tr>
                                                        <tr>
                                                            <td><mat-checkbox formControlName = "childAgeTable1218"></mat-checkbox></td>
                                                            <td>12-18</td>
                                                            <td>October 1, 2011 - September 30, 2012</td>
                                                            <td><mat-checkbox formControlName = "childAgeTable018"></mat-checkbox></td>
                                                            <td>0-18</td>
                                                            <td>October 1, 2017 - December 31, 2017</td>
                                                        </tr>
                                                        <tr>
                                                            <td><mat-checkbox formControlName = "childAgeTable1018"></mat-checkbox></td>
                                                            <td>10-18</td>
                                                            <td>October 1, 2012 - September 30, 2013</td>
                                                            <td><mat-checkbox formControlName = "childAgeTable218dublicate"></mat-checkbox></td>
                                                            <td>2-18</td>
                                                            <td>
                                                                <p>January 1, 2018 - June 30, 2024</p>
                                                                <p class="font-sm-b">***Note: 8 Must be age 2 by end of federal fiscal year</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><mat-checkbox formControlName = "childAgeTable818"></mat-checkbox></td>
                                                            <td>8-18</td>
                                                            <td>October 1, 2013 - September 30, 2014</td>
                                                            <td><mat-checkbox formControlName = "childAgeTable018dublicate"></mat-checkbox></td>
                                                            <td>0-18</td>
                                                            <td>July 1, 2024</td>
                                                        </tr>
                                                        <tr>
                                                            <td><mat-checkbox formControlName = "childAgeTable618"></mat-checkbox></td>
                                                            <td>6-18</td>
                                                            <td>October 1, 2014 - September 30, 2015</td>
                                                            <td><mat-checkbox formControlName = "childAgeTableChildagenoneoftheagesapply"></mat-checkbox></td>
                                                            <td></td>
                                                            <td>None of the ages apply</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
            
                                            <h4 class="font-sm-b m-t-30">2. Child Entry Date</h4>
                                            <span>Has the child been in care 60 months or more?</span>
                                            <mat-radio-group formControlName = "hasthechildbeenincare60monthsormore">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
            
                                            <h4 class="font-sm-b m-t-30">3. Sibling Status</h4>
                                            <span>Is the child a sibling to a child who qualifies as an applicable child by age or length of care and is being placed in the same adoptive home?</span>
                                            <mat-radio-group formControlName = "isthechildasiblingtoachildwhoqualifiesasanapplicablechildbyage">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
            
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Name of sibling child</th>
                                                            <th>Name of Sibling child's Adoptive Placement</th>
                                                            <th>Date of siblings adoption decree</th>
                                                            <th>Date of siblings applicable child assessment</th>
                                                            <th>Child's sibling's applicability status</th>
                                                            <th>Expected child adoptive placement (Provider ID)</th>
                                                            <th>Sibling's Relationship with child</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="adoptionapplicabilitysiblinginfo">
                                                        <tr *ngFor="let item of adoptionChildAssessmentForm.get('adoptionapplicabilitysiblinginfo').controls; let i = index"
                                                        [formGroupName]="i">
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Name of sibling child" formControlName = "nameofsiblingchild">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Name of Sibling child's Adoptive Placement" formControlName = "nameofsiblingchildsadoptiveplacement">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker24" placeholder="Date of siblings adoption decree" formControlName="dateofsiblingsadoptiondecree">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker24"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker24></mat-datepicker>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker25" placeholder="Date of siblings applicable child assessment" formControlName="dateofsiblingsapplicablechildassessment">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker25></mat-datepicker>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <mat-select placeholder = "Child's sibling's applicability status" formControlName="childssiblingsapplicabilitystatus">
                                                                        <mat-option value="Eligible Reimbursable">Eligible</mat-option>
                                                                        <mat-option value="Ineligible">InEligible</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Expected child adoptive placement (Provider ID)" formControlName="expectedchildadoptiveplacement">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Sibling's Relationship with child" formControlName="siblingsrelationshipwithchild">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <button class="no-bg"><i class="fa fa-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>       
                                          
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                        
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    B. Placement and Medical Information
                                </mat-expansion-panel-header>
                                <div class="row head-pad">
                                    <div class="col-md-12 m-l-20">
                                        <p class="font-sm-b">1. Is the child in care of a public agency or licensed child placement agency pursuant to:</p>
                                        <div class="m-t-10 p-l-30">
                                            <span>a. An involuntary removal in accordance with a judicial determination that is contrary to the child's welfare to remain in the home?</span>
                                            
                                            <mat-radio-group  formControlName =  "acourtorder">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker16" placeholder="Date of removal" formControlName="removalcourtorderdate">
                                                        <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker16></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker17" placeholder="Date of first court order with CTW" formControlName="dateoffirstcourtorderwithctw">
                                                        <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker17></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <span>b. A voluntary placement agreement?</span>
                                            <mat-radio-group formControlName = "bavoluntaryplacementagreement">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker18" placeholder="Child Removal Date(VPA)" formControlName="childremovaldate">
                                                        <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker18></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker19" placeholder="Date of first court order with best interest or CTW finding if converted to CINA" formControlName="dateoffirstcourtorderwithbestinterestorctwfindingifconvertedtocina">
                                                        <mat-datepicker-toggle matSuffix [for]="picker19"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker19></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <span>c. Voluntary relinquishment?</span>
                                            <mat-radio-group formControlName = "voluntaryrelinquishment">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker20" placeholder="Date of Relinquishment" formControlName="dateofrelinquishment">
                                                        <mat-datepicker-toggle matSuffix [for]="picker20"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker20></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="m-t-10">
                                            <span class="font-sm-b">2. Does the child meet all medical or disability requirements of SSI? (Documentation of SSI eligibility determination required)</span>
                                            <mat-radio-group formControlName = "childmeetsssimedicaldisabledeligliblerequirements">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
    
                                            <div class="m-t-10 p-l-30" *ngIf="adoptionChildAssessmentForm.value.childmeetsssimedicaldisabledeligliblerequirements === 'NO'">
                                                <div class="col-sm-6">
                                                    <span>a. Was child receiving SSI at removal or anytime during the current episode?</span>
                                                    <mat-form-field>
                                                        <mat-select formControlName = "childreceivingssiatremoval">
                                                            <mat-option value="YES">YES</mat-option>
                                                            <mat-option value="NO">NO</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-6" *ngIf="adoptionChildAssessmentForm.value.childreceivingssiatremoval === 'NO'">
                                                    <span>b. If No, on what date did child begin receiving SSI?</span>
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="picker12" placeholder="" formControlName="startdateofreceivingssi">
                                                        <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker12></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="m-t-10">
                                            <span class="font-sm-b">3. Is the child residing in a foster family home or childcare institution with their minor parent who was with contrary to welfare or voluntary placement agreement?</span>
                                            <mat-radio-group formControlName = "isthechildresidinginafosterfamilyhome">
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
                                            <div class="row">
                                                <div class="col-sm-6 p-l-30">
                                                    <span>Physical address of child</span>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder="" formControlName="physicaladdressofchild">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <span class="m-t-10">Minor Parent Information</span>
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Minor Parent Name</th>
                                                            <th>Birth date of parent</th>
                                                            <th>Removal Type of Minor parent</th>
                                                            <th>Removal court order date of minor parent</th>
                                                            <th>VPA Removal Date of minor parent</th>
                                                            <th>Minor Parent's current placement Type</th>
                                                            <th>Child's current placement type</th>
                                                            <th>Physical address of minor parent</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName = "adoptionapplicabilityminorparentinfo">
                                                        <tr *ngFor="let item of adoptionChildAssessmentForm.get('adoptionapplicabilityminorparentinfo').controls; let i = index"
                                                        [formGroupName]="i">
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Minor Parent Name" formControlName = "minorparentname">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker21" placeholder="Birth date of parent" formControlName="birthdateofparent">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker21></mat-datepicker>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <mat-select formControlName = "removaltypeofminorparent" placeholder = "Removal Type of Minor parent">
                                                                        <mat-option value="VPA">VPA</mat-option>
                                                                        <mat-option value="Court">Court</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker22" placeholder="Removal court order date of minor parent" formControlName="removalcourtorderdateofminorparent">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker22></mat-datepicker>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <input matInput [matDatepicker]="picker23" placeholder="VPA Removal Date of minor parent" formControlName="removaldateofminorparent">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker23"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker23></mat-datepicker>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <mat-select formControlName = "minorparentscurrentplacementtype" placeholder = "Minor Parent's current placement Type">
                                                                        <mat-option value="Foster Family Home">Foster Family Home</mat-option>
                                                                        <mat-option value="Child Care institution">Child Care institution</mat-option>
                                                                        <mat-option value="Group Homes">Group Homes</mat-option>
                                                                        <mat-option value="Rtc">Rtc</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field>
                                                                    <mat-select formControlName = "childscurrentplacementtype" placeholder = "Child's current placement type">
                                                                        <mat-option value="Living Arrangement">Living Arrangement</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <mat-form-field class="">
                                                                    <input matInput placeholder="Physical address of minor parent" formControlName = "physicaladdressofminorparent">
                                                                </mat-form-field>
                                                            </td>
                                                            <td>
                                                                <button class="no-bg">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                        
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    C. Special Needs Of Child
                                </mat-expansion-panel-header>
                                <div class="row head-pad">
                                    <div class="col-md-12 m-l-20">
                                        <span class="font-sm-b">1. Can the child be returned to the home of the parent?</span>
                                        <mat-radio-group formControlName = "canchildreturntohome">
                                            <mat-radio-button value="YES">Yes</mat-radio-button>
                                            <mat-radio-button value="NO">No</mat-radio-button>
                                        </mat-radio-group>
                                        <div class="m-t-10 p-l-30">
                                            <mat-form-field>
                                                <input matInput placeholder="If no, explain why child cannot or should not be returned to the home of the parent:" formControlName="descriptionofreturnhome">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-12 m-l-20 m-t-10">
                                        <span class="font-sm-b">2. Does child meet</span>
    
                                        <div class="m-t-10 p-l-30">
                                            <span>All medical disability requirements for SSI : </span>
                                            <mat-radio-group formControlName = "childmeetallmedicaldisabilityrequirementsforssi" >
                                                <mat-radio-button value="YES">Yes</mat-radio-button>
                                                <mat-radio-button value="NO">No</mat-radio-button>
                                            </mat-radio-group>
                                            <p class="font-sm-b text-center wd-40">OR</p>
                                            <p>b. One* of the following special needs factors : </p>
                                            <div class="p-l-30">
                                                <mat-checkbox formControlName = "child617yearsofage">1) Child 6-17 Years Of Age</mat-checkbox>
                                                <mat-checkbox formControlName = "physicalmentalemotionaldisability">2) Physical, Mental Or Emotional Disability Or Disease (Documentation Required)</mat-checkbox>
                                                <mat-checkbox formControlName = "emotionaldisturbance">3) Emotional Disturbance (Documentation Required)</mat-checkbox>
                                                <mat-checkbox formControlName = "siblinginformationcheck">4) Membership In Sibling Group - List Siblings In Care Eligible For Adoption In Same Adoptive Placement</mat-checkbox>
                                                <div class="table-responsive m-t-20" *ngIf="adoptionChildAssessmentForm.value.siblinginformationcheck">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Sibling Name</th>
                                                                <th>Sibling adoption status</th>
                                                                <th>Provider ID</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody formArrayName="membersiblinginfo">
                                                            <tr *ngFor="let item of adoptionChildAssessmentForm.get('membersiblinginfo').controls; let i = index"
                                                            [formGroupName]="i">
                                                                <td>
                                                                    <mat-form-field class="">
                                                                        <input matInput placeholder="Sibling Name" formControlName = "nameofsiblingchild">
                                                                    </mat-form-field>
                                                                </td>
                                                                <td>
                                                                    <mat-form-field class="">
                                                                        <input matInput placeholder="Sibling adoption status" formControlName = "siblingadoptionstatus">
                                                                    </mat-form-field>
                                                                </td>
                                                                <td>
                                                                    <mat-form-field class="">
                                                                        <input matInput placeholder="Provider ID" formControlName = "providerid">
                                                                    </mat-form-field>
                                                                </td>
                                                                <td>
                                                                    <button class="no-bg"><i class="fa fa-trash"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>     
                                                </div>   
                                               
                                                <mat-checkbox formControlName = "recognizedhighriskofphysicaldisability"  class="m-t-20">5) Recognized High Risk Of Physical Or Mental Disability Or Disease (Explanation Must Be Documented In Case Record)</mat-checkbox>
                                                <mat-checkbox formControlName = "raceethnicityofchild">6) *Race Or Ethnicity - Can Only Be In Combination With One Of The Above Factors (1-5)</mat-checkbox>
                                                                        
                                                <mat-form-field class="">
                                                    <input matInput placeholder="Race Or Ethnicity - Can Only Be In Combination With One Of The Above Factors (1-5)" formControlName="raceorethnicitycanonlybeincombinationwithoneofthefactorsabove15">
                                                </mat-form-field>
                                            </div>
                                            <p class="font-sm-b">3. Describe in detail</p>
                                            <div class="p-l-30">
                                                <span>a. The reasonable but unsuccessful efforts made to place child without assistance : </span>
                                                <mat-radio-group formControlName = "unsuccessfulreasonableeffortsstatusrecords">
                                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                                    <mat-radio-button value="NO">No</mat-radio-button>
                                                </mat-radio-group>
                                                <mat-form-field class="m-t-20">
                                                    <input matInput placeholder="" formControlName = "unsuccessfulreasonableeffortsstatusrecordsdescription">
                                                </mat-form-field>
                                                <p class="font-sm-b wd-40">OR</p>
                                                <span>b. If instead the child is being adopted by their foster parent and has significant emotional ties with that person:</span>
                                                <mat-radio-group formControlName = "fosterparentemotionalbonding">
                                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                                    <mat-radio-button value="NO">No</mat-radio-button>
                                                </mat-radio-group>
                                                <mat-form-field class="m-t-20">
                                                    <input matInput placeholder="" formControlName = "fosterparentemotionalbondingdescription">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                        
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                        D. Title IV-E Status
                                </mat-expansion-panel-header>
                                <div class="row head-pad">
                                    <div class="col-md-12 m-l-20">
                                        <span class="font-sm-b">1. Was the child eligible for adoption assistance payment in prior adoption and is now being adopted due to adoptive parent(s) rights being terminated OR adoptive parent(s) death?</span>
                                        <mat-radio-group formControlName = "childspreviouslyadopted">
                                            <mat-radio-button value="YES">Yes</mat-radio-button>
                                            <mat-radio-button value="NO">No</mat-radio-button>
                                        </mat-radio-group>
                                        <div class="wd-40">
                                            <mat-form-field>
                                                <mat-label>Child's Previously adopted</mat-label>
                                                <mat-select formControlName = "childsivestatusofpreviousadoption">
                                                    <mat-option value="Eligible Reimbursable">Eligible</mat-option>
                                                    <mat-option value="Ineligible">InEligible</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <p class="font-sm-b">Note: Document explanation in case record</p>
                                        <div class="row p-l-30">
                                            <div class="col-sm-5">
                                                <p>a. Previous Adoptive Parent(s) TPR (If terminated)</p>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker26" placeholder="" formControlName="previousadoptiveparentstpr">
                                                    <mat-datepicker-toggle matSuffix [for]="picker26"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker26></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-5">
                                                <p>b. Previous Adoptive Parent(s) Death Date: (If dead)</p>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker13" placeholder="" formControlName="adoptiveparentstprdate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker13></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <p class="font-sm-b">2. Title IV-E Foster Care Status</p>
                                        <div class="row p-l-30">
                                            <div class="col-sm-6">
                                                <span>a. Is the child currently Title IV-E foster care eligible?</span>
                                                <mat-radio-group formControlName = "childscurrentivefostercareeligibilitystatus">
                                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                                    <mat-radio-button value="NO">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-sm-6">
                                                <span>b. Is the child currently SSI eligible?</span>
                                                <mat-radio-group formControlName = "childsssieligibilitystatus">
                                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                                    <mat-radio-button value="NO">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                            
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                        Case Worker Details
                                </mat-expansion-panel-header>
                                <div class="cont-brd">
                                    <div class="row head-pad m-t-10">
                                        <div class="col-md-6">
                                            <p>Caseworker Name</p>
                                            <mat-form-field>
                                                <input matInput placeholder="" readonly formControlName = "caseworkername">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Date</p>
                                            <mat-form-field>
                                                <input matInput readonly [matDatepicker]="picker14" placeholder="" formControlName="submissiondate">
                                                <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                                <mat-datepicker #picker14></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row head-pad">
                                        <div class="col-md-3">
                                            <signature-field formControlName="caseworkersignature"></signature-field>
                                            <p class="sign-p">Caseworker Signature</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                    
                        <mat-card>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                        Resubmission of Request
                                </mat-expansion-panel-header>
                                <div class="cont-brd">
                                    <div class="row head-pad m-t-10">
                                        <div class="col-md-6">
                                            <p>Caseworker Name</p>
                                            <mat-form-field>
                                                <input matInput placeholder="" readonly formControlName = "resubmissioncaseworkername">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Date</p>
                                            <mat-form-field>
                                                <input matInput readonly [matDatepicker]="picker27" placeholder=""  formControlName="resubmissiondate">
                                                <mat-datepicker-toggle matSuffix [for]="picker27"></mat-datepicker-toggle>
                                                <mat-datepicker #picker27></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row head-pad">
                                        <div class="col-md-3">
                                            <signature-field formControlName="resubmissioncaseworkersignature"></signature-field> 
                                            <p class="sign-p">Caseworker Signature</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-card>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-right" *ngIf="agency  === 'IV-E'">
                                    <button class="btn-pri" [disabled] = "!(ivestatus === 'PENDING')" (click)="completeForm()">Complete Form</button>
                                    <button class="btn-pri"  (click)="openSCWPopup()">Return to Worker</button>
                                    <button class="btn-pri" [disabled] = "!(ivestatus === 'COMPLETED' || ivestatus === 'DETERMINE')" (click)="submitData()">Determine Eligibility</button>
                            </div>
                          
                        </div> 
                    </div>
                </div>   
            </div>        
        </div>
    </div>
    <!-- Popup to request comment for returning to case worker -->
    <div class="modal  fade" id="scwComment" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="closeSCWPopup()" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Please provide a reason for returning it to worker</h4>
            </div>
            <div class="modal-body">
              <div class="row ref-address">
                <div class="col-md-12">
                  <form [formGroup]="adoptionChildAssessmentForm" >
                    <div class="row">
                      <div class="col-sm-12 panel">
                        <div class="row ivecomment">
                          <div class="col-md-11">
                                <div class="fm-box-form fm-narrate">
                                    <textarea formControlName="ivecomment" class="form-control fm-style" placeholder="Reason for returning to worker is ..."></textarea>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                  <div class="clearfix pt-20 row">
                      <div class="col-sm-7 text-right margin-neg-cus">
                        <button class="btn-pri" (click)="closeSCWPopup()">Back</button>
                  </div>
                  <div class="col-sm-4 text-right margin-neg-cus">
                      <button class="btn-pri aut-btn-updatepetition" (click)="returnToWorker()">Return to Worker</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Title IV-E Adoption Child Assessment Starts -->



    <div class="modal fade" id="checklogs" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Log Messages</h4>
                    </div>
                    <div class="modal-body dashboard-cont">
                        <div class="tab-horizontal mrg-btm25">
                                <div>
                                        <div class="panel panel-primary" style="padding: 0px;" *ngIf="adoptionmessages">

                                            <div class="panel-body">
                                                        
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p><b>Date & Time</b>: {{warningdate | date: 'MM/dd/yyyy h:mm a'}}</p>
                                                            </div>
                                                        </div>
                                                        <br><br>
                                
                                                <div  *ngIf="adoptionmessages"> 
                                                    <ul class="list-group">
                                                        <li class="list-group-item" *ngFor="let item of adoptionmessages">
                                                            <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"
                                                                *ngIf="item.severity==='Warning'"></i>
                                                            <i class="fa fa-info-circle fa-lg text-info" aria-hidden="true"
                                                                *ngIf="item.severity==='Info'"></i>
                                                            <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"
                                                                *ngIf="item.severity==='Error'"></i>
                                                            {{item.text}}</li>
                                                        <li class="list-group-item" *ngIf="adoptionmessages && adoptionmessages.length === 0">
                                                                    No Logs</li>     
                                                    </ul>
                                                </div>
                                
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    

          <div class="modal fade" id="checkwarnings" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content Persons-Involved">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                            <h4 class="modal-title">Warnings</h4>
                        </div>
                        <div class="modal-body dashboard-cont">
                            <div class="tab-horizontal mrg-btm25">
                                    <div>
                                            <div class="panel panel-primary" style="padding: 0px;" *ngIf="adoptionwarnings">
                                                <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p><b>Date & Time</b>: {{warningdate | date: 'MM/dd/yyyy h:mm a'}}</p>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                    <div *ngIf="adoptionwarnings"> 
                                                            <ul class="list-group">
                                                                <li class="list-group-item" *ngFor="let item of adoptionwarnings">
                                                                    <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"
                                                                        *ngIf="item.severity==='Warning'"></i>
                                                                    {{item.text}}</li>
                                                                <li class="list-group-item" *ngIf="adoptionwarnings && adoptionwarnings.length === 0">
                                                                            No Warnings</li>       
                                                            </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>