<div role="tabpanel" class="tab-pane dd-overflow-inherit" id="intake-referral">
        <div class="cnt-min-height">
           <div class="">
              <!-- <div class="col-sm-8">
                 <h4>Referral</h4>
              </div> -->
              <!-- Unwated header above one. if it's required, will enable  -->
              <div class="col-sm-4 text-right btns-top">
                 <!-- <button type="submit" class="btn-pri" data-target="#intake-findprovider" data-toggle="modal">Find</button> -->
                 <!-- comment above button temporary -->
                 <!-- <button type="button" class="btn-pri" (click)="toggleAddPopup('Add New')">Add</button> -->
              </div>
              <div class="col-sm-12" *ngIf="addedProviders?.length!== 0">
                 <h4 class="site-color">Referral Information</h4>
              </div>
               <div class="col-sm-12">
                  <div class="table-responsive table-theme">
                     <table class="table table-striped">
                        <thead>
                           <tr>
                              <th>Provider Name</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Cell</th>
                              <th>Fax</th>
                              <th>Program</th>
                              <th>Program Type</th>
                              <th>Parent Corporation</th>
                              <th>Corporation</th>
                              <th>Tax ID</th>
                              <th>SON ?</th>
                              <th>RFP ?</th>
                           </tr>
                        </thead>
                        <tbody *ngIf=(referralInfo)>
                           <tr>
                              <td>{{referralInfo.provider_referral_nm}}</td>
                              <td>{{referralInfo.provider_referral_first_nm}} {{referralInfo.provider_referral_last_nm}}</td>
                              <td>{{referralInfo.adr_email_tx}}</td>
                              <td>{{referralInfo.adr_home_phone_tx}}</td>
                              <td>{{referralInfo.adr_cell_phone_tx}}</td>
                              <td>{{referralInfo.adr_fax_tx}}</td>
                              <td>{{referralInfo.provider_referral_program}}</td>
                              <!-- <td>{{referralInfo.provider_program_type}}</td> -->
                              <td>
                                 <div *ngFor="let program_type_list of referralInfo.provider_program_type">
                                    {{program_type_list.program_type}}
                                 </div>
                              </td>
                              <td>{{referralInfo.parent_entity}}</td>
                              <td>{{referralInfo.corporation_entity}}</td>
                              <td>{{referralInfo.corporation_entity_taxid}}</td>
                              <td>{{referralInfo.is_son}}</td>
                              <td>{{referralInfo.is_rfp}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
              <p><br></p>
              <!-- <div  id="intake-referral"  style="padding-left: 35px" class = "boxed" class=" narrative-textarea " class="col-xs-6">
                 <h4 class="site-color">Referral Narrative</h4>
                 <textarea trumbowygNgxEditor class="form-control"  rows="7" >{{referralInfo.narrative}}
                     </textarea>
              </div> -->
              <!-- Comment above code temporary -->
           </div>
           <br>
           <br>
        </div>       
     </div>