.person-card,
.person-card-selected {
    // width: 300px;
    // height: 175px;
    padding: 15px;
    margin: 0px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}
.person-card-selected {
    background: #e8f9f4;
    border-color: #8ee3c8;
    // padding: 1.6em;
    // margin: 0;
    // line-height: 1.6em;
    clear: right;
    color: #181818;
}  

// .mat-card-content {
//     height: 100px;
// }

.person-relationship-bar {
    padding: 3px 10px;
    // border-radius: 10px;
    color: #3c763d;
    font-size: 13px;
    background: #d6e9c6;
    border: 1px solid #3c763d;
    // padding: 1.6em;
    // margin: 1.5em 0;
    line-height: 1.6em;
    clear: right;
    display: inline-block;
    
}
.relationship-button{
    background: #d6e9c6;
    border: 1px solid #3c763d;
    margin: 0 0 0 5px;
    line-height: 1.6em;
}

.mat-card-title span{
    display: block;
}



.person-panel {
    border: 1px solid #D8D8D8;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0;
}

.person-panel .panel-heading {
    width: 100%;
    color: #00A2FD;
}

.person-panel .panel-heading h4 {
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 4px;
}

.person-panel>span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}

.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}

.person-panel .panel-body {
    min-height: 210px;
    max-height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
}

.person-panel .media-right {
    vertical-align: top;
    min-width: 50px;
    margin: 0 auto;
}

// .person-panel .media-body ul li a i {
//     font-size: 20px;
//     color: #777;
//     padding: 5px;
// }
.person-panel .panel-heading {
    padding: 10px;
    background: #fff;
    // border-bottom: 2px solid #e2e2e2;
}

.person-panel .panel-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .panel-heading span.f-size {
    padding-left: 30px;
    font-size: 13px;
}