<div class="row mt-10">
  <div class="col-md-12 mt-10">
      <h3>MONEY MANAGEMENT</h3>
  </div>
</div>
<form [formGroup]="moneyManagementFormGroup">
  
   <div class="row mt-10">
        <div class="col-md-6 mt-20">
            <label class="required">Do you currently have a: </label>
            <mat-checkbox class="pl-20" formControlName="ischeckingAccount">Checking Account</mat-checkbox> 
            <mat-checkbox class="pl-20" formControlName="isSavingsAccount">Savings Account?</mat-checkbox>
      </div>
      <div class="col-md-6" *ngIf="moneyManagementFormGroup.getRawValue().ischeckingAccount || moneyManagementFormGroup.getRawValue().isSavingsAccount">
          <mat-form-field>
              <input  matInput formControlName="accountDesc" placeholder="If you checked yes, what is the name of your bank?"  />
          </mat-form-field>
      </div> 
   </div>
   <div class="row mt-10">
      <div class="col-md-12">
          <label class="required">
              Have you received a free copy of your annual credit reports from the 3 credit reporting agencies?</label>
          <mat-radio-group class="clearfix"  formControlName="receivedFreeCopy">
              <mat-radio-button [value]="1">Yes</mat-radio-button>
              <mat-radio-button [value]="0">No</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>
  <div class="row mt-10">
      <div class="col-md-12">
          <label class="required">
              If there were any inaccuracies in your credit report, were you given any assistance in how to correct it?</label>
          <mat-radio-group class="clearfix"  formControlName="isInaccuracies">
              <mat-radio-button [value]="1">Yes</mat-radio-button>
              <mat-radio-button [value]="0">No</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

  <div class="row mt-10">
    <div class="col-md-3 mt-20">
        <label class="required">
            What is your current source of income?
        </label>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <!-- <span matPrefix>$ </span> -->
            <input matInput formControlName="sourceofIncome"  />
        </mat-form-field>
    </div>
    <div class="col-md-2 mt-20">
        <label class="required">
            Monthly Amount? 
        </label>
    </div>
    <div class="col-md-3">
        <mat-form-field>
            <span matPrefix>$ </span>
            <input matInput  type="number" formControlName="monthlyAmount"  />
        </mat-form-field>
    </div>
  </div>
  <div class="row mt-10">
      <div class="col-md-12">
        <label class="required">
            Do you currently keep a monthly budget of your expenses?
        </label>
        <mat-radio-group class="clearfix"  formControlName="keepingMonthlyBudget">
            <mat-radio-button [value]="1">Yes</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
  </div>
  <div class="row mt-10">
      <div class="col-md-12">
        <label class="required">
            Are you saving money to support yourself after you leave foster care?
        </label>
        <mat-radio-group class="clearfix"  formControlName="savingMoney">
            <mat-radio-button [value]="1">Yes</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>
        </mat-radio-group>
      </div>
  </div>
  <div class="row mt-10">
      <div class="col-md-2 mt-20">
        <label class="required">
            Current amount saved:
        </label>
      </div>
      <div class="col-md-2">
          <mat-form-field>
              <span matPrefix>$ </span>
              <input matInput type="number" formControlName="currentAmountSaved"  />
          </mat-form-field>
      </div>
      <div class="col-md-1 mt-20">
        <label class="required">
            Goal $:
        </label>
      </div>
      <div class="col-md-2">
          <mat-form-field>
              <span matPrefix>$ </span>
              <input matInput  type="number" formControlName="goalAmount"  />
          </mat-form-field>
      </div>
    </div>

    <div class="row mt-10">
    <short-term-goals [goals]="moneymanagementShortTermGoals" ></short-term-goals>
   </div>
   <div class="row">
      <div class="col-md-12 qa_Box mb-20  mt-20">
          <h4 class="text-center mb-20">??DO YOU KNOW...??</h4>
        <qa-list [questions] = "moneyDoYouKnowItems"></qa-list>
      </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" value="Clear" class="btn-bg" name="" (click)="clear()">Clear</button>
                <button type="button" value="Save" class=" btn-pri" name="" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</form>