<div role="tabpanel" class="tab-pane" id="assessment-score-usage">
    <div class="box-grid">
        <div class="row">
            <div class="col-sm-9">
                <h3>Manage Allegation Scoring</h3>
            </div>
            <div class="col-sm-3 tab-title-btn">
                <button data-toggle="modal" data-target="#myModal-assesment-score-add" class="btn-pri" (click)="loadDropdownItems()" >
                    <i class="fa fa-plus right-sspace"></i> Add Score Usage</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
                        <thead>
                            <tr>
                                <th sortable-column="name" sort-direction="asc">Score Type</th>
                                <th sortable-column="assessmentscoretypekey">Assessment(s)</th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" (input)="onSearch('name', $event.target.value)" value="" placeholder="Search Score Type">
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" (input)="onSearch('assessmentscoretypekey', $event.target.value)" value=""
                                            placeholder="Search Assessment">
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="scoreUsage$ | async; let AssessmentScoreUsageList">
                            <tr *ngFor="let scoreusage of AssessmentScoreUsageList">
                                <td>{{scoreusage.assessmentscoretypekey}}</td>
                                <td>
                                    <span *ngFor="let assessment of scoreusage.assessmenttemplate; let isLast=last">{{assessment.name}}{{isLast?'':', '}}</span>
                                </td>
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                                        <a href="javascript:{}" data-toggle="modal" (click)="editItem(scoreusage)" data-target="#myModal-assesment-score-add">
                                            <img src="assets/images/form-letter/edit-icon.png" alt="">
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="Delete">
                                        <a href="javascript:{}">
                                            <img src="assets/images/form-letter/delete-icon.png" alt="">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="AssessmentScoreUsageList?.length === 0">
                                <td colspan="3">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination class="pagination-sm" [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                    [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal-assesment-score-add" role="dialog">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="scoreUsageGroup">
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Activity Category</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Name: </label>
                                <div class="fm-box-form">
                                    <select formControlName="assessmentscoretypekey" class="form-control fm-style w-select">
                                        <option value="">Select</option>
                                        <option *ngFor="let dbScoreType of assessmentScoreType$ | async" [value]="dbScoreType.value">
                                            {{dbScoreType.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Status: </label>
                                <div class="fm-box-form">
                                    <select formControlName="assessmentscoringmethodid" class="form-control fm-style w-select">
                                        <option value="">Select</option>
                                        <option *ngFor="let dbScoringmethod of assessmentScoringMethod$ | async" [value]="dbScoringmethod.value">
                                            {{dbScoringmethod.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 mrg-top25">
                            <div class="col-md-5 ">
                                <div class="form-group multiple-select multi">
                                    <select multiple class="form-control full-width" formControlName="leftSelectedItems">
                                        <option *ngFor="let item of availableAssessmentTemplate" [style.display]="!item.isSelected ? '' : 'none'" [value]="item.assessmentscoretypekey">{{item.assessmentscoretypekey}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="btn-group btn-group-re multi-slt-btn">
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectAll()">
                                        Add All</button>
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="select()">
                                        Add</button>
                                    <button type="button" class="btn-pri mt-15" (click)="unSelect()"> Remove</button>
                                    <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectAll()">Remove All</button>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group multiple-select multi">
                                    <select multiple class="form-control full-width" formControlName="rightSelectedItems">
                                        <option *ngFor="let item of availableAssessmentTemplate" [style.display]="item.isSelected ? '' : 'none'" [value]="item.assessmentscoretypekey">{{item.assessmentscoretypekey}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 mrg-top25">
                                <div class="pull-right">
                                    <button type="button" value="Save" (click)="saveItem()" class="btn-pri" name="">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>