<div class="row">
  <div class="col-md-12" [formGroup]="birthInfoForm">
        <div class="col-md-12">
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Mother's Use While Pregnant " formControlName="mothersusepregnant"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let item of pregnatMothersUseDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field>
                      <input matInput  formControlName="mothersusepregnantspecify" placeholder="Medical Condition Specify">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Medical Conditions for Children " formControlName="mentalcondition"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let item of medicalConditionsDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field>
                      <input matInput  formControlName="mentalconditionspecify" placeholder="Specify">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Diseases/Conditions for Children " formControlName="diseasescondition"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                            </mat-select-trigger> -->
                            <mat-option *ngFor="let item of diseasesDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                    <input matInput  formControlName="diseasesconditionspecify" placeholder="Disease Condition Specify">
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                    <mat-form-field>
                        <!--D-07005 Start-->
                        <textarea type="text"  formControlName="birthdefects" matInput
                            placeholder="Birth Defects" class="aut-txt-malAllComments"></textarea>
                        <!--D-07005 End-->
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field>
                        <!--D-07005 Start-->
                        <textarea type="text"  formControlName="comments" matInput
                            placeholder="Comments" class="aut-txt-malAllComments"></textarea>
                        <!--D-07005 End-->
                    </mat-form-field>
                </div>
            </div>
      </div>
      
  </div>
</div> 

<div *ngIf="isAgeUnder5">
    <div class="row">
        <div class="col-md-12" [formGroup]="under5yearsInfoForm">
            <div class="col-md-12">
                <h4>
                    <p class="bg-theme">Prenatal Information</p>
                </h4>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select formControlName="parentcare" placeholder="Prenatal Care Provided to Mother">
                                <mat-option *ngFor="let item of prenatalCareDropdownItems$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6" *ngIf="under5yearsInfoForm.controls['parentcare'].value === '1765'">
                        <mat-form-field>
                            <mat-select placeholder="When Begun" formControlName="whenbegun">
                                <mat-option *ngFor="let item of whenBegunItems$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Gestation " formControlName="gestation" multiple
                                class="aut-lst-addNotesInvolvedPerson">
                                <mat-option *ngFor="let item of gestationDropdownItems$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Parity(# During Pregnancy) " formControlName="parity" 
                                class="aut-lst-addNotesInvolvedPerson">
                                <mat-option *ngFor="let item of parityItems$ | async" value="{{item.value}}">{{item.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select formControlName="deliverytype" placeholder="Type of Delivery">
                                <mat-option *ngFor="let item of deliveryTypeDropdownItems$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select formControlName="prenatalproblem" placeholder="Prenatal Problems">
                                    <mat-option  value="None">None</mat-option>
                                    <mat-option  value="Yes">Yes (Specify)</mat-option>
                                    <mat-option  value="Unknown">Unknown</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
    
                </div>
            </div>
            <div class="col-md-12 m-t-30" *ngIf="under5yearsInfoForm.controls['prenatalproblem'].value === 'Yes'"  >
                    <mat-form-field>
                        <textarea type="text" formControlName="prenatalproblemspecify" matInput placeholder="Prenatal Problem Specify"
                            class="aut-txt-malAllComments"></textarea>
                    </mat-form-field>
                </div>
            <div class="col-md-12 m-t-30">
                <mat-form-field>
                    <!--D-07005 Start-->
                    <textarea type="text" formControlName="comments" matInput placeholder="Comments"
                        class="aut-txt-malAllComments"></textarea>
                    <!--D-07005 End-->
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <h4>
                    <p class="bg-theme">Hospital Information</p>
                </h4>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput formControlName="childbornin" placeholder="Hospital Child Born in">
                        </mat-form-field>
                    </div>
                    <smarty-street-address [address]="address"></smarty-street-address>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput formControlName="phone" placeholder="Phone number"
                                mask="(000) 000-0000">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input type="email" matInput formControlName="email" placeholder="Email Address">
                        </mat-form-field>
                        <span class="red">{{under5yearsInfoForm.get('email').errors?.invalidEmailAddress?.message}}</span>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Complications During Newborn Period " formControlName="complications"
                                multiple class="aut-lst-addNotesInvolvedPerson">
                                <mat-option *ngFor="let item of complicationTypeDropdownItems$ | async"
                                    value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput formControlName="speciality" placeholder="Specify">
                        </mat-form-field>
                    </div>
                </div>
                
    
    
            </div>
            <div class="col-md-12 m-t-30">
                <mat-form-field>
                    <!--D-07005 Start-->
                    <textarea type="text" formControlName="hospitalcomments" matInput placeholder="Comments"
                        class="aut-txt-malAllComments"></textarea>
                    <!--D-07005 End-->
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<document-upload-list [uploadedFiles]="uploadedFiles" [uploadNumber]="uploadNumber"></document-upload-list>
      <div class="col-sm-12 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                    <button class="btn-pri"  (click)="add()" [disabled]="(!birthInfoForm.dirty && !under5yearsInfoForm.dirty) || under5yearsInfoForm.invalid || _personInfoService.getClosed()">Save</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri"  *ngIf="editMode === true"
                        (click)="add()" [disabled]="(!birthInfoForm.dirty && !under5yearsInfoForm.dirty) || under5yearsInfoForm.invalid || _personInfoService.getClosed()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>

<div class="row m-t-20">
<div class="col-sm-12"  *ngIf="birthInfocw.length>0">
    <div class="table-responsive table-theme table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Medical Conditions</th>
                    <th>Diseases</th>
                    <th>Birth Defects</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let birth of birthInfocw; let i=index">
                    <td>{{birth.medicalcondition}}</td>
                    <td>{{birth.diseasescondition}}</td>
                    <td>{{birth.birthdefects}}</td>
                    <td>{{birth.comments }}</td>
                    <td>
                        <a (click)="view(birth)">
                            <i class="fa fa-eye text-16" matTooltip="View"></i>
                        </a> |
                        <a (click)="edit(birth, i)">
                            <i class="fa fa-pencil text-16" matTooltip="Edit"></i>
                        </a><!--  |
                        <a (click)="delete(i)">
                            <i class="fa fa-trash text-16"></i>
                        </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

