.m-t-20 {
    margin-top: 20px !important;
}

.theme-col {
    color: #00A2FD !important;
}

.m-l-50 {
    margin-left: 50px;
}

.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 909px;
    }
}