<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <client-payment-search (searchEmitter)="getclientSearchData(1)"></client-payment-search>
        </div>
        <div class="col-md-10 m-t-10">
          <div class="row">
            <div class="col-md-12">
              <h3 class="fin-h3">Client Payment History</h3>
            </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Client(s) Found : </label>
                    <span></span>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive table-theme mt-20">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Client ID</th>
                              <th>Client Name</th>
                              <!-- <th>Case ID</th> -->
                              <th>DOB</th>
                              <th>SSN
                                  <span>&nbsp;
                                    <a (click)="toggleSsn()">
                                        <i class="fa fa-lg {{ssnEye}}"></i>
                                    </a>
                                  </span>
                              </th>
                              <th>Local Department</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="clientSearch">
                            <tr *ngFor="let fund of clientSearch">
                              <td>
                                <a (click)="fundingDetails(fund)">{{fund.client_id}}</a>
                              </td>
                              <td>{{fund.client_name}}</td>
                              <!-- <td>{{fund.case_id}}</td> -->
                              <td>{{fund.client_dob | date: 'MM/dd/yyyy'}}</td>
                              <td>{{fund.ssn | mask:showSsnMask}}</td>
                              <td>{{fund.local_dept}}</td>
                            </tr>
                          </tbody>
                          <tr *ngIf="clientSearch?.length === 0">
                              <td colspan="6" style="text-align: center !important;">
                                  No Records Found.
                              </td>
                          </tr>
                        </table>
                        <div class="text-center mt-10"  *ngIf="totalRecords > 10">
                          <pagination [totalItems]="totalRecords"
                              [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                              class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                          </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
