<div class="row">
  <div class="col-md-12 m-t-10">
    <div class="">
      
      <div class="request-case" *ngIf="isCW && !isServiceCase && isSupervisor && !dsdsActionsSummary?.servicecasenumber; else serviceCasePopup">
        <a class="btn btn-pri pull-right "  (click)="linkToServiceCase()">Create/Approve Service Case Connection</a>
      </div>
      <ng-template #serviceCasePopup>
        <div class="request-case" *ngIf="isCW && !isServiceCase && isSupervisor">
        <a class="btn btn-pri pull-right"  data-target="#serviceCaseHistoryNew" data-toggle="modal">Create/Approve Service Case Connection</a>
        </div>
      </ng-template>
    </div>
    <div class="request-case" *ngIf="isCW && !isServiceCase && isCaseWorker && !dsdsActionsSummary?.servicecasenumber">
      <button class="btn btn-pri pull-right"  data-target="#serviceCaseHistoryNew" data-toggle="modal" [disabled]="isClosed" (click)="getRoutingUser()">ADD SERVICE PLAN</button>
    </div>
  </div>
</div>
<p *ngIf="dsdsActionsSummary?.servicecasenumber">Service Case#: <a class="status-open"
  (click)="routeServiceCaseToCaseWorker(dsdsActionsSummary)">{{ dsdsActionsSummary?.servicecasenumber }}</a>
</p>
<!-- As discussed with Martin we can keep service connect same as current functioanilty he will take care rest of them -->
<div class="modal fade" id="serviceCaseHistoryNew" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Service Case Management </h4>
          </div>
          <ng-container *ngIf="isCW && !isServiceCase && dsdsActionsSummary?.servicecasenumber; else NoServiceCase1">
                  <ng-container *ngIf="!isServiceCase && (isCaseWorker || isSupervisor)">
                          <div class="modal-body">
                                  <div>
                                      <p>There is already a connected service case. Select the link to navigate.</p>
                                      <p>Service Case#: <a class="status-open"
                                          (click)="routeServiceCaseToCaseWorker(dsdsActionsSummary)">{{ dsdsActionsSummary?.servicecasenumber }}</a>
                                      </p>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <div class="text-right right-mspace-15">
                                      <button type="button" value="Close" class="btn-bg" name="" (click)="hideHistoryOfFmailyCase()"> Close </button>
                                  </div>
                              </div>
                      </ng-container>
      </ng-container>
      </div>
      <ng-template #NoServiceCase1>
              <div *ngIf="!isSupervisor && isCaseWorker" class="modal-body">
                          <ng-container *ngIf="dsdsActionsSummary?.caseconnectsent !== 1; else sentForReview">
                          <p>There is no currently connected service case. Would you like to <b>request</b> one?</p>
                          <p>This will send a request to the supervisor for approval.</p>
                          </ng-container>
                          <ng-template #sentForReview>
                                  Servicecase link Request has been sent to Supervisor
                              </ng-template>
              </div>
              <!-- <div>
                  <p>There is no currently connected service case. Would you like to <b>create</b> one?</p>
              </div> -->
              <ng-container  *ngIf="isSupervisor &&  exitingServiceCaseList?.length"> 
                      <div class="modal-body">
                         <div class="clearfix">
                             <mat-radio-button name="selectedCase" class="service-case-selection"
                                 (click)="selectCase('NEW_CASE')"><span class="textb">Create new service
                                     case</span>
                             </mat-radio-button>
                             <div class="pl-30">It creates a new service case, with household members, In-home & OOH placements
                                 and other services to a family.
                             </div>
                         </div>
                         <div class="clearfix pt-10">
                             <!-- <mat-radio-button name="selectedCase" class="service-case-selection">
                             </mat-radio-button> -->
                             <span class="textb">Re-use</span>
                             <div class="pl-30 mb-10">It re-activates existing service case for continue providing services to a
                                 family.</div>
                             <ul class="service-case-history clearfix unstyled pl-30">
                                 <li *ngFor="let case of exitingServiceCaseList">
                                     <mat-radio-button [disabled] name="selectedCase" class="service-case-selection"
                                         (click)="selectCase(case)">
                                         <span>{{case.servicecasenumber}}</span>
                                         <span class="ml-5">{{(case.statustypekey)?'('+case.statustypekey+')':''}}</span>
                                     </mat-radio-button>
                                 </li>
                             </ul>
                         </div>
                     </div>
                    
              </ng-container> 
              <ng-container>
                <div class="col-md-6" *ngIf="!isSupervisor && isCaseWorker">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="searchString"
                      placeholder="Search by Supervisor Name..."
                      [(ngModel)]="searchString"
                    />
                  </div>
                </div>
              </div>
                <table class="fixed_header" *ngIf="!isSupervisor && isCaseWorker">
                  <thead>
                    <tr>
                      <th></th>
                      <th>NAME/TYPE(User Role-Team Name)</th>
                  </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr *ngFor="let item of getUsersList | filter : searchString : 'username'">
                        <td>
                          <label class="control control--radio">
                            <input type="radio" name="Address" (click)="selectPerson(item)">
                            <div class="control__indicator"></div>
                          </label>
                        </td>
                        <td>{{item.username}} ({{item.userrole}}-{{item.teamname}}) </td>
                       </tr>
                    </ng-container>
                  </tbody>
                </table>
             
              </ng-container>
              
              <div class="modal-footer">
                  <div class="text-right right-mspace-15">
                      <button type="button" value="No" class="btn-bg" name="" (click)="hideHistoryOfFmailyCase()"> Cancel </button>
                      <button *ngIf="!isSupervisor" [disabled]="dsdsActionsSummary?.caseconnectsent === 1" type="button" value="Yes" class="btn-pri" name="" (click)="confirmRequestCase()"> Yes, Send for Approval  </button>
                      <button *ngIf="isSupervisor" type="button" value="Create" class="btn-pri" name="" (click)="createOrMergeServiceCase()"> Finish</button>
                  </div>
              </div>
      </ng-template>
  </div>
</div>