.add-education {
    padding: 30px;
    border: 1px solid #D8D8D8;
    text-align: center;
    height: 238px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.add-education a {
    color: #00A2FD;
    font-weight: 700;
    font-size: 18px;
}

.anchor-back {
    color: #00A2FD;
    font-weight: 700;
}