<div class="dashboard-cont no-pad">
    <div class="m-t-20">
      <div class="row">
        <div class="col-md-8"><h4 style="padding-left: 15px">Education</h4></div>
        <!-- <div class="col-md-4"><a class="pull-right anchor-back" (click)='enableAddEmployment()' *ngIf="isShowAddEmployment"><i class="fa fa-arrow-left"></i>
          Back to List</a></div> -->
      </div>
      
      <list-education *ngIf="!isShowAddEmployment"></list-education>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-md-6" *ngIf="!isShowAddEmployment && !_personInfoService.getClosed()">
          <div class="add-education">
            <a (click)='enableAddEmployment()'>+ Add New Education Info</a>
          </div>           
        </div>
      </div>
      <add-education *ngIf="isShowAddEmployment" (addflag)="educationSubmit($event)"></add-education>
     
    </div>  
  </div>
  <router-outlet></router-outlet>

