<div class="form-search-person dangerwork-form address-form no-pad">

    <div class="clearfix"></div>
    <div class="col-sm-12">
        <div class="text-right">
            <button class="btn-pri" data-toggle="modal" data-target="#add-notes"> Add Notes </button>
        </div>
    </div>

    <div class="row" *ngIf="contactListAdded.length >0">
        <div class="col-md-12">
            <div class="form-letter-tab no-mar">
                <label>Notes</label>
                <div class="tab">
                    <div class="table-responsive">
                        <table class="table table-bordered recording-table icon-action notes-tbl">
                            <thead>
                                <tr>
                                    <th>Summary</th>
                                    <th>Type of Contact</th>
                                    <th>Duration</th>
                                    <th>Person Contacted</th>
                                    <th>Notes</th>
                                    <th class="width-100">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of contactListAdded; let i = index">
                                    <td>
                                        <span>{{record?.recordingdate | date:'medium'}}</span>
                                        <p class="theme-txt">
                                            <i class="fa fa-user" aria-hidden="true"></i> {{record?.author | titlecase}} -
                                            <span class="font-weight">{{record?.team ? record?.team : '-'}}</span>
                                            <!-- [href]="record?.s3bucketpathname" -->
                                        </p>
                                        <!-- <label class="no-mar">Attachment: </label> -->
                                        <!-- *ngIf="record?.s3bucketpathname" -->
                                        <!-- <span>
                                            <a *ngIf="recordingDetail?.s3bucketpathname" [href]="recordingDetail?.s3bucketpathname" target="_blank">{{recordingDetail?.title}}</a>
                                            <span *ngIf="!recordingDetail?.s3bucketpathname">-</span>
                                        </span> -->
                                    </td>
                                    <td>
                                        <span class="font-weight">{{record?.recordingtype}}</span>
                                        <h5>Subtype :
                                            <span class="font-weight lh-20">{{record?.recordingsubtype}}</span>
                                        </h5>
                                    </td>
                                    <td>{{record?.duriation ? record?.duriation: 'N/A' }}</td>
                                    <td class="table-img">
                                        <img src="assets/images/icon-avtar.png">
                                        <span class="theme-txt1">{{record?.contactname | titlecase}}</span>
                                        <p>Role :
                                            <span class="font-weight lh-20">{{record.multipleRoles}}
                                            </span>
                                        </p>
                                    </td>
                                    <td class="word-break">
                                        <!-- <p>Title:
                                            <span class="font-weight">{{record?.team}}</span>
                                        </p> -->
                                        <ul>
                                            <li> {{record.description | titlecase}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center">
                                        <a title="View" class="right-mspace" data-placement="top" data-toggle="modal" data-target="#myModal-recordings-edit" (click)="editNoteList(record)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <!-- <a data-placement="top" title="Edit" data-toggle="modal" data-target="#myModal-recordings-edit" class="right-mspace" (click)="editNoteList(record, 'Edit')"
                                            *ngIf="roleName.role.name !== 'apcs'">
                                            <img src="assets/images/form-letter/edit-icon.png"> </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade add-notemodal" data-backdrop="static" data-keyboard="false" id="add-notes" role="dialog">
    <div class="modal-dialog modal-dialog-w1050 custom-modal">
        <div class="modal-content form-wrapper txt-left">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button" (click)="clearNotes()">×</button>
                <h4 class="modal-title">Add Notes</h4>
            </div>
            <div class="modal-body" [formGroup]="noteForm">
                <div class="form-search-person dangerwork-form address-form no-pad notes-sec">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Type of Contact</label>
                            <ng-select class="form-control" [searchable]="true" [clearable]="false" formControlName="RecordingType" (change)="contactSubtype($event)">
                                <ng-option value=""> select </ng-option>
                                <ng-option *ngFor="let contact of conctactType$ | async | orderBy:'progressnotetypekey'" [value]="contact.progressnotetypeid ">
                                    {{contact.description}}
                                </ng-option>
                            </ng-select>

                        </div>
                        <div class="form-group ">
                            <label>Type of Visit</label>
                            <ng-select class="form-control" [searchable]="true" [clearable]="false" formControlName="progressnotesubtypeid" (change)="subtypeName($event)">
                                <ng-option value="">select</ng-option>
                                <ng-option *ngFor="let subType of contactSubTypeList$ | async | orderBy: 'progressnotetypekey' " [value]="subType.progressnotetypeid ">
                                    {{subType.description}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="required ">Date</label>
                            <input formControlName="contactdate" class="form-control " placeholder="mm/dd/yyyy" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', 'maxDate': null} "
                                validdate>
                            <i class="fa fa-calendar " aria-hidden="true "></i>
                        </div>
                        <div class="form-group ">
                            <label class="required ">Name</label>
                            <input type="text " formControlName="contactname" placeholder="Enter Name " class="form-control ">
                        </div>
                        <div class="form-group ">
                            <label>Time</label>
                            <div class=" ">
                                <div class="col-sm-3 no-pad " style="width:30.5%;margin-right: 6px;" (focusout)="timeDuration() ">
                                    <input formControlName="starttime" class="form-control " style="width:100%;float:left; " placeholder="Start Time
                    " a2e-datetimepicker [options]="{format: 'HH:mm a'} ">
                                    <i class="fa fa-clock-o" aria-hidden="true "></i>
                                </div>
                                <div class="col-sm-3 no-pad pull-right" style="width:30.5%; " (focusout)="timeDuration() ">
                                    <input formControlName="endtime" class="form-control full-width" placeholder="End Time
                    " a2e-datetimepicker [options]="{format: 'HH:mm a'} ">
                                    <i class="fa fa-clock-o" aria-hidden="true "></i>
                                </div>
                            </div>

                            <small class="text-danger pull-right" style="padding-top:7px" *ngIf="noteForm.hasError('notValid')">EndTime should be greater than Start Time</small>
                        </div>
                        <div class="form-group ">
                            <label>Time Duration</label>
                            <div class=" ">
                                <div class="col-sm-6 pad-vspace no-hpad">{{duration}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group ">
                            <label class="required ">Person Contacted</label>
                            <mat-form-field class="person-contected " *ngIf="contactRoles$ | async; let contactRoles ">
                                <mat-select placeholder=" " formControlName="contactroletypekey" multiple (change)="selectRoleType($event.value)">
                                    <mat-select-trigger>
                                        {{noteForm.get('contactroletypekey').value ? noteForm.get('contactroletypekey').value[0]?.typedescription : ''}}
                                        <span *ngIf="noteForm.get( 'contactroletypekey').value?.length> 1" class="example-additional-selection">
                                            (+{{noteForm.get('contactroletypekey').value.length - 1}} {{noteForm.get('contactroletypekey').value?.length === 2 ? 'other'
                                            : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let roles of contactRoles" [value]="roles">{{roles.typedescription}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label>Attachment</label>
                            <ng-select class="form-control" [searchable]="true" [clearable]="false" formControlName="documentpropertiesid" (change)="addAttachement($event)">
                                <ng-option value="">Select</ng-option>
                                <ng-option *ngFor="let data of addAttachementSubject$ | async | orderBy:'title'" [value]="data.documentpropertiesid">{{data.title}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" formControlName="contactphone" mask="(000) 000-0000" placeholder="Phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="contactemail" placeholder="Enter Email" class="form-control">
                            <control-messages class="alert-align" [control]="noteForm.controls['contactemail']"></control-messages>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control control--checkbox full-width pt-0">
                                Attempt Indicator
                                <input type="checkbox" formControlName="attemptindicator">
                                <div class="control__indicator"></div>
                            </label>
                        </div> -->
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="full-width required">Notes</label>
                            <textarea formControlName="description" rows="5" class="form-control full-width"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="btn-pri" type="submit" value="Save" name="save" [disabled]="noteForm.pristine || noteForm.invalid" (click)="saveNote(noteForm.value)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade recording-chat-model" id="myModal-recordings-edit" role="dialog">
    <div class="modal-dialog modal-dialog-w1050 custom-modal">
        <div class="modal-content form-wrapper txt-left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">View Notes</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <form [formGroup]="updateAppend" accept-charset="utf-8" class="form-search-person dangerwork-form address-form" style="padding:0px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="no-mar">Type of Contact</label>
                                <span>{{recordingDetail?.recordingtype}}</span>
                            </div>
                            <div class="form-group">
                                <label class="no-mar">Type of Visit</label>
                                <span>{{recordingDetail?.recordingsubtype}}</span>
                            </div>
                            <div class="form-group">
                                <label class="no-mar">Date</label>
                                <span>{{ recordingDetail?.recordingdate | date:'mediumDate' }}</span>
                            </div>
                            <div class="form-group">
                                <label class="no-mar">Name</label>
                                <span>{{recordingDetail?.contactname ? recordingDetail.contactname : '-'}}</span>
                            </div>
                            <div class="form-group">
                                <label class="no-mar">Start Time</label>
                                <span>{{ recordingDetail?.starttime | date: 'shortTime' }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="no-mar">End Time</label>
                                <span>{{ recordingDetail?.endtime | date: 'shortTime' }}</span>
                            </div>

                            <div class="form-group">
                                <label class="no-mar">Person Contacted</label>
                                <span class="persons-name">{{recordingDetail?.multipleRoles}}</span>
                            </div>
                            <!-- <div class="form-group"> -->
                            <!-- <label class="no-mar">Attachment</label> -->
                            <!-- <span>
                                    <a *ngIf="recordingDetail?.documentproperties?.s3bucketpathname" [href]="recordingDetail?.documentproperties?.s3bucketpathname"
                                        target="_blank">{{recordingDetail?.documentproperties?.title}}</a>
                                    <span *ngIf="!recordingDetail?.documentproperties?.s3bucketpathname">-</span>
                                </span> -->
                            <!-- </div> -->
                            <!-- <div class="form-group">
                                <label class="no-mar">Attachment</label>
                                <span>
                                    <a *ngIf="recordingDetail?.s3bucketpathname" [href]="recordingDetail?.s3bucketpathname" target="_blank">{{recordingDetail?.title}}</a>
                                    <span *ngIf="!recordingDetail?.s3bucketpathname">-</span>
                                </span>
                            </div> -->
                            <div class="form-group">
                                <label class="no-mar">Phone</label>
                                <span>{{recordingDetail?.contactphone ? recordingDetail.contactphone : '-'}}</span>
                            </div>
                            <div class="form-group">
                                <label class="no-mar">Email</label>
                                <span>{{recordingDetail?.contactemail ? recordingDetail.contactemail : '-'}}</span>
                            </div>
                            <label class="control control--checkbox full-width pt-0 pl-0">
                                Attempt Indicator:
                                <span class="inline-show left-space green" *ngIf="recordingDetail?.attemptindicator">Active</span>
                                <span class="inline-show left-space green" *ngIf="!recordingDetail?.attemptindicator">Inactive</span>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <div class="media-details">
                                <h4>Details</h4>
                                <div class=" box-grid">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="javascript:{}">
                                                <img class="media-object" src="assets/images/icon-avtar.png">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{recordingDetail?.author}}
                                                <span>{{recordingDetail?.recordingdate | date:'medium'}}</span>
                                            </h4>
                                            <p>{{recordingDetail?.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group" *ngIf="editViewNoteLabel === 'Edit'">
                                <label class="full-width">Append Note:</label>
                                <textarea name="" rows="5" formControlName="appendtitle" class="form-control full-width"></textarea>
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="col-md-12 text-right" *ngIf="editViewNoteLabel === 'Edit'">
                            <button class="btn-pri" [disabled]="updateAppend.pristine || updateAppend.invalid">Update</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
