<div>
  <div class="dashboard-cont no-pad">
    <div class="tab-content boxgrid">
      <div class="tab-pane active">
        <div class="cnt-min-height">
          <div class="person-profile">
            <form [formGroup]="involvedPersonFormGroup">
              <div id="add-Profile-info" class="tab-pane fade in active">
                <div class="row person-section-wrapper">
                  <div class="col-lg-3 col-md-4 col-sm-4 border-right-2 profile-group-container">
                    <profile-image-upload (uploadimagedata)="patchimagedata($event)"
                      [imgURL]="selectedPersonDetails?.personbasicdetails?.userphoto"></profile-image-upload>
                    <div class="row">
                      <div class="col-sm-6">

                        <mat-form-field>
                          <span matSuffix>feet</span>
                          <input type="text" mask="00" matInput formControlName="heightft"
                            placeholder="Height in Feet" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <span matSuffix>inches</span>
                          <input type="text" matInput mask="00" formControlName="heightin"
                            placeholder="Height in Inches" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field> <input type="text" mask="000" matInput formControlName="weightpnd"
                            placeholder="Weight in Pounds" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field> <input type="text" mask="00" matInput formControlName="weightound"
                            placeholder="Weight in Ounces" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field> <input type="text" matInput formControlName="tattoo" placeholder="Tattoo" (keydown.space)="$event.preventDefault();"/>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Glasses" formControlName="isglasses">
                            <mat-option *ngFor="let item of isGlasses" [value]="item.id">{{ item.value }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Hair Color" formControlName="haircolortypekey"
                            (change)="hairColorChange($event.value)">
                            <mat-option *ngFor="let item of (hairColor$ | async)" value="{{item.picklist_value_cd}}">
                              {{ item.description_tx }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field *ngIf="showOtherColor"> <input type="text" formControlName="haircolorotherdesc"
                            matInput placeholder="Other" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Hair Texture" formControlName="hairtexturetypekey"
                            (change)="hairTextureChange($event.value)">
                            <mat-option *ngFor="let item of (hairTexture$ | async)" value="{{item.picklist_value_cd}}">
                              {{ item.description_tx }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field *ngIf="showOtherTexture"> <input type="text"
                            formControlName="hairtextureotherdesc" (keyup) = "_onKeyUp($event)" matInput placeholder="Other" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Eye Color" formControlName="eyecolortypekey">
                            <mat-option *ngFor="let item of (eyeColor$ | async)" value="{{item.picklist_value_cd}}">
                              {{ item.description_tx }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Skin Tone" formControlName="skintonetypekey">
                            <mat-option *ngFor="let item of (skinTone$ | async)" value="{{item.picklist_value_cd}}">
                              {{ item.description_tx }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <mat-form-field>
                          <mat-select placeholder="Physical Build" formControlName="physicalbuildtypekey">
                            <mat-option *ngFor="let item of (physicalBuild$ | async)"
                              value="{{item.picklist_value_cd}}">{{ item.description_tx }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-8 col-sm-8 border-right-1 profile-group-container">
                    <div class="row m-t-10">
                      <div class="col-sm-3">
                        <mat-form-field>
                          <mat-select placeholder="Prefix" formControlName="prefix">
                            <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">
                              {{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-9">
                        <mat-form-field> <input type="text" matInput formControlName="Firstname"
                            placeholder="First Name" required (keydown.space)="$event.preventDefault();"/> </mat-form-field>
                      </div>
                    </div>

                    <!-- D-07948 End-->
                    <mat-form-field> <input type="text" matInput formControlName="Middlename"
                        placeholder="Middle Name" (keydown.space)="$event.preventDefault();"/>
                    </mat-form-field>
                    <div class="row">
                      <div class="col-sm-9">
                        <mat-form-field> <input type="text" matInput formControlName="Lastname" placeholder="Last Name"
                            required (keydown.space)="$event.preventDefault();"/> </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <mat-form-field>
                          <mat-select placeholder="Suffix" formControlName="nameSuffix">
                            <mat-option value="">Select an option</mat-option>
                            <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">
                              {{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="no-pad clsIntake dpnew no-placeholder clsDateLabel">
                          <common-date-picker [min]="minDate" [max]="maxDate" formControlName="Dob"
                            (valueChange)="dobchange()">
                          </common-date-picker>
                          <!-- DOB should not be required for a Collateral. -D-14660 -->
                          <label for=""> Date of Birth - MM/DD/YYYY <span
                              *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'household' || involvedPersonFormGroup.controls['roletype'].value === 'other'"
                              class="red">*</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <mat-checkbox formControlName="isapproxdob">Approximate Date</mat-checkbox>
                      </div>
                    </div>

                    <div class="col-sm-12 m-b-20">
                      <span>Age: {{personAge}}</span>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="no-pad clsIntake dpnew no-placeholder clsDateLabel">
                          <common-date-picker [max]="maxDate" [min]="involvedPersonFormGroup.controls['Dob'].value"
                            formControlName="dateofdeath">
                          </common-date-picker>
                          <label for=""> Date of Death - MM/DD/YYYY </label>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <mat-checkbox formControlName="isapproxdod">Approximate Date</mat-checkbox>
                      </div>
                    </div>

                    <div>
                      <mat-form-field>
                        <mat-select placeholder="Gender" required formControlName="gendertypekey">
                          <mat-option *ngFor="let item of (genderDropdownItems$ | async)" value="{{item.ref_key}}">
                            {{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <mat-checkbox formControlName="everbeenadoptedflag">Child Previously Adopted?
                        </mat-checkbox>
                      </div>
                    </div>

                    <div class="row" *ngIf="involvedPersonFormGroup.controls['everbeenadoptedflag'].value">
                      <div class="col-sm-12">
                        <div class="no-pad clsIntake dpnew no-placeholder clsDateLabel">
                          <common-date-picker [max]="maxDate" [min]="involvedPersonFormGroup.controls['Dob'].value" formControlName="preadptdate"></common-date-picker>
                          <label for=""> Previously Adoption Date MM/DD/YYYY </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6 profile-group-container">
                    <div class="m-t-10">
                      <mat-form-field>
                        <mat-select formControlName="livingsituationkey" placeholder="Living Situation">
                          <mat-option *ngFor="let living of (livingSituationDropDownItems$ | async) "
                            value={{living.ref_key}}>
                            {{living.description}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="involvedPersonFormGroup.controls['livingsituationkey'].value === 'LF'">
                        <mat-select formControlName="licensedfacilitykey" placeholder="Sub Type Of Living Situation">
                          <mat-option *ngFor="let item of licensedfacilityType$ " [value]="item.value">{{item.text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="involvedPersonFormGroup.controls['livingsituationkey'].value === 'Other'">
                        <input type="text" matInput placeholder="Describe" formControlName="otherlicensedfacility" />
                      </mat-form-field>

                      <mat-form-field>
                        <input type="text" matInput formControlName="livingsituationdesc"
                          placeholder="Living Situation Description"/>
                      </mat-form-field>

                      <mat-form-field>
                        <input type="text" matInput formControlName="stateid" (keyup)="_keyUp($event)" maxlength="12"
                          placeholder=" State ID / Drivers License" (keydown.space)="$event.preventDefault();"/>
                      </mat-form-field>

                      <mat-form-field>
                        <input type="text" numberOnly maxlength="11" matInput placeholder="SSN" formControlName="SSN"
                          [value]="f.SSN.value | mask:showSsnMask" (change)="SSNchanged()" (keydown.space)="$event.preventDefault();"/>
                        <span *ngIf="involvedPersonFormGroup.controls['SSN'].value !== ''" matSuffix>&nbsp;
                          <a (click)="toggleSsn()">
                            <i class="fa fa-lg {{ssnEye}}"></i>
                          </a>
                        </span>
                      </mat-form-field>
                      <div matTooltip="Please enter valid SSN">
                        <mat-checkbox formControlName="ssnverified"
                          [disabled]="involvedPersonFormGroup.controls['SSN'].value?.length !== 9">SSN Verified?
                        </mat-checkbox>
                      </div>
                      <mat-form-field>
                        <mat-select placeholder="Race" multiple formControlName="Race" (change)="changerace()">
                          <mat-option [disabled]="item.ref_key === setraceunkown || (isRaceUnknownFlag && item.ref_key !== 'UN')"
                            *ngFor="let item of (racetypeDropdownItems$ | async)" value="{{item.ref_key}}">
                            {{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Ethnicity" formControlName="ethnicgrouptypekey">
                          <mat-option *ngFor="let item of (ethinicityDropdownItems$ | async)" value="{{item.ref_key}}">
                            {{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field>
                        <input type="text" matInput placeholder="Occupation" formControlName="occupation"/>
                      </mat-form-field>

                      <!-- <mat-form-field>
                                  <mat-select placeholder="Marital Status" formControlName="maritalstatustypekeyold">
                                    <mat-option *ngFor="let item of (maritalDropdownItems$ | async)" value="{{item.value}}">{{
                                                              item.text }}</mat-option>
                                  </mat-select>
                                </mat-form-field> -->

                      <mat-form-field>
                        <input type="text" matInput formControlName="tribalassociation"
                          placeholder="Tribal Association"/>
                      </mat-form-field>

                      <mat-form-field>
                        <mat-select formControlName="religiontypekey" placeholder="Religion">
                          <mat-option *ngFor="let item of (religionDropdownItems$ | async)" value="{{item.ref_key}}">
                            {{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6 border-left-2 profile-group-container">
                    <div class="m-t-10">
                      <mat-form-field>
                        <mat-select placeholder="Primary Language" formControlName="primarylanguage"
                          (change)="languageType()">
                          <mat-option *ngFor="let item of (languageTypesDropDownItems$ | async)"
                            value="{{item.ref_key}}">{{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field>
                        <mat-select placeholder="Secondary Language" formControlName="secondarylanguage"
                          (change)="languageType()">
                          <mat-option *ngFor="let item of (languageTypesDropDownItems$ | async)"
                            value="{{item.ref_key}}">{{ item.description }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field> <input type="text" matInput formControlName="PhyMark"
                          placeholder="Physical Marks"/> </mat-form-field>
                    </div>

                    <div>
                      <p>Is a US citizen?</p>
                      <mat-radio-group formControlName="citizenalenageflag">
                        <mat-radio-button class="m-r-10" [value]=1>Yes</mat-radio-button>
                        <mat-radio-button [value]=0>No</mat-radio-button>
                      </mat-radio-group>

                      <div>
                        <mat-form-field>
                          <mat-select placeholder="Primary Citizenship Of" formControlName="primarycitizenship"
                            (change)="languageType()">
                            <mat-option *ngFor="let item of (primaryCitizenshipDropDownItems$ | async)"
                              value="{{item.ref_key}}">{{item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field>
                          <mat-select placeholder="Secondary " formControlName="secondarycitizenship"
                            (change)="languageType()">
                            <mat-option *ngFor="let item of (primaryCitizenshipDropDownItems$ | async)"
                              value="{{item.ref_key}}">{{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field>
                          <mat-select placeholder="Nationality " formControlName="nationality"
                            (change)="languageType()">
                            <mat-option *ngFor="let item of (primaryCitizenshipDropDownItems$ | async)"
                              value="{{item.ref_key}}">{{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div *ngIf="iscitizen === 0">
                        <mat-form-field>
                          <mat-select placeholder="Alien Status " formControlName="astatus">
                            <mat-option *ngFor="let item of (alienStatusDropDownItems$ | async)"
                              value="{{item.ref_key}}">{{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div *ngIf="iscitizen === 0 ">
                        <mat-form-field>
                          <input type="text" matInput formControlName="arnumber"
                            placeholder="Alien Registration Number " (keydown.space)="$event.preventDefault();"/>
                        </mat-form-field>
                      </div>
                    </div>

                    <!-- <div *ngIf="showQualifiedAlienQuestionValue">
                                    <p>Is the child a Qualified Alien?</p>
                                    <mat-radio-group formControlName="isqualifiedalien">
                                      <mat-radio-button class="m-r-10" value="1">Yes
                                      </mat-radio-button>
                                      <mat-radio-button value="0">No</mat-radio-button>
                                    </mat-radio-group>
                                  </div>  -->
                  </div>
                </div>

                <!-- "AKA info" -->
                <div class="row person-section-wrapper">
                  <person-also-known-as [aliasList]="aliasList"></person-also-known-as>
                </div>
                <!-- "role-info"  -->
                <div class="row person-section-wrapper" style="padding: 0px;" *ngIf="isAdoptionCase">
                    <div class="col-sm-12" style="padding: 0px">
                      <div class="alert alert-info alert-dismissible" style="margin: 0px;" role="alert">
                        Roles cannot be edited for Adoption Cases.
                      </div>
                  </div>
                </div>
                <div class="row person-section-wrapper"  *ngIf="!isAdoptionCase">
                  <div class="col-sm-12">
                    <p class="person-section-header mt-0 pt-10">Person Role <span class="red">*</span></p>
                  </div>
                  <!-- <div>
                              <common-date-picker [max]="maxDate" formControlName="maritalenddate"
                                placeholder="Date of Divorce - MM/DD/YYYY"></common-date-picker>
                            </div>
                            <div>
                              <mat-form-field> <input type="number" min="0" matInput formControlName="numberofchildren"
                                  placeholder="Number of Children" />
                              </mat-form-field>
                            </div> -->
                  <!--Roles-->
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <mat-radio-group required formControlName="roletype"
                          value="{{personRole?.ishouseholdmember == 1 ? 'household' : 'collateral'}}" required>
                          <mat-radio-button class="m-r-10" value="household" (click)="invokeValidators(1)">In Household
                          </mat-radio-button>
                          <mat-radio-button class="m-r-10" value="other" (click)="invokeValidators(1)">Other
                          </mat-radio-button>
                         <!--  <mat-radio-button value="collateral" (click)="invokeValidators(0)">Collateral
                          </mat-radio-button> -->
                        </mat-radio-group>
                      </div>

                      <div class="col-sm-6 col-lg-3" *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'household'
                        || involvedPersonFormGroup.controls['roletype'].value === 'other'">
                        <!-- <p> Is this person a Child or Legal Guardian ? <sup class="red m-l-5">*</sup> </p>
                                <mat-radio-group  required formControlName="primaryrole" (change)="primaryRoleSelected()" required>
                                    <mat-radio-button [value]="1">Child</mat-radio-button>
                                    <mat-radio-button [value]="2">Legal Guardian</mat-radio-button>
                                    <mat-radio-button [value]="0">N/A</mat-radio-button>
                                </mat-radio-group> -->
                        <mat-form-field>
                          <!-- (blur)="selectPrimaryRole($event)" -->
                          <mat-select required multiple placeholder="Role" id="roles" formControlName="roles"
                            (change)="processRoleValidation()">
                            <!-- <mat-label>{{selected}}<span style="padding-left:500px">Count: {{rolecount}}</span></mat-label> -->
                            <ng-container
                              *ngFor="let item of (householdroleDropdownItems$ | async | orderBy:'description')">
                              <mat-option *ngIf="checkRoles(item.ref_key)" [value]="item.ref_key">
                                <!-- <mat-option *ngFor="let item of (householdroleDropdownItems$ );let index=index;let first=first" 
                                  [value]="getSelected(item,first)"> -->
                                {{item.description }}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6 col-lg-3"
                        *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'household' && isheadofhouseholdflag">
                        <mat-checkbox formControlName="isheadofhousehold" value="{{personRole?.isheadofhousehold}}">Head
                          of Household
                        </mat-checkbox>
                      </div>
                      <div class="col-sm-6" *ngIf="isChildRole">
                        <p> Mother (Biological) Married at time of child's birth ?</p>
                        <mat-radio-group formControlName="biologicalmothermarriedsw">
                          <mat-radio-button [value]="1">Yes</mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                          <mat-radio-button [value]="2">Unable to Determine</mat-radio-button>
                        </mat-radio-group>
                      </div>

                      <div class="col-sm-6 col-lg-3"
                        *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'collateral'">
                        <mat-form-field>
                          <mat-select required multiple placeholder="Role" formControlName="roles"
                            (change)="processRoleValidation()">
                            <!-- <mat-label>{{selected}}<span style="padding-left:500px">Count: {{rolecount}}</span></mat-label> -->
                            <mat-option *ngFor="let item of (collateralroleDropdownItems$ | async)"
                              [value]="getSelected(item,first)">
                              {{item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6 col-lg-3"
                        *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'collateral'">
                        <mat-form-field> <input type="text" matInput formControlName="clienttitle"
                            placeholder="Title" /> </mat-form-field>
                      </div>
                      <div class="col-sm-6 col-lg-3"
                        *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'collateral'">
                        <mat-form-field> <input type="text" matInput formControlName="employername"
                            placeholder="Organization" /> </mat-form-field>
                      </div>
                    </div>
                  </div>
                 
                  <!-- Substance Exposed -->
                  <div class="col-sm-12 pt-10" *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'household'
                    || involvedPersonFormGroup.controls['roletype'].value === 'other'">
                    <div class="row">
                      <div class="col-sm-6 col-md-3">
                        <mat-checkbox formControlName="sexoffenderregisteredflag" [disabled]="isNotSexOffender">Sex
                          offender registery checked
                        </mat-checkbox>
                      </div>

                      <div class="col-sm-6 col-md-3">
                        <mat-checkbox formControlName="probationsearchconductedflag">Judiciary case search
                        </mat-checkbox>
                      </div>

                      <div class="col-sm-6 col-md-3">
                        <div matTooltip="Child's age should be less than or equal to 30 days">
                          <mat-checkbox [disabled]=" personAgeCheck > 30" formControlName="drugexposednewbornflag">
                            Substance exposed new born </mat-checkbox>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-3" matTooltip="Child's age should be less than or equal to 10 days">
                        <mat-checkbox [disabled]=" personAgeCheck > 10" formControlName="safehavenbabyflag">Safe haven
                          baby</mat-checkbox>
                      </div>
                    </div>
                    <div class="row m-t-10">
                      <div class="col-sm-6 col-md-3"
                        *ngIf="involvedPersonFormGroup.controls['drugexposednewbornflag'].value === true">
                        <mat-form-field>
                          <!-- "involvedPersonFormGroup.controls['drugexposednewbornflag'].value === false " -->
                          <mat-select placeholder="Substance Class" multiple required formControlName="drugexposedtypekey">
                            <mat-option *ngFor="let item of (babysubstanceclassDropDownItems$ | async)"
                              value="{{item.ref_key}}">
                              {{ item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <!-- <div *ngIf="involvedPersonFormGroup.controls['drugexposedtypekey'].value == 'BOTH' "> -->
                      <div class="col-sm-6 col-md-3" *ngIf="babySubstanceOther">
                        <mat-form-field> <input type="text" matInput formControlName="otherdrugs"
                            placeholder=" Other Substances" /> </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 pt-20" *ngIf="involvedPersonFormGroup.controls['roletype'].value === 'household' 
                    || involvedPersonFormGroup.controls['roletype'].value === 'other'">
                    <div class="row bd-top">
                      <div class="col-sm-6 col-md-6 col-lg-3">
                        <p> Danger to self? <sup class="red m-l-5">*</sup> </p>
                        <mat-radio-group required formControlName="dangerousself"
                          (change)="dangerQuestionChange('dangerousself')">
                          <mat-radio-button [value]="1">Yes</mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                          <mat-radio-button [value]="2">Unknown</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                          <input type="text" matInput placeholder="Reason" formControlName="dangerousselfreason"
                            [required]="involvedPersonFormGroup.controls['dangerousself'].value == 1 "/>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6 col-md-6 col-lg-3">
                        <p> Appearance of mentally impaired? <sup class="red m-l-5">*</sup> </p>
                        <mat-radio-group required formControlName="ismentalimpair"
                          (change)="dangerQuestionChange('ismentalimpair')">
                          <mat-radio-button [value]="1">Yes</mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                          <mat-radio-button [value]="2">Unknown</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                          <input type="text" matInput placeholder="Reason" formControlName="ismentalimpairReason"
                            [required]="involvedPersonFormGroup.controls['ismentalimpair'].value == 1 "/>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6 col-md-6 col-lg-3">
                        <p> Danger to worker? <sup class="red m-l-5">*</sup> </p>
                        <mat-radio-group required formControlName="Dangerousworker"
                          (change)="dangerQuestionChange('Dangerousworker')">
                          <mat-radio-button [value]="1">Yes</mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                          <mat-radio-button [value]="2">Unknown</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                          <input type="text" matInput placeholder="Reason" formControlName="DangerousWorkerReason"
                            [required]="involvedPersonFormGroup.controls['Dangerousworker'].value == 1 "/>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6 col-md-6 col-lg-3">
                        <p> Signs of mental illness? <sup class="red m-l-5">*</sup> </p>
                        <mat-radio-group required formControlName="ismentalillness"
                          (change)="dangerQuestionChange('ismentalillness')">
                          <mat-radio-button [value]="1">Yes</mat-radio-button>
                          <mat-radio-button [value]="0">No</mat-radio-button>
                          <mat-radio-button [value]="2">Unknown</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                          <input type="text" matInput placeholder="Reason" formControlName="ismentalillnessReason"
                            [required]="involvedPersonFormGroup.controls['ismentalillness'].value == 1 "/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- martial-info"  -->
                <div class="row person-section-wrapper">
                  <div class="col-sm-12">
                    <p class="person-section-header">Marital Status</p>
                  </div>

                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-lg-4 col-sm-12">
                        <div class="row">
                          <div class="col-lg-12 col-sm-6">
                            <mat-form-field>
                              <mat-select placeholder="Status" formControlName="maritalstatustypekey">
                                <mat-option *ngFor="let item of (maritalDropdownItems$ | async)"
                                  value="{{item.ref_key }}">
                                  {{item.description }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-12 col-sm-6" *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'MR' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'LS' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'WD' ">
                            <mat-form-field> <input type="text" matInput formControlName="marriageplace"
                                placeholder="Place of Marriage" />
                            </mat-form-field>
                          </div>
                          <div class="col-lg-12 col-sm-6"
                            *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ">
                            <mat-form-field> <input type="text" matInput formControlName="divorceplace"
                                placeholder="Place of Divorce" />
                            </mat-form-field>
                          </div>
                          <div class="col-lg-12 col-sm-6" *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'MR' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'LS' ||
                                        this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'WD' ">
                            <common-date-picker [max]="maxDate" formControlName="maritalstartdate"
                              placeholder="Date of Marriage - MM/DD/YYYY"></common-date-picker>
                          </div>
                          <div class="col-lg-12 col-sm-6"
                            *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ">
                            <common-date-picker [max]="maxDate" formControlName="maritalenddate"
                              placeholder="Date of Divorce - MM/DD/YYYY"></common-date-picker>
                          </div>
                          <div class="col-lg-12 col-sm-6"
                            *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ">
                            <mat-form-field> <input type="number" min="0" matInput formControlName="numberofchildren"
                                placeholder="Number of Children" />
                            </mat-form-field>
                          </div>
                          <div class="col-lg-12 col-sm-6" *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value 
                            && this.involvedPersonFormGroup.controls['maritalstatustypekey'].value != ''">
                            <mat-form-field> <input type="text" matInput formControlName="maritalcomments"
                                placeholder="Comments if any" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 clsMarginMinus-40" *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'MR' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'LS' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'WD' ">
                        <h4>Spouse Detail</h4>
                        <div class="row">
                          <mat-form-field class="col-sm-4">
                            <mat-select placeholder="Prefix" formControlName="spouseprefix">
                              <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">
                                {{ item.description }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="col-sm-8"> <input type="text" matInput
                              formControlName="spousefirstname" placeholder="First Name" />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field> <input type="text" matInput formControlName="spousemiddlename"
                              placeholder="Middle Name" />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field class="col-sm-8"> <input type="text" matInput formControlName="spouselastname"
                              placeholder="Last Name" />
                          </mat-form-field>
                          <mat-form-field class="col-sm-4">
                            <mat-select placeholder="Suffix" formControlName="spousesuffix">

                              <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                  item.description }} </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <h4>Spouse Contact Number</h4>
                        <div class="row">
                          <mat-form-field class="col-sm-12">
                            <input type="text" matInput formControlName="spousehomenumber" matInput
                              mask="(000) 000-0000" placeholder="Home" />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field class="col-sm-8">
                            <input type="text" matInput formControlName="spouseofficenumber" matInput
                              mask="(000) 000-0000" placeholder="Office" />
                          </mat-form-field>
                          <mat-form-field class="col-sm-4">
                            <input type="text" matInput formControlName="spouseofficeextension" matInput
                              placeholder="Extn" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 clsMarginMinus-40" *ngIf="this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'DV' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'MR' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'LS' ||
                              this.involvedPersonFormGroup.controls['maritalstatustypekey'].value === 'WD' ">
                        <h4>Spouse Address</h4>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="cont-field">
                              <mat-form-field>
                                <input type="text" matInput placeholder="Address Line 1"
                                  formControlName="spouseaddress1" [matAutocomplete]="auto"
                                  (input)="getSuggestedAddress()" />
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)">
                                    {{item.text}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field>
                              <input type="text" matInput placeholder="Address Line 2"
                                formControlName="spouseAddress2" />
                            </mat-form-field>
                          </div>
                          <div class="col-sm-12">
                            <mat-form-field> <input type="text" matInput formControlName="spousecity"
                                placeholder="City" /> </mat-form-field>
                          </div>
                        </div>
                        <div>
                          <mat-form-field>
                            <mat-select placeholder="State" formControlName="spousestate">
                              <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)"
                                (click)="loadCounty(item)" value="{{item.ref_key}}">
                                {{ item.description }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field>
                            <mat-select formControlName="spousecounty" placeholder="County">
                              <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.ref_key}}">
                                {{item.description}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field>
                            <input type="number" matInput placeholder="Zip Code" formControlName="spousezipcode" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right pt-15 mb-15">
                <button class="btn sec-btn" (click)="goBack()">Back
                </button>
                <button class="btn btn-pri" (click)="addOrUpdatePerson()" [disabled]="_personInfoService.getClosed() || isClosed">Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in modal-theme" id="profile-error-message" role="dialog" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog t-25">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" (click)="closeErrorMessage()">×</button>
        <p class="title text-center"> Alert </p>
        <ul class="doc-list">
          <li>{{errorMessage}}
          </li>

        </ul>
        <div class="text-right big-bot-space right-mspace-15 m-t-30">
          <button class="btn-pri" name="" (click)="closeErrorMessage()"> OK </button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in modal-theme" id="validation-list" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog t-25">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Please fill the following mandatory information </h4>
      </div>
      <div class="modal-body">


        <div>

          <div class="col-md-12 check-block m-b-20">

            <ul>
              <li *ngFor="let error of errorList; let isLast = last;">
                {{error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="text-right big-bot-space right-mspace-15 m-t-30">
          <button class="btn-pri" data-dismiss="modal"> OK </button>
        </div>
      </div>
    </div>
  </div>
</div>