<div [formGroup]="medicalconditionForm" [fieldKey]="'myintake-persons-involved-edit-health-medical-conditions'">

    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select   formControlName="medicalconditiontypekey"
                    placeholder="Medical Conditions" multiple>
                    <mat-option (click)="setMedicalCondition(item)" *ngFor="let item of medicalConditionType$ | async" [value]="item.value">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-sm-6" *ngIf="isCustomMedicalCondition">
            <mat-form-field>
                <input  formControlName="custommedicalcondition" matInput placeholder="Enter Medical Condition">
            </mat-form-field>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <mat-form-field>
                <textarea matInput formControlName="medicalconditionsnotes" placeholder="Notes"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field>
                <input  (change)="startDateChanged" formControlName="begindate" matInput [matDatepicker]="picker41"
                    placeholder="Begin Date">
                <mat-datepicker-toggle matSuffix [for]="picker41"></mat-datepicker-toggle>
                <mat-datepicker #picker41></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <input  (change)="endDateChanged" formControlName="enddate" matInput [matDatepicker]="picker42"
                    placeholder="End Date">
                <mat-datepicker-toggle matSuffix [for]="picker42"></mat-datepicker-toggle>
                <mat-datepicker #picker42></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <input  matInput formControlName="recordedby" placeholder="Recorded By">
            </mat-form-field>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="medicalconditionForm.pristine || medicalconditionForm.invalid"
                        (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="medicalconditionForm.pristine || medicalconditionForm.invalid"
                        *ngIf="editMode === true" (click)="update()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="medicalcondition.length>0">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="table-responsive table-theme table-bordered">
                    <table *ngIf="medicalcondition" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Medical Condition
                                </th>
                                <th>
                                    Begin Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    Recorded By
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let condition of medicalcondition; let i=index">
                                <td>{{condition.medicalconditiontypekey}}</td>
                                <td>{{condition.begindate | date:'MM/dd/yyyy'}}</td>
                                <td>{{condition.enddate | date:'MM/dd/yyyy'}}</td>
                                <td>{{condition.recordedby}}</td>
                                <td>
                                    <a (click)="view(condition)">
                                        <i class="fa fa-eye text-16"></i>
                                    </a> |
                                    <a (click)="edit(condition, i)">
                                        <i class="fa fa-pencil text-16"></i>
                                    </a> |
                                    <a (click)="delete(i)">
                                        <i class="fa fa-trash text-16"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
