<div class="container-fluid m-l-20">
  <form [formGroup]="restitutionSearchFrom">
    <div class="row">
      <h4>Search Restitution</h4>
    </div>
    <div class="row">
      <h5>Search By Youth</h5>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="youthfirstname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="youthlastname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput type="number" placeholder="CJAMS PID" formControlName="youthid">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Select Relation" formControlName="youthrelation">
            <mat-option *ngFor="let relation of relations" [value]="relation.relationshiptypekey">{{relation.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <h5>Search By Victim</h5>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="victimfirstname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="victimlastname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Complaint ID" formControlName="complaintid">
        </mat-form-field>
      </div>
      <div class="col-sm-3">

        <mat-form-field>
          <input matInput placeholder="Petition ID" formControlName="petitionid">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <h5>Search By Payment</h5>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Payer First name" formControlName="payerfirstname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Payer Last name" formControlName="payerlastname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Deposit Number" formControlName="depositnumber">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Account Area" formControlName="accountarea">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Payment Amount" type="number" formControlName="paymentamount">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Payment Number" formControlName="paymentnumber">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Memo First" formControlName="memofirstname">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Memo Last" formControlName="memolastname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="payeraddress">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="City" formControlName="payercity">
        </mat-form-field>

      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="State" formControlName="payerstatekey">
        </mat-form-field>

      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Zipcode" type="number" formControlName="payerzipcode">
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Restitution Account ID" type="number" formControlName="restitutionno">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="wizard-buttons text-right">
          <input class="btn-bg" type="button" value="Clear" (click)="clearSearchForm()" />
          <button class="btn-pri btn" type="submit" [disabled]="restitutionSearchFrom.pristine || restitutionSearchFrom.invalid"
            (click)="searchRestituion()">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>