<div role="tabpanel" class="tab-pane" id="pa-tasks">
  <div class="box-grid">
    <div class="row">
      <div class="col-sm-9">
        <h3>Manage Tasks</h3>
      </div>
      <div class="col-sm-3">
        <div class="tab-title-btn">
          <button data-toggle="modal" (click)="changeModelLabel('Add Task')" data-target='#add-edit-pa-tasks' class="btn-pri pull-right">
            <i class="fa fa-plus right-sspace"> </i> Add Task</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
            <thead>
              <tr>
                <th sortable-column="name" sort-direction="asc">{{providerContractingConfig.TableHeaderName}}</th>
                <th sortable-column="description">{{providerContractingConfig.TableHeaderDescription}}</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>
                  <div class="inner-addon right-addon">
                    <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                    <input class="form-control full-width" type="text" value="" (input)="onSearch('name', $event.target.value)" placeholder="Search Name">
                  </div>
                </td>
                <td>
                  <div class="inner-addon right-addon">
                    <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                    <input class="form-control full-width" type="text" value="" (input)="onSearch('description', $event.target.value)" placeholder="Search Description">
                  </div>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngIf="paTasksPC$ | async; let paTasksList">
              <tr *ngFor="let PaTask of paTasksList">
                <td>{{PaTask.name}}</td>
                <td>{{PaTask.description}}</td>
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                    <a (click)='editItem(PaTask)' data-toggle="modal" data-target='#add-edit-pa-tasks'>
                      <img src="assets/images/form-letter/edit-icon.png" alt="">
                    </a>
                  </span>
                  <span data-toggle="tooltip" data-placement="top" title="Delete">
                    <a (click)="confirmDelete(PaTask)">
                      <img src="assets/images/form-letter/delete-icon.png" alt="">
                    </a>
                  </span>
                </td>
              </tr>
              <tr *ngIf="paTasksList?.length === 0">
                <td colspan="2">No records found.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
          <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
            (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="add-edit-pa-tasks" data-backdrop="static" data-keyboard="false" role="dialog" style="display: none;">
  <div class="modal-dialog">

    <div class="modal-content customize-modal">
      <div class="modal-header">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">{{addEditLabel}}</h4>
        </div>
      </div>
      <form [formGroup]="paTaskForm" class="modal-body">
        <div class="row">
          <!-- <input type="hidden" [(ngModel)]="catelogData.Id" name="Id"> -->
          <div class="col-sm-12">
            <div class="fm-box">
              <label class="required">Name</label>
              <div class="fm-box-form col-sm-5">
                <input type="text" formControlName="name" class="form-control fm-style" placeholder="" required>
                <control-messages [control]="paTaskForm.controls['name']"></control-messages>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="fm-box">
              <label class="required">Description</label>
              <div class="fm-box-form col-sm-5 fm-narrate">
                <textarea class="form-control fm-style" formControlName="description" placeholder="Start writing from here.." required></textarea>
                <diV>
                  <control-messages [control]="paTaskForm.controls['description']"></control-messages>
                </diV>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mrg-top25">
            <div class="pull-right">
              <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal" name="">Cancel</button>
              <button type="button" value="Save" class="btn-pri" (click)="saveItem()" data-dismiss="modal" [disabled]="paTaskForm.pristine || paTaskForm.invalid">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="deleteItem()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>