.wrap-ribbon {
    background: #19a7b8;
    color: #fff;
}

.cls-mb-5 {
    position: relative;

    &::after {
        position: absolute;
        display: block;
        content: '';
        border-right: 1px solid #007988;
        top: -10px;
        bottom: 0px;
        right: 0px;
        min-height: 130px;
    }

    p {
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-transform: capitalize;
    }
}

.day-count-main {
    margin-top: 25px;

    .count-center {
        display: inline;

        .day-count {
            display: table-cell;
            vertical-align: middle;
            font-size: 28px;
        }
    }
}

.p-t-b-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.unrestricted-item-bar {
    padding: 2px 5px;
    border-radius: 3px;
    color: #19a7b8;
    font-size: 13px;
    background: white;
    border: 0px solid #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 2px;
    font-weight: 600;
    display: inline-block;
    min-width: 70px;
    text-align: center;
}