<div class="row tab-pane">
    <div class="find-place">
        <div class="col-sm-6 pull-right text-right">
            <button class="history-btn" type="button" *ngIf="!isServiceCase" (click)="isHistoryTab ? addPlan() : viewHistory()">{{
                isHistoryTab ? 'Add Plan' : 'Back' }}</button>
        </div>
        <div class="col-sm-12">
            <button class="btn-pri pull-right text-uppercase add-btn" type="button" *ngIf="isServiceCase"(click)="isHistoryTab ? addPlan() : viewHistory()">{{
                isHistoryTab ? 'Add Plan' : 'Back' }}</button>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
            <div class="m-t-10" *ngIf="isHistoryTab">
                <ng-container *ngFor="let permanencyPlanWrapper of permanencyPlanWrappers; let i=index;">
                    <div class="row m-b-20">
                        <div class="col-sm-12" *ngIf="isServiceCase">
                                <ul class="list-unstyled list-inline theme-heder-bg minus-icon m-0">    
                                <li>
                                    <h5 *ngIf="isServiceCase">{{ permanencyPlanWrapper?.firstname }} {{ permanencyPlanWrapper?.lastname }} {{ permanencyPlanWrapper?.suffix }}</h5>
                                </li>
                                <li class="m-l-30"><span><span> Age: </span><b>{{permanencyPlanWrapper?.age}} </b></span></li>
                                <li class="m-l-30"><span><span>DOB: </span><b>{{permanencyPlanWrapper?.dob | date:'MM/dd/yyyy'}}</b></span></li>
                                <li class="m-l-30"><span><span>Gender: </span><b>{{permanencyPlanWrapper?.gender}}</b></span></li>
                                <li class="m-r-10 pull-right" id= "{{i}}"><a href="#accordion{{i}}" aria-expanded="false" aria-hidden="true" data-toggle="collapse"><i class="fa fa-plus" ></i></a></li>
                                <!-- <li class="m-r-10 pull-right"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#accordion"></i></li> -->
                            </ul>
                        </div>
                        <div class="col-sm-12 collapse" id="accordion{{i}}">
                            <div class="table-responsive table-theme brd">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Child Name</th>
                                        <th>Date of Birth</th>
                                        <th>Primary Permanency Plan</th>
                                        <th>Established Date</th>
                                        <th>Provider Name</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                    <ng-container *ngIf="permanencyPlanWrapper?.permanencyplans?.length">
        
                                        <tr *ngFor="let plan of permanencyPlanWrapper.permanencyplans">
                                            <td>{{ plan.childname }}</td>
                                            <td>{{ permanencyPlanWrapper.dob ? (permanencyPlanWrapper?.dob | date: 'MM/dd/yyyy') : 'N/A' }}</td>
                                            <td>
                                                <ng-container *ngIf="plan?.primarypermanency?.length > 0; else: noPrimary">
                                                    <div class="select-category" *ngFor="let primary of plan.primarypermanency">
                                                        <span class="selected-item">{{ primary.primaryplandescription }} <i
                                                                class="fa fa-times" aria-hidden="true"></i> </span>
                                                        <p>{{ primary.primaryplansubdescription }}</p>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noPrimary> No Primary Plan </ng-template>
                                            </td>
                                            <td>{{ plan.establisheddate ? (plan.establisheddate | date: 'MM/dd/yyyy') : 'N/A'
                                                }}</td>
                                            <td>{{ plan.provider_nm }}</td>
                                            <td>{{ plan.status }}</td>
                                            <td style="text-align: center;" class="icon">
                                                <a title="View" data-placement="top" (click)="viewPlan(plan)"> <i class="fa fa-eye"></i>
                                                </a>
                                                <ng-container  *ngIf="!isServiceCase">
                                                        <a *ngIf="plan.status==='Approved'" title="View" data-placement="top" (click)="routeToPlan(plan)">
                                                                <i class="fa fa-play-circle-o"></i>
                                                            </a>
                                                </ng-container>
                                                
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="!permanencyPlanWrapper?.permanencyplans?.length">
                                        <td colspan="7">No Plan added.</td>
                                    </tr>
        
        
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane" *ngIf="!isHistoryTab">
    <div class="row p-b-20 m-t-20">
        <div class="row" [formGroup]="permanencyPlanForm">
            <div class="col-md-12 p-b-20">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="" *ngIf="!isViewForm">
                                    <mat-select placeholder="Child Name" formControlName="childName" (change)="pesonDateOfBirth($event)"
                                        required>
                                        <mat-option *ngFor="let person of (involvedPerson$ | async)" [value]="person">{{
                                            person.firstname + ' ' + person.lastname }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="" *ngIf="isViewForm">
                                    <mat-select placeholder="Child Name" formControlName="childName" (change)="pesonDateOfBirth($event)"
                                        required>
                                        <mat-option *ngFor="let person of (involvedPerson$ | async)" [value]="person.firstname + '  ' + person.lastname">{{
                                            person.firstname + ' ' + person.lastname
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dob" formControlName="dateofbirth" (click)="dob.open()"
                                        placeholder="Date of Birth" />
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select formControlName="gender" placeholder="Gender">
                                        <mat-option *ngFor="let item of (genderDropdownItems$ | async)" value="{{item.value}}">{{
                                            item.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class=""> <input matInput placeholder="CJAMS ID" formControlName="cjamspid" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 boder-btm m-t-20">
                <div class="row p-b-20">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput [matDatepicker]="date" formControlName="establisheddate" (click)="date.open()"
                                        placeholder="Established date" required />
                                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                    <mat-datepicker #date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput [matDatepicker]="projecteddate" [min]="permanencyPlanForm.value.establisheddate"
                                        formControlName="projecteddate" (click)="projecteddate.open()" placeholder="Projected Achieved date"
                                        required />
                                    <mat-datepicker-toggle matSuffix [for]="projecteddate"></mat-datepicker-toggle>
                                    <mat-datepicker #projecteddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="reviseddate" [min]="maxDate" (click)="reviseddate.open()"
                                        formControlName="reviseddate" placeholder="Received Date" />
                                    <mat-datepicker-toggle matSuffix [for]="reviseddate"></mat-datepicker-toggle>
                                    <mat-datepicker #reviseddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="achieveddate" formControlName="achieveddate"
                                        (click)="achieveddate.open()" [min]="permanencyPlanForm.value.projecteddate"
                                        placeholder="Achieved date" />
                                    <mat-datepicker-toggle matSuffix [for]="achieveddate"></mat-datepicker-toggle>
                                    <mat-datepicker #achieveddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 boder-btm  m-t-20">
                <div class="row p-b-20">
                    <div class="col-md-6">
                        <mat-form-field class="" *ngIf="!isViewForm">
                            <mat-select placeholder="Primary Permanency Plan" formControlName="primaryPlan" (change)="onPrimaryPlanChange($event, 1)"
                                required>
                                <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                    <mat-option [disabled]="childAge < 13 && plan.permanencyplantypekey === 'APPLA'"
                                        [value]="plan">{{ plan.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="" *ngIf="isViewForm">
                            <mat-select placeholder="Primary Permanency Plan" formControlName="primaryPlan" (change)="onPrimaryPlanChange($event, 1)"
                                required>
                                <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                    <mat-option [disabled]="childAge < 13 && plan.permanencyplantypekey === 'APPLA'"
                                        [value]="plan.permanencyplantypekey">{{ plan.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="primaryPlanSubType?.permanencyplansubtype?.length">
                            <mat-select placeholder="Planned Permanent Living Arrangement" formControlName="primaryarrangetype">
                                <mat-option *ngFor="let plan of primaryPlanSubType.permanencyplansubtype" [value]="plan.permanencyplansubtypekey">{{
                                    plan.description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-9 input-btn">
                                <mat-form-field class=""> <input matInput placeholder="Name of Provider"
                                        formControlName="primaryprovidername" required /> </mat-form-field>
                                <button class="btn-pri" data-toggle="modal" [disabled]="isViewForm" type="button"
                                    (click)="openSearch('primary')">Search</button>
                            </div>
                            <div class="col-md-3"><button class="btn-theme btn-bg m-t-10" type="button" [disabled]="isViewForm"
                                    (click)="clearSelectedProvider('primary')">Reset</button></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class=""> <input matInput placeholder="Name of Relative" formControlName="primaryrelativename" />
                        </mat-form-field>
                        <mat-form-field class=""> <input matInput placeholder="Name of Non-Relative" formControlName="primarynonrelativename" />
                        </mat-form-field>
                        <mat-checkbox class="checkbox-m-t" formControlName="ispriresourceidentified">No Resource
                            Identified</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-md-12 boder-btm  m-t-20">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field *ngIf="!isViewForm">
                            <mat-select placeholder="Concurrent Permanency Plan" formControlName="concurrentPlan"
                                (change)="onConcurrentPlanChange($event)">
                                <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                    <mat-option *ngIf="plan.permanencyplantypekey !== 'APPLA'" [value]="plan">{{
                                        plan.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="isViewForm">
                            <mat-select placeholder="Concurrent Permanency Plan" formControlName="concurrentPlan"
                                (change)="onConcurrentPlanChange($event)">
                                <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                    <mat-option *ngIf="plan.permanencyplantypekey !== 'APPLA'" [value]="plan.permanencyplantypekey">{{
                                        plan.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="concurrentPlanSubType?.permanencyplansubtype?.length">
                            <mat-select placeholder="Planned Permanent Living Arrangement" formControlName="concurrentarrangetype">
                                <mat-option *ngFor="let plan of concurrentPlanSubType.permanencyplansubtype" [value]="plan.permanencyplansubtypekey">{{
                                    plan.description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-9 input-btn">
                                <mat-form-field class=""> <input matInput placeholder="Name of Provider"
                                        formControlName="concurrentprovidername" /> </mat-form-field>
                                <button class="btn-pri" [disabled]="isViewForm" type="button" data-toggle="modal"
                                    (click)="openSearch('concurrent')">Search</button>
                            </div>
                            <div class="col-md-3"><button class="btn-theme btn-bg m-t-10" [disabled]="isViewForm" type="button"
                                    (click)="clearSelectedProvider('concurrent')">Reset</button></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class=""> <input matInput placeholder="Name of Relative" formControlName="concurrentrelativename" />
                        </mat-form-field>
                        <mat-form-field class=""> <input matInput placeholder="Name of Non-Relative" formControlName="concurrentnonrelativename" />
                        </mat-form-field>
                        <mat-checkbox class="checkbox-m-t" formControlName="Isconresourceidentified">No Resource
                            Identified</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-uppercase m-t-20 m-r-20">
                    <ng-container *ngIf="isSupervisor">
                        <button class="btn-pri pull-right" (click)="approvePlan('Approved')">Approve</button> <button
                            class="btn-pri pull-right" (click)="approvePlan('Rejected')">Denied</button>
                    </ng-container>
                    <button *ngIf="!isSupervisor" [disabled]="permanencyPlanForm.pristine || permanencyPlanForm.invalid || isViewForm"
                        class="pull-right btn-pri" (click)="savePlan()">
                        Submit For Review
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="search-provider" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title">Search Result</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tab mrg-btm25 cus-tab-section">
                            <li class="active">
                                <a id="fc_search" (click)="resetSearch()" data-toggle="tab" href="#search"> <span class="circle fa fa-pencil"></span>
                                    <span class="tab-txt">Search </span> </a>
                            </li>
                            <li>
                                <a id="fc_list" (click)="resetSearch()" data-toggle="tab" href="#search-list"> <span
                                        class="circle fa fa-pencil"></span> <span class="tab-txt">List </span> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 m-b-20">
                        <div class="col-md-3 col-md-offset-2">
                            <p class="textb">
                                <b class="">Name : {{ selectedChild?.firstname + ' ' + selectedChild?.lastname }}</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb">
                                <b class="">Age : {{ childAge }}</b>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="textb">
                                <b class="">Gender : {{ selectedChild?.gender }}</b>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="search" class="tab-pane fade in active">
                            <div class="col-md-12">
                                <div class="m-b-20" [formGroup]="providerSearchForm">
                                    <h5 class="textb text-uppercase">Search The Provider</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div>
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                                                </h5>
                                                <div class="">
                                                    <p>Youngest :</p>
                                                    <p>Oldest :</p>
                                                </div>
                                            </div>
                                            <div class="m-t-30">
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                                </h5>
                                                <p>Gender :</p>
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div>
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="" formControlName="isLocalDpt" (change)="localdptSelected($event)">Local
                                                        Department Home Care Giver</mat-checkbox>
                                                </h5>

                                                <div class="col-md-6">
                                                    <mat-form-field> <input matInput placeholder="First Name" value=""
                                                            formControlName="firstname" /> </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-form-field> <input matInput placeholder="Middle Name" value=""
                                                            formControlName="middlename" /> </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field> <input matInput placeholder="Last Name" value=""
                                                            formControlName="lastname" /> </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Child Characteristics" formControlName="childCharacteristicsid">
                                                            <mat-option *ngFor="let item of (childCharacteristics$ | async)"
                                                                value="{{item.picklist_value_cd}}">{{
                                                                item.description_tx }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Other Local Department"
                                                            formControlName="otherLocalDeptmntTypeId">
                                                            <mat-option *ngFor="let item of (otherLocalDeptmntType$ | async)"
                                                                value="{{item.service_id}}">{{ item.description_tx }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field> <input matInput placeholder="Zip Code" value=""
                                                            formControlName="zipcode" zipcodeOnly (focusout)="onChange($event)" />
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Placement Structure" formControlName="placementStrTypeId">
                                                            <mat-option *ngFor="let item of (placementStrType$ | async)"
                                                                value="{{item.service_id}}">{{ item.service_nm }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Bundled Placement Structure"
                                                            formControlName="bundledPlcmntServicesTypeId">
                                                            <mat-option *ngFor="let item of (bundledPlcmntServicesType$ | async)"
                                                                value="{{item.service_id}}">{{ item.service_nm }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field> <input matInput placeholder="providerId" value=""
                                                            formControlName="providerId" /> </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-theme btn-pri m-l-30" (click)="getProviderSearch()">SEARCH</button>
                                <button class="btn btn-theme btn-pri m-l-30">Cancel</button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="search-list">
                            <div class="col-sm-12 text-right"><button *ngIf="providerSearch?.length > 0" type="button"
                                    class="btn-pri">View Map</button></div>
                            <div class="col-md-12 m-b-30 m-t-20">
                                <div class="table-responsive table-theme height-table">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Provider ID</th>
                                                <th>Provider Name</th>
                                                <th>Program Name</th>
                                                <th>Preferred</th>
                                                <th>Vacancy</th>
                                                <th>Placement Structure</th>
                                                <th>Provider category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of providerSearch">
                                                <td><input type="radio" name="provider" (change)="chooseProvider(item)" /></td>
                                                <td>
                                                    <a data-target="#searchResult" data-toggle="modal">{{
                                                        item.provider_id }}</a>
                                                </td>
                                                <td>{{ item.providername }}</td>
                                                <td>{{ item.programname }}</td>
                                                <td>{{ item.preferred }}</td>
                                                <td>{{ item.vacancy }}</td>
                                                <td>{{ item.placementstructure }}</td>
                                                <td>{{ item.provider_category_name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right"><button class="btn btn-theme btn-pri m-l-20" (click)="selectProvider()">Select
                                    Provider</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alert-non-relative" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Allegation Configuration - Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>ALERT</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-letter-tab mrg-top0">
                        <div class="box-grid">
                            <ul>
                                <li>Place additional reasonable efforts in youth’s case plan for absent parent.</li>
                                <li>Initiate the process of serving the petition to the available parent.</li>
                                <li>Please generate below documents in attachments screen and send to LDSS attorney</li>
                                <li>a. Parent’s Name/Address</li>
                                <li>b. Paternity Establishment Information</li>
                                <li>c. Child’s Information (Name, DOB, SS)</li>
                                <li>d. Birth certificate</li>

                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="pull-right mrg-top25"><button type="button" value="" class="btn-pri" name=""
                                    (click)="reviewPlan()">OK</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    <div class="modal fade" id="addpermanencyplan" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="resetPlan()">X</span></button>
                    <h4 class="modal-title">Permanency Plan</h4>
                </div>
                <div class="modal-body" [formGroup]="permanencyPlanForm">
                    <ng-container>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-6"><label>Petition ID</label></div>
                                <div class="col-sm-6">
                                    <label class="content">{{ petitonListDetails.petitionid }}</label>
                                </div>
                                <div class="col-sm-6"><label>Petition Type</label></div>
                                <div class="col-sm-6">
                                    <label class="content">{{ petitonListDetails.petitiontypekey }}</label>
                                </div>
                                <ng-container *ngFor="let person of petitonListDetails.actordetails">
                                    <div class="col-sm-6"><label>Client Name</label></div>
                                    <div class="col-sm-6">
                                        <label class="content">{{ person.intakeservicerequestactor.person.lastname + ' ' + person.intakeservicerequestactor.person.firstname }}</label>
                                    </div>
                                </ng-container>
                                <div class="col-sm-6"><label>Court Case No</label></div>
                                <div class="col-sm-6">
                                    <label class="content">{{ caseNumber }}</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-5"><label>Hearing Date and Time</label></div>
                                <div class="col-sm-7">
                                    <label class="content">{{ hearingDetails.hearingdatetime ? (hearingDetails.hearingdatetime | date: 'MM/dd/yyyy hh:mm aa') : '' }}</label>
                                </div>
                                <div class="col-sm-5"><label>Hearing Type</label></div>
                                <div class="col-sm-7">
                                    <label class="content">{{ hearingtypeArray[hearingDetails.hearingtypekey] }}</label>
                                </div>
                                <div class="col-sm-5"><label>Hearing Status</label></div>
                                <div class="col-sm-7">
                                    <label class="content">{{ hearingstatustypeArray[hearingDetails.hearingstatustypekey] }}</label>
                                </div>
                                <div class="col-sm-5"><label>Hearing Outcome</label></div>
                                <div class="col-sm-7">
                                    <label class="content">{{ courtOrderList?.hearingoutcomedesc }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <hr />
                    </ng-container>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-6"><label class="required">Select Child</label></div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Child Name" formControlName="intakeservicerequestactorid" (change)="pesonDateOfBirth($event)">
                                        <mat-option *ngFor="let person of (involvedPerson$ | async)" [value]="person.intakeservicerequestactorid + '~' + person.dob">{{
                                            person.firstname + ' ' + person.lastname
                                        }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6"><label>Date of Birth</label></div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dob" formControlName="dateofbirth" (click)="dob.open()" placeholder="Date of Birth" />
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6"><label class="required">Primary Permanency Plan</label></div>
                            <ng-container *ngIf="isAddForm">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Primary Permanency Plan" formControlName="primaryPlan" (change)="onPrimaryPlanChange($event, 1)">
                                            <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                                <mat-option [disabled]="childAge < 13 && plan.permanencyplantypekey === 'APPLA'" [value]="plan">{{ plan.permanencyplantypekey }}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <ng-container>
                                            <div class="col-sm-12" *ngIf="primaryPlanSubType?.permanencyplansubtype?.length">
                                                <mat-form-field>
                                                    <mat-select placeholder="{{primaryPlanSubType.permanencyplantypekey}}" required formControlName="primaryarrangetype">
                                                        <mat-option *ngFor="let plan of primaryPlanSubType.permanencyplansubtype" [value]="plan.permanencyplansubtypekey">{{
                                                            plan.permanencyplansubtypekey
                                                        }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="col-sm-6" *ngIf="!isAddForm">
                                <div class="select-category" *ngFor="let primary of permanencyPlanViewDetail?.primarypermanency">
                                    <span class="selected-item">{{ primary.permanencyplantypekey }} <i class="fa fa-times" aria-hidden="true"></i> </span>
                                    <p>{{ primary.permanencyplansubtypekey }}</p>
                                </div>
                            </div>

                            <div class="col-sm-6"><label>Concurrent Permanency Plan</label></div>
                            <ng-container *ngIf="isAddForm">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Concurrent Permanency Plan" formControlName="concurrentPlan" (change)="onConcurrentPlanChange($event)">
                                            <ng-container *ngFor="let plan of (planTypeSubType$ | async)">
                                                <mat-option *ngIf="plan.permanencyplantypekey !== 'APPLA'" [value]="plan">{{ plan.permanencyplantypekey }}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <ng-container>
                                            <div class="col-sm-12" *ngIf="concurrentPlanSubType?.permanencyplansubtype?.length">
                                                <mat-form-field>
                                                    <mat-select placeholder="{{concurrentPlanSubType.permanencyplantypekey}}" required formControlName="concurrentarrangetype">
                                                        <mat-option *ngFor="let plan of concurrentPlanSubType.permanencyplansubtype" [value]="plan.permanencyplansubtypekey">{{
                                                            plan.permanencyplansubtypekey
                                                        }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="col-sm-6" *ngIf="!isAddForm">
                                <div class="select-category" *ngFor="let concurrent of permanencyPlanViewDetail?.concurrentpermanency">
                                    <span class="selected-item">
                                        <i class="fa fa-times" aria-hidden="true"> {{ concurrent.permanencyplantypekey }} </i>
                                    </span>
                                    <p>{{ concurrent.permanencyplansubtypekey }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5"><label>Case Worker Name</label></div>
                            <div class="col-sm-7">
                                <mat-form-field class="mt-5" disabled> <input type="text" matInput formControlName="caseworkername" placeholder="Name of the Case Worker" /> </mat-form-field>
                            </div>

                            <div class="col-sm-5"><label class="required">Established Date</label></div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="date" formControlName="establisheddate" (click)="date.open()" placeholder="mm/dd/yyyy" />
                                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                    <mat-datepicker #date></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-5"><label class="required">Projected Achieved Date</label></div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <input
                                        matInput
                                        [matDatepicker]="projecteddate"
                                        [min]="permanencyPlanForm.value.establisheddate"
                                        formControlName="projecteddate"
                                        (click)="projecteddate.open()"
                                        placeholder="mm/dd/yyyy"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="projecteddate"></mat-datepicker-toggle>
                                    <mat-datepicker #projecteddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5"><label>Revised Date</label></div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="reviseddate" [min]="maxDate" (click)="reviseddate.open()" formControlName="reviseddate" placeholder="mm/dd/yyyy" />
                                    <mat-datepicker-toggle matSuffix [for]="reviseddate"></mat-datepicker-toggle>
                                    <mat-datepicker #reviseddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5"><label>Achieved Date</label></div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <input
                                        matInput
                                        [matDatepicker]="achieveddate"
                                        formControlName="achieveddate"
                                        (click)="achieveddate.open()"
                                        [min]="permanencyPlanForm.value.projecteddate"
                                        placeholder="mm/dd/yyyy"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="achieveddate"></mat-datepicker-toggle>
                                    <mat-datepicker #achieveddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12"><b>Permanency Resource</b></div>
                        <div class="col-sm-6">
                            <div class="col-sm-6"><label>Name</label></div>
                            <div class="col-sm-6">
                                <mat-form-field class="mt-5"> <input type="text" matInput placeholder="Name" /> </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-6"><label>Address 1</label></div>
                            <div class="col-sm-6">
                                <mat-form-field class="mt-5"> <input type="text" matInput placeholder="Address Line 1" formControlName="address1" /> </mat-form-field>
                            </div>
                            <div class="col-sm-6"><label>Address 2</label></div>
                            <div class="col-sm-6">
                                <mat-form-field class="mt-5"> <input type="text" matInput placeholder="Address Line 2" formControlName="address2" /> </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5"><label>City</label></div>
                            <div class="col-sm-7">
                                <mat-form-field class="mt-5"> <input type="text" matInput placeholder="City" formControlName="city" /> </mat-form-field>
                            </div>
                            <div class="col-sm-5"><label>State</label></div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <mat-select placeholder="Select State" formControlName="state">
                                        <mat-option *ngFor="let state of (stateDropdownItems$ | async)" [value]="state.value">{{ state.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-6"><label>Country</label></div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Select Country" formControlName="country">
                                        <mat-option *ngFor="let county of (countyDropdownItems$ | async)" [value]="county.value">{{ county.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5"><label>Zip Code</label></div>
                            <div class="col-sm-7">
                                <mat-form-field class="mt-5"> <input type="text" mask="00000-9999" matInput placeholder="Zipcode" /> </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right mt-10"><button [disabled]="permanencyPlanForm.pristine || permanencyPlanForm.invalid" class="btn-pri" (click)="savePlan()">Submit</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->