<div class="text-right big-bot-space right-mspace-15">
    <button type="button" class="btn-pri" (click)="collectivePdfCreator()" [disabled]="downloadInProgress"> Download
    </button>
</div>

<div id="olm-rcc-approval-letter" [ngClass]="isNotSelected('olm-rcc-approval-letter') ? 'hide': 'show'">
    <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="false" data-page-number="1">
        <header class="header">
            <div class="pull-left">
                <img src="assets/images/pdf/dhs_logo.png" class="header-img">
            </div>
            <div class="pull-right">
                <div class="header-address">
                    Maryland Department of Human Services
                    <br>Office of Licensing and Monitoring
                    <br> 311 W. Saratoga Street
                    <br> Baltimore Maryland 21201
                </div>
            </div>
            <div class="hr-border"></div>
            <div class="row signature">
                <div class="col-sm-4 align-center">
                    Boyd K. Rutherford
                    <br> Lt. Governor

                </div>
                <div class="col-sm-4 align-center">
                    Larry Hogan
                    <br> Governor

                </div>
                <div class="col-sm-4 align-center">
                    Sam Abed
                    <br> Secretary

                </div>
            </div>

        </header>
        <div class="margin-wrapper">
            <br>

            <div class="body-content">
                <br>
                <div style="font-weight: bold; text-align: start">
                    {{currentDateString  | date:'MM/dd/yyyy'}}<br />
                </div>
                <br />
                <br />
                <div style="font-weight: bold; text-align: start">
                    Dear:
                </div>
                <br />
                <p>
                    Your organization meets the requirement outlined in the Code of Maryland Regulations 14.31.05-07,
                    License for Residential Child Care Programs and is
                    licensed as a residential child care program. Your new License, <b>{{license_number}}</b> is
                    enclosed and will be effective <b>{{license_effective_date | date:'MM/dd/yyyy'}}</b>. The license will remain in effect
                    until <b>{{license_expiration_date | date:'MM/dd/yyyy'}}</b>, unless revoked or suspended. Prior to re-licensure your
                    organization is required to submit current documentation.</p>

                <p>
                    Also enclosed is a copy of our Evaluation for Licensure report. The Office of Licensing and
                    Monitoring (OLM) is ready to assist in implementing any recommendations
                    or other aspects of your program. In conformity with the requirements for licensure, your agency is
                    expected to keep OLM informed of any changes in staff or services
                    that affect the way the facility qualifies for a license.

                </p>

                <p>
                    In one year, at the time of the mid-license review, your program must submit the following via
                    electronic upload using DHS's Citrix webpage,
                     https://mdDHR.sharefile.com:</p>
                <br />
                <ol>
                    <li>A current list of governing board members and officers;</li>
                    <li>Quarterly board minutes for preceding one year;</li>
                    <li>The program’s audit or audit review for the current year; </li>
                    <li>Financial Incident Report; </li>
                    <li>An operations budget for the current year;
                    </li>
                    <li>Changes in service policy or programming offered by the agency;</li>
                    <li>A copy of current fire and health certifications; and </li>
                    <li>A current personnel roster.
                    </li>
                </ol>


                <p>Placement in a family setting, such as family foster care, is the first preference for children
                    supervised by local departments. Only when children are unable to stay in a family setting are they
                    placed in residential child care programs.</p>
                <p>The enclosed license does not guarantee any State agency will place children in your program. If you
                    plan to serve children committed to the State of Maryland, your agency must apply for a payment
                    rate through the Interagency Rates Committee at the Maryland State Department of Education. The
                    Interagency Rates Committee will require documentation that your agency is licensed.
                </p>
                <br />
                <br />
            </div>

            <footer>

                <div class="row footer footer-border">
                    <div class="col-sm-12 padding-top-20">
                        <div class="col-sm-2 " style="text-align: right">
                            <p>
                                <b>
                                    <i class="fa fa-wheelchair footer-icon"></i>
                                </b>
                            </p>
                        </div>
                        <div class="col-sm-10 align-center">
                            <!-- <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p> -->
                            <p>OLM Main # (410) 767-7871 Office: 410-767-7377 Unit Fax: (410) 333-8408</p>
                            <!-- <p> Treating Children &nbsp;
                        <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                        <span class="red-bullet"></span> &nbsp; Protecting Communities</p> -->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="2">

        <div class="margin-wrapper">
            <br>

            <div class="body-content">
                <br />
                <br />
                <p>Only after your program receives a rate, may you seek a contract with any Maryland State Department.
                    If your program does not address the specific needs of local departments of social services, a
                    contract will not be developed by the Department of Human Services. </p>
                <p>Without an approved rate and contract, local departments of social services are obligated to refuse
                    placement of children in your program. </p>

                <p> <b>({{licensing_administrator}})</b> is available to assist you and your staff with any concerns or
                    questions. She/He can be contacted at (410) 767####.</p>

                <br />

                Sincerely,

                <br />
                <br />
                Darlene Ham <br>
                Executive Director <br>
                Office of Licensing and Monitoring <br>
                <br>
                Cc: Sheila Phillip, Interagency Rates Committee <br>
                Roger Lewis, SSA Contracts <br>
                <br> <br>
                Enclosures
                <br>
                <br>
                <br>
                <br>
            </div>
            <footer>

                <div class="row footer footer-border">
                    <div class="col-sm-12 padding-top-20">
                        <div class="col-sm-2 " style="text-align: right">
                            <p>
                                <b>
                                    <i class="fa fa-wheelchair footer-icon"></i>
                                </b>
                            </p>
                        </div>
                        <div class="col-sm-10 align-center">
                            <!-- <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p> -->
                            <p>OLM Main # (410) 767-7871 Office: 410-767-7377 Unit Fax: (410) 333-8408</p>
                            <!-- <p> Treating Children &nbsp;
                        <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                        <span class="red-bullet"></span> &nbsp; Protecting Communities</p> -->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>


<div id="olm-rcc-license-letter" [ngClass]="isNotSelected('olm-rcc-license-letter') ? 'hide': 'show'">
        <div class="pdf-page" data-page-name="Intake Process Form" data-page-end="false" data-page-number="1">
            <div class="container-fluid">
                <img id="license-letter" src="assets/images/Seal_of_Maryland.png">          
                <div class="row">
                    <div class="col-xs-12">
                        <div class="license-layout">
                            <div class="row">
                                <div class="col-xs-3">
                                    <p class="certificate-no text-left"><b>DHS/OLM No. 100A (REV.7/17)</b></p>
                                </div>
                                <div class="col-xs-6">
                                    <div class="licence-header text-center">
                                        <h2>License</h2>
                                        <h3>STATE OF MARYLAND</h3>
                                        <h4>Department of Human Services</h4>
                                        <h4>OFFICE OF LICENSING AND MONITORING</h4>
                                        <h5>This is to Certify that a <b>Residential Child Care Program</b> is granted</h5>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <p class="serial-no text-right"><span class="b-600"><b>No.</b></span>{{license_number}}</p>
                                </div>
                            </div>
                            <div class="mt-10">
                                <div class="col-xs-12">
                                    <p class="mb-10"><b>To</b><span class="brd-btm ml-10 width-97">{{license_to}}</span></p>
                                    <p class=""><b>Located at</b><span class="brd-btm ml-10 width-91">{{license_located_at}}</span></p>
                                    <p class="mb-10">for the care of minor children.</p>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-12">
                                    <p> This license is issued in accordance with Sec. 5-507, 5-508, 5-509, and 5-526, of
                                        the Family Law Article, Annotated Code of
                                        Maryland, and is subject to the rules and regulations of the Department of Human
                                        Services. It shall be in effect until cancelled
                                        unless revoked for due cause by the Office of Licensing and Monitoring or its agent
                                        as provided in the Article. The license will be required
                                        to submit to inspections.
                                    </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h4 class="text-center pb-10 brd-btm"><b>LIMITATIONS</b></h4>
                                    <table class="table table-bordered text-center mb-20">
                                        <thead>
                                            <tr>
                                                <th>Age</th>
                                                <th>Sex</th>
                                                <th>Number of Children</th>
                                                <th>Other</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{license_age}}</td>
                                                <td>{{license_sex}}</td>
                                                <td>{{license_number_of_children}}</td>
                                                <td>{{license_other}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-12 text-right">
                                    <h4 class="mb-10"><b>By</b><span class="width-460 brd-btm text-center"><b>OFFICE OF
                                                LICENSING AND MONITORING</b></span></h4>
                                    <h4 class="text-center width-460 m-0">{{license_by}}</h4>
                                    <h4 class="mb-10"><b>Title</b><span class="width-460 brd-btm text-center">{{license_title}}</span></h4>
                                </div>
                                <div class="col-xs-4 mt-10">
                                    <!-- <p class="text-center">{{license_expiration_date}}</p>
                                    <h4 class="brd-top text-center mt-5"><b>{{license_effective_Date}}</b></h4> -->


                                    <p class="text-center">{{license_expiration_date | date:'MM/dd/yyyy'}}</p>
                                    <h4 class="brd-top text-center mt-5"><b>Expiration Date</b></h4>


                                </div>

                                <div class="col-xs-4 mt-10">
                                      
                                </div>


                                <div class="col-xs-4 mt-10">
                                    <p class="text-center">{{license_effective_date | date:'MM/dd/yyyy'}}</p>
                                    <h4 class="brd-top text-center mt-5"><b>Effective Date</b></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>


    <div id="Appeal-Request-Form" [ngClass]="isNotSelected('Appeal-Request-Form') ? 'hide': 'show'">
            <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="1">
                <div class="container-fluid">   
                   
                    <div class="row" style="margin-top: 20px;">
                       <div class="col-xs-12">
                          <div class="">
                             <div class="row">
                                <div class="col-xs-3">
                                   <img style="width: 125px" src="assets/images/pdf/dhs_logo.png">
                                </div>
                                <div class="col-xs-6">
                                   <div style="margin-top: 10%;" class="licence-header text-center">
                                      <h4>DEPARTMENT OF HUMAN SERVICES</h4>
                                      <h4>OFFICE OF LICENSING AND MONITORING</h4>
                                      <h4>REQUEST FOR HEARING</h4>
                                   </div>
                                </div>
                                <div class="col-xs-3">
                                   Maryland Department of Human Services<br/>
                                   Office of Licensing and Monitoring<br/>
                                   311 W. Saratoga Street<br/>
                                   Baltimore Maryland 21201<br/>
                                   Office: 410-767-7377 Fax 410-333-8408
                                </div>
                             </div>
                             <div class="col-xs-12" style="margin-top: 50px;line-height: 2;">
                                <p class="">
                                   <span>
                                   CHILD PLACEMENT AGENCY<span style="font-size: 30px;">◻</span></span>
                                   <span style="padding-left: 10px;">RESIDENTIAL CHILD CARE PROGRAM  <span style="font-size: 30px;">◻</span></span>
                                </p>
                                <p>NAME _________________________________________________________</p>
                                <p>ADDRESS ______________________________________________________</p>
                                <p>PHONE NUMBER _______________________________________________</p>
                                <p>FAX NUMBER __________________________________________________</p>
                                <p>EMAIL ADDRESS _______________________________________________</p>
                                <p style="text-align: -moz-left;margin-top: 10px;">
                                   On behalf of the above-named private <b>child placement agency/residential child care program,</b> I request a hearing with regard to the Department of Human Resources, Office of Licensing and Monitoring, Notice of Intent to <b>impose sanction, revoke license, suspend license, deny application for license, impose emergency action, not renew a license</b> for a residential child care program/child placement agency.
                                </p>
                                <p>Date received hearing request form ___________________________________</p>
                             </div>
                             <div  style="margin-top: 50px;" class="row col-xs-12">
                                <div  class="col-xs-4">
                                   <p class="">Date:_______________</p>
                                </div>
                                <div class="col-xs-7 text-right">
                                   <p class="">Print Name: _______________</p>
                                   <p class="">Print Title: ________________</p>
                                   <p class="">Signature: _________________</p>
                                </div>
                             </div>
                             <div style="margin-top: 3%;margin-left: 1px;margin-bottom: 20px; " class="row">
                                <div  class="col-xs-4 text-left">
                                   <p>Upon completion, mail or fax this form to:</p>
                                   <p style="margin-top: 3%;"> Helen Murray-Miller</p>
                                   <p>Quality Assurance/Data Management Coordinator</p>
                                   <p>311 W. Saratoga Street, room 444</p>
                                   <p>Baltimore, Maryland 21201-3500</p>
                                   <p>Email: Helen.murray-miller@maryland.gov</p>
                                   <p>Revised: 8/7/2017</p>
                                   <p>Fax: 410-333-8408</p>
                                   <p>Cc:	Lourdes R. Padilla, Secretary</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>
        </div>  


    

            <div id="Waiver-Request-Form" [ngClass]="isNotSelected('Waiver-Request-Form') ? 'hide': 'show'">
                    <div class="pdf-page sizeA4" data-page-name="Waiver Request Form" data-page-end="true" data-page-number="1">
                        <div class="container-fluid">   
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                               
                                     <div class="row">
                                     <div class="col-xs-3">                                       
                                            <img style="width: 125px" src="assets/images/pdf/dhs_logo.png">                                       
                                     </div>
                                        <div class="col-xs-6">
                                            <div style="margin-top: 10%;" class="licence-header text-center">                                            
                                                <h3> </h3>
                                                <h4> </h4>
                                                <h1> </h1>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <img style="width: 160px" src="assets/images/pdf/djs_logo.png">
                                        </div>
                                    </div>
                                   
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                     <p>&nbsp;</p>
                                     <p>&nbsp;</p>
                                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>&nbsp;Date Received: ________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p style="text-align: center;"><strong>WAIVER REQUEST</strong>&nbsp; &nbsp;&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <table style="height: 19px; width: 782px; margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td style="width: 399px;">
                                        <p style="text-align: justify;">&nbsp;<strong>&loz;</strong> Office of Licensing and Monitoring&nbsp;</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp; Department of Human Services</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp;311 W. Saratoga Street, 4<sup>th</sup>&nbsp;Floor&nbsp;</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp;Baltimore, MD 21201</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp;410-767-7871&nbsp;</p>
                                        </td>
                                        <td style="width: 371px; text-align: justify;">
                                        <p>&nbsp;<strong>&loz;&nbsp;</strong>Licensing and Monitoring&nbsp;</p>
                                        <p>&nbsp; &nbsp; Department of Juvenile Services</p>
                                        <p>&nbsp; &nbsp; Office of the Inspector General</p>
                                        <p>&nbsp; &nbsp; 120 West Fayette Street, 3<sup>rd</sup>&nbsp;Floor&nbsp;</p>
                                        <p>&nbsp; &nbsp; Baltimore, MD 21201</p>
                                        </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p>Pursuant to Maryland Code of Maryland Regulations (COMAR) 14.31.05 the Licensing and Monitoring office may grant waivers to regulations that do not affect the health or safety of youth in a licensed program if the following conditions are met: (<strong>Waiver means the setting aside of a specific licensing regulation.)</strong></p>
                                        <p>&nbsp;</p>
                                        <ol>
                                        <li>The waiver must be requested by a licensee on a form and in a manner prescribed by the Licensing and Monitoring office.</li>
                                        </ol>
                                        <p>&nbsp;</p>
                                        <ol start="2">
                                        <li>The request for waiver must include the reasons that the licensee cannot comply with a requirement as stated in regulation</li>
                                        </ol>
                                        <p>&nbsp;</p>
                                        <ol start="3">
                                        <li>For each regulation for which a waiver is sought, a separate waiver request form is required. Also submit with your request form any supporting documentation.</li>
                                        </ol>
                                        <p>&nbsp;</p>
                                        
                         </div>
                    </div>
                </div> 

            <div id="Waiver-Request-Form" [ngClass]="isNotSelected('Waiver-Request-Form') ? 'hide': 'show'">
                    <div class="pdf-page sizeA4" data-page-name="Waiver Request Form" data-page-end="true" data-page-number="1">
                        <div class="container-fluid"> 
                                <p>&nbsp;</p>
                                <p>&nbsp;</p><p>&nbsp;</p>
                                <p>&nbsp;</p><p>&nbsp;</p>  
                                <p>All incomplete waiver requests will be returned to the licensee.</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <table border="1" style="border-color: black; margin-left: auto; margin-right: auto;" cellpadding="black">
                                        <tbody>
                                        <tr style="border-color: black; height: 35px;">
                                        <td style="border-color: black; width: 707px; height: 35px; background-color: orange;" colspan="3" width="707">
                                        <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Program Information</strong></p>
                                        </td>
                                        </tr>
                                        <tr style="height: 60px;">
                                        <td style="border-color: black; width: 353px; height: 60px;" width="353">
                                        <p><strong>Name of Program:</strong></p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="border-color: black; width: 354px; height: 60px;" colspan="2" width="354">
                                        <p><strong>COMAR Citation to be varied: (enter complete number)</strong></p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr style="height: 134.713px;">
                                        <td style="border-color: black; width: 353px; height: 134.713px;" width="353">
                                        <p><strong>Program Address</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="border-color: black; width: 354px; height: 134.713px;" colspan="2" width="354">
                                        <p><strong>City/State/Zip code</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr style="height: 84px;">
                                        <td style="border-color: black; width: 353px; height: 84px;" width="353">
                                        <p><strong>Program Telephone Number:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="width: 354px; border-color: black; height: 84px;" colspan="2" width="354">
                                        <p><strong>Fax Number:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr style="height: 60px;">
                                        <td style="border-color: black; width: 707px; height: 60px;" colspan="3" width="707">
                                        <p><strong>Check the appropriate box:</strong></p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&loz;</strong> &nbsp;New waiver request&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&loz;</strong>&nbsp;Renewal of current waiver&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr style="height: 84px;">
                                        <td style="border-color: black; width: 707px; height: 84px;" colspan="3" width="707">
                                        <p><strong>Name/Title of Person Completing Request: </strong>(Please Print)</p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p><strong>&nbsp;</strong></p>
                                        </td>
                                        </tr>
                                        <tr style="height: 84px;">
                                        <td style="border-color: black; width: 508px; height: 84px;" colspan="2" width="508">
                                        <p><strong>Signature:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="border-color: black; width: 198px; height: 84px;" width="198">
                                        <p><strong>Date:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>                                        
                                        </tbody>
                                        </table>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">If this request is person-specific complete the following:</p>
                                        <table border="1" style="border-color: black; margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td style="border-color: black; width: 261px;" width="261">
                                        <p><strong>Name:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="border-color: black; width: 210px;" width="210">
                                        <p><strong>Date of Birth:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td style="border-color: black; width: 236px;" width="236">
                                        <p><strong>Sex:</strong></p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p>&nbsp;&nbsp;<strong>&loz;&nbsp;</strong>Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&loz;</strong>&nbsp;Female</p>
                                        </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                         </div>
                    </div>
                </div> 


            <div id="Waiver-Request-Form" [ngClass]="isNotSelected('Waiver-Request-Form') ? 'hide': 'show'">
                    <div class="pdf-page sizeA4" data-page-name="Waiver Request Form" data-page-end="true" data-page-number="1">
                        <div class="container-fluid">   
                                <p>&nbsp;</p>
                                <p>&nbsp;</p><p>&nbsp;</p>
                                <p>&nbsp;</p><p>&nbsp;</p>
                                
                                        <p style="text-align: center;">Reason(s) why the waiver is required:</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>                                        
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">Requested time period of waiver (enter both effective and end dates or check continuous):</p>
                                        <table border="1" style="margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td width="235">
                                        <p>Effective Date of Waiver</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td width="236">
                                        <p>Expiration Date of Waiver</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td width="236">
                                        <p>&nbsp;<strong>&loz;</strong>&nbsp;Continuous</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p><strong>CHANGES OR MODIFICATIONS IN THE CONDITIONS OF A CONTINUOUS WAIVER:</strong></p>
                                        <p>Any licensee must inform the Licensing and Monitoring office of any changes or modifications that have occurred in the conditions that warranted the waiver. Failure to advise the Licensing and Monitoring office shall result in revocation of the waiver and may be cause for other sanctions under 14.31.05, 14.31.06.</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>Attach applicable supplemental documentation as necessary</strong></p>
                            </div>
                    </div>
                </div> 

                <div id="Variance-Request-Form" [ngClass]="isNotSelected('Variance-Request-Form') ? 'hide': 'show'">
                        <div class="pdf-page sizeA4" data-page-name="Variance Request Form" data-page-end="true" data-page-number="1">
                            <div class="container-fluid">                                
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                               
                                     <div class="row">
                                     <div class="col-xs-3">                                       
                                            <img style="width: 125px" src="assets/images/pdf/dhs_logo.png">                                       
                                     </div>
                                        <div class="col-xs-6">
                                            <div style="margin-top: 10%;" class="licence-header text-center">                                            
                                                <h3> </h3>
                                                <h4> </h4>
                                                <h1> </h1>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <img style="width: 160px" src="assets/images/pdf/djs_logo.png">
                                        </div>
                                    </div>
                                   
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                     <p>&nbsp;</p>
                                     <p>&nbsp;</p>
                                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>&nbsp;Date Received: ________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>&nbsp;</p>                                
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    <h3 style="text-align: center;">Variance Request</h3>
                                    <p>&nbsp;</p>
                                        <table style="height: 19px; width: 782px; margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td style="width: 399px;">
                                        <p style="text-align: justify;">&nbsp;<strong>&loz;</strong> Office of Licensing and Monitoring&nbsp;</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp; Department of Human Services</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp; 311 W. Saratoga Street, 4<sup>th</sup>&nbsp;Floor&nbsp;</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp; Baltimore, MD 21201</p>
                                        <p style="text-align: justify;">&nbsp; &nbsp; 410-767-7871&nbsp;</p>
                                        </td>
                                        <td style="width: 371px; text-align: justify;">
                                        <p>&nbsp;<strong>&loz;&nbsp;</strong>Licensing and Monitoring&nbsp;</p>
                                        <p>&nbsp; &nbsp; Department of Juvenile Services</p>
                                        <p>&nbsp; &nbsp; Office of the Inspector General</p>
                                        <p>&nbsp; &nbsp; 120 West Fayette Street, 3<sup>rd</sup>&nbsp;Floor&nbsp;</p>
                                        <p>&nbsp; &nbsp; Baltimore, MD 21201</p>
                                        </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    <p>&nbsp;</p>
                                    <p>Pursuant to Maryland Code of Maryland Regulations (COMAR) 14.31.05 the Licensing and Monitoring office may grant variances to regulations that do not affect the health or safety of youth in a licensed program if the following conditions are met: (<strong>Variance means an alternative to a specific licensing regulation.)</strong></p>
                                    <p>&nbsp;</p>
                                    <ol>
                                    <li>The variance must be requested by a licensee on a form and in a manner prescribed by the Licensing and Monitoring office.</li>
                                    </ol>
                                    <p>&nbsp;</p>
                                    <ol start="2">
                                    <li>The request for variance must include the reasons that the licensee cannot comply with a requirement as stated in regulation and the alternative equivalent measures that the licensee will follow to comply with the intent of the regulations.</li>
                                    </ol>
                                    <p>&nbsp;</p>
                                    <ol start="3">
                                    <li>For each regulation for which a variance is sought, a separate variance request form is required. Also submit with your request form any supporting documentation.</li>
                                    </ol>
                                    <p>&nbsp;</p>
                                   
                             </div>
                        </div>
                    </div>



                    <div id="Variance-Request-Form" [ngClass]="isNotSelected('Variance-Request-Form') ? 'hide': 'show'">
                            <div class="pdf-page sizeA4" data-page-name="Variance Request Form" data-page-end="true" data-page-number="1">
                                <div class="container-fluid">                                
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>

                                        <p style="text-align: center;">All incomplete variance requests will be returned to the licensee.</p>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <table border="1" style="margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td colspan="3" width="707">
                                        <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Program Information</strong></p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td width="353">
                                        <p><strong>Name of Program:</strong></p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td colspan="2" width="354">
                                        <p><strong>COMAR Citation to be varied: (enter complete number)</strong></p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td width="353">
                                        <p><strong>Program Address</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td colspan="2" width="354">
                                        <p><strong>City/State/Zip code</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td width="353">
                                        <p><strong>Program Telephone Number:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td colspan="2" width="354">
                                        <p><strong>Fax Number:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td colspan="3" width="707">
                                        <p><strong>Check the appropriate box:</strong></p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<strong>&loz;&nbsp;</strong>New variance request&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&loz;</strong>&nbsp;Renewal of current variance</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td colspan="3" width="707">
                                        <p><strong>Name/Title of Person Completing Request: </strong>(Please Print)</p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p><strong>&nbsp;</strong></p>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td colspan="2" width="508">
                                        <p><strong>Signature:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td width="198">
                                        <p><strong>Date:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        </tr>                                    
                                        </tbody>
                                        </table>
                                        <p style="text-align: center;">&nbsp;</p>
                                        <p style="text-align: center;">If this request is person-specific complete the following:</p>
                                        <table border="1" style="margin-left: auto; margin-right: auto;">
                                        <tbody>
                                        <tr>
                                        <td width="261">
                                        <p><strong>Name:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td width="210">
                                        <p><strong>Date of Birth:</strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        </td>
                                        <td width="236">
                                        <p><strong>Sex:</strong></p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p>&nbsp;&nbsp;<strong>&loz;&nbsp;</strong>Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<strong>&loz;</strong>&nbsp;Female</p>
                                        </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                        
                                 </div>
                            </div>
                        </div>



                    
                        
                <div id="Variance-Request-Form" [ngClass]="isNotSelected('Variance-Request-Form') ? 'hide': 'show'">
                        <div class="pdf-page sizeA4" data-page-name="Variance Request Form" data-page-end="true" data-page-number="1">
                            <div class="container-fluid">                                                                   
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p>Reason(s) why the variance is required:</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p>Alternate measures that will be taken to comply with the intent of the regulation:</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">_______________________________________________________________________________________________</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p>Requested time period of variance (enter both effective and end dates or check continuous):</p>
                                    <table border="1">
                                    <tbody>
                                    <tr>
                                    <td style="text-align: center;" width="235">
                                    <p>Effective Date of Variance</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    </td>
                                    <td width="236">
                                    <p style="text-align: center;">Expiration Date of Variance</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    </td>
                                    <td width="236">
                                    <p>&nbsp;&nbsp;<strong>&loz;&nbsp;</strong>Continuous</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p><strong>CHANGES OR MODIFICATIONS IN THE CONDITIONS OF A CONTINUOUS VARIANCE:</strong></p>
                                    <p>Any licensee must inform the Licensing and Monitoring office of any changes or modifications that have occurred in the conditions that warranted the variance. Failure to advise the Licensing and Monitoring office shall result in revocation of the variance and may be cause for other sanctions under 14.31.05, 14.31.06.</p>
                                    <p>&nbsp;</p>
                                    <p><strong>Attach applicable supplemental documentation as necessary</strong></p>
        
                             </div>
                        </div>
                    </div>
              