<div class="box-grid">
    <div class="row">
        <div class="col-sm-9">
            <h3>Manage Links</h3>
        </div>
        <div class="col-sm-3">
            <div class="tab-popup-button text-right">
                <button data-toggle="modal" (click)="changeModelLabel('Add Links')" data-target="#myModal-add-edit-links" class="btn-pri">
                    <i class="fa fa-plus right-sspace"> </i> Add Links </button>
            </div>
        </div>
    </div>

    <div class="table-responsive form-letter-tab">
        <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
            <thead>
                <tr>
                    <th sortable-column="name" sort-direction="asc"> Name </th>
                    <th> Link </th>
                    <th> Actions </th>
                </tr>
                <tr>
                    <td>
                        <div class="inner-addon right-addon col-sm-6">
                            <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                            <input class="form-control full-width" type="text" (input)="onSearch('name', $event.target.value)" placeholder="Name">
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody *ngIf="referenceLink$ | async; let referenceLink">
                <tr *ngFor="let referenceLink of referenceLink">
                    <td>{{referenceLink.name}}</td>
                    <td>
                        <a [href]="referenceLink.links" target="_blank" (click)="inValidUrl(referenceLink.links)">{{referenceLink.links}}</a>
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                            <a (click)="editLink(referenceLink)" data-toggle="modal" data-target="#myModal-add-edit-links">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span data-toggle="tooltip" data-placement="top" title="Delete">
                            <a href="javascript:void()" (click)="confirmDelete(referenceLink)" data-target="#myModal-edit-links">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr *ngIf="referenceLink?.length === 0">
                    <td colspan="3">No records found.</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
            <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="myModal-add-edit-links" data-backdrop="static" data-keyboard="false" role="dialog"
    style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{addEditLabel}}</h4>
            </div>
            <form [formGroup]="referenceLinkForm">
                <div class="modal-body">
                    <div class="fm-box">
                        <div class="row">
                            <div class="col-sm-3 col-md-2">
                                <label> Name: </label>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <div class="fm-box-form">
                                    <input formControlName="name" class="form-control" placeholder="Enter Name">
                                    <control-messages [control]="referenceLinkForm.controls['name']"></control-messages>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fm-box">
                        <div class="row">
                            <div class="col-sm-3 col-md-2">
                                <label> Link: </label>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <div class="fm-box-form">
                                    <input formControlName="links" class="form-control" value="http://" id="" placeholder="Enter Link">
                                    <control-messages [control]="referenceLinkForm.controls['links']"></control-messages>
                                    <small class="text-danger" *ngIf="referenceLinkForm.hasError('invalidURL')">Invalid URL</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="button" value="clear" class="btn-bg" name="" data-dismiss="modal">Cancel</button>
                        <button type="button" value="Save" class="btn-pri" name="" [disabled]="referenceLinkForm.pristine || referenceLinkForm.invalid"
                            (click)=saveLink()>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="deleteLink()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>