<div class="row">
  <div class="col-sm-6 text-left">
      <h4> Medical Exams/Health Evaluations </h4>
  </div>
  <div class="col-sm-6 text-right m-t-20">
      <a class="btn btn-pri" id="backbutton" [routerLink]="['../list']" >BACK</a>
  </div>
</div>
<div class="row" [formGroup]="healthexaminationForm">
  <div class="col-sm-6">
    <mat-form-field>
      <input formControlName="healthexamname" matInput placeholder="Health Exam Name/Test">
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="healthdomaintypekey" placeholder="Domain">
        <mat-option (click)="setDomainTypeKey(item.text)" *ngFor="let item of healthDomainType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="healthassessmenttypekey" placeholder="Assessment Type">
        <mat-option *ngFor="let item of healthAssessmentType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput required formControlName="assessmentdate" [matDatepicker]="picker21" placeholder="Assessment Date">
      <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
      <mat-datepicker #picker21></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select required formControlName="healthprofessiontypekey" placeholder="Profession Type">
        <mat-option *ngFor="let item of healthProfessionType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <input matInput formControlName="practitionername" placeholder="Practitioner Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput required formControlName="outcomeresults" placeholder="Outcome Results">
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
    </mat-form-field>
  </div>
  <div class="row m-b-20">
    <div class="col-sm-11 ">
      <div class="pull-right">
        <span *ngIf="reportMode === 'add'">
          <button class="btn-pri" (click)="resetForm()">Clear</button> &nbsp;
          <button class="btn-pri" [disabled]="healthexaminationForm.pristine || healthexaminationForm.invalid" (click)="addUpdate(healthexaminationForm.value)">Add</button>
        </span>
        <span *ngIf="reportMode === 'edit'">
          <button class="btn-pri" [disabled]="healthexaminationForm.pristine || healthexaminationForm.invalid" *ngIf="editMode === true"
            (click)="addUpdate(healthexaminationForm.value)">Update</button>
        </span>
      </div>
    </div>
  </div>
</div>