.clsSocial_his{
	.nav-tabs{
		background: #fff;
		margin: 0 0 20px 6%;
		position: relative;

		&:after{
			position: absolute;
			display: block;
			content: '';
			background: #a1a3a5;
			width: calc(100% - 10%);
			height: 3px;
			left: 0px;
			right: 0px;
			top: 46%;
		}

		li{
			width: 8.5%;
			display: inline-block;
			vertical-align: top;
			float: none;

			a{
				display: inline-block;
			    text-align: center;
			    background: #fff;
			    width: 35px;
			    height: 35px;
			    padding: 0px;
			    line-height: 28px;
			    border-radius: 100%;
			    border: 3px solid #a1a3a5;
			    color: #333;
			    cursor: pointer;
			    z-index: 1;

			    &:active,&:focus,&:hover{
			    	background: #00A2FD;
			    	color: #fff;
			    	border-color: #00A2FD;
			    }
			    &:after{
			    	display: none;
			    }
			}
			&.active a{
		    	background: #00A2FD;
		    	color: #fff;
		    	border-color: #00A2FD;
		    }
		}
	}
}

.form-btn-area {
	text-align: right;
}