<div class="fim-tab pl-0 pr-0">
    <div class="row">
        <div class="col-sm-3">
            <label>Meeting</label>
        </div>
        <div class="col-sm-9 text-right">
            <button type="button" class="btn-pri" [disabled]="isClosed" data-target="#add-new-meeting" data-toggle="modal">Add New</button>
        </div>
    </div>
    <div class="table-responsive table-theme">
        <table class="table table-striped recording-table icon-action fim-tble">
            <thead>
                <tr>
                    <th>Type of Meeting</th>
                    <th>Date of Meeting</th>
                    <th>Child Name</th>
                    <th>Meeting Outcome / Decision</th>
                    <th class="width-100">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let family of fimList$ | async">
                    <td>{{family.meetingtype}}</td>
                    <td>{{family.meetingdate | date:'MM/dd/yyyy' }}</td>
                    <td>
                        <div *ngFor="let child of family.recordingactor">
                            <span *ngIf="child.actortype === 'CHILD' ">{{child.firstname}} {{child.lastname}}</span>
                        </div>
                    </td>
                    <td class="word-break">
                        {{family.meetingdescription}}
                    </td>
                    <td class="text-center">
                        <a title="View" class="right-mspace" (click)="viewFim(family)" data-placement="top"
                            data-target="#view-new-meeting" data-toggle="modal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a title="Edit" [ngClass]="{'disabledField': isClosed}" class="right-mspace" (click)="editFim(family)"
                            data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <!-- <a data-placement="top" title="Edit" data-toggle="modal" data-target="#myModal-recordings-edit" class="right-mspace">
    <i class="fa fa-print" aria-hidden="true"></i> </a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="add-new-meeting">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" (click)="clearFim()" data-dismiss="modal" aria-label="Close"
                    matTooltip="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Meeting</h4>
            </div>

            <div class="modal-body record-meeting solid-line" [formGroup]="fimForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Date of Meeting</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="no-pad clsIntake dpnew ">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="startdate" id="startdate"
                                            placeholder="Start Date" formControlName="meetingdate" required>
                                        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                        <mat-datepicker #startdate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Select Child/Family Member</label>
                            </div>
                            <div class="col-sm-7">
                                {{fimForm.meetingrecordingactor}}
                                <mat-form-field>

                                    <mat-select placeholder="Child/Family Member" multiple required
                                        formControlName="meetingrecordingactor">
                                        <mat-option *ngFor="let person of involevedPersons" [value]="person.personid">
                                            {{person.firstname}} {{person.lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Type of the Meeting</label>
                            </div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <mat-select placeholder="Meeting Type" required (change)="getFimType($event.value)"
                                        formControlName="meetingtypekey">
                                        <mat-option *ngFor="let item of meetingTypesDropdown$ | async"
                                            [value]="item.value">
                                            {{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label *ngIf="isFim">Type</label>
                            </div>
                            <div class="col-sm-7">
                                <mat-form-field *ngIf="isFim">
                                    <mat-select placeholder="Type" multiple formControlName="fimtype"
                                        (change)="onFimTypeChange($event)" multiple>
                                        <ng-container *ngFor="let item of familyMeetingTypesDropdown">
                                            <mat-option [disabled]="item.additionalProperty" [value]="item.familymeetingtypekey">
                                                {{item.typedescription}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="fimSubType.length">
                            <ng-container *ngFor="let primary of fimSubType">
                                <div class="col-sm-5"></div>
                                <div class="col-sm-7" *ngIf="primary?.familymeetingsubtype?.length">
                                    <mat-form-field>
                                        <mat-select placeholder="{{primary.familymeetingtypekey}}"
                                            (change)="onFimSubTypeChange($event)" required>
                                            <mat-option *ngFor="let plan of primary.familymeetingsubtype"
                                                [value]="plan.familymeetingtypekey">{{plan.typedescription}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Name of the Person completing this report</label>
                            </div>
                            <div class="col-sm-7 col-sm-7 mt-20">
                                    <!-- (change)="displayCaseworker($event.value)" -->
                                <mat-radio-group class="clearfix" formControlName="persontype">
                                    <mat-radio-button value="Facilitator">Facilitator</mat-radio-button>
                                    <mat-radio-button value="Case worker">Case worker</mat-radio-button>
                                </mat-radio-group>
                                <mat-form-field class="mt-5">
                                    <input type="text" formControlName="personname" matInput
                                        placeholder="Name of the Person">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <label>Meeting Status</label>
                            </div>
                            <div class="col-sm-7">
                                    <!-- (change)="displayCaseworker($event.value)" -->
                                <mat-radio-group class="clearfix" formControlName="meetingstatus">
                                    <mat-radio-button [value]="1">Scheduled</mat-radio-button>
                                    <mat-radio-button [value]="2">Re-Scheduled</mat-radio-button>
                                    <mat-radio-button [value]="3">Completed</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Participants</label>
                            </div>
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <mat-select placeholder="" multiple formControlName="participants">
                                        <mat-option (onSelectionChange)="changeParticipants($event)"
                                            *ngFor="let person of involevedPersons" [value]="person.personid">
                                            {{person.firstname}} {{person.lastname}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="text-right mt-10">
                            <button type="button" class="btn-pri" (click)="otherParticipants()">Add Other
                                Participant</button>
                        </div>
                        <!-- <div class="col-sm-4">
    <span class="selected-item">Informal Support
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <mat-checkbox (change)="newParticipants($event)" *ngFor="let item of informalSupportDropdown$ | async" [value]="item.value">{{item.text}}</mat-checkbox>
    </div> -->
                        <!-- <div class="row other-participants">
    <div class="col-sm-12">
    <label>Other Participants</label>
    </div>
    <div class="col-sm-4">
    <span class="selected-item">Informal Support
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <mat-checkbox (change)="newParticipants($event)" *ngFor="let item of informalSupportDropdown$ | async" [value]="item.value">{{item.text}}</mat-checkbox>
    </div>
    <div class="col-sm-4">
    <span class="selected-item">School System
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <mat-checkbox (change)="newParticipants($event)" *ngFor="let item of schoolSystemDropdown$ | async" [value]="item.value">{{item.text}}</mat-checkbox>
    </div>
    <div class="col-sm-4">
    <span class="selected-item">LDSS Staff
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <mat-checkbox (change)="newParticipants($event)" *ngFor="let item of ldssStaffDropdown$ | async" [value]="item.value">{{item.text}}</mat-checkbox>
    </div>
    </div> -->
                    </div>
                </div>

                <div class="row mrg-top15">
                    <div class="col-sm-12">
                        <div class="grey-bg no-pad">
                            <div class="table-responsive table-theme mat-form-field-table">
                                <table class="table table-striped grid-list">
                                    <thead>
                                        <tr>
                                            <th>participant</th>
                                            <!-- <th></th> -->
                                            <th style="display: none;">Role</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Relationship to Child/Comments</th>
                                            <th></th>
                                            <th>Acceptance Agreement</th>
                                            <th>Electronic Signature</th>
                                            <!-- <td></td> -->
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="meetingparticipants">
                                        <tr *ngFor="let participants of fimForm['controls'].meetingparticipants['controls']; let i=index"
                                            [formGroupName]="i">
                                            <td>
                                                <mat-form-field>
                                                    <mat-select placeholder="Type" required
                                                        (change)="newParticipants($event)"
                                                        formControlName="Persondropdown">
                                                        <mat-option
                                                            *ngFor="let item of informalSupportDropdown$ | async"
                                                            [value]="item.value">{{item.text}}</mat-option>
                                                        <mat-option *ngFor="let item of schoolSystemDropdown$ | async"
                                                            [value]="item.value">{{item.text}}</mat-option>
                                                        <mat-option *ngFor="let item of ldssStaffDropdown$ | async"
                                                            [value]="item.value">{{item.text}}</mat-option>
                                                        <mat-option value="involvedperson">Involved Persons</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>

                                            <td *ngIf="false">
                                                <mat-form-field>
                                                    <input type="text" formControlName="participantDesc" matInput
                                                        placeholder="Type of Role">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input type="text" matInput required placeholder="First Name"
                                                        formControlName="firstname">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input type="text" matInput required placeholder="Last Name"
                                                        formControlName="lastname">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input type="text" formControlName="participantroledesc" matInput
                                                        placeholder="Relationship to Child/Comments">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <div style="margin-top:20px;">
                                                    <mat-checkbox formControlName="isinvited" [value]="1">Invited
                                                    </mat-checkbox>
                                                    <mat-checkbox formControlName="isattended" [value]="1">Attended
                                                    </mat-checkbox>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="margin-top:20px;">
                                                    <mat-radio-group class="clearfix" formControlName="isaccpted">
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </td>
                                            <td>
                                                <mat-form-field class="col-sm-8">
                                                    <input type="text" disabled matInput
                                                        placeholder="Electronic Signature">
                                                </mat-form-field>
                                                <span class="col-sm-4 otherdate"
                                                    (click)="deleteMeetingParticipants(i)"><i aria-hidden="true"
                                                        class="fa fa-trash"></i></span>
                                            </td>
                                            <!-- <td>
    <span>
    <a (click)="deleteMeetingParticipants(i, $event)">
    <i aria-hidden="true" class="fa fa-trash"></i>
    </a>
    </span>
    </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top25">
                    <div class="col-sm-6" *ngIf="isFim">
                        <mat-form-field>
                            <textarea formControlName="meetingdescription" matInput
                                placeholder="Meeting Notes"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <textarea formControlName="meetingcomments" matInput
                                placeholder="Additional Comments"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flw-meet mt-0">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>Follow-up Meeting</label>
                            </div>
                            <div class="col-sm-2" style="padding: 15px 0 0;">
                                <mat-radio-group class="clearfix" formControlName="isfollowupmeeting"
                                    (change)="enableFollowUp($event.value)">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="showFollowUp">
                                <div class="col-sm-3">
                                    <div class="no-pad clsIntake dpnew ">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="fimdate" id="fimdate"
                                                placeholder="Start Date" [min]="minDate"
                                                formControlName="followupdate">
                                            <mat-datepicker-toggle matSuffix [for]="fimdate"></mat-datepicker-toggle>
                                            <mat-datepicker #fimdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!--<div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Add Participant" multiple
                                            formControlName="followmeetingrecordingactor">
                                            <mat-option *ngFor="let person of involevedPerson$ | async"
                                                [value]="person">
                                                {{person.firstname}} {{person.lastname}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>-->
                            </div>
                            <!-- <div class="col-sm-3 add-new" style="padding: 22px 0 0 15px;">
    <span><i class="fa fa-plus" aria-hidden="true"></i>Add Participants</span>
    </div> -->


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 flw-meet mt-0">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>Meeting Decision</label>
                            </div>
                            <div class="col-sm-3" style="padding: 15px 0 0;">
                                <mat-radio-group class="clearfix" formControlName="meetingdecision"
                                    (change)="enableMeetingRejected($event.value)">
                                    <mat-radio-button [value]="1">Accepted</mat-radio-button>
                                    <mat-radio-button [value]="0">Rejected</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="col-sm-6" *ngIf="meetingDecisionRejected" style="margin-top: -15px;">
                                <mat-form-field>
                                    <textarea formControlName="meetingdecisioncomments" matInput
                                        placeholder="Meeting Decision Comments"></textarea>
                                </mat-form-field>
                            </div>

                        </div> 

                        <div class="row text-right" style="padding-top: 20px;padding-right: 20px;padding-bottom: 10px;">
                            <div class="col-md-12">                                
                                <div class="cm_actions">
                                   <!--  <document-upload-list [uploadedDocuments]="uploadedDocuments"></document-upload-list> -->
                                    <!-- <button class="btn-pri" (click)="navigatetoattachements()" title="upload"><i
                                            aria-hidden="true" class="fa fa-cloud-upload"></i> UPLOAD</button> -->
                                    <button class="btn-pri" title="print"><i aria-hidden="true" class="fa fa-print"></i>
                                        PRINT</button>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <document-upload-list [uploadedDocuments]="uploadedDocuments" [uploadType]="uploadType">
                            </document-upload-list>
                        </div>
                        <!-- <div *ngIf="!meetingDecisionRejected">
                                <div class="col-sm-6">
                                    <button class="btn-pri"
                                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/attachment-upload']"><i
                                            class="fa fa-cloud-upload" aria-hidden="true"></i> tp</button>
                                </div>
                            </div> -->

                    </div>

                    <!-- <div class="row">
                        <div class="col-md-6">
                                <document-upload-list [uploadedDocuments]="uploadedDocuments" ></document-upload-list>
                           </div>
                   </div> -->

                    <!-- <div *ngIf="!meetingDecisionRejected">
                        <div class="col-sm-6">
                            <button class="btn-pri"
                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/attachment-upload']"><i
                                    class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                        </div>
                    </div> -->

                </div>
                <div class="row">
                    <div class="col-sm-12 text-right mt-10">
                        <button type="button" class="btn-pri" [disabled]="fimForm.pristine || fimForm.invalid"
                            (click)="addServicePlan(fimForm)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<attachment-upload [uploadedDocuments]="uploadedDocuments" [uploadType]="uploadType">
    </attachment-upload>

<div class="modal fade" id="view-new-meeting">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Family Involvement Meeting</h4>
            </div>
            <div class="modal-body record-meeting solid-line">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Type of Meeting</label>
                        <span> : {{fimView?.meetingtype}} </span>
                    </div>
                    <div class="col-sm-6">
                        <label>Date of Meeting</label>
                        <span> : {{fimView?.meetingdate | date:'MM/dd/yyyy' }} </span>
                    </div>
                </div>
                <div class="row" *ngIf="fimView?.meetingtype ==='FIM'">
                        <div class="col-sm-6">
                            <label>Type</label>
                            <span> : <ng-container *ngFor="let item of fimView?.fimdetails">
                                {{item.familymeetingtypekey}}
                            </ng-container>
                            </span>
                        </div>
                      
                    </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Meeting Comments</label>
                        <span> : {{fimView?.meetingcomments}} </span>
                    </div>
                    <div class="col-sm-6">
                        <label>Meeting Description</label>
                        <span> : {{fimView?.meetingdescription }} </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>
                            Follow-up Meeting </label>

                        <span *ngIf="fimView?.isfollowupmeeting === 0">
                            : No
                        </span>
                        <span *ngIf="fimView?.isfollowupmeeting === 1">
                            : Yes
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <label> Meeting Decision</label>
                        <span *ngIf="fimView?.meetingdecision === '1'">
                            : Accepted
                        </span>
                        <span *ngIf="fimView?.meetingdecision === '0'">
                            : Rejected
                        </span>
                      
                    </div>
                </div>



                <h4 class="pad-top20">Participants</h4>
                <div class="table-responsive table-theme">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Invited</th>
                                <th>Attended</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let participantlist of fimView?.participants">
                                <td>
                                    <!-- {{participantlist.firstname}} -->
                                    {{participantlist.firstname ? participantlist.firstname : '-'}}
                                </td>
                                <td>
                                    {{participantlist.lastname ? participantlist.lastname : '-'}}
                                </td>
                                <td>
                                    {{participantlist?.isinvited === 1 ? 'Yes' : 'No'}}
                                </td>
                                <td>
                                    {{participantlist?.isattended === 1 ? 'Yes' : 'No'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>