<section id="applicant-section" class="profile-section">
    <div class="container-fluid">
       <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Provider Id : {{applicantNumber}}</p>
                <p>Site Name : {{referralInfoDetails.provider_referral_nm}}</p>
                <p>Tax ID : {{referralInfoDetails.is_taxid}}</p>
                <p>Status : <span class="status-open">{{referralInfoDetails.referral_status}}</span></p>
                <p>License Programs : </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Site Address : {{referralInfoDetails.adr_county_cd}}</p>
                <p>Site Phone : {{referralInfoDetails.adr_cell_phone_tx}}</p>
                <p>Email Address : </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 cls-mb-5 p-t-b-10">
                <!-- <p>Contract : </p>
                <p>Contract Type : </p>
                <p>Contract Term Type : </p>
                <p>Total Contract Amount : </p>
                <p>Contract End Date : </p>
                <p>Contract Beds : </p> -->
            </div>  
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 p-t-b-10">
                <div class="day-count-main text-center">
                    <div class="count-center">
                        <p class="day-count">6</p>
                        <p class="go m-t-10">Available Beds for Placements</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4">
              <p>Group ID
                  <span></span>
              </p>
          </div>
      </div>
  </div>
</section>
<div class="container-fluid">
  <div class="box-grid clsMinHeight no-pad clearfix">
      <div class="row">
          <div class="col-md-12 col-lg-12">
              <div class="tab-content">
                  <div class="intake no-pad">
                      <div class="tab-horizontal">
                          <ul class="nav nav-pills click-triggers">
                              <li [ngClass]="'active'">
                                  <a data-toggle="tab" data-target="#licenses">Licenses Info</a>
                              </li>
                              <li >
                                    <a data-toggle="tab" data-target="#document">Document</a>
                                </li>
                                <li >
                                        <a data-toggle="tab" data-target="#Monitoring">Monitoring</a>
                                </li>   
                                <li >
                                        <a data-toggle="tab" data-target="#Sanctions">Sanctions</a>
                                </li>          
                                <li >
                                        <a data-toggle="tab" data-target="#change-request">Change Request</a>
                                </li>    
                                <!-- <li >
                                        <a data-toggle="tab" data-target="#request-list">Request List</a>
                                </li>  -->
                               <!--  <li >
                                        <a data-toggle="tab" data-target="#voluntary-closure">Voluntary Closure</a>
                                </li>  -->
                          </ul>
                          <div class="tab-content">
                              <div class="tab-pane active" id="licenses">
                                <license-information></license-information>
                              </div> 
                              <div class="tab-pane" id="document">
                                    <add-document></add-document>
                                </div>
                                <div class="tab-pane" id="Monitoring">
                                        <provider-monitor-licensing [licenseLevelInputForMonitoring]="licenseLevelInputForMonitoring"></provider-monitor-licensing>  
                                </div>  
                                <div *ngIf="licenseInfo?.license_no" class="tab-pane" id="Sanctions">
                                        <license-sanctions  [licenseInfo]="licenseInfo"></license-sanctions>
                                </div>  
                                <div  class="tab-pane" id="change-request">
                                        <license-change-request></license-change-request>
                                </div>  
                                <!-- <div class="tab-pane" id="request-list">
                                        <license-requests></license-requests>
                                </div>-->
                               <!--  <div *ngIf="licenseInfo?.license_no" class="tab-pane" id="voluntary-closure">
                                        <voluntary-closure [licenseInfo]="licenseInfo"></voluntary-closure>
                                </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg custom-wid" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">X</span>
                  </button>
                  <h4 class="modal-title">PDF preview</h4>
              </div>
              <div class="modal-body">
                  <provider-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)' [profileOutputSubject$]="profileOutputSubject$"></provider-document-creator>
              </div>
          </div>
      </div>
  </div>