<div class="tab-horizontal mr-15 mrg-btm25 custom-textarea">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#Basic-Info" class="aut-tab-pathway" data-toggle="tab"
                aria-expanded="true">Basic Info</a>
        </li>
        <li class="">
            <a href="#Family-Summary-1" class="aut-tab-maltreatmentType" data-toggle="tab"
                aria-expanded="true">Family Summary 1</a>
        </li>
        <li class="">
            <a href="#Family-Summary-2" class="aut-tab-recommendationAndOverrides" data-toggle="tab"
                aria-expanded="false">Family Summary 2</a>
        </li>
        <li class="" >
            <a href="#Family-Summary-3" class="aut-tab-cpsResponseType" id="tab-step3" data-toggle="tab"
                aria-expanded="false">Family Summary 3</a>
        </li>
        <li class="">
            <a href="#Service-Plan-Eval-1" class="aut-tab-maltreatmentType" data-toggle="tab"
                aria-expanded="true">Service Plan/Eval 1</a>
        </li>
        <li class="">
            <a href="#Service-Plan-Eval-2" class="aut-tab-recommendationAndOverrides" data-toggle="tab"
                aria-expanded="false">Service Plan/Eval 2</a>
        </li>
        <li class="" >
            <a href="#Service-Plan-Eval-3" class="aut-tab-cpsResponseType" id="tab-step3" data-toggle="tab"
                aria-expanded="false">Service Plan/Eval 3</a>
        </li>
        <li class="" >
            <a href="#Service-Status-Decision" class="aut-tab-cpsResponseType" id="tab-step3" data-toggle="tab"
                aria-expanded="false">Service Status Decision</a>
        </li>
    </ul>

    <div class="tab-content" style="box-shadow:0 0 " [formGroup]="progressReviewFormGroup">
        <div class="tab-pane active"
            id="Basic-Info">
            <div class="panel panel-default">
                   <br>
                        <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                        <common-date-picker [max]="maxDate" formControlName="evaluationdate" 
                                            placeholder="Date of INFS Progress Review"></common-date-picker>
                                        </div>
                                        <div class="col-sm-1"> </div>
                                        <div class="col-sm-3">
                                        <!-- <mat-select placeholder="Service Plan" >
                                            <mat-option> </mat-option>  serviceplanid
                                        </mat-select> -->

                                        <mat-form-field>
                                                        <mat-select placeholder="Service Plan" formControlName="serviceplanid"  >
                                                            <mat-option *ngFor="let item of (serviceplandropdown$ | async)"
                                                                value="{{item.value}}">{{ item.text }}</mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                        
                                       </div>
                                       <div class="col-sm-3"> </div>
                        </div>
                        <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                        <mat-form-field>
                                                <mat-select placeholder="Timeframe for Completion" formControlName="timeframetypekey"  >
                                                    <mat-option *ngFor="let item of (timeframeforcompletion$ | async)"
                                                        value="{{item.value}}">{{ item.text }}</mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                       </div>
                                       <div class="col-sm-1"> </div>
                                       <div class="col-sm-5">
                                                <mat-form-field>
                                                        <mat-select placeholder="Present Subprogram" formControlName="presentprogramtypekey"  >
                                                            <mat-option *ngFor="let item of (presentsubprogram$ | async)"
                                                                value="{{item.value}}">{{ item.text }}</mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                        </div>
                                       <div class="col-sm-2"> </div>
                        </div>

                        <div class="row modal-content-pad ">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                        <common-date-picker [max]="maxDate"  formControlName="presentprogramopendate"
                                        placeholder="Date Opened in Present Subprogram"></common-date-picker>
                                     
                               </div>
                               <div class="col-sm-2"> </div>
                        </div>


                        <div class="row modal-content-pad ">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                        <common-date-picker [max]="maxDate" formControlName="presentprogramcloseddate" 
                                        placeholder="Date to be Closed in Present Subprogram"></common-date-picker>
                               </div>
                               <div class="col-sm-1"> </div>
                               <div class="col-sm-5">
                                        <common-date-picker [max]="maxDate" formControlName="nextrecondate" 
                                        placeholder="Date Case Review Due in Present Subprogram"></common-date-picker>
                               </div>
                        </div>
            </div>
        </div>
        <div class="tab-pane"
            id="Family-Summary-1">
            <div class="panel panel-default">
                   <br>
                   <div class="row" style="padding-left:4em">
                                 <div class="col-sm-5"><h4>Summary of Reason for Service</h4></div>
                   </div>
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                                <!-- <mat-select placeholder="Safe-C Date" formControlName="safedate">
                                        <mat-option> </mat-option>
                                    </mat-select> -->
                                    <mat-form-field>
                                                <mat-select placeholder="Safe-C Date" formControlName="safedate"  >
                                                    <mat-option *ngFor="let item of safecdate$"
                                                        value="{{item.value}}">{{ item.text }}</mat-option>
                                                </mat-select>
                                    </mat-form-field>
                       </div>
                       <div class="col-sm-2"></div>
                       <div class="col-sm-3">
                           Safety Decision: <!--safetydecisiontypekey-->
                        </div>
                       <div class="col-sm-2"> </div>
                   </div>
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                                <mat-select placeholder="Safety Plan Initiated" formControlName="safetyplaninitiatedflag" >
                                        <mat-option> </mat-option>
                                    </mat-select>
                       </div>
                   </div>
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">  
                                    <mat-form-field>
                                                <mat-select placeholder="Risk Assessment Date" formControlName="riskassessmentdate"  (change)="riskassessmentchange($event.value)">
                                                    <mat-option *ngFor="let item of riskassessmentdate$"
                                                        value="{{item.value}}">{{ item.text }}</mat-option>
                                                </mat-select>
                                    </mat-form-field>
                       </div>
                       <div class="col-sm-2"></div>
                       <div class="col-sm-3">
                           Overall Risk Rating:   <b style="color: red">{{overallriskrating}}</b>
                        </div>
                       <div class="col-sm-2"> </div>
                   </div>      
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                                <mat-form-field>
                                        <mat-label>Summary of Reason for Current Service(Include safety, risk and well-being issues that require services to this family)</mat-label>
                                        <textarea matInput formControlName="familyserviceneeds"
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"  ></textarea>
                                      </mat-form-field>
                       </div>
                   </div>               
            </div>
        </div>  
        
        <div class="tab-pane"
            id="Family-Summary-2">
            <div class="panel panel-default">
                <br>

                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>General Information about Family Members and the Household</mat-label>
                                        <textarea matInput formControlName="newreferraltext" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>  
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Identify Child(ren) and Family Strengths/Weakness</mat-label>
                                        <textarea matInput formControlName="familystrength" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>  
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Discuss New Referrals from Screening/Intake</mat-label>
                                        <textarea matInput formControlName="workerdiscuss"  
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>  
            </div>
        </div>


        <div class="tab-pane"
            id="Family-Summary-3">
            <div class="panel panel-default">
                <br>
                  <div class="row" style="padding-left:4em">
                                <div class="col-sm-8"><h4>Family Investment Administration (FIA) Notification</h4></div>
                  </div>
                    <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Received Notification from FIA regarding sanction</div>
                        <div class="col-sm-1">
                                <mat-select placeholder="" formControlName="fianotificationtypekey">
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                </mat-select>
                       </div>
                   </div> 
                   <div class="row modal-content-pad ">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-9">
                                        <mat-form-field>
                                                <mat-label>Notification Explanation</mat-label>
                                                <textarea matInput formControlName="fianotification"  ></textarea>
                                              </mat-form-field>
                               </div>
                   </div>  
                   <div class="row" style="padding-left:4em">
                                <div class="col-sm-8"><h4>Premliminary Alcohol and Other Drug Sort (PADS) Form</h4></div>
                  </div>
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                Was there a positive response to any factors for any family members on the most recent PADS?
                       </div>
                   </div> 
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-9">
                                <mat-form-field>
                                        <mat-label>Briefly, discuss treatment issues or significant problems and overall strategy for addressing them</mat-label>
                                        <textarea matInput formControlName="treatmentissues"  ></textarea>
                                      </mat-form-field>
                       </div>
                   </div>  
                   <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-9">
                                <mat-form-field>
                                        <mat-label>Court Involvement and Current Status</mat-label>
                                        <textarea matInput formControlName="courtinvolvement" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                   </div> 
            </div>
        </div>

        <div class="tab-pane"
            id="Service-Plan-Eval-1">
            <div class="panel panel-default">
                <br>
                <div class="row" style="padding-left:4em">
                                <div class="col-sm-8"><h4>Indentification of Target Areas for Intervention</h4></div>
                  </div>
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Family's Perception of Safety, Risk, Permanency and Well-being Issues</mat-label>
                                        <textarea matInput formControlName="familyperception" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>  
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Agency Assessment of Safety, Risk, Permanency and Well-being Issues with this family</mat-label>
                                        <textarea matInput formControlName="serviceemployed" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>  
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Convergence on Safety, Risk, Permanency and Well-being Issues Targeted for Intervention</mat-label>
                                        <textarea matInput formControlName="providedclosingplan" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>
            </div>
        </div>


        <div class="tab-pane"
            id="Service-Plan-Eval-2">
            <div class="panel panel-default">
                <br>

                        <!-- <div class="row modal-content-pad ">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8" style="margin-bottom: 25px; margin-top: 19px;">
                                            <div class="table-responsive table-theme">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Family Member</th>
                                                            <th>Participation in Service Plan</th>
                                                            <th>Signed Service Plan</th>
                                                            <th>Candidacy Determination</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Burton, Travis</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                </div>
                                <div class="col-sm-3"></div>
                        </div> -->

                        <div class="row person-wrap" style="padding-left:2em;">
                                        <ng-container *ngIf="personList?.length; else elseTemplate">
                                            <div class="col-sm-3" *ngFor="let person of personList">
                                                <div class="panel panel-default person-panel">
                                                    <div class="panel-heading selected-child" >
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <h4>
                                                                    <div *ngIf="!this.approvalStatus; else approvedPersons">
                                                                      <mat-checkbox (change)="onPersonChecked($event,person)">
                                                                          <span class="m-l-10">{{person.firstname}} {{person.lastname}}</span>
                                                                      </mat-checkbox>
                                                                    </div>
                                                                    <ng-template #approvedPersons>
                                                                      <mat-checkbox [checked]="true" [disabled]="newBtnDisabled">
                                                                          <span class="m-l-10">{{person.firstname}} {{person.lastname}}</span>
                                                                      </mat-checkbox>
                                                                    </ng-template>
                                                                    <!-- <div *ngIf="person?.dateofdeath;else childTitle">
                                                                          {{person.firstname}} {{person.lastname}}
                                                                      </div>
                                                                      <ng-template #childTitle>
                                                                          <mat-checkbox (change)="onPersonChecked($event,person)" [disabled]="newBtnDisabled"><span class="m-l-10">{{person.firstname}} {{person.lastname}}</span></mat-checkbox>
                                                                      </ng-template> -->
                                                                </h4>
                                                                <div class="person-role-height">
                                                                    <p class="designation" *ngFor="let role of person.roles; let isLast=last">
                                                                        {{role.typedescription}}
                                                                        <span *ngIf="!isLast" style="color:gray">,</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="media-right">
                                                                <div>
                                                                    <!--<img src="assets/images/ic_silhouette.png" class="media-object"/>-->
                                                                    <img *ngIf="person.userphoto" mat-card-avatar mat-card-md-image src="{{person.userphoto}}" />
                                                                    <img *ngIf="!person.userphoto" mat-card-avatar mat-card-md-image
                                                                        src="assets/images/ic_silhouette.png" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <table class="involved-person-tables">
                                                            <tr>
                                                                <th>CJAMS PID#</th>
                                                                <td>:</td>
                                                                <td class="single-wrap">{{person?.cjamspid}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>D.O.B</th>
                                                                <td>:</td>
                                                                <td class="single-wrap">{{person?.dob | date : 'MM/dd/yyyy'}}</td>
                                                            </tr>
                                                            <tr *ngIf="person?.dateofdeath">
                                                                <th>D.O.D</th>
                                                                <td>:</td>
                                                                <td class="single-wrap">{{person?.dateofdeath | date : 'MM/dd/yyyy'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Gender</th>
                                                                <td>:</td>
                                                                <td class="single-wrap">{{person?.gender}}</td>
                                                            </tr>
                                                            
                                                            
                                                        </table>
                                                    </div>
                                                   </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <div class="pad-top20 text-center"><p class="col-sm-12 mat-error">Person Not Found</p></div>
                                        </ng-template>
                        </div>
                        <div *ngIf="showPanel"> 
                                <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-8">
                                                Family Member: 
                                </div>
                                </div>
                                <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                        Was this family member offered an opportunity to participate in the planning and delivery of service? 
                                        </div>
                                        <div class="col-sm-1">
                                        <mat-select placeholder="" formControlName="futureservicetypekey"  >
                                                <mat-option value="Y">Yes</mat-option>
                                                <mat-option value="N">No</mat-option>
                                                </mat-select>
                                        </div>
                                </div>
                                <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-8">
                                                <mat-form-field>
                                                        <mat-label>Explain</mat-label>
                                                        <textarea matInput formControlName="serviceplanobjectives" 
                                                                cdkAutosizeMinRows="7"
                                                                cdkAutosizeMaxRows="15"></textarea>
                                                </mat-form-field>
                                </div>
                                </div>
                                <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-6">
                                        Did this member sign a Service Plan after participating in developing the plan?
                                        </div>
                                        <div class="col-sm-1">
                                        <mat-select placeholder="" formControlName="providedclosingplantypekey" >
                                                        <mat-option value="Y">Yes</mat-option>
                                                        <mat-option value="N">No</mat-option>
                                                </mat-select>
                                </div>
                                </div>
                                <div class="row modal-content-pad ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-8">
                                                <mat-form-field>
                                                        <mat-label>Diagreement and Resolution Area</mat-label>
                                                        <textarea matInput formControlName="serviceplandisagreement" 
                                                                cdkAutosizeMinRows="7"
                                                                cdkAutosizeMaxRows="15"></textarea>
                                                </mat-form-field>
                                </div>
                                </div>
                        </div>
            </div>
        </div>


        <div class="tab-pane"
            id="Service-Plan-Eval-3">
            <div class="panel panel-default">
                <br>
                <div class="row " style="padding-left:4em">
                                <div class="col-sm-8"><h4>Services Employed to Reach Objectives</h4></div>
                  </div>
                  <div class="row">
                                <div class="col-sm-12 text-right btns-top mar-vspace">
                                    <button class="btn-pri" data-target="#add-newvendorservice" data-toggle="modal"
                                        (click)="addVendorServices()">
                                        <i aria-hidden="true" class="fa"></i>
                                        Service Log Selection</button>
                                </div>
                </div>
                <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8" style="margin-bottom: 25px; margin-top: 19px;">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Client Name</th>
                                                    <th>Service Name</th>
                                                    <th>Actual Begin Date</th>
                                                    <th>Actual End Date</th>
                                                </tr>
                                            </thead>
                                            <tbody  *ngIf="this.agencyserviceslist"> 
                                                <tr  *ngFor="let data of this.agencyserviceslist">
                                                    <td>{{data.agency_program_nm}}</td>
                                                    <td>{{data.service_nm}}</td>
                                                    <td>{{data.actual_begin_date}}</td>
                                                    <td>{{data.actual_end_date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                        </div>
                        <div class="col-sm-3"></div>
                </div>
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                    Explain How Services Enabled Family to meet Objectives. 
                                    For Children identified in Summary of Reason for Current Services as a risk of Foster Care placement, describe the services provided to prevent placement 
                                    and how the services prevented and continue to prevent placement. Document that the goal for the child 
                                    is foster care if the sevrices described in the plan are not effctive. For children not at risk of foster care 
                                    placement describe the services provided, their effectiveness in moving torward agreed upon goals and need any need for their continuation or adjustment 
                                </div>
                        <div class="col-sm-3"></div>
                </div>
                <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label></mat-label>
                                        <textarea matInput formControlName="servicesprovided" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Discuss Barriers for Achievement of Goals and Objectives</mat-label>
                                        <textarea matInput formControlName="serviceoutcome" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>
                <div class="row modal-content-pad ">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                                <mat-form-field>
                                        <mat-label>Issues Needing Further Attention</mat-label>
                                        <textarea matInput formControlName="serviceplanprogress" 
                                                  cdkAutosizeMinRows="7"
                                                  cdkAutosizeMaxRows="15"></textarea>
                                      </mat-form-field>
                       </div>
                </div>
            </div>

            <div class="modal fade" id="add-newvendorservice" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content form-wrapper txt-left">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title m-0">Service Detail</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane"
            id="Service-Status-Decision">
            <div class="panel panel-default">
                <br>
                <div class="center" >
                        <div class="row modal-content-pad padding4">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="serviceneededflag" > Yes, Agency Services Needed Or Continued
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="caseopenflag"> Service Remains Open in Current Subprogram
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-5">
                                            <mat-form-field>
                                                    <mat-select placeholder="Subprogram Assignment Recommended" formControlName="workerdiscusstypekey">
                                                        <mat-option *ngFor="let item of (subprogramassignmentrecommended$ | async)"
                                                            value="{{item.value}}">{{ item.text }}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                               </div>
                        </div>
                        <div class="row modal-content-pad padding8">
                                <div class="col-sm-5">
                                              <mat-form-field>
                                                    <mat-select placeholder="Continuation of Out-of-Home Care Recommended" formControlName="extnapprovalstatustypekeyforui" multiple>
                                                        <mat-option *ngFor="let item of (outofhomecare$ | async)"
                                                            value="{{item.value}}">{{ item.text }}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                               </div>
                                <div class="col-sm-6">
                                              <mat-form-field>
                                                    <mat-select placeholder="Recommended Court Action" formControlName="closinglettercopytypekeyforui" multiple>
                                                        <mat-option *ngFor="let item of (courtaction$ | async)"
                                                            value="{{item.value}}">{{ item.text }}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                               </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="aodflag"> Family Referred for AOD Assessment
                                        </mat-checkbox>
                                    </div>
                        </div>
                </div>
                <br>
                <div class="center">        
                        <div class="row modal-content-pad padding4">
                                <div class="col-sm-6" >
                                        <mat-checkbox formControlName="approvalagencyflag"> Yes, Administrative Approval For Agency Services Needed
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-6" >
                                        <mat-checkbox formControlName="adminextnsinfsflag"> Administrative Extension for INFS beyond Mandated Timeframes
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-6">
                                        <mat-form-field> <input type="number" matInput formControlName="totalfund" 
                                            placeholder="Expected Amount of Time Needed for Extension"  /> </mat-form-field>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-8">
                                        <mat-form-field>
                                                <mat-label>Reason for Requested Administrative Extension</mat-label>
                                                <textarea matInput formControlName="requestextn"  
                                                          cdkAutosizeMinRows="7"
                                                          cdkAutosizeMaxRows="15"></textarea>
                                              </mat-form-field>
                               </div>
                        </div>
                        <div class="row modal-content-pad padding8">
                                <div class="col-sm-3">
                                        <mat-select placeholder="Supervisor Concurs with Recommendation" formControlName="transfertotypekey"  >
                                                <mat-option> </mat-option>
                                            </mat-select>
                               </div>
                               <div class="col-sm-3">
                                        <common-date-picker [max]="maxDate" formControlName="exttilldate"
                                            placeholder="Extension Approval Until"></common-date-picker>
                                </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="ssapolicyflag"> SSA Policy Analyst Approved
                                        </mat-checkbox>
                                    </div>
                        </div>
                </div>        
                <br>
                <div class="center" >
                        <div class="row modal-content-pad padding4">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="referalmadeagencyflag"> Yes, Referral Made to Agency or Provider
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding4">
                                <div class="col-sm-10">
                                        <mat-checkbox formControlName="noserviceneededflag"  > No, Services Are Not Required by this Agency; Recommended for Closure/Transfer
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row modal-content-pad padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="providerrefflag"  > No, Safety/Risk Interventions; No Court Involvement
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">

                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="objectivesachievedflag"  > Objectives Achieved
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row modal-content-pad padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="familyrefusedserviceflag"  > Family Refuses Services; Insufficient Evidence to Petition Court
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-10">
                                        <mat-checkbox formControlName="casetransferflag"  > Worker/Family Created Plan for Closing/Transfer, Service Progress and Need of Other Services or Referrals
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row modal-content-pad padding8">
                                <div class="col-sm-6">
                                        <mat-checkbox formControlName="servivceagreementflag"  > Intended Action Letter Sent
                                        </mat-checkbox>
                                    </div>
                        </div>
                        <div class="row padding8">
                                <div class="col-sm-8">
                                        <mat-form-field>
                                                <mat-label>Comment to Support Service Recommendation</mat-label>
                                                <textarea matInput formControlName="supportservicecomments"  
                                                          cdkAutosizeMinRows="7"
                                                          cdkAutosizeMaxRows="15"></textarea>
                                              </mat-form-field>
                               </div>
                        </div>
                </div>      
                <br>  
            </div>
        </div> 
    </div>
    
  <!--   <div class="modal-footer"><button class="btn-pri no-mar" (click)="save()">Save</button></div> -->
</div>
