<div class="container-fluid">
  <!-- <div class="row m-b-30">
    <div class="col-sm-4">
      <h4 class="mar-top0 text-16 textb" *ngIf="roleName === 'SCRNW'"> My Pre-Intakes </h4>
      <h4 class="mar-top0 text-16 textb" *ngIf="roleName !== 'SCRNW'"> My Intakes </h4>
    </div>
    <div class="col-sm-8">
      <div class="header-search" [formGroup]="searchIntakeForm">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="intakenumber" (input)="onSearch('intakenumber', $event.target.value)"
            placeholder="Search Cases">
        </div>
        <a class="btn btn-pri m-l-20" [routerLink]="['/pages/newintake/my-newintake/']">+ New Pre-Intake</a>
      </div>
    </div>
  </div> -->
  <h4 class="mrg-top25" *ngIf="roleName === 'SCRNW'"> <span *ngIf="isDjs">Referrals</span> <span
      *ngIf="!isDjs">Pre-Intake Referrals</span> </h4>
  <h4 class="mrg-top25" *ngIf="roleName !== 'SCRNW'"> <span *ngIf="isDjs">Intake Referrals</span> <span
      *ngIf="!isDjs">My Intakes</span></h4>
  <div class="dashboard-cont no-pad">
    <div class="tab-horizontal">
      <ul class="nav nav-pills" *ngIf="isDjs">
        <li class="active">
          <a href="#case-pending" data-toggle="tab" (click)="getPage(1, 'pending')">PENDING</a>
        </li>
        <li>
          <a href="#case-rejected" data-toggle="tab" (click)="getPage(1,'rejected')">DENIED</a>
        </li>
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'accepted')">ACCEPTED</a>
        </li>
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'completed')">COMPLETED</a>
        </li>
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'closed')">CLOSED</a>
        </li>
        <div class="search-container pull-right">
          <div class="inner-addon right-addon pull-right" [formGroup]="searchIntakeForm">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" *ngIf="isDjs" class="form-control" formControlName="intakenumber"
              (input)="onSearch('intakenumber', $event.target.value)"
              placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Referrals'}}" />
            <input type="text" *ngIf="!isDjs" class="form-control" formControlName="intakenumber"
              (input)="onSearch('intakenumber', $event.target.value)"
              placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Pre-Intake'}}" />
          </div>
          <a class="btn btn-pri m-l-20 new-intake" *ngIf="isDjs"
            (click)="openIntake()">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Referral'}}</a>
          <a class="btn btn-pri m-l-20 new-intake aut-btn-newIntake" *ngIf="!isDjs"
            (click)="openIntake()">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Pre-Intake'}}</a>
        </div>
      </ul>
      <ul class="nav nav-pills" *ngIf="!isDjs">
        <li class="active">
          <a href="#case-pending" data-toggle="tab" (click)="getPage(1, 'pending')">PENDING</a>
        </li>
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'intakescreenin')">SCREENED IN</a>
        </li>
        <li>
          <a href="#case-rejected" data-toggle="tab" (click)="getPage(1,'intakescreenout')">SCREENED OUT</a>
        </li>
        <!-- <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'completed')">RETURNED TO WORKER</a>
        </li> -->
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'spclosed')">CLOSED AT INTAKE</a>
        </li>
        <div class="search-container pull-right">
          <div *ngIf="isCW" class="pull-right reset-search mr-10">
            <!-- <button class="no-bg reset-btn" matTooltip="Reset Search">
                    <i class="glyphicon glyphicon-repeat" (click)="onSearch('intakenumber', null)">Reset</i>
                </button> -->
            <a href="javascript:void(0)" (click)="onSearch('intakenumber', null)" matTooltip="Reset Search"
              class="reset-btn">Reset</a>
          </div>
          <div class="inner-addon right-addon pull-right" [formGroup]="searchIntakeForm">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" *ngIf="isDjs" class="form-control" formControlName="intakenumber"
              (input)="onSearch('intakenumber', $event.target.value)"
              placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Referrals'}}" />
            <input type="text" *ngIf="!isDjs" class="form-control" formControlName="intakenumber"
              (input)="onSearch('intakenumber', $event.target.value)"
              placeholder="{{(roleName !== 'SCRNW')?'Search Intake ID':' Search Pre-Intake'}}" maxlength="25" />
          </div>
          <a class="btn btn-pri m-l-20 new-intake" *ngIf="isDjs"
            (click)="openIntake()">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Referral'}}</a>
          <a class="btn btn-pri m-l-20 new-intake aut-btn-newIntake" *ngIf="!isDjs"
            (click)="openIntake()">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Pre-Intake'}}</a>
        </div>
      </ul>
      <div class="tab-content boxgrid">
        <div class="tab-pane active" id="case-pending">
          <div class="cnt-min-height">
            <div class="table-responsive table-theme">
              <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                <thead>
                  <tr>
                    <th *ngIf="agency==='DJS'">Youth</th>
                    <th *ngIf="agency==='DJS'">CJAMS PID</th>
                    <th sortable-column="intakenumber">
                      <span *ngIf="(isDjs && roleName === 'SCRNW'); else nonReferal">Referral Number</span>
                      <ng-template #nonReferal>
                        <span *ngIf="isDjs">Referral Number</span>
                        <span *ngIf="!isDjs">Intake Number</span>
                      </ng-template>
                    </th>
                    <th>Status</th>
                    <th sortable-column="datereceived">Received Date & Time</th>
                    <th sortable-column="updateddate" sort-direction="desc">Updated Date & Time</th>
                    <th> Purpose </th>
                    <th *ngIf="!isDjs">Narrative</th>
                    <th *ngIf="agency!=='DJS'">{{(agency==='CW')?'Head of Household':'Focus'}}</th>
                  </tr>
                </thead>

                <tbody *ngIf="intakes; let intakes">
                  <ng-container *ngIf="intakes.length>0; else noItems">
                    <tr *ngFor="let item of intakes">
                      <td *ngIf="agency==='DJS'">
                        <span *ngIf="item.youthcjamspid"> {{item.youthname}}</span>
                        <span *ngIf="!item.youthcjamspid"> {{item.raname}}</span>
                      </td>
                      <td *ngIf="agency==='DJS'"> {{item.youthcjamspid}} </td>
                      <td *ngIf="roleName !== 'SCRNW'">
                        <a *ngIf="item?.intakenumber" (click)="openIntake(item.intakenumber)">{{item?.intakenumber}}</a>
                        <span *ngIf="item?.sdm?.length"> <span matTooltip="Child Fatality"
                            *ngIf="item?.sdm[0]?.ischildfatality" class="dot yellow-dot"></span><span
                            matTooltip="Provider Maltreatment" *ngIf="item?.sdm[0]?.ismaltreatment"
                            class="dot blue-dot"></span></span>
                      </td>
                      <td *ngIf="roleName === 'SCRNW'">
                        <a *ngIf="item?.intakenumber" (click)="openIntake(item.intakenumber)">{{item?.intakenumber}}</a>
                      </td>
                      <!-- <td *ngIf="item.reviewstatus === 'Submitted' && roleName === 'SCRNW'">
                        {{item?.intakenumber}}
                      </td> -->
                      <td> {{item.reviewstatus === 'Draft' ? 'In Progress' : item.reviewstatus === 'Review' ? 'Pending Approval': item.reviewstatus === 'Reopen' ? 'Returned from Supervisor': item.reviewstatus}}</td>                      
                      <!-- D-07003 Start -->
                      <!-- <td> {{item.datereceived | date:'MM/dd/yyyy, h:mm a':'-0500'}} </td>
                      <td> {{item.updateddate | date:'MM/dd/yyyy, h:mm a':'-0500'}} </td> -->
                      <td> {{item.datereceivedeststr}}</td>
                      <td> {{item.updateddateeststr}} </td>
                      <!-- D-07003 End -->

                      <td>
                        {{item?.purpose?.description}}
                      </td>

                      <td *ngIf="!isDjs">
                        <a [routerLink]="" (click)="openNarrativeDialog(item)"> <i class="fa fa-file"></i> </a>
                      </td>
                      <td *ngIf="agency!=='DJS'">
                        <ng-container *ngIf="validate(item?.headofhousehlod); else stringTemplate">
                          <span *ngFor="let item of item.headofhousehlod; let isLast=last">
                            {{item.personname}}<span *ngIf="!isLast">, </span>
                          </span>
                        </ng-container>
                        <ng-template #stringTemplate>
                          N/A
                        </ng-template>
                      </td> <!-- fix here for D-07998 & D-07946-->
                    </tr>
                  </ng-container>

                </tbody>
              </table>
              <ng-template #noItems>
                <p class="no-datatxt"> No Items! </p>
              </ng-template>
              <div class="text-center m-t-20" *ngIf="totalRecords>0">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                  (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                  [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="broadcoastmessage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="acceptAnnouncement()">×</button>
        <h4 class="modal-title bc-pop-title"> BroadCast Message </h4>
      </div>
      <div class="modal-body" *ngIf="showBroadCostMessage; let item">
        <p> {{item.details}} </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" (click)="acceptAnnouncement()">
            Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="narrative-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title bc-pop-title"> Narrative </h4>
      </div>
      <div class="modal-body">
        <div [safeHtml]="narrative"> </div>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>