<form [formGroup]="rolePosition" (submit)="onSubmit()">
  <div class="row p-l-r">
    <div class="col-sm-6">
      <div>
        <label>Role</label>
        <ng-select placeholder="Select Role" formControlName="roleid" [searchable]="true" [clearable]="true"
          id="team-type-drop" (change)="roleChanges($event)">
          <ng-option value=''>Select</ng-option>
          <ng-option *ngFor="let role of roleList$ | async | orderBy:'name'" [value]="role.id">
            {{role.name}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-sm-6">
      <label class="panel-label">Additional Permission Groups</label>
      <mat-card>
        <mat-selection-list #list>
          <mat-list-option *ngFor="let perm of permissiongroup" (click)="permissiongroupChange(list)"
            [selected]="perm.selected" [value]="perm.permissiongroupid">
            {{perm.permissiongroupname}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </div>
  </div>
  <div class="row m-t-30">
    <div class=" col-sm-12 text-right">
      <button type="button" value="Cancel" class="btn-bg" name="cancel" (click)="closeUserProfile()">Cancel</button>
      <button type="submit" value="Save" class="btn-pri" name="save" [disabled]="!rolePosition.valid">Update</button>
    </div>
  </div>
</form>