<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height container-fluid">
        <div class="">
            <div class="box-grid no-mar">
                <div class="">
                    <!-- [formGroup]="investigationPlanSearchFormGroup"> *ngIf="dsdsActionsSummary$ | async; let dsdsActionsSummary"  -->
                    <div class="form-search-person no-pad">
                        <div class="row">
                            <div class="col-sm-5">
                                <ul class="list-unstyled list-inline task-list">
                                    <li class="">
                                        <a>TOTAL TASKS
                                            <span class="label label-primary"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>OPEN TASKS
                                            <span class="label label-warning"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>CLOSED TASKS
                                            <span class="label label-success"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="col-sm-4 col-sm-offset-3">
                                <div *ngIf="taskList.length==0" class="form-group">
                                    <ul class="list-unstyled list-inline text-right task-menu">
                                        <li>
                                            <!-- <a href="javascript:{}" (click)="openSiteCheckList()">
                                                <img src="assets/images/suggest-icon.png">Add Check List</a> -->
                                            <a href="javascript:{}" (click)="generateCheckList()">
                                                <img src="assets/images/suggest-icon.png">Generate Tasks</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div #addCheckList></div>

                            <!--  -->
                            <div class="col-sm-12">
                                <mat-accordion multi="false" class="acc-content">
                                    <mat-expansion-panel *ngFor="let panel of config.panels; let iVal=index">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{ panel.name }}
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                {{ panel.description }}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="contentAccordion" [formGroup]="activityTaskStatusFormGroup">
                                            <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                                                <div class="table-responsive dd-overflow-inherit" style="overflow: hidden;">
                                                    <table class="table table-bordered" style="width: 99.86%;" formArrayName="{{'task'+iVal}}">
                                                        <thead>
                                                            <tr>
                                                                <th>Task</th>
                                                                <th style="width:54%">Comments</th>
                                                                <th>Review Date</th>
                                                                <th style="width:120px">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task'+iVal]['controls'] let i=index"
                                                            [formGroupName]="i">
                                                            <tr class="dd-overflow-inherit">
                                                                <td style="text-align: start;width: 350px;">{{currentTask['controls'].checklist_task.value}}</td>
                                                                <td style="padding-bottom: 0;">
                                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                                        <div class="fm-box-form no-pad dpnew">
                                                                            <mat-form-field>
                                                                                <input formControlName="commnts" type="text"
                                                                                    matInput required>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="padding-bottom: 0;">
                                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                                        <div class="fm-box-form no-pad dpnew">
                                                                            <mat-form-field>
                                                                                <input formControlName="completeddate" matInput
                                                                                    (click)="picker.open()" [matDatepicker]="picker"
                                                                                    [max]="maxDate">
                                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                                <mat-datepicker #picker></mat-datepicker>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="padding-bottom: 0;">
                                                                    <div class="form-group dd-overflow-inherit mb-0">
                                                                        <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                                            <mat-form-field>
                                                                                <mat-select formControlName="status">
                                                                                    <mat-option *ngFor="let status of tasktypestatus"
                                                                                        [value]="status">
                                                                                        {{status}}
                                                                                    </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mrg-top15">
                                            <div class="btn-group btn-group-re pull-right">
                                                <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <!--  -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
