.moveup {
    position: absolute;
    right: -10px;
    top: -45px;
    z-index: 1;
}

.tab-content {
    position: relative;
}

.table-responsive.table-theme .table.table-striped tr td.text-center {
    text-align: center !important;
}

.chart-container {
    background-color: #f9f9f9;
    min-height: 350px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
span.ml-30.mr-5.pull-right.no-mar {
    cursor: pointer;
    color: green;
    font-size: x-large;
}

span.ml-30.mr-5.xl-icon{
    cursor: pointer;
    color: green;
    margin-left: 50px;
    font-size: 22px;
}
.table-theme .table tr>th {
    position:relative;
}
.table-theme .table tr td a.aut-no-lnk {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #333 !important;
}