<div [formGroup]="applicantProfileFormGroup">
    <div class="row modal-content-pad modal-height-body">
        <div class="col-sm-4">
            <mat-form-field>
                <input type="text" [disabled]="true" matInput formControlName="provider_applicant_nm"
                    placeholder="Provider Corporate Name">
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="dba_name" placeholder="DBA Name">
            </mat-form-field>

            <mat-form-field>
                <input type="text" mask="00-0000000" matInput formControlName="tax_id_no" placeholder="Tax Id">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput formControlName="adr_url_tx" placeholder="Website">
            </mat-form-field>
            <!-- Group these into Name as one single -->
            <mat-card>
                <mat-card-title>
                    <ng-container *ngIf="isYSB; else elseTemplate">
                        Local Management Board
                    </ng-container>
                    <ng-template #elseTemplate>
                        Corporate Information
                    </ng-template>
                    
                    </mat-card-title>
                <mat-form-field>
                    <input type="text" matInput formControlName="provider_applicant_first_nm" placeholder="First Name">
                </mat-form-field>

                <mat-form-field>
                    <input type="text" matInput formControlName="provider_applicant_last_nm" placeholder="Last Name">
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Accreditation" formControlName="accreditation">
                        <mat-option *ngFor="let item of accreditationList$ | async"
                            value="{{item.ref_key}}" >
                            {{ item.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-radio-group formControlName="profit">
                    <mat-radio-button value="PROFIT">PROFIT</mat-radio-button>
                    <mat-radio-button value="NON-PROFIT">NON PROFIT</mat-radio-button>
                </mat-radio-group>
            </mat-card>
        </div>

        <!-- Email table -->
        <div class="col-sm-4 text-right">
            <button [hidden]='isSubmitted' type="submit" class="btn-pri" data-target="#intake-email"
                data-toggle="modal"> + Email
            </button>
            <div class="table-responsive table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let email of emails">
                            <td>{{email.email}}
                            </td>
                            <td>{{email.email_type}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Phone table -->
        <div class="col-sm-4 text-right">
            <button [hidden]='isSubmitted' type="submit" class="btn-pri" data-target="#intake-phone"
                data-toggle="modal"> + Phone
            </button>
            <div class="table-responsive table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Phone Number</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let phone of phones">
                            <td>{{phone.phone_no}}</td>
                            <td>{{phone.phone_type}}</td>
                            <td class="col">
                                <!-- <button class="btn-pri" (click)="EditPhone(phone)">Edit</button> -->
                                <button class="no-bg" matTooltip="Edit"><i class="fa fa-pencil" (click)="EditPhone(phone)"></i></button>
                                <button class="no-bg" matTooltip="Delete"><i class="fa fa-trash" (click)="DeletePhone(phone)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Address table -->
        <div class="col-sm-8 m-t-20 text-right">
            <button [hidden]='isSubmitted' type="submit" class="btn-pri" data-target="#intake-aptmnt"
                data-toggle="modal" (click)="initializeAddressForm()"> + Address
            </button>

            <div class="table-responsive table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let address of addresses">
                            <td>{{address.formatted_address}}
                            </td>
                            <td>
                                {{address.address_type}}
                            </td>
                            <td class="col">
                                <!-- <button class="btn-pri" (click)="EditPhone(phone)">Edit</button> -->
                                <button class="no-bg" matTooltip="Edit"><i class="fa fa-pencil" matTooltip="Edit" (click)="EditAddress(address)"></i></button>
                                <button class="no-bg" matTooltip="Delete"><i class="fa fa-trash" matTooltip="Delete" (click)="DeleteAddress(address)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a class="btn-pri" [hidden]='isSubmitted' (click)="saveApplicantProfileInformation()">Save</a>
    </div>
</div>


<div class="modal fade in" id="intake-aptmnt" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Address</h4>
            </div>
            <div class="modal-body">

                <form [formGroup]="addressForm">
                    <div class="row">

                        <div class="col-md-6">
                            <h4 class="">Address Details</h4>
                            <!-- <mat-form-field>
                          <textarea type="text" formControlName="address_type" matInput placeholder="Address Type" ></textarea>
                      </mat-form-field>  -->
                            <mat-form-field>
                                <mat-select placeholder="Address Type" formControlName="address_type" required>
                                    <mat-option *ngFor="let item of addressTypes" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input formControlName="adr_street_nm" type="text" matInput placeholder="Address Line 1"
                                    [matAutocomplete]="auto" (input)="getSuggestedAddress()" required />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                                        value="{{item.text}}">
                                        {{item.text}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="State" formControlName="adr_state_cd" required>
                                    <mat-option *ngFor="let item of stateList$ | async" value="{{item.ref_key}}"
                                        (click)="loadCounty(item)">
                                        {{ item.description }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select formControlName="adr_county_cd" placeholder="County" required>
                                    <mat-option *ngFor="let item of countyList$ | async"
                                        value="{{item.picklist_value_cd}}">
                                        {{item.description_tx}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field>
                            <input type="text" matInput formControlName="adr_street_nm" placeholder="Street no" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput formControlName="adr_line2" placeholder="Street Name" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" matInput formControlName="adr_city_nm" placeholder="City Name" required>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="State" formControlName="adr_state_cd" required>
                            <mat-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input type="text" mask="00000" matInput formControlName="adr_zip5_no" placeholder="ZIP Code" required>
                      </mat-form-field> -->
                        </div>
                        <div class="col-md-6">                            
                            <mat-form-field> 
                                <input formControlName="adr_line2" type="text" matInput placeholder="Address Line 2" />
                            </mat-form-field>                            
                            <mat-form-field> 
                                <input formControlName="adr_city_nm" type="text" matInput placeholder="City" required />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zip Code" formControlName="adr_zip5_no" zipcodeOnly maxlength="5" minlength="5" required />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class=" text-right">
                                <button class="btn-pri" [disabled]="addressForm.pristine || addressForm.invalid"
                                    (click)="saveAddress(addressForm.value)">DONE</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="intake-email" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Email</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="emailForm">
                    <div class="row">

                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-select placeholder="Email Type" formControlName="email_type" required>
                                    <mat-option *ngFor="let item of addressTypes" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput formControlName="email" placeholder="Email">
                            </mat-form-field>
                            <span class="red">{{emailForm.get('email').errors?.invalidEmailAddress?.message}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class=" text-right">
                                <button class="btn-pri" [disabled]="emailForm.pristine || emailForm.invalid"
                                    (click)="saveEmail(emailForm.value)">DONE</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="intake-phone" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Phone</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="phoneForm">
                    <div class="row">

                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-select placeholder="Phone Type" formControlName="phone_type" required>
                                    <mat-option *ngFor="let item of phoneTypes" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field>
                                <input type="text" mask="(000) 000-0000" formControlName="phone_no" matInput placeholder="Number" />
                        </mat-form-field>  -->

                            <mat-form-field>
                                <input type="text" mask="(000) 000-0000" formControlName="phone_no" matInput
                                    placeholder="Number" />
                                <!--(blur)="phoneValidation($event)"--->
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class=" text-right">
                                <button class="btn-pri" [disabled]="phoneForm.pristine || phoneForm.invalid"
                                    (click)="savePhone(phoneForm.value)">DONE</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="delet-phone" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Phone</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Are you sure want to delete Phonenumber</p>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="sec-btn">Cancel</button>
                        <button class="btn-pri">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="delete-aptmnt" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Are you sure want to delete Address</p>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="sec-btn" (click)="CancelDelete()">Cancel</button>
                        <button class="btn-pri" (click)="DeleteAddressConfirm()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>