

<div class="panel panel-primary">
    <div class="panel-heading">Eligibility Details</div>
    <div class="panel-body" style="align-content: center;">
        <br>
        <div class="absolute"  *ngIf="isSpecialist"> 
            <button type="button" value="Approval" class="btn-pri" name=""  [disabled] = "gapSendForApprovalDisable" (click)="showSupervisorList()">Send for Approval</button>
        </div>
        <div  class="absolute" *ngIf="isSupervisor"> 
                <button type="button" value="Approve" class="btn-pri" name="" 
                [disabled]="approveRejectDisabled" (click)="ApproveReject('APPROVED')">Approve</button> 
                
                <button type="button" value="Reject" class="btn-pri" name="" 
                [disabled]="approveRejectDisabled" (click)="ApproveReject('REJECTED')">Reject</button>
        </div>   
        <br>
        <br>
        <div class="right">
        <table  class="table table-bordered" style="width: 100% !important; border-radius:5px;align-content: center ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>CATEGORY</th>
                    <th>ELIGIBILITY STATUS</th>
                    <th>WARNINGS</th>
                    <th>APPROVAL STATUS</th>
                    <th>DATE & TIME</th>
                    <th>LOGS</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let item of gapAuditList; let i=index" >
                        <td width="5% !important" *ngIf="i===0">
                            <a data-toggle="collapse" data-target="#gapdetails" (click)="toggleChildren()">
                                <i class="fa fa-minus-square-o fa-lg"
                                 [ngClass]="eligibilityDetailsChilds ? 'fa-plus-square-o' : 'fa-minus-square-o'"
                                 aria-hidden="true"></i>
                            </a>
                        </td>
                        <td width="15% !important" *ngIf="i===0">{{item.category ==='R' ? 'Gap Extended' : 'Gap Eligibility'}}</td>
                        <td width="20% !important" *ngIf="i===0">{{item.category ==='R' ? item.extgapeligibilitystatus :  item.gapeligibilitystatus}}</td>
                        <td width="10% !important" *ngIf="i===0">
                                <div class="btn-group" role="group" aria-label="...">
                                        <a (click)="gaperrors(item,'W')">
                                                <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true" matTooltip="Show Warnings"></i>
                                        </a>
                                </div>
                        </td>
                        <td width="20% !important" *ngIf="i===0">{{item.approvalstatus ? item.approvalstatus : ''}}</td>
                        <td width="20% !important" *ngIf="i===0">{{item.insertedon | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
                        <td width="10% !important" *ngIf="i===0">
                                <div class="btn-group" role="group" aria-label="...">
                                        <a (click)="gaperrors(item,'L')">
                                            <i class="fa fa-info-circle fa-lg text-info" aria-hidden="true" matTooltip="Show logs"></i>
                                        </a>
                                </div>
                        </td>   
                    </tr> 
                    <tr>
                            <td colspan="7" class="hiddenRow" style="padding: 0px">
                                <div class="accordian-body collapse" id="gapdetails">
                                    <table class="table table-bordered" style="width: 100% !important; border-radius:5px;align-content: center ">
                                            <tr *ngFor="let gapAudit of gapAuditList; let k=index" >
                                                    <td width="5% !important" *ngIf="k!=0"></td>
                                                    <td width="15% !important" *ngIf="k!=0">{{gapAudit.category ==='R' ? 'Gap Extended' : 'Gap Eligibility'}} </td>
                                                    <td width="20% !important" *ngIf="k!=0">{{gapAudit.category ==='R' ? gapAudit.extgapeligibilitystatus : gapAudit.gapeligibilitystatus}} </td>
                                                    <td width="10% !important" *ngIf="k!=0">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                    <a (click)="gaperrors(gapAudit,'W')">
                                                                        <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true" matTooltip="Show logs"></i>
                                                                    </a>
                                                            </div>
                                                    </td>
                                                    <td width="20% !important" *ngIf="k!=0">{{gapAudit.approvalstatus ? gapAudit.approvalstatus : ''}} </td>
                                                    <td width="20% !important" *ngIf="k!=0">{{gapAudit.insertedon | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
                                                    <td width="10% !important" *ngIf="k!=0">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                    <a (click)="gaperrors(gapAudit,'L')">
                                                                        <i class="fa fa-info-circle fa-lg text-info" aria-hidden="true" matTooltip="Show logs"></i>
                                                                    </a>
                                                            </div>
                                                    </td>
                                             </tr> 
                                    </table>
                                </div>
                            </td>
                    </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


                    <div>
                        <div class="panel panel-primary" style="padding: 0px;" *ngIf="gapmessages || gapwarnings" >
                            <div class="panel-heading" *ngIf="gapmessages"><b>MESSAGES</b></div>
                            <div class="panel-heading" *ngIf="gapwarnings"><b>WARNINGS</b></div>
                            <div class="panel-body ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><b>Date & Time</b>: {{warningdate | date: 'MM/dd/yyyy h:mm a'}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <mat-slide-toggle labelPosition='before' [(ngModel)]="showSnapshot" (change)="updateSnapshot($event)"><b>History</b></mat-slide-toggle>
                                        </p>
                                    </div>
                                </div>


                                <br><br>
                                <div *ngIf="gapmessages"> 
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let item of gapmessages">
                                            <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"
                                                *ngIf="item.severity==='Warning'"></i>
                                            <i class="fa fa-info-circle fa-lg text-info" aria-hidden="true"
                                                *ngIf="item.severity==='Info'"></i>
                                            <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"
                                                *ngIf="item.severity==='Error'"></i>
                                            {{item.message}}</li>
                                        <li class="list-group-item" *ngIf="gapmessages && gapmessages.length === 0">
                                                No Logs</li>     
                                    </ul>
                                </div>


                                <div  *ngIf="gapwarnings"> 
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of gapwarnings">
                                                <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"
                                                    *ngIf="item.severity==='Warning'"></i>
                                                {{item.message}}</li>
                                            <li class="list-group-item" *ngIf="gapwarnings && gapwarnings.length === 0">
                                                   No Warnings</li>                                                
                                        </ul>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" [ngClass]="{'show':showSnapshot === true, 'hide':showSnapshot === false}">
                                        <div id="titleIvEGapEligibilityFormReview"></div>
                                        <div id="titleIvEGapExtensionFormReview"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>


        <div class="modal fade" id="assign" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Route Case</h4>
                    </div>
                    <div class="modal-body dashboard-cont">
        
                        <div class="tab-horizontal mrg-btm25">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#supervisor" data-toggle="tab" >SUPERVISORS</a>
                                </li>
                            
                            </ul>
                            <div class="tab-content boxgrid">
                                <div class="tab-pane active" id="supervisor">
                                    <div class="">
                                        <div class="table-responsive table-theme">
                                            <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>NAME</th>
                                                        <th>TYPE OF SUPERVISOR</th>
                                                        <th>UNIT</th>
                                                        <!-- <th>Total Cases</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="getUsersList; let getlist">
                                                    <ng-container *ngIf="getlist.length>0; else noItems">
                                                        <tr *ngFor="let item of getlist">
                                                            <td>
                                                                <label class="control control--radio">
                                                                    <input type="radio" name="Address" (click)="selectPerson(item)">
                                                                    <div class="control__indicator"></div>
                                                                </label>
                                                            </td>
                                                            <td>{{item.username}} </td>
                                                            <td>{{item.userrole}}</td>
                                                            <td>{{item.teamname}}</td>
                                                            <!-- <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td> -->
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                            <ng-template #noItems>No Items!</ng-template>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                    <div class="modal-footer wizard-buttons">
                        <button class="btn-pri" (click)="sendForApproval()">ASSIGN</button>
                    </div>
                </div>
            </div>
    </div>
