<div class="row placement-detail">
    <!-- effectivedate: "2/16/2019, 10:38:41 AM"
    ifcapprovaldate: null
    intakeservicerequestactorid: "1c228c8f-4a01-4f5f-8876-601dcbaae8c5"
    intakeservreqchildremovalid: "b8faf7c1-e32e-4763-9115-ffc3e9d1a701"
    isssaapproval: 0
    placementid: "d2154148-fdf0-424c-a35e-198b6545e91d"
    placementtypekey: "PRPL"
    providerdesc: "test"
    providersentdate: "2001-02-07T18:30:00.000Z"
    rejectreasonkey: null
    remarks: "test"
    responseacceptedkey: "4612"
    service_id: 15
    servicecaseid: "cd27df6c-011f-4661-93b0-268f57e2645b"
    startdatetime: "2019-02-25T18:30:00.000Z"
    starttime: "08:00" -->
    <div class="col-sm-3">
      <h5>Type</h5>
      <p class="m-0">{{child?.placement?.placementTypeDesc}} <span *ngIf="child?.placement?.isvoided === 1"><i matTooltip='Void' class="fa fa-minus-circle red text-16"></i></span></p>
    </div>
    <div class="col-sm-3">
      <h5>Provider Information</h5>
      <p class="m-0">ID - {{child?.placement?.providerdetails?.provider_id}}</p>
      <p class="m-0">Name - {{child?.placement?.providerdetails?.providername}}</p>
      <p class="m-0">Address - {{child?.placement?.providerdetails?.address}}</p>
      <p class="m-0">{{formatPhoneNumber(child?.placement?.providerdetails?.phonenumber)}}</p>
    </div>
    <div class="col-sm-3">
        <h5>Referral sent date</h5>
        <p class="m-0">{{child?.placement?.providersentdate | date : 'MM/dd/yyyy'}}</p>
        <br> 
        <h5>Child has been placed with a provider outside his/her jurisdiction</h5>
        <p class="m-0">{{child?.placement?.ischildplacedoutside ? 'Yes' : 'No'}}</p>
      </div>  
      <div class="col-sm-3">
         <h5>Description</h5>
        <p class="m-0">{{child?.placement?.providerdesc }}</p> 
      </div>
    <div class="col-sm-3">
      <h5>Start Date</h5>

      <p class="m-0" >
        <ng-container *ngIf="child?.placement?.revisionupdate; else elseStartDateTemplate">
          <span >{{child?.placement?.revisionupdate?.entrydate | date : 'MM/dd/yyyy'}}  {{child?.placement?.revisionupdate?.entrytime}} </span>
        </ng-container>
        <ng-template #elseStartDateTemplate>
            {{child?.placement?.startdate | date : 'MM/dd/yyyy'}} {{child?.placement?.starttime}}
        </ng-template>
        
       </p>
    </div>
    <div class="col-sm-3">
      <!-- <h5>End Date</h5>
      <p class="m-0"> &nbsp;{{child?.placement?.revisionupdate?.enddate | date : 'MM/dd/yyyy'}}</p> -->
    </div>
    <div class="col-sm-3">
      <h5>Placement Structure</h5>
      <p class="m-0"> &nbsp;{{child?.placement?.placementstructuredesc}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Response Accepted</h5>
      <p class="m-0">{{child?.placement?.responseaccepted}}</p>
    </div>
    <div class="col-sm-3">
      <h5>Reason for Decline</h5>
      <p class="m-0"> &nbsp;{{(child?.placement?.rejectreason)? child?.placement?.rejectreason : 'N/A'}}</p>
    </div>

    <div class="col-sm-3">
      <h5>COMAR Rate Category</h5>
      <p class="m-0">{{child?.placement?.comarratedesc}}</p>
    </div>

    <div class="col-sm-3">
        <h5>Comments</h5>
        <p class="m-0">&nbsp;{{child?.placement?.remarks}}</p>
      </div>

      <div class="col-sm-3">
          <h5>Approval Status</h5>
          <p class="m-0">{{child?.placement?.routingstatus}}</p>
      </div>
      
      <div class="col-sm-3">
          <h5>Supervisor Comment / Reason</h5>
          <p class="m-0">{{child?.placement?.reason}}</p>
      </div>

  </div>