<div class="table-responsive table-theme">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Petition ID</th>
        <th>Petition Type</th>
        <th>Hearing Type</th>
        <th>Hearing Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of petitions; let i = index;">
        <tr>
          <td>{{item.petitionid}}</td>
          <td>{{item.petitiontype}}</td>
          <td>{{item.hearingtype}}</td>
          <td>{{item.hearingdate | date:'MM/dd/yyyy'}}</td>
          <td class="pull-left">
            <a *ngIf="item.adjudicateddecision" class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+i)"><i
                class="fa fa-chevron-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr id="accordion-tables{{i}}" class="collapse" *ngIf="item.adjudicateddecision">
          <td class="accordion-table" colspan="5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Adjudicated Offense</th>
                  <th>Court Action</th>
                  <th>Court Order</th>
                  <th>Condition</th>
                  <th>Adjudicated Decision</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ad_item of item?.adjudicateddecision">
                  <td>{{ad_item.allegationname}}</td>
                  <td>{{ad_item.courtactions}}</td>
                  <td>{{ad_item.courtorder}}</td>
                  <td>{{ad_item.courtcondition}}</td>
                  <td>{{ad_item.adjudicateddecisiontype}}</td>
                </tr>
              </tbody>

            </table>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="petitions?.length === 0">
        <td colspan="8" style="text-align: center;">No petitions found.</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
    <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
  </div>
</div>