<div class="container-fluid">
    <div class="dashboard-cont no-pad">
        <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#case-pending" class="aut-tab-pendingReview" data-toggle="tab"
                        (click)="getIntakeSummary(1, 'pendingreview', 'Initial')">PENDING REVIEW</a>
                </li>
                <li>
                    <a href="#case-pending" class="aut-tab-reopen" data-toggle="tab"
                        (click)="getIntakeSummary(1,'screenin', 'Initial')">SCREENED IN</a>
                </li>
                <li>
                    <a href="#case-pending" class="aut-tab-reopen" data-toggle="tab"
                        (click)="getIntakeSummary(1,'screenout', 'Initial')">SCREENED OUT</a>
                </li>
                <li>
                    <a href="#case-pending" class="aut-tab-reopen" data-toggle="tab"
                        (click)="getIntakeSummary(1,'reopen', 'Initial')">RETURNED TO WORKER</a>
                </li>
                <li>
                    <a href="#case-pending" class="aut-tab-completeClosed" id="case-complete-tab" data-toggle="tab"
                        (click)="getIntakeSummary(1,'spclosed', 'Initial')">CLOSED AT INTAKE</a>
                </li>

                <li class="pull-right m-t-15">
                    <div class="searchdd pull-left m-r-10" [formGroup]="intakeSummaryForm">
                        <mat-form-field>
                            <mat-select formControlName="securityusersid" placeholder=""  (change)="supervisorChange()">
                                <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="intakeSummaryForm">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control aut-txt-intakeNumber" formControlName="intakenumber"
                            (input)="onSearch('intakenumber', $event.target.value)" placeholder="search intake" />
                    </div>  
                </li>
            </ul>
            <div class="tab-content boxgrid">
                <div class="tab-pane active" id="case-pending">
                    <div class="cnt-min-height">
                        <div class="table-responsive table-theme">
                            <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                <thead>
                                    <tr>
                                        <th sortable-column="intakenumber">INTAKE NUMBER</th>
                                        <th sortable-column="submittedworker">SUBMITTED BY</th>
                                        <th sortable-column="submittedworker">Head of Household</th>
                                        <th sortable-column="receiveddate">Received Date & Time</th>
                                        <th sortable-column="datesubmitted" sort-direction="desc">SUBMITTED DATE & TIME
                                        </th>
                                        <th> Purpose </th>
                                        <th *ngIf="currentStatus ==='pendingreview'">TIME LEFT</th>
                                        <th>PRIOR</th>
                                        <!-- <th *ngIf="currentStatus ==='pending'">PRIOR</th> -->
                                        <th *ngIf="currentStatus === 'reopen'">RETURNED DATE & TIME</th>
                                        <th *ngIf="currentStatus  === 'reopen'">COMMENTS</th>
                                        <th *ngIf="currentStatus  === 'spclosed'">CLOSED DATE & TIME</th>
                                        <th *ngIf="currentStatus  === 'spclosed'">STATUS</th>
                                        <!-- <th *ngIf="userTypeKey === 'CW'">CPS Type</th> -->
                                    </tr>
                                </thead>
                                <tbody *ngIf="intakesSummary;let intake">
                                    <ng-container *ngIf="intake.length>0; else noItems">
                                        <tr *ngFor="let data of intake">
                                            <td (click)="routToIntake(data?.intakenumber)">
                                                <a class="aut-lnk-intakeNumber">{{data?.intakenumber}}</a>
                                                <span *ngIf="data?.sdm?.length"> <span matTooltip="Child Fatality"
                                                        *ngIf="data?.sdm[0]?.ischildfatality"
                                                        class="dot yellow-dot"></span><span
                                                        matTooltip="Provider Maltreatment"
                                                        *ngIf="data?.sdm[0]?.ismaltreatment"
                                                        class="dot blue-dot"></span></span>
                                            </td>
                                            <td>{{data.cruworkername ? data.cruworkername : 'NA'}} </td>
                                            <td>
                                                <ng-container *ngIf="validate(data.headofhousehlod); else stringTemplate">
                                                    <span *ngFor="let item of data.headofhousehlod; let isLast=last">
                                                        {{item.personname}}<span *ngIf="!isLast">, </span>
                                                    </span>
                                                </ng-container>
                                                <ng-template #stringTemplate>
                                                    N/A
                                                </ng-template>
                                            </td>
                                            <td>{{data.datereceivedeststr | date:'MM/dd/yyyy, h:mm a'}}</td>
                                            <td>{{data.datesubmitted ? (data.datesubmitted | date:'MM/dd/yyyy, h:mm a') : 'NA'}}
                                            </td>
                                            <td>
                                                {{data?.purpose.description}}
                                            </td>
                                            <!-- <td class="text-danger" *ngIf="currentStatus ==='pending'" [style.color]="data.timeelapsed ? 'red' : 'green'">
                                                <span *ngIf="data.timeelapsed" style="font-size: 12px;">Overdue By - </span>{{data.timeleft ? data.timeleft : 'NA'}}</td> -->
                                            <td class="text-danger" *ngIf="currentStatus ==='pendingreview'">
                                                <ng-container
                                                    *ngIf="data?.purpose.intakeservreqtypekey === 'CHILD'; else timeLeftNA">
                                                    <span *ngIf="data.datesubmitted | countDown | async; let timeLeft"
                                                        [style.color]="timeLeft.color === 'red' ? 'red' : 'green'">
                                                        {{timeLeft.time}}</span>
                                                </ng-container>
                                                <ng-template #timeLeftNA>
                                                    -- Non CPS --
                                                </ng-template>
                                            </td>
                                            <td *ngIf="data.isprior === 1"> <a
                                                    data-target="#priorDetails" data-toggle="modal"
                                                    (click)="getPrior(data?.intakenumber)">Yes</a></td>
                                            <td *ngIf="data.isprior !== 1">No</td>
                                            
                                            <td *ngIf="currentStatus ==='reopen'">
                                                {{data.dateclosed ? (data.dateclosed | date:'short') : 'NA' }}</td>
                                            <td *ngIf="currentStatus ==='reopen'">{{data.remarks ? data.remarks : 'NA'}}
                                            </td>
                                            <td *ngIf="currentStatus ==='spclosed'">
                                                {{data.dateclosed ? (data.dateclosed | date:'short') : 'NA' }}</td>
                                            <td *ngIf="currentStatus ==='spclosed'">
                                                {{data.reviewstatus ? data.reviewstatus : 'NA'}}</td>
                                            <!-- <td *ngIf="userTypeKey === 'CW'">{{data?.cpsresponse ? data.cpsresponse : ''}}</td> -->
                                            <!-- <td *ngIf="currentStatus ==='approved'">
                        <button *ngIf="data.canreopen === 1" class="btn-pri" data-target="#appeal-modal" data-toggle="modal" (click)="getAssignIntakeUser(data)">APPEAL</button>
                        <button *ngIf="data.canreopen === 2" class="btn-pri" data-target="#appeal-modal" data-toggle="modal" (click)="getAssignIntakeUser(data)">APPEALED</button>
                      </td> -->
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-template #noItems>
                                <p class="no-datatxt"> No Items! </p>
                            </ng-template>
                            <div class="text-center" *ngIf="totalRecords">
                                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                    [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="priorDetails" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Prior</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" class="notactive" href="#servicescase">
                                <span class="tab-txt">Services / Cases </span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" class="notactive" href="#cpsfinding">
                                <span class="tab-txt">CPS Finding</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="box-shadow:0 0 0 0;">
                        <div id="servicescase" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-letter-tab no-mar">
                                        <div class="tab mrg-top15">
                                            <div class="table-responsive table-theme">
                                                <div *ngFor="let item of priorItem$ | async">
                                                    <p>{{item.firstname}} {{item.lastname}} / {{item.role}}</p>
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Case #</th>
                                                                <th>Intake #</th>
                                                                <th>Service Type</th>
                                                                <th>Sub Type</th>
                                                                <th>Person Role</th>
                                                                <th>Case Period</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let servicecases of item.servicecases">
                                                                <td>{{servicecases.casenumber}}</td>
                                                                <td>{{servicecases.intakenumber}}</td>
                                                                <td>{{servicecases.servicetype}}</td>
                                                                <td>{{servicecases.dasubtype}}</td>
                                                                <td>{{servicecases.role}}</td>
                                                                <td>{{servicecases.datecreated | date:'MM/dd/yyyy'}}
                                                                </td>
                                                                <td
                                                                    (click)="routToCase(servicecases.casenumber, servicecases.intakeserviceid)">
                                                                    <a>view</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cpsfinding" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-letter-tab no-mar">
                                        <div class="tab mrg-top15">
                                            <div class="table-responsive">
                                                <div *ngFor="let item of priorItem$ | async">
                                                    <p>{{item.firstname}} {{item.lastname}} / {{item.role}}</p>
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Case #</th>
                                                                <th>Intake #</th>
                                                                <th>Service Type</th>
                                                                <th>Sub Type</th>
                                                                <th>Person Role</th>
                                                                <th>Case Period</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cpsfindings of item.cpsfindings">
                                                                <td>{{cpsfindings.casenumber}}</td>
                                                                <td>{{cpsfindings.intakenumber}}</td>
                                                                <td>{{cpsfindings.servicetype}}</td>
                                                                <td>{{cpsfindings.dasubtype}}</td>
                                                                <td>{{cpsfindings.role}}</td>
                                                                <td>{{cpsfindings.datecreated | date:'MM/dd/yyyy'}}</td>
                                                                <td
                                                                    (click)="routToCase(cpsfindings.casenumber, cpsfindings.intakeserviceid)">
                                                                    <a>view</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>