<div class="modal fade custom-modal" id="investigation-summary" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" [fieldKey]="'caseworker-disposition-investigation-summary-save'">

    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"> Investigation Summary Preview </h4>
            </div>
            <div class="modal-body">
                <div class="text-right big-bot-space right-mspace-15">
                    <button class="btn-pri" type="button"
                        (click)="downloadCasePdf('investigation-summary')">Download</button>
                </div>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" class="btn-pri" data-toggle="modal" data-target="#iframe-Send-Email">
                        EMAIL
                    </button>
                </div>
                <div id="investigation-summary-report">
                    <div class="service-form">
                        <div class="pdf-page sizeA4 page-paddings" data-page-end="true" data-page-number="1">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <h4>Investigation Summary</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="component">
                                            <div class="section-header">
                                                Investigation Summary
                                            </div>
                                            <div class="row section-body">
                                                <div class="col-sm-6 section-lable">
                                                    Date of generation of Investigation Summary:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{currentDate | date:'MM/dd/yyyy'}}
                                                </div>
                                                <div class="col-sm-6 section-lable">
                                                    Caseworker Name:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{dsdsobject?.da_assignedto}}
                                                </div>
                                            </div>
                                            <div class="row section-body">
                                                <div class="col-sm-6 section-lable">
                                                    Jurisdiction:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{dsdsobject?.da_county}}
                                                </div>
                                            </div>
                                            <div class="row section-body">
                                                <div class="col-sm-6 section-lable">
                                                    Case ID Number:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{dsdsobject?.servicecasenumber}}
                                                </div>
                                            </div>
                                            <div class="column section-body">
                                                <div class="col-sm-6 section-lable">
                                                    Type Of Referral :
                                                </div>
                                                <div class="col-sm- section-value">
                                                    {{dsdsobject?.da_subtype}}
                                                </div>
                                                <div class="col-sm-6 section-lable">
                                                    Referral Date:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{dsdsobject?.da_receiveddate | date:'MM/dd/yyyy'}}
                                                </div>
                                                <div class="col-sm-6 section-lable">
                                                    Reporter Name:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    {{dsdsobject?.da_reportername}}
                                                </div>
                                            </div>
                                            <div class="row section-body">
                                                <div class="col-sm-6 section-lable">
                                                    Maltreatment Type:
                                                </div>
                                                <div class="col-sm- section-value">
                                                    {{investigationFind['controls']?.name?.value}}
                                                </div>
                                                <div class="col-sm-6 section-lable">
                                                    Investigation Finding:
                                                </div>
                                                <div class="col-sm-6 section-value">
                                                    <ng-container [ngSwitch]="investigationFind['controls']?.maltreatmentkey?.value">
                                                        <ng-container *ngSwitchCase="'UD'">Unsubstantiated</ng-container>
                                                        <ng-container *ngSwitchCase="'RO'">Ruled Out</ng-container>
                                                        <ng-container *ngSwitchCase="'REM'">Remand</ng-container>
                                                        <ng-container *ngSwitchCase="'ID'">Indicated</ng-container>
                                                    </ng-container>
                                                    <!-- {{investigationFind['controls']?.maltreatmentkey?.value}} -->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class=" mrg-top25">
                                <div class="section-header">Alleged Maltreator Information</div>
                                <div class="panel panel-default"
                                    *ngFor="let maltreater of investigationFind['controls']?.allegation?.value">
                                    <div class="panel-heading">
                                        {{maltreater}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <strong>Name :</strong> {{maltreater}}
                                                </p>
                                                <p>
                                                    <strong>Date of Birth :</strong>
                                                    {{selectedmaltreator?.dob | date:'MM/dd/yyyy'}}
                                                </p>
                                                <p>
                                                    <strong>Gender:</strong> {{selectedmaltreator?.gendertypedesc}}
                                                </p>
                                                <p>
                                                    <strong>Race :</strong> 
                                                    <ng-container *ngFor="let item of selectedmaltreator?.raceList; let last = last"> 
                                                            <ng-container *ngIf="!last">{{item.value_text}}, </ng-container>
                                                            <ng-container *ngIf="last">{{item.value_text}}</ng-container>
                                                    </ng-container>
                                                </p>
                                                <p>
                                                    <strong *ngIf="selectedmaltreator?.isapproxdob===1">Approximate DOB:</strong>
                                                    <strong *ngIf="selectedmaltreator?.isapproxdob===0">DOB:</strong>
                                                    {{selectedmaltreator?.dob | date:'MM/dd/yyyy'}}
                                                </p>
                                                <p>
                                                    <strong>ClientId :</strong> {{selectedmaltreator?.cjamspid}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" mrg-top25">
                                <div class="section-header">Alleged Victim Information</div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <strong>Name :</strong>
                                                    {{investigationFind['controls']?.personname?.value}}
                                                </p>
                                                <p>
                                                    <strong>Date of Birth :</strong>
                                                    {{selectedallegedperson?.dob | date:'MM/dd/yyyy'}}
                                                </p>
                                                <p>
                                                    <strong>Gender:</strong> {{selectedallegedperson?.gendertypedesc}}
                                                </p>
                                                <p>
                                                    <strong>Race :</strong> <ng-container *ngFor="let item of selectedallegedperson?.raceList"> {{item.value_text}}, </ng-container>
                                                </p>
                                                <p>
                                                    <strong *ngIf="selectedallegedperson?.isapproxdob===1">Approximate DOB:</strong>
                                                    <strong *ngIf="selectedallegedperson?.isapproxdob===0">DOB:</strong>
                                                    {{selectedallegedperson?.dob | date:'MM/dd/yyyy'}}
                                                </p>
                                                <p>
                                                    <strong>ClientId :</strong> {{selectedallegedperson?.cjamspid}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pdf-page sizeA4 page-paddings" data-page-end="true" data-page-number="2">
                            <div class=" mrg-top25">
                                <div class="section-header">INVESTIGATION FINDINGS</div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <ng-container *ngIf=" dsdsobject?.da_subtype === 'CPS-IR'">
                                            <p>
                                                <strong>Comar Findings:</strong>
                                            </p>
                                            <span *ngIf="!investigationFind['controls']?.dispositionnarrative?.value" [innerHtml] = "reportcomarfindings?.value">
                                               <!--{{reportcomarfindings?.value}}  -->
                                            </span>
                                        </ng-container>


                                        <span *ngIf="investigationFind['controls']?.dispositionnarrative?.value"
                                            [innerHtml]="investigationFind['controls']?.dispositionnarrative?.value">
                                            <!-- {{investigationFind['controls']?.dispositionnarrative?.value}} -->
                                        </span>
                                    </div>

                                </div>
                                <div class="section-header">INVESTIGATION NARRATIVE</div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <strong>Alleged Victim(s) Explanation:</strong>
                                                    {{investigationFind['controls']?.victim_explanation?.value}}
                                                </p>
                                                <p>
                                                    <strong>Sibling(s) Explanation:</strong>
                                                    {{investigationFind['controls']?.sibling_explanation?.value}}
                                                </p>
                                                <p>
                                                    <strong>Parent/Legal Guardian(s) Explanation:</strong>
                                                    {{investigationFind['controls']?.guardian_explanation?.value}}</p>
                                                <p>
                                                    <strong>Alleged Maltreator's Explanation:</strong>
                                                    {{investigationFind['controls']?.maltreator_explanation?.value}}
                                                </p>
                                                <p>
                                                    <strong>Physician or Other Medical Assessment(s):</strong>
                                                    {{investigationFind['controls']?.med_assessmnts?.value}}
                                                </p>
                                                <p>
                                                    <strong>Other Professional or Expert Assessment(s):</strong>
                                                    {{investigationFind['controls']?.expert_assessmnts?.value}}</p>
                                                <p>
                                                    <strong>Collateral Interviews Explanation:</strong>
                                                    {{investigationFind['controls']?.collateral_interviews?.value}}
                                                </p>
                                                <p>
                                                    <strong>Relevant Criminal History:</strong>
                                                    {{investigationFind['controls']?.criminal_history_inv?.value}}</p>
                                                <p>
                                                    <strong>Condition of the Home:</strong>
                                                    {{investigationFind['controls']?.home_conditions?.value}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="law-enf" class="row" style="margin-top: 10px">
                                <div class="section-header">Law Enforcement Involvement Narrative</div>
                                <div class="col-sm-12" style="padding-left: 10px ">
                                    <P>
                                        {{investigationFind['controls']?.law_enforcement_inv?.value}}
                                    </P>
                                </div>
                            </div>
                            <div id="work-approvals" class="row" style="margin-top: 10px">
                                <div class="section-header">WORKER/SUPERVISOR APPROVALS</div>
                                <div class="row">
                                    <table class="table">
                                        <thead>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Request/Approved Date</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let approvalDetails of supervisorApprovalDetails">
                                                <td>{{approvalDetails?.status}}</td>
                                                <td>{{approvalDetails?.name}}</td>
                                                <td>{{approvalDetails?.role}}</td>
                                                <td>{{approvalDetails?.date | date:'MM/dd/yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Send email -->
<div class="modal fade recording-chat-model" id="iframe-Send-Email" role="dialog">
    <div class="modal-dialog modal-md " [formGroup]="emailForm">
        <div class="modal-content form-wrapper txt-left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Send Emails</h4>
                <input type="email" placeholder="Email " class="form-control" formControlName="email">
                <button class="btn-pri" (click)="sendEmail()">Send Email</button>
            </div>
            <div class="modal-body">
                <p [innerHTML]="selectedNotes"></p>
            </div>
        </div>
    </div>
</div>
<!-- End Emails -->