table{width:100%;}
.section-body table td{border: 1px solid #ccc; padding: 5px;}
.panel-body{min-height: 120px;overflow: auto;}
.sizeA4 {
    width: 21cm;
    min-height: 29.7cm;
    height: auto;
}

.section-header{line-height: 25px;}
.section-value{min-height: 22px;}
.side-header{font-size: 14px; font-weight: 600;}
.section-lable{padding-left: 0; text-align: left;}
.sizeA4{height: auto;}
.panel-body{min-height: 120px; text-align: left;}
.service-form h6{font-size: 14px; font-weight: 600}
.panel-body ul{padding-left: 10px;}
.panel-default .panel-heading{font-weight:600; text-align: left;}
.custom-modal .modal-header {
    background: #ffffff;
}