<div class="tab-horizontal">
  <div class="row">
    <div class="col-md-12 m-t-20">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#child-record" data-toggle="tab" (click)="loadChildRecord()">Youth Interview</a>
        </li>
        <li class="">
          <a href="#staff-record" data-toggle="tab" (click)="loadStaffRecord()">Staff Interview</a>
        </li>
        <li class="">
          <a href="#board-record" data-toggle="tab" (click)="loadBoardRecord()">Board Member Interview</a>
        </li>
       <!--  <li class="">
          <a href="#foster-record" data-toggle="tab" (click)="loadFosterParent()">Foster Parent Interview</a>
        </li> -->

      </ul>
    </div>
    <div class="col-md-12">
      <div class="tab-content boxgrid">
        <div class="tab-pane active" id="child-record">
          <div class="">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addChildRecord()" class="btn-pri" *ngIf="!isAddEdit">Add Youth
                Interview</button>
            </div>

          </div>
        </div>
        

        <div class="tab-pane" id="staff-record">
          <div class="">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addStaff()" class="btn-pri" *ngIf="!isAddEdit">Add Staff Interview</button>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="board-record">
          <div class="">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addBoard()" class="btn-pri" *ngIf="!isAddEdit">Add Board Interview</button>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="foster-record">
          <div class="">

            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addFosterParent()" class="btn-pri" *ngIf="!isAddEdit">Add Foster Interview</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isAddEdit">
          <div class="col-md-12 m-t-20">
            <div class="table-responsive table-theme">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>NAME</th>
                    <th>Updated DATE</th>
                    <th>Updated By</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="records.length;else elseTemplate">
                    <tr *ngFor="let item of records">
                      <td>
                        {{item.license_no}}
                        <p>{{item.program_type}}</p>
                      </td>
                      <td>
                        {{item.objectname}}
                      </td>

                      <td>
                        {{item.update_ts | date: 'MM/dd/yyyy HH:mm:ss a'}}
                      </td>
                      <td>
                        {{item.worker_name}}
                      </td>

                      <td>
                        {{item.status}}
                      </td>
                      <td>
                        <button type="button" class="no-bg" (click)="viewRecord(item)"><i class="fa fa-eye"
                            aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="editRecord(item)"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="deleteRecord(item)"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="printRecord(item)">
                          <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <tr>
                      <td colspan="6">
                        No Records added
                      </td>
                    </tr>
                  </ng-template>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="record-container" *ngIf="isAddEdit">

  <div class="modal-header">

    <h4 class="modal-title"> {{actionTitle}} {{recordTitle}} Interview </h4>
  </div>
  <div class="modal-body">
    <ng-container [formGroup]="childRecordForm">

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Select Program Site</mat-label>
            <mat-select formControlName="applicant_id" (change)="onSiteChange()" required>
              <ng-container *ngIf="!isinitial">
                <mat-option *ngFor="let item of siteList" [value]="item.applicant_id">{{item.license_no}} {{item.license_type}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="isinitial">
                <mat-option *ngFor="let item of siteList" [value]="item.applicant_id">{{item.applicant_id}} {{item.license_type}}
                </mat-option>
              </ng-container>
              
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <ng-container *ngIf="recordTitle !== 'Youth'">
            <mat-form-field>
              <mat-label>Select {{recordTitle}}</mat-label>
              <mat-select required formControlName="objectid">
                <mat-option *ngFor="let item of persons" [value]="item.objectid"> {{item.firstname}} {{item.middlename}}
                  {{item.lastname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="recordTitle === 'Youth'">
            <button (click)="selectChild()" class="btn-pri pull-right m-t-20">Select Child</button>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="recordTitle === 'Youth'">
        <div class="row">
          <div class="col-md-2">
            <p><span>Agency : </span><span> {{agencyName}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Program Name : </span><span> {{programName}}</span></p>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-2">
            <p><span>CJAMS ID : </span><span> {{selectedPerson?.cjamspid}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Name : </span><span> {{selectedPerson?.objectname}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>DOB : </span><span> {{selectedPerson?.dob| date:'MM/dd/yyyy'}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Gender : </span><span> {{selectedPerson?.gendertypekey}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Date of Admission : </span><span> </span></p>
          </div>
          <div class="col-md-2">
            <p><span>Referring Agency / Funding Source : </span><span> </span></p>
          </div>
        </div>
      </ng-container>
      <div class="row">




        <ng-container formArrayName="answers">
          <ng-container *ngFor="let item of loadedQuestions; let i=index" [formGroupName]="i">
            <div class="col-md-12 ">

              <ng-container *ngIf="item.question_type === 'label'; else questionTeplate">
                <h4>{{item.question}} </h4>
              </ng-container>
              <ng-container *ngIf="item.question_type !== 'label'">
                <b>{{item.question}} </b> <span class="redc" *ngIf="item.question_mandatory">*</span>
              </ng-container>


              <p>{{item.question_hint}}</p>
            </div>
            <div class="col-md-12 ">

              <span [ngSwitch]="item.question_type">
                <p *ngSwitchCase="'radio'">
                  <mat-radio-group formControlName="monitoring_record_value">
                    <mat-radio-button [value]="option" *ngFor="let option of item.question_options">{{option}}
                    </mat-radio-button>

                  </mat-radio-group>
                </p>
                <p *ngSwitchCase="'text'">
                  <mat-form-field>
                    <input type="text" matInput formControlName="monitoring_record_value" [placeholder]="item.question"
                      class="aut-txt">
                  </mat-form-field>
                </p>
                <p *ngSwitchCase="'dropdown'">
                  <mat-form-field>
                    <mat-label>Select </mat-label>
                    <mat-select formControlName="monitoring_record_value" required>
                      <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <p *ngSwitchCase="'mdropdown'">
                  <mat-form-field>
                    <mat-label>Select </mat-label>
                    <mat-select multiple formControlName="monitoring_record_value" required>
                      <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <p *ngSwitchCase="'label'">

                </p>
                <p *ngSwitchCase="'date'" class="date-picker">
                  <common-date-picker  formControlName="monitoring_record_value" [placeholder]="item.question">
                 </common-date-picker>
                </p>
                <p *ngSwitchDefault>
                  No control found -- {{item.question_type}}
                </p>
              </span>
            </div>

            <ng-container *ngIf="item.question_type === 'radio'">
              <div class="col-md-12">
                <p>

                  <mat-form-field>
                    <input type="text" matInput formControlName="comments" placeholder="Comments"
                      [required]="childRecordForm.controls.answers.controls[i].value.monitoring_record_value === 'unknown'"
                      class="aut-txt">
                  </mat-form-field>
                </p>

              </div>
            </ng-container>

            <ng-container formArrayName="answers" *ngIf="item.is_group && childRecordForm.controls.answers.controls[i].value.monitoring_record_value === item.on_expand">
              <ng-container *ngFor="let item of item.questions; let j=index" [formGroupName]="j">
                <div class="col-md-12 m-l-20 ">
                  <div class="col-md-12 ">
    
                    <ng-container *ngIf="item.question_type === 'label'; else questionTeplate">
                      <h4>{{item.question}} </h4>
                    </ng-container>
                    <ng-container *ngIf="item.question_type !== 'label'">
                      <b>{{item.question}} </b> <span class="redc">*</span>
                    </ng-container>
      
      
                    <p>{{item.question_hint}}</p>
                  </div>
                  <div class="col-md-12 ">
      
                    <span [ngSwitch]="item.question_type">
                      <p *ngSwitchCase="'radio'">
                        <mat-radio-group formControlName="monitoring_record_value">
                          <mat-radio-button [value]="option" *ngFor="let option of item.question_options">{{option}}
                          </mat-radio-button>
      
                        </mat-radio-group>
                      </p>
                      <p *ngSwitchCase="'text'">
                        <mat-form-field>
                          <input type="text" matInput formControlName="monitoring_record_value" [placeholder]="item.question"
                            class="aut-txt">
                        </mat-form-field>
                      </p>
                      <p *ngSwitchCase="'dropdown'">
                        <mat-form-field>
                          <mat-label>Select </mat-label>
                          <mat-select formControlName="monitoring_record_value" required>
                            <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>
                      <p *ngSwitchCase="'mdropdown'">
                        <mat-form-field>
                          <mat-label>Select </mat-label>
                          <mat-select multiple formControlName="monitoring_record_value" required>
                            <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>
                      <p *ngSwitchCase="'label'">
      
                      </p>
                      <p *ngSwitchDefault>
                        No control found -- {{item.question_type}}
                      </p>
                    </span>
                  </div>
      
                  <ng-container *ngIf="item.question_type === 'radio'">
                    <div class="col-md-12">
                      <p>
      
                        <mat-form-field>
                          <input type="text" matInput formControlName="comments" placeholder="Comments"
                            
                            class="aut-txt">
                        </mat-form-field>
                      </p>
      
                    </div>
                  </ng-container>
      
                </div>
               
    
    
              </ng-container>
    
    
            </ng-container>

          </ng-container>
         

        </ng-container>


      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="sec-btn" (click)="cancel()">Cancel</button>
      <button class="btn-pri" (click)="saveRecord('Draft')" [disabled]="saveInProgress">Save As Draft</button>
      <button class="btn-pri" (click)="saveRecord('Complete')" [disabled]="saveInProgress">Complete</button>
    </div>
  </div>

</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this ? </p>
      </div>
      <div class="modal-footer">
          <div class="text-right">
            <button type="button" value="No" class="sec-btn" name="" data-dismiss="modal"> No</button>
            <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="confirmDelete()">
              Yes
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="select-child" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="cancelselectPerson()">×</button>
              <h4 class="modal-title"> Select Child </h4>
          </div>
          <div class="modal-body">
            <div [formGroup]="childSearchForm">
              <div class="col-md-3">
                <mat-form-field>
                  <input type="text" formControlName="cjamspid" matInput placeholder="cjams Id">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input type="text" formControlName="firstname" matInput placeholder="First Name">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input type="text" formControlName="lastname" matInput placeholder="Last Name">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <!-- <mat-form-field>
                  <input type="text" formControlName="" matInput placeholder="Site Id">
                </mat-form-field> -->
                <button (click)="getAssignedYouthList()" class="btn-pri pull-right">Search</button>
              </div>
            </div>
            <!-- <div class="col-md-12 m-t-20">
              <button (click)="getAssignedYouthList()" class="btn-pri pull-right">Search</button>
            </div> -->
            <div class="col-md-12 m-t-20">
              <div class="table-responsive table-theme">
                <table class="table table-striped icon-action no-mar">
                  <thead>
                    <tr>
                      <th></th>
                      <th>NAME</th>
                      <th>CJAMS ID</th>
                      <th>Gender</th>
                      <th>DOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="youthInProvider.length;else elseTemplate">
                      <tr *ngFor="let item of youthInProvider">
                        <td>
                          <mat-radio-group [name]="childradio" (change)="selectPerson(item,0)">
                            <mat-radio-button value="1"></mat-radio-button>
                          </mat-radio-group>
                        </td>
                        <td>{{item.firstname}} {{item.lastname}}</td>
                        <td>{{item.cjamspid}}</td>
                        <td>{{item.gendertypekey}}</td>
                        <td>{{item.dob | date:'MM/dd/yyyy' }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <tr>
                        <td colspan="8">
                          No Records added
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" value="No" class="sec-btn" name="" data-dismiss="modal" (click)="cancelselectPerson()"> Cancel</button>
            <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" >Select</button>
          </div>
      </div>
  </div>
</div>