<div class="row">
    <div class="col-sm-12 text-left">
        <ol class="breadcrumb" style="padding: 8px 15px !important">
            <li>
                &nbsp;<a [routerLink]="[ '../../list' ]">Placement List</a>
            </li>
            <li class="active">Release Placement</li>
        </ol>
    </div>
    <div class="col-sm-12">
        <djs-placement-admissiondetails></djs-placement-admissiondetails>
    </div>
    <div class="col-sm-12 text-left">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h4>Placement Release</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-12">
            <form class="modal-body" [formGroup]="PlacementPlanFormReason">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="no-pad clsIntake dpnew ">
                            <mat-form-field>
                                <input matInput required readonly [matDatepicker]="exitdate" (click)="exitdate.open()" [min]="minDate" [max]="startDate"
                                    id="exitdate" placeholder="Release Date" class="required" formControlName="releasedate">
                                <mat-datepicker-toggle matSuffix [for]="exitdate"></mat-datepicker-toggle>
                                <mat-datepicker #exitdate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="no-pad clsIntake dpnew">
                            <mat-form-field>
                                <input matInput [options]="{format: 'h:mm A'}" a2e-datetimepicker placeholder="Release Time"
                                    required formControlName="releasetime">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput required placeholder="Release to Name" formControlName="releasetoname">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select formControlName="releasecategory" placeholder="Release Category">
                                <mat-option *ngFor="let  item of releaseCategory$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Release Reason" (change)="onReasonChanged($event.value)"
                                formControlName="releasereason">
                                <mat-option *ngFor="let item of releaseReason$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3" *ngIf="(releaseReasonSub$ | async)?.length > 0">
                        <mat-form-field>
                            <mat-select placeholder="Reason Status" formControlName="releasereasonstatus"
                                (change)="onReasonStatusChanged($event.value)">
                                <mat-option *ngFor="let item of releaseReasonSub$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3" *ngIf="(releaseReasonUnderSub$ | async)?.length > 0">
                        <mat-form-field>
                            <mat-select placeholder="Unsuccessful Reason" formControlName="releasereasonsubstatus">
                                <mat-option *ngFor="let item of releaseReasonUnderSub$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select formControlName="whereabouts" placeholder="Whereabouts" (change)="onWhareaboutsChanged($event.value)">
                                <mat-option *ngFor="let item of Whereabouts$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6" *ngIf="(Whereaboutssub$ | async)?.length > 0">
                        <mat-form-field>
                            <mat-select formControlName="wrstatus" placeholder="Whereabouts Status">
                                <mat-option *ngFor="let item of Whereaboutssub$ | async" value="{{item.value}}">
                                    {{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Release Comments" formControlName="releasecomments">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right mrg-top15">
                            <button type="button" class="btn-pri" (click)="exit()">
                                Cancel</button> &nbsp;
                            <button class="btn-pri" type="button" [disabled]="!PlacementPlanFormReason.valid" (click)="ReleaseSave(PlacementPlanFormReason.value)">
                                Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>