<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          <ssi-ssa-search></ssi-ssa-search>
      </div>
      <div class="col-md-10 m-t-30">
          <div class="row">
              <div class="col-md-12">
                <h4>SSI/SSA Tracking</h4>
              </div>
              <div class="col-md-12">
                  <div class="table-responsive table-theme mt-20">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th>DOB</th>
                            <th>SSN</th>
                            <th>Medicaid Number</th>
                            <th>SSN Claim Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ssiSsaTracking of ssiSsaTrackingList" >
                            <td><a (click)="ssiOverview(ssiSsaTracking.client_id)">{{ssiSsaTracking.client_id}}</a></td>
                            <td>{{ssiSsaTracking.client_name}}</td>
                            <td>{{ssiSsaTracking.client_dob | date: 'MM/dd/yyyy'}}</td>
                            <td>{{(ssiSsaTracking.ssn) ? ssiSsaTracking.ssn : ''}}</td>
                            <td>{{ssiSsaTracking.case_worker_id}}</td>
                            <td>{{ssiSsaTracking.case_id}}</td>
                          </tr>
                          <tr *ngIf="ssiSsaTrackingList?.length === 0">
                            <td colspan="6" style="text-align: center !important;">No records found.</td>
                          </tr> 
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>