<div class="table-responsive table-theme">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Provider ID</th>
          <th>Applicant ID</th>
          <th>Program Type</th>
          <th>Licenses Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of referralApplicationList">
            <td>
                <a *ngIf="item.provider_id" [routerLink]="['./current-private-provider', item.provider_id]">{{item.provider_id}}</a>
                <p *ngIf="!item.provider_id">N/A</p>
          </td>
          <td> <a [routerLink]="['./current-application', item.applicant_id]">{{item.applicant_id}}</a></td>
          <td>{{item.program_type}}</td>
          <td>{{item.prgram}}</td>
        </tr>
      </tbody>
    </table>
  </div>