
<div class="audit-container">
   
        <div class="col-sm-12 m-t-20">
            <div class="row">
                <div class="col-sm-6">
                  <h5 class="clsTitle"> CASE AUDIT TRAIL </h5>
                  
                </div>
                <div class="col-sm-6 text-right">
                  <div class="header-title">
                    <button class="btn btn-pri" (click)="goBack()">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i> back
                    </button>
                  </div>
                </div>
              </div>
         
        </div>
     
      
      <section class="intake-nstyle record-intake">
        <div class="col-sm-12 mb-10">
          <div class="col-sm-4 col-md-3 col-lg-2 clsHeight-63">
            <label>Case Number</label>
            <p>
                {{ caseInfo.servicerequestnumber ? caseInfo.servicerequestnumber : caseInfo.servicecasenumber }}
                {{ caseInfo?.adoptioncasenumber}}
            </p>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-2 clsHeight-63">
            <label>Case Type
            </label>
            <p>{{ caseInfo?.srtype}}</p>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-2 clsHeight-63">
            <label>Legal Guardian
            </label>
      
            <p>
                {{ (caseInfo.legalguardian && caseInfo.legalguardian.length && caseInfo.legalguardian[0].personname)? caseInfo.legalguardian[0].personname : ''}}
            </p>
          </div>
      
          <div class="col-sm-4 col-md-3 col-lg-2 clsHeight-63">
            <label>RECEIVED DATE & TIME</label>
            <p>
                {{ caseInfo.datereceived ? (caseInfo.datereceived | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}
            </p>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-2 clsHeight-63">
            <label>Worker</label>
            <p>{{caseInfo?.workername}}</p>
          </div>
          
          <div class="row">
            <div class="col-md-12">
                <h4>Search Audit Log </h4>
             </div>
            <div class="col-sm-3 m-t-10">
                <common-date-picker [(ngModel)]="fromDate" [max]="maxDate" placeholder="Updated From" (valueChange)="fromDateChanged($event)">
                  </common-date-picker>
            </div>
            <div class="col-sm-3 m-t-10">
                <common-date-picker [(ngModel)]="toDate" [max]="maxDate" [min]="toMinDate" placeholder="Updated To" (valueChange)="toDateChanged($event)">
                  </common-date-picker>
            </div>
            <div class="col-sm-3">
                    <label class="m-0">Worker</label>
                    <div class="select-icon cus-select-width">
                        <ng-select class="aut-lst-removalType select-source" [searchable]="true" [clearable]="false" [(ngModel)]="worker">
                            <ng-option value=""> Select </ng-option>
                            <ng-option *ngFor="let item of caseworkerList" [value]="item.userid">{{item.username}} </ng-option>
                        </ng-select>
                    </div>
            </div>
            <div class="col-sm-3">
                <button class="btn-pri m-t-15"  (click)="loadLogs(1)" >Search</button>
                <button class="btn-pri m-t-15" (click)="clearSearch()" >Clear</button>
                    
            </div>
        </div>     
      
        </div>
      </section>
      
         
      <div class="col-sm-12">
      
        <div class="outer mt-20">
          <div class="table-responsive table-theme bg-white">
            <table class="table customTable firsttable" sortable-table (sorted)="onLogSort($event)">
              <thead>
                <tr>
      
                    <th  sortable-column="logtypekey">Event ID</th>
                  <th sortable-column="description">Event Description</th>                 
                  <th sortable-column="updatedby">Updated by</th>
                  <th sortable-column="updatedon">Updated on</th>            
                  
                </tr>
              </thead>
              <tbody *ngFor="let row of logs; let rowId=index;">
                <tr>
                    <td>
                        {{row?.logtypekey}}
                       
                      </td>
                    <td>{{row?.description}}</td>
                   
                  <td>
                    <ng-container *ngIf="row?.updateduserdetails && row?.updateduserdetails.length">
                    {{row?.updateduserdetails[0]?.firstname}} {{row?.updateduserdetails[0]?.lastname}}<br>
                    {{row?.updateduserdetails[0]?.description}}
                  </ng-container>
                  </td>
                  <td>{{row?.updatedon | date:'MM/dd/yyyy hh:mm a'}}</td>
                 
      
      
                </tr>
              </tbody>
            </table>
            <div class="" *ngIf="logs.length === 0">
              <p>No logs found
              </p>
      
            </div>
          </div>
      
      
        </div>
      
      </div>
      <div class="col-sm-12 text-center mt-20">
        <div *ngIf="totalRecords > 10">
          <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
</div>
