<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
        <div class="row">
            <div class="col-sm-8">
                <h4> Services</h4>
            </div>
            <div class="col-sm-4 text-right btns-top">
                <button [hidden]='isReadOnly' type="submit" class="btn-pri" (click)="addServices()"
                    data-target="#contract-license" data-toggle="modal">Add Services
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>Provider Service ID</th> -->
                            <th>Service Category code</th>
                            <th>Service Name</th>
                            <th>Service ID </th>
                            <!-- <th>Start date</th>
                            <th>End Date</th> -->
                            <th>Description</th>
                            <th>Status </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of applicantServicesDataList"><!-- 
                            <td>{{obj.applicant_service_id}}</td> -->
                            <td>{{obj.service_category}}</td>
                            <td>{{obj.service_nm}}</td>
                            <td>{{obj.service_id}}</td><!-- 
                            <td>{{obj.start_dt | date: 'MM/dd/yyyy'}}</td>
                            <td>{{obj.end_dt| date: 'MM/dd/yyyy'}}</td> -->
                            <td>{{obj.service_description}}</td>
                            <td>{{obj.service_status}}</td>
                            <td>
                                <span *ngIf="obj.service_status !== Expired">
                                    <i class="fa fa-trash" (click)="deleteServices(obj)"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="contract-license" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closewindow()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title"> {{FormMode}} Services</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="applicantServiceForm">
                    <div class="row">
                        <div class="col-md-5">
                            <mat-card>

                                <h4 class=""> <br /> </h4>

                                <mat-form-field>
                                    <mat-select placeholder="Category" formControlName="service_category"
                                        (change)="onChangeActivity($event.value)">
                                        <mat-option *ngFor="let item of activityDropdownItems$"
                                            value="{{item.picklist_value_cd}}">
                                            {{item.value_tx}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field>
                                    <mat-select placeholder="Potential Services" formControlName="service_id">
                                        <mat-option *ngFor="let item of availableTasks" value="{{item.service_id}}">
                                            {{item.service_nm}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </mat-card>
                            <h4 class=""> <br /> </h4>

                        </div>

                        <div class="col-md-5">
                            <div class="">
                                <mat-card>
                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                                    formControlName="start_dt">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-md-6">

                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                                    formControlName="end_dt">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                    </div> -->
                                    <mat-form-field>
                                        <textarea type="text" formControlName="service_description" matInput
                                            placeholder="Service Description"></textarea>
                                    </mat-form-field>

                                </mat-card>
                            </div>

                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                            <button class="btn-pri"
                                (click)="createNewService(applicantServiceForm.value)">{{FormMode=="Edit"?"Update":"Create"}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>