<section id="cw-profile-section" class="profile-section">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="">
                    <p>
                        CHILD'S NAME: <span>{{summaryInfo?.childname}}</span>
                    </p>

                    <p>
                        IV-E SPECIALIST NAME: <span>{{summaryInfo?.specialistName}}</span>
                    </p>

                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="">
                    <p>
                        CLIENT ID: <span>{{clientId}}</span>
                    </p>
                    <p>
                        AGENCY : <span>{{summaryInfo?.isdjsordsschild}}</span>
                    </p>

                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="">
                    <p>
                        JURISDICTION: <span>{{summaryInfo?.childjurisdiction}}</span>
                    </p> 
					   
																								   
						

                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="row"> 
                    <p>
																	 
																										 
						
					   
                        CASE NUMBER: <span> 
                                <a target="_blank" (click)="navigateCaseNumber(summaryInfo)" [ngStyle]="{  'font-weight': 'bold', 'color':'#172f43' }" class="aut-lnk-caseNumber atag" >{{summaryInfo?.casenumber}}                            
                                    </a>
                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="intake-nstyle record-intake">
          <div>
              <h3 class="">
                  <span>FOSTER CARE ELIGIBILITY DETERMINATION</span>
              </h3>
              <div class="row form-wrapper">
                  <div class="col-sm-12">
                      <input formcontrolname="IntakeNumber" type="hidden">
                      <div class="row list-unstyled list-inline">
                          <div class="col-sm-2">
                              <label>CHILD'S NAME
                              </label>
                              <p style="margin-left: 1%;">{{worksheetForm.get('fullName').value}}</p>
                          </div>
                          <div class="col-sm-1">
                              <label>CLIENT ID</label>
                              <p>{{worksheetForm.get('clientId').value}}</p>
                          </div>
                          <div class="col-sm-1">
                              <label>IV-E STATUS
                              </label>
                              <p style="margin-left: 1%;">
                                  {{approvesObj.status?approvesObj.status:'null'}}
                              </p>
                          </div>
                          <div class="col-sm-2">
                              <label>DETERMINATION TYPE</label>
                              <P>
                                  {{approvesObj.type?approvesObj.type:'null'}}
                              </P>
                          </div>
                          <div class="col-sm-3">
                              <label>
                                  INITIAL DETERMINATION/REDETERMINATION
                              </label>
                              <P>
                                  {{approvesObj.elegibilityStatus?approvesObj.elegibilityStatus:'null'}}                                   
                              </P>
                          </div>
                          <div class="col-sm-2">
                              <label>DATE ASSIGNED TO IV-E SPECIALIST</label>
                              <P>12/11/2018</P>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <div class="col-sm-12">
                                      <label>IV-E SPECIALIST NAME</label>
                                      <p>LYDIE QUEBE</p>
                                  </div>                                  
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <label>AGENCY</label>
                              <P>DJS</P>
                          </div>
                          <div class="col-sm-2">
                              <label>JURISDICTION</label>
                              <P>
                                    {{worksheetForm.get('JURISDICTION').value}}
                              </P>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->
<!--  START -->
<!-- <div class="container-fluid intake-form bg-gray"> -->
<div class="container-fluid">
    <div class="box-grid-main clsMinHeight clearfix no-shadow">
            <div class="col-sm-2 text-right" style="float: right; margin-top:10px">
                    <div class="header-title">
                      <button class="btn btn-pri" (click)="goBack()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> back
                      </button>
                    </div>
                  </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="tab-content">
                    <form>
                        <div class="tab-pane active" id="dsds-action-tab">
                            <div class="tab-horizontal">
                                <div class="tab-horizontal-bg" id="cw-scroll-tab">
                                    <div class="tab-horizontal1">
                                        <ul class="nav nav-pills click-triggers intake-tabs">
                                            <!-- <li>
                                        <aÂ data-toggle="tab"Â data-target="#summary">SUMMARY</a>
                                     </li>  -->
                                            <li class="active">
                                                <a data-toggle="tab" data-target="#eligibility">ELIGIBILITY
                                                    WORKSHEET</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" id="eligibilityDetailsBtnTrigger"
                                                    data-target="#eligibilityDetails">ELIGIBILITY
                                                    DETAILS
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" data-target="#attachment">ATTACHMENT</a>
                                            </li>
                                            <!-- <li>
                                            <a data-toggle="tab" data-target="#attachments">ATTACHMENTS</a>
                                        </li> -->
                                            <li>
                                                <a data-toggle="tab" data-target="#narrative">NARRATIVE</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" data-target="#reports">REPORTS</a>
                                            </li>

                                            <li>
                                                <a data-toggle="tab" data-target="#decision">DISPOSITION</a>
                                            </li>
                                            <!-- <li>
                                        <a data-toggle="tab" data-target="#approve">APPROVE</a>
                                    </li> -->
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <!-- <divÂ class="tab-pane active"Â id="summary">
                                                <summaryÂ [worksheetForm]="worksheetForm"></summary>
                                        </div>  -->
                                        <div class="tab-pane active" id="eligibility">

                                            <eligible-worksheet-form [summaryInfo]="summaryInfo" [worksheetData]="worksheetData"
                                                [worksheetForm]="worksheetForm" [generalForm]="generalForm"
                                                [legalForm]="legalForm" [incomeForm]="incomeForm"
                                                [criteriaForm]="criteriaForm" [tempRows1]="tempRows1"
                                                (submitForReview)="submitDetermination($event)"
                                                (incomeSummaryData)="getTableData($event)" *ngIf="summaryInfo"></eligible-worksheet-form>

                                            <!-- <eligible-worksheet  [worksheetForm]="worksheetForm" [generalForm]="generalForm"
                                            [legalForm]="legalForm" [incomeForm]="incomeForm" [criteriaForm]="criteriaForm" [tempRows1]="tempRows1"
                                            (submitForReview)="submitDetermination($event)" (incomeSummaryData)="getTableData($event)"></eligible-worksheet> -->
                                        </div>
                                        <div class="tab-pane" id="eligibilityDetails">
                                            <eligible-details></eligible-details>
                                        </div>
                                        <div class="tab-pane" id="attachment">
                                            <attachment></attachment>
                                            <div class="col-md-12 panel-body" style="margin-top:20px; height:300px;">
                                                <div class="col-md-12">
                                                    <a style="float:right;" class="btn btn-pri" (click)="assignUser()"
                                                        data-toggle="modal">SUBMIT FOR REVIEW</a>
                                                    <a style="float:right;" class="btn btn-pri">SAVE AS DRAFT</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="attachments">
                                            <!-- <attachments></attachments> -->
                                        </div>
                                        <div class="tab-pane" id="reports">
                                            <report></report>
                                            <div class="col-md-12 panel-body" style="margin-top:20px; height:300px;">
                                                <div class="col-md-12">
                                                    <a style="float:right;" class="btn btn-pri" (click)="assignUser()"
                                                        data-toggle="modal">SUBMIT FOR REVIEW</a>
                                                    <a style="float:right;" class="btn btn-pri">SAVE AS DRAFT</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="narrative">
                                            <narratives></narratives>
                                            <div class="col-md-12 panel-body" style="margin-top:20px; height:300px;">
                                                <div class="col-md-6">
                                                    <!-- <span class="col-md-2" style="color:blue">PREVIOUS</span> -->
                                                    <!-- <span class="col-md-2" style="color:blue">NEXT</span> -->
                                                </div>
                                                <div class="col-md-3">
                                                    <a style="float:right;" class="btn btn-pri">SAVE AS DRAFT</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a style="float:right;" class="btn btn-pri" (click)="assignUser()"
                                                        data-toggle="modal">SUBMIT FOR REVIEW</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="decision">
                                            <decisions [worksheetForm]="worksheetForm"
                                                [eligibilityPerioodData]="mainTanble"></decisions>
                                            <div class="col-md-12 panel-body" style="margin-top:20px; height:300px;">
                                                <div class="col-md-12">
                                                    <a style="float:right;" class="btn btn-pri"
                                                        (click)="showSupervisorList()" data-toggle="modal">SUBMIT FOR
                                                        REVIEW</a>
                                                    <a style="float:right;" class="btn btn-pri">SAVE AS DRAFT</a>
                                                </div>
                                            </div>

                                            <!-- <div class="tab-pane" id="approve">
                                        <div [ngStyle]="{ 'pointer-events' : isCLW ? 'none' : 'inherit' }">
                                            <div class="row" style="margin-left: 1%;margin-top: 2%;">
                                                <div class="col-md-3">
                                                    <label>IV-E STATUS</label>
                                                    <p style="margin-left: 1%;">
                                                        <mat-select placeholder="Pending" name="status" [(ngModel)]="approveData.status">
                                                            <mat-option *ngFor="let i of STATUS" value="{{i}}">{{i}}</mat-option>
                                                        </mat-select>
                                                    </p>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>DETERMINATION TYPE</label>
                                                    <P>
                                                        <mat-select placeholder="Foster-care" name="type" [(ngModel)]="approveData.type">
                                                            <mat-option *ngFor="let type of TYPE" value="{{type}}">{{type}}</mat-option>
                                                        </mat-select>
                                                    </P>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>
                                                        INITIAL DETERMINATION/REDETERMINATION
                                                    </label>
                                                    <P>
                                                        <mat-select placeholder="Initial Determination" name="elegibilityStatus"
                                                            [(ngModel)]="approveData.elegibilityStatus">
                                                            <mat-option *ngFor="let eli of ELIGIBILITYSTATUS" value="{{eli}}">{{eli}}</mat-option>
                                                        </mat-select>
                                                    </P>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>JURISDICTION</label>
                                                    <P>
                                                        <mat-select placeholder="ELK RDG" name="jurisdiction"
                                                            [(ngModel)]="approveData.jurisdiction">
                                                            <mat-option *ngFor="let jurisdiction of JURISDICTION" value="{{jurisdiction}}">{{jurisdiction}}</mat-option>
                                                        </mat-select>
                                                    </P>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <button class="btn btn-primary" (click)="approveSubmit()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                                


                                        </div>
                                    </div>


                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- tab1 -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead style="    background-color: #039be6;">
                        <tr>
                            <th class="th">Date</th>
                            <th class="th">Event ID</th>
                            <th class="th">Status</th>
                            <th class="th">Event Start Date</th>
                            <th class="th">Event End Date</th>
                            <th class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>1/1/2012</td>
                            <td>12/31/2012</td>
                            <td>No change</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- tab1 -->

<!-- tab2 -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead style="background-color: #039be6;">
                        <tr>
                            <th class="th">Date</th>
                            <th class="th">Event ID</th>
                            <th class="th">Status</th>
                            <th class="th">Event Start Date</th>
                            <th class="th">Event End Date</th>
                            <th class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>7/2/2011</td>
                            <td>12/31/2011</td>
                            <td>Change in Placement - Non reimbursible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Reimbursible</td>
                            <td>1/1/2011</td>
                            <td>7/1/2011</td>
                            <td>No change</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- tab2 -->

<!-- tab3 -->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead style="background-color: #039be6;">
                        <tr>
                            <th class="th">Date</th>
                            <th class="th">Event ID</th>
                            <th class="th">Status</th>
                            <th class="th">Event Start Date</th>
                            <th class="th">Event End Date</th>
                            <th class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>9/1/2010</td>
                            <td>12/31/2010</td>
                            <td>Change in Placement - Non reimbursible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>6/1/2010</td>
                            <td>8/30/2010</td>
                            <td>Ineligible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>1/1/2010</td>
                            <td>5/30/2010</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog" style="width: 78%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SUPERVISORS</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                            <thead style="background-color: #039be6;">
                                    <tr>
                                        <th></th>
                                        <th>NAME</th>
                                        <th>TYPE OF SUPERVISOR</th>
                                        <th>UNIT</th>
                                        <!-- <th>Total Cases</th> -->
                                    </tr>
                                </thead>
                                <tbody *ngIf="getUsersList; let getlist">
                                    <ng-container *ngIf="getlist.length>0; else noItems">
                                        <tr *ngFor="let item of getlist">
                                            <td>
                                                <label class="control control--radio">
                                                    <input type="radio" name="Address" (click)="selectPerson(item)">
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </td>
                                            <td>{{item.username}} </td>
                                            <td>{{item.userrole}}</td>
                                            <td>{{item.teamname}}</td>
                                            <!-- <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td> -->
                                        </tr>
                                    </ng-container>
                                </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                        <button class="btn-pri" (click)="submitClentCase()">ASSIGN</button>
                </div>
            </div>
        </div>
    </div>
    


<!-- tab3 -->
<div class="modal fade" id="worker-caseassign" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">
                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#caseassign-caseworker" data-toggle="tab">SUPERVISORS</a>
                        </li>
                        <!-- <li>
                              <a href="#caseassign-caseworker" data-toggle="tab">WORKERS</a>
                          </li> -->
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="bs-example">
                                    <table class="table" sortable-table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th>CASE LOAD</th>
                                                <th>AVAILABILITY</th>
                                                <!-- <th *ngIf="!isSupervisor">ZIP CODE</th> -->
                                                <th>AGENCY</th>
                                                <!-- <th>TYPE OF WORKER</th> -->
                                                <th>UNIT</th>
                                                <th>Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container>
                                                <tr *ngFor="let item of supervisorList">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td>{{item.username}} </td>
                                                    <td>{{item.workloads}}</td>
                                                    <td>{{item.available}}</td>
                                                    <!-- <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td> -->
                                                    <td>{{item.agencykey}}</td>
                                                    <!-- <td>{{item.userrole}}</td> -->
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 clsIntake dpnew m-t-10" *ngIf="isCPSAR">
                        <h4 class="m-b-20"> Responsibility:</h4>
                        <div class="row">
                            <div class="col-sm-2" *ngFor="let type of responsibilityTypeDropdownItems$ | async">
                                <label class="control control--radio" style="display: inline">
                                    <input type="radio" name="responsibilityType"
                                        (click)="selectResponsibilityType(type.value)">
                                    <div class="control__indicator"></div>
                                </label>
                                {{type.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="assignUser()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>