<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary period-brkdown">
            <div class="panel-heading">
                <b>ELIGIBILITY PERIOD </b>
            </div>
            <br>
            <div class="absolute" *ngIf="isSpecialist"> <button type="button" value="Approval" class="btn-pri" name=""
                    [disabled]="!sendforapprovalready" (click)="showSupervisorList()">Send for Approval</button></div>
            <div class="absolute" *ngIf="isSupervisor">
                <button type="button" value="Approve" class="btn-pri" name="" [disabled]="approveRejectDisabled"
                    (click)="ApproveReject('APPROVED')">Approve</button>
    
                <button type="button" value="Reject" class="btn-pri" name="" [disabled]="approveRejectDisabled"
                    (click)="ApproveReject('REJECTED')">Reject</button></div>
            <br>
            <br>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="active">
                                <th>#</th>
                                <th>PERIOD</th>
                                <th>PERIOD START DATE</th>
                                <th>PERIOD END DATE</th>
                                <th>STATUS</th>
                                <th>APPROVAL STATUS</th>
                                <th>DATE & TIME</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of eligibilityPeriodData" [hidden]="!item.isVisible">
                                <td>
                                    <a [routerLink]="" *ngIf="item.isParent" (click)="toggleChildren(item.period)">
                                        <i class="fa fa-minus-square-o fa-lg"
                                            [ngClass]="item.isCollapsed ? 'fa-plus-square-o' : 'fa-minus-square-o'"
                                            aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>{{item.period}}</td>
                                <td>{{item.period_start_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>{{item.period_end_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>
                                    
                                    <a (click)="getEligibilityDetails(item)">
                                        {{item.period == "I" ? formatStatus(item.forstercareeligibilitystatus) : formatStatus(item.fostercareredeterminationeligibilitystatus)}}
                                    </a>
                                </td>
                                <td>{{item.approvalstatus}}</td>
                                <td>{{item.inserttedon | date: 'MM/dd/yyyy h:mm a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
        <div *ngIf="(periodInfo | json) != ({} | json)">
            <div class="panel panel-primary" style="padding: 0px;" *ngIf="periodInfo as item">
    
                <div class="panel-heading"><b>COMPONENT STATUS</b></div>
                <div class="panel-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <p><b>PERIOD</b>: {{item.period}}</p>
                            <p><b>START DATE</b>: {{item.period_start_dt | date: 'MM/dd/yyyy'}}</p>
                            <p><b>END DATE</b>: {{item.period_end_dt | date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>STATUS</b>: {{item.period == "I" ? item.forstercareeligibilitystatus : item.fostercareredeterminationeligibilitystatus}}</p>
                            <p><b>APPROVAL STATUS</b>: {{item.approvalstatus}}</p>
                            <p><b>Date & Time</b>: {{item.inserttedon | date: 'MM/dd/yyyy h:mm a'}}</p>
                        </div>
                       
                    </div>

                    <div>
                        <div class="col-md-12">
                            <ul>
                                <!-- <ng-container  *ngFor="let member of item?.inputjson?.Objects[0]?.householdMember"> -->
                                    <!-- <li  *ngIf = "member?.IsIncomeDeemed === 'YES'"> -->
                                <li>
                                    <a [routerLink]="" (click)="displayWorksheet('DEEMEDINCOME',null,item.transactionid)" class="anchoreHover">Deemed Income Worksheet</a>
                                </li>
                                <!-- </ng-container> -->
                                <li>
                                    <a [routerLink]="" (click)="displayWorksheet('INCOMEASSET',null,item.transactionid)" class="anchoreHover">Income Asset Worksheet</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="modal fade" id="deemed-income-worksheet">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            
                            <div class="modal-body">
                              <div id="worksheet-report">
                                  <div *ngIf="worksheetType==='DEEMEDINCOME'">
                                        <deemed-income-worksheet [summaryinfo]= "eligibilitysummaryinfo" [history] = "item" [deemedclientid] = "deemedclientid"></deemed-income-worksheet>
                                  </div>
                                  <div *ngIf="worksheetType==='INCOMEASSET'">
                                        <income-asset-worksheet [summaryinfo]= "eligibilitysummaryinfo" [history] = "item"></income-asset-worksheet>
                                  </div>
                              </div>
                              <div class="text-right big-bot-space right-mspace-15">
                                    <br><br><br>
                                <button printSectionId="worksheet-report" type="button" class="btn btn-default" ngxPrint >Print</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    <table style="width: 100%; border-radius:5px; " class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th>PLACEMENT</th>
                                <th>DEMOGRAPHICS</th>
                                <th>COURT ORDER</th>
                                <th>REMOVAL TYPE</th>
                                <th>REMOVAL HOME</th>
                                <th>INCOME SUMMARY</th>
                                <th>ASSETS</th>
                                <th>DEPRIVATION</th>
                            </tr>
                        </thead>
                        <tbody style="background-color:white; padding-bottom: 20px;">
                            <tr>
                                <td><a [routerLink]="" (click)="getMessages(item, 'Placement')"
                                    class="anchoreHover">{{item.placement ? (item.placement =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.placement) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'Demographic')"
                                    class="anchoreHover">{{item.demographic ? (item.demographic =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.demographic) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'CourtStatus_')"
                                        class="anchoreHover">{{item.courtstatus ? (item.courtstatus =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.courtstatus) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'RemovalType_')"
                                    class="anchoreHover">{{item.removaltype ? (item.removaltype =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.removaltype) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'RemovalHome_')"
                                        class="anchoreHover">{{item.removalhome ? (item.removalhome =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.removalhome) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'Income_')"
                                    class="anchoreHover">{{item.income ? (item.income =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.income) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'Assets')"
                                    class="anchoreHover">{{item.assets ? (item.assets =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.assets) ) : 'No Response'}}</a>
                                </td>
                                <td><a [routerLink]="" (click)="getMessages(item, 'Deprivation')"
                                    class="anchoreHover">{{item.deprivation ? (item.deprivation =='201_MISSING_INFO' ? 'Missing Info' : formatStatus(item.deprivation) ) : 'No Response'}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div style="margin-top: 20px;" *ngIf="fieldMessages?.length > 0">
                        <h4 style="margin-bottom: 20px;">Messages</h4>
                        <div *ngFor="let item of fieldMessages">
                            <p>
                                <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"
                                    *ngIf="item.severity==='Warning'"></i>
                                <i class="fa fa-info-circle fa-lg text-info" aria-hidden="true"
                                    *ngIf="item.severity==='Info'"></i>
                                <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"
                                    *ngIf="item.severity==='Error'"></i>
                                {{item.dispMessage}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" [ngClass]="{'show':showSnapshot === true, 'hide':showSnapshot === false}">
                            <div id="fosterCareFormReview"></div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    
    
        <div class="panel panel-primary" style="padding: 0px;"
            *ngIf="periodInfo && periodInfo.period_fostercareevents && periodInfo.period_fostercareevents.length>0">
            <div class="panel-heading"><b>ELIGIBILITY EVENT</b></div>
            <div class="panel-body">
                <table style="width: 100%; border-radius:5px; " class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th>STAGE</th>
                            <!-- <th>EVENT ID</th> -->
                            <th>EVENT STATUS</th>
                            <th>EVENT START DATE</th>
                            <th>EVENT END DATE</th>
                            <th>REASON</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:white;padding-bottom: 20px;">
                        <tr *ngFor="let subitem of periodInfo.period_fostercareevents">
                            <td>{{subitem.eventstage}}</td>
                            <!-- <td>{{subitem.eventid}} </td> -->
                            <td>{{subitem.eventstatus}}</td>
                            <td>{{subitem.eventstartdate | date: 'MM/dd/yyyy'}}</td>
                            <td>{{subitem.eventenddate | date: 'MM/dd/yyyy'}}</td>
                            <td>
                                {{subitem.eventreason}}
                                <!-- <a [routerLink]="" (click)="getStatusDetails(subitem)">{{subitem.eventreason}}</a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="assign" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Route Case</h4>
                </div>
                <div class="modal-body dashboard-cont">
      
                    <div class="tab-horizontal mrg-btm25">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#supervisor" data-toggle="tab" >SUPERVISORS</a>
                            </li>
                           
                        </ul>
                        <div class="tab-content boxgrid">
                            <div class="tab-pane active" id="supervisor">
                                <div class="">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>NAME</th>
                                                    <th>TYPE OF SUPERVISOR</th>
                                                    <th>UNIT</th>
                                                    <!-- <th>Total Cases</th> -->
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="getUsersList; let getlist">
                                                <ng-container *ngIf="getlist.length>0; else noItems">
                                                    <tr *ngFor="let item of getlist">
                                                        <td>
                                                            <label class="control control--radio">
                                                                <input type="radio" name="Address" (click)="selectPerson(item)">
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </td>
                                                        <td>{{item.username}} </td>
                                                        <td>{{item.userrole}}</td>
                                                        <td>{{item.teamname}}</td>
                                                        <!-- <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td> -->
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>No Items!</ng-template>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
                <div>
                    <mat-form-field>
                        <textarea [(ngModel)]="submitForApprovalRemark" matInput placeholder="Comments"></textarea>
                    </mat-form-field>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button class="btn-pri" (click)="sendForApproval()">ASSIGN</button>
                </div>
            </div>
        </div>
</div>
  
  