
a:hover 
{color:brown}

.cdk-overlay-pane {
    width: 900px !important;
     height: 0px !important; 
}

.panel-width{
    // width: 58%;
    margin-left: 2%;
    margin-right: 2%
  }
  .panel-default-width{
    margin-left: 1%;
  }
  .row-center{
    margin-left: 10%;
  }
  .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: 1px solid #fff;
  }
  .panel-default>.panel-heading {
      color: #333;
      background-color: #337ab7;
      border-color: #337ab7;
  }
  .row-height{
    margin-top: 1%;
  }
  .panel-default {
    border-color: transparent !important;
  }
  .panel-group .panel+.panel {
    margin-top: 0px !important;
  }  
  .panel {
    box-shadow: 0 1px 1px #fff !important;
  }
  .btn-col {
    color: #fff;
    margin-left: 15px;
    padding: 5px;
  }
  .new-intake {
      float: right;
  }
  .panel-title {
    background-color: rgb(236, 231, 231);
  }
  .row {
      margin-top: 20px;
  }

  .panel-eligibility-width{
    // width: 58%;
    margin-left: 3%;
    margin-right: 3%
  }


  div.absolute {
    position: absolute;
    right: 20px;
  } 