<section class="mrg-top25">
    <div class="tab">
        <div class="table-responsive" *ngIf="saftyPlans?.length>0 else noItems">
            <table class="table table-bordered recording-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>CASEHEAD'S ID</th>
                        <th>CHILD'S NAME</th>
                        <th>CASEHEAD'S NAME</th>
                        <th style="width:100px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of saftyPlans">
                        <td>{{data.plandate | date: 'MM/dd/yyyy' }}</td>
                        <td>{{safetyPlanView.caseHeadId}}</td>
                        <td>{{safetyPlanView.childName}}</td>
                        <td>{{safetyPlanView.caseHeadName}}</td>
                        <td>
                            <a (click)="openPrintView(data)">
                                <span class="">
                                    <i aria-hidden="true" class="fa fa-print"></i>
                                </span>
                            </a>
                            <a>
                                <span class="" (click)="editPlan(data)">
                                    <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                </span>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noItems>
            <p class="no-datatxt"> No Items! </p>
        </ng-template>
    </div>
</section>
<safety-plan-print-view [saftyPlan$]="saftyPlan$" [safetyPlanView]="safetyPlanView"></safety-plan-print-view>