<div class="panel-body" >
    <div class="row">
   
            <div class="pt-20">
              <div class="col-md-12 mb-20 border-btm ">
<!--     
                <div class="col-md-12 check-block">
                  <mat-checkbox formControlName="disabilityflag">Permanently Disabled
                  </mat-checkbox>
                </div> -->
                <div class="col-md-12 pb-20">
                  <div class="col-md-5 pl-0 pb-10">
                    Does the person have disabilities? 
                  </div>

                  <div class="col-md-4">
                      <mat-radio-group  [(ngModel)]="hasDisability" (change)="onDisabiltyChange($event.value)">
                          <mat-radio-button [value]="true">Yes</mat-radio-button>
                          <mat-radio-button [value]="false">No</mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div *ngIf="hasDisability" class="col-md-12 check-block">
                    <ng-container *ngFor="let item of disabilityTypes">
                    <div class="row pb-10">
                    <div class="col-md-5">
                      
                          {{item.description}}
                          
                      
                      </div>


                          <div class="col-md-7">
                              <mat-radio-group [disabled]="item.disabled" [value]="item.conditionType">
                                  <ng-container  class="row" *ngFor="let type of disabilityConditions" >
                                  <mat-radio-button name="conditionType"  (click)="addDisability(item, type.value_text)" [value]="type.value_text"  required>{{type.description}}</mat-radio-button>
                                  
                                  </ng-container>
                                </mat-radio-group>
                          </div>

                    </div>
                    </ng-container>
                </div>
            </div>

     </div>
    </div>
    <div *ngIf="hasDisability" class="row">
        <div class="table-responsive table-theme mt-20">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Permanently Disabled</th>
                  <th>Disability Type</th>
                  <th>Disability Condition </th>
                  <th>Disability Start Date</th>
                  <th>Disability End Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container  *ngIf="personDisabilities.length; else elseTemplate">
                  <tr *ngFor="let disability of personDisabilities">
                    <td>
                      <ng-container *ngIf="disability.disabilityflag; else elseTemplate">
                        Yes
                      </ng-container>
                      <ng-template #elseTemplate>
                        No
                      </ng-template>
                    </td>
                    <td>{{disability.disablitydescription}}</td>
                    <td>{{disability.disabilityconditiontypekey}}</td>
                    <td>{{disability.startdate | date : 'MM/dd/yyyy'}} </td>
                    <td>{{disability.enddate | date : 'MM/dd/yyyy'}} </td>
                    <td> <a data-toggle="modal" matTooltip="Delete" data-target="#delete-disability-popup"
                      (click)="deleteDisability(disability)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a></td>
                  </tr>
                </ng-container>
                <ng-template #elseTemplate>
                  <tr>
                    <td colspan="6" >No records found</td>
                  </tr>
                </ng-template>
      
      
              </tbody>
            </table>
          </div>
    </div>
    
  </div>

  <div class="modal fade" id="add-disability" role="dialog">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" (click)="closeDisabilityModal()" aria-label="Close">
                      <span aria-hidden="true">X</span>
                  </button>
                  <h4 class="modal-title"> Disability </h4>
              </div>
              <div class="modal-body modal-pad">
                  <form [formGroup]="personDisabilityForm">
                      <div class="col-md-12 check-block">
                          <mat-checkbox formControlName="disabilityflag">Permanently Disabled
                          </mat-checkbox>
                        </div>
                      <div class="pt-20">
                        <div class="col-md-12 mb-20 border-btm ">
                          <div class="col-md-12">
                            <mat-form-field>
                              <input type="text" formControlName="diagnoiseddisabilitynotes" matInput
                                placeholder="Diagnosed Disability" />
                            </mat-form-field>
                          </div>
                        </div>
              
                        <div class="col-md-12">
                          <div class="col-md-6 pt-20">
              
                            <common-date-picker disabled formControlName="startdate" [required]="true"
                              placeholder="Disability Start Date">
                            </common-date-picker>
              
                          </div>
                          <div class="col-md-6 pt-20">
                            <common-date-picker disabled formControlName="enddate" placeholder="Disability End Date">
                            </common-date-picker>
              
                          </div>
              
              
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <common-date-picker disabled formControlName="evaluationdate" placeholder="Evaluation Date">
                            </common-date-picker>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <input type="text" formControlName="evaluatorname" matInput placeholder="Evaluator/Clinician Name" />
              
                            </mat-form-field>
                          </div>
                        </div>
              
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <mat-form-field>
                              <textarea matInput name="comments" formControlName="comments" rows="5"
                                placeholder="Comments"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
              
              

                      </div>
                    </form>
                    <div class="clearfix"></div>
                  <button class="btn-pri pull-right" (click)="saveDisability()" > Add </button>
                  <button class="btn-pri pull-right" (click)="reset()" > Cancel </button>
  
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="remove-disability" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="resetDisability()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title"> Remove Disability </h4>
            </div>
            <div class="modal-body modal-pad">
                All Disabilty entry will be removed! Do you want to proceed?
                <div class="clearfix"></div>
                <button class="btn-pri pull-right" (click)="removeAllDisability()" > Yes </button>
                <button class="btn-pri pull-right" (click)="resetDisability()" > Cancel </button>

            </div>
        </div>
    </div>
</div>