.fa-times-circle{font-size: 30px; color: #00A2FD;}
.panel-default>.panel-heading {color: #fff; background-color: #00A2FD;}
.custom-textarea textarea{border: 1px solid #ccc; padding: 5px; height: 80px;}

.custom-textarea textarea:focus,
.custom-textarea input:focus,
.custom-textarea select:focus,
.custom-textarea input,
.custom-textarea select,
.mat-select-trigger {
     padding-bottom: 5px;}
.mt-5{
    margin-top: 5px;
}
.btn.txt-white{color:#fff !important;}

.text-trans {
    text-transform: uppercase;
}

.custom_radio_sdm {
    font-size: 15px;
    font-family: 'Open Sans',serif !important;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 24px;
    width: auto;
    color: #333;
}
.custom_radio_sdm .control__indicator {
    height: 20px;
    width: 20px;
    border: 2px solid rgba(0,0,0,.54);
}
.control.custom_radio_sdm input:checked ~ .control__indicator {
    border: 2px solid #00A2FD;
}
.control--radio.custom_radio_sdm .control__indicator:after {
    left: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00A2FD;
    border: 2px solid #fff;
}
.mat-accordion .mat-expansion-panel:last-child{
    margin-bottom: 0;
}
.mat-accordion + button{
    margin-top: 10px;
}
.panel-content ul li:last-child{
    padding-bottom: 0;
}
.panel-content .mat-radio-group mat-radio-button:last-child {
    padding-bottom: 0;
}

.clsListPad li{
    padding-bottom: 10px;

    &:last-child{
        padding-bottom: 0;
    }
}

.disabledArea {
    pointer-events: none;
}