h5 {
    background: #f7f7f7;
    font-weight: 600;
    padding: 10px;
    margin-top:0;
}
.table-theme .table tr td {
    text-align: left!important;
}
i.fa {
    color: #00A2FD;
    cursor: pointer;
}
.modal-body ul li {margin-bottom: 10px;}
.modal-title {font-size: 15px;font-weight: 600;}