<div class="row form-wrapper header-uir p-t-10 p-b-10">
  <div class="col-sm-2">
    <label>UIR NUMBER</label>
    <p>{{uirid}}</p>
  </div>
  <div class="col-sm-2">
    <label>CREATED DATE</label>
    <p>{{uirDetail?.inserted_on| date:'MM/dd/yyyy -h:mm a'}}</p>
  </div>
  <div class="col-sm-2">
    <label>AUTHOR</label>
    <p>{{uirDetail?.displayname}}</p> 
  </div> 
</div>