<div class="cnt-min-height">
  <form [formGroup]="historyForm">
    <div class="m-b-30">
      <h4 class="mt-0">HISTORY CLEARANCE DETAILS</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Reason for CPS History Clearance" required formControlName="reason">
            <mat-option *ngFor="let item of reason" value="{{item.ref_key}}">{{
            item.value_text }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <input matInput  [min]="maxDate" [matDatepicker]="startdate" id="startdate" placeholder="Date Notarized Consent Received"
            formControlName="startdatetime" >
          <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
          <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field>
          <input type="text" matInput formControlName="workername" placeholder="Worker who performed the search">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <mat-checkbox class="m-t-20 ds-block" formControlName="thirdparty">Notices sent to Third Party</mat-checkbox>
      </div>
      <div class="col-sm-4">
          <mat-checkbox class="m-t-20 ds-block" formControlName="individual">Notices sent to Individual</mat-checkbox>
      </div>
      <div class="col-sm-4">
          <textarea class="form-control fm-style" style="height:85px;" placeholder="Comments"
          formControlName="comments"> </textarea>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-checkbox class="m-t-20 ds-block" formControlName="close">Recommended to Close CPS History Clearance</mat-checkbox>
        </div>
      </div>
  </form>
</div>