<div class="row" [formGroup]="medicationpsychotropicForm">
    <div class="col-sm-6">
        <mat-form-field>
            <input  matInput formControlName="medicationname" placeholder="Medication Name">
        </mat-form-field>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input  matInput formControlName="dosage" placeholder="Dosage" >
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input  matInput formControlName="frequency" placeholder="Frequency" >
                </mat-form-field>
            </div>
        </div>
        <mat-form-field>
            <input  matInput [max]="maxDate" formControlName="lastdosetakendate" [matDatepicker]="picker11" placeholder="Last Dose Taken Date">
            <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
            <mat-datepicker #picker11></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="informationsourcetypekey" placeholder="Information Source">
                    <mat-option *ngFor="let item of informationSourceType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
                <textarea formControlName="medicationcomments" matInput placeholder="Comments"></textarea>
            </mat-form-field>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input  matInput formControlName="medicationeffectivedate" [matDatepicker]="picker13" placeholder="Effective Date">
                    <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                    <mat-datepicker #picker13></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput formControlName="medicationexpirationdate" [matDatepicker]="picker14" placeholder="Discontinued Date">
                    <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                    <mat-datepicker #picker14></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field>
            <input matInput formControlName="prescribingdoctor" placeholder="Prescribing Doctor">
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="prescriptionreasontypekey" placeholder="Prescription Reason">
                    <mat-option *ngFor="let item of prescriptionReasonType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
                <input matInput formControlName="monitoring" placeholder="Related Testing or Monitoring">
            </mat-form-field>

    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-12">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="medicationpsychotropicForm.pristine || medicationpsychotropicForm.invalid" (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="medicationpsychotropicForm.pristine || medicationpsychotropicForm.invalid" *ngIf="editMode === true" (click)="update()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="medicationpsychotropic.length>0">
            <div class="table-responsive table-theme table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Medication Name</th>
                            <th>Dosage</th>
                            <th>Frequency</th>
                            <th>Effective Date</th>
                            <th>Discontinued Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medication of medicationpsychotropic; let i=index">
                            <td>{{medication.medicationname}}</td>
                            <td>{{medication.dosage}}</td>
                            <td>{{medication.frequency}}</td>
                            <td>{{medication.medicationeffectivedate | date:'MM/dd/yyyy'}}</td>
                            <td>{{medication.medicationexpirationdate | date:'MM/dd/yyyy'}}</td>
                            <td>
                                <a (click)="view(medication)">
                                    <i class="fa fa-eye text-16"></i>
                                </a> |
                                <a (click)="edit(medication, i)">
                                    <i class="fa fa-pencil text-16"></i>
                                </a> |
                                <a (click)="delete(i)">
                                    <i class="fa fa-trash text-16"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
