<div class="tab-pane " id="upload-generate" *ngIf="config.isGenerateUploadTabNeeded">
    <div class="clearfix">
        <div class="upload-generate-cont no-pad">
            <div class="tab-horizontal">
                <ul class="nav nav-pills inner-nav">
                    <li class="innner-menu active">
                        <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Upload
                        </a>
                    </li>
                    <li class="innner-menu">
                        <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Generate</a>
                    </li>
                </ul>
                <div class="tab-content boxgrid">
                    <div class="tab-pane active" id="upload-case-doc">
                        <div class="cnt-min-height">
                            <div id="Attachments" class="tab-pane" role="tabpanel">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>Documents</h4>
                                        </div>
                                        <div class="col-lg-5">
                                            <p class="m-t-20">Add necessary documents relevant to this case.</p>
                                        </div>
                                        <div class="col-lg-7 text-right icon">
                                            <button class="btn-pri"
                                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/attachment-upload']"><i
                                                    class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                            <button class="btn-pri click-rec"
                                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/scan-attachment']"><i
                                                    class="fa fa-cloud-upload" aria-hidden="true"></i> SCAN</button>
                                            <button class="btn-pri"
                                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/image-record']"><i
                                                    class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                            <button class="btn-pri click-rec" id="video"
                                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/video-record']"><i
                                                    class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                            <button id="sound" class="btn-pri click-rec"
                                                [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/audio-record']"><i
                                                    class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row" *ngIf="filteredAttachmentGrid.length !== 0">
                                    <div class="col-sm-12">
                                        <h5 class="theme m-t-15">ADDED ATTACHMENTS</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="att-wrap">
                                            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let source of filteredAttachmentGrid">
                                                <div class="panel panel-default attachment-panel">
                                                    <div class="panel-heading">
                                                        <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                                        <div class="media">
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                                                <i class="fa fa-file-image-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                                                <i class="fa fa-file-audio-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                                                <i class="fa fa-video-camera"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                                                <i class="fa fa-file-text"></i>
                                                            </div>
                                                            <div class="media-left"
                                                                *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                                                <i class="fa fa-paperclip"></i>
                                                            </div>
                                                            <div class="media-body">
                                                                <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                                                <h4 class="media-heading">{{(source?.originalfilename.length>20)
                                                                    ? (source?.originalfilename | slice:0:20) + '...' :
                                                                    (source?.originalfilename)}}</h4>
                                                                <p>{{source.numberofbytes}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <dl>
                                                            <dt>TITLE</dt>
                                                            <dd class="single-wrap">{{source?.title}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>ATTACHMENT TYPE</dt>
                                                            <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>CATEGORY</dt>
                                                            <dd>{{source?.documentattachment?.attachmentclassificationtypekey
                                                                ?
                                                                source?.documentattachment?.attachmentclassificationtypekey
                                                                : 'N/A'}}</dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>Uploaded By</dt>
                                                            <dd>{{source.userprofile.displayname }}
                                                            </dd>
                                                        </dl>
                                                        <dl>
                                                            <dt>UPLOADED DATE</dt>
                                                            <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }}
                                                            </dd>
                                                        </dl>
                                                        <dl class="word-align">
                                                            <dt>DESCRIPTION</dt>
                                                            <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67)
                                                                ? (source?.description | slice:0:67)+ '...' :
                                                                (source?.description)}}</dd>
                                                            <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="panel-footer icon-btn">
                                                        <h5>
                                                            <a (click)="downloadFile(source.s3bucketpathname)">
                                                                VIEW/DOWNLOAD
                                                            </a>
                                                        </h5>

                                                        <button data-toggle="modal" (click)="editAttachment(source)">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </button>


                                                        <button data-toggle="modal" (click)="confirmDelete(source)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <router-outlet></router-outlet>

                            <!-- <div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-dialog-w450" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">X</span>
                                            </button>
                                            <h4 class="modal-title">Confirm Delete?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row text-center">
                                                        <figure>
                                                            <p>Are you sure you want to delete this attachment?</p>
                                                        </figure>
                                                        <div class="col-md-12 text-center">
                                                            <div class="btn-group btn-group-re">
                                                                <button type="button" class="btn-pri"
                                                                    (click)="deleteAttachment()">Yes</button>
                                                                <button type="button" class="btn-bg"
                                                                    data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--<edit-attachment></edit-attachment>-->
                        </div>
                    </div>

                    <div class="tab-pane" id="generate-case-doc">
                        <div class="cnt-min-height">
                            <div class="row m-t-20">
                                <div class="col-sm-6">
                                    <div class="document-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="searchText"
                                                placeholder="Search Documents">
                                            <span class="input-group-btn">
                                                <button class="btn btn-pri btn-pri-s" type="button">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-pri pull-right" *ngIf="isFileSelected()"
                                        (click)="generateSelectedDocuments()">Generate</button>
                                    <button data-toggle="modal" data-target="#docu-View" class="btn btn-pri pull-right"
                                        *ngIf="isFileSelected()" (click)="downloadSelectedDocuments()">View/Download
                                    </button>
                                </div>
                            </div>
                            <div class="row m-t-20 created-tab">

                                <div class="col-sm-12">
                                    <div class="table-responsive">

                                        <table class="table custom-table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>name</th>
                                                    <th>generated by</th>
                                                    <th>generated date</th>
                                                    <th>actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let document of generatedDocuments | filter : searchText : 'title'">
                                                    <td colspan="5">
                                                        <table class="table custom-innertable">
                                                            <thead>
                                                                <tr *ngIf="document.hasGroup"
                                                                    (click)="toggleTable('accordion-tables'+document.id)">
                                                                    <th style="width: 90%;">{{document.title}} </th>
                                                                    <th><a
                                                                            (click)="toggleTable('accordion-tables'+document.id)"><i
                                                                                class="fa fa-chevron-down pull-right m-r-10"
                                                                                aria-hidden="true"></i></a></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="custom-tbody" *ngIf="!document.hasGroup">
                                                                <tr>
                                                                    <td>
                                                                        <mat-checkbox [(ngModel)]="document.isSelected">
                                                                        </mat-checkbox>
                                                                    </td>
                                                                    <td>{{document.title}} </td>
                                                                    <td>{{document.generatedBy}}</td>
                                                                    <td>{{document.generatedDateTime | date :
                                                                        'MM/dd/yyyy
                                                                        hh:mm:ss a'}}</td>
                                                                    <td>
                                                                        <ul class="list-unstyled list-inline action-icons"
                                                                            *ngIf='!document.isInProgress'>
                                                                            <li
                                                                                *ngIf='document.isGenerated && !document.fromAPI'>
                                                                                <a data-toggle="modal"
                                                                                    data-target="#docu-View"
                                                                                    (click)="downloadDocument(document)"><i
                                                                                        class="fa fa-download"
                                                                                        aria-hidden="true"></i>View/Download</a>
                                                                            </li>
                                                                            <li
                                                                                *ngIf='document.isGenerated && document.fromAPI'>
                                                                                <a download
                                                                                    [href]="document.documentpath"><i
                                                                                        class="fa fa-download"
                                                                                        aria-hidden="true"></i>Download</a>
                                                                            </li>
                                                                            <li
                                                                                *ngIf='document.isGenerated && !document.fromAPI'>
                                                                                <a><i class="fa fa-envelope-o"
                                                                                        aria-hidden="true"></i>Email</a>
                                                                            </li>
                                                                            <li><a
                                                                                    (click)="generateNewDocument(document)"><i
                                                                                        class="fa fa-gears"></i>Generate</a>
                                                                            </li>
                                                                            <!-- <li><img src="assets/images/loader.gif"></li> -->
                                                                            <!--<li class="pull-right"><a><i aria-hidden="true" class="fa fa-chevron-down"></i></a></li>-->
                                                                        </ul>
                                                                        <ul class="list-unstyled list-inline action-icons"
                                                                            *ngIf='document.isInProgress'>
                                                                            <li><img src="assets/images/loader.gif">
                                                                            </li>

                                                                        </ul>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tbody *ngIf="document.hasGroup">
                                                                <tr id="accordion-tables{{document.id}}"
                                                                    class="collapse">
                                                                    <td colspan="3">
                                                                        <table
                                                                            class="table custom-innertable table-hover table-striped">
                                                                            <tbody class="custom-tbody">
                                                                                <tr
                                                                                    *ngFor="let document of document.documents">
                                                                                    <td>
                                                                                        <mat-checkbox
                                                                                            [(ngModel)]="document.isSelected">
                                                                                        </mat-checkbox>
                                                                                    </td>
                                                                                    <td>{{document.title}} </td>
                                                                                    <td>{{document.generatedBy}}</td>
                                                                                    <td>{{document.generatedDateTime |
                                                                                        date
                                                                                        : 'MM/dd/yyyy
                                                                                        hh:mm:ss a'}}</td>
                                                                                    <td>
                                                                                        <ul class="list-unstyled list-inline action-icons"
                                                                                            *ngIf='!document.isInProgress'>
                                                                                            <li
                                                                                                *ngIf='document.isGenerated'>
                                                                                                <a data-toggle="modal"
                                                                                                    (click)="downloadDocument(document)"><i
                                                                                                        class="fa fa-download"
                                                                                                        aria-hidden="true"></i>Download</a>
                                                                                            </li>

                                                                                            <li><a
                                                                                                    (click)="generateNewDocument(document)"><i
                                                                                                        class="fa fa-gears"></i>Generate</a>
                                                                                            </li>
                                                                                            <!-- <li><img src="assets/images/loader.gif"></li> -->
                                                                                            <!--<li class="pull-right"><a><i aria-hidden="true" class="fa fa-chevron-down"></i></a></li>-->
                                                                                        </ul>
                                                                                        <ul class="list-unstyled list-inline action-icons"
                                                                                            *ngIf='document.isInProgress'>
                                                                                            <li><img
                                                                                                    src="assets/images/loader.gif">
                                                                                            </li>

                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <!-- <tbody> -->
                                                            <!-- <tr>
                                                                <td></td>
                                                                <td>qwertyuiop</td>
                                                                <td>Charles</td>
                                                                <td class="dateTime">
                                                                  <span class="date">08/09/2018</span>
                                                                  <span class="time">11:30 AM</span>
                                                              </td>
                                                              <td>
                                                                  <ul class="list-unstyled list-inline action-icons">
                                                                      <li><a><i class="fa fa-download" aria-hidden="true"></i>Download</a></li>
                                                                      <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a></li>
                                                                  </ul>
                                                              </td>
                                                            </tr> -->
                                                            <!-- </tbody> -->
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- <tr *ngFor="let document of generatedDocuments">
                                            <td><mat-checkbox  [(ngModel)]="document.isSelected"></mat-checkbox></td>
                                            <td>{{document.title}}</td>
                                            <td>{{document.generatedBy}}</td>
                                            <td>{{document.generatedDateTime}}</td>
                                            <td>
                                                <ul class="list-unstyled list-inline action-icons">
                                                    <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-download" aria-hidden="true" ></i>Download</a></li>
                                                    <li><a data-toggle="modal" data-target="#docu-View" (click)="downloadDocument(document)"><i class="fa fa-file-pdf-o" aria-hidden="true" ></i>View</a></li>
                                                </ul>
                                            </td>
                                        </tr> -->

                                            </tbody>
                                        </table>
                                        <!-- <p class="no-datatxt"> No Items! </p> -->
                                    </div>
                                </div>
                                <!-- <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-pri pull-right m-t-30" data-toggle="modal" data-target="#complete-modal" *ngIf="isCompleteVisible()">Complete</button>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane " *ngIf="!config.isGenerateUploadTabNeeded">
    <div class="clearfix">
        <div class="upload-generate-cont no-pad">
            <div class="tab-horizontal">
                <ul class="nav nav-pills inner-nav">
                    <li [ngClass]="tab_type !='person' ? 'innner-menu active':'innner-menu'">
                        <a href="#upload-case-doc" class="tab-menu" data-toggle="tab">Case
                        </a>
                    </li>
                    <li [ngClass]="tab_type =='person' ? 'innner-menu active':'innner-menu'">
                        <a href="#generate-case-doc" class="tab-menu" data-toggle="tab">Person</a>
                    </li>
                </ul>
    <div class="tab-content boxgrid">
                    <div [ngClass]="tab_type !='person' ? 'tab-pane active':'tab-pane'" id="upload-case-doc">
                        <div class="cnt-min-height">
                            <div id="Attachments" class="tab-pane" role="tabpanel">
        <div class="modal-body no-pad">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="no-mar p-b-10">Documents</h4>
                </div>
                <div class="col-lg-5">
                    <p class="m-t-20">Add necessary documents relevant to this case.</p>
                </div>
                <div class="col-lg-7 text-right icon">
                    <button [fieldKey]="'caseworker-attachments-upload'" class="btn-pri" [disabled]="isClosed"
                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/attachment-upload']"><i
                            class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOADs</button>
                    <button  [fieldKey]="'caseworker-attachments-scan'" class="btn-pri click-rec" [disabled]="isClosed"
                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/scan-attachment']"><i
                            class="fa fa-cloud-upload" aria-hidden="true"></i> SCAN</button>
                    <button [fieldKey]="'caseworker-attachments-camera'" class="btn-pri" [disabled]="isClosed"
                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/image-record']"><i
                            class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                    <button [fieldKey]="'caseworker-attachments-video'" class="btn-pri click-rec" id="video" [disabled]="isClosed"
                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/video-record']"><i
                            class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                    <button [fieldKey]="'caseworker-attachments-record'" id="sound" class="btn-pri click-rec" [disabled]="isClosed"
                        [routerLink]="['/pages/case-worker/' + id  + '/' + daNumber +  '/dsds-action/attachment/audio-record']"><i
                            class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" *ngIf="(filteredAttachmentGrid.length !== 0) || (contactrecording.length !== 0)">
            <div class="col-sm-12">
                <h5 class="theme m-t-20 m-b-20">ADDED ATTACHMENTS</h5>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let source of filteredAttachmentGrid">
                        <div class="panel panel-default attachment-panel">
                            <div class="panel-heading">
                                <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                <div class="media">
                                    <div class="media-left"
                                        *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                        <i class="fa fa-file-image-o"></i>
                                    </div>
                                    <div class="media-left"
                                        *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                        <i class="fa fa-file-audio-o"></i>
                                    </div>
                                    <div class="media-left"
                                        *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                        <i class="fa fa-video-camera"></i>
                                    </div>
                                    <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                    <div class="media-left"
                                        *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                        <i class="fa fa-file-text"></i>
                                    </div>
                                    <div class="media-left"
                                        *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                        <i class="fa fa-paperclip"></i>
                                    </div>
                                    <div class="media-body">
                                        <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                        <h4 class="media-heading">{{(source?.originalfilename?.length>20) ?
                                            (source?.originalfilename
                                            | slice:0:20) + '...' : (source?.originalfilename)}}</h4>
                                        <p>{{source.numberofbytes}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>TITLE</dt>
                                    <dd class="single-wrap">{{source?.title}}</dd>
                                </dl>
                                <dl>
                                    <dt>ATTACHMENT TYPE</dt>
                                    <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                </dl>
                                <dl>
                                    <dt>CATEGORY</dt>
                                    <dd>{{source?.documentattachment?.attachmentclassificationtypekey ?
                                        source?.documentattachment?.attachmentclassificationtypekey
                                        : 'N/A'}}</dd>
                                </dl>
                                <dl>
                                        <dt>SUB CATEGORY</dt>
                                        <dd>{{source?.documentattachment?.attachmentclassificationsubtypekey ?
                                            source?.documentattachment?.attachmentclassificationsubtypekey
                                            : 'N/A'}}</dd>
                                    </dl>
                                <dl>
                                    <dt>Uploaded By</dt>
                                    <dd>{{source.userprofile.displayname }}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>UPLOADED DATE</dt>
                                    <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }} </dd>
                                </dl>
                                <dl class="word-align">
                                    <dt>DESCRIPTION</dt>
                                    <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67) ?
                                        (source?.description
                                        | slice:0:67)+ '...' : (source?.description)}}</dd>
                                    <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                </dl>
                            </div>
                            <div class="panel-footer icon-btn">
                                <h5>
                                    <a (click)="downloadFile(source.s3bucketpathname)">
                                        VIEW/DOWNLOAD
                                    </a>
                                </h5>

                                <button [fieldKey]="'caseworker-attachments-edit'" data-toggle="modal" [disabled]="isClosed" (click)="editAttachment(source)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>


                                <button [fieldKey]="'caseworker-attachments-delete'" data-toggle="modal" [disabled]="isClosed" (click)="confirmDelete(source)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    <ng-container *ngFor="let contact of contactrecording">
                        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let source of contact?.uploadedfile?.data">
                            <div class="panel panel-default attachment-panel">
                                <div class="panel-heading">
                                    <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                    <div class="media">
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                            <i class="fa fa-file-image-o"></i>
                                        </div>
                                        <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                            <i class="fa fa-file-audio-o"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                            <i class="fa fa-video-camera"></i>
                                        </div>
                                        <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </div>
                                        <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                        <div class="media-body">
                                            <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                            <h4 class="media-heading">{{(source?.originalfilename.length>20)
                                                                                        ? (source?.originalfilename | slice:0:20) + '...' :
                                                                                        (source?.originalfilename)}}</h4>
                                            <p>{{this.humanizeBytes(source.numberofbytes)}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <dl>
                                        <dt>TITLE</dt>
                                        <dd class="single-wrap">{{source?.title}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>ATTACHMENT TYPE</dt>
                                        <dd>Contacts</dd>
                                    </dl>
                                    <dl>
                                        <dt>CONTACT PURPOSE</dt>
                                        <dd>{{contact?.progressnotereasontypedescription}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>CONTACT TYPE</dt>
                                        <dd>{{contact?.recordingtype}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>Uploaded By</dt>
                                        <dd>{{contact.author }}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>UPLOADED DATE</dt>
                                        <dd>{{contact?.recordingdate | date:'MM/dd/yyyy H:mm:ss' }}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="panel-footer icon-btn">
                                    <h5>
                                        <a (click)="downloadFile(source.s3bucketpathname)">
                                            VIEW/DOWNLOAD
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-w450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Confirm Delete?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row text-center">
                                <figure>
                                    <p>Are you sure you want to delete this attachment?</p>
                                </figure>
                                <div class="col-md-12 text-center">
                                    <div class="btn-group btn-group-re">
                                        <button type="button" class="btn-pri" (click)="deleteAttachment()">Yes</button>
                                        <button type="button" class="btn-bg" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div> -->
         </div>
         <div  [ngClass]="tab_type =='person' ? 'tab-pane active':'tab-pane'" id="generate-case-doc">
                <div class="modal-body pl-0 pr-0">
                        <div class="row">
                            <div class="col-sm-12 text-right icon">
                                <button class="btn-pri" [disabled]="isClosed"
                                    (click)="uploadFileforPerson('attachment-upload')"><i
                                        class="fa fa-cloud-upload" aria-hidden="true"></i> UPLOAD</button>
                                    <button class="btn-pri click-rec" [disabled]="isClosed"
                                        (click)="uploadFileforPerson('scan-attachment')"><i
                                            class="fa fa-cloud-upload" aria-hidden="true"></i> SCAN</button>
                                    <button class="btn-pri" [disabled]="isClosed"
                                        (click)="uploadFileforPerson('image-record')"><i
                                            class="fa fa-camera" aria-hidden="true"></i> CAMERA</button>
                                    <button class="btn-pri click-rec" id="video" [disabled]="isClosed"
                                        (click)="uploadFileforPerson('video-record')"><i
                                            class="fa fa-video-camera" aria-hidden="true"></i> VIDEO</button>
                                    <button id="sound" class="btn-pri click-rec" [disabled]="isClosed"
                                        (click)="uploadFileforPerson('audio-record')"><i
                                            class="fa fa-microphone" aria-hidden="true"></i> RECORD</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                <div class="row person-wrap">
                    <ng-container *ngIf="involvedPerson.length > 0">
                        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let persond of involvedPerson">
                            <div class="panel panel-default person-panel">
                                <div class="panel-heading selected-child" >
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>
                                                <div >
                                                    <mat-radio-button [disabled]="isClosed" (click)="onPersonChecked($event,persond)" [value]="persond.personid">
                                                    </mat-radio-button>
                                                    <span matTooltip="{{(persond?.fullname)}}">{{
                                                        (persond?.fullname)?.length > 16
                                                        ? (persond?.fullname| slice: 0:16 |
                                                        titlecase) + '...'
                                                        : (persond?.fullname | titlecase)
                                                        }}</span>
                                                </div>                                                
                                            </h4>
                                            <!-- <div class="person-role-height">
                                                <p class="designation" *ngFor="let role of persond.roles; let isLast=last">
                                                    {{role.typedescription}}
                                                    <span *ngIf="!isLast" style="color:gray">,</span>
                                                </p>
                                            </div> -->
                                        </div>
                                        <div class="media-right">
                                            <!-- <div><img src="" class="media-object" /></div> -->
                                            <div>
                                                <!--<img src="assets/images/ic_silhouette.png" class="media-object"/>-->
                                                <img *ngIf="persond.userphoto" mat-card-avatar mat-card-md-image src="{{persond.userphoto}}" />
                                                <img *ngIf="!persond.userphoto" mat-card-avatar mat-card-md-image
                                                    src="assets/images/ic_silhouette.png" />
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="involved-person-tables">
                                        <tr>
                                            <th>CJAMS PID#</th>
                                            <td>:</td>
                                            <td class="single-wrap">{{persond.cjamspid}}</td>
                                        </tr>
                                        <tr>
                                            <th>D.O.B</th>
                                            <td>:</td>
                                            <td class="single-wrap">{{persond.dob | date : 'MM/dd/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <th>D.O.D</th>
                                            <td>:</td>
                                            <td class="single-wrap">{{persond.dateofdeath | date : 'MM/dd/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Gender</th>
                                            <td>:</td>
                                            <td class="single-wrap">{{persond.gender}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </ng-container>                   
                    
                </div>
            <div class="row" *ngIf="userfilteredAttachmentGrid.length !== 0 && selectedPerson!=''">
                <div class="col-sm-12">
                    <h5 class="theme m-t-10 m-b-20">ATTACHMENTS ADDED FOR {{selectedPersonName}}</h5>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let source of userfilteredAttachmentGrid">
                            <div class="panel panel-default attachment-panel">
                                <div class="panel-heading">
                                    <!-- </span>{{source?.originalfilename ? source?.originalfilename : 'N/A'}}</h3> -->
                                    <div class="media">
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.png,.jpg,.jpeg,.bmp,.gif,.bmp')">
                                            <i class="fa fa-file-image-o"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.mp3,.wav,.wma')">
                                            <i class="fa fa-file-audio-o"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf')">
                                            <i class="fa fa-video-camera"></i>
                                        </div>
                                        <div class="media-left" *ngIf="checkFileType(source.s3bucketpathname,'.pdf')">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="checkFileType(source.s3bucketpathname,'.txt, .doc, .docx')">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="media-left"
                                            *ngIf="!checkFileType(source.s3bucketpathname,'.webm,.mp4,.mov,.mpeg,.flv,.vob,.3gp,.avi,.flv,.swf,.png,.jpg,.jpeg,.bmp,.gif,.bmp,.mp3,.wav,.wma, .pdf, .txt, .doc, .docx')">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                       
                                        <div class="media-body">
                                            <!-- <h4 class="media-heading">{{source?.filename ? source?.filename.split('_')[1] : 'N/A'}}</h4> -->
                                            <h4 class="media-heading">{{(source?.originalfilename?.length>20) ?
                                                (source?.originalfilename
                                                | slice:0:20) + '...' : (source?.originalfilename)}}</h4>
                                            <p>{{source.numberofbytes}}</p>
                                        </div>
                                        

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <dl>
                                        <dt></dt>
                                        <dd *ngIf="source.objecttypekey=='CasePerson'">
                                            <mat-checkbox class="aut-chk-selectchildRemoval" [disabled]="isClosed" (change)="addtoCase($event,source)" checked="true"><span class="m-l-10">Add to case</span></mat-checkbox>
                                        </dd>
                                        <dd *ngIf="source.objecttypekey!='CasePerson'">
                                            <mat-checkbox class="aut-chk-selectchildRemoval" [disabled]="isClosed" (change)="addtoCase($event,source)" ><span class="m-l-10">Add to case</span></mat-checkbox>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>TITLE</dt>
                                        <dd class="single-wrap">{{source?.title}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>ATTACHMENT TYPE</dt>
                                        <dd>{{source?.documentattachment?.attachmenttypekey}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>CATEGORY</dt>
                                        <dd>{{source?.documentattachment?.attachmentclassificationtypekey ?
                                            source?.documentattachment?.attachmentclassificationtypekey
                                            : 'N/A'}}</dd>
                                    </dl>
                                    <dl>
                                        <dt>Uploaded By</dt>
                                        <dd>{{source.userprofile.displayname }}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>UPLOADED DATE</dt>
                                        <dd>{{source?.insertedon | date:'MM/dd/yyyy H:mm:ss' }} </dd>
                                    </dl>
                                    <dl class="word-align">
                                        <dt>DESCRIPTION</dt>
                                        <dd class="mh-82" *ngIf="source?.description">{{(source?.description?.length>67) ?
                                            (source?.description
                                            | slice:0:67)+ '...' : (source?.description)}}</dd>
                                        <dd class="mh-82" *ngIf="!source?.description">N/A</dd>
                                    </dl>
                                </div>
                                <div class="panel-footer icon-btn">
                                    <h5>
                                        <a (click)="downloadFile(source.s3bucketpathname)">
                                            VIEW/DOWNLOAD
                                        </a>
                                    </h5>
    
                                    <button data-toggle="modal" [disabled]="isClosed" (click)="editAttachment(source)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
    
    
                                    <button data-toggle="modal" [disabled]="isClosed" (click)="confirmDelete(source)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<edit-attachment></edit-attachment>
<div class="modal fade in" id="delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-w450" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Confirm Delete?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row text-center">
                            <figure>
                                <p>Are you sure you want to delete this attachment?</p>
                            </figure>
                            <div class="col-md-12 text-center">
                                <div class="btn-group btn-group-re">
                                    <button type="button" class="btn-pri" (click)="deleteAttachment()">Yes</button>
                                    <button type="button" class="btn-bg" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="generate-details" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Generate Document </h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="generateDocForm">
                    <div class="row m-t-20">
                        <div class="col-sm-6" *ngIf="isGenerateByComplaint">
                            <mat-form-field>
                                <mat-select required placeholder="Complaint" formControlName="complaint"
                                    (change)="loadVictims();">
                                    <mat-option *ngFor="let item of complaints"
                                        value="{{item.intakeservicerequestevaluationid}}">{{item.complaintid}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6" *ngIf="isGenerateByVictim">
                            <mat-form-field>
                                <mat-select required placeholder="Victim" formControlName="victim">
                                    <mat-option *ngFor="let item of victims" value="{{item.personid}}">
                                        {{item.firstname}}&nbsp;{{item.lastname}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6" *ngIf="isGenerateByPetition">
                            <mat-form-field>
                                <mat-select required placeholder="Petition" formControlName="petition">
                                    <mat-option *ngFor="let item of petitions"
                                        value="{{item.intakeservicerequestpetitionid}}">{{item.petitionid}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" class="btn-pri" [disabled]="generateDocForm.invalid"
                        (click)="generateDocumnet(selectedDocument)">
                        Generate
                    </button>
                    <button type="button" class="btn-pri" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>