<div class="text-right big-bot-space right-mspace-15">
  <button type="button" class="btn-pri" (click)="collectivePdfCreator()" [disabled]="downloadInProgress"> Download
  </button>
  <button type="button" class="btn-pri" (click)="printDiv('olm-rcc-approval-letter')"> Print
  </button>
</div>

<div id="olm-rcc-approval-letter" class="red">
  <div class="pdf-page sizeA4 red" data-page-name="RCC approval letter" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="container-fluid" style="text-align:center">
        <h4 class="">
          <span><b>Maryland Applicable Adoptive Child Assessment Request Form</b></span>
        </h4>
      </div>

    </header>
    &nbsp;



    <div class="margin-wrapper">
      <br>

      <div class="body-content">

        <!-- <br>
                <div style="font-weight: bold; text-align: start">
                   <br />
                </div>
                <br />
                <br />
                <div style="font-weight: bold; text-align: start">
                    Dear:
                </div> -->
        <table style="width:100%">

          <tr>
            <td colspan="2">Child’s Name:{{childname}}</td>

            <td colspan="3">Child’s Client ID#:{{client_id}}</td>
          </tr>
          <tr>
            <td colspan="1">Date of Birth:{{dob | date:'MM/dd/yyyy'}}</td>

            <td colspan="2">Prospective Adoptive Parent(s) Names(s):</td>
          </tr>
        </table>
        <br>

        <table style="width:100%">
          <tr>
            <th colspan="6" class="section" style="background-color: #000;color: #fff;"> Section I<br />
              To be completed by the child’s caseworker and submitted to the local Title IV-E Unit prior to adoption
              agreement negotiation.
            </th>
          </tr>
          <tr>
            <th colspan="6" class="childStatus" style="background: #ccc;">
              A. Child Status Information
            </th>
          </tr>
          <tr>
            <td colspan="6">
              <b> 1. Child Age</b><br />
              Check the age of the child for EXPECTED year of the adoption during the federal fiscal year (October 1 to
              September 30)

            </td>
          </tr>

          <tr>
            <td><input type="checkbox"> </td>
            <td style="width: 48px;"> 16-18</td>
            <td> October 1, 2009 – September 30, 2010</td>

            <td><input type="checkbox"> </td>
            <td style="width: 48px;"> 4-18</td>
            <td> October 1, 2015 – September 30, 2016</td>
          </tr>

          <tr>
            <td><input type="checkbox"> </td>
            <td> 14-18</td>
            <td> October 1, 2010 – September 30, 2011</td>

            <td><input type="checkbox"> </td>
            <td> 2-18</td>
            <td>October 1, 2016 – September 30, 2017</td>
          </tr>
          <tr>
            <td><input type="checkbox"> </td>
            <td> 12-18</td>
            <td>October 1, 2011 – September 30, 2012</td>

            <td><input type="checkbox"> </td>
            <td> 0-18</td>
            <td>October 1, 2017 – December 31, 2017</td>
          </tr>

          <tr>
            <td><input type="checkbox"> </td>
            <td> 10-18</td>
            <td>October 1, 2011 – September 30, 2012</td>

            <td><input type="checkbox"> </td>
            <td> 2-18</td>
            <td>January 1, 2018 – June 30, 2024 <br />***Note: Must be age 2 by end of federal fiscal year</td>
          </tr>

          <tr>
            <td><input type="checkbox"> </td>
            <td>8-18</td>
            <td colspan="6">October 1, 2017 – December 31, 2017</td>
          </tr>

          <tr>
            <td><input type="checkbox"> </td>
            <td> 6-18</td>
            <td>October 1, 2014 – September 30, 2015</td>

            <td><input type="checkbox"> </td>
            <td> 0-18</td>
            <td>July 1, 2024</td>
          </tr>
          <tr>
            <td colspan="6">
              <b> 2. Child Entry Date</b>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div><span>Has the child been in care 60 months or more?</span> <input type="checkbox" /> Yes <input
                  type="checkbox" /> No </div>
            </td>

            <td colspan="2">Removal date of current episode:{{childremovaldate  | date:'MM/dd/yyyy'}} </td>
          </tr>
          <tr>
            <td colspan="6">
              <b> Note: Case record must contain documentation of uninterrupted care</b>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <b> 3. Sibling Status</b>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              Is the child a sibling to a child who qualifies as an applicable child by age or length of care and is
              being
              placed in the same adoptive home? Yes No

            </td>
          </tr>
          <tr>
            <td colspan="4">Name of sibling:</td>
            <td colspan="2">Name of Adoptive Placement:</td>

          </tr>
          <tr>
            <td colspan="6">Date of siblings adoption decree: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp; Date
              of siblings Applicable Child Assessment:</td>

          </tr>
        </table>
        <br />
        <table style="width:100%">



        </table>




      </div>


    </div>
  </div>
  <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="2">
    <header class="header">
      <div class="container-fluid" style="text-align:center">
        <h4 class="">
          <span><b>Maryland Applicable Adoptive Child Assessment Request Form</b></span>
        </h4>
      </div>

    </header>
    <div class="margin-wrapper">
      <br>

      <div class="body-content">

        <table style="width:100%">
          <tr>
            <th colspan="3" style="background: #ccc;">
              B. Placement and Medical Information
            </th>
          </tr>
          <tr>
            <td colspan="3"><b> 1.</b>
              Is the child in care of a public agency or licensed child placement agency pursuant to:
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>a.</b>An involuntary removal in accordance with a judicial determination that is contrary to
                  the child’s welfare to remain in the home?</span> <input type="checkbox" /> Yes <input
                  type="checkbox" /> No </div>
            </td>


          </tr>
          <tr>
            <td colspan="2">Date of removal:</td>

            <td colspan="3">Date of first court order with contrary to welfare finding:</td>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>b.</b>A voluntary placement agreement?</span> <input type="checkbox" /> Yes <input
                  type="checkbox" /> No </div>
            </td>


          </tr>
          <!-- <tr>
                  <th colspan="3">
                      B. Placement and Medical Information
                  </th>
                </tr>
                <tr>
                    <td colspan="3"><b> 1.</b>
                       Is the child in care of a public agency or licensed child placement agency pursuant to:
                    </td>
                  </tr>
                  <tr>
                      <td colspan="3"> <div><span><b>a.</b>An involuntary removal in accordance with a judicial determination that is contrary to the child’s welfare to remain in the home?</span> <input type="checkbox"/>				Yes	<input type="checkbox"/>		No </div></td>
                      
                     
                    </tr>
                    <tr>
                        <td colspan="2">Date of removal:</td>
                        
                        <td colspan="3">Date of first court order with contrary to welfare finding:</td>
                      </tr>
                      <tr>
                          <td colspan="2">Date of removal:</td>
                          
                          <td colspan="3">Date of first court order with contrary to welfare finding:</td>
                        </tr> -->
          <tr>
            <td colspan="2">Date of voluntary placement agreement:</td>

            <td colspan="3">Date of first court order with best interest or contrary to welfare
              finding if converted to CINA
              :</td>
          </tr>

          <tr>
            <td>
              <div><span><b>c.</b>A voluntary relinquishment?</span> <input type="checkbox" /> Yes <input
                  type="checkbox" /> No </div>
            </td>

            <td colspan="2">Date of relinquishment: </td>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>2.</b> Does the child meet all medical or disability requirements of SSI?

                </span> <input type="checkbox" /> Yes <input type="checkbox" /> No </div>
              <span>
                <b><i>(Documentation of SSI eligibility determination required)</i></b></span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div><span><b>a.</b> Was child receiving SSI at removal or anytime during the current episode?
                </span><input type="checkbox" /> Yes <input type="checkbox" /> No </div>
            </td>

            <td colspan="3"><b>b.</b> If Yes, on what date did child begin receiving SSI?</td>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>3. </b> Is the child residing in a foster family home or childcare institution with their
                  minor parent who was with
                  contrary to welfare or voluntary placement agreement? </span> <input type="checkbox" /> Yes <input
                  type="checkbox" /> No </div>

            </td>
          </tr>

          <tr>
            <td>Minor Parent Name:</td>
            <td>Minor Parents Removal date:</td>
            <td colspan="2">Date of Minor Parents first court with contrary to welfare finding:</td>
          </tr>
        </table>
        <br />
        <table style="width:100%">
          <tr>
            <th colspan="3" style="background: #ccc;">
              A. Special Needs of the Child
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>1.</b> Can the child be returned to the home of the parent?</span> <input type="checkbox" />
                Yes <input type="checkbox" /> No </div>
            </td>

          </tr>
          <tr>
            <td colspan="3">
              If no, explain why child cannot or should not be returned to the home of the parent:
            </td>

          </tr>
          <!-- <tr>
            <td colspan="2">2. Does child meet:</td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td colspan="3">a. All medical disability requirements for SSI: Yes No</td>
          </tr> -->
        </table>
        <table style="width:100%">
          <tr>
            <th rowspan="12">2. Does child meet:</th>
            <td colspan="2"><b>a.</b> All medical disability requirements for SSI: &nbsp; <input type="checkbox" /> Yes
              <input type="checkbox" /> No <br />
              <b>OR</b>
            </td>
          </tr>
          <tr>
            <td colspan="2"><b>b.</b> One* of the following special needs factors:</td>
          </tr>
          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">1) Child 6-17 years of age</td>
          </tr>

          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">2) Physical, mental or emotional disability or disease<br />
              (Documentation required)
            </td>
          </tr>
          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">3) Emotional disturbance <br />
              (Documentation required)
            </td>
          </tr>
          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">4) Membership in sibling group – list siblings in care eligible for
              adoption in same adoptive placement
            </td>

          </tr>
          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">5) Child 6-17 years of age</td>
          </tr>
          <tr>
            <th style="width: 15%"><input type="checkbox" /></th>
            <td style="width: 85%">6) Child 6-17 years of age</td>
          </tr>


        </table>

        <br />

      </div>

    </div>
  </div>

  <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="3">
    <header class="header">
      <div class="container-fluid" style="text-align:center">
        <h4 class="">
          <span><b>Maryland Applicable Adoptive Child Assessment Request Form</b></span>
        </h4>
      </div>

    </header>
    <div class="margin-wrapper">
      <br>

      <div class="body-content">
        <table>
          <tr>
            <td colspan="3">
              <div><span><b> 3.</b>Describe in detail:</span></div>
            </td>

          </tr>
          <tr>
            <td colspan="3">
              <b>a.</b> The reasonable but unsuccessful efforts made to place child without assistance:
            </td>

          </tr>
          <tr>
            <th colspan="3">
              <b>OR</b>
            </th>

          </tr>
          <tr>
            <td colspan="3">
              <b>b.</b> If instead the child is being adopted by their foster parent and has significant emotional ties
              with that
              person:

            </td>

          </tr>
          <tr>
            <th colspan="3" style="background: #ccc;">
              A. Title IV-E Status
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <div><span><b>1.</b> Was the child eligible for adoption assistance payment in prior adoption and is now
                  being adopted due to adoptive parent(s) rights being terminated OR adoptive parent(s) death? </span>
                <input type="checkbox" /> Yes <input type="checkbox" /> No </div>
              <span>
                <b><i>(Note: Document explanation in case record)</i></b></span>

            </td>
          </tr>
          <tr>
            <td>
              <span><b>a.</b>Adoptive Parent(s) TPR Date: <br />
                Parent 1: Parent 2:

              </span>
            </td>

            <td><b>b.</b> . Adoptive Parent(s) Date of Death: <br />
              Parent 1: Parent 2:

            </td>
          </tr>
          <tr>
            <td>
              <div><span><b> 2.</b>Title IV-E Foster Care Status</span></div>
            </td>

          </tr>
          <tr>
            <td>
              <span><b>a.</b>. Is the child currently Title IV-E foster care
                eligible? <br /> <input type="checkbox" />
                Yes <input type="checkbox" /> No



              </span>
            </td>

            <td colspan="3"><b>b.</b> Is the child currently SSI eligible? <br /> <input type="checkbox" />
              Yes <input type="checkbox" /> No


            </td>
          </tr>

        </table>
        <table style="width:100%">
          <tr>
            <td>Caseworker Name: <br /> Caseworker Signature:</td>


            <td colspan="2">Date:</td>
          </tr>


        </table>
        <br />

        <h6><b>Resubmission of Request:</b></h6>
        <table style="width:100%">
          <tr>
            <td>Caseworker Name: <br /> Caseworker Signature:</td>
            <td colspan="2">Date:</td>
          </tr>
        </table>

        <br />
        <table style="width:100%">
          <tr>
            <th colspan="3">
              Section II – Assessment of Child’s Applicable or Non-Applicable Status
            </th>
          </tr>
          <tr>
            <td colspan="3">
              Section II is to be completed by the Title IV-E Specialist within 5 working days of receipt of complete
              information from the caseworker in Section I. <b>If information or documentation is not completed, go to
                Section III.</b>

            </td>
          </tr>
          <tr>
            <th colspan="3" style="background: #ccc;">
              <b>A. Applicable Child</b>
            </th>
          </tr>
          <tr>
            <td>1. Does the child meet any of the child status criteria of Section I.A 1, 2 or 3?</td>
            <td>Yes <input type="checkbox" /> <br />
              Go to next question
            </td>
            <td> No <input type="checkbox" /> <br />
              Go to Non-Applicable Child
            </td>
          </tr>
          <tr>
            <td>2. Does the child meet placement or medical criteria of Section I.B 1, 2 OR 3?</td>
            <td>Yes <input type="checkbox" /> <br />
              Go to next question
            </td>
            <td> No <input type="checkbox" /> <br />
              Go to Non-Applicable Child
            </td>
          </tr>
          <tr>
            <td>3. Does the meet the special needs criteria in Section I.C 1, 2 (a or b), AND 3(a or b)?</td>
            <td>Yes <input type="checkbox" /> <br />
              Child is an Applicable Child. Go To Section IV – Assessment Decision
            </td>
            <td> No <input type="checkbox" /> <br />
              Child is NOT an Applicable Child Go to Non-Applicable Child Assessment
            </td>
          </tr>



        </table>

      </div>

    </div>
  </div>


  <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="3">
    <header class="header">
      <div class="container-fluid" style="text-align:center">
        <h4 class="">
          <span><b>Maryland Applicable Adoptive Child Assessment Request Form</b></span>
        </h4>
      </div>

    </header>
    <div class="margin-wrapper">
      <br>

      <div class="body-content">
        <table style="width:100%">
          <tr>
            <th colspan="3" style="background: #ccc;">
              <b> B. Non-Applicable Child Assessment</b>
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <i> Note: Child must be assessed for Applicable Child and if not an applicable child, then assessed for
                Non-Applicable Child.</i>
            </td>
          </tr>
          <tr>
            <td>1.Has child been assessed to NOT be an applicable child?</td>
            <td><mat-radio-group><mat-radio-button name="VPA" class="example-radio-button col-md-3"
              value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
              Yes</mat-radio-button></mat-radio-group> <br />
              Go to next question
            </td>
            <td> <mat-radio-group><mat-radio-button name="VPA1" class="example-radio-button col-md-3" value="NO">
                No</mat-radio-button></mat-radio-group> <br />
              Complete Applicable Child Assessment
            </td>
          </tr>
          <tr>
            <td>2.Does the child meet placement or medical criteria of Section I.B 1, 2 OR 3?</td>
            <td><mat-radio-group><mat-radio-button name="VPA" class="example-radio-button col-md-3"
              value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
              Yes</mat-radio-button></mat-radio-group> <br />
              Go to next question
            </td>
            <td> <mat-radio-group> <mat-radio-button name="VPA1" class="example-radio-button col-md-3" value="NO">
                No</mat-radio-button></mat-radio-group> <br />
              Child is NOT a Non-Applicable Child <br />
              Go to Section IV – Assessment Decision
            </td>
          </tr>
          <tr>
            <td>3. Does the meet the special needs criteria in Section I.C 1, 2 (a or b), AND 3(a or b)?</td>
            <td><mat-radio-group><mat-radio-button name="VPA" class="example-radio-button col-md-3"
              value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
              Yes</mat-radio-button></mat-radio-group> <br />
              Go to next question
            </td>
            <td> <mat-radio-group> <mat-radio-button name="VPA1" class="example-radio-button col-md-3" value="NO">
                No</mat-radio-button></mat-radio-group><br />
              Child is NOT a Non-Applicable Child <br />
              Go to Section IV – Assessment Decision
            </td>
          </tr>
          <tr>
            <td>4. Does child meet the Title IV-E standards of Section I.D 1 – Prior Adoption (a or b) OR 2 – IV-E
              Foster Care or SSI (a or b)?</td>
            <td>
                <mat-radio-group><mat-radio-button name="VPA" class="example-radio-button col-md-3"
              value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
              Yes</mat-radio-button></mat-radio-group> <br />
              Child is an Applicable Child. Go To Section IV – Assessment Decision
            </td>
            <td> <mat-radio-group> <mat-radio-button name="VPA1" class="example-radio-button col-md-3" value="NO">
                No</mat-radio-button></mat-radio-group> <br />
              Child is NOT a Non-Applicable Child <br />
              Go to Section IV – Assessment Decision
            </td>
          </tr>
          <tr>
            <th colspan="3" style="background-color: #000;
            color: #fff;">
              Section III – Return of Incomplete Assessment Request
            </th>
          </tr>
          <tr>
            <th colspan="3">
              Information or documentation for Section I is incomplete. An assessment cannot be completed without
              complete information and documentation.

            </th>
          </tr>
          <tr>
            <td>Specialist Name: <br /> Specialist Signature:</td>


            <td colspan="2">Date Returned: <br />
              <input placeholder="MM/DD/YYYY" />
            </td>
          </tr>

          <tr>
            <th colspan="3" style="background-color: #000;
            color: #fff;">
              Section IV – Assessment Decision
            </th>
          </tr>
          <tr>
            <th colspan="3">
              This assessment decision is based solely on the information and documentation provided by the
              caseworker in Section I. This is NOT a Title IV-E Adoption Subsidy Determination. A Determination must be
              completed

            </th>
          </tr>
          <tr>
            <th colspan="3">
              According to the information submitted, the child is:
            </th>
          </tr>
          <tr>
            <td colspan="3"> <input type="checkbox" />
              An applicable child for Title IV-E purposes – Use Federal Adoption Subsidy Agreement
            </td>
          </tr>
          <tr>
            <td colspan="3"> <mat-checkbox [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" >
              A Non-applicable child for Title IV-E purposes – Use Federal Adoption Subsidy Agreement
            </mat-checkbox>
            </td>
          </tr>

          <tr>
            <td colspan="3"> <input type="checkbox" />
              Neither an applicable or a non-applicable child for Title IV-E purposes – Use State Adoption
              Subsidy Agreement

            </td>
          </tr>

        </table>


      </div>

    </div>
  </div>
  <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="4">
    <header class="header">
      <div class="container-fluid" style="text-align:center">
        <h4 class="">
          <span><b>Maryland Applicable Adoptive Child Assessment Request Form</b></span>
        </h4>
      </div>

    </header>
    <div class="margin-wrapper">
      <br>

      <div class="body-content">
        <table style="width:100%">
          <tr>
            <td>
              <div>
                IV-E Specialist Name:<br />
              </div>
              <div>
                <div style="float:left">
                  IV-E Specialist Signature:
                </div>
                <div style="float:left">
                  <img src={{signature}} *ngIf="signature !=''" />
                </div>
              </div>
            </td>
            <td colspan="2">Date Returned: <br />
              <input placeholder="MM/DD/YYYY" />
            </td>
          </tr>
          <tr>
            <td>IV-E Supervisor Name: <br />
              IV-E Supervisor Signature:
            </td>
            <td colspan="2">Date Returned: <br />
              <input placeholder="MM/DD/YYYY" />
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>

</div>