<div id="subsidyDownload" class="tab-pane fade in active">
    <table class="table table-bordered table-hover">
        <thead>
                <tr>
                    <th>Document Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>
            <ng-container *ngFor="let subsidydownload of subsidydownloadList">
                <tr>
                    <td>{{subsidydownload.description}}</td>
                    <td>
                        <button class="btn btn-pri"  (click)="downloadsubsidyfile(subsidydownload.ref_key, subsidydownload.description)">Download</button>   
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>    
</div>