.person-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0;

}
.person-panel .panel-heading {
    width: 100%;
    color: #00A2FD;
}
.person-panel .panel-heading h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
}
.person-panel > span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}
.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}
.person-panel .media-right {
    vertical-align: bottom;
}
// .person-panel .media-body ul li a i {
//     font-size: 20px;
//     color: #777;
//     padding: 5px;
// }
.person-panel .panel-heading {
    padding: 10px;
    background: #fff;
    // border-bottom: 2px solid #e2e2e2;
}
.person-panel .panel-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .panel-heading span.f-size {
    padding-left: 30px;
    font-size: 13px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.person-panel .panel-body dl dt,
.person-panel .panel-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.appointment-panel {
    height: 300px;
    overflow: auto;
}

.person-panel .panel-body dl {
    margin-bottom: 8px;
}
.person-panel .panel-body dl dd {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.person-panel .panel-footer {
    background: #fff;
    padding: 15px 15px 30px 15px;
    border-top: 2px solid #e2e2e2;
    color: #00A2FD;
}
.panel-footer ul li {
    float: right;
    text-align: center;
}

.header-bg {
    background: #e8f0fa;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.ql-editor {
    height: 200px !important;
}

.modal-dialog {
    width: 75%;
}

.table {table-layout: fixed;}
.custom-table>thead {background: #a8b9d2;}
.custom-table>thead>tr>th {padding:15px 8px;border: none;color: #24292e;font-weight: 600;vertical-align: middle;}
.custom-table>tbody>tr{border-bottom: 1px solid #dddddd;}
.custom-table>tbody>tr>td {padding:15px 8px;vertical-align: middle;font-size:13px;}

.appointment-history-table>thead>tr>th:nth-child(1) {width: 200px;max-width: 200px;}
.appointment-history-table>thead>tr>th:nth-child(2) {width: 150px;max-width: 150px;}
.appointment-history-table>thead>tr>th:nth-child(3) {width: 150px;max-width: 150px;}
.appointment-history-table>thead>tr>th:nth-child(4) {width: 150px;max-width: 150px;}
.appointment-history-table>thead>tr>th:nth-child(5) {width: 200px;max-width: 200px;}
.appointment-history-table>thead>tr>th:nth-child(6) {width: 200px;max-width: 200px;}
.appointment-history-table>thead>tr>th:nth-child(7) {width: 100px;max-width: 100px; text-align: center}
.appointment-history-table>tbody>tr>td:nth-child(7) {text-align: center}
h4.modal-title {
    margin: 0px;
}
.cnt-min-height h4 {
    margin-bottom: 15px;
}
h4.header-bg {
    margin-bottom: 20px;
}