<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
        <div class="row" *ngIf="isCreateAppointmentVisible() || isAppointmentListVisible()">
            <div class="col-sm-12" *ngIf="isDJS && !isAppointmentNotRequired">
                <div class="col-sm-3" *ngIf="showFields">
                    <mat-form-field>
                        <mat-select placeholder="Intake Worker" [(ngModel)]="intakeworker"
                            (change)="onIntakeWorkerChanged()" required>
                            <mat-option *ngFor="let item of intakeWorkerList " value="{{item.userid}}">
                                {{item.username}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="showFields">
                    <mat-form-field>
                        <mat-select placeholder="Intake Worker Office Location" [(ngModel)]="workerLocation"
                            (change)="loadIntakeworkerBasicDetails()" required>
                            <mat-option *ngFor="let item of intakeWorkerLocationList "
                                value="{{item.userprofileaddressid}}">
                                <span matTooltip="{{item.city}}, {{item.state}}">
                                    {{item.address}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="showFields">
                    <mat-form-field>
                        <mat-select placeholder="Reason for Assignment" [(ngModel)]="assignment"
                            (change)="loadIntakeworkerBasicDetails()" required>
                            <mat-option *ngFor="let item of assignmentList " value="{{item.ref_key}}">
                                {{item.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h4> Appointments</h4>
            </div>
            <div class="col-sm-4 text-right btns-top">
                <button *ngIf="isCreateAppointmentVisible() && !isAppointmentNotRequired" type="submit" class="btn-pri"
                    (click)="onNewAppointment()">Create
                </button>

            </div>
            <!-- <div class="col-sm-12" *ngIf="isAppointmentListVisible()">
                <h4 class="site-color">Appointment List</h4>
            </div> -->
            <div class="col-sm-12 pad-top20" *ngIf="isPersonsAdded() && reason && reason.length > 0">
                <span class="pull-left mat-error">Intake Interview is not mandatory because Youth is,</span>
                <ul style="list-style-type:circle;">
                    <li style="display: list-item;" class="col-sm-12 mat-error" *ngFor="let data of reason">
                        {{data?.description}}</li>
                </ul>
            </div>
            <ng-container>
                <div class="col-md-12" *ngIf="isAppointmentListVisible()">
                    <div class="row person-wrap">
                        <div class="col-sm-3" *ngFor="let appointment of appointments; let i=index">
                            <div class="panel panel-default person-panel">
                                <div class="panel-heading">

                                    <div class="media">
                                        <div class="media-body">
                                            <h4>{{appointment.title}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body appointment-panel">
                                    <dl>
                                        <dt>Date</dt>
                                        <dd class="single-wrap"> {{appointment.appointmentDate | date:'MM/dd/yyyy hh:mm
                                                    aa'}}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>Intake Worker</dt>
                                        <dd>
                                            {{getIntakeWorkerName(appointment.intakeWorkerId)}}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>Persons</dt>
                                        <dd> <span *ngFor="let actor of appointment.actors">
                                                {{getPersonName(actor?.actorid)}} <br>
                                            </span>
                                        </dd>

                                    </dl>
                                    <dl>
                                        <dt>Status</dt>
                                        <dd>{{appointment.status}}</dd>
                                    </dl>
                                    <dl *ngIf="appointment.notes">
                                        <dt>Notes</dt>
                                        <dd [innerHTML]="appointment.notes" style="cursor: pointer;"
                                            class="editor-notes" data-toggle="modal"
                                            data-target="#complete-appointment-popup"
                                            (click)="openAppointmentComments(appointment)"></dd>

                                    </dl>
                                </div>
                                <div class="panel-footer">
                                    <ul class="list-unstyled icon-btn">
                                        <li>
                                            <button *ngIf="isCompleteVisible(appointment)" data-toggle="modal"
                                                data-target="#complete-appointment-popup"
                                                (click)="onCompleteAppointment(appointment)" matTooltip="Complete">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button *ngIf="isEditVisible(appointment)" data-toggle="modal"
                                                matTooltip="Edit" data-target="#intake-appointment"
                                                (click)="onEditAppointment(appointment)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button *ngIf="isHistoryVisible(appointment)"
                                                (click)="showHistory(appointment)" data-toggle="modal"
                                                matTooltip="History" data-target="#appointment-history-pu">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button *ngIf="isDeleteVisible(appointment)" data-toggle="modal"
                                                matTooltip="Delete" data-target="#delete-appointment-popup"
                                                (click)="confirmDelete(appointment)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <ng-template #appointmentHide> -->
            <!-- </ng-template> -->
            <div class="col-md-12" *ngIf="!isPersonsAdded()">
                <h5> <span class="danger">*</span> Please add persons to create appointment</h5>
            </div>
            <!-- <div class="col-md-12" *ngIf="!addedPersons || addedPersons?.length === 0">
    <div class="person-wrap">
    No Persons Added
    </div>
    </div> -->
        </div>
    </div>
</div>

<!--Create/Edit Appointment-->
<div class="modal fade in" id="intake-appointment" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Appointment</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="appointmentForm">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="header-bg">Appointment Details</h4>
                            <mat-form-field>
                                <mat-select placeholder="Title" formControlName="title" required>
                                    <mat-option (click)="selectAppointmentType(interview)"
                                        *ngFor="let interview of InterviewList" value="{{interview}}">{{interview}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="isCustomInterviewTitle">
                                <input type="text" matInput formControlName="customtitle" placeholder="Other Title"
                                    required>
                            </mat-form-field>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput appMaskDate required [matDatepicker]="picker" [min]="minDate"
                                            (click)="picker.open()" [max]="maxDate" (focus)="picker.open()"
                                            id="appointmentDate" formControlName="appointmentDate" placeholder="Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="time" required formControlName="appointmentTime" matInput
                                            placeholder="Appointment Time">
                                    </mat-form-field>
                                    <!-- <mat-form-field>
                                        <mat-select placeholder="Time" formControlName="appointmentTime" required>
                                            <mat-option *ngFor="let item of times" value="{{item}}">{{item}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>
                            </div>

                            <div>



                                <!--<mat-form-field>
                                    <textarea required matInput placeholder="Notes" formControlName="notes" [required]="isNotesRequired" rows="5"></textarea>
                                </mat-form-field>-->
                            </div>


                        </div>

                        <div class="col-md-4">
                            <h4 class="header-bg">Intake worker</h4>
                            <mat-form-field>
                                <mat-select placeholder="Intake Worker" formControlName="intakeWorkerId" required>
                                    <mat-option *ngFor="let item of intakeWorkerList " value="{{item.userid}}">
                                        {{item.username}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                        </div>
                        <div class="col-md-4">
                            <h4 class="header-bg">Involved Persons</h4>
                            <mat-selection-list formControlName="actors" dense required>
                                <mat-list-option *ngFor="let person of getAppointmentPerson(addedPersons)"
                                    [value]="person.Pid">
                                    <!-- <img matListAvatar src="assets/images/ic_silhouette.png" alt="Person">-->
                                    <h3 matLine>{{person.fullName}} </h3>

                                    <p matLine>
                                        Role: <span> {{getPersonRole(person)}} </span>
                                    </p>

                                    <p matLine *ngIf="person.RelationshiptoRA">
                                        Relation: <span> {{getPersonRelation(person)}}</span>
                                    </p>


                                </mat-list-option>
                            </mat-selection-list>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <quill-editor formControlName="notes" format="html" [placeholder]="notes"
                                [style]="{height: '200px'}" [readOnly]="isViewAppointment"></quill-editor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri" *ngIf="!isViewAppointment"
                                    (click)="createOrUpdateAppointment()">{{actionText}}</button>
                                <button class="btn-pri" *ngIf="isViewAppointment" (click)="openHistory()">Ok</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-appointment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this appointment? </p>

                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No</button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal"
                        (click)="deleteAppointmentConfirm()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--complete Confirm-->
<div class="modal fade " id="complete-appointment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" *ngIf="!readOnly"> Complete Appointment </h4>
                <h4 class="modal-title" *ngIf="readOnly"> Appointment Notes </h4>
            </div>
            <div class="modal-body">

                <!-- <mat-form-field>
                    <textarea required matInput placeholder="Notes" [(ngModel)]='completionNotes' rows="5"></textarea>
                </mat-form-field> -->
                <quill-editor [(ngModel)]="completionNotes" format="html" [placeholder]="notes" [readOnly]="readOnly"
                    [style]="{height: '200px'}"></quill-editor>
                <div class="text-right big-bot-space right-mspace-15 m-t-10">
                    <button type="button" *ngIf="!readOnly" value="Yes" class="btn-pri" name=""
                        (click)="appointmentCompleteConfirm()">
                        Save
                    </button>
                    <button type="button" *ngIf="readOnly" value="Ok" class="btn-pri" name="" data-dismiss="modal">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Appointment History-->
<div class="modal fade " id="appointment-history-pu" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Appointment History</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 m-b-20">
                    <div class="table-responsive">
                        <table class="table custom-table appointment-history-table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Scheduled By</th>
                                    <th>Intake Worker</th>
                                    <th>Persons Involved</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of appointmentHistoryObj">
                                    <td>{{item.title}}</td>
                                    <td>{{item.appointmentDate | date:'MM/dd/yyyy hh:mm aa'}}
                                    </td>
                                    <td>{{item.scheduledBy}}</td>
                                    <td>{{getIntakeWorkerName(item.intakeWorkerId)}}</td>
                                    <td>
                                        <span *ngFor="let actor of item.actors">
                                            {{getPersonName(actor?.actorid)}} <br>
                                        </span>
                                    </td>
                                    <td>
                                        <div [innerHTML]="item.notes" class="editor-notes"></div>
                                    </td>
                                    <td> <a (click)="viewAppointment(item)">
                                            <i class="fa fa-eye text-16"></i>
                                        </a></td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- <p class="no-datatxt"> No Items! </p> -->
                    </div>
                </div>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>