
<div class="Persons-Involved">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="goBack()">
      <span aria-hidden="true">X</span>
    </button>
    <h4 class="modal-title">Find Individual</h4>
  </div>
  <div class="modal-body">
    <div class="">
     
      <div class="tab-content" style="box-shadow:0 0 0 0;">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
