<div class="row">
  <div class="col-md-12 m-t-20 text-right">
    <button (click)="addYouth()" data-target="#assign-youth" data-toggle="modal" class="btn-pri">Add Youth</button>
  </div>
</div>

<div class="row m-t-20" id="youth-interview">
  <div class="col-md-12 cnt-min-height">
    <div class="table-responsive table-theme">
      <table class="table table-striped icon-action no-mar">
        <thead>
          <tr>
            <th>NAME</th>
            <th>DATE</th>
            <th>STATUS</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4">
              No Records added
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade in" id="assign-youth" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="IntakeAppointmentLabel">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Assign {{addbuttontext}}</h4>
      </div>
      <div class="modal-body ">
        <div>
          <mat-form-field>
            <mat-select placeholder="Select Site" [(ngModel)]="selectedsite">
              <mat-option *ngFor="let item of siteList" value="{{item.site_id}}">
                {{item.license_type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="table-responsive table-theme">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>cjams id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tbody *ngIf="assignedYouth?.length">
              <ng-container *ngIf="assignedYouth.length>0; else noItems">
                <tr *ngFor="let staff of assignedYouth">
                  <td>
                    <mat-checkbox class="m-t-20 ds-block"
                      (change)="toggleStaff($event.checked,staff)"></mat-checkbox>
                  </td>
                  <td>{{staff.cjamspid}}</td>
                  <td>{{staff.firstname}}</td>
                  <td>{{staff.lastname}}</td>
                  <td>{{staff.gendertypekey}}</td>
                </tr>
              </ng-container>
            </tbody>
            <ng-template #noItems>No Items!</ng-template>
          </table>
        </div>
        <div class="row">
          <div class="col-md-12 m-t-10">
            <div class="pull-right">
              <button class="btn-pri" (click)="assignStaff()">Assign Youth</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>