<div class="m-t-10">
    <div class="box-grid-main clsMinHeight clearfix">
        <div class="row">
            <div class="col-md-6 m-t-20 ">
                <h4>Child Specific Agreement</h4>
            </div>
            <div *ngIf="!isViewCSAForm" class="col-md-6 m-t-20 text-right">
                <button (click)="openCSAForm()" class="btn-pri">Add</button>
            </div>
        </div>
        <div *ngIf="isViewCSAForm" class="m-1-10">
            <div>
                <form [formGroup]="csaAgreementForm">
                    <div class="row">
                        <div class="col-sm-12">
                           <div class="col-sm-3 m-t-20">
                                <mat-form-field>
                                    <mat-select formControlName="agreementtype" placeholder="Agreement Type" required>
                                        <mat-option *ngFor="let agreement of agreementList" value="{{agreement}}">{{agreement}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3 m-t-20">
                                <mat-form-field>
                                        <mat-select formControlName="csafiscalyear_enddt" placeholder="CSA Fiscal Year End  Date (mm/dd)" >
                                            <mat-option *ngFor="let dayMonth of dayMonthList" value="{{dayMonth}}">{{dayMonth}}
                                            </mat-option>
                                        </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6" >
                                    <mat-form-field>
                                            <textarea matInput formControlName="csanarrative" placeholder="Narrative"></textarea>
                                    </mat-form-field>
                            </div>
                            <div class="col-sm-12"></div>
                            <div class="col-sm-6" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Added Child</h4>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <button [disabled]="isViewOnly" class="" data-toggle="modal" data-target="#search-person"
                                            class="btn-pri ">
                                            Add Child
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12 m-t-20">
                                <div class="table-responsive table-theme">
                                        <table class="table table-striped icon-action no-mar">
                                            <thead>
                                                <tr>
                                                    <th>Child Name</th>
                                                    <th>Cjams Pid</th>
                                                    <th>Gender</th>
                                                    <!-- <th>Rate</th> -->
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="selectedChild && selectedChild.length">
                                                    <tr *ngFor="let person of selectedChild;let i = index;">
                                                        <ng-container>
                                                            <td>{{person.firstname}} {{person.middlename}}  {{person.lastname}}</td>
                                                            <td>{{person.cjamspid}}</td>
                                                            <td>{{(person?.gender === 'M') ? 'Male' : ((person?.gender === 'F') ? 'Female'
                                                                    : 'Unknown')
                                                                    }}</td>
                                                            <!-- <td>
                                                                     <button *ngIf="!person.rate" class="btn btn-pri" data-target="#provider-rates" (click)="selectPersonIndex(i)" data-toggle="modal"  type="button" >Add Rate</button>
                                                                    <button *ngIf="person.rate"  class="no-bg" data-target="#provider-rates" (click)="editRateData(person.rate)" data-toggle="modal"  type="button" ><i 
                                                                            class="fa fa-pencil" matTooltip="Edit Rate" aria-hidden="true"></i></button>
                                                                    <button *ngIf="person.rate" data-target="#provider-rates" (click)="viewRateData(person.rate)" data-toggle="modal"  class="no-bg"  type="button" ><i 
                                                                                class="fa fa-eye" matTooltip="View Rate" aria-hidden="true"></i></button>
                                                            </td> -->
                                                            <td>  <button [disabled]="isViewOnly" class="no-bg" (click)="deleteChild(i)" type="button" ><i 
                                                                class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button></td>
                                                        </ng-container>
                                                    </tr>
                                                </ng-container>
                                                <tr *ngIf="!(selectedChild && selectedChild.length)">
                                                        <td colspan="6">No child Added.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12"></div> -->

                            <div class="col-sm-6">
                                <div class="row ">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>Documents</h4>
                                                </div>
                                                <div class="col-md-6 text-right print-none" [ngClass]="{'disabledField': isViewOnly}">
                                                        <label class="btn-pri btn-bs-file cursor-pointer" >
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                            <input type="file" (ngxf-select)="uploadFile($event)"
                                                                [ngxf-validate]="{ size: { min: 5 } }" multiple />Upload</label>
                                                    </div>
                                            </div>
                                            <div class="m-t-20 m-b-20">
                                                <div >
                                                    <div class="table-responsive table-theme">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Document Name</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngIf="uploadedFile?.length; else elseTemplate">
                                                                    <tr *ngFor="let attachment of uploadedFile;let index =index">
                                                                        <td>
                                                                            <ng-container *ngIf="attachment?.name; else elseNameTemplate">
                                                                                {{attachment?.name}}
                                                                            </ng-container>
                                                                            <ng-template #elseNameTemplate>
                                                                                {{attachment?.title}}
                                                                            </ng-template>
                                                                            <div class="progress" *ngIf="attachment.percentage">
                                                                                <div class="progress-bar progress-bar-primary"
                                                                                    role="progressbar"
                                                                                    attr.aria-valuenow="{{attachment.percentage}}"
                                                                                    aria-valuemin="0" aria-valuemax="100"
                                                                                    [ngStyle]="{width:attachment.percentage+'%'}">
                                                                                    <span class="sr-only">{{attachment.percentage}}% Complete
                                                                                        (success)</span>
                                                                                </div>
                                                                            </div>
                        
                                                                        </td>
                                                                        <td class="action-icons">
                                                                            <div>
                                                                                <a *ngIf="attachment.s3bucketpathname" matTooltip="Download"
                                                                                    (click)="downloadFile(attachment.s3bucketpathname)">
                                                                                    <i class="fa fa-download font-16" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a class="m-l-10" *ngIf="!isViewOnly" matTooltip="Delete"
                                                                                    (click)="confirmDeleteAttachment(index)">
                                                                                    <i class="fa fa-trash font-16" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                        
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                                <ng-template #elseTemplate>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            No Records Found!
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <button (click)="closeCSAForm()" class="sec-btn">Cancel</button>
                            <button *ngIf="!isViewOnly" [disabled]="(csaAgreementForm.invalid || csaAgreementForm.pristine)  && !isFileUploaded"
                                (click)="saveCSAAgreement('draft')" class="btn-pri">
                                {{ isUpdate ? 'Update Draft' : 'Save as Draft' }}
                            </button>
                            <button *ngIf="!isViewOnly" [disabled]="(csaAgreementForm.invalid || csaAgreementForm.pristine ) && !isFileUploaded"
                                (click)="saveCSAAgreement('completed')" class="btn-pri">
                               Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="!isViewCSAForm">
            <div class="col-md-12 m-t-20">
                <div class="table-responsive table-theme">
                    <table class="table table-striped icon-action no-mar">
                        <thead>
                            <tr>
                                <th>Agreement Type</th>
                                <th>CSA Fiscal Year End date</th>
                                <!-- <th>Child Name</th> -->
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="csaData && csaData.length">
                                <tr *ngFor="let data of csaData">
                                    <ng-container>
                                        <td> {{data.agreementtype}} </td>
                                        <td> {{data.csafiscalyear_enddt | date: 'MM/dd/yyyy'}} </td>
                                        <!-- <td>
                                            <span *ngIf="data.person && data.person.length">
                                                <span *ngFor="let person of  data.person">
                                                    {{person.personname}}<br>
                                                </span>
                                            </span>
                                        </td> -->
                                        <td>{{data.csastatus}}</td>
                                        <td class="action-column">
                                            <button class="no-bg" (click)="viewCSA(data)" type="button"><i class="fa fa-eye"
                                                    matTooltip="View" aria-hidden="true"></i></button>
                                            <button *ngIf="data.csastatus !== 'completed'" class="no-bg" (click)="editCSA(data)" type="button"><i
                                                    class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                                            <button *ngIf="data.csastatus !== 'completed'" class="no-bg" (click)="deleteCSA(data)" type="button" ><i 
                                                    class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                            <tr *ngIf="!(csaData && csaData.length)">
                                <td colspan="6">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                    [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="provider-rates" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="closewindow()" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">{{FormMode}}  Rate</h4>
                </div>
                <div class="modal-body ">
    
                    <form [formGroup]="ratesForm">
                        <div class="row">
    
    
                            <div class="col-md-5">
                                <!-- <mat-form-field>
                                      <input type="text" matInput formControlName="start_date" placeholder="Start Date">
                                      <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                      <mat-datepicker #start_date [startAt]="startDate"></mat-datepicker> 
      
                                  </mat-form-field> -->
                                <div class="col-md-5">
                                    <!-- <mat-form-field>
                                                      <input matInput required [matDatepicker]="picker" [min]="minDate" (click)="picker.open()"
                                                           (focus)="picker.open()" id="contract_start_date"
                                                          formControlName="contract_start_date" placeholder="End Date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field> -->
    
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                            formControlName="start_dt">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                                    </mat-form-field>
    
    
                                </div>
    
    
                                <div class="col-md-5">
                                    <!-- <mat-form-field>
                                                          <input matInput required [matDatepicker]="picker" [min]="minDate" (click)="picker.open()"
                                                               (focus)="picker.open()" id="contract_end_date"
                                                              formControlName="contract_end_date" placeholder="Date">
                                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                          <mat-datepicker #picker></mat-datepicker>
                                                      </mat-form-field> -->
    
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                            formControlName="end_dt">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
    
                            <div class="col-md-5">
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="number" (change)="changePerdiumRate($event)" matInput formControlName="per_diem_rate"
                                            placeholder="Per diem rate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="monthly_rate"
                                            placeholder="Month Rates">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="col-md-5">
                                <mat-form-field>
                                    <mat-select input type="text" matInput formControlName="license_type"  placeholder="Available License Types">
                                    <mat-option *ngFor="let item of licenseTypes " value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                        </mat-select>
    
                                </mat-form-field>
                        </div> -->
                            <div class="col-md-5" *ngIf="licensetyperates && licensetyperates.data">
                                <mat-form-field>
                                    <mat-select input type="text" matInput formControlName="rate_code"
                                        placeholder="Available Rate Codes" (change)="changePerdiumRate($event)">
                                        <mat-option *ngFor="let item of licensetyperates.data" value="{{item.rate_code}}">
                                            {{item.rate_code}}
                                        </mat-option>
                                    </mat-select>
    
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input type="number" matInput formControlName="annual_rate" placeholder="Annual Rates">
                                </mat-form-field>
                            </div>
    
    
                        </div>
    
                        <div class="row">
                            <div class="col-md-12 m-t-10">
                                <div class="pull-right">
                                    <button class="btn-pri" *ngIf="FormMode!=='View'" (click)="createNewRates(ratesForm.value)"
                                        (change)="Change($event)">{{FormMode=="Edit"?"Update":"Add"}} </button>
                                </div>
                            </div>
                        </div>
    
                    </form>
    
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="search-person" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Select Child </h4>
            </div>
            <div class="modal-body">
                <div id="Profile-info m-t-50" class="container-fluid" *ngIf="actionType === 'search'">

                    <form [formGroup]="involvedPersonSearchForm">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="firstname"
                                        placeholder="First Name">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="middlename"
                                        placeholder="Middle Name">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="lastname"
                                        placeholder="Last Name">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" maxlength="11" mask="000-00-0000" matInput
                                        placeholder="SSN" formControlName="ssn">
                                    <mat-error>Please enter a valid ssn.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- <mat-form-field>
                                    <input matInput formControlName="dob" placeholder="DOB" [matDatepicker]="picker1" (click)="picker1.open()" id="date1"/>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field> -->
                                <common-date-picker formControlName="dob" placeholder="DOB" id="date1">
                                </common-date-picker>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="CJAMS PID"
                                        formControlName="cjamspid">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="CHESSIE ID"
                                        formControlName="cjisnumber">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="DL NO." formControlName="dl">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-right">
                            <!----<input class="btn-bg" type="button" (click)="clearPersonSearch()" value="Clear" />-->
                            <button class="sec-btn" type="button"
                                [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid"
                                (click)="clearPersonSearch()">Clear</button>

                            <button class="btn-pri" type="submit"
                                [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid"
                                (click)="searchInvolvedPersons(involvedPersonSearchForm.value, 'new')">Find</button>
                        </div>
                    </form>
                </div>

                <div class="Search-res m-t-10 clearfix" *ngIf="actionType === 'select'">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="mt-20">Search Result</h4>
                            </div>
                            <div class="col-sm-3">
                                <button class="no-bg pull-right" type="submit" (click)="clearFilter()"><i
                                        class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="personSearchResult; let involvedPersonSearchResponses">
                        <div class="outer mt-20">
                            <div class="table-responsive table-theme bg-white">
                                <table class="table customTable firsttable"
                                    *ngIf="involvedPersonSearchResponses.length > 0" sortable-table
                                    (sorted)="onSortedPerson($event)">
                                    <thead>
                                        <tr>

                                            <th></th>
                                            <th sortable-column="firstname">First name</th>
                                            <th sortable-column="middlename">Middle name</th>
                                            <th sortable-column="lastname">Last Name</th>
                                            <th sortable-column="ssn">SSN</th>
                                            <th sortable-column="dob">DOB</th>
                                            <th sortable-column="gender">gen</th>
                                            <th sortable-column="cjamspid">CJAMS ID</th>
                                            <th sortable-column="assistpid">Chessie ID</th>
                                            <th sortable-column="dl">DL No</th>
                                            <th sortable-column="mdmid">MDM ID</th>
                                            <th>Source</th>
                                            <th sortable-column="priors">prior history</th>
                                            <!-- <th>relation type/ Name</th> -->
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;"
                                        [ngClass]="{'highlight' : row.exactmatch }">
                                        <tr>

                                            <td>
                                                <mat-checkbox [checked]="isPersonExists(row?.cjamspid)"
                                                    (change)="selectPerson($event,row)"></mat-checkbox>
                                            </td>
                                            <td>{{row?.firstname}}</td>
                                            <td>{{row?.middlename}}</td>
                                            <td>{{row?.lastname}} {{row?.suffix}}</td>
                                            <td>{{row?.ssn | mask:showSsnMask}}</td>
                                            <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
                                            <td>{{row?.gendertypekey}}</td>
                                            <td>{{row?.cjamspid}}</td>
                                            <td>{{row?.assistpid}}</td>
                                            <td>{{row?.dl}}</td>
                                            <td>{{row?.mdm_id}}</td>
                                            <td>{{row?.source}}</td>
                                            <td *ngIf="row.priors >= 1">
                                                <a (click)="searchPersonDetailsRow(rowId, row)">Yes </a>
                                            </td>
                                            <td *ngIf="row.priors <= 0">No</td>
                                            <!-- <td>{{(row?.relations && row?.relations.length > 0) ? getPrimaryRelationname(row?.relations) : ''}}</td> -->
                                            <!-- <td>
                                                  <a (click)="openPersonInDetail(row,'view')" title="View">
                                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                                      </a>
                                                      <a *ngIf="isEditable" (click)="openPersonInDetail(row, 'edit')"  title="Edit">
                                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                                      </a> </td> -->
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="" *ngIf="involvedPersonSearchResponses.length === 0">
                                    <p>No Results match your criteria.
                                    </p>
                                    <!-- <button type="button" class="btn-pri" (click)="addNewPerson()">Add New</button> -->
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="col-sm-12 text-center mt-20">
                        <div *ngIf="totalRecords > 10">
                            <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="5" [itemsPerPage]="5"></pagination>
                        </div>
                    </div>


                </div>

                <div class="text-right big-bot-space right-mspace-15" *ngIf="actionType === 'select'">
                    <button type="button" value="No" class="btn-bg" name="" (click)="backtoSearch()"> Back to Search
                    </button>
                    <button [disabled]="selectedPersons && !selectedPersons.length" type="button" value="Yes"
                        class="btn-pri" name="" (click)="selectChild()" data-dismiss="modal"> Select </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade custom-modal " id="delete-csa" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Delete child specific agreement </h4>
            </div>
            <div class="modal-body">

                Are you sure want to delete ?

                <div class="text-right big-bot-space right-mspace-15" >
                    <button type="button" value="No" class="btn-bg" name="" data-dismiss="modal" (click)="resetCSAForm()" > Cancel</button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="confirmDelete()" data-dismiss="modal" > Ok </button>
                </div>
            </div>
            </div>
        </div>
</div>

<div class="modal fade " id="delete-attachment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this attachment? </p>

                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No</button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal"
                        (click)="deleteAttachment()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
