.cont-field {
    position: relative;
}

.cont-field ul {
    position: absolute;
    border: 1px solid #D8D8D8;
    width: 100%;
    top: 33px;
    z-index: 99999;
    background: #fff;
    list-style: none;
}

.cont-field ul li {
    list-style: none;
    cursor: pointer;
}

.cont-field ul {
    padding: 0;
}

.cont-field ul li {
    padding: 5px;
    background: #fcfcfc;
    border-bottom: 1px solid #f2f2f2;
}

.scrolling thead th:nth-child(1),
.scrolling thead th:nth-child(2) {
    top: 20px;
}

.select-icon .ng-select {
    margin-bottom: 18px;
}

.tab-content.no-shadow {
    box-shadow: none;
    padding: 0 15px;
}

.person-panel {
    border: 1px solid #D8D8D8;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0;
}

.person-panel .panel-heading {
    width: 100%;
    color: #00A2FD;
}

.person-panel .panel-heading h4 {
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 4px;
}

.person-panel>span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}

.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}

.person-panel .panel-body {
    min-height: 210px;
    max-height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
}

.person-panel .media-right {
    vertical-align: top;
    min-width: 50px;
    margin: 0 auto;
}

// .person-panel .media-body ul li a i {
//     font-size: 20px;
//     color: #777;
//     padding: 5px;
// }
.person-panel .panel-heading {
    padding: 10px;
    background: #fff;
    // border-bottom: 2px solid #e2e2e2;
}

.person-panel .panel-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .panel-heading span.f-size {
    padding-left: 30px;
    font-size: 13px;
}

span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}

.person-panel .panel-body dl dt,
.person-panel .panel-body dl dd {
    font-weight: 600;
    color: #000;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.person-panel .panel-body dl {
    margin-bottom: 8px;
}

.person-panel .panel-body dl dd {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.person-panel .panel-footer {
    background: #fff;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #D8D8D8;
    color: #00A2FD;
}

.panel-footer ul li {
    text-align: left;
}

.panel-footer a {
    padding-right: 5px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-15 {
    margin-top: 15px;
}

.theme {
    color: #00A2FD;
}

// .person-wrap {
//     width: 100%;
//     float: left;
//     // max-height: 428px;
//     // overflow-y: auto;
// }

.program-wrap {
    background-color: #CBDCFF !important;
    cursor: pointer !important;
}

.badge {
    background-color: #FCCFC8 !important;
    font-weight: bolder !important;
    color: #971702 !important;
}

.cus-tab-section li {
    width: 12%;
    text-align: center;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.added-adds {
    padding-left: 50px;
}

.added-adds table thead {
    background: #f1f2f4;
}

.cus-tab-section li:last-child {
    width: 15%;
    // text-align: right;
    // float: right;
}

.added-adds table th {
    font-weight: 600;
}

.added-adds table th:nth-child(2) {
    width: 100px;
}

.added-adds table th:last-child {
    width: 85px;
}

.added-adds table td:last-child {
    text-align: center;
}

.added-adds table td:last-child .text-22 {
    font-size: 15px;
}

.media-left h4 {
    margin-top: 0px !important;
}

.panel-footer .fa-edit:before,
.panel-footer .fa-pencil-square-o:before {
    line-height: 30px;
}

.mt-lbl {
    padding: 0 0 10px;
}

.mat-radio-group {
    padding: 0;
}

.cus-tab-section li a {
    padding: 0 0 5px;
}

.modal-header {
    padding: 10px 15px;
}

.modal-dialog {
    margin: 10px auto;
}

.modal-height-body {
    height: 475px;
    overflow: hidden;
    overflow-y: auto;
}

.before-upload {
    position: relative;
}

.btn-bs-file input[type='file'] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    outline: none;
    cursor: inherit;
}

// for cw
.btn-bs-file-cw input[type='file'] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    // height: 120px;
    top: 0;
    left: 0;
    outline: none;
    cursor: inherit;
}

.btn-no-color {
    background: transparent;
    border: none;
    color: #333333;
    font-weight: 800;
    padding: 0;
}

.upload-profile {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 15px #dcd7d7;
    margin-bottom: 15px;
    // min-height: 280px;
    min-height: 230px;
}

//for CW
.upload-profile-cw {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 15px #dcd7d7;
    margin-bottom: 15px;
    // min-height: 280px;
    min-height: 130px;
}

.upload-img image-cropper img.source-image {
    width: 160px;
    border-radius: 50%;
    height: 160px;
}

.upload-img i.fa-cloud-upload {
    font-size: 22px;
    vertical-align: bottom;
    padding-right: 8px;
}

.upload-body {
    padding-bottom: 5px;
    text-align: center;
}

.upload-body p {
    margin-bottom: 15px;
}

.after-upload {
    text-align: left;
}

.after-upload p {
    font-size: 13px;
    margin-bottom: 5px;
}

.b-text {
    font-weight: 600;
}

.upload-edit-icon {
    margin-bottom: 0;
    background: #f9f9f9;
    position: absolute;
    right: 16px;
    top: 1px;
    padding: 10px;
}

// for CW
.upload-edit-icon-cw {
    margin-bottom: 0;
    background: #f9f9f9;
    position: absolute;
    top: 1px;
}

.profile-img-cw {
    width: 75px;
    margin-left: 16%;
}

.upload-edit-icon li a i {
    font-size: 18px;
}

.danger-reason {
    font-size: 13px;
    color: red;
}

.danger-reason span {
    color: #000;
}

.danger-header thead tr {
    background: #ff8f8f;
    color: #fff;
}

.after-upload .media-right,
.before-upload .media-right {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    display: inherit;
    padding-left: 0;
}

// for CW
.after-upload .media-right-cw,
.before-upload .media-right-cw {
    margin: 0 auto;
    width: 75px;
    height: 75px;
    display: inherit;
    padding-left: 0;
}

.after-upload .media-right img,
.before-upload .media-right img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

// for CW
.after-upload .media-right-cw img,
.before-upload .media-right-cw img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.red {
    color: red;
}

.disabled-link {
    border: 0px solid #949494;
    background: #eeeeee;
    cursor: not-allowed;
    color: #696969;
    padding: 7px 15px;
}

.bdr-btm {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px 0;
    position: relative;
}

.peson-role-delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.peson-role-delete i {
    font-size: 16px;
    color: #333;
}

///////////////////////////////////////////////////////@at-root

.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section>li.active>a:hover,
.cus-tab-section li.active>a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active>a,
.cus-tab-section .nav-tabs>li.active>a:hover {
    border: none;
}

.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #00A2FD;
    display: block;
    font-size: 12px;

}

.cus-tab-section li:after {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 115px);
    right: 0;
}

.cus-tab-section li:before {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 115px);
    left: 0;
    z-index: 999;
}

.cus-tab-section li:first-child:before {
    height: 0;
}

.cus-tab-section li:last-child:after {
    height: 0;
}

.cus-tab-section li a {
    padding: 10px 0;
}

.cus-tab-section li a:hover {
    background: #fff;
}

.cus-tab-section li.active a {
    font-weight: 700;
}

.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 5px 6px;
    margin-top: 10px;
}

.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.cus-tab-section li.active .circle:after {
    background: none;
    display: none;
    /* content: "\e001"; */
}

.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}

.cus-tab-section li .fa-pencil:before {
    content: none;
}

.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.modal .Persons-Involved .nav-tabs {
    background: #fff;
}

.modal .Persons-Involved .nav-tabs>li a:after {
    background: none;
}

.person-role-height {
    position: absolute;
    top: 50px;
}

.tab-content .modal-footer {
    padding: 15px 0 0;
}

// .person-panel .person-role-height {height: 53px;}
.designation {
    color: #b3aa92;
    font-size: 13px;
}

.person-table-act {
    padding-top: 5px;
}

.person-table-act a {
    margin-right: 5px;
}

.person-panel .panel-body {
    padding: 10px;
}

.highlighted-person-card {
    background-color: lightblue;
}

p.designation {
    max-width: 200px;
}

.involved-person-tables th {
    font-weight: 600;
    color: #000;
}

.panel-default>.panel-heading {
    height: 65px;
}

.theme-age {
    width: 70px;
}

table td i:before {
    color: #00A2FD;
    margin-left: 10px;
}

.m-t-20.formal {
    margin-top: 35px;
}

.deleteBtn {
    cursor: not-allowed;
    pointer-events: none;
}

.area {
    color: #0d3e99;
    background: #e8f0fa;
    padding: 3px;
    font-weight: 600;
    border-radius: 15px;
    min-width: 70px; 
    height: 25px;
    text-align: center;
    display: block;
    max-width:150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Commented as this is introducing UI Alignment Issues that are critical.
// .custom-wid {
//     width:1025px !important;
// }

.assignlist {
    min-height: 150px;
    height: 200px;
    overflow: auto;
}

.program-wrap.nopointer {
    cursor: default !important;
}

.panel-footer .fa-edit:before, 
.panel-footer .fa-pencil-square-o:before {
    line-height: 24px;
}

.panel .panel-heading .media-body {
    width: 81%;
    float: left;
}

.panel .panel-heading .media-body h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 34px;
}
#add-program-assignment .form-group {height: 50px;}

.evpa_primary_color {
	color:	#00A2FD;
}

.evpa_error_color {
	color: #f44336;
}