<form onSubmit="return false;" [formGroup]="guardianshipFormGroup">
  <div class="row" style="background: #e7fcff;">
    <div class="left-side-filter" style="margin: 15px;">
      <h5>Search Filter</h5>
      <mat-form-field>
        <input matInput placeholder="Client Id" value="" name="cleintid" formControlName="clientid">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Guardianship Id" value="" name="guardianshipid" formControlName="guardianshipid">
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Client Name" value="" name="clientname" formControlName="clientname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Provider Id" value="" name="providerid" formControlName="providerid">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Provider Name" value="" name="providername" formControlName="providername">
      </mat-form-field>
      <hr class="h-row">
      <h5>Disclosure Date</h5>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Start" name="disclosuredatefrom" formControlName="disclosuredatefrom">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="End" name="disclosuredateto" formControlName="disclosuredateto">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <h5>Assistance Start Date</h5>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Start" name="assistancestartdatefrom" formControlName="assistancestartdatefrom">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker3" placeholder="End" name="assistancestartdateto" formControlName="assistancestartdateto">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <h5>Assistance End Date</h5>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker4" placeholder="Start" name="assistanceenddatefrom" formControlName="assistanceenddatefrom">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker5" placeholder="End" name="assistanceenddateto" formControlName="assistanceenddateto">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <hr class="h-row">
      <h5>Location</h5>
      <mat-form-field>
        <input matInput placeholder="Address" value="" name="address" formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" value="" name="city" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zipcode" value="" name="zip" formControlName="zip">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" value=""  name="county" formControlName="county">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Region" value="" name="region" formControlName="region">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" value="" name="phonenumber" formControlName="phonenumber" mask="(000) 000-0000">
      </mat-form-field>
      <button class="btn btn-pri pull-right mt-20" (click)="searchGuardianship(1,guardianshipFormGroup.value)">Go</button>
      <button class="btn btn-sec pull-right mt-20" (click)="clearSearch()">Clear</button>
    </div>
  </div>
</form>