<!-- Decision Tab -->
<div>
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div [formGroup]="decisionFormGroup" class="col-sm-4">
          <div class="panel panel-default decision-panel min-height">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <h4 class="text-uppercase">Recommendation</h4>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <mat-form-field>
                <mat-select placeholder="Select Status" required formControlName="status">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let status of statusDropdownItems" value="{{status.value}}">{{status.text}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <textarea type="text" formControlName="reason" required matInput placeholder="Recommendations"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="isFinalDecisoin">
          <div class="panel panel-default decision-panel min-height">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <h4 class="text-uppercase">Signature</h4>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <signature-field [(ngModel)]="signimage"></signature-field>
            </div>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="isFinalDecisoin">
          <button (click)="uploadAttachment()" class="btn btn-pri">Upload Signature</button>
        </div>
        <div class="col-sm-12" *ngIf="isFinalDecisoin">
          <button [disabled]="disSubmit" (click)="submitDecision()" class="btn btn-pri" >Submit Decision</button>
        <h3><br></h3>
        </div>
        <div class="col-sm-12" *ngIf="!isFinalDecisoin">
          <button type="submit" class="btn-pri"  (click)="submitAndAssign()">Sumbit and Assign for Tier Approval</button>
          <h3><br></h3>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Tier approval table -->
<div class="row">
  <div class="col-sm-6 table-responsive">
    <h3>Decisions</h3>
    <table class="table customTable firsttable">
      <thead>
        <tr>
          <th>From Person</th>          
          <th>Comments</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let decision of decisions">
          <td>{{decision.fromuser}}</td>          
          <td>{{decision.remarks}}</td>
          <td>{{decision.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- Ruoting User Modal -->
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Route Case</h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25">
          <ul class="nav nav-pills">
            <li class="active">
              <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
            </li>
            <li>
              <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
            </li>
          </ul>
          <div class="tab-content boxgrid">
            <div class="tab-pane active" id="caseassign-caseworker">
              <div class="">
                <div class="bs-example">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>NAME</th>
                        <th *ngIf="!isSupervisor">CASE LOAD</th>
                        <th *ngIf="!isSupervisor">AVAILABILITY</th>
                        <th *ngIf="!isSupervisor">ZIP CODE</th>
                        <th *ngIf="isSupervisor">AGENCY</th>
                        <th>TYPE OF WORKER</th>
                        <th>UNIT</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="getUsersList; let getlist">
                      <ng-container *ngIf="getlist.length>0; else noItems">
                        <tr *ngFor="let item of getlist">
                          <td>
                            <label class="control control--radio">
                              <input type="radio" name="selectedPerson" (click)="selectPerson(item)">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>{{item.username}} </td>
                          <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                          <td *ngIf="!isSupervisor">{{item.available}}</td>
                          <td *ngIf="!isSupervisor">{{item.homelocationcode}}</td>
                          <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                          <td>{{item.userrole}}</td>
                          <td>{{item.teamname}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <ng-template #noItems>No Items!</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="assignUser()">ASSIGN</button>
      </div>
    </div>
  </div>
</div>