<div class="row">
  <div class="col-sm-6">
    <div class="fm-box">
      <label>Name:</label>
      <div class="fm-box-form">
        <input type="text" name="" class="form-control fm-style" placeholder="">
      </div>
    </div>
    <div class="fm-box">
      <label>{{componentConfig.LabelNameTitle}}:</label>
      <div class="fm-box-form">
        <select class="form-control fm-style w-select">
          <option>Select</option>
        </select>
      </div>
    </div>
    <div class="fm-box">
      <label class="control control--checkbox">On Demand Mapping:
        <input type="checkbox">
        <div class="control__indicator"></div>
      </label>
    </div>
    <div class="fm-box">
      <label>Work Load Weight:</label>
      <div class="fm-box-form fm-narrate">
        <textarea class="form-control fm-style" placeholder="Start writing from here.."></textarea>
      </div>
    </div>
    <div class="fm-box">
      <label>{{componentConfig.LabelDescriptionTitle}}:</label>
      <div class="fm-box-form fm-narrate">
        <textarea class="form-control fm-style" placeholder="Start writing from here.."></textarea>
      </div>
    </div>
    <div class="fm-box">
      <label>Help Text:</label>
      <div class="fm-box-form fm-narrate">
        <textarea class="form-control fm-style" placeholder="Start writing from here.."></textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-letter-tab mrg-top0">
    <ul class="nav nav-tabs mapping-nav" role="tablist">
      <li role="presentation" class="active">
        <a href="#activity-goals" aria-controls="review-configuration" role="tab" data-toggle="tab">Allegation Goals</a>
      </li>
      <li role="presentation">
        <a href="#activity-tasks" aria-controls="edl-review-results" role="tab" data-toggle="tab">Allegation Tasks</a>
      </li>
    </ul>
    <div class="tab-content mrg-top25">
      <div role="tabpanel" class="tab-pane active" id="activity-goals">
        <div class="fm-box">
          <label>Mapping Category:</label>
          <div class="fm-box-form">
            <select class="form-control fm-style w-select">
              <option>Select</option>
            </select>
          </div>
        </div>
        <div class="pull-right">
          <button type="button" value="Add" class="btn-pri" name="">Add</button>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive mrg-top25">
          <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Regain control of assets</td>
                <td>
                  <ul class="list-unstyled list-inline pull-right">
                    <li data-toggle="tooltip" data-placement="top" title="Edit">
                      <a href="#" data-toggle="modal" data-target="#myModal-activity-mapping-edit">Details</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Delete">
                      <a href="#">
                        <img src="assets/images/form-letter/delete-icon.png">
                      </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Top">
                      <a href="#">
                        <img src="assets/images/form-letter/entry-up.png">
                      </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Bottom">
                      <a href="#">
                        <img src="assets/images/form-letter/entry-down.png">
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="activity-tasks">
        <div class="fm-box">
          <label>Mapping Category:</label>
          <div class="fm-box-form">
            <select class="form-control fm-style w-select">
              <option>Select</option>
            </select>
          </div>
        </div>
        <div class="pull-right">
            <button type="button" value="Add" class="btn-pri" name="">Add</button>
          </div>
        <div class="clearfix"></div>
        <div class="table-responsive mrg-top25">
          <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Regain control of assets</td>
                <td>
                  <ul class="list-unstyled list-inline pull-right">
                    <li data-toggle="tooltip" data-placement="top" title="Edit">
                      <a href="#" data-toggle="modal" data-target="#myModal-activity-mapping-edit">Details</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Delete">
                      <a href="#">
                        <img src="assets/images/form-letter/delete-icon.png">
                      </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Top">
                      <a href="#">
                        <img src="assets/images/form-letter/entry-up.png">
                      </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Bottom">
                      <a href="#">
                        <img src="assets/images/form-letter/entry-down.png">
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 mrg-top25">
    <div class="pull-right">
      <button type="button" value="Cancel"  class="btn-bg" name="">Cancel</button>
      <button type="button" value="Save" class="btn-pri" name="">Save</button>
    </div>
  </div>
</div>