<form [formGroup]="legalActionHistoryForm" class="m-t-30">
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <input type="text" matInput placeholder="Petition ID" formControlName="petitionID">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input type="text" matInput placeholder="Complaint ID" formControlName="complaintID">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="Scheduled Hearing Type" formControlName="hearingType">
          <mat-option *ngFor="let item of hearingTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input type="text" matInput placeholder="Worker" formControlName="worker">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (click)="picker.open()" appMaskDate [matDatepicker]="picker" placeholder="Hearing Date" formControlName="hearingDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="Court Actions" multiple (change)="selectCourtActionType($event.value)" formControlName="courtActions">
          <mat-select-trigger>
            {{courtActionDescription? courtActionDescription[0] : ''}}
            <span *ngIf="courtActionDescription?.length > 1" class="example-additional-selection">
              (+{{courtActionDescription.length - 1}} {{courtActionDescription?.length ===
              2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let item of courtActions$ | async" [value]="item.value">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-select multiple placeholder="Court Order" (change)="selectCourtOrderType($event.value)" formControlName="courtOrder">
          <mat-select-trigger>
            {{courtOrderDescription? courtOrderDescription[0] : ''}}
            <span *ngIf="courtOrderDescription?.length > 1" class="example-additional-selection">
              (+{{courtOrderDescription.length - 1}} {{courtOrderDescription?.length ===
              2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let item of courtOrders$ | async" [value]="item.value">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (click)="picker1.open()" appMaskDate [matDatepicker]="picker1" placeholder="Court Date" formControlName="courtDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (click)="picker2.open()" appMaskDate [matDatepicker]="picker2" placeholder="Termination Date"
          formControlName="terminationDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (click)="picker3.open()" appMaskDate [matDatepicker]="picker3" placeholder="Adjudication Date"
          formControlName="adjudicationDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="clearfix">
        <mat-select placeholder="Adjudication Decision" formControlName="adjudicationDecision">
          <mat-option *ngFor="let item of adjudicatedDecision$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="clearfix">
        <mat-select placeholder="Adjudicated Offense" formControlName="adjudicatedOffense">
          <mat-option *ngFor="let item of adjudicatedOffense$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 m-t-10 m-b-10">
      <div class="pull-right">
        <a (click)="resetForm()" class="btn btn-sec btn-theme">Reset</a>&nbsp;
        <button type="button" class="btn-pri" (click)="loadInitialLegalActions()" [disabled]="legalActionHistoryForm.pristine || legalActionHistoryForm.invalid">Filter</button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12" *ngIf="histories?.length > 0">
    <div class="table-responsive table-theme">
      <table class="table">
        <thead>
          <tr>
            <th>Petition ID</th>
            <th>Complaint ID</th>
            <th>Scheduled Hearing Type</th>
            <th>Worker</th>
            <th>Court Actions</th>
            <th>Court Order</th>
            <th>Adjudication Decision</th>
            <th>Adjudicated Offense</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of histories">
            <td>{{history.petitionID}}</td>
            <td>{{history.complaintID}}</td>
            <td>{{history.hearingType}}</td>
            <td>{{history.worker}}</td>
            <td>{{history.courtActions}}</td>
            <td>{{history.courtOrder}}</td>
            <td>{{history.adjudicationDecision}}</td>
            <td>{{history.adjudicatedOffense}}</td>
            <td>
              <a (click)="view(history)">
                <i class="fa fa-eye text-16"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center m-t-20">
        <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
          class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
        </pagination>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="view-history" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Legal Action History</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="viewHistoryForm">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Petition ID" formControlName="petitionID">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Complaint ID" formControlName="complaintID">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <!-- <mat-select placeholder="Hearing Type" formControlName="hearingType">
                  <mat-option *ngFor="let item of hearingTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select> -->
                <input type="text" matInput placeholder="Scheduled Hearing Type" formControlName="hearingType">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput placeholder="Worker" formControlName="worker">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput (click)="picker4.open()" appMaskDate [matDatepicker]="picker4" placeholder="Hearing Date"
                  formControlName="hearingDate">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <!-- <mat-select placeholder="Court Actions" multiple (change)="selectCourtActionType($event.value)"
                  formControlName="courtActions">
                  <mat-select-trigger>
                    {{courtActionDescription? courtActionDescription[0] : ''}}
                    <span *ngIf="courtActionDescription?.length > 1" class="example-additional-selection">
                      (+{{courtActionDescription.length - 1}} {{courtActionDescription?.length ===
                      2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of courtActions$ | async" [value]="item.value">{{item.text}}</mat-option>
                </mat-select> -->
                <input type="text" matInput placeholder="Court Actions" formControlName="courtActions">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <!-- <mat-select multiple placeholder="Court Order" (change)="selectCourtOrderType($event.value)"
                  formControlName="courtOrder">
                  <mat-select-trigger>
                    {{courtOrderDescription? courtOrderDescription[0] : ''}}
                    <span *ngIf="courtOrderDescription?.length > 1" class="example-additional-selection">
                      (+{{courtOrderDescription.length - 1}} {{courtOrderDescription?.length ===
                      2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of courtOrders$ | async" [value]="item.value">{{item.text}}</mat-option>
                </mat-select> -->
                <input type="text" matInput placeholder="Court Order" formControlName="courtOrder">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput (click)="picker5.open()" appMaskDate [matDatepicker]="picker5" placeholder="Court Date"
                  formControlName="courtDate">
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput (click)="picker6.open()" appMaskDate [matDatepicker]="picker6" placeholder="Termination Date"
                  formControlName="terminationDate">
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput (click)="picker7.open()" appMaskDate [matDatepicker]="picker7" placeholder="Adjudication Date"
                  formControlName="adjudicationDate">
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="clearfix">
                <!-- <mat-select placeholder="Adjudication Decision" formControlName="adjudicationDecision">
                  <mat-option *ngFor="let item of adjudicatedDecision$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select> -->
                <input type="text" matInput placeholder="Adjudication Decision" formControlName="adjudicationDecision">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="clearfix">
                <!-- <mat-select placeholder="Adjudicated Offense" formControlName="adjudicatedOffense">
                  <mat-option *ngFor="let item of adjudicatedOffense$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select> -->
                <input type="text" matInput placeholder="Adjudication Offense" formControlName="adjudicatedOffense">
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
