<div class="modal fade custom-modal in" id="involved-person-dhs-action" role="dialog"
 data-backdrop="static" data-keyboard="false" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"  [routerLink]="['/pages/case-worker/'+intakeRequestId+'/'+ daNumber+'/dsds-action/involved-person']">×</button>
                <h4 class="modal-title"> DHS Actions </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive group-table">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default"  *ngFor="let action of priorList$ | async; let i = index">
                            <div class="panel-heading">
                                <h4 class="panel-title collapsed">
                                    <a href="#collapse-{{i}}"  data-toggle="collapse"  aria-controls="collapseOne" data-parent="#accordion">{{action.daTypeName}}
                                        <span class="glyphicon pull-right glyphicon-plus"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-{{i}}" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>DA#</th>
                                                            <th>SubType</th>
                                                            <th>Name</th>
                                                            <th>Role</th>
                                                            <th>Received Date</th>
                                                            <th>Date Completed</th>
                                                            <th>Status</th>
                                                            <!-- <th>Actions</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let list of action?.daDetails">
                                                            <td>{{list.danumber}}</td>
                                                            <td>{{list.description}}</td>
                                                            <td>{{list.firstname}} {{list.lastname}}</td>
                                                            <td>{{list.role}}</td>
                                                            <td>{{list.datereceived | date:'MM/dd/yyyy'}}</td>
                                                            <td>{{list.datecompleted | date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{list.status}}</td>
                                                            <!-- <td>
                                                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                                                    <i class="fa fa-eye"> </i>
                                                                </span>
                                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
