.no-bg {
    outline: none;
    background: none;
    font-size: 13px;
    border: none;
    color: #00A2FD;
}

.no-bg i:before {
    color: #00A2FD;
}

.pd-27 {
    padding-top: 27px;
}

.icon-btn i:before {
    font-size: 14px;
}

.no-bg-btn {
    outline: none;
    background: none;
    color: #00A2FD;
    font-size: 14px;
    border: none;
    padding-top: 10px;
}

.panel-footer .no-bg-btn {
    padding: 0px;
}

.no-pd {
    padding: 0px;
}

.service-wrapper {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.plus-btn {
    background: #cccccc;
    border: 1px solid #cccccc;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #00A2FD;
}

.add-action {
    position: absolute;
    top: -16px;
    right: 0px;
}

.person-panel {
    border: 2px solid #D8D8D8;
    box-shadow: none;
}

.person-panel .panel-heading {
    width: 100%;
    color: #00A2FD;
}

.person-panel .panel-heading h4 {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    color: #000000 !important;
    padding-bottom: 2px;
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 4px;
}

.person-panel > span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}

.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}

.person-panel .panel-body {
    min-height: 100px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.person-panel .panel-body.focus-body {
    min-height: 75px;
    max-height: 75px;
    overflow-x: hidden;
    overflow-y: auto;
}

.person-panel .panel-body.action-body {
    min-height: 213px;
    max-height: 213px;
}

.person-panel .media-right {
    vertical-align: top;
    min-width: 50px;
    margin: 0 auto;
}
// .person-panel .media-body ul li a i {
//     font-size: 20px;
//     color: #777;
//     padding: 5px;
// }

.person-panel .panel-heading {
    padding: 10px;
    background: #fff;
    // border-bottom: 2px solid #e2e2e2;
}

.person-panel .panel-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .panel-heading span.f-size {
    padding-left: 30px;
    font-size: 13px;
}

span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}

.person-panel .panel-body dl dt,
.person-panel .panel-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.person-panel .panel-body dl {
    margin-bottom: 8px;
}

.person-panel .panel-body dl dd {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.person-panel .panel-footer {
    background: #fff;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #D8D8D8;
    color: #00A2FD;
    height: 35px;
}

.panel-footer ul li {
    text-align: left;
}

.panel-footer a{padding-right: 5px;}

// .person-wrap {
//     width: 100%;
//     float: left;
//     // max-height: 428px;
//     // overflow-y: auto;
// }

.person-panel .panel-body {
    padding: 10px;
}

.designation{    color: #b3aa92;
    font-size: 13px;}
.person-table-act{padding-top: 5px; }
.person-table-act a{margin-right: 5px;}
.person-panel .panel-body {
    padding: 10px;
}

.my-class {
    background-color: lightblue;
}

p.designation {
    max-width:250px;
}

.person-role-height {
    overflow: auto;
    padding: 2px 0;
    margin-top: 5px;
}

.top-btn {
    position: absolute;
    top: 39px;
    right: 17px;
    z-index: 1;
}


// Menu

.tree {
    min-height: 500px;
    background-color: #f0f2f4ba;
    border: 1px solid #dcdada;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    // -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    // -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.parent-wrapper {
    padding: 10px 0px 0px 10px;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding: 15px 0px 10px 0px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:29px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:0px solid #999;
    border-radius:0px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    cursor: pointer;
}
.tree li span.text-clr {
    color: #00A2FD;
    text-decoration: underline;
}
.tree li span.highlight {
    display: block;
    border: 1px solid #ddd;
    background: #e5eff9;
    margin: 0px 5px;
    border-radius: 5px;
}
.tree li span.highlight-step1 {
    display: block;
    border: 1px solid #ddd;
    background: #ddc9f5;
    margin: 0px 5px;
    border-radius: 5px;
}
.tree li span.highlight-step2 {
    display: block;
    border: 1px solid #ddd;
    background: #c5f3f5;
    margin: 0px 5px;
    border-radius: 5px;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
/* .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
} */
.tree li span:hover {
    color: #00A2FD;
}

.btn-sm-new {
    outline: none;
    background: none;
    border: none;
    padding: 0px;
    position: absolute;
    top: 20px;
    right: 40px;
}

.btn-sm-new i:before {
    font-size: 12px;
    color: #00A2FD;
}

.after-comma {
    padding-right: 10px;
}

.separator:after, 
.outcome:after,
.after-comma:after {
    content: ",";
}

.separator:last-child:after,
.outcome:last-child:after,
.after-comma:last-child:after {
    content: "";
}

.p-r-10 {
    padding-right: 10px;
}

.col {
    color: #00A2FD !important;
}

.fnt-14 {
    font-size: 14px;
}

.fnt-15 {
    font-size: 15px;
}

.fnt-17 i:before {
    font-size: 18px !important;
}

.col-fnt {
    color: #00A2FD;
    font-weight: 600;
    font-size: 15px;
}

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4CAF50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}

// .service-btn i::before {
//     color: #00A2FD;
//     font-size: 14px;
// }

.service-btn i.fa-close {
    margin: 0px;
}

.outcome-del {
    border-right: 1px solid #D8D8D8;
}

.outcome-del-icon:after {
    content: "x";
    color: #ff0000;
    position: absolute;
    top: -5px;
    cursor: pointer;
    padding-left: 7px;
}

.outcome-wrapper {
    position: relative;
}

.h5-title {
    font-size: 19px;
    text-transform: capitalize;
}

.lb-wd {
    width: 93px;
    float: left;
}

.lb-wd:after {
    content: ":";
    float: right;
    padding-right: 15px;
}

.focus-span {
    width: 90%;
    float: left;
}

.full-wd {
    width: 100%;
    float: left;
}

.focus-span span::after {
    content: ",";
    padding-right: 8px;
}

.focus-span span:last-child::after {
    content: " ";
}

.progress {
    height: 12px;
    margin-bottom: 0.3em;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 9px;
    line-height: 13px;
    color: #fff;
    text-align: center;
    background-color: #337ab7; //19a7b8; //  #337ab7
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.text-11 {
    font-size: 11px;
}

.status-open {
    background: none;
    padding: 2px 10px;
    border-radius: 25px;
    color: #333;
}

.status-returned,
.status-approved,
.status-pending,
.status-draft {
    padding: 2px 10px;
    border-radius: 25px;
    color: white;
    font-size: 13px;
}

.status-approved {
    background: green;
}

.status-pending {
    background: #d46f06;
}

.status-draft {
    background: #696868;
}

.status-returned {
    background: #de0404;
}

.m-t-5 {
    margin-top: 5px;
}

.btn-align {
    position: absolute;
    top: 20px;
    right: 48px;
}

.plus-btn-align {
    padding-top: 7px;
    padding-right: 10px;
    font-size: 18px;
}

.heading-highlight {
    border: 1px solid #dcdada;
    background: #e5eff9;
    border-radius: 3px;
    padding: 0 10px;
}

.card-bg-col {
    background-color: #b8e2b5;
}

.action-person {
    height: 20px;
    overflow: hidden;
    display: block;
    width: 136px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-person span:after,
.person-involved-comma span:after {
    content: ",";
}

.action-person span:last-child:after,
.person-involved-comma span:last-child:after {
    content: " ";
}

.fa-certificate { color: #4CAF50; }
.new-banner-text { font-size: .5em; }

.fa-stack { 
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: .3em;
    margin-bottom: 0.6em;
}
.fa-stack + .fa-stack { margin-left: .3em; }

.signature-container{
    border: 1px solid gray;
    margin: 20px 49px;
}

.sign-date {
    margin: 20px 49px;
}

.fa-send { color: #4CAF50 !important; }
.fa-hourglass-end { color: yellow !important;}
.fa-calendar-check-o { color :red !important;}

.list-inline, table{
    li, td{
        button{
            &:hover{
                border: 0;
                background: transparent;
            }
        }
    }
}

.btn-sm{
    font-size: 12px;
}

.white-col {
    color: #ffffff;
}

.semi-colon::before {
    content: ":";
    padding-right: 10px;
}

.bg-blue {
    background: #00A2FD;
}

.mat-expansion-panel-header, 
.mat-expansion-panel-header.mat-expanded:focus, 
.mat-expansion-panel-header.mat-expanded:hover {
    background: #fff !important;
}

.mat-expansion-panel-header {
    height: 40px !important;
    padding: 0 24px 0 0;
}

.goal-title {
    background: #00A2FD;
    color: #fff !important;
}

.obj-title {
    color: #00A2FD !important;
}

.obj-title,
.goal-title {
    margin: 0px;
    padding: 11px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
}

.accord-title,
.obj-title-wrapper { 
    
    .ac-title {
        width: 66%; 

        p {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 80%;
            margin: 0px 0 5px 0;
            vertical-align: middle;
        }
    }

    .ac-btn {
        width: 33%;
    }
}

.guide-circle {
    height: 11px;
    width: 11px;
    border-radius: 60%;
    margin-right: 6px;
    display: inline-block;
}

.obj-wrapper {

    &:last-child {
        border-bottom: none;
    }

    .person-panel .panel-heading {
        color: #000;
        text-align: left;
        padding: 7px 0;
        font-weight: 600;
        font-size: 15px;
        background: #dbdede;
    
        p {
            // margin-left: 10px;
            margin-bottom: 0px;
        }

        .circle {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
    }
}

.green-dot {
    background-color: #0bbf08;
}

.red-dot {
    background-color: #ff0000;
}

.yellow-dot {
    background-color: #ffbd44;
}

.ac-btn,
.card-quest,
.action-card-quest,
.action-card-result,
.card-result,
.obj-title-wrapper .ac-title,
.accord-title .ac-title {
    display: inline-block;
}



.card-quest {
    width: 9%;
    position: relative;
}

.action-card-quest {
    width: 40%;
    float: left;
    position: relative;
}

.action-card-result {
    width: 60%;
    float: left;
}

.card-result {
    width: 79%;

    span{
        display: inline-block;
        vertical-align: top;
        +span{
            position: relative;
            padding-left: 7px;
            &:before{
                position: absolute;
                content: ',';
                top: 0px;
                left: 1px;
                display: block;
            }
        }
    }
}

.card-quest,
.action-card-quest {

    &::after {
        content: ":";
        position: absolute;
        right: 5px;
        top: 0;
    }
}

.person-panel .panel-body {
    min-height: 230px;
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fnt-17 {
    font-size: 17px;
}

.table-responsive {
    overflow-y: hidden;

    td {
        &:first-child {
            text-align: center;
            padding: 15px 8px 8px 8px;
        }
    }
}

.align-circle {
    text-align: -webkit-center;
}

.m-t-0 {
    margin-top: 0px;
}

.mat-card {
    padding: 24px 24px 5px 24px;
}

.clsListInline{
    text-align: right;
    li{
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
    }
}

.person-panel .media-right{
    vertical-align: middle;
}

#add-snapshot tr td {
    vertical-align: middle;
}

.mat-card-title span{
    display: block;
}

.spinner-text{
    position: absolute; 
    top: 30%; 
    left: 0; 
    right: 0;
    font-size: 11px;
}

.example-margin {
    margin: 0 10px;
  }
  .disabledField {
    pointer-events: none;
    cursor: not-allowed;
}