<div class="row">
  <div class="col-sm-12 text-right btns-top pad-vspace p-r-20">
    <button class="btn-pri" (click)="redirectToAssessment()">
      Back </button>
  </div>
</div>
<div id="assessmentForm"></div>

<div class="row" style="display:none">
  <div class="col">
    <div id="divPrintView"></div>
  </div>
</div>