<div class="row">
  <div class="col-sm-12 box-grid no-mar">
      <div class="">
          <div class="form-search-person no-pad">
              <div class="row">
                
                  <div class="row">
                      <div class="col-md-8 col-sm-8 col-xs-8">
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                          <div class="form-group">
                              <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                  <li>
                                      <a href="javascript:{}" (click)="openMonitoringCheckList()">
                                          <img src="assets/images/suggest-icon.png">Add Charasteristics</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div #addServices></div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-sm-12">
      <div class="row">
        

          <div [formGroup]="activityTaskStatusFormGroup">
              <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                             
                      
              <div class="row">
                        <div class="col-md-12 table-responsive" style="padding: 30px">    
                <table class="table">
                  <thead>
                    <tr >
                      <!-- <th>Pick List Value Code</th> -->
                      <th> Selected Charasteristics</th>
                      <th> Actions</th>
                     </tr> </thead>
                   <tbody >
                    <tr *ngFor="let obj of tableData.data" >
                     <!-- <td>{{obj.picklist_value_cd}}</td> -->
                     <td>{{obj.value_desc}}</td>
                     <td>  
                            <i class="fa fa-trash" (click)="DeleteChar(obj.applicant_child_characteristics_id)"></i>
                    </td>
                  </tr> 
                </tbody> 
                </table>
                </div>
                </div>
                      
                    
                      </div>
                      
              </div>
          </div>

      </div>
  </div>
  <div class="modal fade in" id="delet-char" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="IntakeAppointmentLabel">
<div class="modal-dialog modal-lg " role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Delete Characteristics </h4>
        </div>
        <div class="modal-body ">
             <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <p>Are you sure want to delete Characteristics?</p>
<button class="btn-primary" (click)="deleteConfirm()">Delete</button>
<button class="btn-danger">Cancel</button>
</div>
<div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
</div>
