.brd-right {
    border-right: 2px solid #e8e8e8a6;
}
.matAccordion .btn-pri {
    margin-right:0;
}
.tabledata h4 {
    font-weight: 600;
    color: #00A2FD;
    margin-bottom: 15px;
    font-size: 16px;
}
.tabledata a i {
    color: #848484;
    font-size: 18px;
    padding-right: 10px;
}
.tabledata .table.action a:last-child i{padding-right: 0;}

label.txt-normal{ font-weight: normal; padding-right: 20px;}
table.table-bg thead {
    background: #f1f2f4;
}
.cusmm-fileupload input[type=file]{display: none;}
