<ng-container *ngFor="let item of list; let index=index;">
    
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <input type="email" [(ngModel)]="item.email"  matInput placeholder="{{item.type}} Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" #email="ngModel"/>          
            
        </mat-form-field>
        <mat-error *ngIf="email.errors &&(email.touched || email.dirty || email.invalid)">
            Invalid email format</mat-error>        
      </div>
    </div>
    
  </ng-container>