<div class="row">
    <div class="col-sm-4" *ngFor="let workdetails of workInfo; let i=index;">
        <div class="panel panel-default person-panel">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-body">
                        <h4 class="title-col">Employment Info</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ng-container>
                  <p><label>Name of Employer: </label> {{workdetails?.employername}} </p>
                  <p><label>Address: </label> <span *ngIf="workdetails?.address1 !== null">{{workdetails?.address1 + ' ' + workdetails?.address2 +' '+workdetails?.cityname +' '+workdetails?.statetypekey + ' '+workdetails?.zip5no+' '+workdetails?.countytypekey}}</span></p>
                  <p><label>Start Date: </label> {{workdetails?.startdate | date: 'dd/MM/yyyy'}}</p>
                  <p><label>End Date: </label> {{workdetails?.enddate ? (workdetails?.enddate | date: 'dd/MM/yyyy'):'Current'}} </p>
                </ng-container>
            </div>
            <div class="panel-footer">
                <div class="row footer-btn">
                  <div class="col-sm-6">
                      <a *ngIf="!_personInfoService.getClosed()" (click)="editEmployment(workdetails)" matTooltip="Edit"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a>
                      <a *ngIf="_personInfoService.getClosed()" (click)="editEmployment(workdetails)" matTooltip="View"><i class="fa fa-eye"></i>&nbsp;&nbsp;View</a>
                  </div>
                  <div [ngClass]="{'disable-anchor': _personInfoService.getClosed(), 'col-sm-6 text-right':true}">
                    <a [ngClass]="{'pointer-events-none':_personInfoService.getClosed()}" (click)="confirmDelete(workdetails)" matTooltip="Delete"><i
                        class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<div class="col-sm-12">
    Choose to see an employer detail
  </div>
  <div class="col-sm-12">
  
  <mat-form-field>
  <mat-select  [(ngModel)]="selectedemployment">
    <mat-option value=''>
        <div class="col-sm-12">
            <div class="col-sm-4" >
                <b>Employer Name</b>
            </div> 
            <div class="col-sm-2" >
                <b>Start Date</b>
            </div> 
            <div class="col-sm-2" >
                <b>End Date</b>
            </div> 
            <div class="col-sm-2" >
                <b>Change Made To</b>
            </div>
        </div>
    </mat-option>
    <mat-option  *ngFor="let workdetails of workInfo" value="{{workdetails.personemployerdetailid}}" >
        <div class="col-sm-12" >
            <div class="col-sm-4" >
                <b>{{workdetails.employername}}</b>
            </div> 
            <div class="col-sm-2" >
                <b>{{workdetails.startdate | date: 'dd/MM/yyyy'}}</b>
            </div> 
            <div class="col-sm-2" >
                <b>{{workdetails.enddate | date: 'dd/MM/yyyy'}}</b>
            </div> 
            <div class="col-sm-2" >
                <b>{{workdetails.workschedule}}</b>
            </div>
        </div>
    </mat-option>
    <mat-option value='2' *ngIf="workInfo.length > 0">
      View All Employments
    </mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  
  

  <div *ngIf="false">
    <div class="col-sm-12" *ngFor="let workdetails of workInfo">
      <div class="row"
        *ngIf="((selectedemployment=='' && (!workdetails.enddate || workdetails.enddate=='' || workdetails.enddate==null)) || selectedemployment==workdetails.personemployerdetailid || selectedemployment=='2')">
        <div *ngIf="(!workdetails.enddate || workdetails.enddate=='' || workdetails.enddate==null)">
          Current Employment
        </div>
        <div class="col-sm-4 border employment-container">
          <div class="col-sm-12 m-t-10 ">
            <h4>Employer Details</h4>
            <div class="row">
              <div class="col-sm-12 m-t-10 ">
                <label>Name of Employer</label><br />
                {{workdetails.employername}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Working hours per week</label><br />
                {{workdetails.noofhours}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Duties</label><br />
                {{workdetails.duties}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Start Date MM/DD/YYYY</label><br />
                {{workdetails.startdate | date: 'dd/MM/yyyy'}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>End Date MM/DD/YYYY</label><br />
                {{workdetails.enddate ? (workdetails.enddate | date: 'dd/MM/yyyy'):'Current'}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 border-1 employment-container">
          <div class="col-sm-12 m-t-10 ">
            <h4>Employer Address</h4>
            <div class="row">
              <p>
                {{workdetails.address1 + ' ' + workdetails.address2 +' '+workdetails.cityname +' '+workdetails.statetypekey + ' '+workdetails.zip5no+' '+workdetails.countytypekey}}
              </p>
            </div>
            <h4>Employer Contact</h4>
            <div class="row">
              <div class="col-sm-12 m-t-10 " *ngFor="let phonedetails of workdetails.workphone">
                <label>{{phonedetails.contactType}}</label><br />
                {{phonedetails.phoneNumber}}
              </div>
              <div class="col-sm-12 m-t-10 " *ngFor="let emaildetails of workdetails.email">
                <label>{{emaildetails.type}}</label><br />
                {{emaildetails.email}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 border-1 employment-container">
          <div class="col-sm-12 m-t-10 ">
            <h4>Occupation</h4>
            <div class="row">
              <div class="col-sm-12 m-t-10 ">
                <label>Position / Title</label><br />
                {{workdetails.clienttitle}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Pay Period</label><br />
                {{workdetails.employername}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Type of Occupation</label><br />
                {{workdetails.emplymenttypekey}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Income</label><br />
                {{workdetails.income}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Comments</label><br />
                {{workdetails.workschedule}}
              </div>
              <div class="col-sm-12 m-t-10 ">
                <label>Career Goals</label><br />
                {{workdetails.careergoals}}
              </div>
            </div>
  
          </div>
        </div>
        <div class="col-sm-12 border-3">
          <div class="col-sm-12 m-t-10 ">
            <h4>Supervisor Details</h4>
            <div class="row m-t-20">
              <div class="col-sm-2">
                <label>Prefix</label><br />
                {{workdetails.supervisorprefixtypekey}}
              </div>
              <div class="col-sm-2">
                <label>First Name</label><br />
                {{workdetails.supervisorfirstname}}
              </div>
              <div class="col-sm-2">
                <label>Middle Name</label><br />
                {{workdetails.supervisormiddlename}}
              </div>
              <div class="col-sm-2">
                <label>Last Name</label><br />
                {{workdetails.supervisorlastname}}
              </div>
              <div class="col-sm-2">
                <label>Suffix</label><br />
                {{workdetails.supervisorsuffixtypekey}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 action">
          <div class="col-sm-1">
              <a *ngIf="!_personInfoService.getClosed()" (click)="editEmployment(workdetails)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a>
              <a *ngIf="_personInfoService.getClosed()" (click)="editEmployment(workdetails)"><i class="fa fa-eye"></i>&nbsp;&nbsp;View</a>
          </div>
          <div [ngClass]="{'disable-anchor': _personInfoService.getClosed(), 'col-sm-1':true}"><a  [ngClass]="{'pointer-events-none':_personInfoService.getClosed()}" (click)="confirmDelete(workdetails)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" > 
      <form [formGroup]="personNarrative" *ngIf="age && age >= 18 && age <= 21">
        <!--  -->
      <h4>Youth participating in a program or activity that promotes or removes barriers to employment</h4>
      <div class="row border ">
          <div class="col-sm-4">
            <!--  <mat-form-field>
                <mat-select placeholder="Program Name">
                  <mat-option  value="">Select
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
     
            <mat-form-field >
                <input type="text"  [disabled]="this.enableEdit" formControlName="promotedemploymentprogramname" matInput  placeholder="Program Name" required
                  >
            </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field>
                  <input type="text"  [disabled]="this.enableEdit" formControlName="promotedemploymentprogramstartdate" matInput  [matDatepicker]="picker"
                    placeholder="Start Date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>           
                </mat-form-field>
          </div>
          <div class="col-sm-4">
                <mat-form-field>
                  <input type="text" [disabled]="this.enableEndDateEdit" formControlName="promotedemploymentprogramenddate" matInput [matDatepicker]="picker1" placeholder="End Date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="personNarrative.errors">{{ personNarrative.errors.dates || 'Error occured' }}</mat-error>

            </div>
            <div class="col-sm-12" *ngIf="showNarrrative">
                <mat-form-field>
                    <textarea height="250px" width="100%" formControlName="promotedemploymentnarrative" matInput  required placeholder="Narrative"
                      ></textarea>
                      
                </mat-form-field>
            </div> 
            <div class="col-sm-12">
                <button class="pull-right btn btn-pri"
                  [disabled]="personNarrative.pristine || personNarrative.invalid"
                  (click)="saveProgram()">Save</button>
                  <button class="pull-right btn-bg" (click)="cancelForm();">Cancel</button>

                  <button class="pull-right btn btn-pri"
                  (click)="addNarrative()" *ngIf="this.enableEdit && !showNarrrative">Add Narrative</button>

            </div>
      </div>
    </form>
  
  </div>
  <div class="col-sm-12">
    <!-- <h4>Choose to see a monthly activity</h4> -->
    <div class="row border ">
        <!-- <mat-form-field>
        <mat-select [(ngModel)]="selectednarrative">
            <mat-option value=''>
                <div class="col-sm-12">
                    <div class="col-sm-4" >
                        <b>Program Name</b>
                    </div> 
                    <div class="col-sm-4" >
                        <b>Start Date</b>
                    </div> 
                    <div class="col-sm-4" >
                        <b>End Date</b>
                    </div> 
                </div>
            </mat-option>
            <mat-option  *ngFor="let narrativedetails of narrativeInfo" value="{{narrativedetails.personemploymentid}}" >
                <div class="col-sm-12" >
                    <div class="col-sm-4" >
                        <b>{{narrativedetails.promotedemploymentprogramname}}</b>
                    </div> 
                    <div class="col-sm-4" >
                        <b>{{narrativedetails.promotedemploymentprogramstartdate | date: 'dd/MM/yyyy'}}</b>
                    </div> 
                    <div class="col-sm-4" >
                        <b>{{(narrativedetails.promotedemploymentprogramenddate | date: 'dd/MM/yyyy') || '--NA--'}}</b>
                    </div> 
                </div>
            </mat-option>
            <mat-option value='2' *ngIf="narrativeInfo.length > 0">
                View All Narrative
              </mat-option>
          </mat-select>
        </mat-form-field> -->
            <div class="row">
              <div class="col-sm-4"><b>Program Name</b></div>
              <div class="col-sm-2"><b>Start Date</b></div>
              <div class="col-sm-2"><b>End Date</b></div>
              <!-- <div class="col-sm-3"><b>Narrative</b></div> -->
          </div>
          <div  *ngFor="let narrativedetails of narrativeuniqueInfo;let index =index" >
            <div class="row">
                <div class="col-sm-4">{{narrativedetails.promotedemploymentprogramname}}</div>
                <div class="col-sm-2">{{narrativedetails.promotedemploymentprogramstartdate | date: 'dd/MM/yyyy'}}</div>
                <div class="col-sm-2">{{(narrativedetails.promotedemploymentprogramenddate | date: 'dd/MM/yyyy') || '--NA--'}}</div>
                <!-- <div class="col-sm-3">{{narrativedetails.promotedemploymentnarrative}}</div> -->
                <div class="col-sm-4">
                    <div class="col-sm-2">
                    <mat-radio-group [(ngModel)]="selectedProgram" >
                        <mat-radio-button  [value]="narrativedetails.personemploymentid" (click)="onChangeProgram(narrativedetails)">View&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    </mat-radio-group>
                  </div >
                    <div class="col-sm-2" *ngIf="!narrativedetails.promotedemploymentprogramenddate"><a (click)="editNarrativedetails(narrativedetails)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a></div>
                    <!-- <div class="col-sm-1"><a (click)="deleteNarrative(narrativedetails)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></div> -->
                  </div>
            </div>
          </div>
    </div>
  </div>
  <div class="col-sm-12">
    <h4>
      <!-- Current Month Activity -->
      <mat-radio-group [(ngModel)]="selectedProgramType" >
          <mat-radio-button  value="1" >Current Month&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
          <mat-radio-button  value="2" >All Month&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
      </mat-radio-group>
    </h4>
    <div class="row border">
        <div class="row">
            <!-- <div class="col-sm-3"><b>Program Name</b></div> -->
            <div class="col-sm-4"><b>Start Date</b></div>
            <div class="col-sm-4"><b>End Date</b></div>
            <div class="col-sm-4"><b>Narrative</b></div>
        </div>
        <div  *ngFor="let narrativedetails of narrativeInfo;let index =index" >
          <div class="row" *ngIf="narrativedetails.promotedemploymentnarrative && narrativedetails.promotedemploymentprogramname == selectedProgramName && ((selectedProgramType == '1' && isToday(narrativedetails.updatedon)) || (selectedProgramType == '2'))">
              <!-- <div class="col-sm-3">{{narrativedetails.promotedemploymentprogramname}}</div> -->
              <div class="col-sm-4">{{narrativedetails.promotedemploymentprogramstartdate | date: 'dd/MM/yyyy'}}</div>
              <div class="col-sm-4">{{(narrativedetails.promotedemploymentprogramenddate | date: 'dd/MM/yyyy') || '--NA--'}}</div>
              <div class="col-sm-4">{{narrativedetails.promotedemploymentnarrative}}</div>
              <!-- <div class="col-sm-2">
                  <div class="col-sm-1"><a (click)="editNarrativedetails(narrativedetails)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a></div>
                  <div class="col-sm-1"><a (click)="deleteNarrative(narrativedetails)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></div>
                </div> -->
          </div>
        </div>
    </div>
  </div>