    <div role="tabpanel" class="tab-pane dd-overflow-inherit" id="intake-referral">
    <div class="cnt-min-height">
        <div class="row">
            <div class="col-sm-8">
                <h4>Referral</h4>
                <p> Find or Add new provider referral.</p>
            </div>
            <div class="col-sm-4 text-right btns-top">
                <button type="submit" *ngIf="(accordianData$ | async) && !referralAdded" class="btn-pri" (click)="selectedReferral();" data-toggle="modal">Select</button>
                <button type="button" *ngIf="!referralAdded" class="btn-pri" (click)="addNewReferral()" data-toggle="modal">Add New</button>
            </div>
            <div class="col-sm-12" *ngIf="addedProviders?.length!== 0">
                <h4 class="site-color">Referral Information</h4>
            </div>
            <div class="row">
                    <div class="col-sm-12">
                       <form [formGroup]="searchFieldsForm">
                       <div class="col-sm-2 m-t-10"> 
                             <div class="search-container ">
                                <div class="inner-addon right-addon " >
                                   <i class="glyphicon glyphicon-search"></i>
                                   <input type="text" formControlName="providerid" class="form-control"(input)="onSearch('providerid', $event.target.value)" placeholder="{{'Provider Id'}}" />
                                </div>
                             </div>
                          </div>
                             
                          <div class="col-sm-2 m-t-10"> 
                             <div class="search-container">
                                <div class="inner-addon right-addon " >
                                   <i class="glyphicon glyphicon-search"></i>
                                   <input type="text"  formControlName="providername" class="form-control"(input)="onSearch('providername', $event.target.value)" placeholder="{{'Provider Name'}}" />
                                </div>
                             </div>
                          </div>
                          <div class="col-sm-2 m-t-10"> 
                                <div class="search-container">
                                   <div class="inner-addon right-addon " >
                                      <i class="glyphicon glyphicon-search"></i>
                                      <input type="number" formControlName="providertaxid"   class="form-control"(input)="onSearch('providertaxid', $event.target.value)" placeholder="{{'Provider Tax ID'}}" />
                                   </div>
                                </div>
                             </div>
                          <div class="col-sm-2 "> 
                             <mat-form-field>
                                <mat-select  formControlName="status"  placeholder="Select Status" (change)="onSearch('providerstatus', $event.value)">
                                   <mat-option *ngFor="let status of statusList" value="{{status.value}}">{{status.text}}</mat-option>
                                </mat-select>
                             </mat-form-field>
                          </div>
                          <div class="col-sm-2 ">
                             <mat-form-field>
                                 <mat-select  formControlName="juridiction"  placeholder="Select Jurisdiction" (change)="onSearch('jurisdiction', $event.value)">
                                     <mat-option value='null'>All</mat-option>
                                     <mat-option *ngFor="let county of countyList$ | async" [value]="county.value">{{county.text}}</mat-option>
                                 </mat-select>
                             </mat-form-field>
                         </div>
                         <div class="col-sm-2 m-t-20">
                                <a (click)="resetSearch()">Reset</a>
                         </div>
                         </form>
                    </div>
              </div>
            <div class="col-md-12 table-responsive">
                <table class="table customTable firsttable">
                    <thead>
                        <tr>
                            <th *ngIf="!referralAdded"></th>
                            <th>Provider Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Cell</th>
                            <th>Fax</th>
                            <th>Program</th>
                            <th>Program Type</th>
                            <th>Parent Corporation</th>
                            <th>Corporation</th>
                            <th>Tax ID</th>
                            <th>SON ?</th>
                            <th>RFP ?</th>
                            <th *ngIf="referralAdded">Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngIf="accordianData$ | async; let accordianData">
                        <tr *ngFor="let provider of accordianData">
                            <td *ngIf="!referralAdded">
                                <label class="control control--radio">
                                    <input type="radio" name="selectedPerson" (click)="selectPerson(provider)" class="ng-dirty ng-valid ng-touched">
                                    <div class="control__indicator"></div>
                                </label>
                            </td>
                            <td>{{provider.provider_referral_nm}}</td>
                            <td>{{provider.provider_referral_first_nm}} {{provider.provider_referral_last_nm}}</td>
                            <td>{{provider.adr_email_tx}}</td>
                            <td>{{provider.adr_home_phone_tx}}</td>
                            <td>{{provider.adr_cell_phone_tx}}</td>
                            <td>{{provider.adr_fax_tx}}</td>
                            <td>{{provider.provider_referral_program}}</td>
                            <td>
                                <tr *ngFor="let program_type_list of provider.provider_program_type">
                                <td>{{program_type_list.program_type}}</td>   
                                </tr>                         
                            </td>
                            <td>{{provider.parent_entity}}</td>
                            <td>{{provider.corporation_entity}}</td>
                            <td>{{provider.corporation_entity_taxid}}</td>
                            <td>{{provider.is_son}}</td>
                            <td>{{provider.is_rfp}}</td>
                            <td *ngIf="(provider.referral_decision=='' || provider.referral_decision=='Incomplete' || provider.referral_decision=='Pending') && referralAdded === true"> 
                                <button class="no-bg" data-toggle="modal" (click)="editReferral(provider, i, 'Edit')">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div style="margin-left: 385px;" *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                    <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                </div>
                <div *ngIf="!(accordianData$ | async)">
                        <p>No Items!</p>
                        <button type="button" class="btn-pri" (click)="addNewReferral()">Add New</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-person-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content delete">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this person? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deletePerson()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>
<referral-search (intakeReferralAdd)="searchAddPerson($event)"></referral-search>

<div class="modal fade in" id="add-referral" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{addEditLabel}} Provider</h4>
            </div>
            <div class="modal-body ">
                <div class="">
                    <div class="tab-content no-shadow">
                        <div id="add-Profile-info" class="tab-pane fade in active">
                            <add-referral [editReferralSubject]="editReferralSubject" [referralId]="referralId"
                                (addReferralEventEmitter)='setReferralInfo($event)'></add-referral>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-alias-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this alias? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteAliasName()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="criteria-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Criteria does not match </h4>
            </div>
            <div class="modal-footer">
                <div class="text-right right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="enableReferral()"> OK </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="redirectToDashboard()"> CANCEL </button>
                </div>
            </div>
        </div>
    </div>
</div>