<mat-table [dataSource]="rows"  class="select-table">

	<!-- Columns -->
	<ng-container *ngFor="let key of displayedColumns" [matColumnDef]="key">
		<mat-cell *matCellDef="let row">
			{{ columns[key](row) }}
		</mat-cell>
	</ng-container> -->

	<mat-row
		*matRowDef="let row; columns: displayedColumns"
		[ngClass]="{'selected': selection.isSelected(row)}"
		(click)="onSelect(row)">
	</mat-row>
</mat-table>