
<br>
<div class="panel panel-primary" style="margin: 0 auto; text-align: left; width: 98%">
    <div class="panel-heading">Applicability Decision</div>
    <!-- <div class="panel-body">


        <div class="row">

            <div class="col-md-4">
                <div class=""><b>Applicable Child Assessment Decision</b></div>
                <span *ngIf="eligibility?.action === 'ACAD'">{{eligibility?.description}}: {{eligibility?.status}}
                </span>
            </div>

            <div class="col-md-4">
                <div class=""><b>Adoption Initial Determination Status</b></div>
                <span *ngIf="eligibility?.action === 'ID'">{{eligibility?.description}}: {{eligibility?.status}} </span>
            </div>

            <div class="col-md-4">
                <div class=""><b>Adoption Re-Determination Status</b></div>
                <span *ngIf="eligibility?.action === 'RD'">{{eligibility?.description}}: {{eligibility?.status}} </span>
            </div>
        </div>
    </div> -->

<div class="panel-body">
    <form class="modal-body" [formGroup]="adoptionApplicabilityDecisionForm">
    <div class="panel-group" id="assessmentAccordion">
        <div class="panel panel-default">
            <div class="panel-heading panel-width" style="padding: 0px 15px;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-align: center">
                        <b>Section II –
                            Assessment of Child’s Applicable or Non-Applicable Status</b></a>
                </h4>
                <div class="row" style="text-align: center">
                    Section II is to be completed by the Title IV-E Specialist within 5 working days of receipt of
                    complete
                    Information from the caseworker in Section I. If information or documentation is not completed, go
                    to
                    Section III.
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1"><b>A.
                                            Applicable
                                            Child </b></a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        1. Does the child meet any of the child
                                        status criteria of Section I.A 1, 2 or 3?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                            <mat-radio-group formControlName="appchildmeetchildstatuscriteriaofsectionia12or3">
                                                <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                            </mat-radio-group>
                                            <!--                                             
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="YES">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        2. Does the child meet placement or medical criteria of Section
                                        I.B 1, 2 or 3?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="appplacementormedicalcriteriaofsectionib12or3">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                    </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="YES">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        3. Does the meet the special needs criteria in Section I.C 1, 2
                                        (a or b), AND 3(a or b)?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="appthespecialneedscriteriainsecic12aorband3aorb">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="YES">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                            [disabled]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'" value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2"><b>B.
                                            Non-Applicable Child Assessment </b></a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        1.Has child been assessed to NOT be an applicable child?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="haschildbeenassessedtonotbeanappchild">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        2. Does the child meet placement or medical criteria of Section
                                        I.B 1, 2 OR 3?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="nonappplacementormedicalcriteriaofsecib12or3">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        3. Does the child meet the special needs criteria in Section I.C
                                        1, 2 (a or b), AND 3(a or b)?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="nonapplsplneedscriteriainsecic12aorband3aorb">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="YES" [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-5">
                                        <p>&nbsp;</p>
                                        4. Does child meet the Title IV-E standards of Section I.D 1 –
                                        Prior Adoption (a or b) OR 2 – IV-E Foster Care or SSI (a or b)?
                                    </div>

                                    <div class="col-md-7">
                                        <p>&nbsp;</p>
                                        <mat-radio-group class="col-md-12" style="padding:0px">
                                                <mat-radio-group formControlName="nonappltitleivestandardsofsecid1prioradptionaorbor2ivefcorssiao">
                                                        <mat-radio-button class="example-radio-button col-md-3" value="YES">YES</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button col-md-3" value="NO" class="m-l-20">NO</mat-radio-button>
                                                </mat-radio-group>
                                            <!-- <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="YES"  [checked]="eligibility?.description == 'Adoption Data Incomplete' && eligibility?.status == 'YES'">
                                                YES</mat-radio-button>
                                            <mat-radio-button name="VPA" class="example-radio-button col-md-3"
                                                value="NO">NO
                                            </mat-radio-button> -->
                                        </mat-radio-group>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-group" id="incompleteAssessment">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#assincsec3" style="text-align: center">
                        <b> Section III – Return of Incomplete Assessment Request </b></a>
                </h4>


            </div>
            <div id="assincsec3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                            <label><mat-checkbox formControlName="adoptiondataincomplete">Information or documentation for Section I is incomplete. An assessment cannot be completed
                                    without complete information and documentation.</mat-checkbox></label> <br/>
                    </div>
                    <div class="col-md-12">
                      <br/>
                    </div>
                    <div class="row">
                            <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <p>Specialist Name</p>
                            <mat-form-field>
                                <input matInput placeholder="" formControlName = "incompletespecalistname">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <p>Date Returned</p>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker14" placeholder="" formControlName="incompletedate">
                                <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                <mat-datepicker #picker14></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row head-pad">
                            <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <signature-field formControlName="incompletespecalistsignature"></signature-field>
                            <p class="sign-p">Specialist Signature</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="assessmentDecision">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#assdecision" style="text-align: center">
                        <b>Section IV – Assessment Decision </b></a>
                </h4>


            </div>
            <div id="assdecision" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <!-- <div class="row"> -->
                            This assessment decision is based solely on the information and documentation provided by the caseworker in Section I. This is NOT a Title IV-E Adoption Subsidy Determination. A Determination must be completed by the Title IV-E specialist after the adoption is finalized
                        <!-- </br> -->
                    </div>
                    <div class="col-md-12">
                        <p>
                            According to the information submitted, the child is:
                        </p>
                    </div>
                    <div class="col-md-12">
                        <label><mat-checkbox formControlName="adoptionapplicable"> An applicable child for
                            Title IV-E purposes – Use Federal Adoption Subsidy Agreement.</mat-checkbox></label> <br />
                        <label><mat-checkbox formControlName="adoptionnonapplicable"> A Non-applicable child
                            for Title IV-E purposes – Use Federal Adoption Subsidy Agreement.</mat-checkbox></label> <br />
                        <label><mat-checkbox formControlName="neitheranappnornonappchildfortitleivepurposes"> Neither an
                            applicable or a non-applicable child for Title IV-E purposes – Use State Adoption
                            Subsidy Agreement.</mat-checkbox></label><br />
                        <label><mat-checkbox formControlName="applicableandnonapplicable"> An applicable and non-applicable child for Title IV-E purposes – Use Federal Adoption Subsidy Agreement.
                            </mat-checkbox></label><br />
                    </div>



                    <div class="col-md-12">
                            <br/>
                          </div>
                          <div class="row">
                                  <div class="col-md-1"></div>
                              <div class="col-md-3">
                                  <p>IV-E Specialist Name</p>
                                  <mat-form-field>
                                      <input matInput placeholder="" formControlName = "decisionsubmissionspecalistname">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3"></div>
                              <div class="col-md-3">
                                  <p>Date</p>
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="picker15" placeholder="" formControlName="decisionsubmissiondate">
                                      <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
                                      <mat-datepicker #picker15></mat-datepicker>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row head-pad">
                                  <div class="col-md-1"></div>
                              <div class="col-md-3">
                                  <signature-field formControlName="decisionsubmissionspecalistsignature"></signature-field>
                                  <p class="sign-p">IV-E Specialist Signature</p>
                              </div>
                          </div>


                          <div class="col-md-12">
                                <br/>
                              </div>
                              <div class="row">
                                      <div class="col-md-1"></div>
                                  <div class="col-md-3">
                                      <p>IV-E Supervisor Name</p>
                                      <mat-form-field>
                                          <input matInput placeholder="" formControlName = "decisionresubmissionspecalistname">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-3"></div>
                                  <div class="col-md-3">
                                      <p>Date</p>
                                      <mat-form-field>
                                          <input matInput [matDatepicker]="picker16" placeholder="" formControlName="decisionresubmissiondate">
                                          <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
                                          <mat-datepicker #picker16></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row head-pad">
                                      <div class="col-md-1"></div>
                                  <div class="col-md-3">
                                      <signature-field formControlName="decisionresubmissionspecalistsignature"></signature-field>
                                      <p class="sign-p">IV-E Supervisor Signature</p>
                                  </div>
                              </div>

                              
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isSpecialist" >
        <div class="absolute" *ngIf="sendforcaseworker" > 
            <button type="button" value="Approval" class="btn-pri" name="" [disabled]="!sendforcaseworker" (click)="sendToCaseWorker()">Send to Case Worker</button>  
        </div>
        <br/>
        <div class="absolute" *ngIf="!sendforcaseworker" > 
                <button type="button" value="Approval" class="btn-pri" name="" [disabled]="sendforcaseworker" (click)="showSupervisorList()">Send to Supervisor</button>  
        </div>
        <br/>
    </div>
    <div *ngIf="isSupervisor" >
        <div class="absolute"> 
            <button type="button" value="Approval" class="btn-pri" name="" (click)="ApproveReject('APPROVED')">Approve</button>  
        </div>
        <br/>
    </div>
    

    <div class="modal fade" id="assign" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Route Case</h4>
                    </div>
                    <div class="modal-body dashboard-cont">
        
                        <div class="tab-horizontal mrg-btm25">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#supervisor" data-toggle="tab" >SUPERVISORS</a>
                                </li>
                            
                            </ul>
                            <div class="tab-content boxgrid">
                                <div class="tab-pane active" id="supervisor">
                                    <div class="">
                                        <div class="table-responsive table-theme">
                                            <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>NAME</th>
                                                        <th>TYPE OF SUPERVISOR</th>
                                                        <th>UNIT</th>
                                                        <!-- <th>Total Cases</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="getUsersList; let getlist">
                                                    <ng-container *ngIf="getlist.length>0; else noItems">
                                                        <tr *ngFor="let item of getlist">
                                                            <td>
                                                                <label class="control control--radio">
                                                                    <input type="radio" name="Address" (click)="selectPerson(item)">
                                                                    <div class="control__indicator"></div>
                                                                </label>
                                                            </td>
                                                            <td>{{item.username}} </td>
                                                            <td>{{item.userrole}}</td>
                                                            <td>{{item.teamname}}</td>
                                                            <!-- <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td> -->
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                            <ng-template #noItems>No Items!</ng-template>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                    <div class="modal-footer wizard-buttons">
                        <button class="btn-pri" (click)="sendToSupervisor()">ASSIGN</button>
                    </div>
                </div>
            </div>
    </div>
    



    <!-- <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default decision-panel min-height">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="text-uppercase">Signature</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <adoption-signature-feild [(ngModel)]="signimage"></adoption-signature-feild>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="file">Choose File</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
            <button (click)="uploadAttachment()" class="btn btn-pri">Upload Signature</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <button (click)="submitDecision()" class="btn btn-pri">Submit Decision</button>
                <h3><br></h3>
            </div>
        </div>
    </div> -->
    </form>
</div>

</div>