.form-control-size label {
    font-size: 14px;
}
.digit {
    background: #00A2FD;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
}
.disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
}
.hideDiv {
    display: none;
}

#reason-for-delay textarea.mat-input-element {
    height: 75px;
}
.form-control-size label {
    font-size: 14px;
}
.digit {
    background: #00A2FD;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
}
.disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
}
.hideDiv {
    display: none;
}
.desposition-table > thead {background: #AEBED6;}
.desposition-table > thead > tr > th {padding:10px 8px;}
.desposition-table > tbody > tr > td {
    padding: 15px 8px 0px;
}
.desposition-table > tbody > tr > td > a {
    font-size: 14px;
}
.desposition-table > tbody > tr > td > a > i.fa.fa-cloud-download {
    color: #00A2FD;
    font-size: 22px;
    cursor: pointer;
    margin-top:8px;
}
.p-t-20 {padding-top:20;}
.btn-col {
    color: #fff;
    margin-left: 15px;
    padding: 5px;
}
