<div class="box-grid">
    <div class="row">
        <div class="col-sm-9">
            <h3>Manage Distribution List</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="table-responsive left-txt">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parentItem of groupNameResults">
                            <td>{{parentItem.usernotificationgroupname}}</td>
                            <td>
                                <ul class="list-unstyled list-inline mrg-btm0">
                                    <li>
                                        <a (click)="editUserGroup(parentItem)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="deleteUserGroup(parentItem)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-9">
            <div class="content-area-fm">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="title">{{titleName}}</h4>
                    </div>
                </div>
                <form [formGroup]="groupForm">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4 mrg-top25">
                                <div class="fm-box">
                                    <label class="required">Group Name:</label>
                                    <div class="fm-box-form">
                                        <input type="text" formControlName="usernotificationgroupname" class="form-control fm-style" placeholder="Group Name">
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="searchResultForm">
                                <div class="col-sm-12">
                                    <p>
                                        <strong>Search and Add Resources by Position / Load Number </strong>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="fm-box">
                                        <label>Position/Load Number:</label>
                                        <div class="fm-box-form">
                                            <input type="text" formControlName="positioncode" class="form-control fm-style" placeholder="Position">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="fm-box">
                                        <label>First Name:</label>
                                        <div class="fm-box-form">
                                            <input type="text" formControlName="firstname" class="form-control fm-style" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="fm-box">
                                        <label>Last Name:</label>
                                        <div class="fm-box-form">
                                            <input type="text" formControlName="lastname" class="form-control fm-style" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <input type="button" value="Search" class="btn btn-pri" (click)="searchGroupResult()">
                                        <input type="button" value="Reset" class="btn btn-bg" (click)="resetSearchResult()">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="table-responsive mrg-top25">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Position Code</th>
                                            <th>Role Type</th>
                                            <th>User Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of searchResults">
                                            <td>
                                                <label class="control control--checkbox">
                                                    <input type="checkbox" [checked]="item.activeflag==1" (change)="checkListItem($event,item)">
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </td>
                                            <td>{{item.positioncode}}</td>
                                            <td>{{item.roletypekey}}</td>
                                            <td>{{item.displayname}}</td>
                                        </tr>
                                        <tr *ngIf="searchResults?.length===0">
                                            <td colspan="5">No records found.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-sm-12 mrg-top25">
                            <div *ngIf="!createButton" class="pull-right">
                                <input type="button" value="Update" class="btn btn-pri" (click)="updateUserGroup()">
                                <input type="button" value="Cancel" class="btn btn-bg" (click)="cancelUserGroup()">
                            </div>
                            <div *ngIf="createButton" class="pull-right">
                                <input type="button" value="Create" class="btn btn-pri btn-sm" [disabled]="groupForm.invalid ||  groupForm.pristine"
                                    (click)="saveUserGroup()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>