<div class="col-sm-12 m-b-20" >
  <form [formGroup]="personAddressFormGroup">
    <div class="col-sm-6 border address-container">
      <div class="col-sm-12 m-t-10 ">
          <div class="person-section-header">
            <ng-container *ngIf="reportMode ==='edit'; else elseTitle">
              Update Address
            </ng-container>
            <ng-template #elseTitle>
                Add New Address
            </ng-template>
            
            </div>
        <mat-form-field>
          <mat-select placeholder="Address Type" formControlName="addresstype" id="addressTypeLabel" required>
            <mat-option *ngFor="let item of (this.addresstypeDropdownItems$ | async)"
              value="{{item.personaddresstypekey}}">{{ item.typedescription }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="address" type="text" matInput placeholder="Address Line 1" [matAutocomplete]="auto"
            (input)="getSuggestedAddress()" required />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
              value="{{item.text}}">
              {{item.text}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field> <input formControlName="address2" type="text" matInput placeholder="Address Line 2" />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="State" formControlName="state" required>
            <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)" value="{{item.ref_key}}" (click)="loadCounty(item.ref_key)">
              {{ item.description }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field> <input formControlName="city" type="text" matInput placeholder="City" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="county" placeholder="County">
            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.ref_key}}">
              {{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Zip Code" formControlName="zipcode" zipcodeOnly maxlength="5"
            minlength="5" required />
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 m-t-20 border-1 address-container">
      <div class="col-sm-12 m-t-20">
          <!-- <mat-checkbox formControlName="isCurrentAddress">Mark as Current Address</mat-checkbox> -->
        <p class="pt-10"></p>
        
          <common-date-picker [max]="maxDate" formControlName="addressstartdate" 
            placeholder="Start Date MM/DD/YYYY" ></common-date-picker>
        <!-- <mat-form-field>
          <input matInput [max]="maxDate" [matDatepicker]="picker1" (click)="picker1.open()" formControlName="addressstartdate"
            placeholder="Start Date MM/DD/YYYY">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field> -->
        <common-date-picker [max]="maxDate" formControlName="personadrenddate" 
            placeholder="End Date MM/DD/YYYY" [min]="personAddressFormGroup.controls['addressstartdate'].value"></common-date-picker>
        <!-- <mat-form-field>
          <input matInput [max]="maxDate" [matDatepicker]="picker2" (click)="picker2.open()" formControlName="personadrenddate"
            placeholder="End Date MM/DD/YYYY"  [min]="personAddressFormGroup.controls['addressstartdate'].value">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> -->
        <p class="pt-10"></p>
      <!--   <p class="pt-10 text-center">Or</p> -->
        <mat-form-field>
          <input type="text" matInput formControlName="durationDay" placeholder="Approximate Duration of Stay" />
        </mat-form-field>
        <p class="pt-10"><b>Known danger at address?
          <sup class="red m-l-5">*</sup>
        </b>
        </p>
        <!-- <div class="col-md-12">
          <div class="row"> -->
              <mat-radio-group required formControlName="knownDangerAddress" (change)="knowDangerChange($event.value)">
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
                <mat-radio-button [value]=2>Unknown</mat-radio-button>
              </mat-radio-group>
          <!-- </div>
        </div>         -->
        <mat-form-field *ngIf="enableReason">
          <input type="text" matInput placeholder="Reason" formControlName="knownDangerAddressReason"
          [required]="enableReason" />
        </mat-form-field>
        <div class="pt-26">
            <mat-checkbox formControlName="isHouseholdMember">Is this a household member</mat-checkbox>
        </div>
    </div>
    </div>
    <!-- <div class="col-sm-4 border address-container">
        <div class="col-sm-12 m-t-10 ">
          <div class="person-section-header" >Contact</div>
        <phone-create-update [list]= "phoneNumberList"  (phonelistemit)="updatePhoneList($event)"></phone-create-update>
        <email-create-update [list]= "emailList" (emiallistemit)="updateEmailList($event)" ></email-create-update>
        </div>
    </div> -->
    <div class="col-sm-12 pt-20 pb-20 border-button text-right">
        <button class="btn btn-pri" [disabled]="personAddressFormGroup.invalid || _personService.getClosed()" (click)="addPersonAddress(personAddressFormGroup.value)">{{actionText}}</button>
        <button class="btn-bg" (click)="cancelForm();">Cancel</button>
    </div>
  </form>
</div>
