<form [formGroup]="intakeNarrativeForm">
    <div class="cnt-min-height narrative-main">
  
      <div class="row">
        <div class="col-xs-12">
          <div class="col-sm-8">
            <h4 class="p-t-20 p-b-20">NARRATIVE</h4>
          </div>
          <br>
          <!-- <div id="divNonEditNarrative" [safeHtml]="intakeNarrativeForm.controls['narrative'].value"></div> -->
          <div id="divEditNarrative" class=" narrative-textarea " class="col-xs-12">
             <quill-editor formControlName="narrative" format="html" [style]="{height: '200px'}"></quill-editor>
             <div class="textarea-icons pull-right">
              <a classs="" href="javascript:{} ">
                <img *ngIf="recognizing " src="../../../../../assets/images/voice-icon-on.png " (click)=" activateSpeechToText() ">
                <img *ngIf="!recognizing " src="../../../../../assets/images/voice-icon-off.png " (click)="activateSpeechToText() ">
              </a>
            </div>
            <control-messages [control]="intakeNarrativeForm.controls['narrative'] "></control-messages>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="btn-group btn-group-re pull-right m-t-20 m-b-20">
          <button type="submit" class="btn-pri" (click)="saveNarrative(intakeNarrativeForm.value)">Save</button>
      </div>
  </div>
  <div class="clearfix"></div>
  </form>
  
  <div class="col-md-12 table-responsive">
    <table class="table customTable firsttable">
        <thead>
            <tr>
                <th><font size="2">Date and Time</font></th>
                <th><font size="2">Author</font></th>                        
                <th><font size="2">Narrative</font></th>
            </tr>
        </thead>

        <tbody>
          
                <tr *ngFor="let narrative of narratives | paginate: { id:'narrative',itemsPerPage: 10, currentPage: p }"> 
                    <td>{{narrative.insertedon | date:'MM/dd/yyyy HH:mm'}}</td>
                    <!-- <td>{{narrative.communication_date | date:'MM/dd/yyyy HH:mm'}}</td> -->
                    <td>{{narrative.narravtivefrom}}</td>
                  
                    <td>{{narrative.narrative}}</td>
                </tr>
              
        </tbody>
    </table>
    <div class="text-center m-t-20" *ngIf="narratives; let narratives">
      <pagination-controls id="narrative" class="text-center m-t-20" *ngIf="narratives.length>0" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
