<div class="container-fluid">
  <form [formGroup]="applicationForm">
   <div class="row m-t-20">
      <div class="col-sm-3">
         <h4 class="mrg-top25">Existing Applications</h4>
      </div>
      <!-- <div class="col-sm-3 pull-right">
         <div class="col-sm-12 pull-right">
            <mat-form-field>
               <mat-select placeholder="Applicant Type" >
                     <mat-option *ngFor="let item of applicantType" value="{{item}}" (click)="getApplicantType(item)">
                        {{item}}
                     </mat-option>
               </mat-select>
            </mat-form-field>
         </div> 
      </div> -->
   </div>   
   </form>
   <div class="box-grid-main clsMinHeight clearfix no-shadow">
      <div class="dashboard-cont no-pad">
         <div class="tab-horizontal mrg-top25 mrg-btm25">     
            <ul class="nav nav-pills">
               <li class="active">
                  <a href="#application-pending" data-toggle="tab" (click)="changeSelectedStatus('Pending')">PENDING</a>
               </li>
               <li>
                  <a href="#application-pending" data-toggle="tab" (click)="changeSelectedStatus('Accepted')">ACCEPTED</a>
               </li>          
               <li>
                  <a href="#application-rejected" data-toggle="tab" (click)="changeSelectedStatus('Rejected')">REJECTED</a>
               </li>
               <li>
                  <a href="#application-pending" data-toggle="tab" (click)="changeSelectedStatus('Closed')">CLOSED</a>
               </li>
               <li>
                  <a href="#application-accepted" data-toggle="tab" (click)="changeSelectedStatus('Approved')">APPROVED</a>
               </li>              
            </ul>
               
            <div class="tab-content boxgrid" *ngIf="currentApplicantType == 'Private'">
               <div class="tab-pane active" >
                  <div class="cnt-min-height">
                     <div class="table-responsive table-theme m-t-20">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                    <th>Provider Id</th>
                                 <th>Applicant Id</th>
                                 <th>Application Type</th>
                                 <th>Program Name</th>
                                 <th>Corporation Name</th>
                                 <th>Contact Person</th>
                                 <th>Mailing Address</th>
                                 <th>Contact Phonenumber</th>
                                 <th>Contact Email</th>
                                 <th>Contact Fax</th>
                                 <th>Program Type</th>
                              </tr>
                           </thead>
                           <tbody>
                              <ng-container id="application-pending">
                                 <tr *ngFor="let applicant of applicants | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>
                                       <a [routerLink]="['/pages/provider-management/new-provider', applicant.provider_id]">{{applicant.provider_id}}</a>
                                    </td>
                                    <td>
                                       <a [routerLink]="['/pages/provider-applicant/new-applicant', applicant.applicant_id]">{{applicant.applicant_id}}</a>
                                    </td>
                                    <td>{{currentApplicantType}}</td>
                                    <td>{{applicant.program_name}}</td>
                                    <td>{{applicant.corporation_name}}</td>
                                    <td>{{applicant.contact_first_nm}} {{applicant.contact_last_nm}}</td>
                                    <td>{{applicant.mailing_address}}</td>
                                    <td>{{applicant.contact_phonenumber}}</td>
                                    <td>{{applicant.contact_email}}</td>
                                    <td>{{applicant.contact_fax}}</td>
                                    <td>{{applicant.program_type}}</td>
                                 </tr>
                              </ng-container>

                              <ng-container id="application-rejected">


                              </ng-container>

                              <ng-container id="application-accepted">


                              </ng-container>
                           </tbody>
                        </table>
                        <div class="text-center m-t-20" *ngIf="applicants; let applicants">
                        <pagination-controls class="text-center m-t-20" *ngIf="applicants.length>0" (pageChange)="p = $event"></pagination-controls>
         </div>
                     </div>
                  </div>
               </div>

            </div>
            <div class="tab-content boxgrid" *ngIf="currentApplicantType == 'Public'">
               <div class="tab-pane active" >
                  <div class="cnt-min-height">
                     <div class="table-responsive table-theme m-t-20">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>Applicant Id</th>
                                 <!-- <th>Application Type</th> -->
                                 <th>Program</th>
                                 <th>Program Types</th>
                                 <th>Phase</th>
                                 <th>Applicant First Name</th>
                                 <th>Applicant Last Name</th>
                                 <th>Co-Applicant First Name</th>
                                 <th>Co-Applicant Last Name</th>
                              </tr>
                           </thead>
                           <tbody>
                              <ng-container id="application-pending">
                                 <tr *ngFor="let applicant of applicants | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>
                                       <a [routerLink]="['/pages/provider-applicant/new-public-applicant', applicant.applicant_id]">{{applicant.applicant_id}}</a>
                                    </td>
                                    <!-- <td>{{currentApplicantType}}</td> -->
                                    <td>{{applicant.prgram}}</td>
                                    <td>{{applicant.provider_program_type}}</td>
                                    <td>{{applicant.phase}}</td>
                                    <td>{{applicant.individual_applicant_first_nm}}</td>
                                    <td>{{applicant.individual_applicant_last_nm}}</td>
                                    <td>{{applicant.co_applicant_first_nm}}</td>
                                    <td>{{applicant.co_applicant_last_nm}}</td>
                                 </tr>
                              </ng-container>

                              <ng-container id="application-rejected">


                              </ng-container>

                              <ng-container id="application-accepted">


                              </ng-container>
                           </tbody>
                        </table>
                        <div class="text-center m-t-20" *ngIf="applicants; let applicants">
                           <pagination-controls class="text-center m-t-20" *ngIf="applicants.length>0" (pageChange)="p = $event"></pagination-controls>
                        </div>
                        <!-- <div class="text-center" *ngIf="applicants; let applicants">
                           <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                                 [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                        </div> -->
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
     