
.pad-btm-15 {
	padding-bottom:15px;
}
.mrg-btm0 {
	margin-bottom:0;
}
.mrg-top25 {
	margin-top:25px;
}
.mrg-rht10 {
	margin-right:10px;
}
.fm-box {
    overflow: hidden;
    padding-bottom: 10px;
}
.fm-box label {
    float: left;
    width: 100px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
}
.fm-box p {
    float: left;
    margin: 0;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    color: #333;
}
.fm-box .fm-style {
    float: left;
}
.fm-box .w-date {
    width: 125px;
}
.fm-box .w-time {
    width: 80px;
}
.fm-box .w-select {
    width: 125px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.fm-style {
    height: 28px;
    padding: 3px 7px;
    font-size: 13px;
    box-shadow: none;
    border-color: #d2d2d2;
}
.fm-box-form {
    position: relative;
    overflow: hidden;
}
.fm-box-form i {
    position: absolute;
    top: 7px;
    left: 100px;
    color: #19a7b8;
}
.customize-modal .modal-header {
    background: #19a7b8;
    color: #fff;
    padding: 10px 15px;
}
.customize-modal .modal-header button.close {
    background: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    opacity: 1;
    margin-top: 5px;
	line-height: 18px;
	color:#19a7b8
}
.customize-modal .modal-header h4 {
	font-size: 15px;
    font-weight: bold;
	color: #fff;
    margin-bottom: 0;
}
.customize-modal .modal-body .fm-box {
	padding-bottom: 20px;
}
.customize-modal .modal-body .fm-box label {
	width: 125px;
}
.customize-modal .modal-body input.btn {
	padding: 5px 30px !important;
    min-width: 100px;
	font-size:13px;
}
.customize-modal .modal-body input.btn.btn-default {
	padding: 5px 30px !important;
    min-width: 100px;
    border-color: #19a7b8;
    color: #19a7b8;
}
.customize-modal .table-responsive {
	height:200px;
	overflow-y:scroll;
}
.customize-modal .table {
	border:1px solid #e5e5e5;
}
.customize-modal .table thead {
    background: #19a7b8;
	color:#fff;
	font-size:13px;
}
.customize-modal .table tbody tr td {
	font-size:13px;
}
.customize-modal .table tbody tr:hover {
	background:#e0fcff;
}
.customize-modal .control__indicator {
	height: 12px;
    width: 12px;
}
.customize-modal i {
	color:#19a7b8;
}
.left-tab .nav-pills li.active{color: #19a7b8;
background: #fff;
border-left: 4px solid #19a7b8;
box-shadow: 0 0 10px #ccc;
}
.left-tab .nav-pills li a{ background: #fff; color:#7f7f7f;}
.left-tab .nav-pills li.active a{color: #19a7b8;background: #fff;}
.left-tab .tab-content {
	border-left:1px solid #e5e5e5;
}
.left-tab .modal-content {
	box-shadow:none;
}
#myModal-distribution-list .customize-modal .modal-body .fm-box label {
	width:90px;
}
#person-config .left-tab .nav-pills {
	border-right:1px solid #e5e5e5;
}
#entity-config .left-tab .nav-pills {
	border-right:1px solid #e5e5e5;
}

.form-letter-tab .tab-content .customize-modal h3.modal-title{ margin:0; }


.form-letter-tab{
	margin-top: 50px;
}
.form-letter-tab .nav-tabs{
border-bottom: 0;
}
.form-letter-tab .nav-tabs>li a{
	color: #000;
	font-size: 13px;
	border:0;
	font-weight: 700;
	position: relative;
	transition: all 0.3s;
	border-radius: 0;
}
.form-letter-tab .nav-tabs>li.active>a{
	background-color:#fff;
	color: #00bcd3;
	border:none;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
}
.form-letter-tab .nav-tabs>li a::after{
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	margin:0 auto;
	content: '';
	width: 0%;
	height: 2px;
	background-color:#00bcd3;
	transition: all 0.3s;
}
.form-letter-tab .nav-tabs>li.active>a::after{
width: 100%;
transition: all 0.3s;
}
.form-letter-tab .box-grid{
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0;
	padding: 0 20px 30px;
	float: left;
	width: 100%
}

.form-letter-tab .box-grid .breadcrumb{
	background-color: #fff;
	padding: 20px 0 0px;
}
.form-letter-tab .box-grid .breadcrumb li a{
	color: #000;
	font-weight: 700;
}
.form-letter-tab .box-grid .breadcrumb li a,
.form-letter-tab .box-grid .breadcrumb li{
	font-size: 11px;
	text-decoration: none;
}
.form-letter-tab .breadcrumb>.active {
    color: #545c5d;
}
.form-letter-tab .box-grid h3{
	margin:20px 0;
}
.form-letter-tab .box-grid h4{
color: #777;
font-size: 14px;
margin:0 0 3%;
}
.form-letter-tab .tab-subtitle{
	width: 80%;
	float: left;
}
.form-letter-tab .tab-popup-button{
    width: 20%;
    float: left;
    margin: 4% 0 3%;
}
.form-letter-tab .tab-popup-button a{
font-size: 13px;
	background-color: transparent;
	outline: none;
	border:0;
	padding:6px 15px;
	border-radius: 5px;
	border:2px solid #00bcd3;
	color: #000;
	font-weight: 700;
	min-width: 120px;
	margin-right: 10px;
	float: right;
}
.edit-icons span{
	margin:0 5px;
	cursor: pointer;
}
.form-letter-tab .table>thead:first-child>tr:first-child>th{
	border:0;
}
.form-letter-tab .table>thead{
	background-color: #00bcd3;
}
.form-letter-tab .table>thead th{
	color: #fff;
	font-size: 12px;
}
.form-letter-tab .table-bordered>tbody>tr>td{
	border:1px solid #e6dede;
	font-size: 12px;
	color: #000
}

// .form-letter-tab .table-bordered>tbody>tr:nth-child(odd){
// 	 background-color: #00bcd342;
// }

.box-grid h3{
	color: #5d4f4f;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin:5px 0 10px;
}
.bg-grey{
	background-color: #f7f7f7;
}
.mt-0{
	margin-top: 0!important
}