<div class="row" [formGroup]="healthinsuranceForm">
    <div class="col-sm-12">
        <div class=" m-b-5" 
        [ngStyle]="{ 'pointer-events' : reportMode === 'edit' ? 'none' : 'inherit' }">
            <p>Does Client have Insurance<label></label></p>
            <mat-radio-group  formControlName="isinsuranceavailable">
                <mat-radio-button (click)="isInsuranceExsists(true)" class="m-r-10" [value]=true>Yes</mat-radio-button>
                <mat-radio-button (click)="isInsuranceExsists(false)" [value]=false>No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div [hidden]="!isInsuranceAvailableforPerson">
        <div class="col-sm-12 m-b-5">
            <div class="row">
                <div class="col-sm-6">
                    <p>Medicaid / Medical Assistance <label></label></p>
                    <mat-radio-group  formControlName="ismedicaidmedicare">
                        <mat-radio-button (click)="selectmedicalassistance(true)" class="m-r-10" value=true>Yes</mat-radio-button>
                        <mat-radio-button (click)="selectmedicalassistance(false)" value=false>No</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-checkbox 
                (change)="selectmedicalassistance($event)" 
                formControlName="medicalassistance">Medicaid / Medical Assistance 
                <label class="required"></label></mat-checkbox> -->
                </div>
                <div class="col-sm-6 m-t-20"  *ngIf="medAssistance">
                    <mat-form-field>
                        <input matInput placeholder="Medicare Number" formControlName="medicarenumber">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-12 m-b-5">
                    <mat-form-field>
                        <mat-select *ngIf="medAssistance"  formControlName="medicalinsuranceprovider"
                            placeholder="Medical Insurance Provider" >
                            <mat-option value="AMERIGROUP Community Care"> AMERIGROUP Community Care</mat-option>
                            <mat-option value="Helix Family Choice, Inc."> Helix Family Choice, Inc.</mat-option>
                            <mat-option value="JAI Medical Systems"> JAI Medical Systems</mat-option>
                            <mat-option value="Maryland Physicians Care"> Maryland Physicians Care</mat-option>
                            <mat-option value=" Priority Partners"> Priority Partners</mat-option>
                            <mat-option value="The Diamond Plan"> The Diamond Plan</mat-option>
                            <mat-option value="United Healthcare"> United Healthcare</mat-option>
                        </mat-select>
                        <mat-select *ngIf="!medAssistance"  formControlName="medicalinsuranceprovider"
                            placeholder="Medical Insurance Provider" >
                            <mat-option value="Aetna">Aetna</mat-option>
                            <mat-option value="Amerigroup Maryland, Inc.">Amerigroup Maryland, Inc.</mat-option>
                            <mat-option value="Blue Cross/Blue Shield">Blue Cross/Blue Shield</mat-option>
                            <mat-option value="Care First">Care First</mat-option>
                            <mat-option value="Diamond Plan (Coventry)">Diamond Plan (Coventry)</mat-option>
                            <mat-option value="Helix Family Choice">Helix Family Choice</mat-option>
                            <mat-option value="JAI Medical Systems, Inc">JAI Medical Systems, Inc</mat-option>
                            <mat-option value="Kaiser Permanente">Kaiser Permanente</mat-option>
                            <mat-option value="Magellan">Magellan</mat-option>
                            <mat-option value="Maryland Physicians Care">Maryland Physicians Care</mat-option>
                            <mat-option value="Other">Other</mat-option>
                            <mat-option value="Priority Partners">Priority Partners</mat-option>
                            <mat-option value="TriCare">TriCare</mat-option>
                            <mat-option value="United Health Care">United Health Care</mat-option>
                            <mat-option value="US Family Health Plan">US Family Health Plan</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select  formControlName="providertype"  placeholder="Provider Type">
                            <mat-option value="Primary">Primary</mat-option>
                            <mat-option value="Secondary">Secondary</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="providerphone" matInput placeholder="Provider Phone Number">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field>
                <input matInput formControlName="address1" placeholder="Address Line 1">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="address2" placeholder="Address Line 2">
            </mat-form-field>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="City">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="state" placeholder="State" (change)="loadCounty()">
                            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="county" placeholder="County">
                            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="zip" matInput placeholder="Zip Code">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <mat-form-field>
                <input matInput formControlName="policyholdername" placeholder="Policy holder name  ">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="patientpolicyholderrelation" matInput placeholder="Patient Relationship to Policyholder ">
            </mat-form-field>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput  formControlName="policyname"  placeholder="Policy Number">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput formControlName="groupnumber"  placeholder="Group Number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput  formControlName="startdate" (click)="picker3.open()" [matDatepicker]="picker3"
                            placeholder="Effective Policy Date">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput formControlName="enddate" (click)="picker4.open()" [matDatepicker]="picker4"
                            placeholder="Expiration Date">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="healthinsuranceForm.pristine || healthinsuranceForm.invalid"
                        (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="healthinsuranceForm.pristine || healthinsuranceForm.invalid"
                        *ngIf="editMode === true" (click)="update()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="healthinsurance.length>0">
            <div class="table-responsive table-theme table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Insurance</th>
                            <th>Medical Assistance</th>
                            <th>Policy Number</th>
                            <th>Provider</th>
                            <th>Update on</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let health of healthinsurance; let i=index">
                            <td>{{health.isinsuranceavailable ? 'Yes' : 'No'}}</td>
                            <td>{{health.ismedicaidmedicare ? 'Yes' : 'No'}}</td>
                            <td>{{health.policyname}}</td>
                            <td>{{health.medicalinsuranceprovider}}</td>
                            <td>{{health.updateddate | date:'MM/dd/yy HH:mm'}}</td>
                            <td>
                                <a (click)="view(health)">
                                    <i class="fa fa-eye text-16"></i>
                                </a> |
                                <a (click)="edit(health, i)">
                                    <i class="fa fa-pencil text-16"></i>
                                </a> |
                                <a (click)="delete(i)">
                                    <i class="fa fa-trash text-16"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
