<h3> Search Results </h3>
<div *ngIf="showTable" class="table-responsive form-letter-tab">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Official Name</th>
        <th>DBA Name</th>
        <th>Entity Category</th>
        <th>Entity Type</th>
        <th>Business Type</th>
        <th>SSBG</th>
        <th>FACID</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Loc</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="resultsEntitiesList$ | async; let resultsEntitiesList">
      <tr *ngFor="let entity of resultsEntitiesList">
        <td>{{entity.agencyname}}</td>
        <td> </td>
        <td>{{entity.agencytypedesc}}</td>
        <td>{{entity.agencysubtype}}</td>
        <td>{{entity.agencysubtypedesc}}</td>
        <td>{{entity.ssbg}}</td>
        <td>{{entity.facid}}</td>
        <td>{{entity.city}}</td>
        <td>{{entity.zipcode}}</td>
        <td>{{entity.phonenumber}}</td>
        <td>{{entity.state}}</td>
        <td (click)="entitySelected(entity)">
          <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
            <a>
              <i class="fa fa-eye font-16 site-color"> </i>
            </a>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="text-center">
    <pagination [totalItems]="resultsTotalRecords$ |async" [(ngModel)]="paginationInfo.pagenumber" (pageChanged)="pageChanged($event.page)"
      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
    </pagination>
  </div>

</div>

<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
  $(document).ready(function () {
    // Add minus icon for collapse element which is open by default
    $(".collapse.in").each(function () {
      $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
    });

    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function () {
      $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hide.bs.collapse', function () {
      $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
  });
</script>

<div>
  <entities-view [entity]="selectedEntity$"></entities-view>
</div>
