<div class="row">
  <div class="col-md-12" [formGroup]="birthInfoForm">
        <div class="col-md-12">
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Mother's Use While Pregnant " formControlName="mothersusepregnant"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let item of pregnatMothersUseDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field>
                      <input matInput  formControlName="mothersusepregnantspecify" placeholder="Medical Condition Specify">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Medical Conditions for Children " formControlName="medicalcondition"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let item of medicalConditionsDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field>
                      <input matInput  formControlName="medicalconditionspecify" placeholder="Specify">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field>
                      <mat-select placeholder="Diseases/Conditions for Children " formControlName="diseasescondition"
                          multiple class="aut-lst-addNotesInvolvedPerson">
                          <!-- <mat-select-trigger>
                            </mat-select-trigger> -->
                            <mat-option *ngFor="let item of diseasesDropdownItems$ | async" value="{{item.value}}" >{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                    <input matInput  formControlName="diseasesconditionspecify" placeholder="Disease Condition Specify">
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                    <mat-form-field>
                        <!--D-07005 Start-->
                        <textarea type="text"  formControlName="birthdefects" matInput
                            placeholder="Birth Defects" class="aut-txt-malAllComments"></textarea>
                        <!--D-07005 End-->
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field>
                        <!--D-07005 Start-->
                        <textarea type="text"  formControlName="comments" matInput
                            placeholder="Comments" class="aut-txt-malAllComments"></textarea>
                        <!--D-07005 End-->
                    </mat-form-field>
                </div>
            </div>
      </div>
      <div class="col-sm-12 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                    <button class="btn-pri"  (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri"  *ngIf="editMode === true"
                        (click)="update()">Update</button>
                    <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>
  </div>
</div>

<div class="row">
<div class="col-sm-12"  *ngIf="birthInfocw.length>0">
    <div class="table-responsive table-theme table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Medical Conditions</th>
                    <th>Diseases</th>
                    <th>Birth Defects</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let birth of birthInfocw; let i=index">
                    <td>{{birth.medicalcondition}}</td>
                    <td>{{birth.diseasescondition}}</td>
                    <td>{{birth.birthdefects}}</td>
                    <td>{{birth.comments }}</td>
                    <td>
                        <a (click)="view(birth)">
                            <i class="fa fa-eye text-16"></i>
                        </a> |
                        <a (click)="edit(birth, i)">
                            <i class="fa fa-pencil text-16"></i>
                        </a> |
                        <a (click)="delete(i)">
                            <i class="fa fa-trash text-16"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

