.parental-right-div {
	position: relative;
}

.termination-wrapper {
    padding: 15px 20px 0px 20px;
}

.tpr-p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.tpr-p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.termination-appealed {
    border: 1px solid #d8e5ee;
    padding: 20px;
}

.semi-b {
	font-weight: 600;
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}
