<!--MFIRA Form Starts -->

<div class="box-grid-main">
  <div class="form-wrapper">
      <div class="row">
          <div class="col-md-12">
              <h4 class="head-bg-top text-center">MARYLAND FAMILY INITIAL RISK ASSESSMENT</h4>
          </div>
        </div>
      <div class="row">
          <div class="col-md-12">
              <div class="box-grid no-mar no-pad">
                  <div class="tab-horizontal widge-nav">
                    <ul class="nav nav-tabs cus-tab-section">
                      <li class="active"  routerLinkActive="active">
                          <a data-toggle="tab" id="" href="#family-household-composition">
                                  <span class="tab-txt">Family and Household Composition</span>
                              </a>
                          </li>
                          <li class="">
                              <a data-toggle="tab" id="" href="#neglect-abuse-index">
                                  <span class="tab-txt">Neglect/Abuse Index</span>
                              </a>
                          </li>
                          <li class="">
                              <a data-toggle="tab" id="" (click)="loadFinalScore()" href="#scoring-overrides">
                                  <span class="tab-txt">Scoring and Overrides</span>
                              </a>
                          </li>
                          <li class="">
                              <a data-toggle="tab" id="" href="#supplemental-questions">
                                  <span class="tab-txt">Supplemental Question</span>
                              </a>
                          </li>
                          <li class="">
                            <a data-toggle="tab" id="" href="#approval">
                                <span class="tab-txt">Approval</span>
                            </a>
                        </li>
                      </ul>
                  </div>
              
                  <div class="tab-content form-builder-wrp">
                      <div id="family-household-composition" class="tab-pane fade in active" [formGroup]="familyHOUSEHOLD">
                          <div class="cont-brd">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="head-bg">FAMILY AND HOUSEHOLD COMPOSITION</h3>
                                  </div>
                              </div>
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-4">
                                      <label>Date Assessment Initiated</label>
                                      <mat-form-field>
                                          <input matInput formControlName="assessmentInitDate" [matDatepicker]="picker1" placeholder="">
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <label>Head Of Household Name</label>
                                      <mat-form-field class="">
                                          <input matInput formControlName="houseHoldHeadName" placeholder="">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <label>CPS/Service Case ID</label>
                                      <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                          <input matInput formControlName="serviceCaseId" placeholder="">
                                      </mat-form-field>
                                  </div>                                  
                              </div>
                      
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="pd-wrp">
                                          <div class="table-responsive custom-tb-wd">
                                              <table class="table table-bordered">
                                                  <thead>
                                                      <tr>
                                                          <th>Name</th>
                                                          <th>DOB</th>
                                                          <th>Relationship</th>
                                                          <th>Primary Caregiver</th>
                                                          <th></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody formArrayName="familyArray">
                                                      <tr *ngFor="let contact of familyHOUSEHOLD['controls'].familyArray['controls']; let i=index" [formGroupName]="i">
                                                          <td>
                                                              <mat-form-field class="">
                                                                  <input matInput formControlName="name" placeholder="">
                                                              </mat-form-field>
                                                          </td>
                                                          <td>
                                                              <mat-form-field>
                                                                  <input matInput formControlName="dob" [matDatepicker]="picker2" placeholder="Date">
                                                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                                  <mat-datepicker #picker2></mat-datepicker>
                                                              </mat-form-field>
                                                          </td>
                                                          <td>
                                                              <mat-form-field class="">
                                                                  <input matInput formControlName="relationship" placeholder="">
                                                              </mat-form-field>
                                                          </td>
                                                          <td>
                                                              <mat-form-field class="">
                                                                  <!-- <input matInput formControlName="caregiver" placeholder=""> -->
                                                                  <mat-select formControlName="caregiver">                                            
                                                                      <mat-option *ngFor="let item of caregiversInCase" [value]="item.personname">{{item.personname}}
                                                                      </mat-option>
                                                                  </mat-select>
                                                              </mat-form-field>
                                                          </td>
                                                          <td>
                                                              <button class="no-bg">
                                                                  <i class="fa fa-trash" (click)="deleteFamily(i)"></i>
                                                              </button>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td colspan="5">
                                                              <button class="btn-pri" (click)="addFamily({})">
                                                                  Add New Member
                                                              </button>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>        
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right m-t-10">
                                        <button *ngIf="!isSupervisor" class="btn-pri" [disabled]="viewMifra" (click)="saveForm()">Save As Draft</button>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div id="neglect-abuse-index" class="tab-pane fade in" [formGroup]="NeglectAbuse">
                          <div class="cont-brd">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="head-bg">NEGLECT/ABUSE INDEX</h3>
                                  </div>
                              </div>
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-12">                                      
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="col-md-8">

                                          </div>
                                          <div class="col-md-2">
                                              <p><label>Neglect Score</label></p>
                                          </div>
                                          <div class="col-md-2">
                                              <p><label>Abuse Score</label></p>  
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                            <div class="col-md-8">
                                                <p><label>1. Current Report is for <span class="req-fields">*</span></label></p>
                                                <mat-radio-group required (change)="calculateScore($event.value, 'currentNeglectScore', 'currentAbuseScore')" formControlName="currentReport" class="radio-mar">
                                                  <mat-radio-button value="1">Neglect</mat-radio-button><br/>
                                                  <mat-radio-button value="2">Abuse</mat-radio-button><br/>
                                                  <mat-radio-button value="3">Both</mat-radio-button><br/>
                                                  <mat-radio-button value="4">Other (ROH, ROA, voluntary/self-referral)</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                    <input matInput formControlName="currentNeglectScore" placeholder="">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                    <input matInput formControlName="currentAbuseScore" placeholder="">
                                                </mat-form-field>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                              <div class="col-md-8">
                                                  <p><label>2. Prior CPS Response (IR/AR) <span class="req-fields">*</span></label></p>
                                                  <mat-radio-group required (change)="calculateScore($event.value, 'priorCPSResponseNeglectScore', 'priorCPSResponseAbuseScore')" formControlName="priorCPSResponse" class="radio-mar">
                                                    <mat-radio-button value="4">No</mat-radio-button><br/>
                                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                                  </mat-radio-group>                                                  
                                              </div>
                                              <div class="col-md-2">
                                                  <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                      <input matInput formControlName="priorCPSResponseNeglectScore" placeholder="">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-2">
                                                  <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                      <input matInput formControlName="priorCPSResponseAbuseScore" placeholder="">
                                                  </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row" *ngIf="NeglectAbuse.value.priorCPSResponse === '1'">
                                              <div class="col-md-12 row-ml">
                                                <div class="col-md-8">
                                                    <p><label>I2a. Prior Neglect <span class="req-fields">*</span></label></p>
                                                    <mat-radio-group (change)="calculateScore($event.value, 'priorNeglectNeglectScore', 'priorNeglectAbuseScore')" formControlName="priorNeglect">
                                                        <mat-radio-button value="4">None</mat-radio-button><br/>
                                                        <mat-radio-button value="1">One</mat-radio-button><br/>
                                                        <mat-radio-button value="10">Two</mat-radio-button><br/>
                                                        <mat-radio-button value="5">Three or More</mat-radio-button>
                                                    </mat-radio-group>                                            
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                        <input matInput formControlName="priorNeglectNeglectScore" placeholder="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                        <input matInput formControlName="priorNeglectAbuseScore" placeholder="">
                                                    </mat-form-field>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row" *ngIf="NeglectAbuse.value.priorCPSResponse === '1'">
                                                <div class="col-md-12 row-ml">
                                                  <div class="col-md-8">
                                                      <p><label>I2b. Prior Abuse <span class="req-fields">*</span></label></p>
                                                      <mat-radio-group (change)="calculateScore($event.value, 'priorAbuseNeglectScore', 'priorAbuseAbuseScore')" formControlName="priorAbuse" class="radio-mar">
                                                        <mat-radio-button value="4">None</mat-radio-button><br/>
                                                        <mat-radio-button value="2">One</mat-radio-button><br/>
                                                        <mat-radio-button value="6">Three or More</mat-radio-button>
                                                    </mat-radio-group>                                         
                                                  </div>
                                                  <div class="col-md-2">
                                                      <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                          <input matInput formControlName="priorAbuseNeglectScore" placeholder="">
                                                      </mat-form-field>
                                                  </div>
                                                  <div class="col-md-2">
                                                      <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                          <input matInput formControlName="priorAbuseAbuseScore" placeholder="">
                                                      </mat-form-field>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                    <div class="col-md-8">
                                                        <p><label>3. Household previously had an open IHFS/OHP case due to Child Abuse/ Neglect (voluntary or court-ordered) <span class="req-fields">*</span></label></p>
                                                        <mat-radio-group required (change)="calculateScore($event.value, 'ihfsohpcaseNeglectScore', 'ihfsohpcaseAbuseScore')" formControlName="ihfsohpcase" class="radio-mar">
                                                          <mat-radio-button value="4">No</mat-radio-button><br/>
                                                          <mat-radio-button value="3">Yes</mat-radio-button>
                                                        </mat-radio-group>                                         
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="ihfsohpcaseNeglectScore" placeholder="">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="ihfsohpcaseAbuseScore" placeholder="">
                                                        </mat-form-field>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="col-md-8">
                                                          <p><label>4. Number of children identified as being directly involved in the current CPS response (including AR and ROH; does not include ROA) <span class="req-fields">*</span></label></p>
                                                          <mat-radio-group required (change)="calculateScore($event.value, 'cpsresponseNeglectScore', 'cpsresponseAbuseScore')" formControlName="cpsresponse" class="radio-mar">
                                                            <mat-radio-button value="4">Zero, one, two, or three</mat-radio-button><br/>
                                                            <mat-radio-button value="1">Four or more</mat-radio-button>
                                                          </mat-radio-group>                                         
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="cpsresponseNeglectScore" placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="cpsresponseAbuseScore" placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-8">
                                                            <p><label>5. Prior non-accidental injury to any child in the household <span class="req-fields">*</span></label></p>
                                                            <mat-radio-group required (change)="calculateScore($event.value, 'priorNonAccidentalNeglectScore', 'priorNonAccidentalAbuseScore')" formControlName="priorNonAccidental" class="radio-mar">
                                                              <mat-radio-button value="4">No</mat-radio-button><br/>
                                                              <mat-radio-button value="2">Yes</mat-radio-button>
                                                            </mat-radio-group>                                         
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="priorNonAccidentalNeglectScore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="priorNonAccidentalAbuseScore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-8">
                                                            <p><label>6. Age of youngest child in the home <span class="req-fields">*</span></label></p>
                                                            <mat-radio-group required (change)="calculateScore($event.value, 'youngestAgeNeglectScore', 'youngestAgeAbuseScore')" formControlName="youngestAge" class="radio-mar">
                                                              <mat-radio-button value="4">2 or older</mat-radio-button><br/>
                                                              <mat-radio-button value="1">Under 2</mat-radio-button>
                                                            </mat-radio-group>                                         
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="youngestAgeNeglectScore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="youngestAgeAbuseScore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-8">
                                                            <p><label>7. Characteristics of children in the household (Select all that apply) <span class="req-fields">*</span></label></p>
                                                            <div class="p-l-14">
                                                                <mat-checkbox formControlName="medicallyfragile" >Medically fragile/failure to thrive</mat-checkbox> 
                                                                <mat-checkbox formControlName="positivetoxicology">Positive toxicology screen at birth</mat-checkbox> 
                                                                <mat-checkbox formControlName="physicaldisability">Physical disability</mat-checkbox>
                                                                <mat-checkbox formControlName="developmentaldisability">Developmental disability</mat-checkbox>   
                                                                <mat-checkbox formControlName="delinquencyhistory">Delinquency history</mat-checkbox> 
                                                                <mat-checkbox formControlName="mentalhealth">Mental health/behavior problems</mat-checkbox> 
                                                                <mat-checkbox formControlName="nonecharacteristics">None of the above</mat-checkbox>  
                                                            </div>                                            
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="m-t-40" [ngClass]="{'disabledField': true}">
                                                                <input matInput [value]="getCharacteristicvalue(1)" formControlName="characteristicsneglectscore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field class="m-t-40" [ngClass]="{'disabledField': true}">
                                                                <input matInput [value]="getCharacteristicvalue(2)" formControlName="characteristicsabusescore" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="col-md-8">
                                                          <p><label>8. Primary caregiver’s assessment of incident (Select all that apply) <span class="req-fields">*</span></label></p>
                                                          <div class="p-l-14">
                                                            <mat-checkbox formControlName="blameschild">Blames child</mat-checkbox> 
                                                            <mat-checkbox formControlName="justifiesmaltreatment">Justifies maltreatment of the child</mat-checkbox> 
                                                            <mat-checkbox formControlName="noneprimary">None of the above</mat-checkbox>                                           
                                                          </div>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="primaryneglectscore" placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                              <input matInput [value]="getcaregivervalue(2)" formControlName="primaryabusescore" placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                    </div>
                                              </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="col-md-8">
                                                          <p><label>9. Primary caregiver provides physical care consistent with each child’s needs <span class="req-fields">*</span></label></p>
                                                          <mat-radio-group required formControlName="PrimaryCaregiver" (change)="calculateScore($event.value, 'PrimaryCaregiverNeglectScore', 'PrimaryCaregiverAbuseScore')" class="radio-mar">
                                                              <mat-radio-button value="1">No</mat-radio-button><br/>
                                                              <mat-radio-button value="4">Yes</mat-radio-button>
                                                          </mat-radio-group>                                    
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="PrimaryCaregiverNeglectScore" placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="PrimaryCaregiverAbuseScore"  placeholder="">
                                                          </mat-form-field>
                                                      </div>
                                                    </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <div class="col-md-8">
                                                    <p><label>10. Primary caregiver characteristics (Select all that apply) <span class="req-fields">*</span></label></p>
                                                    <div class="p-l-14">
                                                      <mat-checkbox formControlName="providesinsufficient">Provides insufficient emotional/psychological support</mat-checkbox> 
                                                      <mat-checkbox formControlName="employsexcessive">Employs excessive/inappropriate discipline</mat-checkbox> 
                                                      <mat-checkbox formControlName="domineeringcaregiver">Domineering caregiver</mat-checkbox>
                                                      <mat-checkbox formControlName="nonecaregiver">None of the above</mat-checkbox>     
                                                    </div>                                       
                                                  </div>
                                                  <div class="col-md-2">
                                                    <mat-form-field class="m-t-30" [ngClass]="{'disabledField': true}">
                                                      <input matInput formControlName="primarycaregivercharacteristicsneglectscore" placeholder="">
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-md-2">
                                                    <mat-form-field class="m-t-30" [ngClass]="{'disabledField': true}">
                                                      <input matInput [value]="getcaregivercharvalue(2)" formControlName="primarycaregivercharacteristicsabusescore" placeholder="">
                                                    </mat-form-field>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                    <div class="col-md-8">
                                                      <p><label>11. Primary caregiver has a past or current mental health problem (If yes, please select one) <span class="req-fields">*</span></label></p>
                                                      <mat-radio-group required formControlName="PrimaryCaregiverMentalHealth" (change)="calculateScore($event.value, 'PrimaryCaregiverMentalHealthNeglectScore', 'PrimaryCaregiverMentalHealthAbuseScore')" class="radio-mar">
                                                          <mat-radio-button value="4">No</mat-radio-button><br/>
                                                          <mat-radio-button value="1">Yes</mat-radio-button>
                                                      </mat-radio-group>
                                                      <div class="row" *ngIf="NeglectAbuse.value.PrimaryCaregiverMentalHealth === '1'">
                                                        <div class="col-md-12 row-ml">
                                                        <mat-radio-group formControlName="PrimaryCaregiverTreatment" class="radio-mar">
                                                          <mat-radio-button value="1">Currently in treatment</mat-radio-button><br/>
                                                          <mat-radio-button value="2">Not engaged in treatment</mat-radio-button><br/>
                                                          <mat-radio-button value="3">Unknown treatment status</mat-radio-button>
                                                        </mat-radio-group>
                                                        </div>
                                                      </div>                                                                                                       
                                                    </div>
                                                    <div class="col-md-2">
                                                      <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                        <input matInput formControlName="PrimaryCaregiverMentalHealthNeglectScore" placeholder="">
                                                      </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                      <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                        <input matInput formControlName="PrimaryCaregiverMentalHealthAbuseScore" placeholder="">
                                                      </mat-form-field>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="col-md-8">
                                                        <p><label>12. Primary caregiver has past or current alcohol or substance abuse problem <span class="req-fields">*</span></label></p>
                                                        <mat-radio-group required class="radio-mar" formControlName="pastorcurrent">
                                                            <mat-radio-button value="1">No</mat-radio-button><br/>
                                                            <mat-radio-button value="2">Yes</mat-radio-button>
                                                        </mat-radio-group>
                                                        <div class="row" *ngIf="NeglectAbuse.value.pastorcurrent === '2'">
                                                          <div class="col-md-12 row-ml">
                                                          <mat-checkbox formControlName="pastorcurrentalcohol">Alcohol (Select one)</mat-checkbox>
                                                          <mat-radio-group class="radio-mar" formControlName="pastorcurrentalcoholselect">
                                                            <mat-radio-button value="1">Currently in treatment</mat-radio-button><br/>
                                                            <mat-radio-button value="2">Not engaged in treatment</mat-radio-button><br/>
                                                            <mat-radio-button value="3">Unknown treatment status</mat-radio-button>
                                                          </mat-radio-group>
                                                          </div>
                                                        </div>
                                                        <div class="row" *ngIf="NeglectAbuse.value.pastorcurrent === '2'">
                                                            <div class="col-md-12 row-ml">
                                                            <mat-checkbox formControlName="pastorcurrentdrugs">Drugs (Select one)</mat-checkbox>
                                                            <mat-radio-group class="radio-mar" formControlName="pastorcurrentdrugsselect">
                                                              <mat-radio-button value="1">Currently in treatment</mat-radio-button><br/>
                                                              <mat-radio-button value="2">Not engaged in treatment</mat-radio-button><br/>
                                                              <mat-radio-button value="3">Unknown treatment status</mat-radio-button>
                                                            </mat-radio-group>
                                                            </div>
                                                          </div>                                                   
                                                      </div>
                                                      <div class="col-md-2">
                                                        <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                          <input matInput formControlName="pastorcurrentneglectscore" placeholder="">
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-2">
                                                        <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                          <input matInput [value]="getsubstanceabusevalue(1)" formControlName="pastorcurrentabusescore" placeholder="">
                                                        </mat-form-field>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                        <div class="col-md-8">
                                                          <p><label>13. Secondary caregiver has past or current alcohol or substance abuse problem <span class="req-fields">*</span></label></p>
                                                          <mat-radio-group required class="radio-mar" (change)="calculateScore($event.value, 'secondarycaregiverpastorcurrentneglect', 'secondarycaregiverpastorcurrentabuse')" formControlName="secondarycaregiverpastorcurrent">
                                                              <mat-radio-button value="11">No secondary caregiver</mat-radio-button><br/>
                                                              <mat-radio-button value="4">No</mat-radio-button><br/>
                                                              <mat-radio-button value="2">Yes</mat-radio-button>
                                                          </mat-radio-group>
                                                          <div class="row" *ngIf="NeglectAbuse.value.secondarycaregiverpastorcurrent === '2'">
                                                            <div class="col-md-12 row-ml">
                                                            <mat-checkbox formControlName="secondarycaregiverpastorcurrentalcohol">Alcohol (Select one)</mat-checkbox>
                                                            <mat-radio-group class="radio-mar" formControlName="secondarycaregiverpastorcurrentselect">
                                                              <mat-radio-button value="1">Currently in treatment</mat-radio-button><br/>
                                                              <mat-radio-button value="2">Not engaged in treatment</mat-radio-button><br/>
                                                              <mat-radio-button value="3">Unknown treatment status</mat-radio-button>
                                                            </mat-radio-group>
                                                            </div>
                                                          </div>
                                                          <div class="row" *ngIf="NeglectAbuse.value.secondarycaregiverpastorcurrent === '2'">
                                                              <div class="col-md-12 row-ml">
                                                              <mat-checkbox formControlName="secondarycaregiverpastorcurrentdrugs">Drugs (Select one)</mat-checkbox>
                                                              <mat-radio-group class="radio-mar" formControlName="secondarycaregiverpastorcurrentdrugsselect">
                                                                <mat-radio-button value="1">Currently in treatment</mat-radio-button><br/>
                                                                <mat-radio-button value="2">Not engaged in treatment</mat-radio-button><br/>
                                                                <mat-radio-button value="3">Unknown treatment status</mat-radio-button>
                                                              </mat-radio-group>
                                                              </div>
                                                            </div>                                                   
                                                        </div>
                                                        <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="secondarycaregiverpastorcurrentneglect" placeholder="">
                                                          </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                          <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                            <input matInput [value]="getsubstancesecondaryabusevalue(1)" formControlName="secondarycaregiverpastorcurrentabuse" placeholder="">
                                                          </mat-form-field>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                          <div class="col-md-8">
                                                            <p><label>14. Primary caregiver has a history of abuse or neglect as a child <span class="req-fields">*</span></label></p>
                                                            <mat-radio-group required formControlName="PrimaryCaregiverHistory" class="radio-mar" (change)="calculateScore($event.value, 'PrimaryCaregiverHistoryNeglectScore', 'PrimaryCaregiverHistoryAbuseScore')">
                                                                <mat-radio-button value="4">No</mat-radio-button><br/>
                                                                <mat-radio-button value="2">Yes</mat-radio-button>
                                                            </mat-radio-group>                                                                                                 
                                                          </div>
                                                          <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="PrimaryCaregiverHistoryNeglectScore" placeholder="">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-2">
                                                            <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                              <input matInput formControlName="PrimaryCaregiverHistoryAbuseScore" placeholder="">
                                                            </mat-form-field>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                            <div class="col-md-8">
                                                              <p><label>15. Two or more incidents of domestic violence in the household in the past year <span class="req-fields">*</span></label></p>
                                                              <mat-radio-group required formControlName="housing" class="radio-mar" (change)="calculateScore($event.value, 'domesticviolenceneglect', 'domesticviolenceabuse')">
                                                                  <mat-radio-button value="4">No</mat-radio-button><br/>
                                                                  <mat-radio-button value="6">Yes</mat-radio-button>
                                                              </mat-radio-group>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="domesticviolenceneglect" placeholder="">
                                                              </mat-form-field>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                                                <input matInput formControlName="domesticviolenceabuse" placeholder="">
                                                              </mat-form-field>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                              <div class="col-md-8">
                                                                <p><label>16. Housing (Select all that apply) <span class="req-fields">*</span></label></p>
                                                                <div class="p-l-14">
                                                                  <mat-checkbox formControlName="domesticviolencecurrent">Current housing physically unsafe</mat-checkbox> 
                                                                  <mat-checkbox formControlName="domesticviolencehomeless">Homeless at time CPS response began</mat-checkbox> 
                                                                  <mat-checkbox formControlName="domesticviolencefamily">Family has housing that is physically safe</mat-checkbox>                                                                                                                                                                                
                                                                </div>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                                  <input matInput [value]="getHousing(2)" formControlName="housingNeglectScore" placeholder="">
                                                                </mat-form-field>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <mat-form-field class="m-t-20" [ngClass]="{'disabledField': true}">
                                                                  <input matInput formControlName="housingAbuseScore" placeholder="">
                                                                </mat-form-field>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="row">
                                                              <div class="col-md-12">
                                                                <div class="col-md-8">
                                                                  <p><label class="m-t-20">Total score</label></p>                                                                                              
                                                                </div>
                                                                <div class="col-md-2">
                                                                  <mat-form-field class="">
                                                                    <input matInput [value]="calculateTotalNeglect()" formControlName="totalNeglectScore" placeholder="">
                                                                  </mat-form-field>
                                                                </div>
                                                                <div class="col-md-2">
                                                                  <mat-form-field class="">
                                                                    <input matInput [value]="calculateTotalAbuse()" formControlName="totalAbuseScore" placeholder="">
                                                                  </mat-form-field>
                                                                </div>
                                                              </div>
                                                            </div>

                                                
                                  </div>                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button *ngIf="!isSupervisor" class="btn-pri" [disabled]="viewMifra" (click)="saveForm()">Save As Draft</button>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div id="scoring-overrides" class="tab-pane fade in">
                          <div class="cont-brd">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="head-bg">SCORING AND OVERRIDES</h3>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="pd-wrp">
                                          <h3>SCORED RISK LEVEL</h3>
                                          <div class="table-responsive custom-tb-wd">
                                              <table class="table table-bordered">
                                                  <thead>
                                                      <tr>
                                                          <th>Neglect Score</th>
                                                          <th>Abuse Score</th>
                                                          <th>Risk Level</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>0–1</td>
                                                          <td>0–1</td>
                                                          <td>Low</td>                                                          
                                                      </tr>
                                                      <tr>
                                                          <td>2–4</td>
                                                          <td>2–4</td>
                                                          <td>Moderate</td>                                                          
                                                      </tr>
                                                      <tr>
                                                          <td>5–8</td>
                                                          <td>5–8</td>
                                                          <td>High</td>                                                          
                                                      </tr>
                                                      <tr>
                                                          <td>9+</td>
                                                          <td>8+</td>
                                                          <td>Very High</td>                                                          
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="row head-pad m-t-20" [formGroup]="scoringandoverride">
                                  <div class="col-md-12">
                                      <p><span class="font-sm-b">OVERRIDES:</span>The worker may determine that policy or discretionary overrides are applicable to the family, which will result in a change in the overall risk level. If there is a policy override, select the appropriate override; the risk level will become very high. If there is a discretionary override, the risk level will increase one level, and a reason must be entered in the space provided. If there are no overrides, select “No overrides apply”; the risk level will remain the same. </p>
                                      <p><span class="font-sm-b">Policy Overrides: </span>Select “yes” if condition is applicable in the current review period. If any condition is applicable, override final risk level to very high.</p>
                                  </div>
                                  <div class="col-md-12">
                                      <p><label>1.Sexual abuse case and the alleged maltreator is likely to have access to the child <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="sexualabusecase">
                                        <mat-radio-button value="1">Yes</mat-radio-button><br/>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-md-12">
                                      <p><label>2.Non-accidental injury to a child younger than 3 years <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="nonaccidental">
                                        <mat-radio-button value="1">Yes</mat-radio-button><br/>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-md-12">
                                      <p><label>3.Severe non-accidental injury <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="severenonaccidental">
                                        <mat-radio-button value="1">Yes</mat-radio-button><br/>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-md-12">
                                      <p><label>4.Caregiver action or inaction resulted in death of a child due to abuse or neglect <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="caregiveraction">
                                        <mat-radio-button value="1">Yes</mat-radio-button><br/>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <div class="col-md-12">
                                      <p><span class="font-sm-b">Discretionary Override:</span>If a discretionary override is made, select “yes,” select override risk level, and indicate reason. Risk level may be overridden one level higher.</p>
                                  </div>
                                  <div class="col-md-12">
                                      <p><label>5.If yes, override risk level <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="discretionaryoverride" (change)="onOverrideRisk($event.value)">
                                        <mat-radio-button value="1">Yes</mat-radio-button><br/>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <!--
                                  <div class="col-md-12" *ngIf="scoringandoverride.get('discretionaryoverride').value === '1'">
                                      <p><label>Override risk level: <span class="req-fields">*</span></label></p>
                                      <mat-radio-group class="radio-mar" formControlName="overiderisklevel" (change)="onOverrideRiskLevel($event.value)">
                                        <mat-radio-button value="1">Low</mat-radio-button>
                                        <mat-radio-button value="2">Moderate</mat-radio-button>
                                        <mat-radio-button value="3">High</mat-radio-button>
                                        <mat-radio-button value="4">Very High</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                -->
                                  <div class="row head-pad m-t-20" *ngIf="scoringandoverride.get('discretionaryoverride').value === '1'">
                                      <div class="col-md-12">
                                              <label>Discretionary override reason <span class="req-fields">*</span></label>
                                              <mat-form-field class="">
                                                  <textarea matInput formControlName="discretionaryreason" placeholder=""></textarea>
                                              </mat-form-field>                                      
                                      </div>
                                  </div>
                                  <div class="col-md-12" *ngIf='loadFinalScore()'>
                                      <p><label>FINAL RISK LEVEL</label></p>
                                      <mat-radio-group class="radio-mar" formControlName="finalrisklevel" readonly>
                                        <mat-radio-button value="1">Low</mat-radio-button>
                                        <mat-radio-button value="2">Moderate</mat-radio-button>
                                        <mat-radio-button value="3">High</mat-radio-button>
                                        <mat-radio-button value="4">Very High</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button *ngIf="!isSupervisor" class="btn-pri" [disabled]="viewMifra" (click)="saveForm()">Save As Draft</button>
                                    </div>
                                </div>
                            </div>
                      </div>

                      <div id="supplemental-questions" class="tab-pane fade in">
                          <div class="cont-brd" [formGroup]="supplementaryApproval">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="head-bg">Supplemental Questions</h3>
                                  </div>
                              </div>
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-12">
                                    <div class="col-md-1">
                                      <p>S1</p>
                                    </div>
                                    <div class="col-md-11">
                                      <div class="row">
                                          <div class="col-md-11">
                                            <p class="font-md">Criminal history within the past three years</p>
                                            <p><label>Does either caregiver have a history of criminal behavior within the past three years? <span class="req-fields">*</span></label></p>
                                            <mat-radio-group required formControlName="criminalhistorywithinpastyears">
                                              <mat-radio-button value="1">Yes</mat-radio-button>
                                              <mat-radio-button value="2">No</mat-radio-button>
                                            </mat-radio-group>
                                          </div>
                                      </div>
                                      <div class="row" *ngIf="supplementaryApproval.getRawValue().criminalhistorywithinpastyears === '1'">
                                          <div class="col-md-6">
                                              <p><label>Primary</label></p>
                                              <mat-checkbox  formControlName="primary_isarrest">Arrest</mat-checkbox>
                                              <mat-checkbox  formControlName="primary_isconviction">Conviction</mat-checkbox>
                                              <mat-checkbox  formControlName="primary_felonyconviction">Felony Conviction</mat-checkbox>
                                          </div>
                                          <div class="col-md-6">
                                              <p><label>Secondary</label></p>
                                              <mat-checkbox  formControlName="secondary_nosecondarycaregiver">No Secondary Caregiver</mat-checkbox>
                                              <mat-checkbox  formControlName="secondary_isarrest">Arrest</mat-checkbox>
                                              <mat-checkbox  formControlName="secondary_isconviction">Conviction</mat-checkbox>
                                              <mat-checkbox  formControlName="secondary_felonyconviction">Felony Conviction</mat-checkbox> 
                                          </div>
                                      </div>
                                    </div>                                      
                               </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 text-right">
                                      <button *ngIf="!isSupervisor" class="btn-pri" [disabled]="viewMifra" (click)="saveForm()">Save As Draft</button>
                                  </div>
                              </div>
                            </div>
                         </div>
  
                        <div id="approval" class="tab-pane fade in">
                          <div class="cont-brd" [formGroup]="authorizationApproval">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="head-bg">APPROVAL</h3>
                                  </div>
                              </div>
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-4">
                                      <label>Supervisor Name</label>
                                      <mat-form-field class="m-t-20">
                                          <input matInput placeholder="" formControlName="supervisorname">
                                      </mat-form-field>                                      
                                  </div>
                                  <div class="col-md-4">
                                      <label>Re-route Supervisor</label>
                                      <mat-form-field class="m-t-20">
                                          <mat-label></mat-label>
                                          <mat-select formControlName="routingsupervisors" (change)="changeSupervisor($event.value)">                                            
                                              <mat-option *ngFor="let item of routingSupervisors" [value]="item.userid">{{item.username}}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <label>Supervisor Comments</label>
                                      <mat-form-field class="">
                                          <textarea matInput [disabled]="!isSupervisor" placeholder="" formControlName="supervisorcomment"></textarea>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-4">
                                      <label>Case Worker Name</label>
                                      <mat-form-field class="m-t-20">
                                          <input matInput placeholder="" formControlName="workername">
                                      </mat-form-field> 
                                  </div>
                                  <!-- <div class="col-md-4">
                                      <label>Submit for Approval <span class="req-fields">*</span></label>
                                      <mat-form-field>
                                          <mat-label></mat-label>
                                          <mat-select>
                                              <mat-option>
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div> -->
                                  <div class="col-md-4">
                                      <label [ngClass]="{'required': isSupervisor}">Reviewed Date</label>
                                      <mat-form-field class="m-t-20">
                                          <input [required]="isSupervisor" matInput formControlName="reviewdate" [matDatepicker]="picker22" placeholder="">
                                          <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                          <mat-datepicker #picker22></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <label>Caseworker Comments</label>
                                      <mat-form-field class="">
                                          <textarea matInput [disabled]="!isSupervisor" placeholder="" formControlName="caseworkercomment"></textarea>
                                      </mat-form-field>  
                                  </div>
                              </div>
                              <!-- <div class="row head-pad m-t-20">
                                <div class="col-md-3" *ngIf="!caseworkersignature">
                                    <signature-field [ngClass]="{'disabledField': isSupervisor}" formControlName="caseworkersign"></signature-field>
                                </div>
                                <div class="col-md-3" *ngIf="caseworkersignature">
                                      <img src="{{authorizationApproval.value.caseworkersign}}"/>
                                </div>
                                <div class="col-md-3" *ngIf="!supervisorsignature">
                                    <signature-field [ngClass]="{'disabledField': !isSupervisor}" formControlName="supervisorsign"></signature-field>
                                </div>
                                <div class="col-md-3" *ngIf="supervisorsignature">
                                      <img src="{{authorizationApproval.value.supervisorsign}}"/>
                                </div>                             
                              </div> -->
                      
                              <div class="row head-pad m-t-20">
                                  <div class="col-md-12" *ngIf="isSupervisor">
                                      <p><label>Assessment Status<span class="req-fields">*</span></label></p>
                                      <mat-radio-group formControlName="assessmentstatus" required>
                                        <mat-radio-button value="Accepted">Accepted</mat-radio-button>
                                        <mat-radio-button value="Rejected">Rejected</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 text-right">
                                      <button *ngIf="!isSupervisor" class="btn-pri" [disabled]="viewMifra" (click)="saveForm()">Save As Draft</button>
                                      <button class="btn-pri" [disabled]="viewMifra" (click)="isReadyForApproval()">{{isSupervisor ? 'Submission' : 'Submit for Approval'}}</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="incomplete-items" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4 class="modal-title bc-pop-title">Missing Information</h4>
            </div>
            <div class="modal-body">
                <p> The following sections are Incomplete. Please fill all the required fields before submitting for approval. </p>
                
                <ul>
                    <li *ngFor="let item of incompleteList">
                      <span>{{item}}</span>
                    </li>
                </ul>
                
            </div>
            <div class="modal-footer">
                <button class="btn-pri pull-right" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Cans-F Form Ends -->