.header-childac {
    border-bottom: 3px solid #ccc;
}

.h4-title {
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
    display: inline-block;
}

.h5-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
}

.search-container {
    margin-top: 2px;
    width: 400px;
}

.inner-addon {
    position: relative;
}

.inner-addon i {
    position: absolute;
    padding: 10px;
}

.right-addon i {
    right: 10px;
    cursor: pointer !important;
    /* z-index: 999; */
}

.search-container input.form-control {
    padding: 4px 12px;
    font-size: 15px;
    border: 1px solid #e6e5e5;
    border-radius: 2px;
    box-shadow: none;
}

.childac-text {
    font-weight: 700;
}

.childac-title,
.viewchildac-title {
    font-size: 15px;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.childac-bankinfo .viewchildac-title {
    width: 60%;
    float: left;
}

.childac-bankinfo .viewchildac-text {
    width: 40%;
    float: left;
}

.bank-info {
    width: 100%;
    float: left;
}

.viewchildac-title {
    display: inline;
}

#viewTransaction .viewchildac-text {
    display: inline;
    font-weight: 600;
}

.childac-text,
.viewchildac-text {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.border-btm {
    border-bottom: 2px solid #e0e8f8;
}

.semi-b {
    font-weight: 600;
    font-size: 15px;
}

.child-ac {
    position: relative;
    margin: 0 10px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.action-btn {
    min-width: 80px;
    button {
        color:#039be5;
        font-size: 16px;
        padding-right: 0px;
        outline: none;
        background: transparent;
        border: none;

        & + button{
            margin-left: 5px;
        }
    }
}

.action-btn i:before {
    color:#039be5;
    font-size: 16px;
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

// .currencyinput {
//     border: 1px inset #ccc;
// }
// .currencyinput input {
//     border: 0;
// }
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 100%;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}