<div class="container-fluid">
  <div class="box-grid">
    <div class="row">
      <div class="col-sm-9">
        <h3>Manage State Statutes</h3>
      </div>
      <div class="col-sm-3">
        <div class="tab-popup-button text-right">
          <button data-toggle="modal" data-target="#myModal-add-edit-state" class="btn-pri" (click)="changeModelLabel('Add')">
            <i class="fa fa-plus right-sspace"> </i> Add State Statute</button>
        </div>
      </div>
    </div>

    <div class="table-responsive form-letter-tab">
      <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
        <thead>
          <tr>
            <th sortable-column="statestatuteskey" sort-direction="asc"> Name </th>
            <th sortable-column="description"> Description </th>
            <th> Actions </th>
          </tr>
          <tr>
            <td>
              <div class="inner-addon right-addon">
                <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                <input class="form-control full-width" type="text" (input)="onSearch('statestatuteskey', $event.target.value)" placeholder="Type Key">
              </div>
            </td>
            <td>
              <div class="inner-addon right-addon">
                <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                <input class="form-control full-width" type="text" (input)="onSearch('description', $event.target.value)" value="" placeholder="Description">
              </div>
            </td>
            <td></td>
          </tr>
        </thead>

        <tbody *ngIf="regulationLibrary$ | async; let regulationLibrary">
          <tr *ngFor="let regulationLibrary of regulationLibrary">
            <td>{{regulationLibrary.statestatuteskey}}</td>
            <td>{{regulationLibrary.description}}</td>
            <td>
              <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                <a data-toggle="modal" data-target="#myModal-add-edit-state" (click)="editItem(regulationLibrary)">
                  <img src="assets/images/form-letter/edit-icon.png" alt="">
                </a>
              </span>
              <span data-toggle="tooltip" data-placement="top" title="Delete">
                <a (click)="confirmDelete(regulationLibrary)">
                  <img src="assets/images/form-letter/delete-icon.png" alt="">
                </a>
              </span>
            </td>
          </tr>
          <tr *ngIf="regulationLibrary?.length === 0">
            <td colspan="3">No records found.</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
        <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
          (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-modal" id="myModal-add-edit-state" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> {{addEditLabel}} State Statute </h4>
      </div>

      <div class="modal-body dd-overflow-inherit">
        <form [formGroup]="regulationFormGroup">
          <div class="fm-box">
            <div class="row">
              <div class="col-sm-4">
                <label class="required"> State Statute Key: </label>
              </div>
              <div class="col-sm-8">
                <div class="fm-box-form">
                  <input type="text" name="statestatuteskey" class="form-control" placeholder="Enter Key" formControlName="statestatuteskey">
                  <control-messages [control]="regulationFormGroup.controls['statestatuteskey']"></control-messages>
                </div>
              </div>
            </div>
          </div>

          <div class="fm-box">
            <div class="row">
              <div class="col-sm-4">
                <label class="required"> Description: </label>
              </div>
              <div class="col-sm-8">
                <div class="fm-box-form">
                  <textarea class="form-control" placeholder="Enter Description" formControlName="description"></textarea>
                  <control-messages [control]="regulationFormGroup.controls['description']"></control-messages>
                </div>
              </div>
            </div>
          </div>

          <div class="fm-box">
            <div class="row">
              <div class="col-sm-4">
                <label> State Statute Text: </label>
              </div>
              <div class="col-sm-8">
                <div class="fm-box-form">
                  <textarea class="form-control" placeholder="Enter text" formControlName="statestatutetext"></textarea>
                  <!-- <control-messages [control]="regulationFormGroup.controls.statestatutetext"></control-messages> -->
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-sm-4">
                <label> Status Type: </label>
              </div>
              <div class="col-sm-5 ">
                <ng-select [searchable]="true" [clearable]="false" class="max-select">
                  <ng-option value="0">Select</ng-option>
                  <ng-option value="Statute">Statute</ng-option>
                  <ng-option value="Regulation">Regulation</ng-option>
                  <ng-option value="Memo">Memo</ng-option>
                  <ng-option value="Policy">Policy</ng-option>
                  <ng-option value="PSEM">PSEM</ng-option>
                  <ng-option value="EM">EM</ng-option>
                  <ng-option value="Bulletin">Bulletin</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="fm-box pad-top20">
            <div class="row">
              <div class="col-sm-4">
                <label class="required"> Expiration Date: </label>
              </div>
              <div class="col-sm-5">
                <div class="fm-box-form">
                  <input formControlName="expirationdate" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', useCurrent: false}"
                    placeholder="MM/DD/YYYY" class="form-control" validdate>
                  <i class=" fa fa-calendar cal-icon" aria-hidden="True"></i>
                  <control-messages [control]="regulationFormGroup.controls['expirationdate']"></control-messages>
                </div>
              </div>
            </div>
          </div>

          <div class="fm-box">
            <div class="row">
              <div class="col-sm-4">
                <label> Possible Sanction Flag: </label>
              </div>
              <div class="col-sm-8">
                <div class=" check-icon">
                  <label class="control control--checkbox">
                    <input type="checkbox" formControlName="possiblesanctionflag">
                    <control-messages [control]="regulationFormGroup.controls['possiblesanctionflag']"></control-messages>
                    <div class="control__indicator"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="fm-box">
            <div class="row">
              <div class="col-sm-4">
                <label> Possible Referral Flag: </label>
              </div>
              <div class="col-sm-8">
                <div class="check-icon">
                  <label class="control control--checkbox">
                    <input type="checkbox" formControlName="possiblereferralflag">
                    <control-messages [control]="regulationFormGroup.controls['possiblereferralflag']"></control-messages>
                    <div class="control__indicator"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="text-right">
            <button type="button" value="Cancel" class="btn-bg" name="" data-dismiss="modal">Cancel</button>
            <button type="button" value="Save" class="btn-pri" [disabled]="regulationFormGroup.pristine || regulationFormGroup.invalid"
              name="" (click)="saveItem()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>

      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>

        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>