

<div class="tab-content">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <h5 class="h5-title">Youth Involved</h5>
          <div class="search-container2 pull-right">
            <button class="btn-pri pull-right m-r-30" data-target="#add-youthinvolved" data-toggle="modal" [disabled]="isDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Add Youth Involved</button>
          </div>
          <div class="table-theme table-responsive m-t-30">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Youth Involved</th>
                  <th>Role in Incident</th>
                  <th>Physical Restraint</th>
                  <th>Staff Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let youth of youthInvolvedList">
                  <tr *ngIf="!youth.provider_staff_id">
                    <td>{{youth.youthfname}} {{youth.youthlname}}</td>
                    <td>{{(youth.role_incident == 1)?'Youth Witness':(youth.role_incident == 2) ? 'Aggressor':'Victim'}}</td>
                    <td>{{getKey(youth.duration_phiscial_restraint)}}</td>
                    <td>{{youth.first_nm}} {{youth.last_nm}}</td>
                    <td></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<div class="modal fade in" id="add-youthinvolved" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg " role="youth">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetYouthInvolvedForm()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Youth Involved</h4>
      </div>
      <div class="tab-content" [formGroup]="youthInvolvedForm">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-select formControlName='provider_uir_actor_detail_id' placeholder="Select Youth">
                    <mat-option *ngFor="let item of youthList" value="{{item.provider_uir_actor_detail_id}}">
                      {{item.first_name}} {{item.last_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-t-30 m-b-30 radiobtn-pr-level">
                <label class="m-r-50">Role in Incident - check one</label>
                <mat-radio-group class="radio-dsinline" formControlName='role_incident'>
                  <mat-radio-button [value]=1>Youth Witness</mat-radio-button>
                  <mat-radio-button [value]=2>Aggressor</mat-radio-button>
                  <mat-radio-button [value]=3>Victim</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h5>Physical Restraint Type Used</h5>
                    <mat-form-field>
                      <mat-select formControlName='restraint_typekey' placeholder="Physical Restraint Type Used">
                        <mat-option *ngFor="let item of restraintTypes" value="{{item.ref_key}}">
                          {{item.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <h5>Duration of Physical Restraint</h5>
                    <mat-form-field>
                      <mat-select formControlName='duration_phiscial_restraint'
                        placeholder="Duration of Physical Restraint">
                        <mat-option *ngFor="let item of durationPhysicalRestraint" value="{{item.value}}">
                          {{item.key}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="duration_phiscial_restraint == 'Other'">
                      <input matInput formControlName='duration_phiscial_restraint_other'>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12  m-t-20">
                <h5>Reason for Physical Restraint</h5>
                <div class="row m-t-20">
                  <!-- <mat-selection-list>
              <mat-list-option *ngFor="let item of restraintTypes; let i = index"
                  [selected]="item.selected" [value]="item.ref_key" [selected]="item.selected" [formControlName]="class1_typekey">
                  <h3 matLine>{{item.description}}</h3>
              </mat-list-option>
            </mat-selection-list> -->
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_intervention'>Intervention</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_leaving_supervision'>Leaving Supervision</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_prevention'>Prevention</mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 ds-bl m-t-20 m-b-20">
                <h5>Mechanical Restraint Used</h5>
                <div class="row m-t-20">
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_flexcuff'>Flex Cuffs</mat-checkbox>
                    <mat-checkbox formControlName='is_handcuff_legiron'>Handcuffs and Leg Irons</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_handcuff'>Handcuffs</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_protective_device'>Protective Device</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_legiron'>Leg Irons</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <mat-checkbox formControlName='is_helmets'>Helmets</mat-checkbox>
                  </div>                
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ds-bl m-t-20 radio-btn-3col">
                <h5>Duration of Mechanical Restraint</h5>
                <mat-form-field>
                  <mat-select formControlName='duration_mechanical_restraint' class="m-t-20"
                    placeholder="Duration of Mechanical Restraint">
                    <mat-option *ngFor="let item of durationMechanicalRestraint" value="{{item.value}}">
                      {{item.key}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="duration_mechanical_restraint == 121">
                  <input matInput formControlName='duration_mechanical_restraint_other'>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-t-20">
                <h4>Staff involved in restraint</h4>
                <div class="row m-t-20">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="Select Staff Involved">
                        <mat-option *ngFor="let item of assignedStaff" value="{{item.staff_id}}">
                          {{item.first_nm}} {{item.last_nm}}
                        </mat-option> 
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row m-t-10">
                  <div class="col-md-4">
                    <label>De-escalation Efforts Made</label>
                  </div>
                  <div class="col-md-5 radiobtn-pr">
                    <mat-radio-group formControlName='is_de_escalation'>
                      <mat-radio-button [value]=true>Yes</mat-radio-button>
                      <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row m-t-10">
                  <div class="col-md-4">
                    <label>Seen by Medical?</label>
                  </div>
                  <div class="col-md-5 radiobtn-pr">
                    <mat-radio-group formControlName='is_seen_medical'>
                      <mat-radio-button [value]=true>Yes</mat-radio-button>
                      <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row m-t-10">
                  <div class="col-md-4">
                    <label>Injury Sustained</label>
                  </div>
                  <div class="col-md-5 radiobtn-pr">
                    <mat-radio-group formControlName='is_injury_sustained'>
                      <mat-radio-button [value]=true>Yes</mat-radio-button>
                      <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row m-t-10">
                  <div class="col-md-4">
                    <label>Injury Severity Rating</label>
                  </div>
                  <div class="col-md-6 radiobtn-pr-level">
                    <mat-radio-group formControlName='injury_severity_rating'>
                      <mat-radio-button [value]=1>Level 1</mat-radio-button>
                      <mat-radio-button [value]=2>Level 2</mat-radio-button>
                      <mat-radio-button [value]=3>Level 3</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row m-t-10">
                  <div class="col-md-4">
                    <label>Injury resulting from restraint?</label>
                  </div>
                  <div class="col-md-5 radiobtn-pr">
                    <mat-radio-group formControlName='is_injury_result'>
                      <mat-radio-button [value]=true>Yes</mat-radio-button>
                      <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-6 radiobtn-pr">
                <div class="row">
                  <div class="col-md-4">
                    <h5>Seclusion</h5>
                  </div>
                  <div class="col-md-5">
                    <mat-radio-group formControlName='is_seclusion'>
                      <mat-radio-button [value]=true>Yes</mat-radio-button>
                      <mat-radio-button [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 m-t-30">
                <!-- <mat-select class="m-t-20" formControlName='duration_seclusion' placeholder="Duration of Seclusion">
            <mat-option *ngFor="let item of durationSeclusion" value="{{item.value}}">
              {{item.key}}
            </mat-option>
          </mat-select> -->
              <h4>Duration of Seclusion</h4>
              <mat-form-field>
                <mat-select formControlName='duration_seclusion' placeholder="Duration of Seclusion">
                  <mat-option *ngFor="let item of durationSeclusion" value="{{item.value}}">
                    {{item.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12  m-t-20">
            <button class="btn btn-pri btn-theme m-l-5" (click)="submitYouthInvolvedDetails()"
              [disabled]="!youthInvolvedForm.valid">Save Incident</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row m-t-50">
     <div class="col-md-12">
          <h5 class="h5-title">Primary Staff Involved Name</h5>
          <hr>
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <div class="row m-t-20">
                <div class="col-md-3"><label>Staff Assaulted?</label></div>
                <div class="col-md-7 radiobtn-pr">
                    <mat-radio-group class="radio-dsinline" formControlName='is_staff_assaulted'>
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-3"><label>Injury Sustained?</label></div>
                <div class="col-md-7 radiobtn-pr">
                    <mat-radio-group class="radio-dsinline" formControl='is_injury_sustained'>
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-3"><label>Injury Severity Rating</label></div>
                <div class="col-md-9 radiobtn-pr-level">
                    <mat-radio-group class="radio-dsinline" formControlName='injury_severity_rating'>
                        <mat-radio-button value="1">Level 1</mat-radio-button>
                        <mat-radio-button value="2">Level 2</mat-radio-button>
                        <mat-radio-button value="3">Level 3</mat-radio-button>
                    </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
      </div>-->
<!--</div> -->