<div class="col-sm-12">
  <section class="mrg-top25" *ngIf="createdCases?.length>0">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="site-color">Created Cases </h4>
      </div>
      <div class="col-sm-4 text-right">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <section class="created-cases mrg-top25" *ngFor="let case of createdCases;let caseIndex = index">
          <div class="casestop-sec">
            <ul class="list-unstyled list-inline">
              <li>
                CASE NUMBER
                <br /> {{case.caseID}}
              </li>
              <li>
                Complaint ID(s)
                <br /> {{case.complaintids}}
              </li>
              <li> COMPLAINT TYPE
                <br />{{case.serviceTypeValue}}
              </li>
              <li> SUB TYPES
                <br />{{case.subSeriviceTypeValue}}
              </li>
            </ul>
          </div>
          <div class="cases_alegation">
            <div class="cases_alegation-inner">
              <div class="cases_alegation-top">
                <span>ALLEGATIONS</span>
                <span class=" pull-right bold">
                </span>
              </div>
              <div *ngIf="case.choosenAllegation.length===0" class="cases_alegation-content">
                <h4 class="">No Allegations Added</h4>
              </div>
              <div *ngIf="case.choosenAllegation.length>0">
                <div *ngFor="let allegation of case.choosenAllegation;let aligationIndex = index" class="cases_alegation-content">
                  <h4 class="">{{allegation.allegationValue}}</h4>
                  <ul class="list-unstyled">
                    <li *ngFor="let item of allegation.indicators"> - {{item.indicatorname}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

</div>