.add-address-header .table>thead:first-child>tr:first-child>th{border-right: 1px
    solid #ccc;}




    .casestop-sec{border:1px solid #ccc; position: relative;
    font-size: 16px; line-height: 26px;}

    .casestop-sec ul{margin: 0;}

    .casestop-sec li{padding:10px 20px; border-right: 1px solid
    #ccc;}

    .actionicons{position: absolute; right: 10px; bottom:calc(50%
    - 13px); }
    .form-search-person1 .form-group .form-control{min-height: 150px;}
   .form-search-person1 .multiple-select{border: 1px solid #ccc;display: inline-block;
    width: 100%;}
    .mt-15{margin-top: 15px;}

    .casestop-sec .fa-pencil:before, .casestop-sec .fa-trash:before{font-size: 18px; padding-left: 10px;}

    .cases_alegation{background: #efefef; padding: 20px;}

    .cases_alegation-inner{border: 1px solid #ccc; background: #fff;}

    .cases_alegation-top{font-size: 15px; padding: 15px; border-bottom: 1px
    solid #ccc; }

    .cases_alegation-content{padding: 15px; position: relative;}

    .cases_alegation-content .actionicons{position: absolute; top: 10px; right: 10px;
    font-size: 16px;}

    .bold{font-weight: 600;}

.actionicons span {
    cursor: pointer;
}

input.mat-chip-input {
    width: 100%;
}
h4.heading-title {
    margin-bottom: 15px;
}
.created-cases li {
    font-size: 14px;
    font-weight: 600;
}
.cases_alegation-content h4 {
    font-size: 16px;
}
h4.modal-title {
    margin: 0px;
}