
<div class="row">
    <div class="left-side-filter">
        <form [formGroup]="providerChecklistForm"> 
        <h5>Search Filter</h5>
        <mat-radio-group formControlName="ayear">
            <mat-radio-button value="Y" >12 Months</mat-radio-button>
            <mat-radio-button value="A">All</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <input type="text" matInput placeholder="Provider Id" formControlName="provider_id" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Provider Name" formControlName="provider_name">
        </mat-form-field>
        <h5>Other</h5>
        <mat-form-field>
            <input type="text" matInput placeholder="Tax ID" formControlName="tax_id" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mail Code" formControlName="mail_code">
        </mat-form-field>
        <!-- <hr class="h-row"> -->
        <h5>Date Range</h5>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Start Date" name="startdate" formControlName="startdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="End Date" name="enddate" formControlName="enddate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <button class="btn btn-pri pull-right mt-20" (click)="searchProvider()">Go</button>
        <button class="btn btn-sec pull-right mt-20 m-r-10" (click)="clearSearch()">Clear</button>
    </form>
    </div>

</div>
