<div class="tab-content active">
  <div class="row">
    <div class="col-sm-12">
          <quill-editor [style]="{height: '150px'}" [(ngModel)]="summary"  [modules]="quillToolbar" [readOnly]="isViewOnly">
          </quill-editor>
    </div>
    <div class="col-sm-12 text-right m-t-10">
      <button class="btn btn-pri btn-theme" (click)="saveSummary()" [disabled]="isViewOnly">Save</button>
    </div>
  </div>
</div>      