<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isSupervisor || isDjs">
        <div class="text-right">
            <div *ngIf="!isServiceCase " class="summary">
                <ng-container  *ngIf="!isDjs && !disableCPSIntakeReport && !isAdoptionCase">
                <button  [fieldKey]="'caseworker-disposition-investigation-summary'" class="btn-pri" data-toggle="modal"
                    data-target="#investigation-summary">
                    Investigation Summary </button>
                </ng-container>
            </div>
            <button data-toggle="modal" data-target="#status-disposition" class="btn-pri" *ngIf="( isCW && (isAppealWorker || isSupervisor || isServiceCase || isAdoptionCase ) )|| isDjs" [fieldKey]="'caseworker-disposition-status-disposition'">
                {{isServiceCase ? 'Add': 'Status/Decision'}}</button>
            <button data-toggle="modal" data-target="#status-disposition" class="btn-pri" *ngIf="isAS">
                {{isServiceCase ? 'Add': 'Status/Disposition'}}</button>
            <button *ngIf='isCW && !isServiceCase && !disableCPSIntakeReport  && !isAdoptionCase' class="btn btn-pri"
                (click)="previewCpsDoc()" [fieldKey]="'caseworker-disposition-cps-intake-report'">CPS Intake Report</button>
        </div>
    </div>

    <div class="col-md-12" *ngIf="getHistory$ | async ; let dahistoryData">
        <div class="form-letter-tab">
            <div class="tab">
                <div class="table-responsive table-theme">
                    <!-- <label>Status/Disposition</label> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Recommendation</th>
                                <th>User</th>
                                <th>Role</th>
                                <th colspan="2">Reviewer comments</th>
                                <th>Approval Status</th>
                                <th>Approved By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container  *ngFor="let dahistory of dahistoryData">
                            <tr *ngIf=" dahistory.routingstatus || dahistory.userrole !== 'Case Worker'">
                                <td>{{dahistory.displaydate | date:'MM/dd/yyyy, hh:mm a'}}</td>
                                <td>{{dahistory.dispstatus}}</td>

                                <td>{{dahistory.disposition}}</td>
                                <td>
                                    <img src="assets/images/icon-avtar.png" class="ic-avatar">{{dahistory.username}}
                                </td>
                                <td>{{dahistory.userrole}}</td>
                                <td colspan="2">{{dahistory?.reviewcomments}}</td>
                                <td>{{dahistory.routingstatus? dahistory.routingstatus: '-'}}</td>
                                <td>
                                    <ng-container *ngIf="dahistory?.routingstatus === 'Approved'; else elseTemplate">
                                            {{dsdsActionSummary?.da_assignedby}}
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        -
                                    </ng-template></td>
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12" *ngFor="let daHistItem of dahistoryData; let i = index;">
            <ng-container *ngIf="(isCW && isAdoptionCase)">

                <div *ngIf="isSupervisor && (daHistItem.routingstatus === 'Review') && (daHistItem.adoptioncasedispositionid === approvalDispositionId)">
                    <div class="row mt-20" [formGroup]="approvalStatusForm">
                        <div class="col-sm-2">Approval status</div>
                        <div class="col-sm-3">
                            <mat-radio-group formControlName="routingstatus">
                                <mat-radio-button value="Approved">Approve</mat-radio-button>
                                <mat-radio-button value="Rejected">Denied</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-5" *ngIf="approvalStatusForm.controls['routingstatus'].value === 'Rejected'">
                            <mat-form-field> <input type="text" matInput placeholder="comments" formControlName="comments" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2" *ngIf="isSupervisor">
                            <button class="btn btn-pri pull-center" (click)="routingUpdate(daHistItem)">Submit</button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="(isCW && isServiceCase);then servicecaseapp else caseapp">
            </ng-container>
            <ng-template #servicecaseapp>
                <div *ngIf="isSupervisor && (daHistItem.routingstatus === 'Review') && (daHistItem.servicecasedispositionid===approvalDispositionId)">
                    <div class="row mt-20" [formGroup]="approvalStatusForm">
                        <div class="col-sm-2">Approval status</div>
                        <div class="col-sm-3">
                            <mat-radio-group formControlName="routingstatus">
                                <mat-radio-button value="Approved">Approve</mat-radio-button>
                                <mat-radio-button value="Rejected">Denied</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-sm-5" *ngIf="approvalStatusForm.controls['routingstatus'].value === 'Rejected'">
                            <mat-form-field> <input type="text" matInput placeholder="comments" formControlName="comments" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2" *ngIf="isSupervisor">
                            <button class="btn btn-pri pull-center" (click)="routingUpdate(daHistItem)">Submit</button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #caseapp>
            <div *ngIf="isSupervisor && (daHistItem.routingstatus === 'Review')">
                <div class="row mt-20" [formGroup]="approvalStatusForm">
                    <div class="col-sm-3">Approval status</div>
                    <div class="col-sm-4">
                        <mat-radio-group formControlName="routingstatus">
                            <mat-radio-button value="Approved">Approve</mat-radio-button>
                            <mat-radio-button value="Rejected">Denied</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-5" *ngIf="approvalStatusForm.controls['routingstatus'].value === 'Rejected'">
                            <mat-form-field> <input type="text" matInput placeholder="comments" formControlName="comments" />
                            </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-6  pull-right" *ngIf="isSupervisor"><button class="btn btn-pri pull-center"
                        (click)="routingUpdate(daHistItem)">Submit</button></div>
            </div>
            </ng-template>
        </div>
    </div>
</div>

<div class="modal fade" id="status-disposition" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="clearDisposition()">×</button>
                <h4 class="modal-title">{{(isCW || isDjs)?'Status/Decision':'Status/Disposition'}}</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="dispositionFormGroup" [fieldKey]="'caseworker-disposition-status-disposition-save'">
                    <div class="fm-box">
                        <div class="row">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Status </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="statusid" [searchable]="true" [clearable]="false"
                                    (change)="loadDispositon($event.value,$event)">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of statusDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isAS">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> {{(isCW)?'Decision':'Disposition'}} </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="dispositionid" [searchable]="true" [clearable]="false"
                                (change)="onChangeDispositon($event)">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of dispositionDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div *ngIf="isAS">

                            <div class="row">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Disposition </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="dispositionid" [searchable]="true" [clearable]="false" (change)="loadAdultCloseCase($event.value, $event.label)">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of dispositionDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>


                        <div *ngIf="showProgramCode">
                                <div class="row">
                                        <div class="col-sm-4 bot-mspace-15">
                                            <label for=""> Program Codes </label>
                                        </div>
                                        <div class="col-sm-8 bot-mspace-15">
                                            <mat-form-field class="person-contected">
                                                <mat-select formControlName="programCode" multiple (change)="programCode($event.value)">
                                                    <mat-select-trigger>
                                                        {{ programCodeDescription ? programCodeDescription[0] : '' }}
                                                        <span *ngIf="programCodeSelection?.length > 1" class="example-additional-selection">
                                                            (+{{ programCodeDescription.length - 1 }} {{ programCodeDescription?.length === 2 ? 'other' : 'others' }})
                                                        </span>
                                                    </mat-select-trigger>
                                                    <mat-option *ngFor="let item of (programCodeItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>    

                                    <div class="row">
                                            <div class="col-sm-4 bot-mspace-15">
                                                    <label for=""> Family and Informal Support </label>
                                            </div>
                                            <div class="col-sm-8 bot-mspace-15">
                                                <mat-radio-group formControlName="issupport" (change)="showReason($event.value)">
                                                    <mat-radio-button value="true">Yes</mat-radio-button>
                                                    <mat-radio-button value="false">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
        
                                        <div class="row" *ngIf="showProgramCode && showFamilySupport">
                                            <div class="col-sm-4 bot-mspace-15">
                                                <label for=""> If No, Why? </label>
                                            </div>
                                            <div class="col-sm-8 bot-mspace-15">
                                                <ng-select formControlName="supporttypekey" [searchable]="true" [clearable]="false">
                                                    <ng-option value="">- Select -</ng-option>
                                                    <ng-option *ngFor="let status of formalSupport$ | async" [value]="status.value">{{status.text}}</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                        </div>


                        </div>
                        <div class="row" *ngIf="adultManditory && !isProgramingType">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Closing Code </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="closingcodetypekey" [searchable]="true" [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of closeCaseDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="isProgramingType">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required">Program Type</label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select [searchable]="true" [clearable]="false" formControlName="programtype">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let program of programTypeDropdownItems$ | async" [value]="program.value">{{program.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="requestForService && !isProgramingType">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Closing Code </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="closingcodetypekey" [searchable]="true" [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of closeCaseDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="!isSupervisor">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Select Supervisor </label>
                            </div>
                        
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="supervisorid" [searchable]="true" (change) ="changeSupervisor($event)"
                                    [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let item of supervisorsList"
                                        [value]="item.userid">{{item.username}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 bot-mspace-15">
                                        <label class="clsWidth-100 no-mar" for=""
                                            [ngClass]="requestForService ? 'required-disposition-case' : ''">Review
                                            Comments </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" formControlName="reviewcomments"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal"> Cancel</button>
                            <button type="button" value="Save" class="btn-pri" (click)="confirmDisposition()"
                                [disabled]='dispositionFormGroup.pristine || dispositionFormGroup.invalid'>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-disposition" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Status/Disposition</h4>
            </div>
            <div class="modal-body">
                <div>This action will be deemed as your final decision on the case. Are you sure you want to endorse
                    the probation decision and close the case ? </div>
                <div class="row text-right">
                    <div class="col-sm-12">
                        <button type="button" value="Cancel" class="btn-bg" (click)="cancelConfirmDisposition()"
                            data-dismiss="modal"> Cancel</button>
                        <button type="button" value="Save" class="btn-pri" (click)="saveDisposition()"
                            data-dismiss="modal">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-disposition-AS" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Following actions should be completed on closing a case</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let list of dispositionStatus">
                    <div>{{list.activitytaskname}} - {{(list.status==='Closed')?'Completed':list.status}}</div>
                </div>
                <div>Record Court Order of Guardianship - Completed</div>
                <div>Lethality assessment - Completed</div>
                <div>Alcohol and Drug - Completed</div>
                <div>Payment Plan - Completed</div>
                <div>Service Type - Completed</div>
                <div>Adult Placement - Completed</div>
                <div>Case Close Reason - Completed</div>
                <div>Closing Code - Completed</div>
                <div class="row text-right">
                    <div class="col-sm-12">
                        <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal"> Cancel</button>
                        <button type="button" value="Save" class="btn-pri" (click)="saveDisposition()"
                            data-dismiss="modal" [disabled]="enableAdultDisposition">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<investigation-report></investigation-report>

<div class="modal fade" id="cps-doc" role="dialog" [fieldKey]="'caseworker-disposition-cps-intake-report-save'">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close"
                    routerLink=".">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                  <!-- <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" class="btn-pri" (click)="downloadCasePdf('cps-doc')">
                        Download
                    </button>
                </div> -->
                <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" class="btn-pri" data-toggle="modal" data-target="#iframe-Send-Email">
                            EMAIL
                        </button>
                    </div>
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" class="btn-pri" (click)="printCasePdf('intake-cps-doc1')">
                            PRINT
                        </button>
                    </div>
                    <div *ngIf = "intakeflag">
                        <cps-doc-letter></cps-doc-letter>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="closer-checklist" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg custom-wd">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="pop-title">Case Closure Checklist</h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-l-20">
                        <p><b>A check mark indicates that the activity has been completed. All unchecked
                                items must be completed to the close the case.</b></p>
                        <ng-container *ngFor="let item of checklistItems">
                            <div class="row" *ngIf="item.show">
                                <div class="col-sm-12">
                                    <mat-checkbox (change)="updateChecked()" [(ngModel)]="item.isChecked" [disabled]="item.autofilled">{{item.name}}
                                    </mat-checkbox>

                                </div>
                            </div>
                        </ng-container>


                        <!-- <mat-checkbox>Cleanup of Ticklers</mat-checkbox>
                            <mat-checkbox>No clients have an open program assignment</mat-checkbox>
                            <mat-checkbox>All open living arrangements have been end-dated for all clients. </mat-checkbox>
                                    <p class="p-l-30 m-t-20">(<span class="red">Note</span> If a client is active in other cases, the living arrangement does not need to be end-dated)</p>
                            <mat-checkbox>No clients have an open legal custody record of commited or Co-Commited to DSS, Guardianship to DSS, 
                                    Delinquency, Voluntary Placement Agreement, Shelter Care or Commited to Another State.</mat-checkbox>
                            <mat-checkbox>A SAFE-C has been completed for all applicable children and the assessment has supervisory approval</mat-checkbox>
                            <mat-checkbox>All Safety Plans have Supervisory Approval </mat-checkbox>
                            <mat-checkbox>There are no incomplete MFRA’s or MFRA’s pending supervisory approval</mat-checkbox>
                            <mat-checkbox>There are no incomplete Case Plans or Case pending supervisory approval</mat-checkbox>
                            <mat-checkbox>There are no incomplete INFS Preoress Reviews or INFS Progress Reviews pending supervisory approval</mat-checkbox>
                            <mat-checkbox>All Placements have been end-dated</mat-checkbox>
                            <mat-checkbox>All Homes Removals have been end-dated</mat-checkbox>
                            <mat-checkbox>All Service Log Records (both agency and Referred) have been end-dated</mat-checkbox>
                            <mat-checkbox>All Adoption/Guardianship Subsidy payments have an end-date that does not exceed the date of case 
                                    closing</mat-checkbox>
                            <mat-checkbox>All Service Log payments have been completed</mat-checkbox>
                            <mat-checkbox>All Placement Validations have been completed</mat-checkbox>
                            <mat-checkbox>All IV-E eligibility determinations have been completed</mat-checkbox>
                            <mat-checkbox>All Placement changes have Supervisory Approval</mat-checkbox> -->
                    </div>
                    <div class="col-md-12">
                        <button class="btn-pri text-uppercase m-t-15 width-btn pull-right" type="button"
                            data-dismiss="modal">Cancel</button>
                        <button class="btn-pri text-uppercase m-t-15 width-btn pull-right" [disabled]="!allChecked"
                            (click)="saveDisposition()">Confirm Closure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmation-popup" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-md custom-wd">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="pop-title">Closure Alert</h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-l-20">
                        <p><b> Service case has been deemed as 'Closed' and sent for supervisor for approval. </b></p>


                    </div>
                    <div class="col-md-12">
                        <button class="btn-pri text-uppercase m-t-15 width-btn pull-right" type="button"
                            data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Send email -->
<div class="modal fade recording-chat-model" id="iframe-Send-Email" role="dialog">
        <div class="modal-dialog modal-md " [formGroup]="emailForm">
            <div class="modal-content form-wrapper txt-left">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" >×</button>
                    <h4 class="modal-title"> Send Emails</h4>
                    <input type="email" placeholder="Email " class="form-control"
                                                    formControlName="email">
                    <button class="btn-pri" 
                                (click)="sendEmail()">Send Email</button>
                </div>
                <div class="modal-body">
                    <p [innerHTML]="selectedNotes"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Emails -->