<section id="applicant-section" class="profile-section">
    <div class="container-fluid">
        <div class="row m-b-10">
            <div class="col-sm-12">
                <div class="row m-t-10 m-b-5">
                    <div class="col-xs-2">
                        <h4>Provider Id</h4>
                        <h5>{{providerId}}</h5>
                    </div>
                    <div class="col-xs-2">
                        <h4>Provider Name</h4>
                         <h5>{{referralInfoDetails.provider_first_nm}} {{referralInfoDetails.provider_middle_nm}} {{referralInfoDetails.provider_last_nm}}</h5>
                    </div>
                    <div class="col-xs-2">
                            <h4>Program</h4>
                             <h5>{{referralInfoDetails.program}} </h5>
                        </div>
                        <div class="col-xs-2">
                                <h4>Program Type</h4>
                                 <h5>{{referralInfoDetails.programtype}}</h5>
                            </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h4>SSN</h4>
                        <h5>{{referralInfoDetails.tax_id_no}}</h5>
                    </div>
                    <div class="col-sm-2">
                        <h4>County Code</h4>
                        <h5>{{referralInfoDetails.adr_county_cd}}</h5>
                    </div>
                    <div class="col-sm-2">
                        <h4>Phone Number</h4>
                        <h5>{{referralInfoDetails.adr_cell_phone_tx}}</h5>
                    </div>
                    <div class="col-sm-2">
                        <h4>Status</h4>
                            <span *ngIf="referralInfoDetails.provider_status_cd == 1791"><h5>Open</h5></span>
                            <span *ngIf="referralInfoDetails.provider_status_cd == 1792"><h5>Closed</h5></span>
                    </div>
                    <div class="col-sm-2">
                        <!-- <h4>Withhold Payments</h4>
                        <span *ngIf="isPaymentWithhold" class="withhold-payment-yes text-center">Yes</span>
                        <span *ngIf="!isPaymentWithhold" class="withhold-payment-no text-center">No</span>
                        <button  class="service-btn-black" data-target="#confirm-withhold-payment-change" data-toggle="modal">(Change)</button> -->
                    </div>
                    <div class="col-sm-2">
                        <!-- <button *ngIf="!isLengthGrater" type="submit" class="btn-pri btn-theme btn m-t-10" data-target="#intake-caseassignnew" data-toggle="modal" (click)="getRoutingUser('')">ASSIGN</button> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <p>Group ID
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="box-grid clsMinHeight no-pad clearfix">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="tab-content">
                    <div class="no-pad">
                        <div class="tab-horizontal">
                            <div class="nav-tabs person-cus-tab-section persontabs nav-pills" id="public-applicant-tabs">
                              <!--   <li [ngClass]="'active'">
                                    <a data-toggle="tab" data-target="#profile">Profile</a>
                                </li>
                                <li [ngClass]="">
                                        <a data-toggle="tab" data-target="#approval">Approval</a>
                                    </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#services">Services</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#characteristics">Characteristics</a>
                                </li>

                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#household">Household Members</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#service-taining">Service Training</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#placement-structures">Placement Structure</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#placement-specification">Placement Spec</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#status-management">Status Change</a>
                                </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#new-public-applicant-attachment"> Documents </a>
                                    </li>
                                <li [ngClass]="">
                                    <a data-toggle="tab" data-target="#reconsideration">Reconsideration</a>
                                </li> -->
                            </div>

                            <div class="tab-content">
                                <router-outlet></router-outlet>

                               <!--  <div class="tab-pane active" id="profile">
                                    <public-provider-profile></public-provider-profile>
                                </div>
                                <div class="tab-pane" id="services">
                                    <public-provider-services></public-provider-services>
                                </div>
                                <div class="tab-pane" id="approval">
                                        <public-provider-approval></public-provider-approval>
                                    </div>
                                <div class="tab-pane" id="characteristics">
                                    <public-provider-characteristics></public-provider-characteristics>
                                </div>

                                <div class="tab-pane" id="household">
                                    <public-provider-household></public-provider-household>
                                </div>
                                <div class="tab-pane" id="service-taining">
                                    <public-provider-service-training></public-provider-service-training>
                                </div>
                                <div class="tab-pane" id="new-public-applicant-attachment">
                                    <add-document></add-document>
                                </div>
                                <div class="tab-pane" id="placement-structures">
                                    <public-provider-placement-structures></public-provider-placement-structures>
                                </div>
                                <div class="tab-pane" id="placement-specification">
                                    <public-provider-home-placement></public-provider-home-placement>
                                </div>
                                <div class="tab-pane" id="status-management">
                                    <provider-status-management></provider-status-management>
                                </div>
                                <div class="tab-pane" id="reconsideration">
                                    <public-reconsideration></public-reconsideration>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="intake-caseassignnew" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">

                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                        </li>
                        <li>
                            <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-theme table-responsive m-t-15">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th *ngIf="!isSupervisor">CASE LOAD</th>
                                                <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                                <th *ngIf="!isSupervisor">ZIP CODE</th>
                                                <th *ngIf="isSupervisor">AGENCY</th>
                                                <th>TYPE OF WORKER</th>
                                                <th>UNIT</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address" (click)="selectPerson(item)">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td>{{item.username}} </td>
                                                    <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.homelocationcode}}</td>
                                                    <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="assignNewUser()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">PDF preview</h4>
                </div>
                <div class="modal-body">
                    <public-provider-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)' [profileOutputSubject$]="profileOutputSubject$"></public-provider-document-creator>
                </div>
            </div>
        </div>
      </div>

<!-- Confirm change withhold flag -->
<div class="modal fade" id="confirm-withhold-payment-change" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Change withhold payments </h4>
                </div>
                <!-- <form [formGroup]="returnFormGroup"> -->
                    <div class="modal-body">
                        <p> This will change the Payment withholding flag for this Provider. Please confirm. </p>
                    </div>
                <!-- </form> -->

                <div class="modal-footer">
                    <div class="text-right right-mspace-15">
                        <button type="button" class="btn-bg" data-dismiss="modal"> Cancel </button>
                        <button type="button" value="Yes" class="btn-pri" name="" (click)="changePaymentWithholding()"> Yes, Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
