.btn-pri,
.btn-bg,
.btn-link {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;
    min-width: 100px;
}

.section2 .dl-horizontal dd {
    margin-left: 98px;
    line-height: 25px;
    font-size: 13px;
}
.section2
{
    padding: 8px 15px;
    min-width: 100px;
    border-radius: 2px;
    margin-left: -203px;
    line-height: 25px;
    font-size: 13px;
}
.profile-section {
    background: #f0f2f4;
}
.profile-section h4 {
    font-size: 15px;
    font-weight: 600;
    color: #00a2fd !important;
}
.profile-section h5 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.withhold-payment-yes {
    padding: 2px 10px;
    border-radius: 25px;
    color: white;
    font-size: 13px;
    background: red;
    align-items: center;
    justify-content: space-around;
}

.withhold-payment-no {
    padding: 2px 10px;
    border-radius: 25px;
    color: white;
    font-size: 13px;
    background: green;
    align-items: center;
    justify-content: space-around;
}

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4CAF50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}

.service-btn i::before {
    color: #00A2FD;
    font-size: 14px;
}

.service-btn i.fa-close {
    margin: 0px;
}

.service-btn-black {
    outline: none;
    border: none;
    background: none;
    color: black;
}

.tab-content {
    background: #fff;
    min-height: 500px;
    padding: 10px;
}