<div [formGroup]="substanceabuseForm">

    <div class="row">
        <div class="col-sm-3 m-b-20">
            <h5 class="f-w-600">Tobacco Use</h5>
            <mat-radio-group formControlName="isusetobacco">
                <mat-radio-button class="m-r-10" [value]="true" (click)="tobaccoSelection(true)">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="tobaccoSelection(false)">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="tobaccoSelectionEnabled">
            <!-- <div class="col-sm-4">
                <mat-form-field>
                    <input matInput formControlName="tobaccofrequencytypekey" required placeholder="Frequency details">
                </mat-form-field>
            </div> -->
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-select required formControlName="tobaccofrequencytypekey" placeholder="Frequency details">
                        <mat-option *ngFor="let item of frequencyList$ " value="{{item.personabusesubstancefrequencytypekey}}">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="tobaccotimes" required placeholder="# of times">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="tobaccoageatfirstuse" required placeholder="Age at first use">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 m-b-20">
            <h5 class="f-w-600">Drug Use</h5>
            <mat-radio-group formControlName="isusedrug">
                <mat-radio-button class="m-r-10" (click)="drugSelection(true)" [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="drugSelection(false)">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="drugSelectionEnabled">
            <!-- <div class="col-sm-4">
                <mat-form-field>
                    <input matInput formControlName="drugfrequencytypekey" required placeholder="Frequency details">
                </mat-form-field>
            </div> -->
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-select required formControlName="drugfrequencytypekey" placeholder="Frequency details">
                        <mat-option *ngFor="let item of frequencyList$" value="{{item.personabusesubstancefrequencytypekey}}">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="drugtimes" required placeholder="# of times">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="drugageatfirstuse" required placeholder="Age at first use">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 m-b-20">
            <h5 class="f-w-600">Alcohol Use</h5>
            <mat-radio-group formControlName="isusealcohol">
                <mat-radio-button class="m-r-10" (click)="alchoholSelection(true)" [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="alchoholSelection(false)">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="alchoholSelectionEnabled">
            <!-- <div class="col-sm-4">
                <mat-form-field>
                    <input matInput formControlName="alcoholfrequencytypekey" required placeholder="Frequency details">
                </mat-form-field>
            </div> -->
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-select required formControlName="alcoholfrequencytypekey" placeholder="Frequency details">
                        <mat-option *ngFor="let item of frequencyList$ " value="{{item.personabusesubstancefrequencytypekey}}">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="alcoholtimes" required placeholder="# of times">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <input matInput type="number" formControlName="alcoholageatfirstuse" required placeholder="Age at first use">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 m-b-20">
            <mat-form-field>
                <textarea matInput formControlName="drugoralcoholproblems" placeholder="Family/Peer/Siblings Drug or Alcohol Problems "></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span>
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="substanceabuseForm.pristine || substanceabuseForm.invalid"
                        (click)="save()">Save</button>
                </span>
            </div>
        </div>
    </div>

</div>