ul.nav.nav-tabs.history-tab {
    border: none !important;
}
.nav-tabs.history-tab>li {
    min-width: 200px;
    max-width: 200px;
    margin-bottom:5px;
}
.nav-tabs.history-tab>li.active>a, .nav-tabs.history-tab>li.active>a:focus, .nav-tabs.history-tab>li.active>a:hover {
    background-color: #00A2FD;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
}
.nav-tabs.history-tab>li>a:hover, .nav-tabs.history-tab>li>a:focus {
    background-color: #00A2FD;
    border: none;
    color: #fff;
    font-weight: 600;
}
.nav-tabs.history-tab>li {
    cursor: pointer;
}
.nav-tabs.history-tab>li>a {
    color: #333;
    font-weight: 600;
    border:none;
    border-radius: 0;
}
.history-tab li.active:after {
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    right: 5px;
    top: 16px;
}
.table-theme .table tr td {
    text-align: left !important;
}

.brd-lft:before {
    position: absolute;
    content: "";
    border-left: 5px solid #e0e8f8;
    display: block;
    height: 100%;
    left: 0px;
}
