<div class="container">
    <form action="" class="form" [formGroup]="actionLetterForm">
    <div class="row">
        <div class="col-sm-12 m-t-30">
            <button class="btn btn-theme btn-pri">OAS</button>
        </div>
    </div>
    <div class="letterPad m-t-50">
        <div class="heading text-uppercase text-center m-b-30">
            <h3>Maryland Office Of Adult Service</h3>
            <h4>Notice Of Agency Action</h4>
        </div>

        <div class="address-bar row m-b-30">
          <div class="col-md-8">
              <p class="semi-bold">{{clientName}}</p>  <!--formControlName="clientName"-->
              <p>{{address1}}<span *ngIf="address1">,</span>{{address2}}</p> <!--formControlName="clientAddress1"-->
              <p>{{city}}<span *ngIf="city">,</span>{{state}}<span *ngIf="city || state">,</span>{{zipcode}}</p> <!--formControlName="clientAddress2"-->
          </div>
          <div class="col-md-4">
                <mat-form-field>
                        <input matInput required [matDatepicker]="picker" (click)="picker.open()"
                            (focus)="picker.open()" formControlName="clientDate" placeholder="Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> <!--formControlName="clientDate"-->
              <p>Case Number : <span>{{caseNumber}}</span></p>  <!--formControlName="clientCaseNumber"--> 
          </div>
        </div>
        <div class="letter-content" id="addCitation">
            <p class="semi-bold">Dear <span>{{clientName}}</span>:</p>
            <p>The following action(s) is/are being taken concerning your 
                <span class="program-box">
                    <mat-form-field>
                        <mat-select placeholder="Program" formControlName="programList" multiple (change) ="onProgramSelect($event)" required>
                            <mat-option *ngFor="let program of programType$ | async" [value]="program.value">{{program.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
              case(s) based on the State regulation(s) below:</p>
            
            <p class="semi-bold">Action : 
                <span class="action-box">
                    <mat-form-field>
                        <mat-select placeholder="Select" formControlName="actionList" disableRipple (change) ="onActionSelect($event)" required>
                            <mat-option *ngFor="let action of actionType$ | async" [value]="action.value">{{action.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </p>
            
            <div class="row citation-content m-b-50">
            
               <div class="col-md-12">
                  <p class="semi-bold">COMAR Citation(s):</p>
                  <div class="col-md-3">
                      <p class="m-t-20" *ngIf='headerText'><strong>{{headerText}}</strong></p>
                  </div>
                  <div class="col-md-9">
                      <div class="">
                            <mat-form-field>
                                <mat-select placeholder="Citation(s)" multiple formControlName = "citationList" (change)="onSelect($event)" required>
                                    <mat-option *ngFor="let program of displayProgramList$ | async" [value]="program">{{program.programdescription}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                      </div>
                  </div>
                </div>


                <!-- <div class="col-md-12">
                    <div class="col-md-3">
                        <p class="m-t-20"><strong>07.02.14.08C</strong></p>
                    </div>
                    <div class="col-md-9">
                        <div class="">
                                <mat-form-field>
                                    <mat-select placeholder="Program" multiple formControlName = "selectedModel1" (change)="onSelectModel($event)">
                                        <mat-option *ngFor="let prg of ProgramDropdownList1" [value]="prg.id">{{prg.name}}</mat-option>   

                                    </mat-select>
                                </mat-form-field>
                        </div>
                    </div>
                  </div> -->
                  <div class="col-md-12">
                        <mat-form-field class="">
                            <textarea matInput placeholder="Reasons and Additional Information" formControlName = "selectedItems"></textarea>
                        </mat-form-field>
                  </div>
            </div>

            <div class="agree-div m-t-50">
                <p>If you do not agree with this action or decision, you have the right to appeal. If you wish, we can assist you in making the appeal. The appeal procedures appear on the reverse side of this letter. The worker will explain these procedures if you have any questions.</p>
                
                <mat-checkbox class="p-t-30" formControlName='immediate'>IMMEDIATE ACTION: Because we believe it’s imperative that the action indicated above be taken immediately we have done/will do so. However you may still request a fair hearing regarding this action by filing a request for such a hearing within 90 days from the date of this letter.</mat-checkbox>

                <mat-checkbox class="p-t-30" formControlName='laterNotice'>15 DAY NOTICE: Unless we hear from you or you file an appeal within 15 days after the date of mailing of this letter, we will take the action(s) indicated above. Note: You may still quest a fair hearing, even after actions are taken, by filing a request within 90 days of the date of this letter.</mat-checkbox>
            </div>

            <div class="sign m-b-50">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="col-md-6">
                    <div class="digit-sign"><p>{{caseWorker}}</p></div>
                      <mat-form-field>
                        <mat-select formControlName = "caseWorkerRoleName" required (change)= "onCaseWorkerSelect($event)">
                          <mat-option *ngFor="let role of CaseWorkerRole" [value]="role.id">{{role.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <div class="digit-sign">{{supervisorName}}</div>
                    <p>Adult Service Supervisor</p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="agree-page m-t-50">
                <p class="text-center">Continued on back</p>
                <h4 class="text-center p-t-30">WHAT TO DO IF YOU DON&#39;T AGREE WITH THIS DECISION</h4>
                <ol>
                    <li>You can call the telephone number on the other side of this letter and ask for a conference. Your worker will be able to answer any questions you may have.</li>
                    <li>You can also file an appeal. Your local department has the necessary forms and they will help you to file an appeal. Call the number on the other side of this letter for appeal forms and more information about how to file an appeal.</li>
                </ol>
                <p class="text-uppercase italic">YOUR SERVICES MAY BE CONTINUED UNTIL A DECISION IS REACHED ON YOUR APPEAL IF YOU FILE YOUR APPEAL WITHIN 10 DAYS OF THE DATE OF THIS LETTER. (YOUR BENEFITS WILL NOT BE CONTINUED IF THE CHANGE IN BENEFITS RESULTED FROM A CHANGE IN FEDERAL OR STATE LAW.) YOU MUST FILE YOUR APPEAL WITHIN 90 DAYS OF THE DATE OF THIS LETTER.</p>
            </div>

            <div class="appeal-div italic">
              <h4 class="m-t-50 text-center">WHAT HAPPENS WHEN YOU APPEAL</h4>
                <p class="m-t-30">An appeal hearing will be scheduled at a time and place convenient for you and the office who will hear your
                    case. You should come to this hearing. If you wish, you can be represented by a lawyer or a friend or relative.
                    You may be able to get legal help through the Legal Aid Bureau in some areas of the State. In Baltimore City,
                    Legal Aid&#39;s Office is at 714 E. Pratt St. 7th Floor 21202. (Telephone number: 539-5340) In the counties, your
                    worker will advise you regarding whether free legal services might be available.</p>
                <p class="m-t-30">At least six days before the hearing, the local department will send you a summary of the information used to
                    reach its decision. If you want any employees of the local department to be present at your hearing, you must
                    notify the hearing officer and tell why you want these employees to be present. You or your lawyer can look at
                    the documents used by the local department to reach its decision.</p>
                <p class="m-t-30">A hearing officer will send you a written decision which says whether the local department&#39;s decision was
                    correct within 90 days after receiving your appeal request. If the local department&#39;s decision is found to be
                    correct, and you have continued to receive an incorrect amount of benefits while awaiting for a decision, you
                    may have to repay the payments you received during this time which was more than you were eligible for.</p>
                <p class="m-t-30">If you have any questions about your right to appeal, please call your local department at the telephone number
                    listed on the other side of this letter.</p>
            </div>

            <div class="regards m-t-50 col-sm-4">
                <div class="row">
                    <div class="col-sm-7">
                        <mat-form-field>
                            <mat-select placeholder="Jurisdiction Name"formControlName="countyid" (change)="onCountyChange($event.value)" required>
                                <mat-option *ngFor="let item of jurisdictionCountys$ | async" value="{{item.countyid}}">{{item.countyname}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
              <p class="semi-bold"></p>
              <!-- <p class="">Address line 1</p>
              <p class="">Address line 2</p>
              <p class="">Pin Code</p>
              <p class="">Phone Number</p>
              <p class="">email@gmail.com</p> -->
              <!-- <p class="" *ngIf="stateCountyCode">State County Code: {{stateCountyCode}}<span *ngIf="jurisdictionCity || jurisdictionState || jurisdictionZipcode">,</span></p>
              <p class="" *ngIf="jurisdictionCity">City: {{jurisdictionCity}} <span *ngIf="jurisdictionState || jurisdictionZipcode">,</span></p>
              <p class="" *ngIf="jurisdictionState">State: {{jurisdictionState}} <span *ngIf="jurisdictionZipcode">,</span></p>
              <p class="" *ngIf="jurisdictionZipcode">Zipcode: {{jurisdictionZipcode}}</p> -->
              <textarea matInput placeholder="Jurisdiction Address" class="" *ngIf="juridictionAddress">Address: {{juridictionAddress}}</textarea>
              <p class="" *ngIf="juridictionPhone">Phone Number: {{juridictionPhone}}</p>
              <p class="" *ngIf="jurisdictionEmail">Email: {{jurisdictionEmail}}</p>
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn-theme btn-pri btn-add m-t-20" (click)="saveActionLetter()">SAVE</button>
            </div>
        </div>
    </div>
    </form>
</div>