<div class="intake">
  <div class="tab-horizontal">
      <ul class="nav nav-pills click-triggers">
        <li *ngFor="let tab of tabs" routerLinkActive="active">
          <a [routerLink]="tab.path" >{{tab.name}}</a>      
        </li> 
      </ul>
    </div>
</div>
