<div class="row">
    <div class="col-sm-12 text-right btns-top pad-vspace">
            <button (click)="printAssessment()" class="btn-pri">Print</button>
            <button class="btn-pri aut-btn-backToAssessment" (click)="redirectToAssessment()">
                Back to Assessments
            </button>
    </div>
</div>

<!-- We can render the particular Assessment component based on the selected assessment -->
<div>

    <ng-container *ngIf="selectedAssessmentName === 'AOD Form'">
        <assessment-aod></assessment-aod>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'cans-v2' || selectedAssessmentName === 'CANS-F'">
        <assessment-cans-f></assessment-cans-f>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'MFIRA'">
        <assessment-mfira></assessment-mfira>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'CANS-OUT OF HOME PLACEMENT SERVICE'">
        <assessment-cans-out></assessment-cans-out>
    </ng-container>

</div>

<div class="row" style="display:none">
    <div class="col">
        <div id="divPrintViewAssessment"></div>
    </div>
</div>