<div class="row">
        <div class="col-md-6">
            <div class="table-responsive left-txt">
                <table class="table table-bordered">

                    <tbody>
                    <tr>
                        <td>Create Date</td>
                        <td>{{log.createdDate}}</td>
                    </tr>
                    <tr>
                        <td>Create Worker ID</td>
                        <td>{{log.createdWorkerID}}</td>
                    </tr>
                    <tr>
                        <td>Create Worker Name</td>
                        <td>{{log.createdWorkerName}}</td>
                    </tr>
                    <tr>
                        <td>Update Date</td>
                        <td>{{log.updatedDate}}</td>
                    </tr>
                    <tr>
                        <td>Update Worker ID</td>
                        <td>{{log.updatedWorkerID}}</td>
                    </tr>
                    <tr>
                        <td>Update Worker Name</td>
                        <td>{{log.updatedWorkerName}}</td>
                    </tr>
                    <tr>
                        <td>
                            Complete Date
                        </td>
                        <td>{{log.completedDate}}</td>
                    </tr>
                    <tr>
                        <td>
                            Complete Worker ID
                        </td>
                        <td>{{log.completedWorkerID}}</td>
                    </tr>
                    <tr>
                        <td>
                            Complete Worker Name
                        </td>
                        <td>{{log.completedWorkerName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Create Date
    Create Worker ID
    Create Worker Name
    Update Date
    Update Worker ID
    Update Worker Name
    Complete Date
    Complete Worker ID
    Complete Worker Name-->
