<div class="col-sm-12 text-left">
  <h4>Complaints</h4>
</div>
<div class="col-sm-12 text-left">
  &nbsp;
</div>
<div class="col-sm-12">
  <div class="table-responsive table-theme">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>complaint id</th>
          <th>county</th>
          <th>Age</th>
          <th>source agency</th>
          <th>offenses</th>
          <th>victims</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="evals && evals.length>0; else noItems">
          <tr *ngFor="let eval of evals; let i=index">
            <td>{{eval.complaintid}}</td>
            <td>
              {{eval.countyname}}
            </td>
            <td>{{eval.age}}</td>
            <td>
              {{eval.evaluationsourceagencyname}}
            </td>
            <td><span *ngFor="let offense of eval.allegedoffense; let last = last;">{{
                offenceCategoryList[offense] }} <span *ngIf="!last">,</span></span></td>
            <td>
              <div *ngFor="let victim of eval.victims" style="text-transform: capitalize;">{{victim.fullName}}<br></div>
            </td>
          </tr>
        </ng-container>
        <ng-template #noItems>
          <tr>
            <td colspan="7" style="text-align: center !important;"> No records found </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>