.bg-white {
    background: #fff;
    border: 1px solid #D8D8D8;
}
.accordion .panel-heading,
#accordion .panel-heading {
    background: none;
    border: none;
}
.panel.panel-default {
    border: none;
    box-shadow: none;
}
.panel-title {
    font-size: 14px;
}
#accordion .panel-heading h4 {
    margin-bottom: 5px;
    margin-top:0;
}
.panel-title > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #00A2FD;
    line-height: 21px;
    text-transform: uppercase;
}

.panel-body {
    padding: 0;
}
.more-less {
    float: left !important;
    color: #00A2FD;
    border: 2px solid #e4e4e4;
    padding: 3px;
    margin-right: 10px;
    top: 0;
    border-radius: 2px;
    line-height: 4px;
    background: #f3f3f3;
    padding-bottom: 2px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #eeeeee;
}

// .customTable th {
//     color: #626467 !important;
// }
.table.customTable > tbody > tr > td {
    border-top: 1px solid #D8D8D8;
}
.customTable td {
    color: #333;
    font-weight: 600;
    font-size: 13px;
}
.innerTable > thead {
    background: #e8f0fa;
}
.innerTable > thead > tr > th {
    padding: 5px 8px;
}
.td-pad {
    padding:0 !important;
}
.show {
    display: table-row !important;
}
.notactive{
    pointer-events: none;
}
.table-responsive {
    overflow-x: visible;
}
.innerTable .panel-group {
    margin-bottom: 10px;
}
table label.control {
    padding-top: auto;
    padding-left: auto;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
}
.control--radio .control__indicator:after {
    background: #00A2FD;
}
.control input:checked ~ .control__indicator {
    background: transparent;
}
.accordion-table thead {
    background: #AEBED6;
    color: #626467 !important;
}
// .table .table {
//     box-shadow: 0 0 10px 1px #ded8d8;
// }
.customTable.firsttable thead tr th:nth-child(1) {width:70px;}
.customTable.firsttable thead tr th:nth-child(2) {width:40px;}
.customTable.firsttable thead tr th:nth-child(3) {width:100px;}
.customTable.firsttable thead tr th:nth-child(4) {width:100px;}
.customTable.firsttable thead tr th:nth-child(5) {width:100px;}
.customTable.firsttable thead tr th:nth-child(6) {width:50px;}
.customTable.firsttable thead tr th:nth-child(7) {width:125px;}
.customTable.firsttable thead tr th:nth-child(8) {width:150px;}
.customTable.firsttable thead tr th:nth-child(9) {width:100px;}
.customTable.firsttable thead tr th:nth-child(10) {width:100px;}
.customTable.firsttable thead tr th:nth-child(11) {width:75px;}
.customTable.firsttable thead tr th:nth-child(12) {width:75px;}
.customTable.firsttable thead tr th:nth-child(13) {width:100px;}
.customTable.firsttable > thead tr th, .customTable.firsttable > tbody tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.customTable.firsttable > tbody tr td:last-child a {
    padding: 3px 10px;
    
}
.customTable.innerTable > thead tr th, .customTable.innerTable > tbody tr td {
    text-overflow: inherit;
    white-space: normal;
    font-weight: 600;
    font-size:13px !important;
    color:#333;
    border-bottom: 1px solid #fff !important;
}
.outer {
    // max-height:380px;
    // min-height:380px;
    // overflow: hidden;
    // overflow-y: auto;
    // margin:10px 0 30px;
}
.col-pad {
    padding: 0 10px;
}
.modal-header {padding: 10px 15px;}
.modal-dialog {
    margin:10px auto;
}
.modal-height-body {
    height: 472px;
    overflow: hidden;
    overflow-y: auto;
}
.bdr-btm{border: 1px solid #ccc; margin-bottom: 15px;padding: 10px 0; position: relative;}
.peson-role-delete{position: absolute; top: 10px; right: 10px;}
.peson-role-delete i{font-size: 16px; color: #333;}

.red {
    color: red;
}
.fa-angle-down,.fa-angle-up {
    color: #00A2FD;
    font-size: 16px;
    font-weight: 600;
}
.table-theme .table tr td {
    text-align:left !important;
}
.customTable.innerTable tbody tr {
    background: #e0e8f8;
    color: #333;
}
.table>tbody+tbody {
    border-top:1px solid #D8D8D8;
}