<div class="row" *ngIf="!isAddEdit && !_personInfoService.getClosed()">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addInsuranceInfo()'>+ Add Insurance Information</a>
        </div>
    </div>
</div>  
<div class="row" *ngIf="isAddEdit">
    <div class="col-md-12" [formGroup]="healthinsuranceForm">
        <div class="col-sm-12">
            <div class=" m-b-5" [ngStyle]="{ 'pointer-events' : reportMode === 'edit' ? 'none' : 'inherit' }" >
                <p class="required">Does Client have Insurance<label></label></p>
                <mat-radio-group  formControlName="ismedicaidmedicare" required>
                    <mat-radio-button (click)="isInsuranceExsists(true)" class="m-r-10" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button (click)="isInsuranceExsists(false)" [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <ng-container *ngIf="isInsuranceAvailableforPerson">
            <div class="col-sm-6">

                <!-- <mat-checkbox 
            (change)="selectmedicalassistance($event)" 
            formControlName="medicalassistance">Medicaid / Medical Assistance 
            <label class="required"></label></mat-checkbox> -->

                <div class="row">
                    <div class="col-sm-12 m-b-5">
                        <mat-form-field>
                            <mat-select  (change)="setInsurance($event)" formControlName="insurancetype"
                                placeholder="Type of Insurance" [required]="isInsuranceAvailableforPerson">
                                <mat-option *ngFor="let item of (typeofInsuranceDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                        item.description }}</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select (change)="setProviderType($event)" *ngIf="medAssistance"  formControlName="medicalinsuranceprovider"
                                placeholder="Medical Insurance Provider" >
                                <mat-option value="AMERIGROUP Community Care"> AMERIGROUP Community Care</mat-option>
                                <mat-option value="Helix Family Choice, Inc."> Helix Family Choice, Inc.</mat-option>
                                <mat-option value="JAI Medical Systems"> JAI Medical Systems</mat-option>
                                <mat-option value="Maryland Physicians Care"> Maryland Physicians Care</mat-option>
                                <mat-option value=" Priority Partners"> Priority Partners</mat-option>
                                <mat-option value="The Diamond Plan"> The Diamond Plan</mat-option>
                                <mat-option value="United Healthcare"> United Healthcare</mat-option>
                                <mat-option value="other"> Other</mat-option>
                            </mat-select>
                            <mat-select (change)="setProviderType($event)" *ngIf="!medAssistance"  formControlName="medicalinsuranceprovider"
                                placeholder="Medical Insurance Provider" >
                                <mat-option value="Aetna">Aetna</mat-option>
                                <mat-option value="Amerigroup Maryland, Inc.">Amerigroup Maryland, Inc.</mat-option>
                                <mat-option value="Blue Cross/Blue Shield">Blue Cross/Blue Shield</mat-option>
                                <mat-option value="Care First">Care First</mat-option>
                                <mat-option value="Diamond Plan (Coventry)">Diamond Plan (Coventry)</mat-option>
                                <mat-option value="Helix Family Choice">Helix Family Choice</mat-option>
                                <mat-option value="JAI Medical Systems, Inc">JAI Medical Systems, Inc</mat-option>
                                <mat-option value="Kaiser Permanente">Kaiser Permanente</mat-option>
                                <mat-option value="Magellan">Magellan</mat-option>
                                <mat-option value="Maryland Physicians Care">Maryland Physicians Care</mat-option>
                                <!-- <mat-option value="Other">Other</mat-option> -->
                                <mat-option value="Priority Partners">Priority Partners</mat-option>
                                <mat-option value="TriCare">TriCare</mat-option>
                                <mat-option value="United Health Care">United Health Care</mat-option>
                                <mat-option value="US Family Health Plan">US Family Health Plan</mat-option>
                                <mat-option value="other"> Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="isCustomInsuranceProvider">
                    <div class="col-sm-6 m-b-5">
                        <mat-form-field>
                            <input  formControlName="customprovidertype" matInput placeholder="Enter Provider Name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select  formControlName="providertype"  placeholder="Provider Type">
                                <mat-option (click)="modifyInsuranceType('Primary')" value="Primary" *ngIf="!isPrimaryExists">Primary</mat-option>
                                <mat-option (click)="modifyInsuranceType('Secondary')" value="Secondary" *ngIf="!isPrimaryInsurance">Secondary</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input formControlName="providerphone" matInput placeholder="Provider Phone Number" mask="(000) 000-0000">
                        </mat-form-field>
                    </div>
                    <smarty-street-address [address]="address"></smarty-street-address>
                </div>

              
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput formControlName="managedcareorganization" placeholder="Managed Care Organization">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="policyholdername" placeholder="Policy holder name" [required]="isInsuranceAvailableforPerson">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="patientpolicyholderrelation" matInput placeholder="Patient Relationship to Policyholder ">
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput  formControlName="policynumber" maxlength="18" placeholder="Policy Number" [required]="isInsuranceAvailableforPerson"> 
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput formControlName="groupnumber" maxlength="18" placeholder="Group Number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <mat-form-field>
                            <input matInput  formControlName="startdate" (click)="picker3.open()" [matDatepicker]="picker3"
                                placeholder="Effective Policy Date">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field> -->
                        <common-date-picker [min]="insuranceStartDate" [max]="healthinsuranceForm.getRawValue().enddate"  formControlName="startdate" placeholder="Effective Policy Date" [disabled]="dtDisable" >
                        </common-date-picker>
                    </div>
                    <div class="col-sm-6">
                        <!-- <mat-form-field>
                            <input matInput formControlName="enddate" (click)="picker4.open()" [matDatepicker]="picker4"
                                placeholder="Expiration Date">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field> -->
                        <common-date-picker [min]="healthinsuranceForm.getRawValue().startdate"   formControlName="enddate" placeholder="Expiration Date" [disabled]="dtDisable">
                        </common-date-picker>
                    </div>
                </div>

            </div>
            <div class="row">
                <document-upload-list [uploadedFiles]="uploadedFiles" [uploadNumber]="uploadNumber"></document-upload-list>
            </div>
        </ng-container>
      
        <div class="row m-b-20">
            <div class="col-sm-12">
                <div class="pull-right">
                    <span *ngIf="reportMode === 'add'">
                        <button class="btn-pri"(click)="resetForm()">Clear</button>
                        <button class="btn-pri" (click)="add()" [disabled]="healthinsuranceForm.pristine || healthinsuranceForm.invalid || _personInfoService.getClosed()">Add</button>
                    </span>      
                    <span *ngIf="reportMode === 'edit'">
                        <button class="btn-pri" [disabled]="healthinsuranceForm.pristine || healthinsuranceForm.invalid || _personInfoService.getClosed()"
                            *ngIf="editMode === true" (click)="update()">Update</button>
                        <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                    </span>
                </div>
            </div>
        </div>   
    </div>
</div> 
 <div class="row">
    <div class="col-sm-12 m-t-20">
        <div class="table-responsive table-theme table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Insurance</th>
                        <th>Policy Holder Name</th>
                        <th>Expiration Date</th>
                        <th>Update on</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="healthInsurance.length; else elseTemplate">
                        <tr *ngFor="let health of healthInsurance; let i=index">
                            <td>{{health.ismedicaidmedicare === true ? 'Yes' : 'No'}}</td>
                            <td>{{health.policyholdername}}</td>
                            <td>{{health.expirationdate | date:'MM/dd/yy HH:mm'}}</td>
                            <td>{{health.updatedon | date:'MM/dd/yy HH:mm'}}</td>
                            <td [ngClass] = "{'disable-anchor': _personInfoService.getClosed()}">
                                <a (click)="view(health)">
                                    <i class="fa fa-eye text-16" matTooltip="View"></i> | 
                                </a>
                                <a *ngIf="!_personInfoService.getClosed()" (click)="edit(health, i)">
                                    <i class="fa fa-pencil text-16" matTooltip="Edit"></i> | 
                                </a>
                                <a [ngClass] = "{'pointer-events-none' : _personInfoService.getClosed()}" (click)="delete(health, i)">
                                    <i class="fa fa-trash text-16" matTooltip="Delete"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <tr>
                            <td colspan="6">
                                No Records added.
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>