.fa-times-circle{font-size: 30px; color: #00A2FD;}
.panel-default>.panel-heading {color: #fff; background-color: #00A2FD;}
.custom-textarea textarea{border: 1px solid #ccc; padding: 5px; height: 80px;}

.custom-textarea textarea:focus,
.custom-textarea input:focus,
.custom-textarea select:focus,
.custom-textarea input,
.custom-textarea select,
.mat-select-trigger {
    border-bottom: 1px solid #cccccc !important; padding-bottom: 5px;}
.mt-5{
    margin-top: 5px;
}
