<form [formGroup]="sdmFormGroup">
    <div class="tab-horizontal mrg-top25 mrg-btm25 custom-textarea">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#Decision-Making-step1" data-toggle="tab" aria-expanded="true">MALTREATMENT TYPE</a>
            </li>
            <li class="">
                <a href="#Decision-Making-step2" data-toggle="tab" aria-expanded="false">RECOMMENDATION AND OVERRIDES</a>
            </li>
            <li class="">
                <a href="#Decision-Making-step3" data-toggle="tab" aria-expanded="false">CPS RESPONSE TYPE </a>
            </li>
        </ul>
        <div class="tab-content" style="box-shadow:0 0 ">
            <div class="tab-pane active" id="Decision-Making-step1">
                <div class="panel panel-default">
                    <div class="panel-heading">MARYLAND SOCIAL SERVICES ADMINISTRATION STRUCTURED DECISION MAKING® CHILD ABUSE AND NEGLECT SCREENING
                        AND RESPONSE TIME ASSESSMENT
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input type="text" formControlName="referralname" matInput placeholder="Referral Name">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 clsIntake dpnew mt-5">
                                <!-- <mat-form-field>
                                    <input formControlName="referraldob" matInput [matDatepicker]="picker" [max]="maxDate" id="dobirth" placeholder="D.O.B">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field> -->
                                <input formControlName="referraldob" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', maxDate: null}" placeholder="MM/DD/YYYY"
                                    class="form-control fm-style" validdate>
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input type="text" formControlName="referralid" matInput placeholder="Referral ID">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 clsIntake dpnew">
                                <mat-form-field>
                                    <mat-select formControlName="countyid" placeholder="Jurisdiction">
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let  sdmsdmCountyValue of sdmCountyValuesDropdownItems$ | async" value="{{sdmsdmCountyValue.value}}">
                                            {{sdmsdmCountyValue.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">SECTION 1. MALTREATMENT TYPE</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-6" formArrayName="allegedvictim">
                                <p> Alleged Victim(s) </p>
                                <div class="row" *ngFor="let allegedVictimItem of sdmFormGroup['controls'].allegedvictim['controls']; let i=index" [formGroupName]="i">
                                    <div class="col-sm-9">
                                        <mat-form-field>
                                            <input formControlName="victimname" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn" *ngIf="sdmFormGroup['controls'].allegedvictim['controls'].length > 1" (click)="deleteFormGroup(i, 'allegedvictim')">
                                            <i aria-hidden="true" class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-pri" (click)="addNewFormGroup('allegedvictim')">
                                            <i class="fa fa-plus"></i> Add Another</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" formArrayName="allegedmaltreator">
                                <p> Alleged Maltreator(s) </p>
                                <div class="row" *ngFor="let allegedMaltreatorItem of sdmFormGroup['controls'].allegedmaltreator['controls']; let i=index"
                                    [formGroupName]="i">
                                    <div class="col-sm-9">
                                        <mat-form-field>
                                            <input type="text" formControlName="maltreatorsname" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn" *ngIf="sdmFormGroup['controls'].allegedmaltreator['controls'].length > 1" (click)="deleteFormGroup(i, 'allegedmaltreator')">
                                            <i aria-hidden="true" class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-pri" (click)="addNewFormGroup('allegedmaltreator')">
                                            <i class="fa fa-plus"></i> Add Another</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mrg-top25">
                            <div class="col-sm-6">
                                <label class="mt-lbl"> Provider Involved Maltreatment</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-radio-group formControlName="maltreatment" (change)="onChangeMaltreatment($event.value)">
                                            <mat-radio-button value="yes">Yes</mat-radio-button>
                                            <mat-radio-button value="no">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6" formArrayName="provider" *ngIf="isDisplayProvider">
                                <p> Providers </p>
                                <div class="row" *ngFor="let providerItem of sdmFormGroup['controls'].provider['controls']; let i=index" [formGroupName]="i">
                                    <div class="col-sm-9">
                                        <mat-form-field>
                                            <input type="text" formControlName="providername" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn" *ngIf="sdmFormGroup['controls'].provider['controls'].length > 1" (click)="deleteFormGroup(i, 'provider')">
                                            <i aria-hidden="true" class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-pri" (click)="addNewFormGroup('provider')">
                                            <i class="fa fa-plus"></i> Add Another</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="mrg-top25 panel-content" formGroupName="physicalAbuse">
                            <h3>PHYSICAL ABUSE</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="malpa_suspeciousdeath">Suspicious death of a child due to abuse</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malpa_nonaccident">Non-accidental physical injury</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malpa_injuryinconsistent">Injury inconsistent with explanation</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malpa_insjury">Injury that appears suspicious</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malpa_childtoxic">Giving child toxic chemicals, alcohol, or drugs</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malpa_caregiver">Caregiver action that likely caused injury</mat-checkbox>
                                </li>
                            </ul>
                        </section>

                        <section class="mrg-top25 panel-content" formGroupName="sexualAbuse">
                            <h3>SEXUAL ABUSE</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="malsa_sexualmolestation">Sexual molestation of a child by an adult caregiver, family member, or household member</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malsa_sexualact">Sexual act(s) among siblings or other children living in the home that is outside of
                                        normal exploration
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malsa_sexualexploitation">Sexual exploitation of a child by an adult caregiver, family member, or household member</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="malsa_physicalindicators">Physical, behavioral, or suspicious indicators consistent with sexual abuse</mat-checkbox>
                                </li>
                            </ul>
                        </section>

                        <section class="mrg-top25 panel-content">
                            <h3>NEGLECT</h3>
                            <h3>General Neglect</h3>
                            <ul class="list-unstyled" formGroupName="generalNeglect">
                                <li>
                                    <mat-checkbox formControlName="neggn_suspiciousdeath">Suspicious death of a child due to neglect</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_signsordiagnosis">Signs or diagnosis of non-organic failure to thrive</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_inadequatefood">Inadequate food/nutrition, or signs of malnutrition</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_exposuretounsafe">Exposure to unsafe conditions in the home</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_inadequateclothing">Inadequate clothing or hygiene</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_inadequatesupervision">Inadequate supervision</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neggn_childdischarged">A child is being discharged from a facility and parents refuse to participate in planning
                                        for the child</mat-checkbox>
                                </li>
                            </ul>
                        </section>


                        <section class="mrg-top25 panel-content">
                            <h3>Failure to Protect</h3>
                            <mat-checkbox formControlName="negfp_cargiverintervene">The caregiver does not intervene .despite knowledge (or reasonable expectation that the caregiver
                                should have knowledge) that the child is being harmed (includes physical or sexual abuse,
                                neglect, or mental injury) by another person
                            </mat-checkbox>
                        </section>

                        <section class="mrg-top25 panel-content">
                            <h3>Abandonment</h3>
                            <mat-checkbox formControlName="negab_abandoned">A child of any age has been abandoned</mat-checkbox>
                        </section>

                        <section class="mrg-top25 panel-content">
                            <h3>Unattended Child</h3>
                            <ul class="list-unstyled" formGroupName="unattendedChild">
                                <li>
                                    <mat-checkbox formControlName="neguc_leftunsupervised">A child of any age who is physically, intellectually, or cognitively disabled is left
                                        unsupervised or with responsibilities beyond his or her capabilities</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neguc_leftaloneinappropriatecare">A child under the age of 8 has been left alone or in the care of an inappropriate caregiver</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="neguc_leftalonewithoutsupport">A child over the age of 8 has been left alone without support systems for long periods
                                        of time or with responsibilities beyond his or her capabilities</mat-checkbox>
                                </li>
                            </ul>
                        </section>
                        <section class="mrg-top25 panel-content">
                            <h3>Risk of Harm</h3>
                            <ul class="list-unstyled" formGroupName="riskofHarm">
                                <li>
                                    <mat-checkbox formControlName="negrh_priordeath">Prior death or serious injury of a child due to child abuse or neglect, and a new child
                                        is now in the Drug-exposed newborn</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="negrh_sexualperpetrator">Known sexual perpetrator has unsupervised or unrestricted access to child</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="negrh_basicneedsunmet">Child's basic needs are likely to be unmet due to caregiver impairment</mat-checkbox>
                                </li>
                            </ul>
                        </section>

                        <section class="mrg-top25 panel-content">
                            <h3>Medical Neglect</h3>
                            <!-- <p>Select Boxes Field</p> -->
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="negmn_unreasonabledelay">The unreasonable delay, refusal, or failure on the part of the caregiver to seek, obtain,
                                        and/or maintain necessary medical, dental, or mental health care</mat-checkbox>
                                </li>
                            </ul>
                        </section>

                        <section class="mrg-top25 panel-content">
                            <h3>MENTAL INJURY</h3>
                            <h3>Abuse</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="menab_psycologicalability">A child has an observable, identifiable, and substantial impairment of his/her mental
                                        or psychological ability to function as a result of an act of a parent,permanent
                                        or temporary caregiver, or household or family member.</mat-checkbox>
                                </li>
                            </ul>
                        </section>
                        <section class="mrg-top25 panel-content">
                            <h3>Neglect</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="menng_psycologicalability">A child has an observable, identifiable, and substantial impairment of his/her mental
                                        or psychological ability to function as a result of failure to act by a parent, permanent
                                        or temporary caregiver, or household or family member</mat-checkbox>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Decision-Making-step2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">RECOMMENDATION AND OVERRIDES</div>
                            <div class="panel-body">
                                <div class="panel-content">
                                    <h3>Initial Screening Recommendation</h3>
                                    <mat-radio-group formControlName="screeningRecommend" disabled (change)="changeScreenOutIN($event.value)">
                                        <mat-radio-button value="ScreenOUT">Screen out (no maltreatment type is marked)</mat-radio-button>
                                        <mat-radio-button value="Scrnin">Screen in (one or more maltreatment types are marked)</mat-radio-button>
                                    </mat-radio-group>
                                    <div *ngIf="sdmSettings.isSupervisor && !sdmSettings.isDisableOverride" style="color:#FF0000;margin-left: 17px;"> You have {{dayToOverride}} days to Override Recommendation</div>
                                    <div *ngIf="sdmSettings.isSupervisor && sdmSettings.isDisableOverride" style="color:#FF0000;margin-left: 17px;"> Cannot Override Recommendation for Intake requests beyond 60 days.</div>
                                </div>
                                <div class="panel-content">
                                    <h3>Overrides</h3>
                                    <mat-radio-group formControlName="scnRecommendOveride" (change)="changeOverScreenOutIN($event.value)">
                                        <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="">No overrides apply
                                        </mat-radio-button>
                                        <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="OvrScrnout">Screen out: No maltreatment type is marked, but referral will be opened and assigned
                                            for child protective services (CPS) investigation (mark all that apply)
                                        </mat-radio-button>
                                        <div class="screen-out" *ngIf="isScreenOutIN === 'OvrScrnout'">
                                            <ul class="list-unstyled" formGroupName="screenOut">
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_insufficient">Insufficient information to locate child/family</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_information">Information forwarded to another jurisdiction</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_historicalinformation">Historical information, victim is now an adult, and no children are in
                                                        the care of alleged perpetrator</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_otherspecify">Other (specify)
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="no-placeholder">
                                                                <mat-form-field>
                                                                    <textarea [disabled]="sdmSettings.isDisableOverride" formControlName="scrnout_description" type="text" matInput placeholder=""></textarea>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="Ovrscrnin">Screen in: One or more maltreatment types are marked, but referral will be screened
                                            out (mark all that apply)</mat-radio-button>
                                    </mat-radio-group>

                                    <div class="screen-in" *ngIf="isScreenOutIN === 'Ovrscrnin'">
                                        <ul class="list-unstyled" formGroupName="screenIn">
                                            <li>
                                                <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrninrecovr_courtorder">Court order for an investigation</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrninrecovr_otherspecify">Other (specify)
                                                </mat-checkbox>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="no-placeholder">
                                                            <mat-form-field class="custom-textarea">
                                                                <textarea [disabled]="sdmSettings.isDisableOverride" formControlName="scrnin_description" type="text" matInput placeholder=""></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-content">
                                    <h3>Final Screening Decision (after consideration of overrides)</h3>
                                    <!-- <mat-radio-group formControlName="isfinalscreenin" (change)="changeFinalScreenDecision($event.value)"> -->
                                    <mat-radio-group formControlName="isfinalscreenin">
                                        <mat-radio-button value="false">Screen out: No maltreatment type is marked and no screen-in overrides apply</mat-radio-button>
                                        <mat-radio-button value="true">Screen in: At least one maltreatment type or screen-in override is marked and no
                                            screen-out overrides are marked. Complete Section 3, Response Time Decision</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">RESPONSE TIME DECISION (complete for all screened in reports)</div>
                            <div class="panel-body">
                                <div class="panel-content">
                                    <mat-radio-group formControlName="immediate" (change)="changeImmediate($event.value)">
                                        <mat-radio-button value="Immediate">Immediate response required based on one or more criteria below (mark all that apply):</mat-radio-button>
                                        <div class="screen-out Immediate" formGroupName="immediateList" *ngIf="isImmediate === 'Immediate'">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <mat-checkbox formControlName="isimmed_childfaatility">Child fatality or near fatality where abuse/neglect is suspected</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox formControlName="isimmed_seriousinjury">Serious injury to child and other children remain in home</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox formControlName="isimmed_childleftalone">Child left alone/abandoned and requires immediate care. Age of youngest
                                                        child in years</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox formControlName="isimmed_allegation">Allegation of child abuse or neglect in an out-of-home setting</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox formControlName="isimmed_otherspecify">Other (specify)</mat-checkbox>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="no-placeholder">
                                                                <!-- <p>Text Area Field</p> -->
                                                                <mat-form-field>
                                                                    <textarea formControlName="immediateList6" type="text" matInput placeholder=""></textarea>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <mat-radio-button value="No Immediate">No immediate response criteria exist and allegations include the following:</mat-radio-button>
                                    </mat-radio-group>

                                    <div class="screen-out No-Immediate" *ngIf="isImmediate === 'No Immediate'">
                                        <ul class="list-unstyled" formGroupName="noImmediateList">
                                            <li>
                                                <mat-checkbox formControlName="isnoimmed_physicalabuse">Physical abuse-response within 24 hours</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="isnoimmed_sexualabuse">Sexual abuse-response within 24 hours</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="isnoimmed_neglectresponse">Neglect-response within 5 days</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="isnoimmed_mentalinjury">Mental injury-response within 5 days D Screen-in Override</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"> DATA COLLECTION</div>
                            <div class="panel-body">
                                <div class="panel-content">
                                    <p>Report includes allegation of abuse in which child is under 1 year old and has received
                                        corporal punishment.</p>
                                    <mat-radio-group formControlName="childunderoneyear" (change)="changeChildInderOneYear($event.value)">
                                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>

                                    <section>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input type="text" formControlName="officerfirstname" matInput placeholder="Officer First Name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input type="text" formControlName="officermiddlename" matInput placeholder="Officer Middle Name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input type="text" formControlName="officerlastname" matInput placeholder="Officer Last Name">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input type="text" formControlName="badgenumber" matInput placeholder="Badge Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input type="text" formControlName="recordnumber" matInput placeholder="Record Number">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4 clsIntake dpnew mt-5">
                                                <input formControlName="reportdate" a2e-datetimepicker [options]="{maxDate: null}" placeholder="MM/DD/YYYY" class="form-control fm-style">
                                                <i class="fa fa-calendar"></i>
                                                <!-- <mat-form-field>
                                                    <input formControlName="reportdate" matInput [matDatepicker]="picker1" id="date1" placeholder="Date & Time of Report">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input formControlName="worker" type="text" matInput placeholder="Worker">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input formControlName="workerdate" matInput [matDatepicker]="picker2" id="date2" placeholder="Date Time Field">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input formControlName="supervisor" type="text" matInput placeholder="Supervisor">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input formControlName="supervisordate" matInput [matDatepicker]="picker3" id="date3" placeholder="Date Time Field">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" *ngIf="isChildInderOneYear === 'Yes'">
                                            <div class="no-placeholder">
                                                <mat-form-field>
                                                    <textarea formControlName="childUnderOneYear" type="text" matInput placeholder=""></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="row">
                    <div class="col-sm-12">
                <h4 class=" required">CPS</h4>

                <div class="">
                    <div class="">
                        <mat-radio-group formControlName="iscps">
                            <mat-radio-button value="true">CPS</mat-radio-button>
                            <mat-radio-button value="false">Non - CPS</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            </div> -->
            </div>
            <div class="tab-pane" id="Decision-Making-step3">
                <div class="">
                    <div class="col-sm-6">
                        <h4>Mandatory Disqualifying Criteria</h4>

                        <ul class="list-unstyled" formGroupName="disqualifyingCriteria">
                            <li>
                                <mat-checkbox [disabled]="sdmSettings.issexualabuse" formControlName="issexualabuse">Sexual Abuse
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox [disabled]="sdmSettings.isoutofhome" formControlName="isoutofhome">Abuse or neglect that occurs in an out-of-home placement (Resource Home, Child Placement
                                    Agency (CPA), Group Home)</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox [disabled]="sdmSettings.isdeathorserious" formControlName="isdeathorserious">Abuse or neglect resulting in death or serious physical or mental injury.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="isrisk">Level of case severity/risk is moderate to high.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox [disabled]="sdmSettings.isdeathorserious" formControlName="isreportmeets">Report meets criteria for Mental Injury Investigation. </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox [disabled]="sdmSettings.issignordiagonises" formControlName="issignordiagonises">Signs or Diagnosis of failure to thrive.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="ismaltreatment3yrs">The individual suspected of child maltreatment has been identified as responsible for abuse
                                    or neglect in the previous 3 year period as documented in agency case record.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="ismaltreatment12yrs">The individual suspected of abuse or neglect has had one report assigned to alternative response
                                    within the prior 12 months.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="ismaltreatment24yrs">The individual suspected of abuse or neglect has had two reports assigned to alternative response
                                    within the prior 24 months.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="isactiveinvestigation">An active investigation or alternative response is in progress. </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6" formGroupName="disqualifyingFactors">
                        <h4>Discretionary Disqualifying Factors</h4>

                        <ul class="list-unstyled">
                            <li>
                                <mat-checkbox formControlName="isreportedhistory">Reported history of a family's inability or refusal to participate in the Alternative Response
                                    assessment which may include:</mat-checkbox>
                                <ul class="list-unstyled" style="margin-left: 25px;">
                                    <li>- Family refuses worker access to a child.</li>
                                    <li>- Family refuses to discuss allegations.</li>
                                    <li>- Family refuses to cooperate and risk and safety are a concern.</li>
                                    <li>- Family rejects the services necessary to address immediate safety issues for the child.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <mat-checkbox formControlName="ismultiple">Multiple similar reports(within 120 days)</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="isdomesticvoilence">Allegations that the maltreater is responsible for domestic violence currently occurring
                                    in the home.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="iscriminalhistory">Criminal history bearing on child safety.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="isthread">A current expressed threat of serious harm to child.
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="islawenforcement">A need for law enforcement assistance.</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="iscourtiinvestigation">Court ordered investigation.</mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-12">
                        <h4>CPS Response Type</h4>
                    </div>
                    <div class="col-sm-12">
                        <mat-radio-group [disabled]="true" formControlName="cpsResponseType">
                            <mat-radio-button value="CPS-AR">CPS-AR</mat-radio-button>
                            <mat-radio-button value="CPS-IR">CPS-IR</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>
