<div class="panel-body">
    <div class="row">
      <div class="col-md-12 gap-nav">
        <ul class="nav nav-tab mrg-btm25 cus-tab-section">
          <li routerLinkActive="active" [ngClass]="menuActive.page ==='profile' ? 'active':'inactive'">
            <a (click)="redirectPage('profile')"><span class="tab-txt">Profile Basic Info</span></a>
          </li>
          <li routerLinkActive="active" [ngClass]="menuActive.page ==='address' ? 'active':'inactive'">
            <a (click)="redirectPage('address')"><span class="tab-txt">Address</span></a>
          </li>
          <li routerLinkActive="active" [ngClass]="menuActive.page ==='contact' ? 'active':'inactive'">
            <a (click)="redirectPage('contact')"><span class="tab-txt">Contact Info</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>