<div role="tabpanel" class="tab-pane" id="dsds-action-mapping">
    <div class="box-grid">
        <div class="row">
            <div class="col-sm-9">
                <h3>Manage Agency Action Mapping</h3>
            </div>
            <div class="col-sm-3 tab-title-btn">
                <button [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-mappings',0]" data-toggle="modal" data-target="#myModal-activity-mapping-add"
                    class="btn-pri">
                    <i class="fa fa-plus right-sspace"> </i> Add New</button>
            </div>
        </div>
        <div class="row" *ngFor="let dsdsActionMapping of dsdsActionMapping$ | async">
            <div class="mapping col-sm-12" *ngFor="let ammapping of dsdsActionMapping.ammapping">
                <div class="col-md-3 map-section-1">
                    <div class="mapping-data-list">
                        <dl>
                            <dt>Activity:</dt>
                            <dd>{{ammapping.name}}</dd>
                        </dl>
                        <dl>
                            <dt>Activity Mapping Name:</dt>
                            <dd>{{ammapping.amactivity?.name}}
                            </dd>
                        </dl>
                        <dl>
                            <dt>Mapping Description:</dt>
                            <dd>{{ammapping.description}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3 class="mapping-header" *ngIf="!ammapping.ammappinggoal.length">No Activity Goals added</h3>
                    <div class="table-responsive" *ngIf="ammapping.ammappinggoal.length">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Goal</th>
                                    <th>Description</th>
                                    <th>Required</th>
                                    <th>Help text</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let goal of ammapping.ammappinggoal">
                                    <td>{{goal.amgoal.name}}</td>
                                    <td>{{goal.amgoal.description}}</td>
                                    <td>
                                        <label class="control control--checkbox">
                                            <input type="checkbox" disabled [checked]="goal.required">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </td>
                                    <td>{{goal.helptext}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <h3 class="mapping-header" *ngIf="!ammapping.ammappingtask.length">No Activity Tasks added</h3>
                    <div class="table-responsive" *ngIf="ammapping.ammappingtask.length">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Description</th>
                                    <th>Required</th>
                                    <th>Help text</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of ammapping.ammappingtask">
                                    <td>{{task.amtask.name}}</td>
                                    <td>{{task.amtask.description}}</td>
                                    <td>
                                        <label class="control control--checkbox">
                                            <input type="checkbox" disabled [checked]="task.required">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </td>
                                    <td>{{task.helptext}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-2 map-section-3">
                    <div class="pull-right mapping-icon-list">
                        <ul class="list-unstyled list-inline">
                            <li data-toggle="tooltip" data-placement="top" title="Edit">
                                <a [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-mappings', ammapping.ammappingid]">

                                    <img src="assets/images/form-letter/edit-icon.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
    <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
</div>
<div role="tabpanel" class="tab-pane" id="add-edit-dsds-action-mapping-popup">
    <router-outlet></router-outlet>
</div>