.border {
    border-top: 5px solid #8CD050;
}

// .add-list-item {
//     border: 1px solid #D8D8D8;
//     margin: 0px;
//     padding: 5px 15px;
// }

// .action {
//     border-top: 1px solid #d8d8d8;
//     padding: 5px 0px;
// }

a, .col-title {
    color: #00A2FD !important;
    font-weight: 600;
}

.col-title {
    text-transform: capitalize;
}

.add-list-item {
    height: 105px;
    overflow: auto;
}