.btn-align {
    min-width: 60px;
    margin-left: 10px;
}

.pd-no {
    padding: 0px;
}

.pd-r-0 {
    padding-right: 0px;
}

.mat-form-field {
    display: block !important;
}
.red {
    color: red;
}