<div role="tabpanel" class="tab-pane" id="dsds-action-tasks">
  <div class="box-grid">
    <div class="row">
      <div class="col-sm-9">
        <h3>Manage Activity Tasks</h3>
      </div>
      <div class="col-sm-3 tab-title-btn">
        <button href="javascript:void();" data-toggle="modal" data-target="#myModal-action-tasks-add-edit" class="btn-pri pull-right"
          (click)="changeModelLabel('Add')">
          <i class="fa fa-plus right-sspace"> </i> Add Activity Tasks</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
            <thead>
              <tr>
                <th sortable-column="name" sort-direction="asc">Name</th>
                <th sortable-column="description">Description</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td>
                  <div class="inner-addon right-addon">
                    <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                    <input class="form-control full-width" type="text" value="" (input)="onSearch('name', $event.target.value)" placeholder="Search Name">
                  </div>
                </td>
                <td>
                  <div class="inner-addon right-addon">
                    <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                    <input class="form-control full-width" type="text" value="" (input)="onSearch('name', $event.target.value)" placeholder="Search Description">
                  </div>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngIf="dsdsActionTasksTypes$ | async; let dsdsActionTasksList">
              <tr *ngFor="let data of dsdsActionTasksList">
                <td>{{data.name}}</td>
                <td>{{data.description}}</td>
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                    <a href="#" data-toggle="modal" data-target="#myModal-action-tasks-add-edit" (click)="editActionTasks(data)">
                      <img src="assets/images/form-letter/edit-icon.png" alt="">
                    </a>
                  </span>
                  <span data-toggle="tooltip" data-placement="top" title="Delete">
                    <a href="javascript:{}" (click)="confirmDelete(data)">
                      <img src="assets/images/form-letter/delete-icon.png" alt="">
                    </a>
                  </span>
                </td>
              </tr>
              <tr *ngIf="dsdsActionTasksList?.length === 0">
                <td colspan="2">No records found.</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
            <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal-action-tasks-add-edit" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">{{addEditLabel}} Activity Task</h4>
      </div>
      <div class="modal-body">
        <div class="row" [formGroup]="actionTasksFormGroup">
          <div class="col-sm-12">
            <div class="fm-box">
              <label class="required">Name</label>
              <div class="fm-box-form col-sm-5">
                <input type="text" name="" class="form-control fm-style" formControlName="name">
                <control-messages [control]="actionTasksFormGroup.controls['name']"></control-messages>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="fm-box">
              <label class="required">Description</label>
              <div class="fm-box-form col-sm-5 fm-narrate">
                <textarea class="form-control fm-style" formControlName="description"></textarea>
                <control-messages [control]="actionTasksFormGroup.controls['description']"></control-messages>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mrg-top25">
            <div class="pull-right">
              <button type="button" value="Cancel" class="btn-bg" (click)="clearItem()" name="" data-dismiss="modal">Cancel</button>
              <button type="button" value="Save" class="btn-pri" (click)="saveItem()" name="" [disabled]="actionTasksFormGroup.pristine || actionTasksFormGroup.invalid">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" data-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>