<!-- <div class="modal fade in on-demand-activities" tabindex="-1" id="myModal-site-checklist" role="dialog" data-backdrop="static"
    data-keyboard="false"> -->

    <div class="modal fade in on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false" style="display: block;">

      <div class="modal-dialog modal-lg">
          <div class="modal-content customize-modal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" (click)="onClose()">×</button>
                  <h4 class="modal-title">Check List</h4>
              </div>
              <!-- [formGroup]="formGroup" -->
              <div class="modal-body modal-body-maxh">
                  <form [formGroup]="formGroup">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="fm-box dd-overflow-inherit">
  
                                  <mat-form-field>
                                      <mat-select placeholder="Activity" (change)="onChangeActivity($event)">
                                          <mat-option *ngFor="let item of activityDropdownItems$" value="{{item.value}}">
                                              {{item.text}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <!-- <label>Activity:</label> -->
                                  <!-- <div class="fm-box-form dd-overflow-inherit col-sm-4"> -->
                                  <!-- <div class="select-icon">
                                      <ng-select (change)="onChangeActivity($event)" placeholder="Activity">
                                          <ng-option value="">Select</ng-option>
                                          <ng-option *ngFor="let item of activityDropdownItems$" [value]="item.value">{{item.text}}</ng-option>
                                      </ng-select>
                                      <control-messages [control]="formGroup.controls['selectActivityList']"></control-messages> 
                                  </div> -->
                                  <!-- </div> -->
                              </div>
                          </div>
                          <div class="col-sm-8">
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <mat-select placeholder="Select Periodic" (change)="onPeriodChange()"
                                          formControlName="periodic">
                                          <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                              {{item}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <mat-select placeholder="Select Month" formControlName="monthly" [disabled]="isMonthDisabled">
                                          <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
                                              {{item}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <mat-select placeholder="Select Year" formControlName="yearly" [disabled]="isYearDisabled">
                                          <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
                                              {{item}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
  
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <mat-form-field>
                                  <mat-select placeholder="Time Of Visit"  formControlName="visitTime">
                                      <mat-option *ngFor="let item of timeOfVisit" value="{{item}}">
                                          {{item}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field>
                                  <mat-select placeholder="Announced/Unannounced" formControlName="schedule">
                                      <mat-option *ngFor="let item of visitSchedule" value="{{item}}">
                                          {{item}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row mrg-top25">
                          <div class="col-sm-5">
                              <div class="fm-box">
                                  <p>
                                      <b>Suggested Tasks</b>
                                  </p>
                                  <div class="form-group multiple-select modal-multi">
                                      <table class="table">
                                          <tbody>
                                              <tr *ngFor="let item of leftTasks | orderBy:'task'">
                                                  <!--  -->
                                                  <td>
                                                      <label>
                                                          <input type="checkbox" (change)="toggleTask('left', item, $event)">
                                                      </label>
                                                      <div class="tasks">{{item.task}}</div> 
                                                  </td>
                                                  <!-- <td>{{item.task}}</td> -->
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 text-center">
                              <div class="btn-group btn-group-re multi-slt-btn">
                                  <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                      (click)="selectAllTask()">Add All &gt; &gt;</button>
                                  <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                      (click)="selectTask()">Add &gt;</button>
                                  <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                      (click)="unSelectTask()">&lt; Remove</button>
                                  <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                      (click)="unSelectAllTask()"> &lt; &lt; Remove All</button>
                              </div>
                          </div>
                          <div class="col-sm-5">
                              <div class="fm-box">
                                  <p>
                                      <b>Selected Tasks</b>
                                  </p>
                                  <div class="form-group multiple-select modal-multi">
                                      <table class="table">
                                          <tbody>
                                              <tr *ngFor="let item of rightTasks | orderBy:'task'">
                                                  <td>
                                                      <label>
                                                          <input type="checkbox" (change)="toggleTask('right', item, $event)">
                                                      </label>
                                                      <div class="tasks">{{item.task}}</div>                                                     
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
  
                      </div>
  
                      <div class="col-sm-12 mrg-top25">
                          <div class="pull-right">
                              <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                              <button type="button" value="Save" class="btn-pri" name="" (click)="activitySave()">Save</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  
  </div>
  