<div class="tab-content">
   <div class="row">
      <div class="col-md-12">
         <div class="">
            <h5 class="h5-title required">Incident</h5>
               <div class="search-container pull-right">
                  <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                     <i class="fa fa-search"></i>
                     <input type="text" placeholder="Search by Incident" />
                  </div> -->
                  <button class="btn-pri pull-right m-r-30" [disabled]="isDisabled || isIncidentExists" (click)="addIncident()" data-target="#add-incident" data-toggle="modal">
                     <i class="fa fa-plus" aria-hidden="true"></i>
                     Add Incident
                  </button>
               </div>
               <div class="table-theme table-responsive m-t-30">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>Incident Type</th>
                           <th>Level of Supervision</th>
                           <th>Location</th>
                           <th>Area</th>
                           <th>Incident</th>
                           <th>Precipitating Event</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let incident of providerClassIncident; let i = index">
                           <td>{{incident?.incident_type}}</td>
                           <td>{{(incident?.incident_level_of_supervision === 1 || incident?.incident_level_of_supervision === '1') ? 'Supervised by Staff' : 'Not Supervised by Staff'}}</td>
                           <td>{{(incident?.incident_location === 1 || incident?.incident_location === '1') ? 'On-Site' : 'Off-Site' }} </td>
                           <td>{{incident?.description }}</td>
                           <td id="{{ 'incident' + i }}">{{getEventMultiple(incident?.incident_type, incident?.incident_precipitating_event,i)}}</td>
                           <td>{{getEvent(incident?.incident_type, incident?.precipitating_event)}}</td>
                           <!-- <td>{{person.other_class3}}</td>  -->
                           <td class="icon">
                              <button class="no-bg" type="button" (click)="manageIncident(incident, true)" [disabled]="isDisabled"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                              <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="manageIncident(incident, false);"  [disabled]="isDisabled"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                              <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="deleteIncident(incident,i)" [disabled]="isDisabled"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                           </td>                           
                        </tr>
                     </tbody>
                  </table>
               </div>
         </div>

         <div class="m-t-50">
            <h5 class="h5-title">Youth</h5>
            <div class="search-container pull-right">
              
               <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                  <i class="fa fa-search"></i>
                  <input type="text" [disabled]="isDisabled" placeholder="Search by Name" />
               </div> -->
               <button type="submit" [disabled]="isDisabled" (click)="getAssignedYouthList()" class="btn-pri pull-right m-l-30" data-target="#assign-youth"
                  data-toggle="modal">Assign Youth Member
               </button>
               <button class="btn-pri pull-right m-r-30" [disabled]="isDisabled" (click)="addYouthshow()" data-toggle="modal"><i
                  class="fa fa-plus" aria-hidden="true"></i> Add Youth </button>
               <!-- <div class="inner-addon right-addon pull-right search-box">
                  <i class="fa fa-search"></i>
                  <input type="text" placeholder="Search by ID" />
               </div> -->
            </div>
            <div class="table-theme table-responsive m-t-30">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Placing Agency</th>
                        <th>DOB</th>
                        <th>Identifier Number</th>
                        <th>Admitting Charge </th>
                        <th>Action</th>
                        <!-- <th>Placing Agency</th> -->
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let person of youthInformation">
                        <td>{{person.first_name}}</td>
                        <td>{{person.last_name}}</td>
                        <td>{{person.placing_agency}}</td>
                        <td>{{person.dob | date: 'MM/dd/yyyy'}}</td>
                        <td>{{person.identifier_no }}</td>
                        <td>{{person.admitting_charge}}</td>
                        <td>
                        <button class="no-bg" type="button" (click)="viewYouth(person)" [disabled]="isDisabled"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                        <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="editYouth(person)" [disabled]="isDisabled"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                        <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="deleteYouth(person)" [disabled]="isDisabled"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td>
                        <!-- <td>{{person.placing_agency}}</td> -->
                        <!-- <td class="icon">
                           <button class="no-bg" type="button" [disabled]="isDisabled"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button class="no-bg" type="button" [disabled]="isDisabled"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td> -->
                     </tr>
                  </tbody>
               </table>
            </div>
      </div>
         

         <div class=" m-t-50">
            <h5 class="h5-title">Notification Information</h5>
            <div class="search-container3 pull-right">
               <button [disabled]="isDisabled" (click)="resetNotificationForm()" class="btn-pri pull-right m-r-30" data-target="#add-contact" data-toggle="modal"><i
                     class="fa fa-plus" aria-hidden="true"></i> Add Notification Information</button>
               <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                  <i class="fa fa-search"></i>
                  <input type="text"  [disabled]="isDisabled" placeholder="Search by Name" />
               </div> -->
            </div>
            <div class="table-theme table-responsive m-t-30">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let contact of contactList'>
                        <td>{{contact.firstname}}</td>
                        <td>{{contact.lastname}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{formatPhoneNumber(contact.phonenumber)}}</td>
                        <td>
                           <button [disabled]="isDisabled" (click)="viewNotification(contact)" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="editNotification(contact)" [disabled]="isDisabled"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                           <button class="no-bg" type="button"  *ngIf="isEditable"  (click)="deleteNotification(contact)" [disabled]="isDisabled"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td>
                          <!-- <td class="icon">
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td> -->
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class=" m-t-50 ">
            <h5 class="h5-title ">Law Enforcement</h5>
            <div class="search-container3 pull-right">
               <button [disabled]="isDisabled" (click)="resetLaw()" class="btn-pri pull-right m-r-30" data-target="#add-law-enforcement" data-toggle="modal"><i
                     class="fa fa-plus" aria-hidden="true"></i> Add Law Enforcement</button>
               <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                  <i class="fa fa-search"></i>
                  <input type="text"  [disabled]="isDisabled" placeholder="Search by Name" />
               </div> -->
            </div>
            <div class="table-theme table-responsive m-t-30">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Report Number</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let item of lawEnforcementList'>
                        <td>{{item.report_number}}</td>
                        <td>{{item.date | date: 'MM/dd/yyyy'}}</td>
                        <td>{{item.time}}</td>
                        <td class="icon">
                        <button [disabled]="isDisabled"  (click)="viewLaw(item)" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                        <button [disabled]="isDisabled"  *ngIf="isEditable" (click)="editLaw(item)" class="no-bg" type="button"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                        <button [disabled]="isDisabled"  *ngIf="isEditable" (click)="deleteLaw(item)" class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td>
                        <!-- <td class="icon">
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td> -->
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class=" m-t-50">
            <h5 class="h5-title ">Staff</h5>
            <div class="search-container pull-right">
               <button type="submit" [disabled]="isDisabled" class="btn-pri pull-right m-l-30" data-target="#assign-staff"
                  data-toggle="modal">Assign Staff Member
               </button>
               <!-- <button class="btn-pri pull-right m-r-30" data-target="#add-staff" (click)="openAddStaffMembers()"
                  data-toggle="modal" [disabled]="isDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Add Staff</button> -->
               <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                  <i class="fa fa-search"></i>
                  <input type="text" [disabled]="isDisabled" placeholder="Search by Name" />
               </div> -->
            </div>
            <div class="table-theme table-responsive m-t-30">             
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Affliation Type</th>
                        <th>Job Title</th>
                        <th>Employee Type</th>
                        <th>Behavior Management Certified (Y/N)</th>
                        <th>Behavior Management Training Program</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let person of assignedStaff">
                        <td>{{person.first_nm}}</td>
                        <td>{{person.last_nm}}</td>
                        <td>{{person.affiliation_type}}</td>
                        <td>{{person.job_title}}</td>
                        <td>{{person.employee_type}}</td>
                        <td>{{person.behavioral_interventions_training}}</td>
                        <td>{{person.behavioral_interventions_training}}</td>
                        <td class="icon" style="width:7%">
                           <button [disabled]="isDisabled"  (click)="viewStaff(person)" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <!-- <button [disabled]="isDisabled"  (click)="editStaff(person)" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button> -->
                           <button [disabled]="isDisabled" *ngIf="isEditable"  (click)="deleteStaffMember(person)" class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button> 
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

         
         <div class=" m-t-50" *ngIf="!isClass3Incident">
            <h5 class="h5-title">Foster Parent</h5>
            <div class="search-container3 pull-right">
               <button [disabled]="isDisabled" class="btn-pri pull-right m-l-30" (click)="resetFoster()" data-target="#add-foster" data-toggle="modal"><i
                     class="fa fa-plus" aria-hidden="true"></i> Add Foster Parent</button>
               <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
                  <i class="fa fa-search"></i>
                  <input type="text"  [disabled]="isDisabled" placeholder="Search by Name" />
               </div> -->
            </div>
            <div class="table-theme table-responsive m-t-30">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor='let person of fosterInformation'>
                        <td>{{person.last_name}}</td>
                        <td>{{person.first_name}}</td>
                        <td>{{person.address}}</td>
                        <td>{{formatPhoneNumber(person.phone_no)}}</td>
                        <td class="icon">
                           <button [disabled]="isDisabled" (click)="viewFoster(person)" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button [disabled]="isDisabled" (click)="editFoster(person)"  *ngIf="isEditable"  class="no-bg" type="button"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></button>
                           <button [disabled]="isDisabled" (click)="deleteFoster(person)"  *ngIf="isEditable"  class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td>
                        <!-- <td class="icon">
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-eye" matTooltip="View" aria-hidden="true"></i></button>
                           <button [disabled]="isDisabled" class="no-bg" type="button"><i class="fa fa-trash" matTooltip="Delete" aria-hidden="true"></i></button>
                        </td> -->
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="add-staff" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetStaffForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Staff Person Information</h4>
         </div>
         <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="staffForm">
               <form [formGroup]="staffForm">
 
                  <ng-template matStepLabel>Personnel Section</ng-template>
                  <div class="row">
                     <div class="col-md-6">
                        <mat-form-field>
                           <input type="text" matInput formControlName="first_nm" placeholder="First Name">
                        </mat-form-field>
                        <mat-form-field>
                           <input type="text" matInput formControlName="last_nm" placeholder="Last Name">
                        </mat-form-field>
                        <mat-form-field>
                           <mat-select placeholder="Affiliation Type" formControlName="affiliation_type" required>
                              <mat-option *ngFor="let item of affiliationType" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                           <input type="text" matInput formControlName="job_title" placeholder="Job Title">
                        </mat-form-field>
                        <mat-form-field>
                           <mat-select placeholder="Employee Type"  formControlName="employee_type" (selectionChange)="isEmployeeType($event.value)"  required>
                              <mat-option *ngFor="let item of employeeType" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                           <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="start_date"> 
                           <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                           <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker> 
                        </mat-form-field>
                        <mat-form-field>
                           <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="end_date" (dateChange)="personnelEndDate()"> 
                           <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                           <mat-datepicker #picker2 ></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field *ngIf="isEndDate">
                           <mat-select placeholder="Reason For Leaving" formControlName="reason_for_leaving" required>
                              <mat-option *ngFor="let item of reasonForLeaving" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea type="text" formControlName="staff_comment" matInput placeholder="Comments" ></textarea>
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <div class="col-sm-12">
                           <label>Is Behavioral Interventions training completed? </label>
                           <mat-radio-group formControlName="behavioral_interventions_training">
                             <mat-radio-button [value]=true>Yes</mat-radio-button>
                             <mat-radio-button [value]=false>No</mat-radio-button>
                           </mat-radio-group>
                        </div>
                        <h4><br></h4>
                        <div  class="col-sm-12" *ngIf="showCertification">
                        <mat-card >
                          <mat-form-field>
                              <mat-select placeholder="RCC Certification Type" formControlName="rcc_certificate_type" required>
                                 <mat-option *ngFor="let item of rccCertificateType" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker13" placeholder="RCC Certificate Due Date" formControlName="rcc_certificate_due_date"> 
                              <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                              <mat-datepicker #picker13 ></mat-datepicker>
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker9" placeholder="RCC Application Mailed Date " formControlName="rcc_date_application_mailed"> 
                              <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                              <mat-datepicker #picker9 ></mat-datepicker>
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker10" placeholder="RCC Tested Date " formControlName="rcc_date_tested"> 
                              <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                              <mat-datepicker #picker10 ></mat-datepicker>
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker11" placeholder="RCC Certificate Effective Date" formControlName="rcc_certification_effective_date"> 
                              <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                              <mat-datepicker #picker11 ></mat-datepicker>
                           </mat-form-field>
                           <mat-form-field>
                              <input type="number" matInput formControlName="rcc_certification_number" placeholder="RCC Certification Number">
                           </mat-form-field>
                           <mat-form-field>
                              <input matInput [matDatepicker]="picker12" placeholder="RCC Certificate Renewal Date" formControlName="rcc_certification_renewal_date"> 
                              <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                              <mat-datepicker #picker12 ></mat-datepicker>
                           </mat-form-field>
                         </mat-card>
                        </div>
                     </div>      
                    


                  </div>
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <button class="btn-pri" *ngIf="!isEditStaff" mat-button matStepperNext
                              (click)="createProviderStaff()">Next</button>
                           <button class="btn-pri" *ngIf="isEditStaff" mat-button matStepperNext>Next</button>
                           <button class="btn-pri" *ngIf="isEditStaff" mat-button
                              (click)="patchProviderStaff()">Update</button>
                        </div>
                     </div>
                  </div>
               </form>
            </mat-step>
            <div class="row">
               <mat-step class="col-md-6" [stepControl]="staffForm">
                  <form [formGroup]="staffForm">
                     <ng-template matStepLabel>Clearance Info</ng-template>
                     <div class="row">
                        <div class="col-md-6">
                           <mat-card>
                              <h3>CPS Clearance</h3>
                              <div class="row">
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker3" placeholder="Request Date"
                                          formControlName="cps_clearance_request_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                       <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker4" placeholder="Response Date"
                                          formControlName="cps_clearance_result_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                       <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                              </div>
                              <label>RCC: Clearance is compliant as outlined in COMAR 14.31.06.05? </label>
                              <mat-radio-group formControlName="cps_rcc_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                              <label>CPA: Clearance is compliant as outlined in COMAR 07.05.01.09? </label>
                              <mat-radio-group formControlName="cps_cpa_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                           </mat-card>
                           <mat-card>
                              <h3>Federal Clearance</h3>
                              <div class="row">
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker5" placeholder="Request Date"
                                          formControlName="federal_clearance_request_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                       <mat-datepicker #picker5></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker6" placeholder="Response Date"
                                          formControlName="federal_clearance_result_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                       <mat-datepicker #picker6></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                              </div>
                              <label>RCC: Clearance is compliant as outlined in COMAR 14.31.06.05? </label>
                              <mat-radio-group formControlName="federal_rcc_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                              <label>CPA: Clearance is compliant as outlined in COMAR 07.05.01.09? </label>
                              <mat-radio-group formControlName="federal_cpa_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                           </mat-card>
                        </div>
                        <div class="col-md-6">
                           <mat-card>
                              <h3>State Clearance</h3>
                              <div class="row">
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker7" placeholder="Request Date"
                                          formControlName="state_clearance_request_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                       <mat-datepicker #picker7></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                                 <div class="col-md-6">
                                    <mat-form-field>
                                       <input matInput [matDatepicker]="picker8" placeholder="Response Date"
                                          formControlName="state_clearance_result_date">
                                       <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                       <mat-datepicker #picker8></mat-datepicker>
                                    </mat-form-field>
                                 </div>
                              </div>
                              <label>RCC: Clearance is compliant as outlined in COMAR 14.31.06.05? </label>
                              <mat-radio-group formControlName="state_rcc_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                              <label>CPA: Clearance is compliant as outlined in COMAR 07.05.01.09? </label>
                              <mat-radio-group formControlName="state_cpa_compliant">
                                 <mat-radio-button value="true">Yes</mat-radio-button>
                                 <mat-radio-button value="false">No</mat-radio-button>
                              </mat-radio-group>
                           </mat-card>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 m-t-10">
                           <div class="pull-right">
                              <button *ngIf="isEditStaff" class="btn-pri" mat-button matStepperPrevious>Back</button>
                              <button *ngIf="!isEditStaff" class="btn-pri" (click)="patchProviderStaff()" mat-button
                                 (click)="stepper.reset()">SAVE</button>
                              <button *ngIf="isEditStaff" class="btn-pri" (click)="patchProviderStaff()"
                                 (click)="stepper.reset()">Update</button>
                           </div>
                        </div>
                     </div>
                  </form>
               </mat-step>
            </div>
            <!-- <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
              </mat-step> -->
         </mat-horizontal-stepper>

      </div>
   </div>
</div>

<div class="modal fade in" id="assign-staff" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetStaffForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Assign Staff</h4>
         </div>
         <div class="modal-body ">
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
               <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                     <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                     </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                     <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                     </mat-checkbox>
                  </mat-cell>
               </ng-container>
               <!-- Position Column -->
               <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.first_nm}} </mat-cell>
               </ng-container>
               <!-- Name Column -->
               <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.last_nm}} </mat-cell>
               </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="affiliationType">
                  <mat-header-cell *matHeaderCellDef> Affiliated Type </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.affiliation_type}} </mat-cell>
               </ng-container>
               <!-- Symbol Column -->
               <ng-container matColumnDef="jobTitle">
                  <mat-header-cell *matHeaderCellDef> Job Title </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.job_title}} </mat-cell>
               </ng-container>
               <ng-container matColumnDef="employeeType">
                  <mat-header-cell *matHeaderCellDef> Employee Type </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.employee_type}} </mat-cell>
               </ng-container>
               <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
               </mat-row>
            </mat-table>
            <div class="row">
               <div class="col-md-12 m-t-10">
                  <div class="pull-right">
                     <button class="btn-pri" (click)="assignStaff()">Assign Staff</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade in" id="delet-staff" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">{{titleText}} Staff</h4>
         </div>
         <div class="modal-body ">

            <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                  <p>Are you sure want to delete staff</p>
                  <button class="btn-primary" (click)="confirmDelete()">Delete</button>
                  <button class="btn-danger" (click)="closeDeleteModal()">Cancel</button>
               </div>
               <div class="col-md-3"></div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="add-incident" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="incident">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetIncidentForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Incident Information</h4>
         </div>
         <div class="content-container">
            <form [formGroup]="incidentForm">
               <div class="row">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-6">                          
                           <common-date-picker [max]="maxDate" [disabled]="isDisabled" [required]='true' formControlName="incident_date"
                           placeholder="Incident Date"></common-date-picker>
                        </div>            
                        <div class="col-md-6">
                           <mat-form-field>
                              <input matInput formControlName="incident_time" placeholder="Incident Time" type="time" required>
                           </mat-form-field>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-6">
                           <common-date-picker [max]="maxDate" [disabled]="isDisabled" formControlName="discovered_date"
                                 placeholder="Discovered Date"></common-date-picker>
                        </div>
                        <div class="col-md-6">
                           <mat-form-field>
                              <input type="time" formControlName="discovered_time" matInput
                                 placeholder="Discovered Time">
                           </mat-form-field>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <mat-form-field>
                        <!-- <input type="text" matInput formControlName="incident_type" placeholder="Type"> -->
                        <mat-select placeholder="Incident Type" formControlName="incident_type" (change)="getClassIncidentByType($event.value)" required>
                           <mat-option *ngFor="let item of classType" value="{{item}}">
                              {{item}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-md-12"> 
                     <!--<mat-form-field>
                        <mat-select placeholder="Incident" formControlName="incident_precipitating_event" 
                         required [multiple]="isClass3Incident ? false : true" > 
                         <!- (change)="changeClass3Event($event.value)" -->
                           <!--<mat-option *ngFor="let item of classIncidents" [value]="item.ref_key" (onSelectionChange)="onChange($event)">
                              {{item.description}}</mat-option>
                        </mat-select>
                     </mat-form-field>  -->

                     <mat-form-field>
                        <mat-select placeholder="Incident" formControlName="incident_precipitating_event" 
                         required multiple > <!-- (change)="changeClass3Event($event.value)" -->
                           <mat-option *ngFor="let item of classIncidents" [value]="item.ref_key" (onSelectionChange)="onChange($event)">
                              {{item.description}}</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <!--<div class="col-md-12" *ngIf='!isClass3Incident'>-->
                     <div class="col-md-12">
                     <label class="ds-bl m-b-5 m-t-30">Precipitating Event : </label>
                     {{(precipitate) ? getEvent(incidentForm.get('incident_type').value,incidentForm.get('precipitating_event').value):''}}
                  </div>
                  <div class="col-md-12" *ngIf='class3Other'>
                     <mat-form-field>
                        <input matInput placeholder="Class3 Other" formControlName='other_class3'>
                     </mat-form-field>
                  </div>                 
                  <div class="col-md-12 m-t-20">
                     <h5>Level of Supervision<span class="required"></span></h5>
                     <mat-radio-group formControlName="incident_level_of_supervision" required>
                        <mat-radio-button value="1">Supervised by Staff</mat-radio-button>
                        <mat-radio-button value="2">Not Supervised by Staff</mat-radio-button>
                     </mat-radio-group>
                  </div> 
                  <div class="col-md-12 m-t-20">
                     <h5>Location of the Incident<span class="required"></span></h5>                   
                     <mat-radio-group formControlName="incident_location" (change)="onChangeLocationType($event)" required>
                        <mat-radio-button value="1">On-Site</mat-radio-button>
                        <mat-radio-button value="2">Off-Site</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <div class="col-md-12"> 
                     <mat-form-field>
                        <mat-select placeholder="Area" formControlName="incident_area">
                              <mat-option *ngFor="let item of locationSource" [value]="item.ref_key">
                                 {{item.description}}</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>                  
                  <div class="row">
                     <div class="col-md-12 m-t-10" [hidden]="isViewIncident">
                        <div class="pull-right">
                           <!--<button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">{{ isUpdate ? 'Update ' :'Add '}} Incident</button>-->
                           <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="selectPrecipitaeEvent()">{{ isUpdate ? 'Update ' :'Add '}} Incident</button>
                        </div>
                     </div>
                     <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="delete-incident" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md " role="incident">
         <div class="modal-content ">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetIncidentForm()">
                  <span aria-hidden="true">X</span>
               </button>
               <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="content-container">
              
                  <div class="row">
                     <div class="row">
                        <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                     </div>            
                     <div class="row">
                        <div class="col-md-12 m-t-10" >
                           <div class="pull-right">
                              <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                              <button class="btn-pri"  (click)="confirmDeleteIncidentForm()">Ok</button>
                           </div>
                        </div>
                        <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                     </div>
                  </div>

            </div>
         </div>
      </div>
</div>
<div class="modal fade in" id="delete-staff" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-md " role="incident">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetIncidentForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Confirm Delete</h4>
         </div>
         <div class="content-container">
           
               <div class="row">
                  <div class="row">
                     <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                  </div>            
                  <div class="row">
                     <div class="col-md-12 m-t-10" >
                        <div class="pull-right">
                           <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                           <button class="btn-pri"  (click)="confirmDeleteStaffMember()">Ok</button>
                        </div>
                     </div>
                     <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                  </div>
               </div>

         </div>
      </div>
   </div>
</div>
<div class="modal fade in" id="delete-youth" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md " role="incident">
         <div class="modal-content ">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true">X</span>
               </button>
               <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="content-container">
              
                  <div class="row">
                     <div class="row">
                        <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                     </div>            
                     <div class="row">
                        <div class="col-md-12 m-t-10" >
                           <div class="pull-right">
                              <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                              <button class="btn-pri"  (click)="confirmDeleteYouth()">Ok</button>
                           </div>
                        </div>
                        <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                     </div>
                  </div>

            </div>
         </div>
      </div>
</div>
<div class="modal fade in" id="delete-contact" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md " role="incident">
         <div class="modal-content ">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true">X</span>
               </button>
               <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="content-container">
              
                  <div class="row">
                     <div class="row">
                        <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                     </div>            
                     <div class="row">
                        <div class="col-md-12 m-t-10" >
                           <div class="pull-right">
                              <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                              <button class="btn-pri"  (click)="confirmDeleteNotification()">Ok</button>
                           </div>
                        </div>
                        <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                     </div>
                  </div>

            </div>
         </div>
      </div>
</div>
<div class="modal fade in" id="delete-foster" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md " role="incident">
         <div class="modal-content ">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true">X</span>
               </button>
               <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="content-container">
              
                  <div class="row">
                     <div class="row">
                        <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                     </div>            
                     <div class="row">
                        <div class="col-md-12 m-t-10" >
                           <div class="pull-right">
                              <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                              <button class="btn-pri"  (click)="confirmDeleteFoster()">Ok</button>
                           </div>
                        </div>
                        <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                     </div>
                  </div>

            </div>
         </div>
      </div>
</div>
<div class="modal fade in" id="delete-law" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-md " role="incident">
         <div class="modal-content ">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true">X</span>
               </button>
               <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="content-container">
              
                  <div class="row">
                     <div class="row">
                        <div class="col-md-12 m-t-10" > Are you sure you want to delete?  </div>
                     </div>            
                     <div class="row">
                        <div class="col-md-12 m-t-10" >
                           <div class="pull-right">
                              <button class="btn-pri"  data-dismiss="modal">Cancel</button>
                              <button class="btn-pri"  (click)="confirmDeleteLaw()">Ok</button>
                           </div>
                        </div>
                        <!-- <button class="btn-pri" [disabled]="incidentForm.invalid" (click)="(isClass3Incident) ? patchIncidentForm() : selectPrecipitaeEvent()">Update Incident</button> -->
                     </div>
                  </div>

            </div>
         </div>
      </div>
</div>
<div class="modal fade in" id="precipitate-event" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title required">Select Precipitating Event</h4>
            </div>
            <div class="modal-body ">

                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let item of classMerge; let i = index">
                            <mat-radio-button class="example-margin" (change)="onChangePrecipitate(item)">
                                {{item.description}} </mat-radio-button>
                        </div>

                        <div class="col-md-12 text-center mt-20 mb-10">
                            <button class="btn btn-primary" (click)="patchIncidentForm()">Save</button>
                            <button class="btn btn-danger" (click)="closeDeleteModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="add-youth" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="youth">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetYouthForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Youth Information</h4>
         </div>
         <div class="content-container">
            <form [formGroup]="youthForm">
               <div class="row">
                  <div class="col-md-6">
                     <mat-form-field>
                        <input type="text" matInput formControlName="first_name" placeholder="First Name">
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" matInput formControlName="last_name" placeholder="Last Name">
                     </mat-form-field>
                     <common-date-picker [max]="maxDate" [required]='true' formControlName="dob"
                        placeholder="Date of birth"></common-date-picker>
                     <mat-form-field>
                           <input type="text" matInput formControlName="identifier_no" placeholder="Identifier number">
                     </mat-form-field>
                     <mat-form-field>
                           <input type="number" [min]="0" matInput formControlName="admitting_charge" placeholder="Admitting Charge">
                     </mat-form-field>
                     <mat-form-field>
                         <mat-select placeholder="Placing Agency" formControlName="placing_agency" required>
                             <mat-option value="DJS">DJS</mat-option>
                             <mat-option value="DHS">DHS</mat-option>
                         </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-md-6">
                        <mat-form-field>
                              <input formControlName="address1" type="text" matInput placeholder="Address Line 1"
                                  [matAutocomplete]="auto" (input)="getSuggestedAddress()" />
                              <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                                      value="{{item.text}}">
                                      {{item.text}}
                                  </mat-option>
                              </mat-autocomplete>
                          </mat-form-field>
                          <mat-form-field> <input formControlName="address2" type="text" matInput
                              placeholder="Address Line 2" />
                          </mat-form-field>
                          <mat-form-field>
                              <mat-select placeholder="State" formControlName="stateid">
                                  <mat-option *ngFor="let item of stateList$ | async"
                                      value="{{item.ref_key}}">
                                      {{ item.description }}</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field> <input formControlName="city" type="text" matInput placeholder="City"/>
                          </mat-form-field>
                          <mat-form-field>
                              <mat-select formControlName="county" placeholder="County">
                                  <mat-option *ngFor="let item of countyList$ | async"
                                      value="{{item.picklist_value_cd}}">
                                      {{item.description_tx}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text" mask="00000" matInput placeholder="Zip Code" formControlName="zipcode" zipcodeOnly
                                  maxlength="5" minlength="5" />
                          </mat-form-field>
                     <!-- <mat-form-field>
                        <textarea matInput formControlName="address" placeholder="Address"></textarea>
                     </mat-form-field> -->
                     <!-- <mat-form-field>
                        <textarea matInput type="text" formControlName="phone_no" matInput placeholder="Phone Number"
                           (blur)="phoneValidation($event)" minlength=10 maxlength=10></textarea>
                     </mat-form-field> -->
                     <!-- <mat-radio-group formControlName="gender" placeholder="Gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="femate">Female</mat-radio-button>
                     </mat-radio-group> -->
                     <!-- <common-date-picker [max]="maxDate" [required]='true' formControlName="dob"
                        placeholder="Date of birth"></common-date-picker> -->
                     <!-- <mat-form-field>
                        <input type="text" matInput formControlName="youth_identifier" placeholder="Youth Agency">
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" matInput formControlName="placing_agency" placeholder="Placing Agency">
                     </mat-form-field> -->

                  </div>
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <!-- <button class="btn-pri" *ngIf="isSearch" [disabled]="youthForm.invalid" (click)="searchPerson()">Search</button> -->
                           <button class="btn-pri" [disabled]="youthForm.invalid" (click)="patchYouthForm()">{{ isUpdate ? 'Update ' : 'Add ' }} Youth</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="youth-search" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="youth">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Search Result</h4>
         </div>
         <div class="content-container">
               <div class="col-sm-12 pt-20">
                     <!-- <button class="no-bg pull-left" type="submit" (click)="clearSearchFilter()"><i class="fa fa-refresh"
                             aria-hidden="true"></i> Reset</button> -->
                     <div class="text-right">
                         <div *ngIf="totalRecords > 10">
                             <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                 (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                                 [itemsPerPage]="paginationInfo.pageSize"></pagination>
                         </div>
                     </div>
                 </div>
            <div class="col-sm-12" *ngIf="personSearchResult; let involvedPersonSearchResponses">
               <div id="Search-res" class="outer pt-10 table-height">
                  <div class="table-responsive mb-20">
                     <table class="table customTable firsttable" *ngIf="involvedPersonSearchResponses.length > 0"
                           sortable-table (sorted)="onSortedPerson($event)">
                           <thead>
                              <tr>
                                 <th></th>
                                 <th sortable-column="firstname">first name</th>
                                 <th sortable-column="middlename">Middle Name</th>
                                 <th sortable-column="lastname">last name</th>
                                 <th sortable-column="dob">dob</th>
                                 <th sortable-column="gender">gen</th>
                                 <th sortable-column="address" style="width: 275px;">address </th>
                              </tr>
                           </thead>
                           <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;"
                              [ngClass]="{'highlight' : row.exactmatch}">
                              <tr>
                                 <td>
                                       <label class="control control--radio">
                                          <input type="radio" name="selectedPerson" (click)="selectPerson(row)"
                                             class="ng-dirty ng-valid ng-touched">
                                          <div class="control__indicator"></div>
                                       </label>
                                 </td>
                                 <td>{{row?.firstname}}</td>
                                 <td>{{row?.middlename}}</td>
                                 <td>{{row?.lastname}}</td>
                                 <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
                                 <td>{{row?.gendertypekey}}</td>
                                 <td>{{row?.primaryaddress?.split('~')[0]}}
                                       <span *ngIf="row?.primaryaddress?.split('~')[1]"> ,</span>
                                       {{row?.primaryaddress?.split('~')[1]}}
                                       <span *ngIf="row?.primaryaddress?.split('~')[2]"> ,</span>
                                       {{row?.primaryaddress?.split('~')[2]}}
                                       <span *ngIf="row?.primaryaddress?.split('~')[5]"> ,</span>
                                       {{row?.primaryaddress?.split('~')[5]}}
                                       <span *ngIf="row?.primaryaddress?.split('~')[3]"> ,</span>
                                       {{row?.primaryaddress?.split('~')[3]}}</td>
                              </tr>
                           </tbody>
                        </table>
                     <div class="" *ngIf="involvedPersonSearchResponses.length === 0">
                           <p>No results match your search criteria. Please search with another criteria or continue to add a new person.
                           </p>
                           <button type="button" class="btn-pri" (click)="addNewYouth()">Add New</button>
                     </div>
                  </div>
               </div>
               <div class="row">
                     <div class="col-sm-12">
                        <div class="pull-left">
                           <a class="btn btn-sec" (click)="goBack()">Back to Search</a>
                        </div>
                        <div class="text-right" *ngIf="involvedPersonSearchResponses.length > 0 ">
                           <button type="button" class="btn-pri" [disabled]="selectedPerson" (click)="addNewYouth()">Add New</button>
               
                           <button type="button" class="btn-pri" (click)="editSelectedPerson()">Select Person</button>
                        </div>
               
                     </div>
               </div>
            </div>
         </div>
         <!-- <div class="modal-footer">
               
               <div class="row">
                     <div class="col-sm-12">
                        <div class="pull-left">
                           <a class="btn btn-sec" (click)="goBack()">Back to Search</a>
                        </div>
                        <div class="text-right" *ngIf="involvedPersonSearchResponses.length > 0 ">
                           <button type="button" class="btn-pri" [disabled]="selectedPerson" (click)="addNewYouth()">Add New</button>
               
                           <button type="button" class="btn-pri" (click)="editSelectedPerson()">Select Person</button>
                        </div>
               
                     </div>
               </div>
         </div> -->
      </div>
   </div>
</div>
     

<div class="modal fade in" id="add-foster" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="foster">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetFosterForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Foster Person Information</h4>
         </div>
         <div class="content-container">
            <form [formGroup]="fosterForm">
               <div class="row">
                  <div class="col-md-12">
                     <mat-form-field>
                        <input type="text" required matInput formControlName="first_name" placeholder="First Name">
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" matInput formControlName="last_name" placeholder="Last Name">
                     </mat-form-field>
                     <mat-form-field>
                           <textarea matInput formControlName="address" placeholder="Address"></textarea>
                        </mat-form-field>
                     <mat-form-field>
                        <input matInput type="text" formControlName="phone_no" matInput placeholder="Phone Number"
                        mask="(000) 000-0000"/>
                     </mat-form-field>
                     <!-- <mat-form-field>
                           <input formControlName="address" type="text" matInput placeholder="Address Line 1"
                                 [matAutocomplete]="auto" (input)="getFosterSuggestedAddress()" />
                           <mat-autocomplete #auto="matAutocomplete">
                                 <mat-option *ngFor="let item of suggestedFosterAddress$" (click)="selectedFosterAddress(item)"
                                    value="{{item.text}}">
                                    {{item.text}}
                                 </mat-option>
                           </mat-autocomplete>
                     </mat-form-field>
                     <mat-form-field> <input formControlName="address2" type="text" matInput
                        placeholder="Address Line 2" />
                     </mat-form-field> -->
                  </div>
                  <!-- <div class="col-md-6">
                     <mat-form-field>
                        <mat-select placeholder="State" formControlName="stateid">
                              <mat-option *ngFor="let item of stateList$ | async"
                                 value="{{item.ref_key}}">
                                 {{ item.description }}</mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field> <input formControlName="city" type="text" matInput placeholder="City"/>
                     </mat-form-field>
                     <mat-form-field>
                        <mat-select formControlName="county" placeholder="County">
                              <mat-option *ngFor="let item of countyList$ | async"
                                 value="{{item.picklist_value_cd}}">
                                 {{item.description_tx}}</mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" mask="00000" matInput placeholder="Zip Code" formControlName="zip" zipcodeOnly
                              maxlength="5" minlength="5" />
                     </mat-form-field>
                  </div> -->
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <button class="btn-pri" [disabled]="fosterForm.invalid" (click)="patchFosterForm()">{{ isUpdate ? 'Update ' : 'Add '}} Foster</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="add-contact" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="foster">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetContactForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Add Notification Information</h4>
         </div>
         <div class="content-container">
            <form [formGroup]="contactForm">
               <div class="row">
                  <div class="col-md-12">
                     <mat-form-field>
                        <input type="text" matInput formControlName="first_name" placeholder="First Name" required>
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" matInput formControlName="last_name" placeholder="Last Name" required>
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" matInput formControlName="email" placeholder="Email" required>
                     </mat-form-field>
                     {{contactForm.get('email').errors?.invalidEmailAddress?.message}}
                     <mat-form-field>
                        <input matInput type="text" formControlName="phone_no" matInput placeholder="Phone Number"
                        mask="(000) 000-0000" required/>
                     </mat-form-field>
                  </div>
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <button class="btn-pri" [disabled]="!contactForm.valid" (click)="patchContactForm()">{{ isUpdate ? 'Update ' :'Add '}} Notification Information</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="add-law-enforcement" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="law-enforcement">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetLawEnforcementForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Add Law Enforcement</h4>
         </div>
         <div class="content-container">
            <form [formGroup]="lawEnforcementForm">
               <div class="row">
                  <div class="col-md-12">
                     <mat-form-field>
                        <input type="text" matInput formControlName="report_number" placeholder="Report Number">
                     </mat-form-field>
                     <common-date-picker [max]="maxDate" [required]='true' formControlName="date"
                        placeholder="Date"></common-date-picker>
                     <mat-form-field>
                        <input type="time" required matInput placeholder="Time" formControlName="time">
                     </mat-form-field>
                     <h5>Contact</h5>
                     <mat-form-field>
                        <input type="text" required matInput placeholder="First Name" formControlName="contact_first_name">
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" required matInput placeholder="Last Name" formControlName="contact_last_name">
                     </mat-form-field>
                     <mat-form-field>
                        <input type="text" required matInput placeholder="Phone" mask="(000) 000-0000" formControlName="phone_no">
                     </mat-form-field>
                  </div>
                  <div class="row">
                     <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                           <button class="btn-pri" [disabled]="!lawEnforcementForm.valid" (click)="patchLawEnforcementForm()">{{ isUpdate  ? 'Update ' : 'Add '}} Law Enforcement</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="modal fade in" id="assign-youth" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetYouthForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Assign Youth</h4>
         </div>
         <div class="modal-body ">
            <mat-table #table [dataSource]="youthDataSource" class="mat-elevation-z8">
               <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                     <mat-checkbox (change)="$event ? masterToggleYouth() : null"
                        [checked]="youthSelection.hasValue() && isAllYouthSelected()"
                        [indeterminate]="youthSelection.hasValue() && !isAllYouthSelected()">
                     </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                     <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? youthSelection.toggle(row) : null"
                        [checked]="youthSelection.isSelected(row)">
                     </mat-checkbox>
                  </mat-cell>
               </ng-container>
               <!-- Position Column -->
               <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
               </ng-container>
               <!-- Name Column -->
               <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
               </ng-container>
               <ng-container matColumnDef="placing_agency">
                  <mat-header-cell *matHeaderCellDef> Placing Agency </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.placing_agency}} </mat-cell>
               </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="dob">
                  <mat-header-cell *matHeaderCellDef> Dob </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.dob | date : 'MM/dd/yyyy'}} </mat-cell>
               </ng-container>
               <ng-container matColumnDef="county">
                  <mat-header-cell *matHeaderCellDef> County </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.county}} </mat-cell>
               </ng-container>
               
               <!-- Symbol Column -->
               <ng-container matColumnDef="identifierNo">
                  <mat-header-cell *matHeaderCellDef> Identifier number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.client_id}} </mat-cell>
               </ng-container>
               <ng-container matColumnDef="admittingCharge">
                  <mat-header-cell *matHeaderCellDef> Admitting Charge </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.admitting_charge}} </mat-cell>
               </ng-container>
               <mat-header-row *matHeaderRowDef="displayedYouthColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: displayedYouthColumns;" (click)="youthSelection.toggle(row)">
               </mat-row>
            </mat-table>
         </div>
         <div class="modal-footer">
            <div class="row">
               <div class="col-md-12 m-t-10">
                  <div class="pull-right">
                     <button class="btn-pri" [disabled]="youthSelection.selected.length == 0" (click)="assignYouth()">Assign Youth</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>