h4 {
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
}

.h5-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
    display: inline-block;
}

.search-container {
    width: 600px;
}

.search-container2 {
    width: 380px;
}

.search-container2 .search-box {
    width: 55%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.search-container3 {
    width: 447px;
}

.search-container3 .search-box {
    width: 46%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.search-container .search-box {
    width: 35%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.inner-addon {
    position: relative;
}

.inner-addon i {
    position: absolute;
    padding: 10px;
}

.right-addon i {
    right: 0px;
    top: 0px;
    cursor: pointer !important;
}

.search-box input {
    border: none;
    width: 86%;
    outline: none;
}

.radio-dsinline mat-radio-group {
    display: inline-block;
}

.ds-bl, .ds-bl mat-checkbox {
    display: block;
}

.radiobtn-pr mat-radio-group mat-radio-button {
    margin-right: 70px;
}

.radiobtn-pr-level mat-radio-group mat-radio-button {
    margin-right: 46px;
}

.radiobtn-pr mat-radio-group mat-radio-button:last-child,
.radiobtn-pr-level mat-radio-group mat-radio-button:last-child {
    margin: 0px;
}

.radio-btn-3col mat-radio-group mat-radio-button,
.radio-btn-3col mat-form-field {
    width: 33%;
    display: inline-block;
}

.sign {
    text-align: center;
}

.sign-div {
    height: 50px;
    border-bottom: 1px solid #24292e;
}
.icon i {
    color: #00A2FD;
    padding-right: 10px;
    cursor: pointer;
    font-size: 13px;
}

.icon i:last-child {
    padding: 0px;
    font-size: 16px;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}
