<div class="">
    <div class="row find-place">
        <div class="col-sm-1 no-pad-r">
            <label class="lbl-title">Select Child</label>
        </div>
        <div class="col-sm-2" style="margin-top: -15px;">
            <mat-form-field>
                <mat-select placeholder="Child Name" (change)="pesonDateOfBirth($event)">
                    <mat-option *ngFor="let person of involevedPerson$ | async" [value]="person">{{ person.firstname +
                        ' ' + person.lastname }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <label class="lbl-title">Date of Birth -
                <span class="lbl-lite">
                </span>
            </label>
        </div>
        <div class="col-sm-2">
            <button class="btn-pri" data-target="#addReferal" data-toggle="modal" type="button" (click)="resetSearch()"
                [disabled]="!isAddPlacement">Add
                Referral</button>
        </div>
        <div class="col-sm-2 p-t-10">
            <span><a href="">View History</a> (optional)</span>
        </div>
    </div>
    <div class="table-responsive table-theme">
        <table class="table table-striped thead-black placement-info palcement-tb">
            <thead>
                <tr>
                    <th>Child Name</th>
                    <th>Date of Birth</th>
                    <th>Placement Type</th>
                    <th>Placed Date &amp; Time</th>
                    <th>End Date &amp; Time</th>
                    <th>Provider Information</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p></p>
                    </td>
                    <td class="foster-icon">
                        <span data-target="" data-toggle="modal" type="button"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <span data-target="" data-toggle="modal" type="button"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <span data-target="#addPlacement" data-toggle="modal" type="button"><i class="fa fa-plus"
                                aria-hidden="true"></i></span>
                        <span data-target="#exit" data-toggle="modal" type="button"><i class="fa fa-sign-out"
                                aria-hidden="true"></i></span>
                        <span data-target="#validation" data-toggle="modal" type="button"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                        <!-- <button class="btn-pri" type="button" data-target="" data-toggle="modal" type="button">Approve</button>
                        <button class="btn-pri" type="button" data-target="#addPlacement" data-toggle="modal" type="button">Add Placement</button>
                        <button class="btn-pri" type="button" data-target="#exit" data-toggle="modal" type="button">Exit</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-10">
            <!-- <pagination class="pagination-sm"></pagination> -->
        </div>
    </div>

    <div class="modal fade in" id="addReferal" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Search Result</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="textb"><b class="">Name : </b> </p>
                            <p class="textb"><b class="">Age : </b></p>
                            <p class="textb"><b class="">Gender :</b></p>
                        </div>
                        <div class="col-md-12">
                            <ul class="nav nav-tab mrg-btm25 cus-tab-section">
                                <li class="active">
                                    <a id="fc_search" data-toggle="tab" href="#search"> <span class="circle fa fa-pencil"></span>
                                        <span class="tab-txt">Search </span> </a>
                                </li>
                                <li>
                                    <a id="fc_list" data-toggle="tab" href="#search-list"> <span class="circle fa fa-pencil"></span>
                                        <span class="tab-txt">List </span> </a>
                                </li>
                                <li>
                                    <a id="fc_referal" data-toggle="tab" href="#search-referel"> <span class="circle fa fa-pencil"></span>
                                        <span class="tab-txt">Referral </span> </a>
                                </li>
                            </ul>
                        </div>
                            <div id="search" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    <div class="" [formGroup]="providerSearchForm">
                                        <h5 class="textb text-uppercase m-l-15">Search The Provider</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="">Age</mat-checkbox>
                                                </h5>
                                                <div class="col-md-6">
                                                    <p>Youngest : </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Oldest : </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="">Gender</mat-checkbox>
                                                </h5>
                                                <p>Gender : </p>
                                            </div>
                                            <div class="col-md-3">
                                                <h5 class="textb text-uppercase heading-bg">
                                                    <mat-checkbox class="">Zipcode</mat-checkbox>
                                                </h5>
                                                <mat-form-field>
                                                    <input matInput placeholder="Zip Code" value="">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="textb text-uppercase heading-bg width">
                                                    <mat-checkbox class="">Local Department Home Care Giver</mat-checkbox>
                                                </h5>

                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <input matInput placeholder="First Name" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Middle Name" value="">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Last Name" value="">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Child Characteristics" formControlName="childCharacteristicsid">
                                                            <mat-option *ngFor="let item of childCharacteristics" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Other Local Department"
                                                            formControlName="otherLocalDeptmntTypeId">
                                                            <mat-option *ngFor="let item of otherLocalDeptmntType"
                                                                value="{{item.service_id}}">{{item.description_tx}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Placement Structure" formControlName="placementStrTypeId">
                                                            <mat-option *ngFor="let item of placementStrType" value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-select placeholder="Bundled Placement Structure"
                                                            formControlName="bundledPlcmntServicesTypeId">
                                                            <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                                                value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-theme btn-pri m-l-30" (click)="getFcProviderSearch()">SEARCH</button>
                                    <button class="btn btn-theme btn-pri m-l-30">Cancel</button>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="search-list">
                                <div class="col-md-12">
                                    <div class="table-responsive height-table table-theme">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Provider ID</th>
                                                    <th>Provider Name</th>
                                                    <th>Program Name</th>
                                                    <th>Preferred</th>
                                                    <th>Vacancy</th>
                                                    <th>Placement Structure</th>
                                                    <th>Provider category</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of fcProviderSearch">
                                                    <td>
                                                        <!-- <mat-radio-group>
                                                            <mat-radio-button value="1" (change)="selectedProv(item)"></mat-radio-button>
                                                        </mat-radio-group> -->
                                                        <input type="radio" name="provider" (change)="selectedProv(item)">
                                                    </td>
                                                    <!-- <td>
                                                                <button class="btn-pri"  type="button">
                                                                        Search Result</button>
                                                        </td> -->
                                                    <td><a data-target="#searchResult" data-toggle="modal">{{item.provider_id}}</a></td>
                                                    <td>{{item.providername}}</td>
                                                    <td>{{item.programname}}</td>
                                                    <td>{{item.preferred}}</td>
                                                    <td>{{item.vacancy}}</td>
                                                    <td>{{item.placementstructure}}</td>
                                                    <td>{{item.provider_category_name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button class="btn btn-theme btn-pri m-l-30" (click)="goToReferal()">Next</button>
                            </div>

                            <div class="tab-pane fade" id="search-referel">
                                <div [formGroup]="referalForm">
                                    <div class="row m-l-5">
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">Placement Referrel Details</h5>
                                            <p><b>Provider ID </b> : {{selectedProvider?.provider_id}} </p>
                                            <p><b>Program Name</b> : {{selectedProvider?.providername}}</p>
                                            <p><b>Address</b> : {{selectedProvider?.add}}</p>
                                            <p><b>Phone Number</b> : {{selectedProvider?.number}}</p>
                                            <p><b>Contact </b> : {{selectedProvider?.cont}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">Information Sent to Provider</h5>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker1" placeholder="Date Sent" formControlName="sentDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field class="">
                                                <textarea matInput placeholder="Description" formControlName="description"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row ref-address">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">Response</h5>
                                                <mat-form-field>
                                                    <mat-select placeholder="Response Accepted" formControlName="responseAccepted">
                                                        <mat-option *ngFor="let item of ResponseAcceptedList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-select placeholder="Reason for Decline" formControlName="responseRejected">
                                                        <mat-option *ngFor="let item of ResponseRejectedList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-select placeholder="Placement Structure" formControlName="placementStructure"
                                                        (change)="placementStructureSelect($event)">
                                                        <mat-option *ngFor="let item of placementStrType" value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-select placeholder="COMAR Rate Category" formControlName="comarRate">
                                                        <mat-option *ngFor="let item of placementStrType" value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">Placement Entry </h5>
                                                <p class=""><b>Begin Date </b> : </p>
                                                <p><b>Begin Time </b> : </p>
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [matDatepicker]="exitdate" id="exitdate"
                                                            placeholder="End Date" class="required" formControlName="begindate">
                                                        <mat-datepicker-toggle matSuffix [for]="exitdate"></mat-datepicker-toggle>
                                                        <mat-datepicker #exitdate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-sm-6">
                                                    <mat-form-field>
                                                        <input matInput [options]="{format: 'h:mm a'}"
                                                            a2e-datetimepicker placeholder="End  Time" required
                                                            formControlName="begintime">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-theme btn-pri m-l-30" (click)="saveReferal()">SAVE</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchResult" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" (click)="searchClearPlacement()" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Search Result</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>MD CHESSIE Provider ID : </p>
                                <p>Provider NAme : </p>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Provider Category" readonly></textarea>
                                </mat-form-field>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Child Characteristics" readonly></textarea>
                                </mat-form-field>
                                <p>Phone Number : </p>
                                <mat-checkbox>Provider under Corrective Action Plan</mat-checkbox>
                                <p>Directions : </p>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Level of Intensity" readonly></textarea>
                                </mat-form-field>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Bundled Placement Services" readonly></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <p>Tax ID / SSN :</p>
                                <p>Program Name : </p>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Address" readonly></textarea>
                                </mat-form-field>
                                <p>Primary Worker / Licensing Co-ordinator : </p>
                                <p>Local Department : </p>
                                <p>Extn : </p>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Placement Structure" readonly></textarea>
                                </mat-form-field>
                                <mat-form-field class="">
                                    <textarea matInput placeholder="Licensed / Approved Ages and Genders" readonly></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPlacement">
        <div class="modal-dialog modal-lg">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Select Placement</h4>
                </div>
                <div class="modal-body dd-overflow-inherit placement-body">
                    <ul class="nav nav-tabs tabs-left m-t-20 m-b-20">
                        <li class="active"><a href="#1" data-toggle="tab">Entry</a></li>
                        <li><a href="#2" data-toggle="tab">CPA Homes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Details</h5>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input matInput placeholder="Provider ID">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Local Department">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="School District">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Address"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input matInput placeholder="Provider Name">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Phone Number" mask="(000) 000-0000">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Directions"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input matInput placeholder="Program Name">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Placement Structure">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Fiscal Category Code">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker2" placeholder="Removal Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="COMAR Rate Category">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Most Recent Real Time Fiscal Category Code">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Entry</h5>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker3" placeholder="Begin Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput a2e-datetimepicker placeholder="Entry Time">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 dp-block m-l-10">
                                    <mat-checkbox>Medical Paid Placement</mat-checkbox>
                                    <mat-checkbox>Court Ordered Placement</mat-checkbox>
                                    <mat-checkbox>ICPC Approved</mat-checkbox>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <mat-checkbox>Placement Voided</mat-checkbox>
                                    <mat-form-field class="">
                                        <input matInput placeholder="Void Approval Status">
                                    </mat-form-field>
                                    <mat-form-field class="">
                                        <input matInput placeholder="Approval Date">
                                    </mat-form-field>
                                </div>
                            </div> -->

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <button type="button" class="btn-pri">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="2">
                            <div class="row">
                                <div class="col-md-12  m-t-30">
                                    <h5 class="textb text-uppercase heading-bg width">Placement Details</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="">
                                                <input matInput placeholder="CPA Program Name">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker4" placeholder="Placement Begin Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                <mat-datepicker #picker4></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker5" placeholder="Placement End Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                <mat-datepicker #picker5></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12  m-t-30">
                                    <h5 class="textb text-uppercase heading-bg width">CPA Home History</h5>
                                    <div class="cpa-table table-responsive table-theme">
                                        <table class="table table-striped thead-black placement-info">
                                            <thead>
                                                <tr>
                                                    <th>Provider ID</th>
                                                    <th>Provider Name</th>
                                                    <th>Entry Date</th>
                                                    <th>CPA Home</th>
                                                    <th>Exit Date</th>
                                                    <th>Exit Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="mt-10">
                                            <!-- <pagination class="pagination-sm"></pagination> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 m-t-30">
                                    <h5 class="textb text-uppercase heading-bg width">CPA Home Details</h5>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input matInput placeholder="CPA Home Provider ID">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker6" placeholder="CPA Home Entry Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker7" placeholder="CPA Home Exit Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                            <mat-datepicker #picker7></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select placeholder="Exit Type">
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Address"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input matInput placeholder="CPA Home Provider Name">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput a2e-datetimepicker placeholder="Entry Time">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput a2e-datetimepicker placeholder="Exit Time">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select placeholder="Exit Reason">
                                                <mat-option></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Notes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Exit</h4>
                </div>
                <div class="modal-body dd-overflow-inherit placement-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Details</h5>
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput placeholder="Provider ID">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Local Department">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="School District">
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Address"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput placeholder="Provider Name">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Phone Number" mask="(000) 000-0000">
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Directions"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput placeholder="Program Name">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Placement Structure">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Fiscal Category Code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker8" placeholder="Removal Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                    <mat-datepicker #picker8></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="COMAR Rate Category">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Most Recent Real Time Fiscal Category Code">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Exit</h5>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker9" placeholder="End Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                    <mat-datepicker #picker9></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="Exit Type">
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Explanation"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker10" placeholder="End Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                    <mat-datepicker #picker10></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="Reason For Exit">
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="validation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Validation</h4>
                </div>
                <div class="modal-body dd-overflow-inherit placement-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="textb text-uppercase heading-bg width">Worker</h5>
                            <p><b>Worker Id : </b></p>
                            <p><b>Worker : </b></p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="textb text-uppercase heading-bg width">Placements</h5>
                            <div class="table-responsive table-theme height-table">
                                <table class="thead-black table table-striped placement-info palcement-tb">
                                    <thead>
                                        <tr>
                                            <th>Client ID</th>
                                            <th>CIS ID</th>
                                            <th>Client Name</th>
                                            <th>Provider Name</th>
                                            <th>Service / Placement Structure</th>
                                            <th>Program</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="mt-10">
                                    <!-- <pagination class="pagination-sm"></pagination> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="textb text-uppercase heading-bg width">Placement Details</h5>
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput placeholder="Client Name">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Provider Name">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Placement Structure">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker31" placeholder="End Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                                    <mat-datepicker #picker31></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Validation Month">
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Comments"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="">
                                    <input matInput placeholder="Client ID">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="CIS ID">
                                </mat-form-field>
                                <mat-form-field class="">
                                    <input matInput placeholder="Program">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker32" placeholder="End Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                                    <mat-datepicker #picker32></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="Validate">
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Placement Address"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>