<div class="row modal-height-body m-t-30">
    <div class="col-sm-6 brd-right">
        <div class="matAccordion m-b-20">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="schoolAcdn">School</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="schoolForm" [fieldKey]="'myintake-persons-involved-edit-education-school'">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="School" formControlName="educationname"
                                        [matAutocomplete]="auto" (input)="loadSchoolDropdown()">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let item of schoolSearchList$ | async" (click)="sourceSelected(item)"
                                            value="{{item.schoolname}}">
                                            {{item.schoolname}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="School Type" formControlName="educationtypekey" >
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async" value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                        <mat-form-field>
                                            <mat-select placeholder="State" formControlName="statecode" >
                                                <mat-option *ngFor="let schooltype of stateDropdownItems$ | async" value="{{schooltype.value}}">{{schooltype.text}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                            <div class="col-sm-6">
                                <mat-form-field *ngIf="isDjs">
                                    <mat-select placeholder="County" formControlName="countyid" >
                                        <mat-option *ngFor="let county of countyDropDownItems" value="{{county.countyid}}">{{county.countyname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field *ngIf="!isDjs">
                                    <mat-select placeholder="County" formControlName="countyid" >
                                        <mat-option *ngFor="let county of countyDropDownItems$ | async" value="{{county.value}}">{{county.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- <mat-form-field>
                                   <input matInput [max]="maxDate" appMaskDate [matDatepicker]="startdate" (click)="startdate.open()" formControlName="startdate" placeholder="Start Date" >
                                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                    <mat-datepicker #startdate></mat-datepicker> 
                                </mat-form-field>-->
                                <common-date-picker [max]="maxDate" formControlName="startdate" placeholder="Start Date"  ></common-date-picker>
                             </div>
                            <div class="col-sm-6">
                                <!-- <mat-form-field>
                                    <input matInput appMaskDate [matDatepicker]="enddate" (click)="enddate.open()" formControlName="enddate" placeholder="End Date" >
                                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                    <mat-datepicker #enddate></mat-datepicker>
                                </mat-form-field> -->
                                <small class="text-danger" *ngIf="schoolForm.hasError('notValid')">
                                    End date should be greater than start date</small>
                                    <common-date-picker [max]="maxDate" formControlName="enddate" placeholder="End Date"  ></common-date-picker>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Last Grade" formControlName="lastgradetypekey" >
                                        <mat-option *ngFor="let lastgrade of lastGradeDropdownItems$ | async" value="{{lastgrade.value}}">{{lastgrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Current Grade" formControlName="currentgradetypekey" >
                                        <mat-option *ngFor="let currentgrade of lastGradeDropdownItems$ | async" value="{{currentgrade.value}}">{{currentgrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row m-b-20">
                            <div class="col-sm-12">
                                <p>Special Education? </p>
                                <mat-radio-group formControlName="specialeducation" (change)="specialEducation($event.value)">
                                    <mat-radio-button value=true>Yes</mat-radio-button>
                                    <mat-radio-button value=false>No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row m-b-20" *ngIf="isSpecialEducation">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Special Education" formControlName="specialeducationtypekey">
                                        <mat-option *ngFor="let schooltype of specialEducationDropdownItems$ | async" value="{{schooltype.value}}">{{schooltype.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row m-b-20">
                            <div class="col-sm-12">
                                <h5>Absence</h5>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field *ngIf="!isDjs">
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="pickerm" (click)="pickerm.open()" formControlName="absentdate" placeholder="Number Of Days">
                                    <!-- <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerm></mat-datepicker> -->
                                </mat-form-field>
                                <mat-form-field *ngIf="isDjs">
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="pickerm" (click)="pickerm.open()" formControlName="absentdate" placeholder="Absence Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerm></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-radio-group formControlName="reciveVeriExc">
                                    <mat-radio-button value="received">Received</mat-radio-button>
                                    <mat-radio-button value="verified">Verified</mat-radio-button>
                                    <mat-radio-button value="execused">Excused</mat-radio-button>
                                </mat-radio-group>
                                <a href="javascript:{}" (click)="clearSortingFilters()">
                                        Clear </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <textarea matInput placeholder="Extracurricular/Activities/Services" formControlName="extracurricular"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="schoolEditInd < 0" class="btn-pri pull-right text-center" (click)="addSchool(schoolForm.getRawValue())" [disabled]="schoolForm.pristine || schoolForm.invalid">ADD</button>
                                <button *ngIf="schoolEditInd >= 0" class="btn-pri pull-right text-center" (click)="updateSchool(schoolForm.getRawValue())"
                                    [disabled]="schoolForm.pristine || schoolForm.invalid">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Edcn Details Start -->
                  
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="EdcnDetailsAcdn">Education Details</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="educationDetailsForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput placeholder="Type Of Class" formControlName="typeOfClass">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Last Grade level" formControlName="lastgradetypekey">
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                            value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Current Grade Level" formControlName="currentgradetypekey">
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                            value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Special Education Least Restrictive Environment Codes:"
                                        formControlName="splEdcLeastRestEnv">
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                            value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Functioning Grade Level" formControlName="funGradeLevel">
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                            value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="pickerm1" (click)="pickerm1.open()"
                                        formControlName="dateLastAttended" placeholder="Date Last Attended">
                                    <mat-datepicker-toggle matSuffix [for]="pickerm1"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerm1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div formGroupName="edcnPerformance">
                            <div class="card bg-primary text-white">
                                <div class="card-body">Eductional Performance</div>
                            </div>
                
                            <div class="row">
                                <div class="col-sm-6 form-group border border-primary">
                                    <mat-form-field>
                                        <mat-select placeholder="1st Quarter" formControlName="quater1">
                                            <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                                value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">
                                                {{schooltype.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="2nd Quarter" formControlName="quater2">
                                            <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                                value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">
                                                {{schooltype.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group border border-primary">
                                    <mat-form-field>
                                        <mat-select placeholder="3rd Quarter" formControlName="quater3">
                                            <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                                value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">
                                                {{schooltype.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="4th Quarter" formControlName="quater4">
                                            <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async"
                                                value="{{schooltype.value}}" (click)="schoolTypeDescription(schooltype)">
                                                {{schooltype.text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                </div>
                            </div>
                
                
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="edcnDetailInd < 0" class="btn-pri pull-right text-center"
                                    (click)="addEdcnDetails(educationDetailsForm.getRawValue())"
                                    [disabled]="educationDetailsForm.pristine || educationDetailsForm.invalid">ADD</button>
                                <button *ngIf="edcnDetailInd >= 0" class="btn-pri pull-right text-center"
                                    (click)="updateEdcnDetails(educationDetailsForm.getRawValue())"
                                    [disabled]="educationDetailsForm.pristine || educationDetailsForm.invalid">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                     
                 <!-- Edcn Details End -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="accomplishmentsAcdn"> Accomplishments </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="accomplishmentForm"  [fieldKey]="'myintake-persons-involved-edit-education-accomplishments'">
                        <div class="row">
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <mat-select placeholder="Highest Grade Completed" formControlName="highestgradetypekey">
                                        <mat-option *ngFor="let highGrade of currentGradeDropdownItems$ | async" value="{{highGrade.value}}" (click)="highetGradeDescription(highGrade)">{{highGrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="accdate" placeholder="Date" (click)="accdate.open()" formControlName="accomplishmentdate">
                                    <mat-datepicker-toggle matSuffix [for]="accdate"></mat-datepicker-toggle>
                                    <mat-datepicker #accdate></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <p >Record Received?</p>
                                <mat-radio-group formControlName="isrecordreceived">
                                    <mat-radio-button value="Yes" (click)="setManditory(false,'receiveddate', 'isManditory')">Yes</mat-radio-button>
                                    <mat-radio-button value="No" (click)="setManditory(true,'receiveddate', 'notManditory')">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" formControlName="receiveddate" appMaskDate [matDatepicker]="receiveddate" (click)="receiveddate.open()" placeholder="Received Date">
                                    <mat-datepicker-toggle matSuffix [for]="receiveddate"></mat-datepicker-toggle>
                                    <mat-datepicker #receiveddate></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="accomplishEditInd < 0" class="btn-pri pull-right text-center" (click)="addAccomplishment(accomplishmentForm.getRawValue())"
                                    [disabled]="accomplishmentForm.invalid || accomplishmentForm.pristine">ADD</button>
                                <button *ngIf="accomplishEditInd >= 0" class="btn-pri pull-right text-center" (click)="updateAccomplishment(accomplishmentForm.getRawValue())"
                                    [disabled]="accomplishmentForm.invalid || accomplishmentForm.pristine">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="testingAcdn">Testing Info</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="testingForm" [fieldKey]="myintake-persons-involved-edit-education-testing-info">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Test Name" formControlName="testingtypekey" >
                                        <mat-option *ngFor="let testType of testingTypeDropdownItems$ | async" value="{{testType.value}}" (click)="selectTestingDescription(testType)">{{testType.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput placeholder="Reading Test Level" numberOnly formControlName="readinglevel">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="testdate1" (click)="testdate1.open()" placeholder="Reading Test Date" formControlName="readingtestdate">
                                    <mat-datepicker-toggle matSuffix [for]="testdate1"></mat-datepicker-toggle>
                                    <mat-datepicker #testdate1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput placeholder="Math Level" numberOnly formControlName="mathlevel">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" appMaskDate [matDatepicker]="testdate2" (click)="testdate2.open()" placeholder="Math Test Date" formControlName="mathtestdate">
                                    <mat-datepicker-toggle matSuffix [for]="testdate2"></mat-datepicker-toggle>
                                    <mat-datepicker #testdate2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput placeholder="Provider / Location" formControlName="testingprovider">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="testingEditInd < 0" class="btn-pri pull-right text-center" (click)="addTesting(testingForm.getRawValue())"
                                    [disabled]="testingForm.invalid || testingForm.pristine">ADD</button>
                                <button *ngIf="testingEditInd >= 0" class="btn-pri pull-right text-center" (click)="updateTesting(testingForm.getRawValue())"
                                    [disabled]="testingForm.invalid || testingForm.pristine">UPDATE</button>
                            </div>
                        </div>

                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="voctionAcdn">Vocation</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="vocationForm" [fieldKey]="myintake-persons-involved-edit-education-vocation">
                        <div class="row">
                            <div class="col-sm-12 m-t-30">
                                <label class="txt-normal">Vocation Test? </label>
                                <mat-radio-group formControlName="isvocationaltest">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput placeholder="Vocation Interests" formControlName="vocationinterest">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput placeholder="Vocation Aptitude" formControlName="vocationaptitude">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput placeholder="Certificate No. / Name" formControlName="certificatename">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 cusmm-fileupload">
                                <label class="btn-bs-file btn btn-pri">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }"> UPLOAD
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button *ngIf="vocationEditInd < 0" class="btn-pri pull-right text-center" (click)="addVocation(vocationForm.getRawValue())"
                                    [disabled]="vocationButton">ADD</button>
                                <button *ngIf="vocationEditInd >= 0" class="btn-pri pull-right text-center" (click)="updateVocation(vocationForm.getRawValue())"
                                    [disabled]="vocationButton">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="tabledata">
            <div class="row">
                <div class="col-sm-12" *ngIf="school.length !== 0">
                    <h4>SCHOOL</h4>
                    <table class="table table-bg table-border action">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Type</th>
                                <th>Start Date/End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let schoolrow of school; let i=index">
                                <td>{{schoolrow.educationname}}</td>
                                <td>{{schoolrow.schoolTypeDescription}}</td>
                                <td>{{schoolrow.startdate | date:'MM-dd-yyyy'}}/{{schoolrow.enddate | date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <a (click)="viewSchool(schoolrow)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="editSchool(schoolrow, i)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="deleteSchool(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tabledata">
                <div class="row">
                    <div class="col-sm-12" *ngIf="educationDetails.length !== 0">
                        <h4>Education Details</h4>
                        <table class="table table-bg table-border action">
                            <thead>
                                <tr>
                                    <th>Type of Class</th>
                                    <th>Grade Last Completed</th>
                                    <th>Current Grade Level</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let edcnRow of educationDetails; let i=index">
                                    <td>{{edcnRow.typeOfClass}}</td>
                                    <td>{{edcnRow.lastgradetypekey}}</td>
                                    <td>{{edcnRow.currentgradetypekey}}</td>
                                    <td>
                                        <a (click)="viewEdcnDetails(edcnRow)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a (click)="editEdcnDetails(edcnRow, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a (click)="deleteEdcnDetails(i)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div class="tabledata" *ngIf="accomplishment.length !== 0">
            <div class="row">
                <div class="col-sm-12">
                    <h4>ACCOMPLISHMENTS</h4>
                    <table class="table table-bg table-border action">
                        <thead>
                            <tr>
                                <th>Highest Grade</th>
                                <th>Date</th>
                                <th>Record Received</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let accomrow of accomplishment; let i=index">
                                <td>{{accomrow.gradedescription}}</td>
                                <td>{{accomrow.accomplishmentdate | date:'MM-dd-yyyy'}}</td>
                                <td>{{accomrow.isrecordreceived}}</td>
                                <td>
                                    <a (click)="viewAccomplishment(accomrow)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="editAccomplishment(accomrow, i)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="deleteAccomplishment(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tabledata" *ngIf="testing.length !== 0">
            <div class="row">
                <div class="col-sm-12">
                    <h4>TESTING INFO</h4>
                    <table class="table table-bg table-border action">
                        <thead>
                            <tr>
                                <th>Test Name</th>
                                <th>Reading Test Level</th>
                                <th>Math Test Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testrow of testing; let i=index">
                                <td>{{testrow.testdescription}}</td>
                                <td>{{testrow.readinglevel}}</td>
                                <td>{{testrow.mathlevel}}</td>
                                <td>
                                    <a (click)="viewTesting(testrow)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="editTesting(testrow, i)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="deleteTesting(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tabledata" *ngIf="vocation.length !== 0">
            <div class="row">
                <div class="col-sm-12">
                    <h4>VOCATION</h4>
                    <table class="table table-bg table-border action">
                        <thead>
                            <tr>
                                <th>Vocation Test</th>
                                <th>Vocation Aptitude</th>
                                <th>Certificate No./ Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vocat of vocation; let i=index">
                                <td>{{vocat.isvocationaltest}}</td>
                                <td>{{vocat.vocationaptitude}}</td>
                                <td>
                                    <a [href]="vocat.certificatepath" target="_blank">
                                        <p>{{vocat.certificatename}}</p>
                                    </a>
                                </td>
                                <td>
                                    <a (click)="viewVocation(vocat)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="editVocation(vocat, i)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a (click)="deleteVocation(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
