<div class="panel panel-default panel-theme">
  <div class="panel-heading">
    <h4>{{formAction}} Permanency Plan<button type="button" class="close mr-10" (click)="goBack()">x</button></h4>
  </div>
  <div class="panel-body">
    <form [formGroup]="permanencyPlanForm">
      <div class="row">
        <div class="col-md-3 pt-20">
          <mat-form-field>
            <mat-select (change)="onChangePrimaryPlan($event.value)" class="aut-lst-primaryPermanencyPlan"
              formControlName="primarypermanencytype" placeholder="Primary Permanency Plan" required>
              <ng-container *ngFor="let plan of permanencyType">
                <mat-option [value]="plan.permanencyplantypekey">{{
                  plan.description }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 pt-20">
          <common-date-picker (valueChange)="onChangePrimaryDate()" [min]="planEstablishedMinDate" formControlName="primaryplandate"
            class="aut-dtp-planInitiationDate" placeholder="Plan Established Date" required="true" [disabled] = "isInView">
          </common-date-picker>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <textarea matInput formControlName="remarks" class="form-control fm-style"
              placeholder="Comments"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="permanencyPlanForm.getRawValue().primarypermanencytype === 'Reunification'">
          <div class="col-md-3 pt-20">
            <mat-form-field>
              <mat-select class="aut-lst-primaryPermanencyPlan"
                formControlName="parentname" placeholder="Parent Name" >
                <mat-option *ngFor="let person of involvedPersons"
                    [value]="person?.intakeservicerequestactorid">{{
                    person.firstname + ' ' + person.lastname }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>
  

      <div class="row">
        <div class="col-md-3 pt-20">
          <mat-form-field>
            <mat-select required (change)="onChangeConcurrentPlan($event.value)"
              formControlName="concurrentpermanencytype" placeholder="Concurrent Permanency Plan">
              <ng-container *ngFor="let plan of permanencyType">
                <mat-option [value]="plan.permanencyplantypekey">{{
                  plan.description }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-3 pt-20">
          <common-date-picker disabled formControlName="concurrentplandate" placeholder="Plan Established Date"
            required="true">
          </common-date-picker>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <textarea formControlName="concurrentcomments" matInput class="form-control fm-style"
              placeholder="Comments"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <label class="control control--checkbox">
            Court order received and uploaded in CJAMS
            <input type="checkbox">
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mt-20" *ngIf="formAction === 'Edit'">
          <common-date-picker formControlName="achieveddate" placeholder="Achieved Date" [disabled] = "isInView">
          </common-date-picker>
        </div>
        <div [class]="formAction === 'Edit' ? 'col-md-3 mt-20' : 'col-md-offset-3 col-md-3 mt-20'">
          <common-date-picker [min]="endMaxDate" formControlName="enddate" placeholder="End Date" [disabled] = "isInView && disableEndPlan">
          </common-date-picker>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <textarea formControlName="reason" matInput class="form-control fm-style"
              placeholder="End Reason"></textarea>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6">
                <mat-form-field>
                  <textarea formControlName="endcomments" matInput class="form-control fm-style"
                    placeholder="Comments"></textarea>
                </mat-form-field>
              </div> -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- <h4 class="title">Permanency Plan Check list</h4> -->
          <div class="checklist-content">
            <div>
              <p>If the permanency plan is to return home or relative placement, is the placement in close proximity
                to the child’s family? </p>
              <mat-radio-group formControlName="isInClosedProximity">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group>
              <mat-form-field>
                <textarea formControlName="isInClosedProximityExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Discuss how the caregiver is meeting the safety needs of the child as well as the appropriateness and
                the restrictiveness of the
                present placement, the child’s adjustment to the placement, and how the placement meets the best
                interest and the special needs of the child. </p>
              <mat-form-field>
                <textarea formControlName="meetingSafetyNeedsExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Discuss and explain changes in the child’s placement during the last 6 months. Discuss any
                anticipated changes in placement in the next 6 months. </p>
              <mat-form-field>
                <textarea formControlName="sixMonthsPlacementExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Describe how the worker is carrying out specific court orders pertaining to the child. </p>
              <mat-form-field>
                <textarea formControlName="courtOrdersExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Document what steps have been taken to finalize the placement for children whose permanency plan is
                adoption or placement at another permanent home? </p>
              <mat-form-field>
                <textarea formControlName="permToPermExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Describe how the worker is ensuring that the child receives safe and appropriate care. Discuss specific outcomes of ongoing/past services that have been offered to the child during the assessment period?</p>
              <mat-form-field>
                <textarea formControlName="safeAndCareExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>What efforts were made to promote permanency for the child during this assessment period? </p>
              <mat-form-field>
                <textarea formControlName="assessmentPeriodExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Has a Lifebook been prepared? If no, Explain? </p>
              <mat-form-field>
                <textarea formControlName="lifebookExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Describe the parent’s compliance in developing and carrying out the terms of the Service Agreement.
                (Discuss specific outcomes during this assessment period). Describe the parent’s involvement including
                dates of case planning meetings,
                in working with the caseworker to develop the case plan. Discuss specific outcomes of ongoing and past
                services offered to the parent(s)
                during this assessment period, including times of participation and the results of any meetings.
               </p>
              <mat-form-field>
                <textarea formControlName="serviceAgreementExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Does the Provider agree with the Permanency Plan? </p>
              <mat-radio-group formControlName="isProviderAgree">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
              </mat-radio-group>
              <mat-form-field>
                <textarea formControlName="isProviderAgreeExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
            <div>
              <p>Discuss services being provided to other significant persons including contacts with siblings,
                extended family, permanent foster parents, prospective adoptive parents, etc. </p>
              <p>Describe the child’s relationship with these significant others and/or any other relevant
                issues.Explain why child not placed with siblings,
                including how such placement would be contrary to the safety or well being of any of the siblings.
              </p>
              <mat-form-field>
                <textarea formControlName="serviceAgreementForOtherExpln" matInput
                  placeholder="Explanation required"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button class="btn-pri aut-btn-savePermanencyPlan" *ngIf="!isViewMode" type="button"
          (click)="submitPermanencyPlan(0)">Save</button>
        <button class="btn-pri aut-btn-submitPermanencyPlan" *ngIf="!isViewMode" type="button"
        [disabled]="permanencyPlanForm.pristine" (click)="submitPermanencyPlan(1)">Submit</button>
        <!-- <button type="button" class="btn-pri pull-right" (click)="goBack()">Back</button> -->
      </div>
    </form>
  </div>
</div>

<div class="modal fade in modal-theme" id="validation-error" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog t-25">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <p class="title text-center"> Alert !
        </p>
        <p class="m-t-10">
          {{errorMessage}}
        </p>
        <div class="text-right big-bot-space right-mspace-15 m-t-30">
          <button class="btn-pri" data-dismiss="modal" aria-label="Close"> OK </button>

        </div>
      </div>
    </div>
  </div>
</div>