.box-grid{
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 20px 0;
	padding: 0 20px 30px;
	float: left;
	width: 100%
}


