<!-- <section id="applicant-section" class="profile-section"> -->

<div class="container-fluid">
    <div class="box-grid-main clsMinHeight clearfix">
        <div class="row">
            <div class="col-md-12 col-lg-12 m-t-10">
                <div class="tab-content">
                    <div class="intake no-pad">
                        <div class="tab-horizontal">
                            <ul class="nav nav-pills click-triggers">
                                <!-- <li [ngClass]="'active'">
                                    <a data-toggle="tab" data-target="#applicant-corporate-information">Corporate Information</a>
                                </li> -->
                                <li [ngClass]="'active'">
                                    <a data-toggle="tab" data-target="#applicant-program-details">Program Details</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" data-target="#staffs">Assign Staff </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" data-target="#attachments">Documents</a>
                                 </li>
                                
                                <li>
                                    <a data-toggle="tab" data-target="#applicant-narrative">Narrative</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" data-target="#applicant-decision">Review</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <!-- <div class="tab-pane active" id="applicant-corporate-information">
                                    <applicant-profile-details [isSubmitted]="isSubmitted"></applicant-profile-details>
                                </div> -->
                                <div class="tab-pane active" id="applicant-program-details">
                                        <applicant-program-details [isSubmitted]="isSubmitted"></applicant-program-details>
                                </div>                                
                                <div *ngIf="providerId" class="tab-pane" id="staffs">
                                    <applicant-assign-staff [isSubmitted]="isSubmitted" [providerId]="providerId"></applicant-assign-staff>
                                </div>
                                <div class="tab-pane" id="attachments">
                                    <applicant-attachments [isSubmitted]="isSubmitted"></applicant-attachments>
                                </div>
                                <div class="tab-pane" id="applicant-narrative">
                                     <applicant-narrative [referralinfooutputsubject$]="referralinfooutputsubject$" [isSubmitted]="isSubmitted"></applicant-narrative>
                                </div>
                                <div class="tab-pane" id="applicant-decision">
                                    <applicant-decision [isSubmitted]="isSubmitted"></applicant-decision>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                <applicant-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)'></applicant-document-creator>
            </div>
        </div>
    </div>
</div>