<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
        <div class="row">
            <div class="col-sm-8">
                <h4> Basic Information</h4>
            </div>
        </div>

        <div [formGroup]="publicApplicantBasicInfoForm">
            <div class="row modal-content-pad modal-height-body">
                <div class="col-sm-4 ">

                    <mat-card>
                        <h3>Program Details</h3>
                        <mat-form-field>
                            <input matInput type="text" formControlName="prgram" placeholder="Program" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" formControlName="provider_program_type"
                                placeholder="Program Type" required>
                        </mat-form-field>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-select placeholder="Age Group" formControlName="age_group" multiple>
                                    <mat-option *ngFor="let item of ageGroup" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                                <mat-form-field>
                                    <mat-select placeholder="Inquiry Source" formControlName="inquiry_source">
                                        <mat-option *ngFor="let item of inquirySource" [value]="item">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <mat-form-field>
                                        <input matInput type="text" formControlName="inquiry_source"
                                            placeholder="Inquiry Source" >
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="inquiry_source_details"
                                            placeholder="Inquiry Source" >
                                    </mat-form-field> -->
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Internet'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter the Website">
                                </mat-form-field>
                                <mat-form-field
                                    *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Radio Station'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter the Station">
                                </mat-form-field>
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Television'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter the channel">
                                </mat-form-field>
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Newspaper'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter the name of paper">
                                </mat-form-field>
                                <mat-form-field
                                    *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Community Event'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter the name of the event">
                                </mat-form-field>
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='MVA'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="For which one">
                                </mat-form-field>
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Billboard'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="for which one">
                                </mat-form-field>
                                <mat-form-field *ngIf="publicApplicantBasicInfoForm.value.inquiry_source=='Other'">
                                    <input matInput type="text" formControlName="inquiry_source_details"
                                        placeholder="Please enter a description">
                                </mat-form-field>
                            </div>
                        </div>

                        <h3>Payment Information</h3>
                        <mat-checkbox formControlName="payment_info_medicaid_provider">Medicaid Provider</mat-checkbox>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="payment_info_payee_first_nm"
                                        placeholder="Payee First Name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="payment_info_payee_last_nm"
                                        placeholder="Payee Last Name">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field>
                            <mat-select placeholder="1099 Indicator" formControlName="payment_info_1099_indicator">
                                <mat-option *ngFor="let item of irsFormIndicator" value="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card>
                        <h3>Placement Structures</h3>
                        <mat-form-field>
                            <mat-select placeholder="Placement Structures" formControlName="placement_structures"
                                multiple>
                                <mat-option *ngFor="let item of placementStructuresList" value="{{item.service_nm}}">
                                    {{item.service_nm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card>
                    <mat-card>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> <h3>Saved Placement Structures</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of applicantInfo.placement_structures">
                                    <td>{{obj}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="pull-left">
            <button [hidden]='isReadOnly' class="btn-pri" (click)="saveInformation()">Save</button>
        </div>
    </div>
</div>