<div class="row">
    <ul class="nav nav-tabs mrg-btm10 cus-tab-section">
        <li class="active">
            <a (click)="goBack()" class="notactive" id="profileinfo">
                <span class="tab-txt">Profile Information </span>
            </a>
        </li>
        <li class="completed">
            <a class="notactive" id="searchresult">
                <span class="tab-txt">Search Result</span>
            </a>
        </li>

    </ul>
    <div class="col-sm-12 pt-20">
        <p>Search Criteria</p>
        <div class="row">

            <div *ngFor="let item of searchLabels" class="col-sm-2 m-t-10">
                <p class="label-search"><label> {{item.label | uppercase }} </label></p>
                <p> {{item.value}}</p>
            </div>
            <div class="col-sm-2 m-t-30" *ngIf="hasMoreCriteria">
                <button class="pri-btn no-bg" (click)="goBack()">View More</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 pt-20">
        <button class="no-bg pull-left" type="submit" (click)="clearSearchFilter()"><i class="fa fa-refresh"
                aria-hidden="true"></i> Reset</button>
        <div class="text-right">
            <div *ngIf="totalRecords > 10">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                    [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
        </div>
    </div>

    <div class="col-sm-12" *ngIf="personSearchResult; let involvedPersonSearchResponses">

        <div id="Search-res" class="outer pt-10">
            <div class="table-responsive mb-20">
                <table class="table customTable firsttable" *ngIf="involvedPersonSearchResponses.length > 0"
                    sortable-table (sorted)="onSortedPerson($event)">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th sortable-column="firstname">first name</th>
                            <th sortable-column="middlename">Middle Name</th>
                            <th sortable-column="lastname">last name</th>
                            <th sortable-column="dob">dob</th>
                            <th sortable-column="gender">gen</th>
                            <th sortable-column="ssn">ssn
                            </th>
                            <th>
                                <span>&nbsp;
                                    <a (click)="toggleSsn()">
                                        <i class="fa fa-lg {{ssnEye}}"></i>
                                    </a>
                                </span>
                            </th>
                            <th sortable-column="address" style="width: 275px;">address </th>
                            <!--  <th sortable-column="state">state</th>
                            <th sortable-column="zipcode">zip</th> -->

                            <!--   <th>source</th> -->
                            <!--  <th>relations</th> -->
                            <th sortable-column="cjamspid">CJAMS ID</th>
                            <th sortable-column="assistpid">chessie id</th>
                            <th sortable-column="mdmid">mdm id</th>
                            <!-- <th>match</th> -->
                            <th sortable-column="priors">prior history</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;"
                        [ngClass]="{'highlight' : row.exactmatch}">
                        <tr>
                            <td>
                                <label class="control control--radio">
                                    <input type="radio" name="selectedPerson" (click)="selectPerson(row)"
                                        class="ng-dirty ng-valid ng-touched">
                                    <div class="control__indicator"></div>
                                </label>
                            </td>
                            <td>
                                <a (click)="searchPersonDetailsRow(rowId, row)">
                                    <i [class]="showPersonDetail === rowId ? 'fa fa-angle-up':'fa fa-angle-down'"
                                        aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{row?.firstname}}</td>
                            <td>{{row?.middlename}}</td>
                            <td>{{row?.lastname}}</td>
                            <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
                            <td>{{row?.gendertypekey}}</td>
                            <td>{{row?.ssn | mask:showSsnMask}}</td>
                            <td></td>
                            <!-- <td>
                            <mat-form-field>
                                    <input type="text" numberOnly maxlength="11"  matInput placeholder="SSN" formControlName="ssn" [value]="f.ssn.value | mask:showSsnMask" />
                                    <span matSuffix>&nbsp;
                                        <a (click)="toggleSsn()">
                                        <i class="fa fa-lg {{ssnEye}}"></i>
                                        </a>
                                    </span>
                            </mat-form-field>
                            </td> -->
                            <td>{{row?.primaryaddress?.split('~')[0]}}
                                <span *ngIf="row?.primaryaddress?.split('~')[1]"> ,</span>
                                {{row?.primaryaddress?.split('~')[1]}}
                                <span *ngIf="row?.primaryaddress?.split('~')[2]"> ,</span>
                                {{row?.primaryaddress?.split('~')[2]}}
                                <span *ngIf="row?.primaryaddress?.split('~')[5]"> ,</span>
                                {{row?.primaryaddress?.split('~')[5]}}
                                <span *ngIf="row?.primaryaddress?.split('~')[3]"> ,</span>
                                {{row?.primaryaddress?.split('~')[3]}}</td>
                            <!--  <td>{{row?.primaryaddress?.split('~')[5]}}</td>
                            <td>{{row?.primaryaddress?.split('~')[3]}}</td> -->

                            <!-- <td *ngIf="row.priors <= 0">No</td> -->
                            <!--    <td>{{row?.source}}</td> -->
                            <!--  <td>{{(row?.relations && row?.relations.length > 0) ? getPrimaryRelationname(row?.relations) : ''}}</td> -->
                            <td>{{row?.cjamspid}}</td>
                            <td>{{row?.assistpid}}</td>
                            <td>{{row?.mdm_id}}</td>
                            <!-- <td>{{row?.percentage}}</td> -->
                            <td *ngIf="row.priors >= 1">
                                <a (click)="searchPersonDetailsRow(rowId, row)">Yes </a>
                            </td>
                            <td *ngIf="row.priors <= 0">No</td>
                        </tr>
                        <tr [class]="showPersonDetail === rowId ? 'show':'hide'">
                            <td colspan="14" class="td-pad">
                                <table class="table customTable innerTable">
                                    <thead>
                                        <tr>

                                            <th>ALIAS</th>
                                            <th>SUFFIX</th>
                                            <th>PREFIX</th>
                                            <th>DOD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>{{row?.alias | aliasDisplay}}</td>
                                            <td>{{row?.suffix}}</td>
                                            <td>{{row?.prefx}}</td>
                                            <td>{{row?.dod | date:'MM/dd/yyyy'}}</td>

                                            <!-- <td>{{row?.primaryaddress?.split('~')[1]}}</td>
                                                <td>{{row?.primaryaddress?.split('~')[2]}}</td>
                                                <td>{{row?.primaryaddress?.split('~')[5]}}</td>
                                                <td>{{row?.primaryaddress?.split('~')[3]}}</td> -->

                                            <!-- <td>{{row?.primaryaddress?.split('~')[4]}}</td> -->
                                        </tr>
                                        <tr>
                                            <td colspan="14" class="td-pad">
                                                <div>
                                                    <h5 class="p-6">Prior Case History</h5>
                                                </div>
                                                <div class="panel-group" id="accordion" role="tablist"
                                                    aria-multiselectable="true">
                                                    <div class="panel panel-default"
                                                        *ngFor="let action of personDSDSActions$ | async; let i=index;">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title collapsed">
                                                                <a href="#collapse-{{rowId}}-{{i}}"
                                                                    [ngClass]="action.highLight?'orange':''"
                                                                    data-toggle="collapse" data-parent="#accordion"
                                                                    aria-expanded="false">{{action.daTypeName}}
                                                                    <span
                                                                        class="glyphicon pull-right glyphicon-plus more-less"></span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse-{{rowId}}-{{i}}"
                                                            class="panel-collapse collapse" aria-expanded="false"
                                                            style="height: 0px;">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-pad">
                                                                        <div class="table-responsive">
                                                                            <table class="table accordion-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>CASE
                                                                                            NUMBER
                                                                                        </th>
                                                                                        <th
                                                                                            *ngIf="action.daTypeName === 'Child Protective Services'">
                                                                                            SUB TYPE</th>
                                                                                        <th>NAME
                                                                                        </th>
                                                                                        <th>ROLE(S)
                                                                                        </th>
                                                                                        <!--  <th>DATE
                                                                                            CREATED
                                                                                        </th> -->
                                                                                        <th>DATE
                                                                                            RECEIVED
                                                                                        </th>
                                                                                        <th>DATE
                                                                                            COMPLETED
                                                                                        </th>
                                                                                        <th>STATUS
                                                                                        </th>
                                                                                        <th>JURISDICTION
                                                                                        </th>
                                                                                        <!-- <th>Actions</th> -->
                                                                                        <th
                                                                                            *ngIf="action.daTypeName === 'Child Protective Services'">
                                                                                            MALTREATMENT INFO</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr
                                                                                        *ngFor="let item of action?.daDetails">
                                                                                        <td>
                                                                                            <a [ngClass]="item.dasubtype === 'Peace Order'?'orange':''"
                                                                                                href="javascript:{}"
                                                                                                (click)="openCase(item)">{{item.danumber}}</a>
                                                                                        </td>
                                                                                        <td
                                                                                            *ngIf="action.daTypeName === 'Child Protective Services'">
                                                                                            {{item.dasubtype}}</td>
                                                                                        <td>{{row?.firstname}}

                                                                                            {{row?.lastname}}
                                                                                        </td>
                                                                                        <td>
                                                                                    <tr *ngFor="let role of item.roles">
                                                                                        <td>{{role}}</td>
                                                                                    </tr>
                                            </td>
                                            <!--  <td>{{item.datecreated
                                                                                                |
                                                                                                date:'MM/dd/yyyy
                                                                                                H:mm:ss'
                                                                                                }}
                                            </td> -->
                                            <td>{{item.datereceived | date:'MM/dd/yyyy, hh:mm a'}}
                                            </td>
                                            <td>{{item.datecompleted | date:'MM/dd/yyyy, hh:mm a' }}
                                            </td>
                                            <td>{{item.status}}
                                            </td>
                                            <td>{{item.county}}
                                            </td>
                                            <td *ngIf="action.daTypeName === 'Child Protective Services'">
                                                <ng-container *ngIf="isMaltreator(item.roles); else naTemplate">
                                                    <a (click)="showOutcome(row,item)">View</a>
                                                </ng-container>
                                                <ng-template #naTemplate>
                                                    N/A
                                                </ng-template>
                                            </td>
                                        </tr>
                                        <tr *ngIf="action?.daDetails?.length === 0">
                                            <td colspan="8">
                                                No
                                                match
                                                were
                                                found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<div class="" *ngIf="involvedPersonSearchResponses.length === 0">
    <p>No results match your search criteria. Please search with another criteria or continue to add a new person.
    </p>
    <button type="button" class="btn-pri" (click)="addNewPerson()">Add New</button>
</div>
</div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="pull-left">
            <a class="btn btn-sec" (click)="goBack()">Back to Person Search</a>
        </div>
        <div class="text-right" *ngIf="involvedPersonSearchResponses.length > 0 ">
            <button type="button" class="btn-pri" [disabled]="selectedPerson" (click)="addNewPerson()">Add New</button>

            <button type="button" class="btn-pri" (click)="editSelectedPerson()">Select Person</button>
        </div>

    </div>
</div>
</div>
</div>

<div class="modal fade in" id="person-out-come" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Maltreatment Info</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div id="outcome-history" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="textb disp-color"><b>Case # : </b> {{selectedCaseInfo?.danumber }}
                                        </p>
                                    </div>
                                    <div class="col-sm-4 pr-0"> <b> Worker Name : </b>
                                        <span class="clsTextOver"[matTooltip]="selectedCaseInfo?.workername">
                                            {{selectedCaseInfo?.workername}} </span>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="textb disp-color"><b>Name : </b> {{selectedPriorPerson?.firstname }}
                                            {{selectedPriorPerson?.middlename }} {{selectedPriorPerson?.lastname }}
                                            {{selectedPriorPerson?.suffix}} </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="textb disp-color"><b>DOB :
                                            </b>{{selectedPriorPerson?.dob | date:'MM/dd/yyyy':'+0000'}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="textb disp-color"><b>Gender :
                                            </b>{{selectedPriorPerson?.gendertypekey}}
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <p class="textb disp-color"><b>CJAMS PID# :
                                            </b>{{selectedPriorPerson?.cjamspid}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive petition-table table-theme mt-20">
                                    <table class="table table-striped customTable firsttable">
                                        <thead>
                                            <tr>
                                                <th>Victim Name</th>
                                                <th>Maltreatment Type </th>
                                                <th>Alleged Maltreator</th>
                                                <th>Relationship to Maltreator</th>
                                                <th>Findings</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <ng-container
                                                *ngIf="selectedCaseInfo?.outcomes?.length; else noRecordTemplate">
                                                <tr *ngFor="let outcome of selectedCaseInfo?.outcomes">
                                                    <td>{{outcome.personname}}</td>
                                                    <td>{{outcome.name}}</td>
                                                    <td>{{selectedPriorPerson.firstname }}
                                                        {{selectedPriorPerson.middlename }}
                                                        {{selectedPriorPerson.lastname }} {{selectedPriorPerson.suffix}}
                                                    </td>
                                                    <td>{{outcome.description}}</td>
                                                    <td><span
                                                            *ngFor="let finding of outcome.findings">{{finding.description}}</span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <ng-template #noRecordTemplate>
                                                <tr>
                                                    <td colspan="5">Maltreatment Information not yet recorded under
                                                        Maltreatment Findings.</td>
                                                </tr>
                                            </ng-template>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>