.pdf-page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.sizeA4 {
    width: 21cm;
    min-height: 29.7cm;
    padding-bottom: 10px;
}

.pdf-page .row {
    margin-left: 0px;
    margin-right: 0px;
}

.margin-wrapper {
    margin-left: 1.2cm;
    margin-right: 1.2cm;
}

.download-btn {
    cursor: pointer;
}

.header-img {
    height: 80px;
    margin: 20px;
}

.header-address {
    margin: 20px;
    text-align: right;
    font-weight: bold;
}

.hr-border {
    border-bottom: 2px solid red;
    clear: both;
    margin: 20px;
}

.signature {
    font-style: italic;
    font-size: 12px;
}

.align-center {
    text-align: center
}

.title {
    font-weight: bold;
    margin-top: 20px;
}

.red-bullet {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 2px 2px 2px grey
}

.page-top-margin {
    margin-top: 60px;
}

.signature-border {
    border-bottom: 1px solid black;
}

.footer-icon {
    font-size: 35px;
    font-weight: bold;
}

.footer-border {
    border-top: 2px solid red;
}

.padding-top-20 {
    padding-top: 20px;
}

.section-header {
    height: 20px;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 25px;
    background-color: #ccc;
    font-weight: bold;
    margin-bottom: 5px;
}

.section-lable {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

.section-value {
    text-align: left;
    padding-left: 0px;
}

#CPS-Intake-Letter {
    font-size: 12px !important;
}

.auto-height {
    height: auto !important;
}

.pdf-container {
    margin-left: 1.2cm;
    margin-right: 1.2cm;
    height: 965px;
}

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 10px;
}

.page-paddings {
    padding-top: 10px;
}

.cps-footer {
    height: auto;
    font-size: 12px;
    border-top: 2px solid black;
    padding-top: 10px;
    margin-left: 1.1cm;
    margin-right: 1.1cm;
}
.pdf-page {
    font-family: 'Open Sans',serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}
.clsMain{
    width: 750px;
    margin: auto;
}
.width-50{
    width: 50%;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
/* 
div[class*='col-']{
    float: left;
}
*/
.col-1{
    width: 8.33333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
} 
h5{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
}

/* footer{
    border-top: 2px solid #ff0000;
    padding: 10px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    list-style: circle;

}
footer li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    padding: 0 0 0 15px;
    list-style: circle;
}
footer li:before{
    position: absolute;
    display: block;
    top: 8px;
    left: 3px;
    content: '';
    border: 3px solid red;
    border-radius: 100%;
} */
.no-mar{
    margin: 0px !important;
}
.no-pad{
    padding: 0px !important;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-80{
    padding-top: 80px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-20{
    padding-left: 20px;
}
.mb-5{
    margin:0 0  5px;
}
.mt-10{
    margin: 10px 0 0 ;
}
.mt-15{
    margin: 15px 0 0 ;
}
.clsItalic p{
    font-style: italic;
    font-size: 13px;
}
.text-b{
    font-weight: 700;
}
.text-sm-b{
    font-weight: 600;
}
.text-n{
    font-weight: 400;
}
.show{
    display: block;
}
.clsMain{
    position: relative;
}
.clsOnePage{
    height: 1094px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.unstyled{
    padding: 0px;
    margin: 0px;
}
/*.unstyled li{
    list-style: none;
}*/
.text-35{
    font-size: 35px;
}
.text-9{
    font-size: 9px;
}
.clsRed{
    color: #ff0000;
}
footer p{
    margin-bottom: 5px;
}
.line-12{
    line-height: 12px;
}
.text-10{
    font-size: 10px;
}
.sep-bot{
    border-bottom: 1px solid #000;
    padding: 0 5px;
}
.MinWidth-70{
    min-width: 70px;
}
.uline, .unline {
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.uline {
    width: 90%;
}
.unline {
    width: 50%;
}
.pheight {
    display: block;
    width: 100%;
    height: 50px;
}
.pr-20{
    padding-right: 20px;
}
.text-12{
    font-size: 12px;
}
.pr-10{
    padding-right: 10px;
}
.clsWidth-80{
    width: 80%;
}
.clsWidth-77{
    width: 77%;
}
.clsWidth-70{
    width: 70%;
}
.pb-10{
    padding-bottom: 10px;
}
.clsMinwidth-30{
    min-width: 30px;
    display: inline-block;
}
.pt-50{
    padding-top: 50px;
}
.table.text-center th{
    text-align: center;
}
.dotline{
    border-bottom: 2px dotted #000000;
    width: 50%;
    display: inline-block;
}
.sectioni i {
    display: block;
}
.bd {
    border-bottom: 2px solid #000;
}
.pl-30 {
    padding: 0 0 0 30px;
}
.pt-30{
    padding: 30px 0 0 ;
}
.pt-10{
    padding-top: 10px;
}
.brd-top {
    border-top: 1px solid #000;
}
.brd-btm {
    border-bottom: 1px solid #000;
}
.brd-btm-dotted {
    border-bottom: 1px dotted #000;
}
.w-250 {
    width:250px;
    display:inline-block;
}
.w-200 {
    width:200px;
    display:inline-block;
}
.w-150 {
    width:150px;
    display:inline-block;
}
.w-1 {
    width:50px;
    display:inline-block;
}
.w-100 {
    width:100%;
    display:inline-block;
}
.mb-10 {
    margin-bottom:10px;
}
.mb-20 {
    margin-bottom:20px;
}
.mb-30 {
    margin-bottom:30px;
}
.mb-40 {
    margin-bottom:40px;
}
.mb-50 {
    margin-bottom:50px;
}
.mt-10 {
    margin-top:10px;
}
.mt-20 {
    margin-top:20px;
}
.mt-30 {
    margin-top:30px;
}
.mt-40 {
    margin-top:40px;
}
.mt-50 {
    margin-top:50px;
}
.mb-5 {
    margin-bottom:5px;
}
.mt-5 {
    margin-top:5px;
}
.ml-10 {
    margin-left:10px;
}
.ml-20 {
    margin-left:20px;
}
.ml-30 {
    margin-left:30px;
}
.ml-40 {
    margin-left:40px;
}
.ml-50 {
    margin-left:50px;
}
.ml-5 {
    margin-left:5px;
}
.mr-10 {
    margin-right:10px;
}
.mr-20 {
    margin-right:20px;
}
.mr-30 {
    margin-right:30px;
}
.mr-40 {
    margin-right:40px;
}
.mr-50 {
    margin-right:50px;
}
.mr-5 {
    margin-right:5px;
}
.checkicon span.fa.fa-square-o.pl-20, .checkicon p.fa.fa-square-o {
font-size: 16px;
margin-bottom: 10px;
}
.outer-brd {
border: 1px solid #000;
padding: 0 15px;
margin-top: 5px;
}
.b-shadow {
box-shadow: 0 0 3px 5px #f7f7f7;
margin: 0px -10px;
}
.table-height tbody tr td {height:38px;}
.m-width {
min-width:100px;
max-width:250px;
border-bottom:1px solid #333;
}
.text-b-6 {font-weight:600;}