<a class="btn btn-sm btn-default btn-light signature-pad-refresh" (click)="clear()"><i class="glyphicon glyphicon-refresh"></i></a>
<signature-pad [options]="options" (onBeginEvent)="drawBegin()" (onEndEvent)="drawComplete()"></signature-pad>