<div class="container-fluid">
    <div role="tabpanel" class="tab-pane dd-overflow-inherit">
      <div class="cnt-min-height">
        <div class="row">
          <div class="col-md-12 m-t-20">
              <h4>Staff Details</h4>
            <!-- <div class="col-sm-12 text-right icon">
              <button  type="submit" class="btn-pri" data-target="#assign-staff"
                  data-toggle="modal">Assign Staff Member
              </button>
            </div> -->
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
              <div class="table-responsive table-theme">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Provider Id</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Affliation Type</th>
                          <th>Job Title</th>
                          <th>Employee Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of staffInformation">
                          <td>{{providerId}}</td>
                          <td>{{person.first_nm}}</td>
                          <td>{{person.last_nm}}</td>
                          <td>{{person.affiliation_type}}</td>
                          <td>{{person.job_title}}</td>
                          <td>{{person.employee_type}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>