<div class="tab-pane active" id="case-tobe-assigned">
    <div>
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker3" placeholder="Date of Meeting"
                            formControlName="meetingdate" />
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                            formControlName="startdate" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="enddate" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-sm-3">
                <mat-form-field>
                    <mat-select placeholder="Meeting Status" formControlName="meetingstatus">
                        <mat-option value="Completed">Completed</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class=" text-center"><button type="button" class="btn-pri m-t-20"
                    (click)="searchMeeting(searchForm.value)">Search</button> </div>
        </form>
    </div>
    <div class="form-letter-tab form-align">
        <div class="table-responsive table-theme">
            <table class="table table-striped" sortable-table>
                <thead>
                    <tr>
                        <th>CASE</th>
                        <th>ADULT NAME</th>
                        <th>SERVICE TYPE</th>
                        <th>ASSIGNED ON</th>
                        <th>DUE DATE</th>
                        <th>SUB-TYPE</th>
                        <th>Scheduled Meeting Date</th>
                        <th>Scheduled Meeting Status</th>
                    </tr>
                </thead>
                <tbody *ngIf="(dssDashboard$ | async); let dssAdminDashboard">
                    <ng-container *ngFor="let data of dssAdminDashboard; let dssIndex = index">
                        <tr>
                            <td>
                                <a (click)="redirectToCase(data)">{{ data.servicerequestnumber }}</a>
                            </td>
                            <td>{{ data.personname | uppercase }}</td>
                            <td>{{ data.servicetype }}</td>
                            <td>{{ data.assignedon | date: 'MM/dd/yyyy' }}</td>
                            <td>{{ data.duedate | date: 'MM/dd/yyyy - h:mm a' }}</td>
                            <td>{{ data.servicesubtype }}</td>
                            <td>{{ data.dateofmeeting | date: 'MM/dd/yyyy' }}</td>
                            <td>{{ data.meetingstatus }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <ng-template #noItems>
                <p class="no-datatxt">No Items!</p>
            </ng-template>
            <div>
                <pagination [totalItems]="totalRecord$ | async" [(ngModel)]="paginationInfo.pageNumber"
                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                    [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
        </div>
    </div>
</div>