.header-bg {
    background: #e8f0fa;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.label {
    font-weight: 600;
    margin-right: 10px;
    color: #333;
    font-size: 14px;
}
.f-w-700 {font-weight:700;}
.evaluation-search .input-group {
    margin-bottom:20px;
    width: 100%;
}
.evaluation-search {
    // border: 2px solid #e8f0fa;
    // border-radius: 3px;
    // padding: 15px 15px;
}
.evaluation-search .input-group input {
    border: 1px solid #00A2FD !important;
    border-radius: 3px;
    padding: 5px;
    height: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.evaluation-search .input-group input::placeholder {font-size:12px;}
.evaluation-search .input-group span.input-group-btn button.btn-pri {font-size:12px;}
.evaluation-search dl {
    margin-bottom: 15px;
}
.evaluation-data dt {
    text-align: left !important;
    font-size: 13px;
    font-weight: 600;
}
.evaluation-data dd {
    font-size: 13px;
}
.evaluation-data dt:after {
    position: absolute;
    content: ":";
    right: 68%;
}
.evaluation-data .dl-horizontal dd {
    margin-left: 160px;
}
.table.table-striped{
    tr{
        th,td{
            min-width:140px;
            max-width: 140px;
            text-align: left !important;

            &:nth-child(5){
                min-width: 300px;
                max-width: 300px;
            }
            &:last-child{
                text-align: right !important;
            }
        }
        td{
            &:last-child{
                font-size: 13px;
                span{
                    padding-left: 5px;
                }
            }
        }
    }
}
.text-16{
    font-size: 16px;
}
.m-b-10 {
    margin-bottom: 15px !important;
}
h4.modal-title {
    margin: 0px !important;
}