

<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
        <div class="row">
            <div class="col-sm-8">
                <h4> Change Request By Provider</h4>
            </div>
            <!-- <div class="col-sm-4 text-right btns-top">
                <button  type="submit" class="btn-pri" (click)= "addChanges()" data-target="#change-license-request"
                     data-toggle="modal">Make Changes
                </button>
            </div> -->
        </div>
  
        <div class="row">
          <div class="col-md-12 table-responsive">    
  <table class="table">
    <thead>
      <tr >
        <th>Request Number</th>
        <th>Request Narrative By</th>
        <th>Request Comments</th> 
     </tr> </thead>
     <tbody >
      <tr *ngFor="let obj of tableData" >
        <td>{{obj.request_no}}</td>
        <td>{{obj.request_narrative_by}}</td>
        <td>{{obj.request_comments}}</td>                    
    </tr> 
  </tbody> 
  </table>
  <form [formGroup]="additionalInfoForm">
      <mat-form-field>
          <input type="text" required matInput formControlName="request_comments" placeholder="Enter Text to Request Additional info form provider">
       </mat-form-field>
       <div class="row">
          <div class="col-md-12 m-t-10">
              <div class="pull-right">
                  <button class="btn-pri" [disabled]="additionalInfoForm.invalid"  (click)="sendCommentsToProvider()">Send Text</button>
              </div>                        
          </div>
      </div>
   </form>
  </div>
  </div>
  </div>
  </div>
  
  
  
  <!-- <div class="modal fade in" id="change-license-request" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closewindow()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title"> Make Changes to License Here</h4>
            </div>
            <div class="modal-body ">
                <div [formGroup]="changeLicenseInfoForm">
                    <mat-card>
                     
                    </mat-card>
                 </div>
                
                <div class="row">
                    <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                            <button class="btn-pri"  (click)="patchChangedLicenseInfo(changeLicenseInfoForm.value)">Save Changes</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->
  
  