.checkbox-m-t {
	display: block;
	margin-top: 10px;
}

.checkbox-block mat-checkbox {
	display: block;
}

.boder-btm {
	border-bottom: 2px solid #e0e8f8;
}

.semi-b {
	font-weight: 600;
}

.width-80 {
	width: 80%;
	display: inline-block !important;
}

.tpr-p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.tpr-p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.border-t {
	border-top: 6px solid #e0e8f8;
}

.btn-width {
    width: 280px;
}