<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-letter-tab m-t-30">
          <ul class="nav nav-tabs" role="tablist">
            <li routerLinkActive="active">
              <a [routerLink]="['./funding-purchase-authorization']">Funding Approval</a>
            </li>
  
            <li routerLinkActive="active">
              <a [routerLink]="['./payment-purchase-authorization']">Payment Approval </a>
            </li>
          </ul>
          <div class="tab-content m-t-30">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid pa-wrapper">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-letter-tab m-t-10">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                  <a href="#fundingPurchase" aria-controls="home" role="tab" data-toggle="tab" (click)="getFundingApprove()">Funding Approval</a>
                </li>
      
                <li *ngIf="financeSupervisor">
                  <a href="#paymentPurchase" aria-controls="details" role="tab" data-toggle="tab" (click)="getPaymentApprove()">Payment Approval</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="fundingPurchase">
                       <div class="col-md-3 search-box">
                          <mat-form-field>
                            <input type="text" matInput placeholder="Search Payee Name" (keyup.enter)="onSearchPayee('funding')" [(ngModel)]="fundingPayee">
                            <button mat-button matSuffix mat-icon-button aria-label="Search Payee" (click)="onSearchPayee('funding')">
                              <i aria-hidden="true" class="fa fa-search"></i>
                            </button>
                          </mat-form-field>
                        </div>
                      <div class="status col-md-3">
                          <mat-form-field>
                              <mat-label>Funding Status</mat-label>
                              <mat-select [(ngModel)]="fundingStatus" (change)="statusFundingDropDown($event.value)">
                                <mat-option>Select</mat-option>
                                <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                                  {{status.text}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      <div class="m-t-10 col-md-12">
                      <div class="table-responsive table-theme">
                          <table class="table table-striped fixed_header funding-tb" sortable-table (sorted)="onSortedFunding($event)">
                            <thead>
                              <tr>
                                <th>Authorization ID</th>
                                <th>Service Request ID</th>
                                <th>Category Code</th>
                                <th>Request Date</th>
                                <th sortable-column="payee">Payee Name</th>
                                <th>Cost Not To Exceed</th>
                                <th>Status</th>
                                <th>Funding Approved Date</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="fundingData">
                              <tr *ngFor="let payment of fundingData">
                                  <td>{{payment.authorization_id}}</td>
                                  <td>{{payment.service_log_id}}</td>
                                  <td>{{payment.fiscal_category_desc}}({{payment.fiscal_category_cd}})</td>
                                  <td>{{payment.request_date | date: 'MM/dd/yyyy'}}</td>
                                  <td>{{payment.payee}}</td>
                                  <td>{{payment.cost_no | cjamsCurrency}}</td>
                                  <td>{{payment.remarks}}</td>
                                  <td>{{payment.funding_approval_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>
                                  <button class="open-link no-bg" type="button" matTooltip="Funding Approval Redirect" (click)="reDirectToFunding(payment)"><i class="open-link fa fa-external-link"></i></button>
                                  <!-- <button type="button" data-toggle="modal" data-target="#delete-approval" matTooltip="Reject"><i class="fa fa-remove"></i></button> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                      </div>
                      <div class="text-center m-t-10" *ngIf="totalpagecount > 10">
                          <pagination [totalItems]="totalpagecount" [(ngModel)]="pageInfo.pageNumber"
                              (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                              [maxSize]="10">
                          </pagination>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="paymentPurchase">
                      <div class="row">
                          <div class="col-md-3 search-box">
                              <mat-form-field>
                                <input type="text" matInput placeholder="Search Payee Name" (keyup.enter)="onSearchPayee('payment')" [(ngModel)]="paymentPayee">
                                <button mat-button matSuffix mat-icon-button aria-label="Search Payee" (click)="onSearchPayee('payment')">
                                  <i aria-hidden="true" class="fa fa-search"></i>
                                </button>
                              </mat-form-field>
                            </div>
                          <div class="status col-md-3">
                              <mat-form-field>
                                  <mat-label>Payment Status</mat-label>
                                  <mat-select [(ngModel)]="paymentStatus" (change)="statusPaymentDropDown($event.value)">
                                    <mat-option>Select</mat-option>
                                    <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                                      {{status.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                          </div>
                        <div class="col-md-12 m-t-10">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped fixed_header payment-tb" sortable-table (sorted)="onSortedPayment($event)">
                                      <thead>
                                        <tr>
                                          <th>Authorization ID</th>
                                          <th>Service Request ID</th>
                                          <th>Category Code</th>
                                          <th>Request Date</th>
                                          <th sortable-column="payee">Payee Name</th>
                                          <th>Cost Not To Exceed</th>
                                          <th>Actual Cost</th>
                                          <th>Status</th>
                                          <th>Payment Approved Date</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody *ngIf="payableApproval">
                                        <tr *ngFor="let payment of payableApproval">
                                          <td>{{payment.authorization_id}}</td>
                                          <td>{{payment.service_log_id}}</td>
                                          <td>{{payment.fiscal_category_desc}}({{payment.fiscal_category_cd}})</td>
                                          <td>{{payment.request_date | date: 'MM/dd/yyyy'}}</td>
                                          <td>{{payment.payee}}</td>
                                          <td>{{payment.cost_no | cjamsCurrency}}</td>
                                          <td>{{(payment?.amount_no ? payment?.amount_no : '0.00') | cjamsCurrency}}</td>
                                          <td>{{payment.remarks}}</td>
                                          <td>{{payment.payment_approval_dt | date: 'MM/dd/yyyy'}}</td>
                                          <td>
                                            <button class="open-link no-bg" type="button" matTooltip="Payment Approval Redirect" (click)="reDirectToPayment(payment)"><i class="open-link fa fa-external-link"></i></button>
                                            <!-- <button type="button" data-toggle="modal" data-target="#delete-approval" matTooltip="Reject"><i class="fa fa-remove"></i></button> -->
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="text-center m-t-10" *ngIf="totalcount > 10">
                                        <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                                            (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                            [maxSize]="10">
                                        </pagination>
                                    </div>
                              </div>
                            </div>
                        </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
</div>

