.box-grid-main {
    margin: 10px 0px;
}

.table-theme tr {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.inner-tb thead tr th {
    background: #AEBED6;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.theme-col {
    color: #00A2FD !important;
}