<div class="modal fade" id="fiscal-audit">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Fiscal Audit Trail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h4-title">Change History</div>
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Transaction Type</th>
                                        <th>Begin Date</th>
                                        <th>Entry Time</th>
                                        <th>End Date</th>
                                        <th>Exit Time</th>
                                        <th>Exit Type</th>
                                        <th>Exit Reason</th>
                                        <th>Requested By</th>
                                        <th>Local Department</th>
                                        <th>Requested Date</th>
                                        <th>Approved By</th>
                                        <th>Approval Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let history of service?.changehistory">
                                        <td>{{history.transation_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.transation_type}}</td>
                                        <td>{{history.entry_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.entry_tm}}</td>
                                        <td>{{history.exit_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.exit_tm}}</td>
                                        <td>{{history.exit_type}}</td>
                                        <td>{{history.exit_reason}}</td>
                                        <td>{{history.requested_user}}</td>
                                        <td>{{history.local_dept}}</td>
                                        <td>{{history.request_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.accepted_user}}</td>
                                        <td>{{history.accept_dt | date:'M/d/yyyy'}}</td>
                                    </tr>
                                    <tr *ngIf="!service?.changehistory.length">
                                        <td colspan="12" style="text-align: center !important;">No History Found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-t-30">
                        <div class="h4-title">Financial Events</div>
                        <div class="h5-title m-t-10">Placement Validations</div>
                        <div class="row">
                            <div class="col-md-12 m-t-20">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Validation Month/Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let history of service?.changehistory">
                                                <td>{{history.validation_month}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-30">
                                <div class="h5-title">Overpayments</div>
                                <div class="table-responsive table-theme m-t-20">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Receivable Detail ID</th>
                                                <th>Date Identified</th>
                                                <th>Client Name</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Overpayment Amount</th>
                                                <th>Balance</th>
                                                <th>A/R Status</th>
                                                <th>Provider ID</th>
                                                <th>Provider Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let overpaymentvalue of service?.overpaymentvalue">
                                                <td>{{overpaymentvalue.receivable_detail_id}}</td>
                                                <td>{{overpaymentvalue.receivable_ts | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{overpaymentvalue.clientname}}</td>
                                                <td>{{overpaymentvalue.start_dt | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{overpaymentvalue.end_dt | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{(overpaymentvalue.amount_no ? overpaymentvalue.amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{(overpaymentvalue.receivable_balance_no ? overpaymentvalue.receivable_balance_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{overpaymentvalue.arstatus}}</td>
                                                <td>{{overpaymentvalue.provider_id}}</td>
                                                <td>{{overpaymentvalue.providername}}</td>
                                            </tr>
                                            <tr *ngIf="service?.overpaymentvalue?.length === 0">
                                                <td colspan="10" style="text-align: center !important;">No Overpayments Found.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-30">
                                <div class="h5-title">Adjustment Payments</div>
                                <div class="table-responsive table-theme m-t-20">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Payment ID</th>
                                                <th>Payment Detail ID</th>
                                                <th>Category Code</th>
                                                <th>Service/Placement Structure</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Gross Amount</th>
                                                <th>Receivable Amount</th>
                                                <th>Net Amount</th>
                                                <th>Provider ID</th>
                                                <th>Provider Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let adjustments of service?.adjustment">
                                                <td>{{adjustments.payment_id}}</td>
                                                <td>{{adjustments.payment_detail_id}}</td>
                                                <td>{{adjustments.fiscal_category_desc}}</td>
                                                <td>{{adjustments.service_nm}}</td>
                                                <td>{{adjustments.final_service_start_dt | date:'M/d/yyyy'}}</td>
                                                <td>{{adjustments.final_service_end_dt | date:'M/d/yyyy'}}</td>
                                                <td>{{(adjustments.gross_amount_no ? adjustments.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{(adjustments.payment_amount_no ? adjustments.payment_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{((adjustments.gross_amount_no - (adjustments.offset_amount_no ? adjustments.offset_amount_no : 0)))  | cjamsCurrency}}</td>
                                                <td>{{adjustments.provider_id}}</td>
                                                <td>{{adjustments.providername}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sec-btn pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
