<div [hidden]="showAssmnt"  class="tab-content no-shadow">
  <div class="tab-pane fade in active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive table-theme">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <!-- <th>Intake #</th>
                  <th>Case #</th> -->
                  <th>Assessment Title</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody *ngFor="let assessment of items; let assessmentIndex = index">
                <tr [class]="showAssesment === assessmentIndex ? 'bg-active':''">
                  <td colspan="4">
                    <table class="table assessmenttable">
                      <thead>
                        <tr>
                          <!-- <th>Intake #{{assessment.intakenumber}}</th>
                          <th>Case #{{assessment.intakenumber}}</th> -->
                          <th>{{assessment.titleheadertext}}<span class="badgecount" *ngIf="assessment?.intakassessment">{{assessment?.intakassessment?.length}}</span></th>
                          <th>

                            <a data-toggle="modal" data-target="#iframe-popup" data-placement="top" title="start"
                              data-original-title="Start" (click)="startAssessment(assessment)">
                              <span><i class="fa fa-play-circle-o"></i></span>
                            </a>
                            <span class="m-l-30" *ngIf="assessment?.intakassessment"><i class="fa fa-chevron-down"
                                (click)="showAssessment(assessmentIndex, assessment?.intakassessment)" [class]="showAssesment === assessmentIndex ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                aria-hidden="true"></i></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                          <td colspan="5">
                            <table class="table assessmenttablelist">
                              <thead>
                                <tr>
                                  <th>Inatke #</th>
                                  <th>Case #</th>
                                  <th>ASSESSMENT</th>
                                  <th>UPDATED BY</th>
                                  <th>UPDATED DATE</th>
                                  <th>STATUS</th>
                                  <th>Score</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                <tr *ngFor="let data of getAssess">
                                  <td>{{data.intakenumber}}</td>
                                  <td>{{data.servicerequestnumber}}</td>
                                  <td>{{data.titleheadertext}}</td>
                                  <td>{{data.username}}</td>
                                  <td class="dateTime">
                                    <span class="date">{{data.updateddate |
                                      date:'MM/dd/yyyy'}}</span>
                                    <span class="time">{{data.updateddate | date:'h:mm a'}}</span>
                                  </td>
                                  <ng-container [ngSwitch]="isAssmentCompelete(data.submissiondata)">
                                    <td *ngSwitchCase="'1'">Submitted</td>
                                    <td *ngSwitchCase="'2'">Draft</td>
                                    <td *ngSwitchCase="'0'">N/A</td>
                                  </ng-container>
                                  <td>{{data.score}}</td>
                                  <ng-container [ngSwitch]="isAssmentCompelete(data.submissiondata)">
                                    <td *ngSwitchCase="'1'">
                                      <span class="view" data-toggle="modal" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                        data-toggle="modal" title="View" data-placement="top" data-original-title="View"
                                        (click)="submittedAssessment(data)">
                                        <a><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                                      </span>
                                      <span class="print" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                        title="View" data-placement="top" data-original-title="View" (click)="assessmentPrintView(data)">
                                        <a><i class="fa fa-print" aria-hidden="true"></i>Print</a>
                                      </span>
                                    </td>
                                    <td *ngSwitchCase="'2'">
                                      <span class="print" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                        title="View" data-placement="top" data-original-title="View" (click)="updateAssessment(data)">
                                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i>Edit</a>
                                      </span>
                                    </td>
                                  </ng-container>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="items.length ===0">
                <tr >
                  <td colspan="4">No Records found</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
              <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!showAssmnt">
  <div class="row">
      <div class="col-sm-12 text-right btns-top pad-vspace">
          <button class="btn-pri" (click)="redirectToAssessment()">
              Back to Assessments</button>
      </div>
  </div>
  <div id="assessmentForm"></div>

  <div class="row" style="display:none">
      <div class="col">
          <div id="divPrintView"></div>
      </div>
  </div>
</div>
