
.mat-header-row {
    min-height: 42px;
}
.example-container {
    overflow: auto;
    height: -moz-calc(100% - 106px);
    height: -webkit-calc(100% - 106px);
    height: -o-calc(100% - 106px);
    height: calc(100% - 106px);
}
table {
    width: 100%;
}
.mat-header-row {
    background: #AEBED6 !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #000000 !important;
    text-align: left !important; 
    font-weight: bold !important;
}
.mat-header-cell {
    color: #000000 !important;
    font-weight: 600 !important;
}
.mat-row:nth-child(even){
    background-color:#f9f9f9;
}
.mat-row:nth-child(odd){
    background-color:white;
}
.mat-progress-spinner svg {
    width: 20px !important;
    height: 20px !important;
}
.mat-cell a {
    color:  #00A2FD !important;
}
.mydsds-action {
    height: 398px;
}
