<div class="dashboard-wrap no-pad">
  <div class="container-fluid">
    <div *ngIf="teamtypekey!=LDSS" class="row">
      <div class="col-md-12">
        <div class="dropdown pull-right" style="padding:0 0 0 5px">
          <button class="btn btn-primary" data-toggle="dropdown">
            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; ADD
          </button>
          <ul aria-labelledby="dLabel" class="dropdown-menu user-dropdown-menu" style="top:31px;">
            <li *ngFor="let item of dashboardMain">
              <a>
                <label class="control zero pad-rht15 control--checkbox mb-10"
                  (change)=showWidget($event.target.checked,item)>{{item.title}}
                  <input type="checkbox" name="openStatus" [checked]="item.show" />
                  <div class="control__indicator"></div>
                </label>
              </a>

            </li>
          </ul>
        </div>

        <button class="btn btn-primary pull-right" (click)="restoreWidgets()">
          <i class="fa fa-refresh" aria-hidden="true"></i> &nbsp; RESTORE WIDGETS
        </button>
      </div>
    </div>
  </div>
  <div class="dashboard-inner mt-0">
    <div class="container-fluid">
      <div *ngIf="teamtypekey!=LDSS" class="row">
        <dashboard-restorewidgets></dashboard-restorewidgets>
      </div>
      <div class="dashboard-inner mt0">
        <gridster [options]="options" *ngIf="!remove" style="background: white">
          <gridster-item [item]="item" *ngFor="let item of dashboardWidget">
            <div>
              <div class="row drag-handler" style="margin:0px;">
                <span
                  style="color: #00A2FD; font-weight: bold; font-size:14px; float: left; padding:5px;">{{item.title}}</span>
                <div class="dropdown pull-right" style="padding:5px ;display:none;">
                  <img src="assets/images/dashboard-menu-icon.png" data-toggle="dropdown">
                  <ul aria-labelledby="dLabel" class="dropdown-menu user-dropdown-menu">
                    <li>
                      <a (mousedown)="refreshItem(item)" (touchstart)="removeItem(item)" matTooltip="Remove">
                        Refresh
                      </a>
                    </li>
                    <li>
                      <a (mousedown)="removeItem(item)" (touchstart)="removeItem(item)" matTooltip="Remove">
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="gridster-item-content">
                <ndc-dynamic [ndcDynamicComponent]="item.component" [ndcDynamicInputs]="item.input"></ndc-dynamic>
              </div>
            </div>
          </gridster-item>
        </gridster>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="broadcoastmessage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="acceptAnnouncement()">×</button>
        <h4 class="modal-title bc-pop-title"> BroadCast Message </h4>
      </div>
      <div class="modal-body" *ngIf="showBroadCostMessage; let item">
        <p> {{item.details}} </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" (click)="acceptAnnouncement()">
            Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in modal-theme" id="application-assign" role="dialog" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAssignment()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Assign</h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25">
          <div class="tab-content boxgrid">
            <div class="tab-pane active" id="caseassign-caseworker">
              <div class="">
                <div class="bs-example">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>NAME</th>
                        <th>ZIP CODE</th>
                        <th>TYPE OF WORKER</th>
                        <th>UNIT</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="assignUsersList; let getlist">
                      <ng-container *ngIf="getlist.length>0; else noItems">
                        <tr *ngFor="let item of getlist">
                          <td>
                            <label class="control control--radio">
                              <input type="radio" name="Address" (click)="selectPerson(item)">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>{{item.username}} </td>
                          <td>{{item.homelocationcode}}</td>
                          <td>{{item.roledesc}}</td>
                          <td>{{item.teamname}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <ng-template #noItems>No Items!</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="assignNewUser()">ASSIGN</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in modal-theme" id="reopen-application" role="dialog" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeReAssignment()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Re-Assign</h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25">
          <div class="tab-content boxgrid">
            <div class="tab-pane active" id="caseassign-caseworker">
              <div class="">
                <div class="bs-example">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>NAME</th>
                        <th>ZIP CODE</th>
                        <th>TYPE OF WORKER</th>
                        <th>UNIT</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reassignUsersList; let getlist">
                      <ng-container *ngIf="getlist.length>0; else noItems">
                        <tr *ngFor="let item of getlist">
                          <td>
                            <label class="control control--radio">
                              <input type="radio" name="Address" (click)="selectSupervisor(item)">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>{{item.username}} </td>
                          <td>{{item.homelocationcode}}</td>
                          <td>{{item.roledesc}}</td>
                          <td>{{item.teamname}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <ng-template #noItems>No Items!</ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-pri" (click)="assignToSupervisor()">ASSIGN</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="comment-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button" (click)="resetComment()">×</button>
                <h4 class="modal-title"> Comments </h4>
            </div>
            <div class="modal-body">
                <div [safeHtml]="commentInfo"></div>
                <div class="text-right">
                    <button class="btn btn-default" data-dismiss="modal" (click)="resetComment()" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>