.customTable.innerTable > thead {
    background: #AEBED6;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.firsttable th:last-child,
.firsttable td:last-child {
    width: 50px;
}

.fin-h3 {
    font-size: 20px;
    font-weight: 600;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
}

.action-btn button {
    color:#039be5;
    font-size: 16px;
    padding-right: 0px;
    outline: none;
    background: transparent;
    border: none;
}

.action-btn i:before {
    color:#039be5;
    font-size: 16px;
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.action-btn .fnt-sze i::before {
    font-size: 25px;
}