<div class="tab-content active">
  <div class="row">
    <div class="col-sm-8">
      <h4>Decision</h4>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn btn-theme btn-pri m-t-10" [disabled]="isViewOnly" data-toggle="modal"
       (click)="openDecision()" data-target="#add-decision">DECISION</button>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="col-sm-12">
      <div class="table-responsive table-theme">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>User</th>
              <th>Assinged To</th>
              <th>Comments</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of decisonHistory">
              <td>{{item.insertedon | date: 'MM/dd/yyyy h:mm a'}} </td>
              <td>{{item.status}}</td>
              <td>{{item.fromusename}}</td>
              <td>{{item.tousername}}</td>
              <td>{{item.remarks}}</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="add-decision">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"  data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title"> Decision</h4>
      </div>
      <div class="modal-body">
        <div class="row" [formGroup]="decisionForm">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-select placeholder="Status" formControlName="status" required  (change)="onStatusChange($event)">
                <mat-option *ngFor="let item of decisons" [value]="item.eventcode">{{item.displayName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="onForwardToOther">
            <div class="col-sm-6">

              <mat-form-field>
                <mat-select placeholder="Agency" [required]="onForwardToOther" formControlName="agency" >
                  <mat-option *ngFor="let item of agencyList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="agencyEmail"  />

              </mat-form-field>
            </div>
          </ng-container>
          <div class="col-sm-12">
            <mat-form-field>
              <textarea matInput rows='10' placeholder="Narrative" formControlName="comments" required ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <common-date-picker disabled formControlName="date"  placeholder="Date" ></common-date-picker>
          </div>
          <div class="col-md-12 "><h4 class="required">e-signature : </h4></div>
          <div class="col-md-12 text-center" *ngIf="!hideSignature">
            
            <signature-field formControlName="signimage"  required></signature-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right m-t-15">
            <button class="btn btn-theme btn-pri" (click)="onSubmitDecison()">{{cmpltSavBtnTxt}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>