<ng-container *ngIf="placement?.placementtypekey === 'LA'; else elseTemplate">
    {{placement?.address1}}<span *ngIf="placement?.address2">, </span>{{placement?.address2}}
    <span *ngIf="placement?.cityname">, </span>{{placement?.cityname}}
    <span *ngIf="placement?.county">, </span>{{placement?.county}}
    <span *ngIf="placement?.statename">, </span>{{placement?.statename}}
    <span *ngIf="placement?.zipcode">, </span>{{placement?.zipcode}}
</ng-container>
<ng-template #elseTemplate>
       {{placement?.providerdetails?.address}}
</ng-template>