<form onSubmit="return false;" [formGroup]="personFormGroup">
    <div class="left-side-box space-15 textLeft">
        <h4> Person Filters </h4>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> First Name </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="First Name" name="firatname" formControlName="firstname">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Last Name </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="Last Name" name="lastname" formControlName="lastname">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <label class="control control--checkbox">
                    Dangerous
                    <input type="checkbox" name="dangerous" formControlName="dangerous">
                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>
        <div class="sep-top-blue ver-mspace bot-space"> </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for=""> Gender </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10 ">
                    <ng-select [searchable]="true" [clearable]="false" name="gender" formControlName="gender">
                        <ng-option value="">select</ng-option>
                        <ng-option *ngFor="let gender of genderDropdownItems$ | async| orderBy:'text'" [value]="gender.value">{{gender.text}}</ng-option>

                    </ng-select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for=""> Race </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10 ">
                    <ng-select [searchable]="true" [clearable]="false" name="race" formControlName="race">
                        <ng-option value="">select</ng-option>
                        <ng-option *ngFor="let race of raceDropdownItems$ | async| orderBy:'text'" [value]="race.value">{{race.text}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="sep-top-blue ver-mspace bot-space"> </div>
        <h4>Date of Birth</h4>
        <div class="row dd-overflow-inherit">
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for="">From </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <div class="fm-box-form ">
                        <input type="text" class="form-control fm-style w-date" placeholder="MM/DD/YYYY" name="dobfrom" formControlName="dobfrom"
                            a2e-datetimepicker [options]="{ format: 'MM/DD/YYYY',useCurrent:false, maxDate: null }" validdate>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for="">To </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <div class="fm-box-form ">
                        <input type="text" class="form-control fm-style w-date" placeholder="MM/DD/YYYY" name="dobto" formControlName="dobto" bsDatepicker
                            a2e-datetimepicker [options]="{ format: 'MM/DD/YYYY',useCurrent:false, maxDate: null, widgetPositioning: {horizontal: 'right'}}" validdate>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <small class="text-danger" *ngIf="personFormGroup.hasError('notValid')">From date is greater than To date</small>
        </div>
        <div class="sep-top-blue ver-mspace bot-space"> </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for=""> SSN </label>
                </div>
                <div class="col-md-12 mb-10">
                    <input type="text" class="form-control" placeholder="SSN" name="ssn" formControlName="ssn">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <label for=""> DCN </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mb-10">
                    <input type="text" class="form-control" placeholder="DCN" name="dcn" formControlName="dcn">
                </div>
            </div>
        </div>
        <div class="sep-top-blue ver-mspace bot-space"> </div>
        <h4>Location </h4>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Address </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="Address" name="address" formControlName="address">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> City </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="City" name="city" formControlName="city">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> ZipCode </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="ZipCode" name="zip" formControlName="zip">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> County </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" name="county" formControlName="county">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let county of countyDropdownItems$| async| orderBy:'text'" [value]="county.value">{{county.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Region </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" name="region" formControlName="region">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let region of regionDropdownItems$ | async| orderBy:'text'" [value]="region.value">{{region.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Phone Number </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="Phone No" name="phone" formControlName="phone">
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-bg" (click)="clearSearch()"> CLEAR </button>
            <button class="btn btn-pri" (click)="searchPerson(1)"> GO </button>
        </div>
    </div>
</form>