<div class="container-fluid">
        <h4 class="mrg-top25">APPROVAL INBOX</h4>
    <div class="dashboard-cont no-pad">
      
      <div class="tab-horizontal mrg-top25 mrg-btm25">
          <ul class="nav nav-pills">
              <li class="active">
                  <a href="#case-on-going" data-toggle="tab" (click)="assignedToSupervisor(1)">CASE PENDING APPROVAL</a>
              </li>
              <li >
                <a href="#/pages/cjams-dashboard/cw-assessment">ASSESSMENTS PENDING APPROVAL</a>
            </li>
            <li class="pull-right m-t-15">
                <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                    <mat-form-field>
                        <mat-select formControlName="securityusersid" placeholder=""  (change)="supervisorChange()">
                            <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control aut-txt-CaseSearch" formControlName="serreqno" (input)="onSearchAssignCase('serreqno', $event.target.value)" placeholder="Search Cases..." />
                </div>
            </li>
          </ul>
          <div class="tab-content boxgrid assign-case">
              <div class="tab-pane active" id="case-on-going">
                  <div class="cnt-min-height">
                      <div class="table-responsive table-theme">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>
                                          CASE NUMBER</th>
                                      <th>INTAKE NUMBER</th>
                                      <th>Head of Household</th>
                                      <th>RECEIVED DATE & TIME</th>
                                      <th>SUBMITTED DATE & TIME</th>
                                      <th>SERVICE TYPE</th>
                                      <th>SERVICE SUB TYPE</th>
                                      <th>event description</th>
                                  </tr>
                              </thead>
                              <tbody *ngIf="reviewToSupervisor; let assignedCase">
                                  <ng-container *ngIf="assignedCase.length>0; else noItems">
                                      <ng-container *ngFor="let item of assignedCase; let groupIndex = index">
                                          <tr>
                                              <td *ngIf="item?.dadetails?.length > 0">
                                                  <a>
                                                      <i (click)="groupShow(groupIndex, item)" [class]="!item.isCollapsed  ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                                      <a>{{item.servicerequestnumber}}</a>
                                                  </a>
                                              </td>
                                              <td *ngIf="!item?.dadetails">
                                                  <a>
                                                      <a (click)="routToCaseWorker(item)" class="aut-lnk-Case">{{item.servicerequestnumber}}</a>
                                                  </a>
                                              </td>
                                              <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span *ngIf="item?.sdm?.length"> <span matTooltip="Child Fatality" *ngIf="item?.sdm[0]?.ischildfatality" class="dot yellow-dot"></span><span matTooltip="Provider Maltreatment" *ngIf="item?.sdm[0]?.ismaltreatment" class="dot blue-dot"></span></span></td>
                                              <td><person-information [persons]="item?.legalguardian"></person-information> </td>
                                              <td>{{item?.reporteddate ? (item?.reporteddate | date:'MM/dd/yyyy hh:mm a') :
                                                  'NA'}}
                                              </td>
                                              <td>{{item?.submitteon ? (item?.submitteon | date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                              </td>
                                              <td>{{item?.servreqtype}}</td>
                                              <td>{{item?.servreqsubtype}}</td>
                                              <td>{{item?.eventdescription}}</td>
                                          </tr>
                                          <ng-container *ngIf="!item.isCollapsed">

                                              <tr class="inner-tbl" *ngIf="item.dadetails">
                                                  <td colspan="6">
                                                      <table>
                                                          <thead>
                                                              <th>case number </th>
                                                              <th>client </th>
                                                              <th>status</th>
                                                              <th>type</th>
                                                          </thead>
                                                          <tr *ngFor="let groupItem of item.dadetails">
                                                              <td>
                                                                  <a (click)="routToCaseWorker(groupItem)">
                                                                      {{groupItem.servicerequestnumber}}</a>
                                                              </td>
                                                              <td>{{groupItem.clientname}} </td>
                                                              <td>{{groupItem.intakeserreqstatustypekey}}</td>
                                                              <td>{{groupItem.intakeservreqtypekey}}</td>
                                                          </tr>
                                                      </table>
                                                  </td>

                                              </tr>
                                          </ng-container>
                                      </ng-container>
                                  </ng-container>
                              </tbody>
                          </table>
                          <ng-template #noItems>
                              <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center" *ngIf="totalRecordsSupervisor">
                              <pagination [totalItems]="totalRecordsSupervisor" [(ngModel)]="onGoingPaginationInfo.pageNumber" (pageChanged)="onGoingPageChanged($event)"
                                  class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="onGoingPaginationInfo.pageSize"></pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Route Case</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="active">
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                      </li>
                      <li>
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>
                                              <th *ngIf="!isSupervisor">CASE LOAD</th>
                                              <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                              <th *ngIf="!isSupervisor">ZIP CODE</th>
                                              <th *ngIf="isSupervisor">AGENCY</th>
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                              <th>Total Cases</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectPerson(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>
                                                  <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                                                  <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                                  <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>                                   
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-12 clsIntake dpnew m-t-10" *ngIf="isCPSAR">
                      <h4 class="m-b-20"> Responsibility:</h4>
                      <div class="row">
                          <div class="col-sm-2" *ngFor="let type of responsibilityTypeDropdownItems$ | async">
                              <label class="control control--radio" style="display: inline">
                                      <input type="radio" name="responsibilityType" (click)="selectResponsibilityType(type.value)">
                                      <div class="control__indicator"></div>
                              </label>
                              {{type.text}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="assignUser()">ASSIGN</button>
          </div>
      </div>
  </div>
</div>