<div class="modal fade custom-modal" id="investigation-summary" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false"  [fieldKey]="'caseworker-disposition-investigation-summary-save'">

    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"> Investigation Summary Preview </h4>
            </div>
            <div class="modal-body">
                <div class="text-right big-bot-space right-mspace-15">
                    <button class="btn-pri" type="button" (click)="downloadCasePdf('investigation-summary')">Download</button>
                </div>
                <div class="pdf-page sizeA4 page-paddings">
                    <div class="service-form">
                        <table>
                            <tr>
                                <td class="text-center">
                                    <h4>Investigation Summary</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="component">
                                        <div class="section-header">
                                            Investigation Summary
                                        </div>
                                        <div class="row section-body">
                                            <div class="col-sm-6 section-lable">
                                                Date of generation of Investigation Summary:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{currentDate | date:'MM/dd/yyyy'}}
                                            </div>
                                            <div class="col-sm-6 section-lable">
                                                Caseworker Name:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.caseworkername}}
                                            </div>
                                        </div>
                                        <div class="row section-body">
                                            <div class="col-sm-6 section-lable">
                                                Supervisor Name:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.supervisorname}}
                                            </div>
                                            <div class="col-sm-6 section-lable">
                                                Jurisdiction:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.caseworkercounty}}
                                            </div>
                                        </div>
                                        <div class="row section-body">
                                            <div class="col-sm-6 section-lable">
                                                LDSS Office Address :
                                            </div>
                                            <div class="col-sm- section-value">
                                                {{generalSummary?.caseworkercounty}}
                                            </div>
                                            <div class="col-sm-6 section-lable">
                                                Case ID Number:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.servicerequestnumber}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="component">
                                        <div class="section-header">
                                            Intake Worker Info
                                        </div>
                                        <div class="row section-body">
                                            <div class="col-sm-6 section-lable">
                                                Date of Intake Worker Narrative:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.reporteddate | date:'MM/dd/yyyy'}}
                                            </div>
                                            <div class="col-sm-6 section-lable">
                                                Intake worker Narrative:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                <div [safeHtml]="generalSummary?.narrative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row section-body">
                                            <div class="col-sm-6 section-lable">
                                                CPS IR / AR:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.actiontype}}
                                            </div>
                                            <div class="col-sm-6 section-lable">
                                                Date of SDM:
                                            </div>
                                            <div class="col-sm-6 section-value">
                                                {{generalSummary?.sdmdate | date:'MM/dd/yyyy'}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class=" mrg-top25">
                            <div class="panel panel-default" *ngFor="let maltreater of investigationSummary?.maltreatment">
                                <div class="panel-heading">
                                    {{maltreater?.personname}}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                <strong> Address of Victim:</strong> {{maltreater?.address}}</p>
                                            <p>
                                                <strong>Date of Birth :</strong> {{maltreater?.dob |
                                                date:'MM/dd/yyyy'}}
                                            </p>
                                            <p>
                                                <strong>Gender:</strong> {{maltreater?.gendertypekey ==='M'? 'Male':
                                                (maltreater?.gendertypekey
                                                ==='F'? 'Female': 'Unknown')}}</p>
                                        </div>
                                    </div>

                                    <div class="row mrg-top15" *ngFor="let investigationAllegationItem of maltreater?.investigationallegation">
                                        <div class="component" *ngFor="let maltreatorItem of investigationAllegationItem?.maltreators">
                                            <div class="section-header">
                                                {{investigationAllegationItem?.name}}
                                            </div>
                                            <div class="row section-body">
                                                <div class="col-sm-3 section-lable">
                                                    Maltreator Name :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{maltreatorItem?.personname}}
                                                </div>
                                                <div class="col-sm-3 section-lable">
                                                    Date of Birth :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{maltreatorItem?.dob | date:'MM/dd/yyyy'}}
                                                </div>
                                                <div class="col-sm-3 section-lable">
                                                    Role :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{maltreatorItem?.role}}
                                                </div>
                                                <div class="col-sm-3 section-lable">
                                                    Relationship to Child :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{maltreatorItem?.relationship}}
                                                </div>
                                                <div class="col-sm-3 section-lable">
                                                    Location of Maltreatment :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{maltreater?.incidentlocation}}
                                                </div>

                                                <div class="col-sm-3 section-lable">
                                                    Date of Maltreatment :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{investigationAllegationItem?.incidentdate | date:'MM/dd/yyyy'}}
                                                </div>
                                                <div class="col-sm-3 section-lable">
                                                    Investigation Findings :
                                                </div>
                                                <div class="col-sm-3 section-value">
                                                    {{investigationAllegationItem?.findings}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row  mrg-top15">
                                            <div class="col-sm-4">
                                                <div class="panel panel-default ">
                                                    <div class="panel-heading">
                                                        Injury Characteristics
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul *ngFor="let injurycharactersticstypeItem of investigationAllegationItem?.injurycharactersticstype">

                                                            <li>{{injurycharactersticstypeItem?.injurycharacterstics }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        Bodily Injury Locations
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul *ngFor="let injuryTypeItem of investigationAllegationItem?.injurytype">

                                                            <li>{{injuryTypeItem?.injury}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        Maltreatment Characterstics
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul *ngFor="let maltreatmentCharactersticTypeItem of investigationAllegationItem?.maltreatmentcharactersticstypekey">

                                                            <li>{{maltreatmentCharactersticTypeItem?.characterstics}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row mrg-top15">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Assessments
                                </div>
                                <div class="panel-body" *ngFor="let assessment of assessmentSummary">
                                    <h6>{{assessment?.titleheadertext}}</h6>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th> Date Done </th>
                                            <!-- <td> Outcome</td> -->
                                            <th> Supervisor Approval Status</th>
                                            <th> Approved Date</th>
                                        </tr>
                                        <tr>

                                            <!-- <td> {{assessment}}</td> -->
                                            <td>{{assessment?.insertedon | date:'MM/dd/yyyy'}}</td>
                                            <td>{{assessment?.assessmentstatustypekey}}</td>
                                            <td>{{assessment?.updatedon | date:'MM/dd/yyyy' }}</td>
                                        </tr>
                                    </table>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-top15" *ngFor="let childRemoval of childRemovalSummary; let i = index">
                            <div class="component">
                                <div class="section-header">
                                    Child Removal for Child {{i + 1}}
                                </div>
                                <div class="row section-body">
                                    <div class="col-sm-6 section-lable">
                                        Date when child 1 was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        {{childRemoval?.insertedon | date:'MM/dd/yyyy' }}
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Reason for child removal :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        <ul style="padding-left: 15px;">
                                            <li *ngFor="let reason of childRemoval.reason">{{reason?.description}}</li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        From whom the child was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        {{childRemoval?.removedfrom}}
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Address from the where the child was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        {{childRemoval?.address}}
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Notification sent to Supervisor, Parents, Other :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        <!-- <input type="radio" name="Notification" value="yes"> Yes
                                        <input type="radio" name="Notification" value="no"> No -->
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row mrg-top15">
                            <div class="component">
                                <div class="section-header">
                                    Child Removal for Child 2
                                </div>
                                <div class="row section-body">
                                    <div class="col-sm-6 section-lable">
                                        Date when child 1 was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        12/09/1978
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Reason for child removal :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        From whom the child was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        Intake
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Address from the where the child was removed :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        including zipcode
                                    </div>
                                    <div class="col-sm-6 section-lable">
                                        Notification sent to Supervisor, Parents, Other :
                                    </div>
                                    <div class="col-sm-6 section-value">
                                        <input type="radio" name="Notification" value="yes"> Yes
                                        <input type="radio" name="Notification" value="no"> No
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>