<div class="tab-content active">
  <div class="row">
    <div class="col-sm-8">
      <h4>Deficiency/Violation</h4>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn btn-theme btn-pri m-t-10" (click)="addDeficiency()" [disabled]="isViewOnly">ADD</button>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="col-sm-12">
      <div class="table-responsive table-theme">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>CAP Number</th>
              <th>Deficiency/Violation</th>
              <th>Citation</th>
              <th>Comment</th>
              <th>Frequency of Deficiency</th>
              <th>Impact of Deficiency</th>
              <th>Scope of Deficiency</th>
              <th>Findings</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="deficiencyList.length; else elseTemplate">
                <tr *ngFor="let item of deficiencyList">
                    <td>{{item?.cap_number}}</td>
                    <td>{{item?.deficiency_violationname}}</td>
                    <td>{{item?.citation}}</td>
                    <td>{{item?.comments}}</td>
                    <td>{{item?.frequencyofdeficiency}}</td>
                    <td>{{item?.impactofdeficiency}}</td>
                    <td>{{item?.scopeofdeficiency}}</td>
                    <td>{{item?.findings}}</td>
                    <!-- <td>
                      <a class="m-r-5" (click)="editDeficiency(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="m-r-5"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td> -->
                  </tr>
            </ng-container>
            <ng-template #elseTemplate>
              <tr>
                <td colspan="7">No Records found</td>
              </tr>
              
            </ng-template>
            
            <ng-container ></ng-container>
           
            
          </tbody>
        </table>
      </div>
    </div>
  </div>    
  
  <!-- <div class="row  m-t-30">
   
    <div class="col-sm-offset-8 col-sm-4 text-right">
      <button class="btn btn-theme btn-pri" *ngIf="deficiencyList.length;" [disabled]="isViewOnly" (click)="sendCAPNotification()">SEND CAP NOTIFICATIONS</button>
    </div>
  </div> -->
</div>
<div class="modal fade in" id="add-deficiency">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
          <div class="modal-header">
              <button class="close" data-dismiss="modal" type="button">×</button>
              <h4 class="modal-title"> Add Deficiency/Violation</h4>
          </div>
          <div class="modal-body" [formGroup]="deficiencyForm">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select formControlName="deficiency_violationname"  required  placeholder="Deficiency/Violation">
                    <mat-option *ngFor="let item of defciencyOrViloations" [value] = "item.value_text">{{item.description}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput formControlName="citation" 
                  [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"  placeholder="Citation">
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput formControlName="comments" [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"  placeholder="Comment">
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select formControlName="frequencyofdeficiency" [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"   placeholder="Frequency of Deficiency">
                    <mat-option *ngFor="let item of defciencyFrequency" [value] = "item.value">{{item.text}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select formControlName="impactofdeficiency" [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"  placeholder="Impact of Deficiency">
                    <mat-option *ngFor="let item of defciencyImpacts" [value] = "item.value">{{item.text}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-select formControlName="scopeofdeficiency" [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"   placeholder="Scope of Deficiency">
                    <mat-option *ngFor="let item of defciencyScopes" [value] = "item.value">{{item.text}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput formControlName="findings" [required]="deficiencyForm.getRawValue().deficiency_violationname !== 'No Deficiencies'"  placeholder="Findings">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right m-t-15">
                <button class="btn btn-theme btn-pri" (click)="addUpdate()">Save</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>