.tab-content {
    padding: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 300px;
    background: #fff;
}
.modal-header {
    padding: 10px 15px;
}
h4.modal-title {
    font-weight: 600;
    font-size: 19px;
    margin: 0px;
}
.close {
    float: right;
    font-size: 18px;
    opacity: 0.6;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.contact-note thead tr th {
    width:150px;
}
.contact-note thead tr th:last-child {
    width:400px;
}
i {
    font-size: 18px;
    font-weight: 500;
}