h5 {
    background: #dde5ea;
    font-weight: 600;
    padding: 10px;
}
.nav-tabs>li {
    float: none;
}
.nav-tabs li a {
    padding:12px 15px;
}
.nav-tabs > li.active > a {
    background-color:#00A2FD;
    color:#fff;
}
.nav-tabs > li a:after {
    background-color:transparent;
    height:0;
}
.nav {
    border:none;
    background: #fbfbfb;
}
.tab-content {
    padding: 5px 0;
    min-height: 530px;
}
.tab-content {
    box-shadow: 0 0 5px #e5e5e5;
}