<div class="row form-wrapper header-referral p-t-10 p-b-10">
  <div class="col-sm-2">
    <label>TRAINING NUMBER</label>
    <p>{{trainingDetails?.training_number}}</p>
  </div>
  <div class="col-sm-2">
    <label>TYPE</label>
    <p>{{trainingDetails?.training_type}}</p>
  </div>
  <div class="col-sm-8">
    <label>TOPIC</label>
    <p>{{trainingDetails?.training_topic}}</p>
  </div>

</div>

<div class="row form-wrapper header-referral p-t-10 p-b-10">
  <div class="col-sm-2">
    <label>DATE</label>
    <p>{{trainingDetails?.training_date | date:'MM/dd/yyyy'}}</p>
  </div>
  <div class="col-sm-2">
    <label>TIME</label>
    <p>{{trainingDetails?.start_datetime | date:'h:mm a'}} - {{trainingDetails?.end_datetime | date:'h:mm a'}}</p>
  </div>
  <div class="col-sm-2">
    <label>DURATION</label>
    <p *ngIf="trainingDetails?.duration==1">{{trainingDetails?.duration}} hour</p>
    <p *ngIf="trainingDetails?.duration>1">{{trainingDetails?.duration}} hours</p>
  </div>
</div>


