<div class="container-fluid">
  <h4 class="mrg-top25"><span *ngIf="isATDWorker">Intake ATD Placement</span></h4>
  <h4 class="mrg-top25"><span *ngIf="!isATDWorker">Intake Detention Placement</span></h4>
  <div class="dashboard-cont no-pad">
    <div class="tab-horizontal">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#case-pending" data-toggle="tab" (click)="getPage(1, 'pending')">To be Assigned</a>
        </li>
        <li>
          <a href="#case-assigned" data-toggle="tab" (click)="getPage(1,'assigned')">ASSIGNED</a>
        </li>
        <li>
          <a href="#case-accepted" data-toggle="tab" (click)="getPage(1,'closed')">CLOSED</a>
        </li>
        <div class="search-container pull-right">
          <div class="inner-addon right-addon pull-right" [formGroup]="searchIntakeForm">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" *ngIf="isDjs" class="form-control" formControlName="intakenumber"
              (input)="onSearch('intakenumber', $event.target.value)" placeholder="Search Intake" />
          </div>
        </div>
      </ul>
      <div class="tab-content boxgrid">
        <div class="tab-pane active" id="case-pending">
          <div class="cnt-min-height">
            <div class="table-responsive table-theme">
              <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                <thead>
                  <tr>
                    <th sortable-column="intakenumber">Intake#</th>
                    <th>Status</th>
                    <th sortable-column="datereceived">Received Date & Time</th>
                    <th sortable-column="updateddate" sort-direction="desc">Updated Date & Time</th>
                    <th>Youth</th>
                  </tr>
                </thead>

                <tbody *ngIf="intakes; let intakes">
                  <ng-container *ngIf="intakes.length>0; else noItems">
                    <tr *ngFor="let item of intakes">
                      <td>
                        <a *ngIf="item?.intakenumber" (click)="openIntake(item)">{{item?.intakenumber}}</a>
                      </td>
                      <td> {{item.reviewstatus}}</td>
                      <td> {{item.datereceived | date:'MM/dd/yyyy, h:mm a':'-0500'}}</td>
                      <td> {{item.updateddate | date:'MM/dd/yyyy, h:mm a':'-0500'}} </td>
                      <td> {{item.raname | titlecase}} </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <ng-template #noItems>
                <p class="no-datatxt"> No Items! </p>
              </ng-template>
              <div class="text-center m-t-20" *ngIf="totalRecords>0">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                  (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                  [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>