
.dd-overflow-inherit .fm-box, .dd-overflow-inherit .fm-box-form{overflow: inherit !important;}
// .dd-overflow-inherit .fm-box label{width:35% !important; text-align: left;}
// .dd-overflow-inherit .fm-box-form {overflow: inherit;width: 60%; display: inline-block;}


