<div class="row" *ngIf="!isAddEdit">
  <div class="col-sm-12">
    <div class="add-container" >
      <a (click)='addHospitalization()' [ngClass]="{'pointer-events-none': _personService.getClosed()}">+ Add REPRODUCTIVE HEALTH</a>
    </div>
  </div>
</div>
<div class="row" *ngIf="isAddEdit">
  <div class="col-md-12 " [formGroup]="sexualInfoForm">
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12 m-b-5">
          <p class="required">Sexually Active <label></label></p>
          <mat-radio-group formControlName="sexualactiveflag" required>
            <mat-radio-button class="m-r-10" value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="Unknown">Unknown</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 m-b-5">
          <p class="required">Currently Pregnant<label></label></p>
          <mat-radio-group formControlName="ispregnant" required>
            <mat-radio-button class="m-r-10" value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row pt-20">
        <div class="col-md-12">
          <div class="person-section-header mb-0 pb-10">Pregnancies and Living Children</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput formControlName="childrenno" type="number" min="0" oninput="validity.valid||(value='')" placeholder="Number of Living Children">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <input matInput formControlName="pregnancyno" type="number" min="0" oninput="validity.valid||(value='')" placeholder="Number of Pregnancies">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-select formControlName="sextransdis" (change)="processSTDSpecify()"
              placeholder="Sexually Transmitted Diseases">
              <mat-option *ngFor="let item of sexuallyTransmittedDiseases$ | async" value="{{item.value}}">
                {{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <common-date-picker [max]="maxDate" formControlName="std_treatment_startdate"
            placeholder="STD Date of treatment" [disabled]="dtDisable"></common-date-picker>
        </div>

        <div class="col-sm-12" *ngIf="showSTDSpecify">
          <mat-form-field>
            <textarea matInput formControlName="stdspecify" placeholder="STD Specify "></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-select formControlName="birthcontrol" (change)="processBCMSpecify()"
              placeholder="Birth Control Method">
              <mat-option *ngFor="let item of birthControlMethods$  | async" value="{{item.value}}">
                {{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <common-date-picker [max]="maxDate" formControlName="birthcontroldate" placeholder="Birth Control Date"
            [disabled]="dtDisable"></common-date-picker>
        </div>

        <div class="col-sm-12" *ngIf="showBCMSpecify">
          <mat-form-field>
            <textarea matInput formControlName="bcspecify" placeholder="BCMethod Specify "></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-select formControlName="sexualorientationkey" (change)="processSexaulOrientationpecify()"
              placeholder="Sexual Orientation">
              <mat-option *ngFor="let item of sexualOrientationMethods$  | async" value="{{item.ref_key}}">
                {{item.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6" *ngIf="showSexualOrientationSpecify">
          <mat-form-field>
            <input matInput formControlName="sexualorientationcomments" placeholder="Sexual Orientation Specify">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <mat-select formControlName="genderidentity" (change)="processGenderIdentitySpecify()"
              placeholder="Gender Identity">
              <mat-option *ngFor="let item of genderIdentiyList$  | async" value="{{item.ref_key}}">
                {{item.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6" *ngIf="showGenderIdentitySpecify">
          <mat-form-field>
            <input matInput formControlName="genderidentityspecify" placeholder="Gender Identity Specify">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <input matInput formControlName="sicomments" placeholder="Comments">
          </mat-form-field>
        </div>
      </div>
    </div>

    <document-upload-list [ngClass]="(reportMode === 'edit' && editMode !== true) ? 'view-mode':''" [uploadedFiles]="uploadedFiles" [uploadNumber]="uploadNumber"></document-upload-list>

    <div class="row m-b-20">
      <div class="col-sm-12 ">
        <div class="pull-right">
          <span *ngIf="reportMode === 'add'">
            <button class="btn-pri" type="button" (click)="resetForm()">Cancel</button>
            <button class="btn-pri" (click)="add()"
              [disabled]="sexualInfoForm.pristine || sexualInfoForm.invalid">Add</button>
          </span>
          <span *ngIf="reportMode === 'edit'">
            <button class="btn-pri" *ngIf="editMode === true" (click)="add()"
              [disabled]="sexualInfoForm.pristine || sexualInfoForm.invalid">Update</button>
            <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-12 m-t-20" *ngIf="sexualcw && sexualcw.length>0">
    <div class="table-responsive table-theme table-bordered">
      <table class="table">
        <thead>
          <tr>
            <th>Sexually Active</th>
            <th>Number of Living Children</th>
            <th>Sexually Transmiited Diseases</th>
            <th>Birth Control Method</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sexual of sexualcw; let i=index">
            <td>
              <span [ngSwitch]="sexual.sexualactiveflag">
                <p *ngSwitchCase="1">
                  Yes
                </p>
                <p *ngSwitchCase="0">
                  No
                </p>
                <p *ngSwitchDefault>
                  UnKnown
                </p>
              </span></td>
            <td>{{sexual.childrenno}}</td>
            <td>{{sexual.sextransdisdesc}}</td>
            <td>{{sexual.birthcontroldesc}}</td>
            <td [ngClass]="{'disable-anchor': _personService.getClosed()}">
              <a (click)="view(sexual, i)">
                <i class="fa fa-eye text-16" matTooltip="View"></i>
              </a> |
              <a (click)="edit(sexual, i)" [ngClass]="{'pointer-events-none': _personService.getClosed()}">
                <i class="fa fa-pencil text-16" matTooltip="Edit"></i>
              </a> |
              <a (click)="deleteConfirm(sexual)" [ngClass]="{'pointer-events-none': _personService.getClosed()}">
                <i class="fa fa-trash text-16" matTooltip="Delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this ? </p>

        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" (click)="resetForm()" data-dismiss="modal"> No</button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="delete()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>