
.health-section-list a:hover{
    background: lightgray;
}
.in-active-section {
    border-bottom: 2px solid  lightgray;
    
    &.active-section {
        border-bottom-color: #00A2FD;
        background: lightgray;
    }
}
.section-title {
    color: #00A2FD;
    font-weight: 700;
}
