<div class="col-md-3">
        <mat-card>
            <mat-list dense class="health-section-list">
                <a mat-list-item *ngFor="let healthSection of healthSections" class="health-section-item"
                   [ngClass]="healthSection.name===selectedHealthSection.name ? 'active-section':'in-active-section'"
                   (click)="showHealthSection(healthSection)"> {{healthSection.name}} </a>

        </mat-list>
    </mat-card>
</div>
<div class="col-md-9">
    <mat-card class="section-layout">
        <mat-card-header>
            <mat-card-title class="section-title">
                <h4>{{selectedHealthSection.name | uppercase}}</h4>
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <div [ngSwitch]="selectedHealthSection.id">
                <div *ngSwitchCase="'log'">
                    <person-health-section-log></person-health-section-log>
                </div>
                <div *ngSwitchCase="'physician-information'">
                    <physician-information [healthFormReset$]='healthFormReset$'></physician-information>
                </div>
                <div *ngSwitchCase="'health-insurance-information'">
                    <health-insurance-information></health-insurance-information>
                </div>
                <div *ngSwitchCase="'medication-including-psychotropic'">
                    <medication-including-psychotropic></medication-including-psychotropic>
                </div>
                <div *ngSwitchCase="'health-examination'">
                    <health-examination></health-examination>
                </div>
                <div *ngSwitchCase="'medical-conditions'">
                    <medical-conditions></medical-conditions>
                </div>
                <div *ngSwitchCase="'medical-conditions-cw'">
                    <medical-conditions-cw></medical-conditions-cw>
                </div>
                <div *ngSwitchCase="'behavioral-health-info'">
                    <behavioral-health-info></behavioral-health-info>
                </div>
                <div *ngSwitchCase="'history-of-abuse'">
                    <history-of-abuse></history-of-abuse>
                </div>
                <div *ngSwitchCase="'substance-abuse'">
                    <substance-abuse></substance-abuse>
                </div>
                <div *ngSwitchCase="'examination-cw'">
                    <examination-cw></examination-cw>
                </div>
                <div *ngSwitchCase="'under-5years-cw'">
                    <under-5years-cw></under-5years-cw>
                </div>
                <div *ngSwitchCase="'birth-information-cw'">
                    <birth-information-cw></birth-information-cw>
                </div>
                <div *ngSwitchCase="'sexual-information-cw'">
                        <sexual-information-cw></sexual-information-cw> 
                </div>
                <div *ngSwitchCase="'hospitalization-cw'">
                     <hospitalization-cw></hospitalization-cw> 
                </div>
                <div *ngSwitchCase="'immunization-cw'">
                    <immunization-cw></immunization-cw>
                </div>
                <div *ngSwitchCase="'chronic-cw'">
                    <chronic-cw></chronic-cw>
                </div>
                <div *ngSwitchCase="'allergies-cw'">
                    <allergies-cw></allergies-cw>
                </div>
                <div *ngSwitchCase="'medication-cw'">
                    <medication-cw></medication-cw>
                </div>
                <div *ngSwitchCase="'family-history-cw'">
                    <family-history-cw></family-history-cw>
                </div>

                <div *ngSwitchCase="'provider-dental-information-cw'" class="clearfix">
                    <provider-information-cw [healthFormReset$]='healthFormReset$'></provider-information-cw>
                    <mat-card-title class="section-title">
                        <h4>{{'Dental Information' | uppercase}}</h4>
                    </mat-card-title>
                    <dental-information-cw [healthFormReset$]='healthFormReset$'></dental-information-cw>
                </div>
                <div *ngSwitchCase="'insurance-information-cw'">
                    <insurance-information-cw></insurance-information-cw>

                </div>
                <div *ngSwitchCase="'medication-including-psychotropic-cw'">
                    <medication-including-psychotropic-cw></medication-including-psychotropic-cw>
                </div>
                <div *ngSwitchCase="'behavioral-health-info-cw'">
                    <behavioral-health-info-cw></behavioral-health-info-cw>
                </div>
                <div *ngSwitchCase="'person-disability-cw'">
                        <person-health-disability></person-health-disability>
                    </div>
                <div *ngSwitchDefault class="text-warning" style="height: 450px">

                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
