<form [formGroup]="petitionDetailsForm">
    <div class="row petition-panel">
        <div class="col-sm-12" style="display:none;">
            <mat-checkbox formControlName="petitionfiled"> Petition Filed </mat-checkbox>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
                <input type="text" formControlName="petitionid" matInput placeholder="Petition ID">
            </mat-form-field>
            <mat-form-field>
                <input type="text" formControlName="associatedattorneys" matInput placeholder="Associated Attorneys">
            </mat-form-field>
            <mat-form-field>
                <input type="text" formControlName="complaintid" matInput placeholder="Complaint ID(s)">
            </mat-form-field>
            <mat-form-field>
                <input type="text" formControlName="transferpetitionid" matInput placeholder="Transfer Petition ID">
            </mat-form-field>

        </div>
        <div class="col-md-1"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="DisabledDateCircle">
                        <input matInput (click)="picker.open()" formControlName="hearingdatetime" [matDatepicker]="picker" placeholder="Hearing Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="hearingTime" placeholder="Hearing Time">
                            <mat-option *ngFor="let item of times" value="{{item}}">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="clearfix">
                <mat-select formControlName="hearingtypekey" placeholder="Hearing Type">
                    <mat-option *ngFor="let item of hearingType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <textarea formControlName="hearingnotes" type="text" matInput placeholder="Hearing Notes"></textarea>
            </mat-form-field>
        </div>
    </div>
    <!-- <button class="btn-pri" (click)="submitPetitionDetails()">Complete</button> -->
</form>
