<div class="row">
  <div class="col-sm-6 text-left">
    <h4> Medical Conditions </h4>
  </div>
  <div class="col-sm-6 text-right m-t-20" *ngIf="_personDetailService.isEditable">
    <a class="btn btn-pri" [routerLink]="['../create-edit']">ADD</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="table-responsive table-theme table-bordered">
        <table class="table">
          <thead>
            <tr>
              <th>
                Medical Condition
              </th>
              <th>
                Begin Date
              </th>
              <th>
                End Date
              </th>
              <th>
                Recorded By
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let condition of medicalCondition$ | async; let i=index">
              <td>
                {{condition.medicalconditiontypekey}}
                <!-- <div *ngFor="let medcondtion of condition.medicalcondition; let k = index">
                  <span *ngIf="k < 3">{{medcondtion.medicalconditiontype.description}}</span>
                </div>
                <div *ngIf="(condition.medicalcondition) && condition.medicalcondition.length > 3">
                  <a><span (click)="view(condition.personmedicalconditionid)">more...</span></a>
                </div> -->
              </td>
              <td>{{condition.begindate | date:'MM/dd/yyyy'}}</td>
              <td>{{condition.enddate | date:'MM/dd/yyyy'}}</td>
              <td>{{condition.recordedby}}</td>
              <td>
                <a (click)="view(condition.personmedicalconditionid)">
                  <i class="fa fa-eye text-16"></i>
                </a> 
                <a *ngIf="_personDetailService.isEditable" (click)="edit(condition.personmedicalconditionid)">
                    | <i class="fa fa-pencil text-16"></i>
                </a> 
                <a *ngIf="_personDetailService.isEditable" (click)="showDeletePop(condition.personmedicalconditionid)">
                    | <i class="fa fa-trash text-16"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="(medicalCondition$ | async)?.length === 0">
              <td colspan=5 style="text-align: center !important;">No Records Found.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
        <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
          (pageChanged)="pageChanged($event)" class="pagination-sm m-t-20" [boundaryLinks]="true" [maxSize]="10"
          [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-medcondition-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri " name="" (click)="delete()"> Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>