<div class="container-fluid">
  <div class="dashboard-cont no-pad">
      <h4 class="mrg-top25">APPROVAL CASE</h4>
      <div class="tab-horizontal mrg-top25 mrg-btm25">
          <ul class="nav nav-pills">
                <li >
                        <a href="#/pages/cjams-dashboard/cw-approval">CASE PENDING APPROVAL</a>
                    </li>
              <li class="active">
                  <a href="#case-review" data-toggle="tab" (click)="caseReview(1)">ASSESSMENTS PENDING APPROVAL</a>
              </li>
              <li class="pull-right m-t-15">
                    <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                        <mat-form-field>
                            <mat-select formControlName="securityusersid" placeholder=""  (change)="supervisorChange()">
                                <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" formControlName="serreqno" (input)="onSearchCase('servicerequestnumber', $event.target.value)" placeholder="Search Cases..." />
                    </div>
              </li>
          </ul>
          <div class="tab-content boxgrid assign-case">
              <div class="tab-pane active" id="case-review">
                  <div class="cnt-min-height">
                      <div class="table-responsive table-theme">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>CASE NUMBER</th>
                                      <th>INTAKE NUMBER</th>
                                      <th>Head of Household</th>
                                      <th>SUBMITTED BY</th>
                                      <th>SUBMITTED DATE & TIME</th>
                                      <th>TYPE</th>
                                      <th>SUB TYPE</th>
                                      <th>COMMENTS</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngIf="reviewCases.length>0; else noItems">
                                      <tr *ngFor="let item of reviewCases">
                                          <td>
                                              <a (click)="routeReviewCase(item)">{{item.servicerequestnumber}}</a>
                                          </td>
                                          <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span *ngIf="item?.sdm?.length"> <span matTooltip="Child Fatality" *ngIf="item?.sdm[0]?.ischildfatality" class="dot yellow-dot"></span><span matTooltip="Provider Maltreatment" *ngIf="item?.sdm[0]?.ismaltreatment" class="dot blue-dot"></span></span></td>
                                          <td><person-information [persons]="item?.legalguardian"></person-information></td>
                                          <td>{{item?.assingeduser}} </td>
                                          <td>{{item?.asssignedon ? (item?.asssignedon | date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                          </td>
                                          <td *ngIf="item.appevent === 'ASST'">Assessment</td>
                                          <td *ngIf="item.appevent !== 'ASST'">{{item?.appevent}}</td>
                                          <td>{{(item.typename==='cans-v2')? 'CANS-F' : item.typename}}</td>
                                          <td>{{item?.remarks}}</td>
                                      </tr>
                                  </ng-container>
                              </tbody>
                          </table>
                          <ng-template #noItems>
                              <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center" *ngIf="totalRecordsCaseReview">
                              <pagination [totalItems]="totalRecordsCaseReview" [(ngModel)]="reviewPaginationInfo.pageNumber" (pageChanged)="caseReviewPageChanged($event)"
                                  class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="reviewPaginationInfo.pageSize"></pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Route Case</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="active">
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                      </li>
                      <li>
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>
                                              <th *ngIf="!isSupervisor">CASE LOAD</th>
                                              <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                              <th *ngIf="!isSupervisor">ZIP CODE</th>
                                              <th *ngIf="isSupervisor">AGENCY</th>
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                              <th>Total Cases</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectPerson(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>
                                                  <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                                                  <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                                  <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>                                   
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-sm-12 clsIntake dpnew m-t-10" *ngIf="isCPSAR">
                      <h4 class="m-b-20"> Responsibility:</h4>
                      <div class="row">
                          <div class="col-sm-2" *ngFor="let type of responsibilityTypeDropdownItems$ | async">
                              <label class="control control--radio" style="display: inline">
                                      <input type="radio" name="responsibilityType" (click)="selectResponsibilityType(type.value)">
                                      <div class="control__indicator"></div>
                              </label>
                              {{type.text}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="assignUser()">ASSIGN</button>
          </div>
      </div>
  </div>
</div>