<div class="box-grid">
  <div class="form-letter-tab form-align">
    <div class="row mrg-top25">
      <div class="col-sm-12">
        <h3>Manage Resources</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive big-top-mspace">
          <table class="table table-bordered icon-action">
            <thead>
              <tr>
                <th>Module</th>
                <th>Menu</th>
                <th>Control Type</th>
                <th style="min-width: 300px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let control of controlPermission">
                <td colspan="controlPermission.length">New</td>
                <td colspan="controlPermission.length">Intake</td>
                <td>
                  {{control.name}}
                </td>
                <td>
                  <div *ngIf="control.name === 'Narrative'" class="form-group" [formGroup]="narrativeTooltipForm">
                    <div class="mng-rsce">
                      <input type="text" class="form-control full-width" formControlName="tooltip" placeholder="">
                    </div>
                    <button class="btn-pri" [disabled]="narrativeTooltipForm.invalid || narrativeTooltipForm.pristine" (click)="saveTooltip()">
                      Update </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="add-edit-user-security-profile-popup">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>