<div class="container-fluid">

  <div class="dashboard-cont no-pad">
      <div>
          <h4 class="mrg-top25">ASSIGN REFERRALS</h4>
          <div class="tab-horizontal mrg-top25 mrg-btm25">
              <ul class="nav nav-pills">
                  <li class="active">
                      <a href="#preintake-tobe-assigned" data-toggle="tab" (click)="getPreIntakeSummary(1, 'PREINRU' , false)">To Be Assigned</a>
                  </li>
                  <li>
                      <a href="#preintake-tobe-assigned" data-toggle="tab" (click)="getPreIntakeSummary(1, 'assigned' , true)">Assigned</a>
                  </li>
                  <li>
                      <a href="#preintake-tobe-assigned" data-toggle="tab" (click)="getPreIntakeSummary(1, 'rejected' , true)">Denied</a>
                  </li>
                  <div class="search-container pull-right">
                      <div class="inner-addon right-addon" [formGroup]="preIntakeForm">
                          <i class="glyphicon glyphicon-search"></i>
                          <input type="text" class="form-control" formControlName="intakenumber" (input)="onSearchPreIntake('intakenumber', $event.target.value)"
                              placeholder="Search Cases..." />
                      </div>
                  </div>
              </ul>
              <div class="tab-content boxgrid">
                  <div class="tab-pane active" id="preintake-tobe-assigned">
                      <div class="cnt-min-height">
                          <div class="bsm-table table-responsive table-theme">
                              <table class="table table-striped" sortable-table (sorted)="onSortedPreIntake($event)">
                                  <thead>
                                      <tr>
                                          <th *ngIf="isDjs">Youth</th>
                                          <th *ngIf="isDjs">CJAMS PID</th>
                                          <th sortable-column="intakenumber" sort-direction="desc">Referral Number</th>
                                          <th *ngIf="!ispreIntake" sortable-column="cruworkername">Submitted by</th>
                                          <th *ngIf="ispreIntake" sortable-column="cruworkername">ASSIGNED TO</th>
                                          <th sortable-column="datereceived">Received Date</th>
                                          <th>Submitted Date</th>
                                          <!-- <th *ngIf="!ispreIntake">Action</th> -->
                                      </tr>
                                  </thead>
                                  <tbody *ngIf="preIntakeSummary;let preintake">
                                      <ng-container *ngIf="preintake.length>0; else noItems">
                                          <tr *ngFor="let data of preintake">
                                              <td *ngIf="isDjs">
                                                    <span *ngIf="data.youthcjamspid"> {{data.youthname}}</span>
                                                    <span *ngIf="!data.youthcjamspid"> {{data.raname}}</span>
                                                </td>
                                              <td *ngIf="isDjs">{{data.youthcjamspid}}</td>
                                              <td (click)="routToIntake(data?.intakenumber)">
                                                  <a>{{data?.intakenumber}}</a>
                                              </td>
                                              <td *ngIf="!ispreIntake">{{data.cruworkername ? data.cruworkername : 'NA'}} </td>
                                              <td *ngIf="ispreIntake">{{data.cruworkername ? data.cruworkername : 'NA'}} </td>
                                              <td>{{data.datereceived ? (data.datereceived | date:'M/d/yyyy, h:mm a') : 'NA'
                                                  }}</td>
                                              <td>{{data.datesubmitted ? (data.datesubmitted | date:'M/d/yyyy, h:mm a') : 'NA'}}</td>
                                              <!-- <td *ngIf="!ispreIntake">
                                              <button type="submit" class="btn-pri" data-target="#assign-preintake" data-toggle="modal" (click)="getAssignIntakeUser(data)">ASSIGN</button>
                                          </td> -->
                                          </tr>
                                      </ng-container>
                                  </tbody>
                              </table>
                              <ng-template #noItems>
                                  <p class="no-datatxt"> No Items! </p>
                              </ng-template>
                              <div class="text-center m-t-20" *ngIf="totalRecordsPreIntake">
                                  <pagination [totalItems]="totalRecordsPreIntake" [(ngModel)]="preIntakePaginationInfo.pageNumber" (pageChanged)="pageChangedPreIntake($event)"
                                      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="preIntakePaginationInfo.pageSize"></pagination>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Route Case</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="active">
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                      </li>
                      <li>
                          <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>
                                              <th *ngIf="!isSupervisor">CASE LOAD</th>
                                              <th *ngIf="!isSupervisor">AVAILABILITY</th>
                                              <th *ngIf="!isSupervisor">ZIP CODE</th>
                                              <th *ngIf="isSupervisor">AGENCY</th>
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectPerson(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>
                                                  <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.homelocationcode}}</td>
                                                  <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="assignUser()">ASSIGN</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="assign-preintake" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">ASSIGN REFERRALS</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="active">
                          <a href="#preintake-assinged" data-toggle="tab">INTAKE WORKER</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="preintake-assinged">
                          <div>
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getIntakeUsers; let intakeUser">
                                          <ng-container *ngIf="intakeUser.length>0; else noItems">
                                              <tr *ngFor="let item of intakeUser">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectIntaker(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="assignIntaker('SITR')">ASSIGN</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="broadcoastmessage">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="acceptAnnouncement()">×</button>
              <h4 class="modal-title bc-pop-title"> BroadCast Message </h4>
          </div>
          <div class="modal-body" *ngIf="showBroadCostMessage; let item">
              <p> {{item.details}} </p>
              <div class="text-right big-bot-space right-mspace-15">
                  <button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" (click)="acceptAnnouncement()"> Ok</button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="reopen-intake" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">ASSIGN INTAKE</h4>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="active">
                          <a href="#preintake-assinged" data-toggle="tab">INTAKE WORKER</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="preintake-assinged">
                          <div>
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>NAME</th>
                                              <th>TYPE OF WORKER</th>
                                              <th>UNIT</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getIntakeUsers; let intakeUser">
                                          <ng-container *ngIf="intakeUser.length>0; else noItems">
                                              <tr *ngFor="let item of intakeUser">
                                                  <td>
                                                      <label class="control control--radio">
                                                          <input type="radio" name="Address" (click)="selectIntaker(item)">
                                                          <div class="control__indicator"></div>
                                                      </label>
                                                  </td>
                                                  <td>{{item.username}} </td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" (click)="assignIntaker('INTR')">ASSIGN</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade in" id="appeal-modal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="this.appealForm.reset()">×</button>
              <h4 class="modal-title"> APPEAL </h4>
          </div>
          <div class="modal-body">
              <div class="row" [formGroup]="appealForm">
                  <div class="col-sm-12">
                      <mat-form-field>
                          <input matInput formControlName="appealdate" [matDatepicker]="picker1" (click)="picker1.open()" id="date1" placeholder="Appeal Date">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                      <mat-form-field>
                          <mat-select placeholder="Appeal Status" formControlName="dispositioncode">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                      <mat-form-field>
                          <textarea type="text" matInput formControlName="remarks" placeholder="SAO Appeal Notes *"></textarea>
                      </mat-form-field>
                  </div>

                  <div class="text-right big-bot-space right-mspace-15">
                      <button type="button" [disabled]="appealForm.pristine || appealForm.invalid" class="btn-pri" (click)="saveAppeal()">Save</button>
                      <!-- <button type="button" *ngIf="!appealSaveButton" class="btn-pri" data-dismiss="modal">Close</button> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
