<div class="row">
    <div class="col-sm-6 text-left">
        <h4> Medications </h4>
    </div>
    <div class="col-sm-6 text-right m-t-20">
        <a class="btn btn-pri" id="backbutton" [routerLink]="['../list']" >BACK</a>
    </div>
</div>
<div class="row" [formGroup]="medicationpsychotropicForm">
  <div class="col-sm-6">
      <mat-form-field>
          <input required matInput formControlName="medicationname" placeholder="Medication Name">
      </mat-form-field>
      <div class="row">
          <div class="col-sm-6">
              <mat-form-field>
                  <input required matInput formControlName="dosage" placeholder="Dosage" >
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field>
                  <input required matInput formControlName="frequency" placeholder="Frequency" >
              </mat-form-field>
          </div>
      </div>
      <mat-form-field>
          <input required matInput [max]="maxDate" formControlName="lastdosetakendate" [matDatepicker]="picker11" placeholder="Last Dose Taken Date">
          <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
          <mat-datepicker #picker11></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <mat-select formControlName="informationsourcetypekey" placeholder="Information Source">
                  <mat-option *ngFor="let item of informationSourceType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
            <textarea formControlName="comments" matInput placeholder="Comments"></textarea>
        </mat-form-field>
  </div>
  <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-6">
              <mat-form-field>
                  <input required matInput formControlName="medicationeffectivedate" [matDatepicker]="picker13" placeholder="Effective Date">
                  <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                  <mat-datepicker #picker13></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field>
                  <input matInput formControlName="medicationexpirationdate" [matDatepicker]="picker14" placeholder="Expiration Date">
                  <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                  <mat-datepicker #picker14></mat-datepicker>
              </mat-form-field>
          </div>
      </div>
      <mat-form-field>
          <input matInput formControlName="prescribingdoctor" placeholder="Prescribing Doctor">
      </mat-form-field>
      <mat-form-field>
          <mat-select formControlName="prescriptionreasontypekey" placeholder="Prescription Reason">
                  <mat-option *ngFor="let item of prescriptionReasonType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
            <input matInput formControlName="monitoring" placeholder="Related Testing or Monitoring">
        </mat-form-field>

  </div>
  <div class="row m-b-20">
      <div class="col-sm-12 ">
          <div class="pull-right">
              <span *ngIf="reportMode === 'add'">
                  <button class="btn-pri" (click)="resetForm()">Clear</button> &nbsp;
                  <button class="btn-pri" [disabled]="medicationpsychotropicForm.pristine || medicationpsychotropicForm.invalid" (click)="addUpdate(medicationpsychotropicForm.value)">Add</button>
              </span>
              <span *ngIf="reportMode === 'edit'">
                  <button class="btn-pri" [disabled]="medicationpsychotropicForm.pristine || medicationpsychotropicForm.invalid" *ngIf="editMode === true" (click)="addUpdate(medicationpsychotropicForm.value)">Update</button>

              </span> </div>
      </div>
  </div>

</div>
