<div class="row m-t-30">
    <div class="col-sm-12">
        <h4 class="text-uppercase f-w-600">Intake Assessments</h4>
        <div class="m-t-30">
            <div class="table-responsive table-theme" *ngIf="(startAssessment$ | async) as assessmentDetails">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let assessment of assessmentDetails; let assessmentIndex = index">
                        <tr [class]="showAssesment === assessmentIndex ? 'bg-active':''">
                            <td colspan="4">
                                <table class="table assessmenttable">
                                    <thead>
                                        <tr>
                                            <th>{{assessment.titleheadertext}}<span class="badgecount" *ngIf="assessment?.intakassessment">{{assessment?.intakassessment?.length}}</span></th>
                                            <th>

                                                <a data-toggle="modal" data-target="#iframe-popup" data-placement="top"
                                                    title="start" data-original-title="Start" (click)="startAssessment(assessment)">
                                                    <span><i class="fa fa-play-circle-o"></i></span>
                                                </a>
                                                <span class="m-l-30" *ngIf="assessment?.intakassessment"><i class="fa fa-chevron-down"
                                                        (click)="showAssessment(assessmentIndex, assessment?.intakassessment)"
                                                        [class]="showAssesment === assessmentIndex ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                                        aria-hidden="true"></i></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                                            <td colspan="5">
                                                <table class="table assessmenttablelist">
                                                    <thead>
                                                        <tr>
                                                            <th>ASSESSMENT</th>
                                                            <th>UPDATED BY</th>
                                                            <th>UPDATED DATE</th>
                                                            <th>STATUS</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                        <tr *ngFor="let data of getAssess">
                                                            <td>{{data.titleheadertext}}</td>
                                                            <td>{{data.username}}</td>
                                                            <td class="dateTime">
                                                                <span class="date">{{data.updateddate |
                                                                    date:'MM/dd/yyyy'}}</span>
                                                                <span class="time">{{data.updateddate | date:'h:mm a'}}</span>
                                                            </td>
                                                            <ng-container [ngSwitch]="isAssmentCompelete(data.submissiondata)">
                                                                <td *ngSwitchCase="'1'">Submitted</td>
                                                                <td *ngSwitchCase="'2'">Draft</td>
                                                                <td *ngSwitchCase="'0'">N/A</td>
                                                            </ng-container>
                                                            <ng-container [ngSwitch]="isAssmentCompelete(data.submissiondata)">
                                                                <td *ngSwitchCase="'1'">
                                                                    <span class="view" data-toggle="modal" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                                                        data-toggle="modal" title="View" data-placement="top"
                                                                        data-original-title="View" (click)="submittedAssessment(data)">
                                                                        <a><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                                                                    </span>
                                                                    <span class="print" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                                                        title="View" data-placement="top"
                                                                        data-original-title="View" (click)="assessmentPrintView(data)">
                                                                        <a><i class="fa fa-print" aria-hidden="true"></i>Print</a>
                                                                    </span>
                                                                </td>
                                                                <td *ngSwitchCase="'2'">
                                                                    <span class="print" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null"
                                                                        title="View" data-placement="top"
                                                                        data-original-title="View" (click)="updateAssessment(data)">
                                                                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i>Edit</a>
                                                                    </span>
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div id="Assessments" class="tab-pane" role="tabpanel">
    <div class="box-grid">
        <div class="">
            <div class="col-md-12">
                <h4>Assessment Template</h4>
                <div class="form-letter-tab form-align" style="margin-top: 0">
                    <div class="table-responsive" *ngIf="(startAssessment$ | async) as assessmentDetails">
                        <table class="table table-bordered icon-action">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">Action</th>
                                    <th>Title</th>
                                    <th style="width: 80px; text-align:center;">Due Days</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let assessment of assessmentDetails; let assessmentIndex = index">
                                <tr>
                                    <td>
                                        <a data-toggle="modal" data-placement="top" title="start" data-original-title="Start" (click)="startAssessment(assessment)">
                                            <img src="assets/images/assess-start.png">
                                        </a>
                                    </td>
                                    <td class="text-caps">
                                        <a style="padding : 10px 10px 10px 10px" *ngIf="assessment?.intakassessment">
                                            <i (click)="showAssessment(assessmentIndex, assessment?.intakassessment)" [class]="showAssesment === assessmentIndex ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                aria-hidden="true"></i>
                                        </a>
                                        <span class="tr-brd-red" *ngIf="assessment.assessmentstatustypekey == 'Open'"></span>
                                        <span class="tr-brd-orange" *ngIf="assessment.assessmentstatustypekey == 'Inprocess'"></span>
                                        <span class="tr-brd-green" *ngIf="assessment.assessmentstatustypekey == 'Submitted'"></span>
                                        {{assessment.description}}
                                    </td>
                                    <td style="text-align: center;">{{assessment?.duedays !== '0' ? assessment?.duedays :
                                        ''}}
                                    </td>
                                </tr>
                                <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                                    <td colspan="4">
                                        <table class="table table-bordered icon-action">
                                            <thead>
                                                <tr>
                                                    <th>Assessments</th>
                                                    <th>Updated By</th>
                                                    <th>Updated Date</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                <tr *ngFor="let data of getAssess">
                                                    <td>{{data.titleheadertext}}</td>
                                                    <td>{{data.username}}</td>
                                                    <td>{{data.updateddate | date:'MM/dd/yyyy - h:mm a'}}</td>
                                                    <td>{{data.assessmentstatustypekey}}</td>
                                                    <td class="icon-btn">
                                                        <button data-toggle="modal" *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null" data-toggle="modal" title="View"
                                                            data-placement="top" data-original-title="View" (click)="submittedAssessment(data)">
                                                            <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf="data?.assessmentstatustypekey !== 'Open' && data!=null" title="View" data-placement="top" data-original-title="View"
                                                            (click)="assessmentPrintView(data)">
                                                            <i class="fa fa-print fa-size" aria-hidden="true"></i>
                                                        </button>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mt-10" *ngIf="{startAssessment: startAssessment$ | async, totalRecords: totalRecords$ | async} as validatePagination">
                            <pagination *ngIf="validatePagination.startAssessment && validatePagination.startAssessment?.length !== 0" [totalItems]="validatePagination.totalRecords"
                                [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                                [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->

<div class="modal fade custom-modal modal-iframe" id="iframe-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">{{assessmmentName ? assessmmentName: 'N/A'}}</h4>
            </div>
            <div class="modal-body" id="assessment-popup">
                <div id="assessmentForm"></div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="display:none">
    <div class="col">
        <div id="divPrintView"></div>
    </div>
</div>
