<div class="clearfix text-right pt-10">
    <span *ngFor="let payments of paymentList; let i=index;">
        <h5 class="amount" *ngIf="i===0">Total Expenditure:<span class="m-l-10">${{payments.grandtotal}}</span></h5>
    </span>
</div>
<div class="clearfix pt-10" *ngFor="let payments of paymentList; let i=index;">
    <ul class="list-unstyled list-inline theme-heder-bg minus-icon m-0">
        <li>
            <h5>{{payments?.firstname}} {{payments?.lastname}} {{payments?.suffix}} </h5>
        </li>
        <li class="m-l-20"><span><span> Age: </span><b>{{payments?.age}} </b></span></li>
        <li class="m-l-20"><span><span>DOB: </span><b>{{payments?.dob | date:'MM/dd/yyyy'}}</b></span></li>
        <li class="m-l-20"><span><span>Gender: </span><b>{{payments?.gender}}</b></span></li>
        <li class="m-l-20"><span><span>Total Amount:</span> ${{payments?.grouptotal}}</span></li>
        <li class="ml-10" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false" aria-hidden="true"
                data-toggle="collapse"><i class="fa fa-plus"></i></a></li>
    </ul>
    <div class="m-b-20 collapse" id="accordion{{i}}">
        <div class="table-responsive table-theme brd">
            <table class="table table-striped r-align">
                <thead>
                    <tr>
                        <th>Payment ID</th>
                        <th>Payment Detail ID</th>
                        <th>Payment Date</th>
                        <th>Provider Name</th>
                        <th>Description</th>
                        <th>Amount </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paymentlist of payments.payments">
                        <td>{{paymentlist?.payment_id}}</td>
                        <td>{{paymentlist?.payment_detail_id}}</td>
                        <td>{{paymentlist?.payment_dt | date: 'MM/dd/yyyy'}}</td>
                        <td>{{paymentlist?.provider_nm}}</td>
                        <td>{{paymentlist?.payment_type_nm}}</td>
                        <td>${{(paymentlist?.gross_amount_no - (paymentlist.offset_amount_no ? paymentlist.offset_amount_no : 0)) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
