ul.theme-heder-bg li:nth-child(1){min-width:370px;max-width:370px;}
ul.theme-heder-bg li:nth-child(2){min-width:150px;max-width:150px;}
ul.theme-heder-bg li:nth-child(3){min-width:200px;max-width:200px;}
ul.theme-heder-bg li:nth-child(4){min-width:200px;max-width:200px;}
ul.theme-heder-bg li:nth-child(5){min-width:200px;max-width:200px;}
.r-align thead tr th:last-child {width:180px;text-align: right !important;}
.r-align tbody tr td:last-child {width:180px;text-align: right !important;}
.amount {
    width: 250px;
    float: right;
    text-align: left;
    font-size:18px;
}
.amount span {
    color: #00a2fd !important;
    font-size:18px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.theme-heder-bg li:nth-child(1){min-width:260px;max-width:260px;}
    ul.theme-heder-bg li:nth-child(2){min-width:110px;max-width:110px;}
    ul.theme-heder-bg li:nth-child(3){min-width:150px;max-width:150px;}
    ul.theme-heder-bg li:nth-child(4){min-width:130px;max-width:130px;}
    ul.theme-heder-bg li:nth-child(5){min-width:160px;max-width:160px;}
}