<div class="">
    <div class="col-box mydsds-action">
        <h2><span class="m-r-5 f-14">Total Case:</span>{{ totalRecords }}</h2>
        <div class="clsExcelButton">
            <button type="button" class="btn-pri pull-right no-mar" (click)="ExportTOExcel()"><i
                    class="fa fa-file-excel-o pr-5" aria-hidden="true"></i>Export All</button>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <input type="text" class="aut-txt-caseWorkerSearchCase" matInput placeholder="Search Case #"
                        (keyup.enter)="onSearchCase()" [(ngModel)]="servicerequestnumber">
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="onSearchCase()"
                        class="aut-btn-caseWorkerSearchCase">
                        <i aria-hidden="true" class="fa fa-search"></i>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-sm-1 mt-20">
                <a (click)="resetFilter()">Reset</a>
            </div>
            <div class="col-sm-8 text-right">
                <div class="checkbox-container pull-right" [formGroup]="myirForm">
                    <mat-radio-group formControlName="filterIR" (change)="listMyIrCase($event)">
                        <mat-radio-button value="All">All</mat-radio-button>
                        <!-- <mat-radio-button value="pending">Not Accepted</mat-radio-button> -->
                        <mat-radio-button value="inprogress">In Progress</mat-radio-button>
                        <mat-radio-button value="closed">Closed</mat-radio-button>
                    </mat-radio-group>
                    <!--
                                <mat-radio-group formControlName="selectall"> <mat-radio-button value="All" (click)="listMyIrCase('All')">All</mat-radio-button> </mat-radio-group>
                                <mat-radio-group formControlName="notaccepted"> <mat-radio-button value="pending" class="m-l-20" (click)="listMyIrCase('pending')">Not Accepted</mat-radio-button> </mat-radio-group>
                                <mat-radio-group formControlName="inprogress"> <mat-radio-button value="inprogress" class="m-l-20" (click)="listMyIrCase('inprogress')">In Progress</mat-radio-button> </mat-radio-group>
                                <mat-radio-group formControlName="closed"> <mat-radio-button value="closed" class="m-l-20" (click)="listMyIrCase('closed')">Closed</mat-radio-button> </mat-radio-group>
                            -->
                </div>
            </div>
        </div>

        <div class="example-container">
            <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear
                (matSortChange)="customSort($event)">
                <!-- Position Column -->
                <ng-container matColumnDef="servicerequestnumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CASE NUMBER </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a (click)="routToCaseWorker(element)"
                            [ngStyle]="{'font-weight':element.accepteddate ? 'normal' : 'bold' }"
                            class="aut-lnk-caseNumber">{{ element.servicerequestnumber }}</a>

                        <span>
                            <span *ngIf="element?.fatalityinfo"
                                matTooltip="Child Fatality - Name: {{element?.fatalityinfo[0]?.personname}}, DOB: {{element?.fatalityinfo[0]?.Dateofbirth | date: 'MM/dd/yyyy'}}, DOD: {{element?.fatalityinfo[0]?.Dateofdeath | date: 'MM/dd/yyyy'}}"
                                class="dot yellow-dot"></span><span matTooltip="Provider Maltreatment"
                                *ngIf="element?.ismaltreatment" class="dot blue-dot"></span></span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="srtype">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.srtype === 'CHILD' ? 'Child Protective Services' : element.srtype }}
                    </mat-cell>
                </ng-container>
                <!--  <ng-container matColumnDef="srsubtype">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>SUB TYPE</mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                        {{ element.srsubtype !== 'Default' ? element.srsubtype : '' }}
                                </mat-cell>
                         </ng-container> -->
                <ng-container matColumnDef="focusname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>FOCUS</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.focusname ? element.focusname :'NA' }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="legalguardian">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>HEAD OF HOUSEHOLD</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.legalguardian ? element.legalguardian :'NA' }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="datereceived">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RECEIVED DATE & TIME</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.datereceived ? (element.datereceived | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="approvaldate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ACCEPTED DATE & TIME</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.approvaldate ? (element.approvaldate | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="open_closed">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.open_closed}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div *ngIf="myIRIntakeList?.length === 0" class="no-records">
                No records found
            </div>


        </div>
        <div class="col-sm-12">
            <div class="text-center mt-10">
                <pagination *ngIf="myIRIntakeList?.length !== 0" [totalItems]="totalRecords"
                    [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                </pagination>
            </div>
        </div>
    </div>