<div class="row">
    <div class="col-sm-12 box-grid no-mar">
        <div class="">
            <!-- [formGroup]="investigationPlanSearchFormGroup"> *ngIf="dsdsActionsSummary$ | async; let dsdsActionsSummary"  -->
            <div class="form-search-person no-pad">
                <div class="row">
                    <!-- <div class="col-sm-5">
                        <ul class="list-unstyled list-inline task-list">
                            <li class="">
                                <a>TOTAL TASKS
                                    <span class="label label-primary"></span>
                                </a>
                            </li>
                            <li>
                                <a>OPEN TASKS
                                    <span class="label label-warning"></span>
                                </a>
                            </li>
                            <li>
                                <a>CLOSED TASKS
                                    <span class="label label-success"></span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                            <div class="form-group">
                                <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                    <li>
                                        <a href="javascript:{}" (click)="openMonitoringCheckList()">
                                            <img src="assets/images/suggest-icon.png">Add Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div #addServices></div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-sm-12">
        <div class="row">
         
            <div [formGroup]="activityTaskStatusFormGroup">
                <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                        <table class="table table-bordered" formArrayName="task" style="width: 95%;margin: 50px;">
                            <thead>
                                <tr>
                                    <th>service ID </th>
                                    <!-- <th>Category</th> -->
                                    <th style="width:54%">Service</th>
                                    <th>Paid non paid code</th>
                                    <th style="width:120px">Structure service code</th>
                                </tr>
                            </thead>
  
                            <tbody *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task']['controls'] let i=index"
                                [formGroupName]="i">
                                <tr class="dd-overflow-inherit">
                                    <td style="text-align: start;width: 350px;">{{currentTask['controls'].service_id.value}}</td>
                                    <!-- <td> </td> -->
                                    <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew">
                                                <mat-form-field>
                                                    <input formControlName="service_nm" type="text" matInput required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew">
                                                <mat-form-field>
                                                  <input formControlName="paid_non_paid_cd" type="text" matInput required>
                                                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker> -->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                     <td style="padding-bottom: 0;">
                                        <div class="form-group dd-overflow-inherit mb-0">
                                            <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                <mat-form-field>
                                                  <input formControlName="structure_service_cd" type="text" matInput required>
                                                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker> -->
                                                  </mat-form-field>
                                            </div>
                                        </div>
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                        <div class="mrg-top15">
                                <div class="btn-group btn-group-re pull-right">
                                    <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                                </div>
                            </div>                          
                        </div>
                        
                </div>
            </div>
  
        </div>
    </div>
  