
<div class="row">
    <div class="col-sm-6" [formGroup]="employerForm">
        <p class="bg-theme">Employer Details</p>
        <div class="row">
            <div class="col-sm-7">
                <mat-form-field>
                    <input type="text"  formControlName="employername" matInput placeholder="Name of Employer" value="">
                </mat-form-field>
            </div>
            <div class="col-sm-5 m-t-25">
                <mat-checkbox (change)="isCurrentEmployer($event)" formControlName="currentemployer">Current Employer</mat-checkbox>
            </div>
        </div>
        <mat-form-field>
            <input type="text"  matInput formControlName="noofhours" placeholder="Number of working hours per month" value="" mask="00:00">
            <mat-error *ngIf="employerForm.controls['noofhours'].invalid">Please enter valid hours.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text"  matInput formControlName="duties" placeholder="Duties" value="">
        </mat-form-field>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input type="text"  (change)="dateChanged()"  matInput formControlName="startdate" [matDatepicker]="picker" placeholder="Start Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input type="text"  matInput   formControlName="enddate" [matDatepicker]="picker1"
                        placeholder="End Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field>
            <textarea matInput  formControlName="reasonforleaving" placeholder="Reason for leaving"></textarea>
        </mat-form-field>
    </div>
    <div class="col-sm-6" [formGroup]="careerForm">
        <p class="bg-theme">Career Goals</p>
        <mat-form-field>
            <textarea matInput formControlName="careergoals" placeholder="Career Goals"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 text-right">
        <div class="pull-right">
            <span *ngIf="reportMode === 'add'">
                <a class="btn btn-pri" (click)="resetForm()">Clear</a> &nbsp;
                <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" (click)="add()">Add</button>
            </span>
            <span *ngIf="reportMode === 'edit'">
                <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" *ngIf="editMode === true"
                    (click)="update()">Update</button>
                <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
            </span>
        </div>
    </div>
</div>
<div class="row m-t-20" *ngIf="employer?.length>0">
    <div class="table-responsive table-theme table-bordered">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name of Employer</th>
                        <th>Current Employer</th>
                        <th>Number of hours</th>
                        <th>Reason for leaving</th>
                        <th>Duties</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employer; let i=index">
                        <td>{{emp.employername}}</td>
                        <td>{{emp.currentemployer ? 'Yes' : 'No'}}</td>
                        <td>{{emp.noofhours}}</td>
                        <td>{{emp.reasonforleaving}}</td>
                        <td>{{emp.duties}}</td>
                        <td>{{emp.startdate | date:'MM/dd/yyyy' }}</td>
                        <td>{{emp.enddate | date:'MM/dd/yyyy'}}</td>
                        <td> <a (click)="view(emp)">
                                <i class="fa fa-eye text-16"></i>
                            </a> |
                            <a (click)="edit(emp, i)">
                                <i class="fa fa-pencil text-16"></i>
                            </a> |
                            <a (click)="delete(i)">
                                <i class="fa fa-trash text-16"></i>
                            </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="selectedPersonAge >17">
    <div class="col-md-12 bg-theme m-t-20 m-b-20">
        <div class="col-md-10">Youth Participating in a program or activity that promotes or removes barriers to employment.</div>
        <div class="col-md-2"> 
        <a class="btn-pri pull-right activity-btn text-center" data-toggle="modal"
        data-target="#add-monthly-activity-modal" (click)="addActivityForm()">Add Activity</a>
        </div>
    </div>
        
    <div *ngIf="activity.length > 0">              
        <div class="table-responsive table-theme table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Program Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Narrative</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of activity; let i=index">
                        <td>{{item.program_name}}</td>
                        <td>{{item.start_date | date:'MM-dd-yyyy'}}</td>
                        <td>{{item.end_date | date:'MM-dd-yyyy'}}</td>
                        <td>{{item.narrative}}</td>
                        <td> 
                            <a (click)="editActivity(item, i)">
                                <i class="fa fa-pencil text-16"></i>
                            </a> |
                            <a (click)="deleteActivity(i)">
                                <i class="fa fa-trash text-16"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="add-monthly-activity-modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="clearForm()">×</button>
          <h4 class="modal-title">{{ addEditLabel }} Monthly Activity</h4>
        </div>
        <div class="modal-body">
          <div class="row" [formGroup]="monthlyActivityForm">
            <div class="col-sm-12">
              <mat-form-field>
                  <input matInput formControlName="program_name"
                  placeholder="Program Name" required>
              </mat-form-field>
            </div>            
            <div class="col-sm-6">
                <!-- <common-date-picker id="aut-dtp-datelastexam" formControlName="start_date"
                  placeholder="Start Date" required>
                </common-date-picker> -->
                <mat-form-field>
                    <input matInput required [min]="maxDate" [matDatepicker]="startdate" id="startdate"
                        placeholder="Start Date" formControlName="start_date" (dateChange)="onChangeDate(monthlyActivityForm)" class="required">
                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <!-- <common-date-picker id="aut-dtp-datelastexam" formControlName="start_date"
                  placeholder="Start Date" required>
                </common-date-picker> -->
                <mat-form-field>
                    <input matInput [min]="minActivityDate" [matDatepicker]="enddate" id="enddate"
                        placeholder="End Date" formControlName="end_date" class="required">
                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <textarea matInput formControlName="narrative" placeholder="Narrative" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-12 mrg-top25">
              <div class="pull-right">
                <button type="button" value="Cancel" class="btn-bg" (click)="clearForm()" name="">Cancel</button>
                <button type="button" value="Save" class="btn-pri" (click)="activitySaveOrUpdate()" name=""
                  [disabled]="monthlyActivityForm.pristine || monthlyActivityForm.invalid">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>