.customtab.nav {
    border-bottom: 5px solid #e0e8f8;
    margin-top: 20px;
}
.customtab.nav-tabs > li.active > a {
    background-color: #e0e8f8;
    color: #333;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.customtab.nav-tabs > li.active > a::after {
    width: 100%;
    transition: all 0.3s;
    height: 0;
}
.customtab.nav-tabs > li a {
    text-transform: uppercase;
    color:#00A2FD;
}
.sec-bg {
    padding: 20px 0px;
    background: #f7f8f9;
    border-radius: 4px;
    display: block;
    border: 1px solid #e0e8f8;
    width: 100%;
    float: left;
}
.divider-btm {
    border-bottom:3px solid #e0e8f8;
}


.sub-riew-text {
    font-size: 14px;
    color: #333;
}

.sub-riew-title {
    font-size: 15px;
    font-weight: 500;
    color: #24292e;
}
p strong {
    font-weight: 500;
}
.tpr-p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.tpr-p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}
.m-0 {
    margin:0;
}