<div>
    <div class="row">
       <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12 table-responsive">
              <table class="table customTable firsttable">
                  <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Request Number </th>
                        <th>Provider ID</th>
                        <th>Request Comments</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of requestList">
                        <td>{{list.request_id}}</td>
                        <td>{{list.request_no}}</td>
                        <td>{{list.provider_id}}</td>
                        <td>{{list.request_comments}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
 </div>
 