<div id="Investigation-Plan" class="tab-pane no-pad" role="tabpanel">
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-horizontal" *ngIf="isServiceCase || isInHomeservice">
                <ul class="nav nav-pills">
                    <li class="active" data-toggle="tab" (click)="setFormValues(1)" ><a>In-Home</a></li>
                    <li data-toggle="tab" class="notactive" (click)="setFormValues(0)"><a>Out-Of-Home</a></li>
                </ul>
            </div>
            <div class="tab-horizontal">
                <mat-radio-group name="selectedActionType" [(ngModel)]="selectedActionType"
                    (change)="changeSelectedActionType($event)">
                    <mat-radio-button value="SORT">Sort</mat-radio-button>
                </mat-radio-group>
                <span>
                    <i class="fa fa-undo" (click)="resetSelectedActionType()">&nbsp;Reset</i>
                </span>
            </div>
            <div class="tab-horizontal">
                <mat-card class="mb-20" *ngIf="sortBy" >
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <form [formGroup]="sortCategoryForm">
                                <div class="form-control-size txt-left">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label> Sort By </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select formControlName="sortBy" required placeholder="Field">
                                                    <mat-option *ngFor="let item of sortDropDown | orderBy:'text'"
                                                        [value]="item.value">{{item.text}}
                                                    </mat-option>
        
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select formControlName="sortDir" required placeholder="Sort Direction">
                                                    <mat-option value="asc">
                                                        Ascending
                                                    </mat-option>
                                                    <mat-option value="desc">
                                                        Descending
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-right text-right">
                                        <button type="submit" (click)="sortactivity()" class="btn-pri"> Sort
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="tab-content">
                <div class="tab-pane active">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="" [formGroup]="investigationPlanSearchFormGroup">
                                <div *ngIf="(dsdsActionsSummary$ | async); let dsdsActionsSummary" class="form-search-person no-pad">
                                    <div class="row">
                                        <div class="col-lg-5 col-lg-offset-7 col-md-12">
                                            <ul *ngIf="(investigationPlanCaseCount$ | async); let investigationPlanCaseCount" class="list-unstyled list-inline task-list text-right">
                                                <li class="">
                                                    <a
                                                        >TOTAL TASKS <span class="label label-primary">{{ investigationPlanCaseCount?.totalcount }}</span>
                                                    </a>
                                                    <!--
                                                        <p>
                                                        <span class="red"></span>{{investigationPlanCaseCount?.totalcount}}</p>
                                                    -->
                                                </li>
                                                <li>
                                                    <a
                                                        >OPEN TASKS <span class="label label-warning">{{ investigationPlanCaseCount?.openedcount }}</span>
                                                    </a>
                                                    <!--
                                                        <p>
                                                        <span class="blue"></span>{{investigationPlanCaseCount?.openedcount}}</p>
                                                    -->
                                                </li>
                                                <li>
                                                    <a
                                                        >CLOSED TASKS <span class="label label-success">{{ investigationPlanCaseCount?.closedcount }}</span>
                                                    </a>
                                                    <!--
                                                        <p>
                                                        <span class="pink"></span>{{investigationPlanCaseCount?.closedcount}}</p>
                                                    -->
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="agency === 'AS'" class="col-lg-7 col-md-12">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div class="row">
                                                        <div class="col-sm-5"><h5 class="s-w text-right">Sort By Activity</h5></div>
                                                        <div class="col-sm-7">
                                                            <ng-select formControlName="activityname" [searchable]="true" [clearable]="false" (change)="getActionSummary()">
                                                                <ng-option value="">All</ng-option>
                                                                <ng-option *ngFor="let activity of (activityDropdownItems$ | async)" [value]="activity.value">{{ activity.text }}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                                    <div class="form-group">
                                                        <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                                            <!--
                                                                <li>
                                                                    <button class="btn-pri m-t-10" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan/plan-activity/' + dsdsActionsSummary.da_investigationid]">
                                                                        <i class=" fa fa-plus"></i> Add activity</button>
                                                                </li>
                                                            -->
                                                            <li>
                                                                <a href="javascript:{}" class="hidefromview" (click)="routeToChecklist(dsdsActionsSummary.da_investigationid)">
                                                                    <img src="assets/images/suggest-icon.png" />Add Check List</a
                                                                >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="agency === 'AS'" class="col-md-12 col-lg-5 pull-right">
                                            <div class="form-group">
                                                <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                                    <li>
                                                        <a
                                                            href="javascript:{}"
                                                            [routerLink]="[
                                                                '/pages/case-worker/' +
                                                                    id +
                                                                    '/' +
                                                                    daNumber +
                                                                    '/dsds-action/investigation-plan/plan-task/' +
                                                                    dsdsActionsSummary.da_investigationid +
                                                                    '/' +
                                                                    dsdsActionsSummary.da_loadnumber
                                                            ]"
                                                        >
                                                            <img src="assets/images/add-icon.png" />Create Task</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row"><div class="col-md-7 col-lg-6 pull-right"></div></div>
                
                                    <div class="col-md-4" style="display:none;">
                                        <div class="form-group">
                                            <label class="control control--radio">
                                                <strong>Next Step</strong> <input type="radio" name="radio" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" [formGroup]="activityTaskStatusFormGroup"  [fieldKey]="'caseworker-checklist'">
                                <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                                    <div class="table-responsive table-theme dd-overflow-inherit" style="overflow: hidden;">
                                        <table class="table table-striped" formArrayName="task">
                                            <thead>
                                                <tr>
                                                    <th>Assigned Date</th>
                                                    <th *ngIf="agency === 'AS'">Activity</th>
                                                    <th style="width:30%">Task</th>
                                                    <th>Due Date</th>
                                                    <th>Completed Date</th>
                                                    <th>Status</th>
                                                    <th *ngIf="isAS">Dispositions</th>
                                                    <th *ngIf="isDJS"  style="width: 25%" >Notes</th>                                    
                                                    <th *ngIf="isDJS">Action</th>
                                                    <!-- <th style="width:110px">Disposition</th> -->
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task']['controls']; let i = index" [formGroupName]="i">
                                                <tr class="dd-overflow-inherit" *ngIf="(forkedResult$ | async); let forkedResults">
                                                    <td>{{ currentTask['controls'].assignedon.value | date: 'MM/dd/yyyy':'UTC' }}</td>
                                                    <td *ngIf="agency === 'AS'">{{ currentTask['controls'].actvityname.value }}</td>
                                                    <td>
                                                        <div
                                                            *ngIf="agency === 'AS' && (currentTask['controls'].tasktype.value === 'Assessment' || currentTask['controls'].tasktype.value === 'Placement');
                                                                else: formDataList">
                                                            <span
                                                                ><a (click)="navigateToTask(currentTask['controls'].tasktype.value)">{{ currentTask['controls'].taskdescription.value }}</a></span
                                                            >
                                                        </div>
                                                        <ng-template #formDataList>
                                                            <span>{{ currentTask['controls'].taskdescription.value }}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td *ngIf="!(currentTask['controls'].iseditable.value && currentTask['controls'].isstatustype.value)">{{ currentTask['controls'].duedate.value | date: 'MM/dd/yyyy' }}</td>
                                                    <td *ngIf="currentTask['controls'].iseditable.value && currentTask['controls'].isstatustype.value">
                                                        <mat-form-field>
                                                            <input matInput formControlName="duedate" (click)="picker1.open()" [matDatepicker]="picker1"/>
                                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td style="padding-bottom: 0;">
                                                        <div class="form-group dd-overflow-inherit mb-0">
                                                            <div class="fm-box-form no-pad dpnew">
                                                                <!--
                                                                    <input a2e-datetimepicker="" class="form-control full-width ng-valid ng-dirty ng-touched" formcontrolname="completeddate"
                                                                        maxdate="" placeholder="MM/DD/YYYY" [options]="{format: 'MM/DD/YYYY',useCurrent:false,'minDate': null}">
                                                                    <i aria-hidden="True" class="fa fa-calendar cal-icon"></i>
                                                                -->
                                                                <mat-form-field>
                                                                    <input matInput formControlName="completeddate" (click)="picker.open()" [matDatepicker]="picker" [max]="maxDate" [disabled]="!(currentTask['controls'].isstatustype.value)"/>
                                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                
                                                                    <!-- <i aria-hidden="True" class="fa fa-calendar"></i> -->
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="status">
                                                        <!-- <span>{{forkedResults | json}}</span> -->
                                                        <!--
                                                            <mat-form-field>
                                                                <mat-select formControlName="activitytaskstatustypekey">
                                                                    <mat-option *ngFor="let tasktypestatus of forkedResults[i]" [value]="tasktypestatus.value"> {{tasktypestatus.text}} </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        -->
                                                        <div>
                                                            <mat-form-field>
                                                                <mat-select formControlName="activitytaskstatustypekey" [disabled]="!(currentTask['controls'].isstatustype.value)">
                                                                    <mat-option *ngFor="let tasktypestatus of forkedResults[i]" [value]="tasktypestatus.value"> {{tasktypestatus.text}} </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </td>
                                                    <td class="disposition" *ngIf="isAS">
                                                        <div>
                                                            <mat-form-field>
                                                                <mat-select formControlName="taskdispositiontypekey" [disabled]="!(currentTask['controls'].isstatustype.value)">
                                                                    <mat-option *ngFor="let item of dispositionStatusDetails" [value]="item.ref_key"> {{item.description}} </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </td>                                    
                                                    <td class="disposition" *ngIf="isDJS">
                                                        <div>
                                                            <mat-form-field>
                                                                <input matInput formControlName="notes" [disabled]="!(currentTask['controls'].isstatustype.value)" placeholder="Notes">
                                                            </mat-form-field>
                                                        </div>
                                                    </td>
                                                    <!-- <td *ngIf="!isDJS" class="disposition">
                                                        <a data-toggle="tooltip" class="approval" title="Submit For Approve!"> <i class="fa fa-check"></i> </a>
                                                    </td> -->
                                                    <td *ngIf="isDJS" class="disposition">
                                                        <a *ngIf="(currentTask['controls'].isstatustype.value)" data-toggle="tooltip" class="approval" (click)="addTask(i)" matTooltip="Submit!"> <i class="fa fa-check"></i> </a>
                                                    </td>
                                                    <!--
                                                        <td>
                                                            <ng-select [searchable]="true" [clearable]="false" formControlName="activitytaskdispositiontypekey">
                                                                <ng-option *ngFor="let disposition of forkedResults[1][i]">{{disposition.text}}</ng-option>
                                                            </ng-select>
                                                        </td>
                                                    -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="mrg-top15 row">
                                <div class="col-sm-9">
                                    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                                        <pagination
                                            *ngIf="pagination.canDisplayPager"
                                            [totalItems]="pagination.totalRecords"
                                            [(ngModel)]="paginationInfo.pageNumber"
                                            (pageChanged)="pageChanged($event)"
                                            class="pagination-sm"
                                            [boundaryLinks]="true"
                                            [maxSize]="15"
                                            [itemsPerPage]="15"
                                        ></pagination>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-re col-sm-3 text-right" *ngIf="!isDJS"><button type="submit" [disabled]="isClosed" class="btn-pri" (click)="saveTask()">Save</button></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                </div>
            </div>    
        </div>
    </div>

    <!-- </div> -->

    <!-- Conclude Investigation Modal content -->
    <div class="modal fade in teams-pos conclude-investigation" [formGroup]="activityGoalsFormGroup" id="myModal-conclude-investigation" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content -->
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ editLabel }} Goal Details</h4>
                </div>
                <input type="hidden" disabled formControlName="activitygoalid" />
                <div class="modal-body leftalign pad-modal dd-overflow-inherit">
                    <div class="form_section">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="Team Number" class="col-sm-3 control-label">Goal</label>
                                <div class="col-sm-8"><textarea type="text" disabled formControlName="goal" style="width:60%"></textarea></div>
                            </div>
                            <div class="form-group ">
                                <label for="region" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-5 fm-box-form">
                                    <ng-select disabled [searchable]="true" [clearable]="false" id="region-drop" formControlName="goalType">
                                        <ng-option *ngFor="let goaltype of (goalTypeDropdownItems$ | async | orderBy: 'text')" [value]="goaltype.value">{{ goaltype.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Effective Date" class="col-sm-3 control-label">Due Date</label>
                                <div class="col-sm-5">
                                    <div class="fm-box-form pr clsIntake">
                                        <input
                                            class="form-control"
                                            a2e-datetimepicker
                                            [options]="{ format: 'MM/DD/YYYY', useCurrent: false, minDate: null }"
                                            placeholder="MM/DD/YYYY"
                                            formControlName="duedate"
                                        />
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Parent Team" class="col-sm-3 control-label">Status:</label>
                                <div class="col-sm-5">
                                    <ng-select [searchable]="true" [clearable]="false" formControlName="status" (change)="changeGoalStatusType()">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let status of (goalStatusTypeDropdownItems$ | async)" [value]="status.value">{{ status.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Parent Team" class="col-sm-3 control-label">Disposition:</label>
                                <div class="col-sm-5">
                                    <ng-select [searchable]="true" [clearable]="false" formControlName="disposition">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let disposition of (dispositionDropdownItems$ | async)" [value]="disposition.value">{{ disposition.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Effective Date" class="col-sm-3 control-label required">Completion Date</label>
                            <div class="col-sm-5">
                                <div class="fm-box-form pr clsIntake">
                                    <input
                                        class="form-control"
                                        placement="top"
                                        a2e-datetimepicker
                                        [options]="{ format: 'MM/DD/YYYY', useCurrent: false, minDate: null }"
                                        formControlName="completiondate"
                                        placeholder="MM/DD/YYYY"
                                    />
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 mrg-top25">
                                    <div class="pull-right">
                                        <button type="button" value="Cancel" class="btn-bg" name="" data-dismiss="modal">Cancel</button>
                                        <button type="button" [disabled]="isClosed" value="Save" class="btn-pri" (click)="updateGoal()" [disabled]="activityGoalsFormGroup.pristine || activityGoalsFormGroup.invalid">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade form-letter-tab" id="myModal-edit-goal-details" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content -->
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ editLabel }} Task Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row" [formGroup]="activityTaskFormGroup">
                        <div class="col-sm-12 mrg-top0">
                            <ul class="nav nav-tabs mapping-nav" role="tablist">
                                <li role="presentation" class="active"></li>
                                <li role="presentation" class="hide"><a href="#activity-tasks" aria-controls="edl-review-results" role="tab" data-toggle="tab">Exception Tasks </a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="activity-goals">
                                    <div class="form_section">
                                        <div class="form-search-person no-pad">
                                            <div class="col-md-6 dd-overflow-inherit">
                                                <input type="hidden" class="form-control" formControlName="activitytaskid" />
                                                <div class="">
                                                    <div class="form-group"><label>Task</label> <input type="text" class="form-control" disabled formControlName="task" /></div>

                                                    <!--
                                                        <div class="form-group">
                                                            <label>Type</label>
                                                            <ng-select class="col-md-6 label-right-select" [searchable]="true" [clearable]="false" formControlName="activitytasktypekey">
                                                                <ng-option value="">Select</ng-option>
                                                                <ng-option *ngFor="let taskItem of taskDropdownItems$ | async" [value]="taskItem.value">{{taskItem.text}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    -->
                                                    <div class="form-group">
                                                        <label>Created Date:</label>
                                                        <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                            <input
                                                                type="text"
                                                                a2e-datetimepicker
                                                                [options]="{ format: 'MM/DD/YYYY', maxDate: null }"
                                                                placeholder="MM/DD/YYYY"
                                                                class="form-control"
                                                                formControlName="insertedon"
                                                                disabled
                                                                value=""
                                                            />
                                                            <i class="fa fa-calendar" aria-hidden="True"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label>Description</label> <input type="text" class="form-control" disabled formControlName="taskdescription" disbaled /></div>
                                                <!--
                                                    <div class="form-group">
                                                        <label class="control control--checkbox full-width">
                                                            Required
                                                            <input type="checkbox" disabled formControlName="required">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                -->
                                                <div class="form-group dd-overflow-inherit">
                                                    <label>Completed</label>
                                                    <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                        <input
                                                            type="text"
                                                            placement="top"
                                                            maxDate
                                                            formControlName="completeddate"
                                                            class="form-control full-width"
                                                            placeholder="MM/DD/YYYY"
                                                            a2e-datetimepicker
                                                            [options]="{ format: 'MM/DD/YYYY', useCurrent: false, maxDate: null }"
                                                        />
                                                        <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                        <control-messages [control]="activityTaskFormGroup.controls['completeddate']"></control-messages>
                                                    </div>
                                                    <div class="input-group">
                                                        <small class="text-danger" *ngIf="activityTaskFormGroup.hasError('notValidCompletedDate')"
                                                            >Completed date should be greater than created on date</small
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <!--
                                                <div class="col-md-6 dd-overflow-inherit">
                                                    <div class="form-group">
                                                        <label>Due</label>
                                                        <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                            <input type="text" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY',useCurrent:false}" class="form-control full-width"
                                                                formControlName="duedate" placeholder="MM/DD/YYYY">
                                                            <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                            <control-messages [control]="activityTaskFormGroup.controls['duedate']"></control-messages>
                                                        </div>
                                                        <div class="input-group">
                                                            <small class="text-danger" *ngIf="activityTaskFormGroup.hasError('notValid')">Due date should be greater than created date</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            -->
                                            <!--
                                                <div class="clearfix"></div>
                                                <div class="col-md-6 dd-overflow-inherit">
                                                    <div class="form-group">
                                                        <label>Assigned To </label>
                                                        <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                            <ng-select [searchable]="true" [clearable]="false" formControlName="loadnumber">
                                                                <ng-option value="">Select</ng-option>
                                                                <ng-option *ngFor="let users of usersProfileDropdownItems$ | async" [value]="users.value">{{users.text}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 dd-overflow-inherit">
                                                    <div class="form-group">
                                                        <label>Assigned On:</label>
                                                        <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                            <input type="text" class="form-control" formControlName="assignedon" placeholder="MM/DD/YYYY" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', 'maxDate': null}">
                                                            <i class="fa fa-calendar" aria-hidden="True"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pad-btm-15 text-right">
                                                    <button class="btn-pri" (click)="enableAssignedTo()">Reassign Task</button>
                                                </div>
                                            -->
                                            <div class="clearfix"></div>
                                            <div class="col-sm-12 time-date" *ngIf="showTime">
                                                <div class="col-md-2 time-date">
                                                    <div class="pad-left15 form-group"><label class="full-width">Start Time</label></div>
                                                </div>
                                                <div class="col-md-3 time-date">
                                                    <div class="form-group dd-overflow-inherit">
                                                        <div class="fm-box-form no-pad dpnew">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                value="|date :'MM/dd/yyyy'"
                                                                formControlName="startdate"
                                                                placeholder="MM/DD/YYYY"
                                                                a2e-datetimepicker
                                                                [options]="{ format: 'MM/DD/YYYY' }"
                                                            />
                                                            <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control full-width" value="|date : 'hh:mm'" formControlName="starttime" placeholder="Time" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <ng-select class="label-right-select" [searchable]="true" [clearable]="false" formControlName="starttimeformat">
                                                            <ng-option value="">Select</ng-option>
                                                            <ng-option value="AM">AM</ng-option>
                                                            <ng-option value="PM">PM</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 time-date" *ngIf="showTime">
                                                <div class="col-md-2 time-date">
                                                    <div class="pad-left15 form-group"><label class="full-width">End Time</label></div>
                                                </div>
                                                <div class="col-md-3 time-date">
                                                    <div class="form-group dd-overflow-inherit">
                                                        <div class="fm-box-form no-pad dpnew">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                formControlName="enddate"
                                                                placeholder="MM/DD/YYYY"
                                                                a2e-datetimepicker
                                                                [options]="{ format: 'MM/DD/YYYY' }"
                                                            />
                                                            <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group"><input type="text" class="form-control full-width" formControlName="endtime" placeholder="Time" /></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <ng-select class="label-right-select" [searchable]="true" [clearable]="false" formControlName="endtimeformat">
                                                            <ng-option value="">Select</ng-option>
                                                            <ng-option value="AM">AM</ng-option>
                                                            <ng-option value="PM">PM</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <input type="text" class="form-control" formControlName="location">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control control--checkbox full-width">
                                                            Out of Office
                                                            <input type="checkbox" formControlName="outofoffice">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            -->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="required">Status</label>
                                                    <ng-select
                                                        class="col-md-6 label-right-select"
                                                        formControlName="activitytaskstatustypekey"
                                                        (change)="changeTaskStatusType()"
                                                        [searchable]="true"
                                                        [clearable]="false"
                                                    >
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let tasktypestatus of (taskTypeStatusDropdownItems$ | async)" [value]="tasktypestatus.value">{{
                                                            tasktypestatus.text
                                                        }}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="required">Disposition</label>
                                                    <ng-select
                                                        class="col-md-6 label-right-select"
                                                        [searchable]="true"
                                                        [clearable]="false"
                                                        formControlName="activitytaskdispositiontypekey"
                                                        id="parent-team-drop"
                                                    >
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let disposition of (taskDispositionDropdownItems$ | async)" [value]="disposition.value">{{ disposition.text }}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                                <button type="button" ngif value="Save" class="btn-pri" (click)="updateActivityTask()" [disabled]="activityTaskFormGroup.pristine || activityTaskFormGroup.invalid">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
