<br><br>
<ytp-client-selector></ytp-client-selector>
<div class="col-md-12 m-t-20 m-b-10" *ngIf="selectedClientId" >
    <!-- <button class="service-btn p-r-20 col-fnt pull-left" 
        [disabled]="ytpPlanGoalList?.length && (ytpPlanGoalList[0].approvalstatuskey === null || ytpPlanGoalList[0].approvalstatuskey ==='Pending' ||
        ytpPlanGoalList[0].approvalstatuskey ==='Draft')" (click)="createPlan(selectedClientId)">+ Youth Transition Plan
    </button> -->
    <button class="service-btn p-r-20 col-fnt pull-left" 
        [disabled]="ytpPlanGoalList?.length && !(ytpPlanGoalList[0].approvalstatuskey === 'Approved')" (click)="createPlan(selectedClientId)">+ Youth Transition Plan
</button>
</div>

<div class="col-md-9 m-t-20 m-b-10" *ngIf="ytpPlanGoalList?.length > 0">
    <div >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Select Plan</th>
                    <th>Child Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="ytpPlanGoalList?.length > 0; else noRecordTemplate">
                    <tr *ngFor="let item of ytpPlanGoalList; let index=index;">
                        <td class="text-center">
                            <mat-radio-button name="selected_plan" matToolTip="Select Plan" (change)="selectPlan(item)"></mat-radio-button>
                        </td>
                        <td> {{getPersonName(item?.clientid)}}</td>
                        <td>{{item?.insertedon | date : 'MM/dd/yyyy'}}</td>
                        <td>
                            <span *ngIf="item?.approvalstatuskey ==='Pending'" class="status-pending"><span
                                    class="">Status : </span> &nbsp;{{item?.approvalstatuskey}}</span>
                            <span *ngIf="item?.approvalstatuskey ==='Return'" class="status-returned"><span
                                    class="">Status : </span> &nbsp;{{item?.approvalstatuskey}}</span>
                            <span *ngIf="item?.approvalstatuskey ==='Approved'" class="status-approved"><span
                                    class="">Status : </span> &nbsp;{{item?.approvalstatuskey}}</span>
                            <span *ngIf="item?.approvalstatuskey ==='Draft'" class="status-draft"><span 
                                    class="">Status : </span> &nbsp;{{item?.approvalstatuskey}}</span>
                            <span *ngIf="item?.approvalstatuskey ==='Return'">
                                    <a data-toggle="modal" data-target="#return-reason" (click)="showReturnReason(item)"
                                        matTooltip="Click for reason of return.">
                                        <i class="fa fa-commenting fa-2x"></i>
                                    </a>
                            </span>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <a data-toggle="modal" (click)="youthTransPlanPrint(item)">
                                        <i class="fa fa-download" aria-hidden="true"></i>View/Download</a>
                                </div>
                                <div class="col-md-6">
                                    <span
                                        *ngIf="user.role.name !== 'field' && item?.approvalstatuskey ==='Pending'">
                                        <button type="button" class="service-btn p-r-10 col-fnt pull-right"
                                            data-placement="bottom" title="Approval"
                                            (click)="getRoutingUser('Approved',item)">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button type="button" class="service-btn p-r-10 col-fnt pull-right"
                                            data-placement="bottom" title="Return to worker"
                                            (click)="getRoutingUser('Return',item)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </span>
                                    <span
                                        *ngIf="user.role.name === 'field' && item?.approvalstatuskey !=='Pending'">
                                        <button type="button" *ngIf="item?.approvalstatuskey !=='Approved'"
                                            matTooltip="Send youth transition plan for supervisor approval."
                                            class="service-btn p-r-10 col-fnt"
                                            data-target="#intake-caseassignnewX"
                                            data-toggle="modal" (click)="getRoutingUser('Pending',item)">
                                            Send For Approval
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-template #noRecordTemplate>
                    <tr>
                        <td colspan="5" class="text-center">
                            No Records found
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<br><br>
<div class="box-grid" *ngIf="selectedYTPPlan" #tab_content>
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card-goals row">
                <div class="col-md-3 nav-vertical m-t-20">
                    <ul class="nav nav-pills">
                        <li routerLinkActive="active" *ngFor="let tab of tabs" (click)="onTabClick(tab,tab_content)">
                            <a [routerLink]='tab.path'> 
                                <ng-container *ngIf="tab.isCompleted"><i class="fa fa-check-circle complete"></i></ng-container>
                                {{tab.title}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="col-md-9">
                    <div class="tab-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Routing Modal -->
<div class="modal fade" id="intake-caseassignnewX" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Assign</h4>
            </div>
            <div class="modal-body dashboard-cont">
                <div class="tab-horizontal mrg-btm25">
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="bs-example">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>NAME</th>
                                                <th>ZIP CODE</th>
                                                <th>TYPE OF WORKER</th>
                                                <th>UNIT</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td>{{item.username}} </td>
                                                    <!-- <td >{{item.workloads}}</td> -->
                                                    <!-- <td >{{item.available}}</td> -->
                                                    <td>{{item.homelocationcode}}</td>
                                                    <!-- <td >{{item.agencykey}}</td> -->
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="assignNewUser(selectedPlan)">ASSIGN</button>
            </div>
        </div>
    </div>
</div>

<!-- Decision confirmation modal -->
<div class="modal fade" id="confirm-decision" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Decision confirmation </h4>
                </div>
                <form [formGroup]="returnFormGroup">
                    <div class="modal-body">
                        <p> Please confirm decision : <b> {{approvalProcess}} </b> </p>
                    </div>
                    <div class="modal-body" *ngIf="approvalProcess==='Return'">
                        <p>Please enter reason for returning the Youth Transitional Plan :</p>
                        <mat-form-field>
                            <textarea formControlName="returnreason" matInput ></textarea>
                        </mat-form-field>
                    </div>
                </form>

                <div class="modal-footer">
                    <div class="text-right right-mspace-15">
                        <button type="button" value="No" class="btn-bg" name="" (click)="cancelDecision()"> Cancel </button>
                        <button type="button" value="Yes" class="btn-pri" name="" (click)="confirmDecision()"> Yes </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Return reason modal -->
<div class="modal fade in" id="return-reason">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">×</button>
                    <h4 class="modal-title bc-pop-title"> Reason of return </h4>
                </div>
                <div class="modal-body">
                    <div [safeHtml]="viewReturnReason"></div>
                    <!-- <p> {{viewReturnReason }}</p> -->
                    <!-- <p> Return reason </p> -->
                    <div class="text-right">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Youth Transitional Plan-->
<div class="modal fade custom-modal" id="youthTransPlan" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h4 class="modal-title"> PDF Preview </h4>
            </div>
            <div class="modal-body">
                <div class="text-right big-bot-space right-mspace-15">
                    <button class="btn-pri" (click)="downloadYTPPdf()" type="button">Download</button>
                </div>
                <!--Summary 1-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="1">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong><u>MARYLAND YOUTH TRANSITIONAL PLAN</u></strong>
                                </h3>
                            </div>
                            <div class="row">
                                <p>
                                    The Maryland Youth Transitional Plan is an ongoing planning process to ensure
                                    youth’s successful transition
                                    from foster care. The following form is designed to assist a youth in developing a
                                    personalized plan with their
                                    worker as they prepare for life after foster care. This plan must be driven by
                                    youth, and specific to the needs and
                                    goals of the youth.
                                </p>
                                <p>
                                    To properly identify the needs of Maryland’s youth and ensure youth obtain the
                                    resources and skills to be self
                                    sufficient, caseworkers will administer this form annually to all youth ages 14 to
                                    16, and every 180 days
                                    thereafter for youth ages 16 to 21. It is required that this plan be <b>finalized 90
                                        days before</b> a youth exits foster
                                    care.
                                </p>
                                <p style="margin-top: 20px; border-style: groove;">
                                    <strong><u>Directions to Youth:</u></strong> Before you leave foster care, a plan
                                    must be developed to prepare you for life after
                                    care. This form will guide you and your caseworker in a discussion about key topics
                                    such as: how you will
                                    support yourself, where you will live, how you will take care of your health, and/or
                                    who you will call if you
                                    need help. Your participation during the development of this plan is very important.
                                    It will provide an
                                    opportunity to share your needs and goals and find out what options, programs,
                                    services and people are
                                    available to help you as you transition out of foster care. This plan is about your
                                    life; be sure to speak up and
                                    ask questions.
                                    <br>
                                    <br>
                                    <strong><u>Directions to Adults:</u></strong> (e.g., caseworkers, caregivers, social
                                    workers, community partners): As an adult
                                    supporter, your role is to assist youth in the development of their transition plan
                                    by engaging and teaming
                                    with them in a discussion to identify needs and goals around education, employment,
                                    housing, health,
                                    money management, and supportive connections.
                                </p>
                            </div>
                            <table class="table table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label style="text-align:left">Name: &nbsp; {{ selYouth?.summary_json?.clientName }}</label></td>
                                        <td><label style="text-align:left">Date of Birth: &nbsp; {{ selYouth?.summary_json?.dob | date : 'MM/dd/yyyy'}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label style="text-align:left">Date entered Foster Care: &nbsp; {{selYouth?.summary_json?.effectivedate | date : 'MM/dd/yyyy'}}</label></td>
                                        <td><label style="text-align:left">Case#: &nbsp; {{ selYouth?.summary_json?.caseno }}</label></td>
                                        <td><label style="text-align:left">Permanency Plan Goal#: &nbsp; {{ selYouth?.summary_json?.primarypermanencytype }}</label></td>
                                        <td><label style="text-align:left">Case Worker Name: &nbsp; {{ selYouth?.summary_json?.caseworkername }}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Assessments Taken & Completion Date</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <ng-container *ngIf="selYouth?.summary_json?.assessments?.length > 0; else noRecordTemplate">
                                    <tr *ngFor="let item of selYouth?.summary_json?.assessments">
                                        <td>{{ item.name }}</td>
                                        <td class="col-md-2">{{ item.completionDate | date : 'MM/dd/yyyy'}} </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noRecordTemplate>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            No Assessments Taken
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label style="text-align:left">Date Transition Plan Completed: &nbsp; {{selYouth?.summary_json?.transplancompleted | date: 'MM/dd/yyyy'}}</label></td>
                                        <td><label style="text-align:left">Six Month Transition Plan Follow Up Date: &nbsp; {{selYouth?.summary_json?.planfollowupdate | date: 'MM/dd/yyyy'}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Participants Involved in the Development of the Transition Plan</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered" width="100%">
                                <ng-container *ngIf="selYouth?.summary_json?.participants?.length > 0; else noParticipantTemplate">
                                    <tr *ngFor="let item of selYouth?.summary_json?.participants">
                                        <td>{{ item.type }}</td>
                                        <td>Name: {{ item.firstname }} {{ item.lastname }}</td>
                                        <td>Relation: {{ item.relationship }} </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noParticipantTemplate>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            No Participants added
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                        </section>
                    </div>
                </div>
                <!--Summary 2-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="2">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <p style="margin-top: 20px; border-style: groove; text-align: center">
                                The following pages list topic areas identified to gather youth’s thoughts and ideas on
                                specific
                                matters regarding their lives. The caseworker and youth will engage in a discussion to
                                detail youth’s identified strengths,
                                issues, concerns, immediate needs, goals and action plans.
                            </p>
                            <div class="editable-wrapper">
                                <span class="label">YOUTH’S STRENGTHS:</span>
                                <div class="editable" contenteditable>{{selYouth?.youththoughts_json?.youthstrength}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label">ISSUES/CONCERNS:</span>
                                <div class="editable" contenteditable>{{selYouth?.youththoughts_json?.issues}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label">SERVICE DELIEVERY & NEEDS:(Please list services youth currently uses and/or identifies as immediate needs)</span>
                                <div class="editable" contenteditable>{{selYouth?.youththoughts_json?.deliveryneeds}}</div>
                            </div>
                            <p style="margin-top: 20px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <p style="margin-top: 20px; text-align: center">
                                On the following pages, key questions and facts are listed in the “Do You Know” section
                                to give a heads
                                up on things you should know, or highlight things you should seek out from your local
                                department. For
                                example, read the questions below, if you check “No” to any of the following, we
                                encourage you to
                                gather more information from your social worker.
                                The following questions are particularly important as you think about maintaining your
                                health as an adult:
                            </p>
                            <p style="margin-top: 20px; text-align: center">
                                Do you know...?
                            </p>
                            <ul>
                                <li>What information is needed for medical coverage after foster care? (Coverage plans,
                                    etc.) [{{selYouth?.youththoughts_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.youththoughts_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.youththoughts_json?.doyouknow[0].comments}}
                                <li>Which clinics/doctor offices you can access with your insurance? [{{selYouth?.youththoughts_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.youththoughts_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.youththoughts_json?.doyouknow[1].comments}}
                                <li>You must inform your caseworker of any address changes to receive health coverage
                                    after care. [{{selYouth?.youththoughts_json?.doyouknow[2].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.youththoughts_json?.doyouknow[2].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.youththoughts_json?.doyouknow[2].comments}}                                    
                                <li>The State of Maryland has a benchmark policy that outlines all the information &
                                    tools you should
                                    receive by age 14, 15, 16, 17 and 18? (Ask your social worker for a copy of the
                                    Benchmark Policy)
                                </li>
                                    Comments: {{selYouth?.youththoughts_json?.doyouknow[3].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Education-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="3">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**EDUCATION**</strong></h3>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Current Educational Status:</u> (In school? Grade? How are grades? IEP? Graduation date? GED? Other programs?</span>
                                <div class="editable" contenteditable>{{selYouth?.education_json?.educational_status}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Future Goals or Plans for Education/Vocational Training:</u> (Attend College? Type of program? Vocational training? Military?)</span>
                                <div class="editable" contenteditable>{{selYouth?.education_json?.future_goals}}</div>
                            </div>
                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.education_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.education_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <label style="text-align:left">Are you familiar with the education training voucher? [{{selYouth?.education_json?.is_familiar_edu_training_voucher == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.is_familiar_edu_training_voucher == 0 ? '&#10004;' : ''}}] N</label>
                            <div class="editable-wrapper">
                                <div class="editable" contenteditable>{{selYouth?.education_json?.familiar_edu_training_voucher_desc}}</div>
                            </div>
                            <label style="text-align:left">Are you exploring other financial resources (e.g., scholarships & grants) to support your future educational and/or
                                vocation programs? [{{selYouth?.education_json?.is_exploring_fin_res == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.is_exploring_fin_res == 0 ? '&#10004;' : ''}}] N If so, please list.</label>
                            <div class="editable-wrapper">
                                <div class="editable" contenteditable>{{selYouth?.education_json?.is_exploring_fin_res_desc}}</div>
                            </div>
                            <p style="margin-top: 20px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <ul>
                                <li> About your High School Assessment (i.e. Algebra I)? [{{selYouth?.education_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[0].comments}}
                                <li> Your educational requirements to graduate? Is your worker aware of what you need to
                                    graduate? [{{selYouth?.education_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[1].comments}}
                                <li> Whether transportation is in place to remain in your same school if you change
                                    placements? [{{selYouth?.education_json?.doyouknow[2].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[2].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[2].comments}}
                                <li> When you need to take the SATs? Have you already registered? [{{selYouth?.education_json?.doyouknow[3].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[3].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[3].comments}}
                                <li> If your worker is aware of funding and resources for higher education (college and
                                    vocational)? [{{selYouth?.education_json?.doyouknow[4].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[4].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[4].comments}}
                                <li> Where to find assistance in applying for college and working through the admissions
                                    process? [{{selYouth?.education_json?.doyouknow[5].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[5].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[5].comments}}
                                <li> About D.O.R.S (Division of Rehabilitation Services)? [{{selYouth?.education_json?.doyouknow[6].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[6].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[6].comments}}
                                <li> The education requirements needed to obtain a Drivers License? [{{selYouth?.education_json?.doyouknow[7].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.education_json?.doyouknow[7].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.education_json?.doyouknow[7].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Employment-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="4">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**EMPLOYMENT**</strong></h3>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Current Employment Status:</u> (Job Search? Skills needed? If employed, how do you maintain employment? If unemployed, how will you maintain employment? )</span>
                                <div class="editable" contenteditable>{{selYouth?.employment_json?.currentemploymentstatus}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Future goals or plans for employment/career:</u> (what career field do you want to pursue? How will you gain the skills necessary for your career goals? Who can help you obtain experience in this career area? Any plans for job shadowing or internship?)</span>
                                <div class="editable" contenteditable>{{selYouth?.employment_json?.futuregoals}}</div>
                            </div>
                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.employment_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.employment_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <p style="margin-top: 20px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <ul>
                                <li> How to find assistance with applying for summer youth employment? [{{selYouth?.employment_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.employment_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.employment_json?.doyouknow[0].comments}}
                                <li> About Maryland RISE workforce development program? [{{selYouth?.employment_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.employment_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.employment_json?.doyouknow[1].comments}}
                                <li> About the career assessment at your school? Have you developed a career development
                                    framework? Be sure to share this information with your worker. [{{selYouth?.employment_json?.doyouknow[2].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.employment_json?.doyouknow[2].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.employment_json?.doyouknow[2].comments}}
                                <li> Where to find help with interviewing skills, resume building, appropriate dressing,
                                    and proper behavior in the workplace? [{{selYouth?.employment_json?.doyouknow[3].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.employment_json?.doyouknow[3].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.employment_json?.doyouknow[3].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Money Management-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="5">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**MONEY MANAGEMENT**</strong></h3>
                            </div>
                            <label style="text-align:left">Do you currently have a: [{{selYouth?.moneymanagement_json?.ischeckingAccount ? '&#10004;' : ''}}] Checking Account [{{selYouth?.moneymanagement_json?.isSavingsAccount ? '&#10004;' : ''}}] Savings
                                Account?</label>
                            <label style="text-align:left">If you checked yes, what is the name of your bank?
                                    {{selYouth?.moneymanagement_json?.ischeckingAccount ? selYouth?.moneymanagement_json?.accountDesc : ''}}</label>
                            <label style="text-align:left">Have you received a free copy of your annual credit reports
                                from the 3 credit reporting agencies? [{{selYouth?.moneymanagement_json?.receivedFreeCopy == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.receivedFreeCopy == 0 ? '&#10004;' : ''}}] N</label>
                            <label style="text-align:left">If there were any inaccuracies in your credit report, were
                                you given any assistance in how to correct it? [{{selYouth?.moneymanagement_json?.isInaccuracies == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.isInaccuracies == 0 ? '&#10004;' : ''}}] N</label>
                            <label style="text-align:left">[ add to Short Term Goals/ Next Steps]</label>
                            <label style="text-align:left">What is your current source of income? {{selYouth?.moneymanagement_json?.sourceofIncome }}
                                Monthly Amount? {{selYouth?.moneymanagement_json?.monthlyAmount }}</label>
                            <label style="text-align:left">Do you currently keep a monthly budget of your expenses? [{{selYouth?.moneymanagement_json?.keepingMonthlyBudget == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.keepingMonthlyBudget == 0 ? '&#10004;' : ''}}] N</label>
                            <label style="text-align:left">Are you saving money to support yourself after you leave foster care? [{{selYouth?.moneymanagement_json?.savingMoney == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.savingMoney == 0 ? '&#10004;' : ''}}] N</label>
                            <label style="text-align:left">Current amount saved: $ {{selYouth?.moneymanagement_json?.currentAmountSaved}}</label>
                            <label style="text-align:left"> Goal: $ {{selYouth?.moneymanagement_json?.goalAmount}}</label>
                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.moneymanagement_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.moneymanagement_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <p style="margin-top: 20px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <ul>
                                <li> Your credit score? Why credit history is so important? [{{selYouth?.moneymanagement_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.moneymanagement_json?.doyouknow[0].comments}}
                                <li> The importance of having a bank account (i.e. savings/checking) and budgeting? [{{selYouth?.moneymanagement_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.moneymanagement_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.moneymanagement_json?.doyouknow[1].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Housing-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="6">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**HOUSING**</strong></h3>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Current Living Situation:</u></span>
                                <div class="editable" contenteditable>{{selYouth?.housing_json?.currentlivingsituation}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Future Plans/Goals for Housing:</u></span>
                                <div class="editable" contenteditable>{{selYouth?.housing_json?.futuregoals}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Plan for housing upon discharge:</u>(In the event you lose your housing or exit care, what is your emergency housing plan? where? with whom? Who will you ask for help?)</span>
                                <div class="editable" contenteditable>{{selYouth?.housing_json?.planforhousing}}</div>
                            </div>
                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.housing_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.housing_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <p style="margin-top: 20px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <ul>
                                <li> All your housing options? [{{selYouth?.housing_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[0].comments}}
                                <li> How to secure funding for housing? How to apply for section 8 housing? Or, how to
                                    find information for low income housing in the area, if needed? [{{selYouth?.housing_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[1].comments}}
                                <li> About SILA (Semi-independent living program)? [{{selYouth?.housing_json?.doyouknow[2].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[2].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[2].comments}}
                                <li> How to get on the HUD list? [{{selYouth?.housing_json?.doyouknow[3].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[3].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[3].comments}}
                                <li> What’s needed to get housing (i.e. criminal background, leasing agreement)? [{{selYouth?.housing_json?.doyouknow[4].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[4].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[4].comments}}
                                <li> About the Family Reunification Program (FUP)? [{{selYouth?.housing_json?.doyouknow[5].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.housing_json?.doyouknow[5].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.housing_json?.doyouknow[5].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Supportive Relationships and Community Connections-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="7">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**SUPPORTIVE RELATIONSHIPS AND COMMUNITY
                                        CONNECTIONS**</strong></h3>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label">Who is currently your support system? Who do you feel closely connected to? How are they a support?(Name, Contact information & Relationship)</span>
                                <div class="editable" contenteditable>{{selYouth?.sracc_json?.currentSystemSupport}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label">Efforts to identify additional adult supports and mentors (Please identify clubs, organizations, interest areas, social networks youth can develop)</span>
                                <div class="editable" contenteditable>{{selYouth?.sracc_json?.effortstoIdentify}}</div>
                            </div>
                            <label style="text-align:left"></label>
                            <div class="editable-wrapper">
                                <span class="label">Are you currently involved in your community? [{{selYouth?.sracc_json?.involvedinCommunity.value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.sracc_json?.involvedinCommunity.value == 0 ? '&#10004;' : ''}}] N If yes, how?</span>
                                <div class="editable" contenteditable>{{selYouth?.sracc_json?.involvedinCommunity.value == 1 ? selYouth?.sracc_json?.involvedinCommunityDesc : ''}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label">Do you have a spiritual support/church organization? (Name, Contact information)</span>
                                <div class="editable" contenteditable>{{selYouth?.sracc_json?.spiritualSupport}}</div>
                            </div>
                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.sracc_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.sracc_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <div class="editable-wrapper">
                                <span class="label">My long term goal to build or maintain strong relationships with supportive adults is…</span>
                                <div class="editable" contenteditable> </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!--Health-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="8">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**HEALTH**</strong></h3>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Current Health Status:</u></span>
                                <div class="editable" contenteditable>{{selYouth?.health_json?.health_status}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Goals to Obtain or Maintain Good Health:</u></span>
                                <div class="editable" contenteditable>{{selYouth?.health_json?.health_goals}}</div>
                            </div>
                            <div class="editable-wrapper">
                                <span class="label"><u>Plans for Medical Coverage after Foster Care:</u> (Insurance? How will you access healthcare‐doctors visits, medicines?)</span>
                                <div class="editable" contenteditable>{{selYouth?.health_json?.medical_plan}}</div>
                            </div>
                            <h3 style="text-align:left; background-color:powderblue">Specific Health Issues</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Health Issues</th>
                                        <th>Concerns/Needs</th>
                                        <th>Date of Last Exam</th>
                                        <th>Doctor Contact Information: (name, office address, phone#) therapist,
                                            dentist, optometrist</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.health_json?.healthissues?.length > 0; else noIssuesTemplate">
                                        <tr *ngFor="let item of selYouth?.health_json?.healthissues">
                                            <td>{{ item.health_issues }}</td>
                                            <td>{{ item.concern }} </td>
                                            <td>{{ item.date_last_exam | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{ item.doctor_info }}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noIssuesTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Specific Health Issues
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <p style="margin-top: 20px; text-align: left">
                                <strong><u>Health Care Decisions:</u></strong><br>
                                It is important that you take time to think about and plan whom you would like to make
                                major health care decisions for
                                you if you were incapacitated. In the State of Maryland, this individual would be
                                referred to as a Health Care Agent.
                                Health Care Agents aren’t chosen for you. It is your decision to appoint someone you
                                trust to make these major
                                decisions should you become unable. The key question in selecting a Health Care Agent
                                is: <strong>If you are unable to make
                                    a decision about your health or treatment, is there anyone you would like to make
                                    those decisions for you?</strong>
                                <br>
                                Your caseworker will provide you with a copy of the Advance Directive for Selecting a
                                Health Care Agent, to help you
                                in the process of appointing a Health Care Agent should you choose to do so.
                            </p>
                            <ul>
                                <li> [{{selYouth?.health_json?.health_care_agent ? '&#10004;' : ''}}] Discussed the importance of designating a Health Care Agent</li>
                                <li> [{{selYouth?.health_json?.advance_directive_health ? '&#10004;' : ''}}] Received copy of the Advance Directive for Selecting a Health Care Agent</li>
                            </ul>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.health_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.health_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <p style="margin-top: 10px; text-align: center">
                                <strong>??DO YOU KNOW...??</strong>
                            </p>
                            <ul>
                                <li> Regular exams and annual physicals are important to maintain good health. [{{selYouth?.health_json?.doyouknow[0].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.health_json?.doyouknow[0].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.health_json?.doyouknow[0].comments}}
                                <li> The purpose of each medication you’ve been prescribed? [{{selYouth?.health_json?.doyouknow[1].value == 1 ? '&#10004;' : ''}}] Y [{{selYouth?.health_json?.doyouknow[1].value == 0 ? '&#10004;' : ''}}] N</li>
                                    Comments: {{selYouth?.health_json?.doyouknow[1].comments}}
                            </ul>
                        </section>
                    </div>
                </div>
                <!--Documentation-->
                <div class="pdf-page sizeA4 page-paddings" data-page-name="Youth Transitional Plan" data-page-end="true"
                    data-page-number="9">
                    <div class="gridsec" id="printYTP">
                        <section class="" style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center"><strong>**DOCUMENTATION**</strong></h3>
                            </div>
                            <label style="text-align:left">Has the youth received the following documents*?</label>

                            <table width="100%">
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.fosterCareVerification ? '&#10004;' : ''}}] Foster Care Verification Letter</td>
                                    <td>[{{selYouth?.documentation_json?.greenCard ? '&#10004;' : ''}}] Green Card (if applicable)</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.educationRecords ? '&#10004;' : ''}}] Education Records</td>
                                    <td>[{{selYouth?.documentation_json?.medicalRecord ? '&#10004;' : ''}}] Medical Records</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.socialSecurityCard ? '&#10004;' : ''}}] Social Security Card</td>
                                    <td>[{{selYouth?.documentation_json?.birthCertificate ? '&#10004;' : ''}}] Birth Certificate</td>
                                </tr>
                            </table>
                            <table width="100%">
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.identification ? '&#10004;' : ''}}] Maryland State Photo Identification Or Driver’s license</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.healthInsuranceCard ? '&#10004;' : ''}}] Medical/Health Insurance Card</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.instruction ? '&#10004;' : ''}}] Instructions on how to request official replacement documents</td>
                                </tr>
                            </table>

                            <label style="text-align:left">* These documents should be official Maryland State documents (compliant with the REAL ID Act) as applicable.</label>
                            <label style="text-align:left">What additional documents does the youth need/want? {{selYouth?.documentation_json?.additionalDocumentsNeeded}}</label>

                            <h3 style="text-align:left; background-color:powderblue">Short Term Goals/Next Steps</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Short Term Goals/Next Steps</th>
                                        <th>Plan of Action</th>
                                        <th>Responsible Parties</th>
                                        <th>Projected completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="selYouth?.documentation_json?.goals?.length > 0; else noGoalsTemplate">
                                        <tr *ngFor="let item of selYouth?.documentation_json?.goals">
                                            <td>{{ item.goal }}</td>
                                            <td>
                                                <ng-container *ngIf="item?.actions?.length > 0">
                                                <tr *ngFor="let subitem of item?.actions">
                                                    {{ subitem.action_plan }} 
                                                </tr>
                                                </ng-container>
                                            </td>
                                            <td>{{ item.responsible_parties.firstname }} {{ item.responsible_parties.lastname }}</td>
                                            <td>{{ item.projected_date | date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noGoalsTemplate>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Goals added
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                            <label style="text-align:left">Copies of this transition plan have been made for the
                                following:</label>
                            <table align="center" width="100%">
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.youth ? '&#10004;' : ''}}] Youth</td>
                                    <td>[{{selYouth?.documentation_json?.independentLivingProvider ? '&#10004;' : ''}}] Independent Living Provider</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.caregiver ? '&#10004;' : ''}}] Caregiver</td>
                                    <td>[{{selYouth?.documentation_json?.other ? '&#10004;' : ''}}] Other {{selYouth?.documentation_json?.otherDesc}}</td>
                                </tr>
                                <tr>
                                    <td>[{{selYouth?.documentation_json?.caseFile ? '&#10004;' : ''}}] Case File</td>
                                </tr>
                            </table>
                            <label style="text-align:left">The following signature indicates a commitment to help
                                    {{selYouth?.documentation_json?.signatureName}} reach his/her transition plan goals.</label>

                            <table align="center" width="100%">
                                <tr>
                                    <td><img [src]="selYouth?.documentation_json?.youthSign" height="150px"></td>
                                    <td style="vertical-align: bottom;">{{selYouth?.documentation_json?.youthSignDate | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>Youth Signature</td>
                                    <td>Date</td>
                                </tr>
                                <tr>
                                    <td><img [src]="selYouth?.documentation_json?.ldssRepresentativeSign" height="150px"></td>
                                    <td style="vertical-align: bottom;">{{selYouth?.documentation_json?.ldssRepresentativeSignDate | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>Case Worker Signature</td>
                                    <td>Date</td>
                                </tr>
                                <tr>
                                    <td><img [src]="selYouth?.documentation_json?.otherParticipantSign" height="150px"></td>
                                    <td style="vertical-align: bottom;">{{selYouth?.documentation_json?.otherParticipantSignDate | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>Family Member Signature</td>
                                    <td>Date</td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>