<div class="tab-content no-shadow">
  <div id="appointments" class="tab-pane fade in active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="mt-20">Appointments</h4>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-12 m-t-20">
          <div class="row person-wrap">
            <div class="col-sm-3" *ngFor="let appointment of appointments; let i=index">
              <div class="panel panel-default person-panel">
                <div class="panel-heading">

                  <div class="media">
                    <div class="media-body">
                      <h4>{{appointment.title}}</h4>
                    </div>
                  </div>
                </div>
                <div class="panel-body appointment-panel">
                  <dl>
                    <dt>Date</dt>
                    <dd class="single-wrap"> {{appointment.appointmentdate | date:'MM/dd/yyyy'}}

                    </dd>
                  </dl>


                  <dl>
                    <dt>Case Worker</dt>
                    <dd>
                      {{appointment.appointmentworkername}}
                    </dd>
                  </dl>
                  <dl>
                    <dt>Persons</dt>
                    <dd> <span *ngFor="let actor of appointment.actors">
                        {{actor.lastname}} &nbsp; {{actor.firstname}} <br>
                      </span>
                    </dd>

                  </dl>
                  <dl>
                    <dt>Status</dt>
                    <dd>{{appointment.status}}</dd>
                  </dl>
                  <dl *ngIf="appointment.notes">
                    <dt>Notes</dt>
                    <dd [innerHTML]="appointment.notes" style="cursor: pointer;" class="editor-notes" data-toggle="modal"
                      data-target="#complete-appointment-popup" (click)="openAppointmentComments(appointment)"></dd>


                  </dl>
                </div>

              </div>
            </div>
            <div class="col-sm-12" *ngIf="appointments.length===0">
              No appointments found
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-12 m-t-20">
          <div class="table-responsive table-theme">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Intake #</th>
                  <th>Case #</th>
                  <th>Appointment Name</th>
                  <th>Appointment Date </th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Subject</th>
                  <th>Worker ID</th>
                  <th>Worker Name</th>
                  <th>Business Unit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="appointments.length === 0">
                  <td colspan="9" style="text-align:center!important;">No Data Found</td>
                </tr>
                <tr *ngFor="let appointment of appointments;">
                  <td> {{appointment.intakenumber}}</td>
                  <td> <a class="theme-text" (click)="routeToCase(appointment)">{{appointment.servicerequestnumber}}</a></td>
                  <td>{{appointment.title}}</td>
                  <td style="width: 175px;">{{appointment.appointmentdate | date : 'MM/dd/yyyy hh:mm aa'}}</td>
                  <td [innerHTML]="appointment.notes" style="cursor: pointer; width: 200px; overflow: hidden; height: 20px; max-width: 250px;"
                    class="editor-notes" data-toggle="modal" data-target="#complete-appointment-popup" (click)="openAppointmentComments(appointment)"></td>
                  <td>{{appointment.status}}</td>
                  <td>{{appointment.title}}</td>
                  <td>{{appointment.appointmentworkercjamspid}}</td>
                  <td>{{appointment.appointmentworkername}}</td>
                  <td>{{appointment.teamname}}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
              <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="complete-appointment-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Appointment Notes </h4>
      </div>
      <div class="modal-body">
        <quill-editor [(ngModel)]="completionNotes" format="html" [placeholder]="notes" [style]="{height: '140px'}"
          [readOnly]="true"></quill-editor>
        <div class="text-right big-bot-space right-mspace-15 m-t-10">

          <button type="button" value="Ok" class="btn-pri" name="" data-dismiss="modal"> Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>