<div class="cnt-min-height">
    <div class="row m-t-20">


        <form [formGroup]="saoResponseForm">
            <div class="col-md-5">
                Signed off date - {{signedOffDate | date:'MM/dd/yyyy' }}
                <h4 class="header-bg">SAO RESPONSE Details</h4>
                <mat-form-field>
                    <input matInput required appMaskDate [matDatepicker]="saoResponseDatepicker" (click)="saoResponseDatepicker.open()"
                        [max]="currentDate" (focus)="saoResponseDatepicker.open()" id="saoResponseDate" formControlName="saoresponsedate"
                        placeholder="SAO Response Date">
                    <mat-datepicker-toggle matSuffix [for]="saoResponseDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #saoResponseDatepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-select required placeholder="Status" formControlName="saoresponsestatustypekey">
                        <mat-option *ngFor="let item of saoStatus$ | async" [value]="item.value">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select required placeholder="Condition" formControlName="saoresponseconditiontypekey">
                        <mat-option *ngFor="let item of saoConditions$ | async" [value]="item.value">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
