.form-search-person .form-group .form-control {
    width: 63%;
}
.dangerwork-form.address-form label {
    width: 37%;
    text-align: left;
}
label.full-width {
    margin-top: 8px !important;
}
.alert-align {
    float: right;
    width: 100%;
    text-align: center;
    position: absolute;
}
.fa-calendar, .fa-clock-o {
    position: absolute;
    right: 15px;
    top: 10px;
}
button.save-draft[disabled] {
    background:none;
}
.save-draft {
    background: none;
    border: 1px solid #00A2FD ;
    color: #00A2FD ;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 4px;
}
button.save-draft[disabled]:hover {
    background:none;
    border: 1px solid #00A2FD ;
    color: #00A2FD;
    opacity: 0.6;
}
.form-group {
    margin-bottom: 15px;
}
ng-select.ng-select {
    display: inline-block;
    width: 63%;
}
.ng-select-dropdown-outer {
    z-index: 6;
}

.recording-chat-model label {
    width: 40%;
}
.recording-chat-model .form-group p {
    height: 34px;
}
.recording-chat-model label.control.control--checkbox {
    padding-left: 0;
}
.recording-chat-model .control__indicator {
    right: 55%;
    left: auto;
}
.recording-chat-model .media-details .box-grid {
    // height: 260px;
    overflow: auto;
    margin: 10px 0 0;
}
.recording-chat-model .media-details .media {
    margin-bottom: 25px;
}
.recording-chat-model .media-details h4 {
    color: #4c4848;
    font-size: 14px;
    font-weight: 700;
}
.recording-chat-model .media-details .media-object {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.recording-chat-model .media-details .media-heading {
    color: #00bcd3;
    font-size: 12px;
}
.recording-chat-model .media-details .media-heading span {
    color: #8a8a8a;
    font-size: 10px;
    float: right;
}
.green {
    color: green;
}

#myModal-recordings-edit .form-search-person .form-group{margin-bottom: 15px;}
#Recording .table .word-break ul{padding-left: 25px;}
.person-contected{width: 63%;float: left;}
.person-contected .mat-form-field-label{text-align: left;}

.modal textarea:focus, .modal input:focus, .modal select:focus {
    border-bottom: 1px solid #cccccc !important;
    box-shadow: none !important;
}

.contact-yesno{width: 63%;}
.contact-yesno label{width: auto; padding-right: 10px;}
.custom-modal .select-icon:after{right: 16px;}
.txt-left.form-control-size label{text-align: left;}

.form-control-size .select-icon:after{right: 16px;}

.mat-form-field input:focus {
    border-bottom: 0px !important;
}

.red {
    color: red;
}

.add-notes-lb label:first-child {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.add-notes-lb label:last-child {
    display: inline-block;
    width: 42%;
}
.form-search-person label {
    font-size: 13px;
    font-weight: 600;
}
.textarea-notes {
    position: relative;
}
.textarea-icons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.form-group .textarea-icons a {
    border: 0 !important;
    padding: 0px;
    margin: 5px;
}