// .day-count-main {
//     width: 150px;
//     margin: 0 auto;
// }

.section2 {
    padding: 5px 0 0;
}

.groupid-section {
    padding: 10px;
    background: #19a7b8;
    color: #fff;
    margin-top: 1px;
}

.groupid-section p {
    margin: 0;
}

.groupid-section p span {
    margin-left: 20px;
}

.sec4-details .row {
    padding: 2px 0
}

.sec4-details .left-sec {
    // padding: 0 8px;
    width: 30%;
    float: left;
    // display: inline-block;
    // vertical-align: top;
}

.sec4-details .right-sec {
    // padding: 0 8px;
    width: 55%;
    float: left;
    // display: inline-block;
}

.family-cont .left-sec {
    width: 41%;
}

.family-cont .right-sec {
    width: 49%;
}

.family-cont h5 {
    color: #fff;
}

#cw-profile-section {
    position: fixed;
    width: 100%;
    z-index: 98;
    height: 120px;
    top: 0;
}

.cw-content-wrapper {
    margin-top: 200px;
}

.request-case, .view-case {
    padding: 5px;
}
.request-case a, .view-case a {
    color: #fff;
    font-size: 12px;
    background: #126b75;
    margin: 5px;
}

.view-case div {
    padding: 1em;
}

.request-case a:hover, .view-case a:hover {
   background-color: #556080;
   border: 5px solid #1bc0d4;
   margin: 0px;
}

.pl-30 {
    padding-left: 30px;

    &.unstyled {
        padding-left: 30px;
    }
}

.cursor {
    cursor: pointer;
}

.restricted-item-bar {
    padding: 2px 10px;
    border-radius: 25px;
    color: white;
    font-size: 13px;
    background: red;
    align-items: center;
    justify-content: space-around;
}

.unrestricted-item-bar {
    padding: 2px 5px;
    border-radius: 3px;
    color: #19a7b8;
    font-size: 13px;
    background: white;
    border: 0px solid #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 2px;
    font-weight: 600;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.button-row {
    // display: flex;
    align-items: center;
    justify-content: space-around;
  }

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4CAF50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}

.cls-mb-5{
    position: relative;

    &::after{
        position: absolute;
        display: block;
        content: '';
        border-right: 1px solid #007988;
        top: -10px;
        bottom: 0px;
        right: 0px;
        min-height: 120px;
    }
    p{
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .right-sec{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.v-top{
    vertical-align: top;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #cw-profile-section{
        font-size: 12px;
        position: static;
    }
    .go, .unrestricted-item-bar{
        font-size: 11px;
    }    
    .cw-content-wrapper {
        margin-top: 30px;
    }
}

button[disabled]:hover, button[disabled]{
    border: 0;
    padding: 0;
    background: transparent;
}

@media print {
    #cw-profile-section {
        display: none;
    }

    .cw-content-wrapper {
        margin-top: 0px;
    }

    .box-grid-main {
        border: none;
        padding: 0px;
        margin: 0px;
    }
}
span.right-sec.disposition {
    margin-left: 37px;
}
span.right-sec.assigned-by {
    cursor: pointer;
    text-decoration: underline;
}