<div id="applicant-checklist" class="tab-pane dd-overflow-inherit" role="tabpanel">
    <div class="">
        <div class="container-fluid">
            <div class="upload-generate-cont no-pad">
                <div class="tab-horizontal">
                    <ul class="nav nav-pills inner-nav">
                        <li class="innner-menu active">
                            <a href="#siteInspection" class="tab-menu" data-toggle="tab">Site Inspection</a>
                        </li>
                        <li class="innner-menu">
                            <a href="#writtenPolicies" class="tab-menu" data-toggle="tab">Written Policies/Procedures</a>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane inner-margin active" id="siteInspection">
                            <siteinspection [programNameInputForSiteInspection]="programNameInputForSiteInspection"></siteinspection>
                        </div>

                        <div class="tab-pane inner-margin" id="writtenPolicies">
                            <writtenpolicies [programNameInputForPolicy]="programNameInputForPolicy"></writtenpolicies>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
        <mat-accordion multi="false" displayMode="flat" class="acc-content">
            <mat-expansion-panel *ngFor="let panel of config.panels; let iVal=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ panel.name }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ panel.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="col-md-12 box-grid no-mar">
            
                <div class="" [formGroup]="activityTaskStatusFormGroup">
                    <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                        <div class="table-responsive dd-overflow-inherit" style="overflow: hidden;">
                            <table class="table table-bordered" style="width: 99.86%;" formArrayName="{{'task'+iVal}}">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th  style="width:54%">Comments</th>
                                        <th>Completed Date</th>
                                        <th style="width:120px">Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task'+iVal]['controls'] let i=index" [formGroupName]="i">
                                    <tr class="dd-overflow-inherit">
                                        <td style="text-align: start;width: 350px;">{{currentTask['controls'].checklist_task.value}}</td>
                                        <td style="padding-bottom: 0;">
                                            <div class="form-group dd-overflow-inherit mb-0">
                                                <div class="fm-box-form no-pad dpnew">
                                                    <mat-form-field>
                                                        <input formControlName="commnts" type="text" matInput required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding-bottom: 0;">
                                            <div class="form-group dd-overflow-inherit mb-0">
                                                <div class="fm-box-form no-pad dpnew">
                                                    <mat-form-field>
                                                        <input  formControlName="completeddate" matInput (click)="picker.open()" [matDatepicker]="picker"
                                                            [max]="maxDate">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </td> 
                                        <td style="padding-bottom: 0;">
                                            <div class="form-group dd-overflow-inherit mb-0">
                                                <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                    <mat-form-field>
                                                        <mat-select formControlName="status">
                                                            <mat-option *ngFor="let status of tasktypestatus" [value]="status">
                                                                {{status}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </td>                                                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mrg-top15">
                    <div class="btn-group btn-group-re pull-right">
                        <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>        
    </div>
    </div> -->

<!-- </div> -->
