<div class="row" [formGroup]="healthexaminationForm">
    <div class="col-sm-6">
        <mat-form-field>
            <input formControlName="healthexamname" matInput placeholder="Health Exam Name/Test" >
        </mat-form-field>
        <mat-form-field>
            <mat-select  formControlName="healthdomaintypekey" placeholder="Domain">
                    <mat-option (click)="setDomainTypeKey(item.value)" *ngFor="let item of healthDomainType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select  formControlName="healthassessmenttypekey" placeholder="Assessment Type">
                    <mat-option *ngFor="let item of getHealthAssessments()"  value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput  formControlName="assessmentdate" [matDatepicker]="picker21" placeholder="Assessment Date">
            <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
            <mat-datepicker #picker21></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="healthprofessiontypekey" placeholder="Profession Type">
                    <mat-option *ngFor="let item of healthProfessionType$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field>
            <input matInput formControlName="practitionername" placeholder="Practitioner Name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput  formControlName="outcomeresults" placeholder="Outcome Results" >
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
        </mat-form-field>
    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri"  [disabled]="healthexaminationForm.pristine || healthexaminationForm.invalid" (click)="add()">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="healthexaminationForm.pristine || healthexaminationForm.invalid" *ngIf="editMode === true" (click)="update()">Update</button>
                    <button class="btn-pri"  (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="healthexamination.length>0">
            <div class="table-responsive table-theme table-bordered">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Assessment Type</th>
                            <th>Assessment Date</th>
                            <th>Outcome Results</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let health of healthexamination ; let i=index">
                            <td>{{healthDomainTypes[health.healthdomaintypekey]}}</td>
                            <td>{{health.healthassessmenttypekey}}</td>
                            <td>{{health.assessmentdate | date:'MM/dd/yyyy'}}</td>
                            <td>{{health.outcomeresults}}</td>
                            <td>
                                <a (click)="view(health)">
                                    <i class="fa fa-eye text-16"></i>
                                </a> |
                                <a (click)="edit(health, i)">
                                    <i class="fa fa-pencil text-16"></i>
                                </a> |
                                <a (click)="delete(i)">
                                    <i class="fa fa-trash text-16"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
