<div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearSearchDetails()">
                <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Find Individual</h4>
        </div>
        <div class="modal-body">
            <div class="">
                <!-- <div><b>{{selectedPerson?.firstname}} {{selectedPerson?.lastname}}</b></div>-->
                <ul class="nav nav-tabs mrg-btm10 cus-tab-section">
                    <li class="active">
                        <a data-toggle="tab" class="notactive" id="profileinfo" href="#Profile-info">
                            <span class="tab-txt">Profile Information </span>
                            <span
                                [class]="profileTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="notactive" id="searchresult" href="#Search-res">
                            <span class="tab-txt">Search Result</span>
                            <span
                                [class]="serachResultTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                        </a>
                    </li>
                    <li *ngIf="agency==='CW'">
                        <a data-toggle="tab" href="#add-relation" id="add-relation-click">
                            <span class="tab-txt">Relation</span>
                            <span class="circle fa fa-pencil"></span>
                        </a>
                    </li>
                    <li *ngIf="!isEmergencyContact">
                        <a data-toggle="tab" class="notactive" id="reporterrole" href="#reporter-role">
                            <span class="tab-txt">Person role</span>
                            <span
                                [class]="personRoleTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" style="box-shadow:0 0 0 0;">
                    <div id="Profile-info" class="tab-pane fade in active">
                        <form [formGroup]="involvedPersonSearchForm"
                            (submit)="searchInvolvedPersons(involvedPersonSearchForm.value)">

                            <div class="row m-content-height">
                                <div class="col-sm-4 ">
                                    <!-- Start D-06389 -->

                                    <!-- D-07948 Start-->
                                    <mat-form-field>
                                        <input type="text" matInput formControlName="firstname" placeholder="First Name"
                                            class="aut-txt-personInvolveFirstname">
                                        <mat-error *ngFor="let validation of validation_messages.firstname">
                                            <mat-error
                                                *ngIf="involvedPersonSearchForm.get('firstname').hasError(validation.type) && (involvedPersonSearchForm.get('firstname').dirty || involvedPersonSearchForm.get('firstname').touched)">
                                                {{validation.message}} </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input type="text" matInput formControlName="lastname" placeholder="Last Name">
                                        <mat-error *ngFor="let validation of validation_messages.lastname">
                                            <mat-error
                                                *ngIf="involvedPersonSearchForm.get('lastname').hasError(validation.type) && (involvedPersonSearchForm.get('lastname').dirty || involvedPersonSearchForm.get('lastname').touched)">
                                                {{validation.message}} </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- D-07948 End-->

                                    <div class="no-pad clsIntake dpnew ">

                                        <!--  <mat-form-field>
                                                <input matInput appMaskDate  [matDatepicker]="picker" [max]="maxDate"  (click)="picker.open()" id="dobirth" formControlName="dob" placeholder="D.O.B">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                
                                                <mat-error *ngFor="let validation of validation_messages.dob">
                                                        <mat-error *ngIf="involvedPersonSearchForm.get('dob').hasError(validation.type) && (involvedPersonSearchForm.get('dob').dirty || involvedPersonSearchForm.get('dob').touched)">  {{validation.message}} </mat-error>                                                       
                                                </mat-error>
                                               
                                            </mat-form-field> -->
                                        <common-date-picker [max]="maxDate" formControlName="dob" placeholder="D.O.B">
                                        </common-date-picker>
                                    </div>
                                    <!-- End D-06389 -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <input type="text" matInput placeholder="Approx. Age"
                                                    formControlName="age" class="aut-txt-personInvolveApproxAge">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6" style="height: 48px; padding:10px">
                                            <ng-select [searchable]="true" [clearable]="false" formControlName="gender">
                                                <ng-option value=""> Gender</ng-option>
                                                <ng-option *ngFor="let item of genderDropdownItems$ | async "
                                                    [value]="item.value">
                                                    {{item.text}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Email" formControlName="email">
                                    </mat-form-field>
                                    <control-messages class="alert-align"
                                        [control]="personSearchAddForm.controls['email']"></control-messages>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Phone" mask="(000) 000-0000"
                                            formControlName="phone">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Occupation"
                                            formControlName="occupation">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="SSN" mask="000-00-0000"
                                            formControlName="ssn">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="State ID / Drivers License"
                                            formControlName="dl">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="FEIN" formControlName="fein">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Complaint #"
                                            formControlName="complaintnumber">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput
                                            placeholder="CJIS # / SID # / Assist PID # /CJAMS PID #"
                                            formControlName="cjisnumber">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Petition / Folder ID"
                                            formControlName="petitionid">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Old#'s" formControlName="oldId">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Maiden Name"
                                            formControlName="maidenname">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Alias Name" formControlName="alias">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Social Media Name"
                                            formControlName="mediasrc">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Address Line 1"
                                            formControlName="address1">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Address Line 2"
                                            formControlName="address2">
                                    </mat-form-field>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <input type="text" matInput placeholder="Zip Code" mask="00000-9999"
                                                    formControlName="zip">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <mat-select placeholder="State" formControlName="stateid">
                                                    <mat-option *ngFor="let item of stateDropdownItems$ | async"
                                                        value="{{item.value}}">{{item.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <input type="text" matInput placeholder="City" formControlName="city">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <mat-select placeholder="County" formControlName="county">
                                                    <mat-option *ngFor="let item of countyDropdownItems$ | async"
                                                        value="{{item.value}}">{{item.text}}</mat-option>
                                                </mat-select>
                                                <!-- <input type="text" matInput placeholder="County" formControlName="county"> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="wizard-buttons text-right">
                                <input class="btn-bg" type="button" (click)="clearPersonSearch()" value="Clear" />
                                <button class="btn-pri btn aut-btn-personInvolveSearch" type="submit"
                                    [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid">Search</button>
                                    <span *ngIf="isCW">
                                            <a class="btn-pri" *ngIf="!isNarrativeVisible" (click)="showNarrative();">Show Narrative</a>
                                            <a class="btn-pri" *ngIf="isNarrativeVisible" (click)="hideNarrative();">Hide Narrative</a>
                                        </span>
                            </div>
                        </form>
                    </div>


                    <div id="Search-res" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-right">
                                    <div
                                        *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                                        <pagination *ngIf="pagination.canDisplayPager"
                                            [totalItems]="pagination.totalRecords"
                                            [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                                            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                                            [itemsPerPage]="paginationInfo.pageSize"></pagination>
                                    </div>
                                </div>
                            </div>
                                <div class="col-sm-12" *ngIf="involvedPersonSearchResponses$ | async; let involvedPersonSearchResponses">

                                    <div class="outer">
                                        <div class="table-responsive">
                                            <table class="table customTable firsttable aut-tbl-personInvolveSearchResultTable" *ngIf="involvedPersonSearchResponses.length > 0">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>view</th>
                                                        <th>last name</th>
                                                        <th>first name</th>
                                                        <th>dob</th>
                                                        <th>age</th>
                                                        <th>gen</th>
                                                        <th>ssn</th>
                                                        <th>address 1</th>
                                                        <th>state</th>
                                                        <th>zip</th>
                                                        <th>prior history</th>
                                                        <th>source</th>
                                                        <th>relation</th>
                                                        <th>mdm id</th>
                                                        <!-- <th>match</th> -->
                                                        <!-- <th>ACTION</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;">
                                                    <tr>
                                                        <td>
                                                            <!-- <input type="radio" name="selectedPerson" (click)="selectPerson(row)"> -->
                                                            <label class="control control--radio">
                                                                <input type="radio" name="selectedPerson" (click)="selectPerson(row)" class="ng-dirty ng-valid ng-touched aut-rdo-personInvolveClient">
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <a (click)="searchPersonDetailsRow(rowId, row)">
                                                                <i [class]="showPersonDetail === rowId ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td>{{row?.lastname}}</td>
                                                        <td>{{row?.firstname}}</td>
                                                        <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
                                                        <td>{{row?.age}}</td>
                                                        <td>{{row?.gendertypekey}}</td>
                                                        <td>{{row?.ssn}}</td>
                                                        <td>{{row?.primaryaddress?.split('~')[0]}}</td>
                                                        <td>{{row?.primaryaddress?.split('~')[5]}}</td>
                                                        <td>{{row?.primaryaddress?.split('~')[3]}}</td>
                                                        <td *ngIf="row.priors >= 1">
                                                            <a (click)="searchPersonDetailsRow(rowId, row)">Yes </a>
                                                        </td>
                                                        <td *ngIf="row.priors <= 0">No</td>
                                                        <td>{{row?.source}}</td>
                                                        <td>{{(row?.relations && row?.relations.length > 0) ? getPrimaryRelationname(row?.relations) : ''}}</td>
                                                        <td>{{row?.mdm_id}}</td>
                                                        <!-- <td>{{row?.percentage}}</td> -->
                                                        <!-- <td><span (click)="viewPersonDetails(row)" class="view" title="View" data-placement="top" data-original-title="View">
                                                                <a><i class="fa fa-eye" aria-hidden="true"></i>View</a></span></td> -->
                                                    </tr>
                                                    <tr [class]="showPersonDetail === rowId ? 'show':'hide'">
                                                        <td colspan="14" class="td-pad">
                                                            <table class="table customTable innerTable">
                                                                <thead>
                                                                    <tr>
                                                                        <!-- D-06752 -->
                                                                        <!-- <th>CJAMS ID</th> -->
                                                                        <th>MIDDLE NAME</th>
                                                                        <th>ALIAS</th>
                                                                        <th>SUFFIX</th>
                                                                        <th>PREFIX</th>
                                                                        <th>AWOL</th>
                                                                        <th>DOD</th>
                                                                        <th>ADDRESS</th>
                                                                        <!-- <th>ADDRESS 2</th>
                                                                        <th>CITY</th>
                                                                        <th>STATE</th>
                                                                        <th>ZIP</th> -->
                                                                    <th>RELATIONS</th>
                                                                    <!-- <th>JURISDICTION</th> -->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <!-- D-06752 -->
                                                                    <!-- <td><b>{{row?.cjamspid}}</b></td> -->
                                                                    <td>{{row?.middlename}}</td>
                                                                    <td>{{row?.alias}}</td>
                                                                    <td>{{row?.suffix}}</td>
                                                                    <td>{{row?.prefx}}</td>
                                                                    <td>-</td>
                                                                    <td>{{row?.dod | date:'MM/dd/yyyy'}}</td>
                                                                    <td>{{row?.primaryaddress?.split('~')[0]}},
                                                                        {{row?.primaryaddress?.split('~')[1]}},
                                                                        {{row?.primaryaddress?.split('~')[2]}},
                                                                        {{row?.primaryaddress?.split('~')[5]}},
                                                                        {{row?.primaryaddress?.split('~')[3]}}
                                                                    </td>
                                                                    <!-- <td>{{row?.primaryaddress?.split('~')[1]}}</td>
                                                                        <td>{{row?.primaryaddress?.split('~')[2]}}</td>
                                                                        <td>{{row?.primaryaddress?.split('~')[5]}}</td>
                                                                        <td>{{row?.primaryaddress?.split('~')[3]}}</td> -->
                                                                    <td>{{row?.relations}}</td>
                                                                    <!-- <td>{{row?.primaryaddress?.split('~')[4]}}</td> -->
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="14" class="td-pad">
                                                                        <div>
                                                                            <h5>Prior Case History</h5>
                                                                        </div>
                                                                        <div class="panel-group" id="accordion"
                                                                            role="tablist" aria-multiselectable="true">
                                                                            <div class="panel panel-default"
                                                                                *ngFor="let action of personDSDSActions$ | async; let i=index;">
                                                                                <div class="panel-heading">
                                                                                    <h4 class="panel-title collapsed">
                                                                                        <a href="#collapse-{{rowId}}-{{i}}"
                                                                                            [ngClass]="action.highLight?'orange':''"
                                                                                            data-toggle="collapse"
                                                                                            data-parent="#accordion"
                                                                                            aria-expanded="false">{{action.daTypeName}}
                                                                                            <span
                                                                                                class="glyphicon pull-right glyphicon-plus more-less"></span>
                                                                                        </a>
                                                                                    </h4>
                                                                                </div>
                                                                                <div id="collapse-{{rowId}}-{{i}}"
                                                                                    class="panel-collapse collapse"
                                                                                    aria-expanded="false"
                                                                                    style="height: 0px;">
                                                                                    <div class="panel-body">
                                                                                        <div class="row">
                                                                                            <div
                                                                                                class="col-sm-12 col-pad">
                                                                                                <div
                                                                                                    class="table-responsive">
                                                                                                    <table
                                                                                                        class="table accordion-table">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>CASE
                                                                                                                    NUMBER
                                                                                                                </th>
                                                                                                                <th>NAME
                                                                                                                </th>
                                                                                                                <th>ROLE
                                                                                                                </th>
                                                                                                                <th>DATE
                                                                                                                    CREATED
                                                                                                                </th>
                                                                                                                <th>DATE
                                                                                                                    RECEIVED
                                                                                                                </th>
                                                                                                                <th>DATE
                                                                                                                    COMPLETED
                                                                                                                </th>
                                                                                                                <th>STATUS
                                                                                                                </th>
                                                                                                                <th>JURISDICTION
                                                                                                                </th>
                                                                                                                <!-- <th>Actions</th> -->
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            <tr
                                                                                                                *ngFor="let item of action?.daDetails">
                                                                                                                <td>
                                                                                                                    <a [ngClass]="item.dasubtype === 'Peace Order'?'orange':''"
                                                                                                                        href="javascript:{}"
                                                                                                                        (click)="priorAuditLog(item)">{{item.danumber}}</a>
                                                                                                                </td>
                                                                                                                <td>{{item.firstname}}

                                                                                                                    {{item.lastname}}
                                                                                                                </td>
                                                                                                                <td>{{item.role}}
                                                                                                                </td>
                                                                                                                <td>{{item.datecreated
                                                                                                                        |
                                                                                                                        date:'MM/dd/yyyy
                                                                                                                        H:mm:ss'
                                                                                                                        }}
                                                                                                                </td>
                                                                                                                <td>{{item.datereceived
                                                                                                                        |
                                                                                                                        date:'MM/dd/yyyy
                                                                                                                        H:mm:ss'
                                                                                                                        }}
                                                                                                                </td>
                                                                                                                <td>{{item.datecompleted}}
                                                                                                                </td>
                                                                                                                <td>{{item.status}}
                                                                                                                </td>
                                                                                                                <td>{{item.county}}
                                                                                                                </td>
                                                                                                                <!-- <td>
                                                                                                                                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                                                                                                                        <i class="fa fa-eye"> </i>
                                                                                                                                    </span>
                                                                                                                                </td> -->
                                                                                                            </tr>
                                                                                                            <tr
                                                                                                                *ngIf="action?.daDetails?.length === 0">
                                                                                                                <td
                                                                                                                    colspan="8">
                                                                                                                    No
                                                                                                                    match
                                                                                                                    were
                                                                                                                    found.
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="m-content-height"
                                            *ngIf="involvedPersonSearchResponses.length === 0">
                                            <p>No Results match your criteria. Redo search or continue to add a new
                                                profile.
                                            </p>
                                            <button type="button" class="btn-pri" (click)="addNewPerson()">Add
                                                New</button>
                                            <!-- <a class="btn-pri" (click)="showNarrative();">Show Narrative</a>
                                                <a class="btn-pri" (click)="hideNarrative();">Hide Narrative</a> -->
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-left m-t-10">
                                            <a class="btn-link" (click)="tabNavigation('profileinfo')">Previous</a>
                                        </div>
                                        <div class="text-right" *ngIf="!isEmergencyContact">
                                            <button *ngIf="involvedPersonSearchResponses.length > 0 " type="button"
                                                class="btn-pri" (click)="addNewPerson()">Add New</button>
                                            <button *ngIf="involvedPersonSearchResponses.length > 0 && isSDR "
                                                type="button" class="btn-pri"
                                                (click)="addPersonFromSDR()">Select</button>
                                            <input class="btn-pri aut-btn-personInvolveAddSearch" type="button"
                                                *ngIf="!isSDR" (click)="addSearchPerson()" value="Select" />
                                                <span *ngIf="isCW">
                                                        <a class="btn-pri" *ngIf="!isNarrativeVisible" (click)="showNarrative();">Show Narrative</a>
                                                        <a class="btn-pri" *ngIf="isNarrativeVisible" (click)="hideNarrative();">Hide Narrative</a>
                                                    </span>
                                        </div>
                                        <div class="text-right" *ngIf="representativePerson && !isEmergencyContact">
                                            <button type="button" class="btn-pri" (click)="addRepresentativePerson()">Representative Person</button>
                                        </div>
                                        <div class="text-right" *ngIf="isEmergencyContact">
                                            <button type="button" class="btn-pri"
                                                (click)="addContactPerson(guardianPersonSearch)">{{guardianPersonSearch ? 'Add Guardian':'Add Contact Person'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="add-relation" class="tab-pane fade" *ngIf="agency==='CW'">
                        <div class="row modal-content-pad modal-height-body">
                            <ng-container *ngIf="(personRelations$ | async) as relations">
                                <ng-container *ngIf="relations.length>0; else noItems">
                                    <div class="col-sm-4 m-b-20" *ngFor="let relative of relations; let index=index">
                                        <mat-card class="relation-profile mat-card">
                                            <mat-card-header>
                                                <div mat-card-avatar class="profile-header-image">
                                                    <img src="assets/images/ic_silhouette.png">
                                                </div>
                                                <mat-card-title>{{relative.personrelative.firstname}}
                                                    {{relative.personrelative.lastname}}</mat-card-title>
                                                <mat-card-subtitle>{{relative.actorrelationship?.description}} -
                                                    <ng-container
                                                        *ngIf="(relative.relationcategory === 'P'); else elseTemplate">
                                                        Primary
                                                    </ng-container>
                                                    <ng-template #elseTemplate>
                                                        Secondary
                                                    </ng-template>
                                                </mat-card-subtitle>
                                                <mat-card-subtitle><span *ngIf="relative.incustody">In Custody</span>
                                                    &nbsp;&nbsp;<span *ngIf="relative.livingwith">Living
                                                        With</span></mat-card-subtitle>
                                            </mat-card-header>
                                        </mat-card>
                                    </div>
                                </ng-container>
                                <ng-template #noItems>
                                    <div class="row text-center">
                                        <p class="no-datatxt pad-top20"> No Relations Found </p>
                                    </div>
                                </ng-template>
                            </ng-container>

                        </div>
                        <div class="row">
                            <div class="pull-left m-t-10">
                                <a class="btn-link" (click)="tabNavigation('searchresult')">Previous</a>
                            </div>
                            <div class="text-right">
                                <button type="button" (click)="tabNavigation('reporterrole')"
                                    class="btn-pri aut-btn-personInvolvedNext">Next</button>
                            </div>
                            <span *ngIf="isCW">
                                    <a class="btn-pri" *ngIf="!isNarrativeVisible" (click)="showNarrative();">Show Narrative</a>
                                    <a class="btn-pri" *ngIf="isNarrativeVisible" (click)="hideNarrative();">Hide Narrative</a>
                                </span>
                        </div>
                    </div>
                    <div id="reporter-role" class="tab-pane">
                        <form [formGroup]="personSearchAddForm">
                            <div class="row" [ngClass]="isDjs? 'hide' : ''">
                                <div class="col-sm-12">
                                    <h4 class="inner-title">PERSON DETAILS</h4>
                                </div>
                            </div>
                            <div class="row m-content-height-410">
                                <div class="col-sm-6" formArrayName="personRole">
                                    <div class="row  bdr-btm"
                                        *ngFor="let personRoleItem of personSearchAddForm['controls'].personRole['controls']; let i=index"
                                        [formGroupName]="i">
                                        <div class="col-sm-5">
                                            <mat-form-field>
                                                <mat-select placeholder="Select Role" formControlName="rolekey"
                                                    (change)="relationShipToRO($event, i)" required
                                                    class="aut-lst-personInvolveRole">
                                                    <ng-container *ngIf="agency==='CW'">
                                                        <ng-container *ngFor="let item of (roleDropdownItems$)">
                                                            <mat-option *ngIf="filterRoles(item)"
                                                                value="{{item.value}}">{{ item.text}}</mat-option>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="agency!=='CW'">
                                                        <mat-option *ngFor="let item of roleDropdownItems$"
                                                            value="{{item.value}}">{{item.text}}</mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <div [hidden]="true">
                                                <mat-form-field class="m-t-10">
                                                    <input [hidden]="true" matInput formControlName="description">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-7"
                                            [hidden]="personRoleItem['controls'].hidden.value && agency!=='CW'">
                                            <mat-form-field>
                                                <mat-select
                                                    placeholder="Relationship to {{isDjs ? 'Youth' : 'Reported Person'}}"
                                                    formControlName="relationshiptorakey" required>
                                                    <mat-option *ngFor="let item of relationShipToRADropdownItems$"
                                                        value="{{item.value}}">{{item.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-5" *ngIf="!isDjs && !isCW"
                                            [ngClass]="(isDjs || isCW)? 'hide' : ''">
                                            <mat-form-field>
                                                <mat-select formControlName="isprimary" (change)="checkPrimaryRole(i)"
                                                    placeholder="Role Type" required
                                                    class="aut-lst-personInvolveRoleType">
                                                    <mat-option value="true">Primary</mat-option>
                                                    <mat-option value="false" selected>Secondary</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <a class="peson-role-delete" (click)="deleteRole(i)"
                                            *ngIf="personSearchAddForm['controls'].personRole['controls'].length > 1">
                                            <i aria-hidden="true" class="fa fa-trash"></i>
                                        </a>

                                    </div>
                                    <div class="col-sm-12 text-right" [ngClass]="isDjs? 'hide' : ''">
                                        <button class=" btn btn-pri" (click)="addNewRole()"> + Add New Role</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6" *ngIf="isDjsYouth">
                                            <label class="mt-lbl"> Danger to self?
                                                <span class="required" *ngIf="isCheckedCollateral"></span>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <mat-radio-group formControlName="Dangerousself"
                                                        class="aut-rdo-personInvolveDangerToSelf">
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'DangerousselfReason', 'isManditory')"
                                                            value="yes">Yes</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(true,'DangerousselfReason', 'notManditory')"
                                                            value="no">No</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'DangerousselfReason', 'notManditory')"
                                                            value="unknown">Unknown</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <mat-form-field class="m-t-10">
                                                <input type="text" matInput formControlName="DangerousselfReason"
                                                    placeholder="Reason" [required]="dangerSelf">
                                            </mat-form-field>


                                            <label class="mt-lbl"> Danger to worker?
                                                <span class="required" *ngIf="isCheckedCollateral"></span>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <mat-radio-group formControlName="Dangerousworker"
                                                        class="aut-rdo-personInvolveDangerToWorker">
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'DangerousWorkerReason', 'isManditory')"
                                                            value="yes">Yes</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(true,'DangerousWorkerReason', 'notManditory')"
                                                            value="no">No</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'DangerousWorkerReason', 'notManditory')"
                                                            value="unknown">Unknown</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <mat-form-field class="m-t-10">
                                                <input type="text" matInput formControlName="DangerousWorkerReason"
                                                    placeholder="Reason" [required]="dangerWork">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6" *ngIf="isDjsYouth">

                                            <label class="mt-lbl"> Appearance of mentally impaired?
                                                <span class="required" *ngIf="isCheckedCollateral"></span>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <mat-radio-group formControlName="Mentealimpair"
                                                        class="aut-rdo-personInvolveMentalImpaired">
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'MentealimpairDetail', 'isManditory')"
                                                            value="yes">Yes</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(true,'MentealimpairDetail', 'notManditory')"
                                                            value="no">No</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'MentealimpairDetail', 'notManditory')"
                                                            value="unknown">Unknown</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <mat-form-field class="m-t-10">
                                                <input type="text" matInput formControlName="MentealimpairDetail"
                                                    placeholder="Reason" [required]="dangerApperance">
                                            </mat-form-field>

                                            <label class="mt-lbl"> Signs of mental illness?
                                                <span class="required" *ngIf="isCheckedCollateral"></span>
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <mat-radio-group formControlName="Mentealillness"
                                                        class="aut-rdo-personInvolveMentalIllness">
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'MentealillnessDetail', 'isManditory')"
                                                            value="yes">Yes</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(true,'MentealillnessDetail', 'notManditory')"
                                                            value="no">No</mat-radio-button>
                                                        <mat-radio-button
                                                            (click)="disabledInput(false,'MentealillnessDetail', 'notManditory')"
                                                            value="unknown">Unknown</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <mat-form-field class="m-t-10">
                                                <input type="text" matInput formControlName="MentealillnessDetail"
                                                    placeholder="Reason" [required]="dangerSign">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row mrg-top15" *ngIf="!isDjs">
                                        <div class="col-sm-6">
                                            <label class="mt-lbl"> In household ?
                                                <span class="required" *ngIf="isCheckedCollateral"></span>
                                            </label>
                                            <mat-radio-group formControlName="ishousehold"
                                                class="aut-rdo-personInvolveMentalIllness">
                                                <mat-radio-button value="yes" (click)="resetCollateralChkbox()">Yes
                                                </mat-radio-button>
                                                <mat-radio-button value="no" (click)="resetCollateralChkbox()">No
                                                </mat-radio-button>
                                                <!-- <mat-radio-button (click)="disabledInput(false,'MentealillnessDetail', 'notManditory')" value="unknown">Unknown</mat-radio-button> -->
                                            </mat-radio-group>
                                            <!-- <mat-checkbox formControlName="ishousehold">In household</mat-checkbox> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-checkbox formControlName="iscollateralcontact"
                                                (change)="resetRoleTabRadioBtn()">Collateral</mat-checkbox>
                                        </div>
                                    </div>
                                    <!-- commented as D-08072 -->
                                    <!-- <div *ngIf="isChild"> -->
                                    <div class="row mrg-top15" *ngIf="!isDjs">
                                        <div class="col-sm-6">
                                            <mat-checkbox formControlName="drugexposednewbornflag"
                                                (change)="checkChildStatus('drugexposednewbornflag')">Child is a
                                                Substance Exposed Newborn</mat-checkbox>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                                    <mat-checkbox formControlName="fetalalcoholspctrmdisordflag" (change)="checkChildStatus('fetalalcoholspctrmdisordflag')">Fetal Alcohol Spectrum Disorder</mat-checkbox>
                                                </div> -->
                                    </div>

                                    <div class="row m-t-10" *ngIf="isSubstance">
                                        <div class="col-sm-12">
                                            <h5 class="inner-title">Substance Details <span class="required"></span>
                                            </h5>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Substance Class"
                                                    formControlName="substanceClass" multiple
                                                    (change)="changeSubtance($event.value)">
                                                    <mat-option *ngFor="let subtance of babySubstanceClass$ | async"
                                                        [value]="subtance.value">{{
                                                                subtance.text}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6"
                                            *ngIf="personSearchAddForm.getRawValue()?.substanceClass?.includes('BOTH')">
                                            <mat-form-field>
                                                <input matInput formControlName="otherSubstance"
                                                    placeholder="Other Substances">
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                            <mat-checkbox formControlName="fetalalcoholspctrmdisordflag"
                                                (change)="checkChildStatus('fetalalcoholspctrmdisordflag')">Fetal
                                                Alcohol Spectrum Disorder</mat-checkbox>
                                        </div> -->
                                    </div>

                                    <!-- <div class="row m-t-10">
                                                <div class="col-sm-6" *ngIf="enableSafeHaven || personSearchAddForm.controls['issafehaven'].value">
                                                    <mat-checkbox formControlName="issafehaven">Safe Haven Baby</mat-checkbox>
                                                </div>
                                            </div> -->
                                    <!-- </div> -->
                                    <div class="row  mrg-top15" *ngIf="isAS" [formGroup]="formalSupportForm">
                                        <div class="col-sm-6 m-t-20 formal">
                                            <mat-checkbox formControlName="personsupporttypekey"
                                                (change)="formalSupprotChecked($event.checked)">Formal Support
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-sm-6"
                                            *ngIf="formalSupportForm.controls['personsupporttypekey'].value">
                                            <mat-form-field>
                                                <textarea matInput placeholder="Description"
                                                    formControlName="description"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mrg-top15" *ngIf="!isDjs && isCW">
                                    <div class="col-sm-3">
                                        <mat-checkbox formControlName="sexoffenderregisteredflag">Sex Offender
                                            Registry Checked</mat-checkbox>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-checkbox formControlName="probationsearchconductedflag">Judiciary
                                            Case
                                            Search</mat-checkbox>
                                    </div>
                                </div>

                                <div class="row mrg-top15" *ngIf="!isDjs && !isCW">
                                    <div class="col-sm-3">
                                        <mat-checkbox formControlName="sexoffenderregisteredflag">Sex Offender
                                            Registry Checked</mat-checkbox>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-checkbox formControlName="probationsearchconductedflag">Judiciary
                                            Case
                                            Search</mat-checkbox>
                                    </div>
                                    <div class="col-sm-3">&nbsp;</div>
                                    <div class="col-sm-3">&nbsp;</div>
                                </div>


                            </div>
                            <div class="row"></div>
                            <div class="row">
                                <div class="pull-left m-t-10">
                                    <a *ngIf="agency!=='CW'" class="btn-link"
                                        (click)="tabNavigation('searchresult')">Previous</a>
                                    <a *ngIf="agency==='CW'" class="btn-link"
                                        (click)="tabNavigation('add-relation-click')">Previous</a>
                                </div>
                                <div class="text-right">
                                    <input class="btn-pri aut-btn-personInvolveDone" type="button" value="Done"
                                        (click)="addPerson(personSearchAddForm.value)" />
                                        <span *ngIf="isCW">
                                                <a class="btn-pri" *ngIf="!isNarrativeVisible" (click)="showNarrative();">Show Narrative</a>
                                                <a class="btn-pri" *ngIf="isNarrativeVisible" (click)="hideNarrative();">Hide Narrative</a>
                                            </span>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div id="narrativeElementSearch" style="padding: 10px" *ngIf="isNarrativeVisible">
                Narrative : <div [safeHtml]="narrative"> </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="relations-summary" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Relations </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Person Relation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let relative of personRelations$ | async">
                                        <!-- <td>{{relative.personrelative.firstname}}</td>
                                        <td>{{relative.personrelative.lastname}}</td>
                                        <td>{{relative.personrelationtype.description}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="address-summary" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Address </h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let address of personAddresses$ | async">
                    <h4>{{address?.Personaddresstype?.typedescription}}</h4>
                    <p>{{address?.address}}</p>
                    <p>{{address?.city}}</p>
                    <p>{{address?.state}}</p>
                    <p>{{address?.county}}</p>
                    <p>{{address?.zipcode}}</p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

