.cont-field {
	position: relative;
}

.cont-field ul {
	position: absolute;
	border: 1px solid #D8D8D8;
	width: 100%;
	top: 33px;
	z-index: 99999;
	background: #fff;
	list-style: none;
}

.cont-field ul li {
	list-style: none;
	cursor: pointer;
}

.cont-field ul {
	padding: 0;
}

.cont-field ul li {
	padding: 5px;
	background: #fcfcfc;
	border-bottom: 1px solid #f2f2f2;
}

.scrolling thead th:nth-child(1),
.scrolling thead th:nth-child(2) {
	top: 20px;
}

.select-icon .ng-select {
	margin-bottom: 18px;
}

.tab-content.no-shadow {
	box-shadow: none;
	padding: 0 15px;
}

.person-panel {
	border: 2px solid #D8D8D8;
	margin-top: 10px;
	margin-bottom: 0;
	box-shadow: 0;
}

.person-panel .panel-heading {
	width: 100%;
	color: #00A2FD;
}

.person-panel .panel-heading h4 {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 15px;
	margin-top: 0;
}

.person-panel>span {
	margin-bottom: 0;
	display: block;
	border: 2px solid #00A2FD;
	width: 130px;
	text-align: center;
	border-radius: 15px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 3px 5px;
}

.person-panel .media-body ul li a i {
	font-size: 18px;
	color: #777;
}

.person-panel .media-right {
	vertical-align: top;
}

// .person-panel .media-body ul li a i {
// font-size: 20px;
// color: #777;
// padding: 5px;
// }
.person-panel .panel-heading {
	padding: 10px;
	background: #fff;
	min-height:67px;
	// border-bottom: 2px solid #e2e2e2;
}

.person-panel .panel-title {
	color: #57595a;
	font-weight: 600;
	font-size: 16px;
	min-height: 36px;
}

.person-panel .panel-heading span.f-size {
	padding-left: 30px;
	font-size: 13px;
}

span.categori-name {
	font-size: 12px;
	margin-right: 15px;
	border: 1px solid #0277bd;
	padding: 5px 15px;
	border-radius: 20px;
}
.person-panel .panel-body {
	height: 270px;
    overflow: hidden;
    overflow-y: auto;
}
.person-panel .panel-body dl dt,
.person-panel .panel-body dl dd {
	font-weight: 600;
	color: #676767;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.person-panel .panel-body dl {
	margin-bottom: 8px;
}

.person-panel .panel-body dl dd {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
}

.person-panel .panel-footer {
	background: #fff;
	padding: 15px 15px 30px 15px;
	border-top: 2px solid #D8D8D8;
	color: #00A2FD;
}

.panel-footer ul li {
	float: right;
	text-align: center;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-15 {
	margin-top: 15px;
}

.theme {
	color: #00A2FD;
}

// .person-wrap {
// 	width: 100%;
// 	float: left;
// 	// max-height: 428px;
// 	// overflow-y: auto;
// }

.cus-tab-section li {
	width: 10.7%;
	text-align: center;
}

.modal-header {
	border-bottom: 1px solid #e5e5e5;
}

.added-adds {
	padding-left: 50px;
}

.added-adds table thead {
	background: #f1f2f4;
}

.cus-tab-section li:last-child {
	width: 14%;
	text-align: center;
	// text-align: right;
	// float: right;
}

.added-adds table th {
	font-weight: 600;
}

.added-adds table th:nth-child(2) {
	width: 100px;
}

.added-adds table th:last-child {
	width: 85px;
}

.added-adds table td:last-child {
	text-align: center;
}

.added-adds table td:last-child .text-22 {
	font-size: 15px;
}

.media-left h4 {
	margin-top: 0px !important;
}

.panel-footer .fa-edit:before,
.panel-footer .fa-pencil-square-o:before {
	line-height: 30px;
}

.mt-lbl {
	padding: 0 0 10px;
}

.mat-radio-group {
	padding: 0;
}

.cus-tab-section li a {
	padding: 0 0 5px;
}

.modal-header {
	padding: 10px 15px;
}

.modal-dialog {
	margin: 10px auto;
}

.modal-height-body {
	height: 475px;
	overflow: hidden;
	overflow-y: auto;
}

.before-upload {
	position: relative;
}

.before-upload {
	position: relative;
}

.btn-bs-file input[type='file'] {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 100%;
	height: 120px;
	top: 0;
	left: 0;
	outline: none;
	cursor: inherit;
}

.btn-bs-file-cw input[type='file'] {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 100%;
	// height: 120px;
	top: 0;
	left: 0;
	outline: none;
	cursor: inherit;
}

.btn-no-color {
	background: transparent;
	border: none;
	color: #333333;
	font-weight: 800;
	padding: 0;
}

.upload-profile {
	padding: 15px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	box-shadow: 0 0 15px #dcd7d7;
	margin-bottom: 15px;
	// min-height: 280px;
	min-height: 230px;
}
.upload-profile-cw {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 15px #dcd7d7;
    margin-bottom: 15px;
    // min-height: 280px;
    min-height: 130px;
}

.upload-img image-cropper img.source-image {
	width: 160px;
	border-radius: 50%;
	height: 160px;
}

.upload-img i.fa-cloud-upload {
	font-size: 22px;
	vertical-align: bottom;
	padding-right: 8px;
}

.upload-body {
	padding-bottom: 5px;
	text-align: center;
}

.upload-body p {
	margin-bottom: 15px;
}

.after-upload {
	text-align: left;
}

.after-upload p {
	font-size: 13px;
	margin-bottom: 5px;
}

.b-text {
	font-weight: 600;
}

.upload-edit-icon {
	margin-bottom: 0;
	background: #f9f9f9;
	position: absolute;
	right: 16px;
	top: 1px;
	padding: 10px;
}
// for cw
.upload-edit-icon-cw {
	margin-bottom: 0;
	background: #f9f9f9;
	position: absolute;
	top: 1px;
}
.profile-img-cw {
    width:75px;
    margin-left:16%;
}

.upload-edit-icon li a i {
	font-size: 18px;
}

.danger-reason {
	font-size: 13px;
	color: red;
}

.danger-reason span {
	color: #000;
}

.danger-header thead tr {
	background: #ff8f8f;
	color: #fff;
}

.after-upload .media-right,
.before-upload .media-right {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	display: inherit;
	padding-left: 0;
}

.after-upload .media-right img,
.before-upload .media-right img {
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

.after-upload .media-right-cw,
.before-upload .media-right-cw {
	margin: 0 auto;
	width: 75px;
	height: 75px;
	display: inherit;
	padding-left: 0;
}

.after-upload .media-right-cw img,
.before-upload .media-right-cw img {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.red {
	color: red;
}

.disabled-link {
	border: 0px solid #949494;
	background: #eeeeee;
	cursor: not-allowed;
	color: #696969;
	padding: 7px 15px;
}

.bdr-btm {
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 10px 0;
	position: relative;
}

.peson-role-delete {
	position: absolute;
	top: 10px;
	right: 10px;
}

.peson-role-delete i {
	font-size: 16px;
	color: #333;
}

.person-role-height {
	/*height: 62px;*/
	overflow: auto;
	padding: 2px 0;
}

.cus-tab-section .tab-txt {
	display: block;
	padding: 10px 0;
	font-size: 10px;
}

.cus-tab-section li:after,
.cus-tab-section li.active:after {
	width: calc(100% - 90px);
	margin-left: 0;
	right: 0;
	top: 75%;
}

.cus-tab-section li:last-child:after,
.cus-tab-section li.active:last-child:after {
	height: 0;
}

.cus-tab-section li:before,
.cus-tab-section li.active:before {
	background: #333;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	top: 75%;
	width: calc(100% - 92px);
	margin-left: 0;
	left: 0;
	z-index: 1;
}

.cus-tab-section li:first-child:before,
.cus-tab-section li.active:first-child:before {
	height: 0;
}

.cus-tab-section li:last-child:before,
.cus-tab-section li.active:last-child:before {
	width: calc(100% - 105px);
}

// .person-panel .person-role-height {
// 	height: 55px;
// }

.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section>li.active>a:hover,
.cus-tab-section li.active>a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active>a,
.cus-tab-section .nav-tabs>li.active>a:hover {
	border: none;
}

.cus-tab-section li.active a {
	font-weight: 700;
}

.modal .Persons-Involved .nav-tabs>li a:after {
	background: none;
}

#intake-addperson.modal .modal-body {
	max-height: 90vh;
}

.cus-tab-section .tab-txt {
	background: #fff;
	padding: 12px 0px;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	color:#00A2FD;
	font-weight: 500;
    font-size: 10px;
}

.cus-tab-section li.active .circle {
	border: 1px solid #00A2FD;
	background: #00A2FD;
	color: #fff;
}

.circle {
	border: 1px solid #00A2FD;
	border-radius: 50%;
	padding: 6px 7px;
}

.circle:after {
	width: 1px;
	height: 1px;
	background: #fff;
	content: '';
	padding: 5px;
	border-radius: 20px;
	display: inline-block;
}

.cus-tab-section li.active .circle:after {
    display: none;
}

.cus-tab-section li:after, .cus-tab-section li.active:after {
	background: #333;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: calc(100% - 45px);
	margin-left: 35px;
}

.cus-tab-section li .fa-pencil:before {
	display: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #fff;
	border-color: #fff;
}

.nav>li {
	position: relative;
	display: block;
}

.modal .modal-body {
	max-height: 90vh;
	overflow: hidden;
	overflow-y: auto;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal .Persons-Involved .nav-tabs {
	background: #fff;
}

.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
    display: block;
}

.cus-tab-section li .fa-pencil:before {
	content: none;
}

.fa-pencil:before {
	content: "\f040";
}
.cus-tab-section li:first-child:before, .cus-tab-section li.active:first-child:before {
    height: 0;
}
.cus-tab-section li:after, .cus-tab-section li.active:after {
    width: calc(100% - 90px);
    margin-left: 0;
    right: 0;
    top: 75%;
}
h4.modal-title {
	margin: 0px;
}
.btn-del{
	border: 0;
    background: no-repeat;
    color: #00a2fd;
    font-size: 16px;
}
table td i:before {
    color: #00A2FD;
    margin-left: 10px;
}
.m-t-20.formal {
    margin-top: 35px;
}
.table-responsive {
    margin-bottom: 30px;
}
.theme-age {
	width: 70px;
	display:inline-block;
}

.input-error {
	color: #f44336;
	font-size: 75%;
}

// .cus-tab-section {
//     font-size: 10px;
// }

// .add-contacts{
// 	font-size: 10px
// }

.primary_color {
	color:	#00A2FD;
}

.error_color {
	color: #f44336;
}

#intake-addperson.modal .modal-body {
	max-height: 75vh;
}