<div class="row form-wrapper header-referral p-t-10 p-b-10">
  <div class="col-sm-2">
    <label>REFERRAL NUMBER</label>
    <p>{{complaintDetail?.complaint_number}}</p>
  </div>
  <div class="col-sm-2">
    <label>CREATED DATE</label>
    <p>{{complaintDetail?.inserted_on| date:'MM/dd/yyyy -h:mm a'}}</p>
  </div>
  <div class="col-sm-2">
    <label>AUTHOR</label>
    <p>{{complaintDetail?.displayname}}</p>
  </div>
  <div *ngIf="complaintDetail?.provider_id" class="col-sm-2">
    <label>PROVIDER ID</label>
    <p>{{complaintDetail?.provider_id}}</p>
  </div>
  <div *ngIf="complaintDetail?.provider_nm" class="col-sm-2">
    <label>PROVIDER NAME</label>
    <p>{{complaintDetail?.provider_nm}}</p>
  </div>
  <!--
     <div class="col-sm-2">
    <label>Investigation Start Date</label>
    <common-date-picker [max]="maxDate"></common-date-picker>    
  </div>
  <div class="col-sm-2">
    <label>Investigation Completed</label>
    <common-date-picker [max]="maxDate"></common-date-picker>    
  </div> -->
</div>