.mini-select {
    margin-top: 25px;
    width: 100%;
}
.mini-select .select-lable {
    width: 30%;
    float: left;
}
.mini-select ng-select {
    width: 50%;
    display: inline-block;
}

.customize-modal .multi-select {
    border: 1px solid #eee;
    padding: 10px;
    display: inline-block;
    width: 100%;
    height: 250px;
    overflow: auto;
}

.customize-modal .modal-body .fm-box .multi-select label {
    width: auto !important;
    float: initial;
    display: table;
}
#myModal-edit-allegation .media-body {
    padding-right: 5px;
}
#myModal-edit-allegation .select-icon:after {
    right: 16px;
}

.alleg-discript {
    display: inline-block;
    background: #f3f7f5;
    display: inline-block;
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 5px;
}
.alleg-discript p {
    color: #2d4036;
}

#myModal-new-allegation .modal-body {
    min-height: 300px;
}
#myModal-new-allegation .modal-body .text-right {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.table.collapse.in {
    display: inline-table;
    width: 400px;
}

.form-letter-tab.table-innertable .table > thead th {
    min-width: 100px;
    max-width: 100px;
    word-wrap: break-word;
}
.form-letter-tab .table-bordered > tbody > tr:nth-child(odd) {
    background: #f1f1f1;
}
// .table-innertable .table tbody > td{padding:0; width:100%;}
.table-innertable .table tbody td .table td {
    min-width: 100px;
    max-width: 100px;
    word-wrap: break-word;
    border: 0;
}
.inner-acctable .table th,
.inner-acctable .table td {
    padding: 5px;
}

.table-innertable .accordion-toggle span.arrow-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #24292e;
    vertical-align: middle;
    margin-right: 10px;
}
.table-innertable .accordion-toggle.collapsed span.arrow-icon {
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #484a4c;
    vertical-align: middle;
    margin-right: 10px;
}
.table-innertables th {
    padding: 8px;
}
.inner-acctable img {
    width: 24px;
}

.toggle {
    // background: #38455a !important;
    background: #177783 !important;
    cursor: pointer;
}
.form-letter-tab .table tr.toggle td {
    color: #fff;
}

#allegations .mini-select{ margin-top: 0;}
#allegations .alleg-buttons{ padding: 5px;}