<div id="allegations" class="tab-pane" role="tabpanel">
	<div class="box-grid">
		<div class="row" [formGroup]="allegationForm">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<div class="form-group mini-select">
					<label class="pad-rht20">Select Allegations</label>
					<ng-select formControlName="alegation" [searchable]="true" [clearable]="false" (change)="allegationSearches($event)">
						<ng-option value="">ALL</ng-option>
						<ng-option *ngFor='let item of allegationDropdownItems$ | async' [value]="item.value">{{item.text}}</ng-option>
					</ng-select>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-8 text-right">
				<div class="alleg-buttons">
					<button data-toggle="modal" data-target="#myModal-new-allegation" class="btn-bg" (click)='allegationList()'>
						Add</button>
					<button data-toggle="modal" data-target="#myModal-add" class="btn-bg" disabled>
						Print</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-letter-tab form-align table-innertable" style="margin-top: 0">
					<div class="table-responsive">
						<table class="table table-bordered icon-action" style="width: 99.79%;">
							<thead>
								<tr>
									<th style="width:30%">Allegation Name</th>
									<th>Reported Indicator</th>
									<th class="width-100">EDL</th>
									<th class="width-100">Link</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody id="tbodyAllegation">
								<tr *ngFor="let allegation of allegationSearch">
									<td style="padding:0;" colspan="10">
										<table class="table no-mar table-bordered" style="border: 0">
											<tr *ngIf="allegation.investigationallegationactor.length !== 0" class="toggle" (click)="toggleAllegation(allegation)">
												<td style="width:30%"> {{allegation.name}} </td>
												<td>{{allegation.indicators}}</td>
												<td class="width-100">
													{{allegation?.financial?'Yes':'No'}}
												</td>
												<td class="width-100">
													<a data-toggle="modal" data-target="#myModal-link-allegation" (click)='linkPerson(allegation)'>Select</a>
												</td>
												<td class="width-100">
													<span data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete">
														<a (click)='confirmDelete(allegation)' data-target="#myModal-edit-links">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</a>
													</span>
												</td>
											</tr>
											<tr *ngIf="allegation.investigationallegationactor.length === 0">
												<td> {{allegation.name}} </td>
												<td>{{allegation.indicators}}</td>
												<td class="width-100">
													{{allegation?.financial?'Yes':'No'}}
												</td>
												<td class="width-100">
													<a data-toggle="modal" data-target="#myModal-link-allegation" (click)='linkPerson(allegation)'>Select</a>
												</td>
												<td class="width-100">
													<span data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete">
														<a (click)='confirmDelete(allegation)' data-target="#myModal-edit-links">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</a>
													</span>
												</td>
											</tr>
											<tr *ngIf="allegation.isCollapsed && allegation.investigationallegationactor.length !== 0">
												<td colspan="10">
													<table class="table table-bordered no-mrg table-innertables">
														<thead>
															<th>Actor Name</th>
															<th>Status</th>
															<th>Added Indicator</th>
															<th>Linked Person</th>
															<th>Role</th>
															<th>Statement of Evidence</th>
															<th>Actions</th>
														</thead>
														<tbody>
															<tr *ngFor="let actor of allegation.investigationallegationactor">
																<td>{{actor.intakeservicerequestactor.actor.Person.firstname}} {{actor.intakeservicerequestactor.actor.Person.lastname}}</td>
																<td>{{actor.investigationallegationstatustype?.typedescription}} </td>
																<td>{{actor.addedindicators}} </td>
																<td>
																	<img src="assets/images/icon-avtar.png"> {{actor?.intakeservicerequestactor?.actor?.Person?.firstname ? actor?.intakeservicerequestactor?.actor?.Person?.firstname
																	+ ' ' + actor?.intakeservicerequestactor?.actor?.Person?.lastname : ' '}}
																</td>
																<td>{{actor.intakeservicerequestactor.intakeservicerequestpersontypekey}} </td>
																<td>{{actor.statementofevidence}} </td>
																<td>
																	<span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10" data-original-title="Edit">
																		<a data-toggle="modal" (click)="allegationEditList(allegation, actor)" data-target="#myModal-edit-allegation">
																			<i class="fa fa-pencil" aria-hidden="true"></i>
																		</a>
																	</span>
																	<span data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete Actor">
																		<a (click)='deleteActor(actor)' data-target="#myModal-edit-links">
																			<i class="fa fa-trash" aria-hidden="true"></i>
																		</a>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal dd-overflow-inherit fade" id="myModal-new-allegation" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content customize-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Add New Allegation</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="allegationIndicatorForm">
					<div class="fm-box">
						<div class="row">
							<div class="col-sm-4">
								<label>Select Allegation</label>
							</div>
							<div class="col-sm-5">
								<ng-select formControlName="allegationid" [searchable]="true" [clearable]="false" (change)="allegationOnChange($event)">
									<ng-option selected="selected" value=""> Select </ng-option>
									<ng-option *ngFor="let allegation of allegationIndicator" [value]="allegation.value">{{allegation.text}}</ng-option>
								</ng-select>
							</div>
						</div>
					</div>
					<div class="text-right">
						<button type="button" value="Cancel" class="btn-bg" data-dismiss="modal"> Cancel</button>
						<button type="button" value="Save" class="btn-pri" (click)="addAllegation()" [disabled]="allegationIndicatorForm.pristine || allegationIndicatorForm.invalid">Add Allegation</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal-link-allegation" role="dialog">
	<div class="modal-dialog modal-md">
		<!-- Modal content-->
		<div class="modal-content customize-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Link Person</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="personForm">
					<div class="fm-box">
						<div class="row">
							<div class="col-md-12">
								<div class=" multi-checks">
									<ul *ngIf="linkPersonList.length != 0">
										<li *ngFor='let x of linkPersonList'>
											<label class="control control--checkbox">
												{{x.actor.Person.firstname + ' ' + x.actor.Person.lastname}}
												<input type="checkbox" [checked]="x.isAdded" formControlName="isAdded" (change)="selectLinkPerson(x, $event)">
												<div class="control__indicator"></div>
											</label>
										</li>
									</ul>
									<p *ngIf="linkPersonList.length == 0"> No Alleged Perpetrator found. </p>
								</div>

							</div>
						</div>
					</div>
					<div class="text-right">
						<button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
						<button type="button" value="Save" class="btn-pri" (click)="addLinkPerson()" [disabled]="personForm.pristine || personForm.invalid">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal-edit-allegation" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content customize-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Edit Allegation</h4>
			</div>
			<div class="modal-body">
				<form [formGroup]="allegtionEditForm">
					<div class="fm-box">
						<div class="row">
							<div class="col-md-6">
								<h4>{{selectedAllegation.name}}</h4>
							</div>
							<div class="col-md-6">
								<div class="media">
									<div class="media-body text-right" *ngIf="allegationEdit; let alleg">
										<h4 class="media-heading">{{alleg.intakeservicerequestactor.actor.Person.firstname + ' ' +alleg.intakeservicerequestactor.actor.Person.lastname
											}}
										</h4>
										<h4 class="media-heading no-mar">
											<small>
												<i>{{alleg.intakeservicerequestactor.actor.actortype}}</i>
											</small>
										</h4>
									</div>
									<div class="media-right">
										<img src="assets/images/icon-avtar.png" class="media-object" style="width:45px">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fm-box dd-overflow-inherit">
						<div class="row big-top-space">
							<div class="col-md-6">
								<div class="row">
									<div class="col-sm-3">
										<label>Status</label>
									</div>
									<div class="col-sm-6 ">
										<div class="">
											<ng-select [searchable]="true" [clearable]="false" formControlName="investigationallegationstatustypekey">
												<ng-option value=""></ng-option>
												<ng-option *ngFor='let item of statusDropDownItems$ | async' value="{{item.value}}">{{item.text}}</ng-option>
											</ng-select>
										</div>
									</div>
									<div class="col-md-3">
										<label class="control control--checkbox text-left width-auto">EDL
											<input type="checkbox" formControlName="financial">
											<div class="control__indicator"></div>
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row form-group ">
									<label class="col-sm-4">Evidence:</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="3" placeholder="Enter Notes" formControlName="statementofevidence"></textarea>
									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="fm-box">
						<div class="row">

							<div class="col-md-6">
								<div class="row">
									<div class="col-sm-12">
										<label>Reported Indicator</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="fm-box">
											<div class="multi-select">
												<div multiple="">
													<div *ngIf="allegationEdit; let alleg">{{alleg.investigationallegation.indicators}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="col-sm-12">
										<label>Added Indicator</label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 ">
										<div class="text-left multi-select">
											<label class="control control--checkbox width-auto" *ngFor="let indicator of indicatorList">
												{{indicator.indicatorname}}
												<input type="checkbox" [value]="indicator.indicatorname" [checked]="indicator.isSelected" fomControlName="addedindicators"
												 (change)="selectIndicators($event)">
												<div class="control__indicator"></div>
											</label>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-right">
						<button type="button" value="Save" class="btn-pri" [disabled]="allegtionEditForm.pristine || allegtionEditForm.invalid" (click)="allegationUpdate()">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title"> Confirm Delete </h4>
			</div>
			<div class="modal-body">
				<p> Are you sure you want to delete this item? </p>
				<div class="text-right big-bot-space right-mspace-15">
					<button type="button" value="No" class="btn-bg" data-dismiss="modal"> No </button>
					<button type="button" value="Yes" class="btn-pri" data-dismiss="modal" (click)='deleteAllegation()'> Yes </button>
				</div>
			</div>
		</div>
	</div>
</div>