
<div class="row">
  <div class="col-sm-6" [formGroup]="employerForm"> 
          <mat-accordion>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span id="schoolAcdn">Employer Details</span>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="contentAccordion">
                          <div class="row">
                              <div class="col-sm-7">
                                      <mat-form-field>
                                          <input type="text"  formControlName="employername" matInput placeholder="Name of Employer" value="">
                                      </mat-form-field>
                              </div>
                          </div>
                          <mat-form-field>
                              <input type="text"  matInput formControlName="noofhours" placeholder="Number of working hours per week" value="" mask="00:00">
                              <mat-error *ngIf="employerForm.controls['noofhours'].invalid">Please enter valid hours.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                              <input type="text"  matInput formControlName="duties" placeholder="Duties" value="">
                          </mat-form-field>
                          <div class="row">
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                          <input type="text"  (change)="dateChanged()"  matInput formControlName="startdate" [matDatepicker]="picker" placeholder="Start Date">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                          <input type="text"  matInput   formControlName="enddate" [matDatepicker]="picker1"
                                              placeholder="End Date">
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <mat-form-field>
                                  <textarea matInput  formControlName="reasonforleaving" placeholder="Reason for leaving"></textarea>
                              </mat-form-field>
                      </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  <span id="schoolAcdn">Employer address</span>
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                                  <div class="col-sm-12">
                                      <mat-form-field>
                                          <mat-select placeholder="Address Type" formControlName="addresstype"
                                              id="addressTypeLabel" (change)="changeAddressType($event)"
                                              required>
                                              <mat-option
                                                  *ngFor="let item of (this.addresstypeDropdownItems$ | async)"
                                                  value="{{item.value}}-{{item.text}}">{{ item.text }}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="cont-field">
                                          <mat-form-field> <input type="text" matInput
                                                  placeholder="Address Line 1" formControlName="address1" [matAutocomplete]="auto" (input)="getSuggestedAddress()" 
                                                   /> 
                                              <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let item of suggestedAddress$ | async" (click)="selectedAddress(item)"
                                                        value="{{item.text}}">
                                                        {{item.text}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                          </mat-form-field>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                          <input type="text" matInput placeholder="Address Line 2"
                                              formControlName="Address2" />
                                          <!-- DJS-009 : Removed 'required' - Address line 2 should not be a mandatory field -->
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-6">
                                      <mat-form-field> <input type="text" matInput formControlName="city"
                                              placeholder="City" required /> </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4">
                                      <mat-form-field>
                                          <mat-select placeholder="State" formControlName="state" required
                                              [(ngModel)]="selectedState">
                                              <mat-option
                                                  *ngFor="let item of (this.stateDropdownItems$ | async)"
                                                  value="{{item.value}}">{{ item.text }}</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                      <mat-form-field>
                                          <input type="text" matInput placeholder="Zip Code"
                                              formControlName="zipcode" zipcodeOnly required maxlength="5"
                                              minlength="5" />
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                      <!-- <mat-form-field> <input type="text" matInput formControlName="county" placeholder="County" required /> </mat-form-field> -->
                                      <mat-form-field>
                                          <mat-select required formControlName="county" placeholder="County">
                                              <mat-option *ngFor="let item of countyDropDownItems$ | async"
                                                  value="{{item.value}}">{{item.text}}</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                              </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      <span id="schoolAcdn">Employer contact Information 
                                          </span>
                                  </mat-panel-title>
                              </mat-expansion-panel-header>
                              <div class="row">
                                      <div class="col-sm-9">
                                          <mat-form-field>
                                              <mat-select placeholder="Contact Type"
                                                  formControlName="contacttype" required>
                                                  <mat-option
                                                      *ngFor="let phone of (phoneTypeDropdownItems$ | async)"
                                                      value="{{phone.value}}">{{ phone.text }}</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                  <input type="text" matInput formControlName="contactnumber"
                                                      mask="(000) 000-0000" matInput placeholder="Phone No"
                                                      required />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                  <input type="text" matInput formControlName="extension"
                                                       matInput placeholder="Extn"
                                                       />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                  <input type="text" matInput formControlName="fax"
                                                       matInput placeholder="Fax"
                                                       />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                  <mat-select placeholder="Email Type"
                                                      formControlName="EmailType">
                                                      <mat-option
                                                          *ngFor="let mail of (emailTypeDropdownItems$ | async)"
                                                          value="{{mail.value}}">{{ mail.text }}</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field> <input type="text" matInput
                                                      formControlName="EmailID" placeholder="Email ID" />
                                              </mat-form-field>
                                          </div>
                                      </div>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          <span id="schoolAcdn">Occupation
                                              </span>
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
                                      <div class="row">
                                              <div class="col-sm-9">
                                                  <mat-form-field>
                                                      <input type="text" matInput formControlName="position"
                                                           matInput placeholder="Position/Title"
                                                           />
                                                  </mat-form-field>
                                              </div>
                                      </div>
                                      <div class="row">
                                              <div class="col-sm-6">
                                                  <mat-form-field>
                                                      <input type="text"  (change)="dateChanged()"  matInput formControlName="occupationstartdate" [matDatepicker]="picker3" placeholder="Start Date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker3></mat-datepicker>
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-sm-6">
                                                  <mat-form-field>
                                                      <input type="text"  matInput   formControlName="occupationenddate" [matDatepicker]="picker4"
                                                          placeholder="End Date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker4></mat-datepicker>
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-radio-group formControlName="occupationtype">
                                                          <mat-radio-button value=0>Part Time</mat-radio-button>
                                                          <mat-radio-button value=1>Full Time</mat-radio-button>
                                                      </mat-radio-group>
                                                  </div>
                                          </div>
                                          <div class="col-sm-9">
                                                  <mat-form-field>
                                                      <mat-select placeholder="Pay Period"
                                                          formControlName="payperiod">
                                                          <mat-option
                                                              *ngFor="let pay of (papperiodDropdownItems$ | async)"
                                                              value="{{pay.value}}">{{ pay.text }}</mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="income"
                                                               matInput placeholder="Income"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="comments"
                                                               matInput placeholder="Comments"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                              </mat-expansion-panel>
                              <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              <span id="schoolAcdn">Supervisior details
                                                  </span>
                                          </mat-panel-title>
                                      </mat-expansion-panel-header>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="firstname"
                                                               matInput placeholder="First Name"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="middlename"
                                                               matInput placeholder="Middle Name"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="lastname"
                                                               matInput placeholder="Last Name"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="suffix"
                                                               matInput placeholder="Suffix"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                          <input type="text" matInput formControlName="prefix"
                                                               matInput placeholder="Prefix"
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          
                                  </mat-expansion-panel>
                                  <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                  <span id="schoolAcdn">Career Goals
                                                      </span>
                                              </mat-panel-title>
                                          </mat-expansion-panel-header>
                                              <div class="row">
                                                      <div class="col-sm-9">
                                                          <mat-form-field>
                                                              <input type="text" matInput formControlName="careergoals"
                                                                   matInput placeholder="Career Goals"
                                                                   />
                                                          </mat-form-field>
                                                      </div>
                                              </div>
                                              
                                      </mat-expansion-panel>
          </mat-accordion>
      <!-- <p class="bg-theme">Employer Details</p> -->
      <!-- <div class="row">
          <div class="col-sm-7">
              <mat-form-field>
                  <input type="text"  formControlName="employername" matInput placeholder="Name of Employer" value="">
              </mat-form-field>
          </div>
          <div class="col-sm-5 m-t-25">
              <mat-checkbox (change)="isCurrentEmployer($event)" formControlName="currentemployer">Current Employer</mat-checkbox>
          </div>
      </div> -->
      
      <!-- <mat-form-field>
          <input type="text"  matInput formControlName="noofhours" placeholder="Number of working hours per week" value="" mask="00:00">
          <mat-error *ngIf="employerForm.controls['noofhours'].invalid">Please enter valid hours.</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input type="text"  matInput formControlName="duties" placeholder="Duties" value="">
      </mat-form-field> -->
      <!-- <div class="row">
           <div class="col-sm-6">
              <mat-form-field>
                  <input type="text"  (change)="dateChanged()"  matInput formControlName="startdate" [matDatepicker]="picker" placeholder="Start Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field>
                  <input type="text"  matInput   formControlName="enddate" [matDatepicker]="picker1"
                      placeholder="End Date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div> 
      </div>
      <mat-form-field>
          <textarea matInput  formControlName="reasonforleaving" placeholder="Reason for leaving"></textarea>
      </mat-form-field> -->
  </div>
  <!-- <div class="col-sm-6" [formGroup]="careerForm">
      <p class="bg-theme">Career Goals</p>
      <mat-form-field>
          <textarea matInput formControlName="careergoals" placeholder="Career Goals"></textarea>
      </mat-form-field>
  </div> -->
</div>
<div class="row">
  <div class="col-sm-6 text-right">
      <div class="pull-right">
          <span *ngIf="reportMode === 'add'">
              <a class="btn btn-pri" (click)="resetForm()">Clear</a> &nbsp;
              <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" (click)="add()">Add</button>
          </span>
          <span *ngIf="reportMode === 'edit'">
              <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" *ngIf="editMode === true"
                  (click)="update()">Update</button>
              <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
          </span>
      </div>
  </div>
</div>
<div class="row m-t-20" *ngIf="employer?.length>0">
  <div class="table-responsive table-theme table-bordered">
      <div class="col-sm-12">
          <table class="table">
              <thead>
                  <tr>
                      <th>Name of Employer</th>
                      <th>Current Employer</th>
                      <th>Number of hours</th>
                      <th>Reason for leaving</th>
                      <th>Duties</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let emp of employer; let i=index">
                      <td>{{emp.employername}}</td>
                      <td>{{emp.currentemployer ? 'Yes' : 'No'}}</td>
                      <td>{{emp.noofhours}}</td>
                      <td>{{emp.reasonforleaving}}</td>
                      <td>{{emp.duties}}</td>
                      <td>{{emp.startdate | date:'MM/dd/yyyy' }}</td>
                      <td>{{emp.enddate | date:'MM/dd/yyyy'}}</td>
                      <td> <a (click)="view(emp)">
                              <i class="fa fa-eye text-16" matTooltip="View"></i>
                          </a> |
                          <a (click)="edit(emp, i)">
                              <i class="fa fa-pencil text-16" matTooltip="Edit"></i>
                          </a> |
                          <a (click)="delete(i)">
                              <i class="fa fa-trash text-16" matTooltip="Delete"></i>
                          </a></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
