<div class="row">
    <!-- <div class="col-sm-12 text-right m-b-20">
    <div class="header-search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Petition ID">
        <span class="input-group-btn">
          <button class="btn btn-pri" type="button">Search</button>
        </span>
      </div>
    </div>
  </div> -->
    <div class="col-sm-12">
        <div class="table-responsive add-hearing table-theme">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Petition ID</th>
                        <th>Scheduled Hearing Type</th>
                        <th>Hearing Date</th>
                        <th>Victim Name</th>
                        <th>Offense</th>
                        <!-- <th>De-Activated Offense</th> -->
                        <th>Hearing Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="totalRecords && totalRecords > 0">
                    <tr *ngFor="let item of petitionList">
                        <td>
                            <ng-container *ngFor="let petition of item.petitions;let last = last;">
                                <span>{{petition.petitionid}}<span *ngIf="!last">,&nbsp;</span></span>
                            </ng-container>
                        </td>
                        <td>{{item.hearingtype}}</td>
                        <td>{{item.hearingdatetime | date:'MM/dd/yyyy'}}</td>
                        <td style="text-transform: capitalize;">
                            <ng-container *ngFor="let petition of item.petitions">
                                <ng-container *ngFor="let complaint of petition.complaints;">

                                    <span *ngFor="let victim of complaint?.victims ;let victimlast = last;">{{victim.firstname
                                        }} {{victim.lastname }} </span>
                                </ng-container>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngFor="let petition of item.petitions">
                                <ng-container *ngFor="let complaint of petition.complaints;">
                                    <ng-container *ngFor="let offence of complaint.offences; let last = last">
                                        <span *ngIf="offence.activeflag === 1">{{offence.name}}<span *ngIf="!last">,&nbsp;</span><span
                                                *ngIf="last"><br></span></span>
                                    </ng-container>
                                </ng-container>


                            </ng-container>
                            <!-- <a class="pull-right" (click)="editHearingOffense(item)"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>&nbsp;Edit Offenses</a> -->



                        </td>
                        <!-- <td>
                            <ng-container *ngFor="let petition of item.petitions">


                                <ng-container *ngFor="let complaint of petition.complaints;">
                                    <ng-container *ngFor="let offence of complaint.offences; let last = last">
                                        <span *ngIf="offence.activeflag === 0">{{offence.name}}<span *ngIf="!last">,&nbsp;</span><span
                                                *ngIf="last"><br></span></span>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </td> -->
                        <td>{{(item.courthearingstatustypekey === 'Completed')?'Completed':'Scheduled'}}</td>
                        <td>
                            <ul class="list-inline list-unstyled m-b-0">
                                <li><a><i class="fa fa-eye" aria-hidden="true" (click)="viewEditHearing(item,0)"></i></a></li>
                                <li *ngIf="item.courthearingstatustypekey !== 'Completed' && token.role.name !== 'RTCD'"><a><i class="fa fa-check-circle-o"
                                            aria-hidden="true" (click)="viewEditHearing(item,1)"></i></a></li>
                            </ul>
                        </td>
                    </tr>

                </tbody>
                <tbody *ngIf="totalRecords === 0">
                    <tr>
                        <td colspan="7" style="text-align: center !important;">No hearings scheduled </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="totalRecords && totalRecords > maxSize">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="view-hearing" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Court Actions</h4>
            </div>
            <div class="modal-body ">
                <form [formGroup]="hearingForm">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Petition ID(s)" formControlName="petitionID">
                                <!-- <mat-select placeholder="Petition ID(s)" formControlName="petitionID" multiple>
                  <mat-option *ngFor="let item of selectedPetitionToEdit?.petitionids" [value]="item.petitionid">{{item.petitionid}}
                  </mat-option>
                </mat-select> -->
                                <!-- <mat-select placeholder="Petition ID" formControlName="petitionID">
                  <mat-option value="1">P1-23456789</mat-option>
                </mat-select> -->
                            </mat-form-field>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput appMaskDate [matDatepicker]="picker4" (click)="picker4.open()" placeholder="Hearing Date"
                                            formControlName="hearingDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="time" matInput placeholder="Hearing Time" formControlName="hearingTime">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <mat-form-field>
                                <mat-select placeholder="Scheduled Hearing Type" formControlName="hearingType">
                                    <mat-option *ngFor="let item of hearingTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="isOther">
                                <input required matInput placeholder="Other Hearing Type" value="" formControlName="otherhearingtypenotes">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Associated Attorneys" formControlName="associatedAttorneys">
                            </mat-form-field>
                            <!--  <mat-form-field>
                                <input matInput placeholder="Transfer Petition ID" formControlName="transferPetitionID">
                            </mat-form-field> -->
                            <mat-form-field>
                                <input matInput placeholder="Notes" formControlName="transferNotes">
                            </mat-form-field>
                            <mat-form-field class="clearfix" *ngIf="!(isAdjudi || isDisposition)">
                                <mat-select formControlName="offenses" placeholder="Intake Allegation" multiple>
                                    <mat-option *ngFor="let item of allegations" value="{{item.allegationid}}">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Legal Counsel Name" formControlName="legalCounselName"
                                    required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Judge/Magistrate Name" formControlName="judgeName"
                                    required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Worker" formControlName="worker" required>
                            </mat-form-field>
                            <!-- making below control required not working for adjudication -->
                            <mat-form-field *ngIf="!(isAdjudi || isDisposition)">
                                <mat-select formControlName="courtActions" placeholder="Court Actions" multiple>
                                    <mat-option *ngFor="let item of courtActionsFiltered$ | async" [value]="item.courtactiontypekey">{{item.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="isOther">
                                <input required matInput placeholder="Other Court Actions" value="" formControlName="othercourtactiontypenotes">
                            </mat-form-field>
                            <mat-form-field *ngIf="!(isAdjudi || isDisposition)">
                                <mat-select formControlName="courtordertypekey" placeholder="Court Order" multiple
                                    (selectionChange)="onCourtOrderChange($event.value)">
                                    <mat-option *ngFor="let item of courtOrder" [value]="item.value">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="clearfix" *ngIf="isAdjudi || isDisposition">
                                <mat-select formControlName="offenses" placeholder="Intake Allegation" multiple>
                                    <mat-option *ngFor="let item of allegations" value="{{item.allegationid}}">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="isAdjudi && createDisposition" class="m-t-10">
                                <mat-checkbox formControlName="createDisposition">Disposition hearing held on the same
                                    day as the Adjudication hearing</mat-checkbox>
                            </div>
                            <ng-container *ngIf="isTransferOfJuridication">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <textarea matInput placeholder="Transfer Petition Notes" formControlName="saotransfernotes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-select formControlName="saocountyid" placeholder="Receiving Jurisdiction">
                                                <mat-option *ngFor="let item of mdcounty" [value]="item.countyid">{{item.countyname}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <mat-form-field>
                                            <input formControlName="terminationTime" type="time" matInput placeholder="Termination Time">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-sm-4">
                            <!-- <mat-form-field class="clearfix" *ngIf="isAdjudi">
                                <mat-select formControlName="adjudicatedOffense" placeholder="Adjudicated Offense"
                                    multiple>
                                    <mat-option *ngFor="let item of allegations" value="{{item.allegationid}}">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="clearfix" *ngIf="isAdjudi">
                                <mat-select formControlName="adjudicationDecision" placeholder="Adjudicated Decision"
                                    formControlName="adjudicatedDecision">
                                    <mat-option *ngFor="let item of decisions$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <div class="row" *ngIf="isAdjudi || isDisposition">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input formControlName="terminationDate" [max]="maxDate" matInput appMaskDate [matDatepicker]="picker33"
                                            (click)="picker33.open()" placeholder="Termination Date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker33"></mat-datepicker-toggle>
                                        <mat-datepicker #picker33></mat-datepicker>
                                    </mat-form-field>                                    
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="time" matInput placeholder="Adjudicated Time" formControlName="adjuctedTime">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input formControlName="completionDate" (click)="picker23.open()" matInput [max]="maxDate"
                                        appMaskDate [matDatepicker]="picker23" placeholder="Completion Date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker23"></mat-datepicker-toggle>
                                        <mat-datepicker #picker23></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field>
                                        <input formControlName="completionTime" type="time" matInput placeholder="Completion Time">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput appMaskDate [matDatepicker]="picker3" (click)="picker3.open()" placeholder="Adjudicated Date"
                                            formControlName="adjudicatedDate" [max]="maxAdjudicatedDate" [min]="intakeDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input formControlName="orderDate" #orderDateRef matInput required appMaskDate [matDatepicker]="picker12"
                                            placeholder="Order Date" (click)="picker12.open()" (dateChange)="orderDateChanged()" [max]="maxDate"
                                            readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                        <mat-datepicker #picker12></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                        <mat-form-field>
                                            <input formControlName="orderTime" type="time" required matInput placeholder="Order Time">
                                        </mat-form-field>
                                    </div> -->
                            </div>
                            <div class="row" *ngIf="showExpiration">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Months to Expire"  (change)="changeExpirationDate($event)" formControlName="expiryMonth" >
                                            <mat-option *ngFor="let item of expirationMonths; let month = index"
                                                [value]="month+1">{{month+1}}
                                                Month<span *ngIf="month > 0">s</span> from Order Date {{orderDateRef.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input formControlName="expirationdate" matInput appMaskDate [matDatepicker]="expirationdatepicker" [required]="showExpiration && isPeaceOrder"
                                            (click)="expirationdatepicker.open()" placeholder="Expiration Date" [min]="expirationMinDate"
                                            readonly>
                                        <mat-datepicker-toggle matSuffix [for]="expirationdatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #expirationdatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field *ngIf="!(isAdjudi || isDisposition)">
                                <mat-select formControlName="conditiontypekey" placeholder="Condition Type" multiple>
                                    <mat-option *ngFor="let item of conditionTypes" [value]="item.value">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="!(isAdjudi || isDisposition) && !isRestitution">
                                <textarea formControlName="conditiontypedescription" matInput placeholder="Description"></textarea>
                            </mat-form-field>    
                            <mat-form-field *ngIf="!(isAdjudi || isDisposition) && isRestitution">
                                <textarea formControlName="conditiontypedescription" required matInput placeholder="Description"></textarea>
                            </mat-form-field>    
                            <div class="col-md-5" style="padding-left: 0px" *ngIf="isRestitution">
                                <mat-checkbox formControlName="issendtoccu">CCU Applicable</mat-checkbox>                        
                            </div>
                            <div class="col-md-7 cusmm-fileupload" style="margin-left: -30px" *ngIf="isRestitution">
                                <label class="btn-bs-file btn btn-pri btn-xs" *ngIf="selectedAction === 1">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 6 } }">UPLOAD
                                </label>
                                <span *ngIf="restitutionuploadedFile && restitutionuploadedFile?.s3bucketpathname">
                                <label *ngIf="selectedAction !== 1">
                                        Attachment :  
                                    </label>
                                <a href="{{restitutionuploadedFile?.s3bucketpathname}}" target="_blank">{{restitutionuploadedFile?.originalfilename | ellipsis:7}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!(isAdjudi || isDisposition) && adultPettitionId">
                        <div class="col-md-12">
                                <h4 style="color: #00A2FD;" class="row"><span class="col-sm-12"><b>Adult Court Petition
                                        ID</b> : {{adultPettitionId}}</span></h4>
                        </div>
                    </div>
                    <ng-container *ngIf="isAdjudi || isDisposition">
                        <div formArrayName="petitions">
                            <div *ngFor="let petition of hearingForm.get('petitions').controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div formArrayName="complaints">
                                        <div class="row" *ngFor="let complaint of petition.get('complaints').controls; let j = index;">
                                            <div [formGroupName]="j" class="col-sm-12">
                                                <h4 style="color: #00A2FD;" class="row"><span class="col-sm-12"><b>Petition
                                                            ID</b> :
                                                        {{petition.get('petitionid').value}}&nbsp;/&nbsp;<b>Complaint
                                                            ID</b> :
                                                        {{complaint.get('complaintid').value}}<span *ngIf="complaint.get('complainttype').value !== 'Intake'">&nbsp;-&nbsp;Associated
                                                            Complaint</span></span></h4>
                                                <ng-container formArrayName="offenses">
                                                    <ng-container *ngFor="let offense of complaint.get('offenses').controls; let k = index">
                                                        <ng-container [formGroupName]="k">

                                                            <h5 class="row">
                                                                <span class="col-sm-3"><b>Offense</b> :
                                                                    {{offense.get('name').value}}</span>

                                                                <span class="col-sm-3"> <b>Source</b> :
                                                                    <ng-container *ngIf="offense.get('source').value ==='' || offense.get('source').value === null; else sourceTemplate">
                                                                        Court
                                                                    </ng-container>
                                                                    <ng-template #sourceTemplate>
                                                                        <ng-container *ngIf="offense.get('source').value === 'Complaint'; else elseTemplate">
                                                                            Intake
                                                                        </ng-container>
                                                                        <ng-template #elseTemplate>
                                                                            {{offense.get('source').value}}
                                                                        </ng-template>


                                                                    </ng-template>


                                                                </span>
                                                                <span class="col-sm-3"> <b>Status</b>
                                                                    :
                                                                    {{offense.get('status').value
                                                                    ===
                                                                    1
                                                                    ?
                                                                    'Active' :
                                                                    'Deactivated'}}</span>
                                                                <span class="col-sm-3"> <b>Date</b>
                                                                        :
                                                                        {{petition.get('createddt').value | date: 'MM/dd/yyyy'}}</span>
                                                            </h5>
                                                            <div *ngIf="offense.get('status').value === 1" class="table-responsive table-theme adjudicatedtable"
                                                                style="padding: 10px;">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Court
                                                                                Actions <span class="required"></span></th>
                                                                            <th *ngIf="isDisposition">Court Order <span
                                                                                    class="required"></span></th>
                                                                            <th *ngIf="isDisposition">Condition Type</th>
                                                                            <!-- <th>Description</th> -->
                                                                            <th>Adjudication Decision <span class="required"></span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="no-placeholder">
                                                                                <div style="flex-basis: 0;width: 90%;">
                                                                                    <mat-form-field>
                                                                                        <mat-select formControlName="courtActions"
                                                                                            placeholder="Court Actions"
                                                                                            required multiple>
                                                                                            <mat-option *ngFor="let item of courtActionsFiltered$ | async"
                                                                                                [value]="item.courtactiontypekey">{{item.description}}</mat-option>
                                                                                        </mat-select>
                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </td>
                                                                            <td *ngIf="isDisposition" class="no-placeholder">
                                                                                <div style="flex-basis: 0;width: 90%;">
                                                                                    <mat-form-field>
                                                                                        <mat-select formControlName="courtordertypekey"
                                                                                            placeholder="Court Order"
                                                                                            multiple required>
                                                                                            <mat-option *ngFor="let item of courtOrder"
                                                                                                [value]="item.value">{{item.text}}</mat-option>
                                                                                        </mat-select>
                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </td>
                                                                            <td *ngIf="isDisposition" class="no-placeholder">
                                                                                <div style="flex-basis: 0;width: 90%;">
                                                                                    <mat-form-field>
                                                                                        <mat-select (change)="addConditomDescription($event.value, i, j, k);"
                                                                                            formControlName="conditiontypekey"
                                                                                            placeholder="Condition Type"
                                                                                            multiple>
                                                                                            <mat-option *ngFor="let item of conditionTypes"
                                                                                                [value]="item.value">{{item.text}}</mat-option>
                                                                                        </mat-select>
                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </td>
                                                                            <!-- <td class="no-placeholder">
                                                                                <mat-form-field>
                                                                                    <textarea formControlName="conditiontypedescription"
                                                                                        matInput placeholder="Description"></textarea>
                                                                                </mat-form-field>
                                                                            </td> -->
                                                                            <td style="width: 200px;" class="no-placeholder">
                                                                                <mat-form-field class="clearfix">
                                                                                    <mat-select [disabled]="selectedAction === 0"
                                                                                        formControlName="decision"
                                                                                        placeholder="Adjudicated Decision">
                                                                                        <mat-option *ngFor="let item of decisions$ | async"
                                                                                            value="{{item.value}}">{{item.text}}</mat-option>
                                                                                    </mat-select>
                                                                                </mat-form-field>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td class="accordion-table" colspan="4">
                                                                                <div *ngIf="offense.get('conditions').controls.length !== 0"
                                                                                    class="table-responsive table-theme">
                                                                                    <table class="table table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Condition
                                                                                                    Type</th>
                                                                                                <th>Condition
                                                                                                    Description <span
                                                                                                        class="required"></span></th>
                                                                                                <th style="min-width: 240px !important;">Condition
                                                                                                    Completion Date</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <ng-container formArrayName="conditions">
                                                                                                <ng-container *ngFor="let condition of offense.get('conditions').controls; let a = index">
                                                                                                    <ng-container
                                                                                                        [formGroupName]="a">
                                                                                                        <tr>
                                                                                                            <td>{{condition.get('conditiontype').value}}</td>
                                                                                                            <td class="no-placeholder row">
                                                                                                                <ng-container
                                                                                                                    class="col-sm-12">
                                                                                                                    <mat-form-field>
                                                                                                                        <textarea
                                                                                                                            required
                                                                                                                            formControlName="conditiontypedescription"
                                                                                                                            matInput
                                                                                                                            placeholder="Description"></textarea>
                                                                                                                    </mat-form-field>
                                                                                                                </ng-container>
                                                                                                            </td>
                                                                                                            <td class="no-placeholder">
                                                                                                                <mat-form-field>
                                                                                                                    <input
                                                                                                                        matInput
                                                                                                                        [max]="maxDate"
                                                                                                                        appMaskDate
                                                                                                                        [matDatepicker]="picker5"
                                                                                                                        (click)="picker5.open()"
                                                                                                                        placeholder="Completion Date"
                                                                                                                        formControlName="completiondate"
                                                                                                                        readonly>
                                                                                                                    <mat-datepicker-toggle
                                                                                                                        matSuffix
                                                                                                                        [for]="picker5"></mat-datepicker-toggle>
                                                                                                                    <mat-datepicker
                                                                                                                        #picker5></mat-datepicker>
                                                                                                                </mat-form-field>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </ng-container>
                                                                                                </ng-container>
                                                                                            </ng-container>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </form>
                <div class="row">
                    <div class="col-md-12 p-r-30">
                        <div class="pull-right" *ngIf="selectedAction===1">
                        <br/>
                            <button *ngIf="selectedAction===1" class="btn btn-sec" (click)="completeHearing(0)">Save</button>
                            <button *ngIf="allNotSustained || !(isAdjudi || isDisposition)" class="btn btn-pri" (click)="completeHearing(1)">Complete</button>
                            <button class="btn btn-pri" *ngIf="isAdjudi || isDisposition" (click)="completeHearing(1)"
                                [disabled]="!isSustained">Finalize</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-offense-hearing" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Activate / Deactivate Offenses</h4>
            </div>
            <div class="modal-body ">
                <form [formGroup]="editOffenseForm">
                    <mat-form-field>
                        <mat-select placeholder="Complaint ID" formControlName="complaintID">
                            <mat-option *ngFor="let item of complaintIDs" (click)="updateOffense(item)" value="{{item.intakeservicerequestevaluationid}}">{{item.complaintid}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="evaluationInfo?.allegationname">
                        <div>
                            <label>Offense Date : &nbsp;&nbsp;</label>{{evaluationInfo?.offensedate}}
                        </div>
                        <div>
                            <label>Intake Allegations :&nbsp;&nbsp;</label> <span *ngFor="let offense of editOffenseForm.get('offensesName').value;let last = last;">{{offense.name
                                }} <span *ngIf="!last">,&nbsp;</span> </span>
                        </div>
                        <div>
                            <label>
                                Years of Age :&nbsp;&nbsp;</label> {{evaluationInfo?.yearsofage}}
                        </div>
                        <div>
                            <label>Victims :&nbsp;&nbsp;</label>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let victim of evaluationInfo?.victim">
                                    <div>
                                        <p>First Name : {{victim?.firstname}}</p>
                                        <p>Last Name : {{victim?.lastname}}</p>
                                        <p>Address : {{victim?.address}}</p>
                                        <p>Street1 : {{victim?.address2}}</p>
                                        <p>Zip : {{victim?.zipcode}}</p>
                                        <p>City : {{victim?.city}}</p>
                                        <p>State : {{victim?.state}}</p>
                                        <p>Country : {{victim?.country}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <mat-form-field class="clearfix">
                            <mat-select formControlName="offenses" placeholder="Active Allegations" multiple>
                                <mat-option *ngFor="let item of allegations" value="{{item.allegationid}}">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </form>
                <div class="row">
                    <div class="col-md-12 p-r-30">
                        <div class="pull-right">
                            <button class="btn btn-pri" [disabled]="editOffenseForm.pristine" (click)="saveOffenses()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>