<div class="container-fluid">
  <section class="complaint-header">
    <div>
      <h4 class="pad-top20">
        <span>Complaint Referral</span>
      </h4>
      <refferal-header></refferal-header>
    </div>
  </section>
  <div class="intake no-pad">
    <navigation-tab></navigation-tab>
  </div>
  <div class="intake no-pad m-r-7">
  <button *ngIf="!isNextNotAvailable()" class="btn btn-pri btn-theme pull-right m-t-10 m-b-10" (click)="goToNextTab()" >Next</button>
  </div>
  <router-outlet></router-outlet>
  


  
  
</div>