<div class="col-sm-3 search-container pull-right mt-10 mb-10">
  <div class="inner-addon right-addon">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" class="form-control" (input)="onSearch('AreaCode', $event.target.value)" placeholder="Search Area..." />
  </div>
</div>
<div id="case-review" class="col-sm-12 resitutions-review">
  <div class="cnt-min-height">
    <div class="table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Payment Number</th>
            <th>Payment Date</th>
            <th>Deposit Number</th>
            <th>Account Area</th>
            <th>Payer First Name</th>
            <th>Payer Last Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Memo First</th>
            <th>Memo Last</th>
            <th>Payment Amount</th>
            <th>Restitution Number</th>
          </tr>
        </thead>
        <tbody *ngIf="checkReglist.length>0; else noItems">
          <ng-container *ngFor="let data of checkReglist; let i = index">
            <tr>
              <td><a (click)="openPaymentDetails(data)">{{data.paymentno}}</a></td>
              <td>{{data.asofdate | date:'MM/dd/yyyy'}}</td>
              <td>{{data.lockboxno}}</td>
              <td>{{data.vakaccountnumber}}</td>
              <td>{{data.firstname}}</td>
              <td>{{data.lastname}}</td>
              <td>{{data.addressline1}}</td>
              <td>{{data.addressline2}}</td>
              <td>{{data.city}}</td>
              <td>{{data.state}}</td>
              <td>{{data.zip}}</td>
              <td>{{data.customernumber}}</td>
              <td>{{data.checkno}}</td>
              <td>${{data.checkamt | number : '1.2' }}</td>
              <td></td>
            </tr>
          </ng-container>
        </tbody>
        <ng-template #noItems>
          <tbody>
            <tr>
              <td colspan="15" style="text-align: center !important;">
                No Payments found.
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <div class="text-center" *ngIf="totalcheckList && totalcheckList > paginationInfo.pageSize">
        <pagination [totalItems]="totalcheckList" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
          class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>