<div class="col-md-12" [formGroup]="attachmentDetail">
    <div class="form-search-person inline-form-wrap bg-gray pad-20 attach-from">
        <div class="col-md-6">
            <div class="form-group">
                <label>File Name:</label>
                <input type="text" class="form-control" name="" placeholder="Enter File Name " formControlName="filename" disabled>
            </div>
        </div>
        <div class="col-md-6" formGroupName="documentattachment">
            <div class="form-group">
                <label>Attachment Note:</label>
                <input type="text" class="form-control" name="" placeholder="Add Note" formControlName="note">
            </div>
        </div>
    </div>
    <div class="form-search-person inline-form-wrap bg-gray pad-20 attach-from img-upinfo">
        <div class="col-md-3">
            <div class="form-group">
                <label class="full-width required">Title:</label>
                <input type="text" class="full-width form-control" placeholder="Add Title" formControlName="title">
                <control-messages [control]="attachmentDetail.controls['title']"></control-messages>
            </div>
        </div>
        <div class="col-md-6" formGroupName="documentattachment">
            <div class="form-group">
                <label class="full-width">Created by:</label>
                <input type="text" class="full-width form-control" formControlName="insertedby" placeholder="Add Creater name" disabled>
            </div>
        </div>
        <div class="col-md-3 dd-overflow-inherit">
            <div class="form-group">
                <label class="full-width">Created Date:</label>
                <div class="fm-box-form">
                    <input type="text" class="form-control full-width" formControlName="documentdate" validdate a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}"
                        disabled>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="full-width required">Description:</label>
                <input type="text" class="form-control full-width" formControlName="description" placeholder="Add Description">
                <control-messages [control]="attachmentDetail.controls['description']"></control-messages>
            </div>
        </div>
        <div class="col-md-3" formGroupName="documentattachment">
            <div class="form-group">
                <label class="full-width required">Attachment Type:</label>
                <!-- <ng-select name="" [searchable]="true" [clearable]="false" formControlName="attachmenttypekey" (change)="typeUpdate($event)">
                    <ng-option value="">Select</ng-option>
                    <ng-option *ngFor="let attachment of attachmentTypeDropdown$ | async" [value]="attachment.value">{{attachment.text}}</ng-option>
                </ng-select> -->
                <select name="" class="form-control" formControlName="attachmenttypekey" (change)="typeUpdate($event, i)">
                    <option  [disabled]="this.isdisabled('')" value="">Attachment Type</option>
                    <option *ngFor="let attachment of attachmentTypeDropdown$ | async" [selected]="this.isselected(isdisabled)" [disabled]="this.isdisabled(attachment.value)" [value]="attachment.value">{{attachment.text}}</option>
                  </select>

            </div>
        </div>
        <div class="col-md-3" formGroupName="documentattachment">
            <div class="form-group">
                <label class="full-width required">Classification Type:</label>
                <select name="" class="form-control" formControlName="attachmentclassificationtypekey" (change)="categoryUpdate($event, i)">
                    <option value="">Category</option>
                    <option *ngFor="let attachment of attachmentClassificationtype" [value]="attachment.typedescription">{{attachment.typedescription}}</option>
                  </select>

            </div>
        </div>
        <div class="col-md-3" formGroupName="documentattachment">
            <div class="form-group">
                <label class="full-width required">Sub Category:</label>
                <select name="" class="form-control" formControlName="attachmentclassificationsubtypekey" (change)="subcategoryUpdate($event, i)">
                    <option value="">Sub Category</option>
                    <option *ngFor="let attachment of attachmentClassificationsubtype" [value]="attachment.subcategory">{{attachment.subcategory}}</option>
                  </select>

            </div>
        </div>
        <div class="col-md-3 dd-overflow-inherit" formGroupName="documentattachment">
            <div class="form-group">
                <label class="full-width">Attachment Date:</label>
                <div class="fm-box-form">
                    <input type="text" class="form-control full-width" validdate formControlName="attachmentdate" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', maxDate: null}">
                </div>
            </div>
        </div>
    </div>
    <div class="form-search-person inline-form-wrap bg-gray pad-20 attach-from" formGroupName="documentattachment">
        <div class="col-md-6">
            <div class="form-group">
                <label>Source / Author:</label>
                <input type="text" class="form-control" formControlName="sourceauthor" placeholder="Add Source / Author Name" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Subject:</label>
                <input type="text" class="form-control" formControlName="attachmentsubject" placeholder="Add Subject" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Position:</label>
                <input type="text" class="form-control" formControlName="sourceposition" placeholder="Add Position" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Purpose:</label>
                <input type="text" class="form-control" formControlName="attachmentpurpose" placeholder="Add Purpose" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Phone:</label>
                <input type="text" class="form-control" mask="(000) 000-0000" formControlName="sourcephonenumber" placeholder="Add Phone number"
                    name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Acquisition Method:</label>
                <input type="text" class="form-control" formControlName="acquisitionmethod" placeholder="Add Acquisation Method" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" formControlName="sourceaddress" placeholder="Add Address" name="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Location Of Original:</label>
                <input type="text" class="form-control" formControlName="locationoforiginal" placeholder="Add Location of original" name="">
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="button" class="btn-pri" [disabled]="attachmentDetail.invalid || attachmentDetail.pristine" (click)="saveAttachmentDetails()">Save</button>
    </div>
</div>