<div class="tab-content no-shadow" style="margin-left: 20px;">
  <form [formGroup]="addNameForm">
    <div class="row">
      <div class="col-sm-5" *ngIf="personService.isEditable">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="header-4">Add Name</h4>
            <mat-form-field>
              <mat-select placeholder="Select Name Type" (change)="nameTypeChanged($event.value)" formControlName="type">
                <mat-option value="a">Alias Name</mat-option>
                <mat-option value="n">Nickname</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngIf="!isNickName">
            <mat-form-field>
              <input type="text" formControlName="lastname" required matInput placeholder="Last Name">
            </mat-form-field>
          </div>
          <div class="col-sm-4" *ngIf="!isNickName">
            <mat-form-field>
              <input type="text" formControlName="firstname" required matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-sm-4" *ngIf="!isNickName">
            <mat-form-field>
              <input type="text" formControlName="middlename" matInput placeholder="Middle Name">
            </mat-form-field>
          </div>
          <div class="col-sm-12" *ngIf="isNickName">
            <mat-form-field>
              <input type="text" formControlName="nickname" required matInput placeholder="Nickname">
            </mat-form-field>
          </div>

          <div class="col-sm-12 m-t-10 text-right">
            <button class="btn btn-pri" *ngIf="!isNameEdit" [disabled]="addNameForm.invalid" (click)="addName();">Add
              Name</button>
            <button class="btn btn-pri" *ngIf="isNameEdit" (click)="updateName();">Update Name</button>
            <button class="btn btn-pri " *ngIf="isNameEdit" (click)="resetNameForm();">Cancel</button>
          </div>
        </div>




      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <div *ngIf="aliasNames && aliasNames.length >0">
          <h4 class="header-4">Alias Names</h4>
          <div class="table-responsive table-theme m-t-20">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Created By</th>
                  <th>Created Worker ID</th>
                  <th>Updated Date</th>
                  <th>Updated By</th>
                  <th>Updated Worker ID</th>
                  <th *ngIf="personService.isEditable">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of aliasNames">
                  <td>{{item?.lastname}}</td>
                  <td>{{item?.firstname}}</td>
                  <td>{{item?.middlename}}</td>
                  <td>{{item?.inserteduser?.displayname}}</td>
                  <td>{{item?.inserteduser?.cjamspid}}</td>
                  <td>{{item.updatedon | date:'MM/dd/yyyy'}}</td>
                  <td>{{item?.updateduser?.displayname}}</td>
                  <td>{{item?.updateduser?.cjamspid}}</td>
                  <td *ngIf="personService.isEditable">
                    <ul class="list-inline list-unstyled m-b-0">
                      <li><a (click)="editAliasName(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                      <li><a (click)="deleteAliasName(item)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="aliasNames.length === 0">
                  <td colspan="7">
                    No Records found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   </div> 

    <div class="row">
      <div class="col-sm-7">
        <div *ngIf="nickNames && nickNames.length >0">
          <h4 class="header-4">Nicknames</h4>
          <div class="table-responsive table-theme m-t-20">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nickname</th>
                  <th>Created By</th>
                  <th>Created Worker ID</th>
                  <th>Updated Date</th>
                  <th>Updated By</th>
                  <th>Updated Worker ID</th>
                  <th *ngIf="personService.isEditable">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="nickNames">
                <tr *ngFor="let item of nickNames">
                  <td>{{item?.nickname}}</td>
                  <td>{{item?.inserteduser?.displayname}}</td>
                  <td>{{item?.inserteduser?.cjamspid}}</td>
                  <td>{{item.updatedon | date:'MM/dd/yyyy'}}</td>
                  <td>{{item?.updateduser?.displayname}}</td>
                  <td>{{item?.updateduser?.cjamspid}}</td>
                  <td *ngIf="personService.isEditable">
                    <ul class="list-inline list-unstyled m-b-0">
                      <li><a (click)="editNickName(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                      <li><a (click)="deleteNickName(item)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="nickNames.length === 0">
                  <td colspan="5">
                    No Records found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </form>

  <hr>
  <div class="row" *ngIf="primaryRelations && primaryRelations.length> 0">
    <div class="col-sm-6">
      <h4 class="header-4">Primary Relations </h4>
      <div class="table-responsive table-theme m-t-20">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <!--   <th>In Custody</th>
                                <th>Living With</th> -->
              <th>Relation </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of primaryRelations">
              <td>{{item?.personrelative?.firstname}} &nbsp; {{item?.personrelative?.lastname}}</td>
              <!-- <td>
                                  <ng-container *ngIf="item.incustody; else elseTemplate">
                                    <span>YES</span>
                                  </ng-container>
            
                                </td>
                                <td>
                                  <ng-container *ngIf="item.livingwith; else elseTemplate">
                                    <span>YES</span>
                                  </ng-container>
                                </td> -->
              <td>{{item?.actorrelationship?.description}}</td>

            </tr>
            <tr *ngIf="primaryRelations.length === 0">
              <td colspan="4">
                No Records found
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="secondaryRelaltions &&secondaryRelaltions.length>0"> 
      <h4 class="header-4">Secondary Relations </h4>
      <div class="table-responsive table-theme m-t-20">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <!--  <th>In Custody</th>
                                <th>Living With</th> -->
              <th>Relation </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of secondaryRelaltions">
              <td>{{item?.personrelative?.firstname}} &nbsp; {{item?.personrelative?.lastname}}</td>
              <!-- <td>
                                  <ng-container *ngIf="item.incustody; else elseTemplate">
                                    <span>YES</span>
                                  </ng-container>
            
                                </td>
                                <td>
                                  <ng-container *ngIf="item.livingwith; else elseTemplate">
                                    <span>YES</span>
                                  </ng-container>
                                </td> -->
              <td>{{item?.actorrelationship?.description}}</td>

            </tr>
            <tr *ngIf="secondaryRelaltions.length === 0">
              <td colspan="4">
                No Records found
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>