.vendor-tb mat-form-field {
    display: block !important;
}
.vendor-wrapper {
    background: white;
    margin-top: 20px;
    padding: 1px 20px 20px;
}

::ng-deep .mat-form-field-wrapper {
    width: 160px !important;
}

::ng-deep .text-bold {
    font-weight: 900 !important;
}