<div class="form-search-person dangerwork-form address-form no-pad">
   <div class="col-sm-8">
      <h4> homeVisit Check</h4>
   </div>
   <!-- <div class="clearfix"></div> -->
   <div class="col-sm-12">
      <div class="text-right">
         <button [hidden]='isReadOnly' class="btn-pri" data-toggle="modal" data-target="#add-homeApproval"
            (click)="addHomeApproval()"> Add homeApproval
            Details </button>
      </div>
      <br>
   </div>

   <div class="row">
      <div class="col-md-12 table-responsive">
         <table class="table customTable firsttable">
            <thead>
               <tr>
                  <th>
                     <font size="2">Date Of 1st Visit</font>
                  </th>
                  <th>
                     <font size="2">Date Of 2nd Visit</font>
                  </th>
                  <th>
                     <font size="2">Date Of 3rd Visit</font>
                  </th>
                  <th>
                     <font size="2">Action</font>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr
                  *ngFor="let homeApproval of homeApprovalInfo | paginate: { id:'int-cntct',itemsPerPage: 10, currentPage: p }">
                  <td>{{homeApproval.visit_1 | date:'MM/dd/yyyy'}}</td>
                  <td>{{homeApproval.visit_2 | date:'MM/dd/yyyy'}}</td>
                  <td>{{homeApproval.visit_3 | date:'MM/dd/yyyy'}}</td>
                  <td>
                     <i class="fa fa-pencil-square-o" (click)="edithomeApprovalInfo(homeApproval)"></i>
                     <i class="fa fa-trash" (click)="deleteHomeApprovalDetails(homeApproval)"></i>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="text-center m-t-20" *ngIf="homeApprovalInfo; let homeApprovalInfo">
            <pagination-controls id="int-cntct" class="text-center m-t-20" *ngIf="homeApprovalInfo.length>0"
               (pageChange)="p = $event"></pagination-controls>
         </div>
      </div>
   </div>

</div>
<div class="modal fade in" id="add-homeApproval" tabindex="-1" role="dialog" data-backdrop="static"
   data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNotes()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Add homeApproval Check Details</h4>
         </div>
         <div class="modal-body ">
            <form [formGroup]="homeApprovalForm">
               <div class="">
                  <div class="col-md-6">
                     <div class="">
                        <div class="col-md-6">
                           <mat-form-field>
                              <input type="number" matInput formControlName="min_age_yr"
                                 placeholder="Min Age Years">
                           </mat-form-field>
                        </div>
                        <div class="col-md-6">
                           <mat-form-field>
                              <input type="number" matInput formControlName="min_age_months"
                                 placeholder="Min Age Months">
                           </mat-form-field>
                        </div>
                     </div>
                     <div class="">
                           <div class="col-md-6">
                              <mat-form-field>
                                 <input type="number" matInput formControlName="max_age_yr"
                                    placeholder="Max Age Years">
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field>
                                 <input type="number" matInput formControlName="max_age_months"
                                    placeholder="Max Age Months">
                              </mat-form-field>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="">
                  <div class="col-md-6">
                     <mat-form-field>
                        <mat-select placeholder="Gender" formControlName="gender" >
                           <mat-option *ngFor="let item of genderTypes" value="{{item}}">
                              {{item}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-form-field>
                        <input type="number" matInput formControlName="capacity"
                           placeholder="Capacity Number">
                     </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 m-t-10">
                     <div class="pull-right" *ngIf="!isEditHomeApproval">
                        <button class="btn-pri" (click)="saveHomeApprovalDetails()">Add homeApproval Details</button>
                     </div>
                     <div class="pull-right" *ngIf="isEditHomeApproval">
                        <button class="btn-pri" (click)="patchHomeApprovalDetails()">Update homeApproval
                           Details</button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="modal fade in" id="delete-homeApproval" tabindex="-1" role="dialog" data-backdrop="static"
   data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">homeApproval Check</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                  <p>Are you sure want to delete</p>
                  <button class="btn-primary" (click)="conformdeleteHomeApprovalDetails()">Delete</button>
                  <button class="btn-danger" (click)="cancelDelete()">Cancel</button>
               </div>
               <div class="col-md-3"></div>
            </div>
         </div>
      </div>
   </div>
</div>