<div class="row">
    <div class="col-sm-12 text-right">
        <button class="btn btn-pri" data-toggle="modal" (click)="resetForm()" data-target="#add-djs-notes">ADD NOTES</button>
    </div>
    <div class="col-sm-12 m-t-20">
        <div class="table-responsive table-theme">
            <table class="table">
                <thead>
                <tr>
                    <th>Staff Type</th>
                    <th>contact Type</th>
                    <th>contact status</th>
                    <th>location</th>
                    <th>drug screening</th>
                    <th>instant results</th>
                    <th>purpose</th>
                    <th>person involved</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody *ngIf="savednotes &&  savednotes.length>0">


                <tr *ngFor="let note of savednotes">
                    <td>{{getValue(note.stafftype,'stafftype')}}</td>
                    <td>{{getValue(note.progressnotetypeid,'contype')}}</td>
                    <td>{{getValue(note.contactstatus,'constatus')}}</td>
                    <td>{{note.location}}</td>
                    <td>{{getValue(note.drugscreen,'drugscrn')}}</td>
                    <td>{{getValue(note.instantresults,'instresult')}}</td>
                    <td>{{getValue(note.progressnotepurposetypekey,'purpose')}}</td>
                    <td>{{note.progressnoteroletype}}</td>
                    <td>
                        <ul class="list-unstyled list-inline action-icons">
                            <li><a><i class="fa fa-eye" aria-hidden="true" matTooltip="View" data-toggle="modal"
                                      data-target="#add-djs-notes" (click)="getNotes(note,0)"></i></a></li>
                            <li><a><i class="fa fa-pencil" (click)="getNotes(note,1)" aria-hidden="true"
                                      matTooltip="Edit" data-toggle="modal" data-target="#add-djs-notes"></i></a></li>
                        </ul>
                    </td>
                </tr>




                </tbody>
                <tr *ngIf="savednotes && savednotes.length == 0">
                    <td colspan="9" style="text-align: center"> No records found</td>
                </tr>
            </table>
            <!-- <p class="no-datatxt"> No Items! </p> -->
        </div>
    </div>
</div>
<div class="modal fade modal-theme in" id="add-djs-notes" role="dialog">
    <div class="modal-dialog t-25 w-700">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Contact Notes </h4>
            </div>
            <form [formGroup]="notesForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="bg-theme">
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <input  type='text' matInput formControlName='staff' required placeholder="Staff">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="DisabledDateCircle">
                                    <input matInput formControlName='date' required [matDatepicker]="picker" (click)="picker.open()" placeholder="Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <mat-select placeholder="Youth" required formControlName="contactroletypekey">
                                        <mat-option *ngFor="let youth of youthList" [value]="youth.Firstname">{{youth.Firstname}},{{youth.Lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>Staff Type</dt>
                                <dd class="m-t-10">
                                    <mat-radio-group formControlName="stafftype" required>
                                        <mat-radio-button class="m-r-10" value="1">Field</mat-radio-button>
                                        <mat-radio-button value="2">Community Detention</mat-radio-button>
                                    </mat-radio-group>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Contact Status</dt>
                                <dd class="m-t-10">
                                    <mat-radio-group formControlName="contactstatus" required>
                                        <mat-radio-button class="m-r-10" value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Drug Screen</dt>
                                <dd class="m-t-10">
                                    <mat-radio-group formControlName="drugscreen" required>
                                        <mat-radio-button class="m-r-10" value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                    </mat-radio-group>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Instant Results</dt>
                                <dd class="m-t-10">
                                    <mat-radio-group formControlName="instantresults" required>
                                        <mat-radio-button class="m-r-10" value="1">Positive</mat-radio-button>
                                        <mat-radio-button value="2">Negative</mat-radio-button>
                                    </mat-radio-group>
                                </dd>
                            </dl>
                            <mat-form-field>
                                <textarea required class="h-95" formControlName="notes" matInput placeholder="Comments"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="m-t-5 m-b-15">
                                <mat-select placeholder="Contact Type" required formControlName="progressnotetypeid">
                                    <mat-option *ngFor="let item of contactType$ | async" value="{{item.progressnotetypeid}}"
                                                (click)="loadLocationTypeDropdown(item.progressnotetypeid)">{{item.description}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="m-t-5 m-b-15">
                                <mat-select required formControlName="progressnotesubtypeid" placeholder="Location Type">
                                    <mat-option *ngFor="let item of typeofLocation$ | async" value="{{item.progressnotetypeid}}" (click)="setLocation(item.description)">{{item.description}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="m-t-5 m-b-15">
                                <mat-select required placeholder="Purpose" formControlName="progressnotepurposetypekey">
                                    <mat-option *ngFor="let item of purposeType$ | async" value="{{item.progressnotepurposetypeid}}">{{item.description}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="m-t-5 m-b-15">
                                <mat-select required placeholder="Persons Involved" formControlName="progressnoteroletype"
                                            multiple>
                                    <mat-option *ngFor="let item of personsInvolvedType$ | async" [value]="item.contactroletypekey">{{item.typedescription}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-pri" name=""  *ngIf="!notesId" (click)="saveNote()">
                    SAVE </button>
                <button type="button" class="btn-pri" name=""  *ngIf="editMode && notesId" (click)="updateNotes()">
                    Update </button>
                <button type="button" class="btn-pri" name="" data-dismiss="modal"> Cancel </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="view-note" role="dialog">
    <div class="modal-dialog modal-450 t-10 w-700">
        <div class="modal-content">
            <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title"> VIEW NOTES </h4>
                        </div> -->
            <div class="modal-body">
                <button type="button" class="custom-close close" data-dismiss="modal">×</button>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default panel-theme min-height">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="text-uppercase">Notes</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Staff Name</dt>
                                    <dd class="single-wrap">Dulik</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Date</dt>
                                    <dd class="single-wrap">30-08-2018</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Youth</dt>
                                    <dd class="single-wrap">Warner</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Staff Type</dt>
                                    <dd class="single-wrap">Field</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Contact Type</dt>
                                    <dd>15</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Contact Status </dt>
                                    <dd>Yes</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Location</dt>
                                    <dd>West Plam Beach</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Drug Screen</dt>
                                    <dd>Yes</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Instant Results</dt>
                                    <dd>Positive</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Purpose</dt>
                                    <dd>Initial Recommendation</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Persons Involved</dt>
                                    <dd>Initial Recommendation</dd>
                                </dl>
                                <dl>
                                    <dt>Notes</dt>
                                    <dd>Initial Recommendation v Initial Recommendation Initial Recommendation v</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-right big-bot-space right-mspace-15">
                                <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                                <button type="button" value="Yes" class="btn-pri " name=""> Yes </button>
                            </div> -->
            </div>
            <!-- <div class="modal-footer">
                          <button type="button" class="btn-pri" name="" data-dismiss="modal"> DONE </button>
                        </div> -->
        </div>
    </div>
</div>
