.period-brkdown {
    margin-top: 15px;
}
.mat-expansion-panel-header {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    font-family: 'Open Sans',serif !important;
}

.mat-expansion-panel-header, .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: #337ab7 !important;
}
.search-container {
    width: 250px;
    position: absolute;
    top: 10px;
    right: 50px;
}
.search-container .form-control {
    border: 1px solid #d4d4d4;
    box-shadow: none;
}
.checkbox-container {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 50px;
}
.checkbox-container .mat-checkbox {
    margin: 0 15px;
}

.person-card,
.person-card-selected {
    border: 1px solid #d8d8d8;
 }
.person-card-selected {
    background: #e8f9f4;
    border-color: #8ee3c8;
    // padding: 1.6em;
    // margin: 0;
    // line-height: 1.6em;
    clear: right;
    color: #181818;
}  

.spanchange,
.spanchange-selected {
    margin: 0px;
    padding: 3px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}
.spanchange-selected {
    padding: 3px;
    border-radius: 15px;
    background: #e8f9f4;
    border-color: #8ee3c8;
    clear: right;
    color: #0c5460;
    font-size: bold;
}  

.spanchangeblue,
.spanchangeblue-selected {
    padding: 3px;
    margin: 0px;
    border-radius: 15px;
    border: 1px solid #b8daff;
}
.spanchangeblue-selected {
    padding: 3px;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    // padding: 1.6em;
    // margin: 0;
    // line-height: 1.6em;
    clear: right;
  
    font-size: bold;
}  
.spancolersky{
    padding: 3px;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border-radius: 15px;
    border: 1px solid #bee5eb;
    
    font-size: bold;
}
.spancolerpink{
    padding: 3px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 15px;
    border: 1px solid #f5c6cb;
    font-size: bold;
}

::ng-deep .mat-horizontal-stepper-header {
    box-sizing: border-box;
    flex-direction: column-reverse !important;
    height: auto;
    padding: 0px;
}
::ng-deep .mat-horizontal-stepper-header .mat-step-label {
    padding: 0px 1px 5px !important;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after{
    top: 25px !important;
}

