.fm-box-form {
    padding-bottom: 0px;
}
.left-side-form .fm-box-form{width:47%;}
.dd-overflow-inherit .fm-box, .dd-overflow-inherit .fm-box-form{overflow: inherit !important;display:inline-block !important;}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .left-side-form .fm-box-form { width: 100%;}
}

@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1280px) {
    .left-side-form .fm-box label {min-width: 125px;}
    .left-side-form .fm-box-form { width: 55%;}
}


