.tblTeam tr{
    cursor: pointer;
}
.tblTeam tr.active>td
{
    background-color:#e9e9e9;
}

.panel-title > a[aria-expanded=true]:before,
.panel-title > a[aria-expanded=false]:before {
   float: right !important;
   font-family: FontAwesome;
   content:'\f068' !important;
   padding-right: 5px !important;
}
.panel-title > a[aria-expanded=false]:before {
content:'\f067' !important;
}
.panel-title > a.collapsed:before {
   float: right !important;
   content:'\f067' !important;
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
   text-decoration:none !important;
}
.panel-title a {
display:block;
}

.norecord {
    text-align: center;
}
.panel-group .panel-heading{padding: 0;}
