<div role="tabpanel" class="tab-pane dd-overflow-inherit">
  <div class="cnt-min-height">
    <div class="row">
      <div class="col-sm-8">
        <h4> Notes</h4>
      </div>
      <div class="col-sm-4 text-right btns-top">
        <button type="submit" class="btn-pri" (click)="createNotes()">Create
        </button>
      </div>
      <ng-container>
        <div class="col-md-12 m-t-10">
          <div class="table-responsive table-theme">
            <table class="table">
              <thead>
                <tr>
                  <th>Restitution #</th>
                  <th>Created Date</th>
                  <th>Notes</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody *ngIf="noteslist &&  noteslist.length>0">
                <tr *ngFor="let item of noteslist">
                  <td>{{item.restitutionno}}</td>
                  <td>{{item.insertedon | date:'MM/dd/yyyy'}}</td>
                  <td>
                    <span [innerHTML]="item.ccunotes" style="cursor: pointer;"
                      class="editor-notes">{{item.ccunotes}}</span>
                  </td>
                  <td>{{item.status}}</td>
                </tr>
              </tbody>
              <tr *ngIf="noteslist && noteslist.length == 0">
                <td colspan="9" style="text-align: center"> No records found</td>
              </tr>
            </table>
            <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
              <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                [itemsPerPage]="paginationInfo.pageSize"></pagination>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal fade modal-theme in" id="add-notes" role="dialog">
  <div class="modal-dialog t-25" style="width: 700px !important">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Restitution Notes </h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="col-sm-8 col-sm-offset-2">
            <mat-form-field>
              <mat-select placeholder="Select Restitution" [(ngModel)]="restitutionno" required>
                <mat-option *ngFor="let item of restitutionlist" value="{{item.restitutionnumber}}">
                  {{item.restitutionnumber}} -
                  {{item.victim.lastname}} {{item.victim.firstname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <quill-editor [(ngModel)]="notes" format="html" [placeholder]="notes" [style]="{height: '200px'}">
            </quill-editor>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="!restitutionno && !notes" data-dismiss="modal" class="btn-pri" name=""
          (click)="savenotes()">
          Submit </button>
        <button type="button" class="btn-pri" name="" data-dismiss="modal"> Cancel </button>
      </div>
    </div>
  </div>
</div>