.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
}

button i:before {
    color: #00A2FD;
    font-weight: 600;
    float: left;
}