<div class="row">
  <div class="col-md-12">
      <div class="status">
          <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="childStatus" (change)="statusDropDown($event.value)">
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                  {{status.text}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="m-t-20">
<div class="table-responsive table-theme">
    <table class="thead-black placement-info palcement-tb table table-striped">
        <thead>
            <tr>
                <th>Account Transaction ID</th>
                <th>Account ID</th>
                <th>Client ID</th>
                <th>Transaction Date</th>
                <th>Benefit Start Date</th>
                <th>Benefit End Date</th>
                <th>Transaction Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let transaction of childErrorCorrectionData">
                <td>{{transaction.transaction_id}}</td>
                <td>{{transaction.client_account_id}}</td>
                <td>{{transaction.client_id}}</td>
                <td>{{transaction.transaction_dt | date:'M/d/yyyy'}}</td>
                <td>{{transaction.benefit_start_dt | date:'M/d/yyyy'}}</td>
                <td>{{transaction.benefit_end_dt | date:'M/d/yyyy'}}</td>
                <td>{{transaction.transaction_amount_no | cjamsCurrency}}</td>
                <td>
                  <button class="open-link no-bg" type="button" matTooltip="Redirect to child transaction error correction" (click)="reDirectToAccount(transaction)"><i class="open-link fa fa-external-link"></i></button>
                </td>
            </tr>
            <tr *ngIf="childErrorCorrectionData?.length === 0">
                <td colspan="9" style="text-align: center;">No Transactions.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center mt-10" *ngIf="totalcount > 10">
    <pagination *ngIf="childErrorCorrectionData?.length > 0" [totalItems]="totalcount"
        [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
    </pagination>
</div>
</div>
