agm-map {
    height: 300px;
}
.sep-bot-gray{
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}



.table-striped>tbody>tr.green_bg:nth-of-type(odd) {
    background-color: #8bc34aa6;
}
.table-theme .table tr.green_bg:hover {
    background: rgb(243, 243, 243);
}

.table-theme .table tr.green_bg {
    background-color: #8bc34aa6;
}