<!-- <div class="row m-t-10">
    <div class="col-sm-12">
        <div class="panel panel-default panel-theme">
            <div class="panel-heading">
                <h4>Create a Placement for the child/children<button type="button" class="close mr-10" (click)="goBack()">x</button></h4>
                
            </div>
            <div class="panel-body"> 
                </div>
            </div>
        </div>
    </div>
    -->
<div *ngIf="this.currProcess ==='search'" class="tab-pane" id="search-form">
    <div *ngFor="let item of selectedChildren" class="row">
        <div class="col-md-4">
            <p>Child: {{item?.personname}}</p>
        </div>
        <div class="col-md-4">
            <p>Cjamspid: {{item?.cjamspid}}</p>
        </div>
        <div class="col-md-4">
            <p>DOB: {{item?.dob | date:'MM/dd/yyyy'}}</p>
        </div>
    </div>
    <form [formGroup]="providerSearchForm">
        <h5 class="pb-20 textb text-uppercase">Search Provider</h5>

        <div class="row">
            <div class="col-md-12">
                <h5 class="textb text-uppercase heading-bg">
                    <!-- <mat-checkbox class="" formControlName="isLocalDpt" (change)="localdptSelected($event)">
                        Local
                        Department Home Care Giver</mat-checkbox> -->
                    <mat-radio-group formControlName="isLocalDpt" (change)="localdptSelected($event.value)" required>
                        <mat-radio-button [value]="true">Public</mat-radio-button>
                        <mat-radio-button [value]="false">Private</mat-radio-button>
                    </mat-radio-group>
                </h5>

                <div class="row" *ngIf="providerSearchForm.controls.isLocalDpt.value === true">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="First Name" value="" formControlName="firstname">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput placeholder="Middle Name" value="" formControlName="middlename">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="Last Name" value="" formControlName="lastname">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-8" *ngIf="providerSearchForm.controls.isLocalDpt.value === false">
                    <mat-form-field>
                        <input matInput placeholder="Provider Name" value="" formControlName="providername">
                    </mat-form-field>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Child Characteristics" formControlName="childcharacteristics"
                                multiple>
                                <mat-option *ngFor="let item of childCharacteristics"
                                    value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Local Department" formControlName="otherLocalDeptmntTypeId"
                                multiple>
                                <mat-option *ngFor="let item of otherLocalDeptmntType"
                                    value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Zip Code" value="" formControlName="zipcode" zipcodeOnly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Placement Structure" formControlName="placementstructures"
                                multiple>
                                <mat-option *ngFor="let item of placementStrType" value="{{item.service_id}}">
                                    {{item.service_nm}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Bundled Placement Services"
                                formControlName="bundledplacementservices" multiple>
                                <mat-option *ngFor="let item of bundledPlcmntServicesType" value="{{item.service_id}}">
                                    {{item.service_nm}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Provider ID" value="" formControlName="providerid">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-20 pt-20">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="textb text-uppercase heading-bg">
                            <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                        </h5>
                        <div class="sep-bot-gray">
                            <p>Youngest :
                                <mat-select placeholder="Choose Age" formControlName="agemin">
                                    <mat-option *ngFor="let item of getRangeArray(21); let i = index;" [value]="i">{{i}}
                                    </mat-option>
                                </mat-select>
                            </p>
                        </div>
                        <div class="sep-bot-gray pt-10">
                            <p>Oldest :
                                <mat-select placeholder="Choose Age" formControlName="agemax">
                                    <mat-option *ngFor="let item of getRangeArray(21); let i = index;" [value]="i">{{i}}
                                    </mat-option>
                                </mat-select>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sep-bot-gray">
                            <h5 class="textb text-uppercase heading-bg">
                                <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                            </h5>
                            <p>
                                <mat-select placeholder="Gender" formControlName="gender">
                                    <mat-option *ngFor="let gender of genderDropdownItems"
                                        value="{{gender.typedescription}}">
                                        {{gender.typedescription}}</mat-option>
                                    <!-- <mat-option  value="Male">Male</mat-option>
                                    <mat-option  value="Female">Female</mat-option> -->
                                </mat-select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right ">
                <button class="aut-btn-placemntSearch btn btn-theme btn-pri m-l-30 pull-right"
                    (click)="getFcProviderSearch()" [disabled]="providerSearchForm.invalid">SEARCH</button>
                <button class="btn btn-theme btn-sec m-l-30 pull-right"
                    (click)="resetproviderSearchForm()">Clear</button>
                <!-- <button type="button" class="btn-pri pull-right" (click)="goBack()">Back</button> -->
            </div>
        </div>
    </form>
</div>
<div *ngIf="this.currProcess ==='select'" class="tab-pane" id="search-list">
    <h5 class="pb-20 textb text-uppercase">Select Provider</h5>
    <div class="col-md-12 m-b-30">
        <div class="table-responsive table-theme height-table">
            <table class="table table-striped aut-tbl-placementProviderTable">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Provider ID</th>
                        <th>Provider Name</th>
                        <th>Program Name</th>
                        <th>Preferred</th>
                        <th>Vacancy</th>
                        <th>Placement Structure</th>
                        <th>Provider category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of validfcProviderSearch; index as i">
                    <tr  [ngClass]="{'green_bg': item.casecounty === '1' }" >
                        <td>
                            <!-- <mat-radio-group>
                                <mat-radio-button value="1" (change)="selectedProv(item)"></mat-radio-button>
                            </mat-radio-group> -->
                            <input type="radio" name="provider" [ngClass]="i===0 ? 'aut-opt-placementProvider' : ''"
                                (change)="selectedProv(item)">
                        </td>
                        <!-- <td>
                                    <button class="btn-pri"  type="button">
                                            Search Result</button>
                            </td> -->
                        <td><a data-target="#searchResult" (click)="selectedViewProv(item)"
                                data-toggle="modal">{{item.provider_id}}</a></td>
                        <td>{{item.providername}}</td>
                        <td>{{item.programname}}</td>
                        <td>{{item.preferred}}</td> 
                        <td>{{item.vacancy}}</td>
                        <td>
                            {{item?.placementstructure}}
                         
                        </td>
                        <td>{{item.provider_category_name}}</td>
                        <td> <button [disabled]="!item.providerdetails[0].address" *ngIf="(validfcProviderSearch)?.length>0"
                                type="button" class="btn-pri pull-right m-r-20 m-b-10" (click)="listMap(item)">
                                View Map
                            </button></td>
                    </tr>
                    </ng-container>
                    <tr *ngIf="validfcProviderSearch?.length === 0">
                        <td colspan="6" style="text-align: center !important;">
                            No Records Found.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center m-t-20" *ngIf="fcTotal && fcTotal > fcpaginationInfo.pageSize">
                <pagination [totalItems]="fcTotal" [(ngModel)]="fcpaginationInfo.pageNumber"
                    (pageChanged)="fcPageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                    [itemsPerPage]="fcpaginationInfo.pageSize">
                </pagination>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right ">
        <button class="btn btn-theme btn-pri m-l-30 pull-right aut-btn-placementNext"
            [disabled]="selectedProvider?.length < 1" (click)="goToReferal()">Next</button>
        <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="backToSearch()">Back
            to Search</button>
    </div>
</div>
<div *ngIf="this.currProcess ==='send'" class="tab-pane" id="search-referel">
    <h5 class="pt-20 pb-20 textb text-uppercase">Add Provider</h5>
    <div [formGroup]="referalForm">
        <div class="row m-l-5">
            <div class="col-md-6">
                <h5 class="textb text-uppercase heading-bg">PLACEMENT DETAILS</h5>
                <div class="row ref-detailpara">
                    <div class="col-md-6">
                        <p><b>Provider ID </b> : {{selectedProvider?.provider_id}} </p>
                        <p><b>Address</b> : {{selectedProvider?.providerdetails[0].address}}</p>
                        <p><b>Primary Worker / Licensing Co-ordinator </b>:
                            {{getLicenseCoordinatorName(selectedViewProvider?.providerdetails[0].license_cordinators)}}
                        </p>

                    </div>
                    <div class="col-md-6">
                        <p><b>Provider Organization Name</b> :
                            {{selectedViewProvider?.providerdetails[0].provider_organization_name ?
                                            selectedViewProvider?.providerdetails[0].provider_organization_name : 'N/A'
                                            }} </p>
                        <!--  <p><b>Program Name</b> : {{selectedProvider?.programname}}</p> -->
                        <p><b>Provider Name</b> : {{selectedProvider?.providername}}</p>
                        <p><b>Phone Number</b> :
                            {{formatPhoneNumber(selectedViewProvider?.providerdetails[0].phonenumber)}}</p>
                    </div>
                </div>
                <div class="m-b-20" style="margin-top: 15px">
                        <mat-checkbox class="" formControlName="ischildplacedoutside">Child has been placed with a provider outside his/her jurisdiction
                            </mat-checkbox>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <h5 class="textb text-uppercase heading-bg">Information Sent to
                    Provider</h5> -->

                <common-date-picker formControlName="providersentdate" placeholder="Referral Sent Date"
                    [required]="isResponseAccepted">
                </common-date-picker>

                <mat-form-field class="">
                    <textarea matInput placeholder="Description" formControlName="providerdesc"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row ref-address">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h5 class="textb text-uppercase heading-bg">Response</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Response Accepted" formControlName="responseacceptedkey"
                                    class="aut-lst-placementResponseAccepted" (change)="responseSelect($event)"
                                    required>
                                    <mat-option *ngFor="let item of ResponseAcceptedList" value="{{item.ref_key}}">
                                        {{item.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Reason for Decline" [required]='!approval'  formControlName="rejectreasonkey">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let item of ResponseRejectedList" value="{{item.ref_key}}">
                                        {{item.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Placement Structure" formControlName="service_id"
                                    class="aut-lst-placementStructure" (change)="placementStructureSelect($event)"
                                    required>
                                    <mat-option *ngFor="let item of validplacementStrType" value="{{item.service_id}}">
                                        {{item.service_nm}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="COMAR Rate Category" formControlName="ratestructureid"
                                    class="aut-lst-placementCOMARRateCategory" [required]="comarRateRequired">
                                    <mat-option *ngFor="let item of placementStrType" value="{{item.service_id}}">
                                        {{item.service_nm}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="">
                            <textarea matInput placeholder="Comments" [required]='!approval' formControlName="remarks"
                                class="aut-txt-placementComments"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h5 class="textb text-uppercase heading-bg">Placement Entry
                        </h5>
                        <div>

                            <common-date-picker   [min]="minDate" [max]="maxDate" formControlName="startdate" placeholder="Begin Date"
                                [required]="isResponseAccepted" class="aut-dtp-placementBeginDate">
                            </common-date-picker>

                        </div>
                        <div>
                            <mat-form-field>
                                <input type="time" [required]="isResponseAccepted" formControlName="starttime" matInput
                                    class="aut-dtp-placementBeginTime" placeholder="Begin Time">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6" style="display:none;">
                        <h5 class="textb text-uppercase heading-bg">IFC DOC Approval
                        </h5>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()"
                                id="ifcapprovaldate" formControlName="ifcapprovaldate" placeholder="Date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <!-- disabling common datepicker not working -->
                        <!-- <common-date-picker formControlName="ifcapprovaldate" placeholder="Date" required='true'></common-date-picker> -->

                        <div style="margin-top: 15px">
                            <mat-checkbox class="" formControlName="isssaapproval">SSA
                                Approval</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button [disabled]="isSubmitting" class="btn btn-theme btn-pri  pull-right aut-btn-placementSendForApproval" (click)="saveReferal()">{{approval ? 'Send
            For Approval' : 'Save'}}</button>
        <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="backToSearchList()"> Back to Search
            Results</button>
    </div>

</div>
<div class="modal fade in modal-theme" id="placement-ackmt" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" (click)="close()">×</button>
                <p class="title text-center"> Child Provider Placement </p>
                <p class="m-t-10">Provider placement recorded successfully.<span> Please
                        record the following information in CJAMS if applicable to the child(ren).</span></p>
                <ul class="doc-list">
                    <li>Court order upload</li>
                    <li>Family involvement meeting notes</li>
                    <li>Health history updates for the child/children</li>
                    <li>Physical safety checks and reports upload</li>
                    <li>Best interest determination assessment</li>
                    <li>Transportation plan</li>
                </ul>



                <div class="text-right big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk aut-btn-placmentOK" name="" (click)="close()"> OK </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchResult" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title"><b>{{selectedViewProvider?.providername}} -
                        {{selectedViewProvider?.provider_id}}</b> </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <!-- <p><b>Name </b>: {{selectedViewProvider?.providername}} </p>
                            <p><b>ID </b>: {{selectedViewProvider?.provider_id}} </p> -->
                            <p><b>Address </b>:{{selectedViewProvider?.providerdetails[0].address}} </p>
                            <p><b>Phone </b>:
                                {{formatPhoneNumber(selectedViewProvider?.providerdetails[0].phonenumber)}}
                            </p>
                            <p><b>Primary Worker / Licensing Co-ordinator </b>:
                                {{getLicenseCoordinatorName(selectedViewProvider?.providerdetails[0].license_cordinators)}}
                            </p>
                            <p><b>Provider Organization Name</b> :
                                {{selectedViewProvider?.providerdetails[0].provider_organization_name ?
                                                selectedViewProvider?.providerdetails[0].provider_organization_name :
                                                'N/A' }} </p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Child Characteristics </b>:<br></p>
                            <!-- <span   *ngIf="selectedViewProvider?.childcharacteristicsdetails?.length >0">
                                      <span class="pl-20"  *ngFor="let item of selectedViewProvider?.childcharacteristicsdetails">{{item?.childcharacteristics_description}} <br> </span> 
                                </span> -->
                            <ul style="max-height: 100px; overflow-y: auto;" class="doc-list">
                                <li *ngFor="let item of selectedViewProvider?.childcharacteristicsdetails">
                                    {{item?.childcharacteristics_description}}</li>
                            </ul>

                            <p><b>Placement Structure </b>:<br></p>
                            <!-- <span  style="max-height: 100px; overflow-y: auto;" *ngIf="selectedViewProvider?.placementstructuredetails?.length >0">
                                        <span class="pl-20"  *ngFor="let item of selectedViewProvider?.placementstructuredetails">{{item?.service_nm}}  <br></span>
                                  </span> -->
                            <ul style="max-height: 100px; overflow-y: auto;"
                                *ngIf="selectedViewProvider?.placementstructuredetails?.length > 0" class="doc-list">
                                <li *ngFor="let item of selectedViewProvider?.placementstructuredetails">
                                    {{item?.service_nm}}</li>
                            </ul>

                            <p><b>Bundled Placement Services</b> :<br></p>
                            <!-- <span  style="max-height: 100px; overflow-y: auto;" *ngIf="selectedViewProvider?.bundleplacementdetails?.length >0">
                                        <span class="pl-20"  *ngFor="let item of selectedViewProvider?.bundleplacementdetails">{{item?.service_nm}} <br></span> 
                                  </span> -->
                            <ul style="max-height: 100px; overflow-y: auto;"
                                *ngIf="selectedViewProvider?.bundleplacementdetails?.length > 0" class="doc-list">
                                <li *ngFor="let item of selectedViewProvider.bundleplacementdetails">
                                    {{item?.service_nm}}</li>
                            </ul>



                        </div>
                        <div style="display:none" class="col-md-6">
                            <p><b>Provider ID </b>: {{selectedViewProvider?.provider_id}}</p>
                            <p><b>Provider Name </b>: {{selectedViewProvider?.providername}} </p>
                            <p><b>Provider Category</b> :
                                {{selectedViewProvider?.provider_category_name}} </p>
                            <p><b>Provider Organization Name</b> :
                                {{selectedViewProvider?.providerdetails[0].provider_organization_name ?
                                                selectedViewProvider?.providerdetails[0].provider_organization_name :
                                                'N/A' }} </p>
                            <p><b>Child Characteristics</b> :

                                <!-- <ul style="max-height: 100px; overflow-y: auto;" *ngIf="selectedViewProvider?.childcharacteristicsdetails?.length > 0"
                                    class="doc-list">
                                    <li *ngFor="let item of selectedViewProvider?.childcharacteristicsdetails">{{item?.childcharacteristics_description}}</li>
                                </ul> -->
                            </p>
                            <p><b>Phone Number</b> :
                                {{selectedViewProvider?.providerdetails[0].phonenumber}}</p>
                            <mat-checkbox disabled>Provider under Corrective Action Plan</mat-checkbox>
                            <p><b>Directions</b> : </p>
                            <!-- <mat-form-field class="">
                                <textarea matInput placeholder="Level of Intensity" readonly></textarea>
                            </mat-form-field> -->
                            <p><b>Level of Intensity</b>: </p>
                            <p><b>Bundled Placement Services</b> :
                                <!-- {{selectedViewProvider?.providerdetails[0].bundledplacementstructure}} -->
                                <!-- <ul style="max-height: 100px; overflow-y: auto;" *ngIf="selectedViewProvider?.bundleplacementdetails?.length > 0"
                                    class="doc-list">
                                    <li *ngFor="let item of selectedViewProvider.bundleplacementdetails">{{item?.service_nm}}</li>
                                </ul> -->
                            </p>
                            <!-- <mat-form-field class="">
                                <textarea matInput placeholder="Bundled Placement Services" readonly>
                                 {{selectedViewProvider?.providerdetails[0].bundledplacementstructure}} 
                                </textarea>
                            </mat-form-field> -->
                        </div>
                        <div style="display:none" class="col-md-6">
                            <p><b>Tax ID / SSN </b>:
                                {{selectedViewProvider?.providerdetails[0].tax_id_no}}</p>
                            <!-- <p><b>Program Name</b> : {{selectedViewProvider?.programname}}</p> -->
                            <p><b>Address</b> : {{selectedViewProvider?.providerdetails[0].address}}</p>
                            <!-- <mat-form-field class="">
                                <textarea matInput placeholder="Address"   readonly></textarea>
                            </mat-form-field> -->
                            <p><b>Primary Worker / Licensing Co-ordinator </b>:
                                {{getLicenseCoordinatorName(selectedViewProvider?.providerdetails[0].license_cordinators)}}
                            </p>
                            <p><b>Local Department </b>: </p>
                            <p><b>Extn</b> : </p>
                            <p><b>Placement Structure </b>:
                                <!-- {{selectedViewProvider?.providerdetails[0].placementstructure}} -->
                                <!-- <ul style="max-height: 100px; overflow-y: auto;" *ngIf="selectedViewProvider?.placementstructuredetails?.length > 0"
                                    class="doc-list">
                                    <li *ngFor="let item of selectedViewProvider?.placementstructuredetails">{{item?.service_nm}}</li>
                                </ul> -->
                            </p>
                            <p><b>Licensed </b>:</p>
                            <p><b>Approved Ages </b>:</p>
                            <p class="pl-20"> <b>From : </b>
                                {{!selectedViewProvider?.providerdetails[0].minimum_age_no &&
                                                !selectedViewProvider?.providerdetails[0].min_age_months_no? 'N/A' :
                                                ''}}
                                {{selectedViewProvider?.providerdetails[0].minimum_age_no ?
                                                selectedViewProvider?.providerdetails[0].minimum_age_no + ' years ' :
                                                '' }}
                                {{selectedViewProvider?.providerdetails[0].min_age_months_no ?
                                                selectedViewProvider?.providerdetails[0].min_age_months_no + ' months '
                                                :
                                                '' }}
                            </p>
                            <p class="pl-20">
                                <b>To : </b>
                                {{!selectedViewProvider?.providerdetails[0].maximum_age_no &&
                                                !selectedViewProvider?.providerdetails[0].max_age_months_no? 'N/A' :
                                                ''}}
                                {{selectedViewProvider?.providerdetails[0].maximum_age_no ?
                                                selectedViewProvider?.providerdetails[0].maximum_age_no + ' years ' :
                                                '' }}
                                {{selectedViewProvider?.providerdetails[0].max_age_months_no ?
                                                selectedViewProvider?.providerdetails[0].max_age_months_no + ' months'
                                                :
                                                ' ' }}

                            </p>
                            <p><b>Approved Gender </b>:{{selectedViewProvider?.providerdetails[0].gender
                                                ?
                                                selectedViewProvider?.providerdetails[0].gender : ''}}</p>

                            <!-- <mat-form-field class="">
                                <textarea matInput placeholder="Placement Structure" readonly>
                                    {{selectedViewProvider?.providerdetails[0].placementstructure}} 
                                </textarea>
                            </mat-form-field> -->
                            <!-- <mat-form-field class="">
                                <textarea matInput placeholder="Licensed / Approved Ages and Genders" readonly></textarea>
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in modal-theme" id="map-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)="closeMap()">×</button>
                <!-- <agm-map [latitude]="defaultLat" [longitude]="defaultLng">
                    <agm-marker *ngFor="let m of markersLocation; let i = index" [latitude]="m.lat" [longitude]="m.lng">
                    </agm-marker>
                </agm-map> -->
                <div>
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
                <div class="text-right big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk" name="" (click)="closeMap()"> OK </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in modal-theme" id="placement-vacancy-error" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <p class="title text-center"> Not enough vacancy
                </p>
                <p class="m-t-10">
                    Selected provider <b>"{{selectedProvider?.providername}}"</b> doesn't have enough vacancy to
                    accommodate the child/children. Please select another provider to continue.
                    <div class="text-right big-bot-space right-mspace-15 m-t-30">
                        <button class="btn-pri aut-btn-caseOk" data-dismiss="modal" aria-label="Close"> OK </button>

                    </div>
            </div>
        </div>
    </div>
</div>