#Search-res .table th {
    font-size: 12px;
}
.basic-info li {
    padding-bottom: 15px;
    width: calc(50% - 10px);
}
.basic-info li label {
    margin-bottom: 5px;
}
h4.modal-title {
    font-weight: 600;
    font-size: 19px;
}
.modal .Persons-Involved .nav-tabs {
    padding: 0px 15px;
}
.tab-content {
    padding: 0 20px;
}
.cus-tab-section li a {
    font-size: 15px;
    font-weight: 600;
    padding: 0;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 3px solid #a1a3a5;
}
.circle:after {
    background: none;
}
.cus-tab-section li:after,
.cus-tab-section li.active:after {
    height: 2px;
}
.cus-tab-section li:last-child:after,
.cus-tab-section li.active:last-child:after {
    height: 0;
}
.form-control {
    font-size: 14px;
    color: #999999;
}
#Search-res tbody td,
#Search-res tbody th {
    text-transform: capitalize;
}
.tab-content.no-shadow {
    box-shadow: none;
    padding: 15px;
}
.tab-content .list-25 li {
    width: calc(25% - 10px) !important;
}
.cus-tab-section .tab-txt {
    padding: 0 5px;
}
.radio-inline input[type='radio'] {
    position: relative;
    margin-left: 0;
}
.fa-angle-down,.fa-angle-up {
    color: #00A2FD;
    font-size: 16px;
    font-weight: 600;
}

.accordion .panel-heading,
#accordion .panel-heading {
    background: none;
    border: none;
}
.panel.panel-default {
    border: none;
    box-shadow: none;
}
.panel-title {
    font-size: 14px;
}
#accordion .panel-heading h4 {
    margin-bottom: 5px;
    margin-top:0;
}
.panel-title > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #00A2FD;
    line-height: 21px;
    text-transform: uppercase;
}

.panel-body {
    padding: 0;
}
.more-less {
    float: left !important;
    color: #00A2FD;
    border: 2px solid #e4e4e4;
    padding: 3px;
    margin-right: 10px;
    top: 0;
    border-radius: 2px;
    line-height: 4px;
    background: #f3f3f3;
    padding-bottom: 2px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #eeeeee;
}

.customTable th {
    color: #626467 !important;
}
.table.customTable > tbody > tr > td {
    border-top: 2px solid #ddd;
}
.customTable td {
    color: #626467;
    font-weight: 500;
    font-size: 14px;
}
.p-b-0 {
    padding-bottom: 0;
}
.p-tb-0 {
    padding-bottom: 0;
    padding-top: 0;
}
.innerTable > thead {
    background: #AEBED6;
}
.innerTable > thead > tr > th {
    padding: 5px 8px;
}
.td-pad {
    padding: 10px 5px;
}
.show {
    display: table-row !important;
}
.notactive{
    pointer-events: none;
}
.table-responsive {
    overflow-x: visible;
}
.innerTable .panel-group {
    margin-bottom: 10px;
}
table label.control {
    padding-top: auto;
    padding-left: auto;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
}
.control--radio .control__indicator:after {
    background: #00A2FD;
}
.control input:checked ~ .control__indicator {
    background: transparent;
}
.accordion-table thead {
    background: #AEBED6;
    color: #626467 !important;
}
.table .table {
    box-shadow: 0 0 10px 1px #ded8d8;
}
.customTable.firsttable thead tr th:nth-child(1) {width:70px;}
.customTable.firsttable thead tr th:nth-child(2) {width:40px;}
.customTable.firsttable thead tr th:nth-child(3) {width:100px;}
.customTable.firsttable thead tr th:nth-child(4) {width:100px;}
.customTable.firsttable thead tr th:nth-child(5) {width:100px;}
.customTable.firsttable thead tr th:nth-child(6) {width:50px;}
.customTable.firsttable thead tr th:nth-child(7) {width:125px;}
.customTable.firsttable thead tr th:nth-child(8) {width:150px;}
.customTable.firsttable thead tr th:nth-child(9) {width:100px;}
.customTable.firsttable thead tr th:nth-child(10) {width:100px;}
.customTable.firsttable thead tr th:nth-child(11) {width:75px;}
.customTable.firsttable thead tr th:nth-child(12) {width:75px;}
.customTable.firsttable thead tr th:nth-child(13) {width:100px;}
.customTable.firsttable > thead tr th, .customTable.firsttable > tbody tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.customTable.innerTable > thead tr th, .customTable.innerTable > tbody tr td {
    text-overflow: inherit;
    white-space: normal;
}
.outer {
    max-height:380px;
    min-height:380px;
    overflow: hidden;
    overflow-y: auto;
    margin:10px 0 30px;
}
.col-pad {
    padding: 0 10px;
}
.modal-header {padding: 10px 15px;}
.modal-dialog {
    margin:10px auto;
}
.modal-height-body {
    height: 472px;
    overflow: hidden;
    overflow-y: auto;
}
.bdr-btm{border: 1px solid #ccc; margin-bottom: 15px;padding: 10px 0; position: relative;}
.peson-role-delete{position: absolute; top: 10px; right: 10px;}
.peson-role-delete i{font-size: 16px; color: #333;}

.red {
    color: red;
}
