<div class="row">
  <div class="col-sm-12 m-t-20">
      <h3><strong>Adoption Annual Reviews</strong></h3>
    <button class="btn btn-pri pull-right" *ngIf="!isinValidAnnualReview" (click)="formAccess(0)">+ Annual Review</button>
  </div>
</div>
<div class="m-t-20">
    <div class="table-responsive">
      <table class="table table-bordered icon-action">
        <thead>
          <tr>
            <th>Review Date</th>
            <th>Approval Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of annualReviewList">
            <td>
              {{item.assessmentdate | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              {{item?.status}}
            </td>
            <td class="text-caps">
              <span *ngIf="!isSupervisor" title="Edit" data-placement="top" data-original-title="Edit">
                <a *ngIf="item.status !== 'Approved'" (click)="editAnnualReview(item)"><i class="fa fa-pencil fa-size" aria-hidden="true"></i></a>
                <a *ngIf="item.status === 'Approved'" (click)="viewAnnualReview(item)"><i class="fa fa-eye fa-size" aria-hidden="true"></i></a>
              </span>
              <button  *ngIf="isSupervisor" type="button" (click)="viewAnnualReview(item)" class="btn btn-pri">{{ item?.status === 'Review' ? 'Review' : 'View' }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form [formGroup]="annualReviewAdoptionForm" *ngIf="isFormDisplay">
    <section class="mt-30">
        <h5 class="h5-title">Annual Review Signature Dates</h5>
        <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                  <input matInput [matDatepicker]="pickeradp1" (click)="pickeradp1.open()" placeholder="Adoptive Parent1"
                    formControlName="fatheragreementdate" required>
                  <mat-datepicker-toggle matSuffix [for]="pickeradp1"></mat-datepicker-toggle>
                  <mat-datepicker #pickeradp1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 text-right">
                  <mat-form-field>
                  <input matInput [matDatepicker]="pickerldss" (click)="pickerldss.open()" placeholder="LDSS Director/Designee"
                    formControlName="designeeagreementdate" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerldss"></mat-datepicker-toggle>
                  <mat-datepicker #pickerldss></mat-datepicker>
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickeradp2" (click)="pickeradp2.open()" placeholder="Adoptive Parent2"
                  formControlName="motheragreementdate" required>
                <mat-datepicker-toggle matSuffix [for]="pickeradp2"></mat-datepicker-toggle>
                <mat-datepicker #pickeradp2></mat-datepicker>
              </mat-form-field>
            </div>
        </div>
    </section>
    
      <section class="mt-30">
        <h5 class="h5-title">Annual Review Details</h5>
        <ul class="list-group checklist-disclosure">
          <li class="list-group-item clsForm-inline" style="height:65px">
            <span class="col-sm-6">
              <mat-form-field>
                <input formControlName="enteredby" matInput placeholder="Entered By">
              </mat-form-field>
            </span>

            <span class="col-sm-6 pull-right datepick">
              <mat-form-field>
                <input [max]="maxdate" matInput [matDatepicker]="pickerm" (click)="pickerm.open()" placeholder="Review Date"
                  formControlName="assessmentdate" required> 
                <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
                <mat-datepicker #pickerm></mat-datepicker>
              </mat-form-field>
            </span>
          </li>
    
            <li class="list-group-item " style="opacity: 0">
            <span class="required">
              Child is under 18 years old or child is under 21 years old with a disability? 
            </span>
             <span class="pull-right">
               <mat-radio-group (change)="onChangeDisabilityCheckbox1($event.value)" formControlName="ischilddisability" required>
                <mat-radio-button [value]=true>Yes</mat-radio-button>
                <mat-radio-button [value]=false>No</mat-radio-button>
              </mat-radio-group> 
            </span>
          </li>  
          <li class="list-group-item ">
            <span class="required">Child is under 18 years old or child is under 21 years old with a disability?</span>
            <span class="pull-right">
              <mat-radio-group (change)="onChangeDisabilityCheckbox1($event.value)" formControlName="ischilddisability" required>
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item ">
            <span class="required">Child still meets special needs requirements?</span>
            <span class="pull-right">
              <mat-radio-group formControlName="ischildspecialneed" required>
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item">
            <span class="required">Parents are still legally Responsible?</span>
            <span class="pull-right">
              <mat-radio-group formControlName="isparentlegalresponsible" required>
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item">
            <span class="required">Renewal agreement has been signed?</span>
            <span class="pull-right">
              <mat-radio-group formControlName="isrenewalsigned" required>
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item">
            <span class="required">Parents provides financial Support for the Child?</span>
            <span class="pull-right">
              <mat-radio-group formControlName="parentsupportflag" required>
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
    
          <li class="list-group-item ">
            Child is currently enrolled in school?
            <span class="pull-right">
              <mat-radio-group formControlName="schoolenrollflag">
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item ">
            If not school age, documentation of immurization record provided?
            <span class="pull-right">
              <mat-radio-group formControlName="immunizationflag">
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
          <li class="list-group-item ">
            If the child is between 18 and 21 years old, is he/she in school, employed, or disabled?
            <span class="pull-right">
              <mat-radio-group (change)="onChangeDisability($event.value)" formControlName="mededuvoccertflag">
                  <mat-radio-button [value]=1>Yes</mat-radio-button>
                  <mat-radio-button [value]=0>No</mat-radio-button>
              </mat-radio-group>
            </span>
          </li>
        </ul>
      </section>
      <section class="form-inline sign-sec mt-20" *ngIf="annualReviewAdoptionForm.getRawValue().mededuvoccertflag">
          <h3 class="h5-title">If yes, respond to the following</h3>
          <ul class="list-group checklist-disclosure">
              <li class="list-group-item ">
                1. Completing secondary education or a program leading to an equivalent credential.
                <span class="pull-right">
                    <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22educhkflag" checked="true">
                    </mat-checkbox>
                </span>
              </li>
              <li class="list-group-item ">
                2. Enrolled in an institution that provides  post-secondary or vocational eduction
                <span class="pull-right">
                    <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22enrollchkflag" checked="true">
                    </mat-checkbox>
                </span>
              </li>
              <li class="list-group-item">
                3. Participating in a program or activity designed to promote or remove barries to employement.
                <span class="pull-right">
                    <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22emppgmchkflag" checked="true">
                    </mat-checkbox>
                </span>
              </li>
              <li class="list-group-item">
                4. Employed for at least 80 hours per month
                <span class="pull-right">
                    <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22emp80hrchkflag" checked="true">
                    </mat-checkbox>
                </span>
              </li>
              <li class="list-group-item">
                5. Incapable of doing any of the activities in [1] ...[4] due to a medical conditon, which incapability is supported by regularly updated information in the case plan of the child
                <span class="pull-right">
                    <mat-checkbox (change)="onChangeDisabilityCheckbox2($event.value)" class="m-t-20 ds-block" formControlName="paytill22medchkflag" checked="true">
                    </mat-checkbox>
                </span>
              </li>
            </ul>
      </section>
      <div class="row mt-30" >
            <div class="col-sm-12" *ngIf="annualReviewAdoptionForm.getRawValue().paytill22medchkflag || annualReviewAdoptionForm.getRawValue().ischilddisability ">
                <h3>Disability Notes</h3>
                <mat-form-field>
                    <textarea matInput formControlName="disabilitynotes" placeholder=""></textarea>
                  </mat-form-field>
            </div>
            <div class="col-sm-12">
                <h3>Notes</h3>
                <mat-form-field>
                    <textarea matInput formControlName="comments" placeholder=""></textarea>
                </mat-form-field>
            </div>
      </div>
      <div class="row mt-30">
        <div class="col-sm-9 note-txt">
        </div>
        <div class="col-sm-3 text-right" *ngIf="!isSupervisor">
          <button class="btn btn-pri" *ngIf="!isEditReview" [disabled]="annualReviewAdoptionForm.pristine || annualReviewAdoptionForm.invalid"
            (click)="addEditAnnualReview(annualReviewAdoptionForm.value, 0)">Save</button>
          <button class="btn btn-pri" *ngIf="isEditReview" [disabled]="annualReviewAdoptionForm.pristine || annualReviewAdoptionForm.invalid"
            (click)="addEditAnnualReview(annualReviewAdoptionForm.value, 1)">Update</button>  
        </div>
      </div>
  </form>
  <div class="row mt-20" *ngIf="isSupervisor && isFormDisplay" [formGroup]="approvalStatusForm">
    <div class="col-sm-3"> Approval status</div>
    <div class="col-sm-4">
      <mat-radio-group formControlName="routingstatus">
        <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
        <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-5" *ngIf="isEnableComments">
      <mat-form-field>
        <input type="text" matInput placeholder="comments" formControlName="comments">
      </mat-form-field>
    </div>
  </div>
  <div class="row pull-right" >
  <div class="col-sm-3 text-right" *ngIf="isSupervisor && isFormDisplay">
    <button class="btn btn-pri" [disabled]="isApproved || !approvalStatusForm.getRawValue().routingstatus" (click)="routingUpdate()">Submit</button>
  </div>
</div>