<div class="text-right big-bot-space right-mspace-15">
  <button type="button" class="btn-pri" (click)="collectivePdfCreator()" [disabled]="downloadInProgress"> Download
  </button>

</div>
<div id="Notice of Pre Intake Letter" [ngClass]="isNotSelected('Notice of Pre Intake Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Notice of Pre Intake Letter" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Notice of Pre Intake Decision
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-8">
            Youth Name:
            <span class="Victim-name">{{youthName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Youth #:
            <span class="victime-address"> {{youthId}}</span>
          </div>

        </div>
      </div>
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{victimName}}</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            I have reviewed the facts concerning the offense(s) referred to above and have decided not to accept the
            referral. This decision
            included consideration of the facts of the case and information provided in the police report. The reasons
            for
            this decision are as follows:
          </p>
          <ul>
            <!--<li>{{reason}}</li>-->
            <li>{{preIntakeDisposition?.systemRecmdatn}}</li>
          </ul>
          <p>
            Additional Comments:
          </p>

          <p>
            <!--{{supComments}}-->
            {{preIntakeDisposition?.comment}}
          </p>
          <br>
          <br>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Worker Name : {{loggedInUser}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Intake Officer
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>

</div>
<div id="Intake Formal Action Notification Letter" [ngClass]="isNotSelected('Intake Formal Action Notification Letter') ? 'hide': 'show' ">
  <div class="pdf-page sizeA4" data-page-name="Intake Formal Action Notification Letter" data-page-end="true"
    data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Intake Formal Action Notification Letter
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-6">
          </div>

          <div class="col-sm-6">
            Date: {{ currentDateString | date: 'MM-dd-yyyy' }} <br /> Alleged Offender: {{youthName}} <br /> Alleged
            Offender
            ID: {{youthId}}
          </div>

        </div>
      </div>
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{youthName}}</p>
        </div>
        <div class="row content col-sm-12">
          <p> Complaint(s): {{ evalFields?.complaintid }} Complaint Date: {{ evalFields?.complaintreceiveddate | date:
            'MM-dd-yyyy' }}</p>
          <p> Offense: {{offenseString}}</p>
          <p> Offense Date: {{evalFields?.allegedoffensedate | date : 'MM-dd-yyyy'}}</p>
          <p>
            This is to advise you that the complaint(s) against the alleged offender as cited above has been forwarded
            to the Office
            of the State’s Attorney with authorization to file a petition in Juvenile Court.
          </p>
          <p>This decision was based on a review of the facts of the case, and the best interest of the child and
            public.
          </p>
          <p>
            The State’s Attorney may file a petition within the next 30 days. If a petition is filed, you will receive
            a copy of the
            petition and a summons to appear in court as the victim/witness. The alleged offender has the right to
            legal
            representation at the time of the court hearing.
          </p>
          <p>
            If you have any questions please call me at .
          </p>



          <br>
          <br>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            {{loggedInUser}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Intake Officer
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
</div>
<div id="Intake Decision Sheet" [ngClass]="isNotSelected('Intake Decision Sheet') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Intake Decision Sheet" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Intake Decision
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-12">
            Youth Name: <span>{{youthName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Youth ID: {{youthId}}
          </div>
          <div class="col-sm-4">
            Folder ID:
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            DOB: {{youthDob | date: 'MM-dd-yyyy'}}
          </div>
          <div class="col-sm-4">
            Race:
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Address :
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Phone #: {{youthPhoneNumber}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            School :
          </div>
          <div class="col-md-4">
            Grade :
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Mother's Name : {{mother?.name}}
          </div>
          <div class="col-md-offset-3 col-md-5">
            Father's Name : {{father?.name}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            Address :
            <div [innerHTML]="mother?.address"></div>
          </div>
          <div class="col-md-offset-3 col-md-5">
            Address :
            <div [innerHTML]="father?.address"></div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Phone # : {{mother?.phoneNumber}}
          </div>
          <div class="col-md-offset-3 col-md-5">
            Phone # : {{father?.phoneNumber}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 no-pad">
                Guardian : {{guardian?.name}}
              </div>
              <div class="col-md-6">
                Live with :
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 no-pad">
                Guardian :
              </div>
              <div class="col-md-6">
                Live with :
              </div>
            </div>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Living with other :
          </div>
          <div class="col-md-offset-3 col-md-5">
            Case Manager :
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Relationship :
          </div>
          <div class="col-md-offset-3 col-md-5">
            Office :
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Guardian : {{guardian?.name}}
          </div>
          <div class="col-md-offset-3 col-md-5">
            Phone # : {{guardian?.phoneNumber}}
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-offset-7 col-md-5">


            <div> <input type="checkbox" [checked]="appointmentHeld">Prior Record (if check, see attached)</div>
            <br>
            <div>Hearing with youth/parents <input type="checkbox" [checked]="appointmentHeld"> held <input type="checkbox"
                [checked]="!appointmentHeld"> not held</div>
            <div>Date of Interview: {{preintakeAppointmentDate | date : 'MM-dd-yyyy, h:mm a'}}</div>

          </div>

        </div>
        <br>

      </div>
      <div class="body-content">
        <div class="row">
          <div class="col-md-12">
            <p> Rationale and justification for Intake Decision including efforts made to contact the parties and their
              failure
              to appear:
            </p>
            <p [innerHtml]="appointmentNotes"></p>

            <div> Intake Officer (print) : {{general?.Author}} ______________________________________________
            </div>
            <div>Supervisor’s Signature:______________________________________________
            </div>


          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>

</div>
<div id="Notice of Intake Decision" [ngClass]="isNotSelected('Notice of Intake Decision') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Notice of Intake Decision" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Notice of Intake Decision/Appeal Letter, Delinquency Cases
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-8">
            Youth Name:
            <span class="Victim-name">{{youthName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Youth #:
            <span class="victime-address"> {{youthId}}</span>
          </div>

        </div>
      </div>
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{victimName}}</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            I have reviewed the facts concerning the offense(s) referred to above and have decided not to authorize
            juvenile court action.
            This decision included consideration of the facts of the case and the juvenile’s involvement. Home, school,
            and
            community adjustment along with parental concern and control were examined. Past history with the police
            and
            court was also considered. The reasons for this decision are as follows:
          </p>

          <ul>
            <!--<li>{{reason}}</li>-->
            <li></li>
          </ul>
          <p>
            Additional Comments:
          </p>

          <p>
            <!--{{supComments}}-->
            If you disagree with the decision and desire to appeal, you must fill in the form provided below and send
            it to the State’s
            Attorney’s office so that it is received in that office by .
          </p>
          <p>
            If you have any questions or want to talk about this case with me before making a decision on whether to
            appeal, please call
            me at . However, if you do this, it will not extend the 30-day period within which you are allowed to
            appeal.
          </p>
          <br>
          <br>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Worker Name : {{general?.Author}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Intake Officer
          </div>
        </div>
      </div>
      <div class="row content col-sm-12">
        <p>
          If you disagree with the above decision of the intake officer, fill out the form below and send it to:
        </p>



      </div>
      <div class="row ">
        <div class="col-sm-offset-8 col-sm-4">
          State’s Attorney,
        </div>
      </div>
      <div class="row content col-sm-12">
        I have been informed by , the Juvenile Intake Officer, of the decision not to forward this case for action in
        the Juvenile
        Court. I disagree with this decision and ask that the State’s Attorney’s office review it and decide whether
        court
        proceeding should be carried out.
      </div>
      <div class="row ">
        <div class="col-sm-offset-8 col-sm-4 align-center">
          ______________________________ Signed
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>
</div>

<div id="Preintake-Appointment-Letter" [ngClass]="isNotSelected('Preintake-Appointment-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Intake Appointment Letter with Delinquency Process Compliant" data-page-end="false" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="header-info">
        <br />
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="width: auto !important;">
            {{ currentDateString | date: 'MM-dd-yyyy' }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="width: auto !important;">
            Youth Name: {{ youthName }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="width: auto !important;">
            <span style="font-weight: bold;">Youth ID:</span> {{ youthId }}
          </div>
        </div>
      </div>
      <div class="body-content">
        <div class="row content col-sm-12" [innerHTML]="parentOrGaurdianAddress"></div>
        <div class="row salutation col-sm-12">
          <p>Dear {{ parentOrGaurdianName }},</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            The youth named above has been referred to the Department of Juvenile Services by OFFC. P.O. GAUSE, for
            allegedly committing
            the offense(s) listed below:
          </p>
          <p>
            Complaint ID: {{ evalFields?.complaintid }} Complaint Date: {{ evalFields?.complaintreceiveddate | date:
            'MM-dd-yyyy' }}
          </p>
          <!-- <table style="margin-left: 100px; width: 60%">
            <thead>
              <tr style="border: 1px solid black; background-color: grey;">
                <th style="width: 70%">Alleged Offense</th>
                <th>Offense Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Assault 2nd Degree / Battery</td>
                <td>08-09-2017</td>
              </tr>
            </tbody>
          </table> -->
          <p><b>Offense Date:</b> {{evalFields?.allegedoffensedate | date: 'MM-dd-yyyy'}}<br> <b>Alleged Offense:</b>
            {{ offenseString
            }}</p>
          <p>An Intake Officer is required by law to review this matter to determine if court action is necessary.</p>
          <p>An appointment has been scheduled for you and the above named youth to meet with an Intake Officer on
            {{preintakeAppointmentDate
            | date : 'MM-dd-yyyy, h:mm a'}} at 120 West Fayette Street, Baltimore, Maryland 21201. If the youth fails
            to
            keep this appointment and does not contact the Intake Officer, a petition may be authorized for formal
            court
            action. The attached Intake Process form further explains the purpose of the intake function and the
            youth’s
            legal rights.</p>
          <p>Maryland Law requires notification of youth and parents referred to the Department of Juvenile Services
            that
            there is frequently a connection between juvenile delinquency and mental health or substance abuse issues.
            Further,
            the law requires that DJS advise youth and their parents of the availability of screening services for both
            mental
            health and substance abuse issues. There are a number of places in our community offering these services.
            Persons
            seeking information on how to access these services may call our office at the phone number listed above.
            Parents
            and Youth who are in contact with a mental health or substance abuse provider should let the Intake Officer
            know
            when an appointment is made.</p>
          <p style="font-weight: bold;">Please bring the youth’s most recent report card and educational records,
            including
            IEP, and any past or present mental health or substance abuse treatment information, including the next
            appointment
            date, with you to the Intake interview. </p>
          <br />
          <p>Additional Comments: {{comments}}</p>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            {{loggedInUser}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            DPFA
          </div>
        </div>
        <div class="body-content">
          <div class="row content col-sm-12">
            <p>Attachment: Intake Process Form</p>
          </div>
        </div>
      </div>
      <br />
      <br />
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="pdf-page sizeA4" data-page-name="Intake Appointment Letter with Delinquency Process Compliant" data-page-end="true" data-page-number="2">
    <div class="margin-wrapper">
      <br />
      <br />
      <div style="text-align: center">( Additional Notice )</div>
      <br />
      <br />
      <br />
      <div class="body-content">
        <div style="font-weight: bold; text-align: center">Intake Process for Delinquency Complaints</div>
        <p>The purpose of the Intake Interview is to determine whether the Juvenile Court has jurisdiction over the
          alleged
          offense and, if so, whether judicial action is in the best interest of the public or the youth or both.</p>
        <p>After determining jurisdiction, the Intake Officer must make one of the following decisions:</p>
        <ol>
          <li>Close the complaint at intake with a warning</li>
          <li>With the consent of the victim, the youth and the youth’s parent(s)\guardian, place the youth on Informal
            Supervision
            for up to 90 days, unless otherwise extended by the Court</li>
          <li>Authorize the filing of a petition and forward the complaint to the Office of the State’s Attorney</li>
        </ol>
        <p>If a petition is filed and the Court makes a finding of delinquency, the Court may,</p>
        <ol>
          <li>Place the youth on probation under conditions of supervision that the Court, or any agency designated by
            the
            Court, deems appropriate</li>
          <li>Commit the youth for placement in a public or private facility</li>
          <li>Commit the youth to a training school or similar institution</li>
        </ol>
        <p>The Intake Officer must make a decision within 25 days of the date that the complaint is received by the
          Department
          of Juvenile Services.</p>
        <p>At the Intake Interview, the juvenile charged has the right to have an attorney. If the juvenile wishes to
          have
          an attorney one must be engaged by the juvenile.</p>
        <p>At any point in the Intake Interview, the juvenile has the right to remain silent.</p>
        <p>If a petition is authorized and formal Court action is pursued, any information received by the Intake
          Officer
          during the intake process cannot be used against the youth at the hearing to determine whether the youth
          committed
          the delinquent act alleged.</p>
        <p>If the Intake Officer denies authorization to file a petition the victim, the arresting officer and the
          person
          or agency that filed the complaint or caused it to be filed has a right to appeal this decision to the Office
          of
          the State’s Attorney within 30 days of notification being sent of that decision</p>
        <p>If the complaint alleges the commission of a felony, or a misdemeanor handgun violation, the State’s
          Attorney
          can also reverse the Intake Officer’s decision to deny authorization to file a petition or to pursue an
          informal
          adjustment.
        </p>
        <p>If you do not understand any part of the information contained in this form, the Intake Officer will explain
          it
          to you at the time of the Intake Interview.</p>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div id="Preintake-Complaint-Notification-Letter" [ngClass]="isNotSelected('Preintake-Complaint-Notification-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Pre Intake Complaint Notification Letter" data-page-end="true"
    data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="header-info">
        <br />
        <div class="row">
          <div class="col-sm-offset-6 col-sm-6" style="width: auto !important;">
            Date: {{ currentDateString | date: 'MM-dd-yyyy' }}
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-6">
            Baltimore City Police Department
          </div>
          <div class="col-sm-6">
            Re:
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {{evalFields?.sourcefirstname}} {{evalFields?.sourcelastname}}
          </div>
          <div class="col-sm-6">
            Complaint(s): {{ evalFields?.complaintid }} Complaint Date: {{ evalFields?.complaintreceiveddate | date:
            'MM-dd-yyyy' }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {{evalFields?.sourceStreetno}} {{evalFields?.sourceStreet1}},
            <br>
            {{evalFields?.sourceStreet2}}

          </div>
        </div>

      </div>
      <br />
      <br />
      <br />
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{evalFields?.sourcefirstname}} {{evalFields?.sourcelastname}},</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            I am required to conduct an intake inquiry in regard to the complaint(s) noted above. I must decide whether
            to authorize
            the filing of a petition and forward the complaint(s) to the Office of the State’s Attorney for possible
            court
            action; or to handle the matter informally, without involving the court. This decision must be made within
            25
            days of the date the complaint was received.
          </p>
          <p>
            Complaint ID: {{ evalFields?.complaintid }} Complaint Date: {{ evalFields?.complaintreceiveddate | date:
            'MM-dd-yyyy' }}
          </p>
          <br>
          <p>
            <b>Offense Date:</b> {{evalFields?.allegedoffensedate | date: 'MM-dd-yyyy'}}<br> <b>Alleged Offense:</b> {{
            offenseString
            }}</p>
          <br>
          <p>Since you are named in the complaint(s) as Complainant / Police Officer, I am interested in any additional
            information
            that you have regarding this matter and other related circumstances. If you would like to discuss this
            matter
            with me, please call me at (410) 230-3333 before {{finalNotificationDate | date: 'MMM dd, yyyy'}}, so that
            I can consider your additional comments.</p>
          <p>If I do not hear from you, I will assume that you have no additional information and I will use the
            information
            contained in the complaint(s), and any other information available, in making my decision.</p>
          <br />
          <p>Additional Comments : {{preIntakeDisposition?.comment}} </p>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            {{loggedInUser}}
          </div>
        </div>
      </div>
      <br />
      <br />
      <br /> <br />

      <br />
      <br />
      <br />
      <br />
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div id="Preintake-Victim-Impact-Letter" [ngClass]="isNotSelected('Preintake-Victim-Impact-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Victim Impact Statement" data-page-end="false" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">

        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <br />
        <br />
      </div>
    </header>
    <div class="margin-wrapper">
      <div class="header-info">
        <div style="text-align: center; font-weight: bold;">Victim Impact Statement</div>
        <br />
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            Current Date: {{currentDateString | date: 'MM-dd-yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            Youth Name: {{youthName}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="font-weight: bold;">
            Youth ID: {{youthId}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            Complaint ID: {{ evalFields?.complaintid }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Victim’s Name: {{victimName}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            Address: <span [innerHtml]="victimAddress"></span>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-4">
            Phone #: {{victimPhoneNumber}}
          </div>
        </div>
      </div>
      <br />
      <div class="body-content">
        <ol type="I">
          <li>Property Loss
            <br />
            <ol type="A">
              <li>Damage suffered:
                <ol type="1">
                  <li>Value of property lost or destroyed
                    <div style="float: right;padding-right: 50px;">$________</div>
                  </li>
                  <li>Hospital, medical expense (s)
                    <div style="float: right;padding-right: 50px;">$________</div>
                  </li>
                  <li>Miscellaneous expense (s) (list type & amount)
                    <div style="float: right;padding-right: 50px;">$________</div>
                    <ol type="a">
                      <li>:
                        <div style="float: right;padding-right: 50px;">$________</div>
                      </li>
                      <li>:
                        <div style="float: right;padding-right: 50px;">$________</div>
                        <ul style="list-style-type: none;">
                          <li>Total Loss *
                            <div style="float: right;padding-right: 50px;">$________</div>
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>Reimbursement Received:
                <ol type="1">
                  <li>Property Insurance
                    <div style="float: right;padding-right: 50px;">$________</div>
                    <ul style="list-style-type: none;">
                      <li>Name of Company:</li>
                      <li>Claim Number:</li>
                      <li>Address:</li>
                    </ul>
                  </li>
                  <li>Hospital / medical insurance
                    <div style="float: right;padding-right: 50px;">$________</div>
                  </li>
                  <li>Other ( list source and amount )
                    <div style="float: right;padding-right: 50px;">$________</div>
                    <ol type="a">
                      <li>:
                        <div style="float: right;padding-right: 50px;">$________</div>
                      </li>
                      <li>:
                        <div style="float: right;padding-right: 50px;">$________</div>
                        <ul style="list-style-type: none;">
                          <li>Total Reimbursement **
                            <div style="float: right;padding-right: 50px;">$________</div>
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>Property Loss Not reimbursed ( A* minus B ** )</li>
            </ol>
          </li>
          <li>Physical Injury ( Type, Seriousness, and Permanence ):
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </li>
        </ol>
      </div>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="pdf-page sizeA4" data-page-name="Victim Impact Statement" data-page-end="true" data-page-number="2">
    <div class="margin-wrapper">
      <div class="body-content">
        <br>
        <br>
        <br>
        <ol type="I" start="3">
          <li>Psychological Impact:
            <br />
            <br />
            <br />
            <br />
            <br />
          </li>
          <li>Additional Information:
            <br />
            <br />
            <br />
            <br />
            <br />
          </li>
        </ol>
        <ul>
          <li>Information should be supported by a bill, canceled check, receipt, or written estimate. Information not
            received
            in this manner may not be considered for restitution</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
          <div class="row footer footer-border">
            <div class="col-sm-12 padding-top-20">
              <div class="col-sm-2 " style="text-align: right">
                <p>
                  <b>
                    <i class="fa fa-wheelchair footer-icon"></i>
                  </b>
                </p>
              </div>
              <div class="col-sm-10 align-center">
                <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

                <p> Treating Children &nbsp;
                  <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                  <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<div id="Post-Disposition-Service-Referral-Letter" [ngClass]="isNotSelected('Post-Disposition-Service-Referral-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Post Disposition Service Referral Letter" data-page-end="false"
    data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div style="text-align: center; font-weight: bold;">Service Referral Form</div>
      <div class="header-info">
        <br />
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            Current Date:08-14-2018
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            <span style="font-weight: bold;">Youth ID:</span> 2626992
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4">
            Youth Name: Douie D Duc
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-8">
            Staffing Required:<input type="checkbox">Yes <input type="checkbox"> No
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Referring Case Manager: Nikia C. Knox
          </div>
          <div class="col-sm-4">
            County: Baltimore City
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Supervision Level: Detention
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="body-content">
        <table style="width: 100%;border: 1px solid black;">
          <tr style="border: 1px solid black;">
            <th></th>
            <th>Score</th>
            <th>Date</th>
            <th>Revised Score</th>
            <th>Date</th>
            <th>Exception Request</th>
          </tr>
          <tr style="border: 1px solid black;">
            <td>Risk</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox">Yes</td>
          </tr>
          <tr style="border: 1px solid black;">
            <td>Needs</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="checkbox">No</td>
          </tr>
          <tr style="border: 1px solid black;">
            <td colspan="3"></td>
            <td colspan="3"></td>
          </tr>
        </table>
      </div>
      <br />
      <br />
      <ol>
        <li>IDENTIFYING INFORMATION :
          <div class="row">
            <div class="col-sm-4">Name: Douie D Duc</div>
          </div>
          <div class="row">
            <div class="col-sm-4">Race: Unknown </div>
            <div class="col-sm-4">Gender: Male</div>
            <div class="col-sm-4">DOB: 04-04-2002</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Relationship</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Mother:</div>
            <div class="col-sm-6">Father: Ducky Donald Duck</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Address:<br /><br /></div>
            <div class="col-sm-6">Address:<br /><br /></div>
          </div>
          <div class="row">
            <div class="col-sm-6">Home Phone: 301-777-3044</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Source of Income:</div>
            <div class="col-sm-6">Source of Income:</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Est. Amount:</div>
            <div class="col-sm-6">Est. Amount:</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Ins. Carrier/Policy:</div>
            <div class="col-sm-6">Ins. Carrier/Policy:</div>
          </div>
        </li>
        <li>EDUCATIONAL STATUS: (Be specific, e.g., grade, special education services)
          <div class="row">
            <div class="col-sm-4">Status:</div>
            <div class="col-sm-4">School Attended:</div>
          </div>
          <div class="row">
            <div class="col-sm-4">Current Grade: </div>
            <div class="col-sm-4">Regular or Special Ed? : </div>
          </div>
        </li>
      </ol>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="pdf-page sizeA4" data-page-name="Post Disposition Service Referral Letter" data-page-end="true"
    data-page-number="2">
    <div class="margin-wrapper">
      <div class="body-content">
        <br>
        <br>
        <br>
        <ol type="I" start="3">
          <li>LIST EVALUATIONS AND DSM AXIS I DIAGNOSIS: (for past 2 years)
            <div class="row">
              <div class="col-sm-4">Date</div>
              <div class="col-sm-4">Evaluation</div>
            </div>
            <br />
            <br />
            <br />
          </li>
          <li>PRIOR SERVICES (What has been tried?)
            <div class="row">
              <div class="col-sm-4">Date</div>
              <div class="col-sm-4">Program/Service</div>
              <div class="col-sm-4">Outcome</div>
            </div>
            <br><br> Rejections (required for out-of-state placements):
          </li>
          <li>GOALS AND FUTURE PLANS
            <ol type="A">
              <li>What immediate problems created reason for referral?</li>
              <li>Is youth religion a factor to be considered in placement choice? (religion factor)<br>
                <div class="row">
                  <div class="col-sm-4"><input type="checkbox"> Yes </div>
                  <div class="col-sm-4"><input type="checkbox"> No</div>
                  <div class="col-sm-4">If yes, please explain.</div>
                  <br><br>
                </div>
              </li>
              <li>What is the anticipated length of stay? months OR Program dependent</li>
              <li>What is your plan upon termination from placement? (Specify whereabouts – parents, other relative,
                independent
                living, other program, etc.)
              </li>
            </ol>
          </li>
          <li>REUNIFICATION/PERMANENCY PLANNING OBJECTIVES (Be specific)
            <div class="row">
              <div class="col-sm-4">Problem areas</div>
              <div class="col-sm-4">Goals</div>
              <div class="col-sm-4">Services</div>
              <br><br>
            </div>
          </li>
          <li>ADDITIONAL INFORMATION</li>
        </ol>
        <div class="row">
          <div class="col-sm-8">Case Manager:
            <div style="float: right;padding-right: 50px;">$________________________________</div>
          </div>
          <div class="col-sm-4">Date:
            <div style="float: right;padding-right: 50px;">$________________</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">Approved:
            <div style="float: right;padding-right: 50px;">$________________________________</div>
          </div>
          <div class="col-sm-4">Date:
            <div style="float: right;padding-right: 50px;">$________________</div>
          </div>
        </div>
        <div style="float: right;">(Dates must be same for title IV-E)</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
          <div class="row footer footer-border">
            <div class="col-sm-12 padding-top-20">
              <div class="col-sm-2 " style="text-align: right">
                <p>
                  <b>
                    <i class="fa fa-wheelchair footer-icon"></i>
                  </b>
                </p>
              </div>
              <div class="col-sm-10 align-center">
                <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

                <p> Treating Children &nbsp;
                  <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                  <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<div id="Post-Disposition-TSP-Certofimp-Letter" [ngClass]="isNotSelected('Post-Disposition-TSP-Certofimp-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Post Disposition TSP Certofimp Letter" data-page-end="false"
    data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <br><br>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="header-info">
        <br />
        <div class="row">
          <div class="col-sm-6">
            IN THE MATTER OF
          </div>
          <div class="col-sm-6">
            IN THE CIRCUIT COURT FOR
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6">
            RESPONDENT
          </div>
          <div class="col-sm-6">
            SITTING AS A JUVENILE COURT
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            NO.
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <div class="body-content">
        <div style="text-align: center; font-weight: bold;">CERTIFICATION OF IMPLEMENTATION - TREATMENT SERVICE PLAN
          FORM</div>
        <p>Pursuant to Courts and Judicial Proceedings Article, §3-8A-20.1, this is to certify that the Treatment
          Service
          Plan for , which was recommended by the at a disposition hearing and approved by the Court:</p>
        <br><br>
        <input type="checkbox">&nbsp;&nbsp;Was implemented as of
        ........................................................................<br>
        <div class="row" style="text-align: center;">(Date)</div>
        <input type="checkbox">&nbsp;&nbsp;Was not implemented as of
        ....................................................................
        <br>
        <div class="row" style="text-align: center;">(Date)</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-8">_______________________________________________________</div>
          <div class="col-sm-4" style="text-align: center;">___________________________</div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="text-align: center;">(Date)</div>
        </div>
        <div class="row">
          <div class="col-sm-8">_______________________________________________________</div>
          <div class="col-sm-4" style="text-align: center;">___________________________</div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4" style="text-align: center;">(Date)</div>
        </div>
      </div>
      <br />
      <br />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div id="Notice-of-Intake-Decision" [ngClass]="isNotSelected('Notice-of-Intake-Decision') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Notice of Intake Decision" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Notice of Intake Decision/Appeal Letter, Delinquency Cases
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-8">
            Youth Name:
            <span class="Victim-name">{{youthName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Youth #:
            <span class="victime-address"> {{youthId}}</span>
          </div>

        </div>
      </div>
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{victimName}}</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            I have reviewed the facts concerning the offense(s) referred to above and have decided not to authorize
            juvenile court action.
            This decision included consideration of the facts of the case and the juvenile’s involvement. Home, school,
            and
            community adjustment along with parental concern and control were examined. Past history with the police
            and
            court was also considered. The reasons for this decision are as follows:
          </p>

          <ul>
            <!--<li>{{reason}}</li>-->
            <li></li>
          </ul>
          <p>
            Additional Comments:
          </p>

          <p>
            <!--{{supComments}}-->
            If you disagree with the decision and desire to appeal, you must fill in the form provided below and send
            it to the State’s
            Attorney’s office so that it is received in that office by .
          </p>
          <p>
            If you have any questions or want to talk about this case with me before making a decision on whether to
            appeal, please call
            me at . However, if you do this, it will not extend the 30-day period within which you are allowed to
            appeal.
          </p>
          <br>
          <br>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Worker Name : {{general?.Author}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Intake Officer
          </div>
        </div>
      </div>
      <div class="row content col-sm-12">
        <p>
          If you disagree with the above decision of the intake officer, fill out the form below and send it to:
        </p>



      </div>
      <div class="row ">
        <div class="col-sm-offset-8 col-sm-4">
          State’s Attorney,
        </div>
      </div>
      <div class="row content col-sm-12">
        I have been informed by , the Juvenile Intake Officer, of the decision not to forward this case for action in
        the Juvenile
        Court. I disagree with this decision and ask that the State’s Attorney’s office review it and decide whether
        court
        proceeding should be carried out.
      </div>
      <div class="row ">
        <div class="col-sm-offset-8 col-sm-4 align-center">
          ______________________________ Signed
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>
</div>
<div id="Office-Visit-Appointment-Letter" [ngClass]="isNotSelected('Office-Visit-Appointment-Letter') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Office Visit Appointment Letter" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">

      <div class="header-info">
        <div class="row">
          <div class="col-sm-8">
          </div>

          <div class="col-sm-4">
            Date: {{ currentDateString | date: 'MM-dd-yyyy' }}<br>
            Youth Name: {{youthName}} <br>
            Youth ID: {{youthId}}<br>
            Petition ID: {{petitionID}}

          </div>

        </div>

        <div class="row content col-sm-12" [innerHTML]="parentOrGaurdianAddress"></div>


      </div>
      <div class="body-content">
        <div class="row salutation col-sm-12">
          <p>Dear {{parentOrGaurdianName}},</p>
        </div>
        <div class="row content col-sm-12">
          <p>
            As you are aware, your child is currently under the supervision of the Department of Juvenile Services.
          </p>
          <p>
            Additional Comments:You and your child are scheduled to see {{general?.Author}}, on
            {{preintakeAppointmentDate | date : 'MM-dd-yyyy, h:mm a'}}. You are to report
            to 120 West Fayette Street, Baltimore, Maryland 21201, .
          </p>

          <p>
            If you are not able to keep this appointment, please call me at immediately in order that another
            appointment can be arranged.
          </p>
          <br>
          <br>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Sincerely,
          </div>
        </div>
        <br>
        <br>

        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Worker Name : {{general?.Author}}
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
            Intake Officer
          </div>
        </div>
        <div class="row align-center">
          Initial Notice
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>

</div>
<div id="Youth-Orientation-Form" [ngClass]="isNotSelected('Youth-Orientation-Form') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Youth Orientation Form" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Orientation Form
        </div>
      </div>
      <div class="header-info">
        <div class="row">
          <div class="col-sm-8">
          </div>

          <div class="col-sm-4">
            Youth ID: {{youthId}}
          </div>

        </div>


      </div>
      <div class="body-content">
        <div class="row  col-sm-12">
          <b> I. Personal Data</b>
          <div class="row">
            <div class="col-md-6">
              Youth: {{youthName}} Office Hours: Monday – Friday from 8am – 5pm Case Manager’s Supervisor:
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  Case Manager: Office Address:

                </div>
                <div class="col-md-6"> Phone #</div>
              </div>
            </div>


          </div>

        </div>
        <div class="row  col-sm-12">
          <b> II. Conditions of Supervision/Placement (including Restitution): </b>
          <div class="row">
            <div class="col-md-12">
              <b>Conditions of Supervision/Placement (including Restitution): </b><br />
              <br />
              <p>Although the Court makes the final decision for release from Supervision/Placement, it is important
                that
                you understand that your compliance with the conditions of your Supervision/Placement will result in a
                recommendation
                for your termination from Supervision/Placement. Non-compliance may result in your being returned to
                Court
                for violation of these conditions and a Revocation Hearing. ________INITIALS</p>
            </div>
          </div>
        </div>
        <div class="row  col-sm-12">
          <b> III.Appointment Schedule: </b>
          <div class="row">
            <div class="col-md-12">
              <p>
                You will receive written and/or verbal notification of the date, time and location of your appointment
                with your Case Manager.
              </p>
            </div>
          </div>
        </div>
        <div class="row  col-sm-12">
          <b> IV. Contacting the Case Manager’s Supervisor </b>
          <div class="row">
            <div class="col-md-12">
              <p>
                You and/or your parents have the right to contact your Case Manager’s Supervisor should you have an
                inquiry regarding the
                status of your Supervision/Placement.
              </p>
            </div>
          </div>
        </div>
        <div class="row  col-sm-12">
          <b> V. Youth Grievance Procedure </b>
          <div class="row">
            <div class="col-md-12">
              <p>
                You and/or your parents have the right to initiate a Youth Grievance Procedure by filing a written
                complaint with the Case
                Manager.
              </p>
              <p>
                <i>I acknowledge that I have read and understand all of the above information. I have received a copy
                  of
                  this Orientation form and a copy of the Court Order. I have had the Youth Grievance Procedure
                  explained
                  to me.</i>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <br>
            <div> __________________________________________ </div>
            <div>Parent/Guardian : {{ parentOrGaurdianName }} </div>
                <br>
              <div> __________________________________________ </div>
              <div>Parent/Guardian :  </div>
              <br>
              <div> __________________________________________ </div>
              <div>Case Manager: {{ parentOrGaurdianName }} </div>
          </div>
          <div class="col-md-6">
              <br>
              <div> __________________________________________ </div>
            <div>Youth :{{youthName}}</div>
              <br>
              <div> __________________________________________ </div>
            <div> Date:{{ currentDateString | date: 'MM-dd-yyyy' }}</div>

          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer>
          <div class="row footer footer-border">
            <div class="col-sm-12 padding-top-20">
              <div class="col-sm-2 " style="text-align: right">
                <p>
                  <b>
                    <i class="fa fa-wheelchair footer-icon"></i>
                  </b>
                </p>
              </div>
              <div class="col-sm-10 align-center">
                <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

                <p> Treating Children &nbsp;
                  <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                  <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
              </div>
            </div>
          </div>

        </footer>
      </div>

    </div>

  </div>
</div>
<div id="Youth-Face-Sheet" [ngClass]="isNotSelected('Youth-Face-Sheet') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Youth Face Sheet" data-page-end="false" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <div class="col-sm-4 align-center">
          Boyd K. Rutherford
          <br> Lt. Governor

        </div>
        <div class="col-sm-4 align-center">
          Larry Hogan
          <br> Governor

        </div>
        <div class="col-sm-4 align-center">
          Sam Abed
          <br> Secretary

        </div>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="row title">
        <div class="align-center">
          Residential Services Youth Face Sheet
        </div>
        <div class="align-center">
          ,
        </div>
      </div>
      <div class="header-info">
      </div>
      <div class="body-content">
        <div class="row col-sm-12">
          <b>Youth Identification</b>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div>Name: {{youthName}}</div>
          </div>
          <div class="col-md-4">
            <b>Youth#: {{youthId}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">Race: {{youth?.raceDescription}}</div>
        </div>
        <div class="row">
          <div class="col-md-5">Juvenile’s physical description: Height: {{youth?.height}}</div>
          <div class="col-md-2">Weight: {{youth?.weight}}</div>
          <div class="col-md-2">Eyes:</div>
          <div class="col-md-2">Hair:</div>
        </div>
        <div class="row">
          <div class="col-md-12">Identifying marks or scars: {{youth?.physicalMark}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Sex: {{youth?.Gender}}</div>
          <div class="col-md-3">DOB: {{youth?.Dob | date:'MM/dd/yyyy' }}</div>
          <div class="col-md-3"><input type="checkbox"> DOB Verified</div>
          <div class="col-md-3">Age:{{youthAge}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><input type="checkbox"> US Citizen</div>
          <div class="col-md-3">Place of Birth:</div>
        </div>
        <div class="row">
          <div class="col-md-offset-6 col-md-6">Father’s Name: {{father?.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Youth Address:
          </div>
          <div class="col-md-3">
            {{youth?.Address}}
            <br />{{youth?.Address2}}
          </div>
          <div class="col-md-3">
            Father Address:
          </div>
          <div class="col-md-3">
            {{fatherObj?.Address}}
            <br />{{fatherObj?.Address2}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">County:
          </div>
          <div class="col-md-3">{{youth?.County}}
          </div>
          <div class="col-md-3">
            County:
          </div>
          <div class="col-md-3">{{fatherObj?.County}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Home Phone:
          </div>
          <div class="col-md-6">
            Home Phone:
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Work Phone:
          </div>
          <div class="col-md-6">
            Work Phone:
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-6 col-md-3">Guardian:
          </div>
          <div class="col-md-3">
            Lives With:
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            Mother’s Name: {{motherObj?.fullName}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            Mother’s Address:
          </div>
          <div class="col-md-3">
            {{motherObj?.Address}}
            <br />{{motherObj?.Address2}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-6 col-md-6">
            Living With Other:
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            County:
          </div>
          <div class="col-md-3">
            {{motherObj?.County}}
          </div>
          <div class="col-md-6">
            Relationship:
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Home Phone:
          </div>
          <div class="col-md-6">
            Home Phone:
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Work Phone:
          </div>
          <div class="col-md-6">
            Work Phone:
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Guardian:</div>
          <div class="col-md-3">Lives With:</div>
          <div class="col-md-6">
            Guardian:
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b> Special Concerns: </b>
            <table class="table table-bordered">
              <thead>
                <tr style="background-color: lightgrey;">
                  <th style="padding: 0; width: 20%">Type</th>
                  <th style="padding: 0; width: 15%">Start Date</th>
                  <th style="padding: 0; width: 20%">Worker ID</th>
                  <th style="padding: 0; width: 15%">End Date</th>
                  <th style="padding: 0; width: 10%">Status</th>
                  <th style="padding: 0">Note</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"><b>Education:</b></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Last School Attended: {{youthLastSchool?.educationname}}
          </div>
          <div class="col-md-6">
            County of Last School Attended: {{youthLastSchool?.educationname}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Date of Last School Attendance:
          </div>
          <div class="col-md-3">
            Start Date: {{youthLastSchool?.startdate | date : 'MM-dd-yyyy'}}
          </div>
          <div class="col-md-4">
            End Date: {{youthLastSchool?.enddate | date : 'MM-dd-yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Current Grade:
          </div>
          <div class="col-md-3">
            Special Education: {{youthLastSchool?.specialeducation}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Admission Information:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            Name of Judge, Master, or Intake Officer: {{courtDetails?.workername}}
          </div>
          <div class="col-md-4">
            Jurisdiction:
          </div>
          <div class="col-md-6">Date of Court Order: {{courtDetails?.courtorderdatetime | date : 'MM-dd-yyyy'}}<br />
            Court Date: {{courtDetails?.hearingdatetime | date : 'MM-dd-yyyy'}}</div>
          <div class="col-md-6">Duration of Court Order: {{courtDetails?.orderTime}}<br />
            <input type="checkbox"> Court Controlled
          </div>
          <div class="col-md-4">Status: </div>
          <div class="col-md-4"><input type="checkbox">Pre-adjudicatory</div>
          <div class="col-md-4"><input type="checkbox">Pre-dispositional </div>
          <div class="col-md-4"><input type="checkbox">Post-dispositional </div>
          <div class="col-md-12">Options:
            <input type="checkbox"> Interstate Compact
            <input type="checkbox"> Secure
            <input type="checkbox"> Eligible for CDP
            <input type="checkbox"> Evaluation
            <input type="checkbox"> Other Agency Involved
          </div>
          <div class="col-md-12">Admission Type:</div>
        </div>
      </div>

      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

  </div>
  <div class="pdf-page sizeA4" data-page-name="Youth Face Sheet" data-page-end="true" data-page-number="2">
    <div class="margin-wrapper">
      <div class="header-info">
      </div>
      <br><br>
      <div class="body-content">
        <div class="row">
          <div class="col-md-12">
            Legal Incidents
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-6">Case Manager: {{loggedInUser}}</div>
          <div class="col-md-6">Case Manager Phone: </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-6"><b>Medical Information:</b></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Medical Condition:
            <table class="table table-bordered">
              <thead>
                <tr style="background-color: lightgrey;">
                  <th style="padding: 0; width: 25%">Condition</th>
                  <th style="padding: 0; width: 75%">Note</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Insurance Company:
          </div>
          <div class="col-md-4">
            Policy Number:
          </div>
          <div class="col-md-4">
            Expiration Date:
          </div>
          <div class="row">
            <div class="col-md-12">
              Current Medication:
              <table class="table table-bordered">
                <thead>
                  <tr style="background-color: lightgrey;">
                    <th style="padding: 0; width: 30%">Current Medication </th>
                    <th style="padding: 0; width: 10%">Dosage</th>
                    <th style="padding: 0; width: 15%">Frequency</th>
                    <th style="padding: 0;">Date of Last Dose Taken</th>
                    <th style="padding: 0;">Effective Date</th>
                    <th style="padding: 0;">Expiration Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6"> <input type="checkbox">Social History Available</div>
          <div class="col-md-6">Date of Social History: </div>
        </div>

        <div class="col-md-3"> Income Eligibility Code:</div>
        <div class="col-md-3"> <input type="checkbox"> A</div>
        <div class="col-md-3"> <input type="checkbox"> B</div>
        <div class="col-md-3"> <input type="checkbox"> C</div>
        <div class="col-md-12">
          Comments:
        </div>
        <div class="col-md-5">Interviewer: {{appointment?.intakeWorkerId}}</div>
        <div class="col-md-4"> Admission Date: {{appointment?.appointmentDate | date: 'MM-dd-yyyy'}}</div>
        <div class="col-md-3"> Admission Time: {{appointment?.appointmentTime}}</div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>

      </footer>
    </div>

  </div>
</div>
<div id="Waiver" [ngClass]="isNotSelected('Waiver') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Waiver" data-page-end="true" data-page-number="1">
    <header class="header">
      <div class="pull-left">
        <img src="assets/images/pdf/header.png" class="header-img">
      </div>
      <div class="pull-right">
        <div class="header-address">
          Headquarters
          <br> 120 West Fayetee Street
          <br> Baltimore, Maryland 21201
        </div>
      </div>
      <div class="hr-border"></div>
      <div class="row signature">
        <br><br>
      </div>

    </header>
    <div class="margin-wrapper">
      <div class="header-info">
        <br />
        <div class="row" style="text-align: center;"><b>Waiver</b></div>
        <div class="row">
          <div class="col-sm-6">
            To:
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            From: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            Youth’s Name:
          </div>
          <div class="col-sm-4">
            Youth ID:
          </div>
          <div class="col-sm-4">
            DOB:
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Address:
          </div>
          <div class="col-sm-4">
            Phone #:
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">Living With: </div>
        <div class="row">Relationship to Youth:</div>
        <br>
        <div class="row"><i>Opening paragraph: Briefly state why youth is currently before court including current
            charges.</i></div>
      </div>
      <br />
      <br />
      <br />
      <div class="body-content">
        <div class="row">
          <p>Section I</p>
        </div>
        <div style="margin-left: 50px;">
          <div class="row"><u>Age</u></div>
          <div style="margin-left: 50px;">
            <div class="row">Date of birth verified? &nbsp; <input type="checkbox">&nbsp;Yes <input type="checkbox">&nbsp;No</div>
            <div class="row">How? Birth Certificate/School record.</div>
            <div class="row">Age at time of offense.</div>
            <div class="row">Age when reported prepared.</div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br><br>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div id="intake-process-form" [ngClass]="isNotSelected('intake-process-form') ? 'hide': 'show'">
  <div class="pdf-page sizeA4" data-page-name="Intake Process Form" data-page-end="true" data-page-number="1">
      <header class="header">
          <div class="pull-left">
              <img src="assets/images/pdf/header.png" class="header-img">
          </div>
          <div class="pull-right">
              <div class="header-address">
                  Headquarters
                  <br> 120 West Fayetee Street
                  <br> Baltimore, Maryland 21201
              </div>
          </div>
          <div class="hr-border"></div>
          <div class="row signature">
              <div class="col-sm-4 align-center">
                  Boyd K. Rutherford
                  <br> Lt. Governor

              </div>
              <div class="col-sm-4 align-center">
                  Larry Hogan
                  <br> Governor

              </div>
              <div class="col-sm-4 align-center">
                  Sam Abed
                  <br> Secretary

              </div>
          </div>

      </header>
    <div class="margin-wrapper">
        <br>
        <div style="font-weight: bold; text-align: center">PLEASE BRING THIS FORM WITH YOU TO THE INTAKE INTERVIEW</div>

        <div class="body-content">
            <br>
            <div style="font-weight: bold; text-align: center">Intake Process for Delinquency Complaints</div>
            <br>
            <p>The purpose of the Intake Interview is to determine whether the Juvenile Court has jurisdiction over the
                alleged
                offense and, if so, whether judicial action is in the best interest of the public or the youth or both.</p>
            <p>After determining jurisdiction, the Intake Officer must make one of the following decisions:</p>
            <ol>
                <li> Close the complaint at intake with a warning</li>
                <li> With the consent of the victim, the youth and the youth’s parent(s)\guardian, place the youth on Informal
                    Supervision
                    for up to 90 days, unless otherwise extended by the Court</li>
                <li> Authorize the filing of a petition and forward the complaint to the Office of the State’s Attorney</li>
            </ol>
            <p>If a petition is filed and the Court makes a finding of delinquency, the Court may,</p>
            <ol>
                <li> Place the youth on probation under conditions of supervision that the Court, or any agency designated by
                    the
                    Court, deems appropriate</li>
                <li>Commit the youth for placement in a public or private facility</li>
                <li>Commit the youth to a training school or similar institution</li>
            </ol>
            <p>The Intake Officer must make a decision within 25 days of the date that the complaint is received by the
                Department
                of Juvenile Services.</p>
            <p>At the Intake Interview, the juvenile charged has the right to have an attorney. If the juvenile wishes to
                have
                an attorney one must be engaged by the juvenile.</p>
            <p>At any point in the Intake Interview, the juvenile has the right to remain silent.</p>
            <p>If a petition is authorized and formal Court action is pursued, any information received by the Intake
                Officer
                during the intake process cannot be used against the youth at the hearing to determine whether the youth
                committed
                the delinquent act alleged.</p>
            <p>If the Intake Officer denies authorization to file a petition the victim, the arresting officer and the
                person
                or agency that filed the complaint or caused it to be filed has a right to appeal this decision to the Office
                of
                the State’s Attorney within 30 days of notification being sent of that decision</p>
            <p>If the complaint alleges the commission of a felony, or a misdemeanor handgun violation, the State’s
                Attorney
                can also reverse the Intake Officer’s decision to deny authorization to file a petition or to pursue an
                informal
                adjustment.
            </p>
            <p>If you do not understand any part of the information contained in this form, the Intake Officer will explain
                it
                to you at the time of the Intake Interview.</p>

            <br>
            <br>
            <br>
            <br>
        </div>
      <footer>
        <div class="row footer footer-border">
          <div class="col-sm-12 padding-top-20">
            <div class="col-sm-2 " style="text-align: right">
              <p>
                <b>
                  <i class="fa fa-wheelchair footer-icon"></i>
                </b>
              </p>
            </div>
            <div class="col-sm-10 align-center">
              <p>410-230-3333 / Toll Free: 1-888-639-7499 / TDD: 1-800-735-2258</p>

              <p> Treating Children &nbsp;
                <span class="red-bullet"></span> &nbsp; Supporting Families &nbsp;
                <span class="red-bullet"></span> &nbsp; Protecting Communities</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
