<div class="col-sm-12">
        <form onSubmit="return false;" [formGroup]="regulationLibraryFormGroup">
            <div class="row">
                <div class="col-sm-12 pad-btm-15">
                    <h3> Regulation Library </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-5 bot-mspace-15">
                            <label for=""> Search Criteria: </label>
                        </div>
                        <div class="col-sm-7 bot-mspace">
                            <input type="text" class="form-control" name="searchCriteria" placeholder="" formControlName="searchCriteria">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-3 bot-mspace-15">
                            <label for=""> Type: </label>
                        </div>
                        <div class="col-sm-7 bot-mspace ">
                            <div class="row">
                                <ng-select name="type" [searchable]="true" [clearable]="false" id="" formControlName="type">
                                    <ng-option value="">Select</ng-option>
                                    <ng-option value="Statute">Statute</ng-option>
                                    <ng-option selected="selected" value="Regulation">Regulation</ng-option>
                                    <ng-option value="Memo">Memo</ng-option>
                                    <ng-option value="Policy">Policy</ng-option>
                                    <ng-option value="PSEM">PSEM</ng-option>
                                    <ng-option value="EM">EM</ng-option>
                                    <ng-option value="Bulletin">Bulletin</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-sec">
                        <div class="fm-box ">
                            <label class="text-left">Status: </label>
                            <div class="fm-box-form ">
                                <label class="control control--radio  col-md-6">
                                    Active
                                    <input type="radio" name="status" value="1" checked="checked" formControlName="status">
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="control control--radio  col-md-6">
                                    Expired
                                    <input type="radio" name="status" value="0" formControlName="status">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <button type="submit" class="btn btn-pri" (click)="searchRegulationLibrary(1,regulationLibraryFormGroup.value)"> Search </button>
                </div>
            </div>
        </form>
</div>