<!-- <div *ngFor="let alert of alerts" class=" alert-container {{ cssClass(alert) }} alert-dismissable">
        <div class="alert-custom-message">
                {{alert.message}}
                <a class="close" (click)="removeAlert(alert)">&times;</a>
            </div> 
</div>
 -->
<div *ngFor="let alert of alerts" class="alert-animate {{ cssClass(alert) }} alert-dismissable">
        {{alert.message}}
        <a class="close" (click)="removeAlert(alert)">&times;</a>
</div>