<div class="c-block">
    <div class="col-sm-5 brd-right">
        <div class="matAccordion m-b-20">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="schoolxpandStatus">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="schoolAcdn">School</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="schoolForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="School" formControlName="educationname"
                                        [matAutocomplete]="auto" (input)="loadSchoolDropdown()">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let item of schoolSearchList$ | async" (click)="sourceSelected(item)"
                                            value="{{item.schoolname}}">
                                            {{item.schoolname}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="School Type" formControlName="educationtypekey" required>
                                        <mat-option *ngFor="let schooltype of schoolTypeDropdownItems$ | async" value="{{schooltype.value}}"
                                            (click)="schoolTypeDescription(schooltype)">{{schooltype.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="State" (change)="loadCounty($event.value)" formControlName="statecode"
                                        required>
                                        <mat-option *ngFor="let schooltype of stateDropdownItems$ | async" value="{{schooltype.value}}">{{schooltype.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="County" formControlName="countyid" required>
                                        <mat-option *ngFor="let item of countyDropDownItems" [value]="item.countyid">{{item.countyname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="address" placeholder="Address Line">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input formControlName="zip" mask="00000-9999" clearIfNotMatch="true" matInput
                                        placeholder="Zip Code">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" [matDatepicker]="startdate" (click)="startdate.open()"
                                        formControlName="startdate" placeholder="Start Date" required>
                                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                    <mat-datepicker #startdate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" [matDatepicker]="enddate" (click)="enddate.open()"
                                        formControlName="enddate" placeholder="End Date">
                                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                    <mat-datepicker #enddate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Last Grade" formControlName="lastgradetypekey" required>
                                        <mat-option *ngFor="let lastgrade of lastGradeDropdownItems$ | async" value="{{lastgrade.value}}">{{lastgrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Current Grade" formControlName="currentgradetypekey"
                                        required>
                                        <mat-option *ngFor="let currentgrade of lastGradeDropdownItems$ | async" value="{{currentgrade.value}}">{{currentgrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row m-b-20">
                            <div class="col-sm-12">
                                <p>Special Education? </p>
                                <mat-radio-group formControlName="specialeducation" (change)="specialEducation($event.value)">
                                    <mat-radio-button value=true>Yes</mat-radio-button>
                                    <mat-radio-button value=false>No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row m-b-20" *ngIf="isSpecialEducation">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Special Education" formControlName="specialeducationtypekey">
                                        <mat-option *ngFor="let schooltype of specialEducationDropdownItems$ | async"
                                            value="{{schooltype.value}}">{{schooltype.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12" *ngIf="schoolreportMode !== 'view'">
                                <button class="btn-pri pull-right text-center" (click)="addSchool(schoolForm.getRawValue())"
                                    [disabled]="schoolForm.pristine || schoolForm.invalid">{{schoolEditInd}}</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [(expanded)]="accompxpandStatus">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="accomplishmentsAcdn"> Accomplishments </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="accomplishmentForm">
                        <div class="row">
                            <div class="col-sm-7">
                                <mat-form-field>
                                    <mat-select placeholder="Highest Grade Completed" formControlName="highestgradetypekey">
                                        <mat-option *ngFor="let highGrade of currentGradeDropdownItems$ | async" value="{{highGrade.value}}"
                                            (click)="highetGradeDescription(highGrade)">{{highGrade.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" [matDatepicker]="accdate" placeholder="Date"
                                        (click)="accdate.open()" formControlName="accomplishmentdate">
                                    <mat-datepicker-toggle matSuffix [for]="accdate"></mat-datepicker-toggle>
                                    <mat-datepicker #accdate></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <p class="required">Record Received?</p>
                                <mat-radio-group formControlName="isrecordreceiveds">
                                    <mat-radio-button value=true (click)="setManditory(false,'receiveddate', 'isManditory')">Yes</mat-radio-button>
                                    <mat-radio-button value=false (click)="setManditory(true,'receiveddate', 'notManditory')">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" formControlName="receiveddate" [matDatepicker]="receiveddate"
                                        (click)="receiveddate.open()" placeholder="Received Date">
                                    <mat-datepicker-toggle matSuffix [for]="receiveddate"></mat-datepicker-toggle>
                                    <mat-datepicker #receiveddate></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12" *ngIf="accompreportMode !== 'view'">
                                <button class="btn-pri pull-right text-center" (click)="addUpdateAccomplishment(accomplishmentForm.getRawValue())"
                                    [disabled]="accomplishmentForm.invalid || accomplishmentForm.pristine">{{accomplishEditInd}}</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [(expanded)]="testingxpandStatus">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="testingAcdn">Testing Info</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="testingForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select placeholder="Test Level" formControlName="testinginfotype" required
                                        (change)="checkTestMode()">
                                        <mat-option *ngFor="let item of testLevels" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <ng-container *ngIf="isBasicMode">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput [max]="maxDate" [matDatepicker]="testdate1" (click)="testdate1.open()"
                                            placeholder="Reading Test Date" formControlName="readingtestdate">
                                        <mat-datepicker-toggle matSuffix [for]="testdate1"></mat-datepicker-toggle>
                                        <mat-datepicker #testdate1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Reading Test Level" numberOnly
                                            formControlName="readinglevel">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput [max]="maxDate" [matDatepicker]="testdate2" (click)="testdate2.open()"
                                            placeholder="Maths Test Date" formControlName="mathtestdate">
                                        <mat-datepicker-toggle matSuffix [for]="testdate2"></mat-datepicker-toggle>
                                        <mat-datepicker #testdate2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Maths Test Level" numberOnly
                                            formControlName="mathlevel">
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isBasicMode">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <mat-select placeholder="Test Name" formControlName="testingtypekey" >
                                            <mat-option *ngFor="let testType of testingTypeDropdownItems$ | async"
                                                value="{{testType.value}}" (click)="selectTestingDescription(testType)">{{testType.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Provider / Location" formControlName="testingprovider">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Name of Tester" formControlName="nameoftester">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput [max]="maxDate" [matDatepicker]="testdate1" (click)="testdate1.open()"
                                            placeholder="Pre Test Date" formControlName="pretestdate">
                                        <mat-datepicker-toggle matSuffix [for]="testdate1"></mat-datepicker-toggle>
                                        <mat-datepicker #testdate1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Pre Test Score" numberOnly
                                            formControlName="pretestscore">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput [max]="maxDate" [matDatepicker]="testdate2" (click)="testdate2.open()"
                                            placeholder="Post Test Date" formControlName="posttestdate">
                                        <mat-datepicker-toggle matSuffix [for]="testdate2"></mat-datepicker-toggle>
                                        <mat-datepicker #testdate2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Post Test Score" numberOnly
                                            formControlName="posttestscore">
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>





                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12" *ngIf="testingreportMode !== 'view'">
                                <button class="btn-pri pull-right text-center" (click)="addUpdateTesting(testingForm.getRawValue())"
                                    [disabled]="testingForm.invalid || testingForm.pristine">{{testingEditInd}}</button>
                            </div>
                        </div>

                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel [(expanded)]="vocationxpandStatus">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="voctionAcdn">Vocation</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="vocationForm">
                        <div class="row">
                            <div class="col-sm-12 m-t-30">
                                <label class="txt-normal">Vocation Test? </label>
                                <mat-radio-group formControlName="isvocationaltests">
                                    <mat-radio-button value=true>Yes</mat-radio-button>
                                    <mat-radio-button value=false>No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput placeholder="Vocation Interests" formControlName="vocationinterest">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput placeholder="Vocation Aptitude" formControlName="vocationaptitude">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput placeholder="Certificate No. / Name" formControlName="certificatename">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6 cusmm-fileupload" *ngIf="_personDetailService.isEditable">
                                <label class="btn-bs-file btn btn-pri">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }">
                                    UPLOAD
                                </label>
                            </div>
                        </div>


                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12" *ngIf="vocationreportMode !== 'view'">
                                <button class="btn-pri pull-right text-center" (click)="addUpdateVocation(vocationForm.getRawValue())"
                                    [disabled]="vocationForm.invalid || vocationForm.pristine">{{vocationEditInd}}</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="absentAcdn">Attendance and Performance</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="schoolForm">
                        <div class="row m-b-20">
                            <div class="col-sm-12">
                                <h5>Absence</h5>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput [max]="maxDate" [matDatepicker]="pickerm" (click)="pickerm.open()"
                                        formControlName="absentdate" placeholder="Number of Days">
                                    <!-- <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerm></mat-datepicker> -->
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-radio-group formControlName="reciveVeriExc">
                                    <mat-radio-button value="received">Received</mat-radio-button>
                                    <mat-radio-button value="verified">Verified</mat-radio-button>
                                    <mat-radio-button value="execused">Excused</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12">
                                <button class="btn-pri pull-right text-center" [disabled]="schoolForm.pristine || schoolForm.invalid">ADD</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span id="extracclrAcdn">Extracurricular / Activities / Services</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="contentAccordion" [formGroup]="schoolForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <textarea matInput placeholder="Extracurricular/Activities/Services"
                                        formControlName="extracurricular"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="_personDetailService.isEditable">
                            <div class="col-sm-12">
                                <button class="btn-pri pull-right text-center" [disabled]="schoolForm.pristine || schoolForm.invalid">ADD</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
    <div class="col-sm-7">
        <div class="tabledata" *ngIf=" schoolList$ | async as schoolList">
            <div class="row">
                <div class="col-sm-12">
                    <h4>SCHOOL</h4>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped action">
                            <thead>
                                <tr>
                                    <th>School</th>
                                    <th>Type</th>
                                    <th>Start Date/End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schoolrow of schoolList ; let i=index">
                                    <td>{{schoolrow.educationname}}</td>
                                    <td>{{schoolrow.educationtype.typedescription}}</td>
                                    <td>{{schoolrow.startdate | date:'MM-dd-yyyy'}}/{{schoolrow.enddate |
                                        date:'MM-dd-yyyy'}}</td>
                                    <td>
                                        <a (click)="viewSchool(schoolrow)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="editSchool(schoolrow, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="showDeletePopSchool(schoolrow.personeducationid)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="schoolList.length ===0">
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabledata" *ngIf="accomplishmentList$ | async as accomplishmentList">
            <div class="row">
                <div class="col-sm-12">
                    <h4>ACCOMPLISHMENTS</h4>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped action">
                            <thead>
                                <tr>
                                    <th>Highest Grade</th>
                                    <th>Date</th>
                                    <th>Record Received</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let accomrow of accomplishmentList; let i=index">
                                    <td>{{accomrow.highestgrade.typedescription}}</td>
                                    <td>{{accomrow.accomplishmentdate | date:'MM-dd-yyyy'}}</td>
                                    <td>{{accomrow.isrecordreceived ? 'Yes': 'No'}}</td>
                                    <td>
                                        <a (click)="viewAccomplishment(accomrow)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="editAccomplishment(accomrow, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="showDeletePopAccomplishments(accomrow.personaccomplishmentid)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="accomplishmentList.length ===0">
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabledata" *ngIf="basicTestingList$ | async as basicTestingList">

            <div class="row">
                <div class="col-sm-12">
                    <h4>BASIC TESTING INFO</h4>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped action">
                            <thead>
                                <tr>
                                    <th>Reading Test Date</th>
                                    <th>Reading Test Level</th>
                                    <th>Maths Test Date</th>
                                    <th>Maths Test Level</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let testrow of basicTestingList; let i=index">
                                    <td>{{testrow.readingtestdate | date:'MM-dd-yyyy'}}</td>
                                    <td>{{testrow.readinglevel}}</td>
                                    <td>{{testrow.mathtestdate | date:'MM-dd-yyyy'}}</td>
                                    <td>{{testrow.mathlevel}}</td>
                                    <td>
                                        <a (click)="viewTesting(testrow)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="editTesting(testrow, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="showDeletePopTesting(testrow.personeducationtestingid)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="basicTestingList.length ===0">
                                    <td colspan="5">No Records Found</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabledata" *ngIf="advancedTestingList$ | async as advancedTestingList">
            <div class="row">
                <div class="col-sm-12">
                    <h4>ADVANCED TESTING INFO</h4>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped action">
                            <thead>
                                <tr>
                                    <th>Test Name</th>
                                    <th>Pre Test Score</th>
                                    <th>Post Test Score</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let testrow of advancedTestingList; let i=index">
                                    <td>{{testrow.testingtype.typedescription}}</td>
                                    <td>{{testrow.pretestscore}}</td>
                                    <td>{{testrow.posttestscore}}</td>
                                    <td>
                                        <a (click)="viewTesting(testrow)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="editTesting(testrow, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="showDeletePopTesting(testrow.personeducationtestingid)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="advancedTestingList.length ===0">
                                    <td colspan="4">No Records Found</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabledata" *ngIf="vocationList$ | async as vocationList">
            <div class="row">
                <div class="col-sm-12">
                    <h4>VOCATION</h4>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped action">
                            <thead>
                                <tr>
                                    <th>Vocation Test</th>
                                    <th>Vocation Aptitude</th>
                                    <th>Certificate No./ Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vocations of vocationList ; let i=index">
                                    <td>{{vocations.isvocationaltest?'Yes':'No'}}</td>
                                    <td>{{vocations.vocationaptitude}}</td>
                                    <td>
                                        <a [href]="vocations.certificatepath" target="_blank">
                                            <p>{{vocations.certificatename}}</p>
                                        </a>
                                    </td>
                                    <td>
                                        <a (click)="viewVocation(vocations)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="editVocation(vocations, i)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="_personDetailService.isEditable" (click)="showDeletePopVocation(vocations.personeducationvocationid)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="vocationList.length===0">
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="modal fade custom-modal" id="delete-schoolInfo-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteSchool()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-accomplishmentInfo-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteAccomplishment()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-testingInfo-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteTesting()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="delete-vocation-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteVocation()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>