.nav-tabs > li.active > a {
    border-bottom: 4px solid #00A2FD;
}

.head-panel {
  background: #AEBED6;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.panel-heading .mat-radio-group {
  padding: 15px 0;
}

p.designation {
  border: 1px solid #00A2FD;
  padding: 4px 7px;
  /* display: inline-block; */
  border-radius: 15px;
  line-height: 11px;
  max-width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 5px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #676767 !important;
  font-size: 11px;
}

.head-panel h4 {
  color: #3E4961;
}

.case-plan-info {
  margin: 15px 0;
}

.case-plan-info label,
.case-plan-info span,
.cp2-info label,
.cp2-info span {
  color: #3E4961;
}

.card-goals .tab-horizontal ul.nav-pills li {
  margin-bottom: 0px !important;
}

.highlighted-person-card {
  background-color: lightblue;
}
