<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
       <div class="row">
          <div class="col-sm-12">
             <h3>Information Meetings</h3>
             <h4>Total Number of Hours Attended = {{duration}}</h4>
          </div>
          <div class="col-sm-12 text-right icon">
             <button  type="submit" class="btn-pri" data-target="#assign-orientation"
                data-toggle="modal">Assign Meeting
             </button>
          </div>
       </div>
       <br>
       <div class="row">
          <div class="col-md-12 table-responsive">
              <table class="table customTable firsttable">
                  <thead>
                    <tr>
                      <th>Training number</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Description</th>
                      <th>Session Type </th>
                      <th>Intent to Attend?</th>
                      <th>Did Candidate Attend</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let session of assignedTrainingList">
                      <td>{{session.training_number}}</td>
                      <td>{{session.start_datetime| date:'MM/dd/yyyy'}}</td>
                      <td>{{session.start_datetime| date: 'HH:mm'}}</td>
                      <td>{{session.end_datetime| date: 'HH:mm'}}</td>
                      <td>{{session.training_topic}}</td>
                      <td>{{session.session_type}}</td>
                      <td> 
                              <input type="checkbox"  (change)="patchIntentToAttend(session)" [checked]="session.is_intent_to_attend? true: false">
                              {{session.is_intent_to_attend? 'Yes, may attend': 'No, may not attend'}}
                     </td>
                     <td>
                        <div *ngIf="session.training_status=='Scheduled'">
                           <!-- <p>N/A</p> 
                        </div>
                        <div *ngIf="session.training_status=='Completed'"> -->
                           {{session.is_attended? 'Yes, attended': 'No, did not attend'}}
                        </div>
                     </td>
                    </tr>
                  </tbody>
                </table>
          </div>
       </div>
    </div>
 </div>
 <div class="modal fade in" id="assign-orientation" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
       <div class="modal-content ">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">X</span>
             </button>
             <h4 class="modal-title">Assign Meeting Sessions</h4>
          </div>
          <div class="modal-body ">
             <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
             <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                   <mat-checkbox (change)="$event ? masterToggle() : null"
                   [checked]="selection.hasValue() && isAllSelected()"
                   [indeterminate]="selection.hasValue() && !isAllSelected()">
                   </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                   <mat-checkbox (click)="$event.stopPropagation()"
                   (change)="$event ? selection.toggle(row) : null"
                   [checked]="selection.isSelected(row)">
                   </mat-checkbox>
                </mat-cell>
             </ng-container>
             <!-- Position Column -->
             <ng-container matColumnDef="trainingNo">
                <mat-header-cell *matHeaderCellDef>Training number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.training_number}} </mat-cell>
             </ng-container>
             <!-- Name Column -->
             <ng-container matColumnDef="orientationDate">
                <mat-header-cell *matHeaderCellDef>Date of Meeting</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.start_datetime| date:'MM/dd/yyyy'}} </mat-cell>
             </ng-container>
             <ng-container matColumnDef="OrientationStartTime">
                <mat-header-cell *matHeaderCellDef>  Start Time </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.start_datetime | date:'HH:mm'}} </mat-cell>
             </ng-container>
             <ng-container matColumnDef="orientationEndTime">
                <mat-header-cell *matHeaderCellDef>End Time</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.end_datetime | date:'HH:mm'}} </mat-cell>
             </ng-container>
             <ng-container matColumnDef="sessionType">
                  <mat-header-cell *matHeaderCellDef>Session Type</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.session_type}} </mat-cell>
               </ng-container>
             <!-- Weight Column -->
             <ng-container matColumnDef="orientationNarrative">
                <mat-header-cell *matHeaderCellDef> Topic Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.training_topic}} </mat-cell>
             </ng-container>
             <!-- Symbol Column -->
          
             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
             </mat-row>
             </mat-table>
             <div class="row">
                <div class="col-md-12 m-t-10">
                   <div class="pull-right">
                      <button class="btn-pri"  (click)="assignOrientationList()">Assign Selected Meetings</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>