<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-t-30">
            <div class="h4-title">Receipts Fast Entry</div>
            <div class="row m-t-20">
              <div class="col-md-10" [formGroup]="receiptForm">
                  <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Select Account Type" formControlName="account_type_cd" (change)="onAccountChange($event.value)" required>
                              <mat-option>Select</mat-option>
                              <mat-option *ngFor="let account of accountType$ | async" [value]="account.value">{{account.text}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Select Receipt Type" formControlName="transaction_source_cd" required>
                              <mat-option>Select</mat-option>
                              <mat-option *ngFor="let receipt of receiptType$ | async" [value]="receipt.picklist_value_cd">{{receipt.value_tx}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn-pri pull-right m-t-15" (click)="getReceiptEntryList()">Show Transaction</button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row m-t-20">
              <div class="col-md-12">
                  <div class="pull-right m-l-20">
                      <button [disabled]='!enableBulk' type="button" class="btn-pri pull-right" (click)="saveBulkReceipt()">{{saveBulkTxt}}</button>
                      <!-- <button type="button" class="btn-pri pull-right">Post</button> -->
                  </div>
                  <div class="search-container pull-right">
                     <div class="inner-addon right-addon pull-right m-l-20">
                        <i class="glyphicon glyphicon-search" (click)="searchReceiptEntry('clientId')"></i>
                        <input (keyup.enter)="searchReceiptEntry('clientId')" type="text" [(ngModel)]="clientId"
                           class="form-control" placeholder="Search by Client ID" />
                     </div>
                     <div class="inner-addon right-addon pull-right search-box">
                        <i class="glyphicon glyphicon-search" (click)="searchReceiptEntry('clientName')"></i>
                        <input (keyup.enter)="searchReceiptEntry('clientName')" type="text" [(ngModel)]="clientName"
                           class="form-control" placeholder="Search by Client Name" />
                     </div>
                  </div>
                  <ul class="nav nav-tabs custom-receipttab" role="tablist">
                      <li class="active">
                          <a href="#transcationDetail" aria-controls="home" role="tab" data-toggle="tab" (click)="getTransaction('transactionTab')">Transactions</a>
                      </li>
              
                      <li>
                          <a href="#unpostedTransaction" aria-controls="details" role="tab" data-toggle="tab" (click)="getUnpostReceipt('unPostTab')">Unposted Transactions</a>
                      </li>
                  </ul>
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="transcationDetail">
                  <div class="table-responsive table-theme m-t-20">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><mat-checkbox [disabled]="!disTransBulk" [(ngModel)]="selectTransBulk" class="display-bl" (change)="getBulk($event.checked)"></mat-checkbox></th>
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th>SSN
                                <span>&nbsp;
                                    <a (click)="toggleSsn()">
                                        <i class="fa fa-lg {{ssnEye}}"></i>
                                    </a>
                                </span>
                            </th>
                            <th>Account Number</th>
                            <th>Amount</th>
                            <th>Received</th>
                            <th>Post</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="receiptEntryList">
                          <tr *ngFor="let receipt of receiptEntryList; let i=index">
                            <td>
                                <input *ngIf="!receipt.post_sw" type="checkbox" [(ngModel)]="receipt.transChecked" (change)="transChanged($event.target.checked, receipt)" class="trans" id="trans-id-{{i}}">
                            </td>
                            <td>{{receipt.client_id}}</td>
                            <td>{{receipt.client_name}}</td>
                            <td>{{receipt.ssn | mask:showSsnMask}}</td>
                            <td>{{receipt.account_no_tx}}</td>
                            <td>{{receipt.transaction_amount_no | cjamsCurrency}}</td>
                            <td>{{!receipt.post_sw ? 'No' : 'Yes'}}</td>
                            <td *ngIf="(!receipt.post_sw || receipt.post_sw==='N')">No</td>
                            <td *ngIf="receipt.post_sw==='Y'">Yes</td>
                            <td class="btn-icon">
                                <button *ngIf="!receipt.post_sw" type="button" data-toggle="modal" data-target="#fast-entry-details" (click)="viewTransaction(receipt)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button *ngIf="receipt.post_sw" type="button" data-toggle="modal" data-target="#fast-entry-details" (click)="viewTransaction(receipt)" matTooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center" *ngIf="totalcount > 10">
                            <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                            </pagination>
                        </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="unpostedTransaction">
                <div class="table-responsive table-theme m-t-20">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th><mat-checkbox [disabled]="!disPostBulk" [(ngModel)]="selectPostBulk" class="display-bl" (change)="getBulk($event.checked)"></mat-checkbox></th>
                                <th>Client ID</th>
                                <th>Client Name</th>
                                <th>SSN
                                    <span>&nbsp;
                                        <a (click)="toggleSsn()">
                                            <i class="fa fa-lg {{ssnEye}}"></i>
                                        </a>
                                    </span>
                                </th>
                                <th>Account Number</th>
                                <th>Amount</th>
                                <th>Received</th>
                                <th>Post</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="unPostReceiptList">
                              <tr *ngFor="let receipt of unPostReceiptList; let i=index">
                                <td>
                                    <input type="checkbox" class="unpost" [(ngModel)]="receipt.postChecked" (change)="postChanged($event.target.checked, receipt)" id="unpost-id-{{i}}">
                                </td>
                                <td>{{receipt.client_id}}</td>
                                <td>{{receipt.client_name}}</td>
                                <td>{{receipt.ssn | mask:showSsnMask}}</td>
                                <td>{{receipt.account_no_tx}}</td>
                                <td>{{receipt.transaction_amount_no | cjamsCurrency}}</td>
                                <td>{{!receipt.post_sw ? 'No' : 'Yes'}}</td>
                                <td *ngIf="(!receipt.post_sw || receipt.post_sw==='N')">No</td>
                                <td *ngIf="receipt.post_sw==='Y'">Yes</td>
                                <td class="btn-icon">
                                    <button type="button" data-toggle="modal" data-target="#fast-entry-details" (click)="editUnpostReceipt(receipt)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="text-center" *ngIf="totalpagecount > 10">
                                <pagination [totalItems]="totalpagecount" [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageNumberChanged($event.page)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                           </div>
                      </div>
                      </div>
                      </div>

              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="fast-entry-details">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
        <div class="modal-content" [formGroup] ="viewReceiptEntry">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Receipts Fast Entry Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                      <mat-form-field>
                          <input matInput placeholder="Account Type" formControlName="account_type">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Entered By" formControlName="entered_by">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Client ID" formControlName="client_id">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="SSN" formControlName="ssno">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput [matDatepicker]="picker1" placeholder="Benefit Start Date" formControlName="benefit_start_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      <!-- <mat-form-field>
                          <span matPrefix>$</span>
                          <input matInput placeholder="Amount" formControlName="transaction_amount_no" (keyup)="checkDec($event)" >
                      </mat-form-field> -->
                      <currency-input min="0" matInput placeholder="Amount" formControlName="transaction_amount_no" (keyup)="checkDec($event)" ></currency-input>
                      <mat-form-field>
                          <textarea matInput placeholder="Notes" formControlName="notes_tx"></textarea>
                      </mat-form-field>            
                  </div>
                  <div class="col-md-6">
                      <mat-form-field>
                          <input matInput placeholder="Transaction Source" formControlName="transaction_source">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput [matDatepicker]="picker3" placeholder="Entered Date" formControlName="entered_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Client Name" formControlName="client_name">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Account Number" formControlName="account_no_tx">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput [matDatepicker]="picker2" placeholder="Benefit End Date" formControlName="benefit_end_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <div class="m-t-25">
                        <mat-checkbox class="display-bl" formControlName="post_sw" (change)="receivedReceipt($event.checked)">Received</mat-checkbox>
                        <!-- <mat-checkbox class="display-bl m-t-25">Post?</mat-checkbox> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                    <button *ngIf="editReceipt" type="button" class="sec-btn" data-dismiss="modal" (click)="closeReceipt()">Close</button>
                <button *ngIf="editReceipt" type="button" [disabled]="!disableSave" class="btn-pri" (click)="saveReceipt()">{{savBtn}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="popup">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeItem()" data-dismiss="modal">×</button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Content To Display</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-pri pull-right">Ok</button>
            </div>
        </div>
    </div>
</div>