<div class="table-responsive table-theme mt-20">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Selected Child Name</th>
        <th>D.O.B</th>
        <th>Cjams ID</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let child of selectedChildren">
        <td>{{child.firstname}} {{child.lastname}}</td>
        <td>{{child.dob | date : 'MM/dd/yyyy'}} </td>
        <td>{{child.cjamspid}}</td>
        <td>{{child.gender}}</td>
      </tr>
    </tbody>
  </table>