<div class="modal fade in" id="reassign-equipment" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Allegation Configuration - Modal content-->
        <div class="modal-content customize-modal modal-height">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/find/staff-n-team']">×</button>
                <h4 class="modal-title">Select A Position To Assign The Equipment To</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team_manage  teams-pos">
                            <tree-root [nodes]="teamTreeview$ | async" (activate)="teamTreeSubComp($event)"></tree-root>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Position/Load Number</th>
                                        <th>Title</th>
                                        <th>User</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="teamMemberDetailsList$ | async; let teamMemberDetailsList">
                                    <tr *ngFor="let member of teamMemberDetailsList" (click)="selectUserProfile(member)">
                                        <td>{{member.positioncode}}</td>
                                        <td>{{member.roletype}}</td>
                                        <td>{{member.displayname}}</td>
                                        <td>{{member.workstatustype}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="text-center">
                                <pagination [totalItems]="totalteamMemberListCount$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" class="btn-pri" (click)="loadUserSelection()" >Load User</button>
                            <button type="button" class="btn-pri" (click)="reassignUser()" >OK</button>
                            <button type="button" class="btn-pri" (click)="cancelUserSelection()" data-dismiss="modal" [routerLink]="['/pages/find/staff-n-team']">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
