<div class="row">
    <div class="col-sm-12 text-right btns-top mar-vspace">
        <button class="btn-pri" data-target="#add-unmet" data-toggle="modal" type="submit">
            <i aria-hidden="true" class="fa fa-plus"></i>
            Add New
        </button>
    </div>
</div>
<div class="table-responsive table-theme"  *ngIf="(unmetListData$ | async); let unmetList">
    
            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Need</th>
                            <th>Activity Name</th>
                            <th>Service</th>
                            <th>Service Sub Type</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="unmetList.length > 0; else noData">
                    <tbody *ngFor="let list of unmetList; let i = index">
                        <tr class="pointer">
                            <td>{{ list?.need }}</td>
                            <td>{{ list?.activity }}</td>
                            <td>{{ list?.servicetypedescription }}</td>
                            <td>{{ list?.activitysubtypedescription }}</td>
                            <td>{{ list?.reasondescription }}</td>
                            <td class="icon">
                                <button class="add-service no-bg" type="button" data-target="#add-unmet" data-toggle="modal" matTooltip="Edit Activity" (click)="editUnmet(list)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button class="add-service no-bg" type="button" (click)="deleteUnmet(list)" matTooltip="Delete"><i class="fa fa-trash" aria-hidden="true" ></i></button>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noData><tbody>No Items!</tbody></ng-template>
                </table>
    
</div>

<div class="modal fade" id="add-unmet">
    <div class="modal-dialog modal-lg">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" (click)="clearDefaults()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Add New Unmet</h4>
            </div>
            <div class="modal-body" [formGroup]="unMetFormGroup">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput formControlName="need" placeholder="Need" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="activity" placeholder="Activity" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select formControlName="servicetypekey" (change)="otherValue($event.value, 'service')" placeholder="Service Type">
                                <mat-option *ngFor="let item of (serviceTypeDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="showService">
                            <input matInput formControlName="otherservicetypedescription" placeholder="Description" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select formControlName="activitysubtypekey" (change)="otherValue($event.value, 'subtype')" placeholder="Service Sub Type">
                                <mat-option *ngFor="let item of (subTypeDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="showSubtyoe">
                            <input matInput formControlName="othersubtypedescription" placeholder="Description" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select formControlName="reasontypekey" (change)="otherValue($event.value, 'reason')" placeholder="Reason">
                                <mat-option *ngFor="let item of (reasonDropdownItems$ | async)" value="{{ item.value }}">{{ item.text }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="showReason">
                            <input matInput formControlName="otherreason" placeholder="Description" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn-pri pull-right" [disabled]="unMetFormGroup.invalid" (click)="submitUnmet(unMetFormGroup.value)" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
