<div class="tab-content">
  <div class="row">
    <div class="col-md-12">
      <div class=" m-t-50">
        <h5 class="h5-title">Witness</h5>
        <div class="search-container2 pull-right">
          <button class="btn-pri pull-right m-r-30" data-target="#add-witness"
            (click)="openAddWitness()" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Add Witness</button>
          <!-- <button [hidden]='isSubmitted' type="submit" class="btn-pri" data-target="#add-staff"
            (click)="openAddStaffMembers()" data-toggle="modal">Add Staff Member
          </button> -->
          <!-- <div class="inner-addon right-addon pull-right m-l-20 search-box">
            <i class="fa fa-search"></i>
             <input type="text" placeholder="Search by Name" />
          </div> -->
        </div>
        <div class="table-theme table-responsive m-t-30">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>witness Type</th>
                <th>Narrate</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let witness of witnessInformation">
                <td>{{witness.first_name}}</td>
                <td>{{witness.last_name}}</td>
                <td>{{(witness.actor_type_id == 3)?witness.other_actor_type:getWitnessType(witness.actor_type_id)}}</td>
                <td>{{witness.witness_statement}}</td>
                <td>                 
                  <!-- <button class="no-bg" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button> -->
                  <button class="no-bg" type="button"><i class="fa fa-trash" (click)="deleteWitness(witness)"
                      aria-hidden="true"></i></button>
                  <button class="no-bg" type="button"><i class="fa fa-pencil" (click)="editWitness(witness)"
                      aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="add-witness" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg " role="youth">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetWitnessForm()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Witness Information</h4>
      </div>
      <div class="content-container">
        <div class="row" [formGroup]="witnessForm">
          <div class="col-md-12">
            <mat-form-field>
              <input type="text" matInput formControlName="first_name" placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput formControlName="last_name" placeholder="Last Name">
            </mat-form-field>
            <mat-radio-group formControlName="actor_type_id" [(ngModel)]='witness_type' required>
                <mat-radio-button value="1">Youth</mat-radio-button>
                <mat-radio-button value="2">Staff</mat-radio-button>
                <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="witness_type==='3'">
              <mat-form-field>
                  <input matInput placeholder="Other" formControlName="other_actor_type">                
              </mat-form-field>
            </div>
            <mat-form-field>
              <textarea matInput formControlName="witness_statement" placeholder="Witness Statement"></textarea>
            </mat-form-field>                     
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m-t-10">
             <div class="pull-right">
                  <button class="btn-pri" mat-button (click)="patchWitness()">Save</button>                            
             </div>
          </div>
       </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="delet-witness" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
 aria-labelledby="IntakeAppointmentLabel">
 <div class="modal-dialog modal-lg " role="document">
     <div class="modal-content ">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                 <span aria-hidden="true">X</span>
             </button>
             <h4 class="modal-title">Witness</h4>
         </div>
         <div class="modal-body ">
 
             <div class="row">
                 <div class="col-md-3"></div>
                  <div class="col-md-6">
                  <p>Are you sure want to delete witness</p>
                      <button class="btn-primary" (click)="confirmDelete()">Delete</button>
                      <button class="btn-danger" (click)="closeDeleteModal()">Cancel</button>
                  </div>
                <div class="col-md-3"></div>
              </div>
          </div>
      </div>
  </div>
</div>