<div class=" text-right mb-10">
  <button class="btn-pri aut-btn-addPermanencyPlan" [disabled]="isClosed" *ngIf="isCaseWorker" (click)="addPermanency()" type="button"> <i
      class="fa fa-plus"></i> Add</button>
  <!-- <button class="btn-pri aut-btn-permanencyReview" *ngIf="isSuperVisor" (click)="addChild()"
    type="button">Review</button> -->
</div>
<div class="clearfix">
  <ng-container *ngFor="let child of permanencyPlanList; let i=index;">
    <ng-container>
      <div class="row m-b-20">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline theme-heder-bg minus-icon m-0">
            <li>
              <h5>{{child?.fullname}}</h5>
            </li>
            <li class="m-l-30"><span><span> Age: </span><b>{{child?.age}} </b></span></li>
            <li class="m-l-30"><span><span>DOB: </span><b>{{child?.dob | date:'MM/dd/yyyy'}}</b></span>
            </li>
            <li class="m-l-30"><span><span>Gender: </span><b>{{child?.gender}}</b></span></li>

            <!-- <li class="m-l-30"><a (click)="showChildHistory(child)" class="pull-right" data-target="#ChildHistory"
                                data-toggle="modal"><i class="fas fa-file-invoice-dollar m-r-5" aria-hidden="true"></i></a></li> -->
            <li class="m-r-10 pull-right aut-Icn_expand" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false"
                aria-hidden="true" data-toggle="collapse"><i class="fa fa-plus"></i></a></li>
            <li class="m-r-20 pull-right"><a (click)="showHistory(child)"><i aria-hidden="true"
                  class="fa fa-history m-r-5">History</i></a></li>
            <!-- <li class="m-r-10 pull-right"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#accordion"></i></li> -->
          </ul>
        </div>
        <div class="col-sm-12 collapse" id="accordion{{i}}">
          <div class="table-responsive table-theme brd">
            <table class="table table-striped">
              <thead>

                <tr>

                  <th>Permanency Plan</th>
                  <th>Plan Established Date</th>
                  <th>Plan End Date</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="child?.permanencyplans?.length">
                  <ng-container *ngFor="let item of child?.permanencyplans">
                    <tr
                      *ngIf="!item?.status || item?.status === 'Review' || item?.status === 'Approved' ||  item?.status === 'Rejected'">

                      <td>
                        <span *ngIf="item?.primarypermanency?.length">
                          {{item?.primarypermanency[0]?.plantypedescription}}
                        </span>
                      </td>
                      <td>{{ item?.establisheddate ? (item?.establisheddate| date: 'MM/dd/yyyy') : ''}}</td>
                      <td>{{item?.enddate| date: 'MM/dd/yyyy'}}</td>
                      <td>{{item?.status ? item?.status : 'Draft'}}</td>
                      <td>

                        <ng-container *ngIf="item?.status!=='Review' && (isCaseWorker || isSuperVisor)">
                          <a [ngClass]="{'disabledField': isClosed}" (click)="editPermanency(item, child, false)">
                            <i matTooltip='Edit' class="fa fa-pencil text-16"></i>
                          </a>
                        </ng-container>
                        <ng-container  *ngIf="isCaseWorker" >
                          <a (click)="editPermanency(item, child, true)">
                            <i matTooltip='View' class="fa fa-eye text-16"></i>
                          </a>
                        </ng-container>
                        <ng-container *ngIf="isSuperVisor && item?.status==='Review'">
                          <button class="btn-pri aut-btn-permanencyReview" (click)="reviewPermanency(item, child)"
                            type="button">Review</button>
                        </ng-container>
                        <ng-container *ngIf="isSuperVisor && item?.status!=='Review'">
                          <a (click)="editPermanency(item, child, true)">
                            <i matTooltip='View' class="fa fa-eye text-16"></i>
                          </a>
                        </ng-container>
                        <ng-container>
                          <a  *ngIf="item?.status==='Approved'" class="aut-Icn-Play" data-placement="top"
                            (click)="routeToPlan(item, child)">
                            <i matTooltip='Proceed' class="fa fa-play-circle-o"></i>
                          </a>
                        </ng-container>

                      </td>

                    </tr>
                  </ng-container>
                </ng-container>
                <tr *ngIf="!child?.permanencyplans?.length">
                  <td colspan="4">No Permanency Plans added.</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <!-- <div>
        <form [formGroup]="permanencyPlanQuestionnaireForm">  
        <h4 class="title">Permanency Plan</h4>
        <div class="checklist-content" >
            <div>
               <p>If the permanency plan is to return home or relative placement, is the placement in close  proximity to the child’s family? </p>
               <mat-radio-group  formControlName="isInClosedProximity" >                     
                 <mat-radio-button value="1" >Yes</mat-radio-button>
                 <mat-radio-button value="0" >No</mat-radio-button>
               </mat-radio-group>
               <mat-form-field>
                <textarea formControlName="isInClosedProximityExpln" matInput placeholder="Explanation required"></textarea>
               </mat-form-field>
            </div>
            <div>
              <p>Discuss how the caregiver is meeting the safety needs of the child as well as the appropriateness and the restrictiveness of the 
                present placement, the child’s  adjustment to the placement, and how the placement meets the best interest and the special needs of the child. </p>
              <mat-form-field>
               <textarea formControlName="meetingSafetyNeedsExpln" matInput placeholder="Explanation required"></textarea>
              </mat-form-field>
           </div>
           <div>
            <p>Discuss and explain changes in the child’s placement during the last 6 months. Discuss any anticipated changes in  placement in the next 6 months. </p>
            <mat-form-field>
             <textarea formControlName="sixMonthsPlacementExpln" matInput placeholder="Explanation required"></textarea>
            </mat-form-field>
         </div>
         <div>
          <p>Describe how the worker is carrying out specific court orders pertaining to the child. </p>
          <mat-form-field>
           <textarea formControlName="courtOrdersExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Document what steps have been taken to finalize the placement for children whose permanency plan is adoption or placement at another permanent home? </p>
          <mat-form-field>
           <textarea formControlName="permToPermExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Describe how the worker is ensuring that the child receives safe and appropriate care.  </p>
          <mat-form-field>
           <textarea formControlName="safeAndCareExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>What efforts were made to promote permanency for the child during this assessment period? </p>
          <mat-form-field>
           <textarea formControlName="assessmentPeriodExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Has a Lifebook been prepared? If no, Explain? </p>
          <mat-form-field>
           <textarea formControlName="lifebookExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Describe the parent’s compliance in developing and carrying out the terms of the Service Agreement. 
            (Discuss specific outcomes during this assessment period). Describe the parent’s involvement including dates of case planning meetings, 
            in working with the caseworker to develop the case plan. Discuss specific outcomes of  ongoing and past services offered to the parent(s) 
            during this assessment period, including times of participation and the results of any meetings. </p>
          <mat-form-field>
           <textarea formControlName="serviceAgreementExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Does the Provider agree with the Permanency Plan? </p>
          <mat-radio-group  formControlName="isProviderAgree" >                     
            <mat-radio-button value="1" >Yes</mat-radio-button>
            <mat-radio-button value="0" >No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
           <textarea formControlName="isProviderAgreeExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div>
          <p>Discuss services being provided to other significant persons including contacts with siblings, extended family, permanent foster parents, prospective adoptive  parents, etc. </p>
          <p>Describe the child’s relationship with these significant others and/or any other relevant issues.Explain why child not placed with siblings, 
            including how such placement  would be contrary to the safety or well being of any of the siblings. </p>
          <mat-form-field>
           <textarea formControlName="serviceAgreementForOtherExpln" matInput placeholder="Explanation required"></textarea>
          </mat-form-field>
        </div>
        <div class="pull-right">
            <button type="button" value="Save" class="btn-pri ug" (click)="savePermanencyPlanQuestionnaire()" name="">Save</button>
        </div>
         </div>
        </form>
    </div> -->
</div>

<div class="modal fade in" id="viewPlan" role="dialog">
  <div class="modal-dialog modal-md custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Permanency Plan</h4>
      </div>
      <div class="modal-body">
        <p><b>Primary Permanency Plan </b> : {{selectedPlan?.primarypermanency[0]?.plantypedescription}} </p>
        <p><b>Plan Established Date </b> : {{selectedPlan?.establisheddate ? (selectedPlan?.establisheddate| date: 'MM/dd/yyyy') : ''}}</p>
        <p><b>Comments </b> : {{selectedPlan?.primarycomments}} </p>
        <p><b>Concurrent Permanency Plan </b> : {{selectedPlan?.concurrentpermanency[0]?.concurrentplandescription}}</p>

        <p><b>Plan Established Date</b> : {{selectedPlan?.establisheddate| date: 'MM/dd/yyyy'}} </p>
        <p><b>Comments </b> : {{selectedPlan?.concurrentcomments}} </p>


      </div>

    </div>
  </div>
</div>



<div class="modal  fade" id="review-plan" role="dialog" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="goBack()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title "> {{ 'Review Permanency Plan' | titlecase }}</h4>
      </div>
      <div class="modal-body">

        <div class="row " *ngFor="let child of selectedPlanforReview">
          <ng-container>
            <div class="col-sm-12 m-t-10">
              <div class="panel panel-default panel-theme">
                <div class="panel-heading">
                  <div class="col-sm-3">
                    <h5>Name# </h5>
                    <p class="m-0">{{child?.firstname}} {{child?.lastname }}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>CJAMS PID# </h5>
                    <p class="m-0">{{child?.cjamspid }}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>D.O.B</h5>
                    <p class="m-0">{{child?.dob | date : 'MM/dd/yyyy'}}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>Gender</h5>
                    <p class="m-0">{{child?.gender}}</p>
                  </div>

                </div>
                <div class="panel-body">
                  <ng-container *ngIf="child?.permanencyplans?.length">
                    <ng-container *ngFor="let plan of child.permanencyplans; let i=index;">


                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-10">
                        <hr *ngIf="i>0">
                        <div class="col-sm-4">
                          <h5>Primary Plan </h5>
                          <p class="m-0">{{plan?.primarypermanency[0]?.plantypedescription}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>Plan Established Date </h5>
                          <p class="m-0">{{plan?.establisheddate ? ( plan?.establisheddate| date: 'MM/dd/yyyy') : ''}}</p>
                        </div>
                        <div class="col-sm-4 ">
                          <h5> Comments</h5>
                          <p class="m-0">{{plan?.primarycomments}}</p>
                        </div>
                      </div>

                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                        <div class="col-sm-4">
                          <h5>Concurrent Plan</h5>
                          <p class="m-0">{{plan?.concurrentpermanency[0]?.concurrentplandescription}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>Plan Established Date </h5>
                          <p class="m-0">{{plan?.establisheddate| date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5> Comments</h5>
                          <p class="m-0">{{plan?.concurrentcomments}}</p>
                        </div>
                      </div>
                      <!-- @DEB: End date should display regardless of 
                          status however I have datamigration  team populate status correctly-->
                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                        <div class="col-sm-4">
                          <h5>End Date</h5>
                          <p class="m-0">{{plan?.enddate | date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>End Reason</h5>
                          <p class="m-0">{{plan?.reason}}</p>
                        </div>
                      </div>
                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                        <div class="col-sm-4" *ngIf="!isViewQues || selectedPlanid !== plan?.permanencyplanid">
                          <a (click)="viewQuesData(plan)">View More</a>
                        </div>
                        <div class="col-sm-4" *ngIf="isViewQues && selectedPlanid === plan?.permanencyplanid">
                          <a (click)="resetQuestForm()">View Less</a>
                        </div>
                      </div>
                      <div *ngIf="plan.status==='Review' && isViewQues && selectedPlanid === plan?.permanencyplanid "
                        class="row placement-detail mb-20">
                        <form class="col-sm-12" [formGroup]="permanencyPlanQuestionnaireForm">
                          <div class="checklist-content">
                            <div>
                              <p>If the permanency plan is to return home or relative placement, is the placement in
                                close proximity to the child’s family? </p>
                              <mat-radio-group formControlName="isInClosedProximity">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                              </mat-radio-group>
                              <mat-form-field>
                                <textarea formControlName="isInClosedProximityExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Discuss how the caregiver is meeting the safety needs of the child as well as the
                                appropriateness and the restrictiveness of the
                                present placement, the child’s adjustment to the placement, and how the placement meets
                                the best interest and the special needs of the child. </p>
                              <mat-form-field>
                                <textarea formControlName="meetingSafetyNeedsExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Discuss and explain changes in the child’s placement during the last 6 months. Discuss
                                any anticipated changes in placement in the next 6 months. </p>
                              <mat-form-field>
                                <textarea formControlName="sixMonthsPlacementExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Describe how the worker is carrying out specific court orders pertaining to the child.
                              </p>
                              <mat-form-field>
                                <textarea formControlName="courtOrdersExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Document what steps have been taken to finalize the placement for children whose
                                permanency plan is adoption or placement at another permanent home? </p>
                              <mat-form-field>
                                <textarea formControlName="permToPermExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Describe how the worker is ensuring that the child receives safe and appropriate care.
                              </p>
                              <mat-form-field>
                                <textarea formControlName="safeAndCareExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>What efforts were made to promote permanency for the child during this assessment
                                period? </p>
                              <mat-form-field>
                                <textarea formControlName="assessmentPeriodExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Has a Lifebook been prepared? If no, Explain? </p>
                              <mat-form-field>
                                <textarea formControlName="lifebookExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Describe the parent’s compliance in developing and carrying out the terms of the
                                Service Agreement.
                                (Discuss specific outcomes during this assessment period). Describe the parent’s
                                involvement including dates of case planning meetings,
                                in working with the caseworker to develop the case plan. Discuss specific outcomes of
                                ongoing and past services offered to the parent(s)
                                during this assessment period, including times of participation and the results of any
                                meetings. </p>
                              <mat-form-field>
                                <textarea formControlName="serviceAgreementExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Does the Provider agree with the Permanency Plan? </p>
                              <mat-radio-group formControlName="isProviderAgree">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                              </mat-radio-group>
                              <mat-form-field>
                                <textarea formControlName="isProviderAgreeExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <div>
                              <p>Discuss services being provided to other significant persons including contacts with
                                siblings, extended family, permanent foster parents, prospective adoptive parents, etc.
                              </p>
                              <p>Describe the child’s relationship with these significant others and/or any other
                                relevant issues.Explain why child not placed with siblings,
                                including how such placement would be contrary to the safety or well being of any of the
                                siblings. </p>
                              <mat-form-field>
                                <textarea formControlName="serviceAgreementForOtherExpln" matInput
                                  placeholder="Explanation required"></textarea>
                              </mat-form-field>
                            </div>
                            <!-- <div class="pull-right">
                                <button type="button" value="Save" class="btn-pri ug" (click)="savePermanencyPlanQuestionnaire()" name="">Save</button>
                            </div> -->
                          </div>
                        </form>
                      </div>

                    </ng-container>
                  </ng-container>

                </div>
              </div>
            </div>
          </ng-container>
        </div>











      </div>
      <div class="modal-footer wizard-buttons">
        <div class="col-md-12">
          <ng-container>
            <button type="button" class="btn-pri pull-right aut-btn-permanencyReject" [disabled]="isCompleted"
              (click)="approveorRejectPlacement('Rejected')">Reject</button>
            <button type="button" class="btn-pri pull-right aut-btn-permanencyApprove" [disabled]="isCompleted"
              (click)="approveorRejectPlacement('Approved')">Approve</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="active-case-exist" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p> An active adoption case exists for child. A new permanency plan can therefore not be created. </p>
      </div>
      <div class="modal-footer">
        <div class="">
          <button class="btn-pri" type="button" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="history-list" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">History</h4>
      </div>
      
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <h4>Search </h4>
               </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="fromDate" [max]="maxDate" placeholder="Updated From" (valueChange)="fromDateChanged($event)" >
                    </common-date-picker>
              </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="toDate" [max]="maxDate" [min]="toMinDate"  placeholder="Updated To" (valueChange)="toDateChanged($event)">
                    </common-date-picker>
              </div>
              <div class="col-sm-3">
                      <label class="m-0">Worker</label>
                      <div class="select-icon cus-select-width">
                          <ng-select class="aut-lst-removalType select-source" [searchable]="true" [clearable]="false" [(ngModel)]="updatedby">
                              <ng-option value=""> Select </ng-option>
                              <ng-option *ngFor="let item of caseworkerList" [value]="item.userid">{{item.username}} </ng-option>
                          </ng-select>
                      </div>
              </div>
              <div class="col-sm-3">
                  <button class="btn-pri m-t-15"  (click)="loadHistory(1)" >Search</button>
                  <button class="btn-pri m-t-15" (click)="clearSearch()" >Clear</button>
                      
              </div>
          </div>
        <div class="row">
          <div class="m-r-10 m-l-10 table-responsive table-theme ">
            <table class="table table-striped"  sortable-table (sorted)="onHistorySorted($event)">
              <thead>
                <tr>
                  <th  sortable-column="servicecasenumber">Case #</th>
                  <th  sortable-column="primarypermanencytype">PERMANENCY PLAN</th>
                  <th  sortable-column="establisheddate">Plan Established Date</th>
                  <th  sortable-column="enddate">PLAN END DATE</th>
                  <th  sortable-column="status">Status</th>
                  <th sortable-column="updatedby">Updated by</th>
                  <th sortable-column="updatedon">Updated on</th>

                </tr>
              </thead>
              <tbody class="provider-details">
                <ng-container  *ngIf="planHistory?.length">
                  <tr  *ngFor="let item of planHistory; let index = index;">
                    <td>{{item.servicecasenumber}}</td>
                    <td>
                      {{item.primarypermanencytype}}
                    </td>
                    <td>
                      {{item.establisheddate | date: 'MM/dd/yyyy'}}
                    </td>
                    <td>
                      {{item.enddate | date: 'MM/dd/yyyy'}}
                    </td>
                    <td>
                      {{item.status}}
                    </td>
                    <td>
                      {{item.updateduserdetails.firstname }} {{item.updateduserdetails.lastname }}
                      <br>{{item.updateduserdetails.description}}
                    </td>
                    <td>
                      {{item.updatedon | date: 'MM/dd/yyyy h:mm a'}}
                    </td>
                  </tr>

                </ng-container>
                <tr *ngIf="planHistory?.length === 0">
                  <td colspan="7">No data found.</td>
                </tr>
              </tbody>
                  
            </table>
            <div class="col-sm-12 text-center mt-20">
                <div *ngIf="historyTotalRecords > 10">
                    <pagination [totalItems]="historyTotalRecords" [(ngModel)]="historyPaginationInfo.pageNumber"
                        (pageChanged)="historyPageChanged($event)" class="pagination-sm"
                        [boundaryLinks]="true" [maxSize]="10"
                        [itemsPerPage]="historyPaginationInfo.pageSize"></pagination>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="permanancy-plan-alert" role="dialog" data-backdrop="static" >
    <div class="modal-dialog modal-md custom-wid">
        <!-- Allegation Configuration - Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" title="close" data-dismiss="modal" >×</button>
            <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 form-letter-tab mrg-top0" *ngFor="let child of permanancyPlanDueList">
                        Please review your Permanency Plan for the Child ("{{child}}")
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade " id="active-permenency-plan-exist" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p> An active permanency plan exists for child/children. A new permanency plan can therefore not be created. </p>
      </div>
      <div class="modal-footer">
        <div class="">
          <button class="btn-pri" type="button" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>