<div class="container-fluid">
<div class="row">
<div class="col-sm-2 finance-search-filter">
  <form onSubmit="return false;" [formGroup]="providerContractForm">
    <div class="row" style="background: #e7fcff;">
        <div class="left-side-filter" style="margin: 15px;">
            <h5>Search Filter</h5>
            <div class="col-sm-12 pd-no">
                <div class="row pd-no">
                    <div class="col-sm-2 m-t-20 pd-r-0">
                        <mat-radio-group formControlName="prid" (change)="providerCheck($event.value)">
                            <mat-radio-button value="pid"></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-10">
                        <mat-form-field>
                            <input matInput [required]="providerID" [disabled]="!providerID" placeholder="Provider Id" formControlName="providerid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row pd-no m-t-10">
                    <div class="col-sm-2 pd-r-0">
                        <mat-radio-group formControlName="pname" (change)="providerCheck($event.value)">
                            <mat-radio-button value="pnm"></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-10">
                        <span>Provider Name <span *ngIf="providerName" class="red">*</span></span>
                    </div>
                </div>
                <div class="row" *ngIf="providerName">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput [disabled]="!providerName" placeholder="Organization Name" formControlName="providername">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="First Name" [disabled]="!providerName" formControlName="providerfirstnm">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [disabled]="!providerName" placeholder="Last Name" formControlName="providerlastnm">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pd-no">
                <div class="row pd-no">
                    <div class="col-sm-2 m-t-20 pd-r-0">
                        <mat-radio-group formControlName="txid" (change)="providerCheck($event.value)">
                            <mat-radio-button value="tid"></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-10">
                        <mat-form-field>
                            <input matInput [disabled]="!taxID"  [required]="taxID" placeholder="FEIN/Tax Id" value="" name="feintaxid" formControlName="taxid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button class="btn btn-pri pull-right mt-20 btn-align" [disabled]="providerContractForm.invalid" (click)="searchProviderContract(providerContractForm.value)">Go</button>
            <button class="btn btn-sec pull-right mt-20" (click)="clearSearch()">Clear</button>
        </div>
    </div>
  </form>
</div>
<div class="col-md-10">
  <div class="row">
      <div class="col-md-12">
          <h3 class="fin-h3">Provider Contract Information</h3>
      </div>
  </div>
  <div class="table-responsive table-theme mt-20">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Provider ID</th>
                  <th>Payee/Provider Name</th>
                  <th>Tax ID</th>
                  <th>Mail Code</th>
                  <th>Address</th>
                  <th>Local Department</th>
                  <th></th>
              </tr>
          </thead>
          <tbody *ngIf="providerList">
              <ng-container *ngFor="let provider of providerList; let index = index;">
                  <tr (click)="programList('accordion-tables'+ index,provider)">
                      <td>{{provider.provider_id}}</td>
                      <td>{{provider.provider_nm}}</td>
                      <td>{{provider.tax_id_no}}</td>
                      <td>{{provider.mail_code_tx}}</td>
                      <td>{{provider.address}}</td>
                      <td>{{provider.county_name}}</td>
                      <td>
                          <a class="pull-right m-r-10"><i class="fa fa-chevron-down" aria-hidden="true" (click)="programList('accordion-tables'+ index,provider)"></i></a>
                      </td>
                  </tr>
                  <tr id="accordion-tables{{index}}" class="collapse fin-inner-tb">
                      <td colspan="7">
                          <div class="table-responsive table-theme">
                              <table class="table customTable innerTable tb-inner-hr">
                                  <thead>
                                      <tr>
                                          <th>Program Name</th>
                                          <th>Program Start Date</th>
                                          <th>Program End Date</th>
                                          <th>Rate Start Date</th>
                                          <th>Rate End Date</th>
                                          <th>Annual Rate</th>
                                          <th>Monthly Rate</th>
                                          <th>Per diem Rate</th>
                                      </tr>
                                  </thead>
                                  <tbody *ngIf='providerProgramList?.length > 0'>
                                      <tr *ngFor="let program of providerProgramList">
                                          <td>{{program.program_nm}}</td>
                                          <td>{{program.programstartdate | date:'MM/dd/yyyy'}}</td>
                                          <td>{{program.programenddate | date:'MM/dd/yyyy'}}</td>
                                          <td>{{program.start_dt | date:'MM/dd/yyyy'}}</td>
                                          <td>{{program.end_dt | date:'MM/dd/yyyy'}}</td>
                                          <td>{{(program.annual_rate ? program.annual_rate : '0.00') | cjamsCurrency}}</td>
                                          <td>{{(program.monthly_rate ? program.monthly_rate : '0.00') | cjamsCurrency}}</td>
                                          <td>{{(program.per_diem_rate ? program.per_diem_rate : '0.00') | cjamsCurrency}}</td>
                                      </tr>
                                  </tbody>
                                  <tr *ngIf="!providerProgramList || providerProgramList?.length === 0">
                                    <td colspan="8" style="text-align: center !important;">
                                        No Records Found.
                                    </td>
                                </tr>
                              </table>
                          </div>
                          <div class="text-center" *ngIf="totalResult > 10">
                              <pagination id="paginate-ancillary-{{index}}" [totalItems]="totalResult" [(ngModel)]="pagination.pageNumber"
                                  (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                  [maxSize]="10">
                              </pagination>
                          </div>
                      </td>
                  </tr>
               </ng-container>
          </tbody>
          <tr *ngIf="providerList?.length === 0">
              <td colspan="6" style="text-align: center !important;">
                  No Records Found.
              </td>
          </tr>
      </table>
      <div class="text-center" *ngIf="totalcount > 10">
          <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
              [maxSize]="10">
          </pagination>
      </div>
  </div>
</div>
</div>
</div>