.timeline-center .timeline-item {
    clear: both;
    float: right;
    width: 55%;
    padding-left: 55px;
}

.timeline-item {
    padding-bottom: 25px;
    padding-left: 80px;
    position: relative;
}

.timeline-center .timeline-time {
    position: absolute;
    top: 17px;
    left: -175px;
    right: auto;
    z-index: 2;
    font-weight: 600;
}

.timeline-center .timeline-inverted {
    float: left;
    text-align: right;
    padding-left: 0;
    padding-right: 55px;
}
.timeline-badge {
    height: 28px;
    width: 28px;
    line-height: 29px;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: 2;
    font-size: 16px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #0997a9;
}

.timeline-center .timeline-badge {
    left: -12px;
    right: auto;
}

.timeline-panel {
    width: 400px;
    padding: 20px 30px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.timeline-panel:before,
.timeline-panel:after {
    content: '';
    position: absolute;
    border-style: solid;
    display: inline-block;
}

.timeline-panel:before {
    border-color: transparent #dee2e6;
    border-width: 15px 15px 15px 0;
    left: -15px;
    top: 15px;
}
.timeline-panel p {
    margin: 0;
}
.timeline-panel p span {
    color: #009885;
    font-weight: 600;
}
.timeline-panel p .orange-color {
    color: #e86035;
}
.timeline-panel:after {
    border-color: transparent #fff;
    border-width: 14px 14px 14px 0;
    left: -14px;
    top: 16px;
}

.timeline-center .timeline-inverted .timeline-time {
    position: absolute;
    top: 32px;
    right: -150px;
    left: auto;
    z-index: 2;
}

.timeline-center .timeline-inverted .timeline-badge {
    left: auto;
    right: -25px;
}
.timeline-tile {
    color: #467292;
    margin-top: 0;
    font-weight: 600;
}
.timeline-center .timeline-inverted:before {
    border-left: 0 none;
    border-right: solid 2px #dee2e6;
    left: auto;
    right: -2px;
}

.timeline-center .timeline-inverted .timeline-panel:before {
    border-width: 15px 0 15px 15px;
    left: auto;
    right: -15px;
}

.timeline-center .timeline-inverted .timeline-panel:after {
    border-width: 14px 0 14px 14px;
    left: auto;
    right: -14px;
}

.timeline-item:before {
    border-left: solid 2px #dee2e6;
    content: '';
    left: 25px;
    position: absolute;
    top: 25px;
    bottom: -20px;
    width: 2px;
    z-index: 1;
}
.timeline-center .timeline-item:before {
    left: 0;
}

.timeline-center .timeline-inverted:before {
    border-left: 0 none;
    border-right: solid 2px #dee2e6;
    left: auto;
    right: -2px;
}
.timeline-badge.bg-gray{ background: #999;}
