.icon-action th:last-child, .icon-action td:last-child{width:110px;}
.modal-iframe .modal-lg{width:96%;}
.modal-iframe iframe{width:100%; height: 84vh;}
.modal-iframe .modal-content{min-height:580px;}
img {vertical-align: middle; margin-left: 7px;}
.btn-width{
    min-width: 80px;
    padding: 5px 10px;
}