<div class="row" [formGroup]="apNarrativeForm">
    <div class="col-md-12">
        <h5 class="text-uppercase h5-title">Narrative</h5>
        <div class="row">
          <!-- <div class="col-md-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Adoption Plan Begin Date" formControlName="adoptiondate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div> -->
            <div class="col-lg-3 col-md-4 m-t-20">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" class="aut-dtp-adotionBeginDate" formControlName="adoptiondate" placeholder="Adoption Plan Begin Date" required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h6 class="text-uppercase h6-title">Bio-Psycho-Socio-Cultural History for Child Presentation and Disclosure <label class="required"></label></h6>
        <quill-editor formControlName="narrative" class="aut-txt-bioPsycho" format="html" [placeholder]="notes" [style]="{height: '150px'}" required></quill-editor>
    </div>

    <div class="col-md-12 m-t-20">
        <button class="sec-btn text-uppercase aut-btn-save" [disabled]="apNarrativeForm.invalid || apNarrativeForm.pristine" *ngIf="!isAdoptionCreated" (click)="addNarrative('')">SAVE</button>
        <button class="btn-pri text-uppercase pull-left aut-btn-save-proceedtoNext" [disabled]="apNarrativeForm.invalid || apNarrativeForm.pristine" *ngIf="!isAdoptionCreated" (click)="addNarrative('Next')">SAVE AND PROCEED TO NEXT</button>
    </div>
</div>
