<div role="tabpanel" class="tab-pane dd-overflow-inherit">
<person-card></person-card>
<ng-container *ngIf="isPersonSelected()">
<clearance-medical-form></clearance-medical-form>
</ng-container>
</div>
