<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Intake # </th>
            <th>Case # </th>
            <th>Review Type</th>
            <th>Date</th>
            <th>Review Notes</th>
            <th>Next Review Date</th>
            <th>Worker ID </th>
            <th>Worker Name </th>


          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of reviewList">
            <tr>
              <td>{{item.intakenumber}}</td>
              <td>{{item.servicerequestnumber}}</td>
              <td>{{item.reviewtype}}</td>
              <td>{{item.createddate | date:'MM/dd/yyyy'}}</td>
              <td>
                <ng-container *ngIf="item.reviewtype==='Initial SCR';">
                  {{item.submissiondata.panel2907352871485336SupervisionNarrative}}
                </ng-container>
                <ng-container *ngIf="item.reviewtype==='Subsequent SCR';">
                  {{item.submissiondata.panel2907352871485337LivingArrangementsSchoolCounselingSupportServicesEmploymentetc2
                  }}
                </ng-container>


              </td>
              <td>

                {{item.submissiondata.panel13030553351161722Columns2ReviewDate2 | date : 'MM/dd/yyyy'}}

              </td>
              <td>{{item.workerid}}</td>
              <td>{{item.workername}}</td>


            </tr>
          </ng-container>

          <tr *ngIf="reviewList.length ===0">
            <td colspan="7">No Records found</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
        <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
          class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>

</div>