<div role="tabpanel">
  <div class="row find-place" [formGroup]="placementForm">
    <div class="col-sm-1 no-pad-r">
      <label class="lbl-title">Select Child</label>
    </div>
    <div class="col-sm-2" style="margin-top: -15px;">
      <mat-form-field>
        <mat-select placeholder="Child Name" (change)="pesonDateOfBirth($event)">
          <mat-option *ngFor="let person of involevedPerson$ | async" [value]="person">{{ person.firstname + ' ' + person.lastname }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <label class="lbl-title">Date of Birth -
        <span class="lbl-lite">{{reportedChildDob ? ( reportedChildDob | date: 'MM/dd/yyyy' ): 'N/A' }}
        </span>
      </label>
    </div>
    <div class="col-sm-3">
      <button class="btn-pri" type="button" data-target="#addplacement" data-toggle="modal" [disabled]="isAddPlacement ? true  : false"
        (click)="searchClearPlacement()">
        Add New Placement</button>
    </div>
  </div>
  <div class="">
    <table class="thead-black placement-info">
      <thead>
        <th>Child Name</th>
        <th>Date of Birth</th>
        <th>Placement Type</th>
        <th>Placed Date &amp; Time</th>
        <th>End Date &amp; Time</th>
        <th>Provider Information</th>
        <!-- <th>Status</th> -->
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let placement of placement$ | async">
          <td>{{placement.childname}}</td>
          <td>{{placement.dob | date: 'MM/dd/yyyy'}}</td>
          <td>{{placement.placementtype}}</td>
          <td>{{placement.placedatetime | date: 'MM/dd/yyyy , h:mm a '}}</td>
          <td>{{placement.placeenddatetime ? (placement.placeenddatetime | date: 'MM/dd/yyyy , h:mm a ') : ''}}</td>
          <td>
            <p>{{placement.placementinformation}}</p>
          </td>
          <!-- <td><span>{{placement.status}}</span></td> -->
          <td>
            <button class="btn-pri" type="button" data-target="#exit-popup" data-toggle="modal" [disabled]="placement?.placeenddatetime ? true: false"
              (click)="Exitbutton(placement)">
              Exit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-10" *ngIf="(placementCount$ | async)?.length >0 ">
      <pagination [totalItems]="placementCount$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>

    </div>
  </div>
</div>


<div class="modal fade" id="addplacement" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" (click)="searchClearPlacement()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Add New Placement</h4>
      </div>

      <div class="modal-body">
        <!-- <ul class="nav nav-pills" role="tablist"> -->
        <!-- <li class="active"><a data-target="#placement" data-toggle="tab"><span>Placement</span></a></li> -->
        <!-- <li><a data-target="#map" data-toggle="tab"><span>Map</span></a></li> -->
        <!-- </ul> -->

        <!-- Tab panes -->
        <div class="tab-content" [formGroup]="searchPlacementForm">
          <div class="">
            <div role="tabpanel" class="tab-pane active" id="placement">
              <div class="row">
                <div class="col-sm-2">
                  <mat-form-field>
                    <mat-select placeholder="Placement Services Type" formControlName="serviceType">
                      <mat-option *ngFor="let item of caseTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <mat-form-field>
                    <mat-select formControlName="jurisdiction" placeholder="Jurisdiction">
                      <!-- <mat-option >Select</mat-option> -->
                      <mat-option *ngFor="let  county of countyDropdown$ | async" value="{{county.value}}">
                        {{county.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <mat-form-field>
                    <input type="text" matInput  placeholder="Zip Code" formControlName="zipcode" zipcodeOnly (focusout)="onChange($event)">
                  </mat-form-field>
                </div>
                <!-- <div class="col-sm-2">
                                  <mat-form-field>
                                      <mat-select placeholder="Placement Category" formControlName="categoryType"
                                          (change)="getCategorySubType($event.value)">
                                          <mat-option *ngFor="let item of categoryTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                  <mat-form-field>
                                      <mat-select placeholder="Sub Category" formControlName="categorySubType">
                                          <mat-option *ngFor="let item of categorySubTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                  <mat-form-field>
                                      <mat-select placeholder="Child Characteristics" formControlName="paymentType"
                                          multiple (change)="child($event)">
                                          <mat-option *ngFor="let item of childCharacteristicDropdown$ | async" value="{{item.value}}">
                                              {{item.text}}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div> -->
              </div>
              <div class="search-form">
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field class="search-icon">
                      <input type="search" matInput placeholder="Search by Tax ID" formControlName="providerTaxId">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="search-icon">
                      <input type="search" matInput placeholder="Search by Provider" formControlName="vendor">
                    </mat-form-field>
                  </div>
                  <button type="button" class="btn-pri" (click)="searchPlacement(searchPlacementForm.value)">
                    Search</button>
                  <button type="button" class="btn-pri" (click)="searchClearPlacement()"> Clear</button>
                  <button *ngIf="(SearchPlacement$ | async)?.length>0" type="button" class="btn-pri" (click)="listMap()"> View Map
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mrg-top15">
                  <div class="outer">
                    <div class="table-responsive">
                      <table class="table customTable firsttable">
                        <thead>
                          <tr>
                            <th>Select</th>
                            <th>Provider ID</th>
                            <th>Provider Name</th>
                            <th>Address</th>
                            <th>Number of vacancies</th>
                            <th>Contracted vacancies</th>
                            <th>Services</th>
                            <th>Skills/Abilities</th>
                            <th>License</th>
                            <th>Jurisdiction</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="(SearchPlacement$ | async) as searchPlacement; let service">
                          <ng-container *ngIf="searchPlacement.length>0; else noItems">
                            <tr *ngFor="let searchPlan of service">
                              <td>
                                <label class="control control--radio">
                                  <input type="radio" name="selectedPerson" (change)="selectedProv(searchPlan.providerid)">
                                  <div class="control__indicator"></div>
                                </label>
                              </td>
                              <td>
                                <a (click)="getProvider(searchPlan)" data-target="#viewProvider" data-toggle="modal" data-dismiss="modal">{{searchPlan.providercode}}</a>
                              </td>
                              <td>{{searchPlan.providername}}</td>
                              <td>
                                <span *ngIf="(searchPlan && searchPlan.addrstreetname)"> {{(searchPlan.addrstreetname.length > 25) ? (searchPlan.addrstreetname | slice:0:25) + '...'
                                  : searchPlan.addrstreetname}}
                                </span>
                                <span *ngIf="(searchPlan && searchPlan.addrstreetsuffixcode)"> {{(searchPlan.addrstreetsuffixcode.length > 25) ? (searchPlan.addrstreetsuffixcode | slice:0:25)
                                  + '...' : searchPlan.addrstreetsuffixcode}}
                                </span>
                                <span *ngIf="(searchPlan && searchPlan.addrcityname)"> {{(searchPlan.addrcityname.length > 25) ? (searchPlan.addrcityname | slice:0:25) + '...'
                                  : searchPlan.addrcityname}}
                                </span>
                                <span *ngIf="(searchPlan && searchPlan.addrstate)"> {{(searchPlan.addrstate.length > 25) ? (searchPlan.addrstate | slice:0:25) + '...' : searchPlan.addrstate}}
                                </span>
                                <span *ngIf="(searchPlan && searchPlan.addrzipcode)"> {{(searchPlan.addrzipcode.length > 25) ? (searchPlan.addrzipcode | slice:0:25) + '...' :
                                  searchPlan.addrzipcode}}
                                </span>
                              </td>
                              <td>{{searchPlan.vacancyno}}</td>
                              <td>{{searchPlan.approvedbeds}}</td>
                              <td *ngFor="let serviceName of searchPlan.services">{{serviceName}} </td>
                              <td>{{searchPlan.age}} &nbsp; &nbsp; {{searchPlan.gender}} &nbsp; &nbsp; {{searchPlan.race}}</td>
                              <td> Active </td>
                              <td>{{searchPlan.addrcityname}}</td>

                            </tr>
                          </ng-container>
                          <ng-template #noItems>
                            <td colspan="11" class="text-center">
                              <p class="no-datatxt pad-top20"> No Record Found </p>
                            </td>
                          </ng-template>
                        </tbody>

                      </table>


                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="text-right mrg-top15">
                        <button type="button" class="btn-pri" *ngIf="(SearchPlacement$ | async)?.length>0" data-target="#select-placement" data-toggle="modal"
                          data-dismiss="modal" [disabled]="nextDisabled">
                          Next</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="map">
                          Map
                      </div> -->
          </div>
        </div>



      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewProvider" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Provider Details</h2>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-3">
            <div *ngIf="(providerInfo)" class="panel panel-default person-panel">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-body">
                    <h4>{{providerInfo.firstname + ' ' + providerInfo.lastname}}
                    </h4>
                  </div>
                  <div class="media-right" *ngIf="(providerInfo.userphoto)">
                    <img mat-card-avatar mat-card-md-image src="{{providerInfo.userphoto}}"/>
                  </div>
                  <div class="media-right" *ngIf="!(providerInfo.userphoto)">
                    <img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                  </div>
                </div>
              </div>
              <div class="panel-body">

                <dl>
                  <dt>ADDRESSES </dt>
                  <dd *ngIf="(providerInfo && providerInfo.addrstreetname)"> {{(providerInfo.addrstreetname.length > 25) ? (providerInfo.addrstreetname | slice:0:25) + '...' : providerInfo.addrstreetname}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrstreetsuffixcode)"> {{(providerInfo.addrstreetsuffixcode.length > 25) ? (providerInfo.addrstreetsuffixcode | slice:0:25) +
                    '...' : providerInfo.addrstreetsuffixcode}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrcityname)"> {{(providerInfo.addrcityname.length > 25) ? (providerInfo.addrcityname | slice:0:25) + '...' : providerInfo.addrcityname}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrstate)"> {{(providerInfo.addrstate.length > 25) ? (providerInfo.addrstate | slice:0:25) + '...' : providerInfo.addrstate}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrzipcode)"> {{(providerInfo.addrzipcode.length > 25) ? (providerInfo.addrzipcode | slice:0:25) + '...' : providerInfo.addrzipcode}}
                  </dd>
                </dl>
                <dl>
                  <dt>Phone</dt>
                  <dd>Not Available </dd>
                </dl>
              </div>
            </div>

          </div>
          <div class="col-md-9">
            <mat-accordion multi="false" displayMode="flat" class="acc-content">
              <mat-expansion-panel *ngFor="let panel of panelconfig.panels" [ngSwitch]="panel.selector">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{panel.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngSwitchCase="'profile-info'">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.providerid)">
                        <label class="zero provider-label">Provider ID:</label>
                        <div class="fm-box-form provider-label">
                          {{providerInfo.providerid}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.providername)">
                        <label class="zero provider-label">Site Name:</label>
                        <div class="fm-box-form provider-label ">
                          {{providerInfo.providername}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">
                          <u>Provider Category</u>
                        </label>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <ol>
                          <label class="zero provider-label">Placement Type:</label>
                          <div class="fm-box-form provider-label ">
                            Local Department Home
                          </div>
                          <label class="zero provider-label">Vendor(Paid Services):</label>
                          <div class="fm-box-form provider-label ">No

                          </div>
                          <label class="zero provider-label">Community(Non-Paid Services):</label>
                          <div class="fm-box-form provider-label ">No

                          </div>
                        </ol>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label ">
                          <u>Regular Business Hours</u>
                        </label>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <ol>
                          <label class="zero provider-label">Start:</label>
                          <div class="fm-box-form provider-label ">
                            {{(providerInfo.businessstarttime) ? providerInfo.businessstarttime : 'Not Available'}}
                          </div>
                          <label class="zero provider-label">End:</label>
                          <div class="fm-box-form provider-label">
                            {{(providerInfo.businessendtime) ? providerInfo.businessendtime : 'Not Available'}}
                          </div>
                        </ol>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label ">
                          <u>Admin Contacts</u>
                        </label>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">First Name:</label>
                        <div class="zero provider-label">
                          {{providerInfo.adminfirstname ? providerInfo.adminfirstname : 'Not Available'}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Last Name:</label>
                        <div class="zero provider-label">
                          {{providerInfo.adminlastname ? providerInfo.adminlastname : 'Not Available'}}
                        </div>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Work Phone:</label>
                        <div class="zero provider-label">
                          {{providerInfo.workphone | slice:0:3}}-{{providerInfo.workphone | slice:3:6}}-{{providerInfo.workphone | slice:6:10}}
                        </div>
                        <label class="zero provider-label">Extn:</label>
                        <div class="zero provider-label">
                          {{(providerInfo.workextn) ? providerInfo.workextn : 'N/A'}}
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Status:</label>
                        <span class="fm-box-form status-active provider-label">Active</span>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">School District:</label>
                        <div class="zero provider-label">
                          {{ providerInfo.schooldistrict ? providerInfo.workextn : 'Not Available'}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.countycd)">
                        <label class="zero provider-label ">County:</label>
                        <div class="zero provider-label"></div>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.approvaldate)">
                        <label class="zero provider-label">Approval Date:</label>
                        <div class="zero provider-label">{{providerInfo.approvaldate | date:'MM/dd/yyyy' : 'UTC'}}</div>

                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.approvaleffectivedate)">
                        <label class="zero provider-label">Effective Date:</label>
                        <div class="zero provider-label">{{providerInfo.approvaleffectivedate| date:'MM/dd/yyyy' : 'UTC'}}</div>
                      </div>
                    </div>

                  </div>
                </div>

                <div *ngSwitchCase="'contract-info'">
                  <div class="fm-box" *ngIf="(providerInfo)">
                    <!-- <div class="row">
                                      <div class="col-md-6"> -->
                    <div class="form-group">
                      <label class="zero provider-label">Services:</label>
                      <div *ngFor="let serviceName of providerInfo.services">
                        <div class="zero provider-label">{{serviceName}}</div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf=" (providerInfo && providerInfo.approvedbeds)">
                      <label class="zero provider-label">Approved Beds:</label>
                      <div class="zero provider-label">{{providerInfo.approvedbeds}}</div>
                    </div>
                    <div class="form-group" *ngIf="(providerInfo && providerInfo.vacancyno)">
                      <label class="zero provider-label">Vacant Beds:</label>
                      <div class="zero provider-label">{{providerInfo.vacancyno}}</div>
                    </div>
                    <!--    </div>                                        
                                       <div class="col-md-6"> -->

                    <div class="table-responsive form-letter-tab">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Minimum Age</th>
                            <th>Maximum Age</th>
                            <th>Monthly Rate</th>
                            <th>Per Diem Rate </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let fosterCareMaxAge of providerInfo.fosterCareMaxAge; let i = index">
                            <td>
                              {{ providerInfo.fosterCareStartDate[i] | date : "MM.dd.y" }}
                            </td>
                            <td>{{providerInfo.fosterCareEndDate[i]}}</td>
                            <td>{{providerInfo.fosterCareMinAge[i]}}</td>
                            <td>{{fosterCareMaxAge}}</td>
                            <td>{{providerInfo.fosterCareMonthlyRate[i]}}</td>
                            <td>{{providerInfo.fosterCarePerDiemRate[i]}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- </div>
                                      </div> -->
                    </div>
                  </div>
                </div>

                <div *ngSwitchCase="'additional-info'">
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.providertaxttypecode == 2518)">
                    <label class="zero provider-label">Tax ID Type:</label>
                    <div class="zero provider-label">
                      SSN
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.providertaxid)">
                    <label class="zero provider-label ">Tax ID:</label>
                    <div class="zero provider-label">
                      {{providerInfo.providertaxid}}
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.taxindicator)">
                    <label class="zero provider-label">1099 Indicator:</label>
                    <div class="zero provider-label">
                      {{providerInfo.taxindicator}}
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo)">
                    <label class="zero provider-label">Send Payment To:</label>
                    <div class="zero provider-label">
                      Same as Provider
                    </div>
                  </div>
                </div>


              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <a class="btn-link" data-target="#addplacement" data-toggle="modal" data-dismiss="modal">Previous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="select-placement">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Select Placement Date</h4>
      </div>
      <div class="modal-body dd-overflow-inherit" [formGroup]="addPlacementPlanForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-5">
                <div class="no-pad clsIntake dpnew ">
                  <mat-form-field>
                    <input matInput required [min]="maxDate" [matDatepicker]="startdate" id="startdate" placeholder="Start Date" formControlName="startdatetime"
                      class="required">
                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-2 text-center">
                <div class="mrg-top15"> </div>
              </div>
              <div class="col-sm-5 time-text no-mar">
                <mat-form-field>
                  <input matInput [options]="{format: 'h:mm a'}" a2e-datetimepicker placeholder="Start Time" required formControlName="enddatetime">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <label> Remarks </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput required placeholder="Description" formControlName="remarks"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6 text-left mrg-top15">
            <a class="btn-link" data-target="#addplacement" data-toggle="modal" data-dismiss="modal">Previous</a>
          </div>
          <div class="col-sm-6 text-right">
            <button type="button" class="btn-pri" [disabled]="!addPlacementPlanForm.valid" (click)="placementSearchAdd(addPlacementPlanForm.value)">
              Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-modal modal-iframe" id="iframe-popup" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="mapClose()">×</button>
        <h4 class="modal-title">View Map</h4>
      </div>
      <div class="modal-body" id="assessment-popup">
        <div class="modal-body" id="assessment-popup">
          <agm-map *ngIf="markersLocation && markersLocation.length" [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="zoom"
            [disableDefaultUI]="false" [zoomControl]="false">

            <agm-marker *ngFor="let m of markersLocation; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label">
              <agm-info-window>
                <strong>{{m.providername}}</strong>
                <p>{{m.addressline1}}</p>
              </agm-info-window>
            </agm-marker>
            <agm-circle [latitude]="defaultLat" [longitude]="defaultLng" [radius]="20000" [fillColor]="'blue'" [circleDraggable]="false"
              [editable]="false">
            </agm-circle>

          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade custom-modal" id="exit-popup" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Exit Placement</h4>
      </div>
      <div class="modal-body dd-overflow-inherit" [formGroup]="PlacementPlanFormExit">
        <div class="row">
          <div class="col-sm-4">
            <div class="no-pad clsIntake dpnew ">
              <mat-form-field>
                <input matInput required [matDatepicker]="exitdate" [min]="startDate" id="exitdate" placeholder="End Date" class="required"
                  formControlName="enddatetime">
                <mat-datepicker-toggle matSuffix [for]="exitdate"></mat-datepicker-toggle>
                <mat-datepicker #exitdate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="no-pad clsIntake dpnew">
              <mat-form-field>
                <input matInput [options]="{format: 'h:mm a'}" a2e-datetimepicker placeholder="End  Time" required formControlName="exittime">
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <mat-select required placeholder="Reason for Exit" formControlName="exitremarks">
                <mat-option *ngFor="let item of exitTypes$ | async" value="{{item.value}}">
                  {{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-right mrg-top15">
              <button class="btn-pri" type="button" [disabled]="!PlacementPlanFormExit.valid" (click)="ExitSave(PlacementPlanFormExit.value)">
                Save</button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>