<div class="row">
  <div class="col-sm-6">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedFolder" placeholder="Select Folder" required>
        <mat-option *ngFor="let item of folders" [value]="item.foldertypekey">{{item.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <button class="btn btn-pri pull-right" (click)="changeFolder()" [disabled]="!selectedFolder">Change Folder</button>
</div>