.btn-icon button {
    outline: none;
    background: none;
    border: none;
}
 
.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}

.m-t-25 {
    margin-top: 25px;
}

.border {
    border: 1px solid #cccccc;
    padding: 5px;
}

.allocation-lb label {
    text-align: left;
    font-weight: 400;
}

.details-lb label {
    text-align: left;
    font-weight: 400;
}

.modal .modal-body {
    max-height: 70vh;
}

label {
    font-weight: 400;
}

span {
    font-weight: 700;
}
tr.selected-bg {
    background: #00a2fd2b !important
}