<div class="cnt-min-height">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="mt-0">Peace Order</h4>
    </div>
  </div>
  <div id="peace-order-List">
    <div class="row">
      <button class="btn-pri pull-right" (click)="openPeaceOrderForm()">Add</button>
    </div>
    <div class="row m-t-30">
      <div class="table-responsive table-theme">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date Received</th>
              <th>Date of Incident </th>
              <th>Location of Incident</th>
              <th>Jurisdiction</th>
              <th>Alleged Incident</th>
              <th>Narrative</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="evals && evals.length>0; else noItems">
              <tr *ngFor="let eval of evals; let i=index">

                <td>
                  {{eval.complaintreceiveddate | date:'MM/dd/yyyy'}}
                </td>
                <td>
                  {{eval.allegedoffensedate | date:'MM/dd/yyyy'}}
                </td>
                <td>
                  {{eval.offenselocation}}
                </td>
                <td>
                  {{eval.countyname}}
                </td>
                <td><span *ngFor="let offense of eval.allegedoffense; let last = last;">{{
                    offenceCategoryList[offense] }} <span *ngIf="!last">,</span></span>
                </td>
                <td>
                    <span [innerHTML]="eval.narrative"></span>
                </td>
                <td class="text-16">
                  <span class="view" title="View" data-placement="top" data-original-title="View" (click)="viewEdit(eval,true,i)">
                    <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </span>
                  <span title="Edit" title="Edit" data-placement="top" data-original-title="Edit" (click)="viewEdit(eval,false,i)">
                    <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                  </span>
                  <span title="delete" data-toggle="modal" data-target="#eval-delete-popup" (click)="deleteEval(i)">
                    <a><i aria-hidden="true" class="fa fa-trash"></i></a>
                  </span>
                </td>
              </tr>
            </ng-container>
            <ng-template #noItems>
              <tr>
                <td colspan="7" style="text-align: center !important;"> No records found </td>
              </tr>
            </ng-template>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="eval-delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Delete Peace order</h4>
      </div>
      <div class="modal-body">
        Are You Sure, You want to delete ?

      </div>
      <div class="modal-footer">
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" class="btn-pri" (click)="onDeleteEval()">
            Delete
          </button>
          <button type="button" class="btn-pri" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="peace-order-form-popup" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="resetEvalForm()">×</button>
        <h4 class="modal-title"> {{(this.evalAction === 'edit') ? 'Edit' : ((this.evalAction === 'add') ? 'Add'
          : 'View')}}&nbsp;Peace Order </h4>
      </div>
      <div class="modal-body" [ngStyle]="{ 'pointer-events' : isViewMode ? 'none' : 'inherit' }">        
          <div id="eval-form" [formGroup]="evalForm">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field>
                  <input matInput readonly appMaskDate [matDatepicker]="complaintrcddatepicker" (click)="complaintrcddatepicker.open()"
                    [max]="maxDate" formControlName="complaintreceiveddate" placeholder="Date Received">
                  <mat-datepicker-toggle matSuffix [for]="complaintrcddatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #complaintrcddatepicker></mat-datepicker>
                </mat-form-field>
                <div class="row m-t-10 m-b-20">
                  <div class="col-sm-6">
                    <mat-checkbox class="m-r-20" formControlName="dateRange" (change)="onIncidentDateOptionChange($event.checked, 'range')">Incident Date
                      Range</mat-checkbox>
                  </div>
                </div>
                <div class="row" *ngIf="incidentDateOption==0">
                  <div class="col-sm-8">
                    <mat-form-field>
                      <input required readonly id="allegedoffensedate" matInput appMaskDate [matDatepicker]="picker2" [max]="maxDate" placeholder="Date of Incident "
                        formControlName="allegedoffensedate" (click)="picker2.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field >
                      <input matInput formControlName="allegedoffensetime" id="allegedoffensetime" placeholder="Time" type="time" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" *ngIf="incidentDateOption==2">
                  <div class="col-sm-8">
                    <mat-form-field>
                      <input required readonly matInput formControlName="begindate" [max]="maxDate" appMaskDate [matDatepicker]="picker5"
                        (click)="picker5.open()" placeholder="Incident Date Range Begin">
                      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>

                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput formControlName="begintime" placeholder="Time" type="time" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" *ngIf="incidentDateOption==2">
                  <div class="col-sm-8">
                    <mat-form-field >
                      <input required readonly matInput formControlName="enddate" [max]="maxDate" appMaskDate [matDatepicker]="picker6"
                        (click)="picker6.open()" placeholder="Incident Date Range End">
                      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                      <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput formControlName="endtime" placeholder="Time" type="time" required>
                    </mat-form-field>
                  </div>
                </div>
                <mat-form-field>
                  <mat-select required placeholder="Location Of Incident" formControlName="offencelocationtypekey"
                    required>
                    <mat-option (click)="setLocationOfOffence(item)" *ngFor="let item of evaluationOffenseLocationTypeList$ | async"
                      value="{{item.offencelocationtypekey}}">{{item.description}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Jurisdiction" formControlName="countyid" required>
                    <mat-option (click)="setCounty(item)" *ngFor="let item of mdCountys$ | async" value="{{item.countyid}}">{{item.countyname}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Alleged Incident" formControlName="allegedoffense" multiple>
                    <mat-option *ngFor="let item of offenceCategories$ | async" [value]="item.allegationid">
                      <span matTooltip="{{item.name}}">{{item.name}}</span></mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select required placeholder="Victim" formControlName="victims" multiple style="text-transform: capitalize;">
                      <ng-container *ngFor="let item of victims">
                          <mat-option [value]="item.personid" style="text-transform: capitalize;">{{item.fullName}}</mat-option>
                      </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-8">
                <h4 class="header-bg m-b-10">Narrative</h4>
                <quill-editor formControlName="narrative" [placeholder]="notes" [style]="{height: '250px'}" format="html" > </quill-editor>
              </div>
            </div>
          </div>
        <div *ngIf="!isViewMode" class="text-right big-bot-space right-mspace-15">
          <button type="button" class="btn-pri" *ngIf="this.evalAction !== 'view'" (click)="CreateOrUpdate()">
            <span *ngIf="this.evalAction === 'edit'">Update</span>
            <span *ngIf="this.evalAction === 'add'">Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>