.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}
.m-t-32{
    margin-top: 32px;
}

.btn-icon button {
    outline: none;
    background: none;
    border: none;
}

.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}

.h5-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
}

.modal#purchase-authorization .table > thead th {
    color: #000000 !important;
}

.border {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.justify-area textarea {
    width: 100%;
    border: 1px solid #dddddd;
    min-height: 67px;
}

label {
    font-weight: 400;
}

span {
    font-weight: 700;
}

.modal-content.reject {
    height: 230px !important;
}

.modal-content.update {
    height: 160px !important;
}

.modal .modal-body {
    max-height: 75vh;
}

.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}

.search-box {
    width: 20%;
    position: absolute;
    top:-2%;
    right: 21%;
    margin-top: 02px;
}