<div class="row">
  <div class="col-md-12">
      <div class="table-responsive table-theme mt-20">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Client ID</th>
              <th>Client Account ID</th>
              <th>Client Name</th>
              <th>Accont Number</th>
              <th>Account Balance</th>
            </tr>
          </thead>
          <tbody *ngFor="let alert of conservedAlert">
            <tr>
              <td>{{alert.client_id}}</td>
              <td>{{alert.client_account_id}}</td>
              <td>{{alert.client_name}}</td>
              <td>{{alert.account_no_tx}}</td>
              <td>{{alert.total_balance_no | cjamsCurrency}}</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="text-center" *ngIf="totalcount > 10">
      <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
      </pagination>
    </div>
  </div>
</div>