.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: $mat-header-row-height;
}

.mat-row {
  min-height: $mat-row-height;
}

.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 $mat-row-horizontal-padding;
  box-sizing: border-box;

  &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
  }
}

.mat-cell, 
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.nodata {
  background: #F0F2F4;
}

.inner-tb thead tr th {
  background: #AEBED6;
}

tr.selected-bg {
  background: #00a2fd2b !important
}

mat-form-field .mat-form-field-wrapper {
    padding-bottom: 1em;
}

.m-t-24 {
  margin-top: 24px;
}

.table-theme tr {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}