.table> thead>th{
    color: black;
}


.center {
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: auto;
  }



  div.c {
    text-align: center;
    }
    div.l {
    text-align: left;
    }
    div.r {
    text-align: right;
    } 
    div.j {
    text-align: justify;
    } 