<div class="row">
  <div class="col-md-12">  
      <div class="status">
          <mat-form-field>
              <mat-label>Write-Off Status</mat-label>
              <mat-select [(ngModel)]="writeOffStatus" (change)="statusWriteOffDropDown($event.value)">
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                  {{status.text}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
  <div class="table-responsive table-theme mt-20">
    <table class="table table-striped fixed_header">
      <thead>
        <tr>
          <th>Provider Id</th>
          <th>Provider Name</th>
          <th>Provider Type</th>
          <th>Client Id</th>
          <th>Payment ID</th>
          <th>Receivable ID</th>
          <th>Write-Off Amount</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let provider of writeOffList">
          <td>{{provider.provider_id}}</td>
          <td>{{provider.providername}}</td>
          <td>{{provider.provider_type}}</td>
          <td>{{provider.client_id}}</td>
          <td>{{provider.payment_id}}</td>
          <td>{{provider.receivable_id}}</td>
          <td>{{(provider.written_off_amount_no ? provider.written_off_amount_no : '0.00') | cjamsCurrency}}</td>
          <td *ngIf="provider.write_off_approval_status === '3045'">Pending</td>
          <td *ngIf="provider.write_off_approval_status === '3047'">Approved</td>
          <td *ngIf="provider.write_off_approval_status === '3281'">Denied</td>
          <td *ngIf="!provider.write_off_approval_status"></td>
          <td>
            <button class="open-link no-bg" type="button" matTooltip="Redirect to writeOff" (click)="openProvider(provider)"><i class="open-link fa fa-external-link"></i></button>
          </td>
        </tr>
        <tr *ngIf="writeOffList.length === 0">
          <td colspan="8" style="text-align: center !important;">No Data found.</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="text-center" *ngIf="totalcount > 10">
      <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
      </pagination>
    </div>
</div>