<div class="timeline-section timeline-center pad-top20 clearfix">
  <ul class="list-unstyled">
    <li class="timeline-item timeline-time-item" *ngFor="let data of timeLineViewList">
      <div class="timeline-time">{{data.insertedon | date: 'MM/dd/yyyy, hh:mm a'}}
        <!-- <sup>th</sup> APRIL, 2018 -->
      </div>
      <a *ngIf="data.intakeserviceid && data.servicerequestnumber" [ngClass]="{'disabledField': isClosed}" class="timeline-badge" (click)="openWindow(data)">
        <i class="fa">&#xf103;</i>
      </a>
      <a *ngIf="!data.intakeserviceid && !data.servicerequestnumber" class="timeline-badge bg-gray">
        <i class="fa">&#xf103;</i>
      </a>
      <div class="timeline-panel">
        <h4 class="timeline-tile text-pink">{{data.datype}} {{data.dasubtype ? ','+data.dasubtype : '' }}</h4>
        <p *ngIf="data.datype === 'Intake'">
          <label>Staff :</label>
          <span>{{data.createdby}}</span>
        </p>
        <p *ngIf="data.assignedto && data.datype === 'Intake'">
          <label>Assigned To :</label>
          <span>{{data.assignedto}}</span>
        </p>
        <p *ngIf="data.datype !== 'Intake'">
          <label>Case Worker</label>
          <span>{{data.assignedto}}</span>
        </p>
        <p *ngIf="data.servicerequestnumber">
          <label>Case Number</label>
          <span>{{data.servicerequestnumber}}</span>
        </p>
        <p *ngIf="data.referredto && data.datype !== 'Intake' ">
          <label>Referred To :</label>
          <span>{{data.referredto ? data.referredto: 'NA'}}</span>
        </p>
      </div>
    </li>
  </ul>
</div>