<div *ngIf="!isCaseWorker">
    <div class="container-fluid">
        <h4 class="mrg-top25">Request Service List</h4>
        <div class="dashboard-cont no-pad">
            <div class="tab-horizontal">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#case-pending" data-toggle="tab">PENDING</a>
                    </li>
                    <div class="pull-right" style="width: 150px;">
                        <mat-form-field>
                            <mat-select placeholder="Service Filter" (change)="filterChange($event)" required>
                                <mat-option value="">ALL</mat-option>
                                <mat-option value="SSTA">SSTA</mat-option>
                                <mat-option value="IHAS">IHAS</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ul>
                <div class="tab-content boxgrid">
                    <div class="tab-pane active" id="case-pending">
                        <div class="cnt-min-height">
                            <div class="bs-example">
                                <table class="table" sortable-table (sorted)="onSorted($event)">
                                    <thead>
                                        <tr>
                                            <th sortable-column="intakenumber" sort-direction="desc">Intake Number</th>
                                            <th>service type</th>
                                            <th sortable-column="datereceived">Received Date</th>
                                            <th sortable-column="datereceived">Queue Addition Date</th>
                                            <th>Focus</th>
                                            <th sortable-column="assessmentscore">Score</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!-- <ng-container *ngIf="intakes.length>0; else noItems"> -->
                                        <tr *ngFor="let item of (dashboard$ | async)">
                                            <td>
                                                <a *ngIf="item?.intakenumber" (click)="openIntake(item.intakenumber)">{{ item?.intakenumber }}</a>
                                            </td>
                                            <td>{{ item.requestforservice }}</td>
                                            <td>{{ item.daterecieved | date: 'MM/dd/yyyy, h:mm a' }}</td>
                                            <td>{{ item.insertedon | date: 'MM/dd/yyyy, h:mm a' }}</td>
                                            <td>{{ item.raname | titlecase }}</td>
                                            <td>
                                                <ng-container *ngFor="let ele of getScore(item)">
                                                    <span>{{ ele.titleheadertext }}-{{ ele.score }}</span>
                                                </ng-container>
                                                <!-- <a data-toggle="tooltip" data-placement="bottom" title="" class="badge tip" data-title="getScore(item)">score</a> -->
                                            </td>
                                            <td>
                                                <a data-target="#remove-from-wl" data-toggle="modal" (click)="selectForRemoval(item)">
                                                    <span class="print" title="Remove" data-placement="top" data-original-title="Remove">
                                                        <i aria-hidden="true" class="fa fa-times fa-size"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <!-- </ng-container> -->
                                    </tbody>
                                </table>
                                <ng-template #noItems>
                                    <p class="no-datatxt">No Items!</p>
                                </ng-template>
                                <!-- <div class="text-center m-t-20" *ngIf="totalRecords>0">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                  class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
              </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="remove-from-wl" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <form [formGroup]="intakeDecisionForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Remove And Transfer</h4>
                    </div>
                    <div class="modal-body">
                        <mat-form-field>
                            <textarea matInput formControlName="reason" placeholder="Reason For Removal"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="modal-footer wizard-buttons">
                        <button type="button" value="Cancel" class="btn-pri" name="" data-dismiss="modal">cancel</button>
                        <button type="button" value="Submit" class="btn-pri" name="" (click)="removeFromQueue()">Remove</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isCaseWorker">
    <div class="container-fluid">
        <h4 class="mrg-top25">Request Service List</h4>
        <div class="dashboard-cont no-pad">
            <div class="tab-horizontal">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#case-pending" data-toggle="tab" aria-expanded="true" (click)="changeTab('Pending')">WAITING LIST</a>
                    </li>
                    <li class="">
                        <a href="#case-remove" data-toggle="tab" aria-expanded="true" (click)="changeTab('Remove')">REMOVED</a>
                    </li>
                    <div class="pull-right" style="width: 150px;">
                        <mat-form-field>
                            <mat-select placeholder="Service Filter" (change)="filterChange($event)">
                                <mat-option value="">ALL</mat-option>
                                <mat-option value="SSTAWL">SSTA-Waiting List</mat-option>
                                <mat-option value="SSTAREG">SSTA-Registry</mat-option>
                                <mat-option value="IHASREG">IHAS-Registry</mat-option>
                                <mat-option value="IHASWL">IHAS-Waiting List</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ul>
                <div class="tab-content boxgrid">
                    <div class="tab-pane active" id="case-pending">
                        <div class="cnt-min-height">
                            <div class="bs-example">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>Service Type</th>
                                            <th>Received Date</th>
                                            <th>Queue Addition Date</th>
                                            <th>Focus</th>
                                            <th>Score</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of (dashboard$ | async)">
                                            <td>
                                                <a (click)="navigateToCase(item)">{{ item.servicerequestnumber }}</a>
                                            </td>
                                            <td>{{ item.programtype }}</td>
                                            <td>{{ item.receiveddate | date }}</td>
                                            <td>{{ item.insertedon | date }}</td>
                                            <td>{{ item.displayname }}</td>
                                            <td>
                                                <ng-container *ngFor="let ele of getScore(item)">
                                                    <span>{{ ele.titleheadertext }}-{{ ele.score }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <a data-target="#remove-from-caseworker" data-toggle="modal" (click)="selectForRemoval(item)">
                                                    <span class="print" title="Remove" data-placement="top" data-original-title="Remove">
                                                        <i aria-hidden="true" class="fa fa-times fa-size"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                                        [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                                </div>
                                <!-- <ng-template #noItems>
                      <p class="no-datatxt"> No Items! </p>
                    </ng-template> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="case-remove">
                      <div class="cnt-min-height">
                        <div class="bs-example">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Case Number</th>
                                        <th>Service Type</th>
                                        <th>Received Date</th>
                                        <th>Queue Addition Date</th>
                                        <th>Focus</th>
                                        <th>Score</th>
                                        <th>Removal Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of (dashboard$ | async)">
                                        <td>
                                            <a (click)="navigateToCase(item)">{{ item.servicerequestnumber }}</a>
                                        </td>
                                        <td>{{ item.programtype }}</td>
                                        <td>{{ item.receiveddate | date }}</td>
                                        <td>{{ item.insertedon | date }}</td>
                                        <td>{{ item.displayname }}</td>
                                        <td>
                                            <ng-container *ngFor="let ele of getScore(item)">
                                                <span>{{ ele.titleheadertext }}-{{ ele.score }}</span>
                                            </ng-container>
                                        </td>
                                        <td>{{ item.removalreason }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                                    [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                            </div>
                            <!-- <ng-template #noItems>
                  <p class="no-datatxt"> No Items! </p>
                </ng-template> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="remove-from-caseworker" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <form [formGroup]="decisionForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="clearForm()" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Remove And Transfer</h4>
                    </div>
                    <div class="modal-body">
                        <mat-form-field>
                            <mat-select formControlName="removalreasontypekey" (change)="changeToOther($event.value)" placeholder="Reason For Removal">
                                <mat-option *ngFor="let item of (resonDetails$ | async)" [value]="item.value">{{ item.text }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="showOther">
                            <textarea matInput formControlName="removalreasonother" placeholder="Other Reason For Removal"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="modal-footer wizard-buttons">
                        <button type="button" value="Cancel" class="btn-pri" name="" data-dismiss="modal" (click)="clearForm()">Cancel</button>
                        <button type="button" value="Submit" class="btn-pri" name="" data-dismiss="modal" [disabled]="decisionForm.invalid" (click)="saveRemovalReason(decisionForm.value)">Remove</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
