<!-- <div class="col-sm-12 col-md-12 col-lg-12">
  <div class="text-right mrg-btm10">
      <button (click)="print()" class="btn-pri">
          Status/Disposition</button>
  </div>
</div> -->
<div id="print-content">
<h4 class="text-center m-t-30 m-b-20">Monthly Report and Invoice of In-Home Aide Services Provided </h4>
<div [formGroup]="clientDetailsForm">
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
          <mat-form-field>
            <input matInput formControlName="clientName" placeholder="Client Name" >
          </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <input matInput formControlName="clientID" placeholder="Client ID Number" >
        </mat-form-field>
      </div>
      <div class="col-xs-4">
        <mat-form-field>
          <input matInput formControlName="reportedmonthyear" placeholder="MONTH/YEAR" >
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="MONTH/YEAR">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
      </div>
    </div>
  </div>
  <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <mat-form-field>
            <input matInput formControlName="providername" placeholder="Provider/Vendor Legal Name" >
          </mat-form-field>
        </div>
        <div class="col-xs-4">
          <mat-form-field>
            <input matInput formControlName="providerssn" placeholder="Provider FEIN or SSN" >
          </mat-form-field>
        </div>
        <div class="col-xs-4">
          <mat-form-field>
            <input matInput formControlName="provideraddress" placeholder="Provider Street Address" >
          </mat-form-field>
        </div>
        <div class="col-xs-4">
            <mat-form-field>
              <input matInput formControlName="providercity" placeholder="Provider City" >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <input matInput formControlName="providerstate" placeholder="State" >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <input matInput formControlName="providerzipcode" placeholder="Zip Code" zipcodeOnly (focusout)="onChange($event)" >
            </mat-form-field>
          </div>
          <div class="col-xs-4">
            <mat-form-field>
              <input matInput formControlName="providerphoneno" placeholder="Telephone Number" >
            </mat-form-field>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 m-t-20">
    <p><strong>Please indicate the appropriate Project Category code</strong> </p>
    <ul class="list-unstyled list-inline">
      <li class="m-r-50"><mat-checkbox formControlName="categoryihasfamily">04M1 IHAS Families</mat-checkbox></li>
      <li class="m-r-50"><mat-checkbox formControlName="categoryihasadults">04M2 IHAS - Adults</mat-checkbox></li>
      <li class="m-r-50"><mat-checkbox formControlName="categoryeligible">04M3  Eligible, not receiving</mat-checkbox></li>
      <li class="m-r-50"><mat-checkbox formControlName="categoryihasanothereservice">04M4 IHAS and Another Service</mat-checkbox></li>
    </ul>
  </div>
  <div class="col-xs-12 m-t-10">
      <p><strong>Please check the appropriate Provider Type</strong></p>
      <ul class="list-unstyled list-inline">
        <li class="m-r-50"><mat-checkbox formControlName="providerihasfamily">LDSS Parent Aide</mat-checkbox></li>
        <li class="m-r-50"><mat-checkbox formControlName="providerihasadults">DSS Aide Service</mat-checkbox></li>
        <li class="m-r-50"><mat-checkbox formControlName="providereligible">Individual Provider </mat-checkbox></li>
        <li class="m-r-50"><mat-checkbox formControlName="providerihasanothereservice">Vendor</mat-checkbox></li>
      </ul>
    </div>
</div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
          <p class="table-highlight"><em>TIme Indicated in hours for each. 
            <span class="m-l-10 m-r-20">1 = 1 hour</span>
            <span class="m-l-10">.5 = 1/2 hour</span></em></p>
      </div>
    </div>
    <div class="table-theme table-responsive checklist-table">
      <table class="table table-striped table-bordered">
          <thead></thead>
          <tbody [formGroup]="aideTableForm">
              <tr formGroupName="aideTimeIn">
                  <td>AIDE TIME IN</td>
                  <td><input type="text" formControlName="day01"></td>
                  <td><input type="text" formControlName="day02"></td>
                  <td><input type="text" formControlName="day03"></td>
                  <td><input type="text" formControlName="day04"></td>
                  <td><input type="text" formControlName="day05"></td>
                  <td><input type="text" formControlName="day06"></td>
                  <td><input type="text" formControlName="day07"></td>
                  <td><input type="text" formControlName="day08"></td>
                  <td><input type="text" formControlName="day09"></td>
                  <td><input type="text" formControlName="day10"></td>
                  <td><input type="text" formControlName="day11"></td>
                  <td><input type="text" formControlName="day12"></td>
                  <td><input type="text" formControlName="day13"></td>
                  <td><input type="text" formControlName="day14"></td>
                  <td><input type="text" formControlName="day15"></td>
                  <td><input type="text" formControlName="day16"></td>
                  <td><input type="text" formControlName="day17"></td>
                  <td><input type="text" formControlName="day18"></td>
                  <td><input type="text" formControlName="day19"></td>
                  <td><input type="text" formControlName="day20"></td>
                  <td><input type="text" formControlName="day21"></td>
                  <td><input type="text" formControlName="day22"></td>
                  <td><input type="text" formControlName="day23"></td>
                  <td><input type="text" formControlName="day24"></td>
                  <td><input type="text" formControlName="day25"></td>
                  <td><input type="text" formControlName="day26"></td>
                  <td><input type="text" formControlName="day27"></td>
                  <td><input type="text" formControlName="day28"></td>
                  <td><input type="text" formControlName="day29"></td>
                  <td><input type="text" formControlName="day30"></td>
                  <td><input type="text" formControlName="day31"></td>
                </tr>
            <tr>
              <td>Tasks/Day of Month</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr>
            <tr formGroupName="choreOnly">
              <td>Chore Only</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="personalCareOnly">
              <td>Personal Care Only</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="heavyChore">
              <td>Heavy Chore</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="trasportationGeneral">
              <td>Trasportation/Escort General</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="trasportationMedical">
              <td>Trasportation/Escort Medical</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="therapeuticParentAide">
              <td>Therapeutic Parent Aide</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="therapeuticAdultAide">
              <td>Therapeutic Adult Aide</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="respiteCare">
              <td>Respite Care</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="otherClientRelatedServices">
              <td>Other Client Related Services</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="totalDirectServiceHours">
              <td>Total Direct Service Hours</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="aideTravelHours">
              <td>Aide Travel Hours</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="aideHoursMiscellaneousAdmin">
              <td>Aide Hours Miscellaneous Admin(Optional)</td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="indicateCodesforTasksPerformed">
              <td>Indicate Codes(s) for Tasks Performed <small><em>Refer to Code List on Back</em></small></td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
            <tr formGroupName="aideTimeOut">
              <td>AIDE <strong>TIME OUT</strong></td>
              <td><input type="text" numberOnly formControlName="day01"></td>
              <td><input type="text" numberOnly formControlName="day02"></td>
              <td><input type="text" numberOnly formControlName="day03"></td>
              <td><input type="text" numberOnly formControlName="day04"></td>
              <td><input type="text" numberOnly formControlName="day05"></td>
              <td><input type="text" numberOnly formControlName="day06"></td>
              <td><input type="text" numberOnly formControlName="day07"></td>
              <td><input type="text" numberOnly formControlName="day08"></td>
              <td><input type="text" numberOnly formControlName="day09"></td>
              <td><input type="text" numberOnly formControlName="day10"></td>
              <td><input type="text" numberOnly formControlName="day11"></td>
              <td><input type="text" numberOnly formControlName="day12"></td>
              <td><input type="text" numberOnly formControlName="day13"></td>
              <td><input type="text" numberOnly formControlName="day14"></td>
              <td><input type="text" numberOnly formControlName="day15"></td>
              <td><input type="text" numberOnly formControlName="day16"></td>
              <td><input type="text" numberOnly formControlName="day17"></td>
              <td><input type="text" numberOnly formControlName="day18"></td>
              <td><input type="text" numberOnly formControlName="day19"></td>
              <td><input type="text" numberOnly formControlName="day20"></td>
              <td><input type="text" numberOnly formControlName="day21"></td>
              <td><input type="text" numberOnly formControlName="day22"></td>
              <td><input type="text" numberOnly formControlName="day23"></td>
              <td><input type="text" numberOnly formControlName="day24"></td>
              <td><input type="text" numberOnly formControlName="day25"></td>
              <td><input type="text" numberOnly formControlName="day26"></td>
              <td><input type="text" numberOnly formControlName="day27"></td>
              <td><input type="text" numberOnly formControlName="day28"></td>
              <td><input type="text" numberOnly formControlName="day29"></td>
              <td><input type="text" numberOnly formControlName="day30"></td>
              <td><input type="text" numberOnly formControlName="day31"></td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <mat-form-field>
          <input matInput placeholder="Client or Caregiver Signature">
        </mat-form-field>
      </div>
  </div>
  </div>
  <div class="col-xs-6 col-xs-offset-3 m-t-30">
    <div class="table-responsive table-theme monthlyTable">
      <table [formGroup]="calculationTableForm" class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th># of Hours</th>
            <th>Rate</th>
            <th>Total = # of Hours * Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chore Only</td>
            <td><input type="text" formControlName="choreOnly"></td>
            <td><input type="text" formControlName="choreOnlyRate"></td>
            <td><input type="text" formControlName="choreOnlyTotal"></td>
          </tr>
          <tr>
            <td>Personal Care Only</td>
            <td><input type="text" formControlName="personalCareOnly"></td>
            <td><input type="text" formControlName="personalCareOnlyRate"></td>
            <td><input type="text" formControlName="personalCareOnlyTotal"></td>
          </tr>
          <tr>
            <td>Heavy Chore</td>
            <td><input type="text" formControlName="heavyChore"></td>
            <td><input type="text" formControlName="heavyChoreRate"></td>
            <td><input type="text" formControlName="heavyChoreTotal"></td>
          </tr>
          <tr>
            <td>General Trasportation - Escort</td>
            <td><input type="text" formControlName="trasportationGeneral"></td>
            <td><input type="text" formControlName="trasportationGeneralRate"></td>
            <td><input type="text" formControlName="trasportationGeneralTotal"></td>
          </tr>
          <tr>
            <td>Medical Trasportation - Escort</td>
            <td><input type="text" formControlName="trasportationMedical"></td>
            <td><input type="text" formControlName="trasportationMedicalRate"></td>
            <td><input type="text" formControlName="trasportationMedicalTotal"></td>
          </tr>
          <tr>
            <td>Therapeutic Parent Aide</td>
            <td><input type="text" formControlName="therapeuticParentAide"></td>
            <td><input type="text" formControlName="therapeuticParentAideRate"></td>
            <td><input type="text" formControlName="therapeuticParentAideTotal"></td>
          </tr>
          <tr>
            <td>Therapeutic Adult Aide</td>
            <td><input type="text" formControlName="therapeuticAdultAide"></td>
            <td><input type="text" formControlName="therapeuticAdultAideRate"></td>
            <td><input type="text" formControlName="therapeuticAdultAideTotal"></td>
          </tr>
          <tr>
            <td>Respite Care</td>
            <td><input type="text" formControlName="respiteCare"></td>
            <td><input type="text" formControlName="respiteCareRate"></td>
            <td><input type="text" formControlName="respiteCareTotal"></td>
          </tr>
          <tr>
            <td>P.O.S.Miles</td>
            <td><input type="text" formControlName="otherClientRelatedServices"></td>
            <td><input type="text" formControlName="otherClientRelatedServicesRate"></td>
            <td><input type="text" formControlName="otherClientRelatedServicesTotal"></td>
          </tr>
          <tr>
            <td style="text-align:right;" colspan="3">Total Invoice Amount</td>
            <td><input type="text" [value]="totalAmount" disabled></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row m-t-30" [formGroup]="clientDetailsForm">
      <div class="col-xs-6">
        <mat-form-field>
          <input matInput formControlName="pca" placeholder="PCA">
        </mat-form-field>
      </div>
      <div class="col-xs-6">
        <mat-form-field>
          <input matInput formControlName="agencyobject" placeholder="Agency Object">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-xs-12 m-t-30">
      <div class="row" [formGroup]="clientDetailsForm">
        <div class="col-xs-4 col-xs-offset-8">
            <div class="col-xs-6">
                <mat-form-field>
                    <input matInput formControlName="aidesignature" placeholder="AIDE Signature">
                </mat-form-field>
            </div>
            <div class="col-xs-6">
                <mat-form-field>
                    <input matInput formControlName="aidesignaturedate" [matDatepicker]="picker2" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-xs-6" >
            <div class="col-xs-6">
                <mat-form-field>
                  <input matInput formControlName="ldsssignature" placeholder="LDSS Supervisor Signature (Approval)">
                </mat-form-field>
            </div>
            <div class="col-xs-6">
                <mat-form-field>
                  <input matInput formControlName="ldsssignaturedate" [matDatepicker]="picker3" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
            <mat-form-field>
              <input matInput formControlName="accountclerksign" placeholder="Fiscal Account Clerk Signature (As Applicable)">
            </mat-form-field>
        </div>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h4 class="text-left m-t-30 m-b-20">Monthly Report Signature - Verification Form</h4>
  </div>
  <div class="col-xs-12 pad">
    <p>I, <span class="brd-btm1"><b>{{caseWorkerName.user.username}}</b></span>, acknowledge that I am responsible for signing the Monthly Report Form each time In-Home Aide Services are provided. If I am signing as a caregiver, my signature is related to the services provided to <span class="brd-btm1"><b>{{involvedPersons?.firstname + ' ' + involvedPersons?.lastname}}</b></span>. My signature verifies that I have reviewed and I am in agreement with the information recorded on the Monthly Report Form provided to me by the In-Home Aide who rendered In-Home Aide Service on that day.</p>
    <p class="m-t-20 m-b-20"><em>For the purpose of the 503 form, the mark/signature that will appear to indicate I am in agreement with the documented information on that day is:</em></p>
  </div>
  <div class="col-xs-12 m-t-30" [formGroup]="clientDetailsForm">
      <div class="row">
          <div class="col-xs-3 col-xs-offset-7">
              <mat-form-field>
                  <input matInput formControlName="caregiversignature" placeholder="Client/Caregiver  Signature">
                </mat-form-field>
          </div>
          <div class="col-xs-2">
              <mat-form-field>
                  <input matInput formControlName="caregiversigndate" [matDatepicker]="picker4" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
          </div>
      </div>    
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <h4 class="text-left m-t-30 m-b-20">Codes List For Tasks Performed</h4>
      <mat-checkbox class="code-list-checkbox" (change)="showListInstruction($event)">Code List & Instruction</mat-checkbox>
      <div *ngIf="showListInstrction">
        <div class="table-responsive table-theme taskCode">
          <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th colspan="2">Chores</th>
                  <th colspan="2">Personal Care</th>
                  <th colspan="2">Heavy Chore</th>
                  <th colspan="2">Therapeutic Aide  Parent/Adult</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Task</td>
                  <td>Code #</td>
                  <td>Task</td>
                  <td>Code #</td>
                  <td>Task</td>
                  <td>Code #</td>
                  <td>Task</td>
                  <td>Code #</td>
                </tr>
                <tr>
                  <td>Make / Change bed</td>
                  <td>1</td>
                  <td>Bathing</td>
                  <td>9</td>
                  <td>Trash Removal</td>
                  <td>21</td>
                  <td>Assit with paying bills</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td> Vacuum / sweep / mop floor</td>
                  <td>2</td>
                  <td>Hair Care</td>
                  <td>10</td>
                  <td>Deep carpet cleaning</td>
                  <td>22</td>
                  <td>Assit with budgeting</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>Tidy living areas / empty trash</td>
                  <td>3</td>
                  <td>Oral Care</td>
                  <td>11</td>
                  <td>Washing walls</td>
                  <td>23</td>
                  <td>Teaching tasks</td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>Wash dishes / clean kitchen appliances</td>
                  <td>4</td>
                  <td>Toileting</td>
                  <td>12</td>
                  <td>Appliance/Oven cleaning</td>
                  <td>24</td>
                  <td>Role modeling behavior</td>
                  <td>28</td>
                </tr>
                <tr>
                  <td>Laundry</td>
                  <td>5</td>
                  <td>Skin Care</td>
                  <td>13</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Plan/Prepare B L D S / Shop for food</td>
                  <td>6</td>
                  <td>Nail Care</td>
                  <td>14</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Assist with:  budgeting / paying bills</td>
                  <td>7</td>
                  <td>Dressing/Clothing</td>
                  <td>15</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Care of Assistive Devices</td>
                  <td>8</td>
                  <td>Feeding/Eating</td>
                  <td>16</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Change Position</td>
                  <td>17</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Transferring/Walking</td>
                  <td>18</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Exercise</td>
                  <td>19</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Simple Range of motion</td>
                  <td>20</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="table-responsive table-theme m-t-30">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Instruction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Client Name</td>
                      <td>Print/type client name</td>
                    </tr>
                    <tr>
                      <td>Client ID Number</td>
                      <td>Print/type client ID #</td>
                    </tr>
                    <tr>
                      <td>Month/Year</td>
                      <td>Indicate the Month and Year information on the form.</td>
                    </tr>
                    <tr>
                      <td>Provider/Vendor Name</td>
                      <td>Indicate the Name of the Aide providing services and the name of their Agency.</td>
                    </tr>
                    <tr>
                      <td>Provider FEIN or SSN</td>
                      <td>Applicable for vendor agencies.</td>
                    </tr>
                    <tr>
                      <td>Provider Street Address</td>
                      <td>Street or mailing address</td>
                    </tr>
                    <tr>
                      <td>Provider City, State Zip</td>
                      <td>Indicate city, state and zip code of the provider's agency. </td>
                    </tr>
                    <tr>
                      <td>Telephone Number</td>
                      <td>Contact number for providers agency.</td>
                    </tr>
                    <tr>
                      <td>Project Category Code</td>
                      <td>Indicate the Code the case is opened in as related to Client Informatin System.</td>
                    </tr>
                    <tr>
                      <td>Provider Type</td>
                      <td>Indicate the type of provider: LDSS Parent Aide for parent aide services provided by the Local DSS, DSS Aide Service for all aide services provided by the local DSS not considered parent aide services, Individual Provider for aide services provided to the client by a provider they have identified and have an agreement for services and Vendor for any aide service provided by an aide employed by a Vendor Agency. </td>
                    </tr>
                    <tr>
                      <td>Aide Time In</td>
                      <td>Aide indicates the time of arrival to the clients home on the day of the month represented under the block being filled in. </td>
                    </tr>
                    <tr>
                      <td>Tasks/Day of the Month</td>
                      <td>Identifies the general categories of services the aide may provide and the day of the month those indicated services where performed. </td>
                    </tr>
                    <tr>
                      <td>Chore Only</td>
                      <td>Indicate in hours the time spent by the aide providing or assisting with chores.</td>
                    </tr>
                    <tr>
                      <td>Personal Care Only</td>
                      <td>Indicate in hours the time spent by the aide providing or assisting with personal care.</td>
                    </tr>
                    <tr>
                      <td>Heavy Chore</td>
                      <td>Indicate in hours the time spent by the aide providing or assisting with heavy chore tasks.</td>
                    </tr>
                    <tr>
                      <td>Transporation/Escort General</td>
                      <td>Indicate in hours the time spent by the aide providing or assisting with transporation to destinations not related to medical needs.</td>
                    </tr>
                    <tr>
                      <td>Transporation/Escort Medical</td>
                      <td>Indicate in hours the time spent by the aide providing or assisting with transporation to destinations related to medical needs (doctor appt etc).</td>
                    </tr>
                    <tr>
                      <td>Therapeutic Parent Aide</td>
                      <td>Indicate in hours the time spent by the aide providing therapeutic parent aide services to a families with children.</td>
                    </tr>
                    <tr>
                      <td>Therapeutic Adult Aide</td>
                      <td>Indicate in hours the time spent by the aide providing therapeutic aide services to an adult client.</td>
                    </tr>
                    <tr>
                      <td>Respite Care</td>
                      <td>Indicate in hours the time spent by the aide providing respite care to the client.</td>
                    </tr>
                    <tr>
                      <td>Other Client Related Services</td>
                      <td>Indicate in hours the time spent by the aide providing aide services that are not indicated the categories above.</td>
                    </tr>
                    <tr>
                      <td>Other Client Related Services</td>
                      <td>Indicate in hours the total amount of time the aide spent that day providing all aide services combined.</td>
                    </tr>
                    <tr>
                      <td>Aide Travel Time</td>
                      <td>Indicate in hours the total amount of time the aide spent traveling to and from the client home.</td>
                    </tr>
                    <tr>
                      <td>Aide Hours for Miscellaneous</td>
                      <td>Indicate in hours the total amount of time the aide spent on that day completing tasks related to the clients case not related to direct client care. (may include paperwork, training)</td>
                    </tr>
                    <tr>
                      <td>Indicate Codes for Tasks Performed</td>
                      <td>Indicate in this space all tasks performed on that day with the client. (codes can be found on the back of the form or under the Code list tab in the excel worksheet)</td>
                    </tr>
                    <tr>
                      <td>Aide Time Out</td>
                      <td>Aide indicates the time the aide departed from the clients home on that day.</td>
                    </tr>
                    <tr>
                      <td>Client/Caregiver Signature</td>
                      <td>Client or their caregiver signs the form each day aide service is provided to them indicating they are in agreement with the information filled in on that day. </td>
                    </tr>
                    <tr>
                      <td>Invoice Section</td>
                      <td>To populate this section the aide will transfer the information documented on the hard copy of the form with the clients signature to the excel version of the form. </td>
                    </tr>
                    <tr>
                      <td>AIDE Signature</td>
                      <td>After printing the completed excel form the aide will attach a copy of the coinsiding form that shows the clients signature and sign the excel version prior to turning the form into their supervisor. </td>
                    </tr>
                    <tr>
                      <td>LDSS Supervisor Signature</td>
                      <td>The local DSS IHAS supervisor will sign the form after verify that the services indicated match the services scheduled for the client during that month. </td>
                    </tr>
                    <tr>
                      <td>Fiscal Account Clerk Signature</td>
                      <td>The local DSS Fiscal Officer will sign the form after verify the information on the form as applicable to that Local departments processing of IHAS services.</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    <button type="submit" class="btn-pri pull-right m-t-20 m-b-20" (click)="saveMonthlyReport('Complete')">Complete</button>
    <button type="submit" class="btn-pri pull-right m-t-20 m-b-20" (click)="saveMonthlyReport('Draft')">Save</button>
    <button type="submit" class="btn-pri pull-right m-t-20 m-b-20" (click)="printReport()">Print</button>
  </div>
  <div class="col-xs-12">
      <div class="col-xs-6 col-xs-offset-3 m-t-30" *ngIf="reportListDetails$ | async; let reportListDetails">
          <div class="table-responsive table-theme" *ngIf="reportListDetails.length">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>S.no</th>
                      <th>Inserted On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reportListDetails; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{report.insertedon | date: 'MM/dd/yyyy HH:MM'}}</td>
                      <td><span *ngIf="report.reportstatus === 'Draft'" title="Edit"
                        data-original-title="Edit" (click)="editReport(report, 'edit')">
                        <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                    </span>
                    <span title="View"
                    data-original-title="View" (click)="editReport(report, 'view')">
                    <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                </span></td>
                    </tr>
                  </tbody>
              </table>
          </div>            
      </div>
  </div>
</div>
