<div *ngIf="showView">
  <div  class="row fill-data">
    <div class="col-md-12 col-sm-12">
      <h4>Document Details</h4>
    </div>
    <div class="col-md-6 col-sm-12 mb-10">
      <div class="fm-box">
        <label class="zero">Title:</label>
        <p>{{document.title}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Type:</label>
        <p>{{(subDocument$ | async)?.attachmenttypekey}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Document Identifier:</label>
        <p>{{document.documentidentifier}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Document Date:</label>
        <p>{{document.receiveddate | date:'MM/dd/yyyy'}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Note:</label>
        <p>{{(subDocument$ | async)?.note}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Classification Identifier:</label>        
      </div>
      <div class="fm-box">
        <label class="control control--checkbox">Exhibit
          <input type="checkbox" [checked]="(subDocument$ | async)?.attachmentclassificationtypekey === 'Exhibit'">
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Template
          <input type="checkbox" [checked]="(subDocument$ | async)?.attachmentclassificationtypekey === 'Template'">
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox ">Locked
          <input type="checkbox" [checked]="(subDocument$ | async)?.attachmentclassificationtypekey === 'Locked'">
          <div class="control__indicator"></div>
        </label>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="fm-box">
        <label class="zero">Created By:</label>
        <p>{{(subDocument$ | async)?.Userprofile.fullname}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Created Date:</label>
        <p>{{(subDocument$ | async)?.insertedon | date:'MM/dd/yyyy'}}</p>
      </div>
      <div class="fm-box">
        <label class="zero">Received Date:</label>
        <p>{{document.receiveddate | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
  </div>
  <hr>
  <!-- <div *ngFor="let a of subDocument$| async">{{a}}
  </div> -->

  <div class="row fill-data mrg-btm25">
    <div class="col-md-6 col-sm-12 mb-10">
      <div class="fm-box">
        <label class="zero">Source/Author:</label>
        <p>{{(subDocument$ | async)?.sourceauthor}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Address:</label>
        <p>{{(subDocument$ | async)?.sourceaddress}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Subject:</label>
        <p>{{(subDocument$ | async)?.attachmentsubject}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Acquisition Method:</label>
        <p>{{(subDocument$ | async)?.acquisitionmethod}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Location of Original:</label>
        <p>{{(subDocument$ | async)?.locationoforigin}} </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="fm-box">
        <label class="zero">Position:</label>
        <p>{{(subDocument$ | async)?.sourceposition}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Phone Number:</label>
        <p>{{(subDocument$ | async)?.sourcephonenumber}} </p>
      </div>
      <div class="fm-box">
        <label class="zero">Purpose:</label>
        <p>{{(subDocument$ | async)?.attachmentpurpose}} </p>
      </div>
    </div>
  </div>
</div>