
.icon-list {
    margin-bottom: 0;
}
.icon-list li {
    border: none !important;
    padding: 0 5px !important;
    cursor: pointer;
}
.profile-header-image, .profile-header-image img {
    width:75px;
    height:75px;
    /* background-image: url('/assets/images/ic_silhouette.png');
    background-size: cover; */
  }

  .brd-lft:before {
    position: absolute;
    content: "";
    border-left: 5px solid #e0e8f8;
    display: block;
    height: 100%;
    left: -30px;
}
