.legal-div, 
.parental-right-div {
	position: relative;
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.boder-btm {
	border-bottom: 2px solid #e0e8f8;
}

.semi-b {
	font-weight: 600;
}

.panel-heading.selected-child { 
    background: #c2dff0 !important;
}

.person-panel .panel-body {
    min-height: 150px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}


.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}