<div class="box-grid-main clsMinHeight clearfix">
   <div *ngIf="isQA" class="col-sm-12 text-right icon m-t-10">
       <button type="submit" class="btn-pri" data-toggle="modal" (click)="openChangeRequest()"
          data-target="#change-request"> Create Change Request </button>
    </div>
   <div class="row">
       <div class="col-md-12 m-t-20">
           <div class="table-responsive table-theme">
               <table class="table table-striped">
                   <thead>
                     <tr>
                         <th>Request Number </th>
                         <th>Request Type </th>
                         <!-- <th>Provider ID</th> -->
                         <th>Program Name</th>
                         <!-- <th>Site ID</th> -->
                         <th>Program Type</th>
                         <th>License Number</th>
                         <th>Status</th>
                         <th>Action</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor="let list of requestList">
                         <td>
                             <a [routerLink]="['/pages/provider-management/provider-request-management', list?.request_no]">{{list.request_no}}</a>
                         </td>
                         <!-- <td>{{list.request_no}}</td> -->
                         <td>{{list.request_type}}</td>
                         <!-- <td>{{list.provider_id}}</td>
                         <td>{{list.site_id}}</td> -->
                         <td>{{list.program_name}}</td>
                         <td>{{list.program_type}}</td>
                         <td>{{list.license_no}}</td>
                         <td>{{list.remarks}}</td>
                         <td>
                           <button data-toggle="modal" *ngIf = " list.remarks === 'Approved' || list.remarks === 'Rejected' "
                               (click)="downloadChangeRequest(list)" matTooltip='Download' target="_blank" class="m-r-20 no-bg" [disabled]=disableClosureReject(list)>
                                 <i class="fa fa-download text-16"></i>
                         </button>
                         </td>
                     </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
</div>

<div class="modal fade in" id="change-request" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()"> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">Change Request</h4>
         </div>
         <div [formGroup]="changeRequestForm">
            <div class="row">
               <div class="col-md-12">
                  <div class="modal-body ">
                     <div class="row">
                        <div class="col-md-6">
                           <mat-form-field>
                              <mat-select placeholder="Request Type" formControlName="request_type"
                                 (change)="selectRequestType($event.value)">
                                 <mat-option *ngFor="let item of requestType" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field>
                              <input type="text" matInput formControlName="license_no" placeholder="License Number">
                           </mat-form-field>
                           <mat-form-field *ngIf="hasFormSignature">
                              <input type="text" matInput formControlName="program_address"
                                 placeholder="Program Address">
                           </mat-form-field>

                           <div *ngIf="isLicenseChange" class="m-t-15">
                              <mat-card>
                                 <h3>Existing License Information</h3>
                                 <mat-form-field>
                                    <input type="text" [readonly]="true"  matInput formControlName="min_age_from"
                                       placeholder="Min Age">
                                 </mat-form-field>
                                 <mat-form-field>
                                    <input type="text" [readonly]="true"  matInput formControlName="max_age_from"
                                       placeholder="Max Age">
                                 </mat-form-field>
                                 <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select disabled formControlName="gender_from">
                                       <ng-container *ngFor="let item of genderList">
                                          <mat-option  [value]="item.description">
                                                {{item.description}}
                                            </mat-option>
                                       </ng-container>
                                    </mat-select>
                                 </mat-form-field>
                                 <mat-form-field>
                                    <input type="text" [readonly]="true"   matInput formControlName="children_no_from"
                                       placeholder="Capacity">
                                 </mat-form-field>
                              </mat-card>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <mat-form-field *ngIf="isWaiver">
                              <input type="text" matInput formControlName="comar_citation"
                                 placeholder="COMAR Citation to be wavied">
                           </mat-form-field>
                           <mat-form-field *ngIf="isVariance">
                              <input type="text" matInput formControlName="comar_citation"
                                 placeholder="COMAR Citation to be varied">
                           </mat-form-field>
                           <mat-form-field>
                              <mat-select placeholder="Select program site" formControlName="site_id"
                                 (change)="changeSiteId($event)" required>
                                 <mat-option *ngFor="let item of availableSiteList" value="{{item.value}}">
                                    {{item.text}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <div class="m-t-30" *ngIf="isLicenseChange || isLicenseExtend">
                             License Expiry Date : {{selectedSiteLicenseInformation?.license_expiry_dt | date : 'MM/dd/yyyy'}}
                           </div>
                           <div *ngIf="isLicenseChange" class="m-t-30">
                              <h3><br><br></h3>
                              <mat-card>
                                 <h3>License Information to be Changed</h3>
                                 <mat-form-field>
                                    <input type="number" [min]="0" [max]="100" matInput formControlName="min_age_to" placeholder="Min Age">
                                 </mat-form-field>
                                 <mat-form-field>
                                    <input type="number" [min]="0" [max]="100" matInput formControlName="max_age_to" placeholder="Max Age">
                                 </mat-form-field>
                                 <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender_to">
                                       <ng-container *ngFor="let item of genderList">
                                          <mat-option  *ngIf="item.description !== 'Both'"  [value]="item.description">
                                                {{item.description}}
                                            </mat-option>
                                       </ng-container>
                                    </mat-select>
                                 </mat-form-field>
                                 <mat-form-field>
                                    <input type="number" [min]="0"  matInput formControlName="children_no_to" placeholder="Capacity">
                                 </mat-form-field>
                              </mat-card>
                           </div>
                        </div>
                     </div>
                     <div class="row" *ngIf="hasFormSignature">
                        <div class="panel-heading">
                           <div class="media">
                              <div class="media-body">
                                 <h4>Program Information</h4>
                              </div>
                           </div>
                        </div>

                        <div class="col-sm-6">
                           <mat-form-field>
                              <input type="text" mask="(000) 000-0000" matInput formControlName="program_phone"
                                 placeholder="Program Telephone Number">
                           </mat-form-field>
                           <mat-form-field>
                              <input type="text" mask="(000) 000-0000" matInput formControlName="program_fax"
                                 placeholder="Fax Number">
                           </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                           <!-- <mat-form-field>
                                       <mat-select placeholder="State" formControlName="state" required>
                                          <mat-option *ngFor="let item of stateList$ | async"
                                             value="{{item.ref_key}}">
                                             {{ item.description }}</mat-option>
                                       </mat-select>
                                 </mat-form-field>
                                 <mat-form-field> <input formControlName="city" type="text" matInput placeholder="City"
                                       required />
                                 </mat-form-field>
                                 <mat-form-field>
                                       <input type="text" matInput placeholder="Zip Code" formControlName="zip_no" zipcodeOnly
                                          maxlength="5" minlength="5" required />
                                 </mat-form-field> -->
                           <mat-form-field *ngIf="isVariance">
                              <mat-select placeholder="Select the Appropriate Request Category"
                                 formControlName="variance_type" required>
                                 <mat-option *ngFor="let item of variancetypeList" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <mat-form-field *ngIf="isWaiver">
                              <mat-select placeholder="Select the Appropriate Request Category"
                                 formControlName="waiver_type" required>
                                 <mat-option *ngFor="let item of waivertypeList" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                           <common-date-picker [max]="maxDate" [required]='true' formControlName="request_date"
                              placeholder="Date"></common-date-picker>
                        </div>
                     </div>
                     <mat-form-field *ngIf="hasFormSignature">
                        <textarea type="text" formControlName="completing_person_name" matInput
                           placeholder="Name/Title of Person Completing Request"></textarea>
                     </mat-form-field>
                     <div class="row" *ngIf="hasFormSignature">
                        <div class="panel-heading">
                           <div class="media">
                              <div class="media-body">
                                 <h5>If this request is person-specific complete the following:</h5>
                              </div>
                           </div>
                        </div>

                        <div class="col-sm-4">
                           <mat-form-field>
                              <input type="text" matInput formControlName="person_name" placeholder="Name">
                           </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                           <common-date-picker [max]="maxDate" formControlName="dob" placeholder="Date of Birth">
                           </common-date-picker>
                        </div>
                        <div class="col-sm-4">
                           <mat-form-field>
                              <mat-select placeholder="Gender" formControlName="gender">
                                 <ng-container *ngFor="let item of genderList">
                                    <mat-option *ngIf="item.description !== 'Both'" [value]="item.description">
                                          {{item.description}}
                                      </mat-option>
                                      </ng-container>
                              </mat-select>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-form-field *ngIf="isVariance">
                        <textarea type="text" formControlName="reason_for_request_variance" matInput
                           placeholder="Reason(s) why the variance is required:"></textarea>
                     </mat-form-field>
                     <mat-form-field *ngIf="isWaiver">
                        <textarea type="text" formControlName="reason_for_request_waiver" matInput
                           placeholder="Reason(s) why the waiver is required:"></textarea>
                     </mat-form-field>
                     <mat-form-field *ngIf="isVariance">
                        <textarea type="text" formControlName="alternate_measures" matInput
                           placeholder="Alternate measures that will be taken to comply with the intent of the regulation"></textarea>
                     </mat-form-field>
                     <div class="row" *ngIf="hasFormSignature">
                        <div class="panel-heading">
                           <div class="media">
                              <div class="media-body">
                                 <h5 *ngIf="isVariance">Requested time period of variance (enter both effective and end
                                    dates or check continuous):</h5>
                                 <h5 *ngIf="isWaiver">Requested time period of waiver (enter both effective and end
                                    dates or check continuous):</h5>
                              </div>
                           </div>
                        </div>

                        <div class="col-sm-4">
                           <common-date-picker (valueChange)="onChangeEffectiveDate($event.value)" *ngIf="isVariance"
                              [max]="effectiveMaxDate" formControlName="request_effectivedate"
                              placeholder="Effective Date of Variance"></common-date-picker>
                           <common-date-picker (valueChange)="onChangeEffectiveDate($event.value)" *ngIf="isWaiver"
                              [max]="effectiveMaxDate" formControlName="request_effectivedate"
                              placeholder="Effective Date of Waiver"></common-date-picker>
                        </div>
                        <div class="col-sm-4">
                           <common-date-picker (valueChange)="onChangeExpirationDate($event.value)" *ngIf="isVariance"
                              [min]="expirationMinDate" formControlName="request_expirationdate"
                              placeholder="Expiration Date of Variance"></common-date-picker>
                           <common-date-picker (valueChange)="onChangeExpirationDate($event.value)" *ngIf="isWaiver"
                              [min]="expirationMinDate" formControlName="request_expirationdate"
                              placeholder="Expiration Date of Waiver"></common-date-picker>
                        </div>
                        <div class="col-sm-4 m-t-15">
                           <mat-radio-group formControlName="continuous">
                              <mat-radio-button value="YES">Continuous</mat-radio-button>
                           </mat-radio-group>
                        </div>
                     </div>
                     <div class="row">
                     <div class="col-md-12 mt-20">
                     <ng-container *ngIf="isClousure">

                        <common-date-picker [min]="currentDate" [required]='true' formControlName="request_date"
                           placeholder="End Date"></common-date-picker>
                     </ng-container>
                     <ng-container *ngIf="isLicenseExtend">

                        <common-date-picker [min]="selectedSiteLicenseInformation?.license_expiry_dt" [required]='true' formControlName="new_license_expire_date"
                           placeholder="Extended Expire Date"></common-date-picker>
                     </ng-container>
                     <mat-form-field>
                        <textarea type="text" formControlName="request_comments" matInput
                           placeholder="Request Comments"></textarea>
                     </mat-form-field>
                     </div>
                     </div>
                     <div class="row" *ngIf="hasFormSignature">
                        <div class="col-sm-6">
                           <div class="panel panel-default decision-panel min-height">
                              <div class="panel-heading">
                                 <div class="media">
                                    <div class="media-body">
                                       <h4 class="text-uppercase">Signature</h4>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel-body" *ngIf="!viewForm">
                                 <!-- <request-signature-field formControlName="signimage"></request-signature-field> -->
                              </div>
                              <div class="disabledField" *ngIf="viewForm">
                                    <img src="{{signature}}"/>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     
                     <div class="row">
                        <div class="col-md-12">
                           <div class="row">
                               <div class="col-md-6">
                                   <h4>Documents</h4>
                               </div>
                               <div *ngIf="!viewForm" class="col-md-6 text-right print-none">
                                       <label class="btn-pri btn-bs-file cursor-pointer" >
                                           <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                           <input type="file" (ngxf-select)="uploadFile($event)"
                                               [ngxf-validate]="{ size: { min: 5 } }" multiple />Upload</label>
                                   </div>
                           </div>
                           <div class="m-t-20 m-b-20">
                               <div >
                                   <div class="table-responsive table-theme">
                                       <table class="table table-striped">
                                           <thead>
                                               <tr>
                                                   <th>Document Name</th>
                                                   <th>Action</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <ng-container *ngIf="uploadedFile?.length; else elseTemplate">
                                                   <tr *ngFor="let attachment of uploadedFile;let index =index">
                                                       <td>
                                                           <ng-container *ngIf="attachment?.name; else elseNameTemplate">
                                                               {{attachment?.name}}
                                                           </ng-container>
                                                           <ng-template #elseNameTemplate>
                                                               {{attachment?.title}}
                                                           </ng-template>
                                                           <div class="progress" *ngIf="attachment.percentage">
                                                               <div class="progress-bar progress-bar-primary"
                                                                   role="progressbar"
                                                                   attr.aria-valuenow="{{attachment.percentage}}"
                                                                   aria-valuemin="0" aria-valuemax="100"
                                                                   [ngStyle]="{width:attachment.percentage+'%'}">
                                                                   <span class="sr-only">{{attachment.percentage}}% Complete
                                                                       (success)</span>
                                                               </div>
                                                           </div>
       
                                                       </td>
                                                       <td class="action-icons">
                                                           <div>
                                                               <a *ngIf="attachment.s3bucketpathname" matTooltip="Download"
                                                                   (click)="downloadFile(attachment.s3bucketpathname)">
                                                                   <i class="fa fa-download font-16" aria-hidden="true"></i>
                                                               </a>
                                                               <a *ngIf="!viewForm" class="m-l-10" matTooltip="Delete"
                                                                   (click)="confirmDeleteAttachment(index)">
                                                                   <i class="fa fa-trash font-16" aria-hidden="true"></i>
                                                               </a>
                                                           </div>
       
                                                       </td>
                                                   </tr>
                                               </ng-container>
                                               <ng-template #elseTemplate>
                                                   <tr>
                                                       <td colspan="2">
                                                           No Records Found!
                                                       </td>
                                                   </tr>
                                               </ng-template>
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>
                     </div>

                     <div class="row">
                     
                        <div class="text-right icon col-sm-12">
                           <button *ngIf="!viewForm" [disabled]="changeRequestForm.invalid" type="submit" class="btn-pri"
                              data-toggle="modal" (click)="saveInformation()"> Submit
                           </button>
                        </div>                       
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
