<div class="alert alert-info">
    <strong>Info!</strong>
    <ul>
        <li>Please select person by clicking on Person card.</li>
        <li>Click on <i class="fa fa-edit"></i> buton in order to add/Edit relationship with selected person</li>
    </ul>
</div>
<div class="alert alert-warning">
    <span>
        Showing relationships with  - <span *ngIf="selectedPerson"><strong>{{(selectedPerson?.firstname + ' ' + selectedPerson?.lastname).length > 20
    ? (selectedPerson?.firstname + ' ' + selectedPerson?.lastname | slice: 0:20 |
    titlecase) + '...'
    : (selectedPerson?.firstname + ' ' + selectedPerson?.lastname | titlecase)}}
            </strong>
        </span>
    </span>
</div>
<mat-grid-list cols="4" rowHeight="200px">
    <ng-container *ngFor="let person of involevedPersonList; let i = index">
        <mat-grid-tile *ngIf="person.iscollateralcontact !== 1"> <!-- Collaterals should not appear on the relationships tab -->
            <mat-card [ngClass]="{'person-card': i !== selectedCard,'person-card-selected':i === selectedCard}">
                <mat-card-header (click)="selectPersonCard(i,person)">
                    <!-- <img  mat-card-avatar src="../../../../../assets/images/ic_silhouette.png"> -->
                    <img *ngIf="person.userphoto" mat-card-avatar mat-card-md-image src="{{person.userphoto}}" />
                    <img *ngIf="!person.userphoto" mat-card-avatar mat-card-md-image
                        src="../../../../../assets/images/ic_silhouette.png" />
                    <!-- <div *ngIf="person.userphoto"><img mat-card-avatar src="{{person.userphoto}}"/></div>
        <div *ngIf="!person.userphoto"><img mat-card-avatar src="../../../../../assets/images/ic_silhouette.png"/></div> -->
                    <mat-card-title>
                        <span>
                            {{
                        (person?.fullname).length > 20
                        ? (person?.fullname | slice: 0:20 | titlecase) + '...'
                        : (person?.fullname | titlecase)
                    }}
                        </span>
                        <span>
                            Age : {{ person?.age }}
                        </span>
                        <span>
                            DOB : {{ person?.dob | date: 'MM/dd/yyyy' }}
                        </span>
                        <span>
                            Gender :
                            {{ (person?.gender)?person?.gender:(person?.gendertypekey)?(person?.gendertypekey):'N/A'}}
                        </span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-footer>
                    <span class="person-relationship-bar" *ngIf="i === selectedCard">
                        Self
                    </span>
                    <span class="person-relationship-bar" *ngIf="i !== selectedCard">
                        {{person?.relation}}
                    </span>
                    <span class="caregiver-bar" *ngIf="i !== selectedCard && person?.careGiverFlag">
                        Caregiver
                    </span>
                    <button [disabled]="isClosed" class="relationship-button" *ngIf="i !== selectedCard" title="Add/Edit Relationship"
                        (click)="UpdatePersonId(person)" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-edit"></i></button>

                    
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" [formGroup]="relationshipForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Relationship Value</h4>
            </div>

            <div class="modal-body">
                <div>
                    <ng-select formControlName="relationshiptypekey" [searchable]="true" [clearable]="false">
                            <ng-option value="">Click to Select/Search</ng-option>
                            <ng-option *ngFor="let item of relationShipToRADropdownItems" [value]="item.value">{{item.text}}</ng-option>
                    </ng-select>
                </div>
                <br>
                <div>
                    <mat-checkbox formControlName="careGiverFlag" [disabled]="!isChildSelected">Is Caregiver ?</mat-checkbox>
                </div>
            </div>
               
            
            <br>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-sec btn-theme" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-pri btn-theme" (click)="updateRelation()"
                    data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->