/*braodcast*/
.broadcast-msg {
    background: #fff;
    padding: 15px;
}
h4.broadcast-head {
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #00A2FD;
}
.broadcast-msg input.form-control,
.broadcast-msg textarea.form-control,
.broadcast-checks input.form-control {
    border: 1px solid #d2d2d2;
    padding: 10px;
    color: #000;
}
.broadcast-msg textarea.form-control {
    height: 75px;
    border-radius: 3px;
}
.inline {
    display: inline-block !important;
}
.broadcast-checks .control input:checked ~ .control__indicator:after {
    top: 3px;
}
.broadcast-msg label {
    margin-bottom: 5px;
}
.broadcast-table thead {
    background: #00A2FD;
    color: #fff;
}
.broadcast-table .table > thead > tr > th {
    text-transform: none;
    font-weight: 600;
}
button.btn-pri.abs-btn {
    position: absolute;
    bottom: -310%;
    right: 50px;
    z-index: 100;
}
.table thead tr th label {
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
}
.table thead tr th label div.control__indicator {
    top: -15px;
}
.table thead tr th label.control input:checked ~ .control__indicator {
    background: #00A2FD;
    border: 2px solid #ffffff;
}
.control__indicator.default-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 2px solid #2196F3;
    }
    
    /* On mouse-over, add a grey background color */
    // input ~ .control__indicator.arumugam {
    // background-color: #ccc;
    // }
    
    /* When the checkbox is checked, add a blue background */
    input ~ .control__indicator.default-checkmark {
    background: #00A2FD;
    border: 2px solid #00A2FD;
    top: 2px;
    left: 0;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .control__indicator.default-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    
    /* Show the checkmark when checked */
    input ~ .control__indicator.default-checkmark:after {
    display: block;
    }
    
    /* Style the checkmark/indicator */
    .control__indicator.default-checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    }