<div clas="row">
    <div class="col-sm-12 custom-navpills">
        <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#case-tobe-assigned" (click)="getPage('Pending', 1)" data-toggle="tab">PENDING</a>
                </li>
                <li>
                    <a href="#case-tobe-assigned" (click)="getPage('Completed', 1)" data-toggle="tab">COMPLETED</a>
                </li>
                <!-- <li>
                    <a href="#case-tobe-assigned" (click)="getPage('Rejected', 1)" data-toggle="tab">REJECTED</a>
                </li> -->
            </ul>
            <div class="" *ngIf="selectedStatus==='Pending'">
                <div class="tab-pane active" id="case-tobe-assigned">
                    <div class="form-letter-tab form-align">
                        <div class="table-responsive table-theme">
                            <table class="table table-striped" sortable-table>
                                <thead>
                                    <tr>
                                        <th>ASSESSMENT NAME</th>
                                        <th *ngIf="currentUser.role.name != 'Provider Applicant'">ADULT NAME</th>
                                        <th *ngIf="currentUser.role.name != 'Provider Applicant'">DOB</th>
                                        <th>ASSIGNED ON</th>
                                        <th>DUE DATE</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="medicalDashboard$ | async; let medicareDashboard">
                                    <ng-container *ngFor="let data of medicareDashboard; let assessmentIndex = index">
                                        <tr>
                                            <td>
                                                <a style="padding : 10px 10px 10px 10px" *ngIf="data?.intakeassessment">
                                                    <i (click)="showAssessment(assessmentIndex, data?.intakeassessment)"
                                                        [class]="showAssesment === assessmentIndex ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                        aria-hidden="true"></i>
                                                </a>
                                                {{data.titleheadertext}}</td>
                                            <td *ngIf="currentUser.role.name != 'Provider Applicant'">{{data.displayname}}</td>
                                            <td *ngIf="currentUser.role.name != 'Provider Applicant'">{{data.dob | date : 'MM/dd/yyyy'}}</td>
                                            <td>{{data.assignedon | date : 'MM/dd/yyyy - h:mm a'}}</td>
                                            <td>{{calculateDueDate(data.assignedon)| date : 'MM/dd/yyyy - h:mm a'}}</td>
                                            <!-- <td>Pending</td> -->
                                            <td>
                                                <!-- <a data-toggle="modal" data-target="#iframe-popup" data-placement="top"
                                                    title="start" data-original-title="Start" (click)="startAssessment(data)">
                                                    <span><i class="fa fa-play-circle-o"></i></span>
                                                </a> -->
                                                <span *ngIf="data.isNew" data-toggle="modal" data-target="#iframe-popup"
                                                    data-placement="top" title="start" data-original-title="Start"
                                                    (click)="startAssessment(data)">
                                                    <i class="fa fa-play-circle-o fa-size"></i>
                                                </span>
                                                <span title="Print" data-placement="top" data-original-title="Print"
                                                    (click)="assessmentPrintView(data,false)">
                                                    <i class="fa fa-print fa-size" aria-hidden="true"></i>
                                                </span>
                                                <span data-toggle="modal" data-toggle="modal" title="View"
                                                    data-placement="top" data-original-title="View" (click)="submittedAssessment(data,false)">
                                                    <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                                                </span>
                                                <span title="Complete" data-placement="top" data-original-title="Complete"
                                                    (click)="completeAssessment(data)">
                                                    <i class="fa fa-check-circle-o fa-size" aria-hidden="true"></i>
                                                </span>
                                                <!-- <button data-toggle="modal" data-target="#type-select" class="btn btn-pri btn-wth">Complete</button> -->
                                                <!-- <button (click)="completeAssessment(data)" class="btn btn-pri btn-wth">Complete</button> -->
                                            </td>
                                        </tr>
                                        <tr [class]="showAssesment === assessmentIndex ? 'showAcc':'hide'">
                                            <td colspan="6">
                                                <table class="table table-bordered icon-action">
                                                    <thead>
                                                        <tr>
                                                            <th>Assessments</th>
                                                            <th>Updated By</th>
                                                            <th>Updated Date</th>
                                                            <th>Status</th>
                                                            <!-- <th>Comments</th> -->
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                        <tr *ngFor="let list of getAssess">
                                                            <td>{{list.titleheadertext}}</td>
                                                            <td>{{list.username}}</td>
                                                            <td>{{list.updateddate | date:'MM/dd/yyyy - h:mm a'}}</td>
                                                            <td>{{list.assessmentstatustypekey}}</td>
                                                            <!-- <td>{{list.comments}}</td> -->
                                                            <td class="icon-btn">
                                                                <span *ngIf="list.assessmentstatustypekey==='InProcess'" title="Edit" data-placement="top"
                                                                    data-original-title="Edit" (click)="updateAssessment(data, list)">
                                                                    <i class="fa fa-edit fa-size" aria-hidden="true"></i>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-template #noItems>
                                <p class="no-datatxt"> No Items! </p>
                            </ng-template>
        <div>
            <pagination [totalItems]="totalRecord$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" *ngIf="selectedStatus==='Completed'">
                <div class="tab-pane active" id="case-tobe-assigned">
                    <div class="form-letter-tab form-align">
                        <div class="table-responsive table-theme">
                            <table class="table table-striped" sortable-table>
                                <thead>
                                    <tr>
                                        <th>ASSESSMENT NAME</th>
                                        <th *ngIf="currentUser.role.name != 'Provider Applicant'">ADULT NAME</th>
                                        <th *ngIf="currentUser.role.name != 'Provider Applicant'">DOB</th>
                                        <th>ASSIGNED ON</th>
                                        <th>Completion DATE</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="medicalDashboard$ | async; let medicareDashboard">
                                    <ng-container *ngFor="let data of medicareDashboard; let assessmentIndex = index">
                                        <tr>
                                            <td>
                                                <a style="padding : 10px 10px 10px 10px" *ngIf="data?.intakeassessment">
                                                    <i (click)="showAssessment(assessmentIndex, data?.intakeassessment)"
                                                        [class]="showAssesment === assessmentIndex ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                        aria-hidden="true"></i>
                                                </a>
                                                {{data.titleheadertext}}</td>
                                            <td *ngIf="currentUser.role.name != 'Provider Applicant'">{{data.displayname}}</td>
                                            <td *ngIf="currentUser.role.name != 'Provider Applicant'">{{data.dob | date : 'MM/dd/yyyy'}}</td>
                                            <td>{{data.assignedon | date : 'MM/dd/yyyy - h:mm a'}}</td>
                                            <td>{{data.completedon| date : 'MM/dd/yyyy - h:mm a'}}</td>
                                        </tr>
                                        <tr [class]="showAssesment === assessmentIndex ? 'showAcc':'hide'">
                                            <td colspan="6">
                                                <table class="table table-bordered icon-action">
                                                    <thead>
                                                        <tr>
                                                            <th>Assessments</th>
                                                            <th>Updated By</th>
                                                            <th>Updated Date</th>
                                                            <th>Status</th>
                                                            <!-- <th>Comments</th> -->
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                        <tr *ngFor="let list of getAssess">
                                                            <td>{{list.titleheadertext}}</td>
                                                            <td>{{list.username}}</td>
                                                            <td>{{list.updateddate | date:'MM/dd/yyyy - h:mm a'}}</td>
                                                            <td>{{list.assessmentstatustypekey}}</td>
                                                            <!-- <td>{{list.comments}}</td> -->
                                                            <td class="icon-btn">
                                                                <span title="Print" data-placement="top"
                                                                    data-original-title="Print" (click)="assessmentPrintView(list,true)">
                                                                    <i class="fa fa-print fa-size" aria-hidden="true"></i>
                                                                </span>
                                                                <span data-toggle="modal" data-toggle="modal" title="View"
                                                                    data-placement="top" data-original-title="View"
                                                                    (click)="submittedAssessment(list,true)">
                                                                    <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-template #noItems>
                                <p class="no-datatxt"> No Items! </p>
                            </ng-template>
                            <!-- <div class="text-center" *ngIf="totalRecords">
                                                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm"
                                                    [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="type-select" role="dialog">
    <form [formGroup]="attachmentTypeForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Select Type </h4>
                </div>
                <div class="modal-body">
                    <mat-radio-group formControlName="assessmentsubmissiontypekey">

                        <div class="col-sm-6">
                            <mat-radio-button value="Softcopy">Soft Copy</mat-radio-button>
                        </div>
                        <div class="col-sm-6">
                            <mat-radio-button value="Hardcopy">Hard Copy</mat-radio-button>
                        </div>
                        <!-- <div class="col-sm-12">
                        <label class="btn-pri btn-bs-file">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }"
                                multiple />Upload</label>
                    </div> -->

                    </mat-radio-group>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button type="button" value="Cancel" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Submit" class="btn-pri" name="" (click)="submitAttachmentType()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade custom-modal modal-iframe" id="iframe-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">{{assessmmentName ? assessmmentName: 'N/A'}}</h4>
            </div>
            <div class="modal-body" id="assessment-popup">
                <div id="assessmentForm"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:none">
    <div class="col">
        <div id="assPrintView"></div>
    </div>
</div>