.heading-bg {
    background: #E0E8F8;
    color: #333;
    padding: 8px 10px 5px;
    font-weight: 600;
    text-transform: uppercase;
}
.ref-address p {
    padding-top: 20px;
}
.table-striped>tbody>tr:nth-of-type(odd).my-class, .my-class {
    background-color:#f1f3cc;
    }
ul.theme-heder-bg li:nth-child(1){min-width:500px;max-width:500px;}
ul.theme-heder-bg li:nth-child(2){min-width:150px;max-width:150px;}
ul.theme-heder-bg li:nth-child(3){min-width:200px;max-width:200px;}
ul.theme-heder-bg li:nth-child(4){min-width:200px;max-width:200px;}