<div class="row">
    <div [class]="colSize">
        <div class="row">
            <div class="col-sm-6">
                <h4>Documents</h4>
            </div>

            <div class="col-sm-6 text-right" >
                <label class="btn-pri btn-bs-file cursor-pointer">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <input [disabled] = "_personInfoService.getClosed()" type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }"
                        multiple />Upload</label>
            </div>
        </div>
        <div class="m-t-20 m-b-20">
            <div>
                <div class="table-responsive table-theme">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="uploadedFiles?.length; else elseTemplate">
                                <tr *ngFor="let attachment of uploadedFiles;let index =index">
                                    <td>
                                        <ng-container *ngIf="attachment?.name; else elseNameTemplate">
                                            {{attachment?.name}}
                                        </ng-container>
                                        <ng-template #elseNameTemplate>
                                            {{attachment?.title}}
                                        </ng-template>
                                        <div class="progress" *ngIf="attachment.percentage">
                                            <div class="progress-bar progress-bar-primary" role="progressbar"
                                                attr.aria-valuenow="{{attachment.percentage}}" aria-valuemin="0"
                                                aria-valuemax="100" [ngStyle]="{width:attachment.percentage+'%'}">
                                                <span class="sr-only">{{attachment.percentage}}% Complete
                                                    (success)</span>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="action-icons">
                                        <div [ngClass] = "{'disable-anchor' : _personInfoService.getClosed()}">
                                            <a *ngIf="attachment.s3bucketpathname" matTooltip="View/Download"  class="allow-acesss"
                                                (click)="downloadFile(attachment.s3bucketpathname)">
                                                <i class="fa fa-eye font-16" aria-hidden="true"></i>View
                                            </a>
                                            <a [ngClass] = "{'pointer-events-none' : _personInfoService.getClosed(), 'm-l-10': true}" matTooltip="Delete"
                                                (click)="confirmDeleteAttachment(index)">
                                                <i class="fa fa-trash font-16" aria-hidden="true"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <tr>
                                    <td colspan="2">
                                        No Records Found!
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>
<!--Delete Confirm-->
<div class="modal fade " id="delete-attachment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this attachment? </p>

                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No</button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal"
                        (click)="deleteAttachment()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>