<section id="applicant-section" class="profile-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Provider Id : {{providerId}}</p>
                <p>Provider Name : {{currentProviderDetails.provider_nm}}</p>
                <p>Tax ID : {{currentProviderDetails.taxid}}</p>
                <p>Status : <span class="status-open">{{currentProviderDetails.provider_status}}</span></p>
                <p>License Programs : </p>
               
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Assigned to : <span *ngFor="let item of assignedInSection">{{item.username}}</span>
                    <button *ngIf="!isLengthGrater" type="submit" class="unrestricted-item-bar text-center" data-target="#intake-caseassignnew" data-toggle="modal" (click)="getRoutingUser('')">ASSIGN</button>
                </p>
                <p>Provider Address : {{currentProviderDetails.adr_county_cd}}</p>
                <p>Provider Phone : {{currentProviderDetails.adr_cell_phone_tx}}</p>
                <p>Accreditation: {{providerProfileInfo?.accreditation_desc}}</p>
                <p>{{providerProfileInfo?.profit}}</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 cls-mb-5 p-t-b-10">
                <!-- <p>Contract : </p>
                <p>Contract Type : </p>
                <p>Contract Term Type : </p>
                <p>Total Contract Amount : </p>
                <p>Contract End Date : </p>
                <p>Contract Beds : </p> -->
            </div>  
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 p-t-b-10">
                <div class="day-count-main text-center">
                    <div class="count-center">
                        <p class="day-count">-</p>
                        <p class="go m-t-10">Available Beds for Placements</p>
                    </div>
                </div>
            </div>            
        </div>
        <!-- <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 section1">
              <div class="">
                  <h4></h4>
              <p>Provider Id: 
                  <span>{{providerId}}</span>
                  </p>
                  <p>Provider Name:
                    <span>{{currentProviderDetails.provider_nm}}</span>
                  </p>
                        
  
                </div>
            </div>
  
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-pull-2">
                <div class="row section2">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 brd-rht bot-mspace-15">
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 brd-rht bot-mspace-15">
                        <dl class="dl-horizontal">
                                <dt>
                                    Tax Id:</dt>
                                <dd>{{currentProviderDetails.taxid}}</dd>
                                <dt>
                                    County Code:</dt>
                                <dd>{{currentProviderDetails.adr_county_cd}}</dd>
                                <dt>
                                    Phone Number:</dt>
                                <dd>{{currentProviderDetails.adr_cell_phone_tx}}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 brd-top">
                            <dl class="dl-horizontal">
                                    <dt>
                                        Status:
                                    </dt>
                                    <dd>
                                        <span class="status-open">{{currentProviderDetails.provider_status}}</span>
                                    </dd>
                                </dl>
                    </div>
               
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3">
                <div class="row section2">
                    <dl class="dl-horizontal">
                            <dt>
                                  Assigned to:</dt>
                            <dd *ngFor="let item of assignedInSection" class="assigned">{{item.username}}</dd>
                        
                    </dl>
                            
                        
            </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3 rht bot-mspace-15">
                <button *ngIf="!isLengthGrater" type="submit" class="btn-pri" data-target="#intake-caseassignnew" data-toggle="modal" (click)="getRoutingUser('')">ASSIGN</button>
                <dd>
                   
                </dd>
            </div>
        </div> -->
    </div>
  </section>
    <section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <p>Group ID
                        <span></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="box-grid clsMinHeight no-pad clearfix">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="tab-content">
                        <div class="intake no-pad">
                            <div class="tab-horizontal">
                                <!-- <ul class="nav nav-pills click-triggers" *ngFor="let tab of tabConfig; let index=index">
                                    <li [ngClass]="'active'">
                                        <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab(tab, index)">{{tab.title}}</a>
                                    </li> -->
                                    <ul class="nav nav-pills click-triggers intake-tabs">
                                        <ng-container *ngFor="let tab of tabConfig">
                                            <li [ngClass]="current_route === tab.route ? 'active':'' "
                                                routerLinkActive="active" (click)="loadTab(tab)">
                                                <a id="tab.id" class="aut-tab-{{tab.title.split(' ').join('')}}">{{tab.title}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    
                                   <!--  <li>
                                        <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('Contract')">Contract</a>
                                    </li>
                                   
                                    <li >
                                        <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('Document')">Document</a>
                                    </li>
                                    <li >
                                        <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('Narrative')">Narrative</a>
                                    </li>
                                    <li >
                                        <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('MasterRates')">Master Rates</a>
                                    </li>
                                    <li >
                                            <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('Staff')">Staff</a>
                                    </li>
                                    <li >
                                            <a data-toggle="tab" data-target="#provider-manangement" (click)="loadTab('ChangeRequests')">Change Requests</a>
                                    </li> -->
                                <!-- </ul> -->

                               
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="provider-manangement">
                                        <router-outlet></router-outlet> 
                                    </div>
                                    <!-- <div class="tab-pane" id="contract">
                                        <provider-contract></provider-contract>  
                                    </div>                                    
                                    <div class="tab-pane" id="document">
                                        <add-document></add-document>
                                    </div> 
                                    <div class="tab-pane" id="Narrative">
                                        <attachment-narrative></attachment-narrative>  
                                    </div> 
                                    <div class="tab-pane" id="Rate">
                                        <provider-rate></provider-rate>  
                                    </div> 
                                    <div class="tab-pane" id="Monitoring">
                                        <provider-monitor-licensing></provider-monitor-licensing>  
                                    </div> 
                                    <div class="tab-pane" id="providerStaff">
                                            <provider-staff></provider-staff>  
                                    </div> 
                                    <div class="tab-pane" id="provider-licnse-request">
                                            <provider-license-requests></provider-license-requests> 
                                    </div>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="intake-caseassignnew" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content Persons-Involved">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Route Case</h4>
            </div>
            <div class="modal-body dashboard-cont">
      
              <div class="tab-horizontal mrg-btm25">
                <ul class="nav nav-pills">
                  <li class="active">
                    <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                  </li>
                  <li>
                    <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                  </li>
                </ul>
                <div class="tab-content boxgrid">
                  <div class="tab-pane active" id="caseassign-caseworker">
                    <div class="">
                      <div class="table-theme table-responsive m-t-15">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th>NAME</th>
                              <th *ngIf="!isSupervisor">CASE LOAD</th>
                              <th *ngIf="!isSupervisor">AVAILABILITY</th>
                              <th *ngIf="!isSupervisor">ZIP CODE</th>
                              <th *ngIf="isSupervisor">AGENCY</th>
                              <th>TYPE OF WORKER</th>
                              <th>UNIT</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="getUsersList; let getlist">
                            <ng-container *ngIf="getlist.length>0; else noItems">
                              <tr *ngFor="let item of getlist">
                                <td>
                                  <label class="control control--radio">
                                    <input type="radio" name="Address" (click)="selectPerson(item)">
                                    <div class="control__indicator"></div>
                                  </label>
                                </td>
                                <td>{{item.username}} </td>
                                <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                <td *ngIf="!isSupervisor">{{item.available}}</td>
                                <td *ngIf="!isSupervisor">{{item.homelocationcode}}</td>
                                <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                <td>{{item.userrole}}</td>
                                <td>{{item.teamname}}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                        <ng-template #noItems>No Items!</ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="modal-footer wizard-buttons">
            <button class="btn-pri" (click)="assignNewUser()">ASSIGN</button>
          </div>
        </div>
      </div>
    </div>
    

    <div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg custom-wid" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">PDF preview</h4>
                    </div>
                    <div class="modal-body">
                        <provider-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)' [profileOutputSubject$]="profileOutputSubject$"></provider-document-creator>
                    </div>
                </div>
            </div>
        </div>
