<div class="col-sm-12 text-left">
    <h4>Appointments</h4>
  </div>
  <div class="col-sm-12 text-left">
    &nbsp;
  </div>
  <div class="col-sm-12">
    <div class="table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Intake Worker</th>
            <th>Persons</th>
            <th>Status</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="appointments && appointments.length>0; else noItems">
            <tr *ngFor="let appointment of appointments; let i=index">
              <td>{{appointment.title}}</td>
              <td>
                {{appointment.appointmentDate | date:'MM/dd/yyyy hh:mm
                aa'}}
              </td>
              <td>{{getIntakeWorkerName(appointment.intakeWorkerId)}}</td>
              <td>
                <span *ngFor="let actor of appointment.actors">
                  {{getPersonName(actor?.actorid)}} <br>
              </span>
              </td>
              <td>{{appointment.status}}</td>
              <td>
                  <div [innerHTML]="appointment.notes" style="cursor: pointer;" class="editor-notes"></div>
              </td>
            </tr>
          </ng-container>
          <ng-template #noItems>
            <tr>
              <td colspan="7" style="text-align: center !important;"> No records found </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>