<div class="intake no-pad m-t-10">
  <div class="tab-horizontal">
    <div class="tab-content">
      <div class="row">
        <form [formGroup]="decisionForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-select required placeholder="Select Reason" formControlName="reasontype">
                    <mat-option *ngFor="let item of reasonypeList" [value]="item.ref_key">{{item.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <quill-editor required formControlName="comments" format="html" placeholder="Notes"
                  [style]="{height: '200px'}">
                </quill-editor>
              </div>
              <div class="col-sm-12">
                <br />
                <button type="button" [disabled]="!decisionForm.valid" class="btn-pri pull-right"
                  (click)="saveDecision(decisionForm.getRawValue())">
                  Close </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>