<div class="modal fade" id="placementDetails" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="goBack()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title "> {{ action | titlecase }}</h4>
      </div>
      <div class="modal-body">

        <div class="row m-t-10" *ngFor="let child of children">
          <div class="col-sm-12">
            <div class="panel panel-default panel-theme">
              <div class="panel-heading">
                <div class="col-sm-3">
                  <h5>Name# </h5>
                  <p class="m-0">{{child?.firstname}} {{child?.lastname }}</p>
                </div>
                <div class="col-sm-3">
                  <h5>CJAMS PID# </h5>
                  <p class="m-0">{{child?.cjamspid }}</p>
                </div>
                <div class="col-sm-3">
                  <h5>D.O.B</h5>
                  <p class="m-0">{{child?.dob | date : 'MM/dd/yyyy'}}</p>
                </div>
                <div class="col-sm-3">
                  <h5>Gender</h5>
                  <p class="m-0">{{child?.gender}}</p>
                </div>

              </div>
              <div class="panel-body">
                <ng-container *ngIf="child?.placementType === 'LA'; else providerPlacement">
                  <living-arrangment-details [child]="child"></living-arrangment-details>
                </ng-container>
                <ng-template #providerPlacement>
                  <provider-placment-details [child]="child"></provider-placment-details>
                </ng-template>
                <div class="row placement-detail" *ngIf="child?.placement?.voidreasontypedescription">
                  <div class="col-sm-6">
                    <h5>Void Reason </h5>
                    <p class="m-0">{{child?.placement?.voidreasontypedescription}}</p>
                  </div>
                  <div class="col-sm-6">
                    <h5>Void Date </h5>
                    <p class="m-0">{{child?.placement?.voiddate | date : 'MM/dd/yyyy'}}</p>
                  </div>
                  <div class="col-sm-8 m-t-20">
                    <h5>Void Comments</h5>
                    <p class="m-0">{{child?.placement?.voidremarks }}</p>
                  </div>
                </div>

                <div class="row placement-detail" *ngIf="child?.placement?.revisionupdate?.voidreasontypedescription">
                    <div class="col-sm-6">
                      <h5>Void Reason </h5>
                      <p class="m-0">{{child?.placement?.revisionupdate?.voidreasontypedescription}}</p>
                    </div>
                    <div class="col-sm-6">
                      <h5>Void Date </h5>
                      <p class="m-0">{{child?.placement?.revisionupdate?.voiddate | date : 'MM/dd/yyyy'}}</p>
                    </div>
                    <div class="col-sm-8 m-t-20">
                      <h5>Void Comments</h5>
                      <p class="m-0">{{child?.placement?.revisionupdate?.voidremarks }}</p>
                    </div>
                  </div>

                <div class="row placement-detail" *ngIf="child?.placement?.revisionupdate?.enddate">
                  <div class="col-sm-3">
                    <h5>Exit Type </h5>
                    <p class="m-0">{{child?.placement?.revisionupdate?.exittypekeydescription}}</p>
                  </div>
                  
                  
                  
                  <div class="col-sm-3">
                    <h5>Exit Date  </h5>
                    <p class="m-0">{{child?.placement?.revisionupdate?.enddate | date : 'MM/dd/yyyy'}}</p>
                  </div>
               
                  <div class="col-sm-3">
                    <h5>Exit Time </h5>
                    <p class="m-0">{{child?.placement?.revisionupdate?.endtime}}</p>
                  </div>
                  <div class="col-sm-12"></div>
                  <div class="col-sm-3">
                    <h5>Exit Reason </h5>
                    <p class="m-0">{{child?.placement?.revisionupdate?.exitreasontypedescription }}</p>
                  </div>
                  
                  <div class="col-sm-3">
                    <h5>Exit Comments</h5>
                    <p class="m-0">{{child?.placement?.revisionupdate?.remarks }}</p>
                  </div>
                </div>
              </div>



              <div class="panel-heading" *ngIf="child?.placement?.placementrevision?.length">

                  <table class="table customTable">
                      <thead>
                          <tr>
                              <th>Approved On</th>
                              <th>Approved By</th>
                              <th>Requested On</th>
                              <th>Requested By</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let revision of child?.placement?.placementrevision">
                              <td>{{revision.approveddate | date: 'MM/dd/yyyy'}}</td>
                              <td>{{revision.approvedby}}</td>
                              <td>{{revision.requesteddate | date: 'MM/dd/yyyy'}}</td>
                              <td>{{revision.requestedby}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>


            </div>
          </div>
        </div>

        <ng-container *ngIf="onExitPlacement">
          <exit-placements></exit-placements>
        </ng-container>
        <ng-container *ngIf="onEditPlacement">
          <div class="row m-t-10">
            <div class="col-sm-12">
              <div class="panel panel-default panel-theme">
                <div class="panel-heading">
                  <h4>Edit Placement/Living Arrangement</h4>
                </div>
                <div class="panel-body">
                  
                    <div class="row">
                      <div class="col-md-4">
                        <common-date-picker placeholder="Start date" [min]="minDate" [(ngModel)]="startDate"
                          required='true'>
                        </common-date-picker>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <input type="time"  matInput [(ngModel)]="startTime" 
                            placeholder="Start time">
                        </mat-form-field>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="onVoidPlacement">
          <void-placement-form></void-placement-form>
        </ng-container>







      </div>
      <div class="modal-footer wizard-buttons">
        <div class="col-md-12" *ngIf="onReview && isSupervisor">
            <div class="row">
              <!-- <p><span class="required"></span></p> -->
              <mat-radio-group [(ngModel)]="ApproveorReturntowork">                
                    <mat-radio-button value="Yes">Approve</mat-radio-button>                
                    <mat-radio-button value="No">Return to worker</mat-radio-button>                
              </mat-radio-group>
            </div>
            <div class="row">                
              <mat-form-field class="example-full-width">
                <label for="">Reason <span *ngIf="ApproveorReturntowork === 'No'"class="red">*</span></label>
                <textarea matInput [(ngModel)]="Reason"></textarea>                
              </mat-form-field>
            </div>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn-pri pull-right aut-lntk-placementCloseLink" (click)="goBack()">Cancel</button>
          <button *ngIf="onExitPlacement" [disabled]="isSubmitting" type="button" class="btn-pri pull-right" (click)="exit()">Send for
            approval</button>
          <button *ngIf="onEditPlacement" [disabled]="isSubmitting" type="button" class="btn-pri pull-right" (click)="update()">Send for
            approval</button>
          <button *ngIf="onVoidPlacement" [disabled]="isSubmitting" type="button" class="btn-pri pull-right" (click)="void()">Send for
            approval</button>
          <ng-container *ngIf="onReview && isSupervisor">
            <button class="btn-pri pull-right" [disabled]="isCompleted" (click)="approveOrReturn()">Submit</button>            
            <!-- <button type="button" class="btn-pri pull-right" [disabled]="isCompleted" (click)="reject()">Return to worker</button>
            <button type="button" class="btn-pri pull-right aut-btn-placementApprove" [disabled]="isCompleted" (click)="approveRequest()">Approve</button> -->
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row m-t-10">
  <div class="col-sm-12">
    <div class="panel panel-default panel-theme">
      <div class="panel-heading">
        <div class="col-sm-3">
          Edit Placement
        </div>

      </div>
      <div class="panel-heading">
          <div class="col-sm-3">
            <common-date-picker [(ngModel)]="startDate" placeholder="Start Date" required='true'></common-date-picker>
          </div>
  
        </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="placement-approval-check" role="dialog">
    <div class="modal-dialog modal-lg">
       <div class="modal-content reject">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" data-target="#placementDetails"
                data-toggle="modal">×</button>
             <h4 class="modal-title"> Placement Auto-validation Errors </h4>
          </div>
          <div class="modal-body">
             <p> Impacted Placement Validation Months</p>
             <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive table-theme">
                        <table class="table customTable innerTable">
                            <thead>
                                <tr>
                                    <th>Validation Month</th>
                                    <th>Auto Validate</th>
                                    <th>Placement Auto-validation Errors</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let placement of placementCheck">
                                    <td>{{placement.validation_start_dt | date: 'MMM yyyy'}}</td>
                                    <td *ngIf="placement.auto_valid_sw === 'N'">No</td>
                                    <td *ngIf="placement.auto_valid_sw === 'Y'">Yes</td>
                                    <td>{{placement.error_reasons}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                  <!-- <div class="col-md-12">
                      <mat-radio-group>
                        <div class="col-md-6">
                            <mat-radio-button value="Yes">Placement Auto-validation Errors</mat-radio-button>
                        </div>
                        <div class="col-md-6">
                            <mat-radio-button value="No">Show All Impacted Placement Validation Months</mat-radio-button>
                        </div>
                       </mat-radio-group>
                  </div> -->
                </div>
             </div>
             <div class="text-right right-mspace-15">
                <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> Close </button>
                <button (click)="reject()" type="button"  class="btn-pri" name="" data-dismiss="modal"> Reject </button>
             </div>
          </div>
       </div>
    </div>
</div>


<div class="modal  fade" id="addCPAHome" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="goBack()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">CPA HOMES</h4>
      </div>
      <div class="modal-body">
        <div class="row ref-address">
          <div class="col-md-12">
            <form [formGroup]="addCPAHomeFormGroup" >
              <div class="row">
                <div class="col-sm-12 panel mt-15">
                  <div class="row">
                    <div class="col-md-7">
                      <p>Please select the CPA home provider to record entry/exit of the child:</p>
                      <mat-form-field>
                        <mat-select formControlName="providerName" required placeholder="Provider Name"
                          (change)="cpaSelect($event.value)">
                          <mat-option *ngFor="let item of CPAHomeList" [value]="item.provider_id">
                            {{item.providername}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <div class="row" *ngIf="providerDetailsShow">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4">
                          <p><b><span class="clsMinwidth-90">CPA Home Provider ID : </span></b></p>
                        </div>
                          <p><span>{{cpaProviderId}}</span></p>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <p><b><span class="clsMinwidth-90">CPA Home Address : </span></b></p>
                        </div>
                        <p><span>{{cpaProviderAddress}}</span></p>
                        </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker1" placeholder="Entry Date"
                                formControlName="entryDate" (click)="picker1.open()" [min]="minEntryDate" />
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 no-pad">
                              <mat-form-field>
                                  <input matInput type="time" formControlName="entryTime" placeholder="Entry Time">
                              </mat-form-field>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div  *ngIf="exitFields">
                  <div class="col-md-6" >
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker2" placeholder="Exit Date"
                                formControlName="exitDate" (click)="picker2.open()" />
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 no-pad">
                              <mat-form-field>
                                  <input matInput type="time" formControlName="exitTime" placeholder="Exit Time" >
                              </mat-form-field>
                          </div>
                    </div>
                  </div>
                  <div class="row">                  
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-select formControlName="exitTypeCode" placeholder="Exit Type Code"  (change)="onExitTypeChange()">
                          <mat-option *ngFor="let item of exitTypeCodeList" [value]="item.ref_key">
                            {{item.description}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                          <mat-select formControlName="exitReasonCode" placeholder="Exit Reason Code">
                            <mat-option *ngFor="let item of exitReasonCodeList" [value]="item.ref_key">
                              {{item.description}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
            <div class="clearfix pt-20 row">
                <div class="col-sm-12 text-right margin-neg-cus">
                  <button class="btn-pri" (click)="cpaHomeSave()"
                    [disabled]="addCPAHomeFormGroup.pristine || addCPAHomeFormGroup.invalid"
                    *ngIf="!inHome && !updating">Save</button>
            </div>
            <div class="col-sm-12 text-right margin-neg-cus">
                <button class="btn-pri aut-btn-updatepetition" (click)="cpaHomeSave()"
                  [disabled]="addCPAHomeFormGroup.invalid || addCPAHomeFormGroup.pristine"
                  *ngIf="inHome || updating">Update</button>
            </div>
          </div>
          <div class="clearfix pt-20" *ngIf="cpaHomesHistory?.length > 0">
            <div class="table-responsive table-theme margin-cus">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>CPA Home Provider Id</th>
                    <th>Provider Name</th>
                    <th>Entry Date </th>
                    <th>Entry Time </th>
                    <th>Exit Date</th>
                    <th>Exit Time</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cpaHome of cpaHomesHistory">
                    <td>{{ cpaHome.provider_id }}</td>
                    <td>{{ cpaHome.providername }} </td>
                    <td>{{ cpaHome.entry_dt|date: 'MM/dd/yyyy'}}</td>
                    <td>{{ cpaHome.entry_tm|date: 'h:mm a'}}</td>
                    <td>{{ cpaHome.exit_dt|date: 'MM/dd/yyyy'}}</td>
                    <td>{{ cpaHome.exit_tm|date: 'h:mm a'}}</td>
                    <td>
                      <a (click)="viewCpaHome(cpaHome)"> <i class="fa fa-eye text-16"
                          matTooltip="View"></i> </a> |
                      <a (click)="editCpaHome(cpaHome)"> <i
                          class="fa fa-pencil text-16" matTooltip="Edit"></i> </a>
                      <ng-container *ngIf="cpaHome.exit_dt == null">
                        |
                        <a (click)="exitCpaHome(cpaHome)"> <i
                            class="fa fa-sign-out text-16" matTooltip="Exit"></i> </a>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="docalert" role="dialog">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">×</button>
             <h4 class="modal-title"> Death of Child </h4>
          </div>
          <div class="modal-body">
             <p> Please record the Death of child in the system.</p>
             <button type="button" class="btn-pri pull-right" (click)="acknowledgeDOC()"  name="" data-dismiss="modal"> Acknowledge </button>
          </div>
          
       </div>
    </div>
</div>
        
