<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-letter-tab m-t-30">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li *ngIf="!financeDirector" routerLinkActive="active">
              <a [routerLink]="['./financial']">Funding Approval</a>
            </li>
  
            <li *ngIf="financeSupervisor" routerLinkActive="active">
              <a [routerLink]="['./payment']">Payment Approval </a>
            </li>
            <li *ngIf="financeDirector" routerLinkActive="active">
              <a [routerLink]="['./director']">Director Approval </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content m-t-30">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>