<div class="tab-subtitle">
  <ol class="breadcrumb">
    <li>
      <a  [routerLink]="[ '../../history' ]">Legal Actions History</a>
    </li>
    <li class="active">Complaint Details</li>
  </ol>
 
</div>
<h4 class="text-uppercase">Legal Actions for Complaint ID - {{complaintDetails.complaintid}}</h4>
<div class="col-sm-12">
  <div class="row">
    
    <div class="col-sm-4">
      <div class="panel panel-default details-panel min-height">
        <div class="panel-heading">
          <div class="media">
            <div class="media-body">
              <h4 class="text-uppercase">COMPLAINT</h4>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Complaint ID</dt>
            <dd class="single-wrap">{{complaintDetails.complaintid}}</dd>
          </dl>
          
          <dl class="dl-horizontal">
            <dt>County of Occurrence </dt>
            <dd>{{complaintDetails.countyname}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Source Type</dt>
            <dd>{{complaintDetails.sourcetype}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Source Agency</dt>
            <dd>{{complaintDetails.sourceagency}}</dd>
          </dl>
        
          <dl class="dl-horizontal">
            <dt>Complaint Received Date</dt>
            <dd>{{complaintDetails.complaintreceiveddate | date : 'MM/dd/yyyy'}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Arrest Date </dt>
            <dd>{{complaintDetails.arrestdate | date : 'MM/dd/yyyy'}}</dd>
          </dl>
          
         
          

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default details-panel min-height">
        <div class="panel-heading">
          <div class="media">
            <div class="media-body">
              <h4 class="text-uppercase">Law Enforcement</h4>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Source Title</dt>
            <dd class="single-wrap">{{complaintDetails.sourcetitle}}</dd>
          </dl>

          <dl class="dl-horizontal">
            <dt>Source Badge#</dt>
            <dd>{{complaintDetails.badgeno}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Source Last Name </dt>
            <dd>{{complaintDetails.sourcelastname}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Source First Name</dt>
            <dd>{{complaintDetails.sourcefirstname}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Create Date </dt>
            <dd>{{complaintDetails.casecreatedon  | date : 'MM/dd/yyyy'}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Created Worker</dt>
            <dd>{{complaintDetails.caseworker}}</dd>
          </dl>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default details-panel min-height">
        <div class="panel-heading">
          <div class="media">
            <div class="media-body">
              <h4 class="text-uppercase">Offenses</h4>
            </div>
          </div>
        </div>

        <div class="panel-body">
          

          <dl class="dl-horizontal">
            <dt>Offenses</dt>
            <dd>{{complaintDetails.allegationname}}</dd>
          </dl>
          
          <dl class="dl-horizontal">
            <dt>Age</dt>
            <dd>{{complaintDetails.yearsofage}}</dd>
          </dl> 
          <dl class="dl-horizontal">
            <dt>Offense Location</dt>
            <dd class="single-wrap">{{complaintDetails.offencelocation}}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Offense Date</dt>
            <dd class="single-wrap">{{complaintDetails.offensedate}}</dd>
          </dl>

         

        </div>
      </div>
    </div>
   
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default details-panel">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <h4 class="text-uppercase">Victim Details</h4>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <victim-details></victim-details>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default details-panel">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-body">
                    <h4 class="text-uppercase">Folders</h4>
                  </div>
                </div>
              </div>
  
              <div class="panel-body">
                <folder-details></folder-details>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default details-panel">
                <div class="panel-heading">
                  <div class="media">
                    <div class="media-body">
                      <h4 class="text-uppercase">Petition Details</h4>
                    </div>
                  </div>
                </div>
    
                <div class="panel-body">
                  <petition-details></petition-details>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>