
.min-height .panel-body {
    padding: 15px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
    min-height: 250px;
}
.details-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
}
h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
}
.details-panel .media-right {
    vertical-align: bottom;
}
.details-panel .panel-heading {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.details-panel .panel-body {
    padding:15px 0;
}
.details-panel .panel-body dl dt,
.details-panel .panel-body dl dd {
    color: #000;
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 600;
    text-align: left;
}
.details-panel .panel-body dl dt:after {
    position: absolute;
    content: ":";
    left: 50%;
}
.details-panel .panel-body dl {
    margin-bottom: 8px;
    border-bottom: 1px solid #dcdcdcd9;
    padding: 0 15px 8px;
    position: relative;
}
.details-panel .panel-body dl:last-child {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.details-panel .panel-body dl dd {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color:#555;
}
.details-panel .dl-horizontal dd {
    margin-left: 210px;
}
.details-panel .dl-horizontal dt {
    width:210px;
}
.dl-emphasis > p {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.dl-emphasis > dt, .dl-emphasis > dd {
    font-weight: 600 !important;
    font-size:13px !important;
    color: #585757  !important;
    margin-bottom: 5px !important;
}