.form-inline label {
    width: 40%;
}
.form-inline label + .form-control {
    width: 50%;
    box-shadow: none;
}
.form-inline label + .fm-box-form {
    width: 50%;
    display: inline-table;
}
.form-inline label + .fm-box-form .form-control {
    width: 100%;
}
.list-group-item {
    padding: 10px 0;
}
.checklist-disclosure .list-group-item {
    padding-right: 150px;
    border: 0px solid #f5f5f5;
    padding-bottom: 15px;
}
.checklist-disclosure .pull-right {
    float: right !important;
    position: absolute;
    right: 5px;
    top: 10px;
}
.checklist-disclosure .pull-right.datepick {
    top: 2px;
    right: 5px;
}
.clsForm-inline .fm-box-form .form-control {
    width: 70%;
}
.fm-box-form .form-control {
    padding: 6px 0px;
}
.note-txt {
    font-size: 13px;
}

.textb {
    font-weight: 700;
}
.clsGap-form .form-group {
    margin-bottom: 7px;
    label {
        font-weight: 600;
    }
}
.clsForm-inline {
    label {
        font-weight: 600;
        width: 40%;
        float: left;
        text-transform: capitalize;
        margin: 11px 0 0;
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            width: 60%;
            float: right;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
}
.clsGap-form-block {
    border: 1px solid #cecece;
    border-radius: 4px;
    h3 {
        background: #d7dbe2;
        color: #000;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 15px;
        font-weight: normal
    }
    .clsGap-form-inner {
        padding: 10px 15px;
    }
    label {
        font-weight: 400;
        &.textb {
            font-weight: 600;
        }
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
    input[type='md-checkbox'] {
        margin: 15px 0 0;
    }
}
.clsCalend {
    position: relative;

    .fa-calendar {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #1aa7b9;
    }
}
.clsRequried {
    label {
        position: relative;
        width: auto;
    }
    label:after {
        display: block;
        position: absolute;
        content: '\f005';
        top: 2px;
        right: -10px;
        font-family: 'FontAwesome';
        font-size: 7px;
        color: #3d3d3d;
    }
}
.clsWidth-100 {
    width: 100% !important;
}

.md-radiobox,
.md-checkbox {
    label {
        width: auto;
        margin: 8px 0 0 0;
    }
}
.fa-calendar {
    right: 20px;
}

.blue {
    color: #00A2FD;
}
.checklist {
    background: #F5FAFF;
    padding:15px;
}
.checklist label {
    color:#333 !important;
    font-weight:600 !important;
    margin-bottom: 0;
}
.brd-divider {
    // border-bottom: 3px solid #e0e8f8;
    border-top: 2px solid #e0e8f8;
    padding: 15px 0;
}
/*Permanency plan*/
.selected-item{
    margin: 0 5px 5px 0;
   }
   .select-category{
    margin-bottom: 5px;
    float:left;
   }
   .select-category p{
    padding-left: 5px;
    padding-right:7px;
   }
   .permanency-info{
    margin-top:10px;
   }
   .permanency-info th:nth-child(1){
    width:14%;
   }
   .permanency-info th:nth-child(2){
    width:11%;
   }
   .permanency-info th:nth-child(3){
    width:31%;
   }
   .permanency-info th:nth-child(4){
    width:31%;
   }
   .permanency-info th:nth-child(5){
    width:14%;
   }
   .permanency-info th:nth-child(6){
    width:5%;
   }

   .permanency-info thead {background-color: #d8dce3;}
   .permanency-info tbody tr{background: #fbfbfb;}
   .permanency-info thead th{ color: #292929;}

   .permanency-info thead th, .permanency-info tbody td {
    padding: 8px;
    border: 1px solid #b8bdc7;
    vertical-align: top;
}

.selected-item { background: #dae0e4; font-size: 13px;}

.modal-body label{ padding-top: 15px;}

.content {
    font-weight: 500;
}

.cus-tab-section li {
    width: 18%;
}
.cus-tab-section li:last-child {
    width: 15%;
    // text-align: right;
    // float: right;
}
.cus-tab-section li a {
    padding: 0 0 5px;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #555;
}
.nav-tab.cus-tab-section li a:hover,
.nav-tab.cus-tab-section li a:focus {
    background: #fff;
}
.cus-tab-section li:last-child {
    width: 17%;
}
.cus-tab-section li:last-child.active:after,
.cus-tab-section li:last-child:after {
    display: none;
}
.cus-tab-section li:after,
.cus-tab-section li.active:after {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: calc(100% - 45px);
    margin-left: 35px;
}
.cus-tab-section li a {
    padding: 10px 0;
}
.cus-tab-section li a:hover {
    background: #fff;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 5px solid #e5e5e5;
    border-radius: 50%;
    padding: 3px 5px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #039be6 !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 5px solid #039be6;
    background: #039be6;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.nav-tab {
    display: flex;
    justify-content: center;
}

.nav.nav-tab {
    border: none;
    padding-bottom: 20px;
}

.table-theme .table tr td {
    text-align: left!important;
}

.ref-address p {
    padding-top: 20px;
}

.ref-address p.p-t-0 {
    padding-top: 0px;
}

.m-l-5 {
    margin: 5px;
}

.p-l-20 {
    padding-left: 20px;
}

.m-l-15 {
    margin-left: 15px;
}

.placement-body.modal-body {
    max-height: 100%;
}

i.fa.fa-clock-o {
    position: absolute;
    right: 6px;
    top: 14px;
}

.dp-block mat-checkbox {
    display: block;
}

.heading-bg {
    background: #E0E8F8;
    color: #333;
    padding: 8px 10px 5px;
}

.heading-bg.width {
    width: 50%;
}

.nav-tabs li a {
    padding:12px 15px;
}

.nav-tabs > li.active > a {
    background-color:#039be6;
    color:#fff;
}

.nav-tabs > li a:after {
    background-color:transparent;
    height:0;
}

.nav {
    border:none;
}

.tab-content {
    padding: 5px 0;
}

.tab-content {
    box-shadow: none;
}

.foster-icon span i:before {
    padding: 0px 5px;
    color: #039be6;
    cursor: pointer;
}

.palcement-tb th:last-child,
.palcement-tb td:last-child {
    text-align: center;
}

.ref-detailpara p {
    margin: 0 0 20px;
}

.history-btn {
    outline: none;
    background: #fff;
    border: none;
    color: #00a2fd;
    position: absolute;
    bottom: 13px;
    right: 25px;
    padding: 0px;
}

.boder-btm {
	border-bottom: 2px solid #e0e8f8;
}

.input-btn button {
	position: absolute;
	right: 0px;
	top: 10px;
}

.input-btn mat-form-field {
	position: relative;
}

.checkbox-m-t {
	display: block;
	margin-top: 10px;
}
.height-table {
    height:330px;
    overflow: hidden;
    overflow-y: auto;
}
.height-table .table thead tr th:nth-child(2) {
    min-width: 100px;
    max-width: 100px;
}
.height-table .table thead tr th:nth-child(7) {
    min-width: 175px;
    max-width: 175px;
}
.height-table .table thead tr th:nth-child(8) {
    min-width: 175px;
    max-width: 175px;
}

