.fa-pencil-square-o{padding-right: 10px;}
i.fa-pencil-square-o {
    color: #ff9c00;
}
i.fa-trash{
    color: #dd1821;
}

span.add-service {
    color: #039be6;
    font-weight: 600;
    float: left;
}

.icon figure {
    padding-left: 15px;
    display: inline;
}
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
}

.icon {
    width: 200px;
}