<h4>ADULT SERVICES SCREENING TOOL</h4>
<div class="row">
<form [formGroup]="adultScreenFormGroup">
<div class="row col-sm-12 m-t-20">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput appMaskDate [matDatepicker]="picker" placeholder="Date" [max]="currentDate" formControlName="astdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Intake Worker" formControlName="intakeworker" >
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select placeholder="Local DSS" formControlName="countyid" required>
          <mat-option *ngFor="let item of localDssCountys$ | async" value="{{item.countyid}}">{{item.countyname}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </div>
<div class="row col-sm-12 m-t-20">
  <div class="col-sm-3">
      <ul class="nav nav-tabs tabs-left sideways">
          <li class="active"><a href="#1" data-toggle="tab">REFERRAL SOURCE</a></li>
          <li><a href="#2" data-toggle="tab">CLIENT INFORMATION</a></li>
          <li><a href="#3" data-toggle="tab">OTHERS IN HOUSEHOLD/INTERESTED OTHERS</a></li>
          <li><a href="#4" data-toggle="tab">RISK/SAFETY FACTORS FOR INVESTIGATOR</a></li>
          <li><a href="#5" data-toggle="tab">DETAILS OF REFERRAL (NARRATIVE)</a></li>
          <li><a href="#6" data-toggle="tab">MALTREATMENT TYPE</a></li>
          <li><a href="#7" data-toggle="tab">ENVIRONMENTAL/EXTERNAL RISKS</a></li>
          <li><a href="#8" data-toggle="tab">PHYSICAL/FUNCTIONAL RISKS</a></li>
          <li><a href="#9" data-toggle="tab">MENTAL/EMOTIONAL CHALLENGES</a></li>
          <li><a href="#10" data-toggle="tab">STABILITY OF SUPPORT/CAREGIVING NETWORK</a></li>
          <li><a href="#11" data-toggle="tab">OVERALL RISK SCORE AND LEVEL</a></li>
        </ul>
  </div>
  <div class="col-sm-9">
      <div class="tab-content">
          <div class="tab-pane active" id="1">
              <div class="col-sm-12">
                  <h5>REFERRAL SOURCE</h5>
                  <div class="row">
                  <div class="col-sm-6">
                      <mat-form-field>
                        <input matInput placeholder="Name"  formControlName="referralname">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Address Line 1"  formControlName="referraladdress1">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Address Line 2"  formControlName="referraladdress2">
                      </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput placeholder="Phone" formControlName="referralphone" mask="(000) 000-0000">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Do You Wish To Remain Anonymous ?" formControlName="referralremainanonymous">
                          <mat-option *ngFor="let anonymous of loadAnonymousYesorNo" [value]="anonymous.id">{{anonymous.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Relationship"  formControlName="referralrelationship">
                      </mat-form-field>
                  </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="2">
            <div class="col-sm-12">
              <h5>CLIENT INFORMATION</h5>
              <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                      <input matInput placeholder="Name"  formControlName="clientinfoname" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput appMaskDate [matDatepicker]="picker2" placeholder="DOB" formControlName="clientinfodob" required>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <div class="row">
                      <div class="col-sm-6">
                          <mat-form-field>
                            <input matInput placeholder="Age"  formControlName="clientinfoage">
                          </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-select placeholder="Gender" required formControlName="gendertypekey">
                              <mat-option *ngFor="let item of genderDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      </div>
                    </div>
                    <mat-form-field>
                      <input matInput placeholder="Address Line 1" formControlName="clientinfoaddress1">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Address Line 2"  formControlName="clientinfoaddress2">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Phone"  formControlName="clientinfophone">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Marital Status" formControlName="maritalstatuskey">
                        <mat-option *ngFor="let item of maritalDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput placeholder="Monthly Income"  formControlName="monthlyincome" numberOnly>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <input matInput placeholder="Source"  formControlName="monthlyincomesource" stringOnly>
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field>
                        <input matInput placeholder="Total Assets"  formControlName="totalassets" numberOnly>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field>
                        <input matInput placeholder="Source"  formControlName="totalassetssource" stringOnly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Race" formControlName="racetypekey">
                        <mat-option *ngFor="let item of racetypeDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                     </mat-select>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-select placeholder="Ethnicity" formControlName="ethnicitytypekey">
                          <mat-option *ngFor="let item of ethinicityDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                      </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-form-field>
                      <input matInput placeholder="Additional Info"  formControlName="additionalinfo">
                    </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="3">
              <div class="col-sm-12">
                <h5>OTHERS IN HOUSEHOLD/INTERESTED OTHERS</h5>
                <div class="row">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput placeholder="Name"  formControlName="othersName">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput placeholder="RelationShip"  formControlName="othersRelationship">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput placeholder="Phone"  formControlName="othersPhone" mask="(000) 000-0000">
                    </mat-form-field>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-pri btn-theme" (click)="addHouseHold()" [disabled]="disableButton">ADD</button>
                </div>
              </div>
              <div class="col-sm-6 added-adds pull-right" *ngIf="houseHold.length !== 0">
                <div class="table-responsive table-theme t-height">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                  Relationship
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="(houseHold$ | async)?.length !== 0">
                            <tr *ngFor="let houseHold of houseHold$ | async; let i = index">
                                <td>
                                    {{houseHold.name}}
                                </td>
                                <td>
                                  {{houseHold.relationship}}
                                </td>
                                <td>
                                    {{houseHold.phone}}
                                </td>
                                <td>
                                    <i class="fa fa-trash text-22" (click)="deleteHouseHold(i)"></i>
                                </td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="(houseHold$ | async)?.length === 0">
                            <tr>
                                <td colspan="4"> No House Hold added</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
          </div>
          <div class="tab-pane" id="4">
            <div class="col-sm-12">
              <h5>RISK/SAFETY FACTORS FOR INVESTIGATOR</h5>
              <div class="row">
                <div class="col-sm-6">
                  
                    <!-- <mat-select placeholder="AGGR PETS" formControlName="riskaggrpets">
                      <mat-option *ngFor="let aggrpets of AdultScreenYesOrNo" [value]="aggrpets.id">{{aggrpets.name}}</mat-option>
                    </mat-select> -->
                    <label class="label-radio">AGGR PETS</label>
                    <mat-radio-group class="clearfix" placeholder="AGGR PETS" formControlName="riskaggrpets">
                        <mat-radio-button *ngFor="let aggrpets of AdultScreenYesOrNo" [value]="aggrpets.id">{{aggrpets.name}}</mat-radio-button>
                     </mat-radio-group>
                  
                  <!-- <mat-form-field>
                    <mat-select placeholder="FIREARMS" formControlName="riskfireharms">
                      <mat-option *ngFor="let firearms of AdultScreenYesOrNo" [value]="firearms.id">{{firearms.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">FIREARMS</label>
                    <mat-radio-group class="clearfix" placeholder="FIREARMS" formControlName="riskfireharms">
                        <mat-radio-button *ngFor="let firearms of AdultScreenYesOrNo" [value]="firearms.id">{{firearms.name}}</mat-radio-button>
                     </mat-radio-group>

                  <!-- <mat-form-field>
                    <mat-select placeholder="CDS ABUSE" formControlName="riskcdsabuse">
                      <mat-option *ngFor="let abuse of AdultScreenYesOrNo" [value]="abuse.id">{{abuse.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">CDS ABUSE</label>
                  <mat-radio-group class="clearfix" placeholder="CDS ABUSE" formControlName="riskcdsabuse">
                      <mat-radio-button *ngFor="let abuse of AdultScreenYesOrNo" [value]="abuse.id">{{abuse.name}}</mat-radio-button>
                   </mat-radio-group>

                  <!-- <mat-form-field>
                    <mat-select placeholder="Dom Violence" formControlName="riskdomviolence">
                      <mat-option *ngFor="let violence of AdultScreenYesOrNo" [value]="violence.id">{{violence.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <!-- <label>CDS ABUSE</label> -->
                  <label class="label-radio">Dom Violence</label>
                  <mat-radio-group class="clearfix" placeholder="Dom Violence" formControlName="riskdomviolence">
                      <mat-radio-button *ngFor="let violence of AdultScreenYesOrNo" [value]="violence.id">{{violence.name}}</mat-radio-button>
                   </mat-radio-group>

                </div>
                <div class="col-sm-6">
                  <!-- <mat-form-field>
                    <mat-select placeholder="Home Hazards" formControlName="riskhomehazards">
                      <mat-option *ngFor="let hazard of AdultScreenYesOrNo" [value]="hazard.id">{{hazard.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">Home Hazards</label>
                  <mat-radio-group class="clearfix" placeholder="Home Hazards" formControlName="riskhomehazards">
                      <mat-radio-button *ngFor="let hazard of AdultScreenYesOrNo" [value]="hazard.id">{{hazard.name}}</mat-radio-button>
                   </mat-radio-group>
                  <!-- <mat-form-field>
                    <mat-select placeholder="PSYCHIATRIC" formControlName="riskpsychiatric">
                      <mat-option *ngFor="let psychiatric of AdultScreenYesOrNo" [value]="psychiatric.id">{{psychiatric.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">PSYCHIATRIC</label>
                  <mat-radio-group class="clearfix" placeholder="PSYCHIATRIC" formControlName="riskpsychiatric">
                      <mat-radio-button *ngFor="let psychiatric of AdultScreenYesOrNo" [value]="psychiatric.id">{{psychiatric.name}}</mat-radio-button>
                   </mat-radio-group>

                  <!-- <mat-form-field>
                    <mat-select placeholder="MEDICAL" formControlName="riskmedical">
                      <mat-option *ngFor="let medical of AdultScreenYesOrNo" [value]="medical.id">{{medical.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">MEDICAL</label>
                  <mat-radio-group class="clearfix" placeholder="MEDICAL" formControlName="riskmedical">
                      <mat-radio-button *ngFor="let medical of AdultScreenYesOrNo" [value]="medical.id">{{medical.name}}</mat-radio-button>
                   </mat-radio-group>

                  <!-- <mat-form-field>
                    <mat-select placeholder="OTHER" formControlName="riskother">
                      <mat-option *ngFor="let other of AdultScreenYesOrNo" [value]="other.id">{{other.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <label class="label-radio">OTHER</label>
                  <mat-radio-group class="clearfix" placeholder="OTHER" formControlName="riskother">
                      <mat-radio-button *ngFor="let other of AdultScreenYesOrNo" [value]="other.id">{{other.name}}</mat-radio-button>
                   </mat-radio-group>
                </div>
                <div class="col-sm-12">
                  <mat-form-field>
                    <textarea matInput placeholder="Leave a comment" formControlName="riskcomments"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="5">
            <div class="col-sm-12">
              <h5>DETAILS OF REFERRAL (NARRATIVE)</h5>
              <mat-form-field>
                <textarea matInput placeholder="Leave a comment" formControlName="detailsofreferralcomments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="tab-pane" id="6">
            <div class="col-sm-12">
              <h4>DOES THE INFORMATION SUPPORT AN "APS" INVESTIGATION?</h4>
              <h5>MALTREATMENT TYPE</h5>
              <ng-container *ngIf="isAS">
                <div class="row">
                    <div class="col-sm-4">
                      <mat-form-field>
                      <mat-select placeholder="Alleged Victim(s)" multiple formControlName="allegedVictim" (change)="allegedVictimChnge($event.value)">
                        <mat-option *ngFor="let person of allegedVictimList" [value]="person.Pid">{{person.fullName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field>
                        <mat-select placeholder="Alleged Maltreater(s)" multiple formControlName="allegedMaltreator" [class]="!isMaltreatorRequried ? 'required-custom': ''">
                          <mat-option *ngFor="let person of otherPersonList"  [value]="person.Pid">{{person.fullName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="isUnknow">
                      <div class="m-t-20">
                        <mat-checkbox formControlName="unknow" (change)="unknownMaltreator($event.checked)"> Unknown <span [class]="isUnknowRequried ? 'required-check': ''"></span> </mat-checkbox>
                      </div>
                    </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!isAS">
                  <div class="row">
                      <div class="col-sm-4">
                        
                          <!-- <mat-select placeholder="Alleged Victim(s)" multiple formControlName="allegedVictim"  required>  
                              <mat-option *ngFor="let person of invlovedPersons" [value]="person.Pid">{{person.fullName}}</mat-option>
                              
                          </mat-select> -->
                          <div *ngIf="(invlovedPersons | filter:'RA':'Role').length != 0; else alleged_vitcim">
                            <mat-form-field>
                              <mat-select placeholder="Alleged Victim(s)" multiple formControlName="allegedVictim"  required>  
                                   <mat-option *ngFor="let person of invlovedPersons | filter:'RA':'Role'" [value]="person.Pid">{{person.fullName}}</mat-option>
                                 </mat-select>
                                </mat-form-field>
                          </div>
                          <ng-template #alleged_vitcim>
                              <div *ngIf="(invlovedPersons | filter:'AV':'Role').length != 0; else no_aleged_victim">
                                <mat-form-field>
                                  <mat-select placeholder="Alleged Victim(s)" multiple formControlName="allegedVictim"  required>  
                                       <mat-option *ngFor="let person of invlovedPersons | filter:'AV':'Role'" [value]="person.Pid">{{person.fullName}}</mat-option>
                                     </mat-select>
                                    </mat-form-field>
                              </div>
                          </ng-template>
                          <ng-template #no_aleged_victim>
                              <mat-form-field>
                                <mat-select placeholder="Alleged Victim(s)" multiple formControlName="allegedVictim" required>
                                </mat-select>                            
                              </mat-form-field>
                          </ng-template>
      
                         
                          
                       
                        <!-- <button class="btn btn-pri btn-theme">ADD</button> -->
                      </div>
                      <div class="col-sm-4">
                          <mat-form-field>
                            <!--D-07006 start-->
                            <mat-select placeholder="Alleged Maltreater(s)" multiple formControlName="allegedMaltreator">
                            <!--D-07006 end-->
                              <mat-option *ngFor="let person of invlovedPersons| filter:'AM':'Role'" [value]="person.Pid">{{person.fullName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- <button class="btn btn-pri btn-theme">ADD</button> -->
                        </div>
                    </div>
                    <hr>
              </ng-container>
              <ng-container *ngIf="isAS">
                  <div class="row">
                      <div class="col-sm-12">
                          <label class="label-radio">Physical Abuse</label>
                          <mat-radio-group class="clearfix" placeholder="Physical Abuse" formControlName="phyAbuseSelect" (change)="onPhysicalAbuse($event)">
                              <mat-radio-button *ngFor="let phy of allegationDropdownList" [value]="phy.id">{{phy.name}}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Exploitation</label>
                          <mat-radio-group class="clearfix" placeholder="Exploitation" formControlName="exploitationSelect" (change)="onExploitation($event)">
                              <mat-radio-button *ngFor="let exp of allegationDropdownList" [value]="exp.id">{{ exp.name }}</mat-radio-button>
                          </mat-radio-group>
                          
                          <label class="label-radio">Self-Neglect</label>
                          <mat-radio-group class="clearfix" placeholder="Self-Neglect" formControlName="selfNeglectSelect" (change)="onSelfNeglect($event)">
                              <mat-radio-button *ngFor="let self of allegationDropdownList" [value]="self.id">{{ self.name }}</mat-radio-button>
                          </mat-radio-group>
                      
                          <label class="label-radio">Neglect by Others</label>
                          <mat-radio-group class="clearfix" placeholder="Neglect by Others" formControlName="neglectedByOthersSelect" (change)="onNeglectByOthers($event)">
                              <mat-radio-button *ngFor="let neglect of allegationDropdownList" [value]="neglect.id">{{ neglect.name }}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Sexual Exploitation</label>
                          <mat-radio-group class="clearfix" placeholder="Sexual Exploitation" formControlName="sexExploitationSelect" (change)="onSexExploitation($event)">
                              <mat-radio-button *ngFor="let seExp of allegationDropdownList" [value]="seExp.id">{{ seExp.name }}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Physical Environment</label>
                          <mat-radio-group class="clearfix" placeholder="Physical Environment" formControlName="physicalEnvironmentSelect" (change)="onPhysicalEnvironment($event)">
                              <mat-radio-button *ngFor="let env of allegationDropdownList" [value]="env.id">{{ env.name }}</mat-radio-button>
                          </mat-radio-group>
                      </div>
                      <div class="col-sm-4">
                          <mat-form-field>
                              <mat-select placeholder="Response Time" formControlName="subServiceType" (change) ="loadSelectedSubType($event)" >
                                <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
              </ng-container>
              <ng-container *ngIf="!isAS">
                  <div class="row">
                      <div class="col-sm-12">
                      
                          <label class="label-radio">Physical Abuse</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Physical Abuse" formControlName="phyAbuseSelect" (change)="onPhysicalAbuse($event)" required>
                              <mat-radio-button *ngFor="let phy of allegationDropdownList" [value]="phy.id" required>{{phy.name}}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Exploitation</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Exploitation" formControlName="exploitationSelect" (change)="onExploitation($event)" required>
                              <mat-radio-button *ngFor="let exp of allegationDropdownList" [value]="exp.id">{{ exp.name }}</mat-radio-button>
                          </mat-radio-group>
                          
                          <label class="label-radio">Self-Neglect</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Self-Neglect" formControlName="selfNeglectSelect" (change)="onSelfNeglect($event)" required>
                              <mat-radio-button *ngFor="let self of allegationDropdownList" [value]="self.id">{{ self.name }}</mat-radio-button>
                          </mat-radio-group>
                      
                          <label class="label-radio">Neglect by Others</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Neglect by Others" formControlName="neglectedByOthersSelect" (change)="onNeglectByOthers($event)" required>
                              <mat-radio-button *ngFor="let neglect of allegationDropdownList" [value]="neglect.id">{{ neglect.name }}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Sexual Exploitation</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Sexual Exploitation" formControlName="sexExploitationSelect" (change)="onSexExploitation($event)" required>
                              <mat-radio-button *ngFor="let seExp of allegationDropdownList" [value]="seExp.id">{{ seExp.name }}</mat-radio-button>
                          </mat-radio-group>
    
                          <label class="label-radio">Physical Environment</label><span class="required"></span>
                          <mat-radio-group class="clearfix" placeholder="Physical Environment" formControlName="physicalEnvironmentSelect" (change)="onPhysicalEnvironment($event)" required>
                              <mat-radio-button *ngFor="let env of allegationDropdownList" [value]="env.id">{{ env.name }}</mat-radio-button>
                          </mat-radio-group>
                      </div>
                      <!-- <div class="col-sm-4">
                          <mat-form-field>
                            <mat-select placeholder="Physical Abuse" formControlName="phyAbuseSelect" (change)="onPhysicalAbuse($event)" required>
                              
                                <mat-option *ngFor="let phy of allegationDropdownList" [value]="phy.id">{{phy.name}}</mat-option>
                              
                               <mat-option *ngFor="let alligation of allegationDropDownItems" [value]="alligation.value">{{ alligation.text }}</mat-option> 
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-select placeholder="Neglect by Others" formControlName="neglectedByOthersSelect" (change)="onNeglectByOthers($event)" required>
                              <mat-option *ngFor="let neglect of allegationDropdownList" [value]="neglect.id">{{ neglect.name }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    <div class="col-sm-4">
                      <mat-form-field>
                        <mat-select placeholder="Exploitation" formControlName="exploitationSelect" (change)="onExploitation($event)" required>
                            <mat-option *ngFor="let exp of allegationDropdownList" [value]="exp.id">{{ exp.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Sexual Exploitation" formControlName="sexExploitationSelect" (change)="onSexExploitation($event)" required>
                            <mat-option *ngFor="let seExp of allegationDropdownList" [value]="seExp.id">{{ seExp.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                          <mat-select placeholder="Self-Neglect" formControlName="selfNeglectSelect" (change)="onSelfNeglect($event)" required>
                            <mat-option *ngFor="let self of allegationDropdownList" [value]="self.id">{{ self.name }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Physical Environment" formControlName="physicalEnvironmentSelect" (change)="onPhysicalEnvironment($event)" required>
                              <mat-option *ngFor="let env of allegationDropdownList" [value]="env.id">{{ env.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div> -->
                      <div class="col-sm-4">
                          <mat-form-field>
                              <mat-select placeholder="Response Time" formControlName="subServiceType" (change) ="loadSelectedSubType($event)" >
                                <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
                  <hr>
              </ng-container>
            
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field>
                    <input matInput placeholder="Location Of Maltreatment"  formControlName="locationOfMalTreatment" >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <mat-form-field>
                    <textarea matInput placeholder="Explain Why Response in the Narrative Below" formControlName="responseDetail" ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="7">
            <div class="col-sm-12">
              <h5>ENVIRONMENTAL/EXTERNAL RISKS</h5>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Healthcare" formControlName="healthcarekey" (change)="onHealthCare($event)">
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Clutter/Upkeep of Home" formControlName="cluttertypekey" (change)="onClutter($event)">
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Housing & Utilities" formControlName="housingtypekey" (change)="onSelectUtilities($event)">
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Transportation" formControlName="transportationkey" (change)="onTransportation($event)">
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Food / Groceries" formControlName="foodtypekey" (change)="onSelectFood($event)">
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Supervision" formControlName="supervisiontypekey" (change)="onSelectSupervision($event)">
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <textarea matInput placeholder="What Makes This Individual Vulnerable?" formControlName="individualvulnerable"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="tab-pane" id="8">
            <div class="col-sm-12">
              <h5>PHYSICAL/FUNCTIONAL RISKS</h5>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Eating / Feeding" formControlName="eatingfeedingkey" (change)="onEatingSelect($event)">
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Walking / Mobility" formControlName="walkingkey" (change)="onMobility($event)" required>
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Dressing / Grooming" formControlName="dressingkey" (change)="onDressingSelect($event)">
                      <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Taking Medications" formControlName="takingmedicationkey" (change)="onTakingMedicationSelect($event)" required>
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Bathing" formControlName="bathingkey">
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value" (change)="onBathingSelect($event)" required>{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Toileting" formControlName="toiletkey">
                        <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value" (change)="onToileting($event)" required>{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field>
                    <textarea matInput placeholder="Notes" formControlName="physicalrisksnotes"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="9">
            <div class="col-sm-12">
                  <h5>MENTAL/EMOTIONAL CHALLENGES</h5>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-select placeholder="Dementia / Cognitive Impairment" formControlName="dementiakey" (change)="onDementiaSelect($event)" required>
                          <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Substance abuse (including alcohol & prescription drugs)" formControlName="substanceabusekey" (change)="onSubstanceAbuse($event)" required>
                            <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Behavioral Issues (aggressive, wandering, etc.)" formControlName="behavioralissueskey" (change)="onBehavioral($event)" required>
                            <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-select placeholder="Thought disorders (hallucinations, delusions, etc.)" formControlName="thoughtdisorderskey" (change)="onDisorders($event)" required>
                            <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Affective / Mood Disorders (depression, anxiety, etc.)" formControlName="mooddisorderskey" (change)="onMoodDisorder($event)" required>
                          <mat-option *ngFor="let risk of adultRisks$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field>
                        <textarea matInput placeholder="Notes" formControlName="mentalchallengesnotes"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
            </div>
          </div>
          <div class="tab-pane" id="10">
            <div class="col-sm-12">
              <h5>STABILITY OF SUPPORT/CAREGIVING NETWORK</h5>
              <div class="row">
                <div class="col-sm-6 m-t-20">
                  <mat-form-field>
                    <mat-select placeholder="Support Network" formControlName="supportnetworkkey" (change)="onSelectSupportNetwork($event)">
                        <mat-option *ngFor="let risk of supportNetwork$ | async" [value]="risk.value">{{risk.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <textarea matInput placeholder="Notes" formControlName="supportnetworknotes"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="11">
              <div class="col-sm-12">
              <h5>OVERALL RISK SCORE AND LEVEL</h5>
              <div class="row">
                  <div class="col-sm-4">
                    <mat-form-field>
                      <input matInput readonly placeholder="Risk Score" type="number" min="0" max="240" maxlength="3"
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57"
                                            formControlName="riskscore">   
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <!-- <mat-select placeholder="RISK LEVEL" formControlName="riskLevel">
                        <mat-option *ngFor="let risk of riskLevels" [value]="risk.id">{{risk.name}}</mat-option>
                      </mat-select> -->
                      <input matInput readonly placeholder="Risk Level" formControlName="risklevel"  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 65 && event.charCode <= 122) || event.charCode == 32)">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field>
                      <!-- <mat-select placeholder="Intake Recommendation" formControlName="intakeRecommendation">
                        <mat-option></mat-option>
                      </mat-select> -->
                      <input matInput readonly placeholder="Intake Recommendation" formControlName="intakerecommendation" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : ((event.charCode >= 65 && event.charCode <= 122) || event.charCode == 32)">
                    </mat-form-field>
                  </div>
                </div>
                </div>
          </div> 
        </div>
      <div class="text-right m-t-20 m-b-20">
          <button class="btn btn-theme btn-sec" (click)="reset()" [disabled]="disableButton">Reset</button>
          <button class="btn btn-theme btn-pri" (click)="saveAdultScreen()" type="submit" [disabled]="disableButton">Save As Draft</button>
          <button class="btn btn-theme btn-pri" (click)="completeScreen()" type="submit" [disabled]="disableButton || adultScreenFormGroup.invalid">Complete</button>
      </div>
  </div>
</div>
</form>
</div>




