<form onSubmit="return false;" [formGroup]="ssiSsaFormGroup">
    <div class="row">
        <div class="left-side-filter">
            <h5>Search Filter</h5>
            <mat-radio-group formControlName="ayear">
                <mat-radio-button value="Y">12 Months</mat-radio-button>
                <mat-radio-button>All</mat-radio-button>
            </mat-radio-group>
            <!-- <mat-form-field>
            <input matInput placeholder="Payment Id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="FEIN/Tax Id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Provider Id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Provider Name">
        </mat-form-field> -->
            <mat-form-field>
                <input matInput placeholder="Client Id" value="" formControlName='client_id' onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Client First Name" value="" formControlName='client_firstname'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Client Last Name" value="" formControlName='client_lastname'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Client Middle Name" value="" formControlName='client_middlename'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="SSN" formControlName='ssn'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Case Worker Name" value="" formControlName='caseworker_name'>
            </mat-form-field>
            <hr class="h-row">
            <h5>DOB Range</h5>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker6" value="" formControlName='dobdaterangefrom'
                            placeholder="Start">
                        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker7" value="" formControlName='dobdaterangeto' placeholder="End">
                        <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                        <mat-datepicker #picker7></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <!-- <h5>Date Range</h5>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Start">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="End">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div> -->
            <button class="btn btn-pri pull-right mt-20 btn-align" (click)='searchProviders()'>Go</button>
            <button class="btn btn-sec pull-right mt-20" (click)='clearSearch()'>Clear</button>
        </div>
    </div>
</form>