<div class="row m-t-10">
    <div class="col-md-12">
        <div class="panel panel-default panel-theme">
            <div class="panel-heading">
                <span class="site-color text-22">APPLA
                    <button type="button" class="close mr-10 text-22" (click)="close()">x</button>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <ng-container *ngIf="child">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <h5>Name#</h5>
                                <p class="m-0">
                                    {{ child?.firstname }} {{ child?.lastname }}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <h5>CJAMS PID#</h5>
                                <p class="m-0">{{ child?.cjamspid }}</p>
                            </div>
                            <div class="col-sm-2">
                                <h5>D.O.B</h5>
                                <p class="m-0">
                                    {{ child?.dob | date: "MM/dd/yyyy" }}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <h5>Gender</h5>
                                <p class="m-0">{{ child?.gender }}</p>
                            </div>
                            
                        </div>


                    </ng-container>
               
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
</div>