<div class="form-search-person dangerwork-form address-form no-pad">
    <div class="col-sm-8">
            <h4> Contacts</h4>
        </div>
<!-- <div class="clearfix"></div> -->

<div class="col-sm-12">
    <div class="text-right">
        <button [hidden]='isReadOnly' class="btn-pri" data-toggle="modal" data-target="#add-notes"> Add Contact </button>
    </div>
    <br>
</div>

<div class="row">
        <div class="col-md-12 table-responsive">
        <table class="table customTable firsttable">
            <thead>
                <tr>
                    <th><font size="2">Contact Type</font></th>
                    <th><font size="2">Location</font></th>                        
                    <th><font size="2">Purpose</font></th>
                    <th><font size="2">Date and Time</font></th>
                    <th><font size="2">Contact Name</font></th>
                    <th><font size="2">Contact Role</font></th>
                    <th><font size="2">Phone</font></th>
                    <th><font size="2">Email</font></th>
                    <th><font size="2">Narrative</font></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let contact of contacts | paginate: { id:'int-cntct',itemsPerPage: 10, currentPage: p }"> 
                    <td>{{contact.type_of_contact}}</td>
                    <td>{{contact.communication_location}}</td>
                    <td>{{contact.purpose_of_contact}}</td>
                    <td>{{contact.communication_date | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td>{{contact.person_contacted_name}}</td>
                    <td>{{contact.title_of_person_contacted}}</td>
                    <td>{{contact.phone_of_contact}}</td>
                    <td>{{contact.email_of_contact}}</td>
                    <td>{{contact.narrative}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center m-t-20" *ngIf="contacts; let contacts">
            <pagination-controls id="int-cntct" class="text-center m-t-20" *ngIf="contacts.length>0" (pageChange)="p = $event"></pagination-controls>
</div>
        </div>
      </div>
</div>

<div class="modal fade in" id="add-notes" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="IntakeAppointmentLabel">
<div class="modal-dialog modal-lg " role="document">
  <div class="modal-content ">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNotes()">
              <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Add Contact</h4>
      </div>
      <div class="modal-body ">


        <form [formGroup]="noteForm">
            <div class="">
                
                    <div class="col-md-6">

                        <mat-form-field>
                            <mat-select placeholder="Contact Type" formControlName="type_of_contact" >
                                    <mat-option *ngFor="let phone of phoneTypeDropdownItems$ | async" value="{{phone.value}}">{{phone.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                   <mat-form-field>
                            <mat-select placeholder="Location" formControlName="communication_location" >
                                <mat-option *ngFor="let contact of contactTypes" value="{{contact.type}}">
                                    {{contact.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>





                                         


                        <mat-form-field>
                            <mat-select placeholder="Purpose" formControlName="purpose_of_contact" >
                                <mat-option *ngFor="let contact of contactPurpose" value="{{contact.type}}">
                                    {{contact.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>



                        <mat-form-field>
                            <fieldset>
                                <textarea type="text" formControlName="narrative" matInput placeholder="Narrative" ></textarea>
                            </fieldset> 
                            </mat-form-field> 
                    </div>
                </div>


                <div class="">
                
                    <div class="col-md-6">

                        <mat-form-field>
                            <input matInput  [matDatepicker]="picker" (click)="picker.open()"
                                 (focus)="picker.open()" id="contactdate"
                                formControlName="communication_date" placeholder="Date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Time" formControlName="appointment_time" >
                                    <mat-option *ngFor="let item of timesArray" value="{{item}}">{{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

          
                        <mat-form-field>
                            <input type="text" matInput formControlName="person_contacted_name" placeholder="Contact Name">
                        </mat-form-field>

                
                        <mat-form-field>
                            <mat-select placeholder="Contact Role" formControlName="title_of_person_contacted" >
                                <mat-option *ngFor="let contact of contactRole" value="{{contact.type}}">
                                    {{contact.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput formControlName="phone_of_contact" mask="(000) 000-0000" placeholder="Phone" >
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput formControlName="email_of_contact"  placeholder="Email" >
                        </mat-form-field>
           </div>
                </div>
   
                
   
                <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri" [disabled]="noteForm.pristine || noteForm.invalid"  (click)="saveNote(noteForm.value)">Add Contact</button>
                            </div>
                        </div>
                    </div>


        </form>
    </div>
</div>
</div>
</div>
