.mat-header-row {
    min-height: 42px;
}
.mat-header-row {
    background: #AEBED6 !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #000000 !important;
    text-align: left !important; 
    font-weight: bold !important;
}
.mat-header-cell {
    color: #000000 !important;
    font-weight: 600 !important;
}
.mat-row:nth-child(even){
    background-color:#f9f9f9;
}
.mat-row:nth-child(odd){
    background-color:white;
}
.mat-progress-spinner svg {
    width: 20px !important;
    height: 20px !important;
}
.mat-cell a {
    color:  #00A2FD !important;
}
.mat-sort-header-button {
    font-size: 13px;
    border-width: 1px;
    padding: 12px 8px;
    text-transform: uppercase;
    background: #AEBED6;
    font-weight: 600;
    color: #000000 !important;
    text-align: left;
}

.reset_link {
    font-size: 14px;
    margin-left: 12px;
}

.tab-horizontal .nav {
    border: none;
}

.m-t-13 {
    margin-top: 13px;
}

.search-dropdwn {
    display: inline-block;
    width: 80%;

    mat-form-field {
        width: 100%;
    }
}

.reset-div {
    width: auto;
    display: inline-block;
}