<div class="dashboard-cont no-pad m-t-10">
  <div class="box-grid-main clsMinHeight clearfix">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mrg-top25">Incident Report</h3>
      </div>
      <div class="col-sm-6 text-right m-t-15">
        <div class="row">
          <div class="col-sm-6 pull-right m-b-15">
            <a class="btn btn-pri btn-theme" (click)="onNewIncidentReport()"
              *ngIf="role === 'Provider_Staff_Admin'"><span class="m-r-5">+</span>New Incident
              Report</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
          <div class="inner-addon right-addon search-container">
              <mat-form-field>
                  <mat-label>Search By</mat-label>
                  <mat-select [(ngModel)]="search_type">
                      <mat-option value="uir_number">UIR Number</mat-option>
                      <mat-option value="provider_id">Provider Id</mat-option>
                      <mat-option value="provider_name">Provider Name</mat-option>
                      <mat-option value="program_name">Program Name</mat-option>
                      <mat-option value="child_name">Child Name</mat-option>
                      <mat-option value="youth_identification_number">Youth Identification Number</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'uir_number'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('uir_no', $event.target.value)"
              [(ngModel)]="search_uir_no" placeholder="UIR No" />
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'provider_id'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('provider_id', $event.target.value)"
              [(ngModel)]="search_provider_id" placeholder="Provider ID" />
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'provider_name'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('provider_name', $event.target.value)"
              [(ngModel)]="search_provider_name" placeholder="Provider Name" />
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'program_name'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('program_name', $event.target.value)"
              [(ngModel)]="search_program_name" placeholder="Program Name" />
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'child_name'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('child_name', $event.target.value)"
              [(ngModel)]="search_child_name" placeholder="Child Name" />
          </div>
        </div>
        <div class="col-sm-3 m-t-10" *ngIf="search_type === 'youth_identification_number'">
          <div class="inner-addon right-addon search-container">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" (input)="onSearch('youth_identification_number', $event.target.value)"
              [(ngModel)]="search_youth_identification_number" placeholder="Youth Identifier Number" />
          </div>
        </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-horizontal m-t-20">
          <!-- <uir-dashboard></uir-dashboard> -->
          <div class="row justify-content-between">
            <div class="col-sm-5 m-t-13">
              <ul class="nav nav-pills">
                <li class="active">
                  <!--<a href="#incident-list" (click)="setStatus('pending')" data-toggle="tab">PENDING</a>-->
                  <a href="#incident-list" (click)="setStatus('pending')" data-toggle="tab">{{  isProvider ? 'PENDING' : 'SUBMITTED' }}</a>
                </li>
                <li>
                  <a href="#incident-list" (click)="setStatus('submitted')"
                    data-toggle="tab">{{  isProvider ? 'SUBMIT' : 'APPROVED' }} </a>
                </li>
                <li>
                  <!--<a href="#incident-list" (click)="setStatus('closed')" data-toggle="tab">CLOSED</a>-->
                  <a href="#incident-list" (click)="setStatus('closed')" data-toggle="tab">{{  isProvider ? 'CLOSED' : 'WITHDRAWN' }}</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <div class="m-t-10" *ngIf="search_type === 'uir_number'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" (input)="onSearch('uir_no', $event.target.value)"
                    [(ngModel)]="search_uir_no" placeholder="UIR No" />
                </div>
              </div>
              <div class="m-t-10" *ngIf="search_type === 'provider_id'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" (input)="onSearch('provider_id', $event.target.value)"
                    [(ngModel)]="search_provider_id" placeholder="Provider ID" />
                </div>
              </div>
              <div class="m-t-10" *ngIf="search_type === 'provider_name'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" (input)="onSearch('provider_name', $event.target.value)"
                    [(ngModel)]="search_provider_name" placeholder="Provider Name" />
                </div>
              </div>
              <div class="m-t-10" *ngIf="search_type === 'program_name'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" (input)="onSearch('program_name', $event.target.value)"
                    [(ngModel)]="search_program_name" placeholder="Program Name" />
                </div>
              </div>
              <div class="m-t-10" *ngIf="search_type === 'child_name'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" (input)="onSearch('child_name', $event.target.value)"
                    [(ngModel)]="search_child_name" placeholder="Child Name" />
                </div>
              </div>
              <div class="m-t-10" *ngIf="search_type === 'youth_identification_number'">
                <div class="inner-addon right-addon search-container">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control"
                    (input)="onSearch('youth_identification_number', $event.target.value)"
                    [(ngModel)]="search_youth_identification_number" placeholder="Youth Identifier Number" />
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="inner-addon right-addonright-addon search-container search-dropdwn">
                <mat-form-field>
                  <mat-label>Search By</mat-label>
                  <mat-select [(ngModel)]="search_type">
                    <mat-option value="uir_number">UIR Number</mat-option>
                    <mat-option value="provider_id">Provider Id</mat-option>
                    <mat-option value="provider_name">Provider Name</mat-option>
                    <mat-option value="program_name">Program Name</mat-option>
                    <mat-option value="child_name">Child Name</mat-option>
                    <mat-option value="youth_identification_number">Youth Identification Number</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="text-right m-t-20 reset-div">
                  <span><a class="reset_link" (click)="resetSearch()">Reset</a></span>
              </div>
            </div>
          </div>
          <div class="">
            <div class="tab-content boxgrid">
              <div class="tab-pane active" id="incident-list">
                <!-- <div class="table-responsive table-theme">
                          <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                            <thead>
                              <tr>
                                <th sortable-column="referralnumber" sort-direction="desc">UIR</th>
                                <th>Provider ID</th>
                                <th>Provider Name</th>
                                <th>Program Name</th>
                                <th>Licensing agency</th>
                                <th>Incident created date</th>
                                <th>Incident Type</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="uirList; let uirList">
                              <ng-container *ngIf="uirList.length>0; else noItems">
                                <tr *ngFor="let item of uirList">
                                  <td><a (click)='getUirDetails(item)'>{{item.uir_no}}</a></td>
                                  <td>{{item.provider_id }}</td>
                                  <td>{{item.displayname }}</td>
                                  <td></td>
                                  <td></td>
                                  <td>{{item.insertedon | date:'MM/dd/yyyy'}}</td>
                                  <td></td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                          <ng-template #noItems>
                            <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center m-t-20" *ngIf="totalRecords>0">
                            <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                            </pagination>
                          </div>
                        </div> -->
                <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear
                  (matSortChange)="customSort($event)">
                  <ng-container matColumnDef="uir_no">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>UIR</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a (click)='getUirDetails(element)'>{{ element.uir_no }}</a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="provider_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PROVIDER ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.provider_id }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="provider_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PROVIDER NAME</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.displayname }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="program_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PROGRAM NAME</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.program_name}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="child_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CHILD NAME / YOUTH IDENTIFIER NUMBER
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <ng-container *ngIf="element.childnm_identifierno && element.childnm_identifierno.length">
                        <span>
                          <ng-container *ngFor="let child of element.childnm_identifierno">
                            <p> {{child.child_name}} - {{child.identifier_no}}</p>
                          </ng-container>
                        </span>
                      </ng-container>
                    </mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="youth_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>YOUTH IDENTIFIER NUMBER</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              {{ element.identifier_no}}
                            </mat-cell>
                          </ng-container> -->
                  <ng-container matColumnDef="licensing_agency">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>LICENSING AGENCY</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      OLM
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="insertedon">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>INCIDENT CREATED DATE</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.insertedon | date:'MM/dd/yyyy'}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="incident_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>INCIDENT TYPE</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.incident_type }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="statusdesc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.statusdesc }}
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
                <div *ngIf="uirList?.length === 0" class="no-records">
                  No Items!
                </div>
                <div class="col-sm-12">
                  <div class="text-center mt-10" *ngIf="uirList.length">
                    <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                      (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                      [itemsPerPage]="paginationInfo.pageSize">
                    </pagination>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="case-submit">
                <!-- <div class="table-responsive table-theme">
                          <table class="table table-striped" sortable-table (sorted)="onSorted($event)">
                            <thead>
                              <tr>
                                <th sortable-column="referralnumber" sort-direction="desc">UIR</th>
                                <th>Provider ID</th>
                                <th>Provider Name</th>
                                <th>Program Name</th>
                                <th>Licensing agency</th>
                                <th>Incident created date</th>
                                <th>Incident Type</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="uirList; let uirList">
                              <ng-container *ngIf="uirList.length>0; else noItems">
                                <tr *ngFor="let item of uirList">
                                  <td><a (click)='getUirDetails(item)'>{{item.uir_no}}</a></td>
                                  <td>{{item.provider_id }}</td>
                                  <td>{{item.displayname }}</td>
                                  <td></td>
                                  <td></td>
                                  <td>{{item.insertedon | date:'MM/dd/yyyy'}}</td>
                                  <td></td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                          <ng-template #noItems>
                            <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center m-t-20" *ngIf="totalRecords>0">
                            <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="pageChanged1($event)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                            </pagination>
                          </div>
                    </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>