<div class="container-fluid">
  <div class="dashboard-cont no-pad m-t-50">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="mrg-top25">Incident Report</h4>
      </div>
      <div class="col-sm-6 text-right m-t-15">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-pri btn-theme" (click)="onNewIncidentReport()"><span class="m-r-5">+</span>New Incident
              Report</a>
          </div>
          <!-- <div class="col-sm-6">
                    <div class="inner-addon right-addon search-container">
                        <i class="glyphicon glyphicon-search" (click)="searchDashboard()"></i>
                        <input type="text" class="form-control" [(ngModel)]="search_complaint_number" placeholder="Search Complaint..." />
                    </div>
                </div> -->

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-horizontal m-t-20 mrg-btm25">
          <ul class="nav nav-pills">
            <li class="active">
              <a href="#case-pending" data-toggle="tab">PENDING</a>
            </li>
            <li>
              <a href="#case-rejected" data-toggle="tab">SUBMIT / CLOSED</a>
            </li>
            <!-- <a class="btn btn-pri m-l-20 pull-right" (click)="onNewIncidentReport()"><span class="m-r-5">+</span>New Incident Report</a>-->
          </ul>
          <uir-dashboard></uir-dashboard>
        </div>
      </div>
    </div>
  </div>
</div>
