.m-t-30 {
    margin-top: 30px;
}
.btn-bg {
    background: #039be6;
    border: 1px solid #039be6;
    color: #fff;
}
.modal-iframe iframe {
    width: 100%;
    min-height: 530px;
}
.modal-iframe .modal-lg {
    width: 96%;
}
.modal-iframe .modal-lg .modal-body {
    width: 96%;
    min-height: 95%;
}
.icon-btn a {
    vertical-align: middle;
}
.icon-btn a .fa-angle-down,
.icon-btn a .fa-angle-up {
    font-size: 27px;
    line-height: 13px;
}

td a .fa-angle-down,
td a .fa-angle-up {
    font-size: 27px;
    line-height: 13px;
}
.show {
    display: table-row !important;
}

td.icon-btn {
    width: 80px;
}


.custom-table>thead>tr>th {padding:10px 8px;border: none;color: #24292e;font-weight: 600;}
.custom-table>tbody>tr{border-bottom: 1px solid #dddddd;}
.custom-table>tbody>tr>td {padding:0 8px;}
.assessmenttable>thead>tr>th {padding:0;color: #24292e;font-weight: 600;font-size: 13px;border:0;}
.assessmenttable>thead>tr>th>span.date {width: 80px;float: left;}
.assessmenttable>thead>tr>th>span.time {width: 85px;float: left;}
.custom-table>tbody>tr.bg-active {background: #e8f0fa;/*border-left: 10px solid #039be6;*/}
.table.assessmenttable{background-color: transparent;}
.table.assessmenttable>thead>tr>th {border:none;padding-top: 8px;padding-bottom: 10px;}
.table.assessmenttable>thead>tr>th span i.fa-play-circle-o {color: #039be6;cursor:pointer;font-size: 20px;}
.table.assessmenttable>tbody>tr>td {padding:0;font-size:13px;}
.p-t-10 {padding-top:10px !important;}
.w-700 {width:700px;}
.f-w-500 {font-weight: 500;}
.f-w-600 {font-weight: 600;}
.table.assessmenttablelist {background: #e0e8f8;}
.table.assessmenttablelist>thead>tr>th {border-width:1px;}
.table.assessmenttablelist>tbody>tr>td {padding:15px 8px;border-top:1px solid #fff;text-align: left !important;}
span.badgecount {background: #039be6;color: #fff;padding: 0px 6px;margin-left: 10px;border-radius: 3px;}
span.view a, span.print a {color:#039be6;font-weight:600;font-size:13px;margin-left: 25px;float: right;}
span.view a i, span.print a i {font-size: 16px;margin-right:5px;}
// .table.custom-table>thead>tr>th:nth-child(1) {min-width: 250px;max-width: 250px;}
// .table.custom-table>thead>tr>th:nth-child(2) {min-width: 130px;max-width: 130px;}
// .table.custom-table>thead>tr>th:nth-child(3) {min-width: 110px;max-width: 110px;}
// .table.custom-table>thead>tr>th:nth-child(4) {min-width: 58px;max-width: 58px;}
.table.custom-table>thead>tr>th:last-child {width:100px;}

// .table.assessmenttable>thead>tr>th:nth-child(1) {min-width: 250px;max-width: 250px;}
// .table.assessmenttable>thead>tr>th:nth-child(2) {min-width: 130px;max-width: 130px;}
// .table.assessmenttable>thead>tr>th:nth-child(3) {min-width: 110px;max-width: 110px;}
.table.assessmenttable>thead>tr>th:last-child {width:65px;}

.table.assessmenttablelist>thead>tr>th:nth-child(1) {min-width: 220px;max-width: 220px;}
.table.assessmenttablelist>thead>tr>th:nth-child(2) {min-width: 190px;max-width: 190px;}
.table.assessmenttablelist>thead>tr>th:nth-child(3) {min-width: 210px;max-width: 210px;}
.table.assessmenttablelist>thead>tr>th:nth-child(4) {min-width: 120px;max-width: 120px;}
.table.assessmenttablelist>thead>tr>th:nth-child(5) {min-width: 100px;max-width: 100px;}

.custom-modal .modal-header {background: #039be6;}

.intake .tab-horizontal {
    background: #fff;
}
.table th {
    text-transform: uppercase;
}
.table.assessmenttable > thead {
    background-color: #fff;
}
.table-theme .table tr:hover {
    background: #e8f0fa;
}