<div class="col-sm-12">
    <div [hidden]="showAssmnt" class="row m-t-30">
        <div class="col-sm-12">
            <h4>Intake Assessments</h4>
            <div class="m-t-30">
                <div class="table-responsive table-theme" *ngIf="(startAssessment$ | async) as assessmentDetails">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>TITLE</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let assessment of assessmentDetails; let assessmentIndex = index">
                            <tr [class]="showAssesment === assessmentIndex ? 'bg-active':''">
                                <td colspan="4">
                                    <table class="table assessmenttable">
                                        <thead>
                                            <tr>
                                                <th>{{assessment.titleheadertext}}<span class="badgecount" *ngIf="assessment?.intakassessment">{{assessment?.intakassessment?.length}}</span></th>
                                                <th>
                                                    <span class="m-l-30" *ngIf="assessment?.intakassessment"><i class="fa fa-chevron-down"
                                                            (click)="showAssessment(assessmentIndex, assessment?.intakassessment)"
                                                            [class]="showAssesment === assessmentIndex ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                                            aria-hidden="true"></i></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [class]="showAssesment === assessmentIndex ? 'show':'hide'">
                                                <td colspan="5">
                                                    <table class="table assessmenttablelist">
                                                        <thead>
                                                            <tr>
                                                                <th>ASSESSMENT</th>
                                                                <th>UPDATED BY</th>
                                                                <th>UPDATED DATE</th>
                                                                <th>STATUS</th>
                                                                <th>Score</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf="getAsseesmentHistory; let getAssess">
                                                            <tr *ngFor="let data of getAssess">
                                                                <td>{{data.titleheadertext}}</td>
                                                                <td>{{data.username}}</td>
                                                                <td class="dateTime">
                                                                    <span class="date">{{data.updateddate |
                                                                        date:'MM/dd/yyyy'}}</span>
                                                                    <span class="time">{{data.updateddate | date:'h:mm a'}}</span>
                                                                </td>
                                                                <ng-container [ngSwitch]="isAssmentCompelete(data.submissiondata)">
                                                                    <td *ngSwitchCase="'1'">Submitted</td>
                                                                    <td *ngSwitchCase="'2'">Draft</td>
                                                                    <td *ngSwitchCase="'0'">N/A</td>
                                                                </ng-container>
                                                                <td>{{data.score}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>