<div class="col-md-12 m-t-20 m-b-10">
  <h3>Specific Health Issues</h3>
  <!-- <a class="btn-pri pull-right" (click)="addHealthIssues()">ADD Health Issues</a> -->
  <button type="button" class="service-btn p-r-20 col-fnt pull-right" name="" (click)="addHealthIssues()" 
  [disabled]="ytpData.approvalstatuskey == 'Approved' || ytpData.approvalstatuskey == 'Pending'">+ Health Issues</button>
</div>
<div class="col-sm-12">
  <div class="table-responsive">
    <table class="table table-bordered health">
      <thead>
        <tr>
          <th>Health Issues</th>
          <th>Concerns/Needs</th>
          <th>Date of Last Exam</th>
          <th>Doctor Contact Information:<br>
            (name, office address, phone#)<br>
            therapist, dentist, optometrist</th>
          <th>Action</th>
        </tr>
      </thead>          
      <ng-container *ngIf="healthIssuesList.length > 0; else noRecordTemplate">
        <ng-container *ngFor="let item of healthIssuesList; let index=index;">
          <tr>
            <td>
              <mat-form-field>
                <mat-select [(ngModel)]="item.health_issues" >
                  <mat-option value="Physical Health">Physical Health</mat-option>
                  <mat-option value="Dental Health">Dental Health</mat-option>
                  <mat-option value="Vision/Eye Health">Vision/Eye Health</mat-option>
                  <mat-option value="Sexual Health">Sexual Health</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <textarea matInput class="form-control" [(ngModel)]="item.concern"></textarea>
              </mat-form-field></td>
            <td>
              <common-date-picker id="aut-dtp-datelastexam" [(ngModel)]="item.date_last_exam">
                </common-date-picker></td>
            <td>
              <mat-form-field>
                <textarea matInput class="form-control" [(ngModel)]="item.doctor_info"></textarea>
              </mat-form-field></td>
            <td>
              <a (click)="deleteHealthIssues(item,index)"><i class="m-l-20  fa fa-trash text-16"></i></a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #noRecordTemplate>
        <tr>
          <td colspan="5" class="text-center">
            No Records found
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>