<div id="person-roles" role="dialog" data-backdrop="static" data-keyboard="false" role="dialog" style="display: block;">
  <form [formGroup]="personRolesForm" (submit)="saveItem(personRolesForm.value)">
    <div class="row">
      <div class="col-sm-12">
        <div class="manage-dispositions">
          <h5>Manage Person Roles:</h5>
          <div class="col-sm-6">
            <div class="fm-box">
              <label class="required">Person Role</label>
              <div class="fm-box-form col-sm-9">
                <ng-select [searchable]="true" [clearable]="false" formControlName="entityroletypekey">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let personRole of personRoleDropdownItems$ | async | orderBy:'text'" [value]="personRole.value">
                    {{personRole.text}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="fm-box-form">
              <label class="control control--checkbox">
                (Check to set the role as default)
                <input type="checkbox" formControlName="isdefault">
                <div class="control__indicator"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="submit" [disabled]="personRolesForm.pristine || personRolesForm.invalid" class="btn-bg">ADD</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive mrg-top25">
        <table class="table table-striped table-hover icon-action">
          <thead>
            <tr>
              <th>Person Role</th>
              <th>Description</th>
              <th>Default</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let personRolesType of personRolesTypes$ | async">
              <td>{{personRolesType.name}}</td>
              <td>{{personRolesType.description}}</td>
              <td>
                <label class="control control--checkbox">
                  <input type="checkbox" [checked]="personRolesType.isdefault === true" [disabled]="personRolesType">
                  <div class="control__indicator"></div>
                </label>
              </td>
              <td>
                <ul class="list-unstyled list-inline mrg-btm0">
                  <li>
                    <a href="javascript:{}" (click)="deleteItem(personRolesType)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>