<form [formGroup]="extendableForm">
  <table class="table table-bordered" style="width:84%">
    <tr>
      <td> Name Of Secondary Education Or Equivalent Program    </td>
      <td style="width:40%">{{extendableForm.get('nameOfSecondaryEducationOrEquivalentProgram').value }}</td>
    
    </tr>
    <tr>
      <td> Start Date Of Secondary Education Or Equivalent Program        </td>
      <td  style="width:40%">{{extendableForm.get('startDateOfSecondaryEducationOrEquivalentProgram').value | date: 'MM/dd/yyyy'}}</td>
      <!-- <td *ngIf="!extendableForm.get('startDateOfSecondaryEducationOrEquivalentProgram').value" style="width:40%">Null</td>       -->
    </tr>
    <tr>
      <td> Name Of post Secondary Or Vocational Education  </td>
      <td style="width:40%">{{extendableForm.get('nameOfpostSecondaryOrVocationalEducation').value }}</td>
    
    </tr>
    <tr>
      <td> Start Date Of post Secondary Or Vocational Education</td>
      <td  style="width:40%">{{extendableForm.get('startDateOfpostSecondaryOrVocationalEducation').value | date: 'MM/dd/yyyy'}}</td>
      <!-- <td *ngIf="!extendableForm.get('startDateOfpostSecondaryOrVocationalEducation').value" style="width:40%">Null</td>     -->
    </tr>
    <tr>
      <td> Name Of Promote To Employment Program   </td>
      <td style="width:40%">{{extendableForm.get('nameOfPromoteToEmploymentProgram').value}}</td>
    
    </tr>
    <tr>
      <td> Start Date Of Promote To Employment Program       </td>
      <td style="width:40%">{{extendableForm.get('startDateOfPromoteToEmploymentProgram').value | date: 'MM/dd/yyyy' }}</td>
    
    </tr>
    <tr>
      <td> Name Of Employer </td>
      <td style="width:40%">{{extendableForm.get('nameOfEmployer').value}}</td>
    
    </tr>
    <tr>
      <td> Start Date Of Employment     </td>
      <td style="width:40%">{{extendableForm.get('startDateOfEmployment').value  | date: 'MM/dd/yyyy'}}</td>
    
    </tr>
    <tr>
      <td> Hours PerMonth Employed </td>
      <td style="width:40%">{{extendableForm.get('hoursPerMonthEmployed').value}} Hrs</td>
    
    </tr>
    <tr>
      <td> Child Disability Type</td>
      <td style="width:40%">{{extendableForm.get('childDisabilityType').value}}</td>
    
    </tr>
    <tr>
      <td> Child Disability Start Date</td>
      <td style="width:40%">{{extendableForm.get('childDisabilityStartDate').value | date: 'MM/dd/yyyy'}}</td>
    
    </tr>
      <tr>
        <td> Child Disability Evaluation Documention Date</td>
        <td style="width:40%">{{extendableForm.get('childDisabilityEvaluationDocumentionDate').value | date: 'MM/dd/yyyy'}}</td>
    
    </tr>
   
  
    <tr>
      <td> Child Meet Continue Eligibility Criteria</td>
      <td style="width:40%">{{extendableForm.get('childMeetContinueEligibilityCriteria').value}}</td>
    
    </tr>
    <tr>
      <td> EXT GAP Eligibility Status </td>
      <td style="width:40%">{{extendableForm.get('eXTGAPEligibilityStatus').value}}</td>
    
    </tr>
    <tr>
      <td> GAP Eligibility Status </td>
      <td style="width:40%">{{extendableForm.get('gAPEligibilityStatus').value}}</td>
    
    </tr>
    
    <tr>
      <td> Is Relative (for Primary Guardian -info in this bracket for your information only) </td>
      <td style="width:40%">{{extendableForm.get('isRelative_primary').value}}</td>
    
    </tr>
    <tr>
      <td> IsRelative (for Second Guardian -info in this bracket for your information only) </td>
      <td style="width:40%">{{extendableForm.get('isRelative_secondary').value}}</td>
    
    </tr>
   
   
    
   
   
   
   
    
    
     
      </tbody>
    </table><br>
    
    <div class="modal fade" id="Updatextendable" role="dialog">
        <div class="modal-dialog" style="width: 100%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" class="panel-body" >
                      
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-4" style="margin-top: 1%;">
                               1. Child Meet Continue Eligibility Criteria
                            </div>
                            <div class="col-md-3">
                                <mat-radio-group formControlName="childMeetContinueEligibilityCriteria">
                                    YES <mat-radio-button name="childMeetContinueEligibilityCriteria" class="example-radio-button" value="YES">
                                    </mat-radio-button>
                                    NO <mat-radio-button name="childMeetContinueEligibilityCriteria" class="example-radio-button" value="NO">
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-4" style="margin-top: 1%;">
                               2. EXT GAP Eligibility Status
                            </div>
                            <div class="col-md-2">
                                <div class="mar-btm-40">
                                    <!-- <input type="email" formControlName="eXTGAPEligibilityStatus"
                                        class="form-control fm-l-style" placeholder="Please enter"
                                        > -->
                                        <mat-form-field>
                                          <mat-select formControlName="eXTGAPEligibilityStatus" 
                                      >
                                            <!-- <mat-option value="None">None</mat-option> -->
                                            <mat-option value="Eligible">Eligible</mat-option>
                                                                 <mat-option value="Eligible Reimbursable">Eligible Reimbursable</mat-option>
                                                                  <mat-option value="Eligible Non Reimbursable">Eligible Non Reimbursable</mat-option>
                                                                  <mat-option value="Ineligible">Ineligible</mat-option>
                                                                  <mat-option value="Incomplete">Incomplete</mat-option>
                                                                  <mat-option value="Status Unchanged">Status Unchanged</mat-option>
                                                                  <mat-option value="Eligible Non Reimbursable till 31 March 2001 AND Ineligible after 1st April 2001">Eligible Non Reimbursable till 31 March 2001 AND Ineligible after 1st April 2001</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-4" style="margin-top: 1%;">
                                3. GAP eligibility status
                            </div>
                            <div class="col-md-2">
                                <div class="mar-btm-40">
                                    <!-- <input type="email" formControlName="gAPEligibilityStatus"
                                        class="form-control fm-l-style" placeholder="Please enter"
                                        > -->
                                        <mat-form-field>
                                          <mat-select formControlName="gAPEligibilityStatus" 
                                      >
                                            <!-- <mat-option value="None">None</mat-option> -->
                                            <mat-option value="Eligible">Eligible</mat-option>
                                                                 <mat-option value="Eligible Reimbursable">Eligible Reimbursable</mat-option>
                                                                  <mat-option value="Eligible Non Reimbursable">Eligible Non Reimbursable</mat-option>
                                                                  <mat-option value="Ineligible">Ineligible</mat-option>
                                                                  <mat-option value="Incomplete">Incomplete</mat-option>
                                                                  <mat-option value="Status Unchanged">Status Unchanged</mat-option>
                                                                  <mat-option value="Eligible Non Reimbursable till 31 March 2001 AND Ineligible after 1st April 2001">Eligible Non Reimbursable till 31 March 2001 AND Ineligible after 1st April 2001</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-4" style="margin-top: 1%;">
                               4. Is relative for primary guardian ?
                            </div>
                            <div class="col-md-3">
                                <mat-radio-group formControlName="isRelative_primary">
                                    Yes <mat-radio-button name="isRelative_primary" class="example-radio-button" value="Yes">
                                    </mat-radio-button>
                                    No <mat-radio-button name="isRelative_primary" class="example-radio-button" value="No">
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-4" style="margin-top: 1%;">
                               5. Is relative for second guardian ?
                            </div>
                            <div class="col-md-3">
                                <mat-radio-group formControlName="isRelative_secondary">
                                    Yes <mat-radio-button name="isRelative_secondary" class="example-radio-button" value="Yes">
                                    </mat-radio-button>
                                    No <mat-radio-button name="isRelative_secondary" class="example-radio-button" value="No">
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        
    
                            
                           
                        
    
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#Updatextendable">UPDATE </button>
</form>