<a class="btn btn-sm btn-default btn-light signature-pad-refresh" (click)="clear()"><i class="glyphicon glyphicon-refresh"></i></a>
<!-- <div #signaturepad style="margin: 5px;"> -->
<signature-pad [options]="options" (onBeginEvent)="drawBegin()" (onEndEvent)="drawComplete()"></signature-pad>
<!-- </div> -->