<div id="case-review" class="col-sm-12 resitutions-review">
  <div class="cnt-min-height">
    <div class="table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Intake/Case #</th>
            <th>Restitution Account</th>
            <th>Youth Name</th>
            <th>Victim</th>
            <th>Reason</th>
            <th>Present Balance</th>
            <th>Change To</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="changeformlist && changeformlist.length>0; else noItems">
          <ng-container *ngFor="let data of changeformlist; let i = index">
            <tr>
              <td>{{data.intakenumber}}/<br />{{data.servicerequestnumber}}</td>
              <td>{{data.restitutionno}}</td>
              <td *ngIf ="!isDjs">{{data?.youthpersondetails?.youthfirstname}} {{data?.youthpersondetails?.youthlastname}}</td>
              <td *ngIf ="isDjs">{{data?.youthpersondetails?.youthlastname}}<span *ngIf="data?.youthpersondetails?.youthsuffix!=null && data?.youthpersondetails?.youthsuffix!=undefined">&nbsp;{{data?.youthpersondetails?.youthsuffix}}</span>,  {{data?.youthpersondetails?.youthfirstname}}</td>
              <td *ngIf ="!isDjs">{{data?.victimpersondetails?.victimfirstname}} {{data?.victimpersondetails?.victimlastname}}</td>
              <td *ngIf ="isDjs">{{data?.victimpersondetails?.victimlastname}}<span *ngIf="data?.victimpersondetails?.victimsuffix!= null && data?.victimpersondetails?.victimsuffix!= undefined">&nbsp;{{data?.victimpersondetails?.victimsuffix}}</span>, {{data?.victimpersondetails?.victimfirstname}}</td>
              <td>{{data.changeformreasontypes}}</td>
              <td>$ {{(data.balance ? data.balance : 0)  | number : '1.2'}}</td>
              <td>$ {{(data.changeto ? data.changeto : 0)  | number : '1.2'}}</td>
              <td>{{data.changeformreason}}</td>
              <td>{{data.status}}</td>
              <td>
                <a (click)="approveReject(data, 'Approve')" *ngIf="data?.status === 'Restitution Approval Pending'" matTooltip="Approve">
                  <i style="color: #337ab7 !important;" class="fa fa-check" aria-hidden="true"></i></a> 
                  <span *ngIf="data?.status === 'Restitution Approval Pending'">|</span>
                <a (click)="approveReject(data, 'Reject')" *ngIf="data?.status === 'Restitution Approval Pending'" matTooltip="Reject">
                  <i style="color: #337ab7 !important;" class="fa fa-remove" aria-hidden="true"></i></a>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <ng-template #noItems>
          <tbody>
            <tr>
              <td colspan="10" style="text-align: center !important;">
                No Payments found.
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
          (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
          [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>