
.mat-form-field-underline {
    position: 0px !important;
}
.search-fix {
    margin-top: -30px;
    margin-bottom: 5px;
}
input:focus {
    // border: 1px solid #5dbcd3 !important;
    box-shadow: none;
}
.searchbar{
    position: absolute;
    padding:10px;
    margin:0;
    width:250px;
    background:#fff;
    max-height: 300px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    border:solid 1px #e6e5e5;
    border-radius:2px;
    display:none;
}

.margin-top-50 {
    margin-top: 65px !important;
} 

.show-searchbar .searchbar{
    display: block;
}
.searchbar li{
    display: block;
    list-style: none;
    padding: 8px 5px;
    cursor:pointer;
}
.searchbar li i{
    float:right;
    color: #584f4f;
    font-size: 13px;
}

table.my-intake-tbl tr td:nth-child(5) div {max-height: 150px; overflow: auto;}
.header-search {
    float:right;
}
.header-search .input-group {
    max-width: 400px;
    float: left;
}
.header-search .input-group input {
    border: 1px solid #039be6;
    border-radius: 3px;
    padding: 5px;
    height: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.new-intake{
    float: right;
    height: 32px;
    padding: 5px 15px;
}

/***************** may 24 new Intake styles *************************/
.record-intake h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.record-intake li {
    width: 11%;
    margin-right: 15px;
    display: inline-table;
}
.record-intake .form-group {
    position: relative;
}
.record-intake label {
    text-transform: uppercase;
    color: #039be6;
}
.record-intake p {
    margin: 0;
    font-size: 16px;
}
.form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
}
textarea.form-control {
    border: 1px solid #ccc;
}
.record-intake .select__arrow.pos {
    top: 39px;
}
.form-control:focus {
    box-shadow: none;
}
.intake .tab-horizontal {
    background: #fff;
}
.intake .tab-content {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.intake .tab-content h4 {
    margin-bottom: 15px;
}
.nextprev-btn {
    padding: 15px;
}
.btns-top {
    margin-top: 15px;
}
.intake .nav-pills > li > a {
    border-radius: 0;
    text-transform: uppercase;
    color: #2e2f31;
    font-weight: 600;
    // background: #fff;
    padding: 15px 10px;
    font-size: 13px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #333;
    background-color: #f5fafe;
    /* border-bottom: 3px solid #039be6; */
}
.wizard-step input.form-control,
.wizard-step select.form-control,
.wizard-step textarea,
.Persons-Involved .form-control {
    margin-bottom: 20px;
}
.btn-pri,
.btn-bg,
.btn-link {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;
    min-width: 100px;
}
input.form-control,
select.form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #ddd;
    padding: 6px 12px 6px 0;
}
.inner-title {
    text-transform: uppercase;
    color: #039be6;
    margin-bottom: 25px;
}
.person-adds {
    padding-right: 8.33333333%;
}
.radio-inline {
    padding: 0;
}
.radio-inline .control {
    display: inline;
    padding: 0 15px 0 25px;
}
.modal-lg.custom-wid {
    width: 1100px;
    max-width: 100%;
}
.new-alias {
    border-left: 1px solid #f1e6e6;
    padding: 0 10px;
}
.added-alias-names {
    padding: 15px;
}
.added-alias-names label {
    margin-bottom: 5px;
}
.clr-details {
    padding: 15px;
    background: #eee;
    border: 1px solid #ccc;
}
.clr-details p span {
    font-weight: 600;
}
.btn-link {
    color: #039be6;
}
.btn-link:focus,
.btn-link:hover {
    color: #039be6;
    text-decoration: none;
    background-color: transparent;
}
.btn:focus {
    outline: none;
}
.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #555;
}
.cus-tab-section li {
    width: 40%;
}
.cus-tab-section li:last-child {
    width: 17%;
}
.cus-tab-section li:after,
.cus-tab-section li.active:after {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: calc(100% - 45px);
    margin-left: 35px;
}
.cus-tab-section li a {
    padding: 10px 0;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 5px solid #e5e5e5;
    border-radius: 50%;
    padding: 3px 5px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #039be6;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 5px solid #039be6;
    background: #039be6;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}
.disp-inline {
    display: inline;
}
.disp-inblock {
    display: inline-block;
}
.scrolling .fa-angle-down {
    font-size: 24px;
    vertical-align: middle;
}
.width-70 {
    width: 70px;
}
/* .tbl-pagination{width: 80%; text-align: right;} */
.tbl-pagination > div {
    display: inline-block;
    margin: 0 15px;
}
.tbl-pagination select.form-control {
    border: none;
}
.page-count {
    width: 200px;
}
.arrow-left,
.arrow-right {
    vertical-align: middle;
}
.spellcheck {
    position: absolute;
    bottom: 10px;
    right: 13px;
    font-size: 20px;
}
.fa-editm:before {
    content: '\270f';
    font-size: 25px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    border-bottom: 0px solid #039be6 !important;
}
/**MMM******** Table scroll **************/

.scrolling table {
    table-layout: inherit;
    *margin-left: -100px; /*ie7*/
}
.scrolling td,
.scrolling th {
    vertical-align: top;
    min-width: 130px;
    padding: 15px 8px !important;
}
.scrolling th:nth-child(1) {
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 120px;
}

.scrolling th:nth-child(2) {
    position: absolute;
    *position: relative; /*ie7*/
    left: 120px;
    width: 120px;
}
.scrolling td:nth-child(4),
.scrolling th:nth-child(4),
.scrolling td:nth-child(11),
.scrolling th:nth-child(11),
.scrolling td:nth-child(12),
.scrolling th:nth-child(12),
.scrolling td:nth-child(13),
.scrolling th:nth-child(13) {
    min-width: auto;
}

.scrolling tbody th {
    font-weight: normal;
}
.outer {
    position: relative;
}
.inner {
    overflow-x: auto;
    overflow-y: visible;
    margin-left: 240px;
    margin-top: 50px;
}

/*********MMM*********   Tabs Left  ********MMM**********/

.tabs-left > .nav-tabs {
    border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}
.tab-content > .active,
.pill-content > .active {
    display: block;
}
.tabs-left > .nav-tabs > li {
    float: none;
}
.tabs-left > .nav-tabs > li > a {
    margin-right: 0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    border-left: 0;
    text-transform: uppercase;
    color: #2e2f31;
    font-weight: 600;
}
.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    width: 20%;
    min-height: 50vh;
}
.tabs-left .tab-content {
    width: 78%;
    float: left;
    padding-left: 15px;
}
.tabs-left > .nav-tabs > li.active {
    border-right: 3px solid #039be6;
}
.tabs-left > .nav-tabs > li.active > a {
    background-color: #f5fafe;
    border-left: 0;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.entities-panel {
    border: 3px solid #f3f3f3;
    margin-top: 15px;
}
.entities-panel .panel-heading {
    padding: 20px 15px;
    background: #fff;
    border-bottom: 3px solid #f3f3f3;
}
.entities-panel .panel-title {
    color: #0277bd;
    font-weight: 600;
    font-size: 16px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.entities-panel .panel-body dl dt,
.entities-panel .panel-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 13px;
}
.entities-panel .panel-footer {
    background: #fff;
    padding: 0;
    border-top: 3px solid #f3f3f3;
}
.entities-panel ul.list-inline {
    margin-bottom: 0;
}
.entities-panel ul li {
    border-right: 3px solid #f3f3f3;
    width: 49%;
    text-align: center;
    padding: 20px 15px;
    cursor: pointer;
}
.entities-panel ul li:nth-child(2) {
    border-right: none;
}
.entities-panel .panel-footer ul li a {
    color: #0277bd;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.ent-profile-info,
.ent-address-info,
.ent-danger-info {
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 20px;
}
.entities-edit h4 {
    color: #0277bd;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ent-profile-info {
    position: relative;
}
.ent-profile-info .editicon {
    background: #dedede;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -10px;
}
.ent-profile-info .editicon .fa-pencil {
    padding: 10px;
    color: #0277bd;
    font-size: 18px;
}
.entities-edit .modal-title .categori-name {
    padding: 2px 10px;
    border-radius: 4px;
    margin-left: 25px;
}
.entities-edit dt,
.entities-edit dd {
    font-weight: 600;
    color: #676767;
    font-size: 13px;
}
.entities-edit dt {
    text-transform: uppercase;
    margin-bottom: 8px;
}
span.validate {
    margin-right: 100px;
}
span.validate a {
    color: #ff0000;
    font-weight: 600;
}
span.view-address {
    margin-left: 50px;
}
.view-address a {
    color: #ff0000;
    font-weight: 600;
}
h4.h-bg-blue {
    background: #0277bd;
    color: #fff;
    padding: 15px 4px;
    margin-top: -3px;
}
.close {
    float: right;
    font-size: 18px;
    opacity: 0.6;
}
.table th {
    text-transform: uppercase;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,{
    padding: 18px 8px;
}
.table > thead > tr > th{
    padding: 10px 8px;
}
.arrow-left .searchresult {
    font-size: 29px;
    vertical-align: sub;
    margin-right: 15px;
}
// .cnt-min-height {
//     min-height: 400px;
// }

.control--checkbox .control__indicator {
    background: #ffffff;
    border: 2px solid #6d6d6d;
    border-radius: 2px;
}
.added-entities table thead {
    background: #f1f2f4;
}
.added-entities table,
.added-entities table td {
    border: 1px solid #ddd;
}
.add-address-header .fa-pencil:before,
.add-address-header .fa-trash:before {
    color: #757575;
    font-size: 22px;
    padding: 3px;
}

/***** JULY 4 **************/
.add-address-header .table > thead:first-child > tr:first-child > th {
    border-right: 1px solid #ccc;
}

.casestop-sec {
    border: 1px solid #ccc;
    position: relative;
    font-size: 16px;
    line-height: 26px;
}
.casestop-sec ul {
    margin: 0;
}
.casestop-sec li {
    padding: 10px 20px;
    border-right: 1px solid #ccc;
}
.actionicons {
    position: absolute;
    right: 10px;
    bottom: calc(50% - 13px);
}

.casestop-sec .fa-pencil:before,
.casestop-sec .fa-trash:before {
    font-size: 22px;
    padding-left: 10px;
}
.cases_alegation {
    background: #efefef;
    padding: 20px;
}
.cases_alegation-inner {
    border: 1px solid #ccc;
    background: #fff;
}
.cases_alegation-top {
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.cases_alegation-content {
    padding: 15px;
    position: relative;
}
.cases_alegation-content .actionicons {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
}
.bold {
    font-weight: 600;
}

/********** dashboard css *************/

.dashboard-cont .tab-content {
    background: #fff;
}
.dashboard-cont .nav-pills {
    border-bottom: 3px solid #ccc;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li a:hover {
    border-radius: 0;
    background-color: transparent;
}
.dashboard-cont .nav-pills > li > a {
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #333;
    padding-left: 0;
    padding-right: 35px;
    font-weight: bold;
}

.boxgrid {
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.dashboard-cont .search-container {
    margin-top: -6px;
    width: 400px;
}
.search-container input.form-control {
    padding: 4px 12px;
    font-size: 15px;
    border: 1px solid #e6e5e5;
}

.dashboard-cont .tab-horizontal li.active:after {
    width: 40px;
    height: 3px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
}
.dashboard-cont .table > tbody > tr > td {
    vertical-align: middle;
}
.no-datatxt {
    padding: 15px;
    font-size: 16px;
}
.modal-content.Persons-Involved .boxgrid {
    padding: 0;
}
.table .control__indicator {
    top: 0;
    left: 15px;
}
.modal-content.Persons-Involved .bs-example {
    max-height: 350px;
    min-height: 350px;
    overflow: hidden;
    overflow-y: auto;
}

// appeal css

.form-control-size label {
    font-size: 14px;
}
.digit {
    background: #039be6;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
}
.disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
}
.hideDiv {
    display: none;
}
.desposition-table > thead {
    background: #f4f4f4;
}
.desposition-table > thead > tr > th {
    padding: 10px 8px;
}
.desposition-table > tbody > tr > td {
    padding: 15px 8px 0px;
}
.desposition-table > tbody > tr > td > a {
    font-size: 14px;
}
.desposition-table > tbody > tr > td > a > i.fa.fa-cloud-download {
    color: #039be6;
    font-size: 22px;
    cursor: pointer;
    margin-top: 8px;
}
.p-t-20 {
    padding-top: 20;
}
.btn-col {
    color: #fff;
    margin-left: 15px;
    padding: 5px;
}
.not-allowed {
    cursor: not-allowed;
}
.disabledInput button[disabled] {
    background: none;
    border: none;
}
.disabledInput button[disabled]:hover {
    background: none;
    border: none;
}
// end appeal css
.fa-angle-down:before, .fa-angle-up:before{font-size: 18px}
.inner-tbl table{width: 100%;}
.inner-tbl table thead th{ background: #f1efef;}
.inner-tbl table thead th, .inner-tbl table thead td{padding: 5px;
}

/*Dashboard css starts*/
.dashboard-wrap {
    padding: 15px 0px;
}

.dashboard-inner {
    margin-top: 15px;
}

.col-box {
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
    // box-shadow: 0 0 10px #ccc;
    // margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    min-height: 132px;
    max-height: 132px;
}

/*.col-box > div {
    width: 100% !important
}*/

.c-speed {
    float: right;
    width: 50%;
    margin-top: 22px;
    padding: 0 5px;
}

.c-speed h6 {
    font-size: 12px;
    color: #999;
    margin-top: 0;
    text-transform: uppercase;
    position: relative;
    top: -18px;
}

.c-speed h4 {
    font-size: 21px;
    color: #61646e;
    margin: 0;
    font-weight: 600;
    line-height: 22px;
}

.p-info {
    clear: both;
    text-align: center;
    border-top: 1px solid #f8f8f8;
    padding: 5px 0;
    margin-top: 2px;
    margin: 0 5px;
    overflow: hidden;
}

.p-info p {
    margin: 0;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.p-info p span {
    color: #f00;
}

.g-cost p span {
    color: #fff;
}

.a.t-btn {
    font-size: 11px;
    color: #ccc;
    padding: 5px 15px;
    background: #fff;
    line-height: normal;
}

.perform-table th {
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    padding: 10px 7px 5px;
    border-bottom: 1px solid #17c4c0;
}

.perform-table td {
    font-size: 13px;
    color: #383838;
    padding: 10px;
}

.perform-table tr:nth-child(odd) td {
    background: #f7f7f7;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #d1eff4 !important;
    border-radius: 4px;
}

.w3-green,
.w3-hover-green:hover {
    color: #fff !important;
    background-color: #1bb4c3 !important;
    border-radius: 4px;
}

.col-box h5 {
    font-size: 15px;
    color: #19a7b8;
}

.col-box h2 {
    margin: 0;
}

.col-box h2 span {
    font-size: 12px;
    color: #999;
}

.col-box td a {
    color: #19a7b8;
    text-decoration: underline;
}

.col-box td img {
    display: inline-block;
    margin-right: 10px;
}

.intro {
    font-size: 11px;
    color: #ffffff !important;
    padding: 5px 15px;
    background: #17c4c0;
    line-height: normal;
    border-radius: 15px;
}
.team a {
    cursor: pointer;
}
.team a:hover {
    text-decoration: none;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #d1eff4 !important;
    border-radius: 4px;
}

.w3-green,
.w3-hover-green:hover {
    color: #fff !important;
    background-color: #1bb4c3 !important;
    border-radius: 4px;
}
/*Dashboard css ends*/

/* March 20 */
label.top-text {
    color: #858596;
    font-weight: 500;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
}
.middle-text {
    font-size: 21px;
    font-weight: 600;
    margin: 17px 0 22px 0;
    line-height: 30px;
}

.col-md-3:first-child .col-box {
    border: solid 2px #49cfbd;
    background: #49cfbd;
}
.col-md-3:nth-child(2) .col-box {
    border: solid 2px #9066af;
    background: #9066af;
}
.avg-colsure-rate .col-box {
    border: solid 2px #d868e6;
    background: #d868e6;
}
.closed-today .col-box {
    border: solid 2px #80dd7a;
    background: #80dd7a;
}
.closed-week .col-box {
    border: solid 2px #ecaf33;
    background: #ecaf33;
}
.c-speed h6,
.c-speed h4,
.c-speed p,
.c-speed span,
.avg-colsure-rate label,
.closed-today label,
.closed-week label {
    color: #fff;
}

.vl {
    border-left: 2px solid #0000003b;
    height: 225px;
    margin-left: 45%;
  }
  .panel-default {
    border-color: #ddd;
    border-radius: 10px;
}

.right-addon {
    right: 1% !important;
    cursor: pointer !important;
    margin-top: 0% !important;
}