<div>
<ng-container *ngIf="isChildRemoval else isChildRemovalHide">
    <div class="m-t-30">
        <div class="row find-place">
            <div class="col-sm-1 no-pad-r">
                <label class="lbl-title">Select Child</label>
            </div>
            <div class="col-sm-2" style="margin-top: -15px;">
                <mat-form-field class="no-placeholder">
                    <mat-select placeholder="Child Name" (change)="pesonDateOfBirth($event)">
                        <mat-option *ngFor="let person of childRemovalData" [value]="person">{{
                            person.firstname +
                            ' ' + person.lastname }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="lbl-title">Date of Birth -
                    <span class="lbl-lite">{{(selectedChild?.dob) ? ( selectedChild?.dob | date: 'MM/dd/yyyy' ): 'N/A'
                        }}
                    </span>
                </label>
            </div>
            <div class="col-sm-2">
                <button class="btn-pri" data-target="#addReferal" data-toggle="modal" type="button" (click)="resetSearch()"
                    [disabled]="!isAddPlacement">Search Provider</button>
            </div>
            <div class="col-sm-2" style="margin-left: -50px;margin-top: 7px;">
                <button (click)="getChildHistory()" data-target="#ChildHistory" data-toggle="modal" style="font-size:15px;color:#00a2fd;background: none;
                border: none;"
                    [disabled]="!isAddPlacement"><i class="fa fa-history m-r-5" aria-hidden="true"></i>History</button>
            </div>
        </div>
        <div class="table-responsive table-theme">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th>Placement id</th> -->
                        <th>client id</th>
                        <th>client name</th>
                        <th>Provider Id</th>
                        <th>Provider name</th>
                        <th>Placed Date</th>
                        <th>Exit Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let placement of placement$ | async">
                        <!-- <td><a (click)="showPlacementInfo(placement);">{{placement.placement_id}}</a></td> -->
                        <td><a (click)="showPlacementInfo(placement);">{{placement.clientid}}</a></td>
                        <td>{{placement.clientname}}</td>
                        <td>{{placement.provider_id}}</td>
                        <td>{{placement.providername}}</td>
                        <!-- <td>{{placement.placemententrydate | date:'MM/dd/yyyy' }}</td> -->
                        <td>{{(placement.placemententrydate? placement.placemententrydate: placement.referalstartdate)
                            | date:'MM/dd/yyyy' }}</td>
                        <td>{{placement.placementexitdate | date:'MM/dd/yyyy' }}</td>
                        <td>{{
                            (placement.fostercareisapprove===null)
                            ? 'Review' : ((placement.placementexitdate) ?
                            'Exited' :((placement.status === 'Review') ? (
                            (placement.placementlog?.length &&
                            placement.placementlog[placement.placementlog.length -
                            1].exit_dt)
                            ? 'Exit Review' : 'Start Date Change Review') :
                            'Approved'))}}</td>
                        <td class="foster-icon">
                            <span *ngIf="isSupervisor && (placement.fostercareisapprove===null)" data-target=""
                                data-toggle="modal" type="button" (click)="approvePlacementRequest(placement)"
                                data-toggle="tooltip" data-placement="top" title="Approve"><i class="fa fa-check"
                                    aria-hidden="true"></i></span>

                            <span *ngIf="isSupervisor && (placement.fostercareisapprove===null)" data-target=""
                                data-toggle="modal" type="button" (click)="rejectPlacementRequest(placement)"
                                data-toggle="tooltip" data-placement="top" title="Reject"><i class="fa fa-times"
                                    aria-hidden="true"></i></span>
                            <span *ngIf="!isSupervisor && (placement.isaddfostercareplacement) && !placement.placemententrydate"
                                (click)="selectPlacement(placement)" type="button" data-toggle="tooltip" data-placement="top"
                                title="Add Placement"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span *ngIf="!isSupervisor && (placement.isaddfostercareplacement) && !placement.placemententrydate"
                                (click)="openTitle4e()" type="button" data-toggle="tooltip" data-placement="top">
                                <a>Title-4E</a></span>
                            <span *ngIf="!isSupervisor && (placement.isaddfostercareplacement) && (placement.placemententrydate && !placement.placementexitdate) && (placement.status !== 'Review')"
                                (click)="selectPlacementToExit(placement)" type="button" data-toggle="tooltip"
                                data-placement="top" title="Exit from placement"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                            <span *ngIf="!isSupervisor && (placement.isaddfostercareplacement) && (placement.placemententrydate && !placement.placementexitdate) && (placement.status !== 'Review')"
                                (click)="editPlacement(placement)" type="button" data-toggle="tooltip" data-placement="top"
                                title="Edit placement"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <button class="no-bg void-btn" *ngIf="!isSupervisor && (placement.isaddfostercareplacement) && (placement.placemententrydate && !placement.placementexitdate) && (placement.status !== 'Review')"
                                type="button" data-toggle="tooltip" data-placement="top"
                                title="Void placement" [disabled]=true>Void</button>
                            <span *ngIf="isSupervisor && (placement.isaddfostercareplacement) && (placement.placemententrydate && !placement.placementexitdate) && (placement.status === 'Review')"
                                (click)="approveOrReject(placement.placement_id, true)" type="button" data-toggle="tooltip"
                                data-placement="top" title="Approve"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span *ngIf="isSupervisor && (placement.isaddfostercareplacement) && (placement.placemententrydate && !placement.placementexitdate) && (placement.status === 'Review')"
                                (click)="approveOrReject(placement.placement_id, false)" type="button" data-toggle="tooltip"
                                data-placement="top" title="Reject"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <!-- <span data-target="#validation" data-toggle="modal" type="button"><i class="fa fa-check-square-o"
                                    aria-hidden="true"></i></span> -->
                            <!-- <button class="btn-pri" type="button" data-target="" data-toggle="modal" type="button">Approve</button>
                            <button class="btn-pri" type="button" data-target="#addPlacement" data-toggle="modal" type="button">Add Placement</button>
                            <button class="btn-pri" type="button" data-target="#exit" data-toggle="modal" type="button">Exit</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-10">
                <!-- <pagination class="pagination-sm"></pagination> -->
            </div>
        </div>

        <div class="modal fade in" id="addReferal" role="dialog">
            <div class="modal-dialog modal-lg custom-wid" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Search Result</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tab mrg-btm25 cus-tab-section">
                                    <li class="active">
                                        <a id="fc_search" (click)="resetSearch()" data-toggle="tab" href="#search">
                                            <span class="circle fa fa-pencil"></span>
                                            <span class="tab-txt">Search </span> </a>
                                    </li>
                                    <li>
                                        <a id="fc_list" (click)="resetSearch()" data-toggle="tab" href="#search-list">
                                            <span class="circle fa fa-pencil"></span>
                                            <span class="tab-txt">List </span> </a>
                                    </li>
                                    <li>
                                        <a id="fc_referal" (click)="resetReferal()" data-toggle="tab" href="#search-referel">
                                            <span class="circle fa fa-pencil"></span>
                                            <span class="tab-txt">Referral </span> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 m-b-20">
                                <div class="col-md-3 col-md-offset-2">
                                    <p class="textb"><b class="">Name : {{selectedChild?.firstname}}
                                            {{selectedChild?.lastname}}</b> </p>
                                </div>
                                <div class="col-md-3">
                                    <p class="textb"><b class="">Age : {{getAge(selectedChild?.dob)}}</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="textb"><b class="">Gender : {{selectedChild?.gender}}</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="textb"><b class="">CJAMS ID : {{selectedChild?.cjamspid}}</b></p>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="search" class="tab-pane fade in active">
                                    <div class="col-md-12">
                                        <div class="m-b-20" [formGroup]="providerSearchForm">
                                            <h5 class="textb text-uppercase">Search The Provider</h5>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <h5 class="textb text-uppercase heading-bg">
                                                            <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                                                        </h5>
                                                        <div class="">
                                                            <p>Youngest : </p>
                                                            <p>Oldest : </p>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <h5 class="textb text-uppercase heading-bg">
                                                            <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                                        </h5>
                                                        <p>Gender : {{selectedChild?.gender}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div>
                                                        <h5 class="textb text-uppercase heading-bg">
                                                            <mat-checkbox class="" formControlName="isLocalDpt" (change)="localdptSelected($event)">
                                                                Local
                                                                Department Home Care Giver</mat-checkbox>
                                                        </h5>
                                
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <input matInput placeholder="First Name" value="" formControlName="firstname">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <mat-form-field>
                                                                <input matInput placeholder="Middle Name" value="" formControlName="middlename">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <mat-form-field>
                                                                <input matInput placeholder="Last Name" value="" formControlName="lastname">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Child Characteristics"
                                                                    formControlName="childcharacteristics">
                                                                    <mat-option *ngFor="let item of childCharacteristics"
                                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <mat-select placeholder="Other Local Department"
                                                                    formControlName="otherLocalDeptmntTypeId">
                                                                    <mat-option *ngFor="let item of otherLocalDeptmntType"
                                                                        value="{{item.service_id}}">{{item.description_tx}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput placeholder="Zip Code" value=""
                                                                    formControlName="zipcode" zipcodeOnly (focusout)="onChange($event)">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Placement Structure"
                                                                    formControlName="placementstructures">
                                                                    <mat-option *ngFor="let item of placementStrType"
                                                                        value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <mat-select placeholder="Bundled Placement Services"
                                                                    formControlName="bundledplacementservices">
                                                                    <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                                                        value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <input matInput placeholder="Provider Site ID" value=""
                                                                    formControlName="providerid">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                        <button class="btn btn-theme btn-pri m-l-30" (click)="getFcProviderSearch()">SEARCH</button>
                                        <button class="btn btn-theme btn-sec m-l-30">Cancel</button>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="search-list">
                                    <button *ngIf="(fcProviderSearch)?.length>0" type="button" class="btn-pri pull-right m-r-20 m-b-10"
                                        (click)="listMap()">
                                        View Map
                                    </button>
                                    <div class="col-md-12 m-b-30">
                                        <div class="table-responsive table-theme height-table">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Select</th>
                                                        <th>Provider ID</th>
                                                        <th>Provider Name</th>
                                                        <!-- <th>Program Name</th>
                                                        <th>Preferred</th> -->
                                                        <th>Vacancy</th>
                                                        <th>Placement Structure</th>
                                                        <th>Provider category</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of fcProviderSearch">
                                                        <td>
                                                            <!-- <mat-radio-group>
                                                                <mat-radio-button value="1" (change)="selectedProv(item)"></mat-radio-button>
                                                            </mat-radio-group> -->
                                                            <input type="radio" name="provider" (change)="selectedProv(item)">
                                                        </td>
                                                        <!-- <td>
                                                                    <button class="btn-pri"  type="button">
                                                                            Search Result</button>
                                                            </td> -->
                                                        <td><a data-target="#searchResult" data-toggle="modal">{{item.provider_id}}</a></td>
                                                        <td>{{item.providername}}</td>
                                                        <!-- <td>{{item.programname}}</td>
                                                        <td>{{item.preferred}}</td> -->
                                                        <td>{{item.vacancy}}</td>
                                                        <td>{{item.placementstructure}}</td>
                                                        <td>{{item.provider_category_name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center" *ngIf="fcTotal && fcTotal > fcpaginationInfo.pageSize">
                                                <pagination [totalItems]="fcTotal" [(ngModel)]="fcpaginationInfo.pageNumber" (pageChanged)="fcPageChanged($event)"
                                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="fcpaginationInfo.pageSize">
                                                </pagination>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pull-right m-r-20">
                                        <button class="btn btn-theme btn-pri m-l-20" (click)="goToSearch()">Previous</button>
                                        <button class="btn btn-theme btn-pri m-l-20" (click)="goToReferal()">Next</button>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="search-referel">
                                    <div [formGroup]="referalForm">
                                        <div class="row m-l-5">
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">PLACEMENT REFERRAL DETAILS</h5>
                                                <div class="row ref-detailpara">
                                                    <div class="col-md-6">
                                                        <p><b>Provider ID </b> : {{selectedProvider?.provider_id}} </p>
                                                        <p><b>Address</b> : {{selectedProvider?.add}}</p>
                                                        <p><b>Contact </b> : {{selectedProvider?.cont}}</p>
                                                        <p><b>Local Department: </b> : {{selectedProvider?.cont}}</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><b>Program Name</b> : {{selectedProvider?.programname}}</p>
                                                        <p><b>Provider Name</b> : {{selectedProvider?.providername}}</p>
                                                        <p><b>Phone Number</b> : {{selectedProvider?.number}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">Information Sent to
                                                    Provider</h5>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker1" placeholder="Date Sent"
                                                        formControlName="sentDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ref-address">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <h5 class="textb text-uppercase heading-bg">Response</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Response Accepted"
                                                                    formControlName="responseAccepted" (change)="responseSelect($event)"
                                                                    required>
                                                                    <mat-option *ngFor="let item of ResponseAcceptedList"
                                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <mat-select placeholder="Reason for Decline"
                                                                    formControlName="responseRejected">
                                                                    <mat-option *ngFor="let item of ResponseRejectedList"
                                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Placement Structure"
                                                                    formControlName="placementStructure" (change)="placementStructureSelect($event)"
                                                                    required>
                                                                    <mat-option *ngFor="let item of placementStrType"
                                                                        value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field>
                                                                <mat-select placeholder="COMAR Rate Category"
                                                                    formControlName="comarRate" [required]="comarRateRequired">
                                                                    <mat-option *ngFor="let item of placementStrType"
                                                                        value="{{item.service_id}}">{{item.service_nm}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <mat-form-field class="">
                                                            <textarea matInput placeholder="Reason fot non-preffered placement/other comments"
                                                                formControlName="reasonnonpreferredtx"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-6">
                                                        <h5 class="textb text-uppercase heading-bg">Placement Entry
                                                        </h5>
                                                        <div>
                                                            <mat-form-field>
                                                                <input matInput [matDatepicker]="exitdate" id="exitdate"
                                                                    placeholder="Begin Date" class="required"
                                                                    formControlName="begindate" required>
                                                                <mat-datepicker-toggle matSuffix [for]="exitdate"></mat-datepicker-toggle>
                                                                <mat-datepicker #exitdate></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field>
                                                                <input type="time" required formControlName="begintime"
                                                                    matInput placeholder="Begin Time">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h5 class="textb text-uppercase heading-bg">IFC DOC Approval
                                                        </h5>
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="date" id="date"
                                                                placeholder="Date" formControlName="ifcapprovaldt">
                                                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                                            <mat-datepicker #date></mat-datepicker>
                                                        </mat-form-field>
                                                        <div style="margin-top: 15px">
                                                            <mat-checkbox class="" formControlName="ifcapproval">SSA
                                                                Approval</mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="saveReferal()">Send
                                            For
                                            Approval</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="searchResult" role="dialog">
            <div class="modal-dialog modal-lg custom-wid" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" (click)="searchClearPlacement()" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Search Result</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <p>MD CHESSIE Provider ID : </p>
                                    <p>Provider NAme : </p>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Provider Category" readonly></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Child Characteristics" readonly></textarea>
                                    </mat-form-field>
                                    <p>Phone Number : </p>
                                    <mat-checkbox>Provider under Corrective Action Plan</mat-checkbox>
                                    <p>Directions : </p>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Level of Intensity" readonly></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Bundled Placement Services" readonly></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <p>Tax ID / SSN :</p>
                                    <p>Program Name : </p>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Address" readonly></textarea>
                                    </mat-form-field>
                                    <p>Primary Worker / Licensing Co-ordinator : </p>
                                    <p>Local Department : </p>
                                    <p>Extn : </p>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Placement Structure" readonly></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="">
                                        <textarea matInput placeholder="Licensed / Approved Ages and Genders" readonly></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addPlacement">
            <div class="modal-dialog modal-lg">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Select Placement</h4>
                    </div>
                    <div class="modal-body dd-overflow-inherit placement-body">
                        <ul class="nav nav-tabs tabs-left m-t-20 m-b-20">
                            <li class="active"><a href="#entryView" id="entry_view" data-toggle="tab">Entry</a></li>
                            <!-- <li><a [disabled]="selectedPlacement?.provider_category_cd!==3302" href="#2" data-toggle="tab">CPA Homes</a></li> -->
                            <li *ngIf="selectedPlacement?.provider_category_cd!==3302"><a href="#cpaHomeView" (click)="getCpaDetails()"
                                    data-toggle="tab">CPA Homes</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="entryView">
                                <div [formGroup]="addPlacementForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Details</h5>
                                            <div class="col-md-6">
                                                <mat-form-field class="">
                                                    <input formControlName="providerid" matInput placeholder="Provider ID">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="localdept" matInput placeholder="Local Department">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="schooldistrict" matInput placeholder="School District">
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <textarea formControlName="address" matInput placeholder="Address"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="">
                                                    <input formControlName="providername" matInput placeholder="Provider Name">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="phonenumber" matInput placeholder="Phone Number"
                                                        mask="(000) 000-0000">
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <textarea formControlName="direction" matInput placeholder="Directions"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <mat-form-field class="">
                                                    <input formControlName="programname" matInput placeholder="Program Name">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="programstructure" matInput placeholder="Placement Structure">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="fiscalcategorycode" matInput placeholder="Fiscal Category Code">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input formControlName="removaldate" matInput [matDatepicker]="picker2"
                                                        placeholder="Removal Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="comarrate" matInput placeholder="COMAR Rate Category">
                                                </mat-form-field>
                                                <mat-form-field class="">
                                                    <input formControlName="mostrecentfiscalcode" matInput placeholder="Most Recent Real Time Fiscal Category Code">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="textb text-uppercase m-l-10  heading-bg width">Placement Entry</h4>
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input formControlName="begindate" matInput [matDatepicker]="picker3"
                                                        placeholder="Begin Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <!-- <input matInput [options]="{format: 'h:mm a'}" a2e-datetimepicker
                                                        placeholder="Start Time" required formControlName="entrytime"> -->
                                                    <input type="time" required formControlName="entrytime" matInput
                                                        placeholder="Start Time">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-12 dp-block m-l-10">
                                            <mat-checkbox formControlName="mpp">Medical Paid Placement</mat-checkbox>
                                            <mat-checkbox formControlName="cop">Court Ordered Placement</mat-checkbox>
                                            <mat-checkbox formControlName="icpc">ICPC Approved</mat-checkbox>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                    <div class="col-md-12">
                                        <mat-checkbox>Placement Voided</mat-checkbox>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Void Approval Status">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input matInput placeholder="Approval Date">
                                        </mat-form-field>
                                    </div>
                                </div> -->

                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <button type="button" class="btn-pri" (click)="addPlacementRequest()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="cpaHomeView">
                                <div class="row">
                                    <div class="col-md-12  m-t-30">
                                        <h5 class="textb text-uppercase heading-bg width">Placement Details</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="">
                                                    <input value="{{selectedPlacement?.programname}}" disabled="true"
                                                        matInput placeholder="CPA Program Name">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input value="{{selectedPlacement?.referalstartdate}}" disabled="true"
                                                        matInput [matDatepicker]="picker4" placeholder="Placement Begin Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker4></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input value="{{selectedPlacement?.referalstartdate}}" disabled="true"
                                                        matInput [matDatepicker]="picker5" placeholder="Placement End Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker5></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12  m-t-30">
                                        <h4 class="textb text-uppercase heading-bg width">CPA Home History</h4>
                                        <div class="cpa-table table-responsive table-theme">
                                            <table class="table table-striped thead-black placement-info">
                                                <thead>
                                                    <tr>
                                                        <th>Provider ID</th>
                                                        <th>Provider Name</th>
                                                        <th>Entry Date</th>
                                                        <th>CPA Home</th>
                                                        <th>Exit Date</th>
                                                        <th>Exit Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of cpaChildHistory">
                                                        <td>{{item?.provider_id}}</td>
                                                        <td>{{item?.providername}}</td>
                                                        <td>{{item?.referalstartdate| date:'MM/dd/yyyy'}}</td>
                                                        <td>{{item?.cpahomeprovidername}}</td>
                                                        <td>{{item?.cpahomeexitdate| date:'MM/dd/yyyy'}}</td>
                                                        <td>{{item?.cpahomeexittime}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="mt-10">
                                                <!-- <pagination class="pagination-sm"></pagination> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 m-t-30" [formGroup]="cpaEntryExitForm">
                                        <h4 class="textb text-uppercase heading-bg width">CPA Home Details</h4>
                                        <div class="col-md-6">
                                            <mat-form-field class="">
                                                <input matInput placeholder="CPA Home Provider ID">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input formControlName="homestartdate" matInput [matDatepicker]="picker6"
                                                    placeholder="CPA Home Entry Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                                <mat-datepicker #picker6></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input formControlName="homeenddate" matInput [matDatepicker]="picker7"
                                                    placeholder="CPA Home Exit Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                                <mat-datepicker #picker7></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select formControlName="homeexitType" placeholder="Exit Type"
                                                    (change)="getReasonForExitList($event)">
                                                    <mat-option *ngFor="let item of exitTypeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <textarea formControlName="homeaddress" matInput placeholder="Address"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select formControlName="homeproviderid" placeholder="CPA Home Provider Name">
                                                    <mat-option *ngFor="let item of cpaHomeList" value="{{item.provider_id}}">{{item.providername}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input formControlName="homestarttime" matInput a2e-datetimepicker
                                                    placeholder="Entry Time">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input formControlName="homeendtime" matInput a2e-datetimepicker
                                                    placeholder="Exit Time">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select formControlName="homereasonforexit" placeholder="Exit Reason">
                                                    <mat-option *ngFor="let item of reasonForExitList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <textarea formControlName="homenotes" matInput placeholder="Notes"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-pri" (click)="addCPAHomePlacement()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="title4e">
            <div class="modal-dialog modal-lg" style="width: 90%;">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Title 4E</h4>
                    </div>
                    <div class="modal-body dd-overflow-inherit placement-body">
                        <!-- commenting out we are getting erorr title4e module import -->
                        <!--  <foster-care-title4e></foster-care-title4e> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exit">
            <div class="modal-dialog modal-lg">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Exit</h4>
                    </div>
                    <div class="modal-body dd-overflow-inherit placement-body">
                        <div [formGroup]="exitForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Details</h5>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input formControlName="providerid" matInput placeholder="Provider ID">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="localdept" matInput placeholder="Local Department">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="schooldistrict" matInput placeholder="School District">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea formControlName="address" matInput placeholder="Address"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input formControlName="providername" matInput placeholder="Provider Name">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="phonenumber" matInput placeholder="Phone Number"
                                                mask="(000) 000-0000">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea formControlName="direction" matInput placeholder="Directions"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input formControlName="programname" matInput placeholder="Program Name">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="programstructure" matInput placeholder="Placement Structure">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="fiscalcategorycode" matInput placeholder="Fiscal Category Code">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input formControlName="removaldate" matInput [matDatepicker]="picker8"
                                                placeholder="Removal Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                            <mat-datepicker #picker8></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="comarrate" matInput placeholder="COMAR Rate Category">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input formControlName="mostrecentfiscalcode" matInput placeholder="Most Recent Real Time Fiscal Category Code">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Exit</h5>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input formControlName="startdate" matInput [matDatepicker]="picker10"
                                                placeholder="Start Date" (dateChange)="isdateTimeChanged()">
                                            <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                            <mat-datepicker #picker10></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field [hideRequiredMarker] = "!isExit">
                                            <input required formControlName="enddate" matInput [matDatepicker]="picker9"
                                                placeholder="End Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                            <mat-datepicker #picker9></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select formControlName="exitType" placeholder="Exit Type" (change)="getReasonForExitList($event)">
                                                <mat-option *ngFor="let item of exitTypeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea formControlName="explanation" matInput placeholder="Explanation"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input type="time" formControlName="starttime" matInput placeholder="Start Time" (change)="isdateTimeChanged()">
                                        </mat-form-field>
                                        <mat-form-field [hideRequiredMarker] = "!isExit">
                                            <input required type="time" formControlName="endtime" matInput placeholder="End Time">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select formControlName="reasonforexit" placeholder="Reason For Exit">
                                                <mat-option *ngFor="let item of reasonForExitList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12 pull-right">
                                <!-- <button [disabled]="!isDateTime" type="button" class="btn-pri" (click)="placementExitOrUpdate()">{{isExit ?
                                    'Exit Placement' : 'Edit Placement'}}</button> -->
                                <div *ngIf="!isExit">
                                    <button  [disabled]="!isDateTime" type="button" class="btn-pri" (click)="placementExitOrUpdate()">Edit Placement</button>
                                </div>
                                <div *ngIf="isExit">
                                    <button type="button" [disabled]="exitForm.invalid" class="btn-pri" (click)="placementExitOrUpdate()">Exit Placement</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade in" id="ChildHistory" role="dialog">
            <div class="modal-dialog modal-lg custom-wid" role="document">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">History</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 m-b-20">
                                <div class="col-md-3 col-md-offset-2">
                                    <p class="textb disp-color"><b>Name : </b>{{selectedChild?.firstname}}
                                        {{selectedChild?.lastname}} </p>
                                </div>
                                <div class="col-md-2">
                                    <p class="textb disp-color"><b>Age : </b>{{selectedChild?.dob | date:
                                        'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="textb disp-color"><b>Gender : </b>{{selectedChild?.gender}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="textb disp-color"><b>CJAMS PID# : </b>{{selectedChild?.cjamspid}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-horizontal placement-tab">
                                <ul class="nav nav-pills">
                                    <!-- <li class="active">
                                    <a data-toggle="tab" href="#placement-history">Placement History</a>
                                    </li> -->
                                    <li class="active">
                                        <a data-toggle="tab" href="#payment-history">Payment History</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content m-t-10">
                                <!-- <div id="placement-history" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-12 m-b-30">
                                            <div class="table-responsive table-theme">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Placement ID</th>
                                                            <th>Provider ID</th>
                                                            <th>Program Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of childHistory">
                                                            <td>{{item?.placement_id}}</td>
                                                            <td>{{item?.provider_id}}</td>
                                                            <td>{{item?.providername}}</td>
                                                            <td>{{item?.referalstartdate | date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{item?.childreremovaldate | date: 'MM/dd/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div id="payment-history" class="tab-pane fade in active">
                                    <!-- <div class="row">
                                        <div class="col-md-12 m-b-30">
                                            <div class="table-responsive table-theme">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment ID</th>
                                                            <th>Provider ID</th>
                                                            <th>Client ID</th>
                                                            <th>Payment Date</th>
                                                            <th>Payee Name</th>
                                                            <th>Service Start Date</th>
                                                            <th>Service End Date</th>
                                                            <th>Number of Nights</th>
                                                            <th>Gross Amount</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="childPaymentHistory$ | async; let childPayment">
                                                        <tr *ngFor="let item of childPayment">
                                                            <td>{{item?.payment_id}}</td>
                                                            <td>{{item?.provider_id}}</td>
                                                            <td>{{item?.client_id}}</td>
                                                            <td>{{item?.payment_dt | date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{item?.payee_nm}}</td>
                                                            <td>{{item?.final_service_start_dt| date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{item?.final_service_end_dt| date: 'MM/dd/yyyy'}}</td>
                                                            <td>{{item?.final_units_no}}</td>
                                                            <td>{{item?.gross_amount_no}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive petition-table table-theme mt-20">
                                                <table class="table table-striped customTable firsttable">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment ID</th>
                                                            <th>Payment Date</th>
                                                            <th>Payment Type</th>
                                                            <th>Payment Status</th>
                                                            <th>Gross Amount</th>
                                                            <th>Offset Amount</th>
                                                            <th>Net Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <ng-container *ngFor="let item of accountpayableList; let index = index;">
                                                            <tr>
                                                                <td>{{item.payment_id}}</td>
                                                                <td>{{item.payment_dt| date: 'MM/dd/yyyy'}}</td>
                                                                <td>{{item.payment_type_nm}}</td>
                                                                <td>{{item.payment_status_nm}}</td>
                                                                <td>$ {{item.gross_amount_no ? item.gross_amount_no :
                                                                    '0.00'}}</td>
                                                                <td>$ {{item.offset_amount_no ? item.offset_amount_no :
                                                                    '0.00'}}</td>
                                                                <td>$ {{item.gross_amount_no-item.offset_amount_no}}</td>
                                                                <td>
                                                                    <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+ index, item.payment_id)"><i
                                                                            class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr id="accordion-tables{{index}}" class="collapse">
                                                                <td colspan="10">
                                                                    <div class="table-responsive table-theme">
                                                                        <table class="table customTable innerTable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Payment Id</th>
                                                                                    <th>Provider Id</th>
                                                                                    <th>Client Id</th>
                                                                                    <th>Client Name</th>
                                                                                    <th>Category Code</th>
                                                                                    <th>Service Start Date</th>
                                                                                    <th>Service End Date</th>
                                                                                    <th>Amount</th>
                                                                                    <th>Local Department</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let payment of paymentDetails">
                                                                                    <td (click)="selectAccountsPayable(payment)">
                                                                                        <a href="#" data-toggle="modal"
                                                                                            data-target="#modal-view-finace-accountsPayable">{{payment.payment_id}}</a>
                                                                                    </td>
                                                                                    <!-- <td>{{payment.payment_id}}</td> -->
                                                                                    <td>{{payment.provider_id}}</td>
                                                                                    <td>{{payment.client_id}}</td>
                                                                                    <td>{{payment.client_name}}</td>
                                                                                    <td>{{payment.final_fiscal_category_cd}}</td>
                                                                                    <td>{{payment.final_service_start_dt|
                                                                                        date: 'MM/dd/yyyy'}}</td>
                                                                                    <td>{{payment.final_service_end_dt|
                                                                                        date: 'MM/dd/yyyy'}}</td>
                                                                                    <td>$ {{payment.final_amount_no ?
                                                                                        payment.final_amount_no :
                                                                                        '0.00'}}</td>
                                                                                    <td>{{payment?.?.local_department}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                        <tr *ngIf="accountpayableList?.length === 0">
                                                            <td colspan="8" style="text-align: center !important;">
                                                                No Records Found.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- <ng-template #noItems>
                                                        <p class="no-datatxt"> No Items! </p>
                                                    </ng-template>
                                                    <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
                                                        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                                                            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                                                    </div> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="placement-view">
            <div class="modal-dialog modal-lg custom-wid">
                <div class="modal-content Persons-Involved">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title">Placement</h4>
                    </div>
                    <div class="modal-body dd-overflow-inherit placement-body">
                        <div [formGroup]="exitForm">
                            <div>
                                <div class="row m-l-5">
                                    <div class="col-md-12">
                                        <h5 class="textb text-uppercase heading-bg">PLACEMENT REFERRAL DETAILS</h5>
                                        <div class="row ref-detailpara">
                                            <div class="col-md-6">
                                                <p><b>Provider ID </b> : {{selectedPlacement?.provider_id}} </p>
                                                <!-- <p><b>Address</b> : {{(selectedPlacement?.providerdetails && selectedPlacement?.providerdetails.length)?selectedPlacement?.providerdetails[0].address:''}}</p> -->
                                                <p><b>Address</b> : {{selectedPlacement?.provideraddress}} </p>
                                                <!-- <p><b>Contact </b> : {{(selectedPlacement?.providerdetails && selectedPlacement?.providerdetails.length)?selectedPlacement?.providerdetails[0].phonenumber:''}}</p> -->
                                                <p><b>Contact </b> : {{selectedPlacement?.providercontact}}</p>
                                                <p><b>Local Department: </b> :
                                                    {{(selectedPlacement?.provider_category_name==='Local Department
                                                    Home')?'Yes':'No'}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>Program Name</b> : {{selectedPlacement?.programname}}</p>
                                                <p><b>Provider Name</b> : {{selectedPlacement?.providername}}</p>
                                                <p><b>Phone Number</b> : {{selectedPlacement?.providerphonenumber}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="textb text-uppercase heading-bg">Information Sent to
                                            Provider</h5>
                                        <p><b>Date Sent </b> : {{selectedPlacement?.referaliniateddate |
                                            date:'MM/dd/yyyy'}} </p>
                                        <p><b>Description </b> : {{selectedPlacement?.referaldescription}} </p>
                                    </div>
                                </div>
                                <div class="row ref-address">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <h5 class="textb text-uppercase heading-bg">Response</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><b>Response Accepted </b> :
                                                        {{selectedPlacement?.responseaccepted}} </p>
                                                    <p><b>Reason for Decline </b> :
                                                        {{selectedPlacement?.reasonforrejection}} </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Placement Structure </b> :
                                                        {{selectedPlacement?.placementstructure}} </p>
                                                    <p><b>COMAR Rate Category </b> :
                                                        {{selectedPlacement?.comarratecategory}} </p>
                                                </div>
                                            </div>
                                            <div>
                                                <p><b>Reason for non-preffered placement/other comments</b> :
                                                    {{selectedPlacement?.reasonnonpreferred}} </p>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">Placement Entry </h5>
                                                <p><b>Begin Date & Time</b> : {{selectedPlacement?.referalstartdate |
                                                    date:'MM/dd/yyyy' }} </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="textb text-uppercase heading-bg">IFC DOC Approval </h5>
                                                <p><b>Date </b> : {{selectedPlacement?.ssa_ifc_approval_dt |
                                                    date:'MM/dd/yyyy' }} </p>
                                                <p><b>SSA Approval </b> :
                                                    {{(selectedPlacement?.ssa_ifc_approval_sw==='Y')?'Yes':'No'}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Details</h5>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input value="{{selectedPlacement?.provider_id}}" disabled="true" matInput
                                                placeholder="Provider ID">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input value="{{selectedPlacement?.placement_id}}" disabled="true" matInput
                                                placeholder="Placement Id">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="">
                                            <input value="{{selectedPlacement?.providername}}" disabled="true" matInput
                                                placeholder="Provider Name">
                                        </mat-form-field>
                                        <mat-form-field class="">
                                            <input value="{{selectedPlacement?.programname}}" disabled="true" matInput
                                                placeholder="Program Name">
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Exit</h5>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input value="{{selectedPlacement?.placemententrydate}}" disabled="true" matInput
                                                [matDatepicker]="startdatex" placeholder="Start Date">
                                            <mat-datepicker-toggle matSuffix [for]="startdatex"></mat-datepicker-toggle>
                                            <mat-datepicker #startdatex></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input value="{{selectedPlacement?.placementexitdate}}" disabled="true" matInput
                                                [matDatepicker]="enddatex" placeholder="End Date">
                                            <mat-datepicker-toggle matSuffix [for]="enddatex"></mat-datepicker-toggle>
                                            <mat-datepicker #enddatex></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>

                                            <input type="text" disabled="true" required value="{{selectedPlacement?.placemententrytime}}"
                                                matInput placeholder="Start Time">
                                        </mat-form-field>
                                        <mat-form-field>

                                            <input type="text" disabled="true" required value="{{selectedPlacement?.placementexittime}}"
                                                matInput placeholder="End Time">
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div> -->
                            <div class="row" *ngIf="showReviewStats">
                                <div class="col-md-12">
                                    <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Review Details</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <h5 class="textb text-uppercase m-l-10  heading-bg width">Placement Exit</h5> -->
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input disabled="true" value="{{reviewStats.entry_dt}}" matInput
                                                        [matDatepicker]="picker10" placeholder="Start Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker10></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <input disabled="true" value="{{reviewStats.exit_dt}}" matInput
                                                        [matDatepicker]="picker9" placeholder="End Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker9></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-select disabled="true" value="{{reviewStats.exit_type_cd}}"
                                                        placeholder="Exit Type" (change)="getReasonForExitList($event)">
                                                        <mat-option *ngFor="let item of exitTypeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <textarea disabled="true" value="{{reviewStats.exit_explanation_tx}}"
                                                        matInput placeholder="Explanation"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field>
                                                    <input disabled="true" type="time" value="{{reviewStats.entry_tm}}"
                                                        matInput placeholder="Start Time">
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <input disabled="true" type="time" value="{{reviewStats.exit_tm}}"
                                                        matInput placeholder="End Time">
                                                </mat-form-field>
                                                <mat-form-field>
                                                    <mat-select disabled="true" value="{{reviewStats.exit_reason_cd}}"
                                                        placeholder="Reason For Exit">
                                                        <mat-option *ngFor="let item of reasonForExitList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #isChildRemovalHide>
    <div class="pad-top20">
        <p class="col-sm-12 mat-error"> Child Removal must be done to continue Foster Care.</p>
    </div>
</ng-template>
</div>
