.form-search-person .form-group .form-control, .form-control {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.42);
    box-shadow: none;
    padding-left: 0;
}
.dangerwork-form.address-form label {
    width: 20%;
    text-align: left;
}
// .label-notes{
//     width: 17% !important;
// }
// .form-control-notes {
//     width: 83% !important;
// }
#add-newagencyprovider .ng-select .ng-clear-zone{
    display: none !important;
}

// #add-newservicedetail .ng-select .ng-clear-zone{
//      display: none !important;
// }

label.full-width {
    margin-top: 8px !important;
}
.alert-align {
    float: right;
    width: 100%;
    text-align: center;
    position: absolute;
}
.fa-calendar, .fa-clock-o {
    position: absolute;
    right: 15px;
    top: 10px;
}
button.save-draft[disabled] {
    background: #e5e5e5;
}
.save-draft {
    background: none;
    border: 1px solid #41d1e2;
    color: #41d1e2;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 15px;
}
// ng-select.ng-select {
//     display: inline-block;
//     width: 75%;
// }
.ng-select-dropdown-outer {
    z-index: 6;
}

.recording-chat-model label {
    width: 40%;
}
.recording-chat-model .form-group p {
    height: 34px;
}
.recording-chat-model label.control.control--checkbox {
    padding-left: 0;
}
.recording-chat-model .control__indicator {
    right: 55%;
    left: auto;
}
.recording-chat-model .media-details .box-grid {
    // height: 260px;
    overflow: auto;
    margin: 10px 0 0;
}
.recording-chat-model .media-details .media {
    margin-bottom: 25px;
}
.recording-chat-model .media-details h4 {
    color: #4c4848;
    font-size: 14px;
    font-weight: 700;
}
.recording-chat-model .media-details .media-object {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.recording-chat-model .media-details .media-heading {
    color: #00bcd3;
    font-size: 12px;
}
.recording-chat-model .media-details .media-heading span {
    color: #8a8a8a;
    font-size: 10px;
    float: right;
}
.green {
    color: green;
}

#myModal-recordings-edit .form-search-person .form-group{margin-bottom: 15px;}
#Recording .table .word-break ul{padding-left: 25px;}
.person-contected{width: 63%;float: left;}
.person-contected .mat-form-field-label{text-align: left;}

.modal textarea:focus, .modal input:focus, .modal select:focus {
    border-bottom: 1px solid #cccccc !important;
    box-shadow: none !important;
}

.contact-yesno{width: 63%;}
.contact-yesno label{width: auto; padding-right: 10px;}
.custom-modal .select-icon:after{right: 16px;}
.txt-left.form-control-size label{text-align: left;}

.form-control-size .select-icon:after{right: 16px;}

.mat-form-field input:focus {
    border-bottom: 0px !important;
}
.agencyDetailsSecond .dangerwork-form.address-form label {
    width: 42%;
}
.disabled{
    color:#B0B0B0;
}

#add-newagencyprovider.modal .modal-body {
    max-height: 90vh;
    overflow: inherit;
    overflow-y: auto;
}

label {
    font-weight: 400;
}

span {
    font-weight: 600;
}

.childDD {
    margin-top: 10px;
}
.childLabel {
    margin-top: 30px;
}
.cidLabel {
    margin-right: 20px;
}

.service-add label {
    width: 23%;
}

// .service-add .prg-name {
//     width: 76%;
//     display: inline-block;
// }

.service-add .prg-name .mat-form-field {
    width: 100%;
}

.form-search-person .form-group label {
    display: block;
    margin-bottom: 0px;
    color: #4c4848;
    font-size: 14px;
    width: 100%;
    margin-top: 0;
}

.form-search-person .form-group.label-wd label {
    margin-top: 0px;
}

.form-group.date-label span label.mat-form-field-label {
    width: 100% !important;
    font-size: 14px !important;
    margin: 0px;
    font-weight: 400;
}

.service-add .service-wd label {
    margin-top: 0px;
}

// .service-wd .select-icon {
//     width: 89%;
//     display: inline-block;
// }

// .service-wd ng-select.ng-select {
//     width: 99%;
// }
.select-icon:after{
    top: 40px;
    right: 2px;
}

.ng-select .ng-control{
    border-bottom: 1px solid rgba(0,0,0,.42) !important;
}
.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}