<div class="row" [formGroup]="apCheckListForm">
    <div class="col-md-12">
        <h5 class="text-uppercase h5-title">Disclosure Checklist</h5>
        <h6 class="h6-title">Disclosure Details</h6>
    </div>
    <div class="col-md-12" [ngClass]="approvalStatus === 'Approved' ? 'disabledArea' : ''" >
        <div class="row">
            <div class="col-md-3 m-t-20">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" class="aut-dtp-DesCreationDate" formControlName="disclosuredate" placeholder="Disclosure Creation Date" required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-9">
                <mat-form-field class=""> <textarea matInput class="aut-txt-personInfDisclosedTo" placeholder="Person(s) Information Disclosed To" formControlName="personinfomation" required></textarea> </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-md-12" [ngClass]="approvalStatus === 'Approved' ? 'disabledArea' : ''">
        <h6 class="h6-title">Disclosure Completed By</h6>
        <div class="row">
            <!-- <div class="col-md-2 m-t-10">
                <p class="tpr-p-title">Worker</p>
                <p class="tpr-p-text">Twenty Trainer09</p>
            </div>
            <div class="col-md-2 m-t-10">
                <p class="tpr-p-title">Local Department</p>
                <p class="tpr-p-text">Dorchester</p>
            </div>
            <div class="col-md-8">
                <mat-form-field class=""> <textarea matInput placeholder="Non Staff Member"></textarea> </mat-form-field>
            </div> -->
            <div class="col-md-2 m-t-10">
                <mat-form-field> <input matInput placeholder="Worker" formControlName="worker" required /> </mat-form-field>
            </div>
            <div class="col-md-2 m-t-10">
                <mat-form-field> <input matInput placeholder="Local Department" formControlName="localdepartment" /> </mat-form-field>
            </div>
            <div class="col-md-2 m-t-10">
                <mat-form-field> <input matInput placeholder="Non Staff Member" formControlName="nonstaffmember" /> </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-md-12" [ngClass]="approvalStatus === 'Approved' ? 'disabledArea' : ''">
        <h6 class="h6-title">Disclosed Checklist Items</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="checklist-content" *ngFor="let checklist of reviewCheckList; let i = index">
                    <!-- investigationFindingForm.get('allegedperson').controls; let i=index -->
                    <p>{{ checklist?.description }} <span class="required"></span></p>
                    <!-- <input type="hidden" formControlName="checklistid" /> -->
                    <mat-radio-group (change)="onCheckListChange($event.value, i)" 
                            [ngClass]="{'aut-rdo-UndiagnosedMPE': i === 0 ,
                                        'aut-rdo-medictionHistorychild': checklist.checklistname ==='Medication history' ,
                                        'aut-rdo-physicalAbuseChildVictim': checklist.checklistname ==='Neglect experiences' ,
                                        'aut-rdo-otherChildBornCBF': checklist.checklistname ==='Biological family' ,
                                        'aut-rdo-outofHomePlacement': checklist.checklistname ==='Family of origin' ,
                                        'aut-rdo-unabletoReturn': checklist.checklistname ==='Provide available Lifebook' ,
                                        'aut-rdo-sexualAbuseChildVictim': checklist.checklistname ==='Out-of-home placements' ,
                                        'aut-rdo-childRelationshipBirthFamily': checklist.checklistname ==='Emotional problem' ,
                                        'aut-rdo-neglectExpchildVictim': checklist.checklistname ==='Drug addiction' ,
                                        'aut-rdo-reunionSetrvice':  i === 9 ,
                                        'aut-rdo-physicalAbuse': checklist.checklistname ==='Sexual abuse experiences',
                                        'aut-rdo-lifeboodInfo': checklist.checklistname ==='Complete the applicable Child' ,
                                        'aut-rdo-alcohalandDrug': checklist.checklistname ==='Reunion service with the family' ,
                                        'aut-rdo-sexualabusechildonothers': checklist.checklistname ==='Identifying information' ,
                                        'aut-rdo-childSchooling': i === 14 ,
                                        'aut-rdo-childAssessmentform': checklist.checklistname ==='Physical abuse perpetrated' ,
                                        'aut-rdo-nonIdentifyinginfo': checklist.checklistname ==='Hospitalization history' ,
                                        'aut-rdo-reasonDatechildDDSCsdy': checklist.checklistname ==='DDS custody' ,
                                        'aut-rdo-PHMHHHchildBiologicalFamily': checklist.checklistname ==='Sexual abuse perpetrated' ,
                                        'aut-rdo-PHMHHHofchild': checklist.checklistname ==='Physical abuse experiences'  }" >                     
                        <mat-radio-button value="1" [checked]="checklist.isselected === '1'">Yes</mat-radio-button>
                        <mat-radio-button value="0" [checked]="checklist.isselected === '0'">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field *ngIf="checklist.isselected === '0'">
                        <!-- <mat-form-field *ngIf="checklist.isselected === '0'" [class]="checklist.isRemarksValid ? 'matInputInvalid' : null"> -->
                        <input type="text"  [ngClass]="{'aut-rdo-UndiagnosedMPE-remark': i === 0 ,
                                                    'aut-rdo-medictionHistorychild-remark': checklist.checklistname ==='Medication history' ,
                                                    'aut-rdo-physicalAbuseChildVictim-remark': checklist.checklistname ==='Neglect experiences' ,
                                                    'aut-rdo-otherChildBornCBF-remark': checklist.checklistname ==='Biological family' ,
                                                    'aut-rdo-outofHomePlacement-remark': checklist.checklistname ==='Family of origin' ,
                                                    'aut-rdo-unabletoReturn-remark': checklist.checklistname ==='Provide available Lifebook' ,
                                                    'aut-rdo-sexualAbuseChildVictim-remark': checklist.checklistname ==='Out-of-home placements' ,
                                                    'aut-rdo-childRelationshipBirthFamily-remark': checklist.checklistname ==='Emotional problem' ,
                                                    'aut-rdo-neglectExpchildVictim-remark': checklist.checklistname ==='Drug addiction' ,
                                                    'aut-rdo-reunionSetrvice-remark':  i === 9 ,
                                                    'aut-rdo-physicalAbuse-remark': checklist.checklistname ==='Sexual abuse experiences',
                                                    'aut-rdo-lifeboodInfo-remark': checklist.checklistname ==='Complete the applicable Child' ,
                                                    'aut-rdo-alcohalandDrug-remark': checklist.checklistname ==='Reunion service with the family' ,
                                                    'aut-rdo-sexualabusechildonothers-remark': checklist.checklistname ==='Identifying information' ,
                                                    'aut-rdo-childSchooling-remark': i === 14 ,
                                                    'aut-rdo-childAssessmentform-remark': checklist.checklistname ==='Physical abuse perpetrated' ,
                                                    'aut-rdo-nonIdentifyinginfo-remark': checklist.checklistname ==='Hospitalization history' ,
                                                    'aut-rdo-reasonDatechildDDSCsdy-remark': checklist.checklistname ==='DDS custody' ,
                                                    'aut-rdo-PHMHHHchildBiologicalFamily-remark': checklist.checklistname ==='Sexual abuse perpetrated' ,
                                                    'aut-rdo-PHMHHHofchild-remark': checklist.checklistname ==='Physical abuse experiences'  }" 
                                                    placeholder="Remarks" matInput (focusout)="onRemarksSave($event, i)" [value]="checklist.remarks" required />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-md-6">
                <div class="check-listed">
                    <div class="check-list-sno"><span>1</span></div>
                    <div class="checklist-content">
                      <p>Provided the family with all available non identifying information on the birth of the child (in writing).</p>
                      <mat-radio-group>
                          <mat-radio-button value="1">Yes</mat-radio-button>
                          <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>3</span></div>
                    <div class="checklist-content">
                      <p>Provided written information to the family pretaining to any known alcohol.drug addiction the child’s birth parent may have had.</p>
                      <mat-radio-group>
                          <mat-radio-button value="1">Yes</mat-radio-button>
                          <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>5</span></div>
                    <div class="checklist-content">
                      <p>Provided reasons and the date the child came into DDS custody.</p>
                      <mat-radio-group>
                          <mat-radio-button value="1">Yes</mat-radio-button>
                          <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>7</span></div>
                    <div class="checklist-content">  
                        <p>Provided written information to the family pertaining to child’s releationship with his/her birth family.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="check-listed">
                    <div class="check-list-sno"><span>2</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family pertaining to why the child was unable to return to his/her family of origin.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>4</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family pertaining to the child’s schooling.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>6</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family pertaining to physical health, mental health, and hospitalization history of the child’s biological family.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>8</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family pertaining to other children born to the child’s biological parents.  </p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div> 
    </div>-->
    <div class="col-md-12" [ngClass]="approvalStatus === 'Approved' ? 'disabledArea' : ''">
        <div class="row">
            <div class="col-md-2 m-t-20">
                <!-- <mat-form-field>
                    <mat-select placeholder="Age of Siblings" formControlName="siblingage"> <mat-option> </mat-option> </mat-select>
                </mat-form-field> -->
                <mat-form-field> <input type="text" placeholder="Number of Siblings" numberOnly matInput formControlName="siblingage" /> </mat-form-field>
            </div>
            <div class="col-md-10">
                <mat-form-field class=""> <textarea matInput placeholder="Information (Name/AGE, ..)" formControlName="siblinginformation"></textarea> </mat-form-field>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-12 m-t-20">
        <div class="row">
            <div class="col-md-6">
                <div class="check-listed">
                    <div class="check-list-sno"><span>9</span></div>
                    <div class="checklist-content">
                        <p>Provided writen information to the family pertaining to physical health , mental health and hospitalization history of the child.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>11</span></div>
                    <div class="checklist-content">
                        <p>Provided writen information to the family pertaining to know medication history of the child</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>13</span></div>
                    <div class="checklist-content">
                        <p>Provided writen information to the family pertaining to all known out-of-home placements.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>15</span></div>
                    <div class="checklist-content">
                        <p>Provided writen information to the family regarding any known sexual abuse experiences in which the child was the victim.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>17</span></div>
                    <div class="checklist-content">
                        <p>Discussed post adoptive search and reunion service with the family.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>19</span></div>
                    <div class="checklist-content">
                        <p>Provided writen information to the family regarding any known neglect experiences in which child was the victim.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="check-listed">
                    <div class="check-list-sno"><span>10</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family regading any known physical abuse perpetrated by the child on others.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>12</span></div>
                    <div class="checklist-content">
                        <p>Provided written information to the family regading any sexual abuse perpetrated by the child on others.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>14</span></div>
                    <div class="checklist-content">
                        <p>Explain to the family that the child being placed may have undiagnosed mental, physical, or emotional probem</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>16</span></div>
                    <div class="checklist-content">
                        <p>Provide available Lifebook information.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>18</span></div>
                    <div class="checklist-content">
                        <p>Provide written information to the family regarding any known physical abuse experiences in which the child was the victim.</p>
                        <mat-radio-group>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="check-listed">
                    <div class="check-list-sno"><span>20</span></div>
                    <div class="checklist-content">
                      <p>Complete the aplicable Child Assesment Request Form and upload the form in the File cabinet.</p>
                      <mat-radio-group>
                          <mat-radio-button value="1">Yes</mat-radio-button>
                          <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-6" [ngClass]="approvalStatus === 'Approved' ? 'disabledArea' : ''">
        <p class="semi-b">Please provide the list of documents pertaining to the Child and Biological Family uploaded to the File Cabinet</p>
        <mat-form-field class=""> <textarea matInput placeholder="Write the file names (use , for name separation)" formControlName="remarks"></textarea> </mat-form-field>
    </div>
    <div class="col-md-12" *ngIf="approvalStatus">
        <label>Approval Status: {{ approvalStatus }}</label>
    </div>
    <div class="col-md-4" *ngIf="approvalStatus">
            <label>Submitted by:</label> {{ submitby }}
    </div>
    <div class="col-md-4" *ngIf="approvalStatus">
            <label>Submitted on:</label> {{ submiton | date: 'MM/dd/yyyy hh:mm:ss a' }}
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-4" *ngIf="approvalStatus">
            <label>Approved by: </label>{{ approvedby }}
    </div>
    <div class="col-md-4" *ngIf="approvalStatus">
            <label>Approved on:</label> {{ approvedon | date: 'MM/dd/yyyy hh:mm:ss a' }}
    </div>
    <div class="col-md-12">
        <ng-container *ngIf="!isSupervisor && (!approvalStatus || approvalStatus === 'Rejected')">
            <button class="btn-pri btn-bg text-uppercase pull-left aut-btn-submitforApproval" [disabled]="apCheckListForm.invalid || apCheckListForm.pristine" (click)="addCheckList(apCheckListForm.value)">
                Submit for Approval
            </button>
            <!-- <button class="sec-btn text-uppercase">Adoption Disclosure</button> -->
        </ng-container>
        <ng-container *ngIf="isSupervisor && approvalStatus === 'Review'">
            <button class="btn-theme btn-bg text-uppercase pull-left" (click)="approveAdoption('Approved')">Approve</button>
            <button class="btn-theme btn-bg text-uppercase pull-left" (click)="approveAdoption('Rejected')">Denied</button>
        </ng-container>
    </div>
</div>

<div class="modal fade in modal-theme" id="planning-validation" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">
            <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">×</button>
                    <h4 class="modal-title">Planning Validation</h4>
            </div>
            <div class="modal-body">
                Please complete the following tabs to proceed,
                <br><ul>
                <li *ngIf="!effortDetailSaved"><p>Adoption Efforts</p></li>
                <li *ngIf="!emotionalTiesSaved"><p>Emotional Ties</p></li>
                <li *ngIf="!narrativesaved"><p>Narrative</p></li>
                </ul>

            </div>
        </div>
    </div>
</div>
