<div #tab_content id="tab_content" class="row m-t-20">
    <form [formGroup]="personEducationFormGroup">
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Education Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Education Sections -->
                    <div formGroupName="personEducation" class="row">

                        <!-- Education -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field> <input type="text" matInput placeholder="School name"
                                            formControlName="educationname" required />
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="School Type" formControlName="educationtypekey">
                                            <mat-option *ngFor="let item of (schoolTypeDropdownItems$ | async)"
                                                value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="School Setting" formControlName="schoolsettingtypekey">
                                            <mat-option *ngFor="let item of (schoolSettingDropdownItems$ | async)"
                                                value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Educational Transportation"
                                            formControlName="transportmodetypekey">
                                            <mat-option *ngFor="let item of (transportmodetypeDropdownItems$ | async)"
                                                value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field> <input type="text" matInput placeholder="Explanation"
                                            formControlName="transportmodetypedetail" />
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="State" formControlName="statecode">
                                            <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)"
                                                value="{{item.ref_key}}" (click)="loadCounty(item)">
                                                {{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="County" formControlName="adresscounty">
                                            <mat-option *ngFor="let item of countyDropDownItems$ | async"
                                                value="{{item.ref_key}}">
                                                {{item.description}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field> <input type="text" matInput placeholder="City"
                                            formControlName="adrcityname" />
                                    </mat-form-field>                         

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="no-pad clsIntake dpnew ">
                                                <common-date-picker [min]="educationStartDate"
                                                    placeholder="Start Date" formControlName="startdate"
                                                    (valueChange)="startDateChanged($event)" required>
                                                </common-date-picker>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="no-pad clsIntake dpnew ">
                                                <common-date-picker [min]="toMinDate"
                                                    placeholder="End date" formControlName="enddate"
                                                    (valueChange)="endDateChanged($event)"></common-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <input type="text" matInput
                                            placeholder="State Assigned Student Identifier (SASID)"
                                            formControlName="sasidno" />
                                    </mat-form-field>
                                    
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Contact Name"
                                            formControlName="contactname" />
                                    </mat-form-field>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <mat-form-field>
                                                <input type="text" matInput placeholder="Work Phone number"
                                                    maxlength="15" mask="(000) 000-0000"
                                                    formControlName="adrworkphone" />
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-4">
                                            <mat-form-field> <input type="text" matInput placeholder="Ext" maxlength="4"
                                                    formControlName="adrworkxtn" (keyup)="allowPhoneNo($event)" />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Daily School Hrs"
                                            formControlName="schoolschedule" maxlength="5"
                                            (keyup)="checkDecimal($event)" />
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input type="text" matInput placeholder="School Adjustment"
                                            formControlName="schooladjustment" />
                                    </mat-form-field>

                                    <p>Special Education?</p>
                                    <mat-radio-group formControlName="isspecialeducation">
                                        <mat-radio-button class="m-r-10" [value]="1">Yes</mat-radio-button>
                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                    </mat-radio-group>

                                    <div
                                        *ngIf="personEducationFormGroup.controls['personEducation'].controls['isspecialeducation'].value === 1">
                                        <mat-form-field>
                                            <mat-select placeholder="School Special Education"
                                                formControlName="specialeducationtypekey">
                                                <mat-option *ngFor="let item of (schoolSpDropdownItems$ | async)"
                                                    value="{{item.ref_key}}">
                                                    {{ item.description }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="row m-b-20"
                                        *ngIf="personEducationFormGroup.controls['personEducation'].controls['specialeducationtypekey'].value === 'IEP'">
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <input matInput [max]="maxDate" [matDatepicker]="startdate"
                                                    (click)="startdate.open()" formControlName="lastiepdate"
                                                    placeholder="IEP Start Date">
                                                <mat-datepicker-toggle matSuffix [for]="startdate">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #startdate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row m-b-20"
                                        *ngIf="personEducationFormGroup.controls['personEducation'].controls['specialeducationtypekey'].value === 'IFSP'">
                                        <div class="col-sm-6">
                                            <mat-form-field>
                                                <input matInput [max]="maxDate" [matDatepicker]="startdate"
                                                    (click)="startdate.open()" formControlName="lastifspdate"
                                                    placeholder="IFSP Start Date">
                                                <mat-datepicker-toggle matSuffix [for]="startdate">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #startdate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Number Of Days Absence"
                                            formControlName="numberofabsences" (keyup)="checkNumber($event)"
                                            maxlength="5" />
                                    </mat-form-field>

                                    <mat-radio-group formControlName="isreceived">
                                        <mat-radio-button class="m-r-10" [value]="1">Received</mat-radio-button>
                                        <mat-radio-button [value]="0">Verified</mat-radio-button>
                                        <mat-radio-button [value]="2">Excused</mat-radio-button>
                                    </mat-radio-group>

                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Extracurricular/Activities/Services"
                                            formControlName="extracurricular" />
                                    </mat-form-field>
                                </div>

                                <!-- Quarter Absences -->
                                <div class="col-sm-4 quarter-box">
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-checkbox formControlName="firstqtrabsence">1st Quarter Absences
                                                    </mat-checkbox>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>Days Absent</p>
                                            <p><span>Excused</span>

                                                <input type="text" formControlName="firstqtrabsenceexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Not Excused</span>

                                                <input type="text" formControlName="firstqtrabsencenotexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Days Tardy</span>

                                                <input type="text" formControlName="firstqtrabsencetardy"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                        </mat-expansion-panel>
                                    </mat-accordion>

                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-checkbox formControlName="secondqtrabsence">2nd Quarter
                                                        Absences
                                                    </mat-checkbox>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>Days Absent</p>
                                            <p><span>Excused</span>

                                                <input type="text" formControlName="secondqtrabsenceexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Not Excused</span>

                                                <input type="text" formControlName="secondqtrabsencenotexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Days Tardy</span>

                                                <input type="text" formControlName="secondqtrabsencetardy"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>

                                        </mat-expansion-panel>
                                    </mat-accordion>

                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-checkbox formControlName="thirdqtrabsence">3rd Quarter Absences
                                                    </mat-checkbox>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>Days Absent</p>
                                            <p><span>Excused</span>

                                                <input type="text" formControlName="thirdqtrabsenceexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Not Excused</span>

                                                <input type="text" formControlName="thirdqtrabsencenotexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Days Tardy</span>

                                                <input type="text" formControlName="thirdqtrabsencetardy"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>

                                        </mat-expansion-panel>
                                    </mat-accordion>

                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-checkbox formControlName="fourthqtrabsence">4th Quarter
                                                        Absences
                                                    </mat-checkbox>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <p>Days Absent</p>
                                            <p><span>Excused</span>

                                                <input type="text" formControlName="fourthqtrabsenceexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Not Excused</span>

                                                <input type="text" formControlName="fourthqtrabsencenotexcused"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                            <p><span>Days Tardy</span>

                                                <input type="text" formControlName="fourthqtrabsencetardy"
                                                    (keyup)="checkNumber($event)" maxlength="5" />

                                            </p>
                                        </mat-expansion-panel>
                                    </mat-accordion>

                                    <mat-form-field> <input type="text" matInput placeholder="Summer School"
                                            formControlName="summerschoolname" />
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Highest Grade Completed"
                                            formControlName="highestgradetypekey">
                                            <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                value="{{item.ref_key}}">{{
                                                item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Current Grade" formControlName="currentgradetypekey">
                                            <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                value="{{item.ref_key}}">{{
                                                item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Last Grade Completed"
                                            formControlName="lastgradetypekey">
                                            <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                value="{{item.ref_key}}">{{
                                                item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Education Details -->
                        <div class="col-md-12">
                            <div class="row">
                                <h4 style="padding-left: 15px">Additional Information</h4>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h5>Grades/Level information</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5>Education Performance</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5>Special education information</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Type of Class"
                                                    formControlName="classtypetypekey">
                                                    <mat-option *ngFor="let item of (typeofclassDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="Current Grade Level"
                                                    formControlName="currentgradelevel">
                                                    <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                        value="{{item.ref_key}}">
                                                        {{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="Functioning Grade Level"
                                                    formControlName="functioninggradelevel">
                                                    <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                        value="{{item.ref_key}}">
                                                        {{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="Last Grade Level"
                                                    formControlName="lastgradelevel">
                                                    <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                        value="{{item.ref_key}}">
                                                        {{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="1St quarter Performance"
                                                    formControlName="firstqtrperformancetypekey">
                                                    <mat-option
                                                        *ngFor="let item of (schoolAdjustmentDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="2nd Quarter Performance"
                                                    formControlName="secondqtrperformancetypekey">

                                                    <mat-option
                                                        *ngFor="let item of (schoolAdjustmentDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="3rd Quarter Performance"
                                                    formControlName="thirdqtrperformancetypekey">
                                                    <mat-option
                                                        *ngFor="let item of (schoolAdjustmentDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="4th Quarter Performance"
                                                    formControlName="fourthqtrperformancetypekey">
                                                    <mat-option
                                                        *ngFor="let item of (schoolAdjustmentDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{
                                                                    item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Special Education Least Restrictive"
                                                    formControlName="speacialeducationrestrictivekey">
                                                    <mat-option
                                                        *ngFor="let item of (specialEducationInDensityDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{
                                                            item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput [max]="maxDate" [matDatepicker]="startdate"
                                                    (click)="startdate.open()" formControlName="lastattendeddate"
                                                    placeholder="Date Last Attended">
                                                <mat-datepicker-toggle matSuffix [for]="startdate">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #startdate></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="School Exit Reason"
                                                    formControlName="schoolexitcomments">
                                                    <mat-option
                                                        *ngFor="let item of (schoolExitReasonDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <mat-select placeholder="Disciplinary Action"
                                                    formControlName="disciplinaryactioncomments">
                                                    <mat-option
                                                        *ngFor="let item of (disciplinaryActionDropdownItems$ | async)"
                                                        value="{{item.ref_key}}">{{ item.description }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <!-- Education Buttons -->
                                <div class="col-sm-12 text-right">
                                    <button class="btn sec-btn"
                                        (click)="cancelForm('personEducation')">{{ editflag ? 'CANCEL' : 'CLEAR' }}</button>
                                    <button class="btn btn-pri"
                                        [disabled]="personEducationFormGroup.pristine || personEducationFormGroup.invalid || _personInfoService.getClosed()"
                                        (click)="addOrUpdatePersonEducation('personEducation')">{{ editflag ? 'UPDATE' : 'SAVE' }}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="col-md-12 m-t-10">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Accomplishments
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Education Accomplishment -->
                    <div formGroupName="personAccomplishment" class="row">
                        <div class="col-sm-12 p-b-20">
                            <h4>Accomplishments</h4>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Highest Grade Completed"
                                            formControlName="highestgradetypekey">
                                            <mat-option *ngFor="let item of (gradeDropdownItems)"
                                                value="{{item.ref_key}}">
                                                {{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <p>Record Received</p>
                                    <mat-radio-group formControlName="isrecordreceived">
                                        <mat-radio-button class="m-r-10" [value]="1">Yes</mat-radio-button>
                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="no-pad clsIntake dpnew">
                                        <common-date-picker [max]="maxDate" placeholder="Completed Date - MM/DD/YYYY"
                                            formControlName="accomplishmentdate"></common-date-picker>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="no-pad clsIntake dpnew ">
                                        <common-date-picker [max]="maxDate" placeholder="Received Date - MM/DD/YYYY"
                                            formControlName="receiveddate"></common-date-picker>
                                    </div>
                                </div>
                            </div>

                            <!-- Education Accomplishment Buttons -->
                            <div class="row text-right">
                                <div class="col-md-12">
                                    <button class="sec-btn btn"
                                        (click)="cancelForm('personAccomplishment')">{{ editflag ? 'CANCEL' : 'CLEAR' }}</button>
                                    <button [disabled] = "_personInfoService.getClosed()" class="btn-pri btn"
                                        (click)="addOrUpdatePersonEducation('personAccomplishment')">{{ editflag ? 'SAVE' : 'SAVE' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="col-md-12 m-t-10">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Academic Test Info
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- Education Testing -->
                    <div formGroupName="personEducationTesting" class="row">
                        <div class="col-sm-12 p-b-20">
                            <h4>Academic Test Info</h4>

                            <div class="col-md-12">
                                <div class="row">
                                    <mat-form-field class="col-md-6 no-pad">
                                        <mat-select placeholder="Test Name" formControlName="testingtypekey">
                                            <mat-option *ngFor="let item of (testnameDropdownItems$ | async)"
                                                value="{{item.ref_key}}">
                                                {{ item.description }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-md-6"> <input type="text" matInput numberOnly
                                            placeholder="Reading Test Level" formControlName="readinglevel" />
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <div class="no-pad clsIntake dpnew col-md-6">
                                        <common-date-picker [max]="maxDate" placeholder="Reading Test Date - MM/DD/YYYY"
                                            formControlName="readingtestdate"></common-date-picker>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field> <input type="text" matInput placeholder="Provider Location"
                                                formControlName="testingprovider" /></mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- Education Testing Buttons -->
                            <div class="col-md-12 text-right">
                                <button class="sec-btn btn"
                                    (click)="cancelForm('personEducationTesting')">{{ editflag ? 'CANCEL' : 'CLEAR' }}</button>
                                <button [disabled] = "_personInfoService.getClosed()" class="btn-pri btn"
                                    (click)="addOrUpdatePersonEducation('personEducationTesting')">{{ editflag ? 'UPDATE' : 'SAVE' }}</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </form>
</div>