
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mrg-top25">
                <b>Search Result</b>
            </h5>
            <div *ngIf="showTable" class="table-responsive form-letter-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Statutes Key</th>
                            <th>Description</th>
                            <th>Statute Text</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="regulationResultData$ | async; let regulationResultData">
                        <tr *ngFor="let regulationData of regulationResultData">
                            <td (click)="selectRegulation(regulationData)">
                                <a href="#" data-toggle="modal" data-target="#myModal-regulation">{{regulationData.statestatuteskey}}</a>
                            </td>
                            <td>{{regulationData.description}}</td>
                            <td>{{regulationData.statestatutetext}}</td>
                            <td>{{regulationData.librarytype}}</td>
                        </tr>
                    </tbody>

            </table>
            <div class="text-center" *ngIf="{regulationResultData : regulationResultData$ | async, totalResultRecords :totalResulRecords$ | async } as validatePagination">
                <pagination *ngIf="validatePagination.regulationResultData && validatePagination.regulationResultData?.length !==0" [totalItems]="validatePagination.totalResulRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"></pagination>
            </div>
        </div>
    </div>


<div>
    <regulation-library-view [selectedRegulation]="selectedRecord"></regulation-library-view>
</div>