.tab-content {
    padding: 25px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 300px;
    background: #fff;
}
.modal-header {
    padding: 10px 15px;
}
h4.modal-title {
    font-weight: 600;
    font-size: 19px;
    margin: 0px;
}
.close {
    float: right;
    font-size: 18px;
    opacity: 0.6;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.contact-note thead tr th {
    width:150px;
}
.contact-note thead tr th:last-child {
    width:400px;
}
i {
    font-size: 18px;
    font-weight: 500;
}
.brd {
    border:1px solid #e5e5e5;
    padding:10px;
    height:250px;
    margin-top:10px;
}
.mat-expansion-panel-header, .mat-expansion-panel-header:hover{ background:#467292 !important;}
.mat-expansion-panel-header-title{color: #fff;}

.acc-content table{
    width:100%;
    border-collapse: collapse;
    margin:10px 0;
}
.acc-content table thead{
    background:#efefef;
}
.acc-content table thead th{
    border:solid 1px #ddd;
    padding:8px 15px;
    font-weight: 500;
    font-size: 14px;
}

.mat-expansion-panel-header-description {
  flex: 0 0 auto;
  color: white;
}