<div class="tab-content active">
  <div class="row">
    <div class="col-sm-8">
      <h4>Monitor Activity</h4>
    </div>
    <!--<div class="col-sm-4 text-right">
      <button class="btn btn-theme btn-pri m-t-10" [disabled]="isViewOnly" data-toggle="modal" data-target="#add-activity" (click)="resetForm()" >ADD CHECK LIST</button>
    </div>-->
  </div>

  <div class="row">
    <div class="col-md-12 m-t-20">
      <div class="table-responsive table-theme">
          <table class="table table-striped icon-action no-mar">
              <thead>
              <tr>
                  <th></th>
                  <th>Visit Id</th>
                  <th>Visit Date</th>
                  <th>Time of Visit</th>
                  <th>Periodic</th>
                  <th>Announcement</th>
                  <th>Status</th>
                  <!-- <th>Action</th> -->
              </tr>
              </thead>
              <tbody>
  
                  <tr *ngFor="let obj of visitationList">
                    <td>
                      <label class="control control--radio">
                        <input type="radio" [checked]="visitInfo?.monitoring_id === obj.monitoring_id" name="Address" (click)="selectVisit(obj)">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                      <td>{{obj.monitoring_id}}</td>
                      <td>{{obj.monitoring_dt | date: 'MM/dd/yyyy'}}</td>
                      <td>{{obj.time_visit }}</td>
                      <td>{{obj.periodic}}</td>
                      <td>{{obj.announced_cd}}</td>
                      <td>{{obj.status}}</td>
                      <!-- <td>
                          <button class="no-bg" (click)="viewVisit(obj,0)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                          <button class="no-bg" (click)="viewVisit(obj,1)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      </td> -->
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>

<!--   <div class="row m-t-20">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Select Periodic">
            <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Select Month">
            <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Select Year">
            <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3 text-right">
        <button class="btn btn-theme btn-pri" [disabled]="isViewOnly" (click)="viewActivity()">View</button>
      </div>
    </div>
  </div> -->
  <!-- <div class="row m-t-20">
    <div class="col-sm-12">
      <div class="table-responsive table-theme">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th>Comments</th>
              <th>Review Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5"> No Activity found</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <!-- <div class="row  m-t-30">
    <div class="col-sm-12 text-right">
      <button class="btn btn-theme btn-pri" [disabled]="isViewOnly">Save</button>
    </div>
  </div> -->

  <div class="col-sm-12 m-t-20">
      <mat-accordion multi="false" class="acc-content">
          <mat-expansion-panel *ngFor="let panel of config.panels; let iVal=index">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{ panel.name }}
                  </mat-panel-title>
                  <mat-panel-description>
                      {{ panel.description }}
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="contentAccordion" [formGroup]="activityTaskStatusFormGroup">
                  <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                      <div class="table-responsive dd-overflow-inherit" style="overflow: hidden;">
                          <table class="table table-bordered" style="width: 99.86%;" formArrayName="{{'task'+iVal}}">
                              <thead>
                                  <tr>
                                      <th>Task</th>
                                      <th style="width:54%">Comments</th>
                                      <th>Review Date</th>
                                      <th style="width:120px">Status</th>
                                  </tr>
                              </thead>
                              <tbody
                                  *ngFor="let currentTask of activityTaskStatusFormGroup.controls['task'+iVal]['controls'] let i=index"
                                  [formGroupName]="i">
                                  <tr class="dd-overflow-inherit">
                                      <td style="text-align: start;width: 350px;">
                                          {{currentTask['controls'].checklist_task.value}}</td>
                                      <td style="padding-bottom: 0;">
                                          <div class="form-group dd-overflow-inherit mb-0">
                                              <div class="fm-box-form no-pad dpnew">
                                                  <mat-form-field>
                                                      <input formControlName="commnts" type="text" matInput required>
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                      </td>
                                      <td style="padding-bottom: 0;">
                                          <div class="form-group dd-overflow-inherit mb-0">
                                              <div class="fm-box-form no-pad dpnew">
                                                  <mat-form-field>
                                                      <input formControlName="completeddate" matInput
                                                          (click)="picker.open()" [matDatepicker]="picker"
                                                          [max]="maxDate">
                                                      <mat-datepicker-toggle matSuffix [for]="picker">
                                                      </mat-datepicker-toggle>
                                                      <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                      </td>
                                      <td style="padding-bottom: 0;">
                                          <div class="form-group dd-overflow-inherit mb-0">
                                              <div class="fm-box-form no-pad dpnew" style="font-size: 12px;">
                                                  <mat-form-field>
                                                      <mat-select formControlName="status">
                                                          <mat-option *ngFor="let status of tasktypestatus"
                                                              [value]="status">
                                                              {{status}}
                                                          </mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="mrg-top15">
                  <div class="btn-group btn-group-re pull-right">
                      <button type="submit" class="btn-pri" (click)="saveTask()">Save</button>
                  </div>
              </div>
              <div class="clearfix"></div>
  
          </mat-expansion-panel>
      </mat-accordion>
  </div> 
</div>
<!-- <div class="modal fade in" id="add-activity">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title"> Add Check List</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Activity">
                <mat-option>RCC</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Periodic">
                <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Select Month">
                <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Select Year">
                <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Time of Visit">
                  <mat-option *ngFor="let item of timeOfVisit" value="{{item}}">
                      {{item}}
                    </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Announced/Unannounced">
                <mat-option *ngFor="let item of visitSchedule" value="{{item}}">
                    {{item}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <h5>Suggested Tasks</h5>
            <ul class="list-unstyled brd">
              <li><a>Task 1</a></li>
              <li><a>Task 2</a></li>
            </ul>
          </div>
          <div class="col-sm-2 text-center m-t-30">
            <ul class="list-unstyled">
              <li>
                <a class="btn btn-theme btn-pri m-b-15">>></a>
                <a class="btn btn-theme btn-pri m-b-15">></a>
                <a class="btn btn-theme btn-pri m-b-15">
                  < </a> <a class="btn btn-theme btn-pri m-b-15">
                    <<</a> </li> </ul> </div> <div class="col-sm-5">
                      <h5>Selected Tasks</h5>
                      <ul class="list-unstyled brd">
                        <li><a></a></li>
                        <li><a></a></li>
                      </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right m-t-15">
            <button class="btn btn-theme btn-sec">Cancel</button>
            <button class="btn btn-theme btn-pri">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade in on-demand-activities" id="add-activity" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="resetForm()">×</button>
                <h4 class="modal-title">Check List</h4>
            </div>
            <!-- [formGroup]="formGroup" -->
            <div class="modal-body modal-body-maxh">
                <form [formGroup]="formGroup">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fm-box dd-overflow-inherit">

                                <mat-form-field>
                                    <mat-select placeholder="Activity" (change)="onChangeActivity($event)">
                                        <mat-option *ngFor="let item of activityDropdownItems$" value="{{item.value}}">
                                            {{item.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <label>Activity:</label> -->
                                <!-- <div class="fm-box-form dd-overflow-inherit col-sm-4"> -->
                                <!-- <div class="select-icon">
                                    <ng-select (change)="onChangeActivity($event)" placeholder="Activity">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let item of activityDropdownItems$" [value]="item.value">{{item.text}}</ng-option>
                                    </ng-select>
                                    <control-messages [control]="formGroup.controls['selectActivityList']"></control-messages> 
                                </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select placeholder="Select Periodic" (change)="onPeriodChange()"
                                        formControlName="periodic">
                                        <mat-option *ngFor="let item of periodicDropDown" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select placeholder="Select Month" formControlName="monthly" [disabled]="isMonthDisabled">
                                        <mat-option *ngFor="let item of monthDropDown" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select placeholder="Select Year" formControlName="yearly" [disabled]="isYearDisabled">
                                        <mat-option *ngFor="let item of yearDropDown" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Time Of Visit"  formControlName="visitTime">
                                    <mat-option *ngFor="let item of timeOfVisit" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Announced/Unannounced" formControlName="schedule">
                                    <mat-option *ngFor="let item of visitSchedule" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mrg-top25">
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Suggested Tasks</b>
                                </p>
                                <div class="form-group multiple-select modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftTasks"><!-- | orderBy:'task' -->
                                                <!--  -->
                                                <td>
                                                    <label>
                                                        <input type="checkbox" (change)="toggleTask('left', item, $event)">
                                                    </label>
                                                    <div class="tasks">{{item.task}}</div> 
                                                </td>
                                                <!-- <td>{{item.task}}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="btn-group btn-group-re multi-slt-btn">
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="selectAllTask()">Add All &gt; &gt;</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="selectTask()">Add &gt;</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="unSelectTask()">&lt; Remove</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="unSelectAllTask()"> &lt; &lt; Remove All</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Selected Tasks</b>
                                </p>
                                <div class="form-group multiple-select modal-multi">
                                    <table class="table">
                                        <tbody>
                                           <tr *ngFor="let item of rightTasks"> <!--  | orderBy:'task' -->
                                                <td>
                                                    <label>
                                                        <input type="checkbox" (change)="toggleTask('right', item, $event)">
                                                    </label>
                                                    <div class="tasks">{{item.task}}</div>                                                     
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal">Cancel</button>
                            <button type="button" value="Save" class="btn-pri" name="" (click)="activitySave()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
