

<div class="dashboard-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="col-box mydsds-action">
                <h4> My Tagged Cases</h4> 
                    <div class="table-responsive table-theme">
                    <table width="100%" class="table  table-striped aut-tbl-caseNumeberResultTable">
                        <thead>
                            <tr>
                                <th>Case Number</th>
                                <th>Type</th>
                                <th>Legal Guardian</th>
                                 <th>Received Date & Time</th>
                                 <th>Worker</th>
                                 <th></th>

                            </tr>
                        </thead>
                        <tbody *ngIf="searchResult ; let dsdsActionList">
                            <tr *ngFor="let item of dsdsActionList">
                                <td>
                                    <a (click)="routeToCase(item)" [ngStyle]="{'font-weight':item.accepteddate ? 'normal' : 'bold' }" class="aut-lnk-caseNumber" >{{ item?.casenumber }}
                                    </a>
                                </td>
                               <td>{{item?.objecttypekey}}</td>
                                <td>
                                  {{item?.legalguardian}}
                                  <!-- <person-information [persons]="item?.legalguardian"></person-information> -->
                                  <!-- <span *ngFor="let lg of item?.legalguardian">{{lg?.personname}}</span> --></td>
                                <td>{{ item.receiveddate ? (item.receiveddate | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}</td>
                                <td>{{item?.worker}}</td>
                                <td><a  data-toggle="tooltip" title="Untag" (click)="deleteTag(item)">
                                    <img src="assets/images/logo_untag.png" class="iconSize" alt="">
                                </a></td>
                            </tr>
                            <!-- *ngIf="!dsdsActionList" -->
                            <tr *ngIf="!dsdsActionList?.length>=1" style="text-align: center !important">
                                <td colspan="6">No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="text-center mt-10" *ngIf="{ dsdsActionList: caseList$ | async, totalRecords: totalRecords$ | async } as validatePagination">
                        <pagination *ngIf="validatePagination.dsdsActionList?.length !== 0" [totalItems]="validatePagination.totalRecords"
                            [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
                            [boundaryLinks]="true" [maxSize]="10">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
