<div class="container-fluid">
    <div class="row m-t-30">
      <div class="col-md-12">
        <h4>Service and Placement Structure</h4>
        <button type="button" class="btn-pri pull-right ds-block"  data-toggle="modal" data-target="#placement-popup" (click)="addService()">Add Service</button>
        
        <div class="table-responsive table-theme table-position m-t-10">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Service/Structure ID</th>
                <th>Service/Placement Structure</th>
                <th>Service/Structure Name</th>
                <!-- <th>Service Category</th> -->
                <th>Active</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="getPlacementStructureList">
              <tr *ngFor="let item of getPlacementStructureList">
                <td>{{item.service_id}}</td>
                <td>{{(item.structure_service_cd == 'P') ? 'Placement Structure' : 'Service'}}</td>
                <td>{{item.service_nm}}</td>
                <!-- <td>{{item.servicecategorydesc}}</td> -->
                <td>Yes</td>
                <td class="btn-icon">
                  <button type="button"><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" (click)="viewPlacement(item)" data-target="#view-placement"></i></button>
                  <button type="button" data-toggle="modal" data-target="#placement-popup" (click)='editPlacement(item)'><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <!-- <button type="button"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
                </td>
              </tr>
              <tr *ngIf="getPlacementStructureList?.length === 0">
                <td colspan="5" style="text-align: center !important;">
                    No records found.
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-10">
            <div class="text-center" *ngIf="totalcount > 10">
                <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                </pagination>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="placement-popup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearPlacementForm()">
                    <span aria-hidden="true" (click)="clearItem()">x</span>
                </button>
                <h4 class="modal-title">Service / Structure Details</h4>
            </div>
            <div class="modal-body" [formGroup]="placementForm">
                <div class="row">
                  <div class="col-md-12">
                      <mat-radio-group formControlName='structure_service_cd'>
                        <mat-radio-button value="S" checked="true">Service</mat-radio-button>
                        <mat-radio-button value="P">Placement Structure</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                          <mat-form-field>
                              <input matInput formControlName='service_nm' placeholder="Service/Structure Name" required>
                          </mat-form-field>
                          <!-- <mat-form-field>
                            <mat-select formControlName='servicecategorydesc' placeholder="Service Category" required>
                                <mat-option *ngFor="let service of serviceCategoryList$ | async" [value]="service.value">{{service.text}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                          <mat-checkbox class="m-t-20 ds-block" formControlName="child_account_sw" (change)="childAccountCheck($event.checked)">Use Child Account Funds</mat-checkbox>
                      </div>
                      <div class="col-md-6">
                          <mat-checkbox class="m-t-20 ds-block" formControlName="activePlacement" checked="true">Active</mat-checkbox>
                          <mat-form-field class="m-t-10">
                            <mat-select placeholder="Paid/Non Paid/Agency Provided" formControlName="paid_non_paid_cd" required>
                              <mat-option *ngFor="let agency of agencyProvideList$ | async" [value]="agency.value">{{agency.text}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-checkbox class="m-t-20 ds-block" formControlName="iv_e_allowable_sw" (change)="allowableSWCheck($event.checked)">Allowable under 21xx code (IV-E Eligible)</mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 m-t-20">
                      <mat-radio-group formControlName="state_ldss_cd">
                        <mat-radio-button value="4909">State-Wide Service</mat-radio-button>
                        <mat-radio-button value="4910">Local Department-specific Service</mat-radio-button>
                      </mat-radio-group>
                      <mat-form-field>
                          <textarea matInput placeholder="Local Department"></textarea>
                      </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="placementForm.get('structure_service_cd').value === 'P' && placementCategory" type="button" class="btn-pri pull-right" data-toggle="modal" data-target="#associate-fiscal" data-dismiss="modal">Associate Fiscal Category</button>
              <button type="button" class="btn-pri pull-right" (click)="addPlacementService(placementForm.value)">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="associate-fiscal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" [formGroup]="associateFiscalForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()" data-toggle="modal" data-target="#placement-popup" data-dismiss="modal">x</span>
                </button>
                <h4 class="modal-title">Service / Structure Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <label>Program/Placement Structure ID : </label>
                    <span></span>
                  </div> -->
                  <div class="col-md-6">
                    <label>Program/Placement Structure Name : </label>
                    <span></span>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-md-6">
                      <h5>Fiscal Category</h5>
                      <mat-form-field class="m-t-30">
                          <textarea matInput placeholder="Program"></textarea>
                      </mat-form-field>
                  </div> -->
                  <div class="col-md-6">
                      <mat-form-field>
                          <mat-select placeholder="IV-E" formControlName="category" (change)="categoryChange($event.value)">
                              <mat-option *ngFor="let list of categoryList" [value]="list.fiscal_category_id">{{list.description}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                          <mat-select placeholder="Non IV-E" required formControlName="nonCategory" (change)="nonCategoryChange($event.value)">
                            <mat-option *ngFor="let list of nonCategoryList" [value]="list.fiscal_category_id">{{list.description}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-pri pull-right" data-toggle="modal" data-target="#placement-popup" data-dismiss="modal" (click)="addPlacementCategory()">Ok</button>
              <button type="button" class="sec-btn pull-right" data-toggle="modal" data-target="#placement-popup" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-placement" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()">x</span>
                </button>
                <h4 class="modal-title">Service / Structure Details</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Structure Service Category</p>
                      <p>{{(placementDetails?.structure_service_cd === 'S') ? 'Service' : 'Placement Structure'}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Service/Structure Name</p>
                      <p>{{placementDetails?.service_nm}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Use Child Account Funds</p>
                      <p>{{(placementDetails?.child_account_sw === 'Y') ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Allowable under 21xx code (IV-E Eligible)</p>
                      <p>{{(placementDetails?.iv_e_allowable_sw === 'Y') ? 'Yes' : 'No'}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Paid/Non Paid/Agency Provided </p>
                      <p>{{placementDetails?.paidnonpaidtype}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="view-placement-text">
                      <p>Service</p>
                      <p>{{(placementDetails?.state_ldss_cd == '4910') ? 'Local Department-specific Service' : (placementDetails?.state_ldss_cd == '4909') ? 'State-Wide Service' : ''}}</p>
                    </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-4">
                  <div class="view-placement-text">
                    <p>Local Department</p>
                    <p>{{placementDetails?.paymenttype}}</p>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="sec-btn pull-right" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
  </div>