.expand-sec {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 15px 10px;
    margin-bottom: 25px;
    max-height: 250px;
    overflow: auto;
}
.expand-sec ul{
    margin-bottom: 0;
}
.report-summary .control__indicator {
    top: 0px;
}
.control{
    font-size: 15px;
}
.expand-sec .list-inline > li {
    width: 28%;
}
