<div *ngIf="isRCPage">

  <section class="intake-nstyle record-intake">
    <div>
      <h3 class="">
        <span>RESTITUTION DETAILS</span>
      </h3>
      <div class="row form-wrapper">
        <div class="col-sm-12">
          <div class="row detailslabel">
            <div class="col-sm-2">
              <h5>Account ID</h5>
              <p>{{paymentSchedule?.restitutionnumber}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Case</h5>
              <p>{{paymentSchedule?.casenumber}}</p>
            </div>
            <div class="col-sm-2" *ngIf ="isDjs">
              <h5>Victim</h5>
              <p>{{paymentSchedule?.victim?.lastname}},{{paymentSchedule?.victim?.firstname}}</p>
            </div>
            <div class="col-sm-2" *ngIf ="!isDjs">
              <h5>Victim</h5>
              <p>{{paymentSchedule?.victim?.firstname}} {{paymentSchedule?.victim?.lastname}}</p>
            </div>
            <div class="col-sm-2" *ngIf ="isDjs">
              <h5>Liable Person</h5>
              <p>{{paymentSchedule?.liableperson?.lastname}},{{paymentSchedule?.liableperson?.firstname}}</p>
            </div>
            <div class="col-sm-2" *ngIf ="!isDjs">
              <h5>Liable Person</h5>
              <p>{{paymentSchedule?.liableperson?.firstname}} {{paymentSchedule?.liableperson?.lastname}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Restitution Amount</h5>
              <p>$ {{paymentSchedule?.amount}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Restitution Due Date</h5>
              <p>{{paymentSchedule?.duedate | date : 'MM/dd/yyyy'}}</p>
            </div>
          </div>
          <div class="row detailslabel">
            <div class="col-sm-2">
              <h5>Frequency</h5>
              <p style="text-transform: capitalize;">{{paymentSchedule?.frequency}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Installment Amount</h5>
              <p>$ {{paymentSchedule?.installmentamount | number:'1.2'}}</p>
            </div>
            <div class="col-sm-2">
              <h5>First Payment Date</h5>
              <p>{{paymentSchedule?.initialpaymentdate | date : 'MM/dd/yyyy'}}</p>
            </div>
            <div class="col-sm-2" *ngIf="isSourceCourt">
              <h5>Deferred By Court</h5>
              <p>{{paymentSchedule?.courtdeferredduedate ? 'Yes' : 'No'}}</p>
            </div>
            <div *ngIf="isSourceCourt && paymentSchedule?.courtdeferredduedate" class="col-sm-2">
              <h5>Deferred Due Date</h5>
              <p>{{paymentSchedule?.courtdeferredduedate | date : 'MM/dd/yyyy'}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Restitution Balance</h5>
              <p>$ {{paymentSchedule?.balance | number:'1.2'}}</p>
            </div>
            <div class="col-sm-2">
              <h5>Residential Placement</h5>
              <p>{{residentialExists ? 'Yes' : 'No'}}</p>
            </div>
          </div>
          <div class="row detailslabel">
            <div class="col-sm-2 pull-right">
              <button class="btn btn-pri" (click)="editPaymentSchedule(0)">Edit Schedule</button>
            </div>
            <div class="col-sm-2 pull-right" *ngIf="isccuEnable">
              <button class="btn btn-pri ccubutton" (click)="sendToCCU(0)">Send To CCU</button>
            </div>
            <div class="col-sm-2 pull-right" *ngIf="isCCUPage">
                <button class="btn btn-pri ccuapprovebutton" (click)="ApproveCCU(0)">Approve CCU</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div *ngIf="!isRCPage">
  <div class="row" *ngIf="cases.length > 0">
    <div class="col-sm-6 m-b-15 mt-15"><b>Youth in Residential Placement</b> - {{residentialExists ? 'Yes' : 'No'}}</div>
    <div class="col-sm-6 text-right m-b-15 mt-15">
      <button type="button" data-toggle="modal" data-target="#add" class="btn btn-pri" (click)="addPaymentSchedule()">Add</button>
    </div>
    <div class="col-sm-12 m-t-20">
      <div class="table-responsive table-theme">
        <table class="table table-striped editor-data">
          <thead>
            <tr>
              <th *ngIf="isCasePage">Restitution Number</th>
              <th>Victim Name</th>
              <th>Restitution Amount</th>
              <th>Due date</th>
              <th *ngIf="isCasePage">Deferred by Court</th>
              <th>Liable Person </th>
              <th>Document</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paymentSchedule of paymentSchedules; let index = index;">
              <td *ngIf="isCasePage">{{paymentSchedule?.restitutionnumber}}</td>
              <td *ngIf ="isDjs">{{paymentSchedule?.victim?.lastname}},{{paymentSchedule?.victim?.firstname}}</td>
              <td *ngIf ="!isDjs">{{paymentSchedule?.victim?.firstname}}&nbsp;{{paymentSchedule?.victim?.lastname}}</td>             
              <td>{{paymentSchedule?.amount}}</td>
              <td>{{paymentSchedule?.duedate | date : 'MM/dd/yyyy'}}</td>
              <td *ngIf="isCasePage">{{paymentSchedule?.courtdeferredduedate ? 'Yes' : 'No'}}</td>
              <td *ngIf ="isDjs" class="capitalize" >{{paymentSchedule?.liableperson?.lastname}},{{paymentSchedule?.liableperson?.firstname}}&nbsp;-&nbsp;<span
                    style="text-transform: capitalize;">{{paymentSchedule?.liableperson?.relationship}}</span></td>
              
              <td *ngIf ="!isDjs" class="captialize">{{paymentSchedule?.liableperson?.firstname}}&nbsp;{{paymentSchedule?.liableperson?.lastname}}&nbsp;-&nbsp;<span
                  style="text-transform: capitalize;">{{paymentSchedule?.liableperson?.relationship}}</span></td>
              <td>
                 <ul class="list-inline list-unstyled m-b-0">
                  <li><a (click)="downloadPaymentSchedule(paymentSchedule)"><i class="fa fa-download" aria-hidden="true"></i>
                      Payment Schedule</a></li>
                  <li *ngIf="isCasePage"><a (click)="downloadPaymentSlip(paymentSchedule)"><i class="fa fa-download"
                        aria-hidden="true"></i> Payment Slip</a></li>
                </ul>
              </td>
              <td>
                <ul class="list-inline list-unstyled m-b-0">
                  <li><a (click)="viewPaymentSchedule(index)"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                  <li><a (click)="editPaymentSchedule(index)"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                  <li><a (click)="deletePaymentSchedule(index)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="paymentSchedules.length === 0">
              <td colspan=6 style="text-align: center !important;">No Records Found.</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
          <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cases.length === 0">
    <div class="text-center">
      Payment Schedules can only be added for cases with Informal Adjustment and Restitution.
    </div>
  </div>
</div>
<div class="modal fade" id="add" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" [formGroup]="paymentScheduleForm">
      <div class="modal-header">
        <button type="button" class="close" id="cls-add-resource" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="clearItem()">X</span>
        </button>
        <h4 class="modal-title">{{actionText}} Payment Schedule</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select formControlName="case" placeholder="Select Case" (change)="caseChanged()" required>
                    <mat-option *ngFor="let case of cases" [value]="case">{{case.ServiceRequestNumber}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select formControlName="victim" placeholder="Select Victim" required>
                    <mat-option *ngFor="let victim of victims" [value]="victim">{{victim.firstname}}
                      &nbsp;{{victim.lastname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select formControlName="liableperson" style="text-transform: capitalize;" placeholder="Select Liable Person"
                    required>
                    <mat-option *ngFor="let liableperson of relations" [value]="liableperson">{{liableperson.firstname}}
                      &nbsp;{{liableperson.lastname}} - <span style="text-transform: capitalize;">{{liableperson.relationship}}</span></mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <span matPrefix>$&nbsp;</span>
                  <input type="number" formControlName="amount" (change)="amountDecimal(1)" matInput placeholder="Restitution Amount" min="0" max="10000"
                    required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" formControlName="duedate" [min]="minDate" placeholder="Due date of Full Restitution Amount"
                    (click)="picker.open()" (focus)="picker.open()" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select formControlName="frequency" placeholder="Select Frequency" required (change)="onFrequency($event.value)">
                    <mat-option *ngFor="let frequency of frequencyList" [value]="frequency.id">{{frequency.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <span matPrefix>$&nbsp;</span>
                  <input type="number" formControlName="installmentamount" (change)="amountDecimal(2)" matInput placeholder="Installment Amount"
                    min="0" max="10000" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" formControlName="initialpaymentdate" [min]="minDate"
                    placeholder="First Payment Date" (click)="picker1.open()" (focus)="picker1.open()" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" *ngIf="isCasePage || isSourceCourt">
                <mat-checkbox (change)="isDefferedDueDateChange()" formControlName="isdefferedbycourt">Deferred By
                  Court</mat-checkbox>
                <mat-form-field *ngIf="paymentScheduleForm.get('isdefferedbycourt').value">
                  <input matInput [matDatepicker]="defferedduedatepicker" formControlName="defferedduedate" placeholder="Due Date"
                    (click)="picker.open()" (focus)="defferedduedatepicker.open()" [min]="minDate" required>
                  <mat-datepicker-toggle matSuffix [for]="defferedduedatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #defferedduedatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-8">
                <mat-checkbox formControlName="isyouthinresdentialplacement">Youth in Residential Placement ?</mat-checkbox>
                <ng-container *ngIf="paymentScheduleForm.get('isyouthinresdentialplacement').value">
                  <div class="row m-b-5">
                    <div class="col-sm-6" style="font-weight: bold;">Placement Admission Location <span class="pull-right">:</span></div>
                    <div class="col-sm-6">{{placementDetails?.providername}}</div>
                  </div>
                  <div class="row m-b-5">
                    <div class="col-sm-6" style="font-weight: bold;"> Start Date <span class="pull-right">:</span></div>
                    <div class="col-sm-6">{{placementDetails?.addate}}</div>
                  </div>
                  <div class="row m-b-5">
                    <div class="col-sm-6" style="font-weight: bold;"> Projected Release Date <span class="pull-right">:</span></div>
                    <div class="col-sm-6">{{placementDetails?.projectedrelease}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-right m-t-20" *ngIf="!isView">
            <button class="btn btn-pri" (click)="savePaymentSchedule()" [disabled]="paymentScheduleForm.pristine || paymentScheduleForm.invalid">{{actionBtnText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-resource-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this Payment Schedule? </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteConfirmPaymentSchedule()"> Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet *ngIf="!isRCPage"></router-outlet>