<div class="row">
    <form [formGroup]="personEmployeeFormGroup">
      <div class="col-sm-4 employment-container">
        <div class="m-t-10">
          <div class="person-section-header">Employer Details</div>
          <mat-form-field>
            <input type="text" formControlName="employername" matInput placeholder="Name of Employer">
          </mat-form-field>
          <common-date-picker [min]="employmentStartDate" 
          [max]="setMaxDate('startdate')" formControlName="startdate" 
            placeholder="Start Date MM/DD/YYYY" ></common-date-picker>
          <!-- <mat-form-field>
            <input type="text" [min]="employmentStartDate" [max]="setMaxDate('startdate')" 
            matInput formControlName="startdate" [matDatepicker]="picker"
              placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <common-date-picker [min]="personEmployeeFormGroup.getRawValue().startdate"
          [max]="setMaxDate('enddate')" formControlName="enddate" 
            placeholder="End Date MM/DD/YYYY" ></common-date-picker>
          <!-- <mat-form-field>
            <input type="text" [min]="personEmployeeFormGroup.getRawValue().startdate" [max]="setMaxDate('enddate')" 
            matInput formControlName="enddate" [matDatepicker]="picker1" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field>
            <textarea matInput formControlName="reasonforleaving" placeholder="Reason for leaving"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4 employment-container">
        <div class="m-t-10">
          <div class="person-section-header">Employer Address</div>
          <mat-form-field> <input type="text" matInput placeholder="Address Line 1" formControlName="address1"
              [matAutocomplete]="auto" (input)="getSuggestedAddress()" />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                value="{{item.text}}">
                {{item.text}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Address Line 2" formControlName="address2" />
          </mat-form-field>
          <mat-form-field> <input type="text" matInput formControlName="cityname" placeholder="City" required />
          </mat-form-field>
          <div class="row m-t-20">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="State" formControlName="statetypekey" required>
                  <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)" value="{{item.ref_key}}"
                    (click)="loadCounty(item)">
                    {{ item.description }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select formControlName="countytypekey" placeholder="County">
                  <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.ref_key}}">
                    {{item.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
            <!-- <mat-form-field>
            <mat-select placeholder="State" formControlName="statetypekey" required>
              <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)" value="{{item.value}}">{{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field>
            <mat-select required formControlName="countytypekey" placeholder="County">
              <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.value}}">{{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field class="m-t-20">
            <input type="text" matInput placeholder="Zip Code" formControlName="zip5no" zipcodeOnly required
              maxlength="5" minlength="5" />
              <mat-error *ngIf="personEmployeeFormGroup.controls['zip5no'].invalid">Please enter valid zipcode.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4 employment-container">
        <div class="m-t-10">
          <div class="person-section-header">Contact</div>
        <phone-create-update [list]= "phoneNumberList" ></phone-create-update>
        <email-create-update [list]= "emailList" ></email-create-update>
        </div>
      </div>
      <div class="col-sm-8 m-t-30">
          <div class="col-md-12 person-section-header">Occupation</div>
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" matInput placeholder="Position / Title" formControlName="clienttitle" />
            <mat-error *ngIf="personEmployeeFormGroup.controls['clienttitle'].invalid">Please enter Alphabetic values.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
              <mat-form-field>
                <input type="text" matInput formControlName="duties" placeholder="Duties" >
                <mat-error *ngIf="personEmployeeFormGroup.controls['duties'].invalid">Please enter Alphabetic values.</mat-error>
              </mat-form-field>
        </div>
        <div class="col-sm-6 m-t-20">
          <mat-form-field>
            <mat-select placeholder="Pay Period"   formControlName="wagefreqtypekey">
            <mat-option *ngFor="let item of (payperiodDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                                 item.description }}</mat-option> 
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 m-t-20">
          <mat-form-field>
            <input type="text" matInput formControlName="noofhours" placeholder="Number of working hours per month"
               mask="00:00">
            <mat-error *ngIf="personEmployeeFormGroup.controls['noofhours'].invalid">Please enter valid hours.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 m-t-20">
          <mat-radio-group formControlName="emplymenttypekey">
            <mat-radio-button value=0>Part Time</mat-radio-button>
            <mat-radio-button value=1>Full Time</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" matInput formControlName="income" matInput placeholder="Income" />
            <mat-error *ngIf="personEmployeeFormGroup.controls['income'].invalid">Please enter Numeric Values.</mat-error>
         </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field>
            <input type="text" matInput formControlName="workschedule" matInput placeholder="Comments" />
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field>
            <input type="text" matInput formControlName="careergoals" matInput placeholder="Career Goals" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4 m-t-30">

        <div class="col-sm-12 person-section-header">Supervisor Details</div>
        <div class="col-lg-3 col-sm-4">
            <mat-form-field>
                <mat-select placeholder="Prefix"   formControlName="supervisorprefixtypekey">
                <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                                     item.description }}</mat-option> 
                </mat-select>
              </mat-form-field>
        </div>
  
        <div class="col-sm-8 col-lg-9">
          <mat-form-field>
            <input type="text" matInput formControlName="supervisorfirstname" matInput placeholder="First Name" />
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field>
            <input type="text" matInput formControlName="supervisormiddlename" matInput placeholder="Middle Name" />
          </mat-form-field>
        </div>
        <div class="col-sm-7">
          <mat-form-field>
            <input type="text" matInput formControlName="supervisorlastname" matInput placeholder="Last Name" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-3 col-sm-4">
            <mat-form-field>
                <mat-select placeholder="Suffix"  formControlName="supervisorsuffixtypekey">
                <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                                                      item.description }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 pt-20 pb-20">
        <button class="pull-right btn btn-pri"
          [disabled]="personEmployeeFormGroup.pristine || personEmployeeFormGroup.invalid || _personInfoService.getClosed()"
          (click)="addPersonEmployment()">{{employeeButton}}</button>
        <button class="pull-right btn-bg" (click)="cancelForm();">Cancel</button>
      </div>
    </form>
  </div>