<form [formGroup]="reportForm">
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="startdate" [max]="reportForm.get('enddate').value" [matDatepicker]="startdate" id="startdate" placeholder="Start Date"
          required>
        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
        <mat-datepicker #startdate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput formControlName="enddate" [min]="reportForm.get('startdate').value" [matDatepicker]="enddate" id="enddate" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
        <mat-datepicker #enddate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3 m-t-10">
      <mat-checkbox formControlName="tillcurrentdate" (change)="tillCurrentDate($event.checked)">Till Current Date
      </mat-checkbox>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-pri m-t-10" (click)="generateReport()" [disabled]="reportForm.invalid">Generate
        Report</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-pri m-t-10" (click)="resetReport()">Reset</button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-sm-9">
    <h4>CCU Cases</h4>
  </div>
  <div class="col-sm-3">
    <div class="dropdown" *ngIf="ccus?.length">
      <button class="btn btn-pri dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i>&nbsp;DOWNLOAD&nbsp;&nbsp;&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="downloadReport('pdf')"><i
              class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;PDF</a></li>
        <li><a class="dropdown-item" (click)="downloadReport('xlsx')"><i
              class="fa fa-file-excel-o"></i>&nbsp;&nbsp;&nbsp;EXCEL</a></li>
        <li><a class="dropdown-item" (click)="downloadReport('csv')"><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;CSV</a>
        </li>
      </ul>
    </div>
    <a download [href]="downloadURL" id="downloadReport"></a>
  </div>
  <div class="col-sm-12">
    <div class="bsm-table table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 10%;">Area Code</th>
            <th style="width: 80%;"># of cases</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ccu of ccus; let i = index;">
            <tr (click)="toggleTable('accordion-tables'+i)">
              <td><span style="padding-left: 25%">{{ccu.area}}</span></td>
              <td>
                {{ccu?.restitutions?.length}}
              </td>
            </tr>
            <tr id="accordion-tables{{i}}" class="collapse">
              <td class="accordion-table" colspan="2">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10%;">Case #</th>
                      <th style="width: 10%;">Amount</th>
                      <th style="width: 20%;">Offender name</th>
                      <th style="width: 10%;">Referral Date</th>
                      <th style="width: 15%;">Primary Debtor</th>
                      <th style="width: 15%;">Secondary Debtor</th>
                      <th style="width: 10%;">CCU Accepted Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of ccu?.restitutions">
                      <td style="width: 10%;">{{data?.casenumber}}</td>
                      <td style="width: 10%;">${{data?.amount}}</td>
                      <td style="width: 20%;">{{data?.offendername}}</td>
                      <td style="width: 10%;">{{data?.referraldate | date : 'MM/dd/yyyy'}}</td>
                      <td style="width: 15%;">{{data?.primarydebtor}}</td>
                      <td style="width: 15%;">{{data?.secondarydebtor}}</td>
                      <td style="width: 10%;">{{data?.ccuaccepteddate | date : 'MM/dd/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="ccus?.length === 0">
            <tr>
              <td colspan="8" style="text-align: center !important;">No records found.</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="text-center m-t-20" *ngIf="totalCount > 10">
        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
          (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
          [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>