<div class="modal fade on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false" id="add-task">

    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <div [formGroup]="activitiesForm" class="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fm-box dd-overflow-inherit">
                                <mat-form-field>
                                    <mat-select placeholder="Activity">
                                        <mat-option *ngFor="let item of programList" value="{{item.programtype}}">
                                            {{item.programtype}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>Suggested Activity</p>
                                <div class="form-group multiple-select modal-multi m-t-10">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftTasks">
                                                <!--  -->
                                                <td class="task" [ngClass]="{'selected': isTaskLeftSelected(item)}">
                                                    <!-- <label>
                                                        <input type="checkbox"
                                                            (change)="toggleTask('left', item, $event)">
                                                    </label> -->
                                                    <!-- <mat-checkbox (change)="toggleTask('left', item, $event)"></mat-checkbox> -->
                                                    <div class="tasks" (click)="toggleTask('left', item, $event)">{{item.task}}</div>
                                                </td>
                                                <!-- <td>{{item.task}}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="btn-group btn-group-re multi-slt-btn">
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="selectAllTask()">Add All &gt; &gt;</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="selectTask()">Add &gt;</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="unSelectTask()">&lt; Remove</button>
                                <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal"
                                    (click)="unSelectAllTask()"> &lt; &lt; Remove All</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>Selected Activity</p>
                                <div class="form-group multiple-select modal-multi m-t-10">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of rightTasks">
                                                <td class="task" [ngClass]="{'selected': isTaskRightSelected(item)}">
                                                    <!-- <label>
                                                        <input type="checkbox"
                                                            (change)="toggleTask('right', item, $event)">
                                                    </label> -->
                                                    <div class="tasks"  (click)="toggleTask('right', item, $event)">{{item.task}}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row m-t-20">
                        <div class="col-sm-12">
                            <div class="text-right">
                                <button type="button" value="Cancel" class="sec-btn"
                                    data-dismiss="modal">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" name=""
                                    (click)="activitySave()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade on-demand-activities" role="dialog" data-backdrop="static" data-keyboard="false"
    id="update-task">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Update Activity</h4>
            </div>
            <div class="modal-body modal-body-maxh">
                <div [formGroup]="taskForm" class="">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input required matInput [matDatepicker]="pickermm1" placeholder="Completion Date"
                                    class="aut-dtp-courtorderDate" (click)="pickermm1.open()"
                                    formControlName="completeddate" />
                                <mat-datepicker-toggle matSuffix [for]="pickermm1"></mat-datepicker-toggle>
                                <mat-datepicker #pickermm1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <div class="fm-box dd-overflow-inherit">
                                <mat-form-field>
                                    <mat-select placeholder="Status" formControlName="status">
                                        <mat-option *ngFor="let item of statusList" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field>
                                <input type="text" matInput formControlName="commnts" placeholder="Comment">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="sec-btn"
                                    data-dismiss="modal">Cancel</button>
                                <button *ngIf="taskForm.enabled" type="button" value="Save" class="btn-pri" name=""
                                    (click)="updateTaskStatus()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 m-t-20 m-b-20">
        <div class="text-right">
            <button class="btn-pri" data-toggle="modal" data-target="#add-task">Add Activity</button>
        </div>
        <div class="table-responsive table-theme m-t-20">
            <table class="table table-striped icon-action no-mar">
                <thead>
                    <tr>
                        <th>Activity Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let obj of taskList">
                        <td>{{obj.description}}</td>
                        <td>{{obj.status}}</td>
                        <td><button type="button" class="no-bg" (click)="edittask(obj,0)"><i class="fa fa-eye"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="no-bg" (click)="edittask(obj,1)"><i class="fa fa-pencil"
                                    aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>