<div class="tab-horizontal">
  <div class="row">
    <div class="col-md-12 m-t-20">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#child-record" data-toggle="tab" (click)="loadChildRecord()">CHILD RECORD</a>
        </li>
        <li class="">
          <a href="#board-member" data-toggle="tab" (click)="loadFosterParent()">Foster Parent</a>
        </li>
        <li class="">
          <a href="#staff-record" data-toggle="tab" (click)="loadStaffRecord()">STAFF RECORD</a>
        </li>
        <li class="">
          <a href="#site-record" data-toggle="tab" (click)="loadSiteRecord()">Physical Plant Inspection</a>
        </li>
        <li class="">
          <a href="#Office-record" data-toggle="tab" (click)="loadOfficeRecord()">Office Inspection</a>
        </li>
        <li class="">
          <a href="#Appartment-record" data-toggle="tab" (click)="loadAppartmentRecord('Apartment')">Apartment Inspection</a>
        </li>
        <li class="" *ngIf="isysb">
          <a href="#Others-record" data-toggle="tab" (click)="loadAppartmentRecord('Others')">Others</a>
        </li>

      </ul>
    </div>
    <div class="col-md-12">
      <div class="tab-content boxgrid">
        <div class="tab-pane active" id="child-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addChildRecord()" class="btn-pri" *ngIf="!isAddEdit">Add Child
                Record</button>
            </div>

          </div>
        </div>
        <div class="tab-pane" id="board-member">
          <div class="cnt-min-height">

            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addFosterParent()" class="btn-pri" *ngIf="!isAddEdit">Add Foster Parent</button>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="staff-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addStaff()" class="btn-pri" *ngIf="!isAddEdit">Add Staff Record</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="site-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addSite()" class="btn-pri" *ngIf="!isAddEdit">Add Site Record</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="Office-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addOffice()" class="btn-pri" *ngIf="!isAddEdit">Add Office Record</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="Appartment-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addAppartment('Appartment')" class="btn-pri" *ngIf="!isAddEdit">Add Apartment Record</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="Others-record">
          <div class="cnt-min-height">
            <div class="col-md-12 m-t-20 text-right">
              <button (click)="addAppartment('Others')" class="btn-pri" *ngIf="!isAddEdit">Add Other Record</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isAddEdit">
          <div class="col-md-12 m-t-20">
            <div class="table-responsive table-theme">
              <table class="table table-striped child-record">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>NAME</th>
                    <th>ANY NC</th>
                    <th>ANY PENDING</th>
                    <th>Updated DATE</th>
                    <th>Updated By</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>



                  <ng-container *ngIf="records.length;else elseTemplate">
                    <tr *ngFor="let item of records">
                      <td>
                        {{item.license_no}}
                        <p>{{item.program_type}}</p>
                      </td>
                      <td>
                        {{item.objectname}}
                      </td>
                      <td>
                        <ng-container *ngIf="item.any_nc; else noTemplate">
                          Yes
                        </ng-container>
                        <ng-template #noTemplate>
                          No
                        </ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="item.any_pending; else noTemplate">
                          Yes
                        </ng-container>
                      </td>
                      <td>
                        {{item.update_ts | date: 'MM/dd/yyyy HH:mm:ss a'}}
                      </td>
                      <td>
                        {{item.worker_name}}
                      </td>

                      <td>
                        {{item.status}}
                      </td>
                      <td>
                        <button type="button" class="no-bg" (click)="viewRecord(item)"><i class="fa fa-eye"
                            aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="editRecord(item)"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="deleteRecord(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <button type="button" class="no-bg" (click)="printRecord(item)">
                          <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        </td>
                    </tr>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <tr>
                      <td colspan="8">
                        No Records added
                      </td>
                    </tr>
                  </ng-template>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="record-container" *ngIf="isAddEdit">

  <div class="modal-header">

    <h4 class="modal-title"> {{actionTitle}} {{recordTitle}} Record </h4>
  </div>
  <div class="modal-body">
    <ng-container [formGroup]="childRecordForm">

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Select Program Site</mat-label>
            <mat-select formControlName="applicant_id" (change)="onSiteChange()" required>
              <ng-container *ngIf="!isinitial">
                <mat-option *ngFor="let item of siteList" [value]="item.applicant_id">{{item.license_no}} {{item.license_type}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="isinitial">
                <mat-option *ngFor="let item of siteList" [value]="item.applicant_id">{{item.applicant_id}} {{item.license_type}}
                </mat-option>
              </ng-container>
              
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <ng-container *ngIf="!['Child','Office','Appartment'].includes(recordTitle)  && recordTitle != 'Site'">
            <mat-form-field>
              <mat-label>Select {{recordTitle}}</mat-label>
              <mat-select required formControlName="objectid">
                <mat-option *ngFor="let item of persons" [value]="item.objectid"> {{item.firstname}} {{item.middlename}}
                  {{item.lastname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="recordTitle === 'Child' && !viewdetails">
            <button (click)="selectChild()" class="btn-pri pull-right m-t-20">Select Child</button>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="recordTitle === 'Child'">
        <div class="row">
          <div class="col-md-2">
            <p><span>Agency : </span><span> {{agencyName}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Program Name : </span><span> {{programName}}</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p><span>CJAMS ID : </span><span> {{selectedPerson?.cjamspid}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Name : </span><span> {{selectedPerson?.objectname}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>DOB : </span><span> {{selectedPerson?.dob| date:'MM/dd/yyyy'}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Gender : </span><span> {{selectedPerson?.gendertypekey}}</span></p>
          </div>
          <div class="col-md-2">
            <p><span>Date of Admission : </span><span> </span></p>
          </div>
          <div class="col-md-2">
            <p><span>Referring Agency / Funding Source : </span><span> </span></p>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-md-12 m-t-20">
         <!--  <div *ngIf="!insvectionvalid">No Inspection found for selected Site</div> -->
          <div class="table-responsive table-theme">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>COMAR</th>
                  <th>Compliance?</th>

                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <ng-container formArrayName="answers">
                  <ng-container *ngFor="let item of loadedQuestions; let i=index" [formGroupName]="i">
                    <tr>
                      <td>
                        <ng-container *ngIf="item.question_type === 'label'; else questionTeplate">
                          <h4>{{item.question}} </h4>
                        </ng-container>
                        <ng-container *ngIf="item.question_type !== 'label'">
                          <b>{{item.question}} </b> <span class="redc" *ngIf="item.question_mandatory">*</span>
                        </ng-container>


                        <p>{{item.question_hint}}</p>
                      </td>
                      <td>
                        <span [ngSwitch]="item.question_type">
                          <p *ngSwitchCase="'radio'">
                            <mat-radio-group formControlName="monitoring_record_value">
                              <mat-radio-button [value]="option" *ngFor="let option of item.question_options">{{option}}
                              </mat-radio-button>
                            </mat-radio-group>
                          </p>
                          <p *ngSwitchCase="'text'">
                            <mat-form-field>
                              <input type="text" matInput formControlName="monitoring_record_value"
                                [placeholder]="item.question" class="aut-txt-reporterAddress1">
                            </mat-form-field>
                          </p>
                          <p *ngSwitchCase="'label'">

                          </p>
                          <p *ngSwitchCase="'date'" class="date-picker">
                            <common-date-picker formControlName="monitoring_record_value" [placeholder]="item.question">
                            </common-date-picker>
                          </p>

                          <p *ngSwitchCase="'dropdown'">
                            <mat-form-field>
                              <mat-label>Select </mat-label>
                              <mat-select formControlName="monitoring_record_value" required>
                                <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </p>
                          <p *ngSwitchCase="'mdropdown'">
                            <mat-form-field>
                              <mat-label>Select </mat-label>
                              <mat-select multiple formControlName="monitoring_record_value" required>
                                <mat-option *ngFor="let  option of item.question_options" [value]="option">{{option}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </p>
                          <p *ngSwitchDefault>
                            No control found -- {{item.question_type}}
                          </p>
                        </span>
                      </td>
                      <td>
                        <ng-container *ngIf="item.question_type === 'radio'">
                          <common-date-picker [formControl]="childRecordForm.controls.answers.controls[i].controls['monitoring_record_dt']"  placeholder="Date"
                            [required]="true">
                          </common-date-picker>
                        </ng-container>


                      </td>
                    </tr>
                    <tr *ngIf="isNonCompliance(i)">
                      <td></td>
                      <td colspan="2">
                        <mat-form-field class="pad-rht20 ">
                          <mat-select formControlName="frequency_deficiency" required
                            placeholder="Frequency of Deficiency">
                            <mat-option *ngFor="let item of defciencyFrequency" [value]="item.value">{{item.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="pad-rht20 ">
                          <mat-select formControlName="impact_deficiency" required placeholder="Impact of Deficiency">
                            <mat-option *ngFor="let item of defciencyImpacts" [value]="item.value">{{item.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="pad-rht20 ">
                          <mat-select formControlName="scope_deficiency" required placeholder="Scope of Deficiency">
                            <mat-option *ngFor="let item of defciencyScopes" [value]="item.value">{{item.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <input formControlName="findings" type="findings" matInput placeholder="Findings">
                        </mat-form-field>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="loadedQuestions.length === 0">
                    <tr>
                      <td colspan="3">
                        Please Select the site to fill the records
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-3">
          <div class="text-left">
            <button class="btn-pri" *ngIf="loadedQuestions.length && !viewdetails" (click)="openNewRegualtion()" >Add New Regulation</button>
          </div>
      </div>
      <div class="col-sm-9">
          <div class="text-right">
            <button class="sec-btn" (click)="cancel()">Cancel</button>
            <ng-container *ngIf="loadedQuestions.length">
              <button class="btn-pri" (click)="saveRecord('Draft')" [disabled]="saveInProgress" *ngIf='!viewdetails'>Save As
                Draft</button>
              <button class="btn-pri" (click)="saveRecord('Complete')" [disabled]="saveInProgress"
                *ngIf='!viewdetails'>Complete</button>
            </ng-container>
          </div>
      </div>
    </div>

    
  </div>

</div>

<div class="modal fade " id="select-child" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="cancelselectPerson()">×</button>
        <h4 class="modal-title"> Select Child </h4>
      </div>
      <div class="modal-body">
        <div [formGroup]="childSearchForm">
          <div class="col-md-3">
            <mat-form-field>
              <input type="text" formControlName="cjamspid" matInput placeholder="cjams Id">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input type="text" formControlName="firstname" matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input type="text" formControlName="lastname" matInput placeholder="Last Name">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <!-- <mat-form-field>
                    <input type="text" formControlName="" matInput placeholder="Site Id">
                  </mat-form-field> -->
            <button (click)="getAssignedYouthList()" class="btn-pri pull-right">Search</button>
          </div>
        </div>
        <!-- <div class="col-md-12 m-t-20">
                <button (click)="getAssignedYouthList()" class="btn-pri pull-right">Search</button>
              </div> -->
        <div class="col-md-12 m-t-20">
          <div class="table-responsive table-theme">
            <table class="table table-striped icon-action no-mar">
              <thead>
                <tr>
                  <th></th>
                  <th>NAME</th>
                  <th>CJAMS ID</th>
                  <th>Gender</th>
                  <th>DOB</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="youthInProvider.length;else elseTemplate">
                  <tr *ngFor="let item of youthInProvider">
                    <td>
                      <mat-radio-group [name]="childradio" (change)="selectPerson(item,0)">
                        <mat-radio-button value="1"></mat-radio-button>
                      </mat-radio-group>
                    </td>
                    <td>{{item.firstname}} {{item.lastname}}</td>
                    <td>{{item.cjamspid}}</td>
                    <td>{{item.gendertypekey}}</td>
                    <td>{{item.dob | date:'MM/dd/yyyy' }}</td>
                  </tr>
                </ng-container>
                <ng-template #elseTemplate>
                  <tr>
                    <td colspan="8">
                      No Records added
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal" (click)="cancelselectPerson()">
          Cancel</button>
        <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal">Select</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this ? </p>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" value="No" class="sec-btn" name="" data-dismiss="modal"> No</button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="confirmDelete()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Regulation -->
<div class="modal fade " id="new-regualtion" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >×</button>
        <h4 class="modal-title"> New Regulations, Standards and / or Policies.</h4>
      </div>
      <div class="modal-body">
        <div [formGroup]="questionForm">
          <div class="col-md-12">
            <mat-form-field>
              <input type="text" formControlName="question" required matInput placeholder="Regulations Standards and / or Policy">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input type="text" formControlName="question_hint" matInput placeholder="Comar">
            </mat-form-field>
          </div>
         
        </div>
     
      </div>
      <div class="modal-footer">
        <button type="button" value="No" class="sec-btn" name="" data-dismiss="modal" >
          Cancel</button>
        <button type="button" value="Yes" class="btn-pri" name=""  (click)="addNewRegulation()">Save</button>
      </div>
    </div>
  </div>
</div>