<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <provider-checklist-search></provider-checklist-search>
        </div>
        <div class="col-md-10 m-t-30">
            <div class="row">
                <div class="col-md-12">
                  <div class="h4-title">Provider Checklist</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive table-theme mt-20">
                        <table class="table table-striped">
                          <thead> 
                            <tr>
                              <th>Provider ID</th>
                              <th>Provider Type</th>
                              <th>Payee/Provider Name</th>
                              <th>Tax ID</th>
                              <th>MAil Code</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="providerSearch">
                            <tr *ngFor="let provider of providerSearch">
                              <!-- <td><a data-toggle="modal" data-target="#provider-checklist">1234</a></td> -->
                              <td><a data-toggle="modal" data-target="#provider-checklist" (click)="providerDetails(provider)">{{provider.provider_id}}</a></td>
                              <td>{{provider.provider_type}}</td>
                               <td>{{provider.providername}}</td>
                               <td>{{provider.taxid}}</td>
                              <td>{{provider.mail_code_tx}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="provider-checklist">
    <div class="modal-dialog modal-lg">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"  data-dismiss="modal">×</button>
          <h4 class="modal-title">Provider Checklist</h4>
        </div>
        <div class="modal-body" [formGroup]="providerCheckDetailsForm">
          <div class="row">
            <div class="col-md-12">
              <h5 class="h5-title">The Provider is missing the following information.</h5>
              <div class="row m-t-10">
                <div class="col-md-6">
                  <label >Provider Name : </label>
                  <span>{{providername}}</span>
                </div>
                <div class="col-md-6">
                  <label >Provider ID : </label>
                  <span>{{providerid}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 m-t-20 display-bl">
                <mat-checkbox  formControlName="provider_category"><b style="color: red">*</b>Provider Category</mat-checkbox>
                <mat-checkbox  formControlName="tax_id_type"><b style="color: red">*</b>Tax ID Type (Missing or invalid as 'N/A-Affiliate Tax ID')</mat-checkbox>
                <mat-checkbox  formControlName="tax_id"><b style="color: red">*</b>SSN/Tax ID (Missing/Valid)</mat-checkbox>
                <mat-checkbox  formControlName="mail_code"><b style="color: red">*</b>Mail Code</mat-checkbox>
                <mat-checkbox  formControlName="indicator_1099"><b style="color: red">*</b>1099 Indicator</mat-checkbox>
            </div>
            <div class="col-md-12 m-t-20">
              <h5 class="h5-title">Location Address</h5>
              <div class="">
                  <h6 class=""><b style="color: red">*</b>Address Format</h6>
                  <mat-radio-group  formControlName="location_address"> 
                      <mat-radio-button  value="S">Street</mat-radio-button>
                      <mat-radio-button  value="R">Rural</mat-radio-button>
                      <mat-radio-button  value="P"></mat-radio-button>
                      <mat-radio-button  value="F">Foreign</mat-radio-button>
                  </mat-radio-group>
              </div>
              <div class="row display-bl  m-t-20">
                <div class="col-md-3">
                    <mat-checkbox formControlName="locn_street_route"><b style="color: red">*</b>Street # / Rural Route #</mat-checkbox>
                    <mat-checkbox formControlName="locn_city_nm"><b style="color: red">*</b>City</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox formControlName="locn_box_po_no"><b style="color: red">*</b>Box # / PO Box #</mat-checkbox>
                    <mat-checkbox formControlName="locn_state_cd"><b style="color: red">*</b>State</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox formControlName="locn_street_nm"><b style="color: red">*</b>Street Name</mat-checkbox>
                    <mat-checkbox formControlName="locn_zip5_no"><b style="color: red">*</b>Zip Code</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox formControlName="locn_unit_type"><b style="color: red">*</b>Unit Type / #</mat-checkbox>
                </div>
              </div>
              <div class="">
                <h6>Foreign</h6>
                <div class="row">
                  <div class="col-md-3"><mat-checkbox formControlName="foreign_address">Address</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox formControlName="foreign_state">State</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox  formControlName="foreign_country"> Country</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox  formControlName="foreign_postalcode">Postal Code</mat-checkbox></div>
                </div>
              </div>
              <mat-checkbox class="dp-block m-t-20" formControlName="send_payment_to"><b style="color: red">*</b>Send Payment To</mat-checkbox>
            </div>
            <div class="col-md-12 m-t-20">
              <h5 class="h5-title">Payment Address</h5>
              <div class="">
                  <h6 class=""><b style="color: red">*</b>Address Format</h6>
                  <mat-radio-group formControlName="payment_address">
                      <mat-radio-button value="S">Street</mat-radio-button>
                      <mat-radio-button value="R">Rural</mat-radio-button>
                      <mat-radio-button value="P">P.O.Box</mat-radio-button>
                      <mat-radio-button value="F">Foreign</mat-radio-button>
                  </mat-radio-group>
              </div>
              <div class="row display-bl m-t-20">
                <div class="col-md-3">
                    <mat-checkbox  formControlName="pay_foreign_streetroute"><b style="color: red">*</b>Street # / Rural Route #</mat-checkbox>
                    <mat-checkbox  formControlName="pay_foreign_city"><b style="color: red">*</b>City</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox  formControlName="pay_foreign_pbox"><b style="color: red">*</b>Box # / PO Box #</mat-checkbox>
                    <mat-checkbox  formControlName="pay_foreign_state"><b style="color: red">*</b>State</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox  formControlName="pay_foreign_streetname"><b style="color: red">*</b>Street Name</mat-checkbox>
                    <mat-checkbox  formControlName="pay_foreign_zip"><b style="color: red">*</b>Zip Code</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox  formControlName="pay_foreign_unit"><b style="color: red">*</b>Unit Type / #</mat-checkbox>
                </div>
              </div>
              <div class="">
                <h6>Foreign</h6>
                <div class="row">
                  <div class="col-md-3"><mat-checkbox  formControlName="payto_foreign_address">Address</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox  formControlName="payto_foreign_state">State</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox  formControlName="payto_foreign_country">Country</mat-checkbox></div>
                  <div class="col-md-3"><mat-checkbox  formControlName="payto_foreign_postal"> Postal Code</mat-checkbox></div>
                </div>
              </div>
              <mat-checkbox class="dp-block m-t-20"  formControlName="payto_localdept"><b style="color: red">*</b>Local Department</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <div class="row">
              <div class="col-md-12">
                <button type="button"  data-dismiss="modal"  class="btn-pri pull-right">Ok</button>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>