<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-letter-tab m-t-30">
          <ul class="nav nav-tabs" role="tablist">
            <li routerLinkActive="active">
              <a [routerLink]="['./funding-disbursement']">Funding Approval</a>
            </li>
  
            <li routerLinkActive="active">
              <a [routerLink]="['./payment-disbursement']">Payment Approval </a>
            </li>
          </ul>
          <div class="tab-content m-t-30">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-letter-tab m-t-30">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active" *ngIf="isFW">
                <a href="#fundingDisbursement" aria-controls="home" role="tab" data-toggle="tab" (click)="getFundingDisbursementApprove()">Disbursement Details</a>
              </li>
            <li class="active" *ngIf="isFS">
              <a href="#fundingDisbursement" aria-controls="home" role="tab" data-toggle="tab" (click)="getFundingDisbursementApprove()">Funding Disbursement</a>
            </li>
            <li *ngIf="isFS">
              <a href="#paymentDisbursement" aria-controls="details" role="tab" data-toggle="tab" (click)="getPaymentDisbursementApprove()">Payment Disbursement</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="fundingDisbursement">
                  <div class="status">
                      <mat-form-field>
                          <mat-label>Funding Status</mat-label>
                          <mat-select [(ngModel)]="fundDisStatus" (change)="statusFundingDropDown($event.value)">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                              {{status.text}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="table-responsive table-theme">
                      <table class="table table-striped fixed_header">
                        <thead>
                          <tr>
                            <th>Client ID</th>
                            <th>Client Name</th>
                            <th>Account No.</th>
                            <th>Account Type</th>
                            <!-- <th>Total Balance</th> -->
                            <th>Available Balance</th>
                            <th>Disbursement Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="fundingData">
                          <tr *ngFor="let fund of fundingData">
                            <td>{{fund.client_id}}</td>
                            <td>{{fund.client_name}}</td>
                            <td>{{fund.account_no_tx}}</td>
                            <td>{{fund.account_type_nm}}</td>
                            <!-- <td>{{(fund.total_balance_no ? fund.total_balance_no: '0.00') | cjamsCurrency}}</td> -->
                            <td>{{(fund.available_balance_no ? fund.available_balance_no: '0.00') | cjamsCurrency}}</td>
                            <td>{{(fund.disb_amount ? fund.disb_amount: '0.00') | cjamsCurrency}}</td>
                            <td>{{fund.remarks}}</td>
                            <td>
                              <button class="open-link no-bg" type="button" matTooltip="Open For Approval" (click)="reDirectToFundingDisbursement(fund)"><i class="open-link fa fa-external-link"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="text-center m-t-10" *ngIf="totalpagecount > 10">
                      <pagination [totalItems]="totalpagecount" [(ngModel)]="pageInfo.pageNumber"
                          (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                          [maxSize]="10">
                      </pagination>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="paymentDisbursement">
                    <div class="row">
                          <div class="status">
                              <mat-form-field>
                                  <mat-label>Payment Status</mat-label>
                                  <mat-select [(ngModel)]="paymentDisStatus" (change)="statusPaymentDropDown($event.value)">
                                    <mat-option>Select</mat-option>
                                    <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                                      {{status.text}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                          </div>
                        <div class="col-md-12">
                            <div class="table-responsive table-theme">
                                <table class="table table-striped fixed_header">
                                  <thead>
                                    <tr>
                                      <th>Client ID</th>
                                      <th>Client Name</th>
                                      <th>Account No.</th>
                                      <th>Account Type</th>
                                      <!-- <th>Total Balance</th> -->
                                      <th>Available Balance</th>
                                      <th>Disbursement Amount</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngIf="paymentData">
                                    <tr *ngFor="let payment of paymentData">
                                      <td>{{payment.client_id}}</td>
                                      <td>{{payment.client_name}}</td>
                                      <td>{{payment.account_no_tx}}</td>
                                      <td>{{payment.account_type_nm}}</td>
                                      <!-- <td>{{(payment.total_balance_no ? payment.total_balance_no :"0.00") | cjamsCurrency}}</td> -->
                                      <td>{{(payment.available_balance_no ? payment.available_balance_no:"0.00") | cjamsCurrency}}</td>
                                      <td>{{(payment.disb_amount ? payment.disb_amount:"0.00") | cjamsCurrency}}</td>
                                      <td>{{payment.remarks}}</td>
                                      <td>
                                        <button class="open-link no-bg" type="button" matTooltip="Open For Approval" (click)="reDirectToDisbursement(payment)"><i class="open-link fa fa-external-link"></i></button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="text-center m-t-10" *ngIf="totalcount > 10">
                                <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                                    (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                    [maxSize]="10">
                                </pagination>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
  </div>