.modal-iframe .modal-lg {
    width: 96%;
}
.modal-iframe .modal-content {
    min-height: 580px;
}
.modal-iframe iframe {
    width: 100%;
    height: 84vh;
}
.icon-btn a .fa-angle-down,
.icon-btn a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}

td a .fa-angle-down,
td a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}
.show {
    display: table-row !important;
}

td.icon-btn {
    width: 80px;
}
.m-t-30 {
    margin-top: 30px;
}
.btn-bg {
    background: #00A2FD;
    border: 1px solid #00A2FD;
    color: #fff;
}
.modal-iframe iframe {
    width: 100%;
    height: 84vh;
}
.modal-iframe .modal-lg {
    width: 96%;
}
.modal-iframe .modal-lg .modal-body {
    width: 96%;
    min-height: 95%;
}
.icon-btn a {
    vertical-align: middle;
}
.icon-btn a .fa-angle-down,
.icon-btn a .fa-angle-up {
    font-size: 27px;
    line-height: 13px;
}

td a .fa-angle-down,
td a .fa-angle-up {
    font-size: 27px;
    line-height: 13px;
}
.show {
    display: table-row !important;
}

td.icon-btn {
    width: 80px;
}

.flatpickr-calendar.open {
    z-index: 10000;
}
.icon-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.fa-size {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
