<div class="panel-body">
    <button [disabled] = "disabled" (click)="loadPersonDisabilityHistory()" class="btn btn-pri pull-right">Get History</button>
  <div class="row">
    <div class="col-md-12 border-btm ">
      <!--     
                <div class="col-md-12 check-block">
                  <mat-checkbox formControlName="disabilityflag">Permanently Disabled
                  </mat-checkbox>
                </div> -->
      <div class="row pb-20">
        <div class="col-md-5">
          Does the person have disabilities?
        </div>

        <div class="col-md-4">
          <mat-radio-group [disabled] = "disabled" [(ngModel)]="hasDisability" (change)="onDisabiltyChange($event.value)">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div  class="col-md-12 check-block">
        <p class="helper-text">Please answer all the questions below.</p>
        <br>
        <ng-container *ngFor="let item of disabilityTypes">
          <div class="row pb-10">
            <div class="col-md-5">
              {{item.description}} <span class="red">*</span>
            </div>
            <div class="col-md-7">
              <mat-radio-group  [disabled] = "disabled" [(ngModel)]="item.conditionType">
                <ng-container class="row" *ngFor="let type of disabilityConditions">
                  <mat-radio-button name="conditionType" (click)="disabled ? '' : addDisability(item, type.value_text)"
                    [value]="type.value_text">{{type.description}} </mat-radio-button>

                </ng-container>
              </mat-radio-group>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 border-btm " >
      <button class="btn-pri pull-right" [disabled]="isSaveQueueInprogress || disabled" (click)="submitDisability()">Save</button>
      <button class="btn-pri pull-right" (click)="resetDisabilityForm()">Cancel</button>
    </div>
  </div>
  <div class="clearfix pt-10">
    <ng-container *ngIf="hasDisability">      
        <h4 class="h4-title col">Disability</h4>
        <div class="row">
          <ng-container *ngFor="let disability of personDisabilities">
            <div class="col-sm-4 m-b-10" *ngIf="disability.disabilityconditiontypekey === 'Yes'">
              <div class="border-1">
                <div class="card-body">
                <p>
                  <span class="p-label">Disability Type </span><br>
                  <span class="p-description">{{disability.disablitydescription}}</span>
                </p>
                <p>
                  <span class="p-label">Permanently disabled </span><br>
                  <span class="p-description">
                    <ng-container *ngIf="disability.disabilityflag; else elseTemplate">
                      Yes
                    </ng-container>
                    <ng-template #elseTemplate>
                      No
                    </ng-template>
                  </span>
                </p>
                <p>
                  <span class="p-label">Disability Condition </span><br>
                  <span class="p-description">{{disability.disabilityconditiontypekey}}</span>
                </p>
                <p>
                  <span class="p-label">Start/Diagnosis Date</span><br>
                  <span class="p-description">{{disability.startdate | date : 'MM/dd/yyyy'}} </span>
                </p>
                <p>
                  <span class="p-label">End/Resolution Date</span><br>
                  <span class="p-description">{{disability.enddate | date : 'MM/dd/yyyy'}}</span>
                </p>
                <p>
                  <span class="p-label">Evaluation Date</span><br>
                  <span class="p-description">{{disability.evaluationdate | date : 'MM/dd/yyyy'}}</span>
                </p>
                <p>
                  <span class="p-label">Evaluator/Clinician Name</span><br>
                  <span class="p-description">{{disability.evaluatorname}}</span>
                </p>
                <p *ngIf="disability.hygienekey">
                  <span class="p-label">Personal Hygiene</span><br>
                  <span class="p-description">{{disability.hygienekey}}</span>
                </p>
                <p *ngIf="disability.specialkey">
                  <span class="p-label">Special Needs</span><br>
                  <span class="p-description">{{disability.specialkey}}</span>
                </p>
                <p *ngIf="disability.comments">
                  <span class="p-label">Comments</span><br>
                  <span class="p-description">{{disability.comments}}</span>
                </p>
                </div>
                <div class="border-top-1 clearfix p-10">
                    <button [disabled] = "disabled" class="no-bg-btn pull-right" matTooltip="Add" (click)="add(disability)"><i
                      class="fa fa-plus"></i>Add</button>
                  <button [disabled] = "disabled" class="no-bg-btn pull-right" matTooltip="Edit" (click)="edit(disability)"><i
                      class="fa fa-pencil"></i>Edit</button>
                  <button [disabled] = "disabled" class="no-bg-btn pull-right" data-toggle="modal" matTooltip="Delete"
                    data-target="#delete-disability-popup" (click)="deleteConfirm(disability)"><i
                      class="fa fa-trash"></i>Delete</button>
                </div>
              </div>
          </div>
          </ng-container>
        </div>      
    </ng-container>
  </div>
  <!-- <div *ngIf="hasDisability" class="row">
    <div class="table-responsive table-theme mt-20">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Permanently Disabled</th>
            <th>Disability Type</th>
            <th>Disability Condition </th>
            <th>Start/Diagnosis Date</th>
            <th>End/Resolution Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="personDisabilities.length; else elseTemplate">
            <tr *ngFor="let disability of personDisabilities">
              <td>
                <ng-container *ngIf="disability.disabilityflag; else elseTemplate">
                  Yes
                </ng-container>
                <ng-template #elseTemplate>
                  No
                </ng-template>
              </td>
              <td>{{disability.disablitydescription}}</td>
              <td>{{disability.disabilityconditiontypekey}}</td>
              <td>{{disability.startdate | date : 'MM/dd/yyyy'}} </td>
              <td>{{disability.enddate | date : 'MM/dd/yyyy'}} </td>
              <td> <a data-toggle="modal" matTooltip="Delete" data-target="#delete-disability-popup"
                  (click)="deleteDisability(disability)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a></td>
            </tr>
          </ng-container>
          <ng-template #elseTemplate>
            <tr>
              <td colspan="6">No records found</td>
            </tr>
          </ng-template>


        </tbody>
      </table>
    </div>
  </div> -->

</div>

<div class="modal fade" id="add-disability" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeDisabilityModal()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title"> Disability </h4>
      </div>
      <div class="modal-body modal-pad">
        <form [formGroup]="personDisabilityForm">
          <div class="col-md-12 check-block">
            <mat-checkbox formControlName="disabilityflag">Permanently Disabled
            </mat-checkbox>
          </div>
          <div class="pt-20">
            <div class="col-md-12 mb-20 border-btm ">
              <div class="col-md-12">
                <mat-form-field>
                  <input type="text" formControlName="diagnoiseddisabilitynotes" matInput
                    placeholder="Diagnosed Disability" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <mat-checkbox formControlName="startdateunknown"
                (change)="unkDateChange($event);isstartdatereq=$event.checked;">Start Date Unknown
              </mat-checkbox>
            </div>
            <div class="col-md-12">
              <div class="col-md-6 pt-20">

                <common-date-picker formControlName="startdate" 
                [max]="personDisabilityForm.controls['enddate'].value"
                [required]="(
                  personDisabilityForm.get('startdateunknown').value ? 
                    (personDisabilityForm.get('startdateunknown').value === false) ? true : false
                    :
                    true
                  )"
                [disabled]="(
                  personDisabilityForm.get('startdateunknown').value ? 
                    (personDisabilityForm.get('startdateunknown').value === true) ? true : false
                    :
                    false
                  )"
                  placeholder="Start/Diagnosis Date">
                </common-date-picker>

              </div>
              <div class="col-md-6 pt-20">
                <common-date-picker [min]="personDisabilityForm.controls['startdate'].value" formControlName="enddate" placeholder="End/Resolution Date">
                </common-date-picker>

              </div>


            </div>


            <div class="col-md-12">
              <div class="col-md-6">
                <common-date-picker formControlName="evaluationdate" placeholder="Evaluation Date">
                </common-date-picker>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input type="text" formControlName="evaluatorname" matInput placeholder="Evaluator/Clinician Name" />

                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-select placeholder="Personal Hygiene" formControlName="hygienekey" multiple
                    class="aut-lst-addNotesInvolvedPerson">
                    <mat-option *ngFor="let item of personalHygieneList" value="{{item.value_tx}}">
                      {{item.description_tx}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-select placeholder="Special Needs" formControlName="specialkey" multiple
                    class="aut-lst-addNotesInvolvedPerson">
                    <mat-option *ngFor="let item of specialNeeds" value="{{item.value_tx}}">{{item.description_tx}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <mat-form-field>
                  <textarea matInput name="comments" formControlName="comments" rows="5"
                    placeholder="Comments"></textarea>
                </mat-form-field>
              </div>
            </div>



          </div>
        </form>
        <div class="clearfix"></div>
        <button [disabled] = "disabled" class="btn-pri pull-right" (click)="saveDisability(); isstartdatereq=false" *ngIf="!isEditMode"> Add </button>
        <button [disabled] = "disabled" class="btn-pri pull-right" (click)="updateDisability(); isstartdatereq=false" *ngIf="isEditMode"> Update </button>
        <button class="btn-pri pull-right" (click)="reset(); isstartdatereq=false"> Cancel </button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="remove-disability" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="resetDisabilityPopup()" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title"> Remove Disability </h4>
      </div>
      <div class="modal-body modal-pad">
        This action will reset all individual disabilities marked as 'Yes' to 'No' . Are you sure you want to proceed?
        <div class="clearfix"></div>
        <button class="btn-pri pull-right" (click)="removeAllDisability()"> Yes </button>
        <button class="btn-pri pull-right" (click)="resetDisabilityPopup()"> Cancel </button>

      </div>
    </div>
  </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this ? </p>

        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" (click)="resetForm()" data-dismiss="modal"> No</button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="delete()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="reset-confirm" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Save </h4>
      </div>
      <div class="modal-body">
        <!-- <p> Since no disability has been chosen, the system will set 'Disabilities' to 'No' for this child. Are you sure
          you want to proceed? </p> -->
        <p>
            You have made changes to disability information. Are you sure you want to proceed?
        </p>

        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" (click)="resetDisability(false)" data-dismiss="modal">
            Yes</button>
          <button type="button" value="Yes" class="btn-pri" (click)="resetDisabilityForm()" name="" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="disability-history" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title"> Disability History </h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive table-theme mt-20">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Disability recorded</th>
                  <th>Disability Status [Yes/No/Unknown]</th>
                  <th>Disability Start Date</th>
                  <th>Disability End Date</th>
                  <th>Updated date</th>
                  <th>Updated By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of disabilityhistory">
                  <td>{{item?.disablitydescription}}</td>
                  <td>{{item?.disabilityconditiontypekey}}</td>
                  <td>{{item?.startdate | date:'MM/dd/yyyy'}}</td>
                  <td>{{item?.enddate | date:'MM/dd/yyyy'}}</td>
                  <td>{{item?.insertedon | date:'MM/dd/yyyy'}}</td>
                  <td>{{item?.submittedby}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right big-bot-space right-mspace-15">
            <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>