
    <div class="col-sm-12 m-t-20">
        <mat-checkbox class="person-section-header" [(ngModel)]="hasAlias">Also Known As (AKA) </mat-checkbox>
    </div> 

<div *ngIf="hasAlias">
<div class="col-lg-3 col-sm-12">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-12">
            <mat-form-field>
              <mat-select placeholder="AKA Type" [(ngModel)]="alias.akatypetypekey" required>
                <mat-option *ngFor="let item of (akaDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                                                        item.description }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-12">
          <div class="row m-t-10">
            <div class="col-md-3 col-sm-8">
              <mat-form-field>
                <mat-select placeholder="Prefix"  [(ngModel)]="alias.prefixtypekey"
                >
                  <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                                                          item.description }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-9">
              <mat-form-field>
                <input type="text" matInput  placeholder="First Name" [(ngModel)]="alias.firstname" required/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-12">
          <mat-form-field>
            <input type="text" matInput  placeholder="Middle Name" [(ngModel)]="alias.middlename"
              />
          </mat-form-field>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-12">
          <div class="row">
            <div class="col-sm-9">
              <mat-form-field> <input type="text" matInput placeholder="Last Name" [(ngModel)]="alias.lastname"
                  />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-select placeholder="Suffix" [(ngModel)]="alias.sfxname"
                  >
                  <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">{{
                                                                                item.description }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-sm-12 text-right">
          <div class="add-alias m-t-10">
            
              <button class="btn btn-pri" (click)='addAlias(actionText)'>{{actionText}}
                </button>
          </div> 
        </div>
    </div>
</div>
<div class="col-lg-9 col-sm-12">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of aliasList;let index =index;">
        <mat-card class="relation-profile">
            <mat-card-header>
              
              <mat-card-title *ngIf="item?.akatypetypekey?.toLowerCase()==='an'"> Alias Name</mat-card-title>
              <mat-card-title *ngIf="item?.akatypetypekey?.toLowerCase()==='cn'"> Common Name</mat-card-title>
              <mat-card-title *ngIf="item?.akatypetypekey?.toLowerCase()==='mn'"> Maiden Name</mat-card-title>
              <mat-card-title *ngIf="item?.akatypetypekey?.toLowerCase()==='nn'"> Nick Name</mat-card-title>
              <mat-card-subtitle>
              </mat-card-subtitle>
              <mat-card-subtitle> {{item?.prefixtypekey}} &nbsp; {{item?.firstname}} &nbsp; {{item?.middlename}} &nbsp; {{item?.lastname}} &nbsp; {{item?.sfxname}}</mat-card-subtitle>
            </mat-card-header>
          
            <mat-card-actions >
             
              <ul class="list-inline listunstyled text-right icon-list">
                <li (click)="editAlias(item, index)"><i class="fa fa-pencil" matTooltip="Edit" aria-hidden="true"></i></li>
                <li (click)="confirmDelete(index)" matTooltip="Delete" ><i
                    class="fa fa-trash" aria-hidden="true"></i></li>
              </ul>
            </mat-card-actions>
          </mat-card>
      <!-- <div class="alias-name-wrapper">
         <div class="row">
           <div class="col-sm-12">
              AKA Type {{item.akatypetypekey}}
           </div> 
           <div class="col-sm-12">
              
           </div> 
          
           <div class="col-sm-12">
              <div class="col-sm-offset-6 col-sm-3"><a (click)="editAlias(item)"><i class="fa fa-edit"></i></a></div>
              <div class="col-sm-3"><a (click)="deleteAlias(index)"><i class="fa fa-trash"></i></a></div>
            </div>

         </div>  
      </div> -->
      <div class="modal fade custom-modal" id="delete-popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()">No</button>
                        <button type="button" value="Yes" class="btn-pri" name="" (click)="approvedDelete(index)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
       
    </div>
  </div>
</div>

</div>