.alias-name-wrapper {
    border: 1px solid #D8D8D8;
}
.icon-list {
    margin-bottom: 0;
}
.icon-list li {
    border: none !important;
    padding: 0 5px !important;
    cursor: pointer;
}

.relation-profile {
    height: 110px;
}

.relation-profile .mat-card-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.relation-profile.mat-card {
    padding: 10px;
    margin-top: 15px;
}

.relation-profile .mat-card-header-text {
    margin: 8px 8px;
}

.relation-profile .mat-card-title {
    font-weight: 600;
    color: #333;
    font-size: 15px;
    margin-bottom: 5px;
}

.relation-profile.mat-card .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: 0;
}

.relation-profile .mat-card-subtitle {
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
}