<div class="modal fade in" id="add-edit-allegation-mapping" role="dialog" data-backdrop="static" data-keyboard="false" style="display: block;">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content customize-modal" [formGroup]="addEditAllegationMappingForm">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeItem()" data-dismiss="modal">×</button>
        <h4 class="modal-title">{{titleHead}} Allegation Activity Mapping</h4>
      </div>
      <div class="modal-body dd-overflow-inherit">
        <div class="row">
          <div class="col-sm-6">
            <div class="fm-box">
              <label class="required">Name:</label>
              <div class="fm-box-form ">
                <input type="text" formControlName="name" class="form-control fm-style" placeholder="">
                <control-messages [control]="addEditAllegationMappingForm.controls['name']"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Mapping Category:</label>
              <div class="fm-box-form ">
                <ng-select formControlName="amactivityid" [searchable]="true" [clearable]="false">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let item of activityCategoryDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}
                  </ng-option>
                </ng-select>
                <control-messages [control]="addEditAllegationMappingForm.controls['amactivityid']"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label  class="required">Allegation:</label>
              <div class="fm-box-form ">
                <ng-select formControlName="objectid" [searchable]="true" [clearable]="false">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let item of allegationDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}
                  </ng-option>
                </ng-select>
                <control-messages [control]="addEditAllegationMappingForm.controls['objectid']"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="">On Demand Mapping:</label>
              <div class="">
                <label class="control control--checkbox">
                  <input type="checkbox" formControlName="ondemand">
                  <div class="control__indicator"></div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="fm-box">
              <label>Work Load Weight:</label>
              <div class="fm-box-form fm-narrate ">
                <input type="text" formControlName="workload" class="form-control fm-style" placeholder="">
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Description:</label>
              <div class="fm-box-form fm-narrate ">
                <textarea class="form-control fm-style " formControlName="description" placeholder="Start writing from here.."></textarea>
                <control-messages [control]="addEditAllegationMappingForm.controls['description']"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Help Text:</label>
              <div class="fm-box-form fm-narrate">
                <textarea class="form-control fm-style" formControlName="helptext" placeholder="Start writing from here.."></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mrg-top0">
            <ul class="nav nav-tabs mapping-nav" role="tablist">
              <li role="presentation" class="active">
                <a href="#activity-goals" aria-controls="activity-goals" role="tab" data-toggle="tab" aria-expanded="true">Allegation Goals</a>
              </li>
              <li role="presentation" class="">
                <a href="#activity-tasks" aria-controls="activity-tasks" role="tab" data-toggle="tab" aria-expanded="false">Allegation Tasks</a>
              </li>
            </ul>
            <div class="tab-content mrg-top25">
              <div role="tabpanel" class="tab-pane active" id="activity-goals">
                <div [formGroup]="addEditAllegationMappingGoalTypeForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="fm-box">
                        <label>Mapping Category:</label>
                        <div class="fm-box-form">
                          <ng-select formControlName="goalType" (change)="changeGoal($event)" class="table-form-control" [searchable]="true" [clearable]="false">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let item of goalDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                          </ng-select>
                          <!-- <control-messages [control]="addEditDSDSActionMappingGoalTypeForm.controls['goalType']"></control-messages> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button type="submit" class="btn-pri" (click)="addGoal(addEditAllegationMappingGoalTypeForm.controls['goalType'].value)"
                        [disabled]="addEditAllegationMappingGoalTypeForm.pristine || addEditAllegationMappingGoalTypeForm.invalid">Add</button>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-letter-tab form-align" style="margin-top: 0">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="25%">Description</th>
                          <th width="25%">Allegation Goal</th>
                          <th width="15%">Priority</th>
                          <th width="5%">Required</th>
                          <th width="5%">Due Date Offset (days)</th>
                          <th width="25%">Help Text</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="ammappinggoal">
                        <tr [formGroup]="goal" *ngFor="let goal of addEditAllegationMappingForm.controls['ammappinggoal']['controls']; let i=index">
                          <td>
                            <span>{{ goal.get('description').value }}</span>
                          </td>
                          <td>
                            <ng-select formControlName="activitygoaltypekey" class="table-form-control" [searchable]="true" [clearable]="false">
                              <ng-option value="">Select</ng-option>
                              <ng-option *ngFor="let item of goalTypeDropdownItems | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                            </ng-select>
                            <control-messages [control]="goal.controls['activitygoaltypekey']"></control-messages>
                          </td>
                          <td>
                            <select formControlName="activityprioritytypekey" class="table-form-control form-control select-full-width">
                              <option value="">Select</option>
                              <option *ngFor="let item of priorityTypeDropdownItems" [value]="item.value">{{item.text}}</option>
                            </select>
                            <control-messages [control]="goal.controls['activityprioritytypekey']"></control-messages>
                          </td>
                          <td>
                            <label class="control control--checkbox">
                              <input type="checkbox" formControlName="required">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>
                            <input type="text" formControlName="duedateoffset" class="form-control fm-style" style="width:100px" placeholder="">
                          </td>
                          <td>
                            <textarea class="form-control fm-style " formControlName="helptext"></textarea>
                          </td>
                          <td>
                            <ul class="list-unstyled list-inline pull-right">
                              <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                <a (click)="removeGoal(i)">
                                  <img src="assets/images/form-letter/delete-icon.png">
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="activity-tasks">
                <div [formGroup]="addEditAllegationMappingTaskTypeForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="fm-box">
                        <label>Mapping Category:</label>
                        <div class="fm-box-form ">
                          <ng-select formControlName="taskType" (change)="changeTask($event)" class="table-form-control " [searchable]="true" [clearable]="false">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let item of taskDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                          </ng-select>
                          <!-- <control-messages [control]="addEditDSDSActionMappingTaskTypeForm.controls['taskType']"></control-messages> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button type="submit" class="btn-pri" (click)="addTask(addEditAllegationMappingTaskTypeForm.controls['taskType'].value)"
                        [disabled]="addEditAllegationMappingTaskTypeForm.pristine || addEditAllegationMappingTaskTypeForm.invalid">Add</button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-letter-tab form-align" style="margin-top: 0">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="25%">Description</th>
                          <th width="25%">Allegation Task Type</th>
                          <th width="15%">Priority</th>
                          <th width="5%">Required</th>
                          <th width="5%">Due Date Offset (days)</th>
                          <th width="25%">Help Text</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="ammappingtask">
                        <tr [formGroup]="task" *ngFor="let task of addEditAllegationMappingForm.controls['ammappingtask']['controls']; let i=index">
                          <td>
                            <span>{{ task.get('description').value }}</span>
                          </td>
                          <td>
                            <ng-select formControlName="activitytasktypekey" class="table-form-control " [searchable]="true" [clearable]="false">
                              <ng-option value="">Select</ng-option>
                              <ng-option *ngFor="let item of taskTypeDropdownItems | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                            </ng-select>
                            <control-messages [control]="task.controls['activitytasktypekey']"></control-messages>
                          </td>
                          <td>
                            <select formControlName="activityprioritytypekey" class="table-form-control form-control select-full-width">
                              <option value="">Select</option>
                              <option *ngFor="let item of priorityTypeDropdownItems" [value]="item.value">{{item.text}}</option>
                            </select>
                            <control-messages [control]="task.controls['activityprioritytypekey']"></control-messages>
                          </td>
                          <td>
                            <label class="control control--checkbox">
                              <input type="checkbox" formControlName="required">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>
                            <input type="text" formControlName="duedateoffset" class="form-control fm-style" style="width:100px" placeholder="">
                          </td>
                          <td>
                            <textarea class="form-control fm-style " formControlName="helptext"></textarea>
                          </td>
                          <td>
                            <ul class="list-unstyled list-inline pull-right">
                              <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                <a (click)="removeTask(i)">
                                  <img src="assets/images/form-letter/delete-icon.png">
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mrg-top25">
          <div class="pull-right">
            <button type="button" value="Cancel" class="btn-bg" name="" (click)="closeItem()">Cancel</button>
            <button type="button" value="Save" class="btn-pri" (click)="saveMapping()" [disabled]="addEditAllegationMappingForm.pristine || addEditAllegationMappingForm.invalid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>