<div class="cnt-min-height">
        <div class="row">
          <div class="col-sm-6">
              <form [formGroup]="caseCreationFormGroup">
                  <div class="row">
                      <div class="col-sm-12">
                          <h4>Service Type and Sub Type</h4>
                          <p> Select Service Type and Sub Type to create new case</p>
                      </div>
                  </div>
  
                  <div class="row pad-top20">
                      <div class="col-sm-4">
                          <mat-form-field>
                              <mat-select placeholder="Service Type" formControlName="serviceType" (change)="loadSubServiceTypes($event)">
                                  <mat-option *ngFor="let item of serviceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                              </mat-select>
                          </mat-form-field>
  
                      </div>
                      <div class="col-sm-4">
                          <mat-form-field>
                              <mat-select placeholder="Sub Type " formControlName="subServiceType">
                                  <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                              </mat-select>
                          </mat-form-field>
  
                      </div>
                      <div class="col-sm-4">
                          <button class="btn-pri m-t-10 " (click)="addCase()" type="submit" [disabled]="roleId.role.name === 'apcs'">Add</button>
                      </div>
  
                  </div>
              </form>
          </div>
      </div>
  
  
      <!-- ADULT SCREEN TOOL - APS INVESTIGATION - START-->

      <section class="mrg-top25" *ngIf="createdCases?.length>0">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="site-color">Created Cases </h4>
            </div>
            <div class="col-sm-4 text-right">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="created-cases mrg-top25" *ngFor="let case of createdCases;let caseIndex = index">
                    <div class="casestop-sec">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <b>CASE NUMBER
                                    <br/> {{case.caseID}} </b>
                            </li>
                            <li> <b>SERVICE TYPE
                                <br/>{{case.serviceTypeValue}}</b> </li>
                            <li> <b>SUB TYPES
                                <br/> <select class="case-subtype" [disabled]=true>
                                    <option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}"
                                    [selected]="case.subServiceTypeID === item.value"
                                    >{{item.text}}</option>
                                </select></b></li>
                                <li *ngIf="case.apsInvestigation"> <b> STATUS
                                    <br/>{{case.apsInvestigation}}</b></li>
                            <!--<li> STATUS & DISPOSITION
                            <li> <b>
                                <br/>APS Investigation</b></li>
                <br/>
                <a href> ADD STATUS & DISPOSITION</a>
              </li>-->
                        </ul>
                        <div class="actionicons" *ngIf="!(token.role.name === 'apcs')">

                            <span (click)="onEditCase(case)" data-target="#intake-asd-asd" data-toggle="modal">
                                <i class="fa fa-pencil text-22 "></i>
                            </span>
                            <span data-target="#delete-asd-asd" (click)="deleteCase(case)" data-toggle="modal">
                                <i class="fa fa-trash text-22"></i>
                            </span>


                        </div>
                    </div>
                    <div class="cases_alegation">
                        <div class="cases_alegation-inner">
                            <div class="cases_alegation-top">
                                <span class="bold">ALLEGATIONS</span>
                                <span class=" pull-right bold">
                                    <a data-target="#intake-addtypemodal-asd-asd" (click)="loadAllegation(caseIndex,case.serviceTypeID)" data-toggle="modal">ADD / EDIT ALLEGATION </a>
                                </span>
                            </div>
                            <div *ngIf="case.choosenAllegation.length===0" class="cases_alegation-content">
                                <h4 class="">No Allegations Added</h4>
                            </div>
                            <div *ngIf="case.choosenAllegation.length>0">
                                
                                <div *ngFor="let alligation of case.choosenAllegation;let aligationIndex = index" class="cases_alegation-content">
                                    <h4 class="bold">{{alligation.allegationValue}}</h4>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let item of alligation.indicators"> - {{item.indicatorname}}</li>
                                    </ul>
                                    <div class="actionicons">
                                        <i class="fa fa-trash text-22" (click)="deleteAllegation(caseIndex,aligationIndex)"></i>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>


      <!-- ADULT SCREEN TOOL - APS INVESTIGATION - END -->
  
      <div class="row mrg-top25">
          <div class="col-sm-12">
              <form action="" [formGroup]="groupSetupForm" method="get" accept-charset="utf-8" class="form-search-person1">
                  <div class="col-md-5">
                      <div class="form-group multiple-select">
                          <select name="" multiple="" formControlName="DAItems" class="form-control full-width">
                              <option *ngFor="let case of createdCases" [value]="case.caseID" [style.display]="!case.GroupNumber ? 'block' : 'none'">{{case.caseID}} {{case.serviceTypeValue}} {{case.subSeriviceTypeValue}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-2 text-center">
                      <div class="btn-group btn-group-re mrg-top25">
                          <button type="submit" class="btn-pri" [disabled]="token.role.name === 'apcs'" (click)="openGroupSetup()"> Group</button>
                          <button type="submit" class="btn-pri mt-15" [disabled]="token.role.name === 'apcs'" (click)="unGroupDAItems()"> Ungroup</button>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <div class="form-group multiple-select">
                          <select name="" multiple="" formControlName="selectedDAItemsGroupNo" class="form-control full-width">
                              <option *ngFor="let case of createdCases" [value]="case.GroupNumber" [style.display]="case.GroupNumber ? 'block' : 'none'">({{case.GroupNumber}}) {{case.caseID}} {{case.serviceTypeValue}} {{case.subSeriviceTypeValue}}</option>
                          </select>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
  <div class="modal fade" id="intake-asd-asd" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" id="editClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Edit Complaint/Sub Type</h4>
            </div>
            <div class="modal-body">

                <div class="row mrg-top25">
                    <form [formGroup]="caseEditFormGroup">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Complaint Type" formControlName="serviceType" (change)="loadSubServiceTypes($event)">
                                    <mat-option *ngFor="let item of serviceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Sub Type " formControlName="subServiceType">
                                    <mat-option *ngFor="let item of subServiceTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <button class="btn-pri m-t-10 " (click)="updateSubTypes()" [disabled]="isUpdateDisabled()" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="intake-addtypemodal-asd-asd" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
              <h4 class="modal-title">Add Allegations</h4>
          </div>
          <div class="modal-body" style="min-height: 300px">

              <div class="row mrg-top25">
                  <form [formGroup]="caseCreationFormGroup">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="required">ALLEGATIONS</label>
                              <div class="select-icon cus-select-width">
                                  <ng-select [searchable]="true" [clearable]="false" formControlName="allegationId" class="select-source" (change)="allegationOnChange($event)">
                                      <ng-option value=""> Select </ng-option>
                                      <ng-option *ngFor="let item of allegationDropDownItems" [value]="item.value">{{item.text}}</ng-option>
                                  </ng-select>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>

              <h5 class="title-clr">SELECT INDICATOR</h5>

              <section class="selectindicator_list">
                  <ul class="list-unstyled">
                      <li *ngFor="let item of filteredAllegationItems[0]?.indicators">
                          <label class="control control--checkbox">
                              {{item.indicatorname}}
                              <input type="checkbox" class="filled" (change)="indicatorsChecked(item, $event)">
                              <div class="control__indicator"></div>
                          </label>
                      </li>
                  </ul>

              </section>

          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri" data-dismiss="modal" (click)="saveAllegations()" [disabled]="token.role.name === 'apcs'">Done</button>
          </div>
      </div>
  </div>
</div>


<div class="modal fade " id="delete-asd-asd" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this case? </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteCaseConfirm()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="common-modal">
    <div class="modal fade" id="serviceGroupReason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-w450" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Group Reason</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-search-person inline-form-wrap modal-inatke-form" [formGroup]="groupDAReasonForm">
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <mat-select  type="text" placeholder="Reason Type *" matInput formControlName="reasonType" >
                                     <mat-option  *ngFor="let item of reasonDropdown" [value]="item.value">{{item.text}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                               
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea matInput class="form-control full-width" placeholder="Comments" rows="5" formControlName="reasonComments"></textarea>
                                    </mat-form-field>

                                </div>
                              </div>
                                <div class="col-md-12 text-center">
                                    <div class="btn-group-re btn-group">
                                        <button type="button" class="btn-bg" data-dismiss="modal" (click)="cancelGroupSetup()">Cancel</button>
                                        <button type="button" class="btn-pri" (click)="saveGroupSetup()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  