.service-plan {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.service-plan table {
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}
.service-plan table thead {
    background: #24292d;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
}
.service-plan table.expand-col thead {
    background: #cccfd4;
}
.service-plan table thead th {
    padding: 0px;
}
.service-plan table tbody td {
    padding: 0px;
    color: #817575;
    font-size: 13px;
    text-align: left;
}
.service-plan table.expand-col tbody td,
.service-plan table.expand-col thead th {
    padding: 10px !important;
    text-align: left;
}
.service-plan .expand-table td,
.service-plan .expand-table th {
    padding: 7px 10px !important;
    vertical-align: top;
}
.service-plan .expand-table {
    margin: 0 !important;
}
.expand-table th:first-child .collapsed,
.expand-table td:first-child .collapsed {
    width: 2%;
    text-align: center;
}
.service-plan .expand-table.expand-col {
    background: #fff;
    width: 100%;
}
.service-plan table tbody td.expand-space {
    padding: 10px 20px !important;
    background: #f1f5f8;
}
.service-plan tbody .expand-table.expand-col tr {
    border-bottom: solid 1px #ddd;
}
.expand-table .fa-plus,
.expand-table .fa-minus {
    border: solid 1px #00A2FD;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}
.accordian {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px #00A2FD;
    border-radius: 50%;
    margin-top: 5px;
}
.accordian:after {
    content: '\2212';
    color: #00A2FD;
    font-weight: 800;
    font-family: font-awesome;
    font-size: 16px;
    position: relative;
    top: -4.5px;
    left:1.5px;
}
.collapsed .accordian {
    border-color: #00A2FD;
}
.collapsed .accordian:after {
    content: '\002B';
    color: #00A2FD;
    margin-left: 0px;
    left: 0px;
}
.expand-table span.accordian {
    border: solid 1px #00A2FD;
}
.expand-table .collapsed  span.accordian {
    border: solid 1px #00A2FD;
}
.expd-cont {
    background:#f1f4f9;
}
.table>tbody+tbody {
    border:0;
}
.expand-col tbody thead,
.expand-col tbody {
    display: contents;
}
.expand-col tbody thead th {
    background:#cccfd4;
}
.icon i {
    color: #00A2FD;
    padding-right: 10px;
    cursor: pointer;
    font-size: 13px;
}
.icon i:last-child {
    padding: 0px;
    font-size: 16px;
}
.expand-col tbody thead th {
    background: #cccfd4;
    text-align: left;
    padding: 10px 0 10px 10px;
}
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}
