<div class="">
  <div class="col-box mydsds-action">
      <h2>{{totalRecords$|async}}
          <!-- <span>My AR Intake</span> -->
      </h2>
      <table width="100%" class="perform-table fixed_header ir-intake">
          <thead>
              <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th></th>
                  <th>Assigned on</th>
                  <th>Comments</th>
                  <th>Decision</th>
              </tr>
          </thead>
          <tbody *ngIf="myApplicationList$ | async; let applicationList">
              <tr *ngFor="let application of applicationList">
                  <!-- <td>{{application.objectid}}</td> -->
                  <td>
                    <a [routerLink]="['/pages/provider-applicant/new-applicant', application.objectid]">{{application.objectid}}</a>
                 </td>
                  <td>{{application.fullname}}</td>
                  <td>{{application.fromroleid}}</td>
                  <td></td>
                  <!-- TODO BUG: Should be  -->
                  <td>{{application.insertedon}}</td>
                  <td>{{application.remarks}}</td>
                  <td>{{application.status}}</td>
              </tr>
          </tbody>
      </table>
      <div class="text-center mt-10" *ngIf="{applicationList:myApplicationList$ | async,totalRecords:totalRecords$ | async} as validatePagination">
          <pagination *ngIf="validatePagination.applicationList?.length!==0" [totalItems]="validatePagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
          </pagination>
      </div>

  </div>
</div>
