<div class="tab-pane" id="cress-referance">
        <div class="row">
                <div class="col-sm-12" *ngIf="addedIntakeCrossReference?.length!=0">
                    <h4>List of Intake Cross Reference</h4>
                    <div class=" m-t-20">
                        <div class="table-responsive table-theme">
                            <table class="table static-table table-striped">

                                <thead>
                                    <!-- <tr>
                                        <th>AA Number</th>
                                        <th>Service Type</th>
                                        <th>Service Subtype</th>
                                        <th>Reason to Cross Reference</th>
                                        <th>Status</th>
                                        <th>Assigned To</th>
                                        <th>Cross Reference with</th>
                                        <th>Action</th>
                                    </tr> -->
                                    <tr>
                                        <th>Intake ID</th>
                                        <th>Complaint ID</th>
                                        <th>Intake Status</th>
                                        <th>Submitted Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of addedIntakeCrossReference">
                                        <!-- <td>{{item.servicerequestnumber}}</td>
                                        <td>{{item.srtype}}</td>
                                        <td>{{item.srsubtype}}</td>
                                        <td>{{item.ReasonsofCrossref}}</td>
                                        <td>{{item.srstatus}}</td>
                                        <td>{{item.assignedto}}</td>
                                        <td>{{item.crossRefwith}}</td>
                                        <td class="edit-icons">
                                            <span>
                                                <img data-toggle="tooltip" data-placement="top" title="Remove" (click)="confirmDelete(item)" src="assets/images/cancel-button.png">
                                            </span>
                                        </td> -->
                                        <td>{{item.intakenumber}}</td>
                                        <td>{{item.complaintid}}</td>
                                        <td>{{item.status | titlecase }}</td>
                                        <td>{{item.insertedon | date:'MM/dd/yyyy - h:mm a'}}</td>
                                        <td class="edit-icons">
                                            <span>
                                                <img data-toggle="tooltip" data-placement="top" title="Remove" (click)="confirmIntakeDelete(item)" src="assets/images/cancel-button.png">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    <form [formGroup]="crossRefernceQuickSearchForm">
        <div class="row">
            <div class="col-sm-5">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Agency Action Number" matInput formControlName="servicerequestnumber" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option value=""> Select Action Number </mat-option>
                        <mat-option *ngFor="let item of createdCaseInput" [value]="item.caseID">{{item.caseID}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <h5>Quick Search Options</h5>
                &lt;!&ndash; <h4 class="full-width">Quick Search Options</h4> &ndash;&gt;
                <div class="form-group search-opt-btn">
                    <a type="button" (click)="samePersonSearch('RC')" class="theme no-mar">Same RC</a>
                    <a type="button" (click)="samePersonSearch('RA')" class="theme">Same RA</a>
                    <a type="button" (click)="samePersonSearch('Rep')" class="theme">Same Reporter</a>
                    <button type="button" disabled (click)="sameDepartmentProviderSearch(1, crossRefernceQuickSearchForm.value)" class="theme">Same Department Provider</button>
                </div>
            </div>
        </div>-->
    </form>
    <form [formGroup]="crossRefernceSearchForm" (submit)="searchCrossReference(1,crossRefernceSearchForm.value)">
        <div class="row">
            <div class="">
                <div class="col-sm-12">
                    <h4>Search for Department Action Options</h4>
                </div>
                <div class="col-sm-3">
                    <mat-form-field class="">
                        <input matInput placeholder="AA #" value="" formControlName="servicerequestnumber">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput appMaskDate [matDatepicker]="picker" (click)="picker.open()" placeholder="AA Start Date" formControlName="reporteddate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <small class="text-danger" *ngIf="crossRefernceSearchForm.controls['reporteddate'].errors?.maxDate">
                        <label class="text-right mr-20"></label> You cannot enter a date in the future!</small>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput appMaskDate [matDatepicker]="picker1" (click)="picker1.open()" placeholder="AA End Date" formControlName="reportedenddate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <small class="text-danger" *ngIf="crossRefernceSearchForm.hasError('notValid')">
                        AA end date should be greater than AA start date</small>
                    <small class="text-danger" *ngIf="crossRefernceSearchForm.controls['reportedenddate'].errors?.maxDate">
                        You cannot enter a date in the future!</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-checkbox formControlName="status">Show only open My Actions</mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-right">
                    <button type="button" class="btn-bg " name="" (click)="clearCrossReference()"> CLEAR </button>
                    <button type="submit" class="btn-pri " name=""> SEARCH </button>
                </div>
            </div>
        </div>
    </form>
    <form class="search-person full-width" [formGroup]="reasonToCrossRefernceForm" *ngIf="CrossReferncedata">
        <div class="row">
            <div class="col-sm-12">
                <h4>Search Result</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Select Status" formControlName="ReasonsofCrossref">
                                <mat-option>Select</mat-option>
                                <mat-option *ngFor="let item of  reasonCrossReferenceDropDownItems$ | async" [value]="item.value">{{item.text}}
                                    </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="m-t-60 mrg-top25" *ngIf="crossReferenceSearchResponse$ | async; let crossReferenceList">
                <div class="table-responsive table-theme">
                    <table class="table static-table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Received Date</th>
                                <th>AA Number</th>
                                <th>Type</th>
                                <th>Subtype</th>
                                <th>reported Person Name</th>
                                <th>County</th>
                                <th>Due Date</th>
                                <th>Past Due</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of crossReferenceList">
                                <td>
                                    <label class="control control--checkbox no-pad no-mar">
                                        <input type="checkbox" (click)="selectCrossReference(reasonToCrossRefernceForm.value, item, $event)">
                                        <span>
                                            <a>Select</a>
                                        </span>
                                    </label>
                                </td>
                                <td>{{item.datereceived | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.servicerequestnumber}}</td>
                                <td class="ane">
                                    <span>{{item.srtype}}</span>
                                </td>
                                <td class="class-type">
                                    <span>{{item.srsubtype}}</span>
                                </td>
                                <td>{{item.raname}}</td>
                                <td>{{item.county}}</td>
                                <td>{{item.datedue | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.timedue | date:'MM/dd/yyyy'}}</td>
                            </tr>
                            <tr *ngIf="crossReferenceList?.length === 0">
                                <td colspan="9">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngIf="addedCrossReference?.length!=0">
            <h4>List of Cross Reference</h4>
            <div class="cnt-min-height m-t-20">
                <div class="table-responsive table-theme">
                    <table class="table static-table table-striped">

                        <thead>
                            <tr>
                                <th>AA Number</th>
                                <th>Service Type</th>
                                <th>Service Subtype</th>
                                <th>Reason to Cross Reference</th>
                                <th>Status</th>
                                <th>Assigned To</th>
                                <th>Cross Reference with</th>
                                <th>Action</th>
                            </tr>
                            <!-- <tr>
                                <th>Intake ID</th>
                                <th>Complaint ID</th>
                                <th>Intake Status</th>
                                <th>Submitted Date</th>
                                <th>Received Date</th>
                                <th>Action</th>
                            </tr> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of addedCrossReference">
                                <td>{{item.servicerequestnumber}}</td>
                                <td>{{item.srtype}}</td>
                                <td>{{item.srsubtype}}</td>
                                <td>{{item.ReasonsofCrossref}}</td>
                                <td>{{item.srstatus}}</td>
                                <td>{{item.assignedto}}</td>
                                <td>{{item.crossRefwith}}</td>
                                <td class="edit-icons">
                                    <span>
                                        <img data-toggle="tooltip" data-placement="top" title="Remove" (click)="confirmDelete(item)" src="assets/images/cancel-button.png">
                                    </span>
                                </td>
                                <!-- <td>{{item.intakenumber}}</td>
                                <td>{{item.complaintid}}</td>
                                <td>{{item.srstatus | titlecase }}</td>
                                <td>{{item.insertedon | date:'MM/dd/yyyy - h:mm a'}}</td>
                                <td>{{item.datereceived | date:'MM/dd/yyyy - h:mm a'}}</td>
                                <td class="edit-icons">
                                    <span>
                                        <img data-toggle="tooltip" data-placement="top" title="Remove" (click)="confirmDelete(item)" src="assets/images/cancel-button.png">
                                    </span>
                                </td> -->
                            </tr>
                            <tr *ngIf="addedCrossReference?.length === 0">
                                <td colspan="8">No cross reference added.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade custom-modal" id="delete-cross-reference-popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Confirm Delete </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete this item? </p>
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
                        <button type="button" value="Yes" class="btn-bg " name="" *ngIf="crossReferenceType === 'complaint'" (click)="deleteCrossReference()"> Yes </button>
                        <button type="button" value="Yes" class="btn-bg " name="" *ngIf="crossReferenceType === 'intake'" (click)="deleteIntakeCrossReference()"> Yes </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
