.static-table > thead {
    background: #AEBED6;
}
.static-table > thead > tr > th {
    padding: 10px 8px;
}
.static-table > tbody > tr > td {
    padding: 15px 8px !important;
    color: #24292e;
    font-weight: 600;
    font-size: 13px;
}
.static-table > tbody > tr > td > a {
    color: #24292e;
    font-weight: 600;
    font-size: 13px;
}
.bg-default{background: #908e8e;color:#fff;border-radius: 3px;padding: 3px 10px 3px 15px;font-size: 13px;position: relative;}
span.bg-default:before {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    content: "";
    background: white;
    top: 10px;
    left: 10px;
    margin-left: -5px;
}
.bg-orange{background: #eea236;color:#fff;border-radius:3px ;padding: 3px 10px 3px 15px;font-size: 13px;position: relative;}
span.bg-orange:before {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    content: "";
    background: white;
    top: 10px;
    left: 10px;
    margin-left: -5px;
}
.search-opt-btn button{    color: #00bcd3;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #00bcd3;
    padding: 3px 5px;
    border-radius: 3px;}
