<div class="row" [formGroup]="transferForm">
  <div class="col-sm-6">
    <mat-form-field>
      <mat-select required formControlName="county" placeholder="County">
        <mat-option *ngFor="let item of countyList" value="{{item.countyid}}">{{item.countyname}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Transfer Reason" formControlName = "transferreason"></textarea>
    </mat-form-field>
    <button class="btn btn-pri pull-right" [disabled]="transferForm.invalid" (click)="transfer()">Transfer</button>
  </div>
</div>