<div id="default-access-list" role="dialog" data-backdrop="static" data-keyboard="false" role="dialog" style="display: block;">

  <form [formGroup]="defaultAccessListForm" (submit)="searchDefaultAccessListList(defaultAccessListForm.value, 'search')">
    <div class="row">
      <div class="col-sm-12">

        <div class="manage-access-list">
          <h5>Manage Access List:</h5>
          <div class="search-form col-sm-6">
            <div class="fm-box">
              <label>Position Number</label>
              <div class="fm-box-form select-new">
                <input type="text" formControlName="positioncode" name="positioncode" class="form-control fm-style" placeholder="">
              </div>
            </div>
          </div>

          <div class="search-form col-sm-6">
            <div class="fm-box">
              <label>Role Type</label>
              <div class="fm-box-form select-new">
                <input type="text" formControlName="roletypekey" name="roletypekey" class="form-control fm-style" placeholder="">
              </div>
            </div>
          </div>
          <div class="search-form col-sm-6">
            <div class="fm-box">
              <label>First Name</label>
              <div class="fm-box-form select-new">
                <input type="text" formControlName="firstname" name="firstname" class="form-control fm-style" placeholder="">
              </div>
            </div>
          </div>
          <div class="search-form col-sm-6">
            <div class="fm-box">
              <label>Last Name</label>
              <div class="fm-box-form select-new">
                <input type="text" formControlName="lastname" name="lastname" class="form-control fm-style" placeholder="">
              </div>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="submit" class="btn-pri">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="col-sm-12 mrg-top25">
    <div class="row">
      <div class="col-sm-5 no-pad">
        <div class="table-responsive multi-select">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                </th>
                <th>Position Number</th>
                <th>Role Type</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leftItems">
                <td>
                  <label class="control control--checkbox">
                    <input type="checkbox" (change)="selectItem('left', item, $event)">
                    <div class="control__indicator"></div>
                  </label>
                </td>
                <td>{{item.positioncode}}</td>
                <td>{{item.roletypekey}}</td>
                <td>{{item.displayname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-2 multi-select-btn">
        <button type="button" value="Add" (click)="addAllAccessList()" class="btn-pri" name="add all ">Add All &gt; &gt; </button>
        <button type="button" value="Add" (click)="addAccessList()" class="btn-pri" name="add">Add &gt; </button>
        <button type="button" value="Add" (click)="removeAccessList()" class="btn-pri" name="remove">
          &lt; Remove</button>
        <button type="button" value="Add" (click)="removeAllAccessList()" class="btn-pri" name="remove all">
          &lt; &lt; Remove All </button>
      </div>
      <div class="col-sm-5 no-pad" style="min-width:300px;">
        <div class="table-responsive multi-select default-access-list-right">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>

                </th>
                <th>Position Number</th>
                <th>Role Type</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of rightItems">
                <td>
                  <label class="control control--checkbox">
                    <input type="checkbox" (change)="selectItem('right', item, $event)">
                    <div class="control__indicator"></div>
                  </label>
                </td>
                <td>{{item.positioncode}}</td>
                <td>{{item.roletypekey}}</td>
                <td>{{item.displayname}}</td>
              </tr>
            </tbody>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group btn-group-re pull-right">
    <button type="button" class="btn-pri" (click)="saveItems()"> OK</button>
  </div>

</div>