.box-grid-main {
    margin: 10px 0px;
}

.table-theme tr {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.inner-tb thead tr th {
    background: #AEBED6;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.theme-col {
    color: #00A2FD;
}

textarea {
    border-bottom: 1px solid #00000070;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

.dp-bl {
    margin-top: 10px;
    display: block;
}

.brd-t {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
}

.btn-cncl {
    margin-top: 60px; 
    width: 0%
}