<div class="row">
  <div class="col-sm-12 m-t-20">
    <label class="blue">Reviews</label>
    <button class="btn btn-pri pull-right" (click)="formAccess(0)">+ Annual Review</button>
  </div>
</div>
<div class="m-t-20">
  <div class="table-responsive">
    <table class="table table-bordered icon-action">
      <thead>
        <tr>
          <th>Review Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of annualReviewList$ | async">
          <td>
            {{item.reviewdate | date: 'MM/dd/yyyy'}}
          </td>
          <td class="text-caps">
            <span title="View" data-placement="top" data-original-title="View">
              <a (click)="editAnnualReview(item)"><i class="fa fa-eye fa-size" aria-hidden="true"></i></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form [formGroup]="annualReviewGapForm" *ngIf="isFormDisplay">
  <div class="clsGap-form clsForm-inline hide" *ngIf="placement; let data">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Child Name </label>
          <span>
            {{data?.childname ? data?.childname : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Date of Birth </label>
          <span>
            {{data?.dob ? (data?.dob | date:'MM/dd/yyyy') : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Gender
            <span></span>
          </label>
          <span>
            {{data?.gender ? data?.gender : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Age
            <span></span>
          </label>
          <span>
            {{data?.dob ? (data?.dob | ageCal) : 'NA'}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <section class="mt-30">
    <h5 class="h5-title">Annual Review</h5>
    <ul class="list-group checklist-disclosure">
      <li class="list-group-item clsForm-inline" style="height:55px">
        <span class="pull-right datepick">
          <!-- <mat-form-field>
            <input matInput [matDatepicker]="pickerm7" (click)="pickerm7.open()" placeholder="Review Date"
              formControlName="reviewdate">
            <mat-datepicker-toggle matSuffix [for]="pickerm7"></mat-datepicker-toggle>
            <mat-datepicker #pickerm7></mat-datepicker>
          </mat-form-field> -->
          <common-date-picker formControlName="reviewdate" placeholder="Review Date">
          </common-date-picker>
        </span>
      </li>

      <li class="list-group-item ">
        Guardian is legally responsible for child?
        <span class="pull-right">
          <mat-radio-group formControlName="isguardianresponsible">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item ">
        Guardian provides financial support for child.
        <span class="pull-right">
          <mat-radio-group formControlName="isguardiansupportfinance">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item">
        Child currently resides with guardian ( or primary residence if away at school).
        <span class="pull-right">
          <mat-radio-group formControlName="ischildwithguardian">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item">
        Child is currently attending school.
        <span class="pull-right">
          <mat-radio-group formControlName="ischildattendingschool">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item">
        Is the required document for education and/or healthcare provided?
        <span class="pull-right">
          <mat-radio-group formControlName="isdocumentprovided">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>

      <li class="list-group-item ">
        Will the child reach 18th birthday during the next 12 months?
        <span class="pull-right">
          <mat-radio-group formControlName="ischildreacheighteen">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item ">
        Child has a mental or physical disability warranting continuation of assistance?
        <span class="pull-right">
          <mat-radio-group formControlName="ischilddisability">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item ">
        Child is enrolled in educational or vocational training program?
        <span class="pull-right">
          <mat-radio-group formControlName="istrainingenrolled">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item ">
        Child is participating in a program or activity that removes barriers to unemployment?
        <span class="pull-right">
          <mat-radio-group formControlName="isunemployment">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>

      <li class="list-group-item ">
        Provide a field to indicate that the form is complete (Mandatory field)
        <span class="pull-right">
          <mat-radio-group formControlName="isformcomplete">
            <mat-radio-button [value]=true>Yes</mat-radio-button>
            <mat-radio-button [value]=false>No</mat-radio-button>
          </mat-radio-group>
        </span>
      </li>
      <li class="list-group-item ">
        <div class=" pull-right md-checkbox mt-10">
          <label>
            <input type="checkbox" formControlName="isformcomplete">
            <span class="md-checkbox-material">
              <span class="check"></span>
            </span> Completed
          </label>
          <label for="" class="textb clsWidth-100"></label>
        </div>
      </li>
    </ul>
  </section>
  <section class="form-inline sign-sec mt-20">

    <div class="col-sm-4">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerm4" (click)="pickerm4.open()" placeholder="Primary Caregiver Sign Date"
            formControlName="cgprimarydate" required>
          <mat-datepicker-toggle matSuffix [for]="pickerm4"></mat-datepicker-toggle>
          <mat-datepicker #pickerm4></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder="Secondary Caregiver Sign Date"
            formControlName="cgsecondarydate" >
          <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
          <mat-datepicker #pickerm2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerm3" (click)="pickerm3.open()" placeholder="Director Sign Date"
            formControlName="directorsigndate" required>
          <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
          <mat-datepicker #pickerm3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>
  <div class="row mt-20" *ngIf="isSupervisor" [formGroup]="approvalStatusForm">
    <div class="col-sm-3"> Approval status</div>
    <div class="col-sm-4">
      <mat-radio-group formControlName="routingstatus">
        <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
        <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-5" *ngIf="isEnableComments">
      <mat-form-field>
        <input type="text" matInput placeholder="comments" formControlName="comments">
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-sm-9 note-txt">
      <!-- <i>
        <b>Note: The form is complete (Mandatory feild)</b>
      </i> -->
    </div>
    <div class="col-sm-3 text-right" *ngIf="!isSupervisor">
      <button class="btn btn-pri" *ngIf="!isEditReview" [disabled]="annualReviewGapForm.pristine || annualReviewGapForm.invalid || isExistRecord"
        (click)="addEditAnnualReview(annualReviewGapForm.value, 0)">Save</button>
      <button class="btn btn-pri" *ngIf="isEditReview" [disabled]="annualReviewGapForm.pristine || annualReviewGapForm.invalid || isExistRecord"
        (click)="addEditAnnualReview(annualReviewGapForm.value, 1)">Update</button>  
    </div>
    <div class="col-sm-3 text-right" *ngIf="isSupervisor">
      <button class="btn btn-pri" [disabled]="isApproved" (click)="routingUpdate()">Submit</button>
    </div>
  </div>
</form>

<div class="modal fade" id="gap-placement" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
        <h4 class="modal-title bc-pop-title"> Alert</h4>
      </div>
      <div class="modal-body">
        <p> {{gapAlertMessage}}</p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" (click)="navigateTo()"> Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>