<div class="modal modal-lg custom-wid fade in" id="disability-form" role="dialog" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog t-25">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Disability <button type="button" class="close mr-10" (click)="close()">x</button></h4>

      </div>
      <div class="modal-body">
        <p>
          <span> CJAMS PID# {{person?.cjamspid}} - {{person?.firstname}} {{person?.lastname}} </span>
        </p>
        <form [formGroup]="personDisabilityForm">
          <div class="pt-20">
            <div class="col-md-12 mb-20 border-btm ">

              <div class="col-md-12 check-block">
                <mat-checkbox formControlName="disabilityflag">Permanently Disabled
                </mat-checkbox>
              </div>
              <div class="col-md-6 pt-20">

                <mat-form-field>
                  <mat-select formControlName="disabilitytypekey" placeholder="Disability Type" required>
                    <ng-container *ngFor="let item of disabilityTypes">
                      <mat-option [value]="item.ref_key"> {{item.description}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 pt-20">
                <mat-form-field>

                  <mat-select formControlName="disabilityconditiontypekey" placeholder="Disability Condition" required>
                    <ng-container *ngFor="let item of disabilityConditions">
                      <mat-option [value]="item.value_text"> {{item.description}}</mat-option>
                    </ng-container>
                  </mat-select>

                </mat-form-field>


              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input type="text" formControlName="diagnoiseddisabilitynotes" matInput
                    placeholder="Diagnosed Disability" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6 pt-20">

                <common-date-picker disabled formControlName="startdate" [required]="true"
                  placeholder="Disability Start Date">
                </common-date-picker>

              </div>
              <div class="col-md-6 pt-20">
                <common-date-picker disabled [min]="maxDate" formControlName="enddate" placeholder="Disability End Date">
                </common-date-picker>

              </div>


            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <common-date-picker disabled formControlName="evaluationdate" placeholder="Evaluation Date">
                </common-date-picker>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input type="text" formControlName="evaluatorname" matInput placeholder="Evaluator/Clinician Name" />

                </mat-form-field>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <mat-form-field>
                  <textarea matInput name="comments" formControlName="comments" rows="5"
                    placeholder="Comments"></textarea>
                </mat-form-field>
              </div>
            </div>


            <div class="clearfix"></div>
            <div class="col-md-12 text-right">
              <button class="btn-pri" type="button" (click)="close()">Cancel</button>
              <button class="btn-pri" type="button" (click)="saveDisability()">Save</button>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>