mat-radio-group {
    display: block;

    &.hcommunity-d {

        .mat-radio-button {
            display: block;
        }
    }

    span {
        display: block;
        padding-bottom: 10px;
    }
}

mat-checkbox {
    display: block;
}