<div class="container-fluid">
   <form [formGroup]="publicReferralForm">
      <section class="intake-nstyle record-intake">
         <div>
            <h3 class="pad-top20">
               <span>Provider Inquiry</span>
            </h3>
            <div class="row form-wrapper pad-top20">
               <div class="col-sm-12">
                  <input type="hidden">
                  <ul class="list-unstyled list-inline">
                     <li>
                        <label>Inquiry Number </label>
                        <p>{{referralId}}</p>
                     </li>

                     <li>
                        <label>Created Date </label>
                        <p>{{ currentDate | date:'MM/dd/yyyy - h:mm a'}}
                        </p>
                     </li>

                     <li>
                        <div class="form-group">
                           <label class="required">Communication</label>
                           <div class="select-icon cus-select-width">
                              <ng-select [searchable]="true" [clearable]="false" formControlName="communication_medium"
                                 class="select-source" (change)="saveGeneralInfo('communication_medium', $event.value)">
                                 <ng-option value=""> Select </ng-option>
                                 <ng-option *ngFor="let item of communication_mediums" [value]="item.type">{{item.type}}</ng-option>
                              </ng-select>
                           </div>
                        </div>
                     </li>

                     <li>
                        <div class="form-group">
                           <label class="required">Date of first contact</label>

                           <mat-form-field>
                              <input matInput [matDatepicker]="picker2" [max]="maxDate" (click)="picker2.open()" placeholder="Date of contact"
                                 formControlName="date_of_contact" (dateInput)="saveGeneralInfo('date_of_contact', $event.target.value)">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
                           </mat-form-field>
                        </div>

                     </li>
                     <!-- <li>
                              <div class="form-group">
                                  <label class="required">Jurisdiction</label>
                                  <div class="select-icon cus-select-width">
                                      <ng-select [searchable]="true" [clearable]="false" 
                                      formControlName="jurisdiction" class="select-source">
                                          <ng-option *ngFor="let county of countyList$ | async" [value]="county.value">{{county.text}}</ng-option>
                                      </ng-select>
                                  </div>
                              </div>
                          </li> -->
                     <li>
                        <label class="required">Jurisdiction</label><br>
                        <mat-form-field>
                           <mat-select placeholder="" formControlName="jurisdiction" required (change)="saveJurisdictionInfo($event)">
                              <mat-option *ngFor="let county of countyList$ | async" [value]="county.value">{{county.text}}</mat-option>
                           </mat-select>
                        </mat-form-field>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <div class="intake no-pad">
         <div class="tab-horizontal">
            <div class="nav-tabs person-cus-tab-section persontabs nav-pills" id="public-applicant-tabs">
             <!--   <li [ngClass]="'active'">
                  <a data-toggle="tab" data-target="#public-referral-basic-info">Inquiry Basic Information</a>
               </li>
               <li [ngClass]="''">
                  <a data-toggle="tab" data-target="#public-referral-info">Inquiry Additional Information</a>
               </li>
              
               <li>
                  <a data-toggle="tab" data-target="#public-referral-narrative">Narrative</a>
               </li>
               <li>
                  <a data-toggle="tab" data-target="#public-referral-contact">Contact Notes</a>
               </li>
               <li>
                  <a data-toggle="tab" data-target="#public-referral-add-document">Documents</a>
               </li>
               <li>
                  <a data-toggle="tab" data-target="#public-referral-orientation">Information Meeting</a>
               </li>
               <li>
                  <a data-toggle="tab" data-target="#public-referral-decision">Review</a>
               </li>
              -->
            </div>
            <div class="tab-content">
               <router-outlet></router-outlet>
               
               <!-- <div class="tab-pane active" id="public-referral-basic-info">
                  <public-referral-basic-info [isReadOnly]="isReadOnly"></public-referral-basic-info>
               </div>
               <div class="tab-pane" id="public-referral-info">
                  <public-referral-info [isReadOnly]="isReadOnly"></public-referral-info>
               </div>
               
               <div class="tab-pane" id="public-referral-contact">
                  <public-referral-contact [isReadOnly]="isReadOnly"></public-referral-contact>
               </div>
               <div class="tab-pane" id="public-referral-add-document">
                  <public-referral-add-document></public-referral-add-document>
               </div>
               <div class="tab-pane" id="public-referral-narrative">
                  <public-referral-narrative></public-referral-narrative>
               </div>
               <div class="tab-pane" id="public-referral-decision">
                  <public-referral-decision></public-referral-decision>
               </div>
               <div class="tab-pane" id="public-referral-orientation">
                  <public-referral-orientation></public-referral-orientation>
               </div>
                -->
            </div>
         </div>
      </div>
   </form>
</div>

