<form>
<div class="row">
    <div class="left-side-filter" [formGroup]="fundingSearchForm">
        <h5>Search Filter</h5>
        <!-- <mat-radio-group formControlName="ayear">
            <mat-radio-button value="Y">12 Months</mat-radio-button>
            <mat-radio-button>All</mat-radio-button>
        </mat-radio-group> -->
        <mat-form-field>
            <input matInput placeholder="Client Id" formControlName="client_id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Client Name" formControlName='client_name'>
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput placeholder="Case Worker Name" formControlName="caseworker_name">
        </mat-form-field> -->
        <!-- <hr class="h-row">
        <h5>Personal</h5> -->

        <mat-form-field>
            <input matInput placeholder="SSN" formControlName="ssn">
        </mat-form-field>
        <br>
        <!-- <hr class="h-row"> -->
            <h5>DOB Range</h5>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Start" name="dobdaterangefrom"
                            formControlName="dobdaterangefrom">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="End" name="dobdaterangeto"
                            formControlName="dobdaterangeto">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field>
                    <mat-select placeholder="Local Department" formControlName="local_dept">
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let dept of localDepartmentList" [value]="dept.value_tx">{{dept.value_tx}}</mat-option>
                    </mat-select>
            </mat-form-field>
        <button class="btn btn-pri pull-right mt-20 btn-align" (click)="searchClient()">Go</button>
        <button class="btn btn-sec pull-right mt-20" (click)="clearSearch()">Clear</button>
    </div>
</div>
</form>
