.left-side-filter {
    padding: 8px 15px;
    box-shadow: 0 0 5px #e7fcff;
    height: calc(100vh - 50px);
    overflow: auto;
    background: #e7fcff;
}

.left-side-filter h5 {
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.left-side-filter hr .h-row {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #abf5ff;
    margin-left: -15px;
    margin-right: -15px;
}

.btn-align {
    min-width: 60px;
    margin-left: 10px;
}
