
    <div class="col-sm-6">
      <div class="cont-field">
        <mat-form-field>
          <input type="text" matInput placeholder="Address Line 1" [(ngModel)]="address.address1" 
            [matAutocomplete]="auto" (input)="getSuggestedAddress()"  [disabled]="address.disable"/>
          <mat-autocomplete #auto="matAutocomplete">
            <ng-container *ngIf="suggestedAddress$ as addressList">            
            <mat-option *ngFor="let item of addressList"
              (click)="selectedAddress(item)">
              {{item.text}}
            </mat-option>
          </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm-6">
      <mat-form-field>
        <input type="text" matInput placeholder="Address Line 2" [(ngModel)]="address.address2" [disabled]="address.disable" />
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field> <input type="text" matInput [(ngModel)]="address.city"
          placeholder="City" [disabled]="address.disable" /> </mat-form-field>
    </div>
  <div class="col-sm-6">
    <mat-form-field>
      <mat-select placeholder="State" [(ngModel)]="address.state" [disabled]="address.disable">
        <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)" value="{{item.ref_key}}" (click)="loadCounty(item.ref_key)" [disabled]="address.disable">
          {{ item.description }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <mat-select [(ngModel)]="address.county" placeholder="County" [disabled]="address.disable">
        <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.description}}">
          {{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <input matInput placeholder="Zip Code" zipcodeOnly numberOnly maxlength="5" [(ngModel)]="address.zipcode" [disabled]="address.disable"
         />
    </mat-form-field>
  </div>