<div class="" >
    <div class="row">
        <div class="col-md-6">
          <h4>Decision</h4>
          <div *ngIf="isrelicense" [formGroup]="relicenseForm">
            <common-date-picker disabled formControlName="requested_license_effective_date" placeholder="{{datechangetext}} Start Date">
            </common-date-picker>
            <common-date-picker formControlName="requested_license_end_date" placeholder="{{datechangetext}} End Date">
            </common-date-picker>
          </div>
          <div [formGroup]="reviewForm">
            <mat-form-field>
                <mat-label>Select Status</mat-label>
                <mat-select required formControlName="status" (change)='OptionsSelected()'>
                  <ng-container *ngFor="let item of statusDropdownItems">
                    <mat-option *ngIf="item.program.includes(program)" [value]="item.value">{{item.text}}</mat-option>
                  </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <textarea required formControlName="comment" matInput placeholder="Comment"></textarea>
            </mat-form-field>
            <ng-container *ngIf="isFinalDecisoin; else elseTemplate">
              <button class="btn-pri" [disabled]="reviewForm.invalid || !assindisbtn" (click)="submitDecision()">Submit Decision</button>
            </ng-container>
            <ng-template #elseTemplate>
              <button class="btn-pri" [disabled]="reviewForm.invalid || !assindisbtn" (click)="openAssgnForm()">Submit And Assign</button>
            </ng-template>
          </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <signature-field [(ngModel)]="signimage" ></signature-field>
            </div>
            <button class="btn-pri" [disabled]='!assindisbtn' (click)="uploadAttachment()" >acknowledge Interview</button>
            <!-- <div class="">
                <img src=""/>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 m-t-20 m-b-20">
            <h4>Decision History</h4>
            <div class="table-responsive table-theme">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>From Person</th>
                            <th>From Role</th>
                            <th>Date</th>
                            <th>Comments</th>
                           
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="decisions && decisions.length">
                        <tr *ngFor="let decision of decisions">
                            <td>{{decision.fromuser}}
                            </td>
                            <td>
                              {{decision.rolename}}
                            </td>
                            <td>{{decision.created_on | date :'MM/dd/yyyy hh:mm a'}}</td>
                            <td>{{decision.remarks}}</td>
                           
                            <td>{{decision.status}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="license-info" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Route Case</h4>
      </div>
      <div class="modal-body dashboard-cont">
        <applicant-license></applicant-license>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assgn-user" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Route Case</h4>
        </div>
        <div class="modal-body dashboard-cont">
  
          <div class="tab-horizontal mrg-btm25">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
              </li>
              <li>
                <a href="#caseassign-caseworker" data-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
              </li>
            </ul>
            <div class="tab-content boxgrid">
              <div class="tab-pane active" id="caseassign-caseworker">
                <div class="">
                  <div class="bs-example">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>NAME</th>
                          <th *ngIf="!isSupervisor">CASE LOAD</th>
                          <th *ngIf="!isSupervisor">AVAILABILITY</th>
                          <th *ngIf="!isSupervisor">ZIP CODE</th>
                          <th *ngIf="isSupervisor">AGENCY</th>
                          <th>TYPE OF WORKER</th>
                          <th>UNIT</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="getUsersList; let getlist">
                        <ng-container *ngIf="getlist.length>0; else noItems">
                          <tr *ngFor="let item of getlist">
                            <td>
                              <label class="control control--radio">
                                <input type="radio" name="selectedPerson" (click)="selectPerson(item)">
                                <div class="control__indicator"></div>
                              </label>
                            </td>
                            <td>{{item.username}} </td>
                            <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                            <td *ngIf="!isSupervisor">{{item.available}}</td>
                            <td *ngIf="!isSupervisor">{{item.homelocationcode}}</td>
                            <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                            <td>{{item.userrole}}</td>
                            <td>{{item.teamname}}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <ng-template #noItems>No Items!</ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer wizard-buttons">
          <button class="btn-pri" (click)="submitDecision()">ASSIGN</button>
        </div>
      </div>
    </div>
  </div>