<form [formGroup]="intakeNarrativeForm">
  <div class="cnt-min-height narrative-main">

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="pad-top20">NARRATIVE</h4>
          </div>
          <div class="col-sm-4 text-right">
            <span class="pad-top20 narr-help" [popover]="myPopover">
              <i class="fa fa-question-circle"></i>
            </span>
            <div>
              <popover-content #myPopover title="Narrative Guidance" placement="auto left" [animation]="true" [closeOnClickOutside]="false">
                <p>{{tooltip}}</p>
                <button class="btn btn-pri btn-pop" (click)="closePopover()">OK</button>
              </popover-content>
            </div>
          </div>
        </div>
        <br>
        <div id="divNonEditNarrative" [safeHtml]="intakeNarrativeForm.controls['Narrative'].value"></div>
        <div id="divEditNarrative" class=" narrative-textarea ">
          <textarea trumbowygNgxEditor formControlName="Narrative" class="form-control " rows="7" spellcheck="True"
          matInput placeholder="Enter Narrative" (ngModelChange)="notifySubscriber()">
         </textarea>
          <div class="textarea-icons ">
            <a href="javascript:{} ">
              <img *ngIf="recognizing " src="../../../../../assets/images/voice-icon-on.png " (click)=" activateSpeechToText() ">
              <img *ngIf="!recognizing " src="../../../../../assets/images/voice-icon-off.png " (click)="activateSpeechToText() ">
            </a>
            <!-- <a href="javascript:{} ">
              <i class="fa fa-check spellcheck-icon spellcheck " data-toggle="tooltip " data-placement="top " title="
          " alt=" " data-original-title="Spell Checker ">
              </i>
            </a> -->
          </div>
          <control-messages [control]="intakeNarrativeForm.controls[ 'Narrative'] "></control-messages>
        </div>
      </div>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js "></script>
  <script src="trumbowyg/dist/trumbowyg.js "></script>
  <script src="trumbowyg/dist/langs/fr.min.js "></script>
  <script src="trumbowyg/dist/plugins/base64/trumbowyg.base64.js "></script>
  <script src="trumbowyg/dist/plugins/colors/trumbowyg.colors.js "></script>
  <script src="trumbowyg/dist/plugins/noembed/trumbowyg.noembed.js "></script>
  <script src="trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.js "></script>
  <script src="trumbowyg/dist/plugins/template/trumbowyg.template.js "></script>
  <script src="trumbowyg/dist/plugins/preformatted/trumbowyg.preformatted.js "></script>
  <script src="trumbowyg/dist/plugins/ruby/trumbowyg.ruby.js "></script>
  <script src="trumbowyg/dist/plugins/upload/trumbowyg.upload.js "></script>
  <script>
    $(document).on('keydown', function (e) {
      if (e.which === 27) {
        console.log('ESCAPE');
      }
    });
    /** Default editor configuration **/
    $('#default-editor, #empty-textarea, #disabled-textarea')
      .trumbowyg()
      .on('dblclick', function () {
        $(this).trumbowyg();
      })
      .on('tbwinit tbwfocus tbwblur tbwchange tbwresize tbwpaste tbwopenfullscreen tbwclosefullscreen tbwclose', function (e) {
        console.log(e.type);
      });
    $('#enable-disabled-textarea').click(function () {
      $('#disabled-textarea').trumbowyg('enable');
    });
    $('#disable-disabled-textarea').click(function () {
      $('#disabled-textarea').trumbowyg('disable');
    });
    /** Default editor configuration **/
    $('#simple-editor')
      .trumbowyg({
        btns: ['strong', 'em', 'del']
      })
      .on('dblclick', function () {
        $(this).trumbowyg();
      });
    // /* Add imagur parameters to upload plugin */
    // var uploadOptions = {
    //   serverPath: 'https://api.imgur.com/3/image',
    //   fileFieldName: 'image',
    //   headers: { 'Authorization': 'Client-ID 9e57cb1c4791cea' },
    //   urlPropertyName: 'data.link',
    //   imageWidthModalEdit: true
    // };
    // /** Full flat button pane **/
    // $('#flat-buttonpane')
    //   .trumbowyg({
    //     btns: [
    //       ['viewHTML'],
    //       ['p', 'blockquote', 'h1', 'h2', 'h3', 'h4'],
    //       ['strong', 'em', 'underline', 'del'],
    //       ['superscript', 'subscript'],
    //       ['createLink', 'unlink'],
    //       ['insertImage'],
    //       ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
    //       ['unorderedList', 'orderedList'],
    //       ['horizontalRule'],
    //       ['removeformat'],
    //       ['upload', 'base64', 'noembed'],
    //       ['ruby'],
    //       ['foreColor', 'backColor'],
    //       ['preformatted'],
    //       ['template'],
    //       ['fullscreen', 'close']
    //     ],
    //     plugins: {
    //       upload: uploadOptions,
    //       templates: [
    //         {
    //           name: 'Template 1',
    //           html: '<p>I am a template!</p>'
    //         },
    //         {
    //           name: 'Template 2',
    //           html: '<p>I am a different template!</p>'
    //         }
    //       ]
    //     }
    //   });
    // /********************************************************
    //  * Customized button pane + buttons groups + dropdowns
    //  * Use upload and base64 plugins
    //  *******************************************************/
    // /* Add new words for customs btnsDef just below */
    // $.extend(true, $.trumbowyg.langs, {
    //   fr: {
    //     align: 'Alignement',
    //     image: 'Image'
    //   }
    // });
    // var customizedButtonPaneTbwOptions = {
    //   lang: 'fr',
    //   fixedBtnPane: true,
    //   btnsGrps: {
    //     test: ['strong', 'em'] // Custom nammed group
    //   },
    //   btnsDef: {
    //     // Customizables dropdowns
    //     align: {
    //       dropdown: ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
    //       ico: 'justifyLeft'
    //     },
    //     image: {
    //       dropdown: ['insertImage', 'upload', 'base64', 'noembed'],
    //       ico: 'insertImage'
    //     }
    //   },
    //   btns: [
    //     ['viewHTML'],
    //     ['formatting'],
    //     ['align'],
    //     ['image'],
    //     ['foreColor', 'backColor'],
    //     ['preformatted'],
    //     ['fullscreen', 'close']
    //   ],
    //   plugins: {
    //     upload: uploadOptions
    //   }
    // };
    // $('#customized-buttonpane')
    //   .trumbowyg(customizedButtonPaneTbwOptions)
    //   .on('dblclick', function () {
    //     $(this).trumbowyg(customizedButtonPaneTbwOptions);
    //   });
    // /** Simple customization with current options **/
    // var formTbwOptions = {
    //   lang: 'fr',
    //   mobile: true,
    //   fixedBtnPane: true,
    //   fixedFullWidth: true,
    //   semantic: true,
    //   resetCss: true,
    //   removeformatPasted: true,
    //   tagsToRemove: ['script', 'style'],
    //   imageWidthModalEdit: true,
    //   autogrow: true,
    //   autogrowOnEnter: true,
    //   btnsDef: {
    //     strong: {
    //       fn: 'bold',
    //       key: 'G'
    //     }
    //   }
    // };
    // $('#form-content')
    //   .trumbowyg(formTbwOptions)
    //   .on('dblclick', function () {
    //     $(this).trumbowyg(formTbwOptions);
    //   });
    // /** Dynamic Iframe **/
    // // Create the iframe element.
    // var $iframe = $('<iframe/>').css({
    //   width: '100%',
    //   height: 400,
    //   border: 0
    // });
    // $('#dynamic-iframe-example').append($iframe);
    // // Get the document of the iframe.
    // var $editor = $('<div>', {
    //   id: 'editor'
    // }).html(
    //   '<h2>This is within an iframe</h2> <p>Soc'
    //   + 'tempor pulvinar ac ultricies, placerat in, elementum,'
    //   + 'adipiscing pid, mid augue pulvinar eros nisi! In magn'
    //   + 'magnis. Porttitor platea turpis nisi. Pulvinar massa,'
    //   + ' habitasse <strong>a nunc rhoncus adipiscing</strong></p>');
    // setTimeout(function () {
    //   var contextIframe = $iframe.contents()[0];
    //   // Set the style on the head of the iframe.
    //   $('head', contextIframe).append($('<link>', {
    //     href: '/dist/ui/trumbowyg.css',
    //     rel: 'stylesheet'
    //   }));
    //   // Set the content to be editable.
    //   $('body', contextIframe).append($editor);
    //   $editor
    //     .trumbowyg()
    //     .on('dblclick', function () {
    //       $(this).trumbowyg();
    //     });
    // }, 500);
    // /** Editor with placeholder **/
    // $('#placeholder-editor')
    //   .trumbowyg({
    //     autogrowOnEnter: true,
    //   })
    //   .on('dblclick', function () {
    //     $(this).trumbowyg();
    //   })
    //   .on('tbwfocus', function () {
    //     console.log('focus event fired');
    //   })
    //   .on('tbwblur', function () {
    //     console.log('blur event fired');
    //   });
  </script>
</form>
