

<div [formGroup]="substanceabuseForm">

<div class="row" >
  <div class="col-sm-6 m-b-20">
      <h5 class="f-w-600">Tobacco Use</h5>
      <mat-radio-group formControlName="isusetobacco">
          <mat-radio-button class="m-r-10" value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
      </mat-radio-group>
  </div>
  <div class="col-sm-6 m-b-20">
      <h5 class="f-w-600">Current Drug or Alcohol Use</h5>
      <mat-radio-group formControlName="isusedrugoralcohol">
          <mat-radio-button class="m-r-10" value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
      </mat-radio-group>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 m-b-20">
      <h5 class="f-w-600">Drug Use</h5>
      <mat-radio-group formControlName="isusedrug" >
          <mat-radio-button class="m-r-10" (click)="drugSelection('1')" value="1">Yes</mat-radio-button>
          <mat-radio-button value="2" (click)="drugSelection('2')">No</mat-radio-button>
      </mat-radio-group>
      <div class="row m-t-10">
          <div class="col-sm-8">
              <mat-form-field>
                  <input matInput formControlName="drugfrequencydetails" required placeholder="Frequency details" >
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field>
                  <input matInput formControlName="drugageatfirstuse" required placeholder="Age at first use" >
              </mat-form-field>
          </div>
      </div>
  </div>
  <div class="col-sm-6 m-b-20">
      <h5 class="f-w-600">Alcohol Use</h5>
      <mat-radio-group formControlName="isusealcohol" >
          <mat-radio-button class="m-r-10" (click)="alchoholSelection('1')" value="1">Yes</mat-radio-button>
          <mat-radio-button value="2" (click)="alchoholSelection('2')">No</mat-radio-button>
      </mat-radio-group>
      <div class="row m-t-10">
          <div class="col-sm-6">
              <mat-form-field>
                  <input matInput formControlName="alcoholfrequencydetails" required  placeholder="Frequency details" >
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field>
                  <input matInput formControlName="alcoholageatfirstuse" required placeholder="Age at first use" >
              </mat-form-field>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 m-b-20">
      <mat-form-field>
          <textarea matInput formControlName="drugoralcoholproblems" placeholder="Family/Peer/Siblings Drug or Alcohol Problems " ></textarea>
      </mat-form-field>
  </div>
</div>
<div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span>
                    <a (click)="resetForm()">Clear</a> &nbsp;
                    <button class="btn-pri" [disabled]="substanceabuseForm.pristine || substanceabuseForm.invalid" (click)="save()">Save</button>
                </span>
            </div>
        </div>
    </div>

</div>
