<div [ngStyle]="{ 'pointer-events' : isCLW ? 'none' : 'inherit' }">
    <!-- <intake-persons-involved [reviewstatus]="reviewStatus" [intakeNumberNarrative]="intakeNumberNarrative"
      [addedPersons]="addedPersons" [personsList$]="personsList$" [changePersonEvent]="addedPersonsInput$"></intake-persons-involved> -->
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 nextprev-btn">
            <div>
                <label style="margin-left: 2%;">DECISION</label>

            </div>
            <div class="row" style="margin-left:1%;">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 ">
                                    <div class="panel panel-default disposition-panel min-height">
                                        <div class="panel-heading " style="background-color: white; border: 1px solid lightgrey">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="text-uppercase">REVIEW SUMMARY</h4>
                                                    <hr />
                                                    <!-- <div class="row form-wrapper">
                                                            <div class="col-md-4">

                                                                <p> <span class="clsMinwidth-130"> Case Number </span>  :
                                                                  <span class="p-l-10">{{worksheetForm.get('casenumber').value}}</span>
                                                              </p>
                                                                <p> <span class="clsMinwidth-130"> NAME OF CHILD </span>  :
                                                                    <span class="p-l-10">{{worksheetForm.get('fullName').value}}</span>
                                                                </p>
                                                                <p> <span class="clsMinwidth-130"> CLIENT ID </span>  :
                                                                    <span class="p-l-10">{{worksheetForm.get('clientId').value}} </span>
                                                                </p>
                                                
                                                                <p> <span class="clsMinwidth-130"> Agency </span>  :
                                                                    <span class="p-l-10">{{worksheetForm.get('Agency').value}}</span>
                                                                </p>
                                                                <p> <span class="clsMinwidth-130"> DOB </span>  :
                                                                    <span class="p-l-10">{{worksheetForm.get('dob').value | date: 'MM/dd/yyyy'}}</span>
                                                                </p>
                                                                <p> <span class="clsMinwidth-130"> DATE OF REMOVAL  </span> :
                                                                    <span class="p-l-10">{{worksheetForm.get('dateOfRemoval').value | date: 'MM/dd/yyyy'}}</span>
                                                                </p>
                                                                <p> <span class="clsMinwidth-130"> JURISDICTION  </span> :
                                                                  <span class="p-l-10">{{worksheetForm.get('JURISDICTION').value}}</span>
                                                              </p>
                                                              <p> <span class="clsMinwidth-130"> AGE AT REMOVAL  </span> :
                                                                <span class="p-l-10">{{worksheetForm.get('ageOfRemoval').value}} </span>
                                                            </p>
                                                            </div>
                                                       
                                                      </div> -->

                                                    <div class="row">
                                                        <div class="row col-md-12" style="margin-top:2%">
                                                            <div class="col-md-6">
                                                                <span class="clsMinwidth-130"> Case Number </span> :
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="p-l-10">{{worksheetForm.get('casenumber').value}}</span>
                                                            </div>
                                                        </div>

                                                        <div class="row col-md-12" style="margin-top:2%">
                                                            <div class="col-md-6">
                                                                <span class="clsMinwidth-130"> NAME OF CHILD </span> :
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="p-l-10">{{worksheetForm.get('fullName').value}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row col-md-12" style="margin-top:2%">
                                                            <div class="col-md-6">
                                                                <span class="clsMinwidth-130"> CLIENT ID </span> :
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="p-l-10">{{worksheetForm.get('clientId').value}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row col-md-12" style="margin-top:2%">

                                                            <div class="col-md-6">
                                                                <span class="clsMinwidth-130"> Agency </span> :
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="p-l-10">{{worksheetForm.get('Agency').value}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row col-md-12" style="margin-top:2%">
                                                            <div class="col-md-6">
                                                                <span class="clsMinwidth-130"> DOB </span> :
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="p-l-10">{{worksheetForm.get('dob').value |
                                                                    date: 'MM/dd/yyyy'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row col-md-12" style="margin-top:2%">
                                                        <div class="col-md-6">
                                                            <span class="clsMinwidth-130"> DATE OF REMOVAL </span> :
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="p-l-10">{{worksheetForm.get('dateOfRemoval').value
                                                                | date: 'MM/dd/yyyy'}}</span>
                                                        </div>
                                                        </div>
                                                    <div class="row col-md-12" style="margin-top:2%">
                                                    <div class="col-md-6">
                                                        <span class="clsMinwidth-130"> JURISDICTION </span> :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="p-l-10">{{worksheetForm.get('JURISDICTION').value}}</span>
                                                    </div>
                                                </div>
                                                <div class="row col-md-12" style="margin-top:2%">
                                                <div class="col-md-6">
                                                    <span class="clsMinwidth-130"> AGE AT REMOVAL </span> :
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="p-l-10">{{worksheetForm.get('ageOfRemoval').value}}</span>
                                                </div>
                                                </div>
                                            </div>  
                                            
                                            <table style="width: 100%; border-radius:5px;margin-top: 3%;" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>PERIOD</th>
                                                            <th>ELIGIBILITY STATUS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-striped" style="background-color:white; padding-bottom: 20px;" *ngFor="let item of eligibilityPerioodData">
                                                        <tr *ngIf="item[0].v_sqnm_sw==='I'">
                                                            <td style="padding:16px 15px;"> {{item[0].v_sqnm_sw}} </td>
                                                            <td style="color:#C36900"> <b> {{item[0].v_fostercareeligibilitystatus ? (item[0].v_fostercareeligibilitystatus =='201_MISSING_INFO' ? 'Missing Info' : item[0].v_fostercareeligibilitystatus ) : 'No Response'}} </b></td>
                                                        </tr>
                                                        <tr *ngIf="item[0].v_sqnm_sw!=='I'">
                                                            <td style="padding:16px 15px;"> {{item[0].v_sqnm_sw}} </td>
                                                            <td style="color:#C36900"> <b> {{item[0].v_fostercareredeterminationeligibilitystatus ? (item[0].v_fostercareredeterminationeligibilitystatus =='201_MISSING_INFO' ? 'Missing Info' : item[0].v_fostercareredeterminationeligibilitystatus ) : 'No Response'}} </b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>      
                                                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>