<div class="row">
  <div class="col-md-12" [formGroup]="EliminationInfoForm">
    <div class="col-md-12">
      <h4>
        <p class="bg-theme">Elimination Information</p>
      </h4>

      <div class="row">
        <div class="col-sm-6">
          <span>Info provided by</span>
          <br>
          <mat-radio-group formControlName="infoprovidedby" required>
            <mat-radio-button [value]="1">Household</mat-radio-button>
            <mat-radio-button [value]="2">Collateral</mat-radio-button>
          </mat-radio-group>

        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select formControlName="clientlist" placeholder="Client List" required>

            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field>
            <mat-select formControlName="collaterallist" placeholder="Collateral List" required>

            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <textarea type="text" formControlName="infoprovidedname" matInput placeholder="Info Provided Name" required
              class="aut-txt-malAllComments"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select formControlName="relationship" placeholder="Relationship" required>

            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-12">
          <mat-checkbox formControlName="eliminationinfounknown">Elimination Info Unknown</mat-checkbox>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select multiple formControlName="currentstatus" placeholder="Current Status">
                <mat-option *ngFor="let item of StatusList$ | async" value="{{item.value}}">{{item.text}}
                  </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select multiple formControlName="toilettraining" placeholder="Toilet Training Method">
                <mat-option *ngFor="let item of TrainingList$ | async" value="{{item.value}}">{{item.text}}
                  </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="bowelmovement" placeholder="Word for Bowel Movement">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="urination" placeholder="Word for Urination">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <textarea type="text" formControlName="toiletcomments" matInput placeholder="Toilet Training Comments"
            ></textarea>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-12">
          <mat-checkbox formControlName="considerunknown">Special Consideration Unknown</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <textarea type="text" formControlName="specialcomments" matInput placeholder="Special Consideration Comments"
            ></textarea>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-md-12 ">
          <div class="pull-right">
              <span *ngIf="reportMode === 'add'">
            <button class="btn-pri" type="button">Clear</button>
            <button class="btn-pri" (click)="add()">Add</button>
            </span>
            <span *ngIf="reportMode === 'edit'">
                <button class="btn-pri" *ngIf="editMode === true" (click)="update()">Update</button>
                <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
             </span> 
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

