<div class="text-right mb-20">
    <!-- <label class="blue"> APPROVAL STATUS -  {{agreementList?.routingstatus}} </label> -->
    <button type="button" class="btn-pri pull-right" data-dismiss="modal" (click)="fiscalAudit()">Fiscal Audit Trail</button>
    <button class="btn-pri btn" *ngIf="agreementDetail?.agreementrate" (click)="showAgreementForm('new',agreementDetail)" [disabled]="newBtnDisabled">New Agreement</button>
</div>
<div class="table-responsive table-theme" *ngIf="agreementDetail">
    <table class="table table-striped icon-action">
        <thead>
            <tr>
                <!-- <th>Agreement</th> -->
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="newBtnDisabled">
                <!-- <td>-</td> -->
                <td class="text-caps">{{ agreementDetail?.startdate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ agreementDetail?.enddate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ agreementDetail?.routingstatus }}</td>
                <td>
                    <a (click)="showAgreementForm('view',agreementDetail)" style="padding: 5px;"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                    <a (click)="showAgreementForm('edit',agreementDetail)"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                </td>
            </tr>
            <tr *ngIf="!newBtnDisabled">
                <td colspan="5" style="text-align: center">No agreement available</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="clsGap-form clsForm-inline hide" *ngIf="placement; let data">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group clearfix">
                <label for=""> Child Name </label> <span> {{ data?.childname ? data?.childname : 'NA' }} </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group clearfix">
                <label for=""> Date of Birth </label> <span> {{ data?.dob ? (data?.dob | date: 'MM/dd/yyyy') : 'NA' }} </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group clearfix">
                <label for=""> Gender <span></span> </label> <span> {{ data?.gender ? data?.gender : 'NA' }} </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group clearfix">
                <label for=""> Age <span></span> </label> <span> {{ data?.dob ? (data?.dob | ageCal) : 'NA' }} </span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isShowAgreementForm">
    <div class="clsGap-form-block mt-30" [formGroup]="agreementGapForm">
        <h3>AGREEMENT</h3>
        <div class="clsGap-form-inner">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row mb-10">
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput [matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder="Start Date"
                                    formControlName="startdate" [min]="childdob" required (dateChange)="aggStartDateChange()" />
                                <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
                                <mat-datepicker #pickerm2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput [matDatepicker]="pickerm3" (click)="pickerm3.open()" placeholder="End Date"
                                    formControlName="enddate" required />
                                <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
                                <mat-datepicker #pickerm3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-sm-8"><label for="" class="required"> Caregiver completed a comprehensive home study </label>
                        </div>
                        <div class="col-sm-4">
                            <mat-checkbox formControlName="iscomprehensivehomestudy"></mat-checkbox>
                            <!-- {{ agreementGapForm.value.iscomprehensivehomestudy ? 'YES' : 'NO' }} -->
                            <!--
                                            <mat-radio-group>
                                              <mat-radio-button [value]=true>Yes</mat-radio-button>
                                              <mat-radio-button [value]=false>No</mat-radio-button>
                                            </mat-radio-group>
                                        -->
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-sm-8"><label for="" class="required"> The caregiver awarded custody and guardianship by the
                                court in order to receive the assistance </label></div>
                        <div class="col-sm-4">
                            <mat-checkbox formControlName="iscgawardedcustody"></mat-checkbox>
                            <!-- {{ agreementGapForm.value.iscgawardedcustody ? 'YES' : 'NO' }} -->
                            <!--
                                            <mat-radio-group formControlName="iscgawardedcustody">
                                              <mat-radio-button [value]=true>Yes</mat-radio-button>
                                              <mat-radio-button [value]=false>No</mat-radio-button>
                                            </mat-radio-group>
                                        -->
                        </div>
                    </div>
                
                    <div class="row mb-10">
                        <div class="col-sm-8"><label for="" class="required"> All Placements and Removal have been End Dated </label>
                        </div>
                        <div class="col-sm-4">
                            <mat-checkbox formControlName="isplacementenddate"></mat-checkbox>
                            <!-- {{ agreementGapForm.value.isplacementenddate ? 'YES' : 'NO' }} -->
                            <!--
                                            <mat-radio-group formControlName="isplacementenddate">
                                              <mat-radio-button [value]=true>Yes</mat-radio-button>
                                              <mat-radio-button [value]=false>No</mat-radio-button>
                                            </mat-radio-group>
                                        -->
                        </div>
                    </div>
                
                   
                
                </div>
                <div class="col-sm-3">
                    <!--
                    <mat-form-field>
                      <input matInput [matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder="Start Date" formControlName="startdate"
                        required>
                      <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
                      <mat-datepicker #pickerm2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="pickerm3" (click)="pickerm3.open()" placeholder="End Date" formControlName="enddate">
                      <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
                      <mat-datepicker #pickerm3></mat-datepicker>
                    </mat-form-field>
                --></div>
            </div>
        </div>
    </div>

    <div class="clsGap-form-block mt-30" [formGroup]="agreementGapForm">
        <h3>Signature Dates</h3>
        <div class="clsGap-form-inner">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerm5" (click)="pickerm5.open()" placeholder="Guardian One Date" formControlName="guardianonedate" required />
                        <mat-datepicker-toggle matSuffix [for]="pickerm5"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm5></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerm6" (click)="pickerm6.open()" placeholder="Guardian Two Date" formControlName="guardiantwodate" />
                        <mat-datepicker-toggle matSuffix [for]="pickerm6"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm6></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerm7"  (click)="pickerm7.open()" 
                        [min]="agreementGapForm.getRawValue().startdate" placeholder="LDSS Director/Designee" formControlName="ldssdate" required />
                        <mat-datepicker-toggle matSuffix [for]="pickerm7"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm7></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>


<div class="clsGap-form-block mt-30" *ngIf="agreementDetail?.agreementrate">
    <h3>Rate List</h3>
    <div class="text-right mt-20"><button class="btn-pri btn" (click)="selectRate('Add')">Add</button></div>
    <div class="clsGap-form-inner">
        <div class="table-responsive table-theme">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Provider ID</th>
                        <th>Rate Begin Date</th>
                        <th>Rate End Date</th>
                        <th>Payment Amount</th>
                        <th>Rate Override</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="agreementDetail?.agreementrate">
                    <tr *ngFor="let item of agreementDetail?.agreementrate;let last=last">
                        <td>{{ item.provider_id }}</td>
                        <td>{{ item.ratestartdate | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ item.rateenddate | date: 'MM/dd/yyyy' }}</td>
                        <td>{{ item.paymentamout }}</td>
                        <td>
                            <!-- <label>
                                <input type="checkbox" [checked]="item.isoverride" (click)="selectRate('Update', item, $event.value)" />
                                <span class="md-checkbox-material"> <span class="check"></span> </span> Rate Override
                            </label> -->
                            {{item.isoverride?'Yes':'No'}}
                        </td>
                        <td>
                                <span *ngIf="iscaseworker && agreementDetail.routingstatus !== 'Review' && item.status !== 'Review' && last"
                                    (click)="selectRate('Update', item, $event.value)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                                <span *ngIf="isSupervisor && last" (click)="selectRate('Update', item, $event.value)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                            <span (click)="selectRate('View', item, $event.value)">
                                <i class="fa fa-eye"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--
            <div class="row ">
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="number" matInput placeholder="Provider ID" formControlName="providerid">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="begindate1" (click)="begindate1.open()" placeholder="Rate Begin Date"
                    formControlName="ratestartdate">
                  <mat-datepicker-toggle matSuffix [for]="begindate1"></mat-datepicker-toggle>
                  <mat-datepicker #begindate1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="endate1" (click)="endate1.open()" placeholder="Rate End Date"
                    formControlName="rateenddate">
                  <mat-datepicker-toggle matSuffix [for]="endate1"></mat-datepicker-toggle>
                  <mat-datepicker #endate1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input type="number" matInput placeholder="Payment Amount" formControlName="paymentamout">
                </mat-form-field>
              </div>
            </div>
        -->
        <!--
            <div class="row">
              <div class="col-sm-4">
                <div class=" clearfix">
                  <div class="row">
                    <div class="col-sm-6 mt-10">
                      <label for="" class="textb clsWidth-100"> Rate Override </label>
                    </div>
                    <div class="col-sm-6">
                      <div class="md-checkbox">
                        <label>
                          <input type="checkbox" formControlName="isoverride">
                          <span class="md-checkbox-material">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        -->
    </div>
</div>

<div class="clsGap-form-block mt-30" [formGroup]="agreementRateForm" *ngIf="isShowRateForm">
    <div class="row header-bg">
        <div class="col-sm-9">
                <h3>Rate Details</h3>
        </div>
        <div class="col-sm-3 text-right">
                <label>{{agreementRateForm?.getRawValue()?.status}}</label>
        </div>
    </div>
    <div class="clsGap-form-inner">
        <div class="row">
            <div class="col-md-3">
                <!-- <mat-form-field>
                    <mat-select formControlName="paymenttypekey"  placeholder="Rate Type" >
                        <mat-option  value="Monthly Assistance">Monthly Assistance
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <mat-form-field> <input matInput formControlName="paymenttypekey" placeholder="Rate Type"  [disabled]="true" value="Monthly Assistance"/> </mat-form-field>

            </div>
            <div class="col-md-3">
                <!-- <mat-form-field>
                    <input formControlName="ratestartdate" matInput [matDatepicker]="endate11" (click)="endate11.open()" 
                    [min]="agreementGapForm.getRawValue().startdate" (dateChange)="ratestartdatechange()" placeholder="Rate Begin Date" required/>
                    <mat-datepicker-toggle matSuffix [for]="endate11"></mat-datepicker-toggle>
                    <mat-datepicker #endate11></mat-datepicker>
                </mat-form-field> -->
                <common-date-picker formControlName="ratestartdate" [min]="agreementGapForm.getRawValue().startdate"
                    placeholder="Rate Begin Date" [required]="true"></common-date-picker>
            </div>
            <div class="col-md-3">
                <!-- <mat-form-field>
                    <input formControlName="rateenddate" matInput [matDatepicker]="endate12"
                        [min]="agreementRateForm.getRawValue().ratestartdate" [max]="agreementRateForm.getRawValue().maxrateenddate"
                        (click)="endate12.open()" placeholder="Rate End Date" required />
                
                    <mat-datepicker-toggle matSuffix [for]="endate12"></mat-datepicker-toggle>
                    <mat-datepicker #endate12></mat-datepicker>
                </mat-form-field> -->
                <common-date-picker formControlName="rateenddate"  
                            [min]="agreementRateForm.getRawValue().ratestartdate" 
                            [max]="agreementRateForm.getRawValue().maxrateenddate" 
                            placeholder="Rate End Date" [required]= "true"></common-date-picker>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input formControlName="updatedon" matInput [matDatepicker]="endate13" (click)="endate13.open()" placeholder="Rate Approval Date"/>
                    <mat-datepicker-toggle matSuffix [for]="endate13"></mat-datepicker-toggle>
                    <mat-datepicker #endate13></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field> <input type="number" min="1" formControlName="paymentamout" matInput placeholder="Negotiated Amount" required/> 
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <!-- <p><label>Comar Rate</label></p> -->
            </div>
            <div class="col-md-4">
                <!-- <mat-form-field *ngIf="showRateApprovalStatus">
                    <input formControlName="status" disabled matInput placeholder="Approval Status" /> 
                </mat-form-field> -->
                <common-date-picker [disabled]="agreementRateForm.disabled" id="negotiateddate" formControlName="negotiateddate" placeholder="Negotiated Date"></common-date-picker>
            </div>
            <div class="col-md-4 md-checkbox mt-10">
                <div *ngIf="showRateOverride"><label>
                        <input formControlName="isoverride" type="checkbox" formControlName="isoverride" /> <span
                            class="md-checkbox-material"> <span class="check"></span> </span> Rate Override
                    </label>
                    <label for="" class="textb clsWidth-100"></label>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0px 15px">
            <mat-form-field> <textarea formControlName="notes" matInput placeholder="Notes"></textarea> </mat-form-field>
        </div>
        <div class="row" style="padding: 0px 15px">
            <!-- <button class="btn-pri" *ngIf="agreementDetail?.agreementrate" [disabled]="agreementRateForm.pristine || agreementRateForm.invalid || agreementRateForm.getRawValue().status!=='Approved' || agreementRateForm.getRawValue().status!=='Rejected'" (click)="addtorate()">Save</button> -->
            <button class="btn-pri" *ngIf="agreementDetail?.agreementrate" [disabled]="agreementRateForm.pristine || agreementRateForm.invalid || agreementRateForm.getRawValue().status === 'Review'" (click)="addedittorate()">Save</button>
            <button class="sec-btn" *ngIf="agreementDetail?.agreementrate" (click)= "isShowRateForm = false">Cancel</button>
        </div>
    </div>
</div>

<div class="clsGap-form-block mt-30" [formGroup]="agreementGapForm">
    <h3>Finalization Checklist</h3>
    <div class="clsGap-form-inner">
        <div class="row mb-10">
            <div class="col-sm-8"><label for="" class="required"> Is Child receiving TCA? (Yes/No) </label></div>
            <div class="col-sm-4">
                <mat-radio-group formControlName="ischildreceivetca" (change)="showTCA($event.value)">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row mb-10" *ngIf="agreementGapForm.value.ischildreceivetca === 'true'">
            <div class="col-sm-8 mt-10"><label for="" class="required"> TCA amount </label></div>
            <div class="col-sm-3">
                <mat-form-field>
                    <span style="width: 5%;float:left">$ </span><input type="text" numberOnly matInput
                        formControlName="tcaamount" required style="width: 95%;float:left" />
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="agreementGapForm.value.ischildreceivetca === 'true'">
            <div class="col-sm-8"><label for="" class=""> Has notification been sent to FIA? (Yes/No) </label></div>
            <div class="col-sm-4">
                <mat-radio-group formControlName="isfianotified">
                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                    <mat-radio-button [value]="0">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row" *ngIf="agreementGapForm.value.isfianotified === 1">
            <div class="col-sm-4">
                    <label for="" class=""> Date on which notification is sent to FIA</label>
                <mat-form-field>
                    <input formControlName="fianotifieddate" matInput [matDatepicker]="fianotifieddate"
                        (click)="fianotifieddate.open()" placeholder="MM/DD/YYYY"  />
                    <mat-datepicker-toggle matSuffix [for]="fianotifieddate"></mat-datepicker-toggle>
                    <mat-datepicker #fianotifieddate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="agreementGapForm.value.isfianotified === 1">
            <div class="col-sm-8"><label for="" class=""> Relative Caregiver notified to contact Child support
                </label></div>
            <div class="col-sm-4">
                <mat-radio-group formControlName="isrcnotifiedcontact">
                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                    <mat-radio-button [value]="0">No</mat-radio-button>
                    <mat-radio-button [value]="2">NA</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row" *ngIf="agreementGapForm.value.ischildreceivetca === 'true'">
            <div class="col-sm-8"><label for="" class=""> Child support has been notified of Custody and
                    Guardianship </label></div>
            <div class="col-sm-4">
                <mat-radio-group formControlName="iscsnotifiedtocustody">
                    <mat-radio-button [value]="1">Yes</mat-radio-button>
                    <mat-radio-button [value]="0">No</mat-radio-button>
                    <mat-radio-button [value]="2">NA</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Documents</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <label class="btn-pri btn-bs-file cursor-pointer">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <input type="file" (ngxf-select)="uploadFile($event)"
                            [ngxf-validate]="{ size: { min: 5 } }" multiple />Upload</label>
                </div>
            </div>
            <div class="m-t-20 m-b-20">
                <div>
                    <div class="table-responsive table-theme">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="uploadedFile?.length; else elseTemplate">
                                    <tr *ngFor="let attachment of uploadedFile;let index =index">
                                        <td>
                                            <ng-container *ngIf="attachment?.name; else elseNameTemplate">
                                                {{attachment?.name}}
                                            </ng-container>
                                            <ng-template #elseNameTemplate>
                                                {{attachment?.title}}
                                            </ng-template>
                                            <div class="progress" *ngIf="attachment.percentage">
                                                <div class="progress-bar progress-bar-primary"
                                                    role="progressbar"
                                                    attr.aria-valuenow="{{attachment.percentage}}"
                                                    aria-valuemin="0" aria-valuemax="100"
                                                    [ngStyle]="{width:attachment.percentage+'%'}">
                                                    <span class="sr-only">{{attachment.percentage}}% Complete
                                                        (success)</span>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="action-icons">
                                            <div>
                                                <a *ngIf="attachment.s3bucketpathname" matTooltip="Download"
                                                    (click)="downloadFile(attachment.s3bucketpathname)">
                                                    <i class="fa fa-download font-16" aria-hidden="true"></i>
                                                </a>
                                                <a class="m-l-10" matTooltip="Delete"
                                                    (click)="confirmDeleteAttachment(index)">
                                                    <i class="fa fa-trash font-16" aria-hidden="true"></i>
                                                </a>
                                            </div>

                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <tr>
                                        <td colspan="2">
                                            No Records Found!
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>



<!--
    <div class="mt-30">
      <h3> Rate Details </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Rate Type</th>
              <th>Rate Begin Date</th>
              <th>Rate End Date</th>
              <th>Payment Amount</th>
              <th>Actions</th>
              <th>Rate Override</th>
              <th style="width:130px;">Approval Status</th>
              <th style="width:250px;">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>12/12/2018</td>
              <td>12/12/2018</td>
              <td>12/12/2018</td>
              <td>5000</td>
              <td>
                <div class="md-checkbox">
                  <label>
                    <input type="checkbox" value="">
                    <span class="md-checkbox-material">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
-->
<div class="row mt-20" *ngIf="isSupervisor" [formGroup]="approvalStatusForm">
    <div class="col-sm-3">Approval status</div>
    <div class="col-sm-4">
        <mat-radio-group formControlName="routingstatus">
            <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
            <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="col-sm-5" *ngIf="isEnableComments">
        <mat-form-field> <input type="text" matInput placeholder="comments" formControlName="comments" /> </mat-form-field>
    </div>
</div>

<div class="text-left mt-20"><button class="btn-pri btn" data-target="#gap-placement" (click)="showCriteria()">Completion Criteria</button></div>
<div class="text-right mt-20" *ngIf="!isSupervisor">
    <button class="btn-pri btn" [disabled]="true"><i class=" fa fa-print "> </i> Print</button>
    <button class="btn-pri btn " [disabled]=" agreementGapForm.invalid || isExistRecord || agreementRateForm.invalid" (click)="addAgreement()">Submit for Approval</button>
</div>

<div class="text-right mt-20" *ngIf="isSupervisor"><button [disabled]="isSubmitted" class="btn-pri btn "  (click)="routingUpdate()">Submit</button></div>
</div>
<div class="modal fade" id="gap-placement" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
                <h4 class="modal-title bc-pop-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p>{{ gapAlertMessage }}</p>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" >Ok</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="gap-complete-criteria" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title bc-pop-title">GAP COMPLETION CRITERIA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10"><p>a. Intended action notice(DHR/SSA 1068)</p></div>
                    <div class="col-md-2">
                        <a><i class="fa fa-download" aria-hidden="true"> </i><span>View/Download</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"><p>b. Relative Caregiver application for gap</p></div>
                    <div class="col-md-2">
                        <a><i class="fa fa-download" aria-hidden="true"> </i><span>View/Download</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>c. Negotiated amount: _____ Assistance amount negotiation consideration:</p>
                        <p>i. SSI, SSDI, Survivor benefits</p>
                        <p>ii. Application of the caregiver to become the Rep. Payee for SSA benefits</p>
                        <p>iii. Child Support- application to become the payee for CS</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-10"><p>d.Written GAP agreement</p></div>
                    <div class="col-md-2">
                        <a><i class="fa fa-download" aria-hidden="true"> </i><span>View/Download</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"><p>e.Signed agreement by relative caregiver</p></div>
                    <div class="col-md-2">
                        <a><i class="fa fa-download" aria-hidden="true"> </i><span>View/Download</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"><p>f.Notice to FIA of need to end the TCA payment, where applicable.</p></div>
                    <div class="col-md-2">
                        <a><i class="fa fa-download" aria-hidden="true"> </i><span>View/Download</span></a>
                    </div>
                </div>
                <div class="text-center big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal">close</button></div>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-attachment-popup" role="dialog">
        <div class="modal-dialog modal-md custom-wid">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Confirm Delete </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete this attachment? </p>
    
                    <div class="text-right big-bot-space right-mspace-15">
                        <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No</button>
                        <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal"
                            (click)="deleteAttachment()">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="active-placement" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title bc-pop-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>An active placement exists for this child. Please end date this placement to proceed with GAP</p>
                    <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" >Ok</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rate-change-alert" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title bc-pop-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p>Please save the rate changes before proceeding</p>
                    <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" >Ok</button></div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="modal fade" id="fiscal-audit">
        <div class="modal-dialog modal-lg custom-wid">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">Fiscal Audit Trail</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="h4-title">Change History</div>
                            <div class="table-responsive table-theme m-t-20">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Transaction Date</th>
                                            <th>Transaction Type</th>
                                            <th>Begin Date</th>
                                            <th>Entry Time</th>
                                            <th>End Date</th>
                                            <th>Exit Time</th>
                                            <th>Exit Type</th>
                                            <th>Exit Reason</th>
                                            <th>Requested By</th>
                                            <th>Local Department</th>
                                            <th>Requested Date</th>
                                            <th>Approved By</th>
                                            <th>Approval Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let history of changehistory">
                                            <td>{{history.transation_dt | date:'M/d/yyyy'}}</td>
                                            <td>{{history.transation_type}}</td>
                                            <td>{{history.entry_dt | date:'M/d/yyyy'}}</td>
                                            <td>{{history.entry_tm}}</td>
                                            <td>{{history.exit_dt | date:'M/d/yyyy'}}</td>
                                            <td>{{history.exit_tm}}</td>
                                            <td>{{history.exit_type}}</td>
                                            <td>{{history.exit_reason}}</td>
                                            <td>{{history.requested_user}}</td>
                                            <td>{{history.local_dept}}</td>
                                            <td>{{history.request_dt | date:'M/d/yyyy'}}</td>
                                            <td>{{history.accepted_user}}</td>
                                            <td>{{history.accept_dt | date:'M/d/yyyy'}}</td>
                                        </tr>
                                        <tr *ngIf="!changehistory.length">
                                            <td colspan="12" style="text-align: center !important;">No History.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12 m-t-30">
                            <div class="h4-title">Financial Events</div>
                            <div class="h5-title m-t-10">Placement Validations</div>
                            <div class="row">
                                <div class="col-md-12 m-t-20">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Validation Month/Year</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let history of changehistory">
                                                    <td>{{history.validation_month}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 m-t-30">
                                    <div class="h5-title">Adjustment Payments</div>
                                    <div class="table-responsive table-theme m-t-20">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Payment ID</th>
                                                    <th>Payment Detail ID</th>
                                                    <th>Category Code</th>
                                                    <th>Service/Placement Structure</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Gross Amount</th>
                                                    <th>Receivable Amount</th>
                                                    <th>Net Amount</th>
                                                    <th>Provider ID</th>
                                                    <th>Provider Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let adjustments of adjustment">
                                                    <td>{{adjustments.payment_id}}</td>
                                                    <td>{{adjustments.payment_detail_id}}</td>
                                                    <td>{{adjustments.fiscal_category_desc}}</td>
                                                    <td>{{adjustments.service_nm}}</td>
                                                    <td>{{adjustments.final_service_start_dt | date:'M/d/yyyy'}}</td>
                                                    <td>{{adjustments.final_service_end_dt | date:'M/d/yyyy'}}</td>
                                                    <td>{{(adjustments.gross_amount_no ? adjustments.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                    <td>{{(adjustments.payment_amount_no ? adjustments.payment_amount_no : '0.00') | cjamsCurrency}}</td>
                                                    <td>{{((adjustments.gross_amount_no - (adjustments.offset_amount_no ? adjustments.offset_amount_no : 0)))  | cjamsCurrency}}</td>
                                                    <td>{{adjustments.provider_id}}</td>
                                                    <td>{{adjustments.providername}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="sec-btn pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    
<fiscal-audit></fiscal-audit>