<div role="tabpanel" class="tab-pane" id="allegation-goals">
    <div class="box-grid">
        <div class="row">
            <div class="col-sm-9">
                <h3>Manage Allegation Goals</h3>
            </div>
            <div class="col-sm-3 tab-title-btn">
                <button data-toggle="modal" data-target="#myModal-allegations-goal-add" class="btn-pri" (click)="changeModelLabel('Add')">
                    <i class="fa fa-plus right-sspace"> </i> Add Allegation Goals</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
                        <thead>
                            <tr>
                                <th sortable-column="name" sort-direction="asc">Name</th>
                                <th sortable-column="description">Description</th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" (input)="onSearch('name', $event.target.value)" value="" placeholder="Search Name">
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                                        <input class="form-control full-width" type="text" (input)="onSearch('description', $event.target.value)" value="" placeholder="Search Description">
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="allegationGoals$ | async; let allegationGoalsList">
                            <tr *ngFor="let goal of allegationGoalsList">
                                <td>{{goal.name}}</td>
                                <td>{{goal.description}}</td>
                                <td>
                                    <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#myModal-allegations-goal-add" (click)="editItem(goal)">
                                            <img src="assets/images/form-letter/edit-icon.png" alt="">
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="top" title="Delete">
                                        <a href="javascript:void(0);" (click)="confirmDelete(goal)">
                                            <img src="assets/images/form-letter/delete-icon.png" alt="">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="allegationGoalsList?.length === 0">
                                <td colspan="3">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                    <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="goalForm">
    <div class="modal fade" id="myModal-allegations-goal-add" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{labelAddEdit}} Allegation Goal</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fm-box">
                                <label class="required">Name</label>
                                <div class="fm-box-form col-sm-5">
                                    <input type="text" name="" class="form-control fm-style" placeholder="" formControlName="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="fm-box">
                                <label class="required">Description:</label>
                                <div class="fm-box-form col-sm-5 fm-narrate">
                                    <textarea class="form-control fm-style" placeholder="Start writing from here.." formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-dismiss="modal" name="">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" [disabled]="goalForm.pristine || goalForm.invalid" (click)="saveItem()"
                                    name="">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>

            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>

                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>