<div class="col-md-12 m-t-20 m-b-10">
  <h3>Short Term Goals/Next Steps</h3>
  <!-- <a class="btn-pri pull-right" (click)="addGoal()">ADD Goal</a> -->
  <button type="button" class="service-btn p-r-20 col-fnt pull-right" name="" (click)="addGoal()" 
  [disabled]="ytpData.approvalstatuskey == 'Approved' || ytpData.approvalstatuskey == 'Pending'">+ Goal</button>
</div>

<div class="col-sm-12">
  <div class="table-responsive">
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>Short Term Goals</th>
          <th>Plan of Action</th>
          <th>Responsible Parties</th>
          <th>Projected completion date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="goals.length > 0; else noRecordTemplate">
          <ng-container *ngFor="let item of goals; let index=index;">
            <tr>
              <td>
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="item.goal" placeholder="Short Term Goals">
                </mat-form-field>
              </td>
              <td >
                 <div class="row" style="margin-left: 0px !important;">
                    <div class="row">
                     <button  class="plus-btn-align p-r-10 no-bg col-fnt pull-left" (click)="addAction(item)" matTooltip="Add Actions">
                          <i class="fa fa-plus"></i> 
                          &nbsp;
                      </button> 
                    </div>
                    <div class="row" *ngFor="let action of item.actions; let ind=index;">
                    <div class="col-md-9" >
                           <mat-form-field >
                              <input type="text" matInput [(ngModel)]="action.action_plan" placeholder="Plan of action">
                            </mat-form-field>
                            
                    </div>
                    <div class="col-md-3" >
                        <a (click)="deleteAction(ind,item.actions)">
                            <i class="m-l-20  fa fa-trash text-16"></i>
                        </a>
                      </div>
                     </div>
                   </div> 
              </td>
              <td>
                <mat-form-field>
                  <mat-select [(ngModel)]="item.responsible_parties" [compareWith]="compareObjects"
                    placeholder="Responsible Parties">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of persons" [value]="item">{{item.lastname}} {{item.firstname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <common-date-picker id="projected_date" [(ngModel)]="item.projected_date" placeholder="Projected
                          completion date" [min]="maxDate">
                </common-date-picker>
              </td>
              <td>
                <a (click)="deleteGoal(index)">
                  <i class="m-l-20  fa fa-trash text-16"></i>
                </a></td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecordTemplate>
          <tr>
            <td colspan="5" class="text-center">
              No Records found
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this Goal? </p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" data-dismiss="modal" (click)="confirmDelete()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>