<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-letter-tab">
                <div class="box-grid">
                    <div class="tab-title ">
                        <div class="col-sm-9">
                            <h3>Generate Annual Applications</h3>
                        </div>
                        <div class="col-sm-3 tab-title-btn">
                            <button href="javascript:void();" data-toggle="modal" data-target="#Generate-Annual-Appl" class="btn-pri pull-right" (click)='createAnnualApplication()'>
                                <i class="fa fa-plus right-sspace"> </i> Create Annual Applications</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Service Type</th>
                                            <th>User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of batchAnnualApplication$ | async ">
                                            <td>
                                                <a data-toggle="modal" data-target="#View-Previous-Activity" (click)='activityListDate(item)'>{{item.updatedon | date:'MM/dd/yyyy'}}</a>
                                            </td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.contactname}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Generate-Annual-Appl" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Annual Application</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="col-md-12">
                        <div class="">
                            <form class="form-search-person" [formGroup]="batchFormGroup">
                                <div class="row">
                                    <div class="col-md-5 ">
                                        <div class="form-group multiple-select multi">
                                            <select multiple class="form-control full-width" formControlName="leftSelectedItems">
                                                <option *ngFor="let item of batchAnnualApplication" [style.display]="!item.isSelected ? '' : 'none'" [value]="item.provideragreementtypekey">{{item.description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <div class="btn-group btn-group-re multi-slt-btn">
                                            <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="selectAll()">
                                                Add All</button>
                                            <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="select()">
                                                Add</button>
                                            <button type="button" class="btn-pri mt-15" (click)="unSelect()"> Remove</button>
                                            <button type="button" class="btn-pri" data-target="#groupReason" data-toggle="modal" (click)="unSelectAll()">Remove All</button>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group multiple-select multi">
                                            <select multiple class="form-control full-width" formControlName="rightSelectedItems">
                                                <option *ngFor="let item of batchAnnualApplication" [style.display]="item.isSelected ? '' : 'none'" [value]="item.provideragreementtypekey">{{item.description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mrg-top25 dd-overflow-inherit">
                        <div class="" style="width:350px; text-align:left">
                            <div class="fm-box">
                                <label style="text-align:left ; width:100px;">Choose Year:</label>
                                <div class="fm-box-form col-sm-8">
                                    <ng-select [searchable]="true"[clearable]="false">
                                        <ng-option>2017</ng-option>
                                        <ng-option>2016</ng-option>
                                        <ng-option>2015</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  mrg-top25">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Provider Name</th>
                                        <th>Type</th>
                                        <th>Fiscal Year</th>
                                        <th>SSBG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Phelps In-Home Care, LLC</td>
                                        <td>In-Home Services</td>
                                        <td>2016</td>
                                        <td>0004739</td>
                                    </tr>
                                    <tr>
                                        <td>All American In-Home Care, LLC</td>
                                        <td>In-Home Services</td>
                                        <td>2016</td>
                                        <td>0012097</td>
                                    </tr>
                                    <tr>
                                        <td>Kingdom Hearts In-Home LLC</td>
                                        <td>In-Home Services</td>
                                        <td>2016</td>
                                        <td>0011329</td>
                                    </tr>
                                    <tr>
                                        <td>Care 4 Life Medical Resources, LLC</td>
                                        <td>In-Home Services</td>
                                        <td>2016</td>
                                        <td>0009332</td>
                                    </tr>
                                    <tr>
                                        <td>Independent Living Center of Southeast Missouri</td>
                                        <td>In-Home Services</td>
                                        <td>2016</td>
                                        <td>0000279</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Close" class="btn-bg" name="">Close</button>
                            <button type="button" value="Create" class="btn-pri" name="">Create</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Save" class="btn-pri" name="">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="View-Previous-Activity" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Previous Activity</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Provider Name </th>
                                        <th>Action #</th>
                                        <th>Type </th>
                                        <th>Assigned CA</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of previousActivities$ | async ">
                                        <td>{{item.providername}}</td>
                                        <td>{{item.action}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.assignedca}}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Save" class="btn-pri" name="" (click)='saveItem()'>OK</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
