<form [formGroup]="sdmFormGroup">
        <div class="tab-horizontal mr-15 mrg-btm25 custom-textarea">
            <ul class="nav nav-pills">
                <li class="active" *securityKey="'caseworker-sdm-pathway'">
                    <a href="#Decision-Making-step0" id="tab-step0" data-toggle="tab" aria-expanded="true">PATHWAY</a>
                </li>
                <li class="" *securityKey="'caseworker-sdm-maltreatment-type'">
                    <a href="#Decision-Making-step1" id="dec-mak-step1" data-toggle="tab" aria-expanded="true">MALTREATMENT TYPE</a>
                </li>
                <li class="" *securityKey="'caseworker-sdm-recommandations-overrides'">
                    <a href="#Decision-Making-step2" id="dec-mak-step2" data-toggle="tab" aria-expanded="false">RECOMMENDATION AND OVERRIDES</a>
                </li>
                <li class="" *securityKey="'caseworker-sdm-cps-response-type'">
                    <a href="#Decision-Making-step3" id="tab-step3" data-toggle="tab" aria-expanded="false">CPS RESPONSE TYPE </a>
                </li>
            </ul>
            <div class="tab-content" style="box-shadow:0 0 ">
                <div class="tab-pane active" id="Decision-Making-step0" [fieldKey]="'caseworker-sdm-pathway'">
                    <div class=" panel-default">
                        <section class="clearfix m-t-20 col-sm-12">
                            <div class="table-responsive table-theme">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Version
                                        </th>
                                        <th style="width: 250px;">
                                            Comments
                                        </th>
                                        <th>
                                            Last Updated
                                        </th>
                                        <th>
                                            Last Updated By
                                        </th>
                                        <th>Status</th>
                                        <th style="width: 242px;" *ngIf="sdmSettings.isSupervisor">Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sdmData of savedSDMs; let i = index">
                                        <td>
                                            <a (click)="switchPathway(sdmData, false)">{{sdmData.version}}</a>
                                        </td>
                                        <td>{{sdmData.comments}}</td>
                                        <td>{{sdmData.insertedon | date:'MM/dd/yyyy hh:mm a'}}</td>
                                        <td>{{sdmData.insertedby? (sdmData.insertedby[0]?.firstname + ' ' + sdmData.insertedby[0]?.lastname)
                                            : ''}}</td>
                                        <td>{{sdmData.pathwaystatus}}</td>
                                        <td *ngIf="sdmSettings.isSupervisor">
                                            <div *ngIf="sdmSettings.isSupervisor && i === 0">
                                                <button [disabled]="sdmData.pathwaystatus !== 'Review' || isClosed" class="btn btn-pri txt-white" (click)="authorizedPathway('Approved', sdmData)">Approve</button>
                                                <button [disabled]="sdmData.pathwaystatus !== 'Review' || isClosed" class="btn btn-pri txt-white" (click)="authorizedPathway('Rejected', sdmData)">Denied</button>
                                            </div>
    
                                        </td>
                                        <!-- <td>
                                            <button [disabled]="savedSDMs.length > 1" *ngIf="i === 0" class="btn btn-pri txt-white" (click)="switchPathway(sdmData, true, true)">Change Pathway
                                            </button>
                                        </td> -->
                                        <td>
                                            <button *ngIf="sdmData.isUpdatePathway" 
                                             [disabled]="(((sdmData.pathwaystatus === 'Review' || sdmData.pathwaystatus === 'Approved') && sdmData.comments && !sdmSettings.isSupervisor) || ((sdmData.pathwaystatus === 'Review') && sdmData.comments && sdmSettings.isSupervisor) || sdmData.disableChangePathwaybtn || isClosed || isServiceCase)"
                                             class="btn btn-pri txt-white" (click)="switchPathway(sdmData, true)">
                                                Change Pathway
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="tab-pane" id="Decision-Making-step1" [fieldKey]="'caseworker-sdm-maltreatment-type'">
                    <div class="panel panel-default">
                        <div class="panel-heading">MARYLAND SOCIAL SERVICES ADMINISTRATION STRUCTURED DECISION MAKING® CHILD ABUSE AND NEGLECT SCREENING
                            AND RESPONSE TIME ASSESSMENT
                        </div>
                        <!-- <div class="panel-body"> -->
                          <!--  <div class="row">
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input type="text" class="text-trans" formControlName="referralname" matInput placeholder="Referral Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3 clsIntake dpnew mt-20">
                                     <mat-form-field>
                                        <input formControlName="referraldob" matInput [matDatepicker]="picker" [max]="maxDate" id="dobirth" placeholder="D.O.B">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> 
                                    <input formControlName="referraldob" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', maxDate: null}" placeholder="MM/DD/YYYY"
                                        class="form-control fm-style" validdate>
                                    <i class="fa fa-calendar"></i>
                                </div>
    
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input type="text" formControlName="referralid" matInput placeholder="Referral ID">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3 clsIntake dpnew">
                                    <mat-form-field>
                                        <mat-select formControlName="county" placeholder="Jurisdiction">
                                            <mat-option>Select</mat-option>
                                            <mat-option *ngFor="let  sdmsdmCountyValue of sdmCountyValuesDropdownItems$ | async" value="{{sdmsdmCountyValue.value}}">
                                                {{sdmsdmCountyValue.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div> -->
    
                        <!-- </div> -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">SECTION 1. MALTREATMENT TYPE</div>
                        <div class="panel-body">
    
                            <div class="row">
                                <div class="col-sm-6" formArrayName="allegedvictim">
                                    <p> Alleged Victim(s) </p>
                                    <div class="row" *ngFor="let allegedVictimItem of sdmFormGroup['controls'].allegedvictim['controls']; let i=index" 
                                    [formGroupName]="i">
                                        <div class="col-sm-9">
                                            <mat-form-field>
                                                <input formControlName="victimname" type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn" *ngIf="sdmFormGroup['controls'].allegedvictim['controls'].length > 1" (click)="deleteFormGroup(i, 'allegedvictim')">
                                                <i aria-hidden="true" class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button [disabled]="disableCaseWorker || isClosed" class="btn btn-pri" (click)="addNewFormGroup('allegedvictim')">
                                                <i class="fa fa-plus"></i> Add Another</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" formArrayName="allegedmaltreator">
                                    <p> Alleged Maltreator(s) </p>
                                    <div class="row" *ngFor="let allegedMaltreatorItem of sdmFormGroup['controls'].allegedmaltreator['controls']; let i=index"
                                        [formGroupName]="i">
                                        <div class="col-sm-9">
                                            <mat-form-field>
                                                <input type="text" formControlName="maltreatorsname" matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn" *ngIf="sdmFormGroup['controls'].allegedmaltreator['controls'].length > 1" (click)="deleteFormGroup(i, 'allegedmaltreator')">
                                                <i aria-hidden="true" class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button [disabled]="disableCaseWorker || isClosed" class="btn btn-pri" (click)="addNewFormGroup('allegedmaltreator')">
                                                <i class="fa fa-plus"></i> Add Another</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mrg-top15">
                                <div class="col-sm-12">
                                    <label class="mt-lbl"> Provider Involved Maltreatment</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                            <mat-radio-group formControlName="maltreatment" (change)="onChangeMaltreatment($event.value)">
                                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                                <mat-radio-button value="no">No</mat-radio-button>
                                            </mat-radio-group>
                                                <ul class="list-unstyled panel-body" *ngIf="sdmFormGroup?.getRawValue()?.maltreatment === 'yes'">
                                            <li>
                                                <mat-checkbox formControlName="isfcplacementsetting">A foster care
                                                    placement
                                                    setting</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="isprivateplacement">A private placement
                                                </mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="islicenseddaycare">Licensed or unlicensed
                                                    daycare</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="isschool">School</mat-checkbox>
                                            </li>
                                        </ul>
                                        </div>
                                            <div class="col-sm-6" formArrayName="provider"
                                                *ngIf="sdmFormGroup?.getRawValue()?.maltreatment === 'yes'">
                                            <p> Providers </p>
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <mat-accordion>
                                                            <mat-expansion-panel
                                                                *ngFor="let providerItem of sdmFormGroup['controls'].provider['controls']; let i=index"
                                                            [formGroupName]="i">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                        <span id="provider"
                                                                            class="aut-lnk-malAllReportedChild">{{providerItem.value.providername}}</span>
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-12">
                                                                        <p>Provider Id : {{providerItem.value.providerid}}</p>
                                                                        <p>Provider Name : {{providerItem.value.providername}}</p>
                                                                        <p>Provider Phone : {{providerItem.value.providerphone}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                    <!-- <mat-form-field>
                                                        <input type="text" formControlName="providername" matInput>
                                                    </mat-form-field> -->
                                                    <button data-toggle="modal" data-target="#providersearch" class="btn-pri">
                                                        <i class="fa fa-plus"></i> Search Provider</button>
                                                </div>
                                                <!-- <div class="col-sm-3">
                                                    <button class="btn" (click)="deleteFormGroup(i, 'provider')">
                                                        <i aria-hidden="true" class="fa fa-times-circle"></i>
                                                    </button>
                                                </div> -->
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-sm-12">
                                                   <button data-toggle="modal" data-target="#providersearch" class="btn-pri">
                                                            <i class="fa fa-plus"></i> Add Provider</button>
                                                        <button class="btn btn-pri" (click)="addNewFormGroup('provider')">
                                                                <i class="fa fa-plus"></i> Add Another</button>
                                                </div>
                                            </div> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-6 m-t-20" *ngIf="false">
                                            <label class="" style="display: block"> Provider Known</label>
                                            <mat-radio-group formControlName="providerKnown" >
                                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                                <mat-radio-button value="no">No</mat-radio-button>
                                            </mat-radio-group>
                                        
                                        </div>
                                        <div class="col-sm-6" *ngIf="sdmFormGroup.getRawValue().providerKnown && sdmFormGroup.getRawValue().providerKnown === 'no'">
                                            <p class="pt-10">Detail</p>
                                            <mat-form-field>
                                                <input type="text" formControlName="providerunknowndetail" class="aut-txt-SDMAllegedMaltreator"
                                                    matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                        <label class="mt-lbl"> Child Fatality</label>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-radio-group formControlName="childfatality" (change)="validateChildFatality('yes')">
                                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                                    <mat-radio-button value="no">No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
    
                                </div>
                                
                            </div>
                            <section class="mrg-top15 panel-content" formGroupName="physicalAbuse">
                                <h3>PHYSICAL ABUSE</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_suspeciousdeath">Suspicious death of a child due to abuse</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_nonaccident">Non-accidental physical injury</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_injuryinconsistent">Injury inconsistent with explanation
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_insjury">Injury that appears suspicious</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_childtoxic">Giving child toxic chemicals, alcohol, or drugs</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalpa_caregiver">Caregiver action that likely caused injury
                                        </mat-checkbox>
                                    </li>
                                </ul>
                            </section>
    
                            <section class="mrg-top15 panel-content" formGroupName="sexualAbuse">
                                <h3>SEXUAL ABUSE</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <mat-checkbox formControlName="ismalsa_sexualmolestation">Sexual molestation of a child by an adult caregiver, family member or household member</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalsa_sexualact">Sexual act(s) among siblings or other children living in the home that is outside of
                                            normal exploration
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalsa_sexualexploitation">Sexual exploitation of a child by an adult caregiver, family member or household member</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalsa_physicalindicators">Physical, behavioral or suspicious indicators consistent with sexual abuse</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="ismalsa_sex_trafficking">Risk of Sex Trafficking</mat-checkbox>
                                    </li>
                                </ul>
                            </section>
    
                            <section class="mrg-top25 panel-content">
                                <h3>NEGLECT</h3>
                                <h3>General Neglect</h3>
                                <ul class="list-unstyled" formGroupName="generalNeglect">
                                    <li>
                                        <mat-checkbox formControlName="isneggn_suspiciousdeath">Suspicious death of a child
                                            due to neglect</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneggn_signsordiagnosis">Signs or diagnosis of
                                            non-organic failure to thrive</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneggn_inadequatefood">Inadequate food/nutrition or
                                            signs of malnutrition</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneggn_childdischarged">A child is being discharged
                                            from a facility and parents refuse to participate in planning
                                            for the child</mat-checkbox>
                                    </li>
                                </ul>
                                <ul class="list-unstyled" formGroupName="arGeneralNeglect">
    
                                    <li>
                                        <mat-checkbox formControlName="isneggn_exposuretounsafe">Exposure to unsafe
                                            conditions in the home</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneggn_inadequateclothing">Inadequate clothing or
                                            hygiene</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneggn_inadequatesupervision">Inadequate supervision</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_treatmenthealthrisk">Physical treatment of the child poses a significant risk to child health or welfare</mat-checkbox>
                                </li>
                                </ul>
                            </section>
    
                            <section class="mrg-top15 panel-content">
                                <h3>Failure to Protect</h3>
                                <mat-checkbox formControlName="isnegfp_cargiverintervene">The caregiver does not intervene despite knowledge (or reasonable expectation that the caregiver
                                    should have knowledge) that the child is being harmed (includes physical or sexual abuse,
                                    neglect or mental injury) by another person
                                </mat-checkbox>
                            </section>
    
                            <section class="mrg-top15 panel-content">
                                <h3>Abandonment</h3>
                                <mat-checkbox formControlName="isnegab_abandoned">A child of any age has been abandoned</mat-checkbox>
                            </section>
    
                            <section class="mrg-top15 panel-content">
                                <h3>Unattended Child</h3>
                                <ul class="list-unstyled" formGroupName="unattendedChild">
                                    <li>
                                        <mat-checkbox formControlName="isneguc_leftunsupervised">A child of any age who is physically, intellectually or cognitively disabled is left
                                            unsupervised or with responsibilities beyond his or her capabilities</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneguc_leftaloneinappropriatecare">A child under the age of 8 has been left alone or in the care of an inappropriate caregiver</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isneguc_leftalonewithoutsupport">A child over the age of 8 has been left alone without support systems for long periods
                                            of time or with responsibilities beyond his or her capabilities</mat-checkbox>
                                    </li>
                                </ul>
                            </section>
                            <section class="mrg-top15 panel-content">
                                <h3>Medical Neglect</h3>
                                <!-- <p>Select Boxes Field</p> -->
                                <ul class="list-unstyled">
                                    <li>
                                        <mat-checkbox formControlName="isnegmn_unreasonabledelay">The unreasonable delay, refusal, or failure on the part of the caregiver to seek, obtain,
                                            and/or maintain necessary medical, dental or mental health care</mat-checkbox>
                                    </li>
                                </ul>
                            </section>
    
                            <section class="mrg-top15 panel-content">
                                <h3>MENTAL INJURY</h3>
                                <h3>Abuse</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <mat-checkbox formControlName="ismenab_psycologicalability">A child has an observable, identifiable, and substantial impairment of his/her mental
                                            or psychological ability to function as a result of an act of a parent, permanent
                                            or temporary caregiver or household or family member.</mat-checkbox>
                                    </li>
                                </ul>
                            </section>
                            <section class="mrg-top15 panel-content">
                                <h3>Neglect</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <mat-checkbox formControlName="ismenng_psycologicalability">A child has an observable, identifiable, and substantial impairment of his/her mental
                                            or psychological ability to function as a result of failure to act by a parent, permanent
                                            or temporary caregiver, or household or family member</mat-checkbox>
                                    </li>
                                </ul>
                            </section>
                            <section class="mrg-top15 panel-content">
                                <h3>RISK OF HARM</h3>
                                <ul class="list-unstyled" formGroupName="riskofHarm">
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_priordeath">Prior child fatality and a new child in the home</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_exposednewborn">Substance Exposed Newborn</mat-checkbox>
                                    </li>
                                    <!-- <li>
                                        <mat-checkbox formControlName="isnegrh_domesticviolence">Exposure to Domestic Violence in the home</mat-checkbox>
                                    </li> -->
                                    <!-- <li>
                                        <mat-checkbox formControlName="isnegrh_sexualperpetrator">Known sexual perpetrator has unsupervised or unrestricted access to child</mat-checkbox>
                                    </li> -->
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_basicneedsunmet">Child's basic needs are likely to be unmet due to caregiver impairment</mat-checkbox>
                                    </li>
                                    <!-- <li>
                                        <mat-checkbox formControlName="isnegrh_substantial_risk">Substantial Risk of Harm due to domestic violence</mat-checkbox>
                                    </li> -->
                                    <!-- <li>
                                        <mat-checkbox formControlName="isnegrh_substantial_risk" (change)="validateRiskForm($event)">Substantial Risk of
                                            Harm due to domestic violence
                                        </mat-checkbox>
                                    </li> -->
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_sex_offender" (change)="validateRiskForm($event)">Risk of Sex Abuse by Registered Sex Offender
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_risk_dv" (change)="validateRiskForm($event)">Risk of Domestic Violence
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_sex_trafficking" (change)="validateRiskForm($event)">Risk of Sex Trafficking
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_fatality_can" (change)="validateRiskForm($event)">Previous Fatality or Serious Injury of a Child due to Child Abuse or Neglect
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_indicated_unsub" (change)="validateRiskForm($event)">Prior Indicated or Unsub Finding and Child under age 5
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_survivor" (change)="validateRiskForm($event)">Adult Survivor of Child Maltreatment
                                        </mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox formControlName="isnegrh_birth_match" (change)="validateRiskForm($event)">Birth Match
                                        </mat-checkbox>
                                    </li> 
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                                <button type="button" class="btn btn-pri txt-white mt-15" (click)="goToNextPage('dec-mak-step2')" [disabled]="isClosed" > RECOMMENDATION AND OVERRIDES </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Decision-Making-step2" [fieldKey]="'caseworker-sdm-recommandations-overrides'">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">RECOMMENDATION AND OVERRIDES</div>
                                <div class="panel-body">
                                    <div class="panel-content">
                                        <h3>Initial Screening Recommendation</h3>
                                        <mat-radio-group formControlName="screeningRecommend" disabled (change)="changeScreenOutIN($event.value)">
                                            <mat-radio-button value="ScreenOUT">Screen out (no maltreatment type is marked)</mat-radio-button>
                                           <!--  <mat-radio-button value="Scrnin">Screen in (one or more maltreatment types are marked)
                                            </mat-radio-button> -->
                                            <mat-radio-button value="Scrnin">Screen in ({{initialScreenInMessage}})</mat-radio-button>
                                            <mat-radio-button value="accept_as_noncps">Accept as Non-CPS: Only Risk of Harm
                                                type is marked</mat-radio-button>
                                        </mat-radio-group>
                                        <div *ngIf="sdmSettings.isSupervisor && !sdmSettings.isDisableOverride" style="color:#FF0000;margin-left: 17px;">
                                            You have {{dayToOverride}} days to Override Recommendation</div>
                                        <div *ngIf="sdmSettings.isSupervisor && sdmSettings.isDisableOverride" style="color:#FF0000;margin-left: 17px;">
                                            Cannot Override Recommendation for Intake requests beyond 60 days.</div>
                                    </div>
                                    <div class="panel-content">
                                        <h3>Overrides</h3>
                                        <mat-radio-group formControlName="scnRecommendOveride" (change)="changeOverScreenOutIN($event.value)">
                                            <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="">No overrides apply
                                            </mat-radio-button>
                                            <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="OvrScrnout">Screen out: No maltreatment type is marked, but referral will be opened and assigned
                                                for child protective services (CPS) investigation (mark all that apply)
                                            </mat-radio-button>
                                            <div class="screen-out" *ngIf="isScreenOutIN === 'OvrScrnout'">
                                                <ul class="list-unstyled" formGroupName="screenOut">
                                                    <li>
                                                        <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_insufficient">Insufficient information to locate child/family</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_information">Information forwarded to another jurisdiction</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_historicalinformation">Historical information, victim is now an adult, and no children are in
                                                            the care of alleged perpetrator</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrnoutrecovr_otherspecify">Other (specify)
                                                        </mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="no-placeholder">
                                                                    <mat-form-field>
                                                                        <textarea [disabled]="sdmSettings.isDisableOverride" formControlName="scrnout_description" type="text" matInput placeholder=""></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <mat-radio-button [disabled]="sdmSettings.isDisableOverride" value="Ovrscrnin">Screen in: One or more maltreatment types are marked, but referral will be screened
                                                out (mark all that apply)</mat-radio-button>
                                        </mat-radio-group>
    
                                        <div class="screen-in" *ngIf="isScreenOutIN === 'Ovrscrnin'">
                                            <ul class="list-unstyled" formGroupName="screenIn">
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrninrecovr_courtorder">Court order for an investigation</mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox [disabled]="sdmSettings.isDisableOverride" formControlName="isscrninrecovr_otherspecify">Other (specify)
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="no-placeholder">
                                                                <mat-form-field class="custom-textarea">
                                                                    <textarea [disabled]="sdmSettings.isDisableOverride" formControlName="scrnin_description" type="text" matInput placeholder=""></textarea>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-content">
                                        <h3>Final Screening Decision (after consideration of overrides)</h3>
                                        <!-- <mat-radio-group formControlName="isfinalscreenin" (change)="changeFinalScreenDecision($event.value)"> -->
                                        <mat-radio-group formControlName="isfinalscreenin" disabled>
                                            <mat-radio-button value="false">Screen out: No maltreatment type is marked and no screen-in overrides apply</mat-radio-button>
                                            <mat-radio-button value="true">Screen in: At least one maltreatment type or screen-in override is marked and no
                                                screen-out overrides are marked. Complete Section 3, Response Time Decision</mat-radio-button>
                                            <mat-radio-button value="Ovr_as_noncps">Accept as Non-CPS: Only Risk of Harm
                                                type is marked</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" >RESPONSE TIME DECISION (complete for all screened in reports) <span style="color:#FF0000">*</span></div>
                                <div class="panel-body">
                                    <div class="panel-content">
                                        <mat-radio-group formControlName="immediate" (change)="changeImmediate($event.value)">
                                            <mat-radio-button value="Immediate">Immediate response required based on one or more criteria below (mark all that apply):</mat-radio-button>
                                            <div class="screen-out Immediate" formGroupName="immediateList" *ngIf="isImmediate === 'Immediate'">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <mat-checkbox formControlName="isimmed_childfaatility">Child fatality or near fatality where abuse/neglect is suspected</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isimmed_seriousinjury">Serious injury to child and other children remain in home</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isimmed_childleftalone">Child left alone/abandoned and requires immediate care. Age of youngest
                                                            child in years</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isimmed_allegation">Allegation of child abuse or neglect in an out-of-home setting</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isimmed_otherspecify">Other (specify)
                                                        </mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="no-placeholder">
                                                                    <!-- <p>Text Area Field</p> -->
                                                                    <mat-form-field>
                                                                        <textarea formControlName="immediateList6" type="text" matInput placeholder=""></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <mat-radio-button value="No Immediate">No immediate response criteria exist and allegations include the following:</mat-radio-button>
                                            <div class="screen-out No-Immediate" *ngIf="isImmediate === 'No Immediate'">
                                                <ul class="list-unstyled" formGroupName="noImmediateList">
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_physicalabuse">Physical abuse-response within 24 hours</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_sexualabuse">Sexual abuse-response within 24 hours</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_neglectresponse">Neglect-response within 5 days</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_mentalinjury">Mental
                                                                injury-response within 5 day 
                                                        </mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_screeninoverride">Screen-in 
                                                            Override</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_substantial_risk">There is
                                                                Risk
                                                                of Harm for a Substance Exposed Newborn. Response within 48 hours.</mat-checkbox>
                                                    </li>
                                                    <li>
                                                        <mat-checkbox formControlName="isnoimmed_risk_harm">There is Risk of
                                                            Harm. Response within 5 days.</mat-checkbox>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-radio-group>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"> DANGERED INFLUENCE</div>
                                <div class="panel-body">
                                    <div class="panel-content">
                                        <div class="box-outline">
                                            <label>Report includes allegation of abuse in which child is under 1 year old and has received
                                                corporal punishment.</label>
                                            <div class="clearfix"></div>
                                            <mat-radio-group formControlName="childunderoneyear" (change)="changeChildInderOneYear($event.value)" style="display:inline-block; margin-top:10px; padding-bottom:0px;">
                                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                                <mat-radio-button value="No">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="box-outline">
                                            <section>
                                                <label>Law Enforcement Officer Details</label>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input type="text" formControlName="officerfirstname" matInput placeholder="Officer First Name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input type="text" formControlName="officermiddlename" matInput placeholder="Officer Middle Name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input type="text" formControlName="officerlastname" matInput placeholder="Officer Last Name">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input type="text" formControlName="badgenumber" matInput placeholder="Badge Number">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input type="text" formControlName="recordnumber" matInput placeholder="Record Number">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input formControlName="reportdate" matInput [matDatepicker]="picker1" id="date1" placeholder="Date & Time of Officer's Report">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="box-outline" style="margin-bottom:-10px;">
                                            <section>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input formControlName="worker" type="text" matInput placeholder="Worker">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input formControlName="supervisor" type="text" matInput placeholder="Supervisor">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input formControlName="workerdate" matInput [matDatepicker]="picker2" id="date2" placeholder="Date & Time of Worker's Report">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field>
                                                            <input formControlName="supervisordate" matInput [matDatepicker]="picker3" id="date3" placeholder="Date & Time of Supervisor's Report">
                                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker3></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-4" *ngIf="isChildInderOneYear === 'Yes'">
                                                        <div class="no-placeholder">
                                                            <mat-form-field>
                                                                <textarea formControlName="childUnderOneYear" type="text" matInput placeholder=""></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <!-- <div class="row">
                        <div class="col-sm-12">
                    <h4 class=" required">CPS</h4>
    
                    <div class="">
                        <div class="">
                            <mat-radio-group formControlName="iscps">
                                <mat-radio-button value="true">CPS</mat-radio-button>
                                <mat-radio-button value="false">Non - CPS</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                </div> -->
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-pri txt-white mt-15" [disabled]="isClosed" (click)="goToNextPage('tab-step3')" > CPS RESPONSE TYPE </button>
                    </div>
                </div>
                
           
                </div>
                <div class="tab-pane" id="Decision-Making-step3" [fieldKey]="'caseworker-sdm-cps-response-type'">
                    <div class="">
                        <div class="col-sm-6">
                            <h4>Mandatory Disqualifying Criteria</h4>
    
                            <ul class="list-unstyled" formGroupName="disqualifyingCriteria">
                                <li>
                                    <mat-checkbox [disabled]="sdmSettings.issexualabuse" formControlName="issexualabuse">Sexual Abuse
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox [disabled]="sdmSettings.isoutofhome" formControlName="isoutofhome">Abuse or neglect that occurs in an out-of-home placement (resource home. Child Placement Agency
                                        (CPA), group home)</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox [disabled]="sdmSettings.isdeathorserious" formControlName="isdeathorserious">Abuse or neglect resulting in death or serious physical or mental injury</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="isrisk">Level of case severity/risk is moderate to high</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox [disabled]="sdmSettings.isdeathorserious" formControlName="isreportmeets">Report meets criteria for Mental Injury Investigation </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox [disabled]="sdmSettings.issignordiagonises" formControlName="issignordiagonises">Signs or Diagnosis of failure to thrive</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="ismaltreatment3yrs">The individual suspected of child maltreatment has been identified as responsible for abuse
                                        or neglect in the previous 3 year period as documented in agency case record</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="ismaltreatment12yrs">The individual suspected of abuse or neglect has had one report assigned to alternative response
                                        within the prior 12 months.
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="ismaltreatment24yrs">The individual suspected of abuse or neglect has had two report assigned to alternative response
                                        within the prior 24 months.
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="isactiveinvestigation">An active investigation or alternative response is in progress. </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6" formGroupName="disqualifyingFactors">
                            <h4>Discretionary Disqualifying Factors</h4>
    
                            <ul class="list-unstyled">
                                <li>
                                    <mat-checkbox formControlName="isreportedhistory">Reported history of a family's inability or refusal to participate in the Alternative Response
                                        assessment which may include:</mat-checkbox>
                                    <ul class="list-unstyled" style="margin-left: 25px;">
                                        <li>- Family refuses worker access to a child</li>
                                        <li>- Family refuses to discuss allegations</li>
                                        <li>- Family refuses to cooperate and risk and safety are a concern</li>
                                        <li>- Family rejects the services necessary to address immediate safety issues for the child
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="ismultiple">Multiple similar reports (within 120 days)</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="isdomesticvoilence">Allegations that the maltreater is responsible for domestic violence currently occurring
                                        in the home</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="iscriminalhistory">Criminal history bearing on child safety
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="isthread">A current expressed threat of serious harm to child
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="islawenforcement">A need for law enforcement assistance</mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox formControlName="iscourtiinvestigation">Court ordered investigation
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-12">
                            <h4>CPS Response Type</h4>
                        </div>
                        <div class="col-sm-12">
                            <mat-radio-group [disabled]="true" formControlName="cpsResponseType">
                                <mat-radio-button value="CPS-AR">CPS-AR</mat-radio-button>
                                <mat-radio-button value="CPS-IR">CPS-IR</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="clearfix" *ngIf="pathwayChange">
                        <div class="pathwaychange">
                            <div class="col-sm-12 m-t-10 right-matsec">
                                <!-- D-08085 Start-->
                                <h4>Pathway change comments <span style="color: red">*</span></h4>
                                <!-- D-08085 End-->
                                <mat-form-field>
                                    <textarea matInput placeholder="" required formControlName="comments"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-pri txt-white mt-15" [disabled]="sdmFormGroup.pristine || sdmFormGroup.invalid || isClosed" (click)="savePathway()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade in modal-theme" id="providersearch" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
    
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Search Provider To ADD</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput placeholder="Provider ID" [(ngModel)]="searchprovider.providerid">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput placeholder="Provider Name" [(ngModel)]="searchprovider.providernm">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="false">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput placeholder="Provider First Name" [(ngModel)]="searchprovider.providerfname">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input matInput placeholder="Provider Last Name" [(ngModel)]="searchprovider.providerlname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-20">
                            <button class="btn btn-pri btn-theme pull-right" (click)="searchProvider()">Search</button>
                        </div>
                    </div>
                    <div class="row" *ngIf ="providersList.length">
                        <div class="col-sm-12">
                            <h4 class="h4-title m-t-20">Results</h4>
                            <div class="table-theme table-responsive m-t-20" >
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Provider Category</th>
                                            <th>Provider Id</th>
                                            <th>Provider/Program Name</th>
                                            <!-- <th>County Code</th> -->
                                            <th>Tax Id</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of providersList">
                                            <td>
                                                <mat-radio-group>
                                                    <mat-radio-button (click)="selectProvider(item)" value="1">
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td>{{item.provider_category_cd}}</td>
                                            <td>{{item.provider_id}}</td>
                                            <td>{{item.provider_nm}}</td>
                                            <td>{{item.tax_id_no}}</td>
                                            <td>
                                                <span>
                                                    <p *ngIf="item.provider_status_cd == 1791">open</p>
                                                    <p *ngIf="item.provider_status_cd == 1792">closed</p>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="text-center m-t-20" *ngIf="providersList; let providersList">
                                <pagination-controls class="text-center m-t-20" id='provider-extng' *ngIf="providersList.length>0"
                                  (pageChange)="p = $event"></pagination-controls>
                              </div> -->
                        </div>
                    </div>
                    <div class="modal-footer wizard-buttons">
                        <div class="col-sm-12 text-right m-t-20" *ngIf ="providersList.length">
                            <button class="btn btn-pri btn-theme pull-right" data-dismiss="modal" (click)="onConfirmProvider()">SELECT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>