
.b-b {
	border-bottom: 2px solid #e0e8f8;
}
.b-t {
	border-top: 6px solid #e0e8f8;
}
.semi-b {
	font-weight: 600;
}
.p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}
.p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}
h4 {
    font-size: 16px;
    font-weight:600;
}
.customtab.nav-tabs > li > a.active {
    background-color: #e0e8f8;
    color: #333;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}