<div class="row mt-10">
    <div class="col-md-12 mt-10">
        <h3>HOUSING</h3>
    </div>
</div>
<form [formGroup]="housingFormGroup" class="pl-10">

    <div class="row mt-20">
        <div class="col-md-12">
        <label class="required">Current Living Situation:</label>
        <mat-form-field>
            <textarea formControlName="currentlivingsituation" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <label class="required">Future Plans/Goals for Housing:</label>
        <mat-form-field>
            <textarea formControlName="futuregoals" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <label class="required">Plan for housing upon discharge:</label>
        <mat-form-field>
            <textarea formControlName="planforhousing" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
      <short-term-goals [goals]="housingShortTermGoals" ></short-term-goals>
    </div>
    <div class="row">
        <div class="col-md-12 qa_Box mb-20  mt-20">
            <h4 class="text-center mb-20">??DO YOU KNOW...??</h4>
          <qa-list [questions] = "housingDoYouKnowItems"></qa-list>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" value="Clear" class="btn-bg" name="" (click)="clear()">Clear</button>
                <button type="button" value="Save" class=" btn-pri" name="" (click)="save()" >Save</button>
            </div>
        </div>
    </div>
</form>
