<div class="container-fluid m-t-50">
   <h4 class="mrg-top25">Provider Portal Applications</h4>
   <div class="dashboard-cont no-pad">
 
      <div class="tab-content boxgrid">
         <div class="tab-pane active" >
            <div class="cnt-min-height">
               <div class="bs-example">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Provider Id</th>
                           <th>Applicant Id</th>
                           <th>License Type</th>
                           <th>Program Name</th>
                           <th>Corporation Name</th>
                           <th>Contact Person</th>
                           <th>Mailing Address</th>
                           <th>Contact Phone Number</th>
                           <th>Contact Email</th>
                           <th>Contact Fax</th>
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container id="application-pending">
                           <tr *ngFor="let applicant of applicants | paginate: { itemsPerPage: 15, currentPage: p }">
                              
                              <td>
                                    <a *ngIf="applicant.provider_id" [routerLink]="['/pages/provider-portal-temp/current-private-provider', applicant.provider_id]">{{applicant.provider_id}}</a>
                                    <p *ngIf="!applicant.provider_id">N/A</p>
                              </td>
                              <td>
                                 <a [routerLink]="['/pages/provider-portal-temp/current-application', applicant.applicant_id]">{{applicant.applicant_id}}</a>
                                 <!-- {{applicant.applicant_id}} -->
                              </td>
                              <td>{{applicant.program_type}}</td>
                              <td>{{applicant.program_name}}</td>
                              <td>{{applicant.corporation_name}}</td>
                              <td>{{applicant.contact_person}}</td>
                              <td>{{applicant.mailing_address}}</td>
                              <td>{{applicant.contact_phonenumber}}</td>
                              <td>{{applicant.contact_email}}</td>
                              <td>{{applicant.contact_fax}}</td>
                           </tr>
                        </ng-container>
 
                        <ng-container id="application-rejected">
 
 
                        </ng-container>
 
                        <ng-container id="application-accepted">
 
 
                        </ng-container>
                     </tbody>
                  </table>
                  <div class="text-center m-t-20" *ngIf="applicants; let applicants">
                        <pagination-controls class="text-center m-t-20" *ngIf="applicants.length>0" (pageChange)="p = $event"></pagination-controls>
                  </div>
               </div>
            </div>
         </div>
 
      </div>
      </div>
      </div>
      