<div class="container-fluid">
    <div class="row m-t-30">
      <div class="col-md-12">
        <h4>Fiscal Category</h4>
        <button type="button" class="btn-pri pull-right ds-block" data-toggle="modal" data-target="#add-fiscal">Add Fiscal Category</button>
        
        <div class="table-responsive table-theme table-position m-t-10">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fiscal Category Code</th>
                <th>Fiscal Category Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getFiscalCodeList">
                <td>{{item.fiscal_category_cd}}</td>
                <td>{{item.fiscal_category_desc}}</td>
                <td>{{item.start_dt | date : 'MM-dd-yyyy'}}</td>
                <td>{{item.end_dt | date : 'MM-dd-yyyy'}}</td>
                <td class="btn-icon">
                  <button type="button" (click)="viewAccount(item)" data-toggle="modal" data-target="#view-fiscal"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button type="button" (click)="editAccount(item)" data-toggle="modal" data-target="#update-fiscal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button type="button" (click)="confirmDelete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr *ngIf="getFiscalCodeList?.length === 0">
                  <td colspan="5" style="text-align: center !important;">
                      No records found.
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-10">
              <div class="text-center" *ngIf="totalcount > 10">
                  <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                  </pagination>
              </div>
          </div>
        </div>
      </div>
    </div>
</div> 
<div class="modal fade" id="add-fiscal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()">x</span>
                </button>
                <h4 class="modal-title">Fiscal Category Code</h4>
            </div>
            <div class="modal-body">
              <div [formGroup]="fiscalForm">
                <div class="row">
                  <div class="col-md-4">
                      <mat-form-field >
                          <input formControlName="fiscal_category_cd" mask="0000" matInput placeholder="Fiscal Category Code" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <input formControlName="start_dt" matInput [matDatepicker]="picker1" placeholder="Start Date" required>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <input formControlName="end_dt" matInput [matDatepicker]="picker2" placeholder="End Date" [min]="fiscalForm.value.start_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <mat-form-field >
                          <input formControlName="fiscal_category_desc" matInput placeholder="Fiscal Category Description" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <mat-select formControlName="eligibility_cd"  placeholder="Eligibility Check" required>
                            <mat-option *ngFor="let item of eligibilityCheck$ | async" [value]="item.value">{{item.text}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <p>Payment Type <span class="required"></span></p>
                      <mat-radio-group formControlName="ancillary_maintenance_sw">
                          <mat-radio-button value="A">Ancillary</mat-radio-button>
                          <mat-radio-button value="M">Maintenance</mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field>
                        <mat-select formControlName="payment_type_cd"  placeholder="Payment Type (Report)" required>
                          <mat-option *ngFor="let item of paymentTypes$ | async" [value]="item.value">{{item.text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-pri pull-right" (click)="addFiscal(fiscalForm.value)">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-fiscal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearItem()">x</span>
                </button>
                <h4 class="modal-title">Fiscal Category Code</h4>
            </div>
            <div class="modal-body">
              <div [formGroup]="editFiscalForm">
                <div class="row">
                  <div class="col-md-4">
                      <mat-form-field >
                          <input formControlName="fiscal_category_cd" matInput placeholder="Fiscal Category Code" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <input formControlName="start_dt" matInput [matDatepicker]="picker3" placeholder="Start Date" required>
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <input formControlName="end_dt" matInput [matDatepicker]="picker4" placeholder="End Date" required [min]="editFiscalForm.value.start_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <mat-form-field >
                          <input formControlName="fiscal_category_desc" matInput placeholder="Fiscal Category Description" required>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field>
                          <mat-select formControlName="eligibility_cd"  placeholder="Eligibility Check" required>
                            <mat-option *ngFor="let item of eligibilityCheck$ | async" [value]="item.value">{{item.text}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                      <p>Payment Type <span class="required"></span></p>
                      <mat-radio-group formControlName="ancillary_maintenance_sw">
                          <mat-radio-button value="A">Ancillary</mat-radio-button>
                          <mat-radio-button value="M">Maintenance</mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field>
                        <mat-select formControlName="payment_type_cd"  placeholder="Payment Type (Report)" required>
                          <mat-option *ngFor="let item of paymentTypes$ | async" [value]="item.value">{{item.text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-pri pull-right" (click)="updateFiscal(editFiscalForm.value)">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="view-fiscal" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" (click)="clearItem()">x</span>
              </button>
              <h4 class="modal-title">Fiscal Category Code</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>Fiscal Category Code</p>
                    <p>{{selectedAccount?.fiscal_category_cd}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>Start Date</p>
                    <p>{{selectedAccount?.start_dt | date:'M/d/yyyy'}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>End Date</p>
                    <p>{{selectedAccount?.end_dt | date:'M/d/yyyy'}}</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>Fiscal Category Description</p>
                    <p>{{selectedAccount?.fiscal_category_desc}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>Eligibility Check</p>
                    <p>{{selectedAccount?.eligibilitytype}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="view-fiscal-text">
                    <p>Payment Type</p>
                    <p>{{ancillary}}</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="view-fiscal-text">
                  <p>Payment Type (Report)</p>
                  <p>{{selectedAccount?.paymenttype}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="sec-btn pull-right" (click)="closeModal()">Close</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="delete-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"> Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
            </div>
            <div class="modal-footer">
                <div class="text-right right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" data-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteAccount()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>