<div [formGroup]="applicantProgramFormGroup">
    <div class="row modal-content-pad modal-height-body">
        <div class="col-sm-3 ">
            <mat-form-field>
                <input type="text"  matInput formControlName="prgram" placeholder="Program" required>
            </mat-form-field>

            <mat-form-field>
                    <input type="text"  matInput formControlName="program_type" placeholder="Program Type" required>
            </mat-form-field>

            <mat-form-field>
                    <input type="text"  matInput formControlName="program_name" placeholder="Program Name" required>
            </mat-form-field>
            <mat-form-field>
                    <input type="text" mask="00-0000000"  matInput formControlName="program_tax_id_no" placeholder="Program Tax Id" required>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Accreditation" formControlName="accreditation">
                    <mat-option *ngFor="let item of accreditationList$ | async"
                        value="{{item.ref_key}}" >
                        {{ item.description }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-radio-group formControlName="profit">
                <mat-radio-button value="PROFIT">PROFIT</mat-radio-button>
                <mat-radio-button value="NON-PROFIT">NON PROFIT</mat-radio-button>
            </mat-radio-group>
        <!-- <mat-card>
            <h3>Program Details</h3>
            <mat-card-title>Program Details </mat-card-title>
            <mat-form-field>
                <input type="text"  matInput formControlName="contact_first_nm" placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
                <input type="text"  matInput formControlName="contact_last_nm" placeholder="Last Name">
            </mat-form-field>
        </mat-card> -->
        </div>

        <div class="col-sm-3 ">
            <!-- Accomodation Details -->
            <mat-card>
                <mat-card-title>Program Information</mat-card-title>
            <mat-form-field>
                <!-- <input type="text"  matInput formControlName="gender_cd" placeholder="Gender"> -->
                <mat-select placeholder="Gender" formControlName="gender_cd" required>
                    <mat-option *ngFor="let item of genderList" [value]="item.description">
                        {{item.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input type="text"  matInput formControlName="minimum_age_no" placeholder="Min Age" maxlength="3" (keyup)="checkNumber($event)" numberOnly required>
            </mat-form-field>
            <mat-form-field>
                <input type="text"  matInput formControlName="maximum_age_no" placeholder="Max Age" maxlength="3" (keyup)="checkNumber($event)" numberOnly required> 
            </mat-form-field>
            
            <mat-form-field>
                <input type="text"  matInput formControlName="children_no" placeholder="Capacity" maxlength="3" (keyup)="checkNumber($event)" numberOnly required>
            </mat-form-field>

            <!-- Put in single line called IQ Range -->
            <mat-form-field>
                <input type="text"  matInput formControlName="iq_range_from" placeholder="Min IQ">
            </mat-form-field>
            <mat-form-field>
                <input type="text"  matInput formControlName="iq_range_to" placeholder="Max IQ">
            </mat-form-field>
        </mat-card>
        </div>

        <!-- Address table -->
        <div class="col-sm-6">
            <div class="table-responsive table-theme">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let address of addresses"> 
                            <td>{{address.adr_street_no}},
                                {{address.adr_street_nm}},
                                {{address.adr_city_nm}},
                                {{address.adr_state_cd}},
                                {{address.adr_zip5_no}}
                            </td>
                            <td>
                                {{address.address_type}}
                            </td>
                            <td>
                                <button class="no-bg" (click)="EditAddress(address)"><i class="fa fa-pencil"></i></button> 
                                <button class="no-bg" (click)="DeleteAddress(address)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button [hidden]='isSubmitted'  type="submit" class="btn-pri" data-target="#intake-address"
                    data-toggle="modal" (click)="initializeAddressForm()">+ Address
            </button>
        </div>
    </div>
    <div>
        <a [hidden]='isSubmitted' class="btn-pri" (click)="saveApplicantProgramInformation()">Save</a>
    </div>
</div>



<div class="modal fade in" id="intake-address" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Address</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="addressForm">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="">Address Details</h4>
                            <!-- <mat-form-field>
                                <textarea type="text" formControlName="address_type" matInput placeholder="Address Type" ></textarea>
                            </mat-form-field>  -->
                            <mat-form-field>
                                    <mat-select placeholder="Address Type" formControlName="address_type" required (change)="getAddressByType($event)">
                                        <mat-option *ngFor="let item of addressTypes" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                            <mat-checkbox (change)="isCheckedEvent($event)" *ngIf="isPaymentAddress">Same as Main Address</mat-checkbox>                    
                        </div>

                        <div class="col-md-5">
                            <mat-form-field>
                                <input formControlName="adr_street_nm" type="text" matInput placeholder="Address Line 1"
                                    [matAutocomplete]="auto" (input)="getSuggestedAddress()" required />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                                        value="{{item.text}}">
                                        {{item.text}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field> <input formControlName="adr_line2" type="text" matInput
                                placeholder="Address Line 2" />
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="State" formControlName="adr_state_cd" required>
                                    <mat-option *ngFor="let item of stateList$ | async"
                                        value="{{item.ref_key}}" (click)="loadCounty(item)">
                                        {{ item.description }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field> <input formControlName="adr_city_nm" type="text" matInput placeholder="City"
                                required />
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select formControlName="adr_county_cd" placeholder="County" required>
                                    <mat-option *ngFor="let item of countyList$ | async"
                                        value="{{item.picklist_value_cd}}">
                                        {{item.description_tx}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zip Code" formControlName="adr_zip5_no" zipcodeOnly
                                    maxlength="5" minlength="5" required />
                            </mat-form-field>
                            <!-- <mat-form-field>
                                <mat-select placeholder="County Code" formControlName="adr_county_cd">
                                            <mat-option *ngFor="let item of countyList$ | async" [value]="item.value">
                                                {{item.text}}
                                            </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                    <input type="text" mask="0000" matInput formControlName="adr_street_nm" placeholder="Street no" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput formControlName="adr_line2" placeholder="Street Name" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput formControlName="adr_city_nm" placeholder="City Name" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="State" formControlName="adr_state_cd" required>
                                    <mat-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" mask="00000" matInput formControlName="adr_zip5_no" placeholder="ZIP Code" (blur)="zipValidation($event)" required>
                            </mat-form-field> -->
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri"  [disabled]="addressForm.invalid"
                                (click)="saveAddress(addressForm.value)">DONE</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="delet-address" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Are you sure want to delete</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button class="sec-btn" (click)="CancelDelete()">Cancel</button>
                <button class="btn-pri" (click)="DeleteAddressConfirm()">Delete</button>
            </div>
        </div>
    </div>
</div>