<div class="petition-panel">

    <div class="row">
        <div class="col-sm-4">
            <h4 class="header-bg">Petition Details</h4>
            <!-- <div>Petition Filed : Yes</div> -->
            <form [formGroup]="petitionDetailsForm">
                <mat-form-field>
                    <input type="text" required formControlName="petitionid" matInput placeholder="Petition ID">
                </mat-form-field>
                <mat-form-field>
                    <mat-select required placeholder="Petition Type" formControlName="pettitiontype">
                        <mat-option *ngFor="let item of petitionType$ | async" [value]="item.value">{{item.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>

                    <mat-select required *ngIf="hasMultipleComplaintID" placeholder="Complaint ID(s)" formControlName="complaintids"
                        multiple>
                        <mat-option *ngFor="let item of filteredComplaintIDs" [value]="item">{{item.complaintid}}
                        </mat-option>
                    </mat-select>
                    <mat-select required *ngIf="!hasMultipleComplaintID" placeholder="Complaint ID(s)" formControlName="complaintids">
                        <mat-option *ngFor="let item of filteredComplaintIDs" [value]="item">{{item.complaintid}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>

            <div class="pull-right">
                <button class="btn-pri m-l-20" (click)="addPetition()">Add</button>
            </div>
            <div class="pull-right" *ngIf="isAssociateComplaintAvailable">
                <button class="btn-pri m-r-10" (click)="openAssociatePopup()">Associate Complaint Id</button>
            </div>
        </div>
        <div class="col-sm-4" *ngIf="fromCounty">
            <h4 class="header-bg">Transfer Petition Details</h4>
            <mat-form-field>
                <input disabled type="text" [(ngModel)]="fromCounty" matInput placeholder="Transferred From">
            </mat-form-field>
            <mat-form-field>
                <textarea disabled matInput [(ngModel)]="transferNotes" placeholder="Transfer Notes"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Added Petitions</h4>
            <div class="table-responsive petition-table table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>PETITION ID</th>
                            <th>PETITION DATE</th>
                            <th>ASSOCIATED PETITION</th>
                            <th>COMPLAINT ID</th>
                            <th>ASSOCIATED Complaints</th>
                            <th>Actions</th>
                            <!-- <th>Offense</th>
                            <th>Offense Date</th> -->
                            <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="petitions.length > 0">
                        <ng-container *ngFor="let petition of petitions; let i=index">
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td (click)="showPettionDetails(petition)">
                                    <span [ngClass]="{'on-vop': isVOP(petition)}">{{petition.petitionid}}</span> </td>
                                <td>{{petition.createddate | date:'MM/dd/yyyy'}}</td>
                                <td><span *ngFor="let petition of petition.associatedpetition;let last = last;">{{petition.associatepetition}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <td><span *ngFor="let complaint of petition?.complaints;let last=last;">{{complaint.complaintid}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <td><span *ngFor="let acomplaint of petition.associatedcomplaint;let last = last;">{{acomplaint.associatecomplaint}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <!-- <td> <a href="#" (click)="getCompalintIdDetails(id,pettion)"
                                *ngFor="let id of pettion.complaintids;let last = last;">
                                {{id}}<span *ngIf="!last">,</span>
                            </a></td>
                            <td><span *ngFor="let offense of pettion.offenses;let last = last;">{{offense.name}}<span *ngIf="!last">,</span></span></td>
                            <td>{{pettion.offensedate}}
                            </td> -->

                                <!--  <td>
                                <a href="#" >
                                    <i class="fa fa-eye text-16"></i>
                                </a>
                            </td> -->
                                <td>
                                    <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables'+i)"><i class="fa fa-chevron-down"
                                            aria-hidden="true"></i></a>
                                    <ng-container *ngIf="petition.petitionstatus !== 'CLS'"> <span class="pull-right">&nbsp;|&nbsp;</span>
                                        <a class="pull-right" (click)="openAssociatePopup(petition)">Associate</a></ng-container>

                                </td>

                            </tr>
                            <tr id="accordion-tables{{i}}" class="collapse" *ngIf="petition?.complaints?.length > 0">
                                <td class="accordion-table" colspan="6">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>PETITION</th>
                                                    <th>COMPLAINT ID</th>
                                                    <th colspan="2">OFFENSE</th>
                                                    <th>OFFENSE DATE</th>
                                                    <th>ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let complaint of petition?.complaints;">
                                                    <td>{{petition.petitionid}}</td>
                                                    <td>{{complaint.complaintid}}</td>
                                                    <td colspan="2"><span *ngFor="let offense of complaint.offences;let last = last;">{{offense.name}}<span
                                                                *ngIf="!last">,&nbsp;</span></span></td>
                                                    <td>{{complaint.offensedate}}</td>
                                                    <td><a (click)="getCompalintIdDetails(complaint.intakeservicerequestevaluationid,petition)"><i
                                                                class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tbody *ngIf="petitions.length === 0">
                        <tr>
                            <td colspan="7" style="text-align:center !important"> No Pettions found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="associatedComplaintList.length > 0">
        <div class="col-sm-12">
            <h4>Associated Complaints</h4>
            <div class="table-responsive petition-table table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>COMPLAINT ID</th>
                            <th>PETITION ID</th>
                            <th>INTAKE NUMBER</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="associatedComplaintList.length > 0">
                        <ng-container *ngFor="let ac of associatedComplaintList; let i=index">
                            <tr>

                                <td>{{ac.complaintid}}</td>
                                <td>{{ac.petitionid}}</td>
                                <td><a class="theme" (click)="routToIntake(ac.intakenumber)">{{ac.intakenumber}}</a></td>

                            </tr>

                        </ng-container>
                    </tbody>
                    <tbody *ngIf="associatedComplaintList.length === 0">
                        <tr>
                            <td colspan="3" style="text-align:center !important"> No Complaints Associated</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="forwardedPetitions.length > 0">
        <div class="col-sm-12">
            <h4>Forwarded Petitions</h4>
            <div class="table-responsive petition-table table-theme m-t-20">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>PETITION ID</th>
                            <th>ASSOCIATED PETITION</th>
                            <th>COMPLAINT ID</th>
                            <th>ASSOCIATED Complaints</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let petition of forwardedPetitions; let i=index">
                            <tr>
                                <td>{{petition.petitionid}}</td>

                                <td><span *ngFor="let petition of petition.associatedpetition;let last = last;">{{petition.associatepetition}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <td><span *ngFor="let complaint of petition?.complaint;let last=last;">{{complaint.complaintid}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <td><span *ngFor="let acomplaint of petition.associatedcomplaint;let last = last;">{{acomplaint.associatecomplaint}}<span
                                            *ngIf="!last">,&nbsp;</span></span></td>
                                <td>
                                    <a class="pull-right m-r-10" (click)="toggleTable('accordion-tables-forwarded'+i)"><i
                                            class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                </td>

                            </tr>
                            <tr id="accordion-tables-forwarded{{i}}" class="collapse" *ngIf="petition?.complaint.length > 0">
                                <td class="accordion-table" colspan="6">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>PETITION</th>
                                                    <th>COMPLAINT ID</th>
                                                    <th colspan="2">OFFENSE</th>
                                                    <th>OFFENSE DATE</th>
                                                    <th>ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let complaint of petition?.complaint;">
                                                    <td>{{petition.petitionid}}</td>
                                                    <td>{{complaint.complaintid}}</td>
                                                    <td colspan="2"><span *ngFor="let offense of complaint.allegationname;let last = last;">{{offense}}<span
                                                                *ngIf="!last">,&nbsp;</span></span></td>
                                                    <td>{{complaint.offensedate}}</td>
                                                    <td><a (click)="getCompalintIdDetails(complaint.intakeservicerequestevaluationid,petition)"><i
                                                                class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="associate-complaint-id" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-md custom-wid" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h3 class="modal-title">Associate Complaint ID</h3>

            </div>
            <div class="modal-body"> <b>Associate Complaint ID - C1 23456</b>
                <br><br>
                <mat-radio-group class="m-t-10 m-b-10">
                    <mat-radio-button value="1">P7 - 123456789</mat-radio-button><br />
                    <mat-radio-button value="2">P7 - 123456789</mat-radio-button>
                </mat-radio-group> <br />
                <button class="btn-pri m-t-10 m-b-10" data-dismiss="modal">Associate</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="probation-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                <h4 class="modal-title"><span>Petition#:&nbsp;</span>{{selectedPetition?.petitionid}}

                </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Intake# <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{intakeNumber}}</div>
                                </div>

                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Petition Type <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedPetition?.petitiontypekey}}</div>
                                </div>
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Offenses <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedProbation?.allegation}}</div>
                                </div>
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Current Supervisor <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedProbation?.supervisor}}</div>
                                </div>
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">VOP Initiated By <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedProbation?.initiatedby}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Violation Date <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedProbation?.vopviolationdate | date:'MM/dd/yyyy'}}</div>
                                </div>
                                <!-- <mat-radio-button value="cct">Court Order Conditions</mat-radio-button>
                    <mat-radio-button value="tct">Technical</mat-radio-button> -->
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Violated Offense <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">
                                        <span [ngSwitch]="selectedProbation?.vopviolationoffencetype">
                                            <span *ngSwitchCase="'cct'">
                                                Court Order Conditions
                                            </span>
                                            <span *ngSwitchCase="'tct'">
                                                Technical
                                            </span>
                                            <span *ngSwitchDefault>
                                                {{ selectedProbation?.vopviolationoffencetype}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Violated Conditions <span class="pull-right">:</span></div>
                                    <div class="col-sm-6"> <span *ngFor="let item of selectedProbation?.conditiontype; let last = last">{{item?.description}}
                                            <span
                                            *ngIf="!last">,&nbsp;</span>
                                    </span></div>
                                </div>

                                <div class="row m-b-5">
                                    <div class="col-sm-6" style="font-weight: bold;">Petition Notes <span class="pull-right">:</span></div>
                                    <div class="col-sm-6">{{selectedProbation?.vopnotes}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" id="view-petition" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeComplaintPopup()">
                    <span aria-hidden="true">X</span>
                </button>
                <h3 class="modal-title">View Petition</h3>
            </div>
            <div class="modal-body">
                <div class="row m-l-10">
                    <div class="col-md-4">
                        <div class="row m-b-10">
                            <div class="col-md-6">Petition ID :</div>
                            <div class="col-md-6">{{selectedPetitionId}}</div>
                        </div>
                        <div class="row m-b-10">
                            <div class="col-md-6">Complaint ID :</div>
                            <div class="col-md-6">{{complaintDetails.complaintid}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row m-b-10">
                            <div class="col-md-6">Associate Petition ID :</div>
                            <div class="col-md-6">-</div>
                        </div>
                        <div class="row m-b-10">
                            <div class="col-md-6">Age at time of Offense :</div>
                            <div class="col-md-6">{{complaintDetails.yearsofage}} </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row m-b-10">
                            <div class="col-md-6">Offense Date :</div>
                            <div class="col-md-6">{{complaintDetails.offensedate}}</div>
                        </div>
                        <div class="row m-b-10">
                            <div class="col-md-6">Intake Allegations :</div>
                            <div class="col-md-6">
                                {{complaintDetails.allegationname}}
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngFor="let victim of complaintDetails?.victim">
                    <div class="row m-l-10">
                        <div class="col-md-4">
                            <div class="row m-b-10">
                                <div class="col-md-12">
                                    <h4>Victims : </h4>
                                </div>
                                <div class="col-md-6">Victim Agency :</div>
                                <div class="col-md-6">{{victim.victim_agency}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-l-10">
                        <div class="col-md-4">
                            <div class="row m-b-10">
                                <div class="col-md-6">Title :</div>
                                <div class="col-md-6" style="text-transform: capitalize;">-</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Last Name :</div>
                                <div class="col-md-6" style="text-transform: capitalize;">{{victim.lastname}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Street :</div>
                                <div class="col-md-6">{{victim.address ? victim.address : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Street1 :</div>
                                <div class="col-md-6">{{victim.address2 ? victim.address2 : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Street2 :</div>
                                <div class="col-md-6">{{victim.street ? victim.street : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Zip :</div>
                                <div class="col-md-6">{{victim.zipcode ? victim.zipcode : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Phone :</div>
                                <div class="col-md-6">{{victim.street ? victim.street : '-'}}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row m-b-10">
                                <div class="col-md-6"><br></div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">First Name :</div>
                                <div class="col-md-6">{{victim.firstname}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Aprt :</div>
                                <div class="col-md-6">{{victim.street ? victim.street : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">City :</div>
                                <div class="col-md-6">{{victim.city ? victim.city : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">State :</div>
                                <div class="col-md-6">{{victim.state ? victim.state : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Country :</div>
                                <div class="col-md-6">{{victim.country ? victim.country : '-'}}</div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-6">Phone Ext :</div>
                                <div class="col-md-6">{{victim.street ? victim.street : '-'}}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <button class="btn-pri m-t-10 m-b-10 pull-right" (click)="closeComplaintPopup()">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="associate-petition" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h3 class="modal-title">Associate Petitions</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Primary Petition : {{primaryPetition}}</h4>
                        <ng-container *ngIf="!associateComplaint">
                            <ng-container class="modal-header">
                                <h4 class="modal-title">Selected Petition</h4>
                            </ng-container>
                            <div class="table-responsive petition-table table-theme m-t-20">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="associate-petition">
                                            <th></th>
                                            <th>Primary</th>
                                            <th>Petition ID</th>
                                            <th>ASSOCIATED PETITION</th>
                                            <th>Complaint ID</th>
                                            <th>Intake</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="associate-petition">
                                            <td>
                                            </td>
                                            <td>
                                                <mat-radio-group [(ngModel)]="primaryPetition">
                                                    <mat-radio-button [value]="selectedPetition?.petitionid"></mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td>{{selectedPetition?.petitionid}}</td>
                                            <td><span *ngFor="let petition of selectedPetition?.associatedpetition;let last = last;">{{petition.associatepetition}}<span
                                                        *ngIf="!last">,&nbsp;</span></span></td>
                                            <td><span *ngFor="let complaint of selectedPetition?.complaints;let last=last;">{{complaint.complaintid}}<span
                                                        *ngIf="!last">,&nbsp;</span></span></td>
                                            <td>{{intakeNumber}}</td>
                                            <td><a (click)="toggleTable('accordion-tables')"><i class="fa fa-chevron-down"
                                                        aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr id="accordion-tables" class="collapse" *ngIf="selectedPetition?.complaints?.length > 0">
                                            <td class="accordion-table" colspan="7">
                                                <div class="table-responsive table-theme">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>PETITION</th>
                                                                <th>COMPLAINT ID</th>
                                                                <th colspan="2">OFFENSE</th>
                                                                <th>OFFENSE DATE</th>
                                                                <th>ACTIONS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let complaint of selectedPetition?.complaints;">
                                                                <td>{{selectedPetition?.petitionid}}</td>
                                                                <td>{{complaint.complaintid}}</td>
                                                                <td colspan="2"><span *ngFor="let offense of complaint.offences;let last = last;">{{offense.name}}<span
                                                                            *ngIf="!last">,&nbsp;</span></span></td>
                                                                <td>{{complaint.offensedate}}</td>
                                                                <td><a (click)="getCompalintIdDetails(complaint.intakeservicerequestevaluationid,selectedPetition,true)"><i
                                                                            class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-container class="modal-header">
                            <h4 class="modal-title m-t-10" style="margin-top: 10px">Petitions Available To Associate</h4>
                        </ng-container>
                        <div class="table-responsive petition-table table-theme m-t-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="associate-petition">
                                        <th></th>
                                        <th>Primary</th>
                                        <th>Petition ID</th>
                                        <th>ASSOCIATED PETITION</th>
                                        <th>Complaint ID</th>
                                        <th>Intake</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="pettitionsAvailableToAssociate.length > 0">
                                    <ng-container *ngFor="let petition of pettitionsAvailableToAssociate; let i=index">
                                        <tr class="associate-petition">
                                            <td>
                                                <mat-checkbox *ngIf="!associateComplaint" (click)="resetPrimaryPetition();"
                                                    [(ngModel)]="petition.isChecked"></mat-checkbox>
                                            </td>
                                            <td>
                                                <mat-radio-group [(ngModel)]="primaryPetition">
                                                    <mat-radio-button [disabled]="!petition.isChecked && !this.associateComplaint"
                                                        [value]="petition.petitionid"></mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td>{{petition.petitionid}}</td>
                                            <td><span *ngFor="let petition of petition.associatedpetition;let last = last;">{{petition.associatepetition}}<span
                                                        *ngIf="!last">,&nbsp;</span></span></td>
                                            <td><span *ngFor="let complaint of petition?.complaint;let last=last;">{{complaint.complaintid}}<span
                                                        *ngIf="!last">,&nbsp;</span></span></td>
                                            <td>{{petition?.intakenumber}}</td>
                                            <td><a (click)="toggleTable('associate-accordion-tables'+i)"><i class="fa fa-chevron-down"
                                                        aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr id="associate-accordion-tables{{i}}" class="collapse" *ngIf="petition?.complaint?.length > 0">
                                            <td class="accordion-table" colspan="7">
                                                <div class="table-responsive table-theme">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>PETITION</th>
                                                                <th>COMPLAINT ID</th>
                                                                <th colspan="2">OFFENSE</th>
                                                                <th>OFFENSE DATE</th>
                                                                <th>ACTIONS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let complaint of petition?.complaint;">
                                                                <td>{{petition.petitionid}}</td>
                                                                <td>{{complaint.complaintid}}</td>
                                                                <td colspan="2">{{complaint.allegationname}}</td>
                                                                <td>{{complaint.offensedate }}</td>
                                                                <td><a (click)="getCompalintIdDetails(complaint.intakeservicerequestevaluationid,petition,true)"><i
                                                                            class="fa fa-eye" aria-hidden="true"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tbody *ngIf="pettitionsAvailableToAssociate.length === 0">
                                    <tr>
                                        <td colspan="7" style="text-align:center"> No Petitions found to associate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center m-t-20" *ngIf="pettitionsAvailableToAssociate.length > 10">
                            <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
                            </pagination>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-pri pull-right m-t-10 m-b-10" (click)="associatePetitions()">Associate</button>
                            </div>
                        </div>
                        <!-- <div class="pull-right" *ngIf="pettitionsAvailableToAssociate.length > 0">
                                    <button class="btn-pri m-t-10 m-b-10" data-toggle="modal" data-target="#associate-complaint-id">Associate</button>
                                </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="associate-confirmation-petition" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" aria-labelledby="">
    <div class="modal-dialog modal-md custom-wid" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="backToAssociation()">X</span>
                </button>
                <h3 class="modal-title" *ngIf="!associateComplaint">Confirm to Associate Petitions</h3>
                <h3 class="modal-title" *ngIf="associateComplaint">Confirm to Associate Complaints to Petition</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Primary Petition: {{primaryPetition}}</h5>
                    </div>
                </div>
                <div *ngIf="!associateComplaint" class="row">
                    <div class="col-md-12">
                        <h5>Associated Petitions:</h5>
                        <ul class="m-l-10">
                            <li *ngFor="let petition of associatedPetitions;let last = last;">
                                {{petition}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="associateComplaint" class="row">
                    <div class="col-md-12">
                        <h5>Selected Complaints:</h5>
                        <ul class="m-l-10">
                            <li *ngFor="let complaint of selectedComplaintIDs;let last = last;">
                                {{complaint.complaintID}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!associateComplaint" class="row">
                    <div class="col-md-12">
                        <p>
                            Associated petitions will be closed and only the primary petition will be used for
                            processing. Are you sure you want to continue?
                        </p>
                    </div>
                </div>
                <div *ngIf="associateComplaint" class="row">
                    <div class="col-md-12">
                        <p>
                            The chosen complaints will henceforth be mapped to petition - {{primaryPetition}}. Are
                            you sure you want to continue?
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button class="btn btn-pri m-r-10" (click)="confirmAssociation()">Yes</button>
                        <button class="btn btn-pri m-l-10 m-r-10" (click)="backToAssociation()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>