<div class="" id="approved-placement">
<div class="row">
    <div class="col-md-12 m-t-10">
        <div class="width-20">
            <mat-form-field>
                <input type="text" matInput placeholder="Search Client #" (keyup.enter)="onSearchClient()" [(ngModel)]="clientSearch">
                <button mat-button matSuffix mat-icon-button aria-label="Search Client #" (click)="onSearchClient()">
                <i aria-hidden="true" class="fa fa-search"></i>
                </button>
            </mat-form-field>
        </div>
    </div>
        <!-- <h4 class="textb text-uppercase">Approved Placements</h4> -->
    <div class="col-md-12">
        <div class="table-responsive table-theme">
            <table sortable-table (sorted)="onChildListSort($event)" class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-column="validation_id" sort-direction="desc">Placement Validation ID</th>
                        <th sortable-column="client_id" sort-direction="desc">Client ID</th>
                        <!-- <th>CIS ID</th> -->
                        <th sortable-column="clientname" sort-direction="desc">Client Name</th>
                        <th sortable-column="case_id" sort-direction="desc">Case ID</th>
                        <th sortable-column="provider_nm" sort-direction="desc">Provider Name</th>
                        <th sortable-column="placement_structure_nm">Placement Structure</th>
                        <th sortable-column="validation_start_dt" sort-direction="desc">Start Date</th>
                        <th sortable-column="validation_end_dt" sort-direction="desc">End Date</th>
                        <th sortable-column="address" sort-direction="desc">Placement Address</th>
                        <th sortable-column="contract_program_nm" sort-direction="desc">Program</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of placementList">
                        <td>{{item.placement_validation_id}}</td>
                        <td>{{item.client_id}}</td>
                        <!-- <td>{{item.client_id}}</td> -->
                        <!-- <td>{{item.clientfirstname}}</td> -->
                        <td>{{item.client_first_nm}}&nbsp;{{item.client_last_nm}}</td>
                        <td>{{item.case_id}}</td>
                        <td>{{item.provider_nm}}</td>
                        <td>{{item.placement_structure_nm}}</td>
                        <td>{{item.validation_start_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.validation_end_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.contract_program_nm ? item.contract_program_nm : 'N/A'}}</td>
                        <td>
                            <span (click)="editPlacement(item)">
                                <i class="fa fa-eye"></i>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="placementList?.length === 0">
                        <td colspan="6" style="text-align: center !important;">
                            No records found.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-10">
                <div class="text-center" *ngIf="totalcount > 10">
                    <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="approved-placement-details" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
aria-labelledby="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Approved Placement Details</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 m-t-20" [formGroup]="placementForm">
                    <div class="col-md-6">
                        <p class="m-b-20"><b>Worker Id : {{loggedInUser.cjamspid}}</b></p>
                        <mat-form-field class="">
                            <input formControlName="clientname" matInput placeholder="Client Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="provider_nm" matInput placeholder="Provider Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="validation_month" matInput placeholder="Validation Month">
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="validation_start_dt" matInput [matDatepicker]="picker31" placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                            <mat-datepicker #picker31></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea formControlName="comment_tx" matInput placeholder="Comments"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                            <p class="m-b-20"><b style="text-transform: capitalize;">Worker : {{loggedInUser.fullname}}</b></p>
                        <mat-form-field class="">
                            <input formControlName="client_id" matInput placeholder="Client ID">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="contract_program_nm" matInput placeholder="Program Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="placement_structure_nm" matInput placeholder="Placement Structure">
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="validation_end_dt" matInput [matDatepicker]="picker32" placeholder="End Date">
                            <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                            <mat-datepicker #picker32></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea formControlName="address" matInput placeholder="Placement Address"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn-pri pull-right"  type="button" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>