<div class="tab-pane active" role="tabpanel">
    <!-- <pre>{{reportSummary | json}}</pre> -->
    <div class="row" *ngIf="reportSummary; let reportSummary">
        <!-- <div class="col-md-12 col-xs-12 col-sm-12 report-summary">
            <div class="box-grid box-grid1">
                <h3>Summary</h3>
                <div class="row form-wrapper">
                    <div class="col-sm-4">
                        <p> <span class="clsMinwidth-130"> Case Number </span>  :
                            <span class="p-l-10">{{reportSummary?.servicerequestnumber}}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> Created Date </span>  :
                            <span class="p-l-10"> {{reportSummary?.insertedon | date: 'MM/dd/yyyy, hh:mm a'}}</span>
                        </p>

                        <p> <span class="clsMinwidth-130"> Supervisor Name </span>  :
                            <span class="p-l-10"> {{reportSummary?.userprofile?.displayname | titlecase}}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> Service Type </span>  :
                            <span class="p-l-10">{{reportSummary?.intakeservicerequesttype?.description | titlecase}}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> Service Subtype  </span> :
                            <span class="p-l-10">{{reportSummary?.servicerequestsubtype?.description !== 'Default' ? reportSummary?.servicerequestsubtype?.description
                                : ''}}</span>
                        </p>
                        <p *ngIf="isAs"> <span class="clsMinwidth-130"> Jurisdiction  </span> :
                            <span class="p-l-10">{{countyList && countyList.length ? countyList[0].countyname : '' }}</span>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pr-0">
                        <div class="source-date-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-5">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Referral</label>
                                            <div class="">
                                                <input type="text" disabled="true" class="form-control" value="{{reportSummary?.intakeservicerequestinputtype?.intakeservreqinputtypekey}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-5">
                                    <div class="">
                                        <div class="form-group calender-frm">
                                            <label>Date Received</label>
                                            <div class="input-group">
                                                <input type="text" disabled="true" class="form-control" value="{{reportSummary?.reporteddate | date : 'MM/dd/yyyy'}}" a2e-datetimepicker
                                                       [options]="{format: 'MM/DD/YYYY', 'maxDate': null}" validdate>
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-5 ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Time</label>
                                                <input type="text" disabled="true" class="form-control" value="{{reportSummary?.reporteddate | date : 'hh:mm'}}" name="reportedtime">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <div class="select-icon">
                                                    <input type="text" disabled="true" class="form-control" value="{{reportSummary?.reporteddate | date : 'a'}}" name="reportedtime">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-3">
                        <div class="ra-disable">
                            <h5>Danger to DHS Worker</h5>
                            <div class="form-group">
                                <label class="full-width"> Person:
                                    <a *ngIf="disableNo" data-toggle="modal" data-target="#myModal-person">Yes </a>
                                    <a class="no" *ngIf="!disableNo">No </a>
                                </label>
                                <label class="full-width">Address:
                                    <a *ngIf="disableAddress" data-toggle="modal" data-target="#myModal-Address">Yes </a>
                                    <a class="no" *ngIf="!disableAddress">No </a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-grid-header Narrative">
                <h3 class="toggle-word">Narrative
                </h3>
                <div class="form-group ">
                    <div id="reportSummaryNarrative" [safeHtml]="reportSummary?.narrative">
                    </div>
                    <div class="textarea-icons">
                        <a class="voice-icon" (click)="readNarrative()" style="float: right; right: 0px; margin: 0 0px" href="javascript:{}">
                            <img src="../../../../../assets/images/speak.png">
                        </a>
                    </div>
                </div>
            </div>
             <button type="submit" class="btn-pri pull-right mrgn">Save</button> 

        </div> -->
        <div class="col-md-12 col-xs-12 col-sm-12 report-summary" style="margin-top:1px solid black;">
            <div class="box-grid-header Narrative" [formGroup]="ARCaseSummaryForm">
                <h3>AR Case Summary &nbsp;&nbsp; {{arStatus? '- ' + arStatus:''}}</h3>

                <div class="dashboard-cont p-20">
                    <div class="tab-horizontal">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#case-narrative" data-toggle="tab">Narrative Summary</a>
                            </li>
                            <li>
                                <a href="#case-summary" data-toggle="tab">Summary</a>
                            </li>
                            <li>
                                <a href="#case-details" data-toggle="tab">Detail</a>
                            </li>
                        </ul>

                        <!-- <div class="row text-right" style="padding-top: 20px;padding-right: 10px;">
                            <div class="col-md-12">
                                <div class="cm_actions">
                                    <button class="btn-pri" title="print"><i aria-hidden="true" class="fa fa-print"></i>
                                        PRINT</button>
                                </div>
                            </div>
                        </div> -->

                        <div class="tab-content assign-case">
                            <div class="tab-pane" id="case-summary">
                                <div class="row form-wrapper">
                                    <div class="col-md-4">
                                        <p> <span class="clsMinwidth-130"><b>Legal Guardian</b> </span> :
                                            {{LegalGuardian}}
                                            <span class="p-l-10"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p> <span class="clsMinwidth-130"><b>AR Assessment Date</b> </span> :
                                            {{reportSummary?.insertedon | date: 'MM/dd/yyyy'}}
                                            <span class="p-l-10"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p> <span class="clsMinwidth-130"><b>AR Assessment Closure Date</b> </span> :
                                            {{ARAssessmentClosureDate ? (ARAssessmentClosureDate | date: 'MM/dd/yyyy') : 'N/A'}}
                                            <span class="p-l-10"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-10"></div>
                                    <div class="col-md-4">
                                        <p> <span class="clsMinwidth-130"><b>CPS ID</b> </span> :
                                            {{reportSummary?.servicerequestnumber}}
                                            <span class="p-l-10"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-6 mt-20">
                                        <p class="text-17">Reason For AR Referral ? <span class="redc"> *</span></p> 
                                        <mat-form-field>
                                            <textarea required matInput formControlName="referralreason"></textarea> <!--referralreason  swapped with 'reason' D-11187 Jul2 19-->
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row pt-20">
                                    <h4>Children Participating in Assessment </h4>
                                    <div class="col-md-12">
                                        <div class="row person-wrap">
                                            <ng-container *ngIf="involvedChildren?.length; else elseTemplate">
                                                <div class="col-sm-6 col-md-4 col-lg-3"
                                                    *ngFor="let child of involvedChildren | filter: 'CHILD' : 'rolename'">
                                                    <div class="panel panel-default person-panel">
                                                        <div class="panel-heading selected-child"
                                                            [ngClass]="{'selected-child': child.isSelected}">
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <h4>
                                                                        <mat-checkbox
                                                                            [checked]="child.isChecked"
                                                                            (change)="chooseAssessmentParticipant($event,child,1)">
                                                                            <span class="m-l-10">{{child.firstname}}
                                                                                {{child.lastname}}</span></mat-checkbox>
                                                                    </h4>
                                                                    <div class="person-role-height">
                                                                        <p class="designation"
                                                                            *ngFor="let role of child.roles; let isLast=last">
                                                                            {{role.typedescription}}
                                                                            <span *ngIf="!isLast"
                                                                                style="color:gray">,</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="media-right">
                                                                    <!-- <div><img src="" class="media-object" /></div> -->
                                                                    <div><img src="assets/images/ic_silhouette.png"
                                                                            class="media-object" /></div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <table class="involved-person-tables">
                                                                <tr>
                                                                    <th>CJAMS PID#</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">{{child?.cjamspid}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>D.O.B</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">
                                                                        {{child?.dob | date : 'MM/dd/yyyy'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Gender</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">{{child?.gender}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <div class="pad-top20 text-center">
                                                    <p class="col-sm-12 mat-error">N/A </p>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-20">
                                    <h4>Individuals Participating in the AR Assessment </h4>
                                    <div class="col-md-12">
                                        <div class="row person-wrap">
                                            <ng-container *ngIf="involvedPersons?.length; else elseTemplate">
                                                <div class="col-sm-6 col-md-4 col-lg-3"
                                                    *ngFor="let child of involvedPersons | filterNoMatch :'CHILD' : 'rolename'">
                                                    <div class="panel panel-default person-panel">
                                                        <div class="panel-heading selected-child"
                                                            [ngClass]="{'selected-child': child.isSelected}">
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <h4>
                                                                        <mat-checkbox
                                                                            [checked]="child.isChecked"
                                                                            (change)="chooseAssessmentParticipant($event,child,0)">
                                                                            <span class="m-l-10">{{child.firstname}}
                                                                                {{child.lastname}}</span></mat-checkbox>
                                                                    </h4>
                                                                    <div class="person-role-height">
                                                                        <p class="designation"
                                                                            *ngFor="let role of child.roles; let isLast=last">
                                                                            {{role.typedescription}}
                                                                            <span *ngIf="!isLast"
                                                                                style="color:gray">,</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="media-right">
                                                                    <!-- <div><img src="" class="media-object" /></div> -->
                                                                    <div><img src="assets/images/ic_silhouette.png"
                                                                            class="media-object" /></div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <table class="involved-person-tables">
                                                                <tr>
                                                                    <th>CJAMS PID#</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">{{child?.cjamspid}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>D.O.B</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">
                                                                        {{child?.dob | date : 'MM/dd/yyyy'}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Gender</th>
                                                                    <td>:</td>
                                                                    <td class="single-wrap">{{child?.gender}}</td>
                                                                </tr>
                                                                <!-- <tr *ngIf="child.placementType">
                                                                                        <th>Type</th>
                                                                                        <td>:</td>
                                                                                        <td class="single-wrap">
                                                                                            {{child.placementTypeDesc}}
                                                                                        </td>
                                                                                    </tr> -->

                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <div class="pad-top20 text-center">
                                                    <p class="col-sm-12 mat-error">N/A </p>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right" *ngIf="isCaseWorker">
                                    <button class="btn btn-pri" 
                                    (click)="saveARCAseSummary('summarySave',reportSummary?.insertedon)"
                                    [disabled]="arsummaryStatus === 'Approved' || arsummaryStatus === 'Review' || isClosed">Save</button>
                                </div>
                            </div>

                            <!-- <div class="text-right big-bot-space right-mspace-15">
                                <button type="button" class="pull-left no-bg" [disabled]="downloadInProgress"
                                    matTooltip="View/Download AR Summary Report PDF" (click)="arSummaryPrint()">
                                    <i class="fa fa-print fa-size" aria-hidden="true"></i><strong>AR
                                        Summary</strong></button><br>
                            </div> -->





                            <div class="tab-pane pt-20" id="case-details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-select formControlName="interventionissues"
                                                placeholder="Services and Interventions Provided" multiple>
                                                <!-- <mat-option value="opt1" > Option 1 
                                                                </mat-option> -->
                                                <mat-option
                                                    *ngFor="let item of serviceDropDown | orderBy:'item.description'"
                                                    [value]="item.ref_key">
                                                    {{item.description}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-17">How did the services provided address the reason for AR
                                            Referral?</p>
                                        <!-- <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
                                                            <quill-editor [style]="{height: '150px'}" formControlName="serviceProvidedAddress" [modules]="quillToolbar" >
                                                            </quill-editor>
                                                            <div class="textarea-icons speechtoTextIcon">
                                                                <a href="javascript:{} ">
                                                                <img (click)=" activateSpeechToText('q1') " *ngIf="recognizing && currentSpeechRecInput === 'q1'" src="assets/images/voice-icon-on.png " >
                                                                <img (click)=" activateSpeechToText('q1') " *ngIf="!recognizing || currentSpeechRecInput !== 'q1' " src="assets/images/voice-icon-off.png " >
                                                                </a>
                                                            </div>
                                                            <control-messages></control-messages>
                                                        </div> -->

                                        <mat-form-field>
                                            <textarea matInput formControlName="reason"></textarea><!--reason  swapped with 'referralreason' D-11187 Jul2 19-->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-17">Issues requiring further interventions</p>
                                        <!-- <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
                                                            <quill-editor formControlName="issuesRequiring" [style]="{height: '150px'}" [modules]="quillToolbar" >
                                                            </quill-editor>
                                                            <div class="textarea-icons speechtoTextIcon">
                                                                    <a href="javascript:{} ">
                                                                            <img (click)=" activateSpeechToText('q2') " *ngIf="recognizing && currentSpeechRecInput === 'q2'" src="assets/images/voice-icon-on.png " >
                                                                            <img (click)=" activateSpeechToText('q2') " *ngIf="!recognizing  || currentSpeechRecInput !== 'q2'" src="assets/images/voice-icon-off.png " >
                                                                            </a>
                                                            </div>
                                                            <control-messages></control-messages>
                                                        </div> -->

                                        <mat-form-field>
                                            <textarea matInput formControlName="riskissues"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-17">Recommendations for the family</p>
                                        <!-- <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
                                                                <quill-editor formControlName="recommendationforFamily" [style]="{height: '150px'}" [modules]="quillToolbar" >
                                                                </quill-editor>
                                                                <div class="textarea-icons speechtoTextIcon">
                                                                        <a href="javascript:{} ">
                                                                                <img (click)=" activateSpeechToText('q3') " *ngIf="recognizing && currentSpeechRecInput === 'q3'" src="assets/images/voice-icon-on.png " >
                                                                                <img (click)=" activateSpeechToText('q3') " *ngIf="!recognizing || currentSpeechRecInput !== 'q3'" src="assets/images/voice-icon-off.png " >
                                                                                </a>
                                                                </div>
                                                                <control-messages></control-messages>
                                                            </div> -->

                                        <mat-form-field>
                                            <textarea matInput formControlName="recommendation"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-17">Notes</p>

                                        <mat-form-field>
                                            <textarea matInput formControlName="notes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <mat-select formControlName="closuretypekey"
                                                (change)="onChangeClosureStatus($event.value)"
                                                placeholder="Closure status" required>
                                                <!-- <mat-option value="Review"> Review
                                                                </mat-option> -->
                                                <mat-option *ngFor="let item of reasonDropDown" [value]="item.ref_key">
                                                    {{item.description}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-6">
                                        <ul class="list-unstyled panel-body no-pad status-list">
                                            <li formArrayName="statusList"
                                                *ngFor="let stsItms of ARCaseSummaryForm['controls']?.statusList.controls; let x = index">
                                                <mat-checkbox [formControlName]="x" [disabled]="statuslistdisabled">
                                                    {{closureSubTypeItems[x].text}}</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                                        <mat-form-field>
                                                                <mat-select formControlName="closuresubtypekey"  placeholder="Sub Type">
                                                                      <mat-option *ngFor="let item of statusDropDown" 
                                                                    [value]="item.ref_key">{{item.description}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field
                                            *ngIf="ARCaseSummaryForm.controls['closuretypekey'].value =='CONS'">
                                            <mat-select formControlName="clientrefrdservices"
                                                [disabled]="clientrefrdservicesdisabled"
                                                placeholder="Client referred to community services" multiple>
                                                <!-- <mat-option value="opt1" > Option 1 
                                                            </mat-option> -->
                                                <mat-option *ngFor="let item of serviceDropDown" [value]="item.ref_key">
                                                    {{item.description}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="text-left">
                                            <label>Status:</label>
                                            {{arsummaryStatus}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-right" *ngIf="isCaseWorker">
                                            <button class="btn-pri" 
                                            (click)="saveARCAseSummary('summarySave',reportSummary?.insertedon)"
                                            [disabled]="arsummaryStatus === 'Approved' || arsummaryStatus === 'Review' || isClosed">Save</button>
                                            <button class="btn-pri" [disabled]="arsummaryStatus === 'Approved' || arsummaryStatus === 'Review' || isClosed"
                                            (click)="reviewCheck()">
                                            Complete AR Summary</button>
                                            <!--  -->
                                            <!-- <button class="btn-pri" [disabled]="arsummaryStatus === 'Approved' || arsummaryStatus === 'Review'"
                                                data-target="#list-supervisor" data-toggle="modal"
                                                >Send for Approval</button> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right" *ngIf="!isCaseWorker">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button class="btn-pri"
                                                (click)="saveARCAseSummary('accepted',reportSummary?.insertedon)"
                                                [disabled]="arsummaryStatus === 'Approved' || isClosed">Approve</button>
                                        </div>
                                        <div class="col-md-3" *ngIf="!isCaseWorker">
                                            <button class="btn-pri"
                                                (click)="saveARCAseSummary('Rejected',reportSummary?.insertedon)"
                                                [disabled]="arsummaryStatus === 'Approved' || isClosed">Reject</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane active" id="case-narrative">
                                <div [formGroup]="investigationFindingForm" *ngIf="submitBtn">
                                    <div class="row no-mar pad-top20">
                                        <div class="col-sm-12">
                                            <mat-accordion class="acc-content">
                                                <div formArrayName="allegedperson">
                                                    <mat-expansion-panel
                                                        *ngFor="let investigationFind of investigationFindingForm.get('allegedperson').controls; let i=index"
                                                        [formGroupName]="i">
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                <span id="schoolAcdn"
                                                                    class="aut-lnk-malAllReportedChild">
                                                                    {{investigationFind['controls']?.personname?.value}}</span>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <div class="table-responsive clsInvest">
                                                            <div *ngIf="involvedPersons.length > 0">
                                                                <button
                                                                    [fieldKey]="'caseworker-disposition-investigation-summary'"
                                                                    class="btn-pri pull-right" data-toggle="modal"
                                                                    data-target="#investigation-summary"
                                                                    (click)="openReportDialog(i)">
                                                                    AR Summary Report</button>
                                                                <div *ngIf="reportflag === i">
                                                                    <investigation-summary-report
                                                                        [investigationFind]="investigationFind"
                                                                        [addedpersons]="involvedPersons">
                                                                    </investigation-summary-report>
                                                                </div>
                                                            </div>
                                                            <table class="table table-bordered">
                                                            </table>
                                                            <div class="row no-mar pad-top20">
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="account of what occurred">
                                                                            <label>Alleged Victim(s)
                                                                                Explanation:</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="victim_explanation"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="account of what occurred">
                                                                            <label>Sibling(s) Explanation:</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="sibling_explanation"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row no-mar pad-top20">
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="account of what occurred">
                                                                            <label>Parent/Legal Guardian(s)
                                                                                Explanation:</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="guardian_explanation"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="account of what occurred">
                                                                            <label>Alleged Maltreator's
                                                                                Explanation:</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="maltreator_explanation"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row no-mar pad-top20">
                                                                <div class="col-sm-6">
                                                                    <!-- <div class="cm-panel cp-wth-upload"> -->
                                                                    <div class="cm-panel cp-wth-upload">
                                                                        <div class="cm-panel-heading gray-bg "
                                                                            style="height:10%"
                                                                            matTooltip="attach records if available">
                                                                            <label>Physician or Other Medical
                                                                                Assessment(s): <span></span></label>

                                                                            <!-- <div class="cm-upload" title="upload" (click)="navigatetoattachements()"><i _ngcontent-c11="" aria-hidden="true" class="fa fa-cloud-upload"></i></div> -->
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <document-upload-list
                                                                                [uploadedDocuments]="uploadedDocuments">
                                                                            </document-upload-list>
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="med_assessmnts"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel  cp-wth-upload">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="attach records if available">
                                                                            <label>Other Professional or Expert
                                                                                Assessment(s):</label>

                                                                            <!-- <div class="cm-upload" title="upload" (click)="navigatetoattachements()"><i _ngcontent-c11="" aria-hidden="true" class="fa fa-cloud-upload"></i></div> -->
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <document-upload-list
                                                                                [uploadedDocuments]="isuploadedDocuments">
                                                                            </document-upload-list>
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="expert_assessmnts"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row no-mar pad-top20">
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="CPS interview w/referent, school personnel, child care provider, provider, family, relatives,
                                                                                                                        friends, other individuals who witnessed the incident or to whom the victim states he/she disclosed the incident. All interviews must be documented in Contacts">
                                                                            <label> Collateral Interviews</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="collateral_interviews"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel  cp-wth-upload">
                                                                        <div class="cm-panel-heading gray-bg">
                                                                            <div
                                                                                matTooltip="attach records if available">
                                                                                <label>Law Enforcement
                                                                                    Involvement:<span></span></label>
                                                                            </div>
                                                                            <!-- <div class="cm-upload" title="upload" (click)="navigatetoattachements()"><i _ngcontent-c11="" aria-hidden="true" class="fa fa-cloud-upload"></i></div> -->
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <document-upload-list
                                                                                [uploadedDocuments]="isuploadedDocuments">
                                                                            </document-upload-list>
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="expert_assessmnts"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row no-mar pad-top20">
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="of any involved persons">
                                                                            <label>Relevant Criminal History</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="criminal_history_inv"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cm-panel">
                                                                        <div class="cm-panel-heading gray-bg"
                                                                            matTooltip="ex., sleeping arrangements,sanitation, food supply, safety, etc.; attach records or pictures if available">
                                                                            <label>Condition of the Home:</label>
                                                                        </div>
                                                                        <div class="cm-panel-content">
                                                                            <mat-form-field class="example-full-width">
                                                                                <textarea matInput
                                                                                    formControlName="home_conditions"
                                                                                    placeholder="Write the explanation here"></textarea>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </mat-expansion-panel>
                                                </div>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                    <div class="row no-mar pad-top20">
                                        <div class="col-sm-6">
                                            <mat-checkbox matInput formControlName="jointinvestigation">Joint
                                                investigation with Police
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <button class="btn-pri"
                                                [fieldKey]="'caseworker-investigation-findings-save'"
                                                (click)="saveInvestigation()" [disabled]="isClosed">
                                                Save</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
</div>
<div class="modal fade in person" id="myModal-person" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Person</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab form-align" style="margin-top: 0">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let person of (reportSummary)?.intakeservicerequestactor">
                                        <tr *ngIf="person.actor?.Person?.dangerlevel == 1">
                                            <td>{{person.actor?.Person?.firstname ? person.actor?.Person?.firstname : '-'}}
                                            </td>
                                            <td>{{person.actor?.Person?.lastname ? person.actor?.Person?.lastname : '-'}}
                                            </td>
                                            <td>{{person.actor?.actortype ? person.actor?.actortype: '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Address Modal -->
<div class="modal fade in person" id="myModal-Address" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Address</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab form-align no-mar">
                            <div class="table-responsive">
                                <table class="table table-bordered no-mar">
                                    <thead>
                                        <tr>
                                            <th>Address</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let addressItem of (reportSummary)?.intakeservicerequestactor">
                                        <tr *ngIf="addressItem.actor?.Person?.personaddress[0]?.danger === true">
                                            <td>{{addressItem.actor?.Person?.personaddress[0]?.address !== '[null]' ? addressItem.actor?.Person?.personaddress[0]?.address:
                                            '-'}}
                                            </td>
                                            <td>{{addressItem.actor?.actortype ? addressItem.actor?.actortype: '-'}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--AR Summary Report Print View-->
<div class="modal fade custom-modal" id="arSummaryPrint" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button" (click)="closeView()">×</button>
                <h4 class="modal-title"> PDF Preview </h4>
            </div>
            <div class="modal-body" [formGroup]="ARCaseSummaryForm">
                <div class="text-right big-bot-space right-mspace-15">
                    <button class="btn-pri" (click)="downloadCasePdf('arsr')" type="button">Download</button>
                </div>
                <div class="pdf-page sizeA4 page-paddings" data-page-name="AR Summary Report" data-page-end="true"
                    data-page-number="1">
                    <div class="gridsec" id="printARSummaryView">
                        <section class="safety-planmain mrg-top25 dd-overflow-inherit"
                            style="padding-left: 20px; padding-right: 20px;">
                            <div>
                                <h3 style="text-align:center">CPS Alternative Response (AR) Summary Report</h3>
                            </div>
                            <br>
                            <div class="row" style="text-align:left; background-color:lightgray">
                                <div class="col-md-6"><label style="text-align:left">Caseworker
                                        Name:</label>{{ nameTest }}</div>
                                <div class="col-md-6"><label style="text-align:left">Supervisor
                                        Name:</label>{{reportSummary?.userprofile?.displayname | titlecase}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><label style="text-align:left">Date CPS Intake
                                        received:</label>{{reportSummary?.reporteddate | date : 'MM/dd/yyyy'}}</div>
                                <div class="col-md-6"><label style="text-align:left">Name of Referral:</label></div>
                                <div class="col-md-6"><label style="text-align:left">Date IR was
                                        approved:</label>{{reportSummary?.reporteddate | date : 'MM/dd/yyyy'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="text-align:left">CPS Case Type(s)</label>
                                    <div class="">
                                        <label style="text-align:left" class="control control--radio col-md-3">
                                            Neglect
                                            <input type="radio" value="Neglect" formControlName="neglect">
                                            <div class="control__indicator"></div>
                                        </label>
                                        <label style="text-align:left" class="control control--radio col-md-3">
                                            Physical Abuse
                                            <input type="radio" value="Physical Abuse" formControlName="physical_abuse">
                                            <div class="control__indicator"></div>
                                        </label>
                                        <label style="text-align:left" class="control control--radio col-md-3">
                                            Sexual Abuse
                                            <input type="radio" value="Sexual Abuse" formControlName="sexual_abuse">
                                            <div class="control__indicator"></div>
                                        </label>
                                        <label style="text-align:left" class="control control--radio col-md-3">
                                            Mental Injury
                                            <input type="radio" value="Mental Injury" formControlName="mental_injury">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><label style="text-align:left">Victim
                                        Name:</label>{{investigationFind?.personname?.value}}</div>
                                <div class="col-md-6"><label style="text-align:left">Victim DOB:</label></div>
                                <div class="col-md-6"><label style="text-align:left">Maltreator Name:</label></div>
                                <div class="col-md-6"><label style="text-align:left">Maltreator DOB:</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><label style="text-align:left">Date AR was sent to Supervisor for
                                        approval:</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><label style="text-align:left">Date AR was approved by
                                        Supervisor:</label></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="legal-guardian-role" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title"> Role not found </h4>
            </div>
            <div class="modal-body modal-pad">
                
                <p *ngIf="isLGPresent">Person with Role "Legal Guardian" is not added! Please add Legal Guardian in persons screen.</p>
                <p *ngIf="isUnkPresent">Unknown Person(s) are added! Please update them in persons screen.</p>
                
                <button class="btn-pri pull-right aut-btn-legalGuardianNotFound" data-dismiss="modal"> OK </button>

            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="list-supervisor" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content supervisorList">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Supervisor List</h4>
                </div>
                <div class="modal-body dashboard-cont">
    
                    <div class="tab-horizontal mrg-btm25">
    
                        <div class="tab-content boxgrid">
                            <div class="tab-pane active" id="submitcase-supervisor">
                                <div class="">
                                    <div class="bs-example">
                                        <table class="table aut-tbl-IntakeSupervisorListTable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>NAME</th>
                                                    <th>AGENCY</th>
                                                    <th>TYPE OF WORKER</th>
                                                    <th>UNIT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="supervisorsList?.length>0; else noItems">
                                                    <tr *ngFor="let supervisor of supervisorsList">
                                                        <td>
                                                            <mat-radio-button
                                                                class="example-radio-button aut-rdo-supervisorRadio"
                                                                [value]="supervisor"
                                                                (click)="onChangeSupervisor(supervisor)">
    
                                                            </mat-radio-button>
                                                        </td>
                                                        <td>{{supervisor.username}} </td>
                                                        <td>{{supervisor.agencykey}}</td>
                                                        <td>{{supervisor.userrole}}</td>
                                                        <td>{{supervisor.teamname}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>No Items!</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button type="button" value="Yes" class="btn-pri aut-btn-intakeSubmitForReview" name=""
                        (click)="saveARCAseSummary('Submitted')">
                        SUBMIT FOR APPROVAL
                    </button>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade in" id="checklist-investigation-findings-review" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Review Checklist</h4>
            </div>
            <div class="modal-body " [formGroup]="reviewCheckListForm">
                <div class="">
                    <mat-checkbox formControlName="initalfacetoface"> Initial face to face <span class="required"></span></mat-checkbox>
                </div>
                <div class="">
                    <mat-checkbox formControlName="safec"> Approved SAFE-C /  SAFE-C OHP <span *ngIf="isChildNotDead"
                            class="required"></span></mat-checkbox>
                </div>
                <div class="">
                    <mat-checkbox formControlName="mfira"> Approved MFIRA <span *ngIf="isChildNotDead"
                            class="required"></span></mat-checkbox>
                </div>
                <div class="">
                    <mat-checkbox formControlName="canf"> Approved CANS-F <span *ngIf="isChildNotDead"
                            class="required"></span></mat-checkbox>
                </div>
                <div class="">
                    <mat-checkbox formControlName="personrole"> Victim Perpetrator relationship
                        identified <span  class="required"></span></mat-checkbox>
                </div>
                <div><br>
                    <p>All the above indicated mandatory fields must be completed to proceed further!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-pri" (click)="loadSupervisor()">{{conditionCheckList()?'Proceed':'Cancel'}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">Status/Disposition</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="dispositionFormGroup">
                    <div class="fm-box">
                        <div class="row">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Status </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="statusid" [searchable]="true" [clearable]="false"
                                    (change)="loadDispositon($event.value)">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of statusDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Disposition </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="dispositionid" [searchable]="true"
                                    [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of dispositionDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="adultManditory">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Closing Code </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="closingcodetypekey" [searchable]="true"
                                    [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of closeCaseDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row" *ngIf="requestForService">
                            <div class="col-sm-4 bot-mspace-15">
                                <label for="" class="required"> Closing Code </label>
                            </div>
                            <div class="col-sm-8 bot-mspace-15">
                                <ng-select formControlName="closingcodetypekey" [searchable]="true"
                                    [clearable]="false">
                                    <ng-option value="">- Select -</ng-option>
                                    <ng-option *ngFor="let status of closeCaseDropdownItems$ | async"
                                        [value]="status.value">{{status.text}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-4 bot-mspace-15">
                            <label for="" class="required"> Select Supervisor </label>
                        </div>
                    
                        <div class="col-sm-8 bot-mspace-15">
                            <ng-select formControlName="tosecurityuserid" [searchable]="true"
                                [clearable]="false">
                                <ng-option value="">- Select -</ng-option>
                                <ng-option *ngFor="let item of supervisorsList"
                                    [value]="item.userid">{{item.username}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 bot-mspace-15">
                                        <label for=""
                                            [ngClass]="requestForService ? 'required-disposition-case' : ''">Review
                                            Comments </label>
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea class="form-control"
                                            formControlName="reviewcomments"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <button type="button" value="Cancel" class="btn" data-dismiss="modal" [disabled]="isClosed">
                                Cancel</button>
                            <button type="button" value="Save" class="btn-pri" (click)="confirmDisposition()"
                                [disabled]='dispositionFormGroup.pristine || dispositionFormGroup.invalid || isClosed'>Send
                                for
                                approval</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>