#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.wizard video {
   height: 258px;
}
.wizard .photo-view{
  width: 100%;
  height: auto;
}

.no-photo{background:url('../../../../../assets/images/no-preview.png');
   background-size: contain;
  border: 1px solid #ccc; 
  height: 258px;
  width: 340px;
  padding: 5px;}


  .wizard .nav-tabs>li {
    width: calc(50% - 5px);
    padding: 10px;
    background: #585858;
}
.wizard .nav-tabs>li.active{background: #1bbc9b;}
.wizard .nav-tabs>li:first-child{margin-right: 10px;}