<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="box-grid-main clsMinHeight clearfix">
        <div class="row">
            <div class="col-sm-12 m-t-10">
                <div class="dashboard-cont no-pad">
                    <div class="tab-horizontal">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#irc" data-toggle="tab" (click)="tabSwitch('irc')">IRC</a>
                            </li>
                            <li class="">
                                <a href="#cost-sheet" data-toggle="tab" (click)="tabSwitch('cost')">Cost Sheet</a>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid">
                            <div class="tab-pane active" id="irc">
                                <div class="row">
                                    <div class="col-sm-8 m-t-10">
                                        <h4>IRC</h4>
                                    </div>
                                    <div class="col-sm-4 text-right btns-top">
                                        <button type="submit" class="btn-pri" data-target="#provider-rates"
                                            data-toggle="modal" (click)="addRate()">Add Rates
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive table-theme">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Provider rate id</th>
                                                        <th>License type </th>
                                                        <th>Per diem rate</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Rate code</th>
                                                        <th>Rate Status </th>
                                                        <th>Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rate of licenserates">
                                                        <td>{{rate.provider_rate_id}}</td>
                                                        <td>{{rate.license_type}}</td>
                                                        <td>$ {{rate.per_diem_rate}}</td>
                                                        <td>{{rate.start_dt | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{rate.end_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{rate.rate_code}}</td>
                                                        <td>{{rate.rate_status}}</td>
                                                        <td *ngIf="rate.rate_status !== 'Expired'">
                                                            <!-- <button class="btn-pri" (click)="EditPhone(phone)">Edit</button> -->
                                                            <button class="no-bg"><i class="fa fa-pencil" (click)="EditRate(rate)"></i></button> 
                                                            <!-- <i class="fa fa-trash" (click)="Deleterate(rate)"></i>  -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-center mt-10" *ngIf="totalCount > 10">
                                        <pagination [totalItems]="totalCount"
                                            [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageInfoChanged($event.page)"
                                            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="cost-sheet">
                                <div class="row">
                                    <div class="col-sm-8 m-t-10">
                                        <h4>Cost Sheet</h4>
                                    </div>
                                    <div class="col-sm-4 text-right btns-top">
                                        <button type="submit" class="btn-pri" data-target="#provider-rates"
                                            data-toggle="modal">Add Rates
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive table-theme">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Provider rate id</th>
                                                        <th>License type </th>
                                                        <th>Per diem rate</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Rate code</th>
                                                        <th>Rate Status </th>
                                                        <th>Actions </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rate of licenserates">
                                                        <td>{{rate.provider_rate_id}}</td>
                                                        <td>{{rate.license_type}}</td>
                                                        <td>$ {{rate.per_diem_rate}}</td>
                                                        <td>{{rate.start_dt | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{rate.end_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{rate.rate_code}}</td>
                                                        <td>{{rate.rate_status}}</td>
                                                        <td *ngIf="rate.rate_status !== 'Expired'"> <!-- <button class="btn-pri" (click)="EditPhone(phone)">Edit</button> -->
                                                            <button class="no-bg"><i class="fa fa-pencil-square-o" (click)="EditRate(rate)"></i></button>
                                                            <!-- <i class="fa fa-trash" (click)="Deleterate(rate)"></i>  -->
                                                        </td>  
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-center mt-10" *ngIf="totalCount > 10">
                                        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
                                            (pageChanged)="pageChanged($event.page)" class="pagination-sm"
                                            [boundaryLinks]="true" [maxSize]="10">
                                        </pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade in" id="provider-rates" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closewindow()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{irc ? 'IRC' : 'Cost Sheet'}} - {{FormMode}} New Rates</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="ratesForm">
                    <div class="row">
                        <div class="col-md-6">
                            <p><label *ngIf="irc">Provider Status<span class="req-fields">*</span></label></p>
                            <mat-radio-group formControlName="isratepreferred" *ngIf="irc" required>
                                <mat-radio-button value=0>Preferred</mat-radio-button>
                                <mat-radio-button value=1>Non-Preferred</mat-radio-button>
                            </mat-radio-group>
                            <p><label *ngIf="costSheet">Rate Type<span class="req-fields">*</span></label></p>
                            <mat-radio-group formControlName="ratecheck" *ngIf="costSheet" required>
                                <mat-radio-button value=0>Original Rate</mat-radio-button>
                                <mat-radio-button value=1>Reconsideration</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field class="m-t-10">
                                <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                    formControlName="start_dt" required (dateChange)="onDateChange(ratesForm)">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field *ngIf="irc">
                                <span matPrefix>$ </span>
                                <input type="text" matInput formControlName="per_diem_rate" placeholder="Per Diem Rates"
                                    required (change)="onRate($event.target.value, 'per_diem_rate')">
                            </mat-form-field>
                            <mat-form-field>
                                <span matPrefix>$ </span>
                                <input type="text" matInput formControlName="monthly_rate" placeholder="Mothly" required
                                    (change)="onRate($event.target.value, 'monthly_rate')">
                            </mat-form-field>
                            <mat-form-field>
                                <span matPrefix>$ </span>
                                <input type="text" matInput formControlName="annual_rate" placeholder="Annual" required
                                    (change)="onRate($event.target.value, 'annual_rate')">
                            </mat-form-field>
                            <mat-form-field *ngIf="costSheet">
                                <input type="number" [min]="0" matInput formControlName="total_no_weeks"
                                    placeholder="Todal Number of Weeks" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <p><label *ngIf="irc">Rate Type<span class="req-fields">*</span></label></p>
                            <mat-radio-group formControlName="ratecheck" *ngIf="irc" required>
                                <mat-radio-button value=0>Original Rate</mat-radio-button>
                                <mat-radio-button value=1>Reconsideration</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field *ngIf="costSheet">
                                <span matPrefix>$ </span>
                                <input type="text" matInput formControlName="per_diem_rate" placeholder="Per Diem Rates"
                                    required (change)="onRate($event.target.value, 'per_diem_rate')">
                            </mat-form-field>
                            <mat-form-field class="m-t-10">
                                <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                    [min]="ratesForm.value.start_dt" formControlName="end_dt" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                                
                            <mat-select input type="text" matInput formControlName="license_type" placeholder="Available License Types" required>
                                    <mat-option *ngFor="let item of licenseTypes " value="{{item.license_type}}">
                                        {{item.license_no}}-{{item.license_level}}-{{item.license_type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <input type="text" matInput formControlName="rate_code" placeholder="Ratecode" required>
                            </mat-form-field>
                            <mat-form-field *ngIf="irc">
                                <input type="number" [min]="0" matInput formControlName="bed_capacity"
                                    placeholder="Bed Capacity" required>
                            </mat-form-field>

                            <mat-form-field *ngIf="costSheet">
                                <input type="number" [min]="0" matInput formControlName="total_no_days"
                                    placeholder="Total Number of Days" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri" (click)="createNewRates(ratesForm.value)"
                                    (change)="Change($event)">{{FormMode=="Edit"?"Update":"Create"}}</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>