<div class="row">
    <div class="col-md-12 " [formGroup]="providerForm" [fieldKey]="'caseworker-persons-edit-health-provider-info'">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 m-b-5">
                    <p>PCP (Primary Care Physician)<label></label></p>
                    <mat-radio-group  formControlName="isprimaryphycisian">
                        <mat-radio-button class="m-r-10" value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <mat-form-field>
                <input matInput  formControlName="name" placeholder="Name of the physician">
            </mat-form-field>
            <mat-form-field>
                    <mat-select  formControlName="physicianspecialtytypekey" placeholder="Specialty">
                            <mat-option  *ngFor="let item of specialty$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput  formControlName="facility" placeholder="Name of the facility of physician">
            </mat-form-field>
            <mat-form-field>
                <input matInput  formControlName="phone"  placeholder="Phone number" mask="(000) 000-0000">
            </mat-form-field>
            <mat-form-field>
                <input matInput  formControlName="email" placeholder="Email Address">
            </mat-form-field>
             </div>
            <div class="col-sm-6">
            <mat-form-field>
                <input matInput formControlName="address1" placeholder="Address Line 1">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="address2" placeholder="Address Line 2">
            </mat-form-field>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="City">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select formControlName="state" placeholder="State">
                            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-select  formControlName="county" placeholder="County">
                            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input formControlName="zip" matInput placeholder="Zip Code">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input (change)="startDateChanged()" formControlName="startdate" matInput
                            [matDatepicker]="picker" placeholder="Start Date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input (change)="endDateChanged" formControlName="enddate" matInput [matDatepicker]="picker1"
                            placeholder="End Date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="row m-b-20">
            <div class="col-sm-12 ">
                <div class="pull-right">
                    <span *ngIf="reportMode === 'add'">
                        <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                        <button class="btn-pri" [disabled]="providerForm.pristine || providerForm.invalid" (click)="add()">Add</button>
                    </span>
                    <span *ngIf="reportMode === 'edit'">
                        <button class="btn-pri" [disabled]="providerForm.pristine || providerForm.invalid" *ngIf="editMode === true"
                            (click)="update()">Update</button>
                        <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="providercw.length>0">
        <div class="table-responsive table-theme table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>PCP</th>
                        <th>NAME</th>
                        <th>SPECIALTY</th>
                        <th>PHONE NUMBER</th>
                        <th>COUNTY</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let phy of providercw; let i=index">
                        <td>{{phy.isprimaryphycisian ? 'Yes' : 'No'}}</td>
                        <td>{{phy.name}}</td>
                        <td>{{specialty[phy.physicianspecialtytypekey]}}</td>
                        <td>{{phy.phone}}</td>
                        <td>{{phy.county}}</td>
                        <td>
                            <a (click)="view(phy)">
                                <i class="fa fa-eye text-16"></i>
                            </a> |
                            <a (click)="edit(phy, i)">
                                <i class="fa fa-pencil text-16"></i>
                            </a> |
                            <a (click)="delete(i)">
                                <i class="fa fa-trash text-16"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

