<div class="row">
        <div class="card" style="padding: 10px" [formGroup]="outerForm">
            <div [formGroupName]="clearanceType">
            <div class="card-header text-center bg-primary">
                {{title}}
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-md-12">
                        {{titleQuestion}}
                        <mat-radio-group formControlName="mainQuestion" #mainQuestion>
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <!-- <pre>{{outerForm.get(clearanceType).controls['mainQuestion'].value}}</pre> -->
                <div class="row">
                    <div class="col-md-4" *ngIf="outerForm.get(clearanceType).controls['mainQuestion'].value==1">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Clearance Date"
                                formControlName="clearance_date">
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                            <mat-form-field>
                                    <input type="text" matInput formControlName="narrative"
                                       placeholder="Narrative" >
                                 </mat-form-field>
                        <!-- Narrative <input type="text" matInput formControlName="narrative" /> -->
                    </div>
                </div>
                <div class="row" *ngIf="subQuestionStr && outerForm.get(clearanceType).controls['mainQuestion'].value==1">
                        <div class="col-md-12">
                                {{subQuestionStr}}
                                <mat-radio-group formControlName="subQuestion">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>
                        </div>
                </div>
                <div class="row" formGroupName="approval_info" *ngIf="isAppInfo && outerForm.get(clearanceType).controls['mainQuestion'].value==1">
                        <div class="col-md-12">
                                Has the Director approved the Screen-In Decision? 
                                <mat-radio-group formControlName="directorsApproval">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>
                        </div>
             
               
                       
                
                
                        <div class="col-md-12">
                                <mat-form-field>
                                        <input matInput [matDatepicker]="approval_date" placeholder="Approval date"
                                            formControlName="approval_date">
                                        <mat-datepicker-toggle matSuffix [for]="approval_date">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #approval_date [startAt]="startDate"></mat-datepicker>
                                    </mat-form-field>
                        </div>
                        <div class="col-md-12">
                                Worker can upload written approval from the Director
                                
                               <!--  <mat-radio-group formControlName="uploaded">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group> -->
                        </div>
                        <div class="col-md-12">
                            <document-upload-list colSize = "col-md-12 m-l-" [uploadedFiles]="uploadedFiles" [uploadNumber]="uploadNumber"></document-upload-list>
                        </div>         
                </div>  
            </div>
        </div>
        </div>

    </div>