<div class="row">
        <div class="col-md-12" [formGroup]="behaviouralHealthInfoForm">
            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Behavioural Health Diagnosis<label></label></p>
                                <mat-radio-group formControlName="behaviouralhealthdiagnosis">
                                    <mat-radio-button class="m-r-10" value="true">Yes</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select placeholder="Type of Service" formControlName="typeofservice" multiple
                                        class="aut-lst-addNotesInvolvedPerson">
                                        <mat-option *ngFor="let item of serviceDropdownItems$ | async"
                                            value="{{item.value}}">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <h4>
                        <p class="bg-theme">Clinician Contact Info</p>
                    </h4>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="clinicianname" placeholder="Clinician Name">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="address1" placeholder="Address Line 1">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="address2" placeholder="Address Line 2">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input formControlName="city" matInput placeholder="City">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select formControlName="state" placeholder="State">
                                        <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">
                                            {{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-select formControlName="county" placeholder="County">
                                        <mat-option *ngFor="let item of countyDropDownItems$ | async"
                                            value="{{item.value}}">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input formControlName="zip" matInput placeholder="Zip Code">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class=' m-t-50'>
                                    <input matInput formControlName="phone" placeholder="Phone number"
                                        mask="(000) 000-0000">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="currentdiagnoses" placeholder="Current Diagnosis">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <input matInput formControlName="reportname" placeholder="Report Name">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4 cusmm-fileupload">
                                <label class="btn-bs-file btn btn-pri">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <input type="file" (ngxf-select)="uploadFile($event)"
                                        [ngxf-validate]="{ size: { min: 5 } }">UPLOAD
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-b-20">
                <div class="col-sm-12 ">
                    <div class="pull-right">
                        <span *ngIf="reportMode === 'add'">
                            <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                            <button class="btn-pri" (click)="add()">Add</button>
                        </span>
                        <span *ngIf="reportMode === 'edit'">
                            <button class="btn-pri" *ngIf="editMode === true" (click)="update()">Update</button>
                            <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" *ngIf="behaviouralcw.length>0">
                    <div class="table-responsive table-theme table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Clinician Name</th>
                                    <th>Address</th>
                                    <th>Report Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let behaviour of behaviouralcw; let i=index">
                                    <td>{{behaviour.clinicianname}}</td>
                                    <td>{{behaviour.address1}},{{behaviour.address2}}</td>
                                    <td><a [href]="behaviour.reportpath" target="_blank">
                                            <p>{{behaviour.reportname}}</p>
                                        </a></td>                               
                                    <td>
                                        <a (click)="view(behaviour)">
                                            <i class="fa fa-eye text-16"></i>
                                        </a> |
                                        <a (click)="edit(behaviour, i)">
                                            <i class="fa fa-pencil text-16"></i>
                                        </a> |
                                        <a (click)="delete(i)">
                                            <i class="fa fa-trash text-16"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    