<div class="col-md-3">
    <mat-card>
        <mat-list dense class="health-section-list">
            <a mat-list-item *ngFor="let healthSection of healthSections" class="health-section-item" [ngClass]="healthSection.isActive ? 'active-section':'in-active-section'"
                (click)="showHealthSection(healthSection)"> {{healthSection.name}} </a>

        </mat-list>
    </mat-card>
</div>
<div class="col-md-9">
    <mat-card class="section-layout">
        <mat-card-header>
            <mat-card-title class="section-title">
                <h4>{{selectedHealthSection.name | uppercase}}</h4>
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <div [ngSwitch]="selectedHealthSection.id">
                <div *ngSwitchCase="'log'">
                    <person-health-section-log></person-health-section-log>
                </div>
                <div *ngSwitchCase="'physician-information'">
                    <physician-information [healthFormReset$]='healthFormReset$'></physician-information>
                </div>
                <div *ngSwitchCase="'health-insurance-information'">
                    <health-insurance-information></health-insurance-information>
                </div>
                <div *ngSwitchCase="'medication-including-psychotropic'">
                    <medication-including-psychotropic></medication-including-psychotropic>
                </div>
                <div *ngSwitchCase="'health-examination'">
                    <health-examination></health-examination>
                </div>
                <div *ngSwitchCase="'medical-conditions'">
                    <medical-conditions></medical-conditions>
                </div>
                <div *ngSwitchCase="'medical-conditions-cw'">
                    <medical-conditions-cw></medical-conditions-cw>
                </div>
                <div *ngSwitchCase="'behavioral-health-info'">
                    <behavioral-health-info></behavioral-health-info>
                </div>
                <div *ngSwitchCase="'history-of-abuse'">
                    <history-of-abuse></history-of-abuse>
                </div>
                <div *ngSwitchCase="'substance-abuse'">
                    <substance-abuse></substance-abuse>
                </div>
                <div *ngSwitchCase="'provider-dental-information-cw'">
                    <provider-information-cw [healthFormReset$]='healthFormReset$'></provider-information-cw><br /><br />
                    <mat-card-title class="section-title">
                        <h4>{{'Dental Information' | uppercase}}</h4>
                    </mat-card-title>
                    <dental-information-cw [healthFormReset$]='healthFormReset$'></dental-information-cw>
                </div>
                <div *ngSwitchCase="'insurance-information-cw'">
                    <insurance-information-cw></insurance-information-cw>

                </div>
                <div *ngSwitchCase="'medication-including-psychotropic-cw'">
                    <medication-including-psychotropic-cw></medication-including-psychotropic-cw>
                </div>
                <div *ngSwitchCase="'behavioral-health-info-cw'">
                    <behavioral-health-info-cw></behavioral-health-info-cw>
                </div>
                <div *ngSwitchDefault class="text-warning" style="height: 450px">

                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
