// .attachment-tab .icon i.fa {
//     font-size: 22px;
//     padding-right: 10px;
//     vertical-align: sub;
// }
// .attachment-tab .icon button.btn-pri {
//     margin-left: 25px;
// }
// .attachment-panel {
//     border: 2px solid #e2e2e2;
//     margin-top: 10px;
//     margin-bottom: 0;
// }
// .attachment-panel .panel-heading {
//     padding: 15px;
//     background: #fff;
//     border-bottom: 2px solid #e2e2e2;
// }
// .attachment-panel .panel-title {
//     color: #57595a;
//     font-weight: 600;
//     font-size: 16px;
//     min-height: 36px;
// }
// .attachment-panel .panel-title span i.fa-file-excel-o {
//     font-size: 22px;
//     padding-right: 10px;
//     vertical-align: middle;
//     color: #039be6;
// }
// .attachment-panel .panel-heading span.f-size {
//     padding-left: 30px;
//     font-size: 13px;
// }
// span.categori-name {
//     font-size: 12px;
//     margin-right: 15px;
//     border: 1px solid #0277bd;
//     padding: 5px 15px;
//     border-radius: 20px;
// }
// .attachment-panel .panel-body dl dt,
// .entities-panel .panel-body dl dd {
//     font-weight: 600;
//     color: #676767;
//     font-size: 12px;
//     text-transform: uppercase;
// }
// .attachment-panel .panel-body dl {
//     margin-bottom: 5px;
// }
// .attachment-panel .panel-body dl dd {
//     font-size: 11px;
// }
// .attachment-panel .panel-footer {
//     background: #fff;
//     padding: 5px 15px;
//     border-top: 2px solid #e2e2e2;
//     color: #039be6;
// }
// .m-t-20 {
//     margin-top: 20px;
// }
// .m-t-15 {
//     margin-top: 15px;
// }
// .theme {
//     color: #039be6;
// }

// /*sathish*/
// .no-attach {
//     padding: 50px 0px;
// }
// .no-attach h6 {
//     font-weight: 600;
//     font-size: 18px;
// }
// .attachment-panel .panel-footer h5 {
//     display: inline-block;
//     width: 70%;
// }
// .attachment-panel .panel-footer div > a {
//     font-size: 20px;
//     margin-right: 5px;
// }
// .word-align {
//     margin-bottom: 0;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }
// .single-wrap {
//     display: -webkit-box;
//     -webkit-line-clamp: 1;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }
// .mh-82 {
//     min-height: 36px;
// }
// .attachment-panel .media .media-heading {
//     font-size: 15px;
//     margin-bottom: 5px;
//     text-transform: none;
//     margin-top: 3px;
//     display: -webkit-box;
//     -webkit-line-clamp: 1;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }
// .attachment-panel .media .media-left {
//     font-size: 30px;
//     color: #039be6;
// }
// .attachment-panel .media p {
//     font-size: 12px;
//     color: #777;
//     margin-bottom: 0;
// }
// .att-wrap {
//     width: 100%;
//     float: left;
//     max-height: 420px;
//     overflow-y: auto;
// }
// .p-relative {position: relative;}
// .toggle-list {border-bottom: 1px solid #039be6;margin-left: -10px;}
// .toggle-list:before {
//     position: absolute;
//     content: "";
//     width: 100%;
//     bottom: 0;
//     height: 1px;
//     background: #039be6;
// }
// .toggle-list li {
//     background: transparent;
//     padding: 8px 15px;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     border: 1px solid #039be6;
//     // border-bottom: none;
//     margin-right: 0px;
//     margin-left: 10px;
//     position: relative;
// }
// .toggle-list li:after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     bottom: -1px;
//     left: 0;
//     border-bottom: 1px solid #fff;
// }
// .toggle-list li a {
//     color: #039be6;
//     font-weight: 600;
//     font-size: 13px;
// }
// .toggle-list li.active {
//     background: #039be6;
// }
// .toggle-list li.active:after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     bottom: -1px;
//     left: 0;
//     border-bottom: 1px solid #039be6;
// }
// .toggle-list li.active a {
//     color: #fff;
// }
// .document-search .input-group {
//     max-width: 400px;
//     float: left;
// }
// .document-search .input-group input {
//     border: 1px solid #039be6 !important;
//     border-radius: 3px;
//     padding: 5px;
//     height: 34px;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
// }
// .input-group input::placeholder {font-size:12px;}
// .document-search  button.btn.btn-pri {
//     font-size: 13px;
//     padding: 8px;
//     font-weight: 500;
//     min-width:75px;
// }

// .table {table-layout: fixed;}
// .custom-table>thead {background: #a8b9d2;}
// .custom-table>thead>tr>th {padding:15px 8px;border: none;color: #24292e;font-weight: 600;vertical-align: middle;}
// .custom-table>tbody>tr{border-bottom: 1px solid #dddddd;}
// .custom-table>tbody>tr>td {padding:0;}
// // .custom-innertable>thead>tr>th {padding:0;color: #24292e;font-weight: 600;font-size: 13px;border:0;}
// .custom-table>tbody>tr.bg-active {background: #e8f0fa;/*border-left: 10px solid #039be6;*/}
// .table.custom-innertable{background-color: transparent;}
// .table.custom-innertable>thead>tr>th {border:none;vertical-align: middle;padding:15px 8px;text-transform: capitalize;color: #24292e;font-weight: 600;font-size: 13px;}
// .table.custom-innertable>tbody>tr>td {padding:15px 8px;vertical-align: middle;font-size:13px;font-weight:600;text-transform: capitalize;}
// .table.custom-innertable>tbody>tr{border-bottom: 1px solid #fff;}
// .table.custom-innertable>tbody>tr:last-child{border-bottom: none;}
// .table.custom-innertable>tbody {background:#e0e8f8;}
// .p-t-10 {padding-top:10px !important;}
// .w-700 {width:700px;}
// .f-w-500 {font-weight: 500;}
// .f-w-600 {font-weight: 600;}


// .table.custom-table.upload-table>thead>tr>th:nth-child(1) {width: 200px;max-width: 200px;}
// .table.custom-table.upload-table>thead>tr>th:nth-child(2) {width: 150px;max-width: 150px;}
// .table.custom-table.upload-table>thead>tr>th:nth-child(3) {width: 200px;max-width: 200px;}
// .table.custom-table.upload-table>thead>tr>th:nth-child(4) {width: 200px;max-width: 200px;}
// .table.custom-table.upload-table>thead>tr>th:nth-child(5) {width: 200px;max-width: 200px;}
// .table.custom-table.upload-table>thead>tr>th:nth-child(6) {width: 300px;max-width: 300px;text-align:center;}

// .table.custom-innertable.upload-table>thead>tr>th:nth-child(1) {width: 200px;max-width: 200px;}
// .table.custom-innertable.upload-table>thead>tr>th:nth-child(2) {width: 150px;max-width: 150px;}
// .table.custom-innertable.upload-table>thead>tr>th:nth-child(3) {width: 200px;max-width: 200px;}
// .table.custom-innertable.upload-table>thead>tr>th:nth-child(4) {width: 200px;max-width: 200px;}
// .table.custom-innertable.upload-table>thead>tr>th:nth-child(5) {width: 200px;max-width: 200px;}
// .table.custom-innertable.upload-table>thead>tr>th:nth-child(6) {width: 300px;max-width: 300px;text-align:center;}

// .action-icons.m-r li {margin-right:5px !important;}


// .table.custom-table>thead>tr>th:nth-child(1) {width: 50px;max-width: 50px;}
// .table.custom-table>thead>tr>th:nth-child(2) {width: 350px;max-width: 350px;}
// .table.custom-table>thead>tr>th:nth-child(3) {width: 190px;max-width: 190px;}
// .table.custom-table>thead>tr>th:nth-child(4) {width: 250px;max-width: 250px;}
// .table.custom-table>thead>tr>th:nth-child(5) {width: 380px;max-width: 380px; text-align: center;}

// .table.custom-innertable>thead>tr>th:nth-child(1) {width: 30px;max-width: 30px;}
// .table.custom-innertable>thead>tr>th:nth-child(2) {width: 200px;max-width: 200px;}
// .table.custom-innertable>thead>tr>th:nth-child(3) {width: 110px;max-width: 110px;}
// .table.custom-innertable>thead>tr>th:nth-child(4) {width: 150px;max-width: 150px;}
// .table.custom-innertable>thead>tr>th:nth-child(5) {width: 220px;max-width: 220px;}

// .p-t-b-100 {padding:100px 0;}
// .action-icons {margin-bottom: 0;}
// .action-icons li {margin-right:15px;}
// .action-icons li a {font-weight:600;color: #039be6;}
// .action-icons li a i {font-size: 16px;margin-right:8px;}
// .btn-pri-s {
//     font-weight: 500;
//     font-size: 13px;
// }
// .fa-chevron-down {
//     color: #9a9999;
//     font-weight: 500;
//     font-size: 12px !important;
// }
// .a-btn {
//     background: #039be6;
//     color: #fff !important;
//     font-size: 13px;
//     font-weight: 600;
//     border-radius: 2px;
//     padding: 4px 10px;
// }


// .modal-theme .modal-body p.title {
//     color: #000;
//     font-size: 18px;
//     font-weight: 700;
//     text-align: left;
// }
// .modal-theme .modal-body p {
//     font-weight: 600;
//     color: #191919;
//     font-size: 14px;
// }
// .t-25 {
//     top:25%;
// }
// .modal-theme .modal-body {
//     padding: 15px 30px;
// }
// .modal-theme .close {
//     position: absolute;
//     right: 15px;
//     top: 5px;
//     font-size: 28px;
// }
// .modal-theme .close:focus {outline:none;}
// .doc-list {margin-top:30px;}
// .doc-list li {
//     font-size: 16px;
//     font-weight: 600;
//     margin-bottom: 10px;
// }

// .remove-margin {
//     margin:-20px;
// }

// .inner-margin {
//     margin:20px;
// }
