
<section id="applicant-section" class="profile-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Provider Id : </p>
                <p>Provider Name : </p>
                <p>Tax ID : </p>
                <p>Status : <span class="status-open"></span></p>
                <p>License Programs : </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cls-mb-5 p-t-b-10">
                <p>Assigned to : </p>
                <p>Provider Address : </p>
                <p>Provider Phone : </p>
                <p>Email Address : </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 cls-mb-5 p-t-b-10">
                <p>Contract : </p>
                <p>Contract Type : </p>
                <p>Contract Term Type : </p>
                <p>Total Contract Amount : </p>
                <p>Contract End Date : </p>
            </div>  
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 p-t-b-10">
                <div class="day-count-main text-center">
                    <div class="count-center">
                        <p class="day-count">6</p>
                        <p class="go m-t-10">Available Beds for Placements</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
    <section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <p>Group ID
                        <span></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="box-grid clsMinHeight no-pad clearfix">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="">
                        <div class="intake no-pad">
                            <div class="tab-horizontal">
                                <ul class="nav nav-pills click-triggers">
                                    <li [ngClass]="(complaintNo || capNo) ? '' : 'active'">
                                        <a data-toggle="tab" data-target="#corporateinfo" id="corporate-info">
                                            
                                            <ng-container *ngIf="isYSB; else elseTemplate">
                                                Local Managment Board
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                Corporate Info
                                            </ng-template>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#providerStaff">Staff</a>
                                    </li>
                                    <!-- <li>
                                        <a data-toggle="tab" data-target="#provider-incident-reporting">Incident Reporting</a>
                                    </li> -->
                                    <li>
                                        <a data-toggle="tab" data-target="#provider-sanctions">Sanctions</a>
                                    </li>
                                    <!-- <li>
                                        <a data-toggle="tab" data-target="#provider-uir">UIR</a>
                                    </li> -->
                                    <li>
                                        <a data-toggle="tab" data-target="#provider-change-request">Change Request</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#provider-documents" id="provider-document">Documents</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#cap" id="cap-provider">CAP</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#private-provider-cpa-home" id="cpahome-provider">CPA Home</a>
                                    </li>
                                    <li >
                                        <a data-toggle="tab" data-target="#Monitoring">Monitoring</a>
                                    </li>   
                                </ul>
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="corporateinfo">
                                        <provider-corporate-information></provider-corporate-information>
                                    </div>
                                    <div class="tab-pane" id="providerStaff">
                                      <private-provider-staff></private-provider-staff>
                                    </div>
                                    <!-- <div class="tab-pane" id="provider-incident-reporting">
                                        <provider-incident-reporting></provider-incident-reporting>
                                    </div> -->
                                    <div class="tab-pane" id="provider-sanctions">
                                        <provider-sanctions></provider-sanctions>
                                    </div>
                                    <!-- <div class="tab-pane" id="provider-uir">
                                        <provider-uir></provider-uir>
                                    </div> -->
                                    <div class="tab-pane" id="provider-change-request">
                                        <provider-change-request></provider-change-request>
                                    </div>
                                    <div class="tab-pane" id="provider-documents">
                                        <provider-attachments></provider-attachments>
                                    </div>
                                    <div class="tab-pane" id="cap">
                                        <cap></cap>
                                    </div>
                                    <div class="tab-pane" id="private-provider-cpa-home">
                                        <private-provider-cpa-home></private-provider-cpa-home>
                                    </div>
                                    <div class="tab-pane" id="Monitoring">
                                        <provider-monitor-licensing [licenseLevelInputForMonitoring]="licenseLevelInputForMonitoring"></provider-monitor-licensing>  
                                    </div>  
                                    <!-- <div class="tab-pane" id="private-provider-clearance-medical">
                                        <provider-clearance-medical></provider-clearance-medical>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">PDF preview</h4>
                </div>
                <div class="modal-body">
                    <applicant-document-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)'></applicant-document-creator>
                </div>
            </div>
        </div>
    </div> -->