<div class="modal fade" id="modal-view-finace-accountsPayable" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <button _ngcontent-c20="" class="close" data-dismiss="modal" type="button" (click)="viewMaintenance()">×</button>
                <h4 class="modal-title">View Payment</h4>
            </div>

            <div class="modal-body">

                <div class="row payment-details">
                    <div class="col-sm-4">
                        <label class="finance-label">Provider ID: </label>
                        <span>{{selectedAccountsPayable?.provider_id}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="finance-label">Provider Name: </label>
                        <span>{{selectedAccountsPayable?.provider_nm}}</span>
                    </div>
                    <!-- <div class="col-sm-4">
                        <label class="finance-label">Payee Name: </label>
                        <span>{{selectedAccountsPayable?.payee_nm}}</span>
                    </div> -->
                    <div class="col-sm-4">
                        <label class="finance-label">Payment ID: </label>
                        <span>{{selectedAccountsPayable?.payment_id}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="finance-label">Net Amount: </label>
                        <span *ngIf="!releasedStatusFlag">{{(selectedAccountsPayable?.gross_amount_no - selectedAccountsPayable?.offset_amount_no) | cjamsCurrency}}</span>
                        <span *ngIf="releasedStatusFlag">$0.00</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="finance-label">Gross Amount: </label>
                        <span *ngIf="!releasedStatusFlag">{{selectedAccountsPayable?.gross_amount_no | cjamsCurrency}}</span>
                        <span *ngIf="releasedStatusFlag">$0.00</span>
                    </div>
                    <!-- <div class="col-sm-4">
                        <label class="finance-label">Client ID: </label>{{selectedAccountsPayable?.client_id}}
                    </div>
                    <div class="col-sm-4">
                        <label class="finance-label">Client Name:
                        </label>{{selectedAccountsPayable?.client_first_nm}}&nbsp;{{selectedAccountsPayable?.client_last_nm}}
                    </div>
                    <div class="col-sm-4">
                        <label class="finance-label">Case Worker Name:
                        </label>{{selectedAccountsPayable?.case_worker_nm}}
                    </div> -->
                </div>

                <div class="sep-top-blue ver-mspace bot-space"> </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-letter-tab mrg-top0">
                        <ul class="nav nav-tabs tab-bg no-pad" role="tablist">
                            <li role="presentation" class="active" style="border-right: 1px solid #cccccc;">
                                <a href="#SubsidyPayment" aria-controls="entry_tab" role="tab" data-toggle="tab"
                                    aria-expanded="true">Maintenance/Subsidy Payment</a>
                            </li>
                            <li role="presentation" class="" style="border-right: 1px solid #cccccc;">
                                <a href="#PaymentStatement" aria-controls="affiliated_service_tab" role="tab"
                                    data-toggle="tab" aria-expanded="false">Payment Statement</a>
                            </li>
                            <!-- <li role="presentation" class="" style="border-right: 1px solid #cccccc;">
                                    <a href="#FinancePayment" aria-controls="finance_payment_tab" role="tab" data-toggle="tab"
                                        aria-expanded="false">Finance Payment</a>
                                </li> -->
                        </ul>

                        <div class="tab-content mrg-top25">

                            <!--  <<<<<<<<<<<<<<<<<<<<<<<<<<<<< Payment Information >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
                            <div role="tabpanel" class="tab-pane active" id="SubsidyPayment">
                                <!-- <div class="panel-group form-letter-tab" id="accordion"> -->
                                <div class="panel-group form-letter-tab">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <!-- <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true">
                                                <a>Provider Informations
                                                    <span class="glyphicon pull-right glyphicon-minus"></span>
                                                </a>
                                            </h4> -->
                                            <h4 class="panel-title">
                                                <a>Provider Information</a>
                                            </h4>
                                        </div>
                                        <div class="">
                                            <!-- <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true"> -->
                                            <div class="panel-body">
                                                <div class="col-md-12 col-sm-12 col-xs-12 fill-data">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-box">
                                                                <p><label class="zero">Provider Name : </label> <span>{{selectedAccountsPayable?.provider_nm}}</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-box">
                                                                <p><label class="zero">Provider ID : </label> <span>{{selectedAccountsPayable?.provider_id}}</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-box">
                                                                <p><label class="zero">Tax ID : </label> <span>{{selectedAccountsPayable?.tax_id_no}}</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-box">
                                                                <p><label class="zero">Tax ID Type : </label> <span>{{selectedAccountsPayable?.prov_tax_type_cd}}</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-box">
                                                                <p><label class="zero">Mail Code : </label> <span>{{selectedAccountsPayable?.mail_code_tx}}</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row form-box box-innerdiv">
                                                                        <div class="col-md-3">
                                                                            <label class="zero">Payment Address : </label>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <span>{{paymentAddress}}</span>
                                                                            <span><br/>{{stateandZip}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-box">
                                                                <p><label class="zero">Local Department : </label> <span>{{selectedAccountsPayable?.local_department}}</span></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="row">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="row">
                                                        <div class="col-md-6 box-innerdiv">
                                                            <div class="form-box">
                                                                <label class="zero">Payment Address:</label>
                                                                <div class="form-box-form ">
                                                                    <p>{{selectedAccountsPayable?.adr_type_cd}} &nbsp;
                                                                        {{selectedAccountsPayable?.adr_street_nm}},
                                                                        &nbsp;
                                                                        {{selectedAccountsPayable?.adr_city_nm}}, &nbsp;
                                                                        {{selectedAccountsPayable?.adr_state_cd}} -
                                                                        {{selectedAccountsPayable?.adr_zip5_no}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div> -->

                                                    <div class="row">

                                                        <!-- <div class="col-md-6 col-sm-6 col-xs-12">

                                                            <div class="form-box">
                                                                <label class="zero">County code</label>
                                                                <div class="form-box-form ">
                                                                    <p>{{selectedAccountsPayable?.county_cd}}</p>
                                                                </div>
                                                            </div>
                                                        </div> -->

                                                        <div class="col-md-12 col-sm-12 col-xs-12 fill-data">
                                                            <h4 class="">Payment Information</h4>
                                                            <!-- class="finance-panel-label"-->
                                                            <div class="row box-innerdiv">
                                                                <div class="col-md-6">
                                                                    <div class="form-box">
                                                                        <p><label class="zero">Payment ID : </label> <span>{{selectedAccountsPayable?.payment_id}}</span></p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-box">
                                                                        <p><label class="zero">Payment Date : </label> <span>{{selectedAccountsPayable?.payment_dt |
                                                                                date:
                                                                                'MM/dd/yyyy'}}</span></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row box-innerdiv m-t-10">
                                                                <div class="col-md-6">
                                                                    <div class="form-box">
                                                                        <p><label class="zero">Gross Amount : </label> <span *ngIf="!releasedStatusFlag">{{(selectedAccountsPayable?.gross_amount_no ? selectedAccountsPayable?.gross_amount_no : '0.00') | cjamsCurrency}}</span>
                                                                            <span *ngIf="releasedStatusFlag">$0.00</span></p>
                                                                    </div>
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Net Amount : </label>
                                                                            <span *ngIf="!releasedStatusFlag">{{(selectedAccountsPayable?.gross_amount_no - (selectedAccountsPayable?.offset_amount_no ? selectedAccountsPayable?.offset_amount_no : 0)) | cjamsCurrency }}</span>
                                                                            <span *ngIf="releasedStatusFlag">$0.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Offset Amount : </label> <span *ngIf="!releasedStatusFlag">{{(selectedAccountsPayable?.offset_amount_no ? selectedAccountsPayable?.offset_amount_no : '0.00') | cjamsCurrency}}</span>
                                                                            <span *ngIf="releasedStatusFlag">$0.00</span></p>
                                                                    </div>
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Local Department Gross Amount : </label> <span></span></p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                </div>
                                                            </div>
                                                            <div class="row box-innerdiv m-t-10">
                                                                <div class="col-md-6">
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Payment Status : </label> <span>{{selectedAccountsPayable?.payment_status_nm}}</span></p>
                                                                    </div>
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Interface To : </label> <span>{{selectedAccountsPayable?.interface_to_nm}}</span></p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-box p-0">
                                                                        <p><label class="zero">Payment Type : </label> <span>{{selectedAccountsPayable?.payment_type_nm}}</span></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-12">


                                                                    <div class="form-box">
                                                                        <label class="zero">Payment Period Start:</label>
                                                                        <div class="form-box-form ">
                                                                            <p>{{accountPayable?.payment_start_dt|date: 'MM/dd/yyyy' }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-box">
                                                                        <label class="zero">Payment Period End:</label>
                                                                        <div class="form-box-form ">
                                                                            <p>{{accountPayable?.payment_end_dt|date:'MM/dd/yyyy' }}</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div> -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  <<<<<<<<<<<<<<<<<<<<<<<<<<<<< Payment Statement >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

                            <div role="tabpanel" class="tab-pane" id="PaymentStatement">
                                <!-- <div class="panel-group form-letter-tab" id="accordion"> -->
                                <div class="panel-group form-letter-tab">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <!-- <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseTwo" aria-expanded="true">
                                                <a>Client Payment Details
                                                    <span class="glyphicon pull-right glyphicon-minus"></span>
                                                </a>
                                            </h4> -->
                                            <h4 class="panel-title">
                                                <a>Client Payment Details</a>
                                            </h4>
                                        </div>
                                        <div class="">
                                            <!-- <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true"> -->
                                            <div class="panel-body">

                                                <!-- <div class="row">
                                                    <div class="col-sm-12">
                                                        <h4 class="mt-20">Client Payments</h4>
                                                        <div class="table-responsive table-theme">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Client Id</th>
                                                                        <th>CIS ID</th>
                                                                        <th>Client Name</th>
                                                                        <th>Local Department</th>
                                                                        <th>Case Worker</th>
                                                                        <th>Draft Gross Amount</th>
                                                                        <th>Final Gross Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a data-toggle="collapse" data-target="#expand">{{accountPayable?.client_id}}</a></td>
                                                                        <td>{{accountPayable?.cis_client_id}}</td>
                                                                        <td>{{accountPayable?.client_last_nm}},
                                                                            {{accountPayable?.client_first_nm}}</td>
                                                                        <td>{{accountPayable?.adr_county_cd}}</td>
                                                                        <td>{{accountPayable?.case_worker_nm}}</td>
                                                                        <td>{{accountPayable?.draft_amount_no}}</td>
                                                                        <td>{{accountPayable?.final_amount_no}}</td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div> -->


                                                <div class="row p-10">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 fill-data">
                                                        <!-- <div class="row box-innerdiv">
                                                            <div class="col-md-4">
                                                                <div class="form-box p-0">
                                                                    <label class="zero">Client Name:</label>
                                                                    <div class="form-box-form ">
                                                                        <p>{{accountPayable?.client_first_nm}}&nbsp;{{accountPayable?.client_last_nm}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="">
                                                                    <div class="form-box p-0">
                                                                        <label class="zero">Client ID:</label>
                                                                        <div class="form-box-form ">
                                                                            <p>{{accountPayable?.client_id}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-box p-0">
                                                                    <label class="zero">Payment ID:</label>
                                                                    <div class="form-box-form ">
                                                                        <p>{{accountPayable?.payment_id}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <div class="table-responsive table-theme">
                                                            <table sortable-table (sorted)="sortAccountPayable($event)" class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th sortable-column="client_id" sort-direction="desc">Client Id</th>
                                                                        <!-- <th>CIS ID</th> -->
                                                                        <th>Payment Detail ID</th>
                                                                        <th sortable-column="client_first_nm">Client Name</th>
                                                                        <th sortable-column="case_worker_nm">Case Worker</th>
                                                                        <th sortable-column="local_department">Local Department</th>
                                                                        <th sortable-column="draft_amount_no">Draft Gross Amount</th>
                                                                        <th sortable-column="final_amount_no">Final Gross Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody *ngIf="accountPayable?.length > 0" class="provider-details-view">
                                                                    <ng-container *ngFor="let item of accountPayable; let index = index;">
                                                                    <tr id="provider-details-view-{{index}}" (click)="selectPaymentDetails(item, index)">
                                                                        <td><a data-toggle="collapse" data-target="#expand">{{item?.client_id}}</a></td>
                                                                        <td>{{item?.payment_detail_id}}</td>
                                                                        <!-- <td>{{item?.cis_client_id}}</td> -->
                                                                        <td>{{item?.client_first_nm}} {{item?.client_middle_nm}} {{item?.client_last_nm}} {{item?.client_suffix}}</td>
                                                                        <td>{{item?.case_worker_nm}}</td>
                                                                        <td>{{item?.local_department}}</td>
                                                                        <td *ngIf="item?.final_fiscal_category_cd === '7185 ' ||
                                                                        item?.final_fiscal_category_cd === '7181 '">{{(item?.draft_amount_no) | cjamsCurrency}}</td>
                                                                        <td *ngIf="item?.final_fiscal_category_cd !== '7185 ' &&
                                                                        item?.final_fiscal_category_cd !== '7181 '">{{(item?.draft_amount_no) | cjamsCurrency}}</td>
                                                                        <td *ngIf="!releasedStatusFlag">{{((item?.final_amount_no) ? item?.final_amount_no : '0.00') | cjamsCurrency}}</td>
                                                                        <td *ngIf="releasedStatusFlag">$0.00</td>
                                                                    </tr>
                                                                    </ng-container>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="text-center" *ngIf="totalcount > 10">
                                                            <pagination [totalItems]="totalcount" [(ngModel)]="pageInfo.pageNumber"
                                                                (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                                                [maxSize]="10">
                                                            </pagination>
                                                        </div>
                                                        <div class="col-md-12" id="draftStatement">
                                                                <div *ngIf="!['3294','5689','7'].includes(selectedPaymentdetails?.payment_type_cd)"
                                                                    class="row box-innerdiv m-t-20">
                                                                    <div class="form-box">
                                                                        <label class="zero title-payment">DRAFT STATEMENT</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service/Placement Structure : </label> <span>{{selectedPaymentdetails?.draft_service_nm}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service Start Date : </label> <span>{{selectedPaymentdetails?.draft_service_start_dt
                                                                                    | date: 'MM/dd/yyyy' }}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Draft Daily Rate : </label> <span>{{(selectedPaymentdetails?.draft_unit_rate_amt ? selectedPaymentdetails?.draft_unit_rate_amt : '0.00') | cjamsCurrency}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Draft Unit Type : </label> <span>{{selectedPaymentdetails?.draft_unit_type}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Category Code : </label>
                                                                                <span>
                                                                                        {{selectedPaymentdetails?.draft_fiscal_category_nm}}
                                                                                        <span *ngIf="selectedPaymentdetails?.draft_fiscal_category_cd">
                                                                                            ({{selectedPaymentdetails?.draft_fiscal_category_cd}})
                                                                                        </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Rate Type : </label> <span>{{selectedPaymentdetails?.draft_rate_type_cd}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service End Date : </label>
                                                                                <span>
                                                                                        {{selectedPaymentdetails?.draft_service_end_dt
                                                                                            |
                                                                                            date: 'MM/dd/yyyy'}}
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Total Days : </label> <span>{{selectedPaymentdetails?.draft_units_no}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Draft Gross Amount : </label> <span>{{(selectedPaymentdetails?.draft_amount_no ? selectedPaymentdetails?.draft_amount_no : '0.00') | cjamsCurrency}}</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row box-innerdiv m-t-20">
                                                                    <div class="form-box">
                                                                        <label class="zero title-payment">FINAL STATEMENT</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service/Placement
                                                                                Structure : </label> <span>{{selectedPaymentdetails?.final_service_nm}}</span></p>
                                                                                <!-- ({{selectedAccountsPayable?.final_service_id}}) -->
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service Start Date : </label>
                                                                                <span>
                                                                                        {{selectedPaymentdetails?.final_service_start_dt
                                                                                            | date: 'MM/dd/yyyy' }}
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Final Daily Rate : </label> <span>{{(selectedPaymentdetails?.final_unit_rate_amt ? selectedPaymentdetails?.final_unit_rate_amt : '0.00') | cjamsCurrency}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Final Unit Type : </label> <span>{{selectedPaymentdetails?.final_unit_type}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Category Code : </label>
                                                                                <span>
                                                                                        {{selectedPaymentdetails?.final_fiscal_category_nm}}
                                                                                        <span
                                                                                            *ngIf="selectedAccountsPayable?.final_fiscal_category_cd">
                                                                                            ({{selectedPaymentdetails?.final_fiscal_category_cd}})
                                                                                        </span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Rate Type : </label> <span>{{selectedPaymentdetails?.final_rate_type_cd}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Service End Date : </label>
                                                                                <span>
                                                                                        {{selectedPaymentdetails?.final_service_end_dt
                                                                                            |
                                                                                            date: 'MM/dd/yyyy'}}
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Total Days : </label> <span>{{selectedPaymentdetails?.final_units_no}}</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Final Gross Amount : </label> <span *ngIf="!releasedStatusFlag">{{(selectedPaymentdetails?.final_amount_no ? selectedPaymentdetails?.final_amount_no : '0.00') | cjamsCurrency}}</span>
                                                                                <span *ngIf="releasedStatusFlag">$0.00</span></p>
                                                                        </div>
                                                                        <div class="form-box">
                                                                            <p><label class="zero">Reason for Change : </label> <span>{{selectedPaymentdetails?.reason_changed}}</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        <!-- <div class="row box-innerdiv m-t-20">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-box">
                                                                    <label class="zero">Notes:</label>
                                                                    <div class="form-box-form ">
                                                                        <p>{{selectedAccountsPayable?.notes_tx}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  <<<<<<<<<<<<<<<<<<<<<<<<<<<<< Payment Interface Status >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
                            <div role="tabpanel" class="tab-pane" id="FinancePayment">
                                <div class="panel-group form-letter-tab" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseThree" aria-expanded="true">
                                                <a>Payment Information
                                                    <!-- <span class="glyphicon pull-right glyphicon-minus"></span> -->
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                                            <div class="panel-body">
                                                <div class="col-md-12 col-sm-12 col-xs-12 fill-data">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-box">
                                                                <p><label class="zero">Payment Date : </label> <span>{{selectedAccountsPayable?.payment_dt |
                                                                        date:
                                                                        'MM/dd/yyyy'}}</span></p>
                                                            </div>
                                                            <div class="form-box">
                                                                <p><label class="zero">Payment ID : </label> <span>{{selectedAccountsPayable?.payment_id}}</span></p>
                                                            </div>
                                                            <div class="form-box">
                                                                <p><label class="zero">Provider ID : </label> <span>{{selectedAccountsPayable?.provider_id}}</span></p>
                                                            </div>
                                                            <div class="form-box">
                                                                <p><label class="zero">Payment Amount : </label> <span>{{selectedAccountsPayable?.gross_amount_no}}</span></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-box">
                                                                <p><label class="zero">Payment Type : </label> <span>{{selectedAccountsPayable?.payment_type_nm}}</span></p>
                                                            </div>
                                                            <div class="form-box">
                                                                <p><label class="zero">Provider Name : </label> <span>{{selectedAccountsPayable?.provider_nm}}</span></p>
                                                            </div>
                                                            <div class="form-box">
                                                                <p><label class="zero">Payment Status : </label> <span>{{selectedAccountsPayable?.payment_status_nm}}</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn-pri pull-left" data-toggle="modal" data-target="#payment-interface" data-dismiss="modal" (click)="paymentInterfaceStatus(selectedAccountsPayable?.payment_id)">Payment & Interface Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="payment-interface" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                <h4 class="modal-title">Payment & Interface Status</h4>
            </div>

            <div class="modal-body">
                <div class="row"  *ngFor="let payment of paymentInterface">
                    <div class="col-md-12">
                        <div class="table-responsive table-theme mt-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Payee/Provider Name</th>
                                        <th>Payment ID</th>
                                        <th>Payment Date</th>
                                        <th>Payment Type</th>
                                        <th>Payment Status</th>
                                        <th>Check Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{payment.providername}}</td>
                                        <td>{{payment.payment_id}}</td>
                                        <td>{{payment.payment_dt | date : 'MM/dd/yyyy'}}</td>
                                        <td>{{payment.payment_type_nm}}</td>
                                        <td>{{payment.payment_status_nm}}</td>
                                        <td>{{payment.check_status_nm}}</td>
                                        <td>
                                            <button class="no-bg" (click)="editPayment(payment)" type="button" matTooltip="Update Check Status"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center mt-10" *ngIf="totalCount > 10">
                                <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
                                   (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 m-t-20">
                        <h4 class="h4-title">Payment Details</h4>
                        <div class="row m-t-20 payDetails">
                            <div class="col-md-6">
                                <div class="">
                                    <label>Payment Date : </label>
                                    <span *ngIf="payment && payment.payment_dt">{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                                </div>
                                <div class="">
                                    <label>Payment ID : </label>
                                    <span *ngIf="payment && payment.payment_id">{{payment.payment_id}}</span>
                                </div>
                                <div class="">
                                    <label>Payee/Provider Name : </label>
                                    <span *ngIf="payment && payment.providername">{{payment.providername}}</span>
                                </div>
                                <div class="">
                                    <label>Payment Status : </label>
                                    <span *ngIf="payment && payment.payment_status_nm">{{payment.payment_status_nm}}</span>
                                </div>
                                <!-- <mat-form-field class="m-t-20 ">
                                    <mat-select placeholder="Check Status" [(ngModel)]="checkPaymentStatus" required>
                                        <mat-option *ngFor="let checkStatus of checkStatus$ | async" [value]="checkStatus.value">{{checkStatus.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label>Payment Type : </label>
                                    <span *ngIf="payment && payment.payment_type_nm">{{payment.payment_type_nm}}</span>
                                </div>
                                <div class="">
                                    <label>Provider ID : </label>
                                    <span *ngIf="payment && payment.provider_id">{{payment.provider_id}}</span>
                                </div>
                                <div class="">
                                    <label>Net Amount : </label>
                                    <span *ngIf="payment && payment.gross_amount_no">{{(payment?.gross_amount_no - (payment?.offset_amount_no ? payment?.offset_amount_no : 0)) | cjamsCurrency}}</span>
                                </div>
                                <div class="">
                                    <label>Check Status Change Date : </label>
                                    <span *ngIf="payment && payment.check_status_dt">{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                                </div>
                                <!-- <mat-form-field class="">
                                    <textarea required matInput [(ngModel)]="notes" [value]="" placeholder="Notes"></textarea>
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-20">
                        <h5 class="h5-title">History</h5>
                        <div class="table-responsive table-theme m-t-10">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Payment History ID</th>
                                        <th>Payment ID</th>
                                        <th>Check Status</th>
                                        <th>Local Dept</th>
                                        <th>Phone Number</th>
                                        <th>Updated By</th>
                                        <th>Updated Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pay of payment?.history">
                                        <td>{{pay.payment_history_id}}</td>
                                        <td>{{pay.payment_id}}</td>
                                        <td>{{pay.value_tx}}</td>
                                        <td>{{pay.local_dept}}</td>
                                        <td>{{pay.phone_no}}</td>
                                        <td>{{pay.entered_by}}</td>
                                        <td>{{pay.create_ts |date: 'MM/dd/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" data-dismiss="modal" data-target="#modal-view-finace-accountsPayable" data-toggle="modal" class="btn-pri pull-right">Close</button>
                        <button type="button" data-dismiss="modal" data-target="#interface-details" data-toggle="modal" class="btn-pri pull-left">Interface Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="payment-details" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-target="#payment-interface" data-toggle="modal" style="float: right;">×</button>
                    <h4 class="modal-title">Update Check Status</h4>
                </div>
                <div class="modal-body">
                <div class="col-md-12 m-t-20">
                    <h4 class="h4-title">Payment Details</h4>
                    <div class="row m-t-20 payDetails">
                        <div class="col-md-6">
                            <div class="">
                                <label>Payment Date : </label>
                                <span *ngIf="payment && payment.payment_dt">{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                            </div>
                            <div class="">
                                <label>Payment ID : </label>
                                <span *ngIf="payment && payment.payment_id">{{payment.payment_id}}</span>
                            </div>
                            <div class="">
                                <label>Payee/Provider Name : </label>
                                <span *ngIf="payment && payment.providername">{{payment.providername}}</span>
                            </div>
                            <div class="">
                                <label>Payment Status : </label>
                                <span *ngIf="payment && payment.payment_status_nm">{{payment.payment_status_nm}}</span>
                            </div>
                            <mat-form-field class="m-t-20">
                                <mat-select placeholder="Check Status" [(ngModel)]="checkPaymentStatus" required>
                                    <mat-option>Select</mat-option>
                                    <mat-option *ngFor="let checkStatus of checkStatus$ | async" (click)="checkStatusChange(checkStatus.value)" [value]="checkStatus.value">{{checkStatus.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <label>Payment Type : </label>
                                <span *ngIf="payment && payment.payment_type_nm">{{payment.payment_type_nm}}</span>
                            </div>
                            <div class="">
                                <label>Provider ID : </label>
                                <span *ngIf="payment && payment.provider_id">{{payment.provider_id}}</span>
                            </div>
                            <div class="">
                                <label>Net Amount : </label>
                                <span *ngIf="payment && payment.gross_amount_no">{{(payment.gross_amount_no - (payment.offset_amount_no ? payment.offset_amount_no : 0)) | cjamsCurrency}}</span>
                            </div>
                            <div class="">
                                <label>Check Status Change Date : </label>
                                <span *ngIf="payment && payment.check_status_dt">{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                            </div>
                            <mat-form-field class="">
                                <textarea required matInput [(ngModel)]="notes" [value]="" placeholder="Notes"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" data-dismiss="modal" data-target="#payment-interface" data-toggle="modal" class="btn-pri pull-right">Cancel</button>
                            <button (click)="updateCheckStatus()" type="button" class="btn-pri">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="interface-details" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#payment-interface" data-toggle="modal" style="float: right;"
                (click)="interfaceClose()">×</button>
                <h4 class="modal-title">Interface Status</h4>
            </div>
            <div class="modal-body" *ngFor="let payment of paymentInterface">
            <div class="col-md-12 m-t-20">
                <h4 class="h4-title">Payment Details</h4>
                <div class="row m-t-20 payDetails">
                    <div class="col-md-6">
                        <div class="">
                            <label>Payment Date : </label>
                            <span>{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                        </div>
                        <div class="">
                            <label>Payment ID : </label>
                            <span>{{payment.payment_id}}</span>
                        </div>
                        <div class="">
                            <label>Payee/Provider Name : </label>
                            <span>{{payment.providername}}</span>
                        </div>
                        <div class="">
                            <label>Payment Status : </label>
                            <span>{{payment.payment_status_nm}}</span>
                        </div>
                        <div class="">
                            <label>Check Status : </label>
                            <span>{{payment.check_status_nm}}</span>
                        </div>
                        <!-- <mat-form-field class="m-t-20 ">
                            <mat-select disabled placeholder="Check Status" [value]="payment.check_status_cd">
                                <mat-option *ngFor="let checkStatus of checkStatus$ | async" [value]="checkStatus.value">{{checkStatus.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label>Payment Type : </label>
                            <span>{{payment.payment_type_nm}}</span>
                        </div>
                        <div class="">
                            <label>Provider ID : </label>
                            <span>{{payment.provider_id}}</span>
                        </div>
                        <div class="">
                            <label>Net Amount : </label>
                            <span>$ {{(payment.gross_amount_no - (payment.offset_amount_no ? payment.offset_amount_no : 0)) | number:'.2-2' }}</span>
                        </div>
                        <div class="">
                            <label>Check Status Change Date : </label>
                            <span>{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                        </div>
                        <!-- <mat-form-field class="">
                            <textarea disabled matInput [value]="" placeholder="Notes">{{payment.notes_tx}}</textarea>
                        </mat-form-field> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 m-t-20">
                <h5 class="h5-title">Payment Information on D365 / FMIS</h5>
                <div class="table-responsive table-theme m-t-10">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Payment Status</th>
                                <th>Payment Amount</th>
                                <th>Check/Warrant #</th>
                                <th>Check/Warrant Date</th>
                                <th>Information Received</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pay of payment?.afsorfmis">
                                <td>{{pay.payment_status}}</td>
                                <td>{{pay.paymentamountno | cjamsCurrency}}</td>
                                <td>{{pay.warrant_no}}</td>
                                <td>{{pay.warrant_written_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>{{pay.create_ts |date: 'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-10" *ngIf="totalRecords > 10">
                        <pagination [totalItems]="totalRecords" [(ngModel)]="paginationNumber.pageNumber"
                           (pageChanged)="paginationChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                        </pagination>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" data-dismiss="modal" data-target="#payment-interface" data-toggle="modal" class="btn-pri pull-right" (click)="interfaceClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-checkstatus" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  (click)="cancelConfirm()" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Check status alert </h4>
                </div>
                    <div class="modal-body">
                        <p> Are you sure need to change the status to returned? </p>
                    </div>
                <div class="modal-footer">
                    <div class="text-right right-mspace-15">
                        <button type="button" class="btn-bg"  (click)="ConfirmPopup(1)" data-dismiss="modal"> Cancel </button>
                        <button type="button" value="Yes" class="btn-pri" name="" (click)="ConfirmPopup(2)"> Yes, Confirm </button>
                    </div>
                </div>
            </div>
        </div>
     </div>
