.finance-label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}

.finance-panel-label {
    background: #00bcd3;
    color: #FFFFFF;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.payment-details label {
    font-weight: 400;
}
// .fm-box-form {
//     position: absolute;
//     overflow: hidden;
//     display: inline-block;
//     top: 1px;
// }

// .fm-box p, 
// .fm-box label {
//     display: inline-block;
// }

.box-innerdiv {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.p-20 {
    padding: 20px;
    box-sizing: border-box;
}

.custom-modal .modal-header,
.modal-dialog .modal-header {
    background: #FFFFFF !important;
}

#payment-interface .payInfer label {
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333;
    text-align: left !important;
}

#payment-interface .payInfer span {
    font-weight: 600;
}

.title-payment {
    font-size: 15px;
    padding-bottom: 15px;
}

#payment-interface .payInfer .mat-form-field-empty.mat-form-field-label,
#payment-interface .payInfer .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-size: 14px !important;
    text-align: left !important;
    display: block !important;
}

.custom-modal .modal-body .fm-box {
    padding-bottom: 15px;
}

.form-letter-tab .panel-body .p-0 {
    padding: 0px;
}

.form-letter-tab .panel-title a {
    display: block;
    padding: 10px 15px;
}

.form-letter-tab .panel-heading {
    padding: 5px 15px;
}

.p-10 {
    padding: 10px;
    box-sizing: border-box;
}

.modal .modal-body {
    max-height: 80vh;
}

#payment-interface .modal-dialog .modal-body {
    max-height: 70vh;
}

.panel-body {
    padding: 5px 15px;
}

.form-box span {
    margin: 0;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

#modal-view-finace-accountsPayable label, 
#modal-view-finace-accountsPayable label {
    display: inline-block !important;
    text-align: left;
}

.payment-details span {
    font-size: 13px;
    font-weight: 600;
}

.fill-data label {
    font-weight: 400;
}

.fill-data span {
    font-weight: 600;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.payDetails label {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.payDetails span {
    font-weight: 600;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 13px;
}