.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
}

button i:before {
    color: #00A2FD;
    font-weight: 600;
    float: left;
}

.fixed_header thead th {
    border-bottom: none;
    background: #AEBED6;
}

.table-theme .table thead tr:hover {
    background: none;
}

.table-theme .table tbody tr:hover {
    background: #E8F0FA;
}

.fixed_header thead {
    background: #AEBED6;
}

.fixed_header tbody tr td,
.fixed_header thead th {
    width: 10.8%;
    padding: 9px !important;
}

.fixed_header tbody {
    height: 221px;
}

.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border: none;
}