
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:38px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.tab-vertical .list-group-item-info .fa-caret-down { float: right;font-size: 22px;}

.tab-vertical .list-group-item-info .arrow{width: 10px;height: 10px;display: inline-block; float: right;}
.tab-vertical .list-group-item-info .arrow:after {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
}

.tab-vertical .list-group-item-info.collapsed .arrow:after {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: none;
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
}

.tabsm .list-group-item-info{color: #fff;background-color: #19a7b8;border: 1px solid #19a7b8;}
.tabsm.tab-vertical .nav-height .nav{padding: 8px !important;border: 1px solid #19a7b8 !important;max-height: 450px;overflow-y: auto;}
.tabsm.tab-vertical .nav li.active, .tabsm.tab-vertical .nav li{border-left: 0;}
.tabsm.tab-vertical .nav li.active a{ background: #fff;border-left: 4px solid #19a7b8;box-shadow: 0 0 10px #ccc;}
.form-letter-tab .table-bordered > tbody > tr:nth-child(odd){background: #77828c;color: #fff;}
.form-letter-tab .table-bordered>tbody>tr>td{color: #fff;}
// .tab-horizontal-bg {margin: -15px 0 0 0;}
.tab-horizontal .nav-tabs > li.active > a {
  background-color: #F5FAFF;
  color: #2e2f31;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  border-bottom: 3px solid #00A2FD !important;
}
.text-tran {
  text-transform: uppercase;
}
.tab-content.box-grid {
  margin-top:0 !important;
  display: block;
  width: 100%;
  float: left;
}

.m-t-25 {
  margin-top: 25px;
}



@media print {
    .scrtabs-tab-container {
        display: none;
    }

    .container-fluid .box-grid {
      padding-top: 0px;
    }
}