<div class="tab-pane active" id="dsds-action-tab">
    <div class="tab-horizontal">
        <div class="tab-horizontal-bg" id="cw-scroll-tab">
            <ul class="nav nav-tabs caseworker-tabs text-tran" role="tablist">
                <ng-container *ngFor="let tabItem of tabList">
                    <li role="presentation" *securityKey="tabItem.screenKey" [ngClass]="{active: isActiveTab(tabItem)}">
                        <a [id]="tabItem.id" role="tab" data-toggle="tab"
                            [ngClass]="{'aut-lnk-placement':tabItem.tabName ==='Placement', 'aut-lnk-permanencyplan':tabItem.tabName ==='permanency Plan'}"
                            data-target="{{tabItem.route}}">{{tabItem.tabName}}</a>
                    </li>
                </ng-container>
            </ul>
            <div class="tab-content box-grid pl-0 pr-0">
                <div class="tab-pane fade in active">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                <case-worker-document-creator></case-worker-document-creator>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="folder-change" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Folder Change</h4>
            </div>
            <div class="modal-body">
                <folder-change></folder-change>
            </div>
        </div>
    </div>
</div>