<div class="row">
  <div class="col-sm-6 text-left">
    <h4>Add New Placement</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" >
    <form class="tab-content" [formGroup]="searchPlacementForm">
      <div class="">
        <div role="tabpanel" class="tab-pane active" id="placement">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input type="search" matInput placeholder="Search by Provider Name" formControlName="vendor">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-select formControlName="jurisdiction" placeholder="Jurisdiction">
                  <mat-option *ngFor="let  county of countyDropdown$ | async" value="{{county.value}}">
                    {{county.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput  placeholder="Zip Code" formControlName="zipcode" zipcodeOnly (focusout)="onChange($event)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-select formControlName="distance" placeholder="Distance">
                  <mat-option value="10">10 miles</mat-option>
                  <mat-option value="20">20 miles</mat-option>
                  <mat-option value="30">30 miles</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="needOperatedBy">
              <mat-form-field>
                <mat-select formControlName="isoperatedbydjs" placeholder="Operated By">
                  <mat-option [value]="true">DJS Operated Program</mat-option>
                  <mat-option [value]="false">Non-DJS Operated Program</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
            <button type="button" class="btn-pri m-t-20" (click)="searchPlacement(searchPlacementForm.value, 1)">
              Search</button>
            <button type="button" class="btn-pri m-t-20" (click)="searchClearPlacement()"> Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
 
  <div class="col-sm-12 mrg-top15">
    <div class="outer">
      <div class="table-responsive">
        <table class="table customTable firsttable">
          <thead>
            <tr>
              <th>Select</th>
              <!-- <th>Provider ID</th> -->
              <th>Provider Name</th>
              <th>Provider ID</th>
              <th>Admission Type</th>
              <th>Admission Classification</th>
              <th>Provider Address</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Availability</th>
            </tr>
          </thead>
          <tbody *ngIf="(SearchPlacement$ | async) as searchPlacement; let service">
            <ng-container *ngIf="searchPlacement.length>0; else noItems">
              <tr *ngFor="let searchPlan of service">
                <td>
                  <label class="control control--radio" *ngIf="transferProviderId ? (transferProviderId === searchPlan?.providerid ? false : true) : true">
                    <input type="radio" name="selectedPerson" (change)="selectedProv(searchPlan)">
                    <div class="control__indicator"></div>
                  </label>
                </td>
                <td>
                  <a (click)="getProvider(searchPlan)" data-target="#viewProvider" data-toggle="modal" data-dismiss="modal">{{searchPlan.providername}}</a>
                </td>
                <td>{{searchPlan?.providercode}}</td>
                <td>{{searchPlan?.placementadmissiontypedesc}}</td>
                <td>{{searchPlan?.placementadmissionclassificationdesc}}</td>
                <td>
                  <span *ngIf="(searchPlan && searchPlan.addressline1)">{{(searchPlan.addressline1.length >
                    25) ?
                    (searchPlan.addressline1 | slice:0:25) + '...' : searchPlan.addressline1}}
                  </span>
                  <span *ngIf="(searchPlan && searchPlan.city)"> {{(searchPlan.city.length > 25) ?
                    (searchPlan.city | slice:0:25) + '...' : searchPlan.city}}
                  </span>
                  <span *ngIf="(searchPlan && searchPlan.state)"> {{(searchPlan.state.length > 25) ?
                    (searchPlan.state | slice:0:25) + '...' : searchPlan.state}}
                  </span>
                  <span *ngIf="(searchPlan && searchPlan.zipcode)"> {{(searchPlan.zipcode.length > 25) ?
                    (searchPlan.zipcode | slice:0:25) + '...' : searchPlan.zipcode}}
                  </span>
                </td>
                <td>{{searchPlan?.phonenumber}}</td>
                <td>{{searchPlan?.email}}</td>
                <td></td>
              </tr>
            </ng-container>
            <ng-template #noItems>
              <td colspan="12" class="text-center">
                <p class="no-datatxt pad-top20"> No Record Found </p>
              </td>
            </ng-template>
          </tbody>
        </table>
        <div class="mt-10" *ngIf="(SearchPlacementRes$ | async)?.length >0 ">
          <pagination [totalItems]="SearchPlacementRes$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-right mrg-top15" *ngIf="resedentialStatus === 'false'">
          <button type="button" class="btn-pri" *ngIf="(SearchPlacement$ | async)?.length>0" [disabled]="nextDisabled"
            (click)="navigateToAddPlacement()">
            Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewProvider" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4>Provider Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-md-3">
            <div *ngIf="(providerInfo)" class="panel panel-default person-panel">
              <div class="panel-heading">
                <div class="media">
                  <div class="media-body">
                    <h4>{{providerInfo.firstname + ' ' + providerInfo.lastname}}
                    </h4>
                  </div>

                  <div class="media-right" *ngIf="!(providerInfo.userphoto)">
                    <img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                  </div>
                </div>
              </div>
              <div class="panel-body">

                <dl>
                  <dt>ADDRESSES </dt>
                  <dd *ngIf="(providerInfo && providerInfo.addrstreetname)">
                    {{(providerInfo.addrstreetname.length > 25) ? (providerInfo.addrstreetname |
                    slice:0:25) + '...' : providerInfo.addrstreetname}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrstreetsuffixcode)">
                    {{(providerInfo.addrstreetsuffixcode.length > 25) ?
                    (providerInfo.addrstreetsuffixcode | slice:0:25) + '...' :
                    providerInfo.addrstreetsuffixcode}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrcityname)">
                    {{(providerInfo.addrcityname.length > 25) ? (providerInfo.addrcityname |
                    slice:0:25) + '...' : providerInfo.addrcityname}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrstate)">
                    {{(providerInfo.addrstate.length > 25) ? (providerInfo.addrstate | slice:0:25)
                    + '...' : providerInfo.addrstate}}
                  </dd>
                  <dd *ngIf="(providerInfo && providerInfo.addrzipcode)">
                    {{(providerInfo.addrzipcode.length > 25) ? (providerInfo.addrzipcode |
                    slice:0:25) + '...' : providerInfo.addrzipcode}}
                  </dd>
                </dl>
                <dl>
                  <dt>Phone</dt>
                  <dd>Not Available </dd>
                </dl>
              </div>
            </div>

          </div> -->
          <div class="col-md-12">
            <mat-accordion multi="false" displayMode="flat" class="acc-content">
              <mat-expansion-panel *ngFor="let panel of panelconfig.panels" [ngSwitch]="panel.selector">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{panel.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngSwitchCase="'profile-info'">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.providerid)">
                        <label class="zero provider-label">Provider ID:</label>
                        <div class="fm-box-form provider-label">
                          {{providerInfo.providerid}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.providername)">
                        <label class="zero provider-label">Site Name:</label>
                        <div class="fm-box-form provider-label ">
                          {{providerInfo.providername}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label"><u>Provider Category</u></label>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <ol>
                          <label class="zero provider-label">Placement Type:</label>
                          <div class="fm-box-form provider-label ">
                            Local Department Home
                          </div>
                          <label class="zero provider-label">Vendor(Paid Services):</label>
                          <div class="fm-box-form provider-label ">No

                          </div>
                          <label class="zero provider-label">Community(Non-Paid Services):</label>
                          <div class="fm-box-form provider-label ">No

                          </div>
                        </ol>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label "><u>Regular Business Hours</u></label>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <ol>
                          <label class="zero provider-label">Start:</label>
                          <div class="fm-box-form provider-label ">
                            {{(providerInfo.businessstarttime) ?
                            providerInfo.businessstarttime : 'Not Available'}}
                          </div>
                          <label class="zero provider-label">End:</label>
                          <div class="fm-box-form provider-label">
                            {{(providerInfo.businessendtime) ? providerInfo.businessendtime
                            : 'Not Available'}}
                          </div>
                        </ol>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label "><u>Admin Contacts</u></label>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">First Name:</label>
                        <div class="zero provider-label">
                          {{providerInfo.firstname ? providerInfo.firstname : 'Not
                          Available'}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Last Name:</label>
                        <div class="zero provider-label">
                          {{providerInfo.lastname ? providerInfo.lastname : 'Not
                          Available'}}
                        </div>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Work Phone:</label>
                        <div class="zero provider-label">
                          {{providerInfo.workphone | slice:0:3}}-{{providerInfo.workphone |
                          slice:3:6}}-{{providerInfo.workphone | slice:6:10}}
                        </div>
                        <label class="zero provider-label">Extn:</label>
                        <div class="zero provider-label">
                          {{(providerInfo.workextn) ? providerInfo.workextn : 'N/A'}}
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">Status:</label>
                        <span class="fm-box-form status-active provider-label">Active</span>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo)">
                        <label class="zero provider-label">School District:</label>
                        <div class="zero provider-label">
                          {{ providerInfo.schooldistrict ? providerInfo.workextn : 'Not
                          Available'}}
                        </div>
                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.countycd)">
                        <label class="zero provider-label ">County:</label>
                        <div class="zero provider-label"></div>
                      </div>

                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.approvaldate)">
                        <label class="zero provider-label">Approval Date:</label>
                        <div class="zero provider-label">{{providerInfo.approvaldate |
                          date:'MM/dd/yyyy' : 'UTC'}}</div>

                      </div>
                      <div class="fm-box" *ngIf="(providerInfo && providerInfo.approvaleffectivedate)">
                        <label class="zero provider-label">Effective Date:</label>
                        <div class="zero provider-label">{{providerInfo.approvaleffectivedate|
                          date:'MM/dd/yyyy' : 'UTC'}}</div>
                      </div>
                    </div>

                  </div>
                </div>

                <div *ngSwitchCase="'contract-info'">
                  <div class="fm-box" *ngIf="(providerInfo)">
                    <div class="form-group">
                      <label class="zero provider-label">Services:</label>
                      <div *ngFor="let serviceName of providerInfo.services">
                        <div class="zero provider-label">{{serviceName}}</div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf=" (providerInfo && providerInfo.approvedbeds)">
                      <label class="zero provider-label">Approved Beds:</label>
                      <div class="zero provider-label">{{providerInfo.approvedbeds}}</div>
                    </div>
                    <div class="form-group" *ngIf="(providerInfo && providerInfo.vacancyno)">
                      <label class="zero provider-label">Vacant Beds:</label>
                      <div class="zero provider-label">{{providerInfo.vacancyno}}</div>
                    </div>
                    <div class="table-responsive form-letter-tab">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Minimum Age</th>
                            <th>Maximum Age</th>
                            <th>Monthly Rate</th>
                            <th>Per Diem Rate </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let fosterCareMaxAge of providerInfo.fosterCareMaxAge; let i = index">
                            <td>
                              {{ providerInfo.fosterCareStartDate[i] | date : "MM.dd.y"
                              }}
                            </td>
                            <td>{{providerInfo.fosterCareEndDate[i]}}</td>
                            <td>{{providerInfo.fosterCareMinAge[i]}}</td>
                            <td>{{fosterCareMaxAge}}</td>
                            <td>{{providerInfo.fosterCareMonthlyRate[i]}}</td>
                            <td>{{providerInfo.fosterCarePerDiemRate[i]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div *ngSwitchCase="'additional-info'">
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.providertaxttypecode == 2518)">
                    <label class="zero provider-label">Tax ID Type:</label>
                    <div class="zero provider-label">
                      SSN
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.providertaxid)">
                    <label class="zero provider-label ">Tax ID:</label>
                    <div class="zero provider-label">
                      {{providerInfo.providertaxid}}
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo && providerInfo.taxindicator)">
                    <label class="zero provider-label">1099 Indicator:</label>
                    <div class="zero provider-label">
                      {{providerInfo.taxindicator}}
                    </div>
                  </div>
                  <div class="fm-box" *ngIf="(providerInfo)">
                    <label class="zero provider-label">Send Payment To:</label>
                    <div class="zero provider-label">
                      Same as Provider
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <a class="btn-link" data-dismiss="modal">Previous</a>
      </div>
    </div>
  </div>
</div>