<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height container-fluid">
        <div class="row m-t-20">
            <div class="col-sm-8">
                <h4>Appointments</h4>
            </div>
            <div class="col-sm-4 text-right">
                <button type="submit" class="btn-pri" data-target="#intake-aptmnt" data-toggle="modal">Create</button>
            </div>
        </div>

        <div class="row m-t-20">
            <div class="col-md-12">
                <div class="table-responsive table-theme">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>TITLE</th>
                                <th>DATE & TIME</th>
                                <th>INVOLVED PERSON</th>
                                <th>ROLE</th>
                                <th>WORKER</th>
                                <th>COMMENTS</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                *ngFor="let appointment of appointments| paginate: {id:'int-app', itemsPerPage: 10, currentPage: p}">
                                <td>{{appointment.appointment_title}}</td>
                                <td>{{appointment.appointment_date | date:'MM/dd/yyyy hh:mm':'UTC'}}</td>
                                <td>{{appointment.person_fullname}}</td>
                                <td>{{appointment.person_role}}</td>
                                <td>{{appointment.appointment_worker}}</td>
                                <td>{{appointment.notes}}</td>
                                <td>{{appointment.appointment_status}}</td>
                                <td *ngIf="appointment.appointment_status == 'Scheduled'">
                                    <button data-toggle="modal" matTooltip="Edit" data-target="#intake-aptmnt"
                                        (click)="onEditAppointment(appointment)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button matTooltip="Delete" (click)="confirmDelete(appointment)"> <i class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center m-t-20" *ngIf="appointments; let appointments">
                    <pagination-controls id="int-app" class="text-center m-t-20" *ngIf="appointments.length>0"
                        (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="intake-aptmnt" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">{{titleText}} Appointment</h4>
            </div>
            <div class="modal-body ">

                <form [formGroup]="appointmentForm">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="">Appointment Details</h4>
                            <!-- <mat-form-field>
                              <input type="text" matInput formControlName="appointment_title" placeholder="Title" required>
                          </mat-form-field> -->

                            <mat-form-field>
                                <mat-select placeholder="Appointment Title" formControlName="appointment_title"
                                    required>
                                    <mat-option *ngFor="let item of intaketest" value="{{item}}">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <div class="row m-t-30">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput required [matDatepicker]="picker" [min]="minDate"
                                            (click)="picker.open()" (focus)="picker.open()" id="appointment_date"
                                            formControlName="appointment_date" placeholder="Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Time" formControlName="appointment_time" required>
                                            <mat-option *ngFor="let item of times" value="{{item}}">{{item}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-12">
                          <quill-editor formControlName="notes" format="html" [placeholder]="notes" [style]="{height: '200px'}" [readOnly]="isViewAppointment"></quill-editor>
                      </div> -->


                            </div>
                            <mat-form-field>
                                <textarea type="text" formControlName="notes" matInput placeholder="Notes"></textarea>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <h4 class="">Intake worker</h4>
                                <mat-form-field>
                                    <mat-select placeholder="Appointment Worker" formControlName="appointment_worker"
                                        required>
                                        <mat-option *ngFor="let item of intakeWorkers" value="{{item}}">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>
                            <div class="">
                                <h4 class="">Involved Persons</h4>
                                <mat-form-field>
                                    <input type="text" matInput formControlName="person_fullname"
                                        placeholder="Full Name">
                                </mat-form-field>
                                <mat-form-field class="m-t-16">
                                    <input type="text" matInput formControlName="person_role" placeholder="Role">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div class="pull-right">
                                <button class="btn-pri" (click)="createOrUpdateAppointment(appointmentForm.value)">DONE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>