<div role="tabpanel" class="tab-pane dd-overflow-inherit">
   <div class="cnt-min-height">
      
      <div [formGroup]="publicReferralInfoForm">
         <div class="row modal-content-pad modal-height-body">
           <!--  <div class="col-sm-3 ">
               <mat-card>
                  <h3>Individual Applicant</h3>
                  <div class="row">
                     <div class="col-md-3">
                        <mat-form-field>
                           <mat-select placeholder="Prefix" formControlName="individual_applicant_prefix">
                              <mat-option *ngFor="let item of prefixTypes" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                     <div class="col-md-9">
                        <mat-form-field>
                           <input matInput type="text" formControlName="individual_applicant_first_nm" placeholder="First Name" required>
                        </mat-form-field>
                     </div>

                  </div>
                  <mat-form-field>
                     <input matInput type="text" formControlName="individual_applicant_middle_nm" placeholder="Middle Name">
                  </mat-form-field>
                  <div class="row">

                     <div class="col-md-9">
                        <mat-form-field>
                           <input matInput type="text" formControlName="individual_applicant_last_nm" placeholder="Last Name" required>
                        </mat-form-field>
                     </div>
                     <div class="col-md-3">
                        <mat-form-field>
                           <mat-select placeholder="Suffix" formControlName="individual_applicant_suffix">
                                 <mat-option *ngFor="let item of suffixTypes" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                  </div>
                  <mat-form-field>
                     <input matInput type="text" mask="000-00-0000" formControlName="individual_applicant_ssn"
                        placeholder="SSN">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="Date of Birth" formControlName="individual_applicant_dob">
                     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                     <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="individual_applicant_hm_phone" placeholder="Home Phone Number">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="individual_applicant_cell_nm" placeholder="Cell Phone Number">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" formControlName="individual_applicant_email" placeholder="Email ID">
                  </mat-form-field>
                  <h4>Occupation Details</h4>
                  <mat-form-field>
                     <input matInput type="text" formControlName="individual_applicant_employer_nm" placeholder="Employer Name">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="individual_applicant_phone_nm" placeholder="Employer Phone Number">
                  </mat-form-field>
                  <mat-checkbox formControlName="individual_applicant_us_citizen">U.S. Citizen or Legal Permanent
                     Resident</mat-checkbox>
               </mat-card>

            </div>
            <div class="col-sm-3">


               <mat-card>
                  <h3>Co-Applicant</h3>
                  <div class="row">
                     <div class="col-md-3">
                        <mat-form-field>
                           <mat-select placeholder="Prefix" formControlName="co_applicant_prefix">
                              <mat-option *ngFor="let item of prefixTypes" value="{{item}}">
                                 {{item}}
                              </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                     <div class="col-md-9">
                        <mat-form-field>
                           <input matInput type="text" formControlName="co_applicant_first_nm" placeholder="First Name" >
                        </mat-form-field>
                     </div>

                  </div>
                  <mat-form-field>
                     <input matInput type="text" formControlName="co_applicant_middle_nm" placeholder="Middle Name">
                  </mat-form-field>
                  <div class="row">

                     <div class="col-md-9">
                        <mat-form-field>
                           <input matInput type="text" formControlName="co_applicant_last_nm" placeholder="Last Name" >
                        </mat-form-field>
                     </div>
                     <div class="col-md-3">
                        <mat-form-field>
                           <mat-select placeholder="Suffix" formControlName="co_applicant_suffix">
                                 <mat-option *ngFor="let item of suffixTypes" value="{{item}}">
                                    {{item}}
                                 </mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                  </div>
                  <mat-form-field>
                     <input matInput type="text" mask="000-00-0000" formControlName="co_applicant_ssn" placeholder="SSN">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="Date of Birth" formControlName="co_applicant_dob">
                     <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                     <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="co_applicant_hm_phone" placeholder="Home Phone Number">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="co_applicant_cell_nm" placeholder="Cell Phone Number">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" formControlName="co_applicant_email" placeholder="Email ID">
                  </mat-form-field>
                  <h4>Occupation Details</h4>
                  <mat-form-field>
                     <input matInput type="text" formControlName="co_applicant_employer_nm" placeholder="Employer Name">
                  </mat-form-field>
                  <mat-form-field>
                     <input matInput type="text" mask="(000) 000-0000" formControlName="co_applicant_phone_nm" placeholder="Employer Phone Number">
                  </mat-form-field>
                  <mat-checkbox formControlName="co_applicant_us_citizen">U.S. Citizen or Legal Permanent Resident</mat-checkbox>
               </mat-card>
            </div> -->
            <div class="col-sm-6">
               <mat-card>
                  <h3>Home Information</h3>
                  <div class="row">
                     <div class="col-md-6">
                        <mat-form-field>
                           <input matInput type="text" mask="00000" formControlName="home_info_children_no" placeholder="Number of children residing">
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field>
                           <input matInput type="text" mask="000" formControlName="home_info_bedroom_no" placeholder="Number of Bedrooms">
                        </mat-form-field>
                     </div>
                  </div>
                
                 
                  <div>
                     <p>Does the Resource Home have waterfront property, a fish or duck pond, or similar body of water at or near the Resource Family Home? <label class=""></label></p>
                     <mat-radio-group  formControlName="is_home_water">
                           <mat-radio-button [value]=true>Yes</mat-radio-button>
                           <mat-radio-button [value]=false>No</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <div>
                     <p>Is there a swimming pool? <label class=""></label></p>
                     <mat-radio-group  formControlName="is_home_swimming_pool">
                           <mat-radio-button [value]=true>Yes</mat-radio-button>
                           <mat-radio-button [value]=false>No</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <mat-form-field *ngIf="publicReferralInfoForm.value.is_home_swimming_pool==true">
                     <mat-select placeholder="Select where the pool is located" formControlName="home_info_pool_location"
                        >
                        <mat-option *ngFor="let item of poolLocation" value="{{item}}">
                           {{item}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
                  <div>
                     <p>Currently Licensed with another Agency <label class=""></label></p>
                     <mat-radio-group  formControlName="home_is_other_agency">
                           <mat-radio-button [value]=true>Yes</mat-radio-button>
                           <mat-radio-button [value]=false>No</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <mat-form-field *ngIf="publicReferralInfoForm.value.home_is_other_agency==true">
                     <input matInput type="text" formControlName="home_info_agency_nm" placeholder="Enter name of Agency">
                  </mat-form-field>
                  <div>
                     <p>Are you a Licensed Child Care Provider? <label class=""></label></p>
                     <mat-radio-group  formControlName="is_child_care_provider">
                           <mat-radio-button [value]=true>Yes</mat-radio-button>
                           <mat-radio-button [value]=false>No</mat-radio-button>
                     </mat-radio-group>
                  </div>
                  <mat-form-field *ngIf="publicReferralInfoForm.value.is_child_care_provider==true">
                     <input matInput type="text" formControlName="home_info_child_care_details" placeholder="Enter Child Care provider details">
                  </mat-form-field>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="pull-right">
                           <button [hidden]='isReadOnly' class="btn-pri" (click)="saveInformation()">Save</button>
                        </div>
                     </div>
                  </div>
                  
               </mat-card>
            </div>
           <!--  <div class="col-sm-3 ">
               <div class="table-responsive">
                  <table class="table customTable firsttable">
                     <thead>
                        <tr>
                           <th>Address</th>
                           <th>Type</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let address of addresses">
                           <td>{{address.adr_street_no}},
                              {{address.adr_street_nm}},
                              {{address.adr_city_nm}},
                              {{address.adr_state_cd}},
                              {{address.adr_zip5_no}}
                           </td>
                           <td>
                              {{address.address_type}}
                           </td>
                           <td>
                              <i class="fa fa-pencil-square-o" (click)="EditAddress(address)"></i>
                              <i class="fa fa-trash" (click)="DeleteAddress(address)"></i>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <button [hidden]='isReadOnly' type="submit" class="btn-pri" data-target="#public-applicant-address"
                     data-toggle="modal" (click)="initializeAddressForm()"> + Address
                  </button>
               </div>
            </div> -->
         </div>
      </div>
     
   </div>
</div>
<div class="modal fade in" id="public-applicant-address" tabindex="-1" role="dialog" data-backdrop="static"
   data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">{{titleText}} Address</h4>
         </div>
         <div class="modal-body ">
            <form [formGroup]="addressForm">
               <div class="row">
                  <div class="col-md-5">
                     <h4 class="">Address Details</h4>
                     <!-- <mat-form-field>
                         <textarea type="text" formControlName="address_type" matInput placeholder="Address Type" ></textarea>
                         </mat-form-field>  -->
                     <mat-form-field>
                        <mat-select placeholder="Address Type" formControlName="address_type"  (change)="getAddressByType($event)">
                           <mat-option *ngFor="let item of addressTypes" value="{{item}}">
                              {{item}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                     <mat-checkbox (change)="isCheckedEvent($event)" *ngIf="isCoApplicantAddress">Same as Individual Address</mat-checkbox>
                  </div>
                  <div class="col-md-5">
                     <mat-form-field>
                        <textarea type="text" required minlength="0" maxlength="20" formControlName="adr_street_no" matInput placeholder="Street No" ></textarea>
                     </mat-form-field>
                     <mat-form-field>
                        <textarea type="text" required minlength="0" maxlength="40" formControlName="adr_street_nm" matInput placeholder="Street Name"
                           ></textarea>
                     </mat-form-field>
                     <mat-form-field>
                        <textarea type="text" required minlength="0" maxlength="20" formControlName="adr_city_nm" matInput placeholder="City Name" ></textarea>
                     </mat-form-field>
                     <mat-form-field>
                        <textarea type="text" required minlength="0" maxlength="20" formControlName="adr_state_cd" matInput placeholder="State" ></textarea>
                     </mat-form-field>
                     <mat-form-field>
                        <textarea type="text" formControlName="adr_zip5_no" matInput placeholder="Zip Code" (blur)="zipValidation($event)" minlength=5 maxlength=5 ></textarea>
                     </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 m-t-10">
                     <div class="pull-right" *ngIf="!isCoApplicantAddress">
                        <button class="btn-pri" [disabled]="addressForm.pristine || addressForm.invalid" (click)="saveAddress(addressForm.value)">DONE</button>
                     </div>
                     <div class="pull-right">
                        <button class="btn-pri" *ngIf="isCoApplicantAddress" (click)="saveAddress(addressForm.value)">DONE</button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade in" id="delet-address" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
   aria-labelledby="IntakeAppointmentLabel">
   <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
               <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title">{{titleText}} Address</h4>
         </div>
         <div class="modal-body">

            <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                  <p>Are you sure want to delete</p>
                  <button class="btn-primary" (click)="DeleteAddressConfirm()">Delete</button>
                  <button class="btn-danger" (click)="CancelDelete()">Cancel</button>
               </div>
               <div class="col-md-3"></div>
            </div>
         </div>
      </div>
   </div>
</div>