<div class="modal fade in on-demand-activities" id="myModal-add-activity" role="dialog" data-backdrop="static" data-keyboard="false"
    style="display: block;">
    <div class="modal-dialog modal-lg cus-modal-width">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">×</button>
                <h4 class="modal-title">Add Activities</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Available Activities</b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of leftItems | orderBy:'description'">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="selectItem('left', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="btn-group btn-group-re multi-slt-btn">
                                <button type="button" [disabled]="buttonState()" class="btn-pri" (click)="selectAll()">Add All &gt; &gt; </button>
                                <button type="button" [disabled]="buttonState()" class="btn-pri" (click)="select()">Add &gt;</button>
                                <button type="button" [disabled]="buttonState()" class="btn-pri" (click)="unSelect()">
                                    &lt; Remove</button>
                                <button type="button" [disabled]="buttonState()" class="btn-pri" (click)="unSelectAll()">
                                    &lt; &lt; Remove All</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="fm-box">
                                <p>
                                    <b>Selected Activities</b>
                                </p>
                                <div class="modal-multi">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let item of rightItems">
                                                <td>
                                                    <label class="control control--checkbox">
                                                        <input type="checkbox" (change)="selectItem('right', item, $event)">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                </td>
                                                <td>{{item.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button class="btn-bg" data-dismiss="modal" name="" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Cancel</button>
                                <button [disabled]="rightItems.length === 0" class="btn-pri" (click)="saveItem()">Save</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
