.btn-pri,
.btn-bg,
.btn-link {
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;
    min-width: 100px;
}

.section2 .dl-horizontal dd {
    margin-left: 98px;
    line-height: 25px;
    font-size: 13px;
}
.section2
{
    padding: 8px 15px;
    min-width: 100px;
    border-radius: 2px;
    margin-left: -203px;
    line-height: 25px;
    font-size: 13px;
}
.profile-section {
    background: #f0f2f4;
}
.profile-section h4 {
    font-size: 15px;
    font-weight: 600;
    color: #00a2fd !important;
}
.profile-section h5 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}