<section id="applicant-section" class="profile-section">
  <div class="container-fluid">
      <div class="row m-b-10">
          <div class="col-sm-12">
              <div class="row m-t-10 m-b-5">
                  <div class="col-xs-2">
                      <h4>Reconsideration Id</h4>
                      <h5>{{reconId}}</h5>
                  </div>
                  <div class="col-xs-3">
                      <!-- <h4>Provider Name</h4>
                       
                       <h5>{{referralInfoDetails.provider_first_nm}} {{referralInfoDetails.provider_middle_nm}} {{referralInfoDetails.provider_last_nm}}</h5> -->
                       <h4>Provider Id</h4>
                      <h5>{{providerId}}</h5>
                  </div>
              </div>
              <!-- <div class="row">
                  <div class="col-sm-2">
                      <h4>TAX ID</h4>
                      <h5>{{referralInfoDetails.is_taxid}}</h5>
                  </div>
                  <div class="col-sm-2">
                      <h4>County Code</h4>
                      <h5>{{referralInfoDetails.adr_county_cd}}</h5>
                  </div>
                  <div class="col-sm-2">
                      <h4>Phone Number</h4>
                      <h5>{{referralInfoDetails.adr_cell_phone_tx}}</h5>
                  </div>
                  <div class="col-sm-2">
                      <h4>Status</h4>
                          <span *ngIf="referralInfoDetails.provider_status_cd == 1791"><h5>Open</h5></span>
                          <span *ngIf="referralInfoDetails.provider_status_cd == 1792"><h5>Closed</h5>></span>
                  </div>
                  <div class="col-sm-2">
                      <h4>Assigned to</h4>
                       <h5 *ngFor="let item of assignedInSection" class="assigned">{{item.username}}</h5>
                  </div>
                  <div class="col-sm-2">
                      <button *ngIf="!isLengthGrater" type="submit" class="btn-pri btn-theme btn m-t-10" data-target="#intake-caseassignnew" data-toggle="modal" (click)="getRoutingUser('')">ASSIGN</button>
                  </div>
              </div> -->
          </div>

      </div>
   
  </div>
</section>
<section id="cw-groupid-display" class="groupid-section mrg-top25" *ngIf="dsdsActionsSummary?.da_groupnumber">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4">
              <p>Group ID
                  <span></span>
              </p>
          </div>
      </div>
  </div>
</section>
<div class="container-fluid">
  <div class="box-grid clsMinHeight no-pad clearfix">
      <div class="row">
          <div class="col-md-12 col-lg-12">
              <div class="tab-content">
                  <div class="intake no-pad">
                    <div class="tab-horizontal">
                      <ul class="nav nav-pills click-triggers public-applicant-tabs">
          
                        <li [ngClass]="'active'">
                          <a data-toggle="tab" data-target="#Contact">Contact</a>
                        </li>
                        <li>
                          <a data-toggle="tab" data-target="#Narrative">Narrative</a>
                        </li>
                        <li>
                          <a data-toggle="tab" data-target="#Checklist">Check list</a>
                        </li>
                        <li [ngClass]="">
                          <a data-toggle="tab" data-target="#new-public-applicant-attachment"> Documents </a>
                        </li>
                        <li>
                          <a data-toggle="tab" data-target="#Decision">Decision</a>
                        </li>         
                        <li>
                          <a data-toggle="tab" data-target="#homeStudySurvey">Home Study Survey</a>
                        </li>                
                       
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="Contact">
                          <public-provider-reconsideration-contact></public-provider-reconsideration-contact>   
                         </div>
                        <div class="tab-pane" id="Narrative">
                          <public-provider-reconsideration-narrative></public-provider-reconsideration-narrative>
                        </div>
                        <div class="tab-pane" id="Checklist">
                          <public-provider-recon-checklist></public-provider-recon-checklist>
                        </div>
                        <div class="tab-pane" id="Decision">
                          <public-provider-reconsideration-decision></public-provider-reconsideration-decision>
                        </div>  
                        <div class="tab-pane" id="new-public-applicant-attachment">
                          <add-document></add-document>
                        </div>     
                        <div class="tab-pane" id="homeStudySurvey">
                          <home-study-survey></home-study-survey>
                        </div>        
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                <public-provider-recon-doc-creator (licenseDateUpdateEvent)='updateLicenseDateValues($event)' [profileOutputSubject$]="profileOutputSubject$"></public-provider-recon-doc-creator>
            </div>
        </div>
    </div>
  </div>
