<div role="tabpanel" class="tab-pane" id="supervisor-review-results">
  <div class="box-grid">
    <div class="row">
      <div class="col-sm-9">
        <h3>Supervisor Review Results</h3>
      </div>

      <div class="col-sm-3 tab-title-btn">
        <button data-toggle="modal" data-target="#add-super-review-results" (click)="changeModelLabel('Add Review Result')" class="btn-pri pull-right">
          <i class="fa fa-plus right-sspace"> </i> Add Review Result</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered" sortable-table (sorted)="onSorted($event)">
            <thead>
              <tr>
                <th sortable-column="name" sort-direction="asc">Name</th>
                <th>Deficiency</th>
                <th>Edit Review Result</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>
                  <div class="inner-addon right-addon">
                    <i class="fa fa-search" href="#" data-toggle="modal" data-target="#attach-user-selection"></i>
                    <input class="form-control full-width" type="text" value="" (input)="onSearch('name', $event.target.value)" placeholder="Search Name">
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngIf="superReviewTypes$ | async; let supervisorReviewResulstsList">
              <tr *ngFor="let supervisorreviewresult of supervisorReviewResulstsList">
                <td>{{supervisorreviewresult.name}}</td>
                <td>
                  <label class="control control--checkbox">
                    <input type="checkbox" name="deficiency" id="deficiency" [(ngModel)]="supervisorreviewresult.deficiency" disabled>
                    <div class="control__indicator"></div>
                  </label>
                </td>
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="Edit" class="mrg-rht10">
                    <a (click)="editItem(supervisorreviewresult)" data-toggle="modal" data-target="#add-super-review-results">
                      <img src="assets/images/form-letter/edit-icon.png" alt="">
                    </a>
                  </span>
                </td>
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="Delete">
                    <a (click)="confirmDelete(supervisorreviewresult)">
                      <img src="assets/images/form-letter/delete-icon.png" alt="">
                    </a>
                  </span>
                </td>
              </tr>
              <tr *ngIf="supervisorReviewResulstsList?.length === 0">
                <td colspan="5">No records found.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
          <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
            (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade in" id="add-super-review-results" data-backdrop="static" data-keyboard="false" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">{{addEditLabel}}</h4>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="formgroup" class="modal-body">
          <div class="row">
            <div class="col-sm-6 mrg-top25">
              <div class="fm-box">
                <label class="required">Name</label>
                <div class="fm-box-form">
                  <input type="text" maxlength="50" formControlName="name" class="form-control fm-style" placeholder="">
                  <control-messages [control]="formgroup.controls['name']"></control-messages>

                </div>
              </div>
            </div>
            <div class="col-sm-6 mrg-top25">
              <div class="fm-box">
                <label class="control control--checkbox">Deficiency:
                  <input type="checkbox" formControlName="deficiency">
                  <control-messages [control]="formgroup.controls['deficiency']"></control-messages>
                  <div class="control__indicator manual-checkbox-right"></div>
                </label>
              </div>
            </div>
            <div class="col-sm-12 mrg-top25">
              <div class="pull-right">
                <button type="button" value="Cancel" data-dismiss="modal" class="btn-bg" name="">Cancel</button>
                <button type="button" value="Save" (click)="saveItem()" [disabled]="formgroup.pristine || formgroup.invalid" class="btn-pri"
                  name="">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>

      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>

        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>