<div class="col-md-12">
    <form [formGroup]="summaryFormGroup">
        <div class="row mt-20">
            <!-- <div class="col-md-8 div-blocks bb-0 br-0">Name: {{ obj.name }}</div>
                    <div class="col-md-4 div-blocks bb-0 ">Date of Birth:</div> -->
            <div class="col-md-8 div-blocks bb-0 br-0">
                <label>Name: {{ytpSummary?.clientName}}</label>
            </div>
            <div class="col-md-4 div-blocks bb-0 ">
                <label>Date of Birth: {{ytpSummary?.dob | date : 'MM/dd/yyyy'}}</label>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 div-blocks bb-0 br-0">
                <label>Date Entered Foster Care: {{ytpSummary?.effectivedate | date : 'MM/dd/yyyy'}}</label>
            </div>
            <div class="col-md-3 div-blocks bb-0 br-0">
                <label>Case #: {{ytpSummary?.caseno}}</label>
            </div>
            <div class="col-md-3 div-blocks bb-0 br-0">
                <label>Permanency Plan Goal: {{ytpSummary?.primarypermanencytype}}</label>

            </div>
            <div class="col-md-3 div-blocks bb-0">
                <label>Case Worker Name: {{ytpSummary?.caseworkername}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 div-blocks  bb-0 br-0">
                <label>Date Transition Plan Completed: {{ytpSummary?.transplancompleted | date: 'MM/dd/yyyy'}}</label>
            </div>
            <div class="col-md-6 div-blocks  bb-0">
                <label>Six Month Transition Plan Follow Up Date: {{ytpSummary?.planfollowupdate | date: 'MM/dd/yyyy'}}</label>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 div-blocks  bb-0 ">
            <div class="row">
                <div class="col-md-offset-10 col-md-2 m-t-10 m-b-10">
                    <button type="button" class="service-btn p-r-20 col-fnt pull-left" name="" (click)="addAssessment()" 
                    [disabled]="ytpData.approvalstatuskey == 'Approved' || ytpData.approvalstatuskey == 'Pending'">+ Assessment</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="table-responsive table-theme">
                    <table class="table table-striped grid-list">
                        <thead>
                            <tr>
                                <th>Assessment Name</th>
                                <th>Completion Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="assessments.length; else noAssessmentTemplate">
                                <tr *ngFor="let assessment of assessments; let index=index">
                                    <td>
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="assessment.name">
                                        </mat-form-field> 
                                    </td>
                                    <td>
                                        <common-date-picker [(ngModel)]="assessment.completionDate"></common-date-picker>
                                    </td>
                                    <td>
                                        <a (click)="deleteAssessment(index)">
                                            <i class="m-l-20 m-t-20  fa fa-trash" style="font-size:18px"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noAssessmentTemplate>
                                <tr>
                                    <td colspan="3">No Assessment added</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 div-blocks">
            <div class="row">
                <div class="col-md-6 m-t-20 p-l-10">
                    Participants Involved in the Development of the Transition Plan: (List
                    Name and Relationship)
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Participants" (change)="changeParticipants($event)"
                            (change)="onInvolvedPersonChanged()">
                            <mat-option class="multi-line-mat-option" *ngFor="let person of persons" [value]="person">
                                <span>{{getFullName(person)}}</span> <br>
                                <small>Role: <ng-container *ngFor="let role of person.roles; let isLast= last">
                                        {{role.typedescription}}<span *ngIf="!isLast">,</span>
                                    </ng-container>
                                </small><br>
                                <small *ngIf="person.relationship"> Relation:
                                    {{person.relationship}} </small>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2 m-t-10">
                    <button type="button" class="service-btn p-r-20 col-fnt pull-left" name="" (click)="addOtherParticipant()" 
                    [disabled]="ytpData.approvalstatuskey == 'Approved' || ytpData.approvalstatuskey == 'Pending'">+ Participant</button>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive table-theme">
                    <table class="table table-striped grid-list">
                        <thead>
                            <tr>
                                <th>Participant</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Relationship </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="participants.length; else noParticipantsTemplate">
                                <tr *ngFor="let participant of participants; let index=index">
                                    <td>
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="participant.type">
                                                <mat-option *ngFor="let type of participantTypes"
                                                    [value]="type.typedescription">
                                                    {{type.typedescription}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="participant.firstname">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="participant.lastname">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="participant.relationship">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <a (click)="deleteParticipant(index)">
                                            <i class="m-l-20 m-t-20  fa fa-trash" style="font-size:18px"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noParticipantsTemplate>
                                <tr>
                                    <td colspan="6">No Participant added</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>   
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" value="Clear" class="btn-bg" name="" (click)="clearSummary()">Clear</button>
                <button type="button" value="Save" class=" btn-pri" name="" (click)="saveSummary()">Save</button>
            </div>
        </div>
    </div>
</div>