<div class="tab-content no-shadow">
  <div id="add-Profile-info" class="tab-pane fade in active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="header-4">Alerts</h4>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-pri pull-right" *ngIf="personService.isEditable" (click)="addAlert()">Add Alert</button>
        </div>
      </div>
      <div class="table-responsive table-theme m-t-20">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Alert Type</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th width='300'>Notes</th>
              <th>Created Worker ID</th>
              <th>Created By</th>
              <th>Updated Worker ID</th>
              <th>Updated By</th>


              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alerts">
              <td>{{item.description}}</td>
              <td>{{item.status}}</td>
              <td>{{item.startdatetime | date: 'MM/dd/yyyy'}}</td>
              <td>{{item.enddatetime | date: 'MM/dd/yyyy'}}</td>
              <td [innerHTML]="item.notes"></td>
              <td>{{item.createdpid}}</td>
              <td>{{item.createdname}}</td>
              <td>{{item.updatedpid}}</td>
              <td>{{item.updatedname}}</td>

              <td >
                <ul class="list-inline list-unstyled m-b-0">
                    <li><a (click)="viewAlert(item)"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                  <li *ngIf="personService.isEditable"><a (click)="editAlert(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>

                </ul>
              </td>
            </tr>
            <tr *ngIf="alerts.length === 0">
              <td colspan="10">No Alerts found.</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="totalRecords && totalRecords > paginationInfo.pageSize">
          <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>