<div class="row">
  <div class="col-md-12 table-responsive">
    <table class="table customTable firsttable">
      <thead>
        <tr>
          <th>
            <font size="2">Client Id</font>
          </th>
          <th>
            <font size="2">First Name</font>
          </th>
          <th>
            <font size="2">Last Name</font>
          </th>
          <th>
            <font size="2">DOB</font>
          </th>
          <th>
            <font size="2">Gender</font>
          </th>
          <th>
            <font size="2">Nationality</font>
          </th>          
          <!-- <th>
            <font size="2">Action</font>
          </th> -->

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let placement of childPlacementInfo | paginate: { id:'int-cntct',itemsPerPage: 10, currentPage: p }">
          <td>{{placement?.cjamspid}}</td>
          <td>{{placement?.firstname}}</td>
          <td>{{placement?.lastname}}</td>
          <td>{{placement?.dob | date: 'MM/dd/yyyy'}}</td>
          <td>{{placement?.gendertypedesc}}</td>
          <td>{{placement?.nationalitytypekey}}</td>
          <!-- <td>
            <i class="fa fa-pencil-square-o" (click)="editProfileInfo(placement)"></i>
            <i class="fa fa-trash" (click)="deleteProfileDetails(placement)"></i>
          </td> -->
        </tr>
      </tbody>
    </table>
    <div class="text-center m-t-20" *ngIf="childPlacementInfo; let childPlacementInfo">
      <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize">
      </pagination>
    </div>
  </div>
</div>