<div class="box-grid">
  <div class="row" [formGroup]="closerFormGroup">
    <div class="col-sm-6 border-right">
      <h4>Summary</h4>
      <mat-form-field>
        <textarea matInput placeholder="A) Reason for AR" formControlName="referralreason"></textarea><!--'referralreason' swapped with 'reason' D-11187 Jul2 19-->
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="B) Children Participating in Assesment" multiple (change)="personChange($event.value, 'child')"
          formControlName="childparticipate">
          <mat-option *ngFor="let person of childrenParticipateItems$ |async" [value]="person">{{person.firstname + ' '
            + person.lastname}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="table-responsive mat-form-field-table">
        <table class="table grid-list">
          <thead>
            <tr>
              <td>Name</td>
              <td>Role</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of childs">
              <td>
                {{person.firstname + ' ' + person.lastname}}
              </td>
              <td>
                <span *ngFor="let role of person?.roles; let last = last">
                  {{role.typedescription}}
                  <span style="color:gray" *ngIf="!last">;</span>
                </span>
              </td>
            </tr>
            <!-- <div *ngIf="isInvolvedPerson">
              <tr *ngFor="let person of closerFormGroup.controls['childparticipate'].value">
                <td>
                  {{person.lastname + ', ' + person.firstname}}
                </td>
                <td>
                  <span *ngFor="let role of person?.roles; let last = last">
                    {{role.typedescription}}
                    <span style="color:gray" *ngIf="!last">;</span>
                  </span>
                </td>
              </tr>
            </div> -->
          </tbody>
        </table>
      </div>

      <mat-form-field>
        <mat-select placeholder="C) Individuals Participating in Assesment" multiple formControlName="individualparticipants"
          (change)="personChange($event.value, 'individual')">
          <mat-option *ngFor="let indivisual of individualParticipateItems$ |async" [value]="indivisual"> {{
            indivisual.firstname + ' ' + indivisual.lastname}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="table-responsive mat-form-field-table">
        <table class="table grid-list">
          <thead>
            <tr>
              <td>Name</td>
              <td>Role</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of individual">
              <td> {{person.firstname + ' ' + person.lastname}}</td>
              <td>
                <span *ngFor="let role of person?.roles; let last = last">
                  {{role.typedescription}}
                  <span style="color:gray" *ngIf="!last">;</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="col-sm-6">
      <h4>Details</h4>
      <span>A) Services and inter ventions provided to the family to mitigate safety and risk issues</span>
      <mat-form-field>
        <mat-select placeholder="Select " formControlName="riskissues" (change)="changeClosureStatus($event.value)">
          <mat-option *ngFor="let status of serviceNInter" [value]="status.value">{{status.text}}</mat-option>
        </mat-select>
        <!-- <textarea matInput placeholder="A) Services and inter ventions provided to the family to mitigate safety and risk issues"
          formControlName="riskissues"></textarea> -->
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="B) How did the services provided address the reason for AR referral? "
          formControlName="reason"></textarea>  <!--'reason' swapped with 'referralreason' D-11187 Jul2 19-->
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="C) Issues requiring further interventions" formControlName="interventionissues"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="D) Recommendations for the family" formControlName="recommendation"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Closure Status:" formControlName="closuretypekey" (change)="changeClosureStatus($event.value)">
          <mat-option *ngFor="let status of closerTypeDropdownItems$ | async" [value]="status.value">{{status.text}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="communityServiceItems$ | async; let communityList">
        <div class="ldss-services" *ngIf="isLDSS">
          <mat-radio-group class="clearfix" formControlName="closuresubtypekey">
            <mat-radio-button *ngFor="let service of communityList" [value]="service.value">{{service.text}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="community-services" *ngIf="isCONS">
          <mat-form-field>
            <mat-select placeholder="Clients Referred to Community Services" formControlName="closuresubtypekey">
              <mat-option *ngFor="let service of communityList" [value]="service.value">{{service.text}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button type="submit" class="btn-pri" [disabled]="closerFormGroup.pristine || closerFormGroup.invalid" (click)="submitCaseCloser(closerFormGroup.value)">Submit</button>
    </div>
  </div>
</div>

<div class="modal fade" id="checklist" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content intakerList">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Check List</h4>
      </div>
      <div class="modal-body dashboard-cont">

        <div class="tab-horizontal mrg-btm25">

          <div class="tab-content boxgrid">
            <div class="tab-pane active">
              <div class="">
                <div class="bs-example">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>NAME</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let x of validateResponseList">
                        <td> {{x.name}} </td>
                        <td> {{x.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button type="button" class="btn-pri" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>