<div class="" id="pending-placement">
    <div class="row">
        <div class="col-md-12 m-t-20">
            <div class="search-box">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Search Client #" (keyup.enter)="onSearchClient()" [(ngModel)]="clientSearch">
                        <button mat-button matSuffix mat-icon-button aria-label="Search Client #" (click)="onSearchClient()">
                        <i aria-hidden="true" class="fa fa-search"></i>
                        </button>
                    </mat-form-field>
                </div>
            <button type="button" *ngIf="!isSupervisor" [disabled]='!enableBulk' class="btn-pri pull-right" (click)="saveBulkValidation()">Bulk Validation</button>
        </div>
        <div class="col-md-12 m-t-10">
            <!-- <h4 class="textb text-uppercase">Pending Placements</h4> -->
            <div class="table-responsive table-theme">
                <table sortable-table (sorted)="onChildListSort($event)" class="table table-striped">
                    <thead>
                        <tr>
                            <th><mat-checkbox [disabled]="placementDis || isSupervisor"  [(ngModel)]="selectTransBulk" class="display-bl" (change)="getBulk($event.checked)"></mat-checkbox></th>
                            <th sortable-column="validation_id" sort-direction="desc">Placement Validation ID</th>
                            <th sortable-column="client_id" sort-direction="desc">Client ID</th>
                            <th sortable-column="clientname" sort-direction="desc">Client Name</th>
                            <th sortable-column="case_id" sort-direction="desc">Case ID</th>
                            <th sortable-column="provider_nm" sort-direction="desc">Provider Name</th>
                            <th sortable-column="placement_structure_nm" sort-direction="desc">Placement Structure</th>
                            <th sortable-column="validation_start_dt" sort-direction="desc">Start Date</th>
                            <th sortable-column="validation_end_dt" sort-direction="desc">End Date</th>
                            <th sortable-column="address" sort-direction="desc">Placement Address</th>
                            <th sortable-column="contract_program_nm" sort-direction="desc">Program</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="placementList && placementList.length > 0">
                        <tr *ngFor="let item of placementList; let i=index">
                            <td>
                                <input type="checkbox" *ngIf="!isSupervisor" (change)="transChanged($event.target.checked, item)" class="trans" id="trans-id-{{i}}">
                            </td>
                            <td>{{item.placement_validation_id}}</td>
                            <td>{{item.client_id}}</td>
                            <td>{{item.client_first_nm}}&nbsp;{{item.client_last_nm}}</td>
                            <td>{{item.case_id}}</td>
                            <td>{{item.provider_nm}}</td>
                            <td>{{item.placement_structure_nm}}</td>
                            <td>{{item.validation_start_dt | date:'MM/dd/yyyy'}}</td>
                            <td>{{item.validation_end_dt | date:'MM/dd/yyyy'}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.contract_program_nm ? item.contract_program_nm : 'N/A'}}</td>
                            <td>
                                <span (click)="editPlacement(item)" class="action-btn"><i class="fa fa-pencil"
                                        aria-hidden="true"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="placementList?.length === 0">
                            <td colspan="10" style="text-align: center !important;">
                                No records found.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-10">
                    <div class="text-center" *ngIf="totalcount > 10">
                        <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                            class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="placement-view" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Placement Details</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 m-t-20" [formGroup]="placementForm">
                    <div class="col-md-6">
                        <p class="m-b-20"><b>Worker Id : {{loggedInUser.cjamspid}}</b></p>
                        <!-- <mat-form-field class="">
                            <input formControlName="loggedInUser.cjamspid" matInput placeholder="Worker ID">
                        </mat-form-field> -->
                        <mat-form-field class="">
                            <input formControlName="clientname" matInput placeholder="Client Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="provider_nm" matInput placeholder="Provider Name">
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="validation_start_dt" matInput [matDatepicker]="picker31" placeholder="Start Date">
                            <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                            <mat-datepicker #picker31></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="placement_structure_nm" matInput placeholder="Placement Structure">
                        </mat-form-field>
                        <mat-form-field>
                            <textarea formControlName="comment_tx" matInput placeholder="Comments"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea formControlName="address" matInput placeholder="Placement Address"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <p class="m-b-20"><b style="text-transform: capitalize;">Worker : {{loggedInUser.fullname}}</b></p>
                        <!-- <mat-form-field class="">
                            <input formControlName="loggedInUser.fullname" matInput placeholder="Worker Name">
                        </mat-form-field> -->
                        <mat-form-field class="">
                            <input formControlName="client_id" matInput placeholder="Client ID">
                        </mat-form-field>
                        <!-- <mat-form-field class="">
                            <input formControlName="cis_id" matInput placeholder="CIS ID">
                        </mat-form-field> -->
                        <mat-form-field class="">
                            <input formControlName="contract_program_nm" matInput placeholder="Program Name">
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="validation_end_dt" matInput [matDatepicker]="picker32" placeholder="End Date">
                            <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                            <mat-datepicker #picker32></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="validation_month" matInput placeholder="Validation Month">
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <mat-select formControlName="validation_status_cd" placeholder="Validate">
                                <mat-option *ngFor="let item of pickList" [value]="item.picklist_value_cd">{{item.description_tx}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="m-t-30">
                            <!-- <mat-checkbox (change)="validateCheck($event.value)">Validate</mat-checkbox> -->
                            <mat-checkbox [disabled]="isSupervisor" formControlName="validation_status_cd" (change)="validateCheck($event.checked)">Validate</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button [disabled]="!enableSave" *ngIf="!isSupervisor" class="btn btn-pri pull-right" (click)="saveValidation()">Save</button>
                            <a class="cal-link" href="#" (click)="viewPlacementReDirect()">
                                View Placement details </a>
                        </div>
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
