.hours-align {
    text-align: right;
}

.training-tb tr td:nth-child(3) {
    word-break: break-all;
}

.instructor-tb tr th,
.instructor-tb tr td {
    text-align: left;
}

.training-cont {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}