<div class="container-fluid m-t-50">
    <div class="box-grid-main clsMinHeight clearfix">
        <h4 class="mrg-top25">Training</h4>
        <div class="dashboard-cont no-pad">
          <div class="training-cont">
              <div class="row">
                  <div class="col-md-8 text-right">
                    <button class="btn-pri" (click)="getTrainingNumber()">+ New Training</button>
                  </div>
                  <div class="col-md-4 text-right">
                    <button class="btn-pri" data-target="#add-instructor" data-toggle="modal">+ Instructor</button>
                  </div>
              </div>
      
              <div class="row m-t-20">
                <div class="col-md-8 table-responsive table-theme">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Training number</th>
                        <th>Training Type</th>
                        <th>Topic Description</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th>Session Type </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let session of trainingSessionList | paginate: { itemsPerPage: 10, currentPage: p}">
                        <td><a (click)="openExistingTraining(session.training_number)">{{session.training_number}}</a></td>
                        <td>{{session.training_type}}</td>
                        <td>{{session.training_topic}}</td>
                        <td>{{session.training_date | date:'MM/dd/yyyy'}}</td>
                        <td>{{session.start_datetime | date:'hh:mm a' }} - {{session.end_datetime | date:'hh:mm a'}}</td>
                        <td>
                          <div>
                              <p *ngIf="session?.duration<=1">{{session?.duration}} hour</p>
                              <p *ngIf="session?.duration>1">{{session?.duration}} hours</p>
                          </div>
                        </td>
                        <td>{{session.training_status}}</td>
                        <td>{{session.session_type}}  {{session.session_no}}</td>
            
                        <td>
                            <button class="no-bg"><i class="fa fa-pencil-square-o" (click)="editTrainingSession(session)"></i></button>
                            <button class="no-bg"><i class="fa fa-trash" (click)="deleteTrainingSession(session)"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center m-t-20" *ngIf="trainingSessionList; let trainingSessionList">
                    <pagination-controls class="text-center m-t-20" *ngIf="trainingSessionList.length>0" (pageChange)="p = $event"></pagination-controls>
                  </div> 
                </div>
                
                <div class="col-md-4 table-responsive table-theme">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>First Name</th>
                          <th>Middle Name</th>
                          <th>Last Name</th>  
                          <th>Action</th>          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let instructor of instructorsList">
                          <td>{{instructor.instructor_first_nm}}</td>
                          <td>{{instructor.instructor_middle_nm }}</td>
                          <td>{{instructor.instructor_last_nm}}</td>
                          <td>
                              <button class="no-bg"><i class="fa fa-pencil-square-o" (click)="editInstructor(instructor)"></i></button>
                              <button class="no-bg"><i class="fa fa-trash" (click)="deleteInstructor(instructor)"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
  
  
  <div class="modal fade" id="add-training" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetTrainingForm()">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Add New Training Session</h4>
        </div>
        <div class="modal-body dashboard-cont">
          <form [formGroup]="trainingForm">
            <h5>Training Number: {{trainingNumber}}</h5>
            <div class="row">
              <div class=" col-md-6">
                  <mat-form-field>
                  <mat-select required placeholder="Type" formControlName="training_type">
                      <mat-option *ngFor="let item of trainingTypes" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class=" col-md-6">
                  <mat-form-field>
                     <mat-select required formControlName="jurisdiction" placeholder="Jurisdiction">
                        <mat-option *ngFor="let county of countyList$ | async" [value]="county.text">{{county.text}}</mat-option>
                     </mat-select>
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <mat-form-field>
                    <input matInput required [matDatepicker]="picker1" placeholder="Date" [min]="today" (click)="picker1.open()" formControlName="training_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field>
                      <input matInput required type="time" formControlName="start_datetime" placeholder="Start Time">
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field>
                      <input matInput required type="time" formControlName="end_datetime" placeholder="End Time">
                  </mat-form-field>
              </div>
              <div class="col-md-3">
                  <mat-form-field>
                    <input readonly matInput type="text" formControlName="duration" placeholder="Duration" class="hours-align">
                    <span *ngIf="trainingForm.get('duration').value<=1" matSuffix>&nbsp; Hour </span>
                    <span *ngIf="trainingForm.get('duration').value>1" matSuffix>&nbsp; Hours </span>
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class ="col-md-6">
                  <mat-form-field>
                      <input matInput type="text" formControlName="training_topic" placeholder="Topic Description">
                    </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Session Type" formControlName="session_type">
                      <mat-option *ngFor="let item of sessionType" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-select placeholder="Medium" formControlName="medium">
                    <mat-option *ngFor="let item of orientationMediums" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field *ngIf="trainingForm.value.session_type=='PRIDE'">
                      <mat-select placeholder="Session Number" formControlName="session_no">
                        <mat-option *ngFor="let item of sessionNo" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                <div *ngIf="trainingForm.value.medium=='In-person'">
                  <mat-card>
                    <p>&nbsp;Please enter the Address</p>
                    <mat-form-field>
                      <input matInput type="text" mask="00000" formControlName="room_no" placeholder="Room Number">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" formControlName="addr_line1" placeholder="Address Line 1">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" formControlName="addr_line2" placeholder="Address Line 2">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" formControlName="addr_city" placeholder="City">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" formControlName="addr_state" placeholder="State" value="MD">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput type="text" mask="00000" formControlName="addr_zip" placeholder="Zip">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput readonly type="text" formControlName="addr_county" placeholder="County">
                    </mat-form-field>
                  </mat-card>
                </div>
                
                <div *ngIf="trainingForm.value.medium=='Online'">
                  <mat-form-field>
                    <input matInput type="text" formControlName="training_url" placeholder="Please Enter URL">
                  </mat-form-field>
                </div>

              </div>
            </div>
  
            <div class="row">
              <p>&nbsp;&nbsp;&nbsp;Instructor 1</p>
              <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Type" formControlName="instructor_1">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of instructorsList" [value]="item.instructor_id">
                        {{item.instructor_last_nm}}, {{item.instructor_first_nm}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </div>
  
            <div class="row">
              <p>&nbsp;&nbsp;&nbsp;Instructor 2</p>
              <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="Type" formControlName="instructor_2">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of instructorsList" [value]="item.instructor_id">
                          {{item.instructor_last_nm}}, {{item.instructor_first_nm}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </div>

<!-- 
            <div class="modal-body ">
                <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="select">
                   <mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                   </mat-header-cell>
                   <mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                   </mat-cell>
                </ng-container>
                <ng-container matColumnDef="instructorFirstName">
                   <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.instructor_first_nm}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="instructorLastName">
                   <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.instructor_last_nm}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </mat-row>
                </mat-table>
             </div> -->





            <div class="row">
                <div class="col-md-12 m-t-10">
                  <div class="pull-right">
                    <button *ngIf="isEditTrainingSession"  [disabled]="!trainingForm.valid" class="btn-pri" (click)="patchProviderTraining()">Update</button>
                    <button *ngIf="!isEditTrainingSession" [disabled]="!trainingForm.valid" class="btn-pri" (click)="saveTraining()">Save</button>  
                  </div>
                </div>
            </div>
          </form>
          <!-- <button class="btn-pri" (click)="saveTraining()">Save</button> -->
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="add-instructor" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Add New Instructor</h4>
        </div>
        <div class="modal-body dashboard-cont">
          <form [formGroup]="instructorForm">
            <mat-form-field>
              <input matInput required type="text" formControlName="instructor_first_nm" placeholder="First Name" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="instructor_middle_nm" placeholder="Middle Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput required type="text" formControlName="instructor_last_nm" placeholder="Last Name" required>
            </mat-form-field>

            <div class="row">
                <div class="col-md-12 m-t-10">
                  <div class="pull-right">
                    <button *ngIf="isEditInstructor"  [disabled]="!instructorForm.valid" class="btn-pri" (click)="patchInstructor()">Update</button>
                    <button *ngIf="!isEditInstructor" [disabled]="!instructorForm.valid" class="btn-pri" (click)="saveInstructor()">Save</button>  
                  </div>
                </div>
            </div>
          </form>
          <!-- <button class="btn-pri" (click)="saveInstructor()">Save</button> -->
        </div>
      </div>
    </div>
  </div>

<div class="modal fade in" id="delete-trainingsession" tabindex="-1" role="dialog" data-backdrop="static"
  data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetTrainingForm()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">{{titleText}}Training Session Information </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>Are you sure want to delete</p>
          </div>
        </div>
      </div> 
      <div class="modal-footer text-right">
          <button class="sec-btn" (click)="cancelDelete()">Cancel</button>
          <button class="btn-pri" (click)="deleteTrainingConfirm()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="delete-instructor" tabindex="-1" role="dialog" data-backdrop="static"
  data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">{{titleText}}Instructor Information </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>Are you sure want to delete</p>
          </div>
        </div>
      </div> 
      <div class="modal-footer">
          <button class="sec-btn" (click)="cancelDeleteInstructor()">Cancel</button>
          <button class="btn-pri" (click)="deleteInstructorConfirm()">Delete</button>
      </div>
    </div>
  </div>
</div>