<form [formGroup]="reportForm">
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput type="number" (change)="balanceChanged()" formControlName="balanceAmount" placeholder="Balance">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field>
        <mat-select (change)="balanceChanged()" formControlName="balanceGreaterThan" placeholder="Balance Condition">
          <mat-option>None</mat-option>
          <mat-option value="true">&gt;=</mat-option>
          <mat-option value="false">&lt;=</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3 m-t-10">
      <mat-checkbox formControlName="activeSupervision">Active Supervision
      </mat-checkbox>
    </div>
    <div class="col-sm-1 m-t-10">
      <mat-checkbox formControlName="isCCU">CCU
      </mat-checkbox>
    </div>
    <div class="col-sm-3 pull-right">
      <button class="btn btn-pri m-t-10" (click)="generateReport()">Generate
        Report</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-pri m-t-10" (click)="resetReport()">Reset</button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-sm-9">
    <h4>Exception Report</h4>
  </div>
  <div class="col-sm-3">
    <div class="dropdown" *ngIf="exceptionReports?.length">
      <button class="btn btn-pri dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i>&nbsp;DOWNLOAD&nbsp;&nbsp;&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="downloadReport('pdf')"><i
              class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;PDF</a></li>
        <li><a class="dropdown-item" (click)="downloadReport('xlsx')"><i
              class="fa fa-file-excel-o"></i>&nbsp;&nbsp;&nbsp;EXCEL</a></li>
        <li><a class="dropdown-item" (click)="downloadReport('csv')"><i
              class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;CSV</a></li>
      </ul>
    </div>
    <a download [href]="downloadURL" id="downloadReport"></a>
  </div>
  <div class="col-sm-12">
    <div class="bsm-table table-responsive table-theme">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 20%;">Counselor</th>
            <th style="width: 80%;">Balance</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let exception of exceptionReports; let i = index;">
            <tr (click)="toggleTable('accordion-tables'+i)">
              <td>{{exception.username}}</td>
              <td>${{exception.totalbalance}}</td>
            </tr>
            <tr id="accordion-tables{{i}}" class="collapse">
              <td class="accordion-table" colspan="6">
                <b *ngIf="exception?.under21"><u>Under21</u></b>
                <table class="table table-striped" *ngIf="exception?.under21">
                  <thead>
                    <tr>
                      <th style="width: 25%">Offender Name</th>
                      <th>CJAMS ID</th>
                      <th>Account#</th>
                      <th>Amount</th>
                      <th>Balance</th>
                      <th>Entry Date</th>
                      <th>Last Pay</th>
                      <th>CCU Date</th>
                      <th>Judgement</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of exception?.under21">
                      <td>{{data.offendername}}</td>
                      <td>{{data.assistid}}</td>
                      <td>{{data.accountnumber}}</td>
                      <td>${{data.amount}}</td>
                      <td>${{data.balance}}</td>
                      <td>{{data.entrydate | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.lastpay | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.ccudate | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.judgement}}</td>
                    </tr>
                  </tbody>
                </table>
                <b *ngIf="exception?.over21"><u>Over21</u></b>
                <table *ngIf="exception?.over21" class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 25%">Offender Name</th>
                      <th>CJAMS ID</th>
                      <th>Account#</th>
                      <th>Amount</th>
                      <th>Balance</th>
                      <th>Entry Date</th>
                      <th>Last Pay</th>
                      <th>CCU Date</th>
                      <th>Judgement</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of exception?.over21">
                      <td>{{data.offendername}}</td>
                      <td>{{data.assistid}}</td>
                      <td>{{data.accountnumber}}</td>
                      <td>${{data.amount}}</td>
                      <td>${{data.balance}}</td>
                      <td>{{data.entrydate | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.lastpay | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.ccudate | date : 'MM/dd/yyyy'}}</td>
                      <td>{{data.judgement}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="exceptionReports?.length === 0">
            <tr>
              <td colspan="6" style="text-align: center !important;">No records found.</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="text-center m-t-20" *ngIf="totalCount">
        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber"
          (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
          [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>