.table-theme .table tr th {
    font-size: 13px;
    border-width: 1px;
    padding: 15px 8px;
    text-transform: uppercase;
    background: #a8b9d2;
    font-weight: 600;
    color:#000;
}
.table-theme .table tr {
    border-bottom: 1px solid #D8D8D8;
}
.table-theme .table tr td {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 8px;
}
.table-theme .table tr:hover {
    background: #e8f0fa;
}
.table-theme .table tr:last-child {
    border-bottom: 0px !important;
}
.action-icons {margin-bottom: 0;text-align: center;}
.action-icons li {margin-right:15px;}
.action-icons li a {font-weight:600;color: #00A2FD;}
.action-icons li a i {font-size: 16px;margin-right:8px;}

.modal-theme .modal-dialog {width:1024px;}
.modal-theme .modal-body {padding:15px 30px;}
.cdk-overlay-pane {margin-left:15px;}
.h-95 {height:95px !important;}
.m-t--15 {margin-top:-15px;}
.m-t-15 {margin-top:15px;}
dt {font-weight: 600;}
.bg-theme {
    background: #f7f7f7;
    width: 100%;
    display: block;
    float: left;
    padding: 10px 0 10px;
    margin-bottom: 20px;
}
.min-height .panel-body {
    padding: 15px;
    max-height: 440px;
    overflow: hidden;
    overflow-y: auto;
    min-height: 440px;
}
.panel-theme {
    border: 1px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
}
.panel-theme .panel-heading h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}
.panel-theme .media-right {
    vertical-align: bottom;
}
.panel-theme .panel-heading {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.panel-theme .panel-body {
    padding:15px 0;
}
.panel-theme .panel-body dl dt,
.panel-theme .panel-body dl dd {
    color: #000;
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 600;
    text-align: left;
}
.panel-theme .panel-body dl dt:after {
    position: absolute;
    content: ":";
    right: 64%;
}
.panel-theme .panel-body dl {
    margin-bottom: 8px;
    border-bottom: 1px solid #dcdcdcd9;
    padding: 0 15px 8px;
    position: relative;
}
.panel-theme .panel-body dl:last-child {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.panel-theme .panel-body dl dd {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color:#555;
}
.panel-theme .dl-horizontal dd {
    margin-left: 150px;
}
.panel-theme .dl-horizontal dt {
    width:150px;
}
.dl-small dt {text-align: left;width:95px;}
.dl-small dd {margin-left:95px;}
.modal-450 {width:450px;}
.close {
    font-size: 28px;
}
.custom-close.close {
    font-size: 24px;
    position: absolute;
    right: 1px;
    top: 0px;
    border: 1px solid #D8D8D8;
    border-radius: 50%;
    width: 24px;
    background: #ddd;
    color: #000;
}
.t-10 {top:10%;}
.m-t--20 {margin-top:-20px}
h4.modal-title {
    margin: 0px;
}