<div class="row">
    <div class="col-md-12 section-title">
        <h4 class="text-uppercase">HSS Clinet ID</h4>
    </div>
</div>
<div class="row" [formGroup]="hssClientForm">
    <div class="col-sm-4">
        <mat-form-field>
            <input type="text" matInput placeholder="HHS Client ID" formControlName="hhsclientid"/>
        </mat-form-field>
    </div>
</div>
<div class="row pt-15">
    <div class="col-md-12 section-title">
        <h4 class="text-uppercase">Code Status</h4>
    </div>
</div>
<div class="row" [formGroup]="statusForm">
    <div class="col-sm-4">
        <mat-form-field>
            <mat-select placeholder="Select Code Status" formControlName="codestatustypekey">
                <mat-option *ngFor="let code of (statusCodeDeatils$ | async)" [value]="code.value">{{ code.text }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-4" *ngIf="statusForm.controls['codestatustypekey'].value==='OTHE'">
        <mat-form-field>
            <input type="text" matInput placeholder="Description" formControlName="othercodestatus"/>
        </mat-form-field>
    </div>
</div>
<div class="row">
        <div class="col-md-12 section-title">
            <h4 class="text-uppercase">Notes</h4>
        </div>
    </div>
    <div [formGroup]="notesForm">
    <div class="row">
        <div class="col-sm-8">
            <mat-form-field>
                <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="row">
    <button class="btn-pri m-t-15" style="margin-left: 17px;" (click)="saveHssCode()">Save</button>
</div>
