<div id="applicant-checklist" class="tab-pane dd-overflow-inherit" role="tabpanel">
  <div class="cnt-min-height container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default decision-panel min-height">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="text-uppercase">Applicant Info</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    <div class="panel-body">
                        <div *ngIf="(applicantInfo)"class="panel panel-default person-panel">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-body" *ngIf="(applicantInfo && applicantInfo.contact_first_nm && applicantInfo.contact_last_nm)">
                                        <h4> {{applicantInfo.contact_first_nm}} + {{applicantInfo.contact_last_nm}}
                                        </h4>
                                    </div>
                                    
                                    <div class="media-right">
                                        <img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                            <dt>TAX ID</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.program_tax_id_no)">{{applicantInfo.program_tax_id_no}}
                            </dd>  
                            <!-- <dt>LOCATION ADDRESS</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.mailing_address)">{{applicantInfo.mailing_address | uppercase}}
                            </dd>
                            <dt>PAYMENT ADDRESS</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.mailing_address)">{{applicantInfo.mailing_address | uppercase}}
                            </dd> -->
                            <dt>FAX NUMBER</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.contact_fax)"> {{applicantInfo.contact_fax}}
                            </dd>
                            <dt>CELL NUMBER</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.contact_phonenumber)"> {{applicantInfo.contact_phonenumber}}
                            </dd>
                            <dt>WORK NUMBER</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.contact_phonenumber)"> {{applicantInfo.contact_phonenumber}}
                            </dd>
                            <dt>EMAIL</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.contact_email)">{{applicantInfo.contact_email}}
                            </dd>
                            <!-- <dt>WEBSITE</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.program)">{{applicantInfo.program}}
                            </dd> -->
                            <dt>PROGRAM </dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.prgram)">{{applicantInfo.prgram}}
                            </dd>
                            <dt>PROGRAM TYPE </dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.program_type)">{{applicantInfo.program_type}}
                            </dd>
                            <dt>GENDER</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.gender_cd)">{{applicantInfo.gender_cd}}
                            </dd>
                            <dt>AGE RANGE</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.minimum_age_no && applicantInfo.maximum_age_no)">{{applicantInfo.minimum_age_no + ' to ' + applicantInfo.maximum_age_no}}
                            </dd>
                            <dt>IQ RANGE</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.iq_range_from && applicantInfo.iq_range_to)">{{applicantInfo.iq_range_from + ' to ' + applicantInfo.iq_range_to}}
                            </dd>
                            <dt>BED CAPACITY</dt>
                            <dd *ngIf="(applicantInfo && applicantInfo.children_no)">{{applicantInfo.children_no}}
                            </dd>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                    <div class="panel-body">
                            <div *ngIf="(applicantInfo.addresses)"class="panel panel-default person-panel">
                                    <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-body" *ngIf="(applicantInfo && applicantInfo.addresses)">
                                                    <h4> ADDRESSESS
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                <div class="col-sm-4" *ngFor='let address of (applicantInfo.addresses)'>
                                    <div class="panel-heading">
                                        <div class="media">
                                            <div class="media-body" *ngIf="(address && address.address_type)">
                                                <h4> {{address.address_type}}
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <dt>STREET NO</dt>
                                        <dd *ngIf="(address && address.adr_street_no)">{{address.adr_street_no}}
                                        </dd>  
                                        <dt>STREET NAME</dt>
                                        <dd *ngIf="(address && address.adr_street_nm)">{{address.adr_street_nm}}
                                        </dd> 
                                        <dt>CITY NAME</dt>
                                        <dd *ngIf="(address && address.adr_city_nm)">{{address.adr_city_nm}}
                                        </dd> 
                                        <dt>COUNTY CD</dt>
                                        <dd *ngIf="(address && address.adr_county_cd)">{{address.adr_county_cd}}
                                        </dd> 
                                        <dt>STATE</dt>
                                        <dd *ngIf="(address && address.adr_state_cd)">{{address.adr_state_cd}}
                                        </dd> 
                                        <dt>ZIP CODE</dt>
                                        <dd *ngIf="(address && address.adr_zip5_no)">{{address.adr_zip5_no}}
                                        </dd> 
                                        <dt>COUNTRY</dt>
                                        <dd *ngIf="(address && address.adr_country_tx)">{{address.adr_country_tx}}
                                        </dd> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default decision-panel min-height">
                            <div class="panel-heading">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="text-uppercase">Corporate Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            <div class="panel-body">
                                <div *ngIf="(profileApplicantInfo)"class="panel panel-default person-panel">
                                    <div class="panel-heading">
                                        <div class="media">
                                            <div class="media-body" *ngIf="(profileApplicantInfo)">
                                                <h4> {{profileApplicantInfo.provider_referral_nm}}
                                                </h4>
                                            </div>
                                            
                                            <div class="media-right">
                                                <img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                            <dt>Provider Name </dt>
                                            <dd *ngIf="(profileApplicantInfo && profileApplicantInfo.provider_referral_nm)">{{profileApplicantInfo.provider_referral_nm}}
                                            </dd>  
                                        <dt>TAX ID</dt>
                                        <dd *ngIf="(profileApplicantInfo && profileApplicantInfo.corporation_entity_taxid)">{{profileApplicantInfo.corporation_entity_taxid}}
                                        </dd>  
                                        <dt>First Name </dt>
                                        <dd *ngIf="(profileApplicantInfo && profileApplicantInfo.provider_referral_first_nm)">{{profileApplicantInfo.provider_referral_first_nm}}
                                        </dd> 
                                        <dt>Last Name </dt>
                                        <dd *ngIf="(profileApplicantInfo && profileApplicantInfo.provider_referral_last_nm)">{{profileApplicantInfo.provider_referral_last_nm}}
                                        </dd> 
                                        




                                        <!-- <div *ngIf="(applicantProfileInfo.emails)"class="">
                                        
                                    <div class="col-sm-6" *ngFor='let email of (applicantProfileInfo.emails)'>
                                            <div class="media">
                                                <div class="media-body" *ngIf="(email && email.email_type)">
                                                    <h6> {{email.email_type}}
                                                    </h6>
                                                </div>
                                            </div>
                                        <div class="panel-body">
                                            <dt>Email Id</dt>
                                            <dd *ngIf="(email && email.email)">{{email.email}}
                                            </dd>  
                                            
                                        </div>
                                    </div>
                                </div> -->




                                <div class="row" style=" margin-left: -30px;">
                                
                                
                                        <div *ngIf="(applicantProfileInfo.emails)"class="">
                                                
                                            <div class="col-sm-3" *ngFor='let email of (applicantProfileInfo.emails)'>
                                                    <!-- <div class="panel-heading">
                                                            <div class="media">
                                                                <div class="media-body" *ngIf="(email && email.email_type)">
                                                                    <h5> {{email.email_type}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>  -->
                                                <div class="panel-body">
                                                        <dt *ngIf="(email && email.email_type)">Email TYPE</dt>
                                                        <dd *ngIf="(email && email.email_type)">{{email.email_type}}
                                                        </dd>  
                                                        
                                                    <dt>Email Id</dt>
                                                    <dd *ngIf="(email && email.email)">{{email.email}}
                                                    </dd>  
                                                    
                                                    
                                                </div>
                                            
                                        
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="    margin-left: -30px;">
                                
                                
                                        <div *ngIf="(applicantProfileInfo.phones)"class="">
                                                <!-- <div class="panel-heading">
                                                        <div class="media">
                                                            <div class="media-body" *ngIf="(applicantProfileInfo && applicantProfileInfo.phones)">
                                                                <h4> Phone Numbers
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>  -->
                                            <div class="col-sm-3" *ngFor='let phone of (applicantProfileInfo.phones)'>
                                                    <!-- <div class="panel-heading">
                                                            <div class="media">
                                                                <div class="media-body" *ngIf="(phone && phone.phone_type)">
                                                                    <h5> {{phone.phone_type}}
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>  -->
                                                <div class="panel-body">
                                                        <dt>Phone TYPE</dt>
                                                        <dd *ngIf="(phone && phone.phone_type)">{{phone.phone_type}}
                                                        </dd>  
                                                    <dt>Phone No</dt>
                                                    <dd *ngIf="(phone && phone.phone_no)">{{phone.phone_no}}
                                                    </dd>  
                                                    
                                                    
                                                </div>
                                            
                                        
                                    </div>
                                </div>
                            </div>




                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                                <div class="col-sm-3">
                                <div class="panel-body">
                                        <div *ngIf="(applicantProfileInfo.addresses)"class="panel panel-default person-panel">
                                                <div class="panel-heading">
                                                        <div class="media">
                                                            <div class="media-body" *ngIf="(applicantProfileInfo && applicantProfileInfo.addresses)">
                                                                <h4> ADDRESSESS
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="col-sm-4" *ngFor='let address of (applicantProfileInfo.addresses)'>
                                                <div class="panel-heading">
                                                    <div class="media">
                                                        <div class="media-body" *ngIf="(address && address.address_type)">
                                                            <h4> {{address.address_type}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <dt>STREET NO</dt>
                                                    <dd *ngIf="(address && address.adr_street_no)">{{address.adr_street_no}}
                                                    </dd>  
                                                    <dt>STREET NAME</dt>
                                                    <dd *ngIf="(address && address.adr_street_nm)">{{address.adr_street_nm}}
                                                    </dd> 
                                                    <dt>CITY NAME</dt>
                                                    <dd *ngIf="(address && address.adr_city_nm)">{{address.adr_city_nm}}
                                                    </dd> 
                                                    <dt>COUNTY CD</dt>
                                                    <dd *ngIf="(address && address.adr_county_cd)">{{address.adr_county_cd}}
                                                    </dd> 
                                                    <dt>STATE</dt>
                                                    <dd *ngIf="(address && address.adr_state_cd)">{{address.adr_state_cd}}    
                                                    </dd> 
                                                    <dt>ZIP CODE</dt>
                                                    <dd *ngIf="(address && address.adr_zip5_no)">{{address.adr_zip5_no}}
                                                    </dd> 
                                                    <dt>COUNTRY</dt>
                                                    <dd *ngIf="(address && address.adr_country_tx)">{{address.adr_country_tx}}
                                                    </dd> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- <div class="col-sm-6">
                                    <div class="panel-body">
                                            <div *ngIf="(applicantProfileInfo.emails)"class="panel panel-default person-panel">
                                                        <div class="panel-heading">
                                                            <div class="media">
                                                                <div class="media-body" *ngIf="(applicantProfileInfo && applicantProfileInfo.emails)">
                                                                    <h4> Emails
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                <div class="col-sm-4" *ngFor='let email of (applicantProfileInfo.emails)'>
                                                        <div class="panel-heading">
                                                        <div class="media">
                                                            <div class="media-body" *ngIf="(email && email.email_type)">
                                                                <h4> {{email.email_type}}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="panel-body">
                                                        <dt>Email Id</dt>
                                                        <dd *ngIf="(email && email.email)">{{email.email}}
                                                        </dd>  
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


<!-- 
                                    <div class="col-sm-6">
                                            <div class="panel-body">
                                                    <div *ngIf="(applicantProfileInfo.phones)"class="panel panel-default person-panel">
                                                            <div class="panel-heading">
                                                                    <div class="media">
                                                                        <div class="media-body" *ngIf="(applicantProfileInfo && applicantProfileInfo.phones)">
                                                                            <h4> Phone Numbers
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                        <div class="col-sm-4" *ngFor='let phone of (applicantProfileInfo.phones)'>
                                                                <div class="panel-heading">
                                                                        <div class="media">
                                                                            <div class="media-body" *ngIf="(phone && phone.phone_type)">
                                                                                <h4> {{phone.phone_type}}
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                            <div class="panel-body">
                                                                <dt>Phone No</dt>
                                                                <dd *ngIf="(phone && phone.phone_no)">{{phone.phone_no}}
                                                                </dd>  
                                                                
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->

                            </div>
                        </div>
                    </div> 
                </div>
            
        
        
        
        
        
            
        
                
        </div>
    </div>
</div>