<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="box-grid-main clsMinHeight clearfix">
       <div class="row">
          <div class="col-sm-12">
             <h4>Attendance</h4>
          </div>         
       </div>
       <br>
       <div class="row">
          <div class="col-md-12">
               <div class="table-responsive table-theme">
                  <table class="table table-striped">
                     <thead>
                     <tr>
                        <th>Id</th>
                        <th>Phase</th>
                        <th>Attendee First Name</th>
                        <th>Attendee Last Name</th>
                        <th>Did Candidate Attend?</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let session of assignedTrainingList">
                        <td>{{session.object_id}}</td>
                        <td>{{session.phase}}</td>
                        <td>{{session.attendee_first_nm}}</td>
                        <td>{{session.attendee_last_nm}}</td>
                        <td> 
                                 <!-- <input type="checkbox"  (change)="patchIsAttended(session)" [checked]="session.is_attended? true: false">
                                 {{session.is_attended? 'Yes, Attend': 'No, did not attend'}} -->
                                 <mat-button-toggle-group #group="matButtonToggleGroup" (change)="patchIsAttended(session)">
                                       <mat-button-toggle value=true [checked]="session.is_attended? true: false">
                                          Yes
                                       </mat-button-toggle>
                                       <mat-button-toggle value=false [checked]="!session.is_attended? true: false">
                                          No
                                       </mat-button-toggle>
                                    </mat-button-toggle-group>
                        </td>
                     </tr>
                     </tbody>
                  </table>
               </div>
          </div>
       </div>
    </div>
 </div>
