<div class="row" [formGroup]="emotionalTiesForm">
    <div class="col-lg-7 col-md-12">
        <h5 class="text-uppercase h5-title">Emotional Ties</h5>
        <h6 class="h6-title">Circumstances of Child</h6>
        <div class="m-t-10">
            <mat-checkbox formControlName="isfosterparents">Child is living with resource parent(s), relative(s) or friends and the LDSS holds custody</mat-checkbox>
            <mat-checkbox formControlName="isadoptivefamily">Prospective adoptive family is deeply committed to the child </mat-checkbox>
            <mat-form-field class=""> <textarea matInput placeholder="Notes" formControlName="notes"></textarea> </mat-form-field>
        </div>
    </div>


    <div class="col-md-12 m-t-30 ad-plan-efforst">
        <h5 class="text-uppercase h5-title">Significant Emotional Ties</h5>
        <button  [disabled]="isAdoptionCreated" class="btn-pri pull-right text-uppercase add-btn aut-btn-add" data-target="" data-toggle="modal" (click)="manageEmotionalPerson('Add')"><span class="plus-icon">+</span> Add</button>
        <div class="m-t-20 table-responsive table-theme">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Provider Id</th>
                        <th>Name</th>
                        <th>Relationship to Child</th>
                        <th>Importance to Child</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tie of emotionalTies; let i = index">
                        <td>{{ tie?.providerid }}</td>
                        <td>{{ tie.fullname }}</td>                        
                        <td>{{ tie.relationshiptochildtx }}</td>
                        <td>{{ tie.importancetochildtx }}</td>
                        <td class="icon">
                            <span type="button" *ngIf="!isAdoptionCreated" class="p-r-10" (click)="manageEmotionalPerson('Update', tie, i)"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</span>
                            <span type="button" (click)="manageEmotionalPerson('View', tie, i)"><i class="fa fa-eye" aria-hidden="true"></i>View</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 m-t-20">
        <button class="sec-btn text-uppercase" *ngIf="!isAdoptionCreated" (click)="saveEmotionalTie('')">SAVE</button>
        <button class="btn-pri text-uppercase pull-left" *ngIf="!isAdoptionCreated" (click)="saveEmotionalTie('Next')">SAVE AND PROCEED TO NEXT</button>
    </div>
</div>

<div class="modal fade in" id="manage-emotional-tie" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" title="close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title">{{ selectedEmotional?.action }} Emotional Ties</h4>
            </div>
            <div class="modal-body">
                <div [formGroup]="personRelationForm">
                        <!-- <h5 class="text-uppercase h5-title">Emotional Tie Details</h5> -->

                        <div class="row">
                            <!-- <div class="col-sm-5">
                       
                                <mat-form-field>
                                    <mat-select [disabled]="selectedEmotional?.action !== 'Add'" placeholder="Person" class="ati-lst-person" (change)="onPersonChange($event.value)" formControlName="intakeservicerequestactorid" required>
                                      
                                    <ng-container *ngFor="let role of involvedPersons">
                                        <mat-option *ngIf="filterSavedPersons(role.intakeservicerequestactorid) || selectedEmotional?.action !== 'Add'" [value]="role.intakeservicerequestactorid">{{ role?.firstname + ' ' + role?.lastname }}</mat-option>
                                    </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                            <div class="checkbox-container col-sm-5">
                                <mat-radio-group formControlName="persontype" (change)="onchangePersonType()">
                                    <mat-radio-button value="Provider">Provider</mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div> 
                            <!-- <div class="col-sm-12" *ngIf="personRelationForm.getRawValue().persontype === 'Provider'">
                                    <h5 class="pb-10">Provider Name</h5>
                            </div> -->
                            <div class="col-sm-12"></div>
                            <div class="col-sm-4" *ngIf="personRelationForm.getRawValue().persontype === 'Provider'">
                                <mat-form-field>
                                    <input type="text" formControlName="providerid" class="aut-txt-caseWorkerSearchCase" matInput
                                        placeholder="Provider Id" (keyup.enter)="onSearchProvider()" >
                                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="onSearchProvider()"
                                        class="aut-btn-caseWorkerSearchCase">
                                        <i aria-hidden="true" class="fa fa-search"></i>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12"></div>
                        </div>
                        <div class="row m-t-10 m-b-10" *ngIf="personRelationForm.getRawValue().persontype === 'Other'">
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-select placeholder="Prefix" formControlName="fmprefixtypekey"> 
                                        
                                        <mat-option *ngFor="let item of prefixTypes" value="{{item}}">
                                                {{item}}
                                            </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class=""> <input matInput placeholder="First Name" formControlName="fmfirstname" /> </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class=""> <input matInput placeholder="Middle Name" formControlName="fmmiddlename" /> </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class=""> <input matInput placeholder="Last Name" formControlName="fmlastname" /> </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-select placeholder="Suffix" formControlName="fmsuffixtypekey"> 
                                            <mat-option *ngFor="let item of suffixTypes" value="{{item}}">
                                                    {{item}}
                                                 </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="personRelationForm.getRawValue().persontype === 'Provider' && selectedProviderData?.length ">
                                <div class="col-md-12 m-b-30">
                                        <div class="table-responsive table-theme height-table">
                
                                            <table class="table table-striped aut-tbl-placementProviderTable">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>Select</th> -->
                                                        <th>Provider ID</th>
                                                        <th>Provider Name</th>
                                                        <!-- <th>Program Name</th>
                                                          <th>Preferred</th> -->
                                                        <th>Vacancy</th>
                                                        <th>Placement Structure</th>
                                                        <th>Provider category</th>
                                                        <!-- <th>Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of selectedProviderData; index as i">
                                                      
                                                        <!-- <td>
                                                                      <button class="btn-pri"  type="button">
                                                                              Search Result</button>
                                                              </td> -->
                                                        <td><a data-target="#searchResult" (click)="selectedViewProv(item)"
                                                                data-toggle="modal">{{item.provider_id}}</a></td>
                                                        <td>{{item.providername}}</td>
                                                        <!-- <td>{{item.programname}}</td>
                                                          <td>{{item.preferred}}</td> -->
                                                        <td>{{item.vacancy}}</td>
                                                        <td>{{item.placementstructure}}</td>
                                                        <td>{{item.provider_category_name}}</td>
                                                        <!-- <td> <button *ngIf="(fcProviderSearch)?.length>0" type="button"
                                                                class="btn-pri pull-right m-r-20 m-b-10" (click)="listMap(item)">
                                                                View Map
                                                            </button></td> -->
                                                    </tr>
                                                    <tr *ngIf="selectedProviderData?.length === 0">
                                                        <td colspan="6" style="text-align: center !important;">
                                                            No Records Found.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        
                                        </div>
                                    </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-6">
                                <mat-form-field class=""> <textarea matInput placeholder="Relationship to Child" formControlName="relationshiptochildtx"></textarea> </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class=""> <textarea matInput placeholder="Importance to Child" formControlName="importancetochildtx" ></textarea> </mat-form-field>
                            </div>
                        </div>

                    <div class="col-md-12 m-t-20 text-right"><button class="btn btn-theme btn-pri text-uppercase aut-btn-save" [disabled]="personRelationForm.pristine || personRelationForm.invalid" (click)="saveEmotionalPerson()">{{ selectedEmotional?.action === 'Add' ? 'SAVE' : 'UPDATE'  }}</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchProvider">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="h5-title col-md-8">Provider Search</h5>
                    <button type="button" (click)="resetproviderSearchForm()" class="close pull-right" data-dismiss="modal">
                        X
                    </button>
                </div>
                <div class="modal-body m-20">
                    <div *ngIf="this.currProcess ==='search'" class="tab-pane" id="search-form">
                        <form [formGroup]="providerSearchForm">
                            <h5 class="pt-20 pb-20 textb text-uppercase">Search Provider</h5>
    
                            <div class="row">
    
                                <div class="col-md-12 pl-20">
                                    <div>
                                        <h5 class="textb text-uppercase heading-bg pl-20">
                                            <!-- <mat-checkbox class="" formControlName="isLocalDpt" (change)="localdptSelected($event)">
                                                  Local
                                                  Department Home Care Giver</mat-checkbox> -->
                                            <!-- <mat-radio-group formControlName="isLocalDpt" (change)="localdptSelected($event)" required>
                                                  <mat-radio-button [value]="false">Public</mat-radio-button>
                                                  <mat-radio-button [value]="true">Private</mat-radio-button>
                                              </mat-radio-group> -->
                                        </h5>
    
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput placeholder="First Name" value=""
                                                    formControlName="firstname">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field>
                                                <input matInput placeholder="Middle Name" value=""
                                                    formControlName="middlename">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <input matInput placeholder="Last Name" value="" formControlName="lastname">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Child Characteristics"
                                                    formControlName="childcharacteristics" multiple>
                                                    <mat-option *ngFor="let item of childCharacteristics"
                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select placeholder="Other Local Department"
                                                    formControlName="otherLocalDeptmntTypeId" multiple>
                                                    <mat-option *ngFor="let item of otherLocalDeptmntType"
                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input matInput placeholder="Zip Code" value="" formControlName="zipcode"
                                                    zipcodeOnly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Placement Structure"
                                                    formControlName="placementstructures" multiple>
                                                    <mat-option *ngFor="let item of placementStrType"
                                                        value="{{item.service_id}}">
                                                        {{item.service_nm}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select placeholder="Bundled Placement Services"
                                                    formControlName="bundledplacementservices" multiple>
                                                    <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                                        value="{{item.service_id}}">
                                                        {{item.service_nm}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input matInput placeholder="Provider ID" value=""
                                                    formControlName="providerid">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-20 pt-20">
                                    <div>
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">
                                                <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                                            </h5>
                                            <div class="">
                                                <p>Youngest :
                                                    <mat-select placeholder="Choose Age" formControlName="agemin">
                                                        <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                            [value]="i">{{i}}
                                                        </mat-option>
                                                    </mat-select>
                                                </p>
                                                <p>Oldest :
                                                    <mat-select placeholder="Choose Age" formControlName="agemax">
                                                        <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                            [value]="i">{{i}}
                                                        </mat-option>
                                                    </mat-select>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">
                                                <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                            </h5>
                                            <mat-select placeholder="Gender" formControlName="gender">
                                                <mat-option *ngFor="let gender of genderDropdownItems"
                                                    value="{{gender.typedescription}}">
                                                    {{gender.typedescription}}</mat-option>
                                                <!-- <mat-option  value="Male">Male</mat-option>
                                                  <mat-option  value="Female">Female</mat-option> -->
                                            </mat-select>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="col-md-12 text-right ">
                                    <button class="aut-btn-placemntSearch btn btn-theme btn-pri m-l-30 pull-right"
                                        (click)="getFcProviderSearch()"
                                        [disabled]="providerSearchForm.invalid">SEARCH</button>
                                    <button class="btn btn-theme btn-sec m-l-30 pull-right"
                                        (click)="resetproviderSearchForm()">Clear</button>
                                    <!-- <button type="button" class="btn-pri pull-right" (click)="goBack()">Back</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="this.currProcess ==='select'" class="tab-pane" id="search-list">
                        <h5 class="pt-20 pb-20 textb text-uppercase">Select Provider</h5>
                        <div class="col-md-12 m-b-30">
                            <div class="table-responsive table-theme height-table">
    
                                <table class="table table-striped aut-tbl-placementProviderTable">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Provider ID</th>
                                            <th>Provider Name</th>
                                            <!-- <th>Program Name</th>
                                              <th>Preferred</th> -->
                                            <th>Vacancy</th>
                                            <th>Placement Structure</th>
                                            <th>Provider category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of fcProviderSearch; index as i">
                                            <td>
                                                <!-- <mat-radio-group>
                                                      <mat-radio-button value="1" (change)="selectedProv(item)"></mat-radio-button>
                                                  </mat-radio-group> -->
                                                <input type="radio" name="provider"
                                                    [ngClass]="i===0 ? 'aut-opt-placementProvider' : ''"
                                                    (change)="selectedProv(item)">
                                            </td>
                                            <!-- <td>
                                                          <button class="btn-pri"  type="button">
                                                                  Search Result</button>
                                                  </td> -->
                                            <td><a data-target="#searchResult" (click)="selectedViewProv(item)"
                                                    data-toggle="modal">{{item.provider_id}}</a></td>
                                            <td>{{item.providername}}</td>
                                            <!-- <td>{{item.programname}}</td>
                                              <td>{{item.preferred}}</td> -->
                                            <td>{{item.vacancy}}</td>
                                            <td>{{item.placementstructure}}</td>
                                            <td>{{item.provider_category_name}}</td>
                                            <td> <button *ngIf="(fcProviderSearch)?.length>0" type="button"
                                                    class="btn-pri pull-right m-r-20 m-b-10" (click)="listMap(item)">
                                                    View Map
                                                </button></td>
                                        </tr>
                                        <tr *ngIf="fcProviderSearch?.length === 0">
                                            <td colspan="6" style="text-align: center !important;">
                                                No Records Found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center m-t-20" *ngIf="fcTotal && fcTotal > fcpaginationInfo.pageSize">
                                    <pagination [totalItems]="fcTotal" [(ngModel)]="fcpaginationInfo.pageNumber"
                                        (pageChanged)="fcPageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                        [maxSize]="10" [itemsPerPage]="fcpaginationInfo.pageSize">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right ">
                            <button class="btn btn-theme btn-pri m-l-30 pull-right aut-btn-placementNext"
                                [disabled]="selectedProvider?.length < 1" (click)="selectProvider()">Select
                                Provider</button>
                            <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="backToSearch()">Back
                                to Search</button>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade in modal-theme" id="map-popup" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog t-25">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" (click)="closeMap()">×</button>
                    <!-- <agm-map [latitude]="defaultLat" [longitude]="defaultLng">
                          <agm-marker *ngFor="let m of markersLocation; let i = index" [latitude]="m.lat" [longitude]="m.lng">
                          </agm-marker>
                      </agm-map> -->
                    <div>
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                    <div class="text-right big-bot-space right-mspace-15 m-t-30">
                        <button class="btn-pri aut-btn-caseOk" name="" (click)="closeMap()"> OK </button>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
