.h6-title {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.ad-plan-efforst {
    position: relative;
}

.add-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.semi-b {
    font-weight: 600;
}