<div class="">
  <div class="col-box mynoncps-action">
      <h2>
          {{ totalRecords$ | async }}
          <!-- <span>My AR Intake</span> -->
      </h2>
      <!--
          <div class="search-container pull-right show-searchbar">
              <div class="inner-addon right-addon">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" placeholder="Search Cases..." />
              </div>
          </div>
      -->
      <div class="row">
              <div class="col-sm-4">
  
                  <mat-form-field>
                      <input type="text" matInput placeholder="Search Case #"  (keyup.enter)="onSearchCase()" [(ngModel)]="servicerequestnumber" >
                      <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="onSearchCase()">
                              <i aria-hidden="true" class="fa fa-search"></i>
                            </button>
                  </mat-form-field>
              </div>
              <div class="col-sm-8 ">
                      <div class="checkbox-container pull-right" [formGroup]="myNonCpsForm">
                              <mat-radio-group formControlName="filterNonCPS" (change)="listMyNonCPSCase($event)">
                                  <mat-radio-button value="All">All</mat-radio-button>
                                  <!-- <mat-radio-button value="pending">Not Accepted</mat-radio-button> -->
                                  <mat-radio-button value="inprogress">In Progress</mat-radio-button>
                                  <mat-radio-button value="closed">Closed</mat-radio-button>
                              </mat-radio-group>
                          </div>
              </div>
  
          </div>
      <div class="table-responsive table-theme">
      <table width="100%" class="table fixed_header table-striped">
          <thead>
              <tr>
                  <th>Case Number</th>
                  <th>Type</th>
                  <th>Sub Type</th>
                  <th *ngIf="agency!=='CW'">Focus</th>
                  <th>Legal Guardian</th>
                  <th>Received Date & Time</th>
                  <!-- <th>Accepted Date</th> -->
                  <th>Approval Date & Time</th>
                  <!-- <th>Action</th> -->
              </tr>
          </thead>
          <tbody *ngIf="(nonCpsIntakeList$ | async); let dsdsActionList">
              <tr *ngFor="let item of dsdsActionList">
                  <td>
                      <a [ngStyle]="{'font-weight':item.accepteddate ? 'normal' : 'bold' }" (click)="routToCaseWorker(item)">{{ item.servicerequestnumber }}</a>
                      <span>
                          <span *ngIf="item?.isfatality" 
                          matTooltip="Child Fatality - Name: {{item?.fatalityinfo[0]?.personname}}, DOB: {{item?.fatalityinfo[0]?.Dateofbirth | date: 'MM/dd/yyyy'}}, DOD: {{item?.fatalityinfo[0]?.Dateofdeath | date: 'MM/dd/yyyy'}}"
                          class="dot yellow-dot"></span
                          ><span matTooltip="Provider Maltreatment" *ngIf="item?.ismaltreatment" class="dot blue-dot"></span
                      ></span>
                  </td>
                  <td>{{ item.srtype === 'CHILD' ? 'Child Protective Services' : item.srtype }}</td>
                  <td>Non-CPS</td>
                  <td *ngIf="agency!=='CW'">
                      <!-- <img src="assets/images/thumb-1.png" alt=""> -->
                      {{ item.displayname }}
                  </td>
                  <td>
                        <person-information [persons]="item?.legalguardian"></person-information>
                      <!-- <span *ngFor="let lg of item?.legalguardian">{{lg?.personname}}</span> --></td>
                  <td>{{ item.datereceived ? (item.datereceived | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}</td>
                  <!-- <td>{{ item.accepteddate ? (item.accepteddate | date: 'MM/dd/yyyy hh:mm a':'UTC') : 'NA' }}</td> -->
                  <td>{{ item.approvaldate ? (item.approvaldate | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}</td>
                  <!-- <td>
                      <button *ngIf="item.status === 'Pending'" type="submit" class="btn-pri" (click)="acceptedCase(item)">Accept</button>
                      <button *ngIf="item.status !== 'Pending'" type="submit" class="btn-pri" disabled>Accepted</button>
                  </td> -->
              </tr>
              <tr *ngIf="dsdsActionList?.length === 0">
                  <td colspan="5">No Records Found</td>
              </tr>
          </tbody>
      </table>
      </div>
      <div class="text-center mt-10" *ngIf="{ dsdsActionList: nonCpsIntakeList$ | async, totalRecords: totalRecords$ | async } as validatePagination">
          <pagination
              *ngIf="validatePagination.dsdsActionList?.length !== 0"
              [totalItems]="validatePagination.totalRecords"
              [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event.page)"
              class="pagination-sm"
              [boundaryLinks]="true"
              [maxSize]="10"
          >
          </pagination>
      </div>
  </div>
</div>
