<div class="modal fade in on-demand-activities" id="myModal-add-task" role="dialog" data-backdrop="static" data-keyboard="false"
    style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">×</button>
                <h4 class="modal-title">Add Task Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 mrg-top0">
                        <div class="form_section">
                            <form [formGroup]="taskFormGroup" action="" method="get" accept-charset="utf-8" class="form-search-person no-pad">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="required">Activity</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="activityItems" [searchable]="true" [clearable]="false" (change)="onChangeActivity($event)">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let item of activityDropdownItems$ | async " [value]="item.value">{{item.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="taskFormGroup.controls['activityItems']"></control-messages>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Description</label>
                                        <input type="text" class="form-control" formControlName="description">
                                    </div>
                                    <div class="form-group">
                                        <label>Created On</label>
                                        <input type="text" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', 'maxDate': null}" class="form-control" formControlName="createddate"
                                            placeholder="MM/DD/YYYY" disabled value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="required">Task</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Type</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="taskTypeItems" [searchable]="true" [clearable]="false" (change)="changeType($event)">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let tasktype of typeDropdownItems$ | async" [value]="tasktype.value">{{tasktype.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="taskFormGroup.controls['taskTypeItems']"></control-messages>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="showSubType">
                                            <label class="required">Communication Type</label>
                                            <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                                    <ng-select formControlName="taskcommunication" [searchable]="true" [clearable]="false">
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let subtasktype of taskCommunicationDropdownItems$ | async" [value]="subtasktype.value">{{subtasktype.text}}</ng-option>
                                                    </ng-select>
                                                    <control-messages></control-messages>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control control--checkbox full-width">
                                            Required
                                            <input type="checkbox" formControlName="requiredtask">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="col-md-6  dd-overflow-inherit">
                                    <div class="form-group">
                                        <label>Due</label>
                                        <div class="fm-box-form col-sm-8 no-pad dpnew ">
                                            <input type="text" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', useCurrent: false}" class="form-control full-width"
                                                formControlName="duedate" placeholder="MM/DD/YYYY">
                                            <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                            <control-messages [control]="taskFormGroup.controls['duedate']"></control-messages>
                                        </div>

                                        <div class="input-group">
                                            <small class="text-danger" *ngIf="taskFormGroup.hasError('notValid')">Due date should be greater than created on date</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="required">Assigned To </label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="assignedto" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let users of usersProfileDropdownItems$ | async" value="{{users.value}}">{{users.text}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Assigned On</label>
                                        <input type="text" class="form-control" formControlName="assignedon" disable placeholder="MM/DD/YYYY" a2e-datetimepicker
                                            [options]="{format: 'MM/DD/YYYY', 'maxDate': null}" disabled value="">
                                    </div>
                                </div>
                                <div class="col-md-6 pad-btm-15 text-right">
                                    <button class="btn-pri" (click)="changeAssignedTo()">Reassign Task</button>
                                </div>
                                <div class="clearfix"></div>
                                <div *ngIf="taskStatusType">
                                    <div class="col-sm-12 time-date">
                                        <div class="col-md-2 time-date">
                                            <div class="pad-left15 form-group">
                                                <label class="full-width">Start Time</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-date">
                                            <div class="form-group dd-overflow-inherit">
                                                <div class="fm-box-form no-pad dpnew">
                                                    <input type="text" class="form-control" value="|date :'MM/dd/yyyy'" formControlName="startdate" placeholder="MM/DD/YYYY"
                                                        a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
                                                    <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control full-width" value="|date : 'hh:mm'" formControlName="starttime" placeholder="Time">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <ng-select name="" [searchable]="true" [clearable]="false" formControlName="starttimeformat">
                                                    <ng-option value="">Select</ng-option>
                                                    <ng-option value="AM">AM</ng-option>
                                                    <ng-option value="PM">PM</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 time-date">
                                        <div class="col-md-2 time-date">
                                            <div class="pad-left15 form-group">
                                                <label class="full-width">End Time</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-date ">
                                            <div class="form-group dd-overflow-inherit">
                                                <div class="fm-box-form no-pad dpnew">
                                                    <input type="text" class="form-control" formControlName="enddate" placeholder="MM/DD/ YYYY" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
                                                    <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control full-width" value="|date : 'hh:mm'" formControlName="endtime" placeholder="Time">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <ng-select name="" [searchable]="true" [clearable]="false" formControlName="endtimeformat">
                                                    <ng-option value="">Select</ng-option>
                                                    <ng-option value="AM">AM</ng-option>
                                                    <ng-option value="PM">PM</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control control--checkbox full-width">
                                            Out of Office
                                            <input type="checkbox" formControlName="outofoffice">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="required">Status</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="statustask" (change)="changeTaskStatusType()" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let tasktypestatus of taskTypeStatusDropdownItems$ | async" [value]="tasktypestatus.value">{{tasktypestatus.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="taskFormGroup.controls['statustask']"></control-messages>
                                        </div>
                                    </div>
                                    <div class="form-group dd-overflow-inherit">
                                        <label>Completed</label>
                                        <div class="fm-box-form col-sm-8 no-pad dpnew ">
                                            <input type="text" placement="top" maxDate formControlName="completeddate" class="form-control full-width" placeholder="MM/DD/YYYY"
                                                a2e-datetimepicker [options]="{format: 'MM/DD/YYYY',useCurrent:false}">
                                            <i class="fa fa-calendar cal-icon" aria-hidden="True"></i>
                                        </div>
                                        <div class="input-group">
                                            <small class="text-danger" *ngIf="taskFormGroup.hasError('notValidCompletedDate')">Completed date should be greater than assigned on date</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="required">Disposition</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="taskdisposition" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let disposition of dispositionDropdownItems$ | async" [value]="disposition.value">{{disposition.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="taskFormGroup.controls['taskdisposition']"></control-messages>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Cancel" class="btn-bg" name="" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Cancel</button>
                            <button type="button" value="Save" class="btn-pri" name="" (click)="saveTask()" [disabled]="taskFormGroup.pristine || taskFormGroup.invalid"
                                [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade in"></div>