<div class="row">
    <div class="col-sm-12">
        <h2>Accounts Receivable</h2>
    </div>
</div>
<div class="row p-t-30">
    <div class="col-md-5 col-sm-offset-2">
        <label>Provider Name: </label>
        <span>{{_financeDetailsService?.provider?.providername}}</span>
    </div>
    <div class="col-md-5">
        <label>Provider ID: </label>
        <span>{{_financeDetailsService?.provider?.provider_id}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-pri pull-right" (click)="backToSearch()">Back To Search</button>
    </div>
</div>
<div class="tab-horizontal m-t-30">
    <ul class="nav nav-pills click-triggers intake-tabs">
        <li *ngFor="let tab of tabDetails" routerLinkActive="active">
            <a id="tab.id" [routerLink]="tab.route">{{tab.title}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>
