<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <a>Show Result
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Title</th>
                                    <th>Team Name</th>
                                    <th>Position/Load Number</th>
                                    <th>Main Office Phone</th>
                                    <th>City</th>
                                    <th>County</th>
                                    <th>Region</th>
                                    <th>Team Member ZipCode</th>
                                    <th>Team ZipCode</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="searchList$ | async; let searchList">
                                <tr *ngFor="let item of searchList">
                                    <td (click)="selectUser(item)">
                                        <a>{{item.lastname}}</a>
                                    </td>
                                    <td>{{item.firstname}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.teamname}}</td>
                                    <td>{{item.positioncode}}</td>
                                    <td>{{item.officephone}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.county}}</td>
                                    <td>{{item.region}}</td>
                                    <td>
                                        <a (click)="viewTeamMemberZipCodes(item,1)" data-toggle="modal" data-target="#myModal-member-zipcode">View Team Member Zip Codes</a>

                                    </td>
                                    <td>
                                        <a (click)="viewTeamZipCodes(item,1)" data-toggle="modal" data-target="#myModal-zipcode">View Team Zip Codes</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <pagination [totalItems]="totalRecords$ | async" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal-zipcode" role="dialog">
    <div class="modal-dialog">
        <!-- Allegation Configuration - Modal content-->
        <div class="modal-content customize-modal modal-height">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Team Name:{{(selectedTeam)?.teamname}} Load Number:{{(selectedTeam)?.positioncode}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Zip Code</th>
                                        <th>County</th>
                                        <th>APS Region</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let county of teamZipCodes$ | async">
                                        <td>{{county.zipcode}}</td>
                                        <td>{{county.countyname}}</td>
                                        <td>{{county.ltcregion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <pagination [totalItems]="totalTeamRecords$ | async" [(ngModel)]="teampagination.pageNumber" (pageChanged)="teamPageChanged($event.page)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" class="btn-pri" name="" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal-member-zipcode" role="dialog">
    <div class="modal-dialog">
        <!-- Allegation Configuration - Modal content-->
        <div class="modal-content customize-modal modal-height">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Team Name:{{(selectedTeam)?.teamname}} Load Number:{{(selectedTeam)?.positioncode}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Zip Code</th>
                                        <th>County</th>
                                        <th>APS Region</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let member of teamMemberZipCodes$ | async">
                                        <td>{{(member.county)?.zipcode}}</td>
                                        <td>{{(member.county)?.countyname}}</td>
                                        <td>{{(member.county)?.apsregion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <pagination [totalItems]="totalTeammemberRecords$ | async" [(ngModel)]="teamMermberpagination.pageNumber" (pageChanged)="teamMemberPageChanged($event.page)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" class="btn-pri" name="" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
