<div class="row" [formGroup]="entranceConfForm">
    <div class="col-md-12">
        <h4>Entrance Conference</h4>
    </div>
    <div class="col-md-12 m-t-10">
        <div class="row">
            <div class="col-md-3 m-t-20">
                <h4>Staff</h4>
            </div>
            <div class="col-md-9 text-right">
                <div class="search-box">
                    <common-date-picker formControlName="entrance_dt" placeholder="Date of Entrance Conference">
                    </common-date-picker>
                </div>
                <!-- <button class="btn btn-pri">Add New Staff</button> -->
                <button class="btn btn-pri" (click)="openAssignStaff()">Assign Staff</button>
            </div>
        </div>
        <div class="table-responsive table-theme m-t-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Application Type</th>
                        <th>Job Title</th>
                        <th>Employee Type</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="staffDetail; let staffList">
                    <ng-container *ngIf="staffList.length>0; else noStaffItems">
                        <tr *ngFor="let staff of staffList; let i = index;">
                            <td>{{staff.first_nm}} {{staff.last_nm}}</td>
                            <td>{{staff.affiliation_type}}</td>
                            <td>{{staff.job_title}}</td>
                            <td>{{staff.employee_type}}</td>
                            <td>{{staff.staff_phone_no}}</td>
                            <td>
                                <a>
                                    <i class="fa fa-trash" (click)="deleteStaff(i)" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <ng-template #noStaffItems>                        
                    <tr>
                    <td colspan="6">
                    <p class="no-datatxt text-center">No Items!</p>
                     </td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="col-md-12 m-t-20">
        <div class="row m-t-20">
            <div class="col-md-6">
                <h4>MD State Employee</h4>
            </div>
            <div class="col-md-6 text-right"> <button (click)="openAssignWorker()" class="btn btn-pri">Assign
                    Worker</button></div>
        </div>
        <div class="table-responsive table-theme m-t-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Job Title</th>
                        <th>Agency</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="workerDetail; let workerList">
                    <ng-container *ngIf="workerList.length>0; else noWorkerItems">
                        <tr *ngFor="let worker of workerList">
                            <td>{{worker.username}}</td>
                            <td>{{worker.userrole}}</td>
                            <td>{{worker.agencykey}}</td>
                            <td><a (click)="deleteWorker(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    </ng-container>
                </tbody>
                <ng-template #noWorkerItems>                        
                    <tr>
                    <td colspan="4">
                    <p class="no-datatxt text-center">No Items!</p>
                     </td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>

    <div class="col-md-6 m-t-10">
        <mat-form-field>
            <textarea formControlName="summary" type="text" matInput placeholder="Summary"></textarea>
        </mat-form-field>
    </div>
    <div class="col-md-6 m-t-10">
        <mat-form-field>
            <textarea formControlName="program_changes" type="text" matInput
                placeholder="Program Changes / Updates"></textarea>
        </mat-form-field>
    </div>


    <div class="col-md-12 m-t-10 text-right m-b-20">
        <button class="sec-btn">Cancel</button>
        <button class="btn-pri" (click)="addEntranceConf()">Save</button>
    </div>

</div>

<div class="modal fade in" id="assign-staff" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Assign Staff</h4>
            </div>
            <div class="modal-body ">
                <div class="table-responsive table-theme">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Affiliated Type</th>
                                <th>Job Type</th>
                                <th>Employee Type</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="staffInformation; let stafflist">
                            <ng-container *ngIf="stafflist.length>0; else noStaffListItems">
                                <ng-container *ngIf="stafflist.length !== staffDetail?.length; else allStaffAssigned">
                                    <ng-container *ngFor="let staff of stafflist">
                                    <tr *ngIf="!(isStaffSelected(staff))">
                                    <td>
                                        <mat-checkbox [checked]="isStaffSelected(staff)" class="m-t-20 ds-block"
                                            (change)="toggleStaff($event.checked,staff)"></mat-checkbox>
                                    </td>
                                    <td>{{staff.first_nm}}</td>
                                    <td>{{staff.last_nm}}</td>
                                    <td>{{staff.affiliation_type}}</td>
                                    <td>{{staff.job_title}}</td>
                                    <td>{{staff.employee_type}}</td>
                                </tr>
                            </ng-container>
                            </ng-container>
                        </ng-container>
                        </tbody>
                        <ng-template #noStaffListItems>                        
                            <tr>
                            <td colspan="6">
                            <p class="no-datatxt text-center">No Items!</p>
                             </td>
                            </tr>
                        </ng-template>
                        <ng-template #allStaffAssigned>                        
                            <tr>
                            <td colspan="6">
                            <p class="no-datatxt text-center">All Staff Assigned</p>
                             </td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                            <button class="btn-pri" (click)="assignStaff()">Assign Staff</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="assign-worker" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Assign Worker</h4>
            </div>
            <div class="modal-body ">
                <div class="table-responsive table-theme">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Case Load</th>
                                <th>Availability</th>
                                <th>Email Id</th>
                                <th>Type of Worker</th>
                                <th>Unit</th>
                                <th>Total Cases</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="workersList; let workers">
                            
                            <ng-container *ngIf="workers.length>0; else noWorkerListItems">
                                <ng-container *ngIf="workers.length !== workerDetail?.length; else allWorkerAssigned">
                                <ng-container *ngFor="let worker of workers">
                                <tr *ngIf="!(isWorkerSelected(worker))">
                                    <td>
                                        <mat-checkbox [checked]="isWorkerSelected(worker)" class="m-t-20 ds-block"
                                            (change)="toggleWorker($event.checked,worker)"></mat-checkbox>

                                    </td>
                                    <td>{{worker.username}}</td>
                                    <td>{{worker.workloads}}</td>
                                    <td>{{worker.available}}</td>
                                    <td>{{worker.email}}</td>
                                    <td>{{worker.userrole}}</td>
                                    <td>{{worker.agencykey}}</td>
                                    <td>{{worker.totalcases}}</td>
                                </tr>
                            </ng-container></ng-container>
                             
                            </ng-container>
                       
                        </tbody>
                        <ng-template #noWorkerListItems>                        
                            <tr>
                            <td colspan="8">
                            <p class="no-datatxt text-center">No Items!</p>
                             </td>
                            </tr>
                        </ng-template>
                        <ng-template #allWorkerAssigned>                        
                            <tr>
                            <td colspan="8">
                            <p class="no-datatxt text-center">All Worker Assigned</p>
                             </td>
                            </tr>
                        </ng-template>
                       
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                            <button class="btn-pri" [disabled]="!(workerDetailTemp && workerDetailTemp.length)"
                                (click)="assignWorker()">Assign Worker</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>