/*
.hide {
    display: none;
}

.show {
    display: block;
}
*/

.licence-header h2 {
    font-size: 24px;
    margin-top: 0;
}
.licence-header h3 {
    font-size: 23px;
    font-weight: 700;
    margin-top: 0;
}
.licence-header h4 {
    font-size: 20px;
    font-weight: 600;
}
.licence-header h5 {
    font-size: 19px;
    margin-top: 5px;
}
.certificate-no,.serial-no {font-size:14px;}
.pt-15{
padding-top: 15px;
}
.pt-20{
padding-top: 20px;
}
.pt-80{
padding-top: 80px;
}
.pb-20{
padding-bottom: 20px;
}
.pl-20{
padding-left: 20px;
}
.mb-5{
margin:0 0  5px;
}
.mt-10{
margin: 10px 0 0 ;
}
.mt-15{
margin: 15px 0 0 ;
}
.pr-10{
padding-right: 10px;
}
.pb-10{
padding-bottom: 10px;
}
.pt-50{
padding-top: 50px;
}
.pl-30 {
padding: 0 0 0 30px;
}
.pt-30{
padding: 30px 0 0 ;
}
.pt-10{
padding-top: 10px;
}
.brd-top {
border-top: 1px solid #D8D8D8;
}
.brd-btm {
border-bottom: 1px solid #D8D8D8;
}
.mb-10 {
margin-bottom:10px;
}
.mb-20 {
margin-bottom:20px;
}
.mb-30 {
margin-bottom:30px;
}
.mb-40 {
margin-bottom:40px;
}
.mb-50 {
margin-bottom:50px;
}
.mt-10 {
margin-top:10px;
}
.mt-20 {
margin-top:20px;
}
.mt-30 {
margin-top:30px;
}
.mt-40 {
margin-top:40px;
}
.mt-50 {
margin-top:50px;
}
.mb-5 {
margin-bottom:5px;
}
.mt-5 {
margin-top:5px;
}
.ml-10 {
margin-left:10px;
}
.ml-20 {
margin-left:20px;
}
.ml-30 {
margin-left:30px;
}
.ml-40 {
margin-left:40px;
}
.ml-50 {
margin-left:50px;
}
.m-0 {
margin:0;
}
.license-layout {
display: block;
width: 100%;
float: left;
padding:5px 15px;
border: 5px solid #333;
}
p {margin-bottom:0;}
.width-460 {
display:inline-block;
width:460px;
}
.width-97 {
display:inline-block;
width:91%;
}
.width-91 {
display:inline-block;
width:85%;
}
table tr th {text-align:center;}
.table-bordered {
border: 1px solid #D8D8D8;
border-left-width: 0;
border-right-width: 0;
}

img#license-letter{
    position: absolute;
    top: 35%;
    right: 40%;
    opacity: 0.5;    
}

img#license-signature{
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.8;    
}