<div class="table-responsive table-theme">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Request Type</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="requestList.length; else elseTemplate">
            <tr *ngFor="let item of requestList">
              <td>
                
              </td>
           
              </tr>
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td colspan="4">No Requests initiated</td>
          </tr>
        </ng-template>
        
        
      </tbody>
    </table>
  </div>