<header id="header" class="main-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-8">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logohome" [routerLink]="['dashboard']"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li>

                <a [routerLink]="['dashboard']">Dashboard</a>
              </li>
              <li class="drop-link">
                <a>Programs<span class="caret "></span></a>
                <ul class="drop-menu">
                  <li class="drop-link" *ngFor="let item of applications"><a>{{item.program_type}}</a></li>
                  
                </ul>
              </li>
              <!-- <li class="drop-link">
                <a>Corporate Information</a>
              </li> -->

              <li class="drop-link">
                <a [routerLink]="['staff']">Staffs</a>
              </li>
              <li class="drop-link">
                <a [routerLink]="['incident-report/dashboard']">Incident Reporting</a>
              </li>
              <!-- <li class="drop-link">
                <a>Sanctions</a>
              </li> -->


            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="header-right">
              <div class="col-md-9 pull-right">
                <div class="user-login-info aut-img-loginUserImage" data-toggle="dropdown">
                  <div class="usernametxt-info">
                    <h4>{{ userInfo.user?.userprofile?.displayname }}</h4>
                    <p>{{ today | date: 'fullDate' }}</p>
                  </div>
                  <figure class="usericon">
                    <img src="assets/images/icon-avtar.png" alt="" />

                  </figure>
                </div>
                <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="dLabel">

                  <li>
                    <a href="javascript:{}">User Profile</a>
                  </li>

                  <li><a href="javascript:{}" class="aut-lnk-logout" (click)="onLoggedout()">Logout</a></li>
                </ul>
              </div>
              <div class="pull-right">
                <div class="notifybar">
                  <span [routerLink]="['/pages/calendar']" data-toggle="tooltip" data-placement="bottom" title="Calender">
                    <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                  <a [routerLink]="['/pages/notification']" (click)="clearCount()">
                    <span data-toggle="tooltip" data-placement="bottom" title="Notification">
                      <i class="fa fa-bell-o" aria-hidden="true"></i> <sup *ngIf="showNotification">{{
                        totalNotificationCount }}</sup>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
</header>