.action-btn button {
    color:#039be5;
    font-size: 16px;
    padding-right: 15px;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.action-btn i:before {
    color:#039be5;
    font-size: 16px;
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
