<vendor-info-nav page='address'></vendor-info-nav>
<div role="tabpanel" class="tab-pane dd-overflow-inherit" id="add-vendor-address">
    <div class="cnt-min-height">
        <div class="row mrg-top15">
            <div class="col-sm-8">
                <h3 class="m-0">Address</h3>
            </div>
            <div class="col-sm-4 text-right btns-top" *ngIf="addBtn">
                <button id="unkAddModalBut" [disabled]="isView" class="btn-pri" (click)="resetAddressForm()">Add Address</button>
            </div>
            <div class="col-md-12">
                <div class="row person-wrap" *ngIf="addressList.length>0; else noItems">
                    <div class="col-md-4 col-lg-3 col-sm-6" *ngFor="let address of addressList; let i = index">
                        <div class="panel panel-default person-panel">
                            <div class="panel-body">
                                <button id="addressTypeBut" *ngIf="address.adr_type_key === '35'" [disabled]="" class="btn-pri m-b-10 cursor-default">Business</button>
                                <button id="addressTypeBut" *ngIf="address.adr_type_key === '' || address.adr_type_key === null" [disabled]="" class="btn-pri m-b-10 cursor-default">Payment</button>
                                <div>
                                  <div>{{address.adr_1}}</div>
                                  <div>{{address.adr_2}}</div>
                                  <div>{{address.adr_city_nm}}</div>
                                  <div>{{address.adr_state_cd}}</div>
                                  <div>{{address.adr_county_nm}}&nbsp;{{address.adr_zip_no}}</div>
                                  <span class="p-r-43"><b>From:</b> {{address.adr_start_dt | date: 'MM/dd/yyyy'}}</span><span><b>To:</b> {{(address?.adr_end_dt)?(address?.adr_end_dt| date: 'MM/dd/yyyy'):'N/A'}}</span></div>
                            </div>
                            <div class="panel-footer">
                                <ul class="list-unstyled list-inline icon-btn m-0">
                                    <li class="pull-right">
                                        <span title="Edit" *ngIf="!isView" (click)="editAddress(address)" data-target="#vendor-address" data-toggle="modal" data-dismiss="modal" class="address-edit cursor-pointer">
                                          <i class="fa fa-edit" aria-hidden="true"></i>
                                          </span>
                                    </li>
                                    <li>
                                       <span title="Delete" *ngIf="!isView" (click)="confirmDelete(address.vendoraddressid)" class="address-delete cursor-pointer">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                          </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  <ng-template #noItems>No Items!</ng-template>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="vendor-address" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content address-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h3 class="modal-title"><b>{{addeditAddress}} Address</b></h3>
            </div>
            <div class="modal-body ">
                <div [formGroup]="addressFormGroup">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Address Type" formControlName="adr_type_key" id="addressTypeLabel"
                                    required disabled="true">
                                    <mat-option value="35" >Business</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input formControlName="adr_1" type="text" matInput placeholder="Address Line 1"
                                    [matAutocomplete]="auto" (input)="getSuggestedAddress()" required />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                                        value="{{item.text}}">
                                        {{item.text}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field> <input formControlName="adr_2" type="text" matInput
                                    placeholder="Address Line 2" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="State" formControlName="adr_state_cd" required>
                                    <mat-option *ngFor="let item of stateList$ | async"
                                        value="{{item.ref_key}}" (click)="loadCounty(item)">
                                        {{ item.description }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field> <input formControlName="adr_city_nm" type="text" matInput placeholder="City"
                                    required />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select formControlName="adr_county_cd" placeholder="County" required>
                                    <mat-option *ngFor="let item of countyList$ | async"
                                        value="{{item.picklist_value_cd}}">
                                        {{item.description_tx}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zip Code" formControlName="adr_zip_no" zipcodeOnly
                                    maxlength="5" minlength="5" required />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                          <common-date-picker [max]="maxDate" formControlName="adr_start_dt"
                            placeholder="Start Date MM/DD/YYYY" required>
                          </common-date-picker>
                        </div>
                        <div class="col-sm-6">
                          <common-date-picker formControlName="adr_end_dt"
                          placeholder="End Date MM/DD/YYYY"  [min]="addressFormGroup.controls['adr_start_dt'].value">
                          </common-date-picker>
                        </div>
                    </div>
                </div>
                <div>
                    <button data-dismiss="modal" class="btn-bg pull-right">Cancel</button>
                    <button class="btn-pri pull-right" [disabled]="addressFormGroup.invalid"
                        (click)="addVendorAddress()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="modal fade custom-modal" id="delete-popup" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
                  <h4 class="modal-title">Confirm Delete</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete this item?</p>
                  <div class="text-right big-bot-space right-mspace-15">
                      <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()">No</button>
                      <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteVendorAddress()">Yes</button>
                  </div>
              </div>
          </div>
      </div>
      </div>
  