<div class="row">

    <div class="col-md-2 no-pad b-r-6">

        <mat-list dense class="health-section-list">
            <a mat-list-item *ngFor="let healthSection of healthSections" class="health-section-item in-active-section"
                (click)="showHealthSection(healthSection)"
                [ngClass]="healthSection.isActive ? 'active-section':'in-active-section'"> {{healthSection.name}} </a>

        </mat-list>
    </div>
    <div class="col-md-10" id="healthHeader">
        <div class="row">
            <div class="col-sm-12 m-t-20">
                    <div class="person-section-header">
                            {{selectedHealthSection.name | uppercase}}
                    </div>
            </div>
        </div>
        
        <router-outlet></router-outlet>

        <!--  <mat-card class="section-layout">
            
        <mat-card-header>
            <mat-card-title class="section-title">
                    <div class="person-section-header">{{selectedHealthSection.name | uppercase}}</div>
               
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>
            
            

        </mat-card-content>
    </mat-card> -->
    </div>

</div>