
@import '../person-info.component.scss';

.health-section-list a:hover{
    background: lightgray;
}
.in-active-section {
    border-bottom: 2px solid  lightgray;
    
    &.active-section {
        border-bottom-color: #00A2FD;
        background: lightgray;
    }
}
.section-title {
    color: #00A2FD;
    font-weight: 700;
}




.section-layout {padding:25px;}
.section-title h4 {margin-top: 10px;margin-left: -10px;}
p {
    font-weight: 500;
    font-size: 15px;
    color: #333;
    font-family: 'Open Sans',serif !important;
}
textarea {
    height:100px;
}
textarea:focus {
    outline: none;
}
h5 {font-size: 15px;}
.f-w-600 {font-weight:600;}
.grid {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 5px #e5e5e5;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    float: left;
    margin-bottom: 20px;
}
.cusmm-fileupload input[type=file]{display: none;}
.bg-theme {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 20px;
}
