  <div class="modal fade in" id="add-edit-edl-review-results" data-backdrop="static" data-keyboard="false" role="dialog" style="display: block;">
  <div class="modal-dialog">

    <div class="modal-content customize-modal">
      <div class="modal-header">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" [routerLink]="['/pages/admin/da-config/review-da/edl-review-results']">×</button>
              <h4 class="modal-title">Add Review Result</h4>
          </div>

      </div>
      <div class="modal-body">
          <form name="edlReviewResultForm" action="javascript:{}" novalidate #edlReviewResultForm="ngForm">
        <div class="row">
          <div class="col-sm-6 mrg-top25">
            <div class="fm-box">
              <label>Name</label>
              <div class="fm-box-form">
                  <input name="name" id="name" #name="ngModel" type="text" class="form-control fm-style" [(ngModel)]="edlReviewResult.name" required>
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> * </div>
               </div>
            </div>
          </div>
          <div class="col-sm-6 mrg-top25">
            <div class="fm-box">
              <label class="control control--checkbox">Deficiency:
                <input type="checkbox" name="deficiency" id="deficiency" #deficiency="ngModel" [(ngModel)]="edlReviewResult.deficiency">
                <div class="control__indicator manual-checkbox-right"></div>
              </label>
            </div>
          </div>
          <div class="col-sm-12 mrg-top25">
            <div class="pull-right">
              <button type="button" value="Cancel" data-dismiss="modal" class="btn-bg" name="">Cancel</button>
              <button type="button" (click)="save(edlReviewResult)" value="Save" class="btn-pri" name="">Save</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>

  </div>
</div>
