<div class="container-fluid">
  <section class="complaint-header">
    <div>
      <h4 class="pad-top20">
        <span>Monitoring - {{monitorInfo?.prgram}}</span>
      </h4>
      <div class="row form-wrapper header-referral p-t-10 p-b-10">
        <div class="col-sm-2">
          <label>VISIT NUMBER</label>
          <p>{{monitorInfo?.monitoring_id}}</p>
        </div>
        <div class="col-sm-2">
          <label>Provider ID</label>
          <p class="provider-id"><a (click)="navigatetomonitor(monitorInfo)">{{monitorInfo?.provider_id}}</a></p>          
        </div>
        <div class="col-sm-2" *ngIf="monitorInfo?.complaint_number">
          <label>Complaint Number</label>
          <p class="provider-id"><a (click)="navigatetocomplaint(monitorInfo)">{{monitorInfo?.complaint_number}}</a></p>          
        </div>
        <!--<div class="col-sm-2">
          <label>Program</label>
          <p>{{monitorInfo?.prgram}} </p>
        </div>-->
        <div class="col-sm-2">
          <label>Moniotoring Date</label>
          <p>{{monitorInfo?.monitoring_dt| date:'MM/dd/yyyy'}} - {{monitorInfo?.end_dt| date:'MM/dd/yyyy'}} </p>
        </div>
        <div class="col-sm-2">
          <label>MONITORING PERIOD</label>
          <p>{{monitorInfo?.periodic}}</p>
        </div>
        <div class="col-sm-2">
          <label>ANNOUNCEMENT</label>
          <p>{{monitorInfo?.announced_cd}} </p>
        </div>
        <div class="col-sm-2">
          <label>AUTHOR</label>
          <p>{{monitorInfo?.author_name}}</p>
        </div>
      </div>      
    </div>
  </section>
  
  <div class="intake no-pad m-t-10 mb-20">
    <div class="tab-horizontal mb-20">
      <ul class="nav nav-pills click-triggers">
        <li *ngFor="let tab of tabs" routerLinkActive="active">
          <a [routerLink]="tab.path">{{tab.name}}</a>
        </li>
      </ul>
      <div class="tab-pane dd-overflow-inherit">
        <div class="cnt-min-height container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
   
  </div>
  
 
</div>