<div class="form-search-person dangerwork-form address-form no-pad">
    <div class="col-sm-8">
      <h4> Approval Information</h4>
    </div>
    <!-- <div class="clearfix"></div> -->
  
    <div class="col-sm-12">
      <!-- <div class="text-right">
        <button [hidden]='isReadOnly' class="btn-pri" data-toggle="modal" data-target="#add-approval" (click)="addApprovalInfo()">
          Add Approval
          Details </button>
      </div> -->
      <br>
    </div>
  
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table customTable firsttable">
          <thead>
            <tr>
              <th>
                <font size="2">Number Of Beds</font>
              </th>
              <th>
                <font size="2">Approval Type</font>
              </th>
              <th>
                <font size="2">Approval Date</font>
              </th>
              <th>
                <font size="2">Approval Comments</font>
              </th>
              <th>
                <font size="2">Approval Description</font>
              </th>
              <!-- <th>
                <font size="2">Recommended Children</font>
              </th>
              <th>
                <font size="2">Checklist Comments</font>
              </th>
              <th>
                <font size="2">Training completed Date</font>
              </th>
              <th>
                <font size="2">Fire request date</font>
              </th>
              <th>
                <font size="2">Fire Complete date</font>
              </th>  
              <th>
                <font size="2">Action</font>
              </th> -->
  
            </tr>
          </thead>
  
          <tbody *ngIf="providerApprovalInfo$ | async; let providerApprovalInfo">
            <tr *ngFor="let approval of providerApprovalInfo | paginate: { itemsPerPage: 5, currentPage: p,  id: 'p' } ">
              <td>{{approval.approved_beds_no}}</td>
              <td>{{approval.approvaltype}}</td>
              <td>{{approval.approvaldate  | date: 'MM/dd/yyyy'}}</td>
              <td>{{approval.approvalcomments}}</td>
              <td>{{approval.approvaldesc}}</td>
              <!-- <td>{{approval.checklist_comments_tx}}</td>
              <td>{{approval.training_completion_dt | date: 'MM/dd/yyyy'}}</td>
              <td>{{approval.fire_request_dt | date: 'MM/dd/yyyy'}}</td>
              <td>{{approval.fire_complete_dt | date: 'MM/dd/yyyy'}}</td>
              <td>
                <i class="fa fa-pencil-square-o" (click)="editProviderApprovalInfo(approval)"></i>
                <i class="fa fa-trash" (click)="deleteApprovalDetails(approval)"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
        <!-- <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
            <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                [itemsPerPage]="paginationInfo.pageSize">
            </pagination>
        </div> -->
        <div class="text-center m-t-20" *ngIf="providerApprovalInfo$ | async; let providerApprovalInfo">
          <pagination-controls id="p" class="text-center m-t-20"  
            (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- <div class="text-center mt-10" *ngIf="{providerApprovalInfo:providerApprovalInfo$ | async,totalRecords:totalRecords$ | async} as validatePagination">
          <pagination *ngIf="validatePagination.providerApprovalInfo?.length!==0" [totalItems]="validatePagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
          </pagination>
        </div> -->
      </div>
    </div>
  </div>
  
  <div class="modal fade in" id="add-approval" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNotes()">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Add Approval Details</h4>
        </div>
        <div class="modal-body ">
  
  
          <form [formGroup]="providerApprovalForm">  
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput type="text" formControlName="approved_beds_no" placeholder="Beds Number" >
                </mat-form-field>
                <mat-form-field>
                    <input matInput  [matDatepicker]="picker1" (click)="picker1.open()" (focus)="picker1.open()"
                      id="contactdate" formControlName="approval_dt"
                      placeholder="Approval Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput  [matDatepicker]="picker2" (click)="picker2.open()" (focus)="picker2.open()"
                        id="contactdate" formControlName="training_completion_dt"
                        placeholder="Training Completion Date">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="approval_comments_tx" placeholder="Approval Comments" >
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field>
                    <input matInput type="text" formControlName="recommended_children_tx" placeholder="Recommended Children" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="checklist_comments_tx" placeholder="Checklist Comments" >
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput  [matDatepicker]="picker3" (click)="picker3.open()" (focus)="picker3.open()"
                        id="contactdate" formControlName="fire_request_dt"
                        placeholder="Fire Request Date">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field> 
                    <!-- change placeholderif    -->
                    <mat-form-field> 
                        <input matInput  [matDatepicker]="picker4" (click)="picker4.open()" (focus)="picker4.open()"
                          id="contactdate" formControlName="fire_complete_dt"
                          placeholder="Fire Complete Date">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-t-10">
                <div class="pull-right" *ngIf="!isEditApprovalInfo">
                  <button class="btn-pri" (click)="saveApprovalDetails()">Add Approval Details</button>
                </div>
                <div class="pull-right" *ngIf="isEditApprovalInfo">
                  <button class="btn-pri" (click)="patchProviderApprovalDetails()">Update Approval Details</button>
                </div>
              </div>
            </div>
  
  
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade in" id="delete-approval" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
  
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
            <span aria-hidden="true">X</span>
          </button>
          <h4 class="modal-title">Approval Details</h4>
        </div>
  
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <p>Are you sure want to delete</p>
              <button class="btn-primary" (click)="conformDeleteApprovalDetails()">Delete</button>
              <button class="btn-danger" (click)="cancelDelete()">Cancel</button>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  
  </div>