.header-4 {
    font-weight: 600;
    font-size: 15px;
}
.bg-theme {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
.table-theme .table tr td {
    text-align: left !important;
}