<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default decision-panel min-height">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="text-uppercase">Applicant Info</h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="(addressInfo)" class="panel panel-default person-panel">
                                <div class="panel-heading">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4> {{addressInfo.fullname}}
                                            </h4>
                                        </div>
                                        
                                        <div class="media-right">
                                            <img src="../../../../../assets/images/ic_silhouette.png" class="media-object" />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    
                                    <dl>
                                        <dt>TAXID</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.taxid)">{{addressInfo.taxid}}</dd>
                                        <dt>LOCATION ADDRESS</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.cityName)">{{addressInfo.streetNo + ' ' + addressInfo.streetName + ',' + addressInfo.cityName + ',' + addressInfo.countyCd + ',' + addressInfo.zipCode + ',' + addressInfo.state + ',' + addressInfo.country}}
                                        </dd>
                                        <dt>PAYMENT ADDRESS</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.cityName)">{{addressInfo.streetNo + ' ' + addressInfo.streetName + ',' + addressInfo.cityName + ',' + addressInfo.countyCd + ',' + addressInfo.zipCode + ',' + addressInfo.state + ',' + addressInfo.country}}
                                        </dd>
                                        <dt>FAX NUMBER</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.faxNumber)"> {{addressInfo.faxNumber}}
                                        </dd>
                                        <dt>CELL NUMBER</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.phoneNumber)"> {{addressInfo.phoneNumber}}
                                        </dd>
                                        <dt>WORK NUMBER</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.workNumber)"> {{addressInfo.workNumber}}
                                        </dd>
                                        <dt>EMAIL</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.email)">{{addressInfo.email}}
                                        </dd>
                                        <dt>WEBSITE</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.program)">{{addressInfo.program}}
                                        </dd>
                                        <dt>PROGRAM </dt>
                                        <dd *ngIf="(addressInfo && addressInfo.program)">{{addressInfo.program}}
                                        </dd>
                                        <dt>PROGRAM TYPE </dt>
                                        <dd *ngIf="(addressInfo && addressInfo.programType)">
                                                <ng-container *ngFor="let item of addressInfo.programType;">
                                                    {{item.program_type}}
                                                </ng-container>
                                        </dd>
                                        <dt>GENDER</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.gender)">{{addressInfo.gender}}
                                        </dd>
                                        <dt>AGE RANGE</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.minAge && addressInfo.maxAge)">{{addressInfo.minAge + ' to ' + addressInfo.maxAge}}
                                        </dd>
                                        <dt>BED CAPACITY</dt>
                                        <dd *ngIf="(addressInfo && addressInfo.bedCapacity)">{{addressInfo.bedCapacity}}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                          </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>