.table-theme .table th tr {
  border-bottom: 1px solid #D8D8D8;
  text-align: center !important;
}
.table-theme .table tr td {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 8px;
  text-align: center !important;
}