<!--  <div class="form-search-person dangerwork-form address-form no-pad">
  <div class="col-sm-8">
     <h4> Add Home Placement Specification Details </h4> -->
<!-- </div>  -->

<!-- <div class="col-sm-12">
    <div class="text-right">
      <button [hidden]='isReadOnly' class="btn-pri" data-toggle="modal" data-target="#add-homePlacementSpecification"
        (click)="addHomePlacementSpecification()"> + Home Placement Specification
        Details </button>
    </div>
    <br>
  </div> -->

<!-- <div class="row">
    <div class="col-md-12 table-responsive"> -->
<!-- <table class="table customTable firsttable">
        <thead>
          <tr>
            <th>
              <font size="2">Date Of 1st Visit</font>
            </th>
            <th>
              <font size="2">Date Of 2nd Visit</font>
            </th>
            <th>
              <font size="2">Date Of 3rd Visit</font>
            </th>
            <th>
              <font size="2">Action</font>
            </th>
          </tr>
        </thead>
      <tbody>
          <tr
            *ngFor="let homePlacementSpecification of homePlacementSpecificationInfo | paginate: { id:'int-cntct',itemsPerPage: 10, currentPage: p }">
            <td>{{homePlacementSpecification.visit_1 | date:'MM/dd/yyyy'}}</td>
            <td>{{homePlacementSpecification.visit_2 | date:'MM/dd/yyyy'}}</td>
            <td>{{homePlacementSpecification.visit_3 | date:'MM/dd/yyyy'}}</td>
            <td>
              <i class="fa fa-pencil-square-o" (click)="edithomePlacementSpecificationInfo(homePlacementSpecification)"></i>
              <i class="fa fa-trash" (click)="deleteHomePlacementSpecificationDetails(homePlacementSpecification)"></i>
            </td>
          </tr>
      </tbody>
      </table> -->

<!-- <div class="text-center m-t-20" *ngIf="homePlacementSpecificationInfo; let homePlacementSpecificationInfo">
        <pagination-controls id="int-cntct" class="text-center m-t-20" *ngIf="homePlacementSpecificationInfo.length>0"
          (pageChange)="p = $event"></pagination-controls>
      </div> -->

<!-- </div>
  </div> -->

<!-- </div> -->

<!-- <div class="modal fade in" id="add-homePlacementSpecification" tabindex="-1" role="dialog" data-backdrop="static"
  data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNotes()">
          <span aria-hidden="true">X</span>
        </button> -->
<!-- <h4 class="modal-title">Add Home Placement Specification Check Details</h4>
      </div>  -->

<div [formGroup]="homePlacementSpecificationForm">
  <mat-card>
    <div class="row modal-content-pad modal-height-body">
      <div class="col-md-6">

        <h3>Add Home Placement Specification Details </h3>

        <div class="row">

          <div class="col-md-6">
            <mat-form-field>
              <input type="text" mask="000" matInput formControlName="min_age_yr" placeholder="Min Age Years">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input type="text" mask="00" matInput formControlName="min_age_months" placeholder="Min Age Months">
            </mat-form-field>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <mat-form-field>
              <input type="text" mask="000" matInput formControlName="max_age_yr" placeholder="Max Age Years">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input type="text" mask="00" matInput formControlName="max_age_months" placeholder="Max Age Months">
            </mat-form-field>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Gender" formControlName="gender" >
                <mat-option *ngFor="let item of genderTypes" value="{{item}}">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input type="text" mask="000000000" matInput formControlName="capacity" placeholder="Capacity Number" maxlength="10">
            </mat-form-field>
          </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <p>Is the person interested to offer respite services?<label class=""></label></p>
                <mat-radio-group formControlName="is_interested_respite">
                   <mat-radio-button [value]=true>Yes</mat-radio-button>
                   <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 m-t-10">

        <div class="pull-left" *ngIf="!isEditHomePlacementSpecification">
          <button class="btn-pri" (click)="saveHomePlacementSpecificationDetails()">Save</button>
        </div>
        <div class="pull-left" *ngIf="isEditHomePlacementSpecification">
          <button class="btn-pri" (click)="patchHomePlacementSpecificationDetails()">Update</button>
        </div>
        
      </div>
    </div>

  </mat-card>
</div>

<!-- </div>
</div> -->

<div class="modal fade in" id="delete-homePlacementSpecification" tabindex="-1" role="dialog" data-backdrop="static"
  data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">Home Placement Specification Check</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <p>Are you sure want to delete</p>
            <button class="btn-primary" (click)="confirmDeleteHomePlacementSpecificationDetails()">Delete</button>
            <button class="btn-danger" (click)="cancelDelete()">Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>