<div class="box-grid no-mar pl-0 pr-0">
    <div class="clearfix">
        <h5 class="h5-title">Adoption Planning</h5>
        <button type="button" class="btn-pri pull-right" data-dismiss="modal" (click)="fiscalAudit()">Fiscal Audit Trail</button>
        <div class="ad-plan-wrap" *ngIf="false">
            <div class="ad-plan-title"><span class="ad-plan-lbl">Child Name : </span> <span class="ad-plan-value"
                    style="text-transform: uppercase">{{
                    reportedChild?.firstname + ' ' + reportedChild?.lastname}}</span></div>
            <div *ngIf="agency==='DJS'" class="ad-plan-title"><span class="ad-plan-lbl">ASSIST PID# : </span> <span
                    class="ad-plan-value">{{reportedChild?.assistpid ? reportedChild?.assistpid : 'NA'}}</span></div>
            <div class="ad-plan-title"><span class="ad-plan-lbl">CJAMS PID# : </span> <span class="ad-plan-value">{{reportedChild?.cjamspid
                    ? reportedChild?.cjamspid : 'NA'}}</span></div>
            <div class="ad-plan-title"><span class="ad-plan-lbl">DOB : </span> <span class="ad-plan-value">{{
                    reportedChild?.dob ? (reportedChild?.dob | date: 'MM/dd/yyyy') : ''}}</span></div>
            <div class="ad-plan-title"><span class="ad-plan-lbl">Gender : </span> <span class="ad-plan-value">{{
                    reportedChild?.gender}}</span></div>
        </div>
    </div>

    <div class="progress-nav m-t-20">
        <ul class="">
            <li class="visited aut-tab-adoptionEfforts" *ngIf="!checkDataSave()" routerLinkActive="active">
                <a routerLink="efforts"><span class="">Adoption efforts</span></a>
            </li>
            <li class="aut-tab-emotionalTies" *ngIf="!checkDataSave()" routerLinkActive="active">
                <a routerLink="emotion-ties"><span class="">emotional ties</span></a>
            </li>
            <li class="aut-tab-Narrative" *ngIf="!checkDataSave()" routerLinkActive="active">
                <a routerLink="narrative"><span class="">narrative</span></a>
            </li>
            <li *ngIf="!checkDataSave()" (click)="broadCastStoreData('TRPList_a');" class="" routerLinkActive="active">
                <a routerLink="checklist"><span class="">Disclosure Checklist</span></a>
            </li>
            <li *ngIf="!checkDataSave()" class=" aut-tab-aca-form" routerLinkActive="active" matTooltip ="Applicable Child Assessment">
                <a routerLink="aca-form"><span class="" >ACA</span></a>
            </li>

            <li class="visited aut-tab-adoptionEfforts"  [ngClass]="{'active': activeRoute === 'efforts'}" (click)="alertforSave('Efforts')"  *ngIf="checkDataSave()" routerLinkActive="active">
                <a ><span class="">Adoption efforts</span></a>
            </li>
            <li class="aut-tab-emotionalTies" [ngClass]="{'active': activeRoute === 'emotion-ties'}"  (click)="alertforSave('Emotional Ties' )" *ngIf="checkDataSave()" routerLinkActive="active">
                <a ><span class="">emotional ties</span></a>
            </li>
            <li class="aut-tab-Narrative" [ngClass]="{'active': activeRoute === 'narrative'}"  (click)="alertforSave('Narrative')" *ngIf="checkDataSave()" routerLinkActive="active">
                <a ><span class="">narrative</span></a>
            </li>
            <li *ngIf="checkDataSave()" [ngClass]="{'active': activeRoute === 'checklist'}"  (click)="alertforSave('Checklist')" class="" routerLinkActive="active">
                <a ><span class="">Disclosure Checklist</span></a>
            </li>
            <li *ngIf="checkDataSave()" [ngClass]="{'active': activeRoute === 'aca-form'}"  (click)="alertforSave('ACA Form')" class=" aut-tab-aca-form" routerLinkActive="active">
                <a ><span class="">ACA</span></a>
            </li>
        </ul>
    </div>

    <div class="tab-content border-t pad-top20">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="modal fade" id="ap-planning" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>{{validationMessage}}</li>
                </ul>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-dismiss="modal" (click)="navigateTo()">Ok</button></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ap-planning-start">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngIf="!isChildInPreAdoption">The child is not yet in a  resource home. Please
                        complete the Placement Referral form, and transfer the referral to the Placement Unit</li>
                    <li style="margin-top: 5px;">Please complete the 'Reasonable efforts' section in Family Planning
                        document.</li>
                </ul>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-dismiss="modal">Ok</button></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save-alert" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >×</button>
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                    Confirm navigation</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to navigate away to <b> {{selectedurl}} </b> ? </p>
                <small>*Please save, otherwise all your changes will be lost.</small>
                <div class="text-right big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-dismiss="modal" >Ok</button></div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="fiscal-audit">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Fiscal Audit Trail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h4-title">Change History</div>
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Transaction Type</th>
                                        <th>Begin Date</th>
                                        <th>Entry Time</th>
                                        <th>End Date</th>
                                        <th>Exit Time</th>
                                        <th>Exit Type</th>
                                        <th>Exit Reason</th>
                                        <th>Requested By</th>
                                        <th>Local Department</th>
                                        <th>Requested Date</th>
                                        <th>Approved By</th>
                                        <th>Approval Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let history of changehistory">
                                        <td>{{history.transation_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.transation_type}}</td>
                                        <td>{{history.entry_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.entry_tm}}</td>
                                        <td>{{history.exit_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.exit_tm}}</td>
                                        <td>{{history.exit_type}}</td>
                                        <td>{{history.exit_reason}}</td>
                                        <td>{{history.requested_user}}</td>
                                        <td>{{history.local_dept}}</td>
                                        <td>{{history.request_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{history.accepted_user}}</td>
                                        <td>{{history.accept_dt | date:'M/d/yyyy'}}</td>
                                    </tr>
                                    <tr *ngIf="!changehistory.length">
                                        <td colspan="12" style="text-align: center !important;">No History.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-t-30">
                        <div class="h4-title">Financial Events</div>
                        <div class="h5-title m-t-10">Placement Validations</div>
                        <div class="row">
                            <div class="col-md-12 m-t-20">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Validation Month/Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let history of changehistory">
                                                <td>{{history.validation_month}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-30">
                                <div class="h5-title">Adjustment Payments</div>
                                <div class="table-responsive table-theme m-t-20">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Payment ID</th>
                                                <th>Payment Detail ID</th>
                                                <th>Category Code</th>
                                                <th>Service/Placement Structure</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Gross Amount</th>
                                                <th>Receivable Amount</th>
                                                <th>Net Amount</th>
                                                <th>Provider ID</th>
                                                <th>Provider Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let adjustments of adjustment">
                                                <td>{{adjustments.payment_id}}</td>
                                                <td>{{adjustments.payment_detail_id}}</td>
                                                <td>{{adjustments.fiscal_category_desc}}</td>
                                                <td>{{adjustments.service_nm}}</td>
                                                <td>{{adjustments.final_service_start_dt | date:'M/d/yyyy'}}</td>
                                                <td>{{adjustments.final_service_end_dt | date:'M/d/yyyy'}}</td>
                                                <td>{{(adjustments.gross_amount_no ? adjustments.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{(adjustments.payment_amount_no ? adjustments.payment_amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{((adjustments.gross_amount_no - (adjustments.offset_amount_no ? adjustments.offset_amount_no : 0)))  | cjamsCurrency}}</td>
                                                <td>{{adjustments.provider_id}}</td>
                                                <td>{{adjustments.providername}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sec-btn pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->
<fiscal-audit></fiscal-audit>