<div class="dashboard-cont no-pad">
  <div *ngIf="(addressList)?.length !== 0">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-15" *ngFor="let address of addressList; let i=index;" >
          <div class="current-wrapper m-b-10">
            <mat-radio-button *ngIf="!address?.personadrenddate" name="current-address" (change)="markAsCurrentAddress(address)" [checked]="address?.currentlocationflag === 1">Current Address</mat-radio-button>
          </div>
          <div class="add-list-item font-13">  <!--[ngClass]="[address?.danger == true ? 'danger-border' : 'safe-border']"-->        
            <div class="p-8 header-hg">
                <div class="row">
                    <div class="col-sm-5">
                      <span class="address-type address-bgcolor">{{address?.Personaddresstype?.typedescription}}</span>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger === false">
                      <div class="danger-reason">
                        <span class="address-type"> <b> No Known Danger </b> </span>
                      </div>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger === true">
                      <div class="danger-reason danger-msg">
                        <!-- <span class="address-type" > <b> Yes </b> Known Danger </span> -->
                        <span class="address-type danger-color"><i class="fa fa-warning font-size" aria-hidden="true"></i>
                        <b>{{address?.dangerreason}}</b> </span>
                      </div>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger == null">
                      <div class="danger-reason">
                        <span class="address-type"> <b> Unknown </b> </span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card-bodyhg">
                <div class="pb-0">
                    <div class="col-sm-12" >
                    <label class="address-lb" > {{address?.address}} {{(address?.address2) ? ', '+address.address2 : ''}} 
                        <br />{{address?.city}} {{address?.countydescription}} {{address?.state}} 
                        {{address?.zipcode}}
                    </label><!-- -->
                    </div>
                    <div class="row col-sm-12">
                        <div class="col-sm-6 p-r-0"><label>From: </label> {{(address?.addressstartdate) ? (address?.addressstartdate | date:"MM/dd/yyyy") : 'N/A'}} </div>
                        <div class="col-sm-6 p-r-0"><label>To:  </label> {{(address?.personadrenddate) ? (address?.personadrenddate | date:"MM/dd/yyyy") : 'N/A' }} </div>
                    </div>
                    <div class="col-sm-12">
                        <p><label>Approx. Duration: </label> {{(address?.durationDay) ? address?.durationDay : 'N/A' }} </p>
                    </div>
                </div>
            </div>
              <!-- <div *ngIf="(phonePersonList)?.length !== 0"> 
                <div class="col-sm-12 " *ngFor="let phones of phonePersonList; let i=index;">
                    <p><label>{{phonedescs[phones.personphonetypekey]}} : </label>{{phones?.phonenumber}}</p>
                  </div>
            </div>
            <div *ngIf="(emailPersonList)?.length !== 0"> 
                <div class="col-sm-12 " *ngFor="let emails of emailPersonList; let i=index;">
                    <p><label>{{emaildescs[emails.personemailtypekey] }} : </label>{{emails?.email}}</p>
                  </div>
            </div> -->  
          <div class="p-8 action">
              <div class="row">
                  <div class="col-sm-12 text-right action-btn">
                    <div class="col-sm-6 text-left"><a (click)="editAddress(address)"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a></div>
                    <div [ngClass]="{'col-sm-6 pull-right disable-anchor': _personService.getClosed()}">
                      <a (click)="confirmDelete(address.personaddressid)" [ngClass]="{'pointer-events-none': _personService.getClosed()}"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></div>
                  </div>
              </div>
          </div>
        </div>       
      </div>    
  </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" style="float: right;">×</button>
              <h4 class="modal-title">Confirm Delete</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this item?</p>
              <div class="text-right big-bot-space right-mspace-15">
                  <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()">No</button>
                  <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteAddress(i)">Yes</button>
              </div>
          </div>
      </div>
  </div>
</div>