.col {
    color: #00A2FD !important;
    font-weight: 700;
}

table tr td:last-child {
    width: 200px;
}

.form-group label {
    color: rgba(0,0,0,.54);
}

.form-group input {
    border: 0px;
    border-bottom: 1px solid #0000006e;
}

/* icon button no background */
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}

.cursor-not {
    cursor: not-allowed;
}

.sub-nav-wrapper {
    border: 1px solid #d8d8d8;
    padding: 10px 20px;
    border-radius: 6px;
    box-sizing: border-box;
}