<p>
  public-provider-reconsideration-decision works!
</p>

<div  [formGroup]="dispositionFormGroup">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default decision-panel min-height">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="text-uppercase">Review</h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <mat-form-field>
                                <mat-select placeholder="Select Status" formControlName="status" (change)="notifySubscriber()">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let status of statusDropdownItems" value="{{status.value}}">{{status.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <textarea type="text" formControlName="reason" matInput placeholder="Comments" (change)="notifySubscriber()"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  <div class="pull-left">
      <button class="btn-pri" (click)="submitDecision()">Submit Review</button>
   </div>