<div class="m-b-20" *ngFor="let item of ServicecaseParticipants$ | async; let i=index;">
    <ul class="list-unstyled list-inline theme-heder-bg minus-icon m-0">
        <li>
            <h5>{{item?.firstname}} {{item?.lastname}} {{item?.suffix}} <span>({{item?.role}})</span></h5>
        </li>
        <li class="m-l-30"><span><span> Age: </span><b>{{item?.age}} </b></span></li>
        <li class="m-l-30"><span><span>DOB: </span><b>{{item?.dob | date:'MM/dd/yyyy'}}</b></span></li>
        <li class="m-l-30"><span><span>Gender: </span><b>{{item?.gender}}</b></span></li>
        <li class="m-r-10 pull-right" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false" aria-hidden="true"
                data-toggle="collapse"><i class="fa fa-plus"></i></a></li>
    </ul>
    <div class="collapse" id="accordion{{i}}">
        <div class="table-responsive table-theme brd">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>CPS ID</th>
                        <th>Intake #</th>
                        <th>Service Type</th>
                        <th>Sub Type</th>
                        <th>Person Role</th>
                        <th>Case Period</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servicecases of item.servicecases">
                        <td>{{servicecases.casenumber}}</td>
                        <td>{{servicecases.intakenumber}}</td>
                        <td>{{servicecases.servicetype}}</td>
                        <td>
                            <ng-container *ngIf="servicecases.dasubtype === 'Default'; else elseTemplate">
                                -
                            </ng-container>
                            <ng-template #elseTemplate>
                                    {{servicecases.dasubtype}}
                            </ng-template>
                        </td>
                        <td>{{servicecases.role}}</td>
                        <td>{{servicecases.datecreated | date:'MM/dd/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>