<form [formGroup]="intakeNarrativeForm" [fieldKey]="'myintake-narrative-screen'">
  <div class="cnt-min-height narrative-main">
    <div class="m-b-30"
      *ngIf="selectedPurpose === '247a8b26-cdee-4ce8-b36e-b37e49fd0103' && roleName.user.userprofile.teamtypekey!=='DJS'">
      <div class="m-b-30">
        <h4 *ngIf="!showRequesterDetails" class="mt-0">INCIDENT DETAILS</h4>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" required matInput formControlName="incidentlocation" placeholder="Incident Location"
                  class="aut-txt-firstname"> <!-- stringOnlyAllowSpace -->
                <mat-error *ngIf="intakeNarrativeForm.controls['incidentlocation'].invalid">
                  Please enter Incident Location.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="no-placeholder clsDateLabel">
                <common-date-picker [max]="maxDate" formControlName="incidentdate"
                  placeholder="Date of Alleged Incident" required></common-date-picker>
                <label for=""> Date of Alleged Incident<span class="required-icon star-pos"><i class="fa fa-asterisk"
                      aria-hidden="true"></i></span></label>
                <mat-error *ngIf="(intakeNarrativeForm.controls['incidentdate'].dirty || 
                                            intakeNarrativeForm.controls['incidentdate'].touched) &&
                                             intakeNarrativeForm.controls['incidentdate'].invalid">
                  Please select Incident Date.</mat-error>

                <!-- <mat-form-field>
                      <input matInput appMaskDate [max]="maxDate" [matDatepicker]="incidentdate" 
                      (click)="incidentdate.open()" formControlName="incidentdate"
                       placeholder="Date of Alleged Incident" required>
                      <mat-datepicker-toggle matSuffix [for]="incidentdate"></mat-datepicker-toggle>
                      <mat-datepicker #incidentdate></mat-datepicker>
                      <mat-error *ngIf="intakeNarrativeForm.controls['incidentdate'].invalid">
                        Please select Incident Date.</mat-error>

                    </mat-form-field> -->
              </div>
            </div>
            <div class="col-sm-3" style="margin-top: 15px;">
              <label class="control control--checkbox disp-inline">
                <input type="checkbox" formControlName="isapproximate" class="aut-chk-unknownReporter">
                <div class="control__indicator"></div>
              </label> Approximate Date
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-b-30" *ngIf="roleName.user.userprofile.teamtypekey!=='DJS'">
      <h4 *ngIf="!showRequesterDetails" class="mt-0">REPORTER DETAILS</h4>
      <h4 *ngIf="showRequesterDetails" class="mt-0">REQUESTER DETAILS</h4>
    </div>
    <div class="row">
      <ng-container *ngIf="roleName.user.userprofile.teamtypekey!=='DJS'">
        <div class="col-sm-12" *ngIf="!showRequesterDetails">
          <div class="row">
            <div class="col-sm-3 ">
              <mat-form-field>
                <input type="text" matInput placeholder="Title" formControlName="title" (focusout)="onChange($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="!isAnoymousorUnknownUser()">
              <mat-form-field>
                <input type="text" required matInput formControlName="Firstname" placeholder="First Name"
                  (focusout)="onChange($event)" class="aut-txt-firstname" stringOnlyAllowSpace>
                <mat-error *ngIf="intakeNarrativeForm.controls['Firstname'].invalid">
                  Please enter First Name.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="isAnoymousorUnknownUser()">
              <mat-form-field>
                <input type="text" matInput formControlName="Firstname" placeholder="First Name"
                  (focusout)="onChange($event)" class="aut-txt-firstname" stringOnlyAllowSpace>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput formControlName="Middlename" placeholder="Middle Name"
                  (focusout)="onChange($event)" class="aut-txt-middlename" stringOnlyAllowSpace>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="!isAnoymousorUnknownUser()">
              <mat-form-field>
                <input type="text" required matInput formControlName="Lastname" placeholder="Last Name"
                  (focusout)="onChange($event)" class="aut-txt-lastname" stringOnlyAllowSpace>

                <mat-error *ngIf="intakeNarrativeForm.controls['Lastname'].invalid">
                  Please enter Last Name.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3" *ngIf="isAnoymousorUnknownUser()">
              <mat-form-field>
                <input type="text" matInput formControlName="Lastname" placeholder="Last Name"
                  (focusout)="onChange($event)" class="aut-txt-lastname" stringOnlyAllowSpace>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 m-t-10">
                <mat-form-field>
                  <input type="text" matInput placeholder="Organization" formControlName="organization"
                    (focusout)="onChange($event)">
                </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <mat-select [required]="!isAnoymousorUnknownUser()" formControlName="Role" placeholder="Role" class="aut-txt-reporterCounty">
                  <mat-option *ngFor="let item of reporterRoles" value="{{item?.ref_key}}">{{item?.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10">
              <div class="row">
                <div class="col-sm-9">
                    <mat-form-field>
                        <input type="text" matInput formControlName="PhoneNumber" placeholder="Phone Number"
                          (focusout)="onChange($event)" class="aut-txt-phonenumber" mask="(000) 000-0000">
                      </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <input type="text" maxlength="5" numberOnly matInput formControlName="PhoneNumberExt" placeholder="Ext"
                          (focusout)="onChange($event)" class="aut-txt-phonenumber-ext">
                      </mat-form-field>
                </div>
              </div>
                
            </div>
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <input type="text" matInput placeholder="Email Address" formControlName="email"
                  (focusout)="onChange($event)">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <input matInput type="text" placeholder="Address 1" formControlName="requesteraddress1"
                  [matAutocomplete]="auto" (input)="getSuggestedAddress()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of suggestedAddress$" (click)="selectedAddress(item)"
                    value="{{item.text}}">
                    {{item.text}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <input type="text" matInput formControlName="requesteraddress2" placeholder="Address 2"
                  (focusout)="onChange($event)" class="aut-txt-reporterAddress2">
              </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <input type="text" matInput formControlName="requestercity" placeholder="City"
                  (focusout)="onChange($event)" class="aut-txt-reporterCity" stringOnlyAllowSpace>
              </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10">
              <mat-form-field>
                <mat-select placeholder="State" formControlName="requesterstate" class="aut-txt-reporterState">
                  <mat-option *ngFor="let item of (this.stateValuesDropdownItems$ | async)" value="{{item.value}}" (click)="loadCounty(item.value)">{{
                    item.text }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3 m-t-10" >
              <mat-form-field>
                <mat-select formControlName="requestercounty" placeholder="County">
                  <mat-option *ngFor="let item of CountyValuesDropdownItems$ | async" value="{{item.ref_key}}">
                    {{item.description}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!--
              <mat-form-field>
                <mat-select formControlName="requestercounty" placeholder="County" class="aut-txt-reporterCounty">
                  <mat-option *ngFor="let item of CountyValuesDropdownItems$ | async" value="{{item.value}}">
                    {{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            -->
            </div>
            <div class="col-sm-3 m-t-10" *ngIf="showZipCode">
              <mat-form-field>
                <input type="text" matInput formControlName="offenselocation" placeholder="Zip Code" zipcodeOnly
                  (focusout)="onChange($event)">
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-3" *ngIf="isCPRPurposeSelected">
              <label class="control control--checkbox disp-inline">
                <input type="checkbox" formControlName="IsAnonymousReporter"
                  (change)="changeReport($event , 'Anonymous')" class="aut-chk-anonymousReporter">
                <div class="control__indicator"></div>
              </label> Anonymous Reporter
            </div>

            <div class="col-sm-3">
              <label class="control control--checkbox disp-inline">
                <input type="checkbox" formControlName="IsUnknownReporter" (change)="changeReport($event, 'Unknown')"
                  class="aut-chk-unknownReporter">
                <div class="control__indicator"></div>
              </label> Unknown Reporter
            </div>
            <div class="col-sm-3">
              <label class="control control--checkbox disp-inline">
                <input type="checkbox" formControlName="isacknowledgementletter" (focusout)="onChange($event)"
                  class="aut-chk-acknowledgementLetter">
                <div class="control__indicator"></div>
              </label> Acknowledgement Letter
            </div>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="showRequesterDetails">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput formControlName="Firstname" placeholder="First Name"
                  (focusout)="onChange($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input type="text" matInput formControlName="Lastname" placeholder="Last Name"
                  (focusout)="onChange($event)">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-9">
                  <mat-form-field>
                      <input type="text" matInput formControlName="PhoneNumber" placeholder="Call Back Phone Number"
                        (focusout)="onChange($event)" class="aut-txt-phonenumber" mask="(000) 000-0000">
                    </mat-form-field>
              </div>
              <div class="col-sm-3">
                  <mat-form-field>
                      <input type="text" maxlength="5" numberOnly matInput formControlName="PhoneNumberExt" placeholder="Ext"
                        (focusout)="onChange($event)" class="aut-txt-phonenumber-ext">
                    </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input requiredtype="text" required matInput formControlName="ZipCode" placeholder="Zip code"
                  zipcodeOnly (focusout)="onChange($event)">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 pull-right">
              <label class="control control--checkbox disp-inline">
                <input type="checkbox" formControlName="RefuseToShareZip" (change)="changeReport($event , 'RefuseZip')">
                <div class="control__indicator"></div>
              </label> Refuses to share zip code
            </div>
          </div>

        </div>
      </ng-container>
      <div class="col-xs-12  m-t-30">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="required">NARRATIVE</h4>
          </div>
          <div class="col-sm-4 text-right">
            <span class="narr-help" [popover]="myPopover">
              <i class="fa fa-question-circle"></i>
            </span>
            <div>
              <popover-content #myPopover title="Narrative Guidance" placement="auto left" [animation]="true"
                [closeOnClickOutside]="false">
                <p>{{tooltip}}</p>
                <button class="btn btn-pri btn-pop" (click)="closePopover()">OK</button>
              </popover-content>
            </div>
          </div>
        </div>
        <div id="divNonEditNarrative" [safeHtml]="intakeNarrativeForm.controls['Narrative'].value"></div>
        <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
          <quill-editor [style]="{height: '150px'}" [readOnly]="isClosed" formControlName="Narrative" [modules]="quillToolbar"
            (onSelectionChanged)="onNarrativeSelectionChanged($event)">
          </quill-editor>

        </div>
        <control-messages [control]="intakeNarrativeForm.controls[ 'Narrative']"></control-messages>
      </div>
      <div class="col-md-12">
        <div class="row pt-10">
          <div class="col-xs-8 col-sm-9 col-md-10">
            <span>Narrative updated time : {{narrativeUpdatedDate| date:'MM/dd/yyyy h:mm a'}}</span>
          </div>

          <div class="col-xs-4 col-sm-3 col-md-2 text-right clsSpeech">
            <button type="button" matTooltip="Speech-to-text" class="btn btn-primary" *ngIf="recognizing"
              (click)=" activateSpeechToText() "> Speech to Text
              <!-- <img *ngIf="recognizing" src="assets/images/voice-icon-on.png " (click)=" activateSpeechToText() ">
              <img *ngIf="!recognizing" src="assets/images/voice-icon-off.png " (click)="activateSpeechToText() "> -->
              <i class="fa fa-microphone-slash pl-5"></i>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>

            <button type="button" matTooltip="Speech-to-text" [disabled]="isClosed" class="btn btn-primary" *ngIf="!recognizing"
              (click)="activateSpeechToText() "> Speech to Text
              <i class="fa fa-microphone pl-5"></i>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="clearfix" *ngIf="isCPSHistoryClearanceChecked()">
          <div class="col-xs-12  m-t-30">
              <div class="row">
                <div class="col-sm-8">
                  <h4 class="required">History Clearance Information</h4>
                </div>
                <div class="col-sm-4 text-right">
                  <span class="narr-help" [popover]="clearancePopover">
                    <i class="fa fa-question-circle"></i>
                  </span>
                  <div>
                    <popover-content #clearancePopover title="CPS History Clearance" placement="auto left" [animation]="true"
                      [closeOnClickOutside]="false">
                      <p>{{tooltip}}</p>
                      <button class="btn btn-pri btn-pop" (click)="closeClearancePopover()">OK</button>
                    </popover-content>
                  </div>
                </div>
              </div>
              <div id="divEditNarrative" class=" narrative-textarea aut-txt-narrative">
                <quill-editor [style]="{height: '150px'}" [readOnly]="isClosed" formControlName="cpsHistoryClearance" [modules]="quillToolbar"
                  (onSelectionChanged)="onCPSHistorySelectionChanged($event)">
                </quill-editor>
      
              </div>
              <control-messages [control]="intakeNarrativeForm.controls[ 'cpsHistoryClearance']"></control-messages>
            </div>
      </div>
      <div class="clearfix">
        <div class="col-md-12 m-t-20">
          <h4 class="pb-10">Quick Person Details</h4>
          <div class="alert alert-info">
            <ul class="clearfix unstyled clsList">
              <li>Please quick add person information. These details can then be used to search and add the person later
                on in the <b>Persons Involved</b>.</li>
              <li>A quick person search card will appear at the bottom. Click on <i class="fa fa-search"></i> button on
                the card to search for person in the system.</li>
              <li>You will then be able to select one of the person records shown, or add a new person record into the
                system with relevant details.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 m-t-20" [formGroup]="addIdentifiedFormGroup">
          <div class="row">
            <div class="col-md-3 mb-10">
              <mat-form-field>
                <input type="text" matInput formControlName="firstname" placeholder="First Name">
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-10">
              <mat-form-field>
                <input type="text" matInput formControlName="lastname" placeholder="Last Name">
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-10">
              <common-date-picker [max]="maxDate" formControlName="dob" (valueChange)="calculateAge($event)"
                placeholder="DOB"></common-date-picker>
              <!-- <mat-form-field>
                  <input appMaskDate  matInput [matDatepicker]="dobPic1" (click)="dobPic1.open()" formControlName="dob" placeholder="DOB">
                  <mat-datepicker-toggle matSuffix [for]="dobPic1"></mat-datepicker-toggle>
                  <mat-datepicker #dobPic1></mat-datepicker>
                </mat-form-field> -->
            </div>
            <div class="col-md-3 mb-10">
              <mat-form-field>
                <mat-select placeholder="Gender" formControlName="gender" class="aut-txt-reporterState">
                  <mat-option *ngFor="let item of genderList" value="{{item.gendertypekey}}">{{
                                                            item.typedescription }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-10">
              <mat-form-field>
                <input type="text" [disabled]="addIdentifiedFormGroup.controls['dob'].value" matInput
                  formControlName="age" placeholder="Age">
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-10">
              <mat-form-field>
                <input type="text" matInput formControlName="ssn" placeholder="SSN" mask="000-00-0000">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <button class="btn btn-pri" (click)="addIdentified()" [disabled]="isClosed">+ Quick Person Search Card</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row m-t-20">
  <ng-container *ngIf="agency==='CW'">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let person of addedIdentifiedPersons; let i=index">
      <div class="panel panel-default person-panel">
        <div class="panel-heading">
          <div class="media">
            <div class="media-body">
              <h4>{{person.firstname}} {{person.lastname}}</h4>
            </div>
            <div class="media-right">
              <img src="../../../../../assets/images/person_question.png" class="media-object" />
            </div>
          </div>
        </div>
        <div class="panel-body">
          <dl>
            <dt>First Name</dt>
            <dd>{{person.firstname}}</dd>
          </dl>
          <dl>
            <dt>Last Name</dt>
            <dd>{{person.lastname}}</dd>
          </dl>
          <dl>
            <dt>DOB</dt>
            <dd>{{person.dob | date: 'MM/dd/yyyy'}}</dd>
          </dl>
          <dl>
            <dt>Gender</dt>
            <dd>{{getGenderDescription(person.gender)}}</dd>
          </dl>
        </div>
        <div class="panel-footer card-footer">
          <button class="no-bg pull-left" [disabled]="isClosed">
            <i (click)="deleteIdentified(person,i)" class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button class="no-bg pull-right" [disabled]="isClosed">
            <i (click)="searchIdentified(person)" class="fa fa-search" aria-hidden="true"></i>
          </button>

        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade in modal-theme" id="add-identified" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog t-25">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> Add Identified</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addIdentifiedFormGroup">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input type="text" matInput formControlName="firstname" placeholder="First Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="dobPic" (click)="dobPic.open()" formControlName="dob"
                  placeholder="Dob">
                <mat-datepicker-toggle matSuffix [for]="dobPic"></mat-datepicker-toggle>
                <mat-datepicker #dobPic></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input type="text" matInput formControlName="lastname" placeholder="Last Name"
                  (focusout)="onChange($event)">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Gender" formControlName="gender" class="aut-txt-reporterState">
                  <mat-option *ngFor="let item of genderList" value="{{item.typedescription}}">{{
                      item.typedescription }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn-pri sec-btn" name="" data-dismiss="modal"> Cancel </button>
        <button class="btn-pri" name="" (click)="addIdentified()"> Add </button>
      </div>
    </div>
  </div>
</div>