<div class="container-fluid">
    <section class="intake-nstyle record-intake">
        <div>
            <h3 class="pad-top20">
                <span>Manage Provider Requests </span>
            </h3>
            <div class="row form-wrapper pad-top20">
                <div class="col-sm-12">

                    <ul class="list-unstyled list-inline">



                        <li>
                            <label>Provider ID </label>
                            <p><a class="link"  (click)="openProvider(requestDetail?.provider_id)">{{requestDetail?.provider_id}}</a>
                            </p>
                        </li>

                        <li>
                            <label>Site ID </label>
                            <p>
                                <a  class="link" (click)="openSite(requestDetail?.site_id)">{{requestDetail?.site_id}}</a>
                            </p>
                        </li>

                        <li>
                                <label>License  Number </label>
                                <p> {{requestDetail?.license_no}} </p>
                            </li>
                        <li>
                            <label>Request Number </label>
                            <p>{{ requestID }}</p>
                        </li>

                        <li>
                            <label>Request Type </label>
                            <p>{{ requestDetail?.request_type }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <div class="intake no-pad">
        <div class="tab-horizontal">
            <ul class="nav nav-pills click-triggers">
                <li [ngClass]="'active'">
                    <a data-toggle="tab" data-target="#change-request">Change Request</a>
                </li>
                <li [ngClass]="">
                    <a data-toggle="tab" data-target="#additional-info">Request Additional info</a>
                </li>
                <li>
                    <a data-toggle="tab" data-target="#document">Document</a>
                </li>
                <li [ngClass]="">
                    <a data-toggle="tab" data-target="#decision">Recommendation</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="change-request">
                    <change-request></change-request>
                </div>
                <div class="tab-pane" id="additional-info">
                    <request-additional-info></request-additional-info>
                </div>
                <div class="tab-pane" id="document">
                    <add-document></add-document>
                </div>
                <div class="tab-pane" id="decision">
                    <request-decision></request-decision>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="docu-View" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">PDF preview</h4>
            </div>
            <div class="modal-body">
                <change-request-document-creator></change-request-document-creator>
            </div>
        </div>
    </div>