
<ng-container *ngFor="let item of list; let index=index; let isLast= last;">
  <div class="contact-container m-b-20">
    <div class="row">
      <div class="col-sm-12">
        
        <mat-form-field>
          <mat-select placeholder="Contact Type" [(ngModel)]="item.personphonetypekey" >
            <mat-option *ngFor="let item of contactTypes" value="{{item.ref_key}}">{{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field>
          <input [(ngModel)]="item.phonenumber" type="text" mask="(000) 000-0000" matInput placeholder="Phone Number"
            required  />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 ">

        <span *ngIf="!isLast" class="person-action-link" (click)="removeItem(index+1)"> - Less Phone</span>
        <span *ngIf="isLast" class="person-action-link" (click)='addItem()'> + More Phone</span>
      </div>
    </div>
  </div>
</ng-container>