<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row" [formGroup]="incidentForm">
                <div class="col-md-12 radio-dsinline">
                    <label>Level of Supervision</label>
                    <mat-radio-group formControlName="level_supervision" required>
                        <mat-radio-button value="1">Supervised by Staff</mat-radio-button>
                        <mat-radio-button value="2">Not Supervised by Staff</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-12 m-t-30">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="ds-bl m-b-5">Location of the Incident:</label>
                            <mat-radio-group formControlName="location_incident" required
                                (change)="onChangeLocationType($event)">
                                <mat-radio-button value="1">On-Site</mat-radio-button>
                                <mat-radio-button value="2">Off-Site</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Area" formControlName="location_area" required>
                                    <mat-option *ngFor="let item of locationSource$" [value]="item.ref_key">
                                        {{item.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="" *ngIf="location_area == 'Other'" required>
                                <input matInput placeholder="Other" formControlName="location_area_other">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <common-date-picker [max]="maxDate" [required]='true' formControlName="incident_date"
                                placeholder="Incident Date"></common-date-picker>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input type="time" required formControlName="incident_time" matInput
                                    placeholder="Incident Time">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <common-date-picker [max]="maxDate" [required]='true' formControlName="discovered_date"
                                placeholder="Discovered Date"></common-date-picker>

                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input type="time" required formControlName="discovered_time" matInput
                                    placeholder="Discovered Time">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 m-t-30">
                    <h5>Type of Incident</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="ds-bl m-b-5 m-t-30">Class I Incidents</label>
                            <div *ngFor="let item of class1IncidentSource$; let i = index">
                                <mat-checkbox class="example-margin" [value]="item.ref_key" (change)="onChange($event, i, item,'class1')">
                                    {{item.description}} </mat-checkbox>
                            </div>

                            <label class="ds-bl m-b-5 m-t-30">Class III Incidents</label>
                            <div *ngFor="let item of class3IncidentSource$; let i = index">
                                <mat-checkbox class="example-margin" [value]="item.ref_key" (change)="onChange($event, i, item, 'class3')">
                                    {{item.description}} </mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="ds-bl m-b-5 m-t-30">Class II Incidents</label>
                            <div *ngFor="let item of class2IncidentSource$; let i = index">
                                <mat-checkbox class="example-margin" [value]="item.ref_key" (change)="onChange($event, i, item, 'class2')">
                                    {{item.description}} </mat-checkbox>
                            </div>
                            <mat-form-field *ngIf='class3Other'>
                                <input matInput placeholder="Other" formControlName='class3_Other'>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  m-t-20">
                <button class="btn btn-pri btn-theme m-l-5" (click)="selectPrecipitaeEvent()"
                    [disabled]="!incidentForm.valid">Save Incident</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="precipitate-event" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Select Precipitating Event</h4>
            </div>
            <div class="modal-body ">

                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let item of classMerge; let i = index">
                            <mat-radio-button class="example-margin" (change)="onChangePrecipitate(item)">
                                {{item.description}} </mat-radio-button>
                        </div>

                        <div class="col-md-12 text-center mt-20 mb-10">
                            <button class="btn btn-primary" (click) = "submitIncident()">Save</button>
                            <button class="btn btn-danger" (click) = "closeDeleteModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>