<form [formGroup]="assignmentForm">
  <div class="clsGap-form clsForm-inline hide" *ngIf="placement; let data">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Child Name </label>
          <span>
            {{data?.childname ? data?.childname : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Date of Birth </label>
          <span>
            {{data?.dob ? (data?.dob | date:'MM/dd/yyyy') : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Gender
            <span></span>
          </label>
          <span>
            {{data?.gender ? data?.gender : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group clearfix">
          <label for=""> Age
            <span></span>
          </label>
          <span>
            {{data?.dob ? (data?.dob | ageCal) : 'NA'}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn-pri pull-right" data-dismiss="modal" (click)="fiscalAudit()">Fiscal Audit Trail</button>
  </div>
  <div *ngIf="suspesionReason && suspesionReason.length">
    <label class="blue">Suspension</label>
    <div class="table-responsive">
      <table class="table table-bordered icon-action">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th *ngIf="!isSupervisor">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let suspension of suspesionReason; let i=index;">
            <td>
              {{suspension?.typedescription}}
            </td>
            <td class="text-caps">
              {{suspension?.startdate ? (suspension?.startdate | date: 'MM/dd/yyyy') : ''}}
            </td>
            <td class="text-caps">
              {{suspension?.enddate ? (suspension?.enddate | date: 'MM/dd/yyyy') : ''}}
            </td>
            <td class="text-caps">
              {{suspension?.routingstatus}}
            </td>
            <td *ngIf="!isSupervisor">
                <button class="no-bg-btn pull-right btn-pri" *ngIf="(!suspension?.enddate && suspension?.routingstatus === 'Approved')" (click)="patchSuspension(suspension,i)"><i class="fa fa-pencil"></i>Edit</button>
                <!-- <button class="no-bg-btn pull-right btn-pri" *ngIf="isSupervisor" (click)="patchSuspension(suspension)"><i class="fa fa-pencil"></i>Review</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <label class="blue mt-30" *ngIf="showSuspensionDetail">Suspension Details</label>
  <div class="row mt-10" *ngIf="showSuspensionDetail">
    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="Suspension Reason" formControlName="suspensionreasontypekey" (change)="reasonSelected($event)" required>
          <mat-option *ngFor="let reason of suspensionReasonType" [value]="reason.suspensionreasontypekey">{{
            reason?.typedescription}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="assignmentForm.getRawValue().suspensionreasontypekey==='OT'">
        <input type="text" matInput placeholder="Other reason" formControlName="otherreason">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [min]="currentdate"[matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder="Start Date" formControlName="startdate" required>
          <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
          <mat-datepicker #pickerm2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [max]="maxenddate" [matDatepicker]="pickerm3" (click)="pickerm3.open()" placeholder="End Date" formControlName="enddate" [min]="assignmentForm.getRawValue().startdate" >
          <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
          <mat-datepicker #pickerm3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input type="text" matInput placeholder="Notes" formControlName="notes">
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="toShowDOD && showSuspensionDetail">
    <div class="col-sm-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerm4" (click)="pickerm4.open()" placeholder="DOD Date" formControlName="doddate">
          <mat-datepicker-toggle matSuffix [for]="pickerm4"></mat-datepicker-toggle>
          <mat-datepicker #pickerm4></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <section class="clsGap-form clsForm-inline m-t-30 suspension-sec">
    <!-- <div class="row">
      <div class="col-sm-12 suspension-history">
        <div class="form-group clearfix">
          <label for=""> Display the list of historical suspensions with Start Date, End Date and Reason, if exists for
            this case </label>
          <input type="text" class="form-control" placeholder="" formControlName="suspensiondesc">
        </div>
      </div>
    </div> -->
    <div class="row mt-20" *ngIf="isSupervisor" [formGroup]="approvalStatusForm">
      <div class="col-sm-3"> Approval status</div>
      <div class="col-sm-4">
        <mat-radio-group formControlName="routingstatus">
          <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
          <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-5" *ngIf="isEnableComments">
        <mat-form-field>
          <input type="text" matInput placeholder="comments" formControlName="comments">
        </mat-form-field>
      </div>
    </div>
  </section>
  <div class="row mt-30">
    <div class="col-sm-9 note-txt">
      <!-- <i>
        <b>Note: Provide a field to indicate that the form is complete (Mandatory feild)</b>
      </i> -->
    </div>
    <div class="col-sm-12 text-right" *ngIf="showSuspensionDetail">
      <button class="sec-btn" 
        (click)="resetSuspension()">Cancel</button>
      <button class="btn btn-pri" [disabled]="assignmentForm.pristine || assignmentForm.invalid"
        (click)="saveAssignment(assignmentForm.value)">Submit For Approval</button>
    </div>
    <div class="col-sm-3 text-right" *ngIf="isSupervisor">
      <button class="btn btn-pri" [disabled]="isApproved" (click)="routingUpdate()">Submit</button>
    </div>
  </div>
</form>

<div class="modal fade" id="gap-placement" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="navigateTo()">×</button>
        <h4 class="modal-title bc-pop-title"> Alert</h4>
      </div>
      <div class="modal-body">
        <p> {{gapAlertMessage}}</p>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-dismiss="modal" (click)="navigateTo()"> Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="fiscal-audit">
  <div class="modal-dialog modal-lg custom-wid">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span>
              </button>
              <h4 class="modal-title">Fiscal Audit Trail</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="h4-title">Change History</div>
                      <div class="table-responsive table-theme m-t-20">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Transaction Date</th>
                                      <th>Transaction Type</th>
                                      <th>Begin Date</th>
                                      <th>Entry Time</th>
                                      <th>End Date</th>
                                      <th>Exit Time</th>
                                      <th>Exit Type</th>
                                      <th>Exit Reason</th>
                                      <th>Requested By</th>
                                      <th>Local Department</th>
                                      <th>Requested Date</th>
                                      <th>Approved By</th>
                                      <th>Approval Date</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let history of changehistory">
                                      <td>{{history.transation_dt | date:'M/d/yyyy'}}</td>
                                      <td>{{history.transation_type}}</td>
                                      <td>{{history.entry_dt | date:'M/d/yyyy'}}</td>
                                      <td>{{history.entry_tm}}</td>
                                      <td>{{history.exit_dt | date:'M/d/yyyy'}}</td>
                                      <td>{{history.exit_tm}}</td>
                                      <td>{{history.exit_type}}</td>
                                      <td>{{history.exit_reason}}</td>
                                      <td>{{history.requested_user}}</td>
                                      <td>{{history.local_dept}}</td>
                                      <td>{{history.request_dt | date:'M/d/yyyy'}}</td>
                                      <td>{{history.accepted_user}}</td>
                                      <td>{{history.accept_dt | date:'M/d/yyyy'}}</td>
                                  </tr>
                                  <tr *ngIf="!changehistory.length">
                                      <td colspan="12" style="text-align: center !important;">No History.</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12 m-t-30">
                      <div class="h4-title">Financial Events</div>
                      <div class="h5-title m-t-10">Placement Validations</div>
                      <div class="row">
                          <div class="col-md-12 m-t-20">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th>Validation Month/Year</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let history of changehistory">
                                              <td>{{history.validation_month}}</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <div class="col-md-12 m-t-30">
                              <div class="h5-title">Adjustment Payments</div>
                              <div class="table-responsive table-theme m-t-20">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th>Payment ID</th>
                                              <th>Payment Detail ID</th>
                                              <th>Category Code</th>
                                              <th>Service/Placement Structure</th>
                                              <th>Start Date</th>
                                              <th>End Date</th>
                                              <th>Gross Amount</th>
                                              <th>Receivable Amount</th>
                                              <th>Net Amount</th>
                                              <th>Provider ID</th>
                                              <th>Provider Name</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let adjustments of adjustment">
                                              <td>{{adjustments.payment_id}}</td>
                                              <td>{{adjustments.payment_detail_id}}</td>
                                              <td>{{adjustments.fiscal_category_desc}}</td>
                                              <td>{{adjustments.service_nm}}</td>
                                              <td>{{adjustments.final_service_start_dt | date:'M/d/yyyy'}}</td>
                                              <td>{{adjustments.final_service_end_dt | date:'M/d/yyyy'}}</td>
                                              <td>{{(adjustments.gross_amount_no ? adjustments.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                              <td>{{(adjustments.payment_amount_no ? adjustments.payment_amount_no : '0.00') | cjamsCurrency}}</td>
                                              <td>{{((adjustments.gross_amount_no - (adjustments.offset_amount_no ? adjustments.offset_amount_no : 0)))  | cjamsCurrency}}</td>
                                              <td>{{adjustments.provider_id}}</td>
                                              <td>{{adjustments.providername}}</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="sec-btn pull-right" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div> -->
<fiscal-audit></fiscal-audit>