.textb {
    font-weight: 700;
}
.clsGap-form .form-group {
    margin-bottom: 7px;
}
.clsForm-inline {
    label {
        font-weight: 600;
        width: 40%;
        float: left;
        text-transform: capitalize;
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            width: 60%;
            float: right;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
}
.clsGap-form-block {
    border: 1px solid #cecece;
    border-radius: 4px;
    h3 {
        background: #1aa7b9;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 15px;
    }
    .clsGap-form-inner {
        padding: 10px 15px;
    }
    label {
        font-weight: 400;
        &.textb {
            font-weight: 600;
        }
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
    input[type='md-checkbox'] {
        margin: 15px 0 0;
    }
}
.clsCalend {
    position: relative;

    .fa-calendar {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #1aa7b9;
    }
}
.clsRequried {
    label {
        position: relative;
        width: auto;
    }
    label:after {
        display: block;
        position: absolute;
        content: '\f005';
        top: 2px;
        right: -10px;
        font-family: 'FontAwesome';
        font-size: 7px;
        color: #3d3d3d;
    }
}
.clsWidth-100 {
    width: 100% !important;
}

.md-radiobox,
.md-checkbox {
    label {
        width: auto;
        margin: 8px 0 0 0;
    }
}

.fa-calendar {
    right: 20px;
}
.suspension-sec .suspension-history label {
    width: 60%;
}
.suspension-sec .suspension-history .form-control {
    width: 40%;
}

button[disabled]:hover.sec-btn, button[disabled].sec-btn {
    background: #acb2bf;
}