<div class="vendor-profile">
  <div class="container-fluid">
    <vendor-info-nav page='profile'></vendor-info-nav>
    <form [formGroup]="profileFormGroup">
      <div class="col-sm-10">
        <div class="row">
          <div class="row col-sm-6 m-t-10">
            <mat-form-field>
              <input type="text" matInput formControlName="org_nm" placeholder="Business Name" required/>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
              <!-- <mat-form-field>
                  <mat-select placeholder="Jurisdiction" formControlName="jurisdiction" required>
                      <mat-option *ngFor="let item of (countyList$ | async)" value="{{item.value}}">{{ item.text }}</mat-option>
                    </mat-select>
              </mat-form-field> -->
            <span class="required juridiction-color">Jurisdiction</span>
            <div class="select-icon cus-select-width">
              <ng-select style="width:100%" [searchable]="true" [clearable]="false" class="select-source"
                  formControlName="jurisdiction" placeholder="" required>
                  <ng-option value=""> Select </ng-option>
                  <ng-option *ngFor="let county of countyList$ | async"
                      [value]="county.value"> {{county.text}} </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>Primary Contact</h4>
          <div class="row">
          <div class="col-sm-2 prefix">
            <mat-form-field>
              <mat-select placeholder="Prefix" formControlName="primary_prefix_cd">
                <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">{{ item.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="primary_first_nm" placeholder="First Name"/>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="primary_middle_nm" placeholder="Middle Name" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="primary_last_nm" placeholder="Last Name"/>
            </mat-form-field>
          </div>
          <div class="col-sm-2 suffix">            
            <mat-form-field>
              <mat-select placeholder="Suffix" formControlName="primary_suffix_cd">
                <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">{{ item.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="row m-t-10">
            <div class="col-sm-2">
              <h4>Admin Contact</h4>
            </div>
            <div class="col-sm-4 m-t-10">
              <mat-checkbox formControlName="isprimaryadmin" (change)="isPrimaryContact($event.checked)">Same as primary contact</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="row">
          <div class="col-sm-2 prefix">
            <mat-form-field>
              <mat-select placeholder="Prefix" formControlName="admin_prefix_cd">
                <mat-option *ngFor="let item of (prefixDropdownItems$ | async)" value="{{item.ref_key}}">{{ item.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="admin_first_nm" placeholder="First Name"/>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="admin_middle_nm" placeholder="Middle Name" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input type="text" matInput formControlName="admin_last_nm" placeholder="Last Name"/>
            </mat-form-field>
          </div>
          <div class="col-sm-2 suffix">
            <mat-form-field>
              <mat-select placeholder="Suffix" formControlName="admin_suffix_cd">
                <mat-option *ngFor="let item of (suffixDropdownItems$ | async)" value="{{item.ref_key}}">{{ item.description }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="row col-sm-3">
            <h4>Regular Business Hours</h4>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <input matInput type="time" formControlName="regularfrom" placeholder="From">
            </mat-form-field>
          </div>               
          <div class="col-sm-3">
            <mat-form-field>
              <input matInput type="time" formControlName="regularto" placeholder="To">
            </mat-form-field>
          </div> 
        </div>
        <div class="row">
          <h4>Services</h4> 
          <ng-container *ngIf="profileFormGroup.get('services').controls">        
            <div formArrayName="services" *ngFor="let item of profileFormGroup.get('services').controls; let i = index;">
              <div class="row" [formGroupName]="i">
              <div class="col-sm-5">
                <mat-form-field>
                  <mat-select placeholder="Choose service type" formControlName="service_id" required [disabled]="isView">
                      <mat-option title="{{servicetype.text}}" *ngFor="let servicetype of vendorServices$ | async" [value]="servicetype.value">{{servicetype.text}}</mat-option>
                  </mat-select> 
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <common-date-picker [max]="item.controls['enddate'].value"
                  formControlName="startdate" placeholder="Planned Start Date" required [disabled]="isView">
                </common-date-picker>
              </div>
              <div class="col-sm-3">
                <common-date-picker [min]="item.controls['startdate'].value" formControlName="enddate"
                  placeholder="Planned End Date" [disabled]="isView">
                </common-date-picker>
              </div>
              <div class="col-sm-3 m-t-20 pull-left" *ngIf="i>0 && !isView" (click)="deleteService(i)">
                <a><i class="fa fa-times"></i></a>
              </div>              
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row col-sm-10 m-t-20">
        <div class="pull-left"><a (click)="addServices()" [hidden]="isView">Add More Services</a></div>
        <button class="btn-pri pull-right" (click)="addProfile()" [disabled]="profileFormGroup.invalid || profileFormGroup.pristine || isView">Save & Next</button>
      </div>
    </form>
  </div>
</div>