<div class="row m-t-10">
    <div class="col-sm-12">
        <div class="panel panel-default panel-theme">
            <div class="panel-heading">
                <div class="form-group no-mar">
                    <mat-radio-group name="arrg" (change)="decidePage($event)" [(ngModel)]="decidedPage">
                        <mat-radio-button name="arrg" [value]="LIVING_ARRANGEMENT">Create a Living Arrangement for the
                            child/children</mat-radio-button>
                        <mat-radio-button name="arrg" class="aut-rdo-placementCreatePlacementOpt" [value]="PLACEMENT_REFERRAL">Create a Placement for the
                            child/children</mat-radio-button>
                    </mat-radio-group>
                    <button type="button" class="close mr-10" (click)="goBack()">x</button>

                </div>
            </div>
            <div class="panel-body">
                <!-- <selected-child-list ></selected-child-list> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="placementExistAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    There is an active placement for the chosen child/children. Please review and record exit of the
                    same before adding a new one.
                </p>

            </div>
        </div>
    </div>
</div>